<template>
    <div class='teambitionPlateau'>
        <div class="teambitionItem">
          <p class="username">钱立昆</p>
          <div class="teambitionTask" v-for="item in 4" :key="item">
            <el-card class="box-card">
              <div v-for="(o,i) in 2" :key="o" class="text item">
                {{(i==0?'任务标题:':'任务状态:') + o }}
              </div>
            </el-card>
          </div>
        </div>
        <div class="teambitionItem">2</div>
        <!-- <div class="teambitionItem">3</div>
        <div class="teambitionItem">4</div>
        <div class="teambitionItem">5</div>
        <div class="teambitionItem">6</div>
        <div class="teambitionItem">7</div>
        <div class="teambitionItem">8</div> -->
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:[],
  methods:{ ...mapMutations([])},

  created(){
      this.$store.dispatch('teambitionMenu')
  },
  mounted(){
  },
  watch:{},
  computed:{ ...mapState({}),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.teambitionPlateau{
    width: 200%;
    height: 100%;
    background: rgba(33, 33,33, .1);
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: 100;
    .teambitionItem{
      .username{
        text-align: center;
      }
      .teambitionTask{
        width: 90%;
        margin: 10px auto 0;
        padding: 10px;
      }
    }
}
</style>
