<template>
  <div class="container">
    <div class="container-box">
      <div class="head-item">
        <div class="item-line">
          <div>总设备</div>
          <div class="tagbg tagbg1">总</div>
        </div>
        <div class="number-line number-line1">
          {{ lrIndexInfo.deviceCount.allcount }}
        </div>
        <div class="item-line">
          <div>今日新增</div>
          <div>{{ lrIndexInfo.deviceCount.todaycount }}台</div>
        </div>
        <div class="item-line">
          <div class="">昨日新增</div>
          <div>{{ lrIndexInfo.deviceCount.yestodayCount }}台</div>
        </div>
      </div>
      <div class="head-item">
        <div class="item-line">
          <div>今日进出</div>
          <div class="tagbg tagbg2">今</div>
        </div>
        <div class="number-line number-line2">
          {{ lrIndexInfo.alarmCount.todaycount }}
        </div>
        <div class="item-line">
          <div>昨日进出</div>
          <div>{{ lrIndexInfo.alarmCount.yestodayCount }}次</div>
        </div>
        <div class="item-line">
          <div class="">30天内进出</div>
          <div>{{ lrIndexInfo.alarmCount.monthcount }}次</div>
        </div>
      </div>
      <div class="head-item">
        <div class="item-line">
          <div>今日已关爱</div>
          <div class="tagbg tagbg3">今</div>
        </div>
        <div class="number-line number-line3">
          {{ lrIndexInfo.backendCare.todaycount }}
        </div>
        <div class="item-line">
          <div>昨日关爱</div>
          <div>{{ lrIndexInfo.backendCare.yestodayCount }}次</div>
        </div>
        <div class="item-line">
          <div class="">30天内关爱</div>
          <div>{{ lrIndexInfo.backendCare.monthcount }}次</div>
        </div>
      </div>
      <div class="head-item">
        <div class="item-line">
          <div>今日拆卸</div>
          <div class="tagbg tagbg3">今</div>
        </div>
        <div class="number-line number-line3">
          {{ lrIndexInfo.deviceDismantle.todaycount }}
        </div>
        <div class="item-line">
          <div>昨日拆卸</div>
          <div>{{ lrIndexInfo.deviceDismantle.yestodayCount }}次</div>
        </div>
        <div class="item-line">
          <div class="">30天内拆卸</div>
          <div>{{ lrIndexInfo.deviceDismantle.monthcount }}次</div>
        </div>
      </div>
    </div>
    <div class="bottom-box">
      <div class="echart-box">
        <el-select v-model="value" placeholder="请选择" @change="getLine">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <div style="width: 100%; height: 100%" ref="myEchart"></div>
    </div>
  </div>
</template>

<script>
import echarts from "echarts";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  name: "homePage",
  data() {
    return {
      options: [
        {
          value: null,
          label: "周"
        },
        {
          value: 1,
          label: "月"
        },
        {
          value: 2,
          label: "季"
        },
        {
          value: 3,
          label: "年"
        }
      ],
      value: ""
    };
  },
  methods: {
    ...mapMutations({}),
    getLine() {
      this.$store.dispatch("getLrIndexLine", { type: this.value });
    }
  },
  created() {
    this.$store.dispatch("getLrIndexInfo");
    this.$store.dispatch("getLrIndexLine");
  },
  mounted() {},
  watch: {
    lrIndexLine(val) {
      let xdata = [],
        ydata = [];
      val.forEach((item) => {

        if (this.value === 2) {
          xdata.push(item.seasonName);
        } else {
          xdata.push(item.alarmTime);
        }
        switch (this.value) {
          case 1:
            ydata.push(item.monthCount);
            break;
          case 2:
            ydata.push(item.quarterCount);
            break;
          case 3:
            ydata.push(item.yearCount);
            break;
          default:
            ydata.push(item.alarmCount);
            break;
        }
      });
      if (val.length > 0) {
        let myChart = echarts.init(this.$refs.myEchart);
        let option = {
          tooltip: {
              trigger: 'axis'
          },
          xAxis: {
            type: "category",
            data: xdata
          },
          yAxis: {
            type: "value"
          },
          series: [
            {
              name: '报警数',
              data: ydata,
              type: "line"
            }
          ]
        };
        myChart.setOption(option);
      }
    }
  },
  computed: {
    ...mapState({
      lrIndexInfo: (state) => state.lrguanai.lrIndexInfo,
      lrIndexLine: (state) => state.lrguanai.lrIndexLine
    }),
    ...mapGetters({})
  }
};
</script>

<style lang="less" scoped>
.container {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-flow: column;
  .container-box {
    display: flex;
    flex-flow: row;
    height: 185px;
    flex-shrink: 0;
    justify-content: space-around;
    .head-item {
      width: 20%;
      background-color: #ffffff;
      margin: 10px 0;
      padding: 20px;
      .item-line {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 5px 0;
        font-size: 14px;
        .tagbg {
          background-color: #0ba1f8;
          color: #ffffff;
          padding: 1px 3px;
        }
        .tagbg1 {
          background-color: #0ba1f8;
        }
        .tagbg2 {
          background-color: #344052;
        }
        .tagbg3 {
          background-color: #04977a;
        }
      }
      .number-line {
        font-size: 24px;
        font-weight: 600;
        padding: 5px 0;
      }
      .number-line1 {
        color: #0ba1f8;
      }
      .number-line2 {
        color: #344052;
      }
      .number-line3 {
        color: #04977a;
      }
    }
  }
  .bottom-box {
    padding: 0 30px;
    flex: 1;
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-top: 10px;
    /*margin: 0 30px;*/
    .echart-box {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }
  }
}
</style>
