<template>
  <div class="basic-capture-component-container">
    <div class="flex-container">
      <el-button
        style="
          width: 100%;
          background-color: #0835a3;
          color: white;
          border-color: #2461d1;
        "
        @click="handleAddPeople('people')"
      >
        新增人像抓拍
      </el-button>
      <el-button
        style="
          width: 100%;
          background-color: #00abf2;
          color: white;
          border-color: #2461d1;
        "
        @click="handleAddPeople('car')"
      >
        新增车辆抓拍
      </el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["obj"],
  data() {
    return {};
  },
  methods: {
    handleAddPeople: function(type) {
      let ob = new Object();
      Object.assign(ob, this.obj, { type: type });
      if (type == "people") {
        this.$emit("add:component", ob);
      } else {
        this.$emit("add:component", ob);
      }
    },
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.basic-capture-component-container {
  .el-button + .el-button {
    margin-left: 0;
  }
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // background-color: grey;
  border: 1px solid #0b318f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .flex-container {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
</style>
