<template>
  <div class="car-capture-component-container">
    <div class="capture-header">
      <div class="left">
        <span>车辆抓拍</span>
        <img
          src="~@/assets/images/mcp/shezhi@2x.png"
          @click="handleEmitPeople"
          alt=""
        />
      </div>
      <div class="right">
        <span @click="redirectAllCarCapture">所有抓拍</span
        ><img
          class="middle-img"
          src="~@/assets/images/mcp/more.png"
          @click="redirectAllCarCapture"
          alt=""
        />
        <img
          @click="handleCloseComponent"
          src="~@/assets/images/mcp/guanbi@2x.png"
          alt=""
        />
      </div>
    </div>
    <div class="people-capture-body">
      <div class="left">
        <img
          class="small-img"
          src="~@/assets/images/mcp/cheliang@2x.png"
          alt=""
        />
        <img
          class="bg-img"
          src="~@/assets/images/mcp/test-car-big.jpg"
          alt=""
        />
      </div>
      <div class="right">
        <div class="car-number">
          <div><span>车牌号码:</span></div>
          <div><span>苏L1308V</span></div>
        </div>
        <div class="car-color">
          <div><span>车牌颜色:</span></div>
          <div><span>黑色</span></div>
        </div>
        <div class="car-type">
          <div><span>车牌种类:</span></div>
          <div><span>小型汽车号牌</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["obj"],
  data() {
    return {};
  },
  methods: {
    redirectAllCarCapture: function () {
      this.$router.push("/mcp/realtime/capture/car");
    },
    handleEmitPeople: function () {
      this.$emit("showCamera", this.obj);
    },
    handleCloseComponent: function () {
      let ob = new Object();
      Object.assign(ob, this.obj, { type: "basic" });
      this.$emit("close:component", ob);
    },
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less' scoped>
.car-capture-component-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // background-color: grey;
  border: 1px solid #0b318f;
  .capture-header {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    .left,
    .right {
      color: white;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      span {
        cursor: pointer;
      }
    }
    .left > img {
      margin-left: 9px;
      cursor: pointer;
    }
    .right {
      justify-content: flex-end;
      .middle-img {
        margin: 0 14px 0 8px;
      }
      img {
        cursor: pointer;
      }
    }
  }
  .people-capture-body {
    height: calc(100% - 30px);
    // background-color: red;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left {
      width: calc(100% - 127px);
      height: 100%;
      position: relative;
      img.small-img {
        position: absolute;
        left: 9px;
        top: 9px;
        cursor: pointer;
      }
      img.bg-img {
        height: 100%;
        width: 100%;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 122px;
      height: 100%;
      color: white;
      div {
        width: 100%;
      }
    }
  }
}
</style>
