<template>
  <div class="people-capture-component-container">
    <div class="capture-header">
      <div class="left">
        <span>人像抓拍</span>
        <img
          src="~@/assets/images/mcp/shezhi@2x.png"
          @click="handleEmitPeople"
          alt=""
        />
      </div>
      <div class="right">
        <span @click="redirectAllPeopleCapture">所有抓拍</span>
        <img class="middle-img" src="~@/assets/images/mcp/more.png" alt="" />
        <img
          @click="handleCloseComponent"
          src="~@/assets/images/mcp/guanbi@2x.png"
          alt=""
        />
      </div>
    </div>
    <div class="people-capture-body">
      <div class="left">
        <img
          class="small-img"
          src="~@/assets/images/mcp/renxiang@2x.png"
          alt=""
        />
        <img
          class="bg-img"
          src="~@/assets/images/mcp/test-big.jpg"
          style="height: 100%"
          alt=""
        />
      </div>
      <div class="right">
        <div class="up-arrow">
          <img src="~@/assets/images/mcp/down-arrow.png" alt="" />
        </div>
        <div class="small-img-container">
          <div class="small-img">
            <img
              class="renxiang"
              src="~@/assets/images/mcp/renxiang@2x.png"
              alt=""
            />
            <img src="~@/assets/images/mcp/test-small.jpeg" alt="" />
          </div>
          <div class="small-img">
            <img
              class="renxiang"
              src="~@/assets/images/mcp/renxiang@2x.png"
              alt=""
            />
            <img src="~@/assets/images/mcp/test-small.jpeg" alt="" />
          </div>
        </div>
        <div class="down-arrow">
          <img src="~@/assets/images/mcp/up-arrow.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["obj"],
  data() {
    return {};
  },
  methods: {
    redirectAllPeopleCapture: function () {
      this.$router.push("/mcp/realtime/capture/people");
    },
    handleEmitPeople: function () {
      this.$emit("showCamera", this.obj);
    },
    handleCloseComponent: function () {
      let ob = new Object();
      Object.assign(ob, this.obj, { type: "basic" });
      this.$emit("close:component", ob);
    },
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less' scoped>
.people-capture-component-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // background-color: grey;
  border: 1px solid #0b318f;
  .capture-header {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    .left,
    .right {
      color: white;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      span {
        cursor: pointer;
      }
    }
    .left > img {
      margin-left: 9px;
      cursor: pointer;
    }
    .right {
      justify-content: flex-end;
      .middle-img {
        margin: 0 14px 0 8px;
      }
      img {
        cursor: pointer;
      }
    }
  }
  .people-capture-body {
    height: calc(100% - 30px);
    width: 100%;
    // background-color: red;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left {
      width: calc(100% - 127px);
      height: 100%;
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      img.small-img {
        position: absolute;
        left: 9px;
        top: 9px;
        cursor: pointer;
      }
      img.bg-img {
        height: 100%;
        width: 100%;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 122px;
      height: 100%;
      .small-img-container {
        height: calc(100% - 52px);

        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .small-img {
          // height: 97px;
          width: 100%;
          position: relative;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          & > img:first-child {
            position: absolute;
            left: 5px;
            top: 5px;
            height: 15px;
            width: 15px;
            cursor: pointer;
          }
          & > img:last-child {
            height: 100%;
            width: 100%;
          }
        }
      }

      .up-arrow,
      .down-arrow {
        img {
          cursor: pointer;
        }
        width: 100%;
        height: 26px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
</style>
