<template>
  <div class="addAreaInfo">
    <div v-if="!type">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/di/areaInfo' }">
          区域列表
        </el-breadcrumb-item>
        <el-breadcrumb-item>
          <a href="/di/addAreaInfo?type=look">区域查看</a>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div v-if="type">
      <el-form :model="params" :inline="true" :rules="rules" ref="ruleForm">
        <el-form-item label="区域名称" prop="name">
          <el-input v-model="params.name"></el-input>
        </el-form-item>
        <el-form-item label="地址" prop="place">
          <el-input v-model="params.place"></el-input>
        </el-form-item>
        <!-- <el-form-item label="区域类型">
          <el-select v-model="params.type" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item> -->
        <!-- <el-form-item label="联系人" v-if="isLiaison">
          <el-input v-model="params.contact"></el-input>
        </el-form-item>
        <el-form-item label="联系电话" v-if="isLiaison">
          <el-input v-model="params.contactPhone"></el-input>
        </el-form-item> -->
        <el-button>取消</el-button>
        <el-button type="primary" @click="submitArea">确认</el-button>
      </el-form>
    </div>
    <div v-if="type">
      <!-- <el-checkbox-group v-model="isLiaison">
        <el-checkbox label="是否有联系人" name="type"></el-checkbox>
      </el-checkbox-group> -->
    </div>
    <div v-if="type" style="margin-top: 20px; position: relative">
      <el-button @click="clearLinePloygon" :disabled="disablebtn">
        重置
      </el-button>
      <el-select v-model="Drawtype" @change="changeType" placeholder="请选择">
        <el-option
          v-for="item in Drawtypelist"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
      <div class="drawinfo">
        <el-alert
          title="提示"
          :closable="false"
          type="warning"
          description="如果绘制错误需重新绘制，请点击“重置”,环形区域需要绘制一个大区域和一个小区域！"
          show-icon
        ></el-alert>
      </div>
    </div>
    <div class="mapbox">
      <div id="manage-map-container" class="map-container"></div>
      <div class="drawline" v-if="type">
        <div
          class="drawlineItem"
          v-show="Drawtype == '1'"
          title="绘制普通区域"
          @click="drawLinePloygon"
        >
          <i class="el-icon-thumb"></i>
        </div>
        <div
          class="drawlineItemCycle"
          v-show="Drawtype == '2'"
          title="绘制环形区域"
          @click="drawLinePloygoncycle"
        >
          <i class="el-icon-help"></i>
        </div>
        <!-- <div class="drawlineItem" @click="clearLinePloygon">停</div> -->
      </div>
    </div>
    <!-- <div style="margin-top: 20px">
      <el-button>取消</el-button>
      <el-button type="primary">确认</el-button>
    </div> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      options: [
        {
          value: 0,
          label: "小区"
        },
        {
          value: 1,
          label: "辖区"
        }
      ],
      Drawtypelist: [
        {
          value: "1",
          label: "普通划片"
        },
        {
          value: "2",
          label: "环形划片"
        }
      ],
      Drawtype: "1",
      value: "",
      isLiaison: false,
      disablebtn: true,
      params: {
        name: "",
        place: "",
        // contact:'1',
        // contactPhone:'2',
        polygon: []
      },
      type: true,
      rules: {
        name: [
          {required: true, message: '请输入区域名称', trigger: 'blur' },
        ],
        place: [
          {required: true, message: '请输入地址', trigger: 'blur' },
        ],
      }
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    drawLinePloygon() {
      this.disablebtn = false;
      this.$store.commit("MOUSE_DRAW_POLYGON");
    },
    drawLinePloygoncycle() {
      this.disablebtn = false;
      this.$store.commit("MOUSE_DRAW_POLYGON_CYCLE");
    },
    clearLinePloygon() {
      this.disablebtn = true;
      this.$store.commit("CLEAR_PLOYGON");
    },
    changeType(data) {
      console.log(data);
      switch (data) {
        case "1":
          this.clearLinePloygon();
          break;
        case "2":
          this.clearLinePloygon();
          break;
      }
    },
    submitArea() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid&&this.polygonList.length>0) {
          this.params.polygon = this.polygonList;
          this.$store.dispatch("districtAdd", this.params);
        }else{
          this.$message({
            type:'warning',
            message:'请确保所有字段和地图绘制都已完成'
          })
        }
      })
      
    }
  },

  created() {
    this.$store.commit("INIT_AMAP");
    if (this.$route.query?.type) {
      this.type = false;
      this.$store.commit("DRAW_PLOYGON", this.$route.query.drawType);
    } else {
      this.type = true;
    }
  },
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      polygonList: (state) => state.initMap.polygonList
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/deviceInput/areaInfo.less";
</style>
