<template>
  <div class='areaInfo'>
    <el-tabs v-model="activeName" type="card" >
      <el-tab-pane label="区域信息" name="first">
        <div class="areaContent">
          <el-form :inline="true">
            <el-form-item label="区域名称">
              <el-input v-model="formParams.name"></el-input>
            </el-form-item>
            <!-- <el-form-item label="类型">
              <el-select v-model="formParams.type" clearable @change="getchangeTypeList" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item> -->
            <el-form-item>
              <el-button type="primary" @click="getchangeNameList" icon="el-icon-search">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="addAreaInfo" icon="el-icon-plus">添加</el-button>
            </el-form-item>
          </el-form>
          <el-table border stripe align="center" :data="districtList.pageContent">
            <el-table-column prop="name" align="center" label="区域名称"></el-table-column>
            <!-- <el-table-column align="center" label="区域类型">
              <template slot-scope="scope">
                <span>{{scope.row.type==0?'小区':'辖区'}}</span>
              </template>
            </el-table-column> -->
            <el-table-column prop="place" align="center" label="地址"></el-table-column>
            <!-- <el-table-column prop="contact" align="center" label="联系人"></el-table-column>
            <el-table-column prop="contactPhone" align="center" label="联系人电话"></el-table-column> -->
            <el-table-column prop="createTime" align="center" label="创建时间"></el-table-column>
            <el-table-column prop="updateTime" align="center" label="修改时间"></el-table-column>
            <el-table-column align="center" label="下辖的录像机">
              <template slot-scope="scope">
                <el-button type="primary" size="mini" @click="toNvr(scope.row)">录像机</el-button>
              </template>
            </el-table-column>
            <el-table-column align="center" width="300" label="操作">
              <template slot-scope="scope">
                <el-button size="mini" @click="editarea(scope.row)">编辑</el-button>  
                <el-button size="mini" type="danger" @click="deletearea(scope.row)">删除</el-button>  
                <el-button size="mini" type="primary" @click="lookarea(scope.row)">查看</el-button>  
              </template>  
            </el-table-column>
          </el-table>
          <div
            class="pagination-container"
            style="text-align: center; margin: 20px auto"
          >
            <el-pagination
              @current-change="handleCurrentChange"
              :page-size="districtParams.pageSize"
              background
              layout="total, prev, pager, next, jumper"
              prev-text="上一页"
              next-text="下一页"
              :total="districtList.totalCount"
            ></el-pagination>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="修改区域信息" :visible.sync="dialogFormVisible">
      <div  style="display:flex">
        <el-form :model="form" style="width:50%;flex:1">
          <el-form-item label="名称" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item>
          <!-- <el-form-item label="联系人" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="联系手机" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item> -->
        </el-form>
        <el-form :model="form" style="width:50%;flex:1">
          <el-form-item label="地址" :label-width="formLabelWidth">
            <el-input v-model="form.place" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="editareasure">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from "vue";
export default {
  data() {
    return {
      activeName:'first',
      options: [{
          value: '0',
          label: '小区'
        }, {
          value: '1',
          label: '辖区'
      }],
      value: '',
      wholeCameraList:[{}],
      dialogFormVisible:false,
      form:{
        name:'',
        place:'',
        id:''
      },
      formLabelWidth:'120px',
      formParams:{
        name:'',
      }
    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    handleCurrentChange(index){
      Object.assign(this.districtParams,{pageNo:index})
      console.log(this.districtParams)
      this.$store.dispatch('diDistrictList',this.districtParams)
    },
    addAreaInfo(){
      this.$router.push('/di/addAreaInfo')
    },
    editarea(data){
      data;
      this.dialogFormVisible = true
      this.form= {name:data.name,place:data.place,id:data.id}
    },
    editareasure(){
      console.log(this.form)
      this.$store.dispatch('districtUpdate',this.form).then(res=>{
        if(res.code==200){
          this.dialogFormVisible = false
          this.$message({
            message:'更新成功',
            type:'success'
          })
          this.$store.dispatch('diDistrictList',this.districtParams)
        }
      })
    },
    deletearea(data){
      data;
      this.$confirm('此操作将永久删除该区域, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('diDistrictDelete',{id:data.id})
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    },
    lookarea(data){
      data;
      console.log(data)
      if(data.polygon){
        Vue.ls.set('polygonList',data.polygon)
        this.$router.push('/di/addAreaInfo?type=look&drawType=huan')
      }else{
        Vue.ls.set('polygonList',data.geom)
        this.$router.push('/di/addAreaInfo?type=look&drawType=line')
      }
    },
    toNvr(data){
      this.$router.push({
        path: '/di/nvrList',
        query: {
          id: data.id
        }
      })
    },
    getchangeNameList(){
      Object.assign(this.districtParams,{name:this.formParams.name,pageNo:1})
      this.$store.dispatch('diDistrictList',this.districtParams)
    },
    getchangeTypeList(){
      Object.assign(this.districtParams,{type:this.formParams.type})
      this.$store.dispatch('diDistrictList',this.districtParams)
    }
  },

  created(){},
  mounted(){
    this.$nextTick(()=>{
      this.$store.dispatch('diDistrictList',this.districtParams)
    })
  },
  watch:{},
  computed:{ ...mapState({
    districtList:state=>state.deviceInput.districtList,
    districtParams:state=>state.deviceInput.districtParams,
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less'>
@import "~@/assets/less/deviceInput/areaInfo.less";
</style>
