<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    
                    <div class="inputBox">
                        <div class="title">部门:</div>
                        <el-select v-model="queryparams.deptId" placeholder="请选择">
                            <el-option
                            v-for="item in departmentList.data.result"
                            :key="item.deptId"
                            :label="item.name"
                            :value="item.deptId">
                            </el-option>
                        </el-select>
                    </div>
                    
                    <div class="rightBtnGroup">
                        <el-button @click="query" type="primary" style="margin-left:10px;">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                    </div>
                    
                </div>

                <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增部门</el-button>
                    <!-- <el-button @click="moredel" type="text" icon="el-icon-delete" style="margin-left:20px;">批量删除</el-button> -->
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="getPageBackendList.data.results"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                   
                    <el-table-column
                        label="序号"
                        width="85"
                        align="center"
                        type="index"
                        >
                        
                    </el-table-column>
                   
                    <el-table-column
                        prop="name"
                        label="部门"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>

                     <el-table-column
                        prop="handleType"
                        label="任务处置权限"
                        align="center"
                        show-overflow-tooltip>
                        <!-- <template slot-scope="scope">
                            <img :src="imgurlpre+scope.row.fileName" alt="" class="icon">
                        </template> -->
                    </el-table-column>
                   
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">  
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleEdit( scope.row)">编辑</el-button>                        
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="queryparams.size"
                layout="prev, pager, next,total"
                :total="getPageBackendList.data.pagination.total">
            </el-pagination>
            
            <el-dialog
                title="新增部门"
                :visible.sync="addDialogVisible"
                width="20%"
                center>
                <el-form :model="addform">
                    <el-form-item label="部门名称:" label-width="80px">
                        <el-input v-model="addform.name" autocomplete="off" style="width:70%" clearable=""></el-input>
                    </el-form-item>
                    <el-form-item label="职务:" label-width="80px">
                        <el-input v-model="addform.duty" autocomplete="off" style="width:70%" clearable=""></el-input>
                    </el-form-item>
                                   
                </el-form>
                <span slot="footer" class="dialog-footer">
                        <el-button @click="delDialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="addConfirm">确 定</el-button>
                    </span> 
                <!-- <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
                </span> -->
            </el-dialog>

            <el-dialog
                title="编辑部门"
                :visible.sync="editDialogVisible"
                width="20%"
                center>
               <el-form :model="editform">
                    <el-form-item label="处置权限:" >
                        <el-checkbox-group v-model="checkList" @change="handleCheckedChange">
                            <el-checkbox :label="item.name" v-for="(item,index) in editform.permissions" :key="index"></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editConfirm">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
import { error } from 'highcharts';
export default {
    data(){
        return{
            addform:{
                duty:'', 
                name:""
            },
            editform:{
                deptId:'',  
                permissions:[]
            },
            delParams:{
                
            },
            checkList:[],
            queryparams:{
                current:1,
                size:10,
                deptId:""
            },
            imgurlpre:'http://192.168.25.26:8088/api/v1/iconResource/',
            tableData:[
                {},
                {},{},{}
            ],
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false
        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = [];
            val.forEach(element => {
                this.multipleSelection.push(element.id);
            });
            this.delParams.id = this.multipleSelection;
        },
        handleChange(index){
            this.queryparams.current = index;
            this.getPageBackend();
        },
        add(){
            this.addDialogVisible =  true;
        },
        handleEdit(item){
            this.editform.permissions = [];
            
            this.editDialogVisible = true;
            this.editform.deptId = item.deptId;
            this.getpermissionList()
        },
        editConfirm(){
            this.editDialogVisible = false;
            console.log(this.checkList);
            this.editform.permissions.forEach(item =>{
                item.status = false;
            })
            this.editform.permissions.forEach(item =>{
                this.checkList.forEach(el =>{
                    if(item.name == el){
                        item.status = true;
                    }
                })
            })
            this.$store.dispatch("setPermissions",this.editform)
            .then(res =>{
                if(res.data.result){
                    Message.success("已修改");
                    this.getPageBackend();
                }
            })
        },
        getPageBackend(){
            this.$store.dispatch("getPageBackend",this.queryparams);
        },
        query(){
            this.queryparams.current = 0;
            this.getPageBackend();
        },
        reset(){
            this.queryparams.deptId = null;
            this.getPageBackend();
        },
        
        handleDelete(item){
            this.delDialogVisible = true;
            this.delParams.deptId = item.deptId;
        },
        delconfirm(){
            this.$store.dispatch("delDepartent",this.delParams)
            .then(res =>{
                this.delDialogVisible = false;
                console.log(res)
                if(!res.data.error){
                    Message.success('已删除');
                    this.getPageBackend();
                }else{
                    Message.success(res.data.error);                 
                }
            })
        },
        addConfirm(){
            this.$store.dispatch("addDepartent",this.addform)
            .then(res =>{
                this.addDialogVisible = false;
                this.getPageBackend();
                if(res.data.result){
                    Message.success("已添加")
                }
            })
        },
        moredel(){
            if(this.multipleSelection.length > 0){
                this.delDialogVisible = true;
            }else{
                Message.success("请选择要操作的数据")
            }
        },
        getpermissionList(){
            let params = {
                deptId:this.editform.deptId
            }
            this.$store.dispatch("getPermissions",params)
            .then(res =>{
                this.editform.permissions = res.data.result.permissions;
                this.checkList = [];
                this.editform.permissions.forEach(item =>{
                    if(item.status){
                        this.checkList.push(item.name);
                    }
                })
            })
        },
        handleCheckedChange(val){
            
        }
    },
    created(){

    },
    mounted(){
        this.getPageBackend();
        this.$store.dispatch("getDepartmentlist",{});
        
    },
    computed:{
        ...mapState({
            getPageBackendList:state => state.slcy.getPageBackend,
            permissionlist:state => state.slcy.permissionlist,
            departmentList:state => state.slcy.departmentList,

        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        // padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                position: relative;
                .rightBtnGroup{
                    height: 50%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
    .icon{
        height: 25px;
        width: 25px;
        background-size: 100% 100%;
    }
</style>