<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">部门:</div>
            <el-select v-model="queryparams.deptId" placeholder="请选择">
              <el-option
                v-for="item in departmentList.data.result"
                :key="item.deptId"
                :label="item.name"
                :value="item.deptId"
              ></el-option>
            </el-select>
          </div>

          <div class="rightBtnGroup">
            <el-button @click="query" type="primary" style="margin-left:10px;">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>

        <!-- <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增部门</el-button>
                    
                </div> -->
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="eventList.data.results"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
        >
          <el-table-column
            label="序号"
            width="85"
            align="center"
            type="index"
          ></el-table-column>

          <el-table-column
            prop="functionName"
            label="事件名称"
            align="center"
            show-overflow-tooltip
          ></el-table-column>

          <el-table-column
            prop="deptName"
            label="处置部门"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryparams.size"
        layout="prev, pager, next,total"
        :total="eventList.data.pagination.total"
      ></el-pagination>

      <el-dialog
        title="新增部门"
        :visible.sync="addDialogVisible"
        width="20%"
        center
      >
        <el-form :model="addform">
          <el-form-item label="部门名称:" label-width="80px">
            <el-input
              v-model="addform.iconType"
              autocomplete="off"
              style="width:70%"
              clearable=""
            ></el-input>
          </el-form-item>
          <el-form-item label="工作力量:" label-width="80px">
            <el-input
              v-model="addform.iconType"
              autocomplete="off"
              style="width:70%"
              clearable=""
            ></el-input>
          </el-form-item>
          <el-form-item label="职务:" label-width="80px">
            <el-input
              v-model="addform.iconType"
              autocomplete="off"
              style="width:70%"
              clearable=""
            ></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delconfirm">确 定</el-button>
        </span>
        <!-- <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
                </span> -->
      </el-dialog>

      <el-dialog
        title="编辑图标"
        :visible.sync="editDialogVisible"
        width="20%"
        center
      >
        <el-form :model="editform">
          <el-form-item label="图标名称:">
            <el-input
              v-model="editform.iconType"
              autocomplete="off"
              style="width:70%"
            ></el-input>
          </el-form-item>
          <el-form-item label="图标路径:">
            <el-upload
              action=""
              :limit="1"
              :before-upload="beforeUploadEdit"
              :show-file-list="false"
              :auto-upload="true"
              class="upload"
            >
              <el-button>选择图片</el-button>
            </el-upload>
          </el-form-item>
          <!-- <el-form-item label="图标路径:" >
                        
                    </el-form-item>    -->
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="editDialogVisible = false">
            确 定
          </el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="提示"
        :visible.sync="delDialogVisible"
        width="20%"
        center
      >
        <span>是否删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delconfirm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      addform: {
        current: 1,
        size: 2
      },
      editform: {
        iconType: "",
        fileName: ""
      },
      delParams: {},
      queryparams: {
        current: 1,
        size: 10,
        deptId: null
      },
      imgurlpre: "http://192.168.25.26:8088/api/v1/iconResource/",
      tableData: [{}, {}, {}, {}],
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      delDialogVisible: false
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = [];
      val.forEach(element => {
        this.multipleSelection.push(element.id);
      });
      this.delParams.id = this.multipleSelection;
    },
    handleChange(index) {
      this.queryparams.current = index;
      this.getEventList();
    },
    add() {
      this.addDialogVisible = true;
    },
    handleEdit(item) {
      this.editDialogVisible = true;
      this.editform.fileName = item.fileName;
      this.editform.iconType = item.iconType;
      this.editform.markIconId = item.id;
    },
    getEventList() {
      this.$store.dispatch("getEventList", this.queryparams);
    },
    query() {
      this.queryparams.current = 1;
      this.getEventList();
    },
    reset() {
      this.queryparams.deptId = null;
      this.getEventList();
    },
    handleDelete(item) {
      this.delDialogVisible = true;
      let arr = [];
      arr.push(item.id);
      this.delParams.id = arr;
    },
    delconfirm() {
      this.$store.dispatch("delLableIcon", this.delParams).then(res => {
        this.delDialogVisible = false;
        if (res.msg == "成功") {
          Message.success("已删除");
          this.getLabelIconList();
        } else {
          Message.success(res.msg);
        }
      });
    },
    moredel() {
      if (this.multipleSelection.length > 0) {
        this.delDialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    }
  },
  created() {},
  mounted() {
    this.getEventList();
    this.$store.dispatch("getDepartmentlist", {});
  },
  computed: {
    ...mapState({
      eventList: state => state.slcy.eventList,
      departmentList: state => state.slcy.departmentList
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      position: relative;
      .rightBtnGroup {
        height: 50%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
.icon {
  height: 25px;
  width: 25px;
  background-size: 100% 100%;
}
</style>
