<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    
                    <div class="inputBox">
                        <div class="title">部门:</div>
                        <!-- <el-input v-model="queryparams.keyword" clearable=""></el-input> -->
                        <el-select v-model="queryparams.deptId" placeholder="请选择">
                            <el-option
                            v-for="item in departmentList.data.result"
                            :key="item.deptId"
                            :label="item.name"
                            :value="item.deptId">
                            </el-option>
                        </el-select>
                    </div>
                    
                    
                    <div class="rightBtnGroup">
                        <el-button @click="query" type="primary" style="margin-left:10px;">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                    </div>
                    
                </div>

                <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增人员</el-button>
                    <!-- <el-button @click="moredel" type="text" icon="el-icon-delete" style="margin-left:20px;">批量删除</el-button> -->
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="peopleList.data.results"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    >
                    
                    <el-table-column
                        label="序号"
                        width="85"
                        align="center"
                        type="index"
                        >
                        
                    </el-table-column>
                   
                    <el-table-column
                        prop="name"
                        label="姓名"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="mobile"
                        label="手机号"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="deptName"
                        label="所属部门"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="duty"
                        label="职务"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="permission"
                        label="任务处置权限"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="lastloginTime"
                        :formatter="timestampToTime"
                        label="最后登录时间"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                   
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">  
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleEdit( scope.row)">编辑</el-button>                        
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="queryparams.size"
                layout="prev, pager, next,total"
                :total="peopleList.data.pagination.total">
            </el-pagination>
            
            <el-dialog
                title="新增人员"
                :visible.sync="addDialogVisible"
                width="20%"
                center>
                <el-form :model="addform" label-position="left">
                    <el-form-item label="姓名:" label-width="80px" >
                        <el-input v-model="addform.name" autocomplete="off" style="width:90%" clearable=""></el-input>
                    </el-form-item>
                    <el-form-item label="手机号:" label-width="80px">
                        <el-input v-model="addform.mobile" autocomplete="off" style="width:90%" clearable=""></el-input>
                    </el-form-item>
                    <el-form-item label="密码:" label-width="80px">
                        <el-input v-model="addform.password" autocomplete="off" style="width:90%" clearable=""></el-input>
                    </el-form-item>
                    <el-form-item label="部门:" label-width="80px">
                        <el-select v-model="addform.deptId" placeholder="请选择" @change="onDedartmentChange">
                            <el-option
                            v-for="item in departmentList.data.result"
                            :key="item.deptId"
                            :label="item.name"
                            :value="item.deptId">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="职务:" label-width="80px">
                        <el-input v-model="addform.duty" autocomplete="off" style="width:90%" clearable=""></el-input>
                    </el-form-item>
                    <el-form-item label="推送提醒:" label-width="80px">
                        <el-checkbox true-label="1" false-label="0" v-model="addform.message">短信提醒</el-checkbox>
                    </el-form-item>
                                   
                </el-form>
                <span slot="footer" class="dialog-footer">
                        <el-button @click="addDialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="addConfirm">确 定</el-button>
                    </span> 
            </el-dialog>

            <el-dialog
                title="编辑人员"
                :visible.sync="editDialogVisible"
                width="20%"
                center>
               <el-form :model="editform" label-position="left">
                    <el-form-item label="姓名:" :label-width="labelWidth">
                        <el-input v-model="editform.name" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号:" :label-width="labelWidth">
                        <el-input v-model="editform.mobile" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="密码:" :label-width="labelWidth">
                        <el-input v-model="editform.password" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="部门:" :label-width="labelWidth" >
                        <el-select v-model="editform.deptId" placeholder="请选择" @change="onDedartmentChange">
                            <el-option
                            v-for="item in departmentList.data.result"
                            :key="item.deptId"
                            :label="item.name"
                            :value="item.deptId">
                            </el-option>
                        </el-select>
                        
                    </el-form-item>
                    <el-form-item label="职务:" :label-width="labelWidth">
                        <el-input v-model="editform.duty" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="推送提醒:" :label-width="labelWidth">
                        <el-checkbox true-label="1" false-label="0" v-model="editform.message">短信提醒</el-checkbox>
                    </el-form-item>
                    <!-- <el-form-item label="图标路径:" >
                        
                    </el-form-item>    -->
                    
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editConfirm">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
export default {
    data(){
        return{
            addform:{
                mobile:'',
                name:'',
                duty:'',
                message:0,
                deptId:null,
                password:null
            },
            editform:{
                mobile:'',
                name:'',
                duty:'',
                message:null,
                deptId:null,
                password:null
            },
            delParams:{
                
            },
            queryparams:{
                current:1,
                size:10,
                keyword:""
            },
            labelWidth:"80px",
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false
        }
    },
    methods:{
        handleChange(index){
            this.queryparams.current = index;
            this.getPeopleList();
        },
        add(){
            this.addDialogVisible =  true;
        },
        handleEdit(item){
            this.editDialogVisible = true;
            this.editform = item;
            this.editform.password = null;
            if(item.message == 1){
                this.editform.message = true;
            }else{
                this.editform.message = false
            }
           
        },
        editConfirm(){
            this.$store.dispatch("slcyAddUser",this.editform)
            .then(res =>{
                if(res.data.result){
                    this.editDialogVisible = false;
                    Message.success("已修改");
                    this.getPeopleList();
                }
            })
        },
        getPeopleList(){
            this.$store.dispatch("getPeopleList",this.queryparams);
        },
        query(){
            this.queryparams.current = 1;
            this.getPeopleList();
        },
        reset(){
            this.queryparams.deptId = null;
            this.getPeopleList();
        },
       
        handleDelete(item){
            this.delDialogVisible = true;
            this.delParams.accountId = item.accountId;
        },
        addConfirm(){
            this.$store.dispatch("slcyAddUser",this.addform)
            .then(res =>{
                if(res.data.result){
                    this.addDialogVisible = false;
                    Message.success("已添加");
                    this.getPeopleList();
                }
            })
        },
        delconfirm(){
            this.$store.dispatch("slcyDeleteUser",this.delParams)
            .then(res =>{
                this.delDialogVisible = false;
                if(res.data.result){
                    Message.success('已删除');
                    this.getPeopleList();
                }else{
                    Message.success(res.data.error);                 
                }
            })
        },
        getDepartmentList(){
            this.$store.dispatch("getDepartmentlist",{});
        },
        onDedartmentChange(val){
            console.log(this.departmentList.data.result)
            this.departmentList.data.result.forEach(element => {
                if(element.deptId == val){
                    this.addform.duty = element.duty;
                }
            });
        },
        
        timestampToTime(row, column,data) {
            console.log(row);
            var date = new Date(data) //时间戳为10位需*1000，时间戳为13位的话不需乘1000
            var Y = date.getFullYear() + '-'
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-'
            var D = date.getDate() + ' '
            var h = date.getHours() + ':'
            var m = date.getMinutes() + ':'
            var s = date.getSeconds()
            return Y+M+D+h+m+s;
        }
        
    },
    created(){

    },
    mounted(){
        this.getPeopleList();
        this.getDepartmentList();
    },
    computed:{
        ...mapState({
            peopleList:state => state.slcy.peopleList,
            departmentList:state => state.slcy.departmentList,
            
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        // padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                position: relative;
                .rightBtnGroup{
                    height: 50%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
    .icon{
        height: 25px;
        width: 25px;
        background-size: 100% 100%;
    }
</style>