.mcp-dashboard {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: red;
  //   padding: 5px;
  .dashboard-inner {
    background-color: #eeeeee;
    box-sizing: border-box;
    // background-image: url("~@/assets/images/mcp/biankuang@2x.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
  }
}
