::-webkit-scrollbar {
  // display: none;
  width: 3px;
  background-color: white;
  margin-left: 3px;
  padding-left: 3px;
}
::-webkit-scrollbar-track {
  margin-left: 3px;
  background-color: #132045;
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  width: 1px;
  height: 20px;
  background-color: #eeeeee;
}

.mcp-input-bg {
  background-color: #192a5d;
  border: 1px solid #0376d5;
}
