.singlePeoContrast{
    width: 100%;
    height: 100%;
    background-color: #151f45;
    padding: 10px;
    box-sizing: border-box;
    .contrast_header{
        height: 30px;
        line-height: 30px;
        position: relative;
        font-size: 20px;
        letter-spacing: 2px;
        color: white;
        text-align: center;
        border-bottom: 1px solid #26367f;
        .contrast_header_close{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            transition: all 1s;
            img{
                width: 60%;
                height: 60%;
            }
        }
        .contrast_header_close:hover{
            transform: rotate(360deg);
            cursor: pointer;
        }
    }
    .contrast_content{
        height: calc(100% - 50px);
        width: 100%;
        display: flex;
        // .contrast_content_item:nth-child(2){
        //     flex:0.7;
        // }
        .contrast_content_item{
            flex:1;
            padding: 20px;
            box-sizing: border-box;
            .contrast_content_item_left{
                width: 100%;
                height: 100%;
                background-color: #1f3472;
                padding: 10px;
                box-sizing: border-box;
                .contrast_content_item_location{
                    display: flex;
                    .contrast_content_item_location_item{
                        flex: 1;
                        padding-top: 10px;
                        color: white;
                    }
                }
                .contrast_content_item_bigimg{
                    height: 55%;
                    // background-color: aliceblue;
                    .contrast_content_item_bigimgTitle{
                        color: white;
                        font-size: 18px;
                        height: 60px;
                        line-height: 60px;
                    }
                    .contrast_bigimg{
                        height: calc(100% - 60px);
                        width: 100%;
                        background-color: aliceblue;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .contrast_content_item_img{
                    height: 40%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 44.5% 11% 44.5%;
                    grid-template-rows: 100%;
                    .people_contrast_item_percent{
                        .people_contrast_item_percentNum{
                            .percentNum{
                                width:100%;
                                height:100%;
                                color:#fb2602;
                                font-size: 20px;
                            }
                            width: 85%;
                            height: 50px;
                            margin: 80px auto;
                            line-height: 50px;
                            text-align: center;
                            position: relative;
                            .corner_left_top{
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                border-top: 2px solid #fb2602;
                                border-left: 2px solid #fb2602;
                            }
                            .corner_right_top{
                                width:15px;
                                height: 15px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                border-top: 2px solid #fb2602;
                                border-right: 2px solid #fb2602;
                            }
                            .corner_left_bottom{
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                border-bottom: 2px solid #fb2602;
                                border-left: 2px solid #fb2602;
                            }
                            .corner_right_bottom{
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                border-bottom: 2px solid #fb2602;
                                border-right: 2px solid #fb2602;
                            }
                        }
                    }
                    .people_contrast_item_info{
                        position: relative;
                        img{
                            width:100%;
                            height: 100%;
                        }
                        .people_contrast_item_info_imgIcon{
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 30px;
                            height:30px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .contrast_content_item_right{
                width: 100%;
                height: 100%;
                background-color: #1f3472;
                padding: 10px;
                box-sizing: border-box;
                .contrast_content_item_ku{
                    height: 40%;
                    // background-color: aliceblue;
                    display: grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: repeat(14%,7);
                    .contrast_content_item_ku_title{
                        color: white;
                        font-size: 20px;
                    }
                    .contrast_ku_item{
                        color: white;
                    }
                    .contrast_ku_item:nth-child(2n-1){
                        text-align: right;
                    }
                    .contrast_ku_item:nth-child(2n){
                        padding-left: 20px;
                        box-sizing: border-box;
                    }
                }
                .contrast_content_item_peo{
                    height: 60%;
                    display: grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: 14% 36% 11% 11% 11% 11% 11%;
                    .contrast_content_item_ku_title{
                        color: white;
                        font-size: 20px;
                    }
                    .contrast_ku_item{
                        color: white;
                    }
                    .contrast_ku_img{
                        // background-color: #fb2602;
                        height: 90%;
                        .contrast_ku_img_box{
                            height: 8.75rem;
                            height: 8.75rem;
                            img{
                                width: auto;
                                height: 100%;
                            }
                        }
                        
                    }
                    .contrast_ku_item:nth-child(2n-1){
                        text-align: right;
                    }
                    .contrast_ku_item:nth-child(2n){
                        padding-left: 20px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}
.singleCarContrast{
    width: 100%;
    height: 100%;
    background-color: #151f45;
    padding: 10px;
    box-sizing: border-box;
    .contrast_header{
        height: 30px;
        line-height: 30px;
        position: relative;
        font-size: 20px;
        letter-spacing: 2px;
        color: white;
        text-align: center;
        border-bottom: 1px solid #26367f;
        .contrast_header_close{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            transition: all 1s;
            img{
                width: 60%;
                height: 60%;
            }
        }
        .contrast_header_close:hover{
            transform: rotate(360deg);
            cursor: pointer;
        }
    }
    .contrast_content{
        height: calc(100% - 50px);
        width: 100%;
        display: flex;
        // .contrast_content_item:nth-child(2){
        //     flex:0.7;
        // }
        .contrast_content_item{
            flex:1;
            padding: 20px;
            box-sizing: border-box;
            .contrast_content_item_left{
                width: 100%;
                height: 100%;
                background-color: #1f3472;
                padding: 10px;
                box-sizing: border-box;
                .contrast_content_item_location{
                    height: 8%;
                    display: flex;
                    align-items: center; 
                    // justify-content: center;
                    .contrast_content_item_location_item{
                        flex: 1;
                        padding-top: 10px;
                        color: white;
                    }
                }
                .contrast_content_item_bigimg{
                    height: 50%;
                    // background-color: aliceblue;
                    // .contrast_content_item_bigimgTitle{
                    //     color: white;
                    //     font-size: 18px;
                    //     height: 60px;
                    //     line-height: 60px;
                    // }
                    .contrast_bigimg{
                        height: 100%;
                        width: 100%;
                        background-color: aliceblue;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .contrast_content_item_img{
                    height: 35%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 49% 2% 49%;
                    grid-template-rows: 100%;
                    .people_contrast_item_percent{
                        .people_contrast_item_percentNum{
                            .percentNum{
                                width:100%;
                                height:100%;
                                color:#fb2602;
                                font-size: 20px;
                            }
                            width: 85%;
                            height: 50px;
                            margin: 80px auto;
                            line-height: 50px;
                            text-align: center;
                            position: relative;
                            .corner_left_top{
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                border-top: 2px solid #fb2602;
                                border-left: 2px solid #fb2602;
                            }
                            .corner_right_top{
                                width:15px;
                                height: 15px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                border-top: 2px solid #fb2602;
                                border-right: 2px solid #fb2602;
                            }
                            .corner_left_bottom{
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                border-bottom: 2px solid #fb2602;
                                border-left: 2px solid #fb2602;
                            }
                            .corner_right_bottom{
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                border-bottom: 2px solid #fb2602;
                                border-right: 2px solid #fb2602;
                            }
                        }
                    }
                    .people_contrast_item_info{
                        position: relative;
                        img{
                            width:100%;
                            height: 100%;
                        }
                        .people_contrast_item_info_imgIcon{
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 30px;
                            height:30px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .contrast_content_item_right{
                width: 100%;
                height: 100%;
                background-color: #1f3472;
                padding: 10px;
                box-sizing: border-box;
                .contrast_content_item_ku{
                    height: 40%;
                    // background-color: aliceblue;
                    display: grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: repeat(14%,7);
                    .contrast_content_item_ku_title{
                        color: white;
                        font-size: 20px;
                    }
                    .contrast_ku_item{
                        color: white;
                    }
                    .contrast_ku_item:nth-child(2n-1){
                        text-align: right;
                    }
                    .contrast_ku_item:nth-child(2n){
                        padding-left: 20px;
                        box-sizing: border-box;
                    }
                }
                .contrast_content_item_peo{
                    height: 60%;
                    display: grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: 14% 36% 11% 11% 11% 11% 11%;
                    .contrast_content_item_ku_title{
                        color: white;
                        font-size: 20px;
                    }
                    .contrast_ku_item{
                        color: white;
                    }
                    .contrast_ku_img{
                        // background-color: #fb2602;
                        height: 90%;
                        .contrast_ku_img_box{
                            height: 8.75rem;
                            height: 8.75rem;
                            img{
                                width: auto;
                                height: 100%;
                            }
                        }
                        
                    }
                    .contrast_ku_item:nth-child(2n-1){
                        text-align: right;
                    }
                    .contrast_ku_item:nth-child(2n){
                        padding-left: 20px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}