.warningContrastPop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    .warningContrastContent{
        width: 50%;
        height: 50%;
        background-color: #192a5d;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15%;
        margin-left: -25%;
        border-radius: 20px;
        padding: 20px 40px;
        box-sizing: border-box;
        .warningIcon{
            width: 50px;
            height: 50px;
            position: absolute;
            right: 20px;
            top: 20px;
            img{
                width: 30px;
                height: 100%;
            }
        }
        .warningContrastTitle{
            color: white;
            font-size: 18px;
            font-weight: 400;
        }
        .warningContrastHeader{
            height: 10%;
            color: white;
            display: flex;
            align-items: center;
        }
        .warningContrastImg{
            height: 70%;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 40% 20% 40%;
            .warningContrastImgItem{
                padding: 10px;
                box-sizing: border-box;
                background-color: #1f3472;
                .warningContrast_img{
                    height: 220px;
                    background-color: aliceblue;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        // display: block;
                    }
                }
                .warningContrast_text{
                    height: 10%;
                    font-size: 13px;
                    color: aliceblue;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
        .warningContrastBtn{
            height: 15%;
            // background-color: aliceblue;
            display: flex;
            .warningContrastBtnItem:first-child{
                justify-content: flex-end;
            }
            .warningContrastBtnItem:last-child{
                justify-content: flex-start;
            }
            .warningContrastBtnItem{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.people_contrast_item_percentNum{
    .percentNum{
        width:100%;
        height:100%;
        color:#fb2602;
        font-size: 25px;
    }
    width: 85%;
    height: 80px;
    margin: 80px auto;
    line-height: 80px;
    text-align: center;
    position: relative;
    .corner_left_top{
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 0;
        border-top: 2px solid #fb2602;
        border-left: 2px solid #fb2602;
    }
    .corner_right_top{
        width:15px;
        height: 15px;
        position: absolute;
        right: 0;
        top: 0;
        border-top: 2px solid #fb2602;
        border-right: 2px solid #fb2602;
    }
    .corner_left_bottom{
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid #fb2602;
        border-left: 2px solid #fb2602;
    }
    .corner_right_bottom{
        width: 15px;
        height: 15px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid #fb2602;
        border-right: 2px solid #fb2602;
    }
}