.warningCar{
    width: 100%;
    height: 100%;
    background-color: #151f45;
    box-sizing: border-box;
}

// .warningPeople::-webkit-scrollbar {
//     // display: none;
//     width: 3px;
//     background-color: white;
//     margin-left: 3px;
//     padding-left: 3px;
//   }
// .warningPeople::-webkit-scrollbar-track {
//     margin-left: 3px;
//     background-color: #132045;
//     padding: 2px;
// }
// .warningPeople::-webkit-scrollbar-thumb {
//     width: 1px;
//     height: 20px;
//     background-color: #eeeeee;
// }

.filter_condition:first-child{
    padding-top: 10px;
}
.filter_condition{
    width:100%;
    min-height: 6%;
    background-color: #151f45;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    .condition_item_more{
        flex: 0.3;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    .condition_item{
        flex: 1;
        display: flex;
        .condition_item_label{
            flex: 1;
            display: flex;
            align-items: center; 
            justify-content: center;
            font-size: 17px;
            color: white;
        }
        .condition_item_input{
            flex: 6;
            padding: 0 20px;
            display: flex;
            align-items: center; 
            justify-content: center;
        }
    }
}
.people_contrast{
    width: 100%;
    height: 84%;
    margin: 1% auto 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #151f45;
    .people_contrast_item:nth-child(2n){
        margin-right: 0px;
    }
    .people_contrast_item{
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.people_contrast_item_percent{
    .people_contrast_item_percentNum{
        .percentNum{
            width:100%;
            height:100%;
            color:#fb2602;
            font-size: 20px;
        }
        width: 85%;
        height: 50px;
        margin: 80px auto;
        line-height: 50px;
        text-align: center;
        position: relative;
        .corner_left_top{
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 0;
            border-top: 2px solid #fb2602;
            border-left: 2px solid #fb2602;
        }
        .corner_right_top{
            width:15px;
            height: 15px;
            position: absolute;
            right: 0;
            top: 0;
            border-top: 2px solid #fb2602;
            border-right: 2px solid #fb2602;
        }
        .corner_left_bottom{
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 2px solid #fb2602;
            border-left: 2px solid #fb2602;
        }
        .corner_right_bottom{
            width: 15px;
            height: 15px;
            position: absolute;
            right: 0;
            bottom: 0;
            border-bottom: 2px solid #fb2602;
            border-right: 2px solid #fb2602;
        }
    }
}
.people_contrast_item_info{
    .people_contrast_item_info_img{
        height: 70%;
        position: relative;
        .people_contrast_item_info_imgIcon{
            position: absolute;
            top: 5px;
            left: 5px;
            width: 30px;
            height:30px;
            cursor: pointer;
            // background-color: #fb2602;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .people_contrast_item_info_title{
        height: 15%;
        display: flex;
        align-items: flex-end; 
        color: white;
    }
}


.condition_input{
    width: 100%;
    background:#192a5d;
    border:1px solid #0769c1;
    border: none;
}

.pagination{
    height: 7%;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #151f45;
}

.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}

.el-range-input{
    background:#192a5d;
}
.el-input__inner{
    color: #c0c4b7 !important;
    background:#192a5d;
    border:1px solid #0769c1;
}
.el-range-separator{
    color: #c0c4b7 !important;
}
.el-input-number__decrease{
    color: #fff !important;
    background: #0177d5;
    border: none;
}
.el-input-number__increase{
    color: #fff !important;
    background: #0177d5;
    border: none;
}
.el-pagination__total{
    color: white;
}
.el-pagination__jump{
    color: white;
}