<template>
    <div class="homePageBox">
        <div class="firstRow">
            <div class="item-first">
                <div class="itemLeft">
                    <div class="title">高点统计</div>
                    <div class="count">1</div>
                </div>
                <img src="~@/assets/images/ar/gaodian.png" alt="" class="img">

             
            </div>
            <div class="item-first">
                <div class="itemLeft">
                    <div class="title">标签统计</div>
                    <div class="count">10</div>
                </div>
                <img src="~@/assets/images/ar/biaoqian.png" alt="" class="img">
            </div>
            <div class="item-first">
                <div class="itemLeft">
                    <div class="title">报警统计</div>
                    <div class="count">9876</div>
                </div>
                <img src="~@/assets/images/ar/baojing.png" alt="" class="img">
            </div>
            <div class="item-first">
                <div class="itemLeft">
                    <div class="title">客户端并发量统计</div>
                    <div class="count">90</div>
                </div>
                <img src="~@/assets/images/ar/bingfa.png" alt="" class="img">
            </div>

        </div>
        <div class="secondRow">
            <div class="leftBox" ref = "lineChart"></div>
            <div class="rightBox">
                <div class="pieChart" ref='upPie'>

                </div>
                <div class="pieChart" :id= 'pieId' :option="option">
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import echarts from "echarts"

import HighCharts from 'highcharts'
export default {
    data(){
        return{
            pieId:"bottomPie",
            option: {
                chart: {
                    type: 'pie',//饼图
                     options3d: {
                         enabled: true,//使用3d功能
                         alpha: 60,//延y轴向内的倾斜角度
                         beta: 0,   
                     }
                },
                title: {
                    text: '测试用'//图表的标题文字
                },
                subtitle: {
                    text: ''//副标题文字
                },
 
            plotOptions: {
                pie: {
                    allowPointSelect: true,//每个扇块能否选中
                    cursor: 'pointer',//鼠标指针
                    depth: 35,//饼图的厚度
                    dataLabels: {
                        enabled: true,//是否显示饼图的线形tip
                    }
                }
            },
                series: [
                {
                    type: 'pie',
                    name: '测试用1',//统一的前置词,非必须
                    data: [
                        ['测试1',12],//模块名和所占比，也可以{name: '测试1',y: 12}
                        ['测试2',23],
                        ['测试3',19],
                        ['测试4',29]
                    ]
                 }
                ]
            }
        }
    },
    methods:{
        drawLine(){
            let lineChart = this.$refs.lineChart;
            let myechart = echarts.init(lineChart);
            let option = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                title: {
                    text: '历史单日报警',
                    subtext: '',
                    left: 'left'
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line',
                    areaStyle: {}
                }]
            };
            myechart.setOption(option)
        },
        drawUpPie(){
            let lineChart = this.$refs.upPie;
            let myechart = echarts.init(lineChart);
            let option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: 'bottom',
                    // left: ''
                },
                title: {
                    text: '标签类型统计',
                    subtext: '',
                    left: 'left'
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '40',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        
                        data: [
                            {value: 1048, name: '小区'},
                            {value: 735, name: '楼宇'},
                            {value: 580, name: '医院'},
                            {value: 484, name: '学校'},
                            // {value: 300, name: '视频广告'}
                        ]
                    }
                ]
            };
            myechart.setOption(option)
        },
        drawBottonPie(){
            HighCharts.chart(this.pieId,this.option)
        }
    },
    created(){

    },
    mounted(){
        this.drawLine();
        this.drawUpPie();
        this.drawBottonPie();
    }
}
</script>

<style lang="less" scoped>
    .homePageBox{
        height: 100%;
        width: 100%;
        background: #eaeef4;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        .firstRow{
            height: 24%;
            width:100%;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            .item-first{
                height: 180px;
                width: 360px;
                background: white;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                // padding-left: 10%;
                position: relative;
                .itemLeft{
                    height: 100%;
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .title{
                    font-size: 25px;
                }
                .count{
                    font-size: 48px;
                }
                .img{
                    height: 90px;
                    width: 90px;
                    background-size: 100% 100%;
                    position: absolute;
                    top: 25%;
                    right: 9%;
                }
            }
            
        }
        .secondRow{
            height: 76%;
            width: 100%;
            display: flex;
            flex-direction: row;
            .leftBox{
                height: 100%;
                width: 65%;
                background: white;
            }
            .rightBox{
                height: 100%;
                width: 35%;
                background: eaeef4;
                box-sizing: border-box;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .pieChart{
                    height: 49%;
                    width: 100%;
                    background: white;
                }

            }
        }
    }
</style>