<!--编辑和添加和详情公用-->
<template>
  <div class="container">
    <div class="house-box">
      <div class="house-title">
        <span v-if="roomId">编辑房屋信息</span>
        <span v-else>新增房屋信息</span>
        <span><span class="red-dot">*</span>为必填项</span>
      </div>
      <div class="box-title">基础信息</div>
      <el-form
        :rules="rules"
        ref="ruleForm"
        :model="ruleForm"
        class="demo-ruleForm"
        label-width="150px"
      >
        <el-form-item label="街道" prop="name">
          <el-input disabled v-model="name"></el-input>
        </el-form-item>
        <el-form-item label="派出所" prop="policeStation">
          <el-input disabled v-model="policeStation"></el-input>
        </el-form-item>
        <el-form-item label="村居委" prop="committee">
          <el-input disabled v-model="committee"></el-input>
        </el-form-item>
        <el-form-item label="组别/小区" prop="districtName" required>
          <el-select
            v-model="ruleForm.districtName"
            placeholder="请选择"
            @change="selectDistrict"
          >
            <el-option
              v-for="area in ruleForm.areaList"
              :key="area.districtId"
              :label="area.name"
              :value="area"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="组别/小区管理员" prop="dutyOfficer">
          <el-input v-model="ruleForm.dutyOfficer"></el-input>
        </el-form-item>
        <el-form-item label="管理员联系方式" prop="adminPhone">
          <el-input v-model="ruleForm.adminPhone"></el-input>
        </el-form-item>
        <el-form-item label="路名" prop="street" required>
          <el-row class="demo-autocomplete">
            <el-autocomplete
              class="inline-input"
              v-model="ruleForm.street"
              :fetch-suggestions="roadSearch"
              placeholder="请输入内容"
              @select="selectRoad"
            ></el-autocomplete>
          </el-row>
        </el-form-item>
        <el-form-item label="门弄牌号" prop="plot" required>
          <el-row class="demo-autocomplete">
            <el-autocomplete
              class="inline-input"
              v-model="ruleForm.plot"
              :fetch-suggestions="querySearch"
              placeholder="请输入内容"
              @select="selectPlot"
            ></el-autocomplete>
          </el-row>
        </el-form-item>
        <el-form-item label="室号" prop="room" required>
          <el-input v-model="ruleForm.room"></el-input>
        </el-form-item>
        <el-form-item label="房屋类别" prop="buildingTypeText">
          <!--           buildingTypeText         buildingType code-->
          <el-select
            @change="selectBuilding"
            ref="building"
            v-model="ruleForm.buildingTypeText"
            :code="ruleForm.buildingType"
            placeholder="请选择"
          >
            <el-option
              v-for="build in buildingTypeList"
              :key="build.id"
              :label="build.text"
              :value="build.code"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="居住类型" prop="residentTypeText">
          <!--                residentTypeText    residentType code-->
          <el-select
            @change="selectResident"
            ref="resident"
            v-model="ruleForm.residentTypeText"
            :code="ruleForm.residentType"
            placeholder="请选择"
          >
            <el-option
              v-for="resident in residentTypeList"
              :key="resident.id"
              :label="resident.text"
              :value="resident.code"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="房主姓名" prop="owner" required>
          <el-input v-model="ruleForm.owner"></el-input>
        </el-form-item>
        <el-form-item label="房主证件号码" prop="certificateNo">
          <el-input v-model="ruleForm.certificateNo"></el-input>
        </el-form-item>
        <el-form-item label="房主电话号码" prop="phone">
          <el-input v-model="ruleForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="经纬度" prop="position">
          <el-input v-model="ruleForm.position"></el-input>
          <el-button
            @click="toMap()"
            class="position-button"
            type="primary"
            icon="el-icon-location-outline"
            >标记坐标</el-button
          >
        </el-form-item>
        <el-form-item label="录入人" prop="createrUserName">
          <el-input disabled v-model="ruleForm.createrUserName"></el-input>
        </el-form-item>
        <el-form-item></el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit()">提交</el-button>
          <el-button type="primary" @click="resetForm('ruleForm')"
            >重置</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import {
  addHouse,
  getDetail,
  getStreet,
  getXiaquInfo,
  getDoorList,
  changeHouse
} from "../../../../store/api/starfish/baseData/house/house";
import {
  getArea,
  getDicts
} from "../../../../store/api/starfish/common/common";
export default {
  name: "house",
  data() {
    return {
      name: "", // 街道
      policeStation: "", // 派出所
      committee: "", // 村居委
      ruleForm: {
        areaList: [], // 组别/小区
        districtName: "请选择", // 组别小区的名称
        dutyOfficer: "", // 管理员
        adminPhone: "", // 管理员联系方式
        roadName: "", // 路名
        roadId: "",
        plot: "", // 门弄牌号
        room: "", // 室号
        buildingTypeText: "",
        buildingType: "", // 房屋类型
        residentTypeText: "",
        residentType: "", // 居住类型
        owner: "", // 房主姓名
        certificateNo: "", // 房主证件号
        phone: "",
        lat: "", // 经度
        lng: "", // 维度
        createrUserName: this.$ls.get("userName") // 录入人
      },
      rules: {
        name: [{ required: true, message: "请输入街道" }],
        districtName: [
          { required: true, message: "请选择组别/小区", trigger: "blur" }
        ],
        street: [{ required: true, message: "请输入路名" }],
        plot: [{ required: true, message: "请输入门弄牌号" }],
        room: [{ required: true, message: "请输入室号" }],
        owner: [{ required: true, message: "请输入房主姓名" }],
        buildingTypeText: [{ required: true, message: "请选择房屋类型" }],
        residentTypeText: [{ required: true, message: "请选择居住类型" }]
      },
      buildingTypeList: [],
      residentTypeList: [],
      type: "",
      roomId: "",
      streetName: "", // 街道名字的模糊匹配
      streetList: [],
      streetNameList: [],
      districtName: "请选择", // 组别小区
      roadList: [] // 门弄牌号的列表
    };
  },
  created() {
    this.roomId = this.$route.query.roomId;
    this.type = this.$route.query.type;
    this.init();
  },
  mounted() {
    this.getRoad();
    this.getXiaquInfo();
    this.getArea();
  },
  methods: {
    selectDistrict(command) {
      this.ruleForm.districtId = command.districtId; // 添加组别id
      this.ruleForm.districtName = command.name;
      this.ruleForm.dutyOfficer = command.dutyOfficer;
      this.ruleForm.adminPhone = command.phone;
    },
    selectBuilding(val) {
      this.ruleForm.buildingType = val;
    },
    selectResident(val) {
      this.ruleForm.residentType = val;
    },
    /**
     * 获取路名列表
     */
    async getRoad() {
      await getStreet({ name: "" }).then((res) => {
        this.streetList = res.data;
      });
    },
    /**
     * 对路名的模糊匹配
     */
    roadSearch(queryString, cb) {
      const list = [];
      this.streetList.forEach((item) => {
        item.value = item.name;
        list.push(item);
      });
      var restaurants = list;
      var results = queryString
        ? restaurants.filter(this.createFilter1(queryString))
        : restaurants;
      // 调用 callback 返回建  议列表的数据
      cb(results);
    },
    /**
     * 对门弄牌号的模糊匹配
     */
    querySearch(queryString, cb) {
      const list = [];
      this.roadList.forEach((item) => {
        item.value = item.name;
        list.push(item);
      });
      let restaurants = list;
      let results = queryString
        ? restaurants.filter(this.createFilter2(queryString))
        : restaurants;
      // 调用 callback 返回建  议列表的数据
      cb(results);
    },
    createFilter1(queryString) {
      return (restaurant) => {
        return (
          restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    createFilter2(queryString) {
      return (restaurant) => {
        return (
          restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    /**
     * 选择路名的时候进行获取门牌号列表的获取
     */
    async selectRoad(item) {
      this.ruleForm.roadName = item.name;
      this.ruleForm.roadId = item.id;
      this.ruleForm.street = item.name; // 添加路名
      const params = {
        pid: item.id,
        name: ""
      };
      await getDoorList(params).then((res) => {
        this.roadList = res.data;
      });
      this.$ls.set("houseInfo", this.ruleForm);
    },
    selectPlot(item) {
      this.ruleForm.plot = item.name;
      this.ruleForm.plotId = item.id;
      // this.ruleForm.room = item.name // 添加室号
    },
    /**
     * 获取街道，派出所，村居委
     */
    getXiaquInfo() {
      getXiaquInfo({}).then((res) => {
        this.name = res.data.name;
        this.policeStation = res.data.policeStation;
        this.committee = res.data.committee;
      });
    },
    /**
     * 获取组别/小区
     */
    getArea() {
      getArea().then((res) => {
        this.ruleForm.areaList = res.data;
      });
    },
    init() {
      // 获取房屋详情信息
      if (this.roomId) {
        getDetail({ urn: this.roomId }).then((res) => {
          this.ruleForm = res.data;
          this.ruleForm.adminPhone = res.data.district.phone;
          this.ruleForm.dutyOfficer = res.data.district.dutyOfficer;
          this.ruleForm.committee = res.data.district.committee;
          this.ruleForm.policeStation = res.data.district.policeStation;
          this.ruleForm.name = res.data.district.name;
          this.ruleForm.position = `${res.data.lat},${res.data.lng}`;
        });
      }

      // 获取下拉框信息
      getDicts({ type: 1, keys: "BUILDING_TYPE,RESIDENT_TYPE" }).then((res) => {
        this.buildingTypeList = res.data.BUILDING_TYPE; // 房屋类型
        this.residentTypeList = res.data.RESIDENT_TYPE; // 居住类型
      });
    },
    /**
     * 提交修改
     */
    onSubmit() {
      if (this.ruleForm.position) {
        this.ruleForm.lat = this.ruleForm.position.split(",")[0];
        this.ruleForm.lng = this.ruleForm.position.split(",")[1];
      }
      this.ruleForm.buildingTypeText = this.$refs.building.selectedLabel;
      this.ruleForm.residentTypeText = this.$refs.resident.selectedLabel;
      const params = this.ruleForm;
      if (
        this.ruleForm.districtName &&
        this.ruleForm.street &&
        this.ruleForm.plot &&
        this.ruleForm.room &&
        this.ruleForm.buildingTypeText &&
        this.ruleForm.residentTypeText &&
        this.ruleForm.owner
      ) {
        if (this.roomId) {
          params.roomUrn = this.roomId;
          changeHouse(params).then((res) => {
            if (res.code === 200) {
              this.$router.go(-1);
            }
          });
        } else {
          addHouse(params).then((res) => {
            if (res.code === 200) {
              this.$router.go(-1);
            }
          });
        }
      } else {
        this.$alert("*为必填项", "提示：", {
          confirmButtonText: "确定"
        });
      }
    },
    /**
     * 获取组别/小区之后的数据随之赋值
     */
    handleCommand(command) {
      this.ruleForm.districtId = command.districtId; // 添加组别id
      this.ruleForm.districtName = command.name;
      this.ruleForm.dutyOfficer = command.dutyOfficer;
      this.ruleForm.adminPhone = command.phone;
    },
    /**
     * 重置
     */
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    /**
     * 跳转至地图过去经纬度
     */
    toMap() {
      addHouse();
      window.open("https://lbs.amap.com/console/show/picker");
    }
  }
};
</script>

<style scoped lang="less">
.container {
  background-color: rgb(233, 238, 244);
  padding: 0 10px 10px 10px;
  .house-box {
    background-color: #ffffff;
    padding-bottom: 10px;
    .house-title {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      .red-dot {
        color: #e72020;
        margin-right: 5px;
      }
    }
    .box-title {
      padding: 20px;
    }
  }
  @deep: ~">>>";

  @{deep} .el-input {
    width: 500px;
  }
  .demo-ruleForm {
    /*display: flex;*/
    /*flex-flow: column;*/
    /*align-items: center;*/
  }
  .position-button {
    margin-left: 10px;
  }
}
</style>