\


<!--编辑和添加和详情公用-->
<template>
  <div class="container">
    <div class="house-box">
      <div class="house-title">
        <span>房屋信息</span>
        <span>
          <span class="red-dot">*</span>为必填项
        </span>
      </div>
      <div class="box-title">基础信息</div>
      <el-form
        :rules="rules"
        ref="ruleForm"
        :model="ruleForm"
        class="demo-ruleForm"
        label-width="150px"
      >
        <el-form-item label="街道">
          <el-input disabled v-model="district.streetTown"></el-input>
        </el-form-item>
        <el-form-item label="派出所">
          <el-input disabled v-model="district.policeStation"></el-input>
        </el-form-item>
        <el-form-item label="村居委">
          <el-input disabled v-model="district.committee"></el-input>
        </el-form-item>
        <el-form-item label="组别/小区">
          <!--           districtName    districtId	     11111111111-->
          <el-select disabled v-model="ruleForm.districtName" placeholder="请选择">
            <div v-for="area in ruleForm.areaList" :key="area.districtId">
              <el-option :label="area.name" :value="area.districtId"></el-option>
            </div>
          </el-select>
        </el-form-item>
        <el-form-item label="组别/小区管理员">
          <el-input disabled v-model="ruleForm.commitAdmin"></el-input>
        </el-form-item>
        <el-form-item label="管理员联系方式">
          <el-input disabled v-model="ruleForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="路名">
          <el-input disabled v-model="ruleForm.street"></el-input>
        </el-form-item>
        <el-form-item label="门弄牌号">
          <el-input disabled v-model="ruleForm.plot"></el-input>
        </el-form-item>
        <el-form-item label="室号">
          <el-input disabled v-model="ruleForm.room"></el-input>
        </el-form-item>
        <el-form-item label="房屋类别">
          <!--           buildingTypeText         buildingType code-->
          <el-select disabled v-model="ruleForm.buildingTypeText" placeholder="请选择">
            <div v-for="build in buildingType" :key="build.id">
              <el-option :label="build.text" :value="build.code"></el-option>
            </div>
          </el-select>
        </el-form-item>
        <el-form-item label="居住类型">
          <!--                residentTypeText    residentType code-->
          <el-select disabled v-model="ruleForm.residentTypeText" placeholder="请选择">
            <div v-for="resident in residentType" :key="resident.id">
              <el-option :label="resident.text" :value="resident.code"></el-option>
            </div>
          </el-select>
        </el-form-item>
        <el-form-item label="房主姓名">
          <el-input disabled v-model="ruleForm.owner"></el-input>
        </el-form-item>
        <el-form-item label="房主证件号码">
          <el-input disabled v-model="ruleForm.certificateNo"></el-input>
        </el-form-item>
        <el-form-item label="房主电话号码">
          <el-input disabled v-model="ruleForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="经纬度 ">
          <el-input disabled v-model="ruleForm.lat"></el-input>
          <!--                    <el-button @click="toMap()" class="position-button" type="primary" icon="el-icon-location-outline">标记坐标</el-button>-->
        </el-form-item>
        <el-form-item label="录入人">
          <el-input disabled v-model="ruleForm.createrUserName"></el-input>
        </el-form-item>
        <el-form-item label="录入时间" v-if="type === 'add' || type === 'edit'">
          <el-input disabled v-model="ruleForm.lastUpdateTime"></el-input>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { getDetail } from "../../../../store/api/starfish/baseData/house/house";
export default {
  name: "house",
  data() {
    return {
      ruleForm: {
        streetRoad: "", // 街道
        police: "", // 派出所
        committee: "", // 村居委
        areaList: [], // 组别/小区
        commitAdmin: "", // 管理员
        phone: "", // 管理员联系方式
        street: "", // 路名
        plot: "", // 门弄牌号
        room: "", // 室号
        build: "", // 房屋类型
        resident: {}, // 居住类型
        owner: "", // 房主姓名
        certificateNo: "", // 房主证件号
        lat: "", // 经度
        lng: "", // 维度
        createrUserName: "" // 录入人
      },
      rules: {
        name: [
          { required: true, message: "请输入活动名称", trigger: "blur" },
          { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" }
        ],
        street: [{ required: true }],
        plot: [{ required: true }],
        room: [{ required: true }]
      },
      isShowPop: false,
      buildingType: [],
      residentType: [],
      type: "",
      roomId: "",
      district: {} // 街道
    };
  },
  created() {
    this.roomId = this.$route.query.roomId;
    this.init();
  },
  methods: {
    init() {
      getDetail({ urn: this.roomId }).then(res => {
        this.district = res.data.district;
        this.ruleForm = res.data;
      });
    }
  }
};
</script>

<style scoped lang="less">
.container {
  background-color: rgb(233, 238, 244);
  padding: 0 10px 10px 10px;
  .house-box {
    background-color: #ffffff;
    padding-bottom: 10px;
    .house-title {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      .red-dot {
        color: #e72020;
        margin-right: 5px;
      }
    }
    .box-title {
      padding: 20px;
    }
  }
  @deep: ~">>>";

  @{deep} .el-input {
    width: 500px;
  }
  .demo-ruleForm {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .position-button {
    margin-left: 10px;
  }
}
</style>