<template>
    <div class="container">
        <div class="house-box">
            <div class="house-head">
                <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <div class="head-row">
                        <el-form-item label-width="100px" label="组别小区" prop="districtName" style="width: 400px;">
                            <el-input v-model="ruleForm.districtName" placeholder="请输入组别/小区名称"></el-input>
                        </el-form-item>
                        <el-form-item label-width="100px" label="路名" prop="street" style="width: 600px;">
                            <el-input v-model="ruleForm.street"></el-input>
                        </el-form-item>
                        <el-form-item label-width="100px" label="门弄牌号" prop="plot">
                            <el-input v-model="ruleForm.plot"></el-input>
                        </el-form-item>
                    </div>
                    <div class="head-row">
                        <el-form-item label-width="100px" label="室号" prop="room" style="width: 400px;">
                            <el-input v-model="ruleForm.room"></el-input>
                        </el-form-item>
                        <el-form-item label-width="100px" label="居住类别" prop="residentType" style="width: 600px;">
                            <el-select v-model="ruleForm.residentType">
                                <div v-for="typeitem in ruleForm.houseType" :key="typeitem.id">
                                    <el-option :label="typeitem.text" :value="typeitem.code"></el-option>
                                </div>
                            </el-select>
                        </el-form-item>
                        <el-form-item label-width="100px" label="房主姓名" prop="owner">
                            <el-input v-model="ruleForm.owner"></el-input>
                        </el-form-item>
                    </div>
                    <div class="head-row">
                        <el-form-item label-width="100px" label="录入人" prop="createrUserName" style="width: 400px;">
                            <el-input v-model="ruleForm.createrUserName"></el-input>
                        </el-form-item>
                        <el-form-item label-width="100px" label="录入时间" prop="date">
                            <el-date-picker
                                v-model="ruleForm.date"
                                type="daterange"
                                align="right"
                                unlink-panels
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item></el-form-item>
                    </div>
                    <div class="button-box">
                        <el-form-item>
                            <el-button type="primary" icon="el-icon-search" @click="getHouseList()">查询</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
            <div class="box-line"></div>
            <div class="house-list">
                <div class="list-head">
                    <span>数据列表</span>
                    <div>
                        <el-button icon="el-icon-edit" @click="outputHouse">导出</el-button>
                        <el-upload
                                class="upload-demo"
                                :limit="1"
                                :on-exceed="handleExceed"
                                :headers="headers"
                                :action="uploadPrefix + '/url/basicdata/backend/rooms/import'"
                                :accept="fileType">
                            <el-button icon="el-icon-edit" @click="importHouse">导入</el-button>
                        </el-upload>
                        <el-button icon="el-icon-edit-outline"><a style="color: #606266;text-decoration: none;" :href="downloadPrefix + '/' + downLoadModelUrl">下载模板</a></el-button>
                        <el-button type="primary" icon="el-icon-plus" @click="toDetail('add')">添加</el-button>
                    </div>
                </div>
                <div>
                    <el-table
                            :data="houseList"
                            max-height="400"
                            border
                            style="width: 100%">
                        <el-table-column
                                fixed
                                prop="districtName"
                                label="组别/小区"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="street"
                                label="路名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="plot"
                                label="门弄牌号">
                        </el-table-column>
                        <el-table-column
                                prop="room"
                                label="室号">
                        </el-table-column>
                        <el-table-column
                                prop="residentTypeText"
                                label="居住类别">
                        </el-table-column>
                        <el-table-column
                                prop="owner"
                                label="房主姓名">
                        </el-table-column>
                        <el-table-column
                                prop="phone"
                                label="房主电话">
                        </el-table-column>
                        <el-table-column
                                prop="createrUserName"
                                label="录入人">
                        </el-table-column>
                        <el-table-column
                                prop="lastUpdateTime"
                                label="录入时间">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="220">
                            <template slot-scope="scope">
                                <el-button
                                        icon="el-icon-edit-outline"
                                        @click.native.prevent="toDetail('edit', scope.row)"
                                        type="text"
                                        size="small">
                                    编辑
                                </el-button>
                                <el-button
                                        icon="el-icon-delete"
                                        size="small"
                                        type="text"
                                        @click="deleteRow(scope.$index, scope.row)">移除</el-button>
                                <el-button
                                        icon="el-icon-document"
                                        @click.native.prevent="toDetail('see', scope.row)"
                                        type="text"
                                        size="small">
                                    详情
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="page-block">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="pageSize"
                                layout="sizes, prev, pager, next, jumper"
                                :total="totalCount">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getHouseList, deleteHouse, outputHouse, importHouse} from "../../../../store/api/starfish/baseData/house/house"
    import {getDicts} from "../../../../store/api/starfish/common/common"
    export default {
        name: "house",
        data () {
            return {
                headers: {
                    token: this.$ls.get('token')
                },
                downLoadModelUrl: '',
                fileType: '.xls, .xlsx',
                pageSize: 10,
                currentPage: 1,
                ruleForm: {
                    entryTimeEnd: '',
                    entryTimeStart: '',
                    date:'' // 录入时间
                },
                rules: {
                    name: [
                        { required: true, message: '请输入活动名称', trigger: 'blur' },
                        { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                    ]
                },
                houseList:[],
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                totalCount: 0
            }
        },
        mounted() {
            this.getDicts()
            this.getHouseList()
        },
        computed: {
            uploadPrefix: function() {
                return process.env.VUE_APP_UPLOAD_PREFIX;
            },
            downloadPrefix: function() {
                return process.env.VUE_APP_STATIC_URL;
            }
        },
        methods: {
            // handleAvatarSuccess (res, file) {
            //     this.$message(file.name + res.msg)
            // },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            getDicts () {
                const params = {
                    type: 2,
                    keys: 'RESIDENT_TYPE,ROOM'
                }
                getDicts(params).then(res => {
                    if (res.code === 200) {
                        this.ruleForm.houseType = res.data.RESIDENT_TYPE
                        this.downLoadModelUrl = res.data.ROOM[1].text
                    }
                })
            },
            /**
             * 获取房屋列表
            */
            getHouseList () {
                if (this.ruleForm.date && this.ruleForm.date.length > 0) {
                    let day1 = this.ruleForm.date[0].getDate()
                    let month1 = this.ruleForm.date[0].getMonth()+1
                    let year1 = this.ruleForm.date[0].getFullYear()
                    let day2 = this.ruleForm.date[1].getDate()
                    let month2 = this.ruleForm.date[1].getMonth()+1
                    let year2 = this.ruleForm.date[1].getFullYear()
                    this.ruleForm.entryTimeStart = `${year1}-${month1}-${day1}`
                    this.ruleForm.entryTimeEnd = `${year2}-${month2}-${day2}`
                }
                const params = this.ruleForm
                params.limit = this.pageSize
                params.page = this.currentPage
                getHouseList(params).then(res => {
                    if (res.code === 200) {
                        this.houseList = res.data.list
                        this.totalPage = res.data.totalPage
                        this.totalCount = res.data.totalCount
                    }
                })
            },
            /**
            * 跳转至编辑详情
            */
            toDetail (index, rows) {
                let url = ''
                let query = {}
                if (index === 'see') {
                    query.roomId = rows.roomUrn
                    url = '/houseDetail'
                } else if (index === 'add') {
                    url = '/addHouse'
                } else {
                    query.roomId = rows.roomUrn
                    url = '/addHouse'
                }
                this.$router.push({
                    path: url,
                    query: query
                })
            },
            deleteRow(index, rows) {
                this.houseList.splice(index, 1)
                deleteHouse({urn: rows.roomUrn}).then(res => {
                    if (res.code === 200) {
                        this.$message('删除成功')
                    }
                })
            },
            handleSizeChange (value) {
                this.pageSize = value
                this.getHouseList()
            },
            handleCurrentChange (value) {
                this.currentPage = value
                this.getHouseList()
            },
            /**
            * 搜索重置
            */
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.ruleForm = {}
            },
            /**
             * 导出房屋
             */
            outputHouse () {
                const params = this.ruleForm
                outputHouse(params).then(res => {
                    this.downloadExcel(res);
                }).catch(err=>{
                    this.$message({
                        type:"warning",
                        message:"导出报表失败" + err
                    })
                });
            },
            /**
             * 导入房屋
             */
            importHouse () {
                const params = {}
                importHouse(params).then(res => {
                    if (res.code === 200) {
                        this.$message('上传成功')
                    } else {
                        this.$message(res.msg)
                    }
                })
            },
            downloadExcel(data) {
                let blob =new Blob([data],{type:"application/vnd.ms-excel;charset=utf-8"});
                let objectUrl= URL.createObjectURL(blob);
                // var objectUrl = '/duty/template/download'
                var filename = '房屋数据.xlsx';
                var a = document.createElement('a');
                a.href = objectUrl;
                a.download = filename;
                a.click();
                // window.URL.revokeObjectURL(objectUrl);


                // var url = '/duty/template/download'
                //   // var filename = '值班表模板.xlsx';
                //   var a = document.createElement('a');
                //   a.href = url;
                //   // a.download = filename;
                //   a.click();
                //   window.URL.revokeObjectURL(url);


            },
        }
    }
</script>

<style scoped lang="less">
.container{
    background-color: rgb(233, 238, 244);
    padding-bottom: 10px;
    .house-box{
        background-color: #ffffff;
        margin: 0 10px 0 10px;
        .house-head {
            padding: 40px;
            .head-row{
                display: flex;
            }
        }
        .box-line{
            background-color: rgb(233, 238, 244);
            width: 100%;
            height: 10px;
        }
        .house-list{
            padding: 0 40px;
            .list-head{
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .button-box{
            display: flex;
            justify-content: flex-end;
        }
    }
    .box{
        margin: 10px;
    }
    .page-block{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}
    .upload-demo{
        display: inline-block;
        margin: 0 10px;
    }
</style>