<template>
  <div class="box">
    <div class="header-box">
      <el-button type="primary" @click="handleEdit('', 'add')">
        添加设备
      </el-button>
    </div>
    <el-table :data="brandList.pageContent" style="width: 100%">
      <el-table-column label="id" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="姓名" width="200"></el-table-column>
      <el-table-column prop="urlFormat" label="rtsp地址格式"></el-table-column>
      <el-table-column
        prop="createTime"
        label="创建时间"
        width="180"
      ></el-table-column>
      <el-table-column
        prop="updateTime"
        label="修改时间"
        width="180"
      ></el-table-column>
      <!--      <el-table-column-->
      <!--          label="创建时间&修改时间"-->
      <!--          width="250">-->
      <!--        <template slot-scope="scope">-->
      <!--          <el-popover trigger="hover" placement="top" style="display: inline-block">-->
      <!--            <p>时间: {{ scope.row.startTime }}</p>-->
      <!--            <div slot="reference" class="name-wrapper">-->
      <!--              <el-tag size="medium">创建时间</el-tag>-->
      <!--            </div>-->
      <!--          </el-popover>-->
      <!--          <el-popover trigger="hover" placement="top" style="display: inline-block;margin-left: 10px;">-->
      <!--            <p>时间: {{ scope.row.endTime }}</p>-->
      <!--            <div slot="reference" class="name-wrapper">-->
      <!--              <el-tag size="medium">修改时间</el-tag>-->
      <!--            </div>-->
      <!--          </el-popover>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
      <el-table-column label="操作" width="200">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.row, 'edit')">
            编辑
          </el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.row)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div
      class="pagination-container"
      style="text-align: center; margin: 20px auto"
    >
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="params.pageSize"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="brandList.totalCount"
      ></el-pagination>
    </div>
    <!--  编辑/创建  -->
    <el-dialog
      title="修改品牌"
      :show-close="false"
      :visible="diDialogFormVisible"
    >
      <el-form :model="ruleForm" ref="ruleForm" :rules="rules">
        <el-form-item label="品牌" prop="name">
          <el-input v-model="ruleForm.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="rtsp地址格式" prop="urlFormat">
          <el-input v-model="ruleForm.urlFormat" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div>
        例如:rtsp://[username]:[password]@[ip]:[port]/[codec]/[channelNum]/[subtype]/av_stream
      </div>
      <div class="tip-style">
        请将需要填写的字段用中括号"[]"括起来，按照厂家提供的rtsp格式连接排列，必须使用英文半角输入！！
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="submitbrand">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      params: {
        pageNo: 1,
        pageSize: 10
      },
      currentPage: 1,
      ruleForm: {
        name: "",
        urlFormat: ""
      },
      rules: {
        name: [{ required: true, message: "请输入品牌名称", trigger: "blur" }],
        urlFormat: [
          { required: true, message: "请输入合法的地址格式", trigger: "blur" }
        ]
      }
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    handleEdit: function(data, type) {
      if (type == "edit") {
        this.ruleForm = {
          name: data.name,
          urlFormat: data.urlFormat,
          id: data.id
        };
      }
      this.deviceType = type;
      this.$store.commit("SET_DIALOG_FORM", true);
    },
    handleDelete: function(data) {
      console.log(data);
      this.$confirm("此操作将永久删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$store.dispatch("brandDelete", { id: data.id });
          setTimeout(() => {
            this.$store.dispatch("getbrandList", this.params);
          }, 1000);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
          // this.$router.push('/di/nvrList')
        });
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.params.pageNo = val;
      this.$store.dispatch("getbrandList", this.params);
    },
    submitbrand() {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          if (this.deviceType == "add") {
            this.$store.dispatch("brandAdd", this.ruleForm);
          } else {
            this.$store.dispatch("brandUpdate", this.ruleForm);
          }
          this.ruleForm = {
            name: "",
            urlFormat: ""
          };
          setTimeout(() => {
            this.$store.dispatch("getbrandList", this.params);
          }, 1000);
        }
      });
    },
    closeDialog() {
      this.$store.commit("SET_DIALOG_FORM", false);
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("getbrandList", this.params);
  },
  watch: {},
  computed: {
    ...mapState({
      brandList: state => state.deviceInput.brandList,
      diDialogFormVisible: state => state.deviceInput.diDialogFormVisible
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>
<style lang="less">
@import "../../../assets/less/deviceInput/brandInfo.less";
</style>
