<template>
  <div class="manage-feature-list-container">
    <div class="manage-feature-list-inner">
      <div class="title-container">
        <h4>治理体征配置</h4>
      </div>
      <div class="btn-container">
        <div class="btn-container-inner">
          <el-button type="primary" icon="el-icon-setting" @click="showSortableDialog">大屏设置</el-button>
          <el-button type="primary" icon="el-icon-plus" @click="showManageFeatureDialog">添加体征</el-button>
        </div>
      </div>
      <div class="table-container">
        <el-table :data="manageFeatureList" border style="width: 100%">
          <el-table-column prop="index" width="50"></el-table-column>
          <el-table-column prop="iconUrl" label="大屏显示图标" width="180">
            <template slot-scope="scope">
              <div style="text-align:center">
                <img style="height:35px;width:35px" :src="imgPrefix+scope.row.iconUrl" alt />
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="sourceFmt" label="属性"></el-table-column>
          <el-table-column prop="name" label="治理体征名称"></el-table-column>
          <el-table-column prop="description" label="治理体征描述"></el-table-column>
          <el-table-column prop="elements" label="关联要素"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" @click="showEditDialog(scope.row.signId)">编辑</el-button>
              <el-button type="text" @click="deleteManageFeature(scope.row.signId)">删除</el-button>
              <el-button type="text" @click="add2Screen(scope.row)">添加至大屏</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="getManageFeatureParams.page"
            :page-size="getManageFeatureParams.limit"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="getManageFeatureParams.total"
          ></el-pagination>
        </div>
      </div>
    </div>
    <el-dialog title="添加治理体征" :visible.sync="manageFeatureVisible" width="50%">
      <el-form
        style="width:90%;"
        :model="ruleForm"
        :rules="rules"
        label-width="130px"
        class="demo-ruleForm"
      >
        <el-form-item label="大屏显示图标：" prop="iconUrl">
          <el-upload
            class="avatar-uploader"
            :action="uploadPrefix+'/wechat/task/attachment/fileUpload'"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
            :headers="headers"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <span style="color:grey;">请上传30x30像素的照片</span>
        </el-form-item>
        <el-form-item label="治理体征名称：" prop="name">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="治理体征描述：" prop="description">
          <el-input v-model="ruleForm.description"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="manageFeatureVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleConfirmClick">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑治理体征" :visible.sync="editManageFeatureVisible" width="50%">
      <el-form
        style="width:90%;"
        :model="updateRuleForm"
        :rules="updateRules"
        label-width="130px"
        class="demo-ruleForm"
      >
        <el-form-item label="大屏显示图标：" prop="iconUrl">
          <el-upload
            class="avatar-uploader"
            :action="uploadPrefix+'/wechat/task/attachment/fileUpload'"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
            :headers="headers"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <span style="color:grey;">请上传30x30像素的照片</span>
        </el-form-item>
        <el-form-item label="治理体征名称：" prop="name">
          <el-input v-model="updateRuleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="治理体征描述：" prop="description">
          <el-input v-model="updateRuleForm.description"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editManageFeatureVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleUpdateManageFeature">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="大屏治理体征排序" :visible.sync="manageFeatureSortableVisible" width="50%">
      <div class="sortable-container">
        <draggable v-model="fakeManageFeatureSortableList" animation="500" @end="dragEnd">
          <transition-group type="transition">
            <div class="sortable-item" v-for="i in fakeManageFeatureSortableList" :key="i.signId">
              <div class="sortable-item-image-container">
                <img style="height:35px;width:35px;" :src="imgPrefix+i.iconUrl" alt />
              </div>
              <div class="sortable-item-name">
                <span>{{i.name}}</span>
              </div>
              <div class="sortable-item-delete" @click="removeSortbalItem(i)">
                <i class="el-icon-delete"></i>
              </div>
            </div>
          </transition-group>
        </draggable>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="hideSortableDialog">取 消</el-button>
        <el-button type="primary" @click="handleConfirmSortable">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import Vue from "vue";
import draggable from "vuedraggable";

export default {
  data() {
    return {
      fakeManageFeatureSortableList: [],
      manageFeatureSortableVisible: false,
      signId: "",
      headers: {
        token: Vue.ls.get("token"),
      },
      imageUrl: "",
      updateRuleForm: { name: "", description: "", iconurl: "" },
      updateRules: {
        name: [
          { required: true, message: "请输入治理体征名称", trigger: "bulr" },
        ],
        iconUrl: [
          { required: true, message: "请选择治理体征图标", trigger: "blur" },
        ],
      },
      ruleForm: { name: "", description: "", iconurl: "" },
      rules: {
        name: [
          { required: true, message: "请输入治理体征名称", trigger: "bulr" },
        ],
        iconUrl: [
          { required: true, message: "请选择治理体征图标", trigger: "blur" },
        ],
      },
      manageFeatureVisible: false,
      editManageFeatureVisible: false,
    };
  },
  methods: {
    hideSortableDialog: function () {
      this.$store.dispatch("getExistManageFeatureSettings");
      this.manageFeatureSortableVisible = false;
    },
    add2Screen: function (item) {
      let ids = this.fakeManageFeatureSortableList.map((item) => {
        return String(item.signId);
      });
      if (this.fakeManageFeatureSortableList.length == 9) {
        this.$message({
          type: "warning",
          message: "请先删除大屏上的内容再进行添加",
        });
      } else if (ids.indexOf(item.signId) > -1) {
        this.$message({
          type: "warning",
          message: "该项目已在大屏上展示，请勿重复添加",
        });
        return;
      } else {
        this.manageFeatureSortableVisible = true;
        this.fakeManageFeatureSortableList.push(item);
      }
    },
    handleConfirmSortable: function () {
      let ids = this.fakeManageFeatureSortableList.map((item) => {
        return item.signId;
      });
      this.$store.dispatch("setManageFeaturePosition", { signs: ids });
    },
    removeSortbalItem: function (sortable) {
      let sindex;
      this.fakeManageFeatureSortableList.forEach((item, index) => {
        if (item.signId == sortable.signId) {
          sindex = index;
        }
      });
      this.fakeManageFeatureSortableList.splice(sindex, 1);
    },
    dragEnd(...arg) {
      arg;
    },
    showSortableDialog() {
      this.manageFeatureSortableVisible = true;
    },
    showEditDialog: function (signId) {
      this.imageUrl = "";
      this.signId = signId;
      this.editManageFeatureVisible = true;
      this.$store.dispatch("getManageFeatureDetail", {
        signId: signId,
      });
    },
    deleteManageFeature: function (signId) {
      this.$confirm("是否删除该要素？", "系统提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        this.$store.dispatch("deleteManageFeatureDetail", { signId: signId });
      });
    },
    handleUpdateManageFeature: function () {
      let params = {
        signId: this.signId,
        name: this.updateRuleForm.name,
        description: this.updateRuleForm.description,
        iconUrl: this.updateRuleForm.iconUrl,
      };
      if (params.name && params.iconUrl) {
        this.$store.dispatch("updateManageFeatureDetail", params);
        this.editManageFeatureVisible = false;
      } else {
        this.$message({ type: "warning", message: "请填写必填字段" });
      }
    },
    handleConfirmClick: function () {
      let params = {
        name: this.ruleForm.name,
        description: this.ruleForm.description,
        iconUrl: this.ruleForm.iconUrl,
      };
      if (params.name && params.iconUrl) {
        this.$store.dispatch("addManageFeature", params);
        this.manageFeatureVisible = false;
      } else {
        this.$message({ type: "warning", message: "请填写必填字段" });
      }
    },
    handleAvatarSuccess: function (...arg) {
      let [
        {
          data: { filePath },
        },
      ] = [...arg];
      this.imageUrl = this.imgPrefix + filePath;
      this.ruleForm.iconUrl = filePath;
      this.updateRuleForm.iconUrl = filePath;
    },
    beforeAvatarUpload: function (file) {
      let fileType = file.type;
      if (
        fileType == "image/jpeg" ||
        fileType == "image/jpg" ||
        fileType == "image/png"
      ) {
        fileType;
      } else {
        this.$message({ type: "warning", message: "请上传图片文件" });
        return false;
      }
    },
    showManageFeatureDialog: function () {
      this.manageFeatureVisible = true;
      this.imageUrl = "";
    },
    handleCurrentChange: function (page) {
      this.$store.dispatch("getManageFeatureList", {
        page: page,
        limit: this.getManageFeatureParams.limit,
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    this.$store.dispatch("getManageFeatureList", this.getManageFeatureParams);
    this.$store.dispatch("getExistManageFeatureSettings");
  },
  watch: {
    manageFeatureDetail: function (val) {
      if (val) {
        Object.assign(this.updateRuleForm, val);
        this.imageUrl = this.imgPrefix + val.iconUrl;
      }
    },
    manageFeatureSortableList: function (val) {
      if (val) {
        this.fakeManageFeatureSortableList = val;
      }
    },
  },
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_STATIC_URL;
    },
    uploadPrefix: function () {
      return process.env.VUE_APP_UPLOAD_PREFIX;
    },
    ...mapState({
      manageFeatureSortableList: (state) =>
        state.manageFeature.manageFeatureSortableList,
      manageFeatureDetail: (state) => state.manageFeature.manageFeatureDetail,
      manageFeatureList: (state) => state.manageFactor.manageFeatureList,
      getManageFeatureParams: (state) =>
        state.manageFactor.manageFeatureSearchParams,
    }),
    ...mapGetters([]),
  },
  components: { draggable },
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/manageFactor/manageFeature.less";
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
