<template>
  <div class="task-type-manage">
    <div class="task-type-manage-inner">
      <div class="form-container">
        <div class="item">
          <div class="left">
            <span>任务名称:</span>
          </div>
          <div class="right">
            <el-input
              @input="handleSearchTaskTypeManageList"
              @change="handleSearchTaskTypeManageList"
              style="width:100%;"
              v-model="taskTypeListParams.name"
              placeholder="请输入内容"
            ></el-input>
          </div>
        </div>
        <div class="item" v-if="false">
          <div class="left">
            <span>任务对象：</span>
          </div>
          <div class="right">
            <el-input
              @input="handleSearchTaskTypeManageList"
              @change="handleSearchTaskTypeManageList"
              v-model="taskTypeListParams.targetName"
              placeholder="请输入内容"
            ></el-input>
          </div>
        </div>
        <div class="item item-end">
          <div class="btn-container">
            <el-button
              type="primary"
              icon="el-icon-search"
              @click="handleSearchTaskTypeManageList"
            >查询</el-button>
            <el-button type="primary" icon="el-icon-plus" @click="redirect2Add">添加</el-button>
          </div>
        </div>
      </div>
      <div class="grey-block"></div>
      <div class="table-container">
        <el-table :data="taskTypeList" border style="width: 100%">
          <el-table-column prop="index" width="50"></el-table-column>
          <el-table-column prop="name" label="任务事项" width="180">
            <!-- <template slot-scope="scope">
              <div style="text-align:center">
                <router-link
                  :to="'/task/type/manage/detail/' + scope.row.policyId"
                >{{scope.row.name}}</router-link>
              </div>
            </template>-->
            <template slot-scope="scope">{{scope.row.name}}</template>
          </el-table-column>
          <!-- <el-table-column prop="targetNames" label="任务对象" width="180"></el-table-column> -->
          <!-- <el-table-column prop="elements" label="任务要素清单">
            <template slot-scope="scope">
              <ul class="factor-list-ul">
                <li
                  v-for="(item,index) in scope.row.elements"
                  :key="item.elementId"
                >{{index+1}}.{{item.description}}</li>
              </ul>
            </template>
          </el-table-column>-->
          <el-table-column prop="sourceStr" label="任务来源"></el-table-column>
          <el-table-column prop="districtName" label="所属村委"></el-table-column>
          <el-table-column prop="frequencyStr" label="频率"></el-table-column>
          <el-table-column prop="periodsStr" label="时限"></el-table-column>
          <el-table-column prop="createTime" label="创建时间"></el-table-column>
          <el-table-column prop="taskScore" label="积分"></el-table-column>
          <el-table-column prop="address" label="操作">
            <template slot-scope="scope">
              <el-checkbox
                v-model="scope.row.status"
                @change="handleStatusChange(scope.row.status,scope.row.policyId)"
              >
                <span v-if="scope.row.status==1">已启用</span>
                <span v-else>已禁用</span>
              </el-checkbox>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="taskTypeListParams.page"
          :page-size="taskTypeListParams.limit"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="taskTypeListParams.total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      taskName: "",
      taskObj: "",
      tableData: [
        {
          index: 1,
          taskName: 1,
        },
      ],
    };
  },
  methods: {
    redirect2Add: function () {
      this.$router.push("/task/type/manage/add");
    },
    handleStatusChange: function (...arg) {
      let [e, policyId] = [...arg];
      let status = e ? 1 : 0;
      this.$store.dispatch("changeTaskTypeStatus", {
        policyId: policyId,
        status: status,
      });
    },
    handleSearchTaskTypeManageList: function () {
      Object.assign(this.taskTypeListParams, { page: 1, limit: 10 });
      this.$store.dispatch("getTaskTypeList", this.taskTypeListParams);
    },
    handleCurrentChange: function (page) {
      Object.assign(this.taskTypeListParams, {
        page: page,
      });
      this.$store.dispatch("getTaskTypeList", this.taskTypeListParams);
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    this.$store.commit("CLEAR_TASK_TYPELIST_PARAMS");
    this.$store.dispatch("getTaskTypeList", this.taskTypeListParams);
  },
  watch: {},
  computed: {
    ...mapState({
      taskTypeListParams: (state) => state.manageFactor.taskTypeListParams,
      taskTypeList: (state) => state.manageFactor.taskTypeList,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/manageFactor/taskTypeManage.less";
</style>
