<template>
  <div class="task-type-manage-add-container">
    <div class="task-type-manage-add-container-inner">
      <div class="form-container">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
          class="demo-ruleForm"
        >
          <el-form-item label="任务名称：" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="任务来源：" prop="source">
            <el-select v-model="ruleForm.source" placeholder="请选择任务来源">
              <el-option
                v-for="item in taskSource"
                :key="item.code"
                :label="item.text"
                :value="item.code"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="任务对象：" prop="name">
            <el-tag
              @click="handleTagClick(item)"
              v-for="item in tagList"
              :key="item.name"
              :effect="item.effect"
              style="margin-right:5px;cursor:pointer;"
            >{{item.name}}</el-tag>
          </el-form-item>
          <div class="tag-container">
            <el-tag
              style="margin-right:5px;margin-bottom:5px;"
              v-for="i in activeTableItemList"
              :key="i.idd"
            >{{i.label}}</el-tag>
          </div>
          <el-form-item label="要素清单：" prop="name">
            <el-select multiple v-model="ruleForm.yaosu" placeholder="请选择要素清单">
              <el-option
                v-for="item in yaosuList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="关联角色：" prop="name">
            <el-select multiple v-model="ruleForm.role" placeholder="请选择关联角色">
              <el-option
                v-for="item in roleList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="任务频次：" prop="frequency">
            <el-select v-model="ruleForm.frequency" placeholder="请选择任务频次">
              <el-option
                v-for="item in taskFrequency"
                :key="item.code"
                :label="item.text"
                :value="item.code"
              ></el-option>
            </el-select>
            <span style="margin-left:10px;">次</span>
          </el-form-item>
          <el-form-item label="起止日期：" prop="startEndTime">
            <el-date-picker
              v-model="ruleForm.startEndTime"
              type="daterange"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :default-time="['00:00:00', '23:59:59']"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="派单规则：" prop="workType">
            <el-select v-model="ruleForm.workType" placeholder="请选择派单规则">
              <el-option
                v-for="item in                orderType"
                :key="item.code"
                :label="item.text"
                :value="item.code"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="工作积分：" prop="score">
            <el-input class="width-200" v-model="ruleForm.score"></el-input>
          </el-form-item>
          <el-form-item label="任务期限：" prop="deadline">
            <div>
              <el-input class="width-200" v-model="ruleForm.deadline"></el-input>
              <span style="margin-left:10px;">工作日</span>
            </div>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="handleTaskTypeAdd">提 &nbsp; 交</el-button>
      </div>
    </div>
    <el-dialog
      :title="currentTag"
      :visible.sync="dialogTableVisible"
      width="50%"
      :before-close="handleClose"
    >
      <div>
        <el-table :data="taskObjectList" border>
          <el-table-column prop="checked" label="选中状态">
            <template slot-scope="scope">
              <div class="column-flex">
                <el-checkbox @change="handleCheckboxChange(scope.row)" v-model="scope.row.checked"></el-checkbox>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="label" label="名称"></el-table-column>
          <el-table-column prop="description" label="描述"></el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="companyTaskObjectParams.page"
          :page-size="companyTaskObjectParams.limit"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="companyTaskObjectParams.total"
        ></el-pagination>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleConfirmClick">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      activeTableItemList: [],
      eventMap: new Map([
        [
          "人",
          () => {
            this.$store.dispatch(
              "getPeopleTaskObject",
              this.companyTaskObjectParams
            );
          },
        ],
        [
          "房",
          () => {
            this.$store.dispatch(
              "getHouseTaskObject",
              this.companyTaskObjectParams
            );
          },
        ],
        [
          "地",
          () => {
            this.$store.dispatch(
              "getFieldTaskObject",
              this.companyTaskObjectParams
            );
          },
        ],
        [
          "企",
          () => {
            this.$store.dispatch(
              "getCompanyTaskObject",
              this.companyTaskObjectParams
            );
          },
        ],
        [
          "组",
          () => {
            this.$store.dispatch(
              "getGroupTaskObject",
              this.companyTaskObjectParams
            );
          },
        ],
      ]),
      testSelectValue: "",
      tagList: [
        {
          name: "人",
          effect: "plain",
        },
        {
          name: "房",
          effect: "plain",
        },
        {
          name: "地",
          effect: "plain",
        },
        {
          name: "企",
          effect: "plain",
        },
        {
          name: "组",
          effect: "plain",
        },
      ],
      ruleForm: {
        name: "",
        source: "",
        startEndTime: "",
        frequency: "",
        workType: "",
        score: "",
        deadline: "",
        yaosu: "",
        role: "",
      },
      rules: {
        name: [{ required: true, message: "请输入任务名称", trigger: "blur" }],
        source: [{ required: true, message: "请选择任务来源" }],
        frequency: [{ required: true, message: "请选择任务频次" }],
        startEndTime: [{ required: true, message: "请选择起止日期" }],
        workType: [{ required: true, message: "请选择派单规则" }],
      },
      currentTag: "",
      dialogTableVisible: false,
    };
  },
  methods: {
    handleTaskTypeAdd: function () {
      let arr = [];
      this.yaosuList.forEach((item) => {
        if (this.ruleForm.yaosu.indexOf(item.value) > -1) {
          arr.push(item);
        }
      });
      let params = {
        name: this.ruleForm.name,
        source: this.ruleForm.source,
        frequency: this.ruleForm.frequency,
        startDate: this.ruleForm.startEndTime[0],
        endDate: this.ruleForm.startEndTime[1],
        taskScore: this.ruleForm.score,
        periods: this.ruleForm.deadline,
        workType: this.ruleForm.workType,
        elementIds: this.ruleForm.yaosu,
        targets: this.activeTableItemList,
        elementObject: this.currentTag,
        roles: this.ruleForm.role,
      };
      this.$store.dispatch("addTaskType", params);
    },
    handleCheckboxChange: function (val) {
      // 如果被选中
      if (val.checked) {
        // 先判断tag列表是不是空forEach不遍历空数组
        if (this.activeTableItemList.length == 0) {
          this.activeTableItemList.push(val);
        } else {
          // 判断列表中是否存在该项，不存在该项目就添加进去
          let activeStatus = false;
          this.activeTableItemList.forEach((item) => {
            // 存在，不作处理
            if (item.label != val.label) {
              activeStatus = true;
            }
          });
          if (activeStatus) {
            this.activeTableItemList.push(val);
          }
        }
      }
      // 如果是取消选中状态，直接去activeTableItemList中去找到，然后剔除
      else {
        this.activeTableItemList.forEach((item, index) => {
          if (item.label == val.label) {
            this.activeTableItemList.splice(index, 1);
          }
        });
      }
    },
    handleCurrentChange: function (arg) {
      Object.assign(this.companyTaskObjectParams, {
        page: arg,
      });
      this.eventMap.get(this.currentTag)();
    },

    handleConfirmClick: function () {
      this.dialogTableVisible = false;
    },
    handleClose: function (done) {
      done;
      this.dialogTableVisible = false;
    },
    handleTagClick: function (slice) {
      this.tagList.forEach((item) => {
        if (slice.name == item.name) {
          this.dialogTableVisible = true;
          Object.assign(item, { effect: "dark" });
        } else {
          Object.assign(item, { effect: "plain" });
        }
      });
      this.currentTag = slice.name;
      this.activeTableItemList = [];
      this.eventMap.get(slice.name)();
      Object.assign(this.companyTaskObjectParams, {
        page: 1,
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    this.$store.dispatch("getAssociationRole", {
      type: 1,
    });
    this.$store.dispatch("getYaosuList");
    this.$store.dispatch("getDicts", {
      keys: "Task_Source,Task_frequency,Order_Type",
    });
  },
  watch: {},
  computed: {
    orderType: function () {
      return this.dictList.Order_Type;
    },
    taskFrequency: function () {
      return this.dictList.Task_frequency;
    },
    taskSource: function () {
      return this.dictList.Task_Source;
    },
    ...mapState({
      roleList: (state) => state.manageFactor.roleList,
      taskObjectList: (state) => state.manageFactor.taskObjectList,
      yaosuList: (state) => state.manageFactor.yaosuList,
      companyTaskObjectParams: (state) =>
        state.manageFactor.companyTaskObjectParams,
      fieldTaskObjectParams: (state) =>
        state.manageFactor.fieldTaskObjectParams,
      houseTaskObjectParams: (state) =>
        state.manageFactor.houseTaskObjectParams,
      peopleTaskObjectParams: (state) =>
        state.manageFactor.peopleTaskObjectParams,
      groupTaskObjectParams: (state) =>
        state.manageFactor.groupTaskObjectParams,
      dictList: (state) => state.common.dictList,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/manageFactor/taskTypeManageAdd.less";
</style>
