<template>
  <div class="yaosu-manage-add-container">
    <div class="yaosu-manage-add-container-inner">
      <div class="form-container">
        <el-form
          style="width:80%;"
          :model="ruleForm"
          :rules="rules"
          label-width="160px"
          class="demo-ruleForm"
        >
          <el-form-item label="要素名称：" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="要素描述：" prop="description">
            <el-input v-model="ruleForm.description"></el-input>
          </el-form-item>
          <el-form-item label="要素对象：" prop="yaosuObject">
            <el-select v-model="ruleForm.yaosuObject">
              <el-option
                :value="item.number"
                :label="item.name"
                v-for="item in yaosuObjectList"
                :key="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="要素类别：" prop="yaosuObject">
            <el-select v-model="ruleForm.yaosuCategory">
              <el-option
                :value="item.number"
                :label="item.name"
                v-for="item in yaosuCategoryList"
                :key="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="处置方式(自治处置)：" prop="selfUrns">
            <!-- <el-button type="primary" @click="handleZizhiManageVisible">添加处置方式</el-button> -->
            <el-select multiple v-model="roleListResult" placeholder="请选择自治处置方式">
              <el-option
                v-for="item in roleList"
                :key="item.value"
                :value="item.value"
                :label="item.label"
              ></el-option>
            </el-select>
            <div></div>
            <el-tag
              @close="handleZizhiTagClose(item)"
              closable
              v-for="item in zizhiUserList"
              :key="item.name"
              effect="plain"
              style="margin-right:5px;cursor:pointer;"
            >{{item.name}}</el-tag>
          </el-form-item>
          <el-form-item label="处置方式(协同处置)：" prop="joinUrns">
            <el-button type="primary" @click="handleXietongManageVisible">添加处置方式</el-button>
            <div></div>
            <el-tag
              @close="handleXietongTagClose(item)"
              closable
              v-for="item in xietongUserList"
              :key="item.name"
              effect="plain"
              style="margin-right:5px;cursor:pointer;"
            >{{item.name}}</el-tag>
          </el-form-item>
          <el-form-item label="治理体征：" prop="yaosuObject">
            <el-select v-model="ruleForm.manageFeatureID">
              <el-option
                :value="item.signId"
                :label="item.name"
                v-for="item in manageFeatureList"
                :key="item.signId"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="是否允许随手报" prop="yaosuObject">
            <el-radio v-model="ruleForm.anyReport" label="0">否</el-radio>
            <el-radio v-model="ruleForm.anyReport" label="1">是</el-radio>
          </el-form-item>
          <el-form-item label="检查项:" prop="yaosuObject">
            <el-card class="box-card">
              <div slot="header" class="clearfix">
                <span>检查象列表</span>
                <el-button
                  style="float: right; padding: 3px 0"
                  type="text"
                  @click="showCheckItemPop"
                >添加检查项</el-button>
              </div>
              <div v-for="(item,index) in checkitemList" :key="item.id">
                <span style="color:#333333;">问题{{index+1}}.{{item.name}}</span>
                /
                <span style="color:#409EFF">正确选项:</span>
                :{{item.normalText}}/
                <span>错误选项</span>
                :{{item.unnormalText}}
              </div>
            </el-card>
          </el-form-item>
        </el-form>
        <el-button @click="handleDeleteYaosu">删 &nbsp; 除</el-button>
        <el-button type="primary" @click="handleYaosuAdd">提 &nbsp; 交</el-button>
      </div>
    </div>
    <el-dialog title="自治处置" :visible.sync="zizhiManageVisible" width="30%">
      <div class="tree-container">
        <el-tree
          @check="handleZizhiCheckedNodes"
          :data="depList"
          show-checkbox
          node-key="id"
          :props="defaultProps"
        ></el-tree>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="zizhiManageVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleZizhiManageConfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="协同处置" :visible.sync="xietongManageVisible" width="30%">
      <el-tree
        @check="handleXietongCheckedNodes"
        :data="depList"
        show-checkbox
        node-key="id"
        :props="defaultProps"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="xietongManageVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleXietongManageConfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="添加检查项" :visible.sync="addCheckItemVisible">
      <el-form
        :rules="checkitemRules"
        :model="checkitemForm"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="检查内容" prop="name">
          <el-input v-model="checkitemForm.name"></el-input>
        </el-form-item>
        <el-form-item label="单选项"></el-form-item>
        <el-form-item label="正常项" prop="normalText">
          <el-input v-model="checkitemForm.normalText"></el-input>
        </el-form-item>
        <el-form-item label="异常项" prop="unnormalText">
          <el-input v-model="checkitemForm.unnormalText"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addCheckItemVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleAddCheckitem">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      roleListResult: [],
      checkitemForm: {
        name: "",
        normalText: "",
        unnormalText: ""
      },
      checkitemRules: {
        name: [
          { required: true, message: "请输入检查项名称", trigger: "blur" }
        ],
        normalText: [
          { required: true, message: "请输入正确选项", trigger: "blur" }
        ],
        unnormalText: [
          { required: true, message: "请输入错误选项", trigger: "blur" }
        ]
      },
      xietongUserList: [],
      zizhiUserList: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      zizhiManageVisible: false,
      xietongManageVisible: false,
      yaosuObjectList: [
        {
          name: "人",
          number: 1
        },
        {
          name: "房",
          number: 2
        },
        {
          name: "地",
          number: 3
        },
        {
          name: "企",
          number: 4
        }
      ],
      yaosuCategoryList: [
        { name: "更有序", number: 1 },
        { name: "更安全", number: 2 },
        { name: "更干净", number: 3 }
      ],
      ruleForm: {
        name: "",
        description: "",
        yaosuObject: "",
        yaosuCategory: "",
        anyReport: 0,
        manageFeatureID: "",
        selfUrns: [],
        joinUrns: []
      },
      rules: {
        name: [{ required: true, message: "请输入要素名称", trigger: "blur" }],
        description: [
          { required: true, message: "请输入要素描述", trigger: "blur" }
        ],
        yaosuObject: [
          { required: true, message: "请输入要素描述", trigger: "blur" }
        ],
        selfUrns: [
          { required: true, message: "请输入要素描述", trigger: "blur" }
        ]
      },
      addCheckItemVisible: false,
      checkitemList: []
    };
  },
  methods: {
    handleZizhiTagClose: function(tag) {
      let lindex;
      this.zizhiUserList.forEach((item, index) => {
        if (item.id == tag.id) {
          lindex = index;
        }
      });
      this.zizhiUserList.splice(lindex, 1);
    },
    handleXietongTagClose: function(tag) {
      let lindex;
      this.xietongUserList.forEach((item, index) => {
        if (item.id == tag.id) {
          lindex = index;
        }
      });
      this.xietongUserList.splice(lindex, 1);
    },
    handleDeleteYaosu: function() {
      this.$confirm("是否删除该要素？", "系统提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        this.$store.dispatch("deleteYaosuDetail", {
          elementId: this.$route.params.detailID
        });
      });
    },
    handleAddCheckitem: function() {
      let that = this;
      let d = function() {
        return {
          name: that.checkitemForm.name,
          normalText: that.checkitemForm.normalText,
          unnormalText: that.checkitemForm.unnormalText
        };
      };
      let a = d();
      if (
        this.checkitemForm.name &&
        this.checkitemForm.normalText &&
        this.checkitemForm.unnormalText
      ) {
        this.checkitemList.push(a);
        this.addCheckItemVisible = false;
      } else {
        this.$message({ type: "warning", message: "请填写所有必填字段" });
      }
    },
    showCheckItemPop: function() {
      Object.assign(this.checkitemForm, {
        name: "",
        normalText: "",
        unnormalText: ""
      });
      this.addCheckItemVisible = true;
    },
    handleXietongCheckedNodes: function(...arg) {
      let [, { checkedNodes }] = [...arg];
      let users = checkedNodes.filter(item => {
        if (!item.level) {
          return item;
        }
      });
      this.xietongUserList = users;
    },
    handleZizhiCheckedNodes: function(...arg) {
      let [, { checkedNodes }] = [...arg];
      let users = checkedNodes.filter(item => {
        if (!item.level) {
          return item;
        }
      });
      this.zizhiUserList = users;
    },
    handleXietongManageConfirm: function() {
      this.xietongManageVisible = false;
    },
    handleXietongManageVisible: function() {
      this.xietongManageVisible = true;
    },
    handleZizhiManageConfirm: function() {
      this.zizhiManageVisible = false;
    },
    handleZizhiManageVisible: function() {
      let p = {
        needUser: true
      };
      this.$store.dispatch("getManageFactorDepList", p);
      this.zizhiManageVisible = true;
    },
    handleYaosuAdd: function() {
      let params = {
        elementId: this.$route.params.detailID,
        elementObject: this.ruleForm.yaosuObject,
        anyReport: this.ruleForm.anyReport,
        elementCategory: this.ruleForm.yaosuCategory,
        name: this.ruleForm.name,
        description: this.ruleForm.description,
        signId: this.ruleForm.manageFeatureID,
        source: 2,
        selfUrns: this.zizhiUserList.map(item => {
          return item.id;
        }),
        joinUrns: this.xietongUserList.map(item => {
          return item.id;
        }),
        checkItems: this.checkitemList,
        role: this.roleListResult
      };
      this.$store.dispatch("updateYaosuDetail", params);
    },
    ...mapActions([]),
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getAssociationRole", {
      type: 2
    });
    let params = {
      limit: 100,
      page: 1
    };
    this.$store.dispatch("getManageFeatureList", params);
    let p = {
      elementId: this.$route.params.detailID
    };
    this.$store.dispatch("getYaosuDetail", p);
  },
  watch: {
    yaosuDetail: function(val) {
      if (val) {
        Object.assign(this.ruleForm, val);
        Object.assign(this.ruleForm, {
          yaosuObject: val.elementObject,
          yaosuCategory: val.elementCategory,
          manageFeatureID: val.signId,
          anyReport: String(val.anyReport)
        });
        this.checkitemList = val.checkItems;
        this.zizhiUserList = val.selfUrns;
        this.xietongUserList = val.joinUrns;
        this.roleListResult = val.roles.map(item => {
          return String(item);
        });
      }
    }
  },
  computed: {
    ...mapState({
      roleList: state => state.manageFactor.roleList,
      manageFeatureList: state => state.manageFactor.manageFeatureList,
      yaosuDetail: state => state.yaosuManage.yaosuDetail,
      depList: state => state.manageFactor.depList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/manageFactor/yaosuManageAdd.less";
</style>
