<template>
  <div class="task-type-manage">
    <div class="task-type-manage-inner">
      <div class="form-container">
        <div class="item">
          <div class="left">
            <span>要素名称:</span>
          </div>
          <div class="right">
            <el-input
              @input="handleSearchTaskTypeManageList"
              @change="handleSearchTaskTypeManageList"
              style="width:100%;"
              v-model="searchParams.yaosuName"
              placeholder="请输入内容"
            ></el-input>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <span>任务对象：</span>
          </div>
          <div class="right">
            <el-input
              @input="handleSearchTaskTypeManageList"
              @change="handleSearchTaskTypeManageList"
              v-model="searchParams.taskObject"
              placeholder="请输入内容"
            ></el-input>
          </div>
        </div>
        <div class="item item-end">
          <div class="btn-container">
            <el-button
              type="primary"
              icon="el-icon-search"
              @click="handleSearchTaskTypeManageList"
            >查询</el-button>
            <el-button type="primary" icon="el-icon-plus" @click="redirect2Add">添加</el-button>
          </div>
        </div>
      </div>
      <div class="grey-block"></div>
      <div class="table-container">
        <el-table :data="yaosuList" border style="width: 100%">
          <el-table-column prop="index" width="50"></el-table-column>
          <el-table-column prop="sourceFmt" label="要素对象" width="180">
            <template slot-scope="scope">
              <div style="text-align:center">
                <router-link :to="'/yaosu/detail/' + scope.row.elementId">{{scope.row.sourceFmt}}</router-link>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="elementObjectFmt" label="要素类型" width="180"></el-table-column>
          <el-table-column prop="name" label="要素名称"></el-table-column>
          <el-table-column prop="description" label="要素描述"></el-table-column>
          <el-table-column prop="signName" label="关联治理体征"></el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="yaosuListParams.page"
          :page-size="yaosuListParams.limit"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="yaosuListParams.total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      searchParams: {
        yaosuName: "",
        taskObject: "",
        limit: 10,
      },

      taskName: "",
      taskObj: "",
      tableData: [
        {
          index: 1,
          taskName: 1,
        },
      ],
    };
  },
  methods: {
    redirect2Add: function () {
      this.$router.push("/yaosu/manage/add");
    },
    handleStatusChange: function (...arg) {
      let [e, policyId] = [...arg];
      let status = e ? 1 : 0;
      this.$store.dispatch("changeTaskTypeStatus", {
        policyId: policyId,
        status: status,
      });
    },
    handleSearchTaskTypeManageList: function () {
      this.$store.dispatch("getTaskTypeList", this.taskTypeListParams);
    },
    handleCurrentChange: function (page) {
      Object.assign(this.searchParams, {
        page: page,
      });
      this.$store.dispatch("getYaosuManageList", this.searchParams);
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    this.$store.dispatch("getYaosuManageList", this.searchParams);
  },
  watch: {},
  computed: {
    ...mapState({
      yaosuListParams: (state) => state.yaosuManage.yaosuListParams,
      yaosuList: (state) => state.yaosuManage.yaosuList,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/manageFactor/taskTypeManage.less";
</style>
