<template>
  <div class='1'>

  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations,mapActions} from 'vuex';
export default {
  data() {
    return {

    }
  },
methods:{ ...mapActions([]),...mapMutations([])},

mounted(){},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less'>

</style>
