<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form
          :model="ogomBasicData"
          :rules="rules"
          ref="basicDataForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="设备编码" prop="deviceGBId">
            <el-input v-model="ogomBasicData.deviceGBId"></el-input>
          </el-form-item>
          <el-form-item label="设备厂商" prop="vendor">
            <el-select v-model="ogomBasicData.vendor" placeholder="请选择设备厂商">
              <el-option
                v-for="option in defaultDicts.VENDOR_LIST"
                :label="option.name"
                :value="option.name"
                :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="监控点类型" prop="surveillanceLevel">
            <el-select v-model="ogomBasicData.surveillanceLevel" placeholder="请选择监控点类型">
              <el-option
                v-for="option in defaultDicts.SURVEILLANCE_LEVEL"
                :label="option.name"
                :value="option.name"
                :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="点位俗称" prop="positionNickName">
            <el-input v-model="ogomBasicData.positionNickName"></el-input>
          </el-form-item>
          <el-form-item label="IPV6地址">
            <el-input v-model="ogomBasicData.ipv6"></el-input>
          </el-form-item>
          <el-form-item label="摄像机类型" prop="cameraType">
            <el-select v-model="ogomBasicData.cameraType" placeholder="请选择摄像机类型">
              <el-option
                  v-for="option in defaultDicts.CAMERATYPR"
                  :label="option.name"
                  :value="option.name"
                  :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
<!--            <el-input v-model="ogomBasicData.cameraType"></el-input>-->
          </el-form-item>
          <el-form-item label="补光属性" prop="fillinLight">
            <el-select v-model="ogomBasicData.fillinLight" placeholder="请选择补光属性">
              <el-option
                v-for="option in defaultDicts.FILLIN_LIGHT"
                :label="option.name"
                :value="option.name"
                :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="对应存储设备IP" prop="recordLocationIpv4">
            <el-input v-model="ogomBasicData.recordLocationIpv4"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form :model="ogomBasicData" label-width="140px" :rules="rules" ref="basicDataForm2">
          <el-form-item label="设备名称" prop="name">
            <el-input v-model="ogomBasicData.name"></el-input>
          </el-form-item>
          <el-form-item label="行政区划" prop="adminDivisionCode">
            <el-input v-model="ogomBasicData.adminDivisionCode" placeholder="请填写场所编号的前8位"></el-input>
          </el-form-item>
          <el-form-item label="设备型号" prop="cameraModel">
            <el-input v-model="ogomBasicData.cameraModel"></el-input>
          </el-form-item>
          <el-form-item label="IPV4地址" prop="ipv4">
            <el-input v-model="ogomBasicData.ipv4"></el-input>
          </el-form-item>
          <el-form-item label="MAC地址">
            <el-input v-model="ogomBasicData.macAddress"></el-input>
          </el-form-item>
          <el-form-item label="摄像机功能类型" prop="cameraFunctionType">
            <el-select v-model="ogomBasicData.cameraFunctionType" placeholder="摄像机功能类型">
              <el-option
                v-for="option in defaultDicts.CAMERA_FUNCTION_TYPE"
                :label="option.name"
                :value="option.name"
                :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="摄像机编码格式" prop="encoding">
            <el-input v-model="ogomBasicData.encoding"></el-input>
          </el-form-item>
          <el-form-item label="对应存储设备通道" prop="recordLocationChannel">
            <el-input v-model="ogomBasicData.recordLocationChannel"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="btn-container">
      <el-button type="primary" @click="nextStep">下一步</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        vendor: [
          { required: true, message: "请输入设备厂商", trigger: "blur" },
        ],
        positionNickName: [
          { required: true, message: "请输入点位俗称", trigger: "blur" },
        ],
        surveillanceLevel: [
          {
            required: true,
            message: "请输入请选择监控点类型",
            trigger: "blur",
          },
        ],
        ipv6: [{ required: true, message: "请输入ipv6", trigger: "blur" }],
        recordLocationIpv4: [
          { required: true, message: "请输入对应存储设备IP", trigger: "blur" },
        ],
        name: [{ required: true, message: "请输入设别名称", trigger: "blur" }],
        adminDivisionCode: [
          { required: true, message: "请填写场所编号的前8位", trigger: "blur" },
          { min: 8, max: 8, message: '请填写场所编号的前8位', trigger: 'blur' }
        ],
        cameraType: [{ required: true, message: "请选择摄像机类型", trigger: "blur" }],
        cameraFunctionType: [
          { required: true, message: "请选择摄像机功能类型", trigger: "blur" }
        ],
        fillinLight: [{ required: true, message: "请选择补光属性", trigger: "blur" }],
        cameraModel: [
          { required: true, message: "请输入设备型号", trigger: "blur" },
        ],
        ipv4: [{ required: true, message: "请输入IPV4地址", trigger: "blur" }],
        encoding: [
          { required: true, message: "请输入摄像机编码格式", trigger: "blur" },
        ],
      },
      ogomBasicData: {
        deviceGBId: "", //设备编码
        vendor: "", //设备厂商
        surveillanceLevel: "", //监控点类型
        positionNickName: "", //点位俗称
        ipv6: "",
        cameraType: "", //摄像机类型
        fillinLight: "", //补光属性
        recordLocationIpv4: "", //对应存储设备ip
        name: "", //设备名称
        adminDivisionCode: "", //行政区划
        cameraModel: "", //设备型号
        ipv4: "",
        macAddress: "", //Mac地址
        cameraFunctionType: "", //摄像机功能类型
        encoding: "", //摄像机编码格式
        recordLocationChannel: "", //对应存储设备通道
      },
    };
  },
  methods: {
    nextStep: function () {
      this.$refs["basicDataForm"].validate((valid) => {
        if (valid) {
          this.$refs["basicDataForm2"].validate((valid) => {
            if (valid) {
              this.$store.commit("SET_OGOM_CURRENT_STEP", {
                index: 1,
                name: "ogomLocation",
              });
              this.$store.dispatch("updateDevice", this.ogomBasicData);
            }
          });
        }
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    let urn = this.$route.params.urn;
    Object.assign(this.ogomBasicData, { urn: urn });
    this.$store.dispatch("getDeviceDetail", { urn: urn });
    this.$store.dispatch("getDefaultDicts", {
      name: "VENDOR_LIST,SURVEILLANCE_LEVEL,FILLIN_LIGHT,CAMERA_FUNCTION_TYPE,CAMERATYPR",
    });
  },
  watch: {
    deviceDetail: function (val) {
      if (val) {
        Object.assign(this.ogomBasicData, val);
      }
    },
  },
  computed: {
    ...mapState({
      deviceDetail: (state) => state.deviceManage.deviceDetail,
      defaultDicts: (state) => state.loginGateway.defaultDicts,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>
