<template>
  <div class="ogom-list-container">
    <div class="ogom-list-container-inner">
      <div class="title-container">
        <span>一机一档</span>
      </div>
      <div class="search-container">
        <el-input
          style="width:200px;margin-right:10px"
          placeholder="搜索设备名称"
          v-model="deviceListParams.name"
        ></el-input>
        <!-- <el-select style="width:200px;margin-right:10px" v-model="value" placeholder="摄像头IP">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>-->
        <el-input
          style="width:200px;margin-right:10px;"
          v-model="deviceListParams.ipv4"
          placeholder="摄像头IP"
        ></el-input>
        <el-select
          disabled
          style="width:200px;margin-right:10px;"
          v-model="value"
          placeholder="全部上云状态"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <el-button type="primary" @click="searchDevice">搜索</el-button>
      </div>
      <div class="table-container">
        <el-table :data="deviceList" border style="width:100%;s">
          <el-table-column prop="name" label="设备名称"></el-table-column>
          <el-table-column prop="vendor" label="设备厂商"></el-table-column>
          <el-table-column prop="cameraModel" label="设备型号"></el-table-column>
          <el-table-column prop="ipv4" label="IP"></el-table-column>
          <el-table-column prop="recordLocationIpv4" label="存储IP"></el-table-column>
          <el-table-column prop="cameraType" label="摄像机类型"></el-table-column>
          <el-table-column prop="isActive" label="上云状态"></el-table-column>
          <el-table-column prop="deviceName" label="操作">
            <template slot-scope="scope">
              <div v-if="scope.row.isActive">
                <el-button type="text" @click="handleAddOgom(scope.row)">查看</el-button>
                <el-button type="text" @click="handleAddOgom(scope.row)">编辑</el-button>
                <el-button type="text" @click="handleRemoveOncloud(scope.row)">移除上云</el-button>
              </div>
              <div v-else>
                <el-button type="text" @click="handleAddOgom(scope.row)">添加一机一档</el-button>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="deviceListParams.current"
          :page-size="deviceListParams.size"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="deviceListParams.total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return { value: "", options: [{ value: 1, label: "1" }], ogomList: [] };
  },
  methods: {
    searchDevice: function () {
      this.$store.dispatch("getDeviceList", this.deviceListParams);
    },
    handleRemoveOncloud: function (item) {
      Object.assign(item, { isActive: false });
      this.$store.dispatch("updateDevice", item);
    },
    handleAddOgom: function (item) {
      this.$router.push("/gw/ogom/add/" + item.urn);
    },
    handleCurrentChange: function () {},
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    Object.assign(this.deviceListParams, { name: "" });
    this.$store.dispatch("getDeviceList", this.deviceListParams);
  },
  watch: {},
  computed: {
    ...mapState({
      deviceListParams: (state) => state.deviceManage.deviceListParams,
      deviceList: (state) => state.deviceManage.deviceList,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
@import "~@/assets/less/gateway/ogom/ogomList.less";
</style>
