<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form ref="liganFormA" :rules="rules" :model="ogomBasicData" label-width="110px">
          <el-form-item prop="keyboardNumber" label="键盘编号">
            <el-input placeholder="请输入键盘编号" v-model="ogomBasicData.keyboardNumber"></el-input>
          </el-form-item>
          <el-form-item prop="height" label="安装高度" required>
            <!-- <el-input placeholder="请输入安装高度" v-model="ogomBasicData.height"></el-input> -->
            <el-input-number
              v-model="ogomBasicData.height"
              @change="handleHeightChange"
              :min="1"
              :max="20"
              label="描述文字"
            ></el-input-number>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form ref="liganFormB" :rules="rules" :model="ogomBasicData" label-width="125px">
          <el-form-item prop="constructType" label="建设应用类别">
            <el-select v-model="ogomBasicData.constructType" placeholder="请选择建设应用类别">
              <el-option
                  v-for="option in defaultDicts.CONSTRUCTYPE"
                  :label="option.name"
                  :value="option.name"
                  :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
<!--            <el-input disabled v-model="ogomBasicData.constructType"></el-input>-->
          </el-form-item>
          <el-form-item prop="visualRange" label="可视距离" required>
            <!-- <el-input v-model="ogomBasicData.visualRange"></el-input> -->
            <el-input-number
              v-model="ogomBasicData.visualRange"
              @change="handleVisualChange"
              :min="1"
              :max="1000"
              label="描述文字"
            ></el-input-number>
          </el-form-item>
        </el-form>
      </div>
    </div>

    <div class="btn-container">
      <el-button @click="preStep">上一步</el-button>
      <el-button type="primary" @click="nextStep">下一步</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        // keyboardNumber: [
        //   { required: true, message: "请输入键盘编号", trigger: "blur" },
        // ],
        height: [
          { required: true, message: "请输入安装高度", trigger: "blur" },
        ],
        constructType: [
          { required: true, message: "请选择建设应用类别", trigger: "blur" },
        ],
        visualRange: [
          { required: true, message: "请输入可视距离", trigger: "blur" },
        ],
      },
      ogomBasicData: {
        keyboardNumber: "", //键盘编号
        height: "", //安装高度
        constructType: "", //建设应用类别
        visualRange: "", //可视距离
      },
    };
  },
  methods: {
    handleHeightChange: function () {},
    handleVisualChange: function () {},
    preStep: function () {
      this.$store.commit("SET_OGOM_CURRENT_STEP", {
        index: 3,
        name: "ogomExtend",
      });
    },
    nextStep: function () {
      this.$refs["liganFormA"].validate((valid) => {
        if (valid) {
          this.$refs["liganFormB"].validate((valid) => {
            if (valid) {
              this.$store.commit("SET_OGOM_CURRENT_STEP", {
                index: 5,
                name: "ogomAISecurty",
              });
              this.$store.dispatch("updateDevice", this.ogomBasicData);
            }
          });
        }
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    let urn = this.$route.params.urn;
    Object.assign(this.ogomBasicData, { urn: urn });
    this.$store.dispatch("getDeviceDetail", { urn: urn });
    this.$store.dispatch("getDefaultDicts", {
      name: "CONSTRUCTYPE",
    });
  },
  watch: {
    deviceDetail: function (val) {
      if (val) {
        Object.assign(this.ogomBasicData, val);
      }
    },
  },
  computed: {
    ...mapState({
      deviceDetail: (state) => state.deviceManage.deviceDetail,
      defaultDicts: (state) => state.loginGateway.defaultDicts
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>

