<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form :rules="rules" ref="manageDataFormA" :model="ogomManageData" label-width="140px">
          <el-form-item label="联网属性" prop="connection">
<!--            <el-input v-model="ogomManageData.connection"></el-input>-->
            <el-select v-model="ogomManageData.connection" placeholder="请选择摄像机位置类型">
              <el-option
                  v-for="option in defaultDicts.CONNECTION"
                  :label="option.name"
                  :value="option.name"
                  :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="安装时间" prop="createTime">
            <!-- <el-date-picker v-model="ogomManageData.date" type="date" placeholder="选择日期"></el-date-picker> -->
            <el-input v-model="ogomManageData.createTime" disabled></el-input>
          </el-form-item>
          <el-form-item label="管理单位联系方式" prop="adminDivisionContactsMethod">
            <el-input v-model="ogomManageData.adminDivisionContactsMethod"></el-input>
          </el-form-item>
          <el-form-item label="设备状态" prop="deviceStatus">
            <el-input v-model="ogomManageData.deviceStatus"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form :rules="rules" ref="manageDataFormB" :model="ogomManageData" label-width="140px">
          <el-form-item label="所属辖区公安机关" prop="policeDivisionCode">
            <el-input v-model="ogomManageData.policeDivisionCode"></el-input>
          </el-form-item>
          <el-form-item label="管理单位" prop="adminDivisionName">
            <el-input v-model="ogomManageData.adminDivisionName"></el-input>
          </el-form-item>
          <el-form-item label="录像或图片保存天数" prop="daysOfStorage">
            <el-input v-model="ogomManageData.daysOfStorage"></el-input>
          </el-form-item>
          <el-form-item label="所属部门/行业" prop="adminType">
<!--            <el-input v-model="ogomManageData.adminType"></el-input>-->
            <el-select v-model="ogomManageData.adminType" filterable placeholder="请选择摄像机位置类型">
              <el-option
                  v-for="option in defaultDicts.ADMINTYPE"
                  :key="option.name"
                  :label="option.name"
                  :value="option.name">{{option.name}}
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="btn-container">
      <el-button @click="preStep">上一步</el-button>
      <el-button type="primary" @click="nextStep">下一步</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        connection: [
          { required: true, message: "请选择联网属性", trigger: "blur" },
        ],
        createTime: [
          { required: true, message: "请输入安装时间", trigger: "blur" },
        ],
        adminDivisionContactsMethod: [
          {
            required: true,
            message: "请输入管理单位联系方式",
            trigger: "blur",
          },
        ],
        deviceStatus: [
          {
            required: true,
            message: "请输入设备状态",
            trigger: "blur",
          },
        ],
        policeDivisionCode: [
          {
            required: true,
            message: "请输入所属辖区公安机关",
            trigger: "blur",
          },
        ],
        adminDivisionName: [
          {
            required: true,
            message: "请输入管理单位",
            trigger: "blur",
          },
        ],
        daysOfStorage: [
          {
            required: true,
            message: "请输入录像或图片保存天数",
            trigger: "blur",
          },
        ],
        adminType: [
          {
            required: true,
            message: "请选择所属部门/行业",
            trigger: "blur",
          },
        ]
      },
      ogomManageData: {
        connection: "", //联网属性
        adminDivisionContactsMethod: "", //管理单位联系方式
        deviceStatus: "", //设备状态
        createTime: "", //安装时间
        policeDivisionCode: "", //所属辖区公安机关
        adminDivisionName: "", //管理单位
        daysOfStorage: "", //录像图片保存天数
        adminType: "", //所属部门行业
      },
    };
  },
  methods: {
    preStep: function () {
      this.$store.commit("SET_OGOM_CURRENT_STEP", {
        index: 1,
        name: "ogomLocation",
      });
    },
    nextStep: function () {
      this.$refs["manageDataFormA"].validate((valid) => {
        if (valid) {
          this.$refs["manageDataFormB"].validate((valid) => {
            if (valid) {
              this.$store.commit("SET_OGOM_CURRENT_STEP", {
                index: 3,
                name: "ogomExtend",
              });
              this.$store.dispatch("updateDevice", this.ogomManageData);
            }
          });
        }
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    let urn = this.$route.params.urn;
    Object.assign(this.ogomManageData, { urn: urn });
    this.$store.dispatch("getDeviceDetail", { urn: urn });
    this.$store.dispatch("getDefaultDicts", {
      name: "CONNECTION,ADMINTYPE",
    });
  },
  watch: {
    deviceDetail: function (val) {
      if (val) {
        Object.assign(this.ogomManageData, val);
      }
    },
  },
  computed: {
    ...mapState({
      deviceDetail: (state) => state.deviceManage.deviceDetail,
      defaultDicts: (state) => state.loginGateway.defaultDicts
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select,
      .l-date-editore {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>
