<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form ref="checkinFormA" :rules="rules" :model="ogomBasicData" label-width="170px">
          <el-form-item label="前端建设单位" prop="constructionCompany">
            <el-input placeholder="请输入前端建设单位" v-model="ogomBasicData.constructionCompany"></el-input>
          </el-form-item>
          <el-form-item label="前端建设单位联系人" prop="constructionCompanyContacts">
            <el-input
              placeholder="请输入前端建设单位联系人"
              v-model="ogomBasicData.constructionCompanyContacts"
            ></el-input>
          </el-form-item>
          <el-form-item label="前端建设单位联系人电话" prop="constructionCompanyContactsMethod">
            <el-input
              placeholder="请输入前端建设单位联系人电话"
              v-model="ogomBasicData.constructionCompanyContactsMethod"
            ></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form ref="checkinFormB" :rules="rules" :model="ogomBasicData" label-width="140px">
          <el-form-item label="联网单位" prop="operationsCompany">
            <el-input v-model="ogomBasicData.operationsCompany"></el-input>
          </el-form-item>
          <el-form-item label="联网单位联系人" prop="operationsCompanyContacts">
            <el-input v-model="ogomBasicData.operationsCompanyContacts"></el-input>
          </el-form-item>
          <el-form-item label="联网单位联系人电话" prop="operationsCompanyContactsMethod">
            <el-input v-model="ogomBasicData.operationsCompanyContactsMethod"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </div>

    <div class="btn-container">
      <el-button @click="preStep">上一步</el-button>
      <el-button type="primary" @click="submitForm">提交</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        constructionCompany: [
          { required: true, trigger: "blur", message: "请输入前端建设单位" },
        ],
        constructionCompanyContacts: [
          { required: true, trigger: "blur", message: "请输入前端建设单位联系人" },
        ],
        constructionCompanyContactsMethod: [{ required: true, trigger: "blur", message: "请输入前端建设单位联系人电话" }],
        operationsCompany: [{ required: true, trigger: "blur", message: "请输入联网单位" }],
        operationsCompanyContacts: [{ required: true, trigger: "blur", message: "请输入联网单位联系人" }],
        operationsCompanyContactsMethod: [{ required: true, trigger: "blur", message: "请输入联网单位联系人电话" }],
      },
      ogomBasicData: {
        constructionCompany: "", //前端建设单位
        constructionCompanyContacts: "", //前端建设单位联系人
        constructionCompanyContactsMethod: "", //前端建设单位联系人电话
        operationsCompany: "", //联网单位
        operationsCompanyContacts: "", //联网单位联系人
        operationsCompanyContactsMethod: "", //联网单位联系人电话
        isActive: true,
      },
    };
  },
  methods: {
    submitForm: function () {
      Object.assign(this.ogomBasicData, { isActive: true });
      // this.$store.dispatch("finalUpdateDevice", this.ogomBasicData);
      this.$refs["checkinFormA"].validate((valid) => {
        if (valid) {
          this.$refs["checkinFormB"].validate((valid) => {
            if (valid) {
              this.$store.dispatch("finalUpdateDevice", this.ogomBasicData);
            }
          });
        }
      });
    },
    preStep: function () {
      this.$store.commit("SET_OGOM_CURRENT_STEP", {
        index: 5,
        name: "ogomAISecurty",
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    let urn = this.$route.params.urn;
    Object.assign(this.ogomBasicData, { urn: urn });
    this.$store.dispatch("getDeviceDetail", { urn: urn });
  },
  watch: {
    deviceDetail: function (val) {
      if (val) {
        Object.assign(this.ogomBasicData, val);
      }
    },
  },
  computed: {
    ...mapState({ deviceDetail: (state) => state.deviceManage.deviceDetail }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>


