<template>
  <div class="ogom-add-container">
    <div class="ogom-add-container-inner">
      <div class="step-container">
        <el-steps
          :active="ogomCurrentComponent.index"
          simple
          style="padding-left:3%;padding-right:3%;"
        >
          <el-step title="基本属性" icon="el-icon-edit"></el-step>
          <el-step title="位置属性" icon="el-icon-location-information"></el-step>
          <el-step title="管理属性" icon="el-icon-s-management"></el-step>
          <el-step title="扩展属性" icon="el-icon-s-help"></el-step>
          <el-step title="立杆属性" icon="el-icon-s-flag"></el-step>
          <el-step title="智能安防" icon="el-icon-edit"></el-step>
          <el-step title="登记" icon="el-icon-mouse"></el-step>
        </el-steps>
      </div>
      <div class="content-container">
        <component :is="ogomCurrentComponent.name"></component>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import ogomBasic from "@/views/gateway/ogom/ogomBasic.vue";
import ogomLocation from "@/views/gateway/ogom/ogomLocation.vue";
import ogomManage from "@/views/gateway/ogom/ogomManage.vue";
import ogomExtend from "@/views/gateway/ogom/ogomExtend.vue";
import ogomLigan from "@/views/gateway/ogom/ogomLigan.vue";
import ogomAISecurty from "@/views/gateway/ogom/ogomAISecurty.vue";
import ogomCheckIn from "@/views/gateway/ogom/ogomCheckIn.vue";
export default {
  data() {
    return {};
  },
  methods: { ...mapActions([]), ...mapMutations([]) },

  mounted() {
    this.$store.commit("SET_OGOM_CURRENT_STEP", {
      index: 0,
      name: "ogomBasic",
    });
  },
  watch: {},
  computed: {
    ...mapState({
      ogomCurrentComponent: (state) => state.ogom.ogomCurrentStepObj,
    }),
    ...mapGetters([]),
  },
  components: {
    ogomBasic,
    ogomLocation,
    ogomManage,
    ogomExtend,
    ogomLigan,
    ogomAISecurty,
    ogomCheckIn,
  },
};
</script>

<style lang='less'>
@import "~@/assets/less/gateway/ogom/ogomAdd.less";
</style>
