<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form ref="aiSecurtyFormA" :rules="rules" :model="ogomBasicData" label-width="110px">
          <el-form-item prop="placeCode" label="场所编号" required>
            <el-input placeholder="请输入场所编号" v-model="ogomBasicData.placeCode"></el-input>
          </el-form-item>
          <el-form-item prop="positionType" label="部位类型" required>
            <el-select v-model="ogomBasicData.positionType" placeholder="请选择部位类型">
              <el-option
                v-for="option in defaultDicts.POSITION_TYPE"
                :label="option.name"
                :value="option.name"
                :key="option.name"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form ref="aiSecurtyFormB" :rules="rules" :model="ogomBasicData" label-width="125px">
          <el-form-item prop="placeName" label="场所名称">
            <el-input placeholder="请输入场所名称" v-model="ogomBasicData.placeName"></el-input>
          </el-form-item>
          <el-form-item prop="accessDirection" label="出入方向" required>
            <el-input v-model="ogomBasicData.accessDirection"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </div>

    <div class="btn-container">
      <el-button @click="preStep">上一步</el-button>
      <el-button type="primary" @click="nextStep">下一步</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        placeCode: [
          { required: true, message: "请输入场所编号", trigger: "change" },
        ],
        placeName: [
          { required: true, message: "请输入场所名称", trigger: "blur" },
        ],
        positionType: [
          { required: true, message: "请输入部位类型", trigger: "change" },
        ],
        accessDirection: [
          { required: true, message: "请输入出入方向", trigger: "change" },
        ],
      },
      ogomBasicData: {
        placeCode: "", //场所编号
        placeName: "", //场所名称
        positionType: "", //部位类型
        accessDirection: "", //出入方向
      },
    };
  },
  methods: {
    preStep: function () {
      this.$store.commit("SET_OGOM_CURRENT_STEP", {
        index: 4,
        name: "ogomLigan",
      });
    },
    nextStep: function () {
      this.$refs["aiSecurtyFormA"].validate((valid) => {
        if (valid) {
          this.$refs["aiSecurtyFormB"].validate((valid) => {
            if (valid) {
              this.$store.commit("SET_OGOM_CURRENT_STEP", {
                index: 6,
                name: "ogomCheckIn",
              });
              this.$store.dispatch("updateDevice", this.ogomBasicData);
            }
          });
        }
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    let p = { name: "POSITION_TYPE" };
    this.$store.dispatch("getDefaultDicts", p);
    let urn = this.$route.params.urn;
    Object.assign(this.ogomBasicData, { urn: urn });
    this.$store.dispatch("getDeviceDetail", { urn: urn });
  },
  watch: {
    deviceDetail: function (val) {
      if (val) {
        Object.assign(this.ogomBasicData, val);
      }
    },
  },
  computed: {
    ...mapState({
      defaultDicts: (state) => state.loginGateway.defaultDicts,
      deviceDetail: (state) => state.deviceManage.deviceDetail,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>

