<template>
  <div class="basicdata_con">
    <ul>
      <li v-for="(item,index) in basicdatalist" :key="item.name">
        <span class="hex" v-if="index < 4">
          <span class="hexIn bg-primary">
            <div class="d_num">{{item.count}}</div> 
            <div class="d_title">{{item.name}}</div> 
          </span>
        </span>
      </li>
      <li>
        <span class="hex"><span class="hexIn bg-warning">
          <div class="d_num">{{basicdatalist[4].count}}</div> 
          <div class="d_title">{{basicdatalist[4].name}}</div>   
        </span></span>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      basicdatalist:[
        {name:'监控点总量',count:0},
        {name:'编码设备总量',count:0},
        {name:'实时调用量',count:0},
        {name:'正常量',count:0},
        {name:'异常量',count:0},

      ]
    };
  },
  props: [],
  methods: {
    getBasicData(){
        this.$store.dispatch('getBasicData',{})
        .then(res =>{
              let arr = res.result.current.details;
              this.filterData(arr);
        });
    },
    filterData(arr){
        console.log(arr)
        this.basicdatalist = [];
        this.basicdatalist.push({name:'监控点总量',count:arr.filter(r => r.category.id == 'CAMERA_TOTAL')[0].total});
        this.basicdatalist.push({name:'编码设备总量',count:arr.filter(r => r.category.id == 'NVR_TOTAL')[0].total});
        this.basicdatalist.push({name:'实时调用量',count:arr.filter(r => r.category.id == 'REAL_CALL')[0].total});
        this.basicdatalist.push({name:'正常量',count:arr.filter(r => r.category.id == 'NORMAL')[0].total});
        this.basicdatalist.push({name:'异常量',count:arr.filter(r => r.category.id == 'ABNORMAL')[0].total}); 
    },
     ...mapMutations([])
      },

  created() {
    this.getBasicData();
  },
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      basicData:state => state.middlewareDashboard.basicData
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/middleware/components/basicdata.less";
</style>
