<template>
  <div class="cameraTop">
    <el-table :data="getByCamera" :highlight-current-row="false">
      <el-table-column
        width="50"
        :show-overflow-tooltip="true"
        align="center"
        label="排名"
      >
        <template slot-scope="scope">
          <div :class="scope.$index==0?['sortCard','sortCard_top1']:scope.$index==1?['sortCard','sortCard_top2']:scope.$index==2?['sortCard','sortCard_top3']:'sortCard_radius'">
            {{ scope.$index+1 }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        :show-overflow-tooltip="true"
        prop="category.properties.cameraName"
        align="center"
        label="点位名称"
      ></el-table-column>
      <el-table-column
        :show-overflow-tooltip="true"
        prop="category.properties.folder"
        align="center"
        label="所属组织"
      ></el-table-column>
      <el-table-column
        width="100"
        prop="hits"
        label="次数"
        align="center"
      ></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  
  data() {
    return {

    };
  },
  props: [],
  methods: { 
    getData(){
      let params = {
        topN:5,
        timeUnit:'Y',
      }
        this.$store.dispatch("getByCamera",params)
    },

    ...mapMutations([]) },

  created() {
    this.getData();
  },
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      getByCamera:state => state.middlewareDashboard.getByCamera
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.cameraTop {
  width: 100%;
  height: 100%;
  //   background: burlywood;
}
.sortCard {
  width: 18px;
  height: 22px;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
//   background: burlywood;
}
.sortCard_top1{
    background: url(../../../assets/images/middleware/jin@3x.png) no-repeat;
    background-size: 100% 100%;
}
.sortCard_top2{
    background: url(../../../assets/images/middleware/yin@3x.png) no-repeat;
    background-size: 100% 100%;
}
.sortCard_top3{
    background: url(../../../assets/images/middleware/tong@3x.png) no-repeat;
    background-size: 100% 100%;
}
.sortCard_radius{
    width: 22px;
    height: 22px;
    font-size: 10px;
    background: #00488e;
    border-radius: 50%;
}
</style>
<style lang="less">
.cameraTop {
  .el-table .warning-row {
    background: #102a56;
  }

  .el-table .success-row {
    background: #102a56;
  }
  .el-table th,
  .el-table tr {
    background: #102a56;
  }
  .el-table__row:hover > td {
    background-color: transparent !important;
  }

  .el-table__row--striped:hover > td {
    background-color: transparent !important;
  }

  .el-table th.is-leaf {
    // border: none;
  }
  .el-table::before {
    content: none;
  }
  .el-table thead {
    color: #4dc3d7;
  }
  .el-table thead tr th {
    border-bottom: 0.5px solid #153a76;
  }
  .el-table {
    color: white;
  }
  .el-table__empty-block {
    background: #102a56;
  }
  //  .el-table__header`
  .el-table .el-table__row td {
    border: none;
    padding: 8px;
  }
}
</style>
