<template>
  <div class="faultClass">
    <div style="width: 100%; height: 100%" ref="faultClassEchart"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
export default {
  data() {
    return {
      dataList:[
              { value: 0, name: "设备掉线" },
              { value: 0, name: "网络延迟" },
      ]
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getData(){
      let params = {
          type:1,
          timeUnit:this.timeUnit

      }
        this.$store.dispatch('faultClassify',params)
        .then(res =>{
            let temp = res.result.current.details;
            this.dataList[0].value = temp.filter(r => r.category.id == "OFFLINE_TOTAL")[0].total;
            this.dataList[1].value = temp.filter(r => r.category.id == "TIMEOUT_TOTAL")[0].total;
            this.init();
        });

    },
    init() {
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(this.$refs.faultClassEchart);

      // 指定图表的配置项和数据
      var option = {
        color: ["#4e90f7", "#5ac885", "#ee6c98", "#f8cc6f"],
        legend: {
          // data: ["设备掉线", "网络延迟", ],
          right: 10,
          bottom: 20,
          textStyle: {
            color: "#fff" //坐标值得具体的颜色
          },
          type: "scroll",
          orient: "vertical"
        },
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
  
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: ["40%", "75%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              formatter: "{name|{b}}\n{time|{c}次}",
              minMargin: 5,
              edgeDistance: 10,
              lineHeight: 15,
              rich: {
                time: {
                  fontSize: 10,
                  color: "#999"
                }
              }
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "14",
                fontWeight: "bold"
              }
            },
            labelLine: {
              show: true,
              length: 5,
              length2: 40,
              position: "left",
              lineStyle: {
                // color: 各异,
                width: 1,
                type: "solid"
              },
              maxSurfaceAngle: 80
            },
            data:this.dataList
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }
  },

  created() {},
  mounted() {
    // this.init();
    this.getData();
  },
  watch: {
    timeUnit(){
      // console.log(this.timeUnit);
      this.getData();

    }
  },
  computed: {
    ...mapState({
      timeUnit:state => state.middlewareDashboard.faultClassifyType
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.faultClass {
  width: 100%;
  height: 100%;
  // background: burlywood;
}
</style>
