<template>
  <div class="faultStatistics">
    <div class="faultStatisticsChart" ref="faultStatisticsChart"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
export default {
  data() {
    return {

    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getData(){
      let params = {
          timeUnit:this.timeUnit
      }
        this.$store.dispatch('faultClassify',params)
        .then(res =>{
            let temp = res.result.current.details;
            let xArr = [];
            let yArr = []
            temp.forEach(item => {
                xArr.push(item.category.displayValue);
                yArr.push(item.total);
            });
            this.init(xArr,yArr);
        });

    },
    init(xArr,yArr) {
      var faultStatisticsChart = echarts.init(this.$refs.faultStatisticsChart);
      let option = {
        color:['#81aff5','#eaca73'],
        legend: {
          data: ["摄像头", "line2"],
          textStyle: {
            color: "#fff" //坐标值得具体的颜色
          }
        },
        grid: {
          left: "3%",
          right: "7%",
          top: "20%",
          bottom: "7%",
          containLabel: true
        },
        xAxis: {
          name: "单位:日",
          nameTextStyle: {
            color: "#b3b8c2",
            fontSize: 12
          },

          type: "category",
          // data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
          data: xArr,
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#193b6c", //左边线的颜色
              width: "1" //坐标线的宽度
            }
          },
          axisLabel: {
            textStyle: {
              color: "#fff" //坐标值得具体的颜色
            }
          },
          axisTick: false,
          boundaryGap: false
        },
        yAxis: {
          name: "单位:件",
          nameTextStyle: {
            color: "#b3b8c2",
            fontSize: 12
          },

          type: "value",
          axisLine: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: "#fff" //坐标值得具体的颜色
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#193b6c"],
              width: 1,
              type: "solid"
            }
          }
          //   splitArea: { show: true } //保留网格区域
        },
        series: [
          {
            name: "摄像头",
            // data: [20, 1532, 91, 894, 290, 1530, 120],
            data: yArr,
            type: "line",
            smooth: true,
            lineStyle: {
              color: "#81aff5",
              width: 2
            },
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#81aff5" },
                  { offset: 1, color: "transparent" }
                ])
              }
            },
            showSymbol: false
          },
          // {
          //   name: "line2",
          //   data: [120, 532, 910, 94, 1290, 130, 1120],
          //   type: "line",
          //   smooth: true,
          //   lineStyle: {
          //     color: "#eaca73",
          //     width: 2
          //   },
          //   showSymbol: false
          // }
        ]
      };
      faultStatisticsChart.setOption(option);
    }
  },

  created() {},
  mounted() {
    this.getData();
  },
  watch: {
    timeUnit(){
      // console.log(this.timeUnit);
      this.getData();

    }
  },
  computed: {
    ...mapState({
      timeUnit:state => state.middlewareDashboard.faultStatistics
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/middleware/components/faultStatistics.less";
</style>
