<template>
  <div class="jilianResource">
    <div class="jilianResourceItem">本级域资源</div>
    <div class="jilianResourceItem">下级共享资源</div>
    <div class="jilianResourceItem">向上共享资源</div>
    <div class="jilianResourceItem" ref="bottomEchart1"></div>
    <div class="jilianResourceItem" ref="bottomEchart2"></div>
    <div class="jilianResourceItem" ref="bottomEchart3"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
export default {
  data() {
    return {
      localDataList:[
        {
          value: 0, name: "在线数"
        },
        {
          value: 0, name: "离线数"
        }
      ],
      downDataList:[
        {
          value: 0, name: "在线数"
        },
        {
          value: 0, name: "离线数"
        }
      ],
      upDataList:[
        {
          value: 0, name: "在线数"
        },
        {
          value: 0, name: "离线数"
        }
      ]
    }
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getBasicData(){
        this.$store.dispatch('getBasicData',{})
        .then(res =>{
              let arr = res.result.current.details;
              this.filterData(arr);
        });
    },
    filterData(arr){
        this.localDataList[0].value = arr.filter(r => r.category.id == "LOCAL_NORMAL")[0].total;
        this.localDataList[1].value = arr.filter(r => r.category.id == "LOCAL_ABNORMAL")[0].total;
        this.downDataList[0].value = arr.filter(r => r.category.id == "DOWN_NORMAL")[0].total;
        this.downDataList[1].value = arr.filter(r => r.category.id == "DOWN_ABNORMAL")[0].total;
        this.upDataList[0].value = arr.filter(r => r.category.id == "UP_NORMAL")[0].total;
        this.upDataList[1].value = arr.filter(r => r.category.id == "UP_ABNORMAL")[0].total;
        this.init(this.localDataList,1,arr.filter(r => r.category.id == "LOCAL_TOTAL")[0].total);
        this.init(this.downDataList,2,arr.filter(r => r.category.id == "DOWN_TOTAL")[0].total);
        this.init(this.upDataList,3,arr.filter(r => r.category.id == "UP_TOTAL")[0].total);
    },
    init(datalist,index,total) {
      // 基于准备好的dom，初始化echarts实例
      if(index == 1){
          var myChart1 = echarts.init(this.$refs.bottomEchart1);
      }else if(index == 2){
          var myChart2 = echarts.init(this.$refs.bottomEchart2);
      }else{
          var myChart3 = echarts.init(this.$refs.bottomEchart3);
      }

      // 指定图表的配置项和数据
      var option = {
        color: ["#f4b74a", "#84dde1"],
        title: {
            zlevel: 0,
            text: [
                '{value|' + total + '}',
                '{name|总数}',
            ].join('\n'),
            rich: {
                value: {
                    color: '#ffffff',
                    fontSize: 20,
                    fontWeight: 'bold',
                    lineHeight: 20,
                },
                name: {
                    color: '#909399',
                    lineHeight: 20
                },
            },
            top: 'center',
            left: '100',
            // right:'center',
            // x:'center',
            // y:'center',
            textAlign: 'center',
            textStyle: {
                rich: {
                    value: {
                        color: '#ffffff',
                        fontSize: 20,
                        fontWeight: 'bold',
                        lineHeight: 20,
                    },
                    name: {
                        color: '#ffffff',
                        lineHeight: 20
                    },
                },
            },
        },
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        series: [
          {
            name: "",
            type: "pie",
            radius: ["40%", "55%"],
            avoidLabelOverlap: false,
            label: {
              show: true
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "14",
                fontWeight: "bold"
              }
            },
            
            labelLine: {
              show: true,
              length: 4,
              // smooth: 0.2,
              length2:4,
              position: "left",
              lineStyle: {
                // color: 各异,
                width: 1,
                type: "solid"
              }
            },
            data: datalist
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      if(index == 1){
          myChart1.setOption(option);
      }else if(index == 2){
          myChart2.setOption(option);
      }else{
          myChart3.setOption(option);
      }
      
    }
  },

  created() {},
  mounted() {
    this.getBasicData();
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/middleware/components/jilianResource.less";
</style>
