<template>
  <div class="timerSelect">
    <el-select size="mini" v-model="value" placeholder="请选择">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      ></el-option>
    </el-select>
  </div>
</template>

<script>

import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      options: [
        {
          value: "D",
          label: "近12小时"
        },
        {
          value: "W",
          label: "近1周"
        },
        {
          value: "M",
          label: "近1月"
        },
        {
          value: "Y",
          label: "近1年"
        }
      ],
      value: "M"
    };
  },
  props: ["timetype","cameratype"] ,
  methods: {
    getData(){
      let params = {
        sort:'HITS',
        timeUnit:this.value,
        topN:5
      }
      this.$store.dispatch("getBySource",params)
    },
    ...mapMutations([]) },

  created() {},
  mounted() {},
  
  watch: {
      value(){
        this.getData();
        this.$emit('changeNodeByTime', this.value);

      }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scpoed>
.timerSelect {
  width: 100%;
  height: 100%;
}
</style>
<style lang="less">
.timerSelect {
  .el-input__inner {
      background: #173b77;
      border: 1px solid #59bbd3;
      color: white;
  }
}
</style>
