<template>
  <div class="timerSelect">
    <el-select size="mini" v-model="value" placeholder="请选择">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      ></el-option>
    </el-select>
  </div>
</template>

<script>

import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      options: [
       
        {
          value: "W",
          label: "近7天"
        },
        {
          value: "M",
          label: "近1个月"
        },
        {
          value: "Y",
          label: "近1年"
        }
      ],
      value: "M"
    };
  },
  props: ["timetype","cameratype"] ,
  methods: {
    
    ...mapMutations([]) },

  created() {},
  mounted() {},
  
  watch: {
      value(){
          this.$store.commit("DATE_CHANGE_FAULT_STATISTICS",this.value);
          this.$emit('changeNode', this.value);
      }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scpoed>
.timerSelect {
  width: 100%;
  height: 100%;
}
</style>
<style lang="less">
.timerSelect {
  .el-input__inner {
      background: #173b77;
      border: 1px solid #59bbd3;
      color: white;
  }
}
</style>
