<template>
  <div class="cameraTop">
    <el-table :data="getBySource.current.details" :highlight-current-row="false">
      <el-table-column
        width="120"
        :show-overflow-tooltip="true"
        align="center"
        label="排名"
        type="index"
        
      >
        <template slot-scope="scope">
          <div :class="scope.$index==0?['sortCard']:scope.$index==1?['sortCard']:scope.$index==2?['sortCard']:'sortCard_radius'" @click="test(scope.row)">
            <img v-if="scope.$index==0" :src="require('../../../assets/images/middleware/diyi@2x.png')" alt="">
            <img v-if="scope.$index==1" :src="require('../../../assets/images/middleware/dier@2x.png')" alt="">
            <img v-if="scope.$index==2" :src="require('../../../assets/images/middleware/disan@2x.png')" alt="">
            <span v-if="scope.$index>2">{{ scope.$index }}</span>
          </div>

          <!-- <div :class="scope.row.paiming==1?['sortCard']:scope.row.paiming==2?['sortCard']:scope.row.paiming==3?['sortCard']:'sortCard_radius'" @click="test(scope.row)">
            <img v-if="scope.row.paiming==1" :src="require('../../../assets/images/middleware/diyi@2x.png')" alt="">
            <img v-if="scope.row.paiming==2" :src="require('../../../assets/images/middleware/dier@2x.png')" alt="">
            <img v-if="scope.row.paiming==3" :src="require('../../../assets/images/middleware/disan@2x.png')" alt="">
            <span v-if="scope.row.paiming>3">{{ scope.row.paiming }}</span>
          </div>  -->
        </template>
      </el-table-column>
      <el-table-column
        :show-overflow-tooltip="true"
        prop="category.displayValue"
        align="center"
        label="调用方系统"
      ></el-table-column>
      <el-table-column
        :show-overflow-tooltip="true"
        prop="hits"
        align="center"
        label="次数"
      ></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      promptInfoList: [
        {
          paiming: 1,
          lnglat: "环湖西路152号",
          zuzhi: "1025",
          time: 2
        },
        {
          paiming: 2,
          lnglat: "环湖西路152号",
          zuzhi: "951",
          time: 2
        },
        {
          paiming: 3,
          lnglat: "环湖西路152号",
          zuzhi: "845",
          time: 2
        },
        {
          paiming: 4,
          lnglat: "环湖西路152号",
          zuzhi: "815",
          time: 2
        },
        {
          paiming: 5,
          lnglat: "环湖西路152号",
          zuzhi: "795",
          time: 2
        }
      ]
    };
  },
  props: [],
  methods: {
    getData(){
      let params = {
        sort:'HITS',
        timeUnit:'Y',
        topN:5
      }
      this.$store.dispatch("getBySource",params)
    },
    test(da){
      console.log(da)
    },

    ...mapMutations([]) },

  created() {
    this.getData();
  },
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      getBySource:state => state.middlewareDashboard.getByTime

    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.cameraTop {
  width: 100%;
  height: 100%;
  //   background: burlywood;
}
.sortCard {
 width: 100%;
  height: 22px;
  font-size: 10px;
  line-height: 26px;
  text-align: left;
//   background: burlywood;
}

.sortCard_radius{
    width: 22px;
    height: 22px;

}
</style>
<style lang="less">
.cameraTop {
  .el-table .warning-row {
    background: #102a56;
  }

  .el-table .success-row {
    background: #102a56;
  }
  .el-table th,
  .el-table tr {
    background: #102a56;
  }
  .el-table__row:hover > td {
    background-color: transparent !important;
  }

  .el-table__row--striped:hover > td {
    background-color: transparent !important;
  }

  .el-table th.is-leaf {
    // border: none;
  }
  .el-table::before {
    content: none;
  }
  .el-table thead {
    color: #4dc3d7;
  }
  .el-table thead tr th {
    border-bottom: 0.5px solid #153a76;
  }
  .el-table {
    color: white;
  }
  .el-table__empty-block {
    background: #102a56;
  }
  //  .el-table__header`
  .el-table .el-table__row td {
    border: none;
    padding: 8px;
  }
}
</style>
