<template>
    <div class="randingContainer">
        <div class="leftBox">
            <div class="listItem" v-for="(item,index) in getByDurationfourth" :key="item.durations">
                <img v-if="index == 0" class="imgRanking" src="../../../assets/images/middleware/1@2x.png">
                <img v-if="index == 1" class="imgRanking" src="../../../assets/images/middleware/2@2x.png">
                <img v-if="index == 2" class="imgRanking" src="../../../assets/images/middleware/3@2x.png">
                <img v-if="index == 3" class="imgRanking" src="../../../assets/images/middleware/4@2x.png">
                <span class="name">{{item.category.displayValue}}</span>
                <span class="time">{{item.durations}}分钟</span>
            </div>
            <!-- <div class="listItem">
                <img class="imgRanking" src="../../../assets/images/middleware/2@2x.png">
                <span class="name">城市大脑3.0</span>
                <span class="time">城市大脑3.0</span>
            </div>
            <div class="listItem">
                <img class="imgRanking" src="../../../assets/images/middleware/3@2x.png">
                <span class="name">城市大脑3.0</span>
                <span class="time">城市大脑3.0</span>
            </div>
            <div class="listItem">
                <img class="imgRanking" src="../../../assets/images/middleware/4@2x.png">
                <span class="name">城市大脑3.0</span>
                <span class="time">城市大脑3.0</span>
            </div> -->
        </div>
        <div class="rightBox" v-if="getByDurationOther.length > 0">
             <div class="listItem" v-for="(item) in getByDurationOther" :key="item.durations">
                <img class="imgRanking" src="../../../assets/images/middleware/6@2x.png">
                <span class="name">{{item.category.displayValue}}</span>
                <span class="time">{{childtype}}分钟</span>
            </div>
            
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{

        }
    },
    created(){
        this.getData();
    },
    mounted(){

    },
    methods:{
        getData(){
            let params = {
                sort:'DURATIONS',
                timeUnit:'Y',
                topN:10
            }
            this.$store.dispatch("getBySource",params)
        },
    },
    computed:{
        ...mapState({
            getByDurationfourth:state => state.middlewareDashboard.getByDurationfourth,
            getByDurationOther:state => state.middlewareDashboard.getByDurationOther

            
        })
    }
}
</script>

<style lang='less' scoped>
    .randingContainer{
        height: 100%;
        width: 100%;
        // background: chocolate;
        box-sizing: border-box;
        padding: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .rightBox{
            height: 100%;
            width: 49%;
            // background: brown;
            display: flex;
            flex-direction: column;
            border: 0.5px solid #A5F1EC;
            .listItem{
                width: 100%;
                height: 16.6%;
                display: flex;
                flex-direction: row;
                align-items: center;
                background:url('../../../assets/images/middleware/6@2xbg.png');
                box-sizing: border-box;
                padding: 0 15px;
                position: relative;
                background-size: 100% 100%;
                
                .imgRanking{
                    height: 80%;
                    // width: 15%;
                    // background: yellow;
                    background-size: 100% 100%;
                }
                .name{
                    color: white;
                    margin-left: 1rem;
                }
                .time{
                    position: absolute;
                    right: 2rem;
                    color: #A5F1EC;
                }
            }
        }
        .leftBox{
            height: 100%;
            width: 49%;
            // background: brown;
            display: flex;
            flex-direction: column;
            border: 0.5px solid #A5F1EC;

            .listItem{
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: row;
                align-items: center;
                background:url('../../../assets/images/middleware/1@2xbg.png');
                box-sizing: border-box;
                padding: 0 15px;
                position: relative;
                background-size: 100% 100%;
                
                .imgRanking{
                    height: 80%;
                    width: 15%;
                    // background: yellow;
                    background-size: 100% 100%;
                }
                .name{
                    color: white;
                    margin-left: 1rem;
                }
                .time{
                    position: absolute;
                    right: 2rem;
                    color: #EA9796;
                }
            }
            .listItem:nth-child(2){
                background:url('../../../assets/images/middleware/2@2xbg.png');
                background-size: 100% 100%;

                .time{
                    // position: absolute;
                    // right: 2rem;
                    color: #F8DD9F;
                }
            }
            .listItem:nth-child(3){
                background:url('../../../assets/images/middleware/3@2xbg.png');
                background-size: 100% 100%;

                .time{
                    color: #91A3F2;
                }
            }
            .listItem:nth-child(4){
                background:url('../../../assets/images/middleware/4@2xbg.png');
                background-size: 100% 100%;

                .time{
                    color: #957FFF;
                }
            }
            

        }
    }
</style>