<template>
    <div class="videoConcatbg" style="width:100%;height:100%;position:relative">
        <div class="videoConcat" ref="piechart3d"></div>
        <div class="hideIcon"></div>
    </div>
  
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";
am4core.useTheme(am4themes_animated);
export default {
  data() {
    return {
      chart: null,
      dataList:[
        {
          country: "国标接入量",
          litres: 0,
          color:am4core.color('#279daa')
        },
        {
          country: "URL接入量",
          litres: 0,
          color:am4core.color('#7bc7ed')
        },
        {
          country: "地标接入量",
          litres: 0,
          color:am4core.color('#f5b64a')
        },
        {
          country: "其他接入量",
          litres: 0,
          color:am4core.color('#ee7e37')
        },
       
      ]
    };
  },
  props: [],
  methods: {
    filterData(arr){
        console.log(arr)
        this.dataList[0].litres = arr.filter(r => r.category.id == 'GB_REG')[0].total;
        this.dataList[1].litres = arr.filter(r => r.category.id == 'URL')[0].total;
        this.dataList[2].litres = arr.filter(r => r.category.id == 'ONVIF')[0].total;
        this.dataList[3].litres = arr.filter(r => r.category.id == 'OTHER')[0].total;
        this.drawEchart(this.dataList);
    },
    drawEchart(dataList){
        //   let that = this
        // am4core.ready(function () {
          var chart = am4core.create(this.$refs.piechart3d, am4charts.PieChart3D);
          chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

          chart.data = dataList;

          chart.innerRadius = am4core.percent(40);
          chart.depth = 140;
          chart.angle = 50;
        //   chart.legend = new am4charts.Legend();

          var series = chart.series.push(new am4charts.PieSeries3D());
        //   series.colors.list = [
        //     core.color('#845EC2'),
        //     core.color('#D65DB1'),
        //     core.color('#FF6F91'),
        //     core.color('#FF9671'),
        //   ];
          series.dataFields.value = "litres";
          series.dataFields.depthValue = "litres";
          series.dataFields.category = "country";
          series.slices.template.cornerRadius = 5;
          series.colors.step = 3;
          series.ticks.template.disabled = true;
          series.labels.template.disabled = true;
          series.legendSettings.valueText = "{valueY.close}";
          series.slices.template.propertyFields.fill = "color";
          
          



          chart.legend = new am4charts.Legend();
          chart.legend.position = "right";
          chart.legend.labels.template.text = "[bold {color}]{name}";
        //   chart.legend.color = "#fff";

          
            console.log(chart.legend.labels.template)
          this.chart = chart;
        // });
    },
    getBasicData(){
        this.$store.dispatch('getBasicData',{})
        .then(res =>{
              let arr = res.result.current.details;
              this.filterData(arr);
        });
    },
    
    ...mapMutations([]) },

  created() {},
  mounted() {
    this.getBasicData();
  },
  watch: {
      basicData(){
          console.log(basicData);
      }
  },
  computed: {
    ...mapState({
        basicData:state => state.middlewareDashboard.basicData
    }),

    ...mapGetters([])
  },
  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/middleware/components/videoConcat.less";
</style>
