<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
    >
      <div class="title-container">
        <h3 class="title">智能居家养老后台管理系统</h3>
      </div>

      <el-form-item prop="username">
        <img src="@/assets/images/deviceInput/name.png" alt="" />
        <el-input
          v-model="loginForm.username"
          placeholder="请输入用户名"
          name="username"
          type="text"
          auto-complete="on"
        />
      </el-form-item>

      <el-form-item prop="password">
        <img src="@/assets/images/deviceInput/password.png" alt="" />
        <el-input
          :type="pwdType"
          v-model="loginForm.pwd"
          placeholder="请输入密码"
          name="password"
          auto-complete="on"
          @keyup.enter.native="handleLogin"
        />
      </el-form-item>

      <el-button
        :loading="diLoginLoading"
        type="primary"
        style="width: 100%; margin-bottom: 30px"
        @click.native.prevent="handleLogin"
      >
        确定
      </el-button>
    </el-form>
  </div>
</template>
<script>
import { isvalidUsername } from "../../../utils/rules";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!isvalidUsername(value)) {
        callback(new Error("用户名有误"));
      } else {
        callback();
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 3) {
        callback(new Error("密码有误"));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: "",
        pwd: ""
      },
      loginRules: {
        username: [
          { required: true, trigger: "blur", validator: validateUsername }
        ],
        pwd: [{ required: true, trigger: "blur", validator: validatePassword }]
      },
      loading: false,
      pwdType: "password",
      redirect: "/"
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    init() {
      let redirect = this.$route.query.redirect;
      console.log("redirect", redirect);
      if (redirect) {
        this.redirect = redirect;
      }
    },
    showPwd() {
      if (this.pwdType === "password") {
        this.pwdType = "";
      } else {
        this.pwdType = "password";
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          this.$store.dispatch("getlrMenuList", this.loginForm);
          // this.$store.dispatch('user/login', this.loginForm).then(() => {
          //   this.loading = false
          //   this.$router.push({ path: this.redirect })
          // }).catch((err) => {
          //   console.log(err)
          //   this.loading = false
          // })
        } else {
          return false;
        }
      });
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("getDImenuList");
    this.init();
  },
  watch: {},
  computed: {
    ...mapState({
      diLoginLoading: (state) => state.deviceInput.diLoginLoading
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@bg: #4ea6c7;
@light_gray: #eee;
@cursor: #fff;
.el-input /deep/ .el-input__inner {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.login-container {
  background-color: #344052;
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
    margin-left: 55px;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: @light_gray;
      height: 47px;
      caret-color: @cursor;
      font-size: 16px;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px @bg inset !important;
        -webkit-text-fill-color: @cursor !important;
      }
    }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
@bg: #3492b8;
@dark_gray: #889aa4;
@light_gray: #eee;

.login-container {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  .login-form {
    position: relative;
    width: 560px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .title-container {
    position: relative;
    .title {
      font-size: 46px;
      color: @light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
    .set-language {
      color: #fff;
      position: absolute;
      top: 5px;
      right: 0px;
    }
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: @dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }
}
</style>
