<template>
  <div class="home">

    <div class="head">
      <el-row>
          <el-col :span="8" style="padding:0">
              <span class="sp">经营地址:</span>
              <el-input v-model="params.address" class="content_input" placeholder="请输入经营地址"></el-input>
          </el-col>
          <el-col :span="8" style="padding:0">
              <span class="sp">单位名称:</span>
              <el-input v-model="params.name" class="content_input" placeholder="请输入单位名称"></el-input>
          </el-col>
          <el-col :span="8" style="padding:0">
              <span class="sp">经营范围:</span>
              <el-input v-model="params.scope" class="content_input"></el-input>
          </el-col>
         
      </el-row>

      <el-row>
          <!-- <el-col :span="6">
              <span class="sp">人员类别:</span>
              <template>
                <el-select v-model="value" placeholder="请选择" class="select">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </template>
                 
          </el-col> -->
          <el-col :span="8">
              <span class="sp">负责人:</span>
              <el-input v-model="params.owner" class="content_input" placeholder="请输入负责人姓名"></el-input>
          </el-col>
          <el-col :span="8">        
              <span class="sp">消防负责人:</span>
              <el-input v-model="params.fireFightingPerson" class="content_input"></el-input>        
          </el-col>
          <el-col :span="8">
              <span class="sp">开业时间:</span>
              <el-date-picker
                v-model="openTime"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                class="timepicker"
                value-format="yyyy-MM-dd"
                >
              </el-date-picker>
          </el-col>
      </el-row>
      <el-row >
       <el-col :span="8">        
              <span class="sp">录入人:</span>
              <el-input v-model='params.createrUserName' class="content_input"></el-input>        
          </el-col>
        <el-col :span="8">
          <span class="sp">录入时间:</span>
              <el-date-picker
                v-model="entryTime"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                class="timepicker"
                value-format="yyyy-MM-dd"
                >
              </el-date-picker>
        </el-col>
        <el-col :span="6" style="align-items:center">
           <div class="btn_group"><el-button class="btn_serach" type="primary" @click="searchCompany">查询</el-button>
            <el-button class="btn_serach" @click="resetForm()">重置</el-button></div>
        </el-col>
        

        
      </el-row>
     
     <!-- <el-button class="btn_serach" type="primary">查询</el-button> -->
    </div>
    <div class="body_content">
      <div class="aaa">
        <span class="title_form">数据列表</span>
        <div class="btn_group">
          <!-- <el-button plain class="export" @click="corporationExport">导出</el-button>
          
          <el-upload
            class="upload-demo"
            :action="`${uploadPrefix}/url/basicdata/backend/corporation/import`"
            :limit="1"
            :show-file-list='false'
            :headers="headers"
            :accept="fileType"
            :on-success="uploadSuccess">
            <el-button plain>导入</el-button>
          </el-upload> -->
          <!-- <el-button plain @click="corporationImport">导入</el-button> -->
          <el-button type="primary" @click="add('add','')">+添加</el-button>
        </div>
      </div>

      <el-table
        :data="companyList"
        border
        class="table"
        stripe
        align="center"
      >
      <el-table-column
        prop="address"
        label="经营地址"
        align="center"
        >
      </el-table-column>

      <el-table-column
        prop="name"
        label="单位名称"
        align="center"
        >
      </el-table-column>

      <el-table-column
        prop="owner"
        label="负责人"
        align="center"
        >
      </el-table-column>

      <el-table-column
        prop="fireFightingPerson"
        label="消防负责人"
        align="center"
        >
      </el-table-column>

      <el-table-column
        prop="createrUserName"
        label="录入人"
        align="center"
        >
      </el-table-column>

      <el-table-column
        prop="lastUpdateTime"
        label="录入时间"
        align="center"
        >
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        >
        <template slot-scope="scope">
          <el-button @click="add('edit',scope.row.corporationUrn)" type="text" size="small">
              <i class="el-icon-edit-outline"></i> 编辑
            </el-button>
          <el-button type="text" size="small" @click.native.prevent="deleteCompany(scope.row,scope.$index)">
              <i class="el-icon-delete"></i>删除
            </el-button>
          <el-button type="text" size="small" @click="looklook(scope.row.corporationUrn)">
              <i class="el-icon-document"></i>查看
            </el-button>

        </template>
      </el-table-column>
      </el-table>

      <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.page"
          :page-size="params.limit"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="companyTotalcount">
      </el-pagination>
    </div>
    
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      
      params:{
        page:1,
        limit:10,
        address:'',//地址
        name:'',//名称
        scope:'',//经营范围
        owner:'',//负责人
        fireFightingPerson:'',
        openTimeStart:'',
        openTimeEnd:'',
        createrUserName:'',
        entryTimeStart:'',
        entryTimeEnd:''
      },
      openTime:[],
      entryTime:[],
      headers: {
          token: this.$ls.get('token')
      },
      fileType: '.xls, .xlsx',
    };
  },
  methods: {
     ...mapMutations([]),
     handleClick(item){
       item;
      //  this.$router.push('/personaldetail');
     },
     add(data,urn){
       if(data=='add'){
         this.$router.push(`/addCompanyForm?type=${data}`);
       }else{
         this.$router.push(`/addCompanyForm?type=${data}&urn=${urn}`);
       }
     },
     looklook(urn){
       this.$router.push(`/singleCompany?urn=${urn}`);
     },
     handleCurrentChange(val){
       this.params.page = val
       this.$store.dispatch('districtCorporationList',this.params)
     },
    searchCompany(){
        [this.params.openTimeStart,this.params.openTimeEnd] = this.openTime;
        [this.params.entryTimeStart,this.params.entryTimeEnd] = this.entryTime;
        this.$store.dispatch('districtCorporationList',this.params)
    },
    resetForm(){
      this.params = {
        page:1,
        limit:10,
        address:'',//地址
        name:'',//名称
        scope:'',//经营范围
        owner:'',//负责人
        fireFightingPerson:'',
        openTimeStart:'',
        openTimeEnd:'',
        createrUserName:'',
        entryTimeStart:'',
        entryTimeEnd:''
      }
      this.openTime = []
      this.entryTime = []
      this.$store.dispatch('districtCorporationList',this.params)
    },
    deleteCompany(item,index){
      this.$confirm('此操作将删除此项, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('corporationDelete',{urn:item.corporationUrn},index)
          
          // this.$store.dispatch('districtCorporationList',this.params)
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
      });
    },
    corporationExport(){
      this.$store.dispatch('corporationExport',this.params)
    },
    uploadSuccess(item){
      if(item.code ==200){
        this.$store.dispatch('districtCorporationList',this.params)
        this.$message({
          type:'success',
          message:'上传成功'
        })
      }
    }
  },

  mounted() {
    this.$store.dispatch('districtCorporationList',this.params)
  },
  watch: {},
  computed: { ...mapState({
    uploadPrefix: function() {
        return process.env.VUE_APP_UPLOAD_PREFIX;
    },
    companyList:state=>state.company.companyList,
    companyTotalcount:state=>state.company.companyTotalcount
  }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less' scoped>
.el-main{
  background:#e9eef4;
  
}
.home{
  height: auto;
  width: 100%;
  background:#e9eef4;
  overflow: auto;
  box-sizing: border-box;

}
.head{
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  box-sizing: border-box;
}
.sp{
  height: 60px;
  width: 20%;
  line-height: 60px;
  margin-left: 20px;
  text-align: right;
  display: inline-block;
}
.content_input{
  height: 60px;
  width: 60%;
  margin-left: 20px;
  line-height: 60px;
  box-sizing: border-box;
}
.btn_serach {
  margin-left:20px;
  width: 100px;
  
}
.body_content{
  width:100% ;
  height: 100%;
  background-color: white;
  margin-top: 10px;
  
}
.aaa{
  height: 80px;
  width: 100%;
  
  display: flex;
  justify-content : space-between;
}
.title_form{
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
  height: 100%;
  line-height: 80px;
}
.btn_group{
  height: 60px;
  width: 300px;
  padding-left: 130px;
  display:flex ;
  align-items : center
}
.export{
  margin-right: 10px;
}
.upload-demo{
  margin-right: 10px;
}
.table{
  margin-left: 15px;
  margin-top: 10px;
  width: 98%;
  height: auto;
  
  
}
.fystyle{
  // margin-left: 15px;
  margin-top: 15px;
}
.el-pagination {
    text-align: center;
    padding-bottom: 15px; 
}
.timepicker{
  margin-left: 20px;
}
.select{
  margin-left: 20px;
}
.el-date-editor--datetimerange.el-input__inner{
    width: 315px;
}
</style>