<template>
  <div class="bg">
    <div class="container">
      <div class="header">
        <span class="sp">新增企业信息</span>
      </div>
      <div class="line"></div>
      <span class="sp_basicInfoTitle">基础信息</span>
      <el-form label-width="150px" :rules="rules" ref="from" :model="form" class="form">
        <el-form-item label="经营地址:" prop="roomUrn" v-if="$route.query.type == 'edit'">
          <el-select
            v-model="form.address"
            filterable
            remote
            reserve-keyword
            placeholder="请搜索经营地址"
            :remote-method="remoteMethod"
            :loading="loading"
          >
            <el-option
              v-for="item in roomInfo"
              :key="item.roomUrn"
              :label="item.address"
              :value="item.roomUrn"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="经营地址:" prop="roomUrn" v-if="!($route.query.type == 'edit')">
          <el-select
            v-model="form.roomUrn"
            filterable
            remote
            reserve-keyword
            placeholder="请搜索经营地址"
            :remote-method="remoteMethod"
            :loading="loading"
          >
            <el-option
              v-for="item in roomInfo"
              :key="item.roomUrn"
              :label="item.address"
              :value="item.roomUrn"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="单位名称:" prop="name">
          <el-input v-model="form.name" placeholder="请填写单位名称"></el-input>
        </el-form-item>

        <el-form-item label="统一社会信用代码:" prop="creditCode">
          <el-input v-model="form.creditCode"></el-input>
        </el-form-item>

        <el-form-item label="法人姓名:" prop="juridicalPerson">
          <el-input v-model="form.juridicalPerson" placeholder="请填写法人姓名"></el-input>
        </el-form-item>
        <el-form-item label="法人联系方式:" prop="juridicalPersonPhone">
          <el-input v-model="form.juridicalPersonPhone" placeholder="请填写法人联系方式"></el-input>
        </el-form-item>
        <el-form-item label="负责人姓名:" prop="owner">
          <el-input v-model="form.owner" placeholder="请填写负责人姓名"></el-input>
        </el-form-item>
        <el-form-item label="负责人联系方式:" prop="phone">
          <el-input v-model="form.phone" placeholder="请填写负责人联系方式"></el-input>
        </el-form-item>
        <el-form-item label="消防负责人姓名:" prop="fireFightingPerson">
          <el-input v-model="form.fireFightingPerson" placeholder="请填写消防负责人姓名"></el-input>
        </el-form-item>
        <el-form-item label="消防负责人联系方式:" prop="fireFightingNumber">
          <el-input v-model="form.fireFightingNumber" placeholder="请填写消防负责人联系方式"></el-input>
        </el-form-item>

        <el-form-item label="开业时间:" prop="openTime">
          <el-date-picker v-model="form.openTime" type="date" value-format="yyyy-MM-dd"></el-date-picker>
        </el-form-item>
        <el-form-item label="经营范围:" prop="scope">
          <el-input v-model="form.scope" placeholder="请填写经营范围"></el-input>
        </el-form-item>
        <!-- <el-form-item label="房间数:" prop="num" v-if="$route.query.page=='lvguan'||$route.query.page=='minsu'">
                    <el-input v-model="form.num"></el-input>
        </el-form-item>-->
        <!-- <el-form-item label="坐标:">
          <el-tooltip class="item" effect="dark" content="跳转页面将选好的坐标复制回填" placement="bottom">
            <el-input v-model="lngLat"></el-input>
          </el-tooltip>
          <el-button
            type="primary"
            style="margin-left:15px"
            @click="gotoGaode"
            icon="el-icon-location-outline"
          >标记坐标</el-button>
        </el-form-item> -->
        <el-form-item label="录入人:" prop="createrUserName">
          <el-input v-model="form.createrUserName"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary">
            <span class="submitBtn" @click="submitForm('from')">提交</span>
          </el-button>
          <el-button>
            <span class="submitBtn" @click="resetForm('from')">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
      <!-- <addressDialog :dialogFormVisible = 'visible'></addressDialog> -->
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
// import addressDialog from '../people/pop/addressDialog.vue'
export default {
  data() {
    return {
      visible: false,
      form: {
        name: "",
        roomUrn: "",
        creditCode: "",
        juridicalPerson: "",
        juridicalPersonPhone: "",
        owner: "",
        phone: "",
        fireFightingPerson: "",
        fireFightingNumber: "",
        openTime: "",
        scope: "",
        num: "",
        // lat: "",
        // lng: "",
        createrUserName: ""
      },
      rules: {
        name: [{ required: true, message: "请输入单位名称", trigger: "blur" }],
        roomUrn: [{ required: true ,message: "请输入经营地址", trigger: "blur" }],
        creditCode: [{ required: false }],
        juridicalPerson: [
          { required: false, message: "请输入法人姓名", trigger: "blur" }
        ],
        juridicalPersonPhone: [
          { required: false, message: "请输入法人联系方式", trigger: "blur" },
          {
            pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,
            message: "请输入正确的联系方式格式",
            trigger: "blur"
          }
        ],
        owner: [{ required: false }],
        phone: [
          { required: false, message: "请输入负责人联系方式", trigger: "blur" },
          {
            pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,
            message: "请输入正确的联系方式格式",
            trigger: "blur"
          }
        ],
        fireFightingPerson: [{ required: false }],
        openTime: [{ required: false }],
        scope: [{ required: false }],
        num: [{ required: false }],
        createrUserName: [{ required: false }]
      },
      // lngLat: "",
      loading: false
    };
  },
  methods: {
    handleRemove(file, fileList) {
      file;
      fileList;
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },

    bindAddress() {
      //地址绑定
      this.$store.dispatch("findRooms", { text: this.form.roomUrn });
    },
    submitForm(formName) {
      // [this.form.lng, this.form.lat] = this.lngLat.split(",");
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.$route.query.type == "add") {
            this.$store.dispatch("addCompany", this.form);
          } else {
            this.$store.dispatch("updateCompany", this.form);
          }
        } else {
          this.$message({
            type: "warning",
            message: "请填写必填项"
          });
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      // this.lngLat = "";
    },
    remoteMethod(query) {
      if (query !== "") {
        this.$store.dispatch("findRooms", { text: query });
      } else {
        this.$store.commit("GET_ROOMS_DATA", []);
      }
    },
    gotoGaode() {
      open("https://lbs.amap.com/console/show/picker");
    }
  },
  created() {
    this.$nextTick(() => {
      if (this.$route.query.type == "edit") {
        this.$store.dispatch("singleCompany", { urn: this.$route.query.urn });
        setTimeout(() => {
          this.form = { ...this.singleCompanyInfo };
          // if (
          //   this.singleCompanyInfo.lng !== null &&
          //   this.singleCompanyInfo.lat !== null
          // ) {
          //   this.lngLat = `${this.singleCompanyInfo.lng},${this.singleCompanyInfo.lng}`;
          // }
        }, 1000);
      }
    });
  },
  mounted() {},
  computed: {
    ...mapState({
      roomInfo: state => state.company.roomInfo,
      singleCompanyInfo: state => state.company.singleCompanyInfo
    })
  },
  components: {
    // 'addressDialog':addressDialog
  }
};
</script>
<style  scoped>
.bg {
  background-color: #e9eef4;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.container {
  background: white;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  /* background: red; */
  align-items: center;
}
.sp {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}
.line {
  width: 100%;
  background: #e0e0e0;
  height: 0.7px;
}
.form {
  margin-top: 20px;
  margin-left: 200px;
}
.el-input {
  width: 350px;
}
.el-select {
  width: 350px;
}
.sp_basicInfoTitle {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.submitBtn {
  padding: 0 30px;
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
