<template>
  <div class="bg">
    <div class="container">
      <div class="header">
        <span class="sp">新增企业信息</span>
      </div>
      <div class="line"></div>
      <span class="sp_basicInfoTitle">基础信息</span>
      <el-form label-width="150px" :rules="rules" ref="from" :model="form" class="form">
        <el-form-item label="经营地址:">
          <el-input v-model="form.address" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="单位名称:" prop="name">
          <el-input v-model="form.name" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="统一社会信用代码:" prop="creditCode">
          <el-input v-model="form.creditCode" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="法人姓名:" prop="juridicalPerson">
          <el-input v-model="form.juridicalPerson" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="法人联系方式:" prop="juridicalPersonPhone">
          <el-input v-model="form.juridicalPersonPhone" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="负责人姓名:" prop="owner">
          <el-input v-model="form.owner" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="负责人联系方式:" prop="phone">
          <el-input v-model="form.phone" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="消防负责人姓名:" prop="fireFightingPerson">
          <el-input v-model="form.fireFightingPerson" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="消防负责人联系方式:" prop="fireFightingNumber">
          <el-input v-model="form.fireFightingNumber" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="开业时间:" prop="openTime">
          <el-date-picker :disabled="true" v-model="form.openTime" type="date" value-format="yyyy-MM-dd"></el-date-picker>
        </el-form-item>
        <el-form-item label="经营范围:" prop="scope">
          <el-input v-model="form.scope" :disabled="true"></el-input>
        </el-form-item>
        <!-- <el-form-item label="房间数:" prop="num" v-if="$route.query.page=='lvguan'||$route.query.page=='minsu'">
                    <el-input v-model="form.num"></el-input>
        </el-form-item>-->
        <!-- <el-form-item label="坐标:">
          <el-tooltip class="item" effect="dark" content="跳转页面将选好的坐标复制回填" placement="bottom">
            <el-input v-model="lngLat" :disabled="true"></el-input>
          </el-tooltip>
        </el-form-item>
        <el-form-item label="录入人:" prop="createrUserName">
          <el-input v-model="form.createrUserName" :disabled="true"></el-input>
        </el-form-item> -->
      </el-form>
      <!-- <addressDialog :dialogFormVisible = 'visible'></addressDialog> -->
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
// import addressDialog from '../people/pop/addressDialog.vue'
export default {
  data() {
    return {
      visible: false,
      form: {
        name: "",
        address: "",
        creditCode: "",
        juridicalPerson: "",
        juridicalPersonPhone: "",
        owner: "",
        phone: "",
        fireFightingPerson: "",
        fireFightingNumber: "",
        openTime: "",
        scope: "",
        num: "",
        lat: "",
        lng: "",
        createrUserName: ""
      },
      rules: {
        name: [{ required: true, message: "请输入单位名称", trigger: "blur" }],
        address: [{ required: false }],
        creditCode: [{ required: false }],
        juridicalPerson: [
          { required: true, message: "请输入法人姓名", trigger: "blur" }
        ],
        juridicalPersonPhone: [
          { required: true, message: "请输入法人联系方式", trigger: "blur" },
          {
            pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,
            message: "请输入正确的联系方式格式",
            trigger: "blur"
          }
        ],
        owner: [{ required: false }],
        phone: [
          { required: true, message: "请输入负责人联系方式", trigger: "blur" },
          {
            pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,
            message: "请输入正确的联系方式格式",
            trigger: "blur"
          }
        ],
        fireFightingPerson: [{ required: false }],
        openTime: [{ required: false }],
        scope: [{ required: false }],
        num: [{ required: false }],
        createrUserName: [{ required: false }]
      },
      lngLat: "",
      loading: false
    };
  },
  methods: {
    handleRemove(file, fileList) {
      file;
      fileList;
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },

    bindAddress() {
      //地址绑定
      this.$store.dispatch("findRooms", { text: this.form.address });
    },
    remoteMethod(query) {
      if (query !== "") {
        this.$store.dispatch("findRooms", { text: query });
      } else {
        this.$store.commit("GET_ROOMS_DATA", []);
      }
    },
    gotoGaode() {
      open("https://lbs.amap.com/console/show/picker");
    }
  },
  created() {
    this.$nextTick(() => {
      this.$store.dispatch("singleShop", { urn: this.$route.query.urn });
      setTimeout(() => {
        this.form = { ...this.singleShopInfo };
      }, 1000);
    });
  },
  mounted() {},
  computed: {
    ...mapState({
      roomInfo: state => state.company.roomInfo,
      singleShopInfo: state => state.company.singleShopInfo
    })
  },
  components: {
    // 'addressDialog':addressDialog
  }
};
</script>
<style  scoped>
.bg {
  background-color: #e9eef4;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.container {
  background: white;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  /* background: red; */
  align-items: center;
}
.sp {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}
.line {
  width: 100%;
  background: #e0e0e0;
  height: 0.7px;
}
.form {
  margin-top: 20px;
  margin-left: 200px;
}
.el-input {
  width: 350px;
}
.el-select {
  width: 350px;
}
.sp_basicInfoTitle {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.submitBtn {
  padding: 0 30px;
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
