<template>
  <el-container>
    <el-header>
      <div style="display:flex">
        <span style="line-height:40px">输入小区</span>
        <el-input v-model="wastes.villageName" style="width:200px;margin-left:10px"></el-input>
        <el-button type="primary" @click="searchWaste()" style="margin-left:10px">查询</el-button>
      </div>
    </el-header>
    <el-main>
        <div class="caseText">案件列表</div>
        <el-table 
            :data="wasteList"
            border
            style="width: 100%">
            <el-table-column
            align="center"
            prop="name"
            label="案件类别"
            width="180">
            </el-table-column>
            <el-table-column
            align="center"
            prop="address"
            label="案件地址"
            width="180">
            </el-table-column>
            <el-table-column
            align="center"
            prop="handleUserName"
            label="处置人">
            </el-table-column>
             <el-table-column
             align="center"
            prop="handleTime"
            label="处置时间">
            </el-table-column>
             <el-table-column
             align="center"
            label="上传照片">
             <template slot-scope="scope"> 
              <el-image style="width: 100px; height: 100px" v-if="scope.row.handlerImages" :src="scope.row.handlerImages[0].url"></el-image>
             </template> 
            </el-table-column>
             <el-table-column
             align="center"
            prop="option"
            label="操作">
             <template slot-scope="scope">
                <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
                <el-button type="primary" @click="del(scope.row)">删除</el-button>
            </template>
            </el-table-column>
        </el-table>
    </el-main>
    <!-- 分页 -->
        <el-pagination
          @current-change="handleChange"
          background
          :current-page="wastes.page"
          :page-size="wastes.limit"
          layout="prev, pager, next"
          :total="totalPage"
        ></el-pagination>
    <!-- 操作弹出框 -->
    <el-dialog
            title="操作"
            :visible.sync="editDialogVisiual"
            width="30%"
            center>
                <el-form  :model="editObj" label-width="80px">
                        <el-form-item label="处置人">
                            <el-input v-model="editObj.handlerUserName"></el-input>
                        </el-form-item>
                        <el-form-item label="处置时间">
                            <el-input v-model="editObj.handleTime"></el-input>
                        </el-form-item>
                        <el-form-item label="上传照片">
                           <el-upload
                          action=""
                          list-type="picture-card"
                          :auto-upload="true"
                          :http-request="uploadImage"
                          :limit="1"
                         >
                          <i class="el-icon-plus"></i>
                        </el-upload>
                        </el-form-item>
                       
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="confirmEdit()">确 定</el-button>
                    <el-button @click="editDialogVisiual = false">取 消</el-button>
                </span>
    </el-dialog>
    <!-- 是否删除弹框 -->
    <el-dialog
        :visible.sync="isDeleteDialog"
        width="20%"
        center
      >
        <div style="display: flex; justify-content: center">
        是否删除？
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="isDeleteDialog = false">取 消</el-button>
          <el-button type="primary" @click="confirmDelete()">确 定</el-button>
        </span>
    </el-dialog>
</el-container>
</template>

<script>
import { mapState } from "vuex";
export default {
     data() {
      return {
        dialogVisible: false,
        // dialogImageUrl: '',
        delId:'',
        wastes: {
        // name:"",
        // address:"",
        // handleUserName:"",
        // handleTime:"",
        // images:[],
        page:1,
        limit:3,
        villageName:"",
        timeRangeType:6
        },
        editDialogVisiual:false,
        isDeleteDialog:false,
        url:'',
        editObj:{
            id:1,
            mark:80,
            result:"处理完成",
            nohandle:false,
            handlerUserId:1,
            handlerUserName:'',
            // handlerTime:"",
            images:[{
              url:''
            }]
        },
      }
    },
    methods:{
      // 切换分页
     handleChange(index) {
      console.log(index)
      this.wastes.page = index;
      this.getWasteList();
    },
    //输入查询
      searchWaste() {
      this.wastes.page = 1;
      this.getWasteList();
    },
      // 获取列表
       getWasteList() {
       this.$store.dispatch("getWasteList",this.wastes);
       },
      //  编辑
      edit(item){
        console.log(item)
            this.editObj.id=item.id
            this.editObj.handlerUserName=item.handleUserName
            this.editObj.handlerTime=item.handleTime || ''
            this.editDialogVisiual=true
        },
      //  确认编辑
      confirmEdit(){
            console.log(this.editObj)
            this.$store.dispatch("handleWaste",this.editObj);
            this.editDialogVisiual=false
        },
        //删除
        del(item){
          this.delId=item.id
          this.isDeleteDialog=true
        },
        // 确认删除
        confirmDelete(){
        this.$store.dispatch("deleteEvent",{id:this.delId});
        this.isDeleteDialog=false
        },
        // 上传照片
        uploadImage(file){
          const formData=new FormData()
          formData.append('file',file.file)
          this.$store.dispatch("uploadImage",formData)
        },
        // handlePictureCardPreview(file) {
        // this.dialogImageUrl = file.url;
        // this.dialogVisible = true;
      // }
        
    },
    watch: {
    imageInfo: function (newValue, oldValue) {
      this.editObj.images[0].url = newValue;
    },
    // wasteList:function(newValue, oldValue){
    //   console.log(newValue)
    //   this.url=newValue.handlerImages[0]
    // }
   },
    computed:{
      ...mapState({ 
      wasteList: (state) => state.wasteSort.wasteList ,
      totalPage: (state) => state.wasteSort.totalPage,
      imageInfo: (state) => state.wasteSort.imageInfo
      }),
    },
    mounted(){
      this.getWasteList()
    }
}
</script>

<style>
.seleteText{
    padding-top:10px;
    font-weight: bold;
}
.caseText{
    padding-bottom: 10px;
    font-weight:600;
}
.el-pagination{
    text-align: center;
}
</style>