<template>
  <div class="">
    <div class="addnewsTitle">修改新闻</div>

    <el-form :model="form" style="width: 800px; padding: 40px">
      <el-form-item label="新闻标题" :label-width="formLabelWidth">
        <el-input v-model="form.title" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="新闻简介" :label-width="formLabelWidth">
        <el-input v-model="form.summary" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="新闻图片" :label-width="formLabelWidth">
        <!-- <el-input v-model="form.cover" autocomplete="off"></el-input> -->
        <!-- :before-upload="beforeAvatarUpload" -->
        <!-- <el-upload
                    class="upload-demo"
                    action="#"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :before-remove="beforeRemove"
                    :on-change="getFile"
                    
                    multiple
                    :limit="1" 
                    :auto-upload="false"
                    list-type="picture"
                    :on-exceed="handleExceed"
                    :file-list="fileList">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload> -->
        <template>
          <div>
            <div v-if="selectedImg" class="uploadImg">
              <img :src="singleNews.cover" alt="" />
              <div class="dialogImg">
                <i
                  class="el-icon-delete"
                  @click="clearNewsimg"
                  style="cursor: pointer"
                ></i>
              </div>
            </div>

            <el-upload
              v-else
              class="upload-demo"
              action="#"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :before-remove="beforeRemove"
              :on-change="getFile"
              multiple
              :limit="1"
              :auto-upload="false"
              list-type="picture"
              :on-exceed="handleExceed"
              :file-list="fileList"
            >
              <el-button size="small" type="primary">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">
                只能上传jpg/png文件，且宽高比为550px:230px
              </div>
            </el-upload>
          </div>
        </template>
      </el-form-item>
      <el-form-item label="详细内容" :label-width="formLabelWidth">
        <!-- <el-input v-model="form.content" autocomplete="off"></el-input> -->
        <editor :html="singleNews.content" @input="getContent"></editor>
      </el-form-item>
      <el-form-item label="标签" :label-width="formLabelWidth">
        <!-- <el-input v-model="form.tags" autocomplete="off"></el-input> -->
        <el-select
          style="width: 500px"
          v-model="form.tags"
          multiple
          filterable
          allow-create
          default-first-option
          @change="getTags"
          @remove-tag="removetag"
          placeholder="请选择文章标签"
        >
          <el-option
            v-for="item in options"
            :key="item"
            :label="item"
            :value="item"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="新闻来源" :label-width="formLabelWidth">
        <el-input
          placeholder="输入新闻的链接地址"
          v-model="form.externalLink"
          autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="submitForm">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import editor from "./editor.vue";
import alioss from "ali-oss";
// import Vue from "vue";
export default {
  data() {
    return {
      formLabelWidth: "100px",
      form: {
        title: "",
        summary: "",
        cover: "",
        content: "",
        tags: []
      },
      options: ["猎熊座"],
      value: [],
      fileList: [],
      selectedImg: false
    };
  },
  props: [],
  created() {
    this.form = this.singleNews;
    this.options = this.singleNews.tags;
    if (this.singleNews.cover) {
      this.selectedImg = true;
    }
  },
  methods: {
    ...mapMutations([]),
    handleCurrentChange() {},
    clearNewsimg() {
      this.selectedImg = false;
      this.form.cover = "";
      console.log(this.form);
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    handleExceed(files, fileList) {
      fileList;
      this.$message.warning(`当前限制选择 1个文件，请先删除当前选择的照片！`);
    },
    beforeRemove(file, fileList) {
      fileList;
      return this.$confirm(`确定移除 ${file.name}？`);
    },
    submitForm() {
      console.log(this.form);
      this.$store.dispatch("editNews", this.form);
    },
    getContent(data) {
      this.form.content = data;
    },
    getTags(data) {
      this.options = data;
    },
    removetag(data) {
      if (data == "猎熊座") {
        this.$message({
          type: "warning",
          message: "此标签为默认标签，请勿删除"
        });
        this.options.unshift("猎熊座");
        // this.form.tags.unshift('猎熊座')
      } else {
        let index = this.options.indexOf(data);
        if (index > -1) {
          this.options.splice(index, 1);
        }
      }
    },
    getBase64(file) {
      return new Promise(function (resolve, reject) {
        let reader = new FileReader();
        let imgResult = "";
        reader.readAsDataURL(file);
        reader.onload = function () {
          imgResult = reader.result;
        };
        reader.onerror = function (error) {
          reject(error);
        };
        reader.onloadend = function () {
          resolve(imgResult);
        };
      });
    },
    getFile(file, fileList) {
      fileList;
      // let isLt500k = this.beforeAvatarUpload(file)
      // this.getBase64(file.raw).then(res => {
      //     // if(isLt500k){
      //         this.form.cover = res
      //     // }
      // });
      let Oss = new alioss({
        region: "oss-cn-shanghai",
        accessKeyId: "LTAI5t7vTiULNpFoPaAgPasV",
        accessKeySecret: "qw12Ll0HdTtX70zrV3xh0hDgrXP4Yo",
        bucket: "bh-frontend"
      });
      let that = this;
      this.beforeAvatarUpload(file).then((valid) => {
        console.log(valid);
        if (valid) {
          // this.getBase64(file.raw).then(res => {
          //     // if(isLt500k){
          //         this.form.cover = res
          //     // }
          // });
          Oss.put(`office-website/${file.name}`, file.raw)
            .then(function (res) {
              console.log(res);
              // 上传图片，返回结果，将图片插入到编辑器中
              that.form.cover = res.url;
              // console.log(res);
            })
            .catch(function (err) {
              console.log(err);
            });
        } else {
          this.$message.error("上传头像图片宽高比为550px:230px");
          this.fileList = [];
        }
      });
    },
    beforeAvatarUpload(file) {
      const imgType = "image/jpeg,image/jpg,image/png".includes(file.raw.type);
      if (!imgType) {
        this.$message.error("只能上传图片格式");
        return false;
      }
      let img = new Image();
      img.src = file.url;
      let valid = false;
      let p = new Promise((resolve) => {
        img.onload = function () {
          valid = img.width / img.height == 550 / 230;
          resolve(valid);
        };
      });

      return p;
    }
  },

  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      singleNews: (state) => state.office.singleNews
    }),

    ...mapGetters([])
  },
  components: {
    editor
  }
};
</script>

<style lang='less'>
.dialog-footer {
  padding-left: 100px;
}
.addnewsTitle {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 800;
  box-sizing: border-box;
}
.uploadImg {
  position: relative;
  width: 300px;
  height: 160px;
  overflow: hidden;

  img {
    width: 300px;
    height: 160px;
  }
  .dialogImg {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    color: white;
    text-align: center;
    line-height: 160px;
    font-size: 25px;
  }
}
.uploadImg:hover .dialogImg {
  opacity: 1;
}
</style>
