<template>
  <div class="parking-violation-container">
    <div class="addNews">
        <el-button type="primary" @click="addNews">添加新闻</el-button>
    </div>
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="newsList"
      >
        <el-table-column
          label="新闻标题"
          align="center"
          prop="title"
        ></el-table-column>
        <el-table-column
          label="新闻简介"
          align="center"
          prop="summary"
        ></el-table-column>
        <el-table-column
          label="发布时间"
          align="center"
          prop="createTime"
        ></el-table-column>
        <el-table-column
          label="操作"
          align="center"
        >
            <template slot-scope="scope">
                <el-button @click="editnews(scope.row)" type='warning' size="mini">编辑</el-button>
                <el-button @click="deletenews(scope.row)" type='danger' size="mini">删除</el-button>
            </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="params.current"
        :page-size="params.limit"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="newstotal"
      ></el-pagination>
    </div>

  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  data() {

    return {
      fileList:[],
      currentDetail: "",
      searchForm: {
        exdept: "",
        rate: "",
        section: "",
        period:''
      },
      sheetContactList:[],
      params:{limit:10,current:1},
      dialogFormVisible:false,
      
    };
  },
  methods: {
   handleCurrentChange(page){
     this.params.current = page
     this.$store.dispatch('getNewsList',this.params)
   },
   handleRemove(file, fileList) {
        console.log(file, fileList);
    },
    handlePreview(file) {
        console.log(file);
    },
    handleExceed(files, fileList) {
        fileList;
        this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
    },
    beforeRemove(file, fileList) {
        fileList;
        return this.$confirm(`确定移除 ${ file.name }？`);
    },
   addNews(){
       this.$router.push('/office/addNews')
       
   },
    editnews(row){
       
        this.$store.dispatch('singleNews',row)
    },
    deletenews(row){
       this.$confirm('此操作将永久删除该新闻, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('deleteNews',row)
          if(this.newstotal%10==0){
            this.params.current-1
          }
          this.$store.dispatch('getNewsList',this.params)
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
      
    },
    ...mapMutations([])
  },

  mounted() {
      this.$store.dispatch('getNewsList',this.params)
  },
  filters: {},
  watch: {
      
  },
  computed: {
 
    ...mapState({
        newstotal:state=>state.office.newstotal,
        newsList:state=>state.office.newsList,
    }),
    ...mapGetters([])
  },
  components: {
      
  }
};
</script>

<style lang='less'>
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
<style lang='less' scoped>
.addNews{
    height: 50px;
    width: 100%;
    line-height: 50px;
    // background: chocolate;
}
</style>
