<template>
    <div class='carRetrieval'>
        <div class="portrait_retrieval_item"></div>
        <div class="portrait_retrieval_item">
            <div></div>
            <div class="portrait_retrieval_item_name">车牌号码</div>
            <div class="portrait_retrieval_item_input">
                <el-input
                    placeholder="请输入要检索的车牌号"
                    v-model="form.idcard"
                    clearable>
                </el-input>
            </div>
            <div></div>
        </div>
        <div class="portrait_retrieval_item">
            <div><br></div>
            <div> </div>
            <div class="portrait_retrieval_item_title">检索范围</div>
            <div></div>
            <div class="portrait_retrieval_item_name">人像库</div>
            <div class="portrait_retrieval_item_input">
                <!-- <el-input
                    placeholder="请选择要检索的人像库"
                    v-model="form.name"
                    clearable>
                </el-input> -->
                <el-cascader
                    :collapse-tags="true"
                    style="width: 100%"
                    placeholder="请选择要检索的人像库"
                    :options="cameraList"
                    :props="{ multiple: true }"
                    filterable
                ></el-cascader>
            </div>
            <div class="portrait_retrieval_item_name">人像抓拍库</div>
            <div class="portrait_retrieval_item_input">
                <!-- <el-input
                    placeholder="请选择要检索的人像抓拍库"
                    v-model="form.idcard"
                    clearable>
                </el-input> -->
                <el-cascader
                    :collapse-tags="true"
                    style="width: 100%"
                    placeholder="请选择要检索的人像抓拍库"
                    :options="cameraList"
                    :props="{ multiple: true }"
                    filterable
                ></el-cascader>
            </div>
            <div><br></div>
            <div> </div>
            <div> </div>
            <div style="padding-left:400px">
                <el-button type="primary" size="mini">开始检索</el-button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        form:{
            name:'',
            idcard:''
        },
        cameraList: [],
    }
  },
methods:{ ...mapMutations([]),
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
},

mounted(){
    this.generateCameraList();
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/retrieval/retrieval.less";
</style>
<style lang="less">
.portrait_retrieval_item_input{
    .el-input__inner{
        background-color: #151f47;
        border: 1px solid #1f4581;
        text-align: right;
    }
}
.portrait_retrieval_item_input{
    .el-cascader__search-input{
        background: #151f47;
    }
}
</style>
