<template>
  <div class='portraitRetrieval'>
      <div class="portrait_retrieval_item">
          <el-upload
            class="upload-demo"
            drag
            action="https://jsonplaceholder.typicode.com/posts/"
            multiple>
            <i class="el-icon-camera-solid uploadIcon"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__text">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
      </div>
      <div class="portrait_retrieval_item">
          <div></div>
          <div></div>
          <div class="portrait_retrieval_item_title">过滤条件(非必填)</div>
          <div></div>
          <div class="portrait_retrieval_item_name">姓名/别名</div>
          <div class="portrait_retrieval_item_input">
              <el-input
                placeholder="请输入姓名/别名"
                v-model="form.name"
                clearable>
              </el-input>
          </div>
          <div class="portrait_retrieval_item_name">身份证号</div>
          <div class="portrait_retrieval_item_input">
              <el-input
                placeholder="请输入身份证号"
                v-model="form.idcard"
                clearable>
              </el-input>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
      <div class="portrait_retrieval_item">
          <div></div>
          <div></div>
          <div class="portrait_retrieval_item_title">检索范围</div>
          <div></div>
          <div class="portrait_retrieval_item_name">人像库</div>
          <div class="portrait_retrieval_item_input">
              <!-- <el-input
                placeholder="请选择要检索的人像库"
                v-model="form.name"
                clearable>
              </el-input> -->
              <el-cascader
                :collapse-tags="true"
                style="width: 100%"
                placeholder="请选择要检索的人像抓拍库"
                :options="cameraList"
                :props="{ multiple: true }"
                filterable
            ></el-cascader>
          </div>
          <div class="portrait_retrieval_item_name">人像抓拍库</div>
          <div class="portrait_retrieval_item_input">
              <!-- <el-input
                placeholder="请选择要检索的人像抓拍库"
                v-model="form.idcard"
                clearable>
              </el-input> -->
              <el-cascader
                :collapse-tags="true"
                style="width: 100%"
                placeholder="请选择要检索的人像抓拍库"
                :options="cameraList"
                :props="{ multiple: true }"
                filterable
                ></el-cascader>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div style="padding-left:400px">
              <el-button type="primary" size="mini">开始检索</el-button>
          </div>
      </div>
  </div>    
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        form:{
            name:'',
            idcard:''
        },
        cameraList: [],
    }
  },
methods:{ ...mapMutations([]),
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
},

mounted(){
    this.generateCameraList();
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/retrieval/retrieval.less";
</style>
<style lang="less">
.portrait_retrieval_item:nth-child(1){
    position: relative;
    .upload-demo{
        .el-upload-dragger{
            background: #1a2b5b;
            height: 300px;
            width: 500px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -250px;
    }
}
.portrait_retrieval_item_input{
    .el-input__inner{
        background-color: #151f47;
        border: 1px solid #1f4581;
        text-align: right;
    }
}
.portrait_retrieval_item_input{
    .el-cascader__search-input{
        background: #151f47;
    }
}

</style>