<template>
  <div class="deviceManage">
    <div class="panel-right">
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="130px"
        class="demo-ruleForm"
        :inline="true"
      >
        <el-form-item
          label="身份证号码"
          prop="idCardNumber"
          label-width="125px"
        >
          <el-input
            v-model="ruleForm.idCardNumber"
            :disabled="isFromUser"
            style="width: 220px"
          >
            <el-button
              slot="append"
              @click="getBicycle"
              icon="el-icon-search"
            ></el-button>
          </el-input>
        </el-form-item>
        <el-form-item
          v-if="ruleForm.idCardNumber && radarBicycle.length > 0"
          label="电动车车牌"
          prop="licensePlate"
          label-width="120px"
        >
          <el-select
            v-model="ruleForm.licensePlate"
            filterable
            @change="getRfid"
            placeholder="请输入/选择电动车车牌"
          >
            <el-option
              v-for="item in radarBicycle"
              :label="item.licensePlate"
              :value="item"
              :key="item.urn"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="rfidList.length"
          label="电子标签"
          label-width="100px"
        >
          <el-button
            v-for="(item, key) in rfidList"
            :key="key"
            @click="getguiJi(item)"
          >
            {{ key == 0 ? "主标签" : "副标签" }}
          </el-button>
        </el-form-item>
        <el-form-item
          label="时间"
          prop="dateTime"
          label-width="80px"
          v-if="ruleForm.idCardNumber && radarBicycle.length > 0"
        >
          <div class="block">
            <el-date-picker
              v-model="dateTime"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
        </el-form-item>
        <el-form-item v-if="ruleForm.idCardNumber && radarBicycle.length > 0">
          <div class="">
            <el-button
              style="margin-left: 30px"
              type="primary"
              @click="onSubmit('ruleForm')"
            >
              查询
            </el-button>
          </div>
        </el-form-item>
      </el-form>
      <div class="map-box" id="container"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      ruleForm: {
        idCardNumber: ""
      },
      rules: {
        idCardNumber: [
          { required: true, message: "请输入身份证号", trigger: "blur" }
        ],
        licensePlate: [
          { required: true, message: "请选择车牌号", trigger: "blur" }
        ]
      },
      dateTime: "",
      isShowTrackMap: false,
      bicycleTrackList: [],
      isFromUser: false,
      map: {},
      rfidList: [],
      urn: ""
    };
  },
  methods: {
    ...mapMutations([]),
    getguiJi(item) {
      this.urn = item.urn;
    },
    getRfid(val) {
      console.log(val)
      this.ruleForm.licensePlate = val.licensePlate;
      this.rfidList = val.rfIdList;
    },
    getBicycle(val) {
      this.$store.dispatch("getBicycle", {
        ownerId: this.ruleForm.idCardNumber
      });
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.urn) {
            if (this.dateTime) {
              this.ruleForm.startTime = new Date(this.dateTime[0]).getTime();
              this.ruleForm.endTime = new Date(this.dateTime[1]).getTime();
              this.$store.dispatch("rfidTracksearch", { urn: this.urn ,startTime:this.ruleForm.startTime,endTime:this.ruleForm.endTime})
              .then(res =>{
                if(res.results.length  > 0){
                  this.init();
                }else{
                  this.$message.success("暂无轨迹")
                }
              })
            } else {
              this.$message.error("请选择日期");
            }

          } else {
            this.$message.error("请选择标签");
          }
        } else {
          return false;
        }
      });
    },
    // resetForm(formName) {
    //   this.$refs[formName].resetFields();
    // },
    init() {
      let path = [];
      if (this.TrackList.length > 0) {
        this.TrackList.forEach((val) => {
          let a = [val.longitude, val.latitude];
          path.push(a);
        });
      }
      this.makemAP(path);
    },
    makemAP(path) {
      this.map = new AMap.Map("container");
      let index = 0;
      for (let i = 0; i < path.length; i += 1) {
        var marker = new AMap.Marker({
          position: path[i], // 基点位置
          content: `<div style="background-color: #0ba1f8;width: 24px;height: 24px;border: 1px solid #0ba1f8;border-radius: 50%;text-align: center;color: #fff;font-size: 12px;line-height: 24px;">${index++}</div>`
          // offset: new AMap.Pixel(-17, -42) // 相对于基点的偏移位置
        });

        this.map.add(marker);
      }
      let canvasDir = document.createElement("canvas");
      let width = 24;
      canvasDir.width = width;
      canvasDir.height = width;
      let context = canvasDir.getContext("2d");
      context.strokeStyle = "red";
      context.lineJoin = "round";
      context.lineWidth = 8;
      context.moveTo(-4, width - 4);
      context.lineTo(width / 2, 6);
      context.lineTo(width + 4, width - 4);
      context.stroke();
      console.log(path)
      let polyline3 = new AMap.Polyline({
        path: path, // 设置线覆盖物路径
        showDir: true,
        dirImg: canvasDir,
        strokeColor: "#3366cc", // 线颜色
        strokeWeight: 5 // 线宽
      });

      this.map.add([polyline3]);

      this.map.setFitView();
    }
  },
  created() {},
  mounted() {
    this.map = new AMap.Map("container");
    console.log(this.$route.query.data)
    console.log(this.$route.query.type);
    if (this.$route.query.idCardNumber) {
      this.ruleForm.idCardNumber = this.$route.query.idCardNumber;
      this.getBicycle();
      // this.isFromUser = true;
      // this.isShowTrackMap = false;
      // this.$store.dispatch("getBicycleTrack", this.ruleForm).then((res) => {
      //   this.bicycleTrackList = res.results;
      //   this.isShowTrackMap = true;
      //   this.init();
      // });
    }
  },
  filters: {},
  watch: {
    "$route.query.type": {
      immediate: true,
      handler(val) {
        if (val === "user") {
          this.ruleForm.idCardNumber = this.$route.query.data;
        } else {
          this.ruleForm.idCardNumber = "";
        }
      }
    }
  },
  computed: {
    ...mapState({
      radarBicycle: (state) => state.radar.radarBicycle,
      TrackList: (state) => state.radar.TrackList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "../../../assets/less/radar/electricCarList.less";
.deviceManage {
  height: 100%;
  .panel-right {
    height: calc(100% - 100px);
  }
}
.page-style {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 20px;
}
.map-box {
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
}
#panel {
  position: fixed;
  background-color: white;
  max-height: 90%;
  overflow-y: auto;
  top: 10px;
  right: 10px;
  width: 280px;
}
#panel .amap-lib-driving {
  border-radius: 4px;
  overflow: hidden;
}
</style>
