.areaInfo{
    width: 100%;
    height: 100%;
}
.areaContent{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.addAreaInfo{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    // background: brown;
    .mapbox{
        width: 100%;
        height: calc(100% - 180px);
        margin-top: 20px;
        background: burlywood;
        position: relative;
        .map-container{
            width: 100%;
            height: 100%;
        }
        .drawline{
            position: absolute;
            right: 30px;
            top: 102px;
            height: 35px;
            width: 34px;
            background: brown;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            .drawlineItem{
                text-align: center;
                line-height: 35px;
                font-size: 22px;
                cursor: pointer;
                border: 1px solid #cccccc;
                background: white;
            }
            .drawlineItemCycle{
                text-align: center;
                line-height: 35px;
                font-size: 22px;
                cursor: pointer;
                border: 1px solid #cccccc;
                background: white;
            }
        }
    }
}
.drawinfo{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -250px;
}
.crosshair{
    cursor: crosshair;
}
.pointclick{
    color: cornflowerblue;
}