.box{
    padding: 15px;
    .header-box{
        margin-bottom: 10px;
    }
    .tip-style{
        color: red;
        margin-top: 10px;
    }
    .el-table{
        border-top: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
    }
}
.page-block{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
