<template>
    <div class="labelManageTabs">
        <div class="container">
            
                <el-tabs v-model="activeName"  class="eltabs" >
                    <!-- <el-tab-pane label="内容存储配置" name="first" class="eltabspan">
                        <storageConfiguration  ></storageConfiguration>
                        
                    </el-tab-pane> -->
                    <el-tab-pane label="系统配置" name="second">
                        <systemConfiguration></systemConfiguration>
                        

                    </el-tab-pane>
                    <!-- <el-tab-pane label="授权信息" name="third">
                       
                        测试

                    </el-tab-pane>
                    <el-tab-pane label="客户端升级" name="fourth">
                        
                        测试

                    </el-tab-pane> -->
                    
                </el-tabs>
            
        </div>
    </div>
</template>

<script>

// import storageConfiguration from "./storageConfiguration"
import systemConfiguration from "./systemConfiguration"
// import labelType from "../labelManage/labelLook"
// import labelType from './labelType.vue'
// import labelIcon from './labelIcon.vue'
// import labelTuZeng from './labelTuZeng.vue'
// import templateConfiguration from './templateConfiguration.vue'
export default {
    data(){
        return{
            activeName:'second'
        }
    },
    components:{
        // storageConfiguration,
        systemConfiguration
        // labelType,
        // labelIcon,
        // labelTuZeng,
        // templateConfiguration
    }
}
</script>

<style lang="less" scoped>
    .labelManageTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
        .container{
            height: 100%;
            width: 100%;
            background: white;
            box-sizing: border-box;
            padding: 10px 10px;
        }
        .eltabs{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        .eltabspan{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
    }
    
</style>
<style>
    .el-tabs__content{
        /* height: 100%; */
        box-sizing: border-box;
    }
</style>