<template>
    <div class="container">
        <div class="firstrow">
            存储空间:  已使用: 
            <div class="hasused"> 4GB</div>
            /
            <div class="hasused">50GB</div>
            , 还剩
            <div class="canuser">50GB</div>
            可用
        </div>
        <div class="firstrow">
            确定使用空间预警:
            <el-input style="width:170px"></el-input>
            
            GB()80%
        </div>
        <div class="firstrow">
           <el-button style="margin-left:200px">重置</el-button>
           <el-button type='primary'>确定</el-button>
        </div>
        
    </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
    .container{
        height: 100%;
        width: 100%;
        background:white;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        color: #333;
        .firstrow{
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            align-items: center;
            .hasused{
                color: #FF8400;
                margin-left: 3px;
            }
            .allcount{
                color: #82B5FF;
            }
            .canuser{
                color:#01CD06 ;
            }

        }
    }
</style>