<template>
  <div class="container">
    <div class="infoBox">
      <div class="header">| 告警服务</div>
      <div class="line"></div>
      <div class="form">
        <div class="inputBox">
          <div class="itemname">IP地址:</div>
          <input class="iteminput" v-model="config.activeMQIp" />
        </div>
        <div class="inputBox">
          <div class="itemname">端口:</div>
          <input class="iteminput" v-model.number="config.activeMQPort" />
        </div>
      </div>
      <div class="form">
        <div class="inputBox">
          <div class="itemname">用户名:</div>
          <input class="iteminput" v-model="config.activeMQUname" />
        </div>
        <div class="inputBox">
          <div class="itemname">密码:</div>
          <input class="iteminput" v-model="config.activeMQPasswd" />
        </div>
      </div>
      <div class="form">
        <div class="inputBox">
          <div class="itemname">stomp端口:</div>
          <input class="iteminput" v-model.number="config.activeMQPortStomp" />
        </div>
        <div class="inputBox">
          <div class="itemname">告警是否关联标签:</div>
          <input class="iteminput" v-model.number="config.alarmIsRelatedMark" />
        </div>
      </div>
      <div class="form">
        <div class="inputBox">
          <div class="itemname">告警连接状态:</div>
          <div
            class="iteminput"
            style="
              display: flex;
              align-items: center;
              pointer-events: none;
              cursor: default;
            "
          >
            <el-radio-group v-model="config.alarmConnectStatus">
              <el-radio :label="1">已连接</el-radio>
              <el-radio :label="0">未连接</el-radio>
            </el-radio-group>
          </div>
        </div>
        <div class="inputBox">
          <div class="itemname">告警保存时间(1-90天):</div>
          <input class="iteminput" v-model.number="config.alarmSaveDay" />
        </div>
      </div>
    </div>

    <div class="infoBox" style="margin-top: 30px">
      <div class="header">| 资源服务</div>
      <div class="line"></div>
      <div class="form">
        <div class="inputBox">
          <div class="itemname">IP:</div>
          <input class="iteminput" v-model="config.resServiceIp" />
        </div>
        <div class="inputBox">
          <div class="itemname">端口:</div>
          <input class="iteminput" v-model.number="config.resServicePort" />
        </div>
      </div>
    </div>

    <div class="infoBox" style="margin-top: 30px">
      <div class="header">
        | 客户端菜单设置(勾选则客户端展示,保存设置后重启服务端生效)
      </div>
      <div class="line"></div>
      <div class="form">
        <div class="inputBox">
          <div class="itemname">底部菜单:</div>
          <div class="iteminput">
            <el-checkbox
              v-for="item in menus.data[0].children"
              v-model="item.visible"
              @change="handleCheckedCitiesChange"
              :key="item.id"
              :checked="item.visible"
            >
              {{ item.name }}
            </el-checkbox>
          </div>
          <!-- <el-checkbox-group v-model="checkedMenus"  class="iteminput"> -->
          <!-- </el-checkbox-group> -->
        </div>
        <div class="inputBox">
          <div class="itemname">右侧菜单:</div>
          <div class="iteminput">
            <el-checkbox
              v-for="item in menus.data[1].children"
              v-model="item.visible"
              @change="handleCheckedCitiesChange"
              :key="item.id"
              :checked="item.visible"
            >
              {{ item.name }}
            </el-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="infoBox" style="margin-top: 30px">
      <div class="header">| 客户端业务参数设置</div>
      <div class="line"></div>
      <div class="form">
        <div class="inputBox" style="width: 100%">
          <div class="itemname" style="width: 30%">
            单视标签带智能算法的展示方式设置:
          </div>
          <div class="iteminput">
            <el-checkbox
              v-for="item in menus.data[2].children"
              v-model="item.visible"
              @change="handleChecked(item.id)"
              :key="item.id"
              :checked="item.visible"
            >
              {{ item.name }}
            </el-checkbox>
          </div>
        </div>
      </div>
      <div class="form">
        <div class="inputBox" style="width: 100%">
          <div class="itemname" style="width: 30%">
            首页地图视图设定（中心点）:
          </div>
          <div class="iteminput">
            <div class="longitude">经度：{{ longitude }}</div>
            <div class="latitude">纬度：{{ latitude }}</div>
            <el-button
              type="primary"
              style="height: 90%; margin: 2px 2px"
              @click="openMap"
            >
              进入地图设置
            </el-button>
          </div>
        </div>
      </div>
    </div>

    <div class="btnBox">
      <el-button>重置</el-button>
      <el-button @click="submit" type="primary">确定</el-button>
    </div>

    <el-dialog title="提示" :visible.sync="dialogVisible" width="20%" center>
      <span>重启服务才能生效,确认要重启服务?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>

        <el-button type="primary" @click="modconfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :visible.sync="mapDialogVisible"
      @opened="openMaped"
      width="90%"
      center
    >
      <div class="btn">
        <el-autocomplete
          type="text"
          id="inputbox"
          class="mapSearch"
          v-model="search"
          style="width: 17%"
          :fetch-suggestions="querySearch"
          :trigger-on-focus="false"
          @select="handleSelect"
        >
        <i slot="suffix" class="el-input__icon el-icon-search"></i>
        </el-autocomplete>
        
        <!-- <el-button class="mapSetCenter">设中间点</el-button> -->
        <el-button class="mapSave" type="primary" @click="saveMap">
          保存当前地图视图
        </el-button>
        <el-button class="mapCancel" @click="closeMap">取消</el-button>
        <div id="manage-map-container"></div>
      </div>
    </el-dialog>
  </div>
</template>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      search: "",
      config: {},
      menus: {
        data: [{ children: [] }, { children: [] }, { children: [] }]
      },
      checkedMenus: [],
      dialogVisible: false,
      mapDialogVisible: false,
      showbtn: false,
      searchItems: [],
      center: [],
      longitude: 0,
      latitude: 0,
      map: null,
      zoom: 0
    };
  },
  created() {},
  mounted() {
    this.$store.dispatch("getConfig", {}).then((res) => {
      this.config = res;
    });
    this.$store.dispatch("getSystemConfigurationmenus", {}).then((res) => {
      this.menus = res;
    });
    this.$store.dispatch("getMapConfig").then((res) => {
      console.log(res);
      if (res.msg == "成功") {
        // 设置地图中心点
        this.center = [res.data.lng, res.data.lat];
        // 设置配置页面的经纬度
        this.longitude = res.data.lng;
        this.latitude = res.data.lat;
        // 设置地图层级
        this.zoom = res.data.level;

        sessionStorage.setItem("longitude", res.data.lng);
        sessionStorage.setItem("latitude", res.data.lat);
      }
    });
  },
  methods: {
    submit() {
      this.dialogVisible = true;
    },
    modconfirm() {
      let params = {};
      params.activeMQIp = this.config.activeMQIp;
      params.activeMQPort = this.config.activeMQPort;
      params.activeMQUname = this.config.activeMQUname;
      params.activeMQPasswd = this.config.activeMQPasswd;
      params.activeMQPortStomp = this.config.activeMQPortStomp;
      params.alarmIsRelatedMark = this.config.alarmIsRelatedMark;
      params.alarmSaveDay = this.config.alarmSaveDay;
      params.alarmConnectStatus = this.config.alarmConnectStatus;
      params.resServiceIp = this.config.resServiceIp;
      params.resServicePort = this.config.resServicePort;
      params.optLogSaveDay = 180;
      this.$store.dispatch("modConfig", params).then((res) => {
        // Message.success(res.msg);
        this.dialogVisible = false;
        if (res.msg == "成功") {
          let arr = [];
          this.menus.data[0].children.forEach((element) => {
            let obj = {};
            obj.visible = element.visible;
            obj.id = element.id;
            arr.push(obj);
          });
          this.menus.data[1].children.forEach((element) => {
            let obj = {};
            obj.visible = element.visible;
            obj.id = element.id;
            arr.push(obj);
          });
          this.menus.data[2].children.forEach((element) => {
            let obj = {};
            obj.visible = element.visible;
            obj.id = element.id;
            arr.push(obj);
          });
          this.$store.dispatch("setMenus", arr).then((res) => {
            if (res.code == 0) {
              Message.success("设置成功");
            }
          });
        } else {
          Message.success(res.msg);
        }
      });
    },
    handleCheckedCitiesChange(value) {},
    handleChecked(val) {
      this.menus.data[2].children.forEach((item) => {
        if (item.id !== val) {
          item.visible = false;
        }
      });
    },
    querySearch(queryString, cb) {
      let that = this;
      console.log(that.search);
      AMap.plugin("AMap.Autocomplete", function () {
        // 实例化Autocomplete
        var autoOptions = {
          //city 限定城市，默认全国
          pageSize: 10,
          pageIndex: 1,
          city: "全国"
        };
        var autoComplete = new AMap.Autocomplete(autoOptions);
        if (that.search) {
          autoComplete.search(that.search, function (status, result) {
            let item = [];
            for (var val of result.tips) {
              // console.log(val);
              item.push({
                value: val.name,
                lat: val.location.lat,
                lng: val.location.lng,
                poiId: val.id
              });
            }
            // 调用 callback 返回建议列表的数据
            console.log(item);
            if (item) {
              cb(item);
            }
            // 搜索成功时，result即是对应的匹配数据
          });
        } else {
          that.searchItems = [];
        }
      });
    },
    // 根据联想选中地区后地图自动定位到选中位置
    handleSelect(e) {
      var that = this;
      // 获取选中的地点的名字以及经纬度
      console.log(e);
      AMap.plugin("AMap.PlaceSearch", function () {
        var placeSearch = new AMap.PlaceSearch({
          city: "全国",
          map: that.map
        });
        console.log(e.value);
        placeSearch.search(e.value, function (status, res) {
          console.log(res);
        });
      });
    },
    // 在弹窗加载完后运行，打开地图
    openMaped() {
      // 打开地图
      var that = this;
      this.map = new AMap.Map("manage-map-container", {
        resizeEnable: true,
        zoom: this.zoom,
        center: this.center
      });
      // 绑定点击事件
      this.map.on("click", this.showInfoClick);

      // 缩放按钮
      AMap.plugin(["AMap.ToolBar"], function () {
        // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
        that.map.addControl(
          new AMap.ToolBar({
            // 简易缩放模式，默认为 false
            liteStyle: true
          })
        );
      });
    },
    // 打开地图弹窗
    openMap() {
      this.mapDialogVisible = true;
      this.search = "";
    },
    saveMap() {
      var params = {
        lng: sessionStorage.getItem("longitude"),
        lat: sessionStorage.getItem("latitude"),
        level: this.map.getZoom()
      };
      // 调保存地图的接口
      console.log(params);
      if(params.lng && params.lat){
        this.$store.dispatch("saveMapConfig", params).then((res) => {
        console.log(res);
        if (res.msg == "成功") {
          Message.success("保存成功");
          // 再次调回显数据的接口
          this.$store.dispatch("getMapConfig").then((res) => {
            console.log(res);
            if (res.msg == "成功") {
              // 设置地图中心点
              this.center = [res.data.lng, res.data.lat];
              // 设置配置页面的经纬度
              this.longitude = res.data.lng;
              this.latitude = res.data.lat;
              // 设置地图层级
              this.zoom = res.data.level;
              // 关闭弹窗
              this.mapDialogVisible = false;
              // 清空缓存
              sessionStorage.clear();
            }
          });
        }
      });
      }else{
        Message.success("请选择中心点！");
      }
      
    },
    closeMap() {
      this.mapDialogVisible = false;
    },
    showInfoClick(e) {
      var text =
        "您选择了以坐标为 [ " +
        e.lnglat.getLng() +
        "," +
        e.lnglat.getLat() +
        " ] 的位置作为地图中心点 ";
      // document.querySelector("#text").innerText = text;
      console.log(text);
      Message.success(text);
      sessionStorage.setItem("longitude", e.lnglat.getLng());
      sessionStorage.setItem("latitude", e.lnglat.getLat());
    }
  },
  computed: {
    ...mapState({
      // mapConfig: (state) => state.ar.getMapConfig
    })
  }
};
</script>
<style lang="less" scoped>
.btn {
  position: relative;
  #manage-map-container {
    width: 1670px;
    height: 620px;
    z-index: 999;
    // position: relative;
    // width:80%;
    // height:80%;
  }
  .mapSearch {
    z-index: 9999;
    position: absolute;
    top: 20px;
    left: 1%;
  }
  .mapSetCenter {
    z-index: 9999;
    position: absolute;
    top: 20px;
    right: 20%;
  }
  .mapSave {
    z-index: 9999;
    position: absolute;
    top: 20px;
    right: 10%;
  }
  .mapCancel {
    z-index: 9999;
    position: absolute;
    top: 20px;
    right: 5%;
  }
}

.container {
  height: 100%;
  width: 100%;
  background: #eaeef4;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .infoBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    .header {
      color: #65a7ff;
      font-size: 20px;
      text-align: center;
      height: 40px;
    }
    .line {
      height: 1px;
      background: #dbe9ef;
      margin-bottom: 10px;
    }
    .form {
      height: 45px;
      width: 90%;
      display: flex;
      flex-direction: row;
      word-wrap: break-word;
      word-break: break-all;
      // border: 1px solid black;
      // overflow: hidden;

      .inputBox {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        .itemname {
          height: 45px;
          width: 25%;
          background: #ecf2f9;
          text-align: right;
          line-height: 45px;
          box-sizing: border-box;
          padding-right: 5px;
          border: solid #c7d8ee 1px;
        }
        .iteminput {
          display: flex;
          height: 41px;
          width: 75%;
          border: solid #c7d8ee 1px;
          padding-left: 15px;
          line-height: 41px;

          .longitude {
            // border: black 1px solid;
            width: 15%;
          }
          .latitude {
            // border: black 1px solid;
            width: 15%;
          }
        }
      }
    }
    .form {
      height: 45px;
      width: 90%;
      display: flex;
      flex-direction: row;
      word-wrap: break-word;
      word-break: break-all;
      margin-top: -1px;
      .inputBox {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        .itemname {
          height: 45px;
          width: 20%;
          background: #ecf2f9;
          text-align: right;
          line-height: 45px;
          box-sizing: border-box;
          padding-right: 5px;
          border: solid #c7d8ee 1px;
        }
        .iteminput {
          height: 41px;
          width: 80%;
          border: solid #c7d8ee 1px;
        }
      }
    }
    // overflow: hidden;{}
  }
  .btnBox {
    height: 60px;
    width: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
</style>
