<template>
  <div class="org-container">
    <div class="filter_condition">
      <div class="condition_item">
        <div class="condition_item_label">名称</div>
        <div class="condition_item_input">
          <el-input v-model="searchParams.name"></el-input>
        </div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">行政代码</div>
        <div class="condition_item_input">
          <el-input v-model="searchParams.code"></el-input>
        </div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">创建人</div>
        <div class="condition_item_input">
          <el-input v-model="searchParams.createUser"></el-input>
        </div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">状态</div>
        <div class="condition_item_input">
          <el-select v-model="searchParams.status"></el-select>
        </div>
      </div>

      <div class="condition_item_more">
        <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            {{ moreOption }}
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <!-- <el-dropdown-item command="a" @click.native="showHighranking(1)"
              >高级筛选</el-dropdown-item
            > -->
            <el-dropdown-item command="b" @click.native="showHighranking(2)">
              重置表单
            </el-dropdown-item>
            <el-dropdown-item command="b" @click.native="showHighranking(3)">
              新增单位
            </el-dropdown-item>
            <el-dropdown-item command="b" @click.native="showHighranking(4)">
              新增组织
            </el-dropdown-item>
            <!-- <el-dropdown-item command="c" @click.native="showHighranking(3)"
              >收起</el-dropdown-item
            > -->
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <div class="table-container">
      <el-table
        header-cell-class-name="headerRowClassName"
        row-class-name="rowClass"
        :data="tableData"
        style="width: 100%; border: 1px solid #2c7bcf"
        row-key="id"
        border
        :expand-row-keys="expandRowKeys"
        lazy
        :load="load"
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
      >
        <el-table-column align="left" prop="name" label="名称" width="300px">
          <template slot-scope="scope">
            <span @click="editOrg" style="cursor: pointer">
              <span>{{ scope.row.name }}</span>
            </span>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          prop="code"
          label="行政区划代码"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="organization"
          label="单位类别"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="status"
          label="状态"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="createUser"
          label="创建人"
        ></el-table-column>

        <el-table-column
          align="center"
          prop="createTime"
          label="创建时间"
        ></el-table-column>
      </el-table>
    </div>
    <el-dialog title="查看/编辑单位" :visible.sync="editOrgVisible">
      <el-form :model="orgForm" label-width="100px">
        <el-form-item label="单位名称" prop="name">
          <el-input
            v-model="orgForm.name"
            placeholder="请输入单位名称"
          ></el-input>
        </el-form-item>
        <el-form-item label="上级组织">
          <el-select
            style="width: 100%"
            v-model="orgForm.org"
            filterable
            remote
            :remote-method="searchOrgRemote"
            :loading="searchOrgLoading"
          >
            <el-option
              v-for="item in orgOptions"
              :key="item.value"
              :value="item.value"
              :label="item.value"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="行政区划编码" prop="code">
          <el-input
            v-model="orgForm.code"
            placeholder="请输入行政区划编码"
          ></el-input>
        </el-form-item>
        <el-form-item label="单位类别" prop="type">
          <el-select v-model="orgForm.type">
            <el-option value="区级" label="区级"></el-option>
            <el-option value="镇级" label="镇级"></el-option>
            <el-option value="派出所" label="派出所"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="editOrgVisible = false">
          取 消
        </el-button>
        <el-button size="medium" type="primary" @click="editOrgVisible = false">
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog title="添加单位" :visible.sync="addOrgModalVisible">
      <el-form :model="orgForm" label-width="100px">
        <el-form-item label="单位名称" prop="name">
          <el-input
            v-model="orgForm.name"
            placeholder="请输入单位名称"
          ></el-input>
        </el-form-item>
        <el-form-item label="上级组织">
          <el-select
            style="width: 100%"
            v-model="orgForm.org"
            filterable
            remote
            :remote-method="searchOrgRemote"
            :loading="searchOrgLoading"
          >
            <el-option
              v-for="item in orgOptions"
              :key="item.value"
              :value="item.value"
              :label="item.value"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="行政区划编码" prop="code">
          <el-input
            v-model="orgForm.code"
            placeholder="请输入行政区划编码"
          ></el-input>
        </el-form-item>
        <el-form-item label="单位类别" prop="type">
          <el-select v-model="orgForm.type">
            <el-option value="区级" label="区级"></el-option>
            <el-option value="镇级" label="镇级"></el-option>
            <el-option value="派出所" label="派出所"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="addOrgModalVisible = false">
          取 消
        </el-button>
        <el-button
          size="medium"
          type="primary"
          @click="addOrgModalVisible = false"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog title="添加组织" :visible.sync="addUnitVisible">
      <el-form :model="unitForm" label-width="100px">
        <el-form-item label="上级组织" prop="parentUnit">
          <el-select v-model="unitForm.parentUnit"></el-select>
        </el-form-item>
        <el-form-item label="组织名称">
          <el-input v-model="unitForm.unitName"></el-input>
        </el-form-item>
        <el-form-item label="行政区划编码">
          <el-input v-model="unitForm.code"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="addUnitVisible = false">
          取 消
        </el-button>
        <el-button size="medium" type="primary" @click="addUnitVisible = false">
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog title="查看/编辑组织" :visible.sync="editUnitVisible">
      <el-form :model="unitForm" label-width="100px">
        <el-form-item label="上级组织" prop="parentUnit">
          <el-select v-model="unitForm.parentUnit"></el-select>
        </el-form-item>
        <el-form-item label="组织名称">
          <el-input v-model="unitForm.unitName"></el-input>
        </el-form-item>
        <el-form-item label="行政区划编码">
          <el-input v-model="unitForm.code"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="addUnitVisible = false">
          取 消
        </el-button>
        <el-button size="medium" type="primary" @click="addUnitVisible = false">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      addUnitVisible: false,
      editUnitVisible: false,
      unitForm: { parentUnit: "", unitName: "", code: "" },
      editOrgVisible: false,
      orgOptions: [],
      searchOrgLoading: false,
      orgForm: { name: "", org: "", code: "", type: "" },
      addOrgModalVisible: false,
      moreOption: "更多操作",
      searchParams: { status: "", name: "", code: "", createUser: "" },
      expandRowKeys: ["1", "2", "3", "6"],
      tableData: [
        {
          id: 1,
          name: "上海市",
          code: "111",
          organization: "",
          createUser: "张三",
          createTime: "2020-10-20 12:00:30",
          status: "",
          children: [
            {
              id: 2,
              name: "浦东新区",
              code: "112",
              organization: "",
              createUser: "张三",
              createTime: "2020-10-20 12:00:30",
              status: "",
              children: [
                {
                  id: 3,
                  name: "周浦镇",
                  code: "113",
                  organization: "",
                  createUser: "张三",
                  createTime: "2020-10-20 12:00:30",
                  status: "",
                  children: [
                    {
                      id: 4,
                      name: "周浦镇派出所",
                      code: "113",
                      organization: "",
                      createUser: "张三",
                      createTime: "2020-10-20 12:00:30",
                      status: "",
                      children: [
                        {
                          id: 5,
                          name: "万达广场",
                          code: "113",
                          organization: "",
                          createUser: "张三",
                          createTime: "2020-10-20 12:00:30",
                          status: ""
                        }
                      ]
                    },
                    {
                      id: 6,
                      name: "年家浜路路派出所",
                      code: "113",
                      organization: "",
                      createUser: "张三",
                      createTime: "2020-10-20 12:00:30",
                      status: "",
                      children: [
                        {
                          id: 7,
                          name: "双秀家园",
                          code: "113",
                          organization: "",
                          createUser: "张三",
                          createTime: "2020-10-20 12:00:30",
                          status: ""
                        }
                      ]
                    }
                  ]
                },
                {
                  id: 8,
                  name: "航头镇",
                  code: "113",
                  organization: "",
                  createUser: "张三",
                  createTime: "2020-10-20 12:00:30",
                  status: "",
                  children: [
                    {
                      id: 9,
                      name: "航头镇派出所",
                      code: "113",
                      organization: "",
                      createUser: "张三",
                      createTime: "2020-10-20 12:00:30",
                      status: "",
                      children: [
                        {
                          id: 10,
                          name: "祥龙苑",
                          code: "113",
                          organization: "",
                          createUser: "张三",
                          createTime: "2020-10-20 12:00:30",
                          status: ""
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    };
  },
  methods: {
    editOrg: function() {
      this.editOrgVisible = true;
    },
    searchOrgRemote: function() {
      this.searchOrgLoading = true;
      setTimeout(() => {
        this.orgOptions = [
          {
            value: "张三"
          },
          { value: "李四" }
        ];
      }, 1500);
      this.searchOrgLoading = false;
    },
    showHighranking: function(type) {
      switch (type) {
        case 2:
          this.$message({ type: "success", message: "重置成功" });
          break;
        case 3:
          this.addOrgModalVisible = true;
          break;
        case 4:
          this.addUnitVisible = true;
          break;
        default:
          break;
      }
    },
    load(tree, treeNode, resolve) {
      setTimeout(() => {
        resolve([
          {
            id: 31,
            date: "2016-05-01",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1519 弄"
          },
          {
            id: 32,
            date: "2016-05-01",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1519 弄"
          }
        ]);
      }, 1000);
    },
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/mcp/settings/orgFrameManage.less";
</style>
