<template>
  <div class="role-manage">
    <div class="left-panel">
      <div class="search-panel">
        <el-input
          placeholder="输入关键字进行过滤"
          v-model="filterText"
        ></el-input>
      </div>
      <div class="tree-panel">
        <el-tree
          class="filter-tree"
          :data="data"
          :props="defaultProps"
          default-expand-all
          :filter-node-method="filterNode"
          ref="tree"
        ></el-tree>
      </div>
    </div>
    <div class="right-panel">
      <div class="filter_condition">
        <div class="condition_item">
          <div class="condition_item_label">名称</div>
          <div class="condition_item_input">
            <el-input v-model="searchParams.name"></el-input>
          </div>
        </div>
        <div class="condition_item">
          <div class="condition_item_label">创建人</div>
          <div class="condition_item_input">
            <el-input v-model="searchParams.createUser"></el-input>
          </div>
        </div>

        <div class="condition_item_more">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              {{ moreOption }}
              <i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="a" @click.native="showHighranking(1)">
                新建角色
              </el-dropdown-item>
              <el-dropdown-item command="b" @click.native="showHighranking(2)">
                重置表单
              </el-dropdown-item>
              <el-dropdown-item command="c" @click.native="showHighranking(3)">
                收起
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div class="table-container">
        <el-table
          :data="tableData"
          border
          style="border:1px  solid  #2c7bcf;width:100%;"
          header-cell-class-name="headerRowClassName"
          row-class-name="rowClass"
        >
          <el-table-column label="角色名称" align="center" prop="name">
            <template slot-scope="scope">
              <span
                @click="showRoleDetail(scope.row)"
                style="cursor:pointer;color:#2b7bce;"
              >
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="用户数"
            align="center"
            prop="userCount"
          ></el-table-column>
          <el-table-column
            label="创建人"
            align="center"
            prop="createUser"
          ></el-table-column>
          <el-table-column
            label="创建时间"
            align="center"
            prop="createTime"
          ></el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          background
          layout="prev, pager, next,total"
          :total="200"
          :page-size="8"
          :current-page="1"
        ></el-pagination>
      </div>
    </div>
    <el-dialog title="新增角色" :visible.sync="addRoleVisible">
      <el-form :model="addRoleForm" label-width="100px">
        <el-form-item label="所属组织架构">
          <el-select v-model="addRoleForm.org"></el-select>
        </el-form-item>
        <el-form-item label="角色名称">
          <el-input v-model="addRoleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="用户选择">
          <el-input v-model="addRoleForm.userName"></el-input>
        </el-form-item>
      </el-form>
      <div class="table-container">
        <el-table
          :data="userDataList"
          border
          style="border:1px solid #2c7bcf;width:100%;"
          header-cell-class-name="headerRowClassName"
          row-class-name="rowClass"
        >
          <el-table-column
            label="用户名"
            align="center"
            prop="username"
          ></el-table-column>
          <el-table-column
            label="姓名"
            align="center"
            prop="name"
          ></el-table-column>
          <el-table-column
            label="身份证号"
            align="center"
            prop="idCard"
          ></el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <el-button type="text" @click="deleteRecord(scope.row)">
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            layout="prev, pager, next,total"
            :total="200"
            :page-size="8"
            :current-page="1"
          ></el-pagination>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="addRoleVisible = false">
          取 消
        </el-button>
        <el-button size="medium" type="primary" @click="addRoleVisible = false">
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑/查看角色" :visible.sync="editRoleVisible">
      <el-form :model="addRoleForm" label-width="100px">
        <el-form-item label="所属组织架构">
          <el-select v-model="addRoleForm.org"></el-select>
        </el-form-item>
        <el-form-item label="角色名称">
          <el-input v-model="addRoleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="用户选择">
          <el-input v-model="addRoleForm.userName"></el-input>
        </el-form-item>
      </el-form>
      <div class="table-container">
        <el-table
          :data="userDataList"
          border
          style="border:1px solid #2c7bcf;width:100%;"
          header-cell-class-name="headerRowClassName"
          row-class-name="rowClass"
        >
          <el-table-column
            label="用户名"
            align="center"
            prop="username"
          ></el-table-column>
          <el-table-column
            label="姓名"
            align="center"
            prop="name"
          ></el-table-column>
          <el-table-column
            label="身份证号"
            align="center"
            prop="idCard"
          ></el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <el-button type="text" @click="deleteRecord(scope.row)">
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            layout="prev, pager, next,total"
            :total="200"
            :page-size="8"
            :current-page="1"
          ></el-pagination>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="editRoleVisible = false">
          取 消
        </el-button>
        <el-button
          size="medium"
          type="primary"
          @click="editRoleVisible = false"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      userDataList: [
        { username: "tt", name: "tolerious", idCard: "329918271128118212" }
      ],
      searchParams: { name: "", createUser: "" },
      addRoleForm: {
        org: "",
        roleName: "",
        userName: ""
      },
      editRoleVisible: false,
      addRoleVisible: false,
      tableData: [],
      moreOption: "查看更多",
      filterText: "",
      defaultProps: {
        children: "children",
        label: "label"
      },
      data: [
        {
          id: 1,
          label: "一级 1",
          children: [
            {
              id: 4,
              label: "二级 1-1",
              children: [
                {
                  id: 9,
                  label: "三级 1-1-1"
                },
                {
                  id: 10,
                  label: "三级 1-1-2"
                }
              ]
            }
          ]
        },
        {
          id: 2,
          label: "一级 2",
          children: [
            {
              id: 5,
              label: "二级 2-1"
            },
            {
              id: 6,
              label: "二级 2-2"
            }
          ]
        },
        {
          id: 3,
          label: "一级 3",
          children: [
            {
              id: 7,
              label: "二级 3-1"
            },
            {
              id: 8,
              label: "二级 3-2"
            }
          ]
        }
      ]
    };
  },
  methods: {
    showRoleDetail: function(val) {
      val;
      this.editRoleVisible = true;
    },
    deleteRecord: function(val) {
      val;
    },
    showHighranking: function(type) {
      switch (type) {
        case 1:
          this.addRoleVisible = true;
          break;
        default:
          break;
      }
    },
    generateTableData: function() {
      for (let i = 1; i < 11; i++) {
        let d = new Date();
        let o = {
          name: `小熊${i}号`,
          userCount: i + Math.random() * 100,
          createUser: "Admin",
          createTime: d.toString()
        };
        this.tableData.push(o);
      }
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.label.indexOf(value) !== -1;
    },
    ...mapMutations([])
  },

  mounted() {
    this.generateTableData();
  },
  filters: {},
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/mcp/settings/roleManage.less";
</style>
