<template>
  <div class="system-log-container">
    <div class="filter_condition">
      <div class="condition_item">
        <div class="condition_item_label">操作时间</div>
        <div class="condition_item_input">
          <el-date-picker
            v-model="searchParams.date"
            type="daterange"
            align="left"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="condition_input mcp-input-bg"
          ></el-date-picker>
        </div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">用户名</div>
        <div class="condition_item_input">
          <el-input v-model="searchParams.createUser"></el-input>
        </div>
      </div>

      <div class="condition_item_more">
        <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            {{ moreOption }}
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="b" @click.native="showHighranking(2)">
              重置表单
            </el-dropdown-item>
            <el-dropdown-item command="c" @click.native="showHighranking(3)">
              收起
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <div class="table-container">
      <el-table
        :data="tableData"
        border
        style="border: 1px solid #2c7bcf; width: 100%"
        header-cell-class-name="headerRowClassName"
        row-class-name="rowClass"
      >
        <el-table-column
          label="操作时间"
          prop="operationTime"
          align="center"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="username"
          label="用户名"
          width="180"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="operationIP"
          label="操作IP"
          width="180"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="operationName"
          label="操作名称"
        ></el-table-column>
        <el-table-column
          prop="operationContent"
          label="操作内容"
          align="center"
        ></el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        background
        layout="prev, pager, next,total"
        :total="200"
        :page-size="8"
        :current-page="1"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      tableData: [
        {
          operationTime: "2020-10-22 15:30:03",
          username: "tolerious",
          operationIP: "192.168.63.100",
          operationName: "登录",
          operationContent: "登录系统"
        }
      ],
      moreOption: "更多操作",
      searchParams: { date: "", name: "", createUser: "" }
    };
  },
  methods: { showHighranking: function() {}, ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/mcp/settings/systemLog.less";
</style>
