<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">求助类型</div>
            <el-input v-model="queryParams.typeName" clearable></el-input>
          </div>
          <div class="inputBox">
            <div class="title">求助电话</div>
            <el-input v-model="queryParams.mobile" clearable></el-input>
          </div>
          <div class="inputBox">
            <div class="title">创建时间</div>
            <el-col :span="11">
              <el-date-picker
                v-model="createTime"
                type="daterange"
                range-separator="至"
                value-format="yyyy-MM-dd HH:hh:ss"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                @change="changeDate"
              ></el-date-picker>
            </el-col>
          </div>

          <div class="rightBtnGroup">
            <el-button type="primary" style="margin-left: 10px" @click="query">查询</el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>

        <div class="firstrow">
          <el-button
            @click="handleAdd"
            type="text"
            icon="el-icon-plus"
            style="margin-left: 20px"
          >新增类型</el-button>
          <el-button
            @click="morDel"
            type="text"
            icon="el-icon-delete"
            style="margin-left: 20px"
          >批量删除</el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="helpList.results"
          tooltip-effect="dark"
          style="width: 100%"
          border
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" align="center" width="55"></el-table-column>
          <el-table-column prop="typeName" label="求助类型" width="85" align="center"></el-table-column>
          <el-table-column prop="mobile" label="求助电话" align="center"></el-table-column>
          <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
          <el-table-column prop="creater" label="创建人" align="center"></el-table-column>
          <el-table-column prop="pictureUrl" label="栏目图标" align="center">
            <template slot-scope="scope">
              <div class="imgItem">
                <img
                  v-if="scope.row.pictureUrl"
                  :src="img_host + scope.row.pictureUrl"
                  style="height: 120px"
                  alt
                />
              </div>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="85px">
            <template slot-scope="scope">
              <div class="btn-container" style="display: flex">
                <el-button
                  size="mini"
                  type="primary"
                  @click="editHelpDialog(scope.$index, scope.row)"
                >编辑</el-button>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          style="text-align: center;margin-top:20px"
          @current-change="handleChange"
          background
          :page-size="queryParams.count"
          layout="prev, pager, next,total"
          :total="helpList.pagination.total"
        ></el-pagination>
      </div>

      <el-dialog title="提示" :visible.sync="mordialogVisible" width="30%">
        <span>{{ dialogtext }}</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="mordialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="moreModifyConfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="deldialogVisible" width="30%">
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deldialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delConfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog title="新增类型" :visible.sync="addDialogVisible" width="20%" center>
        <el-form :model="addform" :label-position="labelPosition" label-width="80px">
          <el-form-item label="类型名称:">
            <el-input v-model.number="addform.typeName" autocomplete="off" style="width: 70%"></el-input>
          </el-form-item>
          <el-form-item label="求助电话:">
            <el-input v-model.number="addform.mobile" autocomplete="off" style="width: 70%"></el-input>
          </el-form-item>
          <el-form-item label="栏目图标:">
            <el-upload
              :action="imgUpload"
              :before-upload="beforeUpload"
              :on-success="handleAvatarSuccess"
              list-type="picture-card"
              :on-remove="handleRemove"
              :limit="1"
              :class="{ hide: hideUploadEdit }"
            >
              <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addconfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="编辑"
        :visible.sync="editDialogVisible"
        width="25%"
        center
        :show-close="false"
      >
        <el-form :model="addform" :label-position="labelPosition" label-width="80px">
          <el-form-item label="类型名称:">
            <el-input v-model.number="addform.typeName" autocomplete="off" style="width: 70%"></el-input>
          </el-form-item>
          <el-form-item label="求助电话:">
            <el-input v-model.number="addform.mobile" autocomplete="off" style="width: 70%"></el-input>
          </el-form-item>
          <el-form-item label="栏目图标:">
            <el-upload
              ref="edituploadimg"
              :action="imgUpload"
              :before-upload="beforeUpload"
              :on-success="handleAvatarSuccess"
              list-type="picture-card"
              :on-remove="handleRemove"
              :limit="1"
              :class="{ hide: hideUploadEdit }"
            >
              <!-- {{dialogImageUrl}} -->
              <img
                v-if="!(dialogImageUrl.indexOf('null') !== -1)"
                :src="dialogImageUrl"
                class="avatar"
              />
              <i
                v-if="dialogImageUrl.indexOf('null') !== -1"
                class="el-icon-plus avatar-uploader-icon"
              ></i>
            </el-upload>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="resetEditDialog">取 消</el-button>
          <el-button type="primary" @click="editHelpSubmit">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      hideUploadEdit: false,
      img_host: "https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/",
      params: {
        name: "",
        deviceIP: ""
      },
      tabledata: [{}],
      queryParams: {
        start: 0,
        count: 10,
        typeName: null,
        mobile: null,
        pictureUrl: null
      },
      createTime: [],
      addform: {
        typeName: null,
        mobile: null,
        pictureUrl: null,
        creater: sessionStorage.getItem("name")
      },
      editform: {
        typeName: null,
        mobile: null,
        upperLimit: null
      },
      hightcameralist: [],
      datepick: [],
      labelPosition: "left",
      dialogtext: "cesgu",
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      mordialogVisible: false,
      deldialogVisible: false,
      imgvisible: true,
      dialogImageUrl: "",
      delParams: {
        ids: null
      }
    };
  },
  methods: {
    editHelpDialog(index, row) {

      // console.log(row.pictureUrl)
      this.editDialogVisible = true;
      // console.log(row);
      this.addform.createTime = row.createTime;
      this.addform.id = row.id;
      this.addform.mobile = row.mobile;
      this.addform.typeName = row.typeName;
      this.addform.pictureUrl = row.pictureUrl;
      // setTimeout(() => {
      this.dialogImageUrl = `${this.img_host}${row.pictureUrl}`;
      this.hideUploadEdit = false
      // }, 1000);

    },
    resetEditDialog() {

      this.addform.createTime = null;
      this.addform.creater = null;
      this.addform.id = null;
      this.addform.mobile = null;
      this.addform.typeName = null;
      this.addform.pictureUrl = null;
      this.dialogImageUrl = '';
      this.editDialogVisible = false;
      this.hideUploadEdit = false
      this.$refs.edituploadimg.clearFiles()
    },
    editHelpSubmit() {
      this.addform.creater = sessionStorage.getItem("name");
      // console.log(this.addform);
      this.$store.dispatch("help_saveHelp", this.addform).then((res) => {
        if (res.result) {

          this.addform = {
            id: null,
            typeName: null,
            mobile: null,
            pictureUrl: null,
            creater: sessionStorage.getItem("name"),
            createTime: null
          };
          this.dialogImageUrl = '';
          this.editDialogVisible = false;
          Message.success("修改成功");
          this.getHelplist();
          this.$refs.edituploadimg.clearFiles();
          this.hideUploadEdit = false;
        } else {
          Message.success(res.error.message);
        }
      });
    },
    handleSelectionChange(val) {
      // this.multipleSelection = [];
      this.delParams.ids = null;
      val.forEach((element) => {
        this.delParams.ids = this.delParams.ids + element.id + ",";
      });
    },
    handleChange(index) {
      this.queryParams.start = (index - 1) * this.queryParams.count;
      this.getHelplist();
    },

    beforeUpload(file) {
      let fd = new FormData();
      fd.append("file", file);
      // fd.append('iconType', this.addform.typeName);
      // fd.append('iconType', this.addform.typeName);
      this.$http.post("/hip/v1/attachment/fileUpload", fd).then((res) => {
        this.addform.pictureUrl = res.result[0];
      });
      this.hideUploadEdit = true;
      this.dialogImageUrl = URL.createObjectURL(file);
      return false;
    },
    handleAvatarSuccess(res, file) {
      // this.dialogImageUrl = URL.createObjectURL(file.raw);
    },
    handleRemove(file, fileList) {
      this.hideUploadEdit = false;
      // console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      //  console.log(file)
      // this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleAdd() {
      this.addDialogVisible = true;
    },
    addconfirm() {
      this.addform.creater = sessionStorage.getItem("name");
      // console.log(this.addform);
      this.$store.dispatch("help_saveHelp", this.addform).then((res) => {
        if (res.result) {
          this.addDialogVisible = false;
          Message.success("添加成功");
          this.getHelplist();
        } else {
          Message.success(res.error.message);
        }
      });
    },
    moreModifyConfirm() {
      this.$store
        .dispatch("modifyLable", this.multipleSelection)
        .then((res) => {
          this.mordialogVisible = false;
          if (res.msg == "成功") {
            Message.success("批量操作成功");
            this.multipleSelection = []; //操作完成后数组置空
            this.getHelplist();
          } else {
            Message.success(res.msg);
          }
        });
    },
    morDel() {
      if (this.delParams.ids) {
        this.deldialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    },
    delConfirm() {
      this.$store.dispatch("help_deleteHelp", this.delParams).then((res) => {
        this.deldialogVisible = false;
        if (res.result) {
          Message.success("已删除");
          this.delParams.ids = null;
          this.getHelplist();
        } else {
          Message.success(res.error.message);
        }
      });
    },

    handleDelete(item) {
      this.multipleSelection = [];
      this.multipleSelection.push(item);
      this.deldialogVisible = true;
    },
    getHelplist() {
      this.$store.dispatch("help_getHelp", this.queryParams);
    },
    query() {
      this.queryParams.page = 1;
      this.getHelplist();
    },
    reset() {
      this.queryParams.typeName = null;
      this.queryParams.mobile = null;
      this.queryParams.beginTime = null;
      this.queryParams.endTime = null;
      this.createTime = [];
      this.query();
    },

    changeDate(val) {
      this.queryParams.startTime = val[0];
      this.queryParams.endTime = val[1];
    }
  },
  created() { },
  mounted() {
    this.getHelplist();
  },
  computed: {
    ...mapState({
      helpList: (state) => state.ronghe.helpList
    }),
    imgUpload: function () {
      return process.env.VUE_APP_RONGHE_IMG_UPLOAD;
    }
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #000;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 156px;
  height: 156px;
  line-height: 156px;
  text-align: center;
}
.avatar {
  width: 156px;
  height: 156px;
  display: block;
}

.hide .el-upload--picture-card {
  display: none;
}
</style>