.dashboard-container {
  background-color: #132045;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  .dashboard-inner {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    box-sizing: border-box;
    justify-items: stretch;
  }
}
