@import "~@/assets/less/mcp/mcpGlobal.less";

.people-capture {
  box-sizing: border-box;
  background-color: #132045;
  height: 100%;
  padding: 10px;
  .people-inner {
    height: 100%;
    .category-container {
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 256px;
      margin: 10px auto;
      .shuxian {
        height: 20px;
        width: 2px;
        background-color: #2e4288;
      }
      .el-button--text {
        color: white;
      }
      .activeClass {
        color: #5abaf2;
      }
    }
    .filter_condition {
      @deep: ~">>>";
      @{deep} .el-range-editor .el-range-input {
        background-color: #192a5d;
      }
      @{deep} .el-cascader__search-input {
        background-color: #192a5d;
      }
      @{deep} .el-cascader .el-input .el-input__inner {
        background-color: #192a5d;
        border: 1px solid #0376d5;
      }
      width: 100%;
      min-height: 6%;
      background-color: #151f45;
      padding: 0 10px;
      box-sizing: border-box;
      margin: 20px auto;
      display: flex;
      @{deep} .el-dropdown-link {
        cursor: pointer;
        color: #409eff;
      }

      .condition_item_more {
        flex: 0.3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .condition_item {
        flex: 1;
        display: flex;
        .condition_item_label {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          color: white;
        }
        .condition_item_input {
          flex: 6;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .table-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 15px;
      margin: 30px auto;
      .table-item {
        height: 300px;
        width: 100%;
        border: 1px solid #0b318f;
        .table-item-content {
          height: 79px;
          background-color: #22386e;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 0 5px;
          box-sizing: border-box;
          .location {
            color: white;
            display: grid;
            width: 100%;
            grid-template-columns: 15% 85%;
            grid-template-rows: 1fr;
          }
          .time {
            width: 100%;
            color: white;
            height: 30px;
            line-height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .left {
              width: 15%;
            }
            .right {
              width: 85%;
            }
          }
        }
        .table-item-img {
          height: calc(100% - 79px);
          position: relative;
          img.search {
            position: absolute;
            left: 9px;
            top: 9px;
            cursor: pointer;
          }
          img.img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .pagination-container {
      margin: 15px auto 0 auto;
      text-align: center;
      @deep: ~">>>";
      @{deep} .el-pagination .el-pager li.active {
        background-color: #2b7bce;
        color: white;
      }
      @{deep} .el-pagination__total {
        color: white;
      }
    }
  }
}
