.search-people-result {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #132045;

  .search-people-result-inner {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 78%;
    grid-template-rows: 1fr;
    grid-gap: 2%;
    .left-panel {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      .img-container {
        margin-top: 2%;
        width: 100%;
        img {
          width: 100%;
        }
      }
      .img-container-active {
        border: 1px solid gold;
      }
      .content-container {
        margin: 5% auto;
        .name,
        .idcard {
          margin-bottom: 5px;
        }
        .name > span:first-child,
        .idcard > span:first-child {
          color: white;
          margin-right: 10px;
          width: 80px;
          text-align: right;
          display: inline-block;
        }
        .name > span:last-child,
        .idcard > span:last-child {
          color: #59baf2;
        }
        .btn-container {
          margin-top: 5%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    .right-panel {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      .people-database {
        height: 100%;
        width: 100%;
        .title {
          height: 30px;
          color: white;
        }
        .database-table {
          width: 100%;
          height: calc(100% - 70px);
          .database-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 10px;
            width: 100%;
            height: 100%;
            .item {
              background-color: #22386e;
              height: 100%;
              width: 100%;
              display: grid;
              padding: 5px;
              box-sizing: border-box;
              grid-template-rows: 1fr;
              grid-template-columns: 1.5fr 2fr;
              .left {
                position: relative;
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                img.small {
                  position: absolute;
                  top: 7px;
                  left: 7px;
                  height: 20px;
                  cursor: pointer;
                }
                img.big {
                  width: 100%;
                  height: 100%;
                }
              }
              .right {
                padding: 0 5px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .percent {
                  width: 100px;
                  height: 50px;
                  // background-color: blue;
                  margin: 0 auto;
                  position: relative;
                  .content {
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    color: red;
                    font-size: 20px;
                  }
                  .left-top {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 9;
                    width: 20px;
                    height: 20px;
                    border-top: 1px solid red;
                    border-left: 1px solid red;
                  }
                  .right-top {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 9;
                    width: 20px;
                    height: 20px;
                    border-top: 1px solid red;
                    border-right: 1px solid red;
                  }
                  .left-bottom {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 9;
                    width: 20px;
                    height: 20px;
                    border-bottom: 1px solid red;
                    border-left: 1px solid red;
                  }
                  .right-bottom {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 9;
                    width: 20px;
                    height: 20px;
                    border-bottom: 1px solid red;
                    border-right: 1px solid red;
                  }
                }
                .name,
                .detail {
                  color: white;
                }
              }
            }
          }
        }
        .pagination-container {
          margin: 0 auto 0 auto;
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          @deep: ~">>>";
          @{deep} .el-pagination .el-pager li.active {
            background-color: #2b7bce;
            color: white;
          }
          @{deep} .el-pagination__total {
            color: white;
          }
        }
      }
    }
  }
}
