.search-people-result {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #132045;

  .search-people-result-inner {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 78%;
    grid-template-rows: 1fr;
    grid-gap: 2%;
    .left-panel {
      .content-container {
        margin-top: 20px;
        span:first-child {
          color: white;
          display: inline-block;
          margin-right: 20px;
        }
        span:last-child {
          color: #2b7bce;
          display: inline-block;
        }
      }
    }
    .right-panel {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      .people-database {
        height: 100%;
        width: 100%;
        .title {
          height: 30px;
          color: white;
        }
        .database-table {
          width: 100%;
          height: calc(100% - 70px);
          .database-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 10px;
            width: 100%;
            height: 100%;
            .item {
              background-color: #22386e;
              height: 100%;
              width: 100%;
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr;
              .img-container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                width: 100%;
                height: 100%;
                position: relative;
                img.big {
                  height: 100%;
                  width: 100%;
                }
                img.small {
                  position: absolute;
                  top: 9px;
                  left: 9px;
                  height: 20px;
                  cursor: pointer;
                }
              }
              .img-content {
                height: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                color: white;
                .left,
                .right {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                }
              }
            }
          }
        }
        .pagination-container {
          margin: 0 auto 0 auto;
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          @deep: ~">>>";
          @{deep} .el-pagination .el-pager li.active {
            background-color: #2b7bce;
            color: white;
          }
          @{deep} .el-pagination__total {
            color: white;
          }
        }
      }
    }
  }
}
