<template>
  <div class="login-container">
    <div class="bag-img"></div>
    <div class="login-box">
      <div class="title-box">猎熊座智能安全网关</div>
      <div class="input-box">
        <div class="user-box">
          <img src="../../../assets/images/gateway/user.png" alt />
          <input type="text" placeholder="请输入用户名" v-model="params.username" />
        </div>
        <div class="user-box">
          <img src="../../../assets/images/gateway/pass.png" alt />
          <input
            type="password"
            placeholder="请输入密码"
            @keydown.enter="login"
            v-model="params.password"
          />
        </div>
        <div class="button-box">
          <button class="login-button" @click="login">登录</button>
        </div>
      </div>
    </div>
    <div class="login-text">Copyright © 2015-2021 猎熊座安全技术(上海)有限公司 版权所有 沪ICP备15039279</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      params: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions([]),
    ...mapMutations([]),

    login() {
      this.$ls.set("userName", this.params.username);
      this.$store.dispatch("login", this.params);
    },
  },

  mounted() {
    Vue.ls.clear();
    Vue.ls.set("sysName", this.$route.name);
  },
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang='less' scoped>
.login-container {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  .bag-img {
    height: 565px;
    width: 100%;
    background: url("../../../assets/images/gateway/background-img.png")
      no-repeat;
    background-size: cover;
  }
  .login-box {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 35%;
    font-size: 60px;
    color: #eeeeee;
    .title-box {
      text-align: center;
      width: 610px;
      margin: 0 auto;
      letter-spacing: 6px;
      margin-bottom: 55px;
    }
    .input-box {
      margin: 0 auto;
      width: 510px;
      height: 348px;
      padding-top: 2px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      box-shadow: 0px 3px 8px 0px rgba(32, 111, 71, 0.35);
      .user-box {
        border: 1px solid #889be9;
        border-radius: 8px;
        height: 45px;
        background-color: #ffffff;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 0 12px;
        margin: 50px 45px 20px 45px;
        img {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
        input {
          width: 100%;
          height: 90%;
          border: none;
          font-size: 18px;
          outline: none;
        }
      }
      .button-box {
        border-top: 1px solid transparent;
        margin: 0 45px;
        .login-button:active {
          margin-top: 32px;
          margin-left: 2px;
        }
        .login-button {
          width: 100%;
          background: linear-gradient(
            -90deg,
            rgba(67, 146, 254, 1) 0%,
            rgba(65, 188, 250, 1) 100%
          );
          box-shadow: 0px 3px 10px 0px rgba(133, 153, 233, 0.2);
          border-radius: 10px;
          height: 56px;
          border: none;
          font-size: 20px;
          color: #ffffff;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  .login-text {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    left: 0;
    right: 0;
  }
}
</style>
