<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">项目名称:</div>
            <el-input v-model="params.projectName"></el-input>
          </div>
          <div class="inputBox">
            <div class="title">混合料规格:</div>
            <el-select
              v-model="projectPlanListParams.specification"
              placeholder="请选择"
            >
              <el-option
                v-for="item in blendType"
                :key="item.realName"
                :label="item.realName"
                :value="item.realName"
              ></el-option>
            </el-select>
          </div>
          <div class="inputBox">
            <div class="title">生产日期:</div>
            <el-date-picker
              @change="dataChange"
              v-model="datepicker"
              type="datetimerange"
              value-format="yyyy-MM-dd"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
          <div class="inputBox">
            <div class="title">负责人:</div>
            <el-input v-model="params.person"></el-input>
          </div>
        </div>

        <div class="firstrow">
          <el-button
            v-permission="'ADD_PROJECT'"
            @click="addProject"
            plain
            type="primary"
            style="margin-left: 20px; margin-top: 20px"
          >
            添加项目
          </el-button>
          <el-button
            v-permission="'LOOK_TOMORROW_PRODUCE'"
            @click="torromowProduction"
            plain
            type="primary"
            style="margin-left: 20px; margin-top: 20px"
          >
            查看明日生产情况
          </el-button>
          <div class="rightBtnGroup">
            <el-button
              @click="query"
              type="primary"
              style="margin-left: 3%; margin-top: 20px"
            >
              查询
            </el-button>
            <el-button @click="reset" style="margin-top: 20px">重置</el-button>
          </div>
        </div>
      </div>
      <div class="tablebox" style="margin-top: 20px">
        <el-table
          :data="projectList.results"
          tooltip-effect="dark"
          style="width: 100%"
          :header-cell-style="{ background: '#eef1f6' }"
          :row-key="getRowKeys"
          :expand-row-keys="expands"
          @expand-change="toggleRowExpansion"
        >
          <el-table-column type="expand">
            <template slot-scope="scope">
              <el-table
                :data="scope.row.projectPlanList.results"
                tooltip-effect="dark"
                style="width: 100%"
                :header-cell-style="{ background: '#eef1f6' }"
                :row-style="{ background: '#eef1f6' }"
              >
                <el-table-column
                  label="混合料规格"
                  align="center"
                  prop="specification"
                ></el-table-column>
                <el-table-column
                  prop="resultTotal"
                  label="总量(T)"
                  align="center"
                  show-overflow-tooltip=""
                ></el-table-column>

                <el-table-column
                  prop="grandTotal"
                  label="累积量(T)"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column
                  prop="produceTime"
                  label="生产日期"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column
                  prop="expectedNum"
                  label="当日计划量"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column
                  prop="realNum"
                  label="当日生产量"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column
                  prop="createTime"
                  label="当日完成率"
                  align="center"
                  :formatter="getTodayPercentage"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column
                  prop="reporter"
                  label="提交人"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column
                  prop="reportTime"
                  label="提交时间"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
                <el-table-column align="center" label="操作" width="250px">
                  <template slot-scope="scope">
                    <el-button
                      size="mini"
                      @click="editBlendPlan(scope.row)"
                      v-permission="'EDIT_PLAN_AMOUNT'"
                    >
                      编辑
                    </el-button>
                    <el-button
                      v-permission="'DELETE_PLAN_AMOUNT'"
                      size="mini"
                      type="danger"
                      plain
                      @click="handleDelete(scope.row)"
                    >
                      删除
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <div
                class="addprojectTable"
                v-if="scope.row.projectPlanList.results.length > 5"
              >
                <el-pagination
                  @current-change="handlePlanPaginationChange"
                  background
                  :page-size="projectPlanListParams.count"
                  layout="prev, pager, next,total"
                  :total="scope.row.projectPlanList.pagination.total"
                ></el-pagination>
              </div>
            </template>
          </el-table-column>
          <!-- <el-table-column label="序号" align="center">
            <template slot-scope="scope">
              <span>{{ (current - 1) * params.count + scope.$index + 1 }}</span>
            </template>
          </el-table-column> -->
          <el-table-column
            label="项目名称"
            align="center"
            prop="projectName"
          ></el-table-column>
          <el-table-column
            prop="workSpace"
            label="施工单位"
            align="center"
            show-overflow-tooltip=""
          ></el-table-column>

          <el-table-column
            prop="person"
            label="负责人"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="sum"
            label="合同总量"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="produced"
            label="累计生产量"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="总量百分比"
            align="center"
            show-overflow-tooltip
            :formatter="getTotalPercentage"
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="创建时间"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column align="center" label="操作" width="320px">
            <template slot-scope="scope">
              <el-button
                v-permission="'EDIT_PROJECT'"
                size="mini"
                @click="editProject(scope.row)"
              >
                编辑项目
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="addBlendPlan(scope.row)"
                v-permission="'ADD_PLAN_AMOUNT'"
              >
                添加计划量
              </el-button>
              <el-button size="mini" type="primary" @click="finish(scope.row)">完结</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-pagination
        @current-change="handleChange"
        background
        :page-size="params.count"
        layout="prev, pager, next,total"
        :total="projectList.pagination.total"
      ></el-pagination>
    </div>
    <el-dialog
      title="新增项目"
      :visible.sync="addDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="addProjectForm"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="项目名称:">
          <el-input
            v-model="addProjectForm.projectName"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="施工单位:">
          <el-input
            v-model="addProjectForm.workSpace"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="负责人:">
          <el-input
            v-model="addProjectForm.person"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="合同总量:">
          <el-input
            v-model="addProjectForm.sum"
            autocomplete="off"
            disabled
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="混合料规格:">
          <el-table border :data="addProjectForm.contents">
            <el-table-column
              type="index"
              align="center"
              label="序号"
              width="80px"
            ></el-table-column>
            <el-table-column
              label="规格名称"
              align="center"
              prop="specification"
            >
              <template slot-scope="scope">
                <el-select
                  v-model="addProjectForm.contents[scope.$index].specification"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in blendType"
                    :key="item.realName"
                    :label="item.realName"
                    :value="item.realName"
                  ></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column
              label="规格总量(T)"
              align="center"
              show-overflow-tooltip=""
              prop="total"
            >
              <template slot-scope="scope">
                <el-input
                  v-model.number="addProjectForm.contents[scope.$index].total"
                  @input="onBlendValueChange"
                ></el-input>
              </template>
            </el-table-column>
            <el-table-column
              label="操作"
              align="center"
              show-overflow-tooltip=""
              prop="total"
            >
              <template slot-scope="scope">
                <el-button
                  type="danger"
                  @click="delProjectBlendTable(scope.$index)"
                >
                  删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <div class="addprojectTable">
            <el-button
              size="mini"
              icon="el-icon-plus"
              @click="addProjectBlendTable"
            ></el-button>
          </div>
        </el-form-item>

        <el-form-item label="选择附件:">
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            multiple
            :file-list="fileList"
            :show-file-list="true"
            :before-upload="beforeUpload"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addProjectConfirm"
          :loading="!upPicSuccess"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="编辑项目"
      :visible.sync="editProjectDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="addProjectForm"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="项目名称:">
          <el-input
            v-model="editProjectForm.projectName"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="施工单位:">
          <el-input
            v-model="editProjectForm.workSpace"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="负责人:">
          <el-input
            v-model="editProjectForm.person"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="合同总量:">
          <el-input
            v-model="editProjectForm.sum"
            autocomplete="off"
            disabled
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="混合料规格:">
          <el-table border :data="editProjectForm.contents">
            <el-table-column
              type="index"
              align="center"
              label="序号"
              width="80px"
            ></el-table-column>
            <el-table-column
              label="规格名称"
              align="center"
              prop="specification"
            >
              <template slot-scope="scope">
                <el-select
                  v-if="editProjectForm.contents[scope.$index].disabled"
                  disabled
                  v-model="editProjectForm.contents[scope.$index].specification"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in blendType"
                    :key="item.realName"
                    :label="item.realName"
                    :value="item.realName"
                  ></el-option>
                </el-select>
                <el-select
                  v-else
                  v-model="editProjectForm.contents[scope.$index].specification"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in blendType"
                    :key="item.realName"
                    :label="item.realName"
                    :value="item.realName"
                  ></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column
              label="规格总量(T)"
              align="center"
              show-overflow-tooltip=""
              prop="total"
            >
              <template slot-scope="scope">
                <el-input
                  v-model.number="editProjectForm.contents[scope.$index].total"
                  @input="onBlendValueChange"
                ></el-input>
              </template>
            </el-table-column>
            <!-- <el-table-column
              label="操作"
              align="center"
              show-overflow-tooltip=""
              prop="total"
              v-if="addOrEdit == 0"
            >
              <template slot-scope="scope">
                <el-button
                  type="danger"
                  @click="delProjectBlendTable(scope.$index)"
                >
                  删除
                </el-button>
              </template>
            </el-table-column> -->
          </el-table>
          <div class="addprojectTable">
            <el-button
              size="mini"
              icon="el-icon-plus"
              @click="addProjectBlendTable"
            ></el-button>
          </div>
        </el-form-item>

        <el-form-item label="选择附件:">
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            multiple
            :file-list="fileList"
            :show-file-list="true"
            :before-upload="beforeUpload"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editProjectDialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="editProjectConfirm"
          :loading="!upPicSuccess"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%" center>
      <span>是否确认走删除申请审批?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="delconfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="添加计划量"
      :visible.sync="addPlanDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="editform"
        :label-position="labelPosition"
        label-width="110px"
      >
        <el-form-item label="混合料规格:">
          <el-select v-model="addPlanParams.specification" placeholder="请选择">
            <el-option
              v-for="item in projectBlendType"
              :key="item.specification"
              :label="item.specification"
              :value="item.specification"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="当日计划量(T):">
          <el-input
            v-model="addPlanParams.expectedNum"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="生产日期:">
          <el-input
            disabled
            v-model="addPlanParams.produceTime"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="备注:">
          <el-input
            v-model="addPlanParams.remark"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addPlanDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addBlendPlanConfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="提交审批"
      :visible.sync="checkDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="checkParams"
        :label-position="labelPosition"
        label-width="110px"
      >
        <el-form-item label="审批类型:">
          <el-input disabled v-model="checkParams.approvalType"></el-input>
        </el-form-item>
        <el-form-item label="审批内容:">
          <el-input
            disabled
            type="textarea"
            v-model="checkParams.approvalContent"
          ></el-input>
        </el-form-item>
        <el-form-item label="备注:">
          <el-input
            v-model="checkParams.approvalRemark"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="checkDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="checkConfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="编辑计划量"
      :visible.sync="editPlanDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="editPlanParams"
        :label-position="labelPosition"
        label-width="110px"
      >
        <el-form-item label="混合料规格:">
          <el-select
            v-model="editPlanParams.specification"
            placeholder="请选择"
          >
            <el-option
              v-for="item in projectBlendType"
              :key="item.specification"
              :label="item.specification"
              :value="item.specification"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="当日计划量(T):">
          <el-input
            v-model="editPlanParams.expectedNum"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="生产日期:">
          <el-input
            disabled
            v-model="editPlanParams.produceTime"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="备注:">
          <el-input
            v-model="editPlanParams.remark"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editPlanDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editBlendPlanConfirm">
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="明日生产情况"
      :visible.sync="tomorrowPorductionDialogVisible"
      width="30%"
      center
    >
      <el-table border="" :data="torromowPlan.results">
        <el-table-column
          label="序号"
          align="center"
          type="index"
          width="50px"
        ></el-table-column>
        <el-table-column
          prop="projectName"
          label="项目名称"
          align="center"
          show-overflow-tooltip=""
        ></el-table-column>
        <el-table-column
          prop="specification"
          label="混合料规格"
          align="center"
          show-overflow-tooltip=""
        ></el-table-column>
        <el-table-column
          prop="expectedNum"
          label="明日计划量(T)"
          align="center"
          show-overflow-tooltip=""
        ></el-table-column>
        <el-table-column
          prop="remark"
          label="备注"
          align="center"
          show-overflow-tooltip=""
        ></el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="tomorrowPorductionDialogVisible = false">
          取 消
        </el-button>
        <el-button
          type="primary"
          @click="tomorrowPorductionDialogVisible = false"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="alertDialog" width="30%">
      <span>该项目在系统中已存在，无需重复录入!</span>
      <br />
      <br />
      <span slot="footer">
        <el-button @click="alertDialog = false">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      current: 1,
      params: {
        start: 0,
        count: 10,
        projectName: null,
        person: null,
        status:0,
      },
      addOrEdit: 0,
      alertDialog: false,
      projectPlanListParams: {
        start: 0,
        count: 500,
        startDate: null,
        endDate: null,
        projectId: null,
        specification: null
      },
      projectDetailParams: {},
      addProjectForm: {
        workSpace: null,
        sum: null,
        projectName: null,
        person: null,
        contents: [],
        contract: []
      },
      checkParams: {
        resultTotal: null,
        grandTotal: null,
        remark: "",
        contents: [],
        approvalType: null,
        approvalContent: null,
        approvalRemark: null,
        produceTime: "",
        specification: null,
        expectedNum: null,
        reporter: Vue.ls.get("name")
      },
      editProjectForm: {
        workSpace: null,
        sum: null,
        projectName: null,
        person: null,
        id: null,
        contents: [],
        contract: []
      },
      addPlanParams: {
        remark: "",
        contents: [],
        produceTime: "",
        specification: null,
        expectedNum: null,
        reporter: Vue.ls.get("name")
      },
      editPlanParams: {
        remark: "",
        produceTime: null,
        specification: null,
        expectedNum: null,
        reporter: Vue.ls.get("name"),
        id: null
      },
      fileList: [],
      editform: {
        title: "",
        content: "",
        createName: Vue.ls.get("name"),
        createTime: null
      },
      delParams: {
        id: null
      },
      editOrADD: 1,
      cacheFileList: [],
      expands: [],
      expandListShow: false,
      getRowKeys(row) {
        return row.id;
      },
      projectPlanList: {
        results: [
          {
            realNum: 0,
            expectedNum: 10
          }
        ]
      },
      datepicker: [],
      multipleSelection: [],
      addDialogVisible: false,
      editProjectDialogVisible: false,
      delDialogVisible: false,
      labelPosition: "left",
      dialogImageUrl: null,
      hideUploadEdit: false,
      upPicSuccess: true,
      addPlanDialogVisible: false,
      editPlanDialogVisible: false,
      tomorrowPorductionDialogVisible: false,
      checkDialogVisible: false
    };
  },
  methods: {
    finish(index){
      this.$store.dispatch("finish",{id:index.id})
      this.getProjectList()   
    },
    addBlendPlan(row) {
      this.addPlanParams.remark = row.remark;
      this.addPlanParams.projectId = row.id;
      this.addPlanDialogVisible = true;
      this.addPlanParams.produceTime = this.getDate();
      this.addPlanParams.expectedNum = null;
      this.getProjectBlendType(row.id);
    },
    editBlendPlan(row) {
      this.editPlanParams.remark = row.remark;
      this.addPlanParams.contents = row.contents;
      this.editPlanParams.grandTotal = row.grandTotal;
      this.editPlanParams.resultTotal = row.resultTotal;
      this.editPlanParams.projectId = row.projectId;
      this.editPlanParams.id = row.id;
      this.editPlanParams.reporter = row.reporter;
      this.editPlanParams.produceTime = row.produceTime;
      this.editPlanParams.specification = row.specification;
      this.editPlanParams.expectedNum = row.expectedNum;
      this.editPlanParams.status = "SUBMIT";
      this.getProjectBlendType(row.projectId); //携带对应的生产计划id过去,请求对应的规格类型
      this.editPlanDialogVisible = true;
    },
    editBlendPlanConfirm() {
      this.editPlanDialogVisible = false;
      this.checkParams.resultTotal = this.editPlanParams.resultTotal;
      this.checkParams.grandTotal = this.editPlanParams.grandTotal;
      this.checkParams.remark = this.editPlanParams.remark;
      this.checkParams.specification = this.editPlanParams.specification;
      this.checkParams.projectId = this.editPlanParams.projectId;
      this.checkParams.expectedNum = this.editPlanParams.expectedNum;
      this.checkParams.produceTime = this.editPlanParams.produceTime;
      this.checkParams.id = this.editPlanParams.id;
      this.checkParams.reporter = this.editPlanParams.reporter;
      this.checkParams.approvalType = "编辑";
      this.checkParams.approvalRemark = "";
      this.checkParams.approvalContent = "编辑生产计划";
      this.checkParams.status = "SUBMIT";
      this.checkDialogVisible = true;
    },
    addBlendPlanConfirm() {
      this.$store
        .dispatch("addProductionPlan", this.addPlanParams)
        .then((res) => {
          if (res.result != null) {
            this.addPlanDialogVisible = false;
            if (res.result.approvalTypeString == "无需审批") {
              Message.success("添加成功");
              this.getProjectPlanList();
            } else {
              this.checkDialogVisible = true;
              this.checkParams.specification = this.addPlanParams.specification;
              this.checkParams.projectId = this.addPlanParams.projectId;
              this.checkParams.expectedNum = this.addPlanParams.expectedNum;
              this.checkParams.produceTime = this.addPlanParams.produceTime;
              this.checkParams.reporter = this.addPlanParams.reporter;
              this.checkParams.approvalType = res.result.approvalTypeString;
              this.checkParams.approvalRemark = res.result.approvalRemark;
              this.checkParams.approvalContent = res.result.approvalContent;
              this.checkParams.remark = res.result.remark;
              this.checkParams.grandTotal = res.result.grandTotal;
              this.checkParams.resultTotal = res.result.resultTotal;
              this.checkParams.status = "SUBMIT";
            }
          } else {
            Message.success(res.error.message);
            this.addPlanDialogVisible = false;
          }
        });
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleChange(index) {
      this.params.start = (index - 1) * this.params.count;
      this.getProjectList();
    },
    handlePlanPaginationChange(index) {
      this.projectPlanListParams.start =
        (index - 1) * this.projectPlanListParams.count;
      this.getProjectPlanList();
    },
    dataChange(val) {
      this.projectPlanListParams.startDate = val[0];
      this.projectPlanListParams.endDate = val[1];
    },

    getBlendType() {
      this.$store.dispatch("getBlendType");
    },
    getProjectBlendType(id) {
      this.$store.dispatch("getProjectBlendType", { id: id });
    },
    getCheckType() {
      this.$store.dispatch("getCheckType");
    },
    checkConfirm() {
      this.$store.dispatch("addApprove", this.checkParams).then((res) => {
        if (res.result != null) {
          this.checkDialogVisible = false;
          Message.success("提交成功");
          this.getProjectPlanList();
        } else {
          Message.success(res.error.message);
          this.checkDialogVisible = false;
        }
      });
    },
    getProjectList() {
      return this.$store.dispatch("getLQCProjectList", this.params);
    },
    getProjectDetail(item) {
      this.$store.dispatch("getProjectDetail", { id: item.id }).then((res) => {
        this.editProjectForm = res.result;
        this.editProjectForm.contents.forEach((item) => {
          Object.assign(item, { disabled: true });
        });
        this.editProjectDialogVisible = true;
        this.fileList = [];
        res.result.contract.forEach((item) => {
          this.fileList.push(item);
        });
      });
    },
    getProjectPlanList() {
      this.$store.dispatch("getProjectPlanList", this.projectPlanListParams);
    },
    query() {
      this.params.start = 0;
      this.projectPlanListParams.start = 0;
      this.getProjectList().then((res) => {
        this.getProjectPlanList();
      });
    },
    reset() {
      this.params.projectName = null;
      this.projectPlanListParams.startDate = null;
      this.projectPlanListParams.endDate = null;
      this.projectPlanListParams.specification = null;
      this.params.person = null;
      this.datepicker = null;
      this.getProjectList().then((res) => {
        this.getProjectPlanList();
      });
    },
    handleDelete(item) {
      console.log(item);
      this.delParams.id = item.id;
      this.checkParams.specification = item.specification;
      this.checkParams.projectId = item.projectId;
      this.checkParams.expectedNum = item.expectedNum;
      this.checkParams.produceTime = item.produceTime;
      this.checkParams.id = item.id;
      this.checkParams.reporter = item.reporter;
      this.checkParams.approvalType = "删除";
      this.checkParams.approvalRemark = "";
      this.checkParams.approvalContent = "删除生产计划";
      this.checkParams.status = "SUBMIT";
      this.checkDialogVisible = true;
    },
    delconfirm() {
      this.delDialogVisible = false;
      this.checkDialogVisible = true;
    },

    addProject() {
      this.addOrEdit = 0; //确定弹出的事添加项目框
      this.addDialogVisible = true;
      this.hideUploadEdit = false;
      this.addProjectForm.contract = []; //每次点开添加项目弹框时,设置上传的图片的数组为空,防止出现上次操作时的遗留数据
      this.fileList = [];
    },
    addProjectBlendTable() {
      //添加项目时,添加混合材料规格
      if (this.addOrEdit == 0) {
        //0代表弹出的是添加框,1代表弹出的是编辑框
        this.addProjectForm.contents.push({
          specification: null,
          total: 0
        });
      } else {
        this.editProjectForm.contents.push({
          specification: null,
          total: 0
        });
      }
    },
    delProjectBlendTable(item) {
      console.log(item);
      if (this.addOrEdit == 0) {
        //0代表弹出的是添加框,1代表弹出的是编辑框
        this.addProjectForm.contents.splice(item, 1);
        console.log(this.addProjectForm.contents);
      } else {
        this.editProjectForm.contents.splice(item, 1);
      }
    },
    addProjectConfirm() {
      /* 
      东明路（芦恒路-闵行区界）新建工程
      上海两港市政工程有限公司
      上海水务建设工程有限公司
      */
      var res = this.projectList.results;
      var flag = true;

      this.addProjectForm.contract = [];
      this.fileList.forEach((item) => {
        this.addProjectForm.contract.push(item);
      });
      // 判断是否与已有重复
      label: for (var val of res) {
        if (this.addProjectForm.projectName == val.projectName) {
          if (this.addProjectForm.workSpace == val.workSpace) {
            flag = false;
            break label;
          }
        }
      }
      if (flag) {
        this.$store
          .dispatch("addLqcProject", this.addProjectForm)
          .then((res) => {
            if (res.result) {
              this.addDialogVisible = false;
              Message.success("添加成功");
              this.getProjectList();
            } else {
              Message.success(res.error.message);
            }
          });
      } else {
        this.alertDialog = true;
      }
    },
    onBlendValueChange() {
      let total = 0;
      this.addProjectForm.contents.forEach((item) => {
        total = total + item.total;
      });
      this.addProjectForm.sum = total;
    },
    editProject(item) {
      this.addOrEdit = 1; //确定弹出的是编辑项目框
      this.getProjectDetail(item);
    },
    editProjectConfirm() {
      this.editProjectForm.contract = [];
      this.fileList.forEach((item) => {
        this.editProjectForm.contract.push(item);
      });
      let contents = [];
      this.editProjectForm.contents.forEach((item) => {
        if (item.specification != null) {
          contents.push(item);
        }
      });
      this.editProjectForm.contents = contents;
      this.$store
        .dispatch("addLqcProject", this.editProjectForm)
        .then((res) => {
          if (res.result) {
            this.editProjectDialogVisible = false;
            Message.success("修改成功");
            this.getProjectList();
          } else {
            Message.success(res.error.message);
          }
        });
    },
    beforeUpload(file) {
      this.upPicSuccess = false;
      let fd = new FormData();
      fd.append("files", file);
      this.$http.post("/asp/v1/project/files/upload", fd).then((res) => {
        this.upPicSuccess = true;
        if (res.results.length > 0) {
          this.fileList.push(res.results[0]); //上传文件成功后,将返回的url添加添加项目的图片数据中
        } else {
          Message.success(res.errors[0]);
        }
      });
    },

    handleRemove(file, fileList) {
      this.fileList = fileList;
    },
    handleExceed(files, fileList) {
      console.log(file);
    },
    handlePreview(file, fileList) {
      window.open(process.env.VUE_APP_LQ_DOWNLOAD + file.url);
    },
    getTorromowPlan() {
      this.$store.dispatch("getTorromowPlan", { date: this.getDate() });
    },
    torromowProduction() {
      this.tomorrowPorductionDialogVisible = true;
      this.getTorromowPlan();
    },
    expandOnClick(row, expandedRows) {
      console.log(expandedRows);
    },
    toggleRowExpansion(row) {
      if (this.expands.length > 0 && this.expands[0] == row.id) {
        //当id相同时,代表点击了已经打开的行此时应关闭拓展列表
        this.expands = [];
      } else {
        this.expands = [];
        this.expands.push(row.id);
      }

      if (row.id != this.projectPlanListParams.projectId) {
        //当id不同时,代表点击了不同的行,请求新的数据,避免出现每次点击都请求数据
        this.projectPlanListParams.projectId = row.id;
        this.getProjectPlanList();
      }
    },
    getTotalPercentage(row) {
      var num = (row.produced / row.sum) * 100;
      return num.toFixed(2) + "%";
    },
    getTodayPercentage(row) {
      var num = (row.realNum / row.expectedNum) * 100;
      return num.toFixed(2) + "%";
    },
    getDate() {
      var timestamp = Date.parse(new Date());
      var date = new Date(timestamp + 86400000);
      var year = date.getFullYear();
      var month = date.getMonth() + 1;
      var day = date.getDate();
      if (month < 10) {
        month = "0" + month;
      }
      if (day < 10) {
        day = "0" + day;
      }
      return year + "-" + month + "-" + day;
    }
  },
  created() {},
  mounted() {
    this.getProjectList();
    this.getBlendType();
    this.getCheckType();
  },
  watch: {
    projectList() {
      console.log(this.projectList);
    }
  },
  computed: {
    ...mapState({
      noticeToVistorList: (state) => state.oldStreet.noticeToVistorList,
      projectList: (state) => state.lqc.projectList,
      projectDetail: (state) => state.lqc.projectDetail,
      blendType: (state) => state.lqc.blendType,
      projectBlendType: (state) => state.lqc.projectBlendType,
      torromowPlan: (state) => state.lqc.torromowPlan,
      checkType: (state) => state.lqc.checkType
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.eltabs {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.eltabspan {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
// .basecontainer {
//   height: 100%;
//   width: 100%;
//   box-sizing: border-box;
//   padding: 20px 10px;
//   background: #eaeef4;
// }
.highPointTabs {
  // height: fit-content;
  // overflow-y: scroll;
  width: 100%;
  // box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 2rem;
        align-items: center;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 6rem;
      // text-align: right;
    }
  }
  .tablebox {
    min-height: 75%;
    width: 100%;
    // overflow-y: scroll;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
.addprojectTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
<style>
.el-table .warning-row {
  /* --el-table-tr-background-color: var(--el-color-warning-lighter); */
  --el-table-tr-background-color: red;
}
</style>
