<template>
  <div class="basecontainer">
    <div class="countBox">
      <div class="countRow">
        <div class="title">1号仓 石灰岩（5-15）：</div>
        <el-input-number
          v-model="shiliaoList[0].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">2号仓 石屑（0-3）：</div>
        <el-input-number
          v-model="shiliaoList[1].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">3号仓 石灰岩（15-25）：</div>
        <el-input-number
          v-model="shiliaoList[2].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">4号仓 石灰岩（25-31.5）：</div>
        <el-input-number
          v-model="shiliaoList[3].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">5号仓 玄武岩，辉绿岩（10-15）：</div>
        <el-input-number
          v-model="shiliaoList[4].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">6号仓 玄武岩，辉绿岩（5-10）：</div>
        <el-input-number
          v-model="shiliaoList[5].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">7号仓 沥青回收料：</div>
        <el-input-number
          v-model="shiliaoList[6].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
      <div class="countRow">
        <div class="title">8号仓 沥青回收料：</div>
        <el-input-number
          v-model="shiliaoList[7].stock"
          @change="handleChange"
        ></el-input-number>
      </div>
    </div>
    <div class="foot">
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogShow">确 定</el-button>
      </span>
    </div>
    <el-dialog
      title="库存量修改提示"
      :visible.sync="inventoryChangeDialog"
      width="20%"
    >
      <span>是否确认修改并提交库存量数据？</span>
      <br />
      <br />
      <span slot="footer">
        <el-button @click="inventoryChangeDialog = false">取消</el-button>
        <el-button type="primary" @click="inventoryChange">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { Message } from "element-ui";
export default {
  data() {
    return {
      num: 1,
      inventoryChangeDialog: false
    };
  },
  methods: {
    handleChange(val) {
      // console.log(val);
      // console.log(this.shiliaoList);
    },
    dialogShow() {
      this.inventoryChangeDialog = true;
    },
    inventoryChange() {
      // console.log(this.shiliaoList);
      this.$store.dispatch("updateshiliao", this.shiliaoList).then((res) => {
        // console.log(res.result);
        if (res.result) {
          this.inventoryChangeDialog = false;
          Message.success("修改成功");
          // console.log(res);
          this.$store.dispatch("getshiliaoAmount");
        }
      });
    }
  },
  mounted() {
    this.$store.dispatch("getshiliaoAmount");
  },
  computed: {
    ...mapState({
      shiliaoList: (state) => state.lqc.shiliaoList
    })
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  // border: black 1px solid;

  .countBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // border:1px solid black;

    .countRow {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      // border:1px solid black;

      .title {
        width: 20%;
        text-align: right;
        font-size: 18px;
        color: rgb(48, 47, 56);
        // border: blueviolet 1px solid;
      }
    }
  }
  .foot {
    margin-top: 80px;
    text-align: center;
    // border: 1px solid rgb(0, 0, 0);
  }
}
</style>