<template>
  <div class="basecontainer">
    <div class="countBox">
      <div class="countRow" v-for="item in liqingList" :key="item.id">
        <div class="title">{{item.nameAsphalt}}：</div>
        <el-input-number
          v-model="item.volume"
        ></el-input-number>
      </div>
    </div>
    <div class="foot">
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogShow">确 定</el-button>
      </span>
    </div>
    <el-dialog
      title="库存量修改提示"
      :visible.sync="inventoryChangeDialog"
      width="20%"
    >
      <span>是否确认修改并提交库存量数据？</span>
      <br />
      <br />
      <span slot="footer">
        <el-button @click="inventoryChangeDialog = false">取消</el-button>
        <el-button type="primary" @click="inventoryChange">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { Message } from "element-ui";
export default {
  data() {
    return {
      num: 1,
      inventoryChangeDialog: false
    };
  },
  methods: {
    dialogShow() {
      this.inventoryChangeDialog = true;
    },
    inventoryChange() {
      // console.log(this.liqingList);
      this.$store.dispatch("updateliqing", this.liqingList).then((res) => {
        // console.log(res.result);
        if (res.result) {
          this.inventoryChangeDialog = false;
          Message.success("修改成功");
          // console.log(res);
          this.$store.dispatch("getliqingAmount");
        }
      });
    }
  },
  mounted() {
    this.$store.dispatch("getliqingAmount");
  },
  computed: {
    ...mapState({
      liqingList: (state) => state.lqc.liqingList
    })
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  // border: black 1px solid;

  .countBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // border:1px solid black;

    .countRow {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      // border:1px solid black;

      .title {
        width: 10%;
        text-align: right;
        font-size: 18px;
        color: rgb(48, 47, 56);
        // border: blueviolet 1px solid;
      }
    }
  }
  .foot {
    margin-top: 120px;
    text-align: center;
    // border: 1px solid rgb(0, 0, 0);
  }
}
</style>