<template>
  <div class="lqc-audit">
    <div class="form-container">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="项目名称">
          <el-select
            v-model="formInline.projectName"
            reserve-keyword
            placeholder="请输入关键词"
          >
            <el-option
              v-for="item in projectList"
              :key="item.id"
              :label="item.projectName"
              :value="item.projectName"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="审批类型">
          <el-select v-model="formInline.approvalType" placeholder="审批类型">
            <el-option
              v-for="item in auditTypeList"
              :key="item.description"
              :label="item.description"
              :value="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="审批状态">
          <el-select v-model="formInline.status" placeholder="审批状态">
            <el-option
              v-for="item in auditStatusList"
              :key="item.description"
              :label="item.description"
              :value="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="生产日期">
          <el-date-picker
            format="yyyy-MM-dd"
            v-model="formInline.createTimeList"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="提交时间">
          <el-date-picker
            format="yyyy-MM-dd HH:mm:ss"
            v-model="formInline.produceTimeList"
            type="datetimerange"
            range-separator="至"
            start-placeholder="提交时间"
            end-placeholder="提交时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">查 询</el-button>
        </el-form-item>
        <el-form-item>
          <el-button @click="onReset">重 置</el-button>
        </el-form-item>
      </el-form>
      <div class="table-container">
        <el-table border :data="auditList">
          <el-table-column
            label="序号"
            type="index"
            width="50"
          ></el-table-column>
          <el-table-column
            label="项目名称"
            prop="projectName"
          ></el-table-column>
          <el-table-column
            label="生产日期"
            prop="produceTime"
          ></el-table-column>
          <el-table-column label="审批类型" prop="approvalType">
            <template slot-scope="scope">
              {{ scope.row.approvalType | typeFilter }}
            </template>
          </el-table-column>
          <el-table-column label="提交人" prop="reporter"></el-table-column>
          <el-table-column label="提交时间" prop="reportTime"></el-table-column>
          <el-table-column
            label="审批人"
            prop="approvalPerson"
          ></el-table-column>
          <el-table-column label="审批状态">
            <template slot-scope="scope">
              <span v-if="scope.row.status == 'FAIL'" style="color:red">
                {{ scope.row.status | statusFilter }}
              </span>
              <span
                v-else-if="scope.row.status == 'SUCCESS'"
                style="color:green"
              >
                {{ scope.row.status | statusFilter }}
              </span>
              <span v-else>
                {{ scope.row.status | statusFilter }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="审批时间"
            prop="approvalTime"
          ></el-table-column>
          <el-table-column label="操作" v-permission="'LOOK_AUDIT_DETAIL'">
            <template slot-scope="scope">
              <el-button
                type="primary"
                size="small"
                @click="showDialog(scope.row)"
              >
                查看
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            @current-change="handleChange"
            background
            :page-size="pagination.count"
            layout="prev, pager, next,total"
            :total="pagination.total"
          ></el-pagination>
        </div>
      </div>
    </div>
    <el-dialog
      title="详细信息"
      :visible.sync="dialogVisible"
      width="50%"
      :before-close="handleClose"
    >
      <el-form ref="form" :model="currentRow" label-width="80px">
        <el-form-item label="项目名称" label-width="110px">
          <el-input disabled v-model="currentRow.projectName"></el-input>
        </el-form-item>
        <el-form-item label="施工单位" label-width="110px">
          <el-input disabled v-model="currentRow.workSpace"></el-input>
        </el-form-item>
        <el-form-item label="负责人" label-width="110px">
          <el-input disabled v-model="currentRow.person"></el-input>
        </el-form-item>
        <el-form-item label="合同总量" label-width="110px">
          <el-input
            disabled
            placeholder="请输入内容"
            v-model="currentRow.resultTotal"
          >
            <template slot="append">吨</template>
          </el-input>
        </el-form-item>
        <el-form-item label="累计生产量" label-width="110px">
          <el-input
            disabled
            placeholder="请输入内容"
            v-model="currentRow.grandTotal"
          >
            <template slot="append">吨</template>
          </el-input>
        </el-form-item>
        <el-form-item label="混合料规格" label-width="110px">
          <el-input disabled v-model="currentRow.specification"></el-input>
        </el-form-item>
        <el-form-item label="当日计划量" label-width="110px">
          <el-input disabled v-model="currentRow.expectedNum"></el-input>
        </el-form-item>
        <el-form-item label="生产日期" label-width="110px">
          <el-input disabled v-model="currentRow.produceTime"></el-input>
        </el-form-item>
        <el-form-item label="审批类型" label-width="110px">
          <el-input disabled v-model="currentRow.approvalTypeStr"></el-input>
        </el-form-item>
        <el-form-item label="审批内容" label-width="110px">
          <el-input disabled v-model="currentRow.approvalContent"></el-input>
        </el-form-item>
        <el-form-item label="提交人" label-width="110px">
          <el-input disabled v-model="currentRow.reporter"></el-input>
        </el-form-item>
        <el-form-item label="提交时间" label-width="110px">
          <el-input disabled v-model="currentRow.reportTime"></el-input>
        </el-form-item>
        <el-form-item label="备注" label-width="110px">
          <el-input disabled v-model="currentRow.approvalRemark"></el-input>
        </el-form-item>
        <el-form-item label="审批状态" label-width="110px">
          <el-input disabled v-model="currentRow.statusStr"></el-input>
        </el-form-item>
        <el-form-item label="审批人" label-width="110px">
          <el-input disabled v-model="currentRow.approvalPerson"></el-input>
        </el-form-item>
        <el-form-item label="审批时间" label-width="110px">
          <el-input disabled v-model="currentRow.approvalTime"></el-input>
        </el-form-item>
        <el-form-item
          v-if="currentRow.status == 'FAIL'"
          label="未通过原因"
          label-width="110px"
        >
          <el-input
            disabled
            type="textarea"
            v-model="currentRow.approvalFailedReason"
          ></el-input>
        </el-form-item>
        <el-form-item label="合同附件" label-width="110px">
          <el-table border :data="currentRow.contract">
            <el-table-column prop="name" label="文件名"></el-table-column>
            <el-table-column label="下载地址">
              <template slot-scope="scope">
                <a :href="scope.row.url">下载</a>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer dialog-footer-self">
        <div class="inner-container">
          <el-button class="inner-btn" @click="dialogVisible = false">
            关 闭
          </el-button>
          <template v-if="currentRow.status == 'SUBMIT'">
            <el-popover
              class="inner-btn"
              placement="top"
              width="160"
              v-model="refuseVisible"
            >
              <el-form :model="refuseForm">
                <el-form-item label="拒绝原因">
                  <el-input
                    type="textarea"
                    v-model="currentRow.approvalFailedReason"
                  ></el-input>
                </el-form-item>
              </el-form>
              <div style="text-align: right; margin: 0">
                <el-button
                  size="mini"
                  type="text"
                  @click="refuseVisible = false"
                >
                  取消
                </el-button>
                <el-button type="primary" size="mini" @click="refuseAudit">
                  确定
                </el-button>
              </div>
              <el-button
                slot="reference"
                type="danger"
                v-permission="'AUDIT_OPERATION'"
              >
                拒 绝
              </el-button>
            </el-popover>
            <el-popover
              class="inner-btn"
              placement="top"
              width="160"
              v-model="confirmVisible"
            >
              <p>是否确认通过该审批单？</p>
              <div style="text-align: right; margin: 0">
                <el-button
                  size="mini"
                  type="text"
                  @click="confirmVisible = false"
                >
                  取消
                </el-button>
                <el-button type="primary" size="mini" @click="approveAudit">
                  确定
                </el-button>
              </div>
              <el-button
                type="primary"
                slot="reference"
                v-permission="'AUDIT_OPERATION'"
              >
                通 过
              </el-button>
            </el-popover>
          </template>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      currentRow: "",
      refuseForm: { reason: "" },
      refuseVisible: false,
      confirmVisible: false,
      dialogVisible: false,
      loading: false,
      formInline: {
        createTimeList: null,
        produceTimeList: null,
        status: null,
        approvalType: null,
        projectName: null,
        produceEndDate: null,
        produceStartDate: null,
        reportEndTime: null,
        reportStartTime: null
      }
    };
  },
  methods: {
    refuseAudit: function() {
      Object.assign(this.currentRow, {
        status: "FAIL",
        approvalPerson: Vue.ls.get("userName")
      });
      this.$store.dispatch("addBlendPlan", this.currentRow);
      this.dialogVisible = false;
    },
    approveAudit: function() {
      Object.assign(this.currentRow, {
        status: "SUCCESS",
        approvalPerson: Vue.ls.get("userName")
      });
      this.$store.dispatch("addBlendPlan", this.currentRow);
      this.dialogVisible = false;
    },
    handleChange: function(page) {
      console.log(page);
      Object.assign(this.pagination, { start: (page - 1) * 10, count: 10 });
      this.$store.dispatch("blendPlanApproveList", this.pagination);
    },
    dateString: function(d) {
      return (
        d.getFullYear() +
        "-" +
        (d.getMonth() + 1 < 10 ? "0" + (d.getMonth() + 1) : d.getMonth() + 1) +
        "-" +
        (d.getDate() < 10 ? "0" + d.getDate() : d.getDate())
      );
    },
    dateTimeString: function(d) {
      return (
        d.getFullYear() +
        "-" +
        (d.getMonth() + 1 < 10 ? "0" + (d.getMonth() + 1) : d.getMonth() + 1) +
        "-" +
        (d.getDate() < 10 ? "0" + d.getDate() : d.getDate()) +
        " " +
        (d.getHours() < 10 ? "0" + d.getHours() : d.getHours()) +
        ":" +
        (d.getMinutes() < 10 ? "0" + d.getMinutes() : d.getMinutes()) +
        ":" +
        (d.getSeconds() < 10 ? "0" + d.getSeconds() : d.getSeconds())
      );
    },
    searchProject: function(val) {
      console.log(val);
    },
    showDialog: function(row) {
      console.log(row);
      this.currentRow = row;
      let approvalTypeStr;
      let statusStr;

      let typeList = Vue.ls.get("typeList");
      typeList.forEach(item => {
        if (item.name == row.approvalType) {
          approvalTypeStr = item.description;
        }
      });
      let statusList = Vue.ls.get("statusList");
      statusList.forEach(item => {
        if (item.name == row.status) {
          statusStr = item.description;
        }
      });
      Object.assign(row, { approvalTypeStr, statusStr });
      this.dialogVisible = true;
    },
    handleClose: function() {
      this.dialogVisible = false;
    },
    onSearch: function() {
      if (this.formInline.createTimeList) {
        this.formInline.produceStartDate = this.dateString(
          this.formInline.createTimeList[0]
        );
        this.formInline.produceEndDate = this.dateString(
          this.formInline.createTimeList[1]
        );
      }
      if (this.formInline.produceTimeList) {
        this.formInline.reportStartTime = this.dateTimeString(
          this.formInline.produceTimeList[0]
        );
        this.formInline.reportEndTime = this.dateTimeString(
          this.formInline.produceTimeList[1]
        );
      }
      this.$store.dispatch(
        "blendPlanApproveList",
        Object.assign({}, this.formInline, this.pagination)
      );
    },
    onReset: function() {
      Object.assign(this.formInline, {
        createTimeList: null,
        produceTimeList: null,
        status: null,
        approvalType: null,
        projectName: null,
        produceEndDate: null,
        produceStartDate: null,
        reportEndTime: null,
        reportStartTime: null
      });
      Object.assign(this.pagination, { start: 0, count: 10 });
      this.$store.dispatch("blendPlanApproveList", this.pagination);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("blendPlanApprovalType");
    this.$store.dispatch("getLQCProjectList");
    this.$store.dispatch("getAuditStatusList");
  },
  filters: {
    typeFilter: function(val) {
      let typeList = Vue.ls.get("typeList");
      let typeText = "";
      typeList.forEach(item => {
        if (item.name == val) {
          typeText = item.description;
        }
      });
      return typeText;
    },
    statusFilter: function(val) {
      let statusList = Vue.ls.get("statusList");
      let statusText = "";
      statusList.forEach(item => {
        if (item.name == val) {
          statusText = item.description;
        }
      });
      return statusText;
    }
  },
  watch: {
    createTimeList: function(val) {
      if (val == null) {
        this.formInline.produceStartDate = null;
        this.formInline.produceEndDate = null;
      }
    },
    produceTimeList: function(val) {
      if (val == null) {
        this.formInline.reportStartTime = null;
        this.formInline.reportEndTime = null;
      }
    },
    auditStatusList: function(val) {
      if (val) {
        Vue.ls.set("statusList", val);
        Object.assign(this.pagination, { start: 0, count: 10 });
        this.$store.dispatch("blendPlanApproveList", this.pagination);
      }
    },
    auditTypeList: function(val) {
      if (val) {
        Vue.ls.set("typeList", val);
      }
    }
  },
  computed: {
    produceTimeList: function() {
      return this.formInline.produceTimeList;
    },
    createTimeList: function() {
      return this.formInline.createTimeList;
    },
    ...mapState({
      pagination: state => state.lqc.auditPagination,
      auditStatusList: state => state.lqc.auditStatusList,
      projectList: state => state.lqc.auditProjectList,
      auditTypeList: state => state.lqc.auditTypeList,
      auditList: state => state.lqc.auditList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.pagination-container {
  text-align: center;
  margin: 20px auto;
}
.dialog-footer-self {
  width: 50%;
  .inner-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .inner-btn {
      margin-left: 10px;
    }
  }
}
.lqc-audit {
  padding: 15px;
}
</style>
