<template>
  <div class="lqc-box">
    <div class="buttonloginout" @click="loginout()">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/lqcbgtuichu.png"
        alt=""
      />
    </div>
    <div class="button1">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/lqcbgleft.png"
        alt=""
      />
      <div class="button1-text" @click="gotoScreen(1)">
        沥青基地智慧管控大屏系统
      </div>
    </div>
    <div class="button3">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/lqcbgCenter.png"
        alt=""
      />
      <div class="button1-text" @click="gotoScreen(2)">
        沥青基地智慧管控小屏系统
      </div>
    </div>
    <div class="button2">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/lqcbgright.png"
        alt=""
      />
      <div class="button1-text" @click="gotoScreen(3)">生产任务管控系统</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return { formInline: { user: "", region: "", produceData: "" } };
  },
  methods: {
    ...mapMutations([]),
    gotoScreen: function (index) {
      if (index == 1) {
        window.close();
        window.open(process.env.VUE_APP_LQ_URL1,"a");
        window.open(process.env.VUE_APP_LQ_URL2,"b");
        window.open(process.env.VUE_APP_LQ_URL3,"c");

      } else if (index === 2) {
        window.close();
        window.open(process.env.VUE_APP_LQ_URL3);
      } else {
        let rout = Vue.ls.get("menuList");
        this.$router.push(rout[0].path);
      }
    },
    loginout: function () {
      this.$router.push("/lqc/login");
    }
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.lqc-box {
  width: 100vw;
  height: 100vh;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/lqcbg.png")
    no-repeat;
  background-size: cover;
  .buttonloginout {
    position: absolute;
    top: 4.3%;
    width: 119px;
    height: 43px;
    right: 26px;
    cursor: pointer;
  }
  .button1 {
    position: absolute;
    margin-top: 11%;
    margin-left: 9%;
    width: 580px;
    display: flex;
    color: #01e7fe;
    font-size: 36px;
    img {
      width: 8rem;
    }
  }
  .button2 {
    width: 580px;
    position: absolute;
    margin-top: 17%;
    margin-left: 69%;
    display: flex;
    color: #01e7fe;
    font-size: 36px;
    img {
      width: 8rem;
    }
  }
  .button3 {
    width: 580px;
    position: absolute;
    margin-top: 22%;
    margin-left: 35%;
    display: flex;
    color: #01e7fe;
    font-size: 36px;
    img {
      width: 8rem;
    }
  }
  .button1-text {
    margin-top: 40px;
    cursor: pointer;
    height: 100px;
  }
}
</style>
