<template>
  <div class="labelManageTabs">
    <div class="container">
      <el-tabs v-model="activeName" class="eltabs">

        <el-tab-pane label="沥青基地(沥青)" name="first" class="eltabspan">
          <liqingInventory></liqingInventory>
        </el-tab-pane>
        <el-tab-pane label="沥青基地(石料)" name="second" class="eltabspan">
          <inventoryLiqing></inventoryLiqing>
        </el-tab-pane>
        <el-tab-pane label="新场基地(石料)" name="third" class="eltabspan">
          <inventoryXinchang></inventoryXinchang>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import liqingInventory from "./liqingInventory.vue"
import inventoryLiqing from "./inventoryLiqing.vue";
import inventoryXinchang from "./inventoryXinchang.vue";
export default {
  data() {
    return {
      activeName: "first"
    };
  },
  components: {
    liqingInventory,
    inventoryLiqing,
    inventoryXinchang
  }
};
</script>

<style lang="less" scoped>
.labelManageTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
  .container {
    height: 100%;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .eltabs {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .eltabspan {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
</style>
<style>
.el-tabs__content {
  /* height: 100%; */
  box-sizing: border-box;
}
</style>
