<template>
  <div class="login-container">
    <div class="login-title">上海南信公路建设有限公司-智慧管控系统</div>
    <div class="login-box">
      <div class="login-text">用户登录</div>
      <div class="login-text-en">User login</div>
      <div class="input-box login-input">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/user.png"
          alt
        />
        <input v-model="userName" type="text" placeholder="请输入账号" />
      </div>
      <div class="input-box login-input">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/password.png"
          alt
        />
        <input
          v-model="userPassword"
          type="password"
          placeholder="请输入密码"
        />
      </div>
      <div class="input-box login-button">
        <button class @click="login">登录</button>
      </div>
    </div>
    <div class="power-text">
      Copyright © 2015-2021 猎熊座安全技术(上海)有限公司 版权所有
      沪ICP备15039279
    </div>
  </div>
</template>
<script>
import Vue from "vue";
export default {
  data() {
    return {
      userName: "",
      userPassword: ""
    };
  },
  mounted() {
    Vue.ls.clear();
    Vue.ls.set("sysName", this.$route.name);
  },
  methods: {
    login() {
      const params = {
        account: this.userName,
        password: this.userPassword
      };
      this.$store.dispatch("lqcLogin", params).then(res => {
        if (!res.error) {
          Vue.ls.set("menuList", res.result.menus);
          Vue.ls.set("userName", res.result.realName);
          Vue.ls.set("token", res.result.token);
          let btnList = {};
          res.result.menus.forEach(menu => {
            Object.assign(btnList, menu.permissions);
          });
          Vue.ls.set("btnList", btnList);
          console.log(btnList);
          this.$router.push({
            path: "/lqc/choosePage"
          });
        } else {
          this.$message({ message: "登录失败", type: "error" });
        }
      });
    }
  }
};
</script>
<style lang="less" scoped>
.login-container {
  min-width: 900px;
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-background.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-title {
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-title.png")
    no-repeat;
  background-size: cover;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  color: #00f0ff;
  height: 100px;
  line-height: 100px;
}
.login-box {
  width: 40rem;
  height: 42rem;
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-box.png");
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 3rem;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  .login-text {
    font-size: 45px;
    margin-top: 6rem;
    opacity: 0.85;
  }
  .login-text-en {
    font-size: 34px;
    opacity: 0.38;
    line-height: 30px;
    margin-top: 20px;
  }
  .input-box {
    width: 433px;
    height: 5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 30px;
  }
  input {
    color: #fff;
    font-size: 26px;
    background-color: transparent;
    border: none;
    margin-left: 30px;
    outline: none;
    height: 100%;
    width: 100%;
  }
  input::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  .login-input {
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 30px;
  }
  .login-button {
    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-button.png");
    background-size: 100% 100%;
    margin-top: 45px;
  }
  .login-button:active {
    margin-top: 49px;
    margin-left: 2px;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 30px;
    opacity: 0.85;
    cursor: pointer;
    outline: none;
  }
}
.power-text {
  color: #028189;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
</style>
