<template>
  <div class="1">
    <el-form
      style="margin-top: 20px"
      :model="ruleForm"
      ref="ruleForm"
      label-width="130px"
      class="demo-ruleForm"
      :inline="true"
    >
      <el-form-item label="姓名" prop="name" label-width="80px">
        <el-input v-model="ruleForm.name" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="角色" label-width="85px" prop="type">
        <el-select
          v-model="ruleForm.type"
          placeholder="请选择"
          @change="getType"
        >
          <el-option
            v-for="item in roleList"
            :key="item.name"
            :label="item.name"
            :value="item.name"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <div class="">
          <el-button
            style="margin-left: 60px"
            type="primary"
            @click="onSubmit('ruleForm')"
          >
            查询
          </el-button>
          <el-button @click="resetForm('ruleForm')" style="margin-left: 20px">
            重置
          </el-button>
        </div>
      </el-form-item>
    </el-form>

    <div class="table-box">
      <el-button
        style="margin-bottom: 10px"
        type="primary"
        @click="openAddDialog()"
      >
        添加人员
      </el-button>
      <el-table
        max-height="550"
        :data="personList"
        tooltip-effect="dark"
        border
        style="width: 100%"
      >
        <el-table-column
          prop="number"
          type="index"
          width="50"
          align="center"
          label="序号"
        ></el-table-column>
        <el-table-column
          prop="name"
          align="center"
          label="姓名"
        ></el-table-column>
        <el-table-column
          prop="type"
          label="角色"
          align="center"
          show-overflow-tooltip
        ></el-table-column>
        <el-table-column
          prop="account"
          label="账号"
          align="center"
          show-overflow-tooltip
        ></el-table-column>
        <el-table-column
          prop="password"
          label="密码"
          align="center"
          show-overflow-tooltip
        ></el-table-column>
        <el-table-column
          prop="createTime"
          label="创建时间"
          align="center"
          show-overflow-tooltip
        ></el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row)" type="text" size="small">
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="page-style">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total="personPagination.total"
          :current-page="current"
        ></el-pagination>
      </div>
    </div>
    <el-dialog title="添加人员" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="wenfrom" label-width="80px">
        <el-form-item label="姓名">
          <el-input v-model="form.name" style="width: 600px"></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select
            v-model="form.type"
            placeholder="请选择角色"
            style="width: 600px"
            @change="getPersonType"
          >
            <el-option
              v-for="item in roleList"
              :key="item.name"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="账号">
          <el-input v-model="form.account" style="width: 600px"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="form.password" style="width: 600px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addeditsubmit('wenfrom')">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getlqcRoleList } from "../../store/api/lqc/lqc";
export default {
  data() {
    return {
      current: 0,
      ruleForm: {
        count: 10,
        start: 0
      },
      radarBicycleList: [],
      dialogFormVisible: false,
      form: {},
      typejuese: ""
    };
  },
  methods: {
    ...mapMutations([]),
    onSubmit() {
      this.ruleForm.start = 0;
      this.$store.dispatch("getlqcPersonList", this.ruleForm);
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleClick(val) {
      console.log(val);
      this.$confirm("该操作将永远删除该人员信息，是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$store
            .dispatch("deletelqcperson", { account: val.account })
            .then(res => {
              this.$message({
                type: "success",
                message: "删除成功!"
              });
              this.ruleForm.start = 0;
              this.getPersonList(this.ruleForm);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    handleCurrentChange(val) {
      this.ruleForm.start = 10 * (val - 1);
      this.getPersonList(this.ruleForm);
    },
    openAddDialog() {
      this.dialogFormVisible = true;
    },
    addeditsubmit() {
      this.$store.dispatch("addlqcRole", this.form).then(res => {
        if (!res.error) {
          this.$message({
            type: "success",
            message: "添加成功"
          });
        } else {
          this.$message({
            type: "error",
            message: "添加失败"
          });
        }
        this.dialogFormVisible = false;
        this.ruleForm.start = 0;
        this.getPersonList(this.ruleForm);
      });
    },
    // updatelqcPerson() {
    //   this.$store.dispatch('updatelqcPerson', this.from).then(res => {
    //     console.log(res)
    //   })
    // },
    getPersonList(params) {
      this.$store.dispatch("getlqcPersonList", params);
    },
    getType(val) {
      this.ruleForm.type = val;
    },
    getPersonType(val) {
      this.form.type = val;
    },
    getlqcRoleList() {
      this.$store.dispatch("getlqcRoleList", {});
    }
  },

  mounted() {
    const params = {
      count: 10,
      start: 0
    };
    this.getPersonList(params);
    this.getlqcRoleList();
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      personList: state => state.lqc.personList,
      personPagination: state => state.lqc.personPagination,
      roleList: state => state.lqc.roleList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.table-box {
  padding: 0 30px;
}
.page-style {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
</style>
