<template>
  <div class="video-container">
    <rtspws
      :videoid="videoObj1.videoid"
      :server="videoObj1.server"
      :port="videoObj1.port"
      :videoData="videoObj1.videoData"
    ></rtspws>
    <rtspws
      :videoid="videoObj2.videoid"
      :server="videoObj2.server"
      :port="videoObj2.port"
      :videoData="videoObj2.videoData"
    ></rtspws>
    <rtspws
      :videoid="videoObj3.videoid"
      :server="videoObj3.server"
      :port="videoObj3.port"
      :videoData="videoObj3.videoData"
    ></rtspws>
    <rtspws
      :videoid="videoObj4.videoid"
      :server="videoObj4.server"
      :port="videoObj4.port"
      :videoData="videoObj4.videoData"
    ></rtspws>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import rtspws from "@/components/common/rtspws";
import axios from "axios";
export default {
  data() {
    return {
      videoObj1: {
        videoid: "livestream",
        server: "10.242.212.152",
        port: "8088",
        videoData: {
          id: "8",
          url: "rtsp://admin:aaaa1111@172.102.19.78:554/Streaming/Channels/0101"
        }
      },
      videoObj2: {
        videoid: "livestream1",
        server: "10.242.212.152",
        port: "8089",
        videoData: {
          id: "7",
          url: "rtsp://admin:aaaa1111@172.102.19.94:554/Streaming/Channels/0101"
        }
      },
      videoObj3: {
        videoid: "livestream2",
        server: "10.242.212.152",
        port: "8090",
        videoData: {
          id: "9",
          url: "rtsp://admin:aaaa1111@172.102.19.72:554/Streaming/Channels/0101"
        }
      },
      videoObj4: {
        videoid: "livestream3",
        server: "10.242.212.152",
        port: "8091",
        videoData: {
          id: "10",
          url: "rtsp://admin:aaaa1111@172.102.19.70:554/Streaming/Channels/0101"
        }
      }
    };
  },
  methods: {
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: { rtspws }
};
</script>

<style lang="less" scoped>
.video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  & > .rtsp-ws-container {
    margin: 5px;
  }
}
</style>
