<template>
  <div class="userPermission">
    <div class="addpermission">
      <el-button type="primary" size="mini" @click="open">
        创建项目根路由
      </el-button>
    </div>
    <div class="treePermission">
      <div class="tree">
        <el-tree
          :data="data"
          :props="defaultProps"
          default-expand-all
          :expand-on-click-node="false"
          @node-click="nodeClick"
        >
          <span class="custom-tree-node" slot-scope="{ node, data }">
            <span>{{ node.label }}</span>
            <span>
              <el-button
                type="text"
                size="mini"
                @click.stop="() => appendrouter(node, data)"
              >
                添加路由
              </el-button>
              <el-button
                type="text"
                size="mini"
                @click.stop="() => deleterouter(node, data)"
              >
                刪除路由
              </el-button>
              <el-button
                type="text"
                size="mini"
                @click.stop="() => appendPer(node, data)"
              >
                添加权限
              </el-button>
            </span>
          </span>
        </el-tree>
      </div>
      <div class="addPer">
        <el-tabs v-model="activeName" v-if="editRouter" type="card">
          <el-tab-pane label="修改路由" name="fourth">
            <div class="addrouter">
              <el-form
                :model="ruleForm"
                :rules="rules"
                ref="ruleForm"
                label-width="100px"
                class="demo-ruleForm"
              >
                <el-form-item label="路由名称" prop="title">
                  <el-input v-model="ruleForm.title"></el-input>
                </el-form-item>
                <el-form-item label="路由地址" prop="path">
                  <el-input v-model="ruleForm.path"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="editsubmitForm('ruleForm')">
                    立即修改
                  </el-button>
                  <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
              </el-form>
            </div>
          </el-tab-pane>
          <!-- <el-tab-pane label="已经创建" name="second">配置管理</el-tab-pane> -->
        </el-tabs>
        <el-tabs v-model="activeName" v-if="showRouter" type="card">
          <el-tab-pane label="创建路由" name="first">
            <div class="addrouter">
              <el-form
                :model="ruleForm"
                :rules="rules"
                ref="ruleForm"
                label-width="100px"
                class="demo-ruleForm"
              >
                <el-form-item label="路由名称" prop="title">
                  <el-input v-model="ruleForm.title"></el-input>
                </el-form-item>
                <el-form-item label="路由地址" prop="path">
                  <el-input v-model="ruleForm.path"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="submitForm('ruleForm')">
                    立即创建
                  </el-button>
                  <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
              </el-form>
            </div>
          </el-tab-pane>
          <!-- <el-tab-pane label="已经创建" name="second">配置管理</el-tab-pane> -->
        </el-tabs>
        <el-tabs
          v-model="activeName"
          v-if="showPer"
          @tab-click="getTab"
          type="card"
        >
          <el-tab-pane label="添加权限" name="second">
            <div class="addrouter">
              <el-form
                :model="roleForm"
                :rules="roleFormrules"
                ref="roleForm"
                label-width="100px"
                class="demo-ruleForm"
              >
                <el-form-item label="权限名称" prop="name">
                  <el-input v-model="roleForm.name"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="persubmitForm('roleForm')">
                    添加权限
                  </el-button>
                  <el-button @click="perresetForm('roleForm')">重置</el-button>
                </el-form-item>
              </el-form>
            </div>
          </el-tab-pane>
          <el-tab-pane label="已添加权限" name="third">
            <el-tag
              style="margin-right: 10px"
              v-for="(tag, index) in currentPermissions"
              :key="tag.name"
              closable
              @close="colseTag(tag, index)"
            >
              {{ tag.name }}
            </el-tag>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { filter } from "@amcharts/amcharts4/.internal/core/utils/Iterator";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentPermissions: "",
      currentId: "",
      data: [],
      ruleForm: {
        title: "",
        path: "",
        parentId: null,
        btnList: {},
        submenus: [],
        id: ""
      },
      roleForm: {
        name: ""
      },
      rules: {
        title: [
          { required: true, message: "请输入路由名称", trigger: "change" }
        ],
        path: [{ required: false, message: "请输入路由地址", trigger: "blur" }]
      },
      roleFormrules: {
        name: [{ required: true, message: "请输入权限名称", trigger: "change" }]
      },
      activeName: "first",
      showRouter: false,
      showPer: false,
      editRouter: false,
      defaultProps: {
        children: "children",
        label: "title"
      },
      currentTitle: "",
      currentNodeperList: {},
      currentRoleList: {},
      isRoot: false,
      tags: [],
      action: "",
      fatherNode: []
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    colseTag(tag, index) {
      console.log(tag);
      this.$store.dispatch("deletePermission", { id: tag.id }).then(res => {
        let [{ error }] = [res];
        if (error == null) {
          this.$store
            .dispatch("getPermissionList", { id: this.currentId })
            .then(res => {
              this.currentPermissions = res.results;
            });
          this.$message({ message: "删除成功", type: "success" });
        } else {
          this.$message({ message: "删除失败", type: "error" });
        }
      });
    },
    editTabs(data) {
      // 添加节点时 循环树结构
      for (let i = 0; i < data.length; i++) {
        //   判断获取当前数层级
        if (data[i].title == this.currentTitle) {
          // 更新权限
          data[i].btnList = this.currentRoleList;
        } else {
          // 当前层级没找到，重新循环子节点
          this.editTabs(data[i].submenus);
        }
      }
      return data;
    },
    getTab(tab) {
      // if (tab.name == "third") {
      //   this.getcurrentroleList(this.data);
      //   this.tags = Object.entries(this.currentRoleList);
      // }
    },
    open() {
      this.$confirm("将创建路由到根路由?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          // 添加路由到根路径
          this.isRoot = true;
          Object.assign(this.ruleForm, { parentId: null });
          this.showRouter = true;
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          });
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.isRoot) {
            //   判断是不是根路由添加
            // 是
            this.$store
              .dispatch("menuSave", {
                title: this.ruleForm.title,
                path: this.ruleForm.path,
                parentId: this.ruleForm.parentId
              })
              .then(res => {
                this.$store.dispatch("menuFind", { id: 1 }).then(res => {
                  this.data = res.results;
                });
              });
          } else {
            this.$store
              .dispatch("menuSave", {
                title: this.ruleForm.title,
                path: this.ruleForm.path,
                parentId: this.ruleForm.parentId
              })
              .then(res => {
                this.$store.dispatch("menuFind", { id: 1 }).then(res => {
                  this.data = res.results;
                });
              });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      // 清空添加、修改路由表单
      this.$refs[formName].resetFields();
      this.ruleForm = {
        title: "",
        path: "",
        btnList: {},
        submenus: []
      };
    },
    perresetForm(formName) {
      // 清空添加权限表单
      this.$refs[formName].resetFields();
    },
    persubmitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.$store
            .dispatch("savePermission", {
              menuId: this.currentId,
              name: this.roleForm.name
            })
            .then(res => {
              this.$store
                .dispatch("getPermissionList", { id: this.currentId })
                .then(res => {
                  this.currentPermissions = res.results;
                });
              if (res.error == null) {
                this.$message({ message: "添加成功", type: "success" });
              } else {
                this.$message({ message: "添加失败", type: "error" });
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    deleterouter(node, data) {
      this.$store.dispatch("menuDelete", { id: data.id }).then(res => {
        console.log(res);
        if (res.error == null) {
          this.$message({ message: "删除成功", type: "success" });
        }
        this.$store.dispatch("menuFind", { id: 1 }).then(res => {
          this.data = res.results;
        });
      });
    },
    deleteNode(data) {
      this.editRouter = false;
      this.showRouter = false;
      this.showPer = false;
      let newTree = data.filter(x => x.title !== this.currentTitle);
      console.log(newTree);
      newTree.forEach(
        x => x.submenus && (x.submenus = this.deleteNode(x.submenus))
      );
      return newTree;
    },
    appendrouter(node, data) {
      //   console.log(node, data);
      console.log(data);
      //  清空添加表单数据
      this.ruleForm = {
        title: "",
        path: "",
        btnList: {},
        submenus: [],
        parentId: data.id
      };
      //   获取当前选中节点title作为主键
      this.currentTitle = node.label;
      //   打开添加路由界面
      this.showRouter = true;
      this.showPer = false;
      this.editRouter = false;
      this.activeName = "first";
      this.isRoot = false;
    },
    // 添加权限
    appendPer(node, data) {
      //   获取当前选中节点title作为主键
      this.currentTitle = node.label;
      // 打开添加权限界面
      this.showRouter = false;
      this.showPer = true;
      this.editRouter = false;
      this.activeName = "second";
      this.currentId = data.id;
      //   获取当前节点的权限列表
      // this.getcurrentroleList(this.data);
      this.$store.dispatch("getPermissionList", { id: data.id }).then(res => {
        console.log(res.results);
        this.currentPermissions = res.results;
      });
    },
    // 添加权限
    addRole(data) {
      console.log(data);
      // 添加节点时 循环树结构
      for (let i = 0; i < data.length; i++) {
        //   判断获取当前数层级
        if (data[i].title == this.currentTitle) {
          //   判断权限名是否添加过
          if (String(data[i].btnList[this.roleForm.name]) == "undefined") {
            // 更新树结构
            data[i].btnList[this.roleForm.name] = false;
          } else {
            this.$message({
              type: "warning",
              message: "此权限已经添加过，请添加其他名称"
            });
            return false;
          }
        } else {
          // 当前层级没找到，重新循环子节点
          this.addRole(data[i].submenus);
        }
      }
      return data;
    },
    getcurrentroleList(data) {
      for (let i = 0; i < data.length; i++) {
        //   判断获取当前数层级
        if (data[i].title == this.currentTitle) {
          // 获取当前层级的所有权限
          this.currentRoleList = data[i].btnList;
          return false;
        } else {
          // 当前层级没找到，重新循环子节点
          this.getcurrentroleList(data[i].submenus);
        }
      }
    },
    // 添加路由
    addnode(data) {
      // 添加节点时 循环树结构
      for (let i = 0; i < data.length; i++) {
        if (data[i].title == this.ruleForm.title) {
          //   判断路由名是否添加过，添加过重新填写
          this.$message({
            type: "warning",
            message: "此路由已经添加过，请添加其他名称"
          });
          return false;
        }
        //   判断获取当前数层级
        if (data[i].title == this.currentTitle) {
          // 更新树结构
          data[i].submenus.push(this.ruleForm);
        } else {
          // 当前层级没找到，重新循环子节点
          this.addnode(data[i].submenus);
        }
      }
      return data;
    },
    editsubmitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          // 修改之后的树结构
          let arr = this.editnode(this.data);
          console.log(arr);
          if (arr) {
            this.$store.dispatch("menuUpdate", arr).then(res => {
              this.$store.dispatch("menuFind", { id: 1 }).then(res => {
                this.data = res.results;
                this.resetForm("ruleForm");
              });
            });
          } else {
            this.$store.dispatch("menuFind", { id: 1 }).then(res => {
              this.data = res.results;
              this.resetForm("ruleForm");
            });
            //   有重复数据，清除form表单
            this.resetForm("ruleForm");
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 修改路由
    editnode(data) {
      // 循环树结构
      for (let i = 0; i < data.length; i++) {
        // 判断获取选中的节点层级
        if (data[i].title == this.currentTitle) {
          // 更新层级数据
          data[i].title = this.ruleForm.title;
          data[i].path = this.ruleForm.path;
        } else {
          // 当前层获取不到,重新循环子节点
          this.editnode(data[i].submenus);
        }
      }
      return data;
    },
    // 点击节点展示修改路由界面
    nodeClick(data) {
      console.log(data);
      //   获取当前点击节点的title作主键
      this.currentTitle = data.title;
      //   显示修改界面关闭其他页面
      this.editRouter = true;
      this.showRouter = false;
      this.showPer = false;
      this.activeName = "fourth";
      //   回显表单
      this.ruleForm = data;
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("menuFind", { id: 1 }).then(res => {
      this.data = res.results;
    });
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style>
.treePermission > .tree > .el-tree {
  height: 100% !important;
  padding: 10px;
  box-sizing: border-box;
}
</style>
<style lang="less" scoped>
.userPermission {
  width: 100%;
  height: 100%;
  background: #f0f4f7;
  padding: 10px;
  box-sizing: border-box;
  .addpermission {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .treePermission {
    height: calc(100% - 50px);
    width: 100%;
    // background: chartreuse;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    .tree {
      height: 100%;
    }
  }
}
.addPer {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}
.addrouter {
  width: 60%;
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
</style>
