<template>
  <div class="labelManageTabs">
    <div class="container">
        <div class="firstrow">
          <el-tabs v-model="activeName" @tab-click="handleClick" class="eltabs">
            <el-tab-pane label="进行中" name="doing" class="eltabspan">
              <doing v-if="update1"></doing>
            </el-tab-pane>
            <el-tab-pane label="已完成" name="done" class="eltabspan">
              <done v-if="update2"></done>
            </el-tab-pane>
          </el-tabs>
        </div>
    </div>
  </div>
</template>

<script>
import doing from "./doing.vue"
import done from "./done.vue"
import { Message } from "element-ui";
import { mapState } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      activeName: "doing",
      update1:true,
      update2:false
    }
  },
  methods: {
     handleClick(tab, event) {
       if(tab.name=="doing"){
         this.update1=true,
         this.update2=false
       }else{
         this.update2=true,
         this.update1=false
       }
      }
  },
  created() {},
  mounted() {
    
  },
  computed: {
    ...mapState({
    })
  },
  components: {
    doing,
    done
  }
};
</script>

<style lang="less" scoped>
.labelManageTabs {
  // height: fit-content;
  // overflow-y: scroll;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
  .container {
     height: fit-content;
   overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .eltabs {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .eltabspan {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
</style>

