<template>
  <div class="roleManage">
    <div class="addpermission">
      <el-button type="primary" size="mini" @click="createJuese">
        创建系统角色
      </el-button>
    </div>
    <div class="treePermission">
      <div class="jueseList">
        <el-table :data="tableData" border width="100%">
          <el-table-column
            prop="name"
            align="center"
            label="角色名称"
          ></el-table-column>
          <el-table-column
            fixed="right"
            align="center"
            label="操作"
            width="180"
          >
            <template slot-scope="scope">
              <el-button
                type="text"
                @click="handleClick(scope.row)"
                size="small"
              >
                编辑
              </el-button>
              <el-button
                type="text"
                @click="handledelete(scope.row)"
                size="small"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="addjuese">
        <div class="jueseform" v-if="showAddJuese">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="100px"
            class="demo-ruleForm"
          >
            <el-form-item label="角色名称" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="权限面板" prop="name">
              <div class="tree">
                <el-tree
                  :data="treeData"
                  :props="defaultProps"
                  default-expand-all
                  :expand-on-click-node="false"
                  @node-click="handleNodeClick"
                ></el-tree>
                <div class="alltag">
                  <h3>该节点下权限</h3>
                  <el-button
                    v-for="(item, index) in tags"
                    :key="index"
                    type="primary"
                    plain
                    size="mini"
                    @click="changeStatus(item)"
                    :icon="item.checked ? 'el-icon-check' : ''"
                  >
                    {{ item.name }}
                  </el-button>
                </div>
              </div>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')">
                立即提交
              </el-button>
              <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentPermissionListIds: {},
      tableData: [],
      ruleForm: {
        name: "",
        menus: []
      },
      rules: {
        name: [{ required: true, message: "请输入角色名称", trigger: "blur" }]
      },
      data: [],
      defaultProps: {
        children: "submenus",
        label: "title"
      },
      currentRoleList: {},
      tags: [],
      showAddJuese: false,
      cacheTree: [],
      treeData: []
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    handleClick(data) {
      this.tags = [];
      this.ruleForm.id = data.id;
      this.ruleForm.name = data.name;
      this.data = data.menus;
      this.showAddJuese = true;
      this.currentPermissionListIds = {};
      data.permissionIds.forEach(permission => {
        this.currentPermissionListIds[permission] = true;
      });
    },
    handledelete(data) {
      this.$confirm("是否删除该角色?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$store.dispatch("roleDelete", { id: data.id }).then(res => {
            if (res.error) {
              this.$message({
                type: "warning",
                message: "删除失败请重试"
              });
            } else {
              this.$store.dispatch("roleList").then(res => {
                this.tableData = res.results;
              });
            }
          });
        })
        .catch(err => {
          console.log(err);
          this.$message({
            type: "info",
            message: "已取消"
          });
        });
    },
    createJuese() {
      this.currentPermissionListIds = {};
      this.ruleForm = {
        name: "",
        menus: []
      };
      this.tags = [];
      this.showAddJuese = true;
      this.$store.dispatch("menuFind", { id: 1 }).then(res => {
        this.data = res.results;
      });
    },
    resetForm(formName) {
      // 清空添加、修改路由表单
      this.$refs[formName].resetFields();
      this.ruleForm = {
        name: ""
      };
    },
    handleNodeClick(data) {
      this.$store.dispatch("getPermissionList", { id: data.id }).then(res => {
        this.tags = res.results.map(tag => {
          Object.assign(tag, {
            checked: this.currentPermissionListIds[tag.id]
              ? this.currentPermissionListIds[tag.id]
              : false
          });
          return tag;
        });
      });
    },
    getTags(data) {
      // 添加节点时 循环树结构
      for (let i = 0; i < data.length; i++) {
        //   判断获取当前数层级
        if (data[i].title == this.currentTitle) {
          // 返回权限
          this.currentRoleList = data[i].btnList;
        } else {
          // 当前层级没找到，重新循环子节点
          this.getTags(data[i].submenus);
        }
      }
    },
    changetreeTags(data) {
      // 添加节点时 循环树结构
      for (let i = 0; i < data.length; i++) {
        //   判断获取当前数层级
        if (data[i].title == this.currentTitle) {
          // 返回权限
          data[i].btnList = this.currentRoleList;
        } else {
          // 当前层级没找到，重新循环子节点
          this.changetreeTags(data[i].submenus);
        }
      }
      return data;
    },
    changeStatus(item) {
      Object.assign(item, { checked: !item.checked });
      this.tags.map(tag => {
        if (item.checked) {
          this.currentPermissionListIds[item.id] = true;
        } else {
          this.currentPermissionListIds[item.id] = false;
        }
      });
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let permissionIds = [];
          Object.keys(this.currentPermissionListIds).forEach(key => {
            if (this.currentPermissionListIds[key]) {
              permissionIds.push(key);
            }
          });
          let p = {
            name: this.ruleForm.name,
            permissionIds: permissionIds
          };
          this.$store.dispatch("roleSave", p).then(res => {
            let [{ error }] = [res];
            if (error == null) {
              this.$message({ message: "添加成功", type: "success" });
              this.$store.dispatch("roleList").then(res => {
                this.tableData = res.results;
              });
            } else {
              this.$message({ message: "添加失败", type: "error" });
            }
          });
        }
      });
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("menuFind", { id: 1 }).then(res => {
      this.cacheTree = res.results;
      this.treeData = res.results;
    });
    this.$store.dispatch("roleList").then(res => {
      this.tableData = res.results;
    });
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.roleManage {
  width: 100%;
  height: 100%;
  background: #f0f4f7;
  padding: 10px;
  box-sizing: border-box;
  .addpermission {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .treePermission {
    height: calc(100% - 50px);
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    .jueseList {
      width: 100%;
      height: 100%;
      background: white;
    }
    .addjuese {
      width: 100%;
      height: 100%;
      padding-left: 20px;
      box-sizing: border-box;
      .jueseform {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.tree {
  width: 100%;
  height: 400px;
  background: white;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  .alltag {
    padding: 10px;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #f1f1f1;
  }
}
</style>
