<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
    >
      <div class="title-container">
        <h3 class="title">石斑鱼设备录入系统</h3>
      </div>

      <el-form-item prop="username">
        <img src="@/assets/images/deviceInput/name.png" alt="" />
        <el-input
          v-model="loginForm.username"
          placeholder="请输入用户名"
          name="username"
          type="text"
          auto-complete="on"
        />
      </el-form-item>

      <el-form-item prop="password">
        <img src="@/assets/images/deviceInput/password.png" alt="" />
        <el-input
          :type="pwdType"
          v-model="loginForm.pwd"
          placeholder="请输入密码"
          name="password"
          auto-complete="on"
          @keyup.enter.native="handleLogin"
        />
      </el-form-item>

      <el-button
        :loading="diLoginLoading"
        type="primary"
        style="width: 100%; margin-bottom: 30px"
        @click.native.prevent="handleLogin"
      >
        确定
      </el-button>
    </el-form>
  </div>
</template>
<script>
import { isvalidUsername } from "../../../utils/rules";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!isvalidUsername(value)) {
        callback(new Error("用户名有误"));
      } else {
        callback();
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 3) {
        callback(new Error("密码有误"));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: "",
        pwd: ""
      },
      loginRules: {
        username: [
          { required: true, trigger: "blur", validator: validateUsername }
        ],
        pwd: [{ required: true, trigger: "blur", validator: validatePassword }]
      },
      loading: false,
      pwdType: "password",
      redirect: "/"
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    init() {
      let redirect = this.$route.query.redirect;
      console.log("redirect", redirect);
      if (redirect) {
        this.redirect = redirect;
      }
    },
    showPwd() {
      if (this.pwdType === "password") {
        this.pwdType = "";
      } else {
        this.pwdType = "password";
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true;
          // this.$router.push("/di/areaInfo");
          this.$store.dispatch("deviceInputlogin", this.loginForm);
          // this.$store.dispatch('user/login', this.loginForm).then(() => {
          //   this.loading = false
          //   this.$router.push({ path: this.redirect })
          // }).catch((err) => {
          //   console.log(err)
          //   this.loading = false
          // })
        } else {
          return false;
        }
      });
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("getDImenuList");
    this.init();
  },
  watch: {},
  computed: {
    ...mapState({ diLoginLoading: state => state.deviceInput.diLoginLoading }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style
  rel="stylesheet/less"
  lang="less"
  src="@/assets/less/deviceInput/login.less"
></style>
