<template>
  <div class="videoReplay">
    <div class="videoReplay_tree">
      <treedom 
      :type="treeType"
      
       @setParams="getSelectNode" ></treedom>

    </div>
    <div class="videoReplay_video">
      <div class="videoReplay_videocontent">

         <!-- <video-player class="video-player vjs-custom-skin"
            ref="videoPlayer"
            :playsinline="true"
            :options="playerOptions"
        ></video-player> -->
        <!-- <videoPlayer></videoPlayer> -->
        <!-- <video style="width:100%;height:100%" src="" alt=""> -->
          <!-- <video-player  class="video-player vjs-custom-skin"
           ref="videoPlayer"
           :playsinline="true"
           :options="playerOptions"
        ></video-player> -->
        <!-- <video style="width:100%;height:100%"  alt="" :src="url" id="video"
          class="video-js">
             poster="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/poster.jpg"
          </video> -->

      <video id='videoPop1' 
        v-show="videoshow"
        poster="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/poster.jpg" 
        muted autoplay style="height:100%;width:100%" ></video>
      
      
          <!-- <video style="width:100%;height:100%"  alt="" id="myVideo"
          class="video-js">
              <source
                  :src="url"
                  type="video/mp4"
              >
          </video> -->
         
      </div>
      <div class="videoReplay_videocontrol">

        <div class="time_line" v-if="false">
          <div  v-for="(item,index) in testList" :key="index" :class="{'time_line_mark':item.cla,'time_line_mark_light':!item.cla}"></div>
          <!-- <div  v-for="(item,index) in testList" :key="index" class="time_line_mark"></div> -->

          <div class="time_line_number_con">
            <div class="time_line_number" v-for="item in 24" :key="item">
              {{ item }}:00
            </div>
          </div>
        </div>

        <div class="controls">
            <input type="range" id="btntime" value="0" max="100" style="width:100%">
       </div>

        <div class="line_con" v-if="false"></div>
        <div class="select_time">
          <div class="select_time_select">
            <el-date-picker
              class="datapicker"
              value-format="yyyy-MM-dd HH:mm:ss" 
              v-model="timeSelect"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              
            ></el-date-picker>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import treedom from "@/components/middleware/treeDom.vue";
import 'video.js/dist/video-js.css'
// import liveVideoContainer from "@/views/middleware/liveStream/liveVideoContainer.vue";


export default {
  data() {
    return {
      // url:"http://192.168.25.100:8880/live/28459205161501133598031011500001320000912.m3u8",
      
      playerOptions:{
        playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
        autoplay: false, //如果true,浏览器准备好时开始回放。
        muted: false, // 默认情况下将会消除任何音频。
        loop: false, // 导致视频一结束就重新开始。
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        language: 'zh-CN',
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
        // fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        sources: [{
          type: "application/x-mpegURL",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
          src: "http://192.168.25.100:8880/live/28459205161500900326531011500001320000912.m3u8" //url地址
        }],
        // hls:true, //如果是播放m3u8必须加（需注释掉techOrder,不然会有报错）
        techOrder: ['flash'], //播放rtmp必须加
        poster: "", //你的封面地址
        notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
        controlBar: {
          timeDivider: true,
          durationDisplay: true,
          remainingTimeDisplay: false,
          fullscreenToggle: true  //全屏按钮
        }
      },
      timeSelect: [],
      treeType:'camera',
      testList:[
        {
          cla:true,
         
        },
        {
          cla:false,
          

        },
        {
          cla:true,
          
        },{
          cla:true
        },{
          cla:true,
         

        },{
          cla:true,
          

        },{
          cla:true,
         

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          

        },{
          cla:true,
          
        },{
          cla:true,
          
        },{
          cla:true,
          
        },{
          cla:true,
          
        },{
          cla:true,
          
        },{
          cla:true,
          
        },{
          cla:true,
        },
        {
          cla:true, 
        },
        
      ],
      currentUrl:'',
      currentValue:100,
      videoshow:false,
      timer:null
    };
  },
  props: [],
  methods: { 
    playVideo(result){
        result
        // var that =  this;
        // console.log(urle);
        var video = document.getElementById('videoPop1');
          if(Hls.isSupported()){
          var hls = new Hls();
          // var url = "http://192.168.25.100:8880/live/28459205161501596490631011500001320000912.m3u8";
          // console.log(url.indexOf(result.url.slice(32)));
          // console.log(result.url);
          // console.log(url.slice(32));  
          hls.loadSource(result)
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function(){
            video.play();
          });
          hls.on(Hls.Events.ERROR,(e,data) =>{
            if(data.fatal){
              switch(data.type){
                case Hls.ErrorTypes.NETWORRK_ERROR:
                  
                  break;
                default:
                  break;
              }
            }
          });
          // video.ontimeupdate = function(){
          //   console.log(video.currentTime);
          //   console.log(video.duration);
          //   let btntime = document.getElementById('btntime');
          //   btntime
          //   let process= Date.parse(new Date()) - that.getLongTime(that.timeSelect[0])
          //   let tempAllBar = that.getLongTime(that.timeSelect[1]) - that.getLongTime(that.timeSelect[0]);//计算总时间戳
          //   console.log(100*process/tempAllBar);
          //   console.log('变化了')
          // }
        }else if(video.canPlayType('application/vnd.apple.npegurl')){
          video.src = result;
          video.addEventListener('canplay',function(){
              video.play();
          })
        }
        
    },
    initVideo() {
        //初始化视频方法
        let myPlayer = this.$video(myVideo, {
            //确定播放器是否具有用户可以与之交互的控件。没有控件，启动视频播放的唯一方法是使用autoplay属性或通过Player API。
            controls: true,
            //自动播放属性,muted:静音播放
            autoplay: "muted",
            //建议浏览器是否应在<video>加载元素后立即开始下载视频数据。
            preload: "auto",
            //设置视频播放器的显示宽度（以像素为单位）
            width: "1600px",
            //设置视频播放器的显示高度（以像素为单位）
            height: "800px"
        });
        myPlayer
    },
    getSelectNode(urn){
        // this.videoshow = false
        var str = urn;
        this.getVideoUrl(urn);
        if(str.indexOf("camera") != -1){
          this.videoshow = true;
          this.timeSelect[0] = this.getPre6();
          this.timeSelect[1] = this.getCurrentDate(2);
          let params = {
            start:this.getPre6(),
            end:this.getCurrentDate(2),
            urn:urn
          }
          this.startPlayVideo(params)
        }
    },
    startPlayVideo(params){
        //先检查录像urn是否已经准备好,防止url404
        this.$store.dispatch("videoReplay",params);
        this.checkVideo(params);
        
    },
    checkVideo(params){
        this.$store.dispatch('checkVideo',params).
        then(res =>{
              if(res.result){
                    // this.videoshow = true
                    this.$store.dispatch("videoReplay",params)
                      .then(res=>{
                          this.currentUrl = params.urn;
                          console.log(res.result);
                          this.playVideo(res.result.url);
                          this.updateTimeBar();
                    });
              }else{
                  //false的情况下重新请求
                  setTimeout(() => {
                        this.checkVideo(params);
                  }, 3000);
              }
        });
    },
    updateTimeBar(){

         if(this.timer){
            clearInterval(this.timer);
         }
         let btntime   = document.getElementById('btntime');
         btntime
         console.log('重新置0')
         let process = 0;
         this.timer = setInterval(() => {
            process= process+1000;
            let tempAllBar = this.getLongTime(this.timeSelect[1]) - this.getLongTime(this.timeSelect[0]);//计算总时间戳
            console.log(100*process/tempAllBar);
            btntime.value = 100*process/tempAllBar;
         }, 1000);
         
    },
    getVideoUrl(urn){
      this.getCurrentDate(2);
      this.getCameraList(urn);
      
    },
    getCurrentDate(format) {
      var now = new Date();
      var year = now.getFullYear(); //得到年份
      var month = now.getMonth();//得到月份
      var day = now.getDate();//得到日期
      var hour = now.getHours();//得到小时
      var minu = now.getMinutes();//得到分钟
      var sec = now.getSeconds();//得到秒
      month = month + 1;
      if (month < 10) month = "0" + month;
      if (day < 10) day = "0" + day;
      if (hour < 10) hour = "0" + hour;
      if (minu < 10) minu = "0" + minu;
      if (sec < 10) sec = "0" + sec;
      var time = "";
      //精确到天
      if(format==1){
        time = year + "-" + month + "-" + day;
      }
      //精确到分
      else if(format==2){
        time = year + "-" + month + "-" + day+ " " + hour + ":" + minu + ":" + sec;
      }
      console.log(time);
      return time;
    },
    getPre6(){
      var pre = Date.parse(new Date())-6*60*60*1000;
      var date = new Date(pre);
      var YY = date.getFullYear() + '-';
      var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
      var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
      var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
      var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
      var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
      let time =  YY + MM + DD +" "+hh + mm + ss;
      return time;
      // console.log( YY + MM + DD +" "+hh + mm + ss);
    },
    getCameraList(urn){
      let params = {
          count:1000,
          start:0,
          parents:urn,
          type:"add"
      }
      this.$store.dispatch("getCameraLists",params)
    },
    controlPlay(){
        var btntime = document.getElementById('btntime');
        var that = this;
        //播放进度条的事件
         btntime.addEventListener("mousedown",function(){
            this.onmousemove=function(){
                // console.log(this.value);
            }
            this.onmouseup=function(){
                let tempAllBar = that.getLongTime(that.timeSelect[1]) - that.getLongTime(that.timeSelect[0]);//计算总时间戳

                let current = tempAllBar*this.value/100 + that.getLongTime(that.timeSelect[0])
                console.log(current)
                that.timeSelect[0] = that.getToDate(current);
                let params = {
                  start:that.timeSelect[0],
                  end:that.timeSelect[1],
                  urn:that.currentUrl
                };
                that.startPlayVideo(params);
                console.log(that.getToDate(current));
                this.onmousemove=null;
                this.onmouseup=null;
            }
        });

        // btntime.value = 40;
    },

    //日期转时间戳
    getLongTime(date){
        let temp = Date.parse(new Date(date));
        return temp;
        // let time = temp.getTime();
        // console.log("时间戳:"+time)
    },

    //时间戳转日期
    getToDate(dat){
      var date = new Date(dat);
      var YY = date.getFullYear() + '-';
      var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
      var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
      var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
      var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
      var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
      let time =  YY + MM + DD +" "+hh + mm + ss;
      return time;
        // return new Date(dat).toLocaleString().replace(/:\d{1,2}$/,' '); 
    },
    ...mapMutations([]) },

  created() {},
  mounted() {

    // this.playVideo();
    this.controlPlay();
  },
  watch: {
    timeSelect(){
        console.log('时间选择器变化了')
        let start = new Date(this.timeSelect[0]);
        let end = new Date(this.timeSelect[1]);
        console.log(end.getTime() - start.getTime());
        if(end.getTime() - start.getTime() > 24*60*60*1000){
            this.$message({
                message:"所选时间范围不能超过24小时",
                type:'error'
            })
        }else{
          if(this.currentUrl != ''){
               console.log('请求接口')
                let params = {
                  start:this.timeSelect[0],
                  end:this.timeSelect[1],
                  urn:this.currentUrl
                };
                this.startPlayVideo(params);
          }else{
              this.$message({
                message:'当前选中摄像头暂无视频资源', 
                type:'error'
              })
          }
        }
        
    }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: { treedom, //videoPlayer 
  }
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/middleware/videoReplay.less";
</style>
<style lang="less">
.datapicker {
  width: 100%;
  // height: 100%;
  background: black;
  border: 1px solid rgb(88, 83, 83);
  border-radius: 0;
  border: none;
  color: white;
  .el-range-input {
    background: black;
    border: 1px solid rgb(88, 83, 83);
    border-radius: 0;
    color: white;
    border: none;
    
  }
  .el-input__inner {
    background: black !important;
    border: 1px solid #000 !important;
    border-radius: 0 !important;
    color: white;
  }
  .el-range-separator{
      color: white;
  }
}
</style>
