<template>
  <div>
   <el-container>
        <el-header>
            <div>
            <span>部门 :</span>
            <el-select v-model="firstDept" placeholder="请选择" style="margin-left:30px">
                <el-option
                v-for="item in secondryDepart"
                :key="item.deptId"
                :label="item.name"
                :value="item.name">
                </el-option>
            </el-select>
            </div>
             <el-button type="text" @click="addDepart()">+ 新增部门</el-button>
        </el-header>
<!-- 表格 -->
        <el-main>
             <el-table
                :data="list"
                border
                style="width: 100%">
               <el-table-column label="序号"  width="180" align="center">
                    <template slot-scope="scope">
                        <span v-text="getIndex(scope.$index)"> </span>
                    </template>
                </el-table-column>
                <el-table-column
                align="center"
                prop="name"
                label="一级部门"
                width="180">
                </el-table-column>
                <el-table-column
                align="center"
                prop="secName"
                label="二级部门">
                </el-table-column>
                <el-table-column
                align="center"
                prop="handleType"
                label="任务权限">
                </el-table-column>
                <el-table-column
                align="center"
                prop="status"
                label="短信配置">
                </el-table-column>
                <el-table-column
                align="center"
                prop="personName"
                label="短信接收人">
                </el-table-column>
                <el-table-column
                align="center"
                prop="mobile"
                label="短信接收号码">
                </el-table-column>
                <el-table-column
                align="center"
                prop="option"
                label="操作">
                    <template slot-scope="scope">
                        <el-button type="danger" @click="edit(scope.row)">编辑</el-button>
                        <el-button type="danger" @click="del(scope.row)">删除</el-button>
                    </template>
                </el-table-column> 
            </el-table> 
        </el-main>
        <!-- 分页 -->
          <el-pagination
          align="center"
          @current-change="handleChange"
          background
          :current-page="this.current"
          :page-size="this.size"
          layout="prev, pager, next"
          :total="total"
        ></el-pagination>

<!-- 新增对话框 -->
    <el-dialog
            title="新增部门"
            :visible.sync="addDialogVisible"
            width="30%"
            center>
        <el-form :model="addForm" :rules="rules" ref="addForm" label-width="100px" >
            <el-form-item label="一级部门" >
                    <el-select v-model="addForm.name" placeholder="请选择">
                            <el-option
                            v-for="item in secondryDepart"
                            :key="item.deptId"
                            :label="item.name"
                            :value="item.name">
                            </el-option>
                    </el-select>
            </el-form-item>
        <el-form-item label="二级部门" prop="secondryDepart">
                <el-input v-model="addForm.secName" placeholder="请输入部门名称" style="width:220px"></el-input>
        </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="addDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addDept()">确 定</el-button>
        </span>
    </el-dialog>
<!-- 编辑对话框 -->
     <el-dialog
            title="编辑部门"
            :visible.sync="editDialogVisible"
            width="30%"
            center>
        <el-form :model="editForm" :rules="rules" ref="editForm" label-width="100px" style="margin-top:30px">
            <el-form-item label="任务权限" prop="task">
                <el-select v-model="editForm.handleType" value-key="handleType" multiple placeholder="请选择">
                    <el-option
                    @change="changeType()"
                    v-for="item in functionName"
                    :key="item.functionName"
                    :label="item.functionName"
                    :value="item.functionName">
                    </el-option>
                </el-select>
            </el-form-item>
             <el-form-item label="推送提醒:">
                <el-checkbox label="短信提醒" v-model="isChecked" @change="isChange()"></el-checkbox>
            </el-form-item>
             <el-form-item label="推送时间:" prop="alarmTime">告警后
                 <el-input v-model="editForm.alarmTime" placeholder="请输入" style="width:170px" :disabled="isAbled"></el-input>
                <!-- <el-select v-model="editForm.time" placeholder="请选择" style="width:170px">
                    <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select> -->
            </el-form-item>
             <el-form-item label="推送人" prop="people">
                <el-select v-model="editForm.personId" placeholder="请选择"  :disabled="isAbled">
                    <el-option
                    v-for="item in personList"
                    :key="item.accountId"
                    :label="item.name"
                    :value="item.accountId">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>    

        <span slot="footer" class="dialog-footer">
            <el-button @click="editDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="editConfirm()">确 定</el-button>
        </span>
    </el-dialog>
<!-- 删除对话框 -->
     <el-dialog
        :visible.sync="delDialogVisible"
        width="20%"
        center
      >
        <div style="display: flex; justify-content: center">
        是否删除？
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delConfirm()">确 定</el-button>
        </span>
    </el-dialog>
    </el-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{
            isChecked:false,
            isAbled:true,
            delDialogVisible:false,
            editDialogVisible:false,
            addDialogVisible:false,
            firstDept: '',
            current:1,
            size:10,
            totalPage:0,
            primaryDeparts:[],
            addForm:{
                name:"",
                secName:""
            },
            editForm:{
                handleType:"",
                name:"",
                status:"",
                secName:"",
                handleTypeName:[],
                alarmTime:'',
                personId:""

            },
             editConfirmForm:{
                name:"",
                status:"",
                secName:"",
                handleTypeName:[],
                alarmTime:'',
                personId:""

            },
            rules: {
            secondryDepart: [
                { required: true, message: '请输入部门名称', trigger: 'blur' }
            ],
            task:[
                { required: true, message: '请选择', trigger: 'change' }
            ],
          },
        indexType:"",
        delType:""
        }
    },
    methods:{
        // 根据一级查询二级列表
        getSecond(){
            this.$store.dispatch('pageBackend',{current:1,size:this.size,name:this.firstDept})
        },
        isChange(){
            if(this.isChecked){
                this.isAbled=false
            }else{
                this.isAbled=true
            }    
        },
       delConfirm(){
           this.$store.dispatch('delDept',{deptId:this.delType})
          this.$store.dispatch('pageBackend',{current:1,size:10})
           this.delDialogVisible=false
       },
        editConfirm(){
            if(this.isChecked){
                this.editForm.status=1
            }
            else{
                 this.editForm.status=0
            }
            this.editConfirmForm.status=this.editForm.status
            this.editConfirmForm.name=this.editForm.name
            this.editConfirmForm.secName=this.editForm.secName
            this.editConfirmForm.alarmTime=this.editForm.alarmTime
            this.editConfirmForm.personId=this.editForm.personId
            this.editConfirmForm.handleTypeName=this.editForm.handleType
            this.editConfirmForm.handleTypeName=this.editForm.handleType
            this.$store.dispatch('addDept',this.editConfirmForm)
            this.$store.dispatch('pageBackend',{current:1,size:10})
            this.editForm={}
            this.editDialogVisible=false
        },
        // 新增部门
        addDept(){
            this.$store.dispatch('addDept',this.addForm)
             this.firstDept=""
             this.getList()
            this.addDialogVisible=false
        },
        // 计算总页数
        sumTotal(){
           if(this.total%this.size==0){
               this.totalPage=this.total/this.size
           }
           else{
              this.totalPage=this.total/this.size+1
           }
        },
        // 获取表格序号
        getIndex($index) {
            return (this.current - 1) * this.size + $index + 1
        },
         // 切换分页
        handleChange(index) {
            this.current = index;
            this.getList();
        },
        //获取二级部门
        getSecondList(){
            this.$store.dispatch('getPrimaryDepart')
        },
        //获取部门列表
        getList(){
            this.$store.dispatch('pageBackend',{current:this.current,size:this.size})
        },
        addDepart(){
            this.addDialogVisible=true
        },
        edit(index){
            console.log(index)
            if(index.status=="是"){
                this.isChecked=true
            }
            if(index.status=="否" || index.status==""){
                 this.isChecked=false
            }
            this.editForm.handleType=[]
            if(index.handleType==""){
                this.editForm.handleType=[]
            }
            else{
            var lists=index.handleType.split(";")
            for(var i=0;i<lists.length;i++){
                if(lists[i]!=""){
                    this.editForm.handleType.push(lists[i])
                }
            }
            }
            this.editForm.personId=index.personId
            this.editForm.alarmTime=index.alarmTime
            this.editForm.deptId=index.deptId
            this.editForm.name=index.name
            this.editForm.secName=index.secName
            this.$store.dispatch('getListDept',{name:index.name})
            this.$store.dispatch('getPerson',{deptId:index.deptId})
            this.editDialogVisible=true 
        },
        del(index){
            console.log(index)
            this.delType=index.deptId
             this.delDialogVisible=true
        }
    },
    mounted(){
        this.getList()
        this.getSecondList()
    },
    watch:{
       firstDept(){
           this.getSecond()
       },
       total(){
           this.sumTotal()
       },
       functionName(){
           console.log(this.functionName)
       }

   },
   computed:{
       ...mapState({
           secondryDepart:state=>state.videoPolling.secondryList,
           list:state=>state.videoPolling.departList,
           total:state=>state.videoPolling.total,
           functionName:state=>state.videoPolling.task,
           personList:state=>state.videoPolling.personList,
       })
   }
}
</script>

<style  scoped>

</style>