<template>
  <div>
   <el-container>
        <el-header>
            <div>
            <span>部门 :</span>
            <el-select v-model="first" placeholder="请选择" style="margin-left:30px">
                <el-option
                v-for="item in firstDepart"
                :key="item.deptId"
                :label="item.name"
                :value="item.name">
                </el-option>
            </el-select>
            </div>
            <el-button type="text" @click="add()">+ 新增人员</el-button>
        </el-header>
        
<!-- 表格 -->
        <el-main>
             <el-table
                :data="persons"
                border
                style="width: 100%">
                 <el-table-column label="序号"  width="180" align="center">
                    <template slot-scope="scope">
                        <span v-text="getIndex(scope.$index)"> </span>
                    </template>
                </el-table-column>
                <el-table-column
                align="center"
                prop="name"
                label="姓名"
                width="180">
                </el-table-column>
                <el-table-column
                align="center"
                prop="mobile"
                label="手机号">
                </el-table-column>
                <el-table-column
                align="center"
                prop="deptName"
                label="所属部门">
                </el-table-column>
                <el-table-column
                align="center"
                prop="duty"
                label="职务">
                </el-table-column>
                <el-table-column
                align="center"
                prop="permission"
                label="任务处置权限">
                </el-table-column>
                <el-table-column
                align="center"
                prop="lastloginTime"
                label="最后登录时间">
                </el-table-column>
                <el-table-column
                align="center"
                prop="option"
                label="操作">
                <template slot-scope="scope">
                    <el-button type="danger" @click="edit(scope.row)">编辑</el-button>
                    <el-button type="danger" @click="del(scope.row)">删除</el-button>
                </template>
                </el-table-column>
            </el-table> 
        </el-main>
        <!-- 分页 -->
        <el-pagination
          align="center"
          @current-change="handleChange"
          background
          :current-page="this.current"
          :page-size="this.size"
          layout="prev, pager, next"
          :total="personTotal"
        ></el-pagination>


<!-- 新增对话框 -->
    <el-dialog
            title="新增人员"
            :visible.sync="addDialogVisible"
            width="30%"
            center>
        <el-form :model="addForm" label-width="100px" >
          <el-form-item label="一级部门">
            <el-select v-model="primaryDepart" placeholder="请选择">
                    <el-option
                    v-for="item in firstDepart"
                    :key="item.deptId"
                    :label="item.name"
                    :value="item.name">
                    </el-option>
            </el-select>
          </el-form-item>
           <el-form-item label="二级部门">
            <el-select v-model="addForm.deptId" placeholder="请选择" >
                    <el-option
                    v-for="item in firstDepart"
                    :key="item.deptId"
                    :label="item.secName"
                    :value="item.deptId">
                    </el-option>
            </el-select>
           </el-form-item>
            <el-form-item label="姓名" prop="name" >
                    <el-input v-model="addForm.name" style="width:220px"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="mobile">
                    <el-input v-model="addForm.mobile" style="width:220px"></el-input>
            </el-form-item>
            <el-form-item label="职务" prop="duty" >
                    <el-input v-model="addForm.duty" style="width:220px"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password" >
                    <el-input v-model="addForm.password" style="width:220px"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="addDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addConfirm()">确 定</el-button>
        </span>
    </el-dialog>
<!-- 编辑对话框 -->
     <el-dialog
            title="编辑人员"
            :visible.sync="editDialogVisible"
            width="30%"
            center>
          <el-form :model="editData" label-width="100px" >
         <el-form-item label="一级部门">
            <el-input v-model="editData.firstDeptName" disabled>
            </el-input>
         </el-form-item>
           
        <el-form-item label="二级部门">
            <el-input v-model="editData.secName" disabled></el-input>
            </el-form-item>
            <el-form-item label="姓名" prop="name">
                        <el-input v-model="editData.name" ></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="mobile" >
                        <el-input v-model="editData.mobile"></el-input>
            </el-form-item>
            <el-form-item label="职务" prop="duty">
                        <el-input v-model="editData.duty"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                        <el-input v-model="editData.password"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="editDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="editConfirm()">确 定</el-button>
        </span>
    </el-dialog>
<!-- 删除对话框 -->
     <el-dialog
        :visible.sync="delDialogVisible"
        width="20%"
        center
      >
        <div style="display: flex; justify-content: center">
        是否删除？
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delConfirm()">确 定</el-button>
        </span>
    </el-dialog>
    </el-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{
            delDialogVisible:false,
            editDialogVisible:false,
            addDialogVisible:false,
            first:"",
            current:1,
            size:10,
            totalPage:0,
            value: '',
            accountId:"",
            editData:{
                accountId:"",
                firstDeptName:"",
                secName:"",
                name:"",
                password:"",
                duty:"",
                mobile:"",
            },
            firstDept:[],
            primaryDepart:"",
            addForm:{
                deptId:"",
                name:"",
                mobile:"",
                duty:"",
                password:"",
            },
            editForm:{
                task:[],
                type:false,
                time:'',
                people:""
            }, 
        }
    },
    methods:{
        editConfirm(){
            this.$store.dispatch('addPerson',this.editData)
            this.$store.dispatch('getPersonList',{current:1,size:10})
            this.editDialogVisible=false
        },
        // 添加人员
        addConfirm(){
            this.$store.dispatch('addPerson', this.addForm)
            this.addForm={}
            this.primaryDepart=""
            this.$store.dispatch('getPersonList',{current:1,size:10})
            this.addDialogVisible=false
        },
         // 计算总页数
        sumTotal(){
           if(this.personTotal%this.size==0){
               this.totalPage=this.personTotal/this.size
           }
           else{
              this.totalPage=this.personTotal/this.size+1
           }
        },
        // 获取二级部门 
        getList2(){
            this.$store.dispatch('getPrimaryDepart',{name:this.primaryDepart})
        },

        getList(){
            this.$store.dispatch('getPersonList',{current:this.current,size:this.size,name:this.first})
        },
          //获取一级部门
        getSecondList(){
            this.$store.dispatch('getPrimaryDepart')
        },
        // 获取人员列表
        getPersonList(){
            this.$store.dispatch('getPersonList',{current:this.current,size:this.size})
        },
         // 获取表格序号
        getIndex($index) {
            return (this.current - 1) * this.size + $index + 1
        },
         handleChange(index) {
            this.current = index;
            this.getPersonList();
        },
        add(){
            this.getSecondList()
          this.addDialogVisible=true
       },
        edit(index){
            console.log(index)
            this.editData.accountId=index.accountId
            this.editData.firstDeptName=index.firstDeptName
            this.editData.secName=index.secName
            this.editData.name=index.name
            this.editData.mobile=index.mobile
            this.editData.duty=index.duty
            this.editDialogVisible=true
        },
        delConfirm(){
            this.$store.dispatch('delPerson',{accountId:this.accountId})
            this.$store.dispatch('getPersonList',{current:1,size:10})
            this.delDialogVisible=false
        },
        del(index){
            console.log(index)
            this.accountId=index.accountId
            this.delDialogVisible=true
        }
    },
     watch:{
       personTotal(){
           this.sumTotal()
       },
       first(){
           this.getList()
       },
       primaryDepart(newValue,oldValue){
           if(newValue.length!==0){
           this.getList2()
           }
       }
   },
    mounted(){
        this.getPersonList()
        this.getSecondList()
    },
    computed:{
        ...mapState({
            firstDepart:state=>state.videoPolling.secondryList,
            persons:state=>state.videoPolling.persons,
            personTotal:state=>state.videoPolling.personTotal
        })
    }
}
</script>

<style  scoped>

</style>