<template>
    <div class="container">
        <div class="box">
            <span class="title">主机信息</span>
            <div class="but_box">
                <el-button type="primary">保存</el-button>
            </div>
        </div>
        <div class="line"></div>
       
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .container{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;
        align-content: center;
        background-color: black; */
        box-sizing: border-box;
        padding: 0 30px;
    }
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .title{
        color: #8FB9F2;
        font-size: 15px;
    }

    .but_box{
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .line{
        border: 1px dashed #D2D2D2;
        
        width: 100%;
    }
</style>