<template>
  <div class="password_content">
        <div class='password'>
            <div class="content_title">
                <span>备份与恢复</span> 
            </div>
            <div class="content_form">
                <div class="upgradeInfo">
                    <span>备份/恢复当前系统配置文件或重置OpenWrt(仅squashfs固件有效)</span>
                </div>
                <div class="upgradeInfo">
                    <span>
                        下载备份:
                    </span>
                    <span>
                        <el-upload
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple
                            :limit="3">
                            <el-button size="small" type="primary">选择文件</el-button>
                        </el-upload>
                    </span>
                </div>
                <div class="upgradeInfo">
                    <span>
                        恢复配置:
                    </span>
                    <span>
                        <el-upload
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple
                            :limit="3">
                            <el-button size="small" type="primary">选择文件</el-button>
                        </el-upload>
                    </span>
                    <span>
                         <el-button type="primary" size="small">上传备份</el-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
methods:{ ...mapMutations([])},

mounted(){},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less'>
@import "~@/assets/less/gateway/systemManage/backUpdata.less";
</style>
