<template>
  <div class="password_content">
    <div class="password">
      <div class="content_title">
        <span>DNS服务器配置</span>
      </div>
      <div class="content_form">
        <el-form label-width="150px" :model="dnsObj">
          <el-form-item label="主DNS服务器">
            <el-input v-model="dnsObj.dns1" placeholder="0.0.0.0"></el-input>
          </el-form-item>
          <el-form-item label="备DNS服务器">
            <el-input v-model="dnsObj.dns2" placeholder="0.0.0.0"></el-input>
          </el-form-item>
        </el-form>
        <div class="submitbox">
          <el-button class="submitbtn" type="primary" @click="saveDNS">保存</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      form: { dns1: "", dns2: "" }
    };
  },
  methods: {
    saveDNS: function() {
      this.$store.dispatch("saveDNS", this.dnsObj);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getDNS");
  },
  watch: {},
  computed: {
    ...mapState({ dnsObj: state => state.gatewaySystemManage.dnsObj }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/gateway/systemManage/dnsServer.less";
</style>
