<template>
    <div class="container">
        <div class="header">
            <el-input class="wid_200" placeholder="请输入搜索内容"></el-input>
            <el-date-picker
                class="datePicker"
                v-model="value_date_picker"
                type="datetimerange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
            </el-date-picker>
            <el-button type="primary" class="btn">搜索</el-button>
        </div>

        <div class="table"> 
            <el-table
                :data="tableData"
                border=""
                style="width: 100%">
                <el-table-column
                    prop="date"
                    label="操作时间"
                    
                    align="center"
                    >
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="操作内容"
                    
                    align="center"
                    >
                </el-table-column>
               
            </el-table>
        </div>

        <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="params.page"
            :page-size="params.limit"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="total"
        ></el-pagination>

    </div>
</template>

<script>
export default {
    data(){
        return{
            value_date_picker:[],
            total:20,
            params:{
                limit:"",
                page:""
            },
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }]
        }
    },
    methods:{
        handleCurrentChange(){

        }
    }
}
</script>

<style scoped>
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .header{
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .wid_200{
        width: 200px;
    }

    .datePicker{
        margin-left: 19px;
    }

    .btn{
        margin-left: 20px;
    }

    .table{
        width: 100%;
        height: 500px;
    }
</style>