<template>
  <div class="password_content">
    <div class="password">
      <div class="content_title">
        <span>手动重启</span>
      </div>
      <div class="content_info">
        <div class="content_info_txt">警告:有尚未保存的更改，重启将丢失</div>
        <div class="content_form_submit">
          <el-button class="content_form_submit_btn" type="primary" @click="resetSubmit">执行重启</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]), resetSubmit() {} },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/gateway/systemManage/handReset.less";
</style>
