<template>
    <div class="background">
        <div class="container">
            <el-tabs v-model="active" >
                <el-tab-pane label="用户管理" name="first">
                    <imgOperationLog></imgOperationLog>
                </el-tab-pane>
                <el-tab-pane label="配置管理" name="second"><gatewayOperationLog></gatewayOperationLog></el-tab-pane>
               
            </el-tabs>
        </div>
    </div>
</template>

<script>
import imgOperationLog from '@/views/gateway/systemManage/imgOperationLog.vue'
import gatewayOperationLog from '@/views/gateway/systemManage/gatewayOperationLog.vue'

export default {
    data(){
        return{
            active:'first'
        }
    },
    components:{
        imgOperationLog,
        gatewayOperationLog
    }
}
</script>

<style scoped>
    .background{
        background-color: #ecf0f6;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px 10px 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width:100% ;
        height: 100%;
        background-color: white;
        box-sizing: border-box;
        padding: 0 10px 10px 10px;
        
    }
</style>