<template>
  <div class="password_content">
    <div class="password">
      <div class="content_title">
        <span>密码</span>
      </div>
      <div class="content_form">
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
          class="demo-ruleForm"
        >
          <el-form-item label="密码" prop="newPasswd">
            <el-input
              type="password"
              placeholder="请输入密码"
              v-model="ruleForm.newPasswd"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="确认密码" prop="confirmNewPassword">
            <el-input
              type="password"
              placeholder="请再次输入密码"
              v-model="ruleForm.confirmNewPassword"
              autocomplete="off"
            ></el-input>
          </el-form-item>
        </el-form>
        <div class="content_form_submit">
          <el-button
            class="content_form_submit_btn"
            type="primary"
            @click="submitForm('ruleForm')"
          >保存</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (!value) {
        callback(new Error("请输入密码"));
      } else {
        if (this.ruleForm.checkPass != "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (!value) {
        callback(new Error("请再次输入密码"));
      } else if (value !== this.ruleForm.newPasswd) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        newPasswd: "",
        confirmNewPassword: "",
      },
      rules: {
        newPasswd: [{ validator: validatePass, trigger: "blur" }],
        confirmNewPassword: [{ validator: validatePass2, trigger: "blur" }],
      },
    };
  },
  methods: {
    ...mapMutations([]),
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          Object.assign(this.ruleForm, { password: this.ruleForm.newPasswd });
          this.$store.dispatch("resetPwd", this.ruleForm);
        } else {
          return false;
        }
      });
    },
  },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/gateway/systemManage/password.less";
</style>
