<template>
    <div class="password_content">
        <div class='password'>
            <div class="content_title">
                <span>定时重启</span> 
            </div>
            <div class="content_form">
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="定时重启">
                        <el-radio-group v-model="form.start" @change="yesOrno">
                            <el-radio :label="1">启用</el-radio>
                            <el-radio :label="2">禁用</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="定时类型">
                        <el-radio-group v-model="form.type" @change="dingshiType">
                            <el-radio :label="1">按周期</el-radio>
                            <el-radio :label="2">按时间</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="克隆MAC" v-if="dataType">
                         <el-input v-model="form.MAC" type="text">
                            <template slot="append">分,最小5分钟</template>
                         </el-input>
                    </el-form-item>
                    <el-form-item label="小时"  v-if="!dataType">
                        <el-select v-model="form.hour">
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="分钟" v-if="!dataType">
                        <el-select v-model="form.minutes" >
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select>                    
                    </el-form-item>
                    <el-form-item label="星期" v-if="!dataType">
                        <el-select v-model="form.week">
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select>                   
                    </el-form-item>
                </el-form>
                <div class="submitbox">
                    <el-button class="restart" type="primary" @click="onSubmit">保存&应用</el-button>
                    <el-button class="restart" type="primary" @click="onSubmit">应用</el-button>
                    <el-button class="restart">复位</el-button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        form:{
            start:0,
            type:1
        },
        dataType:true
    }
  },
methods:{ ...mapMutations([]),
    yesOrno(){

    },
    dingshiType(data){
        if(data==1){
            this.dataType = true
        }else{
            this.dataType = false
        }
    }
},

mounted(){},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/gateway/systemManage/setTimeRestart.less";
</style>
<style lang="less">
.el-input-group__append, .el-input-group__prepend{
    background: transparent;
    border: none
}
</style>
