<template>
    <div class="background">
        <div class="container">
            <div class="header">
                <div class="box">
                    <span class="title">系统</span>
                </div>
                <div class="line"></div>

            </div>

            
            <div class="form">
                <el-form :model="form" label-width="180px">
                    <el-form-item label="选择网卡:">
                        <el-select v-model="value_wangka"  placeholder="请选择" class="wid_input_300"> 
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="介入方式:">
                        <el-select v-model="value_wangka"  placeholder="请选择" class="wid_input_300"> 
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                            ></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="介入方式:">
                        <el-select v-model="value_wangka"  placeholder="请选择" class="wid_input_300"> 
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
            </div>

            <div class="btn_box">
                <el-button type="primary">保存&应用</el-button>
                <el-button type="primary">应用</el-button>
                <el-button >复位 </el-button>


            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            options: [
                {
                value: "5",
                label: "全部"
                },
                {
                value: "1",
                label: "当日"
                },
                {
                value: "2",
                label: "当周"
                },
                {
                value: "3",
                label: "当月"
                },
                {
                value: "4",
                label: "当季"
                }
            ],
            value_wangka:'',
            value_fagnshi:'',
            form:[
                {
                    name:''
                }
            ],
        }
    }
}
</script>

<style scoped>
    .background{
        background-color: #ecf0f6;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px 10px 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width:100% ;
        height: 100%;
        background-color: white;
        align-items: center;
        
    }

    .header{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;
        align-content: center;
        background-color: black; */
        box-sizing: border-box;
        padding: 0 30px;
    }

    .box{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .title{
        color: #8FB9F2;
        font-size: 15px;
    }

    .line{
        border: 1px dashed #D2D2D2;
        width: 100%;
    }


    .form{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }

    .wid_input_300{
        width: 300px;
    }


    .btn_box{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        margin-top: 400px;
    }

</style>