<template>
  <div class="password_content">
        <div class='password'>
            <div class="content_title">
                <span>网关升级</span> 
            </div>
            <div class="content_form">
                <div class="upgradeInfo">
                    <span class="upgradeInfoTitle">刷写新的固件</span>
                    <span>上传兼容的sysupgrade固件以刷新当前系统</span>
                </div>
                <div class="upgradeInfo">
                    <span>
                        固定文件:
                    </span>
                    <span>
                        <el-upload
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple
                            :limit="3">
                            <el-button size="small" type="primary">选择文件</el-button>
                        </el-upload>
                    </span>
                    <span>
                         <el-button type="primary" size="small">刷写固件</el-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
methods:{ ...mapMutations([])},

mounted(){},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less'>
@import "~@/assets/less/gateway/systemManage/upgrade.less";
</style>
