<template>
  <div class="login-container">
    <div class="login-title">雷达后台管理系统</div>
    <div class="login-box">
      <div class="login-text">用户登录</div>
      <div class="login-text-en">User login</div>
      <div class="input-box login-input">
        <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/user.png" alt />
        <input v-model="userName" type="text" placeholder="请输入账号" />
      </div>
      <div class="input-box login-input">
        <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/password.png" alt />
        <input v-model="userPassword" type="password" placeholder="请输入密码" />
      </div>
      <div class="input-box login-button">
        <button class @click="login">登录</button>
      </div>
    </div>
    <div class="power-text">
      Copyright © 2015-2021 猎熊座安全技术(上海)有限公司 版权所有
      沪ICP备15039279
    </div>
  </div>
</template>
<script>
import Vue from "vue";
let Base64 = require("js-base64").Base64
export default {
  data() {
    return {
      userName: "",
      userPassword: ""
    };
  },
  mounted() {
    Vue.ls.clear();
  },
  methods: {
    login() {
      Vue.ls.set("sysName", "RADAR-ADMIN")
      console.log(this.userName);
      console.log(this.userPassword);
      let loginParmas = {
        account: this.userName,
        password: this.userPassword
      }

      if (this.userName && this.userPassword) {
        let loginInfobase64 = `Bearer ${Base64.encode(JSON.stringify(loginParmas))}`
        Vue.ls.set("radarloginToken", loginInfobase64)
        //   const params = {
        //     username: this.userName,
        //     password: this.userPassword
        //   };
        //   let userInfoObj = {
        //     admin: { password: "admin123" },
        //     slcy: { password: "slcy123" }
        //   };
        //   if (
        //     (Object.keys(userInfoObj).indexOf(this.userName) > -1 ? 1 : 0) &&
        //     userInfoObj[this.userName].password == this.userPassword
        //   ) {
        Vue.ls.set("userName", this.userName);
        let routerPath = this.$route.path;
        if (routerPath.includes("radar")) {
          this.$store.dispatch("getRadarmenuList");
        }
      } else {
        this.$message({ type: "error", message: "请输入用户名密码" });
      }
      // }
    }
  }
};
</script>
<style lang="less" scoped>
.login-container {
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-background.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-title {
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-title.png")
    no-repeat;
  background-size: cover;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 54px;
  color: #00f0ff;
  height: 100px;
  line-height: 100px;
}
.login-box {
  width: 750px;
  height: 710px;
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-box.png");
  background-size: cover;
  margin: 0 auto;
  margin-top: 100px;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  .login-text {
    font-size: 45px;
    margin-top: 110px;
    opacity: 0.85;
  }
  .login-text-en {
    font-size: 34px;
    opacity: 0.38;
    line-height: 30px;
    margin-top: 20px;
  }
  .input-box {
    width: 433px;
    height: 78px;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 30px;
  }
  input {
    color: #fff;
    font-size: 26px;
    background-color: transparent;
    border: none;
    margin-left: 30px;
    outline: none;
    height: 100%;
    width: 100%;
  }
  input::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  .login-input {
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 30px;
  }
  .login-button {
    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-button.png");
    background-size: 100% 100%;
    margin-top: 45px;
  }
  .login-button:active {
    margin-top: 49px;
    margin-left: 2px;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 30px;
    opacity: 0.85;
    cursor: pointer;
    outline: none;
  }
}
.power-text {
  color: #028189;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
</style>
