<template>
  <div class="deviceManage">
    <div class="panel-right">
      <el-form ref="radarDetail" :model="radarDetail" label-width="80px">
        <el-form-item label="唯一编号" label-width="85px" prop="iemi">
          <el-input
            v-model="radarDetail.imei"
            style="width: 500px"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item label="被创建时间" label-width="85px">
          <el-input
            disabled
            v-model="radarDetail.auditHead.createdOn"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="状态" label-width="85px">
          <el-select
            v-model="radarDetail.status"
            placeholder="请选择状态"
            style="width: 500px"
          >
            <el-option
              v-for="item in radarStatusList"
              :key="item.name"
              :label="item.text"
              :value="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="安装地点" label-width="85px">
          <el-input
            v-model="radarDetail.location"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="备注" label-width="85px">
          <el-input
            v-model="radarDetail.auditHead.remark"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="区域" label-width="85px">
          <el-select
            v-model="zoneNames"
            @change="getdistrict"
            multiple
            placeholder="请选择"
          >
            <el-option
              v-for="item in districtList"
              :key="item.urn"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit('radarDetail')">
            提交
          </el-button>
          <el-button @click="goback">返回</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      rules: {},
      defaultProps: {
        children: "child",
        label: "name"
      },
      selectValue: "",
      type: "",
      zoneName: [],
      zoneurn: [],
      zoneNames: [],
      zones: ""
    };
  },
  methods: {
    ...mapMutations([]),
    getdistrict(e) {
      this.zoneName = [];
      this.zones = "";
      this.zoneName.push(e);
      for (let i = 0; i < e.length; i++) {
        for (let j = 0; j < this.districtList.length; j++) {
          if (e[i] === this.districtList[j].name) {
            if (this.zones === "") {
              this.zones = this.districtList[j].urn;
            } else {
              this.zones = this.zones + "," + this.districtList[j].urn;
            }
          }
        }
      }
      this.zones = `[${this.zones}]`;
    },
    onSubmit(formName) {
      let arr = new Set(this.zoneName);
      this.zoneName = [...arr];
      let par = {
        urn: this.radarDetail.urn,
        zones: this.zones,
        location: this.radarDetail.location,
        status: this.radarDetail.status,
        auditHead: {
          remark: this.radarDetail.auditHead.remark
        }
      };

      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$store.dispatch("changeRadarDetail", [par]);
        } else {
          return false;
        }
      });
    },
    handleNodeClick(val) {
      this.selectValue = val.name;
    },
    handleClick(row) {
      console.log(row);
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleSizeChange() {},
    handleCurrentChange() {},
    goback() {
      this.$router.push({
        path: "/radar/radarList",
        query: {
          type: this.type
        }
      });
    }
  },

  mounted() {
    this.type = this.$route.query.type;
    this.$store.dispatch("getRadarDetail", { id: this.$route.query.data });
  },
  filters: {},
  watch: {
    // devicezoneName:function(val) {
    //   this.zoneName = this.devicezoneName
    // },
    deviceZone: function (val) {
      this.zoneurn = this.deviceZone;
    },
    radarDetail: function (val) {
      let arr = [];
      arr = val.zones.substring(1, val.zones.length - 1).split(",");
      arr.forEach((element) => {
        this.districtList.forEach((i) => {
          if (i.urn === element.trim()) {
            this.zoneNames.push(i.name);
          }
        });
      });
      this.zones = this.radarDetail.zones
    }
  },
  computed: {
    ...mapState({
      radarStatusList: (state) => state.radar.radarStatusList,
      radarDetail: (state) => state.radar.radarDetail,
      areaList: (state) => state.radar.areaList,
      districtList: (state) => state.radar.districtList,
      devicezoneName: (state) => state.radar.devicezoneName,
      deviceZone: (state) => state.radar.deviceZone
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.panel-right {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}
.tree-box {
  height: 150px;
  overflow: scroll;
}
</style>
