<template>
  <div class="container">
    <div class="box-add">
      <div class="add-title">
        <span>添加定时任务</span>
        <span @click="closeReturn()" class="close-icon">×</span>
      </div>
      <div class="add-desc">
        <span class="import-icon">*</span>
        <span>请先选中摄像头再添加时段：</span>
        <button v-if="!pollingId" @click="showPop">添加时段</button>
        <button v-else @click="showPop">修改时段</button>
      </div>
      <div class="map-box">
        <div class="map-style" id="map-container"></div>
      </div>
      <div></div>
      <div class="conponents-box" v-if="isShowPop">
        <add-time-task-pop @closePop="closePop" :selectView="selectView" :editInfo="editInfo"></add-time-task-pop>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import {
  getPoint,
  getTaskDetail
} from "../../../store/api/rockfish/addTimeTask";
import { createMap } from "../../../tools/map";
import addTimeTaskPop from "./pop/addTimeTaskPop.vue";
export default {
  data() {
    return {
      isShowPop: false,
      pollingId: "",
      editInfo: {},
      candidates: []
    };
  },
  props: [],
  components: {
    addTimeTaskPop
  },
  mounted() {
    this.initData();
  },
  computed: {
    ...mapState({
      selectView: state => state.addTimeTask.selectView,
      selectViewList: state => state.addTimeTask.selectViewList
    }),
    ...mapGetters([])
  },
  methods: {
    initData() {
      const pollingId = this.$route.query.pollingId;
      this.pollingId = pollingId;
      if (pollingId) {
        this.getTaskDetail(pollingId);
      } else {
        this.getMark(); // 初始化获取撒点数据
      }
    },
    /**
     * 获取编辑信息
     */
    getTaskDetail(pollingId) {
      let params = {
        poolingId: pollingId
      };
      getTaskDetail(params)
        .then(res => {
          this.editInfo = res.result.object;
          this.name = res.result.object.name;
          this.candidates = res.result.object.candidates;
          return this.candidates;
        })
        .then(res => {
          res;
          this.getMark();
        });
    },
    /**
     * 初始化地图获取撒点坐标数据
     */
    getMark() {
      let params = {
        start: 0,
        count: 100
      };
      getPoint(params).then(res => {
        const pointList = res.results;
        createMap(pointList, this.candidates);
      });
    },
    /**
     * 展示添加任务的弹窗
     */
    showPop() {
      if (this.$store.state.addTimeTask.selectViewList.length > 6) {
        this.isShowPop = true;
      } else {
        this.$message("请先选择不少于7个摄像头");
      }
    },
    /**
     * 关闭添加任务的弹窗
     */
    closePop() {
      this.isShowPop = false;
    },
    /**
     * 返回上一级
     */
    closeReturn() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="less" scoped>
.container {
  position: relative;
  height: 100%;
  background-color: rgb(233, 238, 244);
  overflow: hidden;
  .box-add {
    margin: 0 10px 10px 10px;
    height: 100%;
    .map-box {
      width: 100%;
      height: 100%;
      .map-style {
        width: 100%;
        height: 100%;
        @deep: ~">>>";
        @{deep} .amap-icon img {
          width: 25px;
          height: 34px;
        }
      }
    }
  }
}
.add-title {
  font-size: 16px;
  line-height: 32px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  color: #666;
  background-color: #fff;
  .close-icon {
    font-size: 25px;
    color: #666;
    cursor: pointer;
  }
}
.add-desc {
  color: #666;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 20px;
  .import-icon {
    color: #ff1a26;
    font-size: 20px;
  }
  button {
    background-color: #2386ff;
    color: #fff;
    width: 120px;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.conponents-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>