<!--
    编辑；添加；查看
-->
<template>
  <div class="contact-container">
    <div class="ogom-list-container-inner">
      <div class="title-container">
        <span>设备抓拍图片</span>
      </div>
    </div>
    <div class="contact-search">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input v-model="capturePicParams.ipv4" placeholder="设备IP"></el-input>
        </el-form-item>
        <el-form-item>
          <el-date-picker
            v-model="captureStartTime"
            @change="handleStartTimeChange"
            type="datetime"
            placeholder="请选择抓拍开始时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-date-picker
            v-model="captureEndTime"
            @change="handleEndTimeChange"
            type="datetime"
            placeholder="请选择抓拍结束时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button @click="clearSearchParams">清空</el-button>
          <el-button type="primary" @click="onSearch">搜索</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-box">
      <div>
        <el-row>
          <el-col :span="4" v-for="(item,index) in capturePicList" :key="index">
            <div class="grid-content">
              <img @click="openBigPhoto(item.img_path.scene_img_path)" :src="imgPrefix+item.img_path.object_img_path" alt />
              <div class="photo-desc">
                <span class="photo-key">抓拍时间:</span>
                <span class="photo-value">{{item.datetime}}</span>
              </div>
              <div class="photo-desc">
                <span class="photo-key">设备IP:</span>
                <span class="photo-value">{{item.ipv4}}</span>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="block">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          :current-page="capturePicParams.current"
          :page-size="capturePicParams.size"
          layout="total, prev, pager, next, jumper"
          :total="capturePicParams.total"
        ></el-pagination>
      </div>
    </div>
    <el-dialog
        :visible.sync="dialogVisible"
        width="50%">
        <div class="bigPic">
          <img :src="bigPicPath" alt />
        </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
// import contactDevicePop from './contactDevicePop/contactDevicePop'
// import contactDeviceScanPop from "./contactDevicePop/contactDeviceScanPop";
export default {
  name: "deviceTakePhotos",
  data() {
    return {
      captureStartTime: "",
      captureEndTime: "",
      formInline: {},
      inputVal: "",
      tableData: [],
      currentPage: 1,
      isShowPop: false,
      isShowScanPop: false,
      dialogVisible: false,
      bigPicPath: ''
    };
  },
  mounted() {
    this.$store.dispatch("capturePic", this.capturePicParams);
  },
  components: {
    // contactDevicePop,
    // contactDeviceScanPop
  },
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_GATEWAY_IMG_PREFIX;
    },
    ...mapState({
      capturePicParams: (state) => state.deviceManage.capturePicParams,
      capturePicList: (state) => state.deviceManage.capturePicList,
    }),
  },
  methods: {
    openBigPhoto (imgPath) {
        this.dialogVisible = true
        this.bigPicPath = this.imgPrefix+imgPath
    },
    clearSearchParams: function () {
      Object.assign(this.capturePicParams, {
        startTime: "",
        endTime: "",
        ipv4: "",
      });
    },
    handleStartTimeChange: function (...arg) {
      let d = new Date(arg[0]);
      Object.assign(this.capturePicParams, { startTime: d.getTime() / 1000 });
    },
    handleEndTimeChange: function (...arg) {
      let d = new Date(arg[0]);
      Object.assign(this.capturePicParams, { endTime: d.getTime() / 1000 });
    },
    onSearch() {
      if (this.capturePicParams.startTime == 0) {
        Object.assign(this.capturePicParams, { startTime: "" });
      }
      if (this.capturePicParams.endTime == 0) {
        Object.assign(this.capturePicParams, { endTime: "" });
      }
      this.$store.dispatch("capturePic", this.capturePicParams);
    },
    handleCurrentChange(page) {
      Object.assign(this.capturePicParams, { page: page });
      this.$store.dispatch("capturePic", this.capturePicParams);
    },
    handleSizeChange() {},
    toAddBySelf(info) {
      info;
      this.isShowPop = true;
    },
    closePop() {
      this.isShowPop = false;
    },
    toAddScan() {
      this.isShowScanPop = true;
    },
    closeScanPop() {
      this.isShowScanPop = false;
    },
  },
};
</script>

<style lang="less" scoped>
.grid-content {
  img {
    //width: 80%;
    width: 200px;
    height: 212px;
  }
  .photo-desc {
    margin-top: 10px;
    .photo-key {
      color: #222222;
      font-weight: bold;
    }
    .photo-value {
      color: #666666;
    }
  }
}
.bigPic{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
  }
}
.ogom-list-container-inner {
  height: 100%;
  width: 100%;
  background-color: white;
  border-top: 1px solid transparent;
  padding: 10px;
  box-sizing: border-box;

  .title-container {
    text-align: left;
    font-size: 23px;
    color: #8fb9f2;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d2d2d2;
  }
}
.contact-container {
  background-color: #fff;
  padding: 20px;
  .contact-header {
    padding: 20px;
    border-bottom: 1px dashed #aaa;
  }
  .contact-search {
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    div {
      width: 200px;
    }
  }
  .button-group {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 10px 0px;
  }
  .table-box {
    margin-top: 20px;
  }
  .block {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 30px;
  }
  .pop-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
}
</style>