<template>
    <div class="peiStatisticbox">
        <div class="headerBox">
            <el-button type="success" @click="add">新增</el-button>
        </div>
        <div class="tablebox">
            <el-table
                :data="pieStatisticList.results"
                border
                style="width: 100%">
                <el-table-column
                    fixed
                    prop="type"
                    label="板块名称"
                    align="center"

                    >
                </el-table-column>          
                
                <el-table-column
                    prop="name"
                    label="事项名称"
                    align="center"

                    >
                </el-table-column>

                <el-table-column
                    prop="value"
                    label="数量"
                    align="center"
                    >
                </el-table-column>

                <el-table-column
                    prop="createTimeFmt"
                    label="时间"
                    align="center"
                    >
                </el-table-column>

                <el-table-column
                    fixed="right"
                    label="操作"
                    align="center"
                    >
                    <template slot-scope="scope">
                        <el-button @click="edit(scope.row)" type="warning">编辑</el-button>
                        <el-button @click="del(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="bottombox">
            <el-pagination
                @current-change = "handleChange"
                background
                layout="prev, pager, next"
                :total="pieStatisticList.pagination.total">
            </el-pagination>
        </div>

        <el-dialog title="新增" :visible.sync="addDialogVisible" class="pieStatisticDialog">
            <el-form :model="addform" :label-position = "labelPosition">
                <el-form-item label="板块名称:" :label-width="formLabelWidth">
                    <el-input v-model="addform.type" autocomplete="off" class="piestatistic"></el-input>
                </el-form-item>
                <el-form-item label="事项名称:" :label-width="formLabelWidth">
                    <el-input v-model="addform.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="数      量:" :label-width="formLabelWidth">
                    <el-input v-model="addform.value" autocomplete="off" ></el-input>
                </el-form-item>
                <el-form-item label="时      间:" :label-width="formLabelWidth">
                     <el-date-picker
                        v-model="addform.createTime"
                        type="datetime"
                        placeholder="选择日期时间">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="addConfirm">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="编辑" :visible.sync="editDialogVisible" class="pieStatisticDialog">
            <el-form :model="editform" :label-position = "labelPosition">
                <el-form-item label="板块名称:" :label-width="formLabelWidth">
                    <el-input v-model="editform.type" autocomplete="off" class="piestatistic"></el-input>
                </el-form-item>
                <el-form-item label="事项名称:" :label-width="formLabelWidth">
                    <el-input v-model="editform.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="数      量:" :label-width="formLabelWidth">
                    <el-input v-model="editform.value" autocomplete="off" ></el-input>
                </el-form-item>
                <el-form-item label="时      间:" :label-width="formLabelWidth">
                     <el-date-picker
                        v-model="editform.createTime"
                        type="datetime"
                        format="yyyy-MM-dd HH:mm:ss"
                        placeholder="选择日期时间">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="editConfirm">确 定</el-button>
            </div>
        </el-dialog>


        <el-dialog
            title="提示"
            :visible.sync="delDialogVisible"
            width="30%"
            >
            <span>确认删除此条记录?</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="delDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteConfirm">确 定</el-button>
            </span>
        </el-dialog>
        
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{
            tableData:[],
            addform:{
                type:'',
                name:'',
                value:'',
                createTime:''
            },
            editform:{
                type:'',
                name:'',
                value:'',
                createTime:''
            },
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false,
            formLabelWidth:"100px",
            labelPosition: 'right',

        }
    },
    methods:{
        getList(){
            let params = {
                types:["高发问题","工单来源"],
                current:1,
                size:10
            }
            this.$store.dispatch("pieStatisticList",params)
        },
        add(){
            this.addDialogVisible = true;
        },
        edit(item){
            this.editDialogVisible = true;
            this.editform =  item;
            // console.log(item);
        },
        del(item){
            this.delDialogVisible = true;
            this.editform = item;
        },
        addConfirm(){
            this.$store.dispatch("pieStatisticAdd",this.addform).then(res =>{
                if(res.result == true){
                    this.$message({
                        type:'success',
                        message:"添加成功"
                    });
                    this.addDialogVisible = false;

                }else{
                    this.$message({
                        type:'error',
                        message:"添加失败"
                    });
                }
            });
            
        },
        editConfirm(){
            this.$store.dispatch("pieStatisticEdit",this.editform).then(res =>{
                if(res.result == true){
                    this.getList();
                    this.$message({
                        type:'success',
                        message:"编辑成功"
                    });
                    this.editDialogVisible = false;

                }else{
                    this.$message({
                        type:'error',
                        message:"编辑失败"
                    });
                }
            });
        },
        deleteConfirm(){
            console.log(this.editform)
            console.log(this.editform.id)
            let params = {
                id:this.editform.id
            }
            this.$store.dispatch("pieStatisticDelete",params).then(res=>{
                if(res.result == true){
                    this.getList();
                    this.$message({
                        type:'success',
                        message:"删除成功"
                    });
                    this.delDialogVisible = false;

                }else{
                    this.$message({
                        type:'error',
                        message:"删除失败"
                    });
                }
            })
        },
        handleChange(index){

            let params = {
                types:["高发问题","工单来源"],
                current:index,
                size:10
            }
            this.$store.dispatch("pieStatisticList",params)
        }

    },
    created(){

    },
    mounted(){
        this.getList();
    },
    components:{

    },
    computed:{
        ...mapState({
            pieStatisticList:state => state.videoPolling.pieStatisticList
        })
    }
}
</script>

<style lang="less" scoped>
    .peiStatisticbox{
        height: 100%;
        width: 100%;
        background: #c9c0c9;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0 10px;
        .headerBox{
            height: 8%;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            box-sizing: border-box;
            padding-right: 20px;
        }
        .tablebox{
            height: 75%;
            width: 100%;
            background: white;
        }
        .bottombox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: white;
        }
        .pieStatisticDialog{
            width: 50%;
        margin: 0 auto;

        }
    }
    
</style>
<style >
    /* .el-dialog{
        width: 30%;
    } */
    
</style>