<template>
  <div class="container">
      
      <div class="steps">
          <el-steps :active="active" align-center finish-status="success">
            <el-step title="步骤1" >
                
            </el-step>
            <el-step title="步骤2" ></el-step>
            <el-step title="步骤3" ></el-step>
            <el-step title="步骤4" ></el-step>
          </el-steps>
          
      </div>

      <div class="stepfirst" v-show="active == 0">
          <div class="hint">请输入身份证号或者手机号</div>
          <el-input  class="searchinput" type="number" v-model="phone"></el-input>
          
          <div class="btnBox">
              <el-button  type="primary" @click="getCarList" >下一步</el-button>
          </div>
      </div>
      <div class="stepfirst" v-if="active == 1">
                <el-table
                    :data="searchList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    >
                    
                    <el-table-column
                        prop="productModel.brandName"
                        label="品牌"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        label="颜色"
                        align="center"
                        show-overflow-tooltip>
                        <template slot-scope="scope">
                            <span>{{getcolor(scope.row.colour[0])}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="licensePlate"
                        label="车牌号"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="vin"
                        label="车架号"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="motorNumber"
                        label="电机号"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        label="车辆电子标签"
                        align="center"
                        show-overflow-tooltip>
                         <template slot-scope="scope">
                             
                            <span>主标签:{{getRfid(scope.row.rfIdList[0].urn)}}</span>
                            <br>
                            <span v-if="scope.row.rfIdList.length > 1">副标签:{{getRfid(scope.row.rfIdList[1].urn)}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        label="电动车照片"
                        align="center"
                        show-overflow-tooltip>
                        <template slot-scope="scope">
                            <img v-if="scope.row.snapshots.FRONT.length > 0" :src="scope.row.snapshots.FRONT[0].url" alt="" class="img">
                            <img src="" alt="">
                        </template>
                    </el-table-column>
                     <el-table-column
                        label="选择"
                        width="85"
                        align="center"
                        type="index"
                        >
                        <template slot-scope="scope">
                            <el-radio-group v-model="radio">
                                <el-radio :label="scope.$index"  @change="selectIndex(scope.$index)">{{""}}</el-radio>
                            </el-radio-group>
                        </template>
                    </el-table-column>
                </el-table>
          
          <div class="btnBox">
              <el-button type="primary" @click="pre" >上一步</el-button>
              <el-button type="primary" @click="second">下一步</el-button>
          </div>
      </div>
      <div class="stepfirst"  v-show="active == 2">
           <div class="stepThird">
               <div class="left">
                   <div class="itemRow">
                       <div class="itemRowTitle">报案人姓名</div>
                       <el-input class="itemRowContent" v-model="params.ownerName"></el-input>
                   </div>
                   <div class="itemRow">
                       <div class="itemRowTitle">电话</div>
                       <el-input class="itemRowContent" v-model="params.phone"></el-input>
                   </div>
                   <div class="itemRow">
                       <div class="itemRowTitle">丢失时间</div>
                        <el-date-picker
                            v-model="params.timeOfLost"
                            class="itemRowContent"
                            value-format="yyyy-MM-dd hh:mm:ss"
                            type="date"
                            placeholder="选择日期"
                            :picker-options="pickerOptions">
                        </el-date-picker>
                   </div>
                   <div class="itemRow">
                       <div class="itemRowTitle">丢失地点</div>
                       <el-input class="itemRowContent"  v-model="params.placeOfLost"></el-input>
                   </div>
                   <div class="itemRow">
                       <div class="itemRowTitle">丢失地点坐标点</div>
                       <el-input class="itemRowContent"  v-model="params.coordinateOfLost"></el-input>
                   </div>
                   <div class="itemRow">
                       <div class="itemRowTitle">案件描述</div>
                       <el-input class="itemRowContent" v-model="params.description"></el-input>
                   </div>
               </div>
               <div class="mapbox" ref="abc" id="yui">
               </div>
               <table class="search">
                        <tr>
                            <td>
                                <el-input v-model="address"></el-input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <el-button @click="search" type="primary">搜索</el-button>
                            </td>
                        </tr>
                    </table>
               
           </div>
          <div class="btnBox">
              <el-button type="primary" @click="pre" >上一步</el-button>
              <el-button type="primary" @click="thirdNext">下一步</el-button>
          </div>
      </div>
      <div class="stepfouth" v-show="active == 3">
          <div class="stepfouthBox" v-if="active == 3">
            <div class="detaiRowTitle">车辆信息:</div>
                <div class="line"></div>
                <div class="detaiRow" v-if="searchList[radio].ownerIDCard">
                    <div class="detaiRowItem">车主姓名:{{searchList[radio].ownerName}}</div>
                    <div class="detaiRowItem">电话:{{getPhone(searchList[radio].ownerUrn)}}</div>
                    <div class="detaiRowItem">身份证号:{{searchList[radio].ownerIDCard.id}}</div>
                </div>
                <div class="detaiRow">
                    <div class="detaiRowItem">车架号:{{searchList[radio].licensePlate}}</div>
                    <div class="detaiRowItem">电机号:{{searchList[radio].motorNumber}}</div>
                    <div class="detaiRowItem">车辆品牌:{{searchList[radio].productModel.brandName}}</div>
                </div>
                <div class="detaiRow">
                    <div class="detaiRowItem">车辆主标签:{{getRfid(searchList[radio].rfIdList[0].urn)}}</div>
                    <div class="detaiRowItem" v-if="searchList[radio].rfIdList.length > 1">车辆副标签:{{getRfid(searchList[radio].rfIdList[1].urn)}}</div>
                    <div class="detaiRowItem"></div>
                </div>
                <div class="line"></div>

                <div class="detaiRowTitle">报案人信息:</div>
                <div class="line"></div>
                <div class="detaiRow">
                    <div class="detaiRowItem">报案人姓名:{{this.params.ownerName}}</div>
                    <div class="detaiRowItem">报案人电话:{{this.params.phone}}</div>
                    <div class="detaiRowItem">丢失时间:{{this.params.timeOfLost}}</div>
                </div>
                <div class="detaiRow">
                    <div class="detaiRowItem">丢失地点:{{this.params.placeOfLost}}</div>
                    <div class="detaiRowItem">地市地点坐标点:{{this.params.coordinateOfLost}}</div>
                    <div class="detaiRowItem"></div>
                    
                </div>
                <div class="detaiRow">
                    <div class="detaiRowItem">案情描述:{{params.description}}</div>
                    
                </div>
                <div class="line"></div>

                <div class="detaiRowTitle">车辆图片:</div>
                <div class="line"></div>
                <div class="picRow" v-if="active == 3">
                    <img :src="searchList[radio].snapshots.FRONT[0].url" v-if="searchList[radio].snapshots.FRONT && searchList[radio].snapshots.FRONT.length > 0" alt="" class="imgFouth">
                    <img :src="searchList[radio].snapshots.LEFT[0].url" v-if="searchList[radio].snapshots.LEFT && searchList[radio].snapshots.LEFT.length > 0" alt="" class="imgFouth">
                </div>
          </div>
          
         
          <div class="btnBox">
              <el-button type="primary" @click="pre" >上一步</el-button>
              <el-button type="primary" @click="report">完成</el-button>
          </div>
         
      </div>
  </div>
</template>


<script>
import { Message } from 'element-ui';
export default {
    data(){
        return{
            active:0,
            radio:null,
            phone:"",
            testdata:[{
                name:'测试',
                id:1
            },{
                name:"薛帅",
                id:2
            }],
            map: null,
            preMarker:[],
            address:"",
            searchList:[
                {
                    FRONT:[{
                        url:""
                    }]
                }
            ],
            colors:[],
            params:{
                ownerName:null,
                phone:null,
                placeOfLost:null,
                timeOfLost:null,
                description:null,
                coordinateOfLost:null,
            },
            pickerOptions:{
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
            }

        }
    },
    mounted(){
        //  var map = new AMap.Map('yui');
        this.initMap();
    },
    created(){
        this.getSimpleColours();
    },
    methods:{
        next(){
            if(this.active < 3){
                this.active = this.active+1;
            }
        },
        second(){
            if(this.radio >= 0){
                this.active = this.active+1;
            }else{
                Message.success("请选择被盗车辆")
            }
        },
        thirdNext(){
            if(!this.params.ownerName || !this.params.phone|| !this.params.placeOfLost || !this.params.timeOfLost
            || !this.params.coordinateOfLost){
                Message.success("请填写相应的报案信息")
            }else{
                if(this.checkMobile(this.params.phone)){
                    this.active = this.active+1;
                }else{
                    Message.success("请输入正确的手机号");
                }
            }
        },
        pre(){
            if(this.active>0){
                this.active = this.active-1;
            }
        },
        handleSelectionChange(){

        },
        getRfid(val){
            
            return val.slice(12,20);
        },
        getPhone(val){
            return val.slice(20,31);
        },
        selectIndex(val){
            console.log(val)
            this.radio = val;
            console.log(this.radio)
        },
        initMap(){
            var that = this;
            this.map = new AMap.Map('yui',{
                zoom:11,
                resizeEnable:true,
                center:[121.473658,31.230378]
            });
            var clickevent = this.map.on('click',function(e){
                if(that.preMarker.length>0){
                    that.map.remove(that.preMarker[0])
                }
                console.log(e);
                var geocoder = new AMap.Geocoder({
                    radius:1000,
                    extensions: "all"
                });
                geocoder.getAddress([e.lnglat.lng,e.lnglat.lat],function(status,result){
                    console.log(result)
                    that.params.placeOfLost = result.regeocode.formattedAddress
                })
                that.params.coordinateOfLost = e.lnglat.lng+","+e.lnglat.lat;
                that.params.coordinateOfLost = e.lnglat.lng+","+e.lnglat.lat;
                that.addMarker([e.lnglat.lng,e.lnglat.lat]);
            });
            
        },
        keywordSearch_CallBack(data){
            if(this.preMarker.length>0){
                    this.map.remove(this.preMarker[0])
                }
            this.addMarker([data.poiList.pois[0].location.lng,data.poiList.pois[0].location.lat]);
            this.params.coordinateOfLost = data.poiList.pois[0].location.lng+","+data.poiList.pois[0].location.lat;
            this.params.placeOfLost = data.poiList.pois[0].name;
            console.log(data)
        },
        addMarker(lnglatXY){
            var marker = new AMap.Marker({
                icon:'http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png',
                position:lnglatXY
            });
            this.preMarker = [];
            this.preMarker.push(marker);
            marker.setMap(this.map);
            this.map.setFitView();
        },
        getCarList(){
            
            if(this.phone){
                if(this.phone.length <= 12){
                    if(this.checkMobile(this.phone)){
                        this.getCar();
                    }else{
                        Message.success("请输入正确的身份证号或者手机号")
                    }
                }else{
                    if(this.validateIdCard(this.phone)){
                        this.getCar();
                    }else{
                        Message.success("请输入正确的身份证号或者手机号")
                    }
                }
                
            }else{
                Message.success('请输入身份证号或者手机号');
            }
        },
        getCar(){
            this.$store.dispatch("search",{ownerId:this.phone}).
            then(res =>{
                if(res.results.length > 0){
                    this.searchList = res.results;
                    if(this.active < 3){
                        this.active = this.active+1;
                    }
                }else{
                    Message.success('当前账号暂无车辆')
                }
                
            })
        },
        search(){
            var placeSearch;
            this.map.plugin(["AMap.PlaceSearch","AMap.ToolBar","AMap.Scale"],()=>{
                this.map.addControl(new AMap.ToolBar());
                this.map.addControl(new AMap.Scale());
                placeSearch = new AMap.PlaceSearch({
                    city:this.address,
                });
                AMap.event.addListener(placeSearch,"complete",this.keywordSearch_CallBack);
                placeSearch.search(this.address);

            })
        },
        getcolor(val){
            if(val){
                 var temparr = this.colors.filter(res =>{
                    return res.code == val;
                });
                return temparr[0].text;
            }else{
                return ""
            }
           
            
        },
        getSimpleColours(){
            this.$store.dispatch("getSimpleColours").
            then(res=>{
                this.colors = res
            })
        },
        report(){
            this.params.bicycleUrn = this.searchList[this.radio].urn;
            this.params.ownerUrn = this.searchList[this.radio].ownerUrn;
            this.params.status = "PROCESSING";
            this.params.createdOfficer = "研发部";
            this.params.createdBy = "asdlfjasldkjl";
            this.params.createTime = this.getLongTime(new Date());
            this.params.timeOfLost = this.getLongTime(this.params.timeOfLost);
            this.$store.dispatch("reportCase",[this.params]).then(res =>{
                if(res.results.length > 0){
                    this.active = 0;
                    Message.success("已完成报案")
                }else{
                    Message.success(res.error.message);
                }
            })
        },
        getLongTime(){
            let temp = Date.parse(new Date());
            console.log(temp)
            return temp;
        },
        //验证手机号的规则;
        checkMobile(value){
            // 验证手机号的正则表达式
            const regMobile = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
            if (regMobile.test(value)) {
                return true;
            }else{
                return false;

            }
            
        },
        //身份证号验证
        validateIdCard(idCard){
            //15位和18位身份证号码的正则表达式
            var regIdCard=/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/;
            //如果通过该验证，说明身份证格式正确，但准确性还需计算
            if(regIdCard.test(idCard)){
                if(idCard.length==18){
                var idCardWi=[7,9,10,5,8,4,2,1,6,3,7,9,10,5,8,4,2];//将前17位加权因子保存在数组里
                var idCardY=[1,0,10,9,8,7,6,5,4,3,2];//这是除以11后，可能产生的11位余数、验证码，也保存成数组
                var idCardWiSum=0;//用来保存前17位各自乖以加权因子后的总和
                for(var i=0;i<17;i++){
                    idCardWiSum+=idCard.substring(i,i+1)*idCardWi[i];
                }
                var idCardMod=idCardWiSum%11;//计算出校验码所在数组的位置
                var idCardLast=idCard.substring(17);//得到最后一位身份证号码
                //如果等于2，则说明校验码是10，身份证号码最后一位应该是X
                if(idCardMod==2){
                    if(idCardLast=="X"||idCardLast=="x"){
                    return true;
                    }else{
                    return false;
                    }
                }else{
                //用计算出的验证码与最后一位身份证号码匹配，如果一致，说明通过，否则是无效的身份证号码
                    if(idCardLast==idCardY[idCardMod]){
                    return true;
                    }else{
                    return false;
                    }
                }
                }
            }else{
                return false;
            }
        }
       
    }
}
</script>

<style lang="less" scoped>
    .container{
        height: 900px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        // background-color: #eaeef4;
        .steps{
            height: 100px;
            width: 100%;
        }
        .stepfirst{
            height: 80%;
            width: 100%;
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .hint{
                color: black;
                font-size: 20px;
                font-family: 600;
            }
            .searchinput{
                width: 350px;
                margin-top: 10px;
            }
            .line{
                height: 1px;
                width: 100%;
                background-color: #ddd;
            }
            .btnBox{
                height: 200px;
                width: 500px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
        .stepThird{
            height: 100%;
            width: 90%;
            // background-color: red;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 0.5px #eaeef4 solid;
            .left{
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                .itemRow{
                    width: 100%;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    .itemRowTitle{
                        text-align: center;
                        flex: 2;
                    }
                    .itemRowContent{
                        flex: 5;
                        
                    }
                }
            }
            .mapbox{
                height: 100%;
                width: 70%;
                
            }
        }
        .search{
            position: absolute;
            right: 5%;
            top: 0%;
            display: flex;
            flex-direction: row;
        }
        .stepfouth{
            height: 90%;
            width: 100%;
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            border: 0.5px #eaeef4 solid;
            border-bottom: none;

        }
        .stepfouthBox{
            height: 95%;
            width: 100%;
        }
        .detaiRowTitle{
            height: 55px;
            width: 100%;
            font-size: 23px;
            line-height: 55px;
            // background-color: black;
            color: black;
            text-align: left;
            box-sizing: border-box;
            padding-left: 10px;
        }
        .detaiRow{
            height: 55px;
            width: 100%;
            font-size: 18px;
            line-height: 55px;
            // background-color: black;
            color: black;
            text-align: left;
            box-sizing: border-box;
            padding-left: 10px;
            display: flex;
            flex-direction: row;
        }
        .picRow{
            height: 155px;
            width: 100%;
            font-size: 18px;
            line-height: 155px;
            // background-color: black;
            color: black;
            text-align: left;
            box-sizing: border-box;
            padding-left: 10px;
            display: flex;
            flex-direction: row;
        }
        .detaiRowItem{
            height: 100%;
            flex: 1;
            text-align: left;
        }
        .line{
            height: 0.5px;
            background-color: #eaeef4;
            width: 100%;
        }
        /deep/ .el-input__icon {
            height: 40px;
        }
        .img{
            height: 100px;
            width: 100px;
            background-size: 100% 100%;
        }
        .imgFouth{
            height: 150px;
            width: 150px;
            background-size: 100% 100%;
        }
    }
</style>
