<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">车主姓名</div>
            <el-input
              v-model="queryparams.reporterName"
              @input="getreportName"
            ></el-input>
          </div>
          <!-- <div class="inputBox">
                        <div class="title">接待民警</div>
                        <el-input v-model="queryparams.Ip"></el-input>
                    </div> -->
          <div class="inputBox">
            <div class="title">案件状态</div>
            <el-select
              v-model="queryparams.statuses"
              multiple
              placeholder="请选择"
            >
              <el-option
                v-for="item in workstatusList"
                :key="item.name"
                :label="item.text"
                :value="item.name"
              ></el-option>
            </el-select>
            <!-- <el-input v-model="queryparams.statuses"></el-input> -->
          </div>
          <el-button type="primary" style="margin-left: 10px" @click="query">
            查询
          </el-button>
          <el-button @click="reset">重置</el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="threfList"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
        >
          <!-- <el-table-column
            label="电动车照片"
            width="150"
            align="center"
          ></el-table-column> -->
          <el-table-column
            prop="ownerName"
            label="车主姓名"
            align="center"
          ></el-table-column>
          <!-- <el-table-column
            prop="longitude"
            label="电动车车架号"
            align="center"
            show-overflow-tooltip
          ></el-table-column> -->
          <el-table-column
            label="案件状态"
            align="center"
            show-overflow-tooltip
          >
            <template slot-scope="scope">
              <span>{{ rechange(scope.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="createdOfficer"
            label="接待民警"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="接待派出所"
            align="center"
            show-overflow-tooltip
          >
            <template slot-scope="scope">
              <span>{{ recahngeDistrict(scope.row.createdBy) }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="createTime"
            label="报案时间"
            align="center"
            show-overflow-tooltip
          >
          <template slot-scope="scope">{{formattt(scope.row.createTime)}}</template>
          </el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="endCase(scope.row)">
                结案
              </el-button>
              <el-button size="mini" type="danger" @click="detail(scope.row)">
                案件详情
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryparams.limit"
        layout="prev, pager, next,total"
        :total="threftotal"
      ></el-pagination>

      <el-dialog title="结案" :visible.sync="endDialogVisible" width="40%">
        <el-form
          :model="endform"
          label-position="left"
          :rules="rules"
          ref="endform"
        >
          <el-form-item
            label="案件类型"
            :label-width="formLabelWidth"
            prop="caseConclusionType"
          >
            <!-- <el-input v-model="endform.name" autocomplete="off"></el-input> -->
            <el-select
              v-model="endform.caseConclusionType"
              placeholder="请选择"
            >
              <el-option
                v-for="item in legalCaseTypelist"
                :key="item.name"
                :label="item.description"
                :value="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item
            label="追回时间"
            :label-width="formLabelWidth"
            prop="timeOfFound"
          >
            <el-date-picker
              v-model="endform.timeOfFound"
              value-format="timestamp"
              type="date"
              placeholder="选择日期"
            ></el-date-picker>
          </el-form-item>
          <!-- <el-form-item label="追回车辆数" :label-width="formLabelWidth">
            <el-input type="number" v-model="endform.countOfFound" autocomplete="off"></el-input>
          </el-form-item> -->
          <el-form-item
            label="破案简报"
            :label-width="formLabelWidth"
            prop="result"
          >
            <el-input v-model="endform.result" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="缴获赃物地点" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="params.placeOfLost"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="缴获赃物坐标点" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="params.coordinateOfLost"
              autocomplete="off"
            ></el-input>
          </el-form-item>
        </el-form>
        <div class="mapBox">
          <div class="map" v-if="endDialogVisible" id="search"></div>
          <div class="searchBox">
            <el-input v-model="address"></el-input>
            <el-button type="primary" @click="search">搜索</el-button>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="endDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitJiean">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="案件详情"
        :visible.sync="detailDialogVisible"
        width="50%"
      >
        <div class="stepfouth">
          <div class="detaiRowTitle">车辆信息:</div>
          <div class="line"></div>
          <div class="detaiRow">
            <div class="detaiRowItem">车主姓名:{{ singleUserInfo.name }}</div>
            <div class="detaiRowItem">
              电话:{{ singleUserInfo.member.phones[0] }}
            </div>
            <div class="detaiRowItem">
              身份证号:{{ singleUserInfo.idCards[0] }}
            </div>
          </div>
          <div class="detaiRow">
            <div class="detaiRowItem">车架号:{{ singleBikeInfo.vin }}</div>
            <div class="detaiRowItem">
              电机号:{{ singleBikeInfo.motorNumber }}
            </div>
            <div class="detaiRowItem">
              车辆品牌:{{
                singleBikeInfo.productModel.brandName
                  ? singleBikeInfo.productModel.brandName
                  : ""
              }}
            </div>
          </div>
          <div class="detaiRow">
            <div class="detaiRowItem" :title="singleBikeInfo.rfIdList[0].urn">
              车辆主标签:{{ singleBikeInfo.rfIdList[0].urn }}
            </div>
            <div class="detaiRowItem">
              <!-- 购买时间: -->
            </div>

            <div class="detaiRowItem"></div>
          </div>
          <div class="line"></div>

          <div class="detaiRowTitle">报案人信息:</div>
          <div class="line"></div>
          <div class="detaiRow">
            <div class="detaiRowItem" :title="singlecase.ownerName">
              报案人姓名:{{ singlecase.ownerName }}
            </div>
            <div class="detaiRowItem" :title="singlecase.phone">
              报案人电话:{{ singlecase.phone }}
            </div>
            <div class="detaiRowItem" :title="singlecase.createTime">
              报案时间:{{ formattt(singlecase.createTime) }}
            </div>
          </div>
          <div class="detaiRow">
            <div class="detaiRowItem" :title="singlecase.timeOfLost">
              丢失时间:{{  formattt(singlecase.timeOfLost)}}
            </div>
            <div class="detaiRowItem" :title="singlecase.placeOfLost">
              丢失地点:{{ singlecase.placeOfLost }}
            </div>
            <div class="detaiRowItem" :title="singlecase.coordinateOfLost">
              丢失地点坐标:{{ singlecase.coordinateOfLost }}
            </div>
          </div>
          <div class="detaiRow">
            <div class="detaiRowItem" :title="singlecase.description">
              案情描述:{{ singlecase.description }}
            </div>
          </div>
          <div class="line"></div>

          <div class="detaiRowTitle">车辆图片:</div>
          <div class="line"></div>
          <div class="picRow">
            <img
              v-if="singleBikeInfo.snapshots.FRONT.length > 0"
              :src="singleBikeInfo.snapshots.FRONT[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.BACK.length > 0"
              :src="singleBikeInfo.snapshots.BACK[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.LICENSE.length > 0"
              :src="singleBikeInfo.snapshots.LICENSE[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.BRAND.length > 0"
              :src="singleBikeInfo.snapshots.BRAND[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.ENGINE.length > 0"
              :src="singleBikeInfo.snapshots.ENGINE[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.LEFT.length > 0"
              :src="singleBikeInfo.snapshots.LEFT[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.RIGHT.length > 0"
              :src="singleBikeInfo.snapshots.RIGHT[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.SIN_BACK.length > 0"
              :src="singleBikeInfo.snapshots.SIN_BACK[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.SIN_FRONT.length > 0"
              :src="singleBikeInfo.snapshots.SIN_FRONT[0].url"
              alt=""
              class="detaiRowItemImg"
            />
            <img
              v-if="singleBikeInfo.snapshots.VIN.length > 0"
              :src="singleBikeInfo.snapshots.VIN[0].url"
              alt=""
              class="detaiRowItemImg"
            />
          </div>
        </div>
        <el-form :model="endform" label-position="left">
          <el-form-item
            v-if="singlecase.caseConclusionTypestr"
            label="案件类型"
            :label-width="formLabelWidth"
          >
            <el-input
              disabled
              v-model="singlecase.caseConclusionTypestr"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="追回时间" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="singlecase.timeOfFound"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <!-- <el-form-item label="追回车辆数" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="singlecase.countOfFound"
              autocomplete="off"
            ></el-input>
          </el-form-item> -->
          <el-form-item label="破案简报" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="singlecase.result"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="缴获赃物地点" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="singlecase.placeOfFound"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="缴获赃物坐标点" :label-width="formLabelWidth">
            <el-input
              disabled
              v-model="singlecase.coordinateOfFound"
              autocomplete="off"
            ></el-input>
          </el-form-item>
        </el-form>
        <div class="mapBox">
          <div class="map" v-if="detailDialogVisible" id="search"></div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="detailDialogVisible = false">
            关闭
          </el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Vue from "vue";
import { Message } from "element-ui";
export default {
  data() {
    return {
      rules: {
        timeOfFound: [
          { required: true, message: "请选择追回时间", trigger: "blur" }
        ],
        result: [
          { required: true, message: "请输入破案简报", trigger: "blur" }
        ],
        caseConclusionType: [
          { required: true, message: "请选择案件类型", trigger: "change" }
        ]
      },
      queryparams: {
        start: 0,
        count: 10,
        reporterName: null,
        
        statuses: []
      },
      formLabelWidth: "120px",
      addparams: {
        customName: "薛帅测试",
        Ip: "127.0.0.1",
        port: 8888,
        uname: "",
        passwd: "",
        manufacturer: "",
        channelNo: 1,
        longitude: 0,
        latitude: 0,
        altitude: 0,
        ccdType: "",
        focusMin: 100,
        focusMax: 200,
        tiltParam: 1,
        gisFix: 10
      },
      editparams: {
        customName: "",
        Ip: "",
        port: 0,
        uname: "",
        passwd: "",
        manufacturer: "",
        channelNo: 1,
        longitude: 0,
        latitude: 0,
        altitude: 0,
        ccdType: "",
        focusMin: 0,
        focusMax: 0,
        tiltParam: 1,
        gisFix: 0
      },
      endform: {},
      params: {
        ownerName: null,
        phone: null,
        placeOfLost: null,
        timeOfLost: null,
        description: null,
        coordinateOfLost: null
      },
      fileType: ".xls, .xlsx",
      header: {
        token: this.$ls.get("artoken")
      },
      address: null,
      preMarker: [],
      map: {},
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,

      morDeldialogVisible: false,
      importDialogVisible: false,
      detailDialogVisible: false,
      endDialogVisible: false,
      importDataBtnText: "点击上传",
      importDataBtnIcon: "el-icon-upload2",
      importDataDisabled: "true",
      singlecase: {}
    };
  },
  methods: {
    submitJiean() {
      // this.endform.urn = this.singlecase.urn
      this.endform.countOfFound = Number(this.endform.countOfFound);
      this.endform.closedTime = new Date().getTime();
      this.endform.status = "CLOSE";
      this.endform.placeOfFound = this.params.placeOfLost;
      this.endform.coordinateOfFound = this.params.coordinateOfLost;
      // console.log(this.endform);
      this.$refs["endform"].validate((valid) => {
        if (valid) {
          if (this.params.placeOfLost) {
            this.$store.dispatch("theftUpdate", [this.endform]);
            setTimeout(() => {
              this.endDialogVisible = false;
              this.$store.dispatch("theftcondition", this.queryparams);
              this.address = "";
            }, 1500);
          } else {
            this.$message({
              type: "warning",
              message: "请选择缴获赃物地点"
            });
          }
        }
      });
    },
    getreportName(val) {
      if (val == "") {
        this.queryparams.reporterName = null;
      }
    },
    recahngeDistrict(val) {
      let status = this.allDistrictlist.filter((item) => {
        return item.urn == val;
      });
      if (status[0]?.name) {
        return status[0].name;
      } else {
        return "";
      }
    },
    rechange(val) {
      let status = this.workstatusList.filter((item) => {
        return item.name == val;
      });
      return status[0].text;
    },
    endCase(data) {
      if (data.status == "CLOSE") {
        this.$confirm("该案件已经结案，是否重新结案", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {

            // console.log(data);
            this.singlecase = data;
            this.endform = data;
            this.params.placeOfLost = data.placeOfFound;
            this.params.coordinateOfLost = data.coordinateOfFound;
            this.endDialogVisible = true;
            setTimeout(() => {
              this.initMap();
            }, 500);
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消"
            });
          });
      } else {

        // console.log(data);
        this.singlecase = data;
        this.endform = data;
        this.params.placeOfLost = data.placeOfFound;
        this.params.coordinateOfLost = data.coordinateOfFound;
        this.endDialogVisible = true;
        setTimeout(() => {
          this.initMap();
        }, 500);
      }
    },
    detail(data) {
      // console.log(data);
      if (data.caseConclusionType) {
        let arr = this.legalCaseTypelist.filter((item) => {
          return (item.name == data.caseConclusionType);
        });
        // console.log(arr)
        data.caseConclusionTypestr = arr[0].description;
      } else {
        data.caseConclusionTypestr = "暂未结案";
      }

      this.singlecase = data;
      if(this.singlecase.timeOfFound){
        this.singlecase.timeOfFound = this.formattt(data.timeOfFound)
      }
      this.detailDialogVisible = true;
      //   this.singlecase.status = this.rechange(data.status)
      setTimeout(() => {
        this.initMap();
        this.$store.dispatch("getBikeInfo", { urn: data.bicycleUrn });
        this.$store.dispatch("getUserInfo", { urn: data.ownerUrn });
        if (data.coordinateOfFound) {
          let arr = data.coordinateOfFound.split(",");
          this.addMarker([arr[0], arr[1]]);
        }
      }, 500);
    },
    handleChange(index) {
      this.queryparams.start = (index - 1) * this.queryparams.count;
      this.$store.dispatch("theftcondition", this.queryparams);
    },
    add() {
      this.addDialogVisible = true;
      this.addparams.uname = Vue.ls.get("userName");
      this.addparams.passwd = Vue.ls.get("password");
    },

    getHPointList() {
      this.$store.dispatch("hightPointList", this.queryparams);
    },

    beforeUpload(file) {
      this.importDialogVisible = false;
      this.importDataBtnText = "正在导入";
      this.importDataBtnIcon = "el-icon-loading";
      this.importDataDisabled = "false";

      let fd = new FormData();
      fd.append("uploadHCamera", file);
      fd.append("project_id", "uploadHCamera");
      // fd.append('version_id', this.version_id)

      this.$http.post("/arapi/v1/ImportHCamera/", fd).then((res) => {
        if (res.msg == "成功") {
          Message.success("上传成功");
        } else {
          Message.success("上传失败");
        }
        // this.importDataBtnText='导入成功';
      });
      return false;
    },
    initMap() {
      var that = this;
      this.map = new AMap.Map("search", {
        zoom: 11,
        resizeEnable: true,
        center: [121.473658, 31.230378]
      });
      var clickevent = this.map.on("click", function (e) {
        if (that.preMarker.length > 0) {
          that.map.remove(that.preMarker[0]);
        }
        console.log(e);
        var geocoder = new AMap.Geocoder({
          radius: 1000,
          extensions: "all"
        });
        geocoder.getAddress(
          [e.lnglat.lng, e.lnglat.lat],
          function (status, result) {
            console.log(result);
            that.params.placeOfLost = result.regeocode.formattedAddress;
          }
        );
        that.params.coordinateOfLost = e.lnglat.lng + "," + e.lnglat.lat;
        that.params.coordinateOfLost = e.lnglat.lng + "," + e.lnglat.lat;
        that.addMarker([e.lnglat.lng, e.lnglat.lat]);
      });
    },
    keywordSearch_CallBack(data) {
      console.log(data);
      if (this.preMarker.length > 0) {
        this.map.remove(this.preMarker[0]);
      }
      this.addMarker([
        data.poiList.pois[0].location.lng,
        data.poiList.pois[0].location.lat
      ]);
      this.params.coordinateOfLost =
        data.poiList.pois[0].location.lng +
        "," +
        data.poiList.pois[0].location.lat;
      this.params.placeOfLost = data.poiList.pois[0].name;
    },
    addMarker(lnglatXY) {
      var marker = new AMap.Marker({
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
        position: lnglatXY
      });
      this.preMarker = [];
      this.preMarker.push(marker);
      marker.setMap(this.map);
      this.map.setFitView();
    },
    search() {
      var placeSearch;
      this.map.plugin(
        ["AMap.PlaceSearch", "AMap.ToolBar", "AMap.Scale"],
        () => {
          this.map.addControl(new AMap.ToolBar());
          this.map.addControl(new AMap.Scale());
          placeSearch = new AMap.PlaceSearch({
            city: this.address
          });
          AMap.event.addListener(
            placeSearch,
            "complete",
            this.keywordSearch_CallBack
          );
          placeSearch.search(this.address);
        }
      );
    },

    query() {
      this.queryparams.start = 0;
      this.$store.dispatch("theftcondition", this.queryparams);
      //   this.queryparams.page = 1;
      //   this.getHPointList();
    },
    reset() {
      this.queryparams.reporterName = null;
      this.queryparams.statuses = [];
    },
    formCheck() {
      if (!this.addparams.customName) {
        Message.error("高点名称不能为空!");
        return false;
      }
      if (!this.addparams.Ip) {
        Message.error("ip不能为空!");
        return false;
      }
      if (!this.addparams.uname) {
        Message.error("用户名不能为空!");
        return false;
      }
      if (!this.addparams.passwd) {
        Message.error("密码不能为空!");
        return false;
      }
      if (!this.addparams.tiltParam) {
        Message.error("请选择相机摆放位置!");
        return false;
      }
      if (!this.addparams.manufacturer) {
        Message.error("请选择厂商!");
        return false;
      }
      if (!this.addparams.port) {
        Message.error("端口号不能为空!");
        return false;
      }
      return true;
    },
   
    formattt(shijianchuo){
      //shijianchuo是整数，否则要parseInt转换
      var time = new Date(parseInt(shijianchuo));
      var y = time.getFullYear();
      var m = time.getMonth()+1;
      var d = time.getDate();
      var h = time.getHours();
      var mm = time.getMinutes();
      var s = time.getSeconds();
      return y+'-'+this.add0(m)+'-'+this.add0(d)+' '+this.add0(h)+':'+this.add0(mm)+':'+this.add0(s);
    },
    add0(m){return m<10?'0'+m:m }

  },
  created() {},
  mounted() {
    this.$store.dispatch("workflowStatus");
    let par = {
      start: 0,
      count: 100,
      reporterName: "",
      statuses: []
    };
    this.$store.dispatch("alldistrictSearch", par);
    this.$store.dispatch("theftcondition", this.queryparams);
    this.$store.dispatch("legalCaseType");

    // this.getHPointList(this.queryparams);
    // this.$store.dispatch("getListEnum",{});
    // this.initMap();
  },
  computed: {
    ...mapState({
      hightPointList: (state) => state.ar.hightPointList,
      listEnum: (state) => state.ar.listEnum,
      threfList: (state) => state.radar.threfList,
      threftotal: (state) => state.radar.threftotal,
      workstatusList: (state) => state.radar.workstatusList,
      allDistrictlist: (state) => state.radar.allDistrictlist,
      singleBikeInfo: (state) => state.radar.singleBikeInfo,
      singleUserInfo: (state) => state.radar.singleUserInfo,
      legalCaseTypelist: (state) => state.radar.legalCaseTypelist
    })
  },
  components: {}
};
</script>
<style>
.el-dialog {
  margin-top: 5vh !important;
}
</style>
<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 100px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .upload {
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 39%;
          text-align: left;
        }
        .content {
          width: 100%;
        }
        .require {
          color: red;
        }
      }
    }
  }
}
.mapBox {
  width: 100%;
  height: 250px;
  // background-color: blue;
  position: relative;
  .searchBox {
    position: absolute;
    right: 1%;
    top: 1%;
    height: 15%;
    background-color: white;
    width: 35%;
    display: flex;
    flex-direction: row;
  }
  .map {
    height: 100%;
    width: 100%;
  }
}
.stepfouth {
  height: 90%;
  width: 100%;
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 0.5px #eaeef4 solid;
  // border-bottom: none;
}
.detaiRowTitle {
  height: 55px;
  width: 100%;
  font-size: 23px;
  line-height: 55px;
  // background-color: black;
  color: black;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
}
.detaiRow {
  height: 55px;
  width: 100%;
  font-size: 18px;
  line-height: 55px;
  // background-color: black;
  color: black;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}
.picRow {
  min-height: 155px;
  width: 100%;
  font-size: 18px;
  // line-height: 140px;
  // background-color: black;
  color: black;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
  // display: flex;
  // flex-direction: row;
}
.detaiRowItem {
  height: 100%;
  flex: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detaiRowItemImg {
  height: 148.5px;
  padding-right: 20px;
}
.line {
  height: 0.5px;
  background-color: #eaeef4;
  width: 100%;
}
</style>