<template>
    <div class="pop-container">
        <div class="noCheck">

        </div>
    </div>
</template>

<script>
    export default {
        name: "reportPop"
    }
</script>

<style scoped>

</style>