<template>
  <div class="contact-container">
    <div class="ogom-list-container-inner">
      <div class="title-container">
        <span>已连接设备</span>
      </div>
    </div>
    <!--        <div class="contact-header">已连接设备</div>-->
    <div class="contact-search">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input v-model="deviceListParams.name" placeholder="搜索设备名称"></el-input>
        </el-form-item>
        <el-form-item>
          <el-select v-model="formInline.region" placeholder="时间区间" disabled>
            <el-option label="区域一" value="shanghai"></el-option>
            <el-option label="区域二" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-select v-model="formInline.region" placeholder="全部转发状态" disabled>
            <el-option label="区域一" value="shanghai"></el-option>
            <el-option label="区域二" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">搜索</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="button-group">
      <el-button type="primary" @click="toAddBySelf">手工添加</el-button>
      <el-button type="primary" @click="toAddScan">扫描添加</el-button>
    </div>
    <div class="table-box">
      <el-table
        :data="deviceList"
        :inline="true"
        border
        class="demo-form-inline"
        style="width: 100%"
      >
        <el-table-column fixed prop="name" label="设备名称"></el-table-column>
        <el-table-column prop="vendor" label="设备厂商"></el-table-column>
        <el-table-column prop="ipv4" label="IP"></el-table-column>
        <el-table-column prop="cameraModel" label="设备型号"></el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <div class="inline-btn-container">
              <el-button @click="handleSeeDeviceDetail(scope.row)" type="text" size="small">查看</el-button>
              <el-button @click="handleEditDeviceDetail(scope.row)" type="text" size="small">编辑</el-button>
              <el-popconfirm @onConfirm="handleDeleteDevice(scope.row)" title="是否确定删除该设备？">
                <el-button slot="reference" type="text" size="small">删除</el-button>
              </el-popconfirm>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div class="block">
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="deviceListParams.size"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="deviceListParams.total"
        ></el-pagination>
      </div>
    </div>
    <div class="pop-box" v-if="isShowPop" @click.self="closePop">
      <contact-device-pop
        :addable="deviceAddable"
        :outerDeviceDetail="deviceDetail"
        :editable="contactDeviceEditable"
      ></contact-device-pop>
    </div>
    <div class="pop-box" v-if="isShowScanPop" @click.self="closeScanPop">
      <contact-device-scan-pop></contact-device-scan-pop>
    </div>
  </div>
</template>

<script>
import contactDevicePop from "./contactDevicePop/contactDevicePop";
import contactDeviceScanPop from "./contactDevicePop/contactDeviceScanPop";
import { mapState } from "vuex";
export default {
  name: "contactDeviceInfoList",
  data() {
    return {
      deviceAddable: true,
      deviceDetail: "",
      contactDeviceEditable: false,
      deviceName: "",
      formInline: {},
      inputVal: "",
      tableData: [],
      currentPage: 1,
      isShowScanPop: false,
    };
  },
  mounted() {
    Object.assign(this.deviceListParams, { name: "" });
    this.$store.dispatch("getDefaultDicts", {
      name: "VENDOR_LIST,NETWORK_SEGMENT",
    });
    this.$store.dispatch("getDeviceList", this.deviceListParams);
  },
  components: {
    contactDevicePop,
    contactDeviceScanPop,
  },
  computed: {
    ...mapState({
      deviceListParams: (state) => state.deviceManage.deviceListParams,
      deviceList: (state) => state.deviceManage.deviceList,
      isShowPop: (state) => state.deviceManage.isShowPop,
    }),
  },
  methods: {
    handleEditDeviceDetail: function (item) {
      this.$store.commit("SET_ADD_DEVICE_POP", true);
      this.contactDeviceEditable = false;
      this.deviceAddable = false;
      this.deviceDetail = item;
    },
    handleSeeDeviceDetail: function (item) {
      this.$store.commit("SET_ADD_DEVICE_POP", true);
      this.contactDeviceEditable = true;
      this.deviceDetail = item;
      this.deviceAddable = false;
    },
    handleDeleteDevice: function (data) {
      this.$store.dispatch("deleteDevice", data);
    },
    onSearch() {
      this.$store.dispatch("getDeviceList", this.deviceListParams);
    },
    handleCurrentChange() {},
    handleSizeChange() {},
    toAddBySelf(info) {
      info;
      this.deviceDetail = {
        name: "",
        cameraModel: "",
        vendor: "",
        username: "",
        password: "",
        ipv4: "",
      };
      this.contactDeviceEditable = false;
      this.deviceAddable = true;
      this.$store.commit("SET_ADD_DEVICE_POP", true);
    },
    closePop() {
      this.$store.commit("SET_ADD_DEVICE_POP", false);
    },
    toAddScan() {
      this.isShowScanPop = true;
    },
    closeScanPop() {
      this.isShowScanPop = false;
    },
  },
};
</script>

<style lang="less" scoped>
.inline-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ogom-list-container-inner {
  height: 100%;
  width: 100%;
  background-color: white;
  border-top: 1px solid transparent;
  padding: 10px;
  box-sizing: border-box;

  .title-container {
    text-align: left;
    font-size: 23px;
    color: #8fb9f2;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d2d2d2;
  }
}
.contact-container {
  background-color: #fff;
  padding: 20px;
  .contact-header {
    padding: 20px;
    border-bottom: 1px dashed #aaa;
  }
  .contact-search {
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    div {
      width: 200px;
    }
  }
  .button-group {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 10px 0px;
  }
  .table-box {
    margin-top: 20px;
  }
  .block {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 20px;
  }
  .pop-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
}
</style>