<template>
  <div class="people-capture">
    <div class="people-inner">
      <div class="left-container">
        <div class="left-container-title">组织架构列表</div>
        <div class="input-box">
          <input type="text"><div class="search-button">搜索</div>
        </div>
        <div class="tree-box">
          <el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
        </div>
      </div>
      <div class="right-container">
        <div class="right-container-title1">
          <div class="input-box">
            <input type="text"><div class="search-button">搜索</div>
            <el-button type="primary" @click="openMenus()">显示</el-button>
          </div>
        </div>
<!--        <div class="right-container-title2">
          <el-button type="primary">筛选</el-button>
          <div class="input-box-right">
            <div>已选条件：</div>
            <div class="tag-item">
              <span class="tag-name">时间</span>
              <span>2020-10-02 14:12:45～2020-10-03  14:12:45</span>
              <img src="@/assets/images/mcp/shanchu@2x.png" alt="">
            </div>
            <div class="tag-item"><span class="tag-name">摄像头 </span> 共34个<img src="@/assets/images/mcp/shanchu@2x.png" alt=""></div>
            <div class="clear-button">全部清除</div>
          </div>
        </div>-->

        <div class="filter_condition">
          <div class="condition_item">
            <div class="condition_item_label">时间</div>
            <div class="condition_item_input">
              <el-date-picker
                  size="small"
                  v-model="formData.date"
                  type="daterange"
                  align="left"
                  unlink-panels
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  class="condition_input"
                  :picker-options="pickerOptions"
              >
              </el-date-picker>
            </div>
          </div>
          <div class="condition_item">
            <div class="condition_item_label">摄像头</div>
            <div class="condition_item_input">
              <el-cascader
                  size="small"
                  :collapse-tags="true"
                  style="width: 100%"
                  placeholder="请选择要检索的人像抓拍库"
                  :options="cameraList"
                  :props="{ multiple: true }"
                  filterable
              ></el-cascader>
            </div>
          </div>
          <div class="condition_item_more">
            <el-dropdown trigger="click">
                <span class="el-dropdown-link">
                    {{ moreOption }}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="a" @click.native="showHighranking(1)"
                >高级筛选</el-dropdown-item
                >
                <el-dropdown-item command="b" @click.native="showHighranking(2)"
                >重置表单</el-dropdown-item
                >
                <el-dropdown-item command="c" @click.native="showHighranking(3)"
                >收起</el-dropdown-item
                >
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>

        <div class="table-container">
          <el-table
              @row-click="openDetail"
              :data="tableData"
              style="width: 100%">
            <el-table-column
                prop="date"
                label="库名"
                align="center">
            </el-table-column>
            <el-table-column
                prop="name"
                label="人像数"
                align="center">
            </el-table-column>
          </el-table>
        </div>
        <div class="pagination-container">
          <el-pagination
            background
            layout="prev, pager, next,total"
            :total="200"
            :page-size="8"
            :current-page="1"
          >
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      cameraList: [],
      moreOption: "更多操作",
      formData:{},
      checked: false,
      data: [{
        label: '一级 1',
        children: [{
          label: '二级 1-1',
          children: [{
            label: '三级 1-1-1'
          }]
        }]
      }, {
        label: '一级 2',
        children: [{
          label: '二级 2-1',
          children: [{
            label: '三级 2-1-1'
          }]
        }, {
          label: '二级 2-2',
          children: [{
            label: '三级 2-2-1'
          }]
        }]
      }, {
        label: '一级 3',
        children: [{
          label: '二级 3-1',
          children: [{
            label: '三级 3-1-1'
          }]
        }, {
          label: '二级 3-2',
          children: [{
            label: '三级 3-2-1'
          }]
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      tableData: [{
        date: '2016-05-02',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }, {
        date: '2016-05-04',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1517 弄'
      }, {
        date: '2016-05-01',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1519 弄'
      }, {
        date: '2016-05-03',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1516 弄'
      }]
    };
  },
  methods: {
    handleNodeClick () {

    },
    openDetail (row, column, event) {
      console.log(row)
      console.log(column)
      console.log(event)
      this.$router.push({
        path: '/mcp/resourceManagement/carCaptureLibrary',
        query: {
          type: 'detail'
        }
      })
    },
    openMenus () {
      this.$router.push('/mcp/resourceManagement/columns')
    },
    generateData: function () {
      for (let i = 0; i < 5; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-big.jpg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    generatePeopleData: function () {
      for (let i = 0; i < 5; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-small.jpeg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    handleClickActiveBtn: function (type) {
      if (type == "pic") {
        this.active = true;
      } else {
        this.active = false;
      }
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
    },
    openDeletePanel () {
      this.deleteDialogVisible = true
    },
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
    ...mapMutations([])
  },

  mounted() {
    this.generateCameraList();
    this.generatePeopleData();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less"     scoped>
@import "~@/assets/less/mcp/resourceManagement/peopleLibraryList.less";
</style>
