<template>
  <div class="people-capture">
    <div class="people-inner">
      <div class="category-container" style="height: 8%">
        <div class="container-title">车辆抓拍库信息</div>
      </div>
      <div style="height: 92%">
        <div style="height: 38%">
          <div class="form-container">
            <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
              <el-form-item required label="所属组织架构" label-width="150px">
                <div class="right-text">上海市-浦东新区-周浦镇-周浦派出所-安康新村</div>
              </el-form-item>
              <el-form-item required label="库名" label-width="150px" class="name-style">
                <div class="right-text">逃犯</div>
              </el-form-item>
              <el-form-item label="记录数" label-width="150px">
                <div class="right-text">20</div>
              </el-form-item>
              <el-form-item label="备注" label-width="150px">
                <div class="right-text">全是备注文案...</div>
              </el-form-item>
            </el-form>
          </div>
        </div>
        <div style="height: 62%">
          <div class="table-container">
            <div class="table-item" v-for="item in tableData" :key="item.id">
              <div class="table-item-img" @click="openPeopleDetailPanel(item.id)">
                <img src="~@/assets/images/mcp/renxiang@2x.png" @click.stop="openOtherPage()" alt="" class="search" />
                <img src="~@/assets/images/mcp/shanchu@2x.png" @click.stop="openDeletePanel()" alt="" class="deleteIcon" />
                <img class="img" :src="item.img" alt="" />
              </div>
              <div class="table-item-content">
                <div class="detail-item">
                  <div class="left">车牌号码:</div>
                  <div class="right">{{ item.number }}</div>
                </div>
                <div class="detail-item">
                  <div class="left">车牌颜色:</div>
                  <div class="right">{{ item.color }}</div>
                </div>
                <div class="detail-item">
                  <div class="left">车牌种类:</div>
                  <div class="right">{{ item.type }}</div>
                </div>
                <div class="detail-item">
                  <div class="left">上传时间:</div>
                  <div class="right">{{ item.createTime }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-container">
            <el-pagination
                background
                layout="prev, pager, next,total"
                :total="200"
                :page-size="8"
                :current-page="1"
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
    <!--    人像信息详情    -->
    <el-dialog title="车辆信息" :visible.sync="isShowPeopleDetailPanel" :center="titlePosition">
      <el-form :model="form">
        <el-form-item label="抓拍照片" :label-width="formLabelWidth">
          <img class="" style="width: 100px" src="~@/assets/images/mcp/test-small.jpeg" alt="">
        </el-form-item>
        <el-form-item label="车牌号码" :label-width="formLabelWidth">
          <div>李四</div>
        </el-form-item>
        <el-form-item label="车牌颜色" :label-width="formLabelWidth">
          <div>老四</div>
        </el-form-item>
        <el-form-item label="车牌种类" :label-width="formLabelWidth">
          <div>-</div>
        </el-form-item>
        <el-form-item label="抓拍时间" :label-width="formLabelWidth">
          <div>2020-10-09-14:25:45</div>
        </el-form-item>
      </el-form>
    </el-dialog>
    <!--  删除弹出框  -->
    <el-dialog
        title="提示"
        :visible.sync="deleteDialogVisible"
        width="30%"
        center>
      <span>确定要删除此条数据吗？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      labelPosition: 'right',
      tableData: [],
      isEdit: true,
      isRealEdit: true,
      isStart: true,
      isShowUploadPeopleInfoPanel: false,
      form: {},
      formLabelWidth: '200px',
      imageUrl: '',
      titlePosition: true,
      isShowPeopleDetailPanel: false,
      cameraList: [],
      deleteDialogVisible: false
    };
  },
  methods: {
    generateData: function () {
      for (let i = 0; i < 8; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-big.jpg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    generatePeopleData: function () {
      for (let i = 0; i < 5; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-small.jpeg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    uploadPeopleInfo: function () {
      this.isShowUploadPeopleInfoPanel = true
      // this.isShowPeopleDetailPanel = false
    },
    handleClickActiveBtn: function (type) {
      if (type == "pic") {
        this.active = true;
      } else {
        this.active = false;
      }
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isPNG = file.type === 'image/png';
      const isLt10M = file.size / 1024 / 1024 < 10;

      if (!isJPG || !isPNG) {
        this.$message.error('上传头像图片只能是 JPG 或者 PNG 格式!');
      }
      if (!isLt10M) {
        this.$message.error('上传头像图片大小不能超过 10MB!');
      }
      return isJPG && isLt2M;
    },
    openPeopleDetailPanel (id) {
      this.isShowPeopleDetailPanel = true
      console.log(id)
    },
    openOtherPage () {
      console.log('123')
      this.$router.push('/mcp/search/people/result')
    },
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
    openDeletePanel () {
      this.deleteDialogVisible = true
    },
    ...mapMutations([])
  },

  mounted() {
    // this.generateData();
    this.generatePeopleData();
    this.generateCameraList()
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less"     scoped>
@import "~@/assets/less/mcp/resourceManagement/peopleLibrary.less";
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
