<template>
  <div class="people-capture">
    <div class="people-inner">
      <div class="category-container" style="height: 8%">
        <div class="container-title">显示栏目</div>
      </div>
      <div class="table-container">
        <el-table
            :data="tableData"
            style="width: 100%">
          <el-table-column
              label="栏目"
              :align="tablePosition"
              style="width: 30%">
            <template slot-scope="scope">
              <el-checkbox v-model="checked">备选项</el-checkbox>
              <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </template>
          </el-table-column>
          <el-table-column
              label="排序"
              :align="tablePosition"
              style="width: 30%">
            <template slot-scope="scope">
              <div @click="changeData1(scope.$index, scope.row)"><img src="@/assets/images/mcp/paixu-1@2x.png" alt=""></div>
            </template>
          </el-table-column>
          <el-table-column label="设为冻结" :align="tablePosition" style="width: 30%">
            <template slot-scope="scope">
              <div @click="changeData(scope.$index, scope.row)"><img src="@/assets/images/mcp/dongjie@2x.png" alt=""></div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="button-group">
        <!--      添加的时候使用      -->
        <el-button type="primary">保存</el-button>
        <el-button @click="cancelBack()">取消</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      tablePosition: 'center',
      labelPosition: 'right',
      tableData: [],
      isEdit: true,
      isRealEdit: true,
      isStart: true,
      checked: false
    };
  },
  methods: {
    cancelBack () {
      this.$router.go(-1)
    },
    generateData: function () {
      for (let i = 0; i < 8; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-big.jpg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    generatePeopleData: function () {
      for (let i = 0; i < 5; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-small.jpeg");
        o.number = `沪AL123${i}`;
        o.color = `蓝${i}`;
        o.type = `小型汽车${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    handleClickActiveBtn: function (type) {
      if (type == "pic") {
        this.active = true;
      } else {
        this.active = false;
      }
    },
    openDeletePanel () {
      this.deleteDialogVisible = true
    },
    handleEdit () {

    },
    changeData (index, data) {
      console.log(index)
      console.log(data)
    },
    changeData1 (index, data) {
      console.log(index)
      console.log(data)
    },
    ...mapMutations([])
  },

  mounted() {
    // this.generateData();
    this.generatePeopleData();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less"     scoped>
@import "~@/assets/less/mcp/resourceManagement/columns.less";
</style>
