<template>
  <div class="people-capture">
    <div class="people-inner">
      <div class="category-container" style="height: 8%">
        <div class="container-title" v-if="isEdit">新增人像库</div>
        <div class="container-title" v-else>管理人像库</div>
      </div>
      <div style="height: 92%">
        <div style="height: 38%">
          <div class="form-container" v-if="isEdit">
            <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
              <el-form-item required label="所属组织架构" label-width="150px">
<!--                <el-input v-model="formLabelAlign.name" placeholder="请选择所属组织架构" aria-rowindex="500px"></el-input>-->
                <div class="condition_item_input">
                  <el-cascader
                      :collapse-tags="true"
                      style="width: 100%"
                      placeholder="请选择所属组织架构"
                      :options="cameraList"
                      :props="{ multiple: true }"
                      filterable
                  ></el-cascader>
                </div>
              </el-form-item>
              <el-form-item required label="库名" label-width="150px" class="name-style">
                <el-input v-model="formLabelAlign.region" placeholder="请输入库名"></el-input>
              </el-form-item>
              <el-form-item label="人像数" label-width="150px" v-if="isEdit && isRealEdit">
                <el-input v-model="formLabelAlign.type" placeholder="这个暂时。。。"></el-input>
              </el-form-item>
              <el-form-item label="备注" label-width="150px">
                <el-input type="textarea" v-model="formLabelAlign.type" class="area-box" placeholder="请输入"></el-input>
              </el-form-item>
            </el-form>
          </div>
          <div class="form-container" v-else>
            <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
              <el-form-item required label="所属组织架构" label-width="150px">
                <div class="right-text">上海市-浦东新区-周浦镇-周浦派出所-安康新村</div>
              </el-form-item>
              <el-form-item required label="库名" label-width="150px" class="name-style">
                <div class="right-text">逃犯</div>
              </el-form-item>
              <el-form-item label="人像数" label-width="150px">
                <div class="right-text">20</div>
              </el-form-item>
              <el-form-item label="备注" label-width="150px">
                <div class="right-text">全是备注文案...</div>
              </el-form-item>
            </el-form>
          </div>
          <div class="table-title" v-if="isEdit">
            <div class="title-title">人像信息</div>
            <div class="upload-pic" @click="uploadPeopleInfo">上传人像</div>
          </div>
        </div>
        <div style="height: 62%">
          <div class="table-container">
            <div class="table-item" v-for="item in tableData" :key="item.id">
              <div class="table-item-img" @click="openPeopleDetailPanel(item.id)">
                <img src="~@/assets/images/mcp/renxiang@2x.png" @click.stop="openOtherPage()" alt="" class="search" />
                <img src="~@/assets/images/mcp/shanchu@2x.png" @click.stop="openDeletePanel()" alt="" class="deleteIcon" />
                <img class="img" :src="item.img" alt="" />
              </div>
              <div class="table-item-content">
                <div class="detail-item">
                  <div class="left">姓名:</div>
                  <div class="right">{{ item.name }}</div>
                </div>
                <div class="detail-item">
                  <div class="left">别名:</div>
                  <div class="right">{{ item.name }}</div>
                </div>
                <div class="detail-item">
                  <div class="left">身份证号:</div>
                  <div class="right">{{ item.name }}</div>
                </div>
                <div class="detail-item">
                  <div class="left">上传时间:</div>
                  <div class="right">{{ item.createTime }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-container">
            <el-pagination
                background
                layout="prev, pager, next,total"
                :total="200"
                :page-size="8"
                :current-page="1"
            >
            </el-pagination>
          </div>
          <div class="button-group">
            <el-button type="primary" v-if="isEdit">保存</el-button>
            <el-button v-if="isEdit" @click="cancelBack()">取消</el-button>

            <el-button v-if="!isEdit" type="primary">编辑</el-button>
            <el-button v-if="isStart && isRealEdit || !isEdit" type="warning">停用</el-button>
            <el-button v-if="!isStart && isRealEdit || !isEdit" type="success">启用</el-button>
            <el-button v-if="isRealEdit || !isEdit" type="danger">删除</el-button>
          </div>
        </div>
      </div>
    </div>
    <!--    上传/编辑人像详情    -->
    <el-dialog title="上传人像" :visible.sync="isShowUploadPeopleInfoPanel" :center="titlePosition">
      <el-form :model="form">
        <el-form-item label="人像" :label-width="formLabelWidth">
          <el-upload
              class="avatar-uploader"
              action="https://jsonplaceholder.typicode.com/posts/"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              list-type="picture-card">
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
<!--            <i class="el-icon-plus"></i>-->
          </el-upload>
        </el-form-item>
        <el-form-item label="姓名" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="别名" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="身份证号" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>
    <!--    人像信息详情    -->
    <el-dialog title="人像信息" :visible.sync="isShowPeopleDetailPanel" :center="titlePosition">
      <el-form :model="form">
        <el-form-item label="人像" :label-width="formLabelWidth">
          <img class="" style="width: 100px" src="~@/assets/images/mcp/test-small.jpeg" alt="">
        </el-form-item>
        <el-form-item label="姓名" :label-width="formLabelWidth">
          <div>李四</div>
        </el-form-item>
        <el-form-item label="别名" :label-width="formLabelWidth">
          <div>老四</div>
        </el-form-item>
        <el-form-item label="身份证号" :label-width="formLabelWidth">
          <div>-</div>
        </el-form-item>
        <el-form-item label="上传人" :label-width="formLabelWidth">
          <div>张三</div>
        </el-form-item>
        <el-form-item label="上传时间" :label-width="formLabelWidth">
          <div>2020-10-09-14:25:45</div>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="uploadPeopleInfo">编 辑</el-button>
      </div>
    </el-dialog>
    <!--  删除弹出框  -->
    <el-dialog
        title="提示"
        :visible.sync="deleteDialogVisible"
        width="30%"
        center>
      <span>确定要删除此条数据吗？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="deleteDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteDialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      labelPosition: 'right',
      tableData: [],
      isEdit: true,
      isRealEdit: true,
      isStart: true,
      isShowUploadPeopleInfoPanel: false,
      form: {},
      formLabelWidth: '200px',
      imageUrl: '',
      titlePosition: true,
      isShowPeopleDetailPanel: false,
      cameraList: [],
      deleteDialogVisible: false
    };
  },
  methods: {
    cancelBack () {
      this.$router.go(-1)
    },
    generateData: function () {
      for (let i = 0; i < 8; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-big.jpg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    generatePeopleData: function () {
      for (let i = 0; i < 5; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-small.jpeg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    uploadPeopleInfo: function () {
      this.isShowUploadPeopleInfoPanel = true
      // this.isShowPeopleDetailPanel = false
    },
    handleClickActiveBtn: function (type) {
      if (type == "pic") {
        this.active = true;
      } else {
        this.active = false;
      }
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isPNG = file.type === 'image/png';
      const isLt10M = file.size / 1024 / 1024 < 10;

      if (!isJPG && !isPNG) {
        this.$message.error('上传头像图片只能是 JPG 或者 PNG 格式!');
      }
      if (!isLt10M) {
        this.$message.error('上传头像图片大小不能超过 10MB!');
      }
      return isJPG && isLt2M;
    },
    openPeopleDetailPanel (id) {
      this.isShowPeopleDetailPanel = true
    },
    openOtherPage () {
      this.$router.push('/mcp/search/people/result')
    },
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
    openDeletePanel () {
      this.deleteDialogVisible = true
    },
    ...mapMutations([])
  },

  mounted() {
    // this.generateData();
    this.isEdit = this.$route.query.type === 'add' ? true : false
    this.generatePeopleData();
    this.generateCameraList()
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less"     scoped>
@import "~@/assets/less/mcp/resourceManagement/peopleLibrary.less";
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
