<template>
    <div class="combination">
        <el-cascader
            ref="currentnode"
            @visible-change="blurStatus"
            v-model="village"
            :options="treeData"
            @change="getvillage"
            :props="{
                checkStrictly: true,
                label: 'name',
                value: 'id'
            }"
        >
            <template slot-scope="{ node, data }">
                <span @click="getCurrentnode(node)">{{ data.name }}</span>
            </template>
        </el-cascader>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import Vue from "vue";
export default {
    data() {
        return {
            treeData: [],
            village: [],
            treePaths: "",
            districtIds: ""
        }
    },
    props: ['districtId', 'villagelist'],
    methods: {
        ...mapMutations([]),
        getvillage(e) {
            // console.log(e);
            // console.log(this.village);
            let n = this.$refs['currentnode'].getCheckedNodes()
            this.districtIds = n[0].data.id
            this.treePaths = `${'/'.repeat(n[0].data.level - 3)}${n[0].data.id}${'/'.repeat(6 - n[0].data.level)}`

        },
        getCurrentnode(node) {

        },
        blurStatus(e) {
            if (!e) {
                if (this.treePaths) {
                    this.$emit('getVillages', { treePath: this.treePaths, districtId: this.districtIds })
                } else {
                    this.$message({
                        type: 'warning',
                        message: '请选择节点'
                    })
                }
                
            }
        },
    },

    created() { },
    mounted() {
        console.log(typeof (this.villagelist));
        this.$store.dispatch("chooseTree", { parentDistrictId: this.districtId }).then((res) => {
            this.treeData = res.data;
            if (this.villagelist) {
                this.village = this.villagelist
            }

        });


    },
    watch: {},
    computed: {
        ...mapState({}),

        ...mapGetters([])

    },
    components: {

    },
    destroyed() {
        this.village = []
    }
}
</script>

<style lang='less' scoped>
</style>
