<template>
    <div class="combination">
        <el-cascader
            @visible-change="blurStatus"
            v-model="village"
            :options="treeData"
            @change="getvillage"
            :props="{
                checkStrictly: true,
                label: 'name',
                value: 'id'
            }"
            clearable
        ></el-cascader>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import Vue from "vue";
export default {
    data() {
        return {
            treeData: [],
            village: [],
        }
    },
    props: ['districtId', 'villagelist'],
    methods: {
        ...mapMutations([]),
        getvillage(e) {
            console.log(e);
            console.log(this.village);
        },
        blurStatus(e) {
            if (!e) {
                let roler = Vue.ls.get('roler')
                let roleLength;
                switch (roler) {
                    case 'Secretary':
                        roleLength = 1
                        break;
                    case 'shequAdmin':
                        roleLength = 2
                        break;
                    case 'StreetAdmin':
                        roleLength = 3
                        break;
                }
                console.log(roleLength);
                console.log(this.village.length);
                if (roleLength == this.village.length) {
                    let len = 4 - this.village.length
                    let str = this.village.join('/')
                    for (let index = 0; index < len; index++) {
                        str = `/${str}`
                    }
                    console.log(str);
                    this.$emit('getVillages', { treePath: str, districtId: this.village[this.village.length - 1] })
                }else{
                    this.$message({
                        type:'warning',
                        message:'请选择到最后一层节点'
                    })
                }
            }
        },
    },

    created() { },
    mounted() {
        console.log(typeof (this.villagelist));
        this.$store.dispatch("lgdistrictTree", { parentDistrictId: this.districtId }).then((res) => {
            this.treeData = res.data;
            if(this.villagelist){
                this.village = this.villagelist
            }
            
        });


    },
    watch: {},
    computed: {
        ...mapState({}),

        ...mapGetters([])

    },
    components: {

    },
    destroyed() {
        this.village = []
    }
}
</script>

<style lang='less' scoped>
</style>
