<template>
  <div class="img-container">
    <img :src="picPreUrl+slider.url" alt="" class="faceimg" />
    <div class="img-container-text img-container-text-1">
      <span>{{ slider.createTime }}</span>
    </div>
    <div class="img-container-text img-container-text-2">
      <span>{{ slider.address }}</span>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["slider"],
  data() {
    return {
      picPreUrl:''
    };
  },
  methods: { ...mapMutations([]) },

  mounted() {
    this.picPreUrl =  localStorage.getItem('picUrl');
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.img-container {
  height: 100%;
  width: 100%;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .img-container-text {
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: gold;
    font-weight: bold;
    background-color: #eeeeee;
  }
  .img-container-text-1 {
    bottom: 15px;
    text-align: center;
  }
  .img-container-text-2 {
    bottom: 0;
    text-align: center;
  }
}
</style>
