<template>
  <div class="label-manage">
    <el-row>
      <el-col :span="23" :offset="1">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
          <el-form-item label="开始日期">
            <el-date-picker
              v-model="formInline.startDate"
              type="date"
              placeholder="选择日期"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="结束日期">
            <el-date-picker
              v-model="formInline.endDate"
              type="date"
              placeholder="选择日期"
            ></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-table border :data="labelList" style="margin: 0 auto">
          <el-table-column
            width="100"
            prop="paichusuo"
            label="派出所"
          ></el-table-column>
          <el-table-column
            prop="installTime"
            label="安装时间"
          ></el-table-column>
          <el-table-column
            prop="singleLabelCount"
            label="单标签安装数量"
          ></el-table-column>
          <el-table-column
            prop="silveryLabelCount"
            label="副标签安装数量"
          ></el-table-column>
          <el-table-column
            prop="totalCount"
            label="总安装数量"
          ></el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center" style="margin-top: 30px">
      <el-col :span="23">
        <el-pagination
          style="text-align: center"
          @current-change="handleCurrentChange"
          :current-page="1"
          :page-size="labelCoumtParams.count"
          background
          layout="total, prev, pager, next,jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="labelCoumtParams.total"
        ></el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      labelCoumtParams: { count: 200, total: 100 },
      labelList: [
        {
          paichusuo: "周东所",
          installTime: "2021-09-30",
          singleLabelCount: 30,
          silveryLabelCount: 19,
          totalCount: 49
        }
      ],
      formInline: { startDate: "", endDate: "" }
    };
  },
  methods: {
    handleCurrentChange: function () {},
    onSubmit: function () {},
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
