<template>
  <div class="deviceManage">
    <div class="panel-right">
      <el-form ref="carDetail" :model="carDetail" label-width="80px">
        车主信息
        <el-form-item label="车主姓名" label-width="100px">
          <el-input
            v-model="carDetail.properties.$_conf_ownerUrn.name"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <!--        <el-form-item label="身份证号" label-width="100px">-->
        <!--          <el-input-->
        <!--            v-model="carDetail.properties.$_conf_ownerUrn.idCards[0]"-->
        <!--            style="width: 500px"-->
        <!--          ></el-input>-->
        <!--        </el-form-item>-->
        <el-form-item label="电话号" label-width="100px">
          <el-input
            v-model="carDetail.properties['$_conf_ownerUrn'].member.phones[0]"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        车辆信息
        <el-form-item label="品牌" label-width="100px">
          <el-input
            v-model="carDetail.productModel.brandName"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="电机号" label-width="100px">
          <el-input
            v-model="carDetail.motorNumber"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="车架号" label-width="100px">
          <el-input v-model="carDetail.vin" style="width: 500px"></el-input>
        </el-form-item>
        <!--        <el-form-item label="颜色" label-width="100px">-->
        <!--          <el-input v-model="carDetail.vin" style="width: 500px"></el-input>-->
        <!--        </el-form-item>-->
        <!-- <el-form-item label="车牌号" label-width="100px">
          <el-input v-model="carDetail.vin" style="width: 500px"></el-input>
        </el-form-item> -->
        <el-form-item label="登记机构" label-width="100px">
          <el-input
            v-model="carDetail.properties['$_conf_zoneUrn'][0].name"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="牌照号" label-width="100px">
          <el-input
            v-model="carDetail.licensePlate"
            style="width: 500px"
          ></el-input>
        </el-form-item>
        <el-form-item label="安装时间" label-width="100px">
          <el-input v-model="carDetail.wenTime" style="width: 500px"></el-input>
          <!--            <el-input-->
          <!--                    v-model="carDetail.auditHead.createdOn"-->
          <!--                    style="width: 500px"-->
          <!--            ></el-input>-->
        </el-form-item>
        标签信息
        <div v-for="i in carDetail.rfIdList" :key="i.urn" class="tag-group">
          <el-form-item label="安装位置" label-width="100px">
            <el-input v-model="i.rfTagLocation" style="width: 500px"></el-input>
          </el-form-item>
          <el-form-item label="电子标签" label-width="100px">
            <el-input v-model="i.urn" style="width: 500px"></el-input>
          </el-form-item>
          <el-form-item label="标签照片" label-width="100px">
            <img style="width: 130px; height: 130px" :src="i.imageUrl" alt="" />
          </el-form-item>
        </div>
        <div v-if="carDetail.insurances">
          保单信息
          <div v-for="i in carDetail.insurances" :key="i.id" class="tag-group">
            <el-form-item label="证书编号" label-width="100px">
              <el-input v-model="i.id" style="width: 500px"></el-input>
            </el-form-item>
            <el-form-item label="签发机构" label-width="100px">
              <el-input v-model="i.institute" style="width: 500px"></el-input>
            </el-form-item>
            <el-form-item label="签发日期" label-width="100px">
              <el-input v-model="i.issued" style="width: 500px"></el-input>
            </el-form-item>
            <el-form-item label="开始时间" label-width="100px">
              <el-input v-model="i.start" style="width: 500px"></el-input>
            </el-form-item>
            <el-form-item label="结束时间" label-width="100px">
              <el-input v-model="i.expired" style="width: 500px"></el-input>
            </el-form-item>
          </div>
        </div>
        <div v-if="carDetail.snapshots">
          照片组
          <div class="pic_list">
            <div
              class="item"
              v-if="
                carDetail.snapshots.LEFT && carDetail.snapshots.LEFT.length > 0
              "
            >
              <div>车辆侧身</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.LEFT[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.FRONT &&
                carDetail.snapshots.FRONT.length > 0
              "
            >
              <div>车头照片</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.FRONT[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.BACK && carDetail.snapshots.BACK.length > 0
              "
            >
              <div>车尾照片</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.BACK[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.BRAND &&
                carDetail.snapshots.BRAND.length > 0
              "
            >
              <div>牌照或品牌</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.BRAND[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.SIN_FRONT &&
                carDetail.snapshots.SIN_FRONT.length > 0
              "
            >
              <div>车主身份证正面</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.SIN_FRONT[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.SIN_BACK &&
                carDetail.snapshots.SIN_BACK.length > 0
              "
            >
              <div>车主身份证反面</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.SIN_BACK[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.ENGINE &&
                carDetail.snapshots.ENGINE.length > 0
              "
            >
              <div>电机号照片</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.ENGINE[0].url"
                alt=""
              />
            </div>
            <div
              class="item"
              v-if="
                carDetail.snapshots.VIN && carDetail.snapshots.VIN.length > 0
              "
            >
              <div>车架号照片</div>
              <img
                style="width: 130px; height: 130px"
                :src="carDetail.snapshots.VIN[0].url"
                alt=""
              />
            </div>
          </div>
        </div>
        <el-button style="margin-top: 20px;margin-left: 5px" @click="goback">返回</el-button>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      ruleForm: {},
      carDetail: {
        productModel: {},
        ownerIDCard: {},
        properties: {
          $_conf_ownerUrn: { member: { phones: [] } },
          $_conf_zoneUrn: [{ name: "" }]
        },
        rfIdList: [{ rfTagLocation: "" }],
        auditHead: {},
        snapshots: {}
      }
    };
  },
  methods: {
    ...mapMutations([]),
    goback() {
      this.$router.go(-1)
    }
  },

  mounted() {
    this.carDetail = Object.assign(
      this.carDetail,
      JSON.parse(localStorage.getItem("detail"))
    );
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({}),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.panel-right {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}
.tree-box {
  height: 150px;
  overflow: scroll;
}
.tag-group {
  margin-top: 50px;
}
.pic_list {
  display: flex;
  flex-flow: row;
  .item {
    margin-left: 10px;
    margin-top: 30px;
    img {
      margin-top: 10px;
    }
  }
}
</style>
