<template>
  <div class="deviceManage">
    <div class="panel-right">
      <el-form
        style="margin-top: 20px"
        :model="ruleForm"
        ref="ruleForm"
        label-width="130px"
        class="demo-ruleForm"
        :inline="true"
      >
        <el-form-item label="姓名" prop="params.name" label-width="90px">
          <el-input
            v-model="ruleForm.params.name"
            @input="getUsername"
            style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="身份证号码"
          prop="params.ownerId"
          label-width="100px"
        >
          <el-input
            @input="getIdcard"
            v-model="ruleForm.params.ownerId"
            style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="区域" label-width="85px" prop="params.zoneurn">
          <el-select v-model="zoneurn" @change="getsuo" placeholder="请选择">
            <el-option
              v-for="item in districtList"
              :key="item.urn"
              :label="item.name"
              :value="item.urn"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="派出所" label-width="85px" prop="params.suourn">
          <el-select v-model="suourn" placeholder="请选择" @change="geturn">
            <el-option
              v-for="item in suoList"
              :key="item.urn"
              :label="item.name"
              :value="item.urn"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="安装时间" prop="installTime" label-width="100px">
          <div class="block">
            <el-date-picker
              v-model="dateTime"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
        </el-form-item>
        <el-form-item>
          <div class="">
            <el-button
              style="margin-left: 60px"
              type="primary"
              @click="onSubmit('ruleForm')"
            >
              查询
            </el-button>
            <el-button @click="resetForm('ruleForm')" style="margin-left: 20px">
              重置
            </el-button>
          </div>
        </el-form-item>
      </el-form>
      <div class="table-style">
        <el-table
          max-height="550"
          :data="radarBicycleList"
          tooltip-effect="dark"
          border
          style="width: 100%"
        >
          <el-table-column
            prop="number"
            type="index"
            width="50"
            align="center"
            label="序号"
          ></el-table-column>
          <el-table-column
            prop="properties.$_conf_ownerUrn.name"
            align="center"
            label="车主姓名"
          ></el-table-column>
          <el-table-column
            prop="ownerIDCard.id"
            label="身份证号"
            align="center"
            width="180"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            align="center"
            prop="registrationAgency"
            label="登记机构"
          >
            <template slot-scope="scope">
              {{
                scope.row.properties
                  ? scope.row.properties["$_conf_zoneUrn"]
                    ? scope.row.properties["$_conf_zoneUrn"][0]
                      ? scope.row.properties["$_conf_zoneUrn"][0].name
                      : ""
                    : ""
                  : ""
              }}
            </template>
          </el-table-column>
          <el-table-column align="center" label="手机号">
            <template slot-scope="scope">
              {{
                scope.row.properties["$_conf_ownerUrn"].member
                  ? scope.row.properties["$_conf_ownerUrn"].member.phones[0]
                  : ""
              }}
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            prop="licensePlate"
            label="牌照号"
          ></el-table-column>
          <el-table-column
            prop="wenTime"
            align="center"
            label="安装时间"
            width="180"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column fixed="right" label="操作" width="80">
            <template slot-scope="scope">
              <el-button
                @click="handleClick(scope.row)"
                type="text"
                size="small"
              >
                详情
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="page-style">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="ruleForm.page.count"
          layout="total, prev, pager, next, jumper"
          :total="radarBicyclePagination.total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      ruleForm: {
        page: {
          count: 10,
          start: 0
        },
        params: {
          ownerId: null,
          properties: ["$_conf_ownerUrn", "$_conf_zoneUrn"],
          zones: []
        }
      },
      currentPage: 1,
      dateTime: "",
      zoneurn: [],
      suourn: [],
      isSetSuo: true
    };
  },
  methods: {
    ...mapMutations([]),
    getUsername(val) {
      if (val == "") {
        this.ruleForm.params.name = null;
      }
    },
    getsuo(val) {
      let par = {
        parents: [val]
      };
      this.isSetSuo = false;
      this.$store.dispatch("suoSearch", par);
    },
    geturn() {
      this.isSetSuo = true;
    },
    getIdcard(val) {
      if (val) {
        val;
      } else {
        this.ruleForm.params.ownerId = null;
      }
    },
    onSubmit(formName) {
      if (this.suourn) {
        this.ruleForm.params.zones = [this.suourn];
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.isSetSuo) {
            if (this.dateTime) {
              this.ruleForm.params.createTimeRange = `[${new Date(
                this.dateTime[0]
              ).getTime()},${new Date(this.dateTime[1]).getTime()}]`;
            }
            this.$store.dispatch("getBicycleList", this.ruleForm);
          } else {
            this.$message({
              message: "已选择区域，还未选择所",
              type: "error"
            });
          }
        } else {
          return false;
        }
      });
    },
    handleClick(row) {
      localStorage.setItem("detail", JSON.stringify(row));
      this.$router.push({
        path: "/electricCar/detail"
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.dateTime = "";
      this.ruleForm.startTime = "";
      this.ruleForm.endTime = "";
      this.suourn = "";
      this.zoneurn = "";
      this.ruleForm.params.zones = []
      this.ruleForm.params = {properties: ["$_conf_ownerUrn", "$_conf_zoneUrn"]}
    },
    handleSizeChange() {},
    handleCurrentChange(val) {
      this.ruleForm.page.start = (val - 1) * 10;
      this.$store.dispatch("getBicycleList", this.ruleForm);
    }
  },

  mounted() {
    this.$store.dispatch("getBicycleList", this.ruleForm);
    let par = {
      parents: ["urn:bh:district:1"]
      // properties:[
      //   "$_conf_ownerUrn",
      //   "$_conf_zoneUrn",
      // ]
    };
    this.$store.dispatch("districtSearch", par);
  },
  filters: {},
  watch: {
    radarBicycleList: function (val) {
      val.forEach((t) => {
        Object.assign(t, {wenTime: ''})
        t.wenTime =
          t.auditHead.createdOn.substr(0, 10) +
          " " +
          t.auditHead.createdOn.substr(11, 8);
      });
    }
  },
  computed: {
    ...mapState({
      radarBicycleList: (state) => state.radar.radarBicycleList,
      radarBicyclePagination: (state) => state.radar.radarBicyclePagination,
      districtList: (state) => state.radar.districtList,
      suoList: (state) => state.radar.suoList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "../../../assets/less/radar/electricCarList.less";
.page-style {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 20px;
}
.table-style {
  margin: 15px;
}
</style>
