<template>
  <div class="lineUser">
    <div class="lineUser_tree">
      <treedom></treedom>
    </div>
    <div class="lineUser_table">
      <div class="lineUser_table_search">
        <el-input v-model="input" placeholder="搜索用户名"></el-input>
      </div>
      <div class="tableBox" v-if="$route.query.type=='first'">
        <el-table
          :data="tableData"
          border
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            align="center"
            type="selection"
            width="55"
          ></el-table-column>
          <el-table-column
            align="center"
            prop="username"
            label="用户名"
          ></el-table-column>
          <el-table-column align="center" prop="name" label="姓名"></el-table-column>
          <el-table-column align="center" label="状态">
            <template slot-scope="scope">
              {{scope.row.status?'在线':"离线"}}
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="tableBox" v-if="$route.query.type=='second'">
        <el-table
          :data="tableData"
          border
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            align="center"
            type="selection"
            width="55"
          ></el-table-column>
          <el-table-column
            align="center"
            prop="username"
            label="用户名"
          ></el-table-column>
          <el-table-column align="center" prop="name" label="系统名"></el-table-column>
          <el-table-column align="center" prop="ip" label="IP"></el-table-column>
          <el-table-column align="center" prop="mac" label="MAC"></el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import treedom from "@/components/middleware/treeDom.vue";

export default {
  data() {
    return {
      input: "",
      tableData: []
    };
  },
  props: [],
  methods: { ...mapMutations([]), 
    handleSelectionChange(){

    }
  },

  created() {},
  mounted() {
    if(this.$route.query.type=='first'){
      this.tableData=[
        {
          username: "13116231423",
          name: "段磊",
          status: false
        },
        {
          username: "13523451234",
          name: "薛帅",
          status: true
        }
      ]
    }else{
      this.tableData=[
        {
          username: "alyun",
          name: "阿里云",
          ip:'192.168.1.1',
          mac:'18-31-BF-07-EA-5E'
        },
        {
          username: "wbry123",
          name: "浦东MV",
          ip:'172.102.1.1',
          mac:'E8-03-9A-35-3B-6D'
        }
      ]
    }
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {
    treedom
  }
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/middleware/lineUser.less";
</style>
