<template>
  <div class="labelcontainer">
    <div class="box">
      <el-tabs v-model="activeName">
        <el-tab-pane label="系统角色" name="first">
          <div class="searchBox">
            <div class="input-search">
              <el-input placeholder="搜索角色名称" v-model="roleName">
                <i
                  slot="suffix"
                  class="el-input__icon el-icon-search"
                  @click="search"
                ></i>
              </el-input>
            </div>
          </div>
          <div class="handleBox">
            <div class="add">
              <el-button type="primary" icon="el-icon-plus" @click="addRole">
                添加
              </el-button>
            </div>
            <div class="add">
              <el-button
                type="primary"
                icon="el-icon-delete"
                @click="deleteRole"
              >
                删除
              </el-button>
            </div>
            <div class="add">
              <el-button type="primary" icon="el-icon-video-play">
                启用
              </el-button>
            </div>
            <div class="add">
              <el-button type="primary" icon="el-icon-video-pause">
                停用
              </el-button>
            </div>
          </div>
          <div class="tableBox">
            
            <el-table
              :data="tableData"
              border
              @selection-change="handleSelectionChange"
            >
              <el-table-column
                align="center"
                type="selection"
                width="55"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="userName"
                label="角色名称"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="userNumber"
                label="用户数">
              </el-table-column>
              <el-table-column
                align="center"
                prop="createUser"
                label="创建用户"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="createTime"
                label="创建时间"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="updateTime"
                label="更新时间"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="desc"
                label="描述"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="isUp"
                label="是否启用"
              >
              <template slot-scope="scope">
                {{scope.row.isUsing?'启用':'停用'}}
              </template>
              </el-table-column>
              <el-table-column align="center" prop="" label="操作">
                <template slot-scope="scope">
                  <div class="itemHandleBox">
                    <i class="el-icon-edit" @click="editRole"></i>
                    <i class="el-icon-delete" @click="deleteRole"></i>
                    <i class="el-icon-video-play" v-if="!scope.row.isUsing" @click="startDevice(scope.row)"></i>
                    <i class="el-icon-video-pause" v-if="scope.row.isUsing" @click="stopOrplay(scope.$index)"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <div class="pagination">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[15, 20, 30, 40]"
                    :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="3">
            </el-pagination>
          </div>
        </el-tab-pane>
        <!-- <el-tab-pane label="系统用户" name="first">系统用户</el-tab-pane> -->

        <el-tab-pane label="外部角色" name="second">
          <div class="searchBox">
            <div class="input-search">
              <el-input placeholder="搜索角色名称" v-model="roleName">
                <i
                  slot="suffix"
                  class="el-input__icon el-icon-search"
                  @click="search"
                ></i>
              </el-input>
            </div>
          </div>
          <div class="handleBox">
            <div class="add">
              <el-button type="primary" icon="el-icon-plus" @click="addRole">
                添加
              </el-button>
            </div>
            <div class="add">
              <el-button
                type="primary"
                icon="el-icon-delete"
                @click="deleteRole"
              >
                删除
              </el-button>
            </div>
            <div class="add">
              <el-button type="primary" icon="el-icon-video-play">
                启用
              </el-button>
            </div>
            <div class="add">
              <el-button type="primary" icon="el-icon-video-pause">
                停用
              </el-button>
            </div>
          </div>
          <div class="tableBox">
            <el-table
              :data="tableDataout"
              border
              @selection-change="handleSelectionChange"
            >
              <el-table-column
                align="center"
                type="selection"
                width="55"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="userName"
                label="角色名称"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="userNumber"
                label="用户数">
              </el-table-column>
              <el-table-column
                align="center"
                prop="createUser"
                label="创建用户"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="createTime"
                label="创建时间"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="updateTime"
                label="更新时间"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="desc"
                label="描述"
              ></el-table-column>
              <el-table-column
                align="center"
                prop="isUp"
                label="是否启用"
              >
              <template slot-scope="scope">
                {{scope.row.isUsing?'启用':'停用'}}
              </template>
              </el-table-column>
              <el-table-column align="center" prop="" label="操作">
                <template slot-scope="scope">
                  <div class="itemHandleBox">
                    <i class="el-icon-edit" @click="editRole"></i>
                    <i class="el-icon-delete" @click="deleteRole"></i>
                    <i class="el-icon-video-play" v-if="!scope.row.isUsing" @click="startDevice(scope.row)"></i>
                    <i class="el-icon-video-pause" v-if="scope.row.isUsing" @click="stopOrplay(scope.$index)"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <div class="pagination">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[15, 20, 30, 40]"
                    :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="3">
            </el-pagination>
          </div>
        </el-tab-pane>
      </el-tabs>

      <el-dialog title="添加角色" :visible.sync="addDialogVisible" center>
        <el-form :model="addform">
          <el-form-item label="角色名称:" :label-width="formLabelWidth">
            <el-input v-model="addform.labelCode" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="描述:" :label-width="formLabelWidth">
            <el-input
              v-model="addform.description"
              autocomplete="off"
              type="textarea"
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addDialogVisible = false">
            确 定
          </el-button>
        </div>
      </el-dialog>

      <el-dialog title="修改角色" :visible.sync="editDialogVisible" center>
        <el-form :model="editform">
          <el-form-item label="角色名称:" :label-width="formLabelWidth">
            <el-input
              v-model="editform.labelCode"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="描述:" :label-width="formLabelWidth">
            <el-input
              v-model="editform.description"
              autocomplete="off"
              type="textarea"
            ></el-input>
          </el-form-item>
          <el-form-item label="状态:" :label-width="formLabelWidth">
            <el-button @click="lineUser">关联用户</el-button>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">取 消</el-button>
          <el-button
            type="primary"
            @click="addDieditDialogVisiblealogVisible = false"
          >
            保 存
          </el-button>
        </div>
      </el-dialog>

      <el-dialog
        title="提示"
        :visible.sync="deleteDialogVisible"
        width="30%"
        center
      >
        <span>确定是否删除选中的角色</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deleteDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="deleteDevice">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="提示"
        :visible.sync="stopDialogVisible"
        width="30%"
        center
      >
        <span>
          所选标签已被32个点位使用,此操作将停用这些监控点的标签,确定停用吗?
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="stopDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="colseQUXIAO">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentPage: 1,
      activeName: "first",
      roleName: "",
      tableData: [
        {
          userName: "诚运",
          userNumber: 0,
          createUser: 'admin',
          createTime: '2021/1/25',
          updateTime: '2021/1/28',
          desc: '',
          isUp: '停用',
        },
        
      ],
      tableDataout: [
        {
          userName: "职工",
          userNumber: 15,
          createUser: 'admin',
          createTime: '2020/12/25',
          updateTime: '2020/12/29',
          desc: '',
          isUp: '启用',
        },
        {
          userName: "系统管理员",
          userNumber: 2,
          createUser: 'admin',
          createTime: '2020/12/25',
          updateTime: '2020/12/29',
          desc: '系统管理员',
          isUp: '启用',
        },
      ],
      addDialogVisible: false,
      editDialogVisible: false,
      deleteDialogVisible: false,
      stopDialogVisible: false,
      formLabelWidth: "120px",
      radio: 3,
      addform: {
        labelCode: "",
        labelName: "",
        labelLevel: "",
        description: ""
      },
      editform: {
        labelCode: "",
        labelName: "",
        labelLevel: "",
        description: ""
      },
      rowDevice:{

      }
    };
  },
  methods: {
    search() {
      console.log("---------------------搜索");
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    deleteDevice() {
      // console.log(this.rowDevice)
      
      this.deleteDialogVisible = true;
    },
    colseQUXIAO(){
      this.stopDialogVisible = false;
      console.log(this.tableData[this.rowDevice])
      this.tableData[this.rowDevice].isUsing = false
      this.tableDataout[this.rowDevice].isUsing = false
    },
    stopOrplay(index) {
      this.rowDevice = index
      this.stopDialogVisible = true;
    },
    startDevice(row){
      row.isUsing = true
    },
    addRole() {
      this.addDialogVisible = true;
    },
    deleteRole() {
      this.deleteDialogVisible = true;
    },
    editRole() {
      this.editDialogVisible = true;
    },
    lineUser() {
      this.$router.push("/m/system/lineUser");
    },
    handleSizeChange () {

    },
    handleCurrentChange () {

    }
  }
};
</script>

<style scoped lang='less'>
.labelcontainer {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #e6ecf6;
  .box {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 1%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}

.searchBox {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;

  .input-search {
    width: 20%;
  }
}
.handleBox {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .add {
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    background: white;
  }
}
.tableBox {
  height: auto;
  width: 100%;
  .itemHandleBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0% 10px;
    justify-content: space-between;
  }
}
.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
</style>
<style >
.add .el-button--primary {
  background-color: white !important;
  border-color: white;
  color: #303133;
  font-size: 15px;
}
</style>