<template>
  <div class="parking-violation-container">
    <div class="search-bar">
      <el-form
        :inline="true"
        :model="page"
        class="demo-form-inline"
        style="margin: 0 auto"
      >
        <el-form-item label="社区名称:">
          <el-input
            v-model="page.section"
          ></el-input>
        </el-form-item>
        <!-- <el-form-item label="完成状态:">
          <el-select
            v-model="page.state"
          >
            <el-option
              v-for="option in selectOptions"
              :key="option.code"
              :value="option.code"
              :label="option.value"
            ></el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item>
          <el-button type="primary" @click="searchParkingViolation">
            查询
          </el-button>
          <el-button
            type="info"
            style="font-size: 16px"
            icon="el-icon-refresh-left"
            @click="clearGarbageinput"
          ></el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="garbagerecyclelist.results"
      >
        <el-table-column
          label="社区名称"
          prop="community"
          align="center"
        ></el-table-column>
        <el-table-column
          label="总数"
          align="center"
          prop="createTimeDesc"
        >
            <template slot-scope="scope">
                <span>{{scope.row.complete+scope.row.uncomplete}}</span>
            </template>
        </el-table-column>
        <el-table-column
          label="已完成"
          align="center"
          prop="complete"
        ></el-table-column>
        <el-table-column
          label="未完成"
          align="center"
          prop="uncomplete"
        ></el-table-column>
        <el-table-column
          label="操作"
          align="center"
        >
            <template slot-scope="scope">
                <el-button type="warning" size="mini" @click="edit(scope.row)">修改</el-button>
            </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="page.current"
        :page-size="page.size"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="garbagerecyclelist.pagination.total"
      ></el-pagination>
    </div>
    <el-dialog title="修改" width="30%" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="已完成" :label-width="formLabelWidth">
                <el-input v-model="form.complete" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="未完成" :label-width="formLabelWidth">
                <el-input v-model="form.uncomplete" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm">保 存</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      dialogFormVisible:false,
      formLabelWidth:'120px',
      form:{
        complete:'',
        uncomplete:'',
        id:''
      },
      selectOptions:[
        {code:1,value:'完成'},
        {code:0,value:'未完成'},
      ],
      page:{
        size:10,
        current:1,
        section:'',
        state:''
      },
    };
  },
  methods: {
    submitForm(){
        this.$store.dispatch('garbageRecycledEdit',this.form)
        setTimeout(() => {
            this.$store.dispatch("garbageRecycledList",this.page);
            this.dialogFormVisible = false
        }, 1500);
    },
    edit(row){
        console.log(row)
        this.dialogFormVisible = true
        this.form = {complete:row.complete,uncomplete:row.uncomplete,id:row.id}
    },
    handleCurrentChange(index){
        this.page.current = index
        this.$store.dispatch("garbageRecycledList",this.page);
    },
    searchParkingViolation(){
        this.page.current = 1
        this.$store.dispatch('garbageRecycledList',this.page)
    },
    clearGarbageinput(){
        this.page.section = ''
        this.page.current = 1
        this.$store.dispatch("garbageRecycledList",this.page);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch('garbageRecycledList',this.page)
  },
  filters: {},
  watch: {},
  computed: {
    
    ...mapState({
      garbagerecyclelist: (state) => state.videoPolling.garbagerecyclelist,
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
