<template>
  <div class="parking-violation-container">
    <div class="search-bar">
      <el-form
        :inline="true"
        :model="searchForm"
        class="demo-form-inline"
        style="margin: 0 auto"
      >
        <el-form-item label="社区名称:">
          <!-- <el-input v-model="searchForm.section"></el-input> -->
          <el-select clearable v-model="searchForm.section" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="检查状态:">
          <el-select clearable v-model="searchForm.state">
            <el-option
              v-for="option in selectOptions"
              :key="option.code"
              :value="option.code"
              :label="option.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="searchgarbagecheck">查询</el-button>
          <el-button
            type="info"
            style="font-size: 16px"
            icon="el-icon-refresh-left"
            @click="clearGarbageinput"
          ></el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="garbagecheckList.results"
      >
        <el-table-column
          label="社区名称"
          prop="community"
          align="center"
        ></el-table-column>
        <el-table-column
          label="居(村)名称"
          align="center"
          prop="village"
        ></el-table-column>
        <el-table-column
          label="小区名称"
          align="center"
          prop="districtName"
        ></el-table-column>
        <el-table-column
          label="干垃圾"
          align="center"
          prop="garbageG"
        >
          <template slot-scope="scope">
            <input
              class="numInput"
              v-model="scope.row.garbageG"
              type="text"
              @keydown.enter="editGarbage(scope.row)"
            />
          </template>
        </el-table-column>
        <el-table-column
          label="湿垃圾"
          align="center"
          prop="garbageS"
        >
           <template slot-scope="scope">
            <input
              class="numInput"
              v-model="scope.row.garbageS"
              type="text"
              @keydown.enter="editGarbageS(scope.row)"
            />
          </template>
        </el-table-column>
        <el-table-column label="状态" align="center">
          <template slot-scope="scope">
            <el-popconfirm
              @confirm="sureBtn(scope.row)"
              :title="scope.row.state == 'NO' ? '更改为已查' : '更改为未查'"
            >
              <el-tag
                slot="reference"
                :type="scope.row.state == 'NO' ? 'warning' : 'success'"
                disable-transitions
              >
                {{ scope.row.state == "NO" ? "未查" : "已查" }}
              </el-tag>
              <!-- <el-button>删除</el-button> -->
            </el-popconfirm>
            <!-- <el-button :type="scope.row.state=='NO'?'warning':'success'" plain size="mini" @click="edit(scope.row)">{{scope.row.state=='NO'?'未查':'已查'}}</el-button> -->
          </template>
        </el-table-column>
        <el-table-column label="分数" align="center" prop="score">
          <template slot-scope="scope">
            <input
              class="numInput"
              v-model="scope.row.score"
              type="text"
              @keydown.enter="editNum(scope.row)"
            />
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :page-size="searchForm.size"
        :current-page="searchForm.current"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="garbagecheckList.pagination.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      searchForm: {
        current: 1,
        size: 10,
        section: "",
        state: ""
      },
      selectOptions: [
        { code: "YES", value: "已查" },
        { code: "NO", value: "未查" }
      ],
      options: [
        {
          value: '永泰',
          label: '永泰'
        }, 
        {
          value: '懿德',
          label: '懿德'
        }, 
        {
          value: '杨思',
          label: '杨思'
        }, 
        {
          value: '世博',
          label: '世博'
        }, 
        {
          value: '杨东',
          label: '杨东'
        }, 
        {
          value: '前滩',
          label: '前滩'
        }, 
        {
          value: '三林镇',
          label: '三林镇'
        }, 
      ]
    };
  },
  methods: {
    handleCurrentChange(index) {
      this.searchForm.current = index;
      this.$store.dispatch("garbageChecklist", this.searchForm);
    },
    searchgarbagecheck() {
      // console.log(this.searchForm)
      this.searchForm.current = 1;
      this.$store.dispatch("garbageChecklist", this.searchForm);
    },
    clearGarbageinput() {
      this.searchForm.section = "";
      this.searchForm.current = 1;
      this.$store.dispatch("garbageChecklist", this.searchForm);
    },
    sureBtn(row) {
      if (row.state == "NO") {
        row.state = "YES";
      } else {
        row.state = "NO";
      }
      this.$store.dispatch("garbageCheckedit", {
        id: row.id,
        state: row.state
      });
      setTimeout(() => {
        this.$store.dispatch("garbageChecklist", this.searchForm);
      }, 1500);
    },
    editNum(row) {
      this.$store.dispatch("garbageCheckedit", {
        id: row.id,
        score: row.score
      });
      setTimeout(() => {
        this.$store.dispatch("garbageChecklist", this.searchForm);
      }, 1500);
    },
    editGarbage(row) {
      this.$store.dispatch("garbageCheckedit", {
        id: row.id,
        garbageG: row.garbageG
      });
      setTimeout(() => {
        this.$store.dispatch("garbageChecklist", this.searchForm);
      }, 1500);
    },
    editGarbageS(row){
      this.$store.dispatch("garbageCheckedit", {
        id: row.id,
        garbageS: row.garbageS
      });
      setTimeout(() => {
        this.$store.dispatch("garbageChecklist", this.searchForm);
      }, 1500);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("garbageChecklist", this.searchForm);
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      garbagecheckList: (state) => state.videoPolling.garbagecheckList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
.numInput {
  text-align: center;
  border: none;
  outline-style: none;
  background: none;
  font-size: 16px;
}
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
