<template>
  <div class="parking-violation-container">
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="garbageStatic.results"
      >
        <el-table-column
          label="统计"
          prop="name"
          align="center"
        ></el-table-column>
        <el-table-column
          label="数值"
          align="center"
          prop="value"
        ></el-table-column>
        <el-table-column
          label="操作"
          align="center"
        >
            <template slot-scope="scope">
                <el-button type="warning" size="mini" @click="edit(scope.row)">修改</el-button>
            </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog title="修改" width="30%" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="数值" :label-width="formLabelWidth">
                <el-input v-model="form.value" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm()">保 存</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      garbageCense: [{}],
      dialogFormVisible:false,
      formLabelWidth:'120px',
      form:{
         value:'',
         id:''
      }
    };
  },
  methods: {
    ...mapMutations([]),
    submitForm(){
      // this.form
      this.$store.dispatch('staticConfigEdit',this.form)
      setTimeout(() => {
        this.$store.dispatch('staticConfigList',{type:'垃圾统计'})
        this.dialogFormVisible = false
      }, 1500);
    },
    edit(row){
      this.form.value = row.value
      this.form.id = row.id
      this.dialogFormVisible = true
    }
  },

  mounted() {
    // this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
    this.$store.dispatch('staticConfigList',{type:'垃圾统计'})
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      garbageStatic:state=>state.videoPolling.garbageStatic
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
