<template>
  <div class="ungetVillage">
    <el-button type="primary" @click="handleAddData">新增</el-button>
    <el-table
      border
      id="unget"
      :data="xiaoquList"
      style="width: 100%;margin-top:10px;"
    >
      <el-table-column
        prop="name"
        label="不达标场所名称"
        width="180"
      ></el-table-column>
      <el-table-column
        prop="description"
        label="不达标原因"
        width="180"
      ></el-table-column>
      <el-table-column label="类型">
        <template slot-scope="scope">
          {{ scope.row.type == "COMPANY" ? "公司" : "小区" }}
        </template>
      </el-table-column>
      <el-table-column prop="remark" label="备注"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <div class="btn-container">
            <el-button
              size="medium"
              @click="handleEdit(scope.$index, scope.row)"
            >
              编辑
            </el-button>
            <el-button
              size="medium"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)"
            >
              删除
            </el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination-container">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="pagination.total"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <el-dialog :title="dialogTitle" :visible.sync="dialogTableVisible">
      <el-form :model="detailForm">
        <el-form-item label="场所名称" label-width="100px">
          <el-input v-model="detailForm.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="不达标原因" label-width="100px">
          <el-input
            rows="5"
            type="textarea"
            v-model="detailForm.description"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="类型" label-width="100px">
          <el-select v-model="detailForm.type" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.type"
              :label="item.name"
              :value="item.type"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="备注" label-width="100px">
          <el-input
            rows="5"
            type="textarea"
            v-model="detailForm.remark"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">取 消</el-button>
        <el-button type="primary" @click="addXiaoqu">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      options: [
        { name: "小区", type: "COMMUNITY" },
        { name: "公司", type: "COMPANY" }
      ],
      dialogTitle: "",
      dialogTableVisible: false,
      tableData: [{}, {}],
      detailForm: { remark: "", name: "", type: "", description: "" }
    };
  },
  props: [],
  methods: {
    handleDelete: function(d1, d2) {
      this.$store.dispatch("deleteXiaoqu", [d2.id]);
    },
    handleCurrentChange: function(val) {
      this.$store.dispatch("searchXiaoqu", {
        start: (val - 1) * 10,
        count: 10
      });
    },
    addXiaoqu: function() {
      if (this.dialogTitle == "新增场所") {
        this.$store.dispatch("addXiaoqu", this.detailForm);
      } else {
        this.$store.dispatch("updateXiaoqu", this.detailForm);
      }
      this.dialogTableVisible = false;
    },
    handleEdit: function(d1, d2) {
      this.dialogTableVisible = true;
      this.dialogTitle = "修改场所";
      Object.assign(this.detailForm, d2);
    },
    handleAddData: function() {
      Object.assign(this.detailForm, {
        name: "",
        type: "",
        description: "",
        remark: ""
      });
      this.dialogTableVisible = true;
      this.dialogTitle = "新增场所";
    },
    ...mapMutations([]),
    getRowClass(row, column, rowIndex) {
      if (rowIndex == 0) {
        return "background:#ccc";
      } else {
        return "";
      }
    }
  },
  created() {},
  mounted() {
    this.$store.dispatch("searchXiaoqu", this.pagination);
  },
  watch: {},
  computed: {
    ...mapState({
      pagination: state => state.videoPolling.searchXiaoquPagination,
      xiaoquList: state => state.videoPolling.xiaoquList
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.ungetVillage {
  padding: 40px;
  .btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .pagination-container {
    text-align: center;
    margin-top: 10px;
  }
}
</style>
<style>
/* #unget .el-table th{
    
} */
</style>
