<template>
  <div class="deviceManage">
    <div class="onlineTable">
      <div class="online-title">雷达在线率统计</div>
      <el-table :data="onlineRate" stripe style="width: 100%">
        <el-table-column
          prop="contact"
          label="负责人"
          width="180"
        ></el-table-column>
        <el-table-column prop="zone" label="街镇" width="180"></el-table-column>
        <el-table-column
          prop="radarCount"
          label="雷达数量"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="offline"
          label="无信号"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="online"
          label="有信号"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="lastWeekOnlineRate"
          label="上周在线率"
        ></el-table-column>
        <el-table-column
          prop="weekOnlineRate"
          label="本周在线率"
        ></el-table-column>
        <el-table-column prop="diff" label="变化情况"></el-table-column>
      </el-table>
      <div class="page-box">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="pageSize"
          layout="total, prev, pager, next, jumper"
          :total="onlinePagination.total"
        ></el-pagination>
      </div>
    </div>

    <div class="onlineLine" ref="radarOnline"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
export default {
  name: "radarOnline",
  data() {
    return {
      currentPage: 1,
      pageSize: 10,
      params: {
        start: 0,
        count: 10
        // zone: ''
      }
    };
  },
  methods: {
    ...mapMutations([]),
    handleCurrentChange(val) {
      if (val === 1) {
        this.params.start = 0;
      } else {
        this.params.start = (val - 1) * 10;
      }
      this.$store.dispatch("getOnlineRate", this.params);
    },
    init() {
      this.$store.dispatch("getOnlineList", this.params);
    }
  },
  mounted() {
    this.init();
  },
  filters: {},
  watch: {
    onlineRate: function (val) {
      if (val.length > 0) {
        let chartDom = this.$refs.radarOnline;
        var myChart = echarts.init(chartDom);
        var option;
        let zoneArr = [],
          lastWeekRate = [],
          nowWeekRate = [];
        val.forEach((item) => {
          zoneArr.push(item.zone);
          lastWeekRate.push(item.lastWeekOnlineRate);
          nowWeekRate.push(item.weekOnlineRate);
        });
        option = {
          title: {
            text: "雷达在线率"
          },
          tooltip: {
            trigger: "axis"
          },
          legend: {
            data: ["上周在线率", "本周在线率"]
          },
          toolbox: {
            show: true
            // feature: {
            //   dataView: {show: true, readOnly: false},
            //   magicType: {show: true, type: ['line', 'bar']},
            //   restore: {show: true},
            //   saveAsImage: {show: true}
            // }
          },
          calculable: true,
          xAxis: [
            {
              type: "category",
              data: zoneArr
            }
          ],
          yAxis: [
            {
              type: "value"
            }
          ],
          series: [
            {
              name: "上周在线率",
              type: "bar",
              data: lastWeekRate
              // markPoint: {
              //   data: [
              //     {type: 'max', name: '最大值'},
              //     {type: 'min', name: '最小值'}
              //   ]
              // },
              // markLine: {
              //   data: [
              //     {type: 'average', name: '平均值'}
              //   ]
              // }
            },
            {
              name: "本周在线率",
              type: "bar",
              data: nowWeekRate
              // markPoint: {
              //   data: [
              //     {name: '年最高', value: 182.2, xAxis: 7, yAxis: 183},
              //     {name: '年最低', value: 2.3, xAxis: 11, yAxis: 3}
              //   ]
              // },
              // markLine: {
              //   data: [
              //     {type: 'average', name: '平均值'}
              //   ]
              // }
            }
          ]
        };

        myChart.setOption(option);
      }
    }
  },
  computed: {
    ...mapState({
      onlineRate: (state) => state.radar.onlineRate,
      onlinePagination: (state) => state.radar.onlinePagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.deviceManage {
  height: 100%;
  .onlineTable {
    height: 50%;
    overflow: scroll;
    padding: 0 30px;
    .online-title {
      margin-bottom: 10px;
      padding-top: 10px;
    }
    .page-box {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  .onlineLine {
    height: 46%;
    width: 100%;
  }
}
</style>
