<template>
  <div class="bg">
    <div class="container">
      <div class="header">
        <span class="sp">新增用户信息</span>
      </div>
      <div class="line"></div>
      <span class="sp_basicInfoTitle">基础信息</span>
      <el-form label-width="150px" :rules="rules" ref="from" :model="form" class="form">
        <el-form-item label="照片:" prop="head" v-if="false">
          <el-upload
                  class="avatar-uploader"
                  :action="uploadPrefix+'/wechat/task/attachment/fileUpload'"
                  :show-file-list="false"
                  :on-success="handleAvatarSuccess"
                  :before-upload="beforeAvatarUpload"
                  :headers="headers"
          >
            <img v-if="form.avatar" :src="form.avatar" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
        <el-form-item label="姓名:" prop="name">
          <el-input v-model="form.name" placeholder="请填写姓名"></el-input>
        </el-form-item>

        <el-form-item label="性别" prop="gender">
          <el-select v-model="gender" placeholder="请选择性别" @change="getGender">
            <el-option v-for="gr in dictList.GENDER" :key="gr.code" :label="gr.text" :value="gr"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="身份" prop="position">
          <el-select v-model="form.position" placeholder="请选择身份" @change="getPosition"> 
            <el-option v-for="gr in dictList.POSITION_TYPE" :key="gr.code" :label="gr.text" :value="gr"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="街道:" prop="streetTown" >
          <el-input v-model="form.streetTown" placeholder="请填写街道" disabled></el-input>
        </el-form-item>
        <el-form-item label="派出所:" prop="policeStation" v-if="false">
          <el-input v-model="form.policeStation" placeholder="请填写派出所"></el-input>
        </el-form-item>
        <el-form-item label="村居委:" prop="committee">
          <el-input v-model="form.committee" placeholder="请填写村居委" disabled></el-input>
        </el-form-item>
        <el-form-item label="部门:" prop="deptName">
          <el-tree :data="deptList" :props="defaultProps" @node-click="handleNodeClick" style="max-height: 200px;overflow-y: scroll"></el-tree>
          <el-tag v-if="form.deptId" :id="form.deptId" @close="handleClose(dept)"> {{form.deptName}}</el-tag>
        </el-form-item>
        <el-form-item label="所属组别" prop="districtId" v-if="false">
          <el-select v-model="form.districtId" placeholder="请选择所属组别">
            <el-option v-for="gr in groupList" :key="gr.id" :label="gr.label" :value="gr.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="手机号码:" prop="account">
          <el-input v-model="form.account" placeholder="请填写登录账号"></el-input>
        </el-form-item>
        <el-form-item label="密码:" prop="password">
          <el-input v-model="form.password" placeholder="请填写密码"></el-input>
        </el-form-item>
        <el-form-item label="选择角色:" prop="roleIds">
          <el-checkbox-group v-model="form.roleIds">
            <el-checkbox v-for="ch in characterList" :key="ch.id" :label="ch.id">{{ch.name}}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>


        <el-form-item label="职务:" prop="duty">
          <el-input v-model="form.duty" placeholder="请填写职务"></el-input>
        </el-form-item>
        <el-form-item label="单位:" prop="unit" v-if="false" >
          <el-input v-model="form.unit" placeholder="请填写单位"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary">
            <span class="submitBtn" @click="submitForm('from')">提交</span>
          </el-button>
          <el-button>
            <span class="submitBtn" @click="resetForm('from')">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      selectName: '',
      headers: {
        token: this.$ls.get('token')
      },
      deptselectList: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      multipleSelection: [],
      currentPage: 1,
      dialogTableVisible: false,
      currentDept: {},
      visible: false,
      gender:'',  //用于显示
      form: {
        avatar: '', // 照片
        name: "", // 姓名
        streetTown: '', // 街道
        policeStation: '', // 派出所
        committee: '', // 社区
        deptName: '', // 部门名称
        deptId: '', // 部门Id
        districtId: '',// 组别Id
        account: '', // 账号
        password: '', // 密码
        roleIds: [], // 角色id
        duty: '', // 职务
        unit: '', // 单位
        gender:'',  //性别    用于接口传参
        position:'',  //身份
      },
      rules: {
        name: [{required: true, message: "请输入姓名"}],
        streetTown: [{required: true, message: "请输入街道"}],
        policeStation: [{required: true, message: "请输入派出所"}],
        committee: [{required: true, message: "请输入村居委"}],
        account: [{required: true, message: "请输入账号"}],
        password: [{required: true, message: "请输入密码"}],
        deptName: [{required: true, message: "请选择部门"}],
        roleId: [{required: true, message: "请选择角色"}],
        gender:[{required:true,message:'请选择性别'}],
        position:[{required:true,message:'请选择身份'}],
        roleIds: [{required:true,message:'请选择角色'}], // 角色id
        // name: [{ required: true, message: "请输入单位名称", trigger: "blur" }],
        // roomUrn: [{ required: true ,message: "请输入经营地址", trigger: "blur" }],
        // creditCode: [{ required: true }],
        // juridicalPerson: [
        //   { required: true, message: "请输入法人姓名", trigger: "blur" }
        // ],
        // juridicalPersonPhone: [
        //   { required: true, message: "请输入法人联系方式", trigger: "blur" },
        //   {
        //     pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,zahnghao
        //     message: "请输入正确的联系方式格式",
        //     trigger: "blur"
        //   }
        // ],
        // owner: [{ required: false }],
        // phone: [
        //   { required: true, message: "请输入负责人联系方式", trigger: "blur" },
        //   {
        //     pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,
        //     message: "请输入正确的联系方式格式",
        //     trigger: "blur"
        //   }
        // ],
      },
      imageUrl: '',
      i: 0,
      selectDept: {},
      pageType: ''
    };
  },
  methods: {
    handleClose(tag) {
      this.deptselectList.splice(this.deptselectList.indexOf(tag), 1);
    },
    handleNodeClick(data){
      this.form.deptId = data.id
      this.form.deptName = data.name
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.$route.query.type == "add") {
            this.$store.dispatch("addUser", this.form);
          } else {
            this.$store.dispatch("editUserDetail", this.form);
          }
        } else {
          this.$message({
            type: "warning",
            message: "请填写必填项"
          });
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.lngLat = "";
    },
    /**
     * 获取部门
     * */
    getDepts () {
      const params = {
        needUser: true
      }
      this.$store.dispatch('getDept', params)
    },
    /**
     * 获取组别
     * */
    getGroup () {
      const params = {}
      this.$store.dispatch('getGroup', params)
    },
    /**
     * 获取角色
     * */
    getCharacter () {
      const params = {
        'page': 1,
        'limit': 100
      }
      this.$store.dispatch('getCharacter', params)
    },

    //获取性别
    getGender(val){
      this.form.gender = val.code;
    },
    //获取身份
    getPosition(val){
      this.form.position = val.code;
    },
    handleAvatarSuccess: function(...arg) {
      let [
        {
          data: { filePath }
        }
      ] = [...arg];
      this.form.avatar = this.imgPrefix + filePath;
      // this.ruleForm.iconUrl = filePath;
      // this.updateRuleForm.iconUrl = filePath;
    },
    beforeAvatarUpload: function(file) {
      let fileType = file.type;
      if (
              fileType == "image/jpeg" ||
              fileType == "image/jpg" ||
              fileType == "image/png"
      ) {
        fileType;
      } else {
        this.$message({ type: "warning", message: "请上传图片文件" });
        return false;
      }
    },
  },
  created() {
    this.$nextTick(() => {
      if (this.$route.query.type == "edit") {
        this.$store.dispatch("singleCompany", { urn: this.$route.query.urn });
        setTimeout(() => {
          this.form = { ...this.singleCompanyInfo };
          if (
            this.singleCompanyInfo.lng !== null &&
            this.singleCompanyInfo.lat !== null
          ) {
            this.lngLat = `${this.singleCompanyInfo.lng},${this.singleCompanyInfo.lng}`;
          }
        }, 1000);
      }
    });
  },
  mounted() {
    this.getDepts()
    this.getGroup()
    this.getCharacter();
    this.pageType = this.$route.query.type
    this.$store.dispatch("getDicts", {
      keys: "GENDER,POSITION_TYPE"
    });
    this.$store.dispatch('getXiaquInfo');
    // if (this.$route.query.type === "edit" || this.$route.query.type === "see") {
    //   const params = {
    //     accountId: this.$route.query.accountId
    //   }
    //   this.$store.dispatch("getUserDetail", params);
    // }
    // this.form = this.userDetail
  },
  computed: {
    ...mapState({
      roomInfo: state => state.company.roomInfo,
      singleCompanyInfo: state => state.company.singleCompanyInfo,
      deptList: state => state.systemManage.deptList,
      groupList: state => state.systemManage.groupList.list,
      characterList: state => state.systemManage.characterList,
      userDetail: state => state.systemManage.userDetail,
      dictList:state => state.common.dictList,
      streetInfo: state => state.baseData.streetInfo
    }),
    imgPrefix: function() {
      return process.env.VUE_APP_STATIC_URL;
    },
    uploadPrefix: function() {
      return process.env.VUE_APP_UPLOAD_PREFIX;
    },
  },
  watch:{
    streetInfo(){
      this.form.streetTown = this.streetInfo.streetTown;
      this.form.committee = this.streetInfo.committee;
    }
  }
};
</script>
<style  scoped>
.el-tag{
  margin-top: 15px;
}
.box-panel{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}
.bg {
  background-color: #e9eef4;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.container {
  background: white;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  /* background: red; */
  align-items: center;
}
.sp {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}
.line {
  width: 100%;
  background: #e0e0e0;
  height: 0.7px;
}
.form {
  margin-top: 20px;
  margin-left: 200px;
}
.el-input {
  width: 350px;
}
.el-select {
  width: 350px;
}
.sp_basicInfoTitle {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.submitBtn {
  padding: 0 30px;
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.dept-tag{
  margin-right: 10px;
}
</style>
