<template>
  <div class="homeArea">
    <div class="headArea">
        <div class="hearder_top">
            数据列表
        </div>
        <div class="hearder_top">
            <el-button type="primary" size="small" icon="el-icon-plus"  @click="addAreamanage('add')">添加</el-button>
        </div>
    </div>
    <div class="bottom-content">
        <el-table
            :data="shequliebiaoList"
            border
            class="table"
            stripe
            align="center">
            <el-table-column
                prop="streetTown"
                label="居住地街道"
                align="center">
            </el-table-column>
            <el-table-column
                prop="policeStation"
                label="居住地派出所"
                align="center">
            </el-table-column>
            <el-table-column
                prop="committee"
                label="居委名称"
                align="center">
            </el-table-column>
            <el-table-column
                prop="name"
                label="所属辖区"
                align="center">
            </el-table-column>
            <el-table-column
                label="坐标点"
                align="center">
                <template slot-scope="scope">
                    <span type="text" size="small">
                        {{scope.row.lng}},{{scope.row.lat}}
                    </span>
                </template>
            </el-table-column>
            <el-table-column
                prop="dutyOfficer"
                label="负责人"
                align="center">
            </el-table-column>
            <el-table-column
                prop="phone"
                label="联系电话"
                align="center">
            </el-table-column>
            <el-table-column
                prop="remark"
                label="公共设施"
                align="center">
            </el-table-column>
            <el-table-column
                label="操作"
                align="center">
                <template slot-scope="scope">
                    <el-button @click="addAreamanage('edit',scope.row)" type="text" size="small">
                        <i class="el-icon-edit-outline"></i> 编辑
                    </el-button>
                    <el-button type="text" size="small" @click="deleteAreaManage(scope.row)">
                        <i class="el-icon-delete"></i>删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="params.page"
            :page-size="params.limit"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="shequlistTotal">
        </el-pagination>
    </div>
    <el-dialog title="辖区管理" :show-close='false' :close-on-click-modal='false' :visible.sync="dialogFormVisible">
        <el-form ref="form" :rules="rules" :model="form" label-width="120px" class="addAreamanage">
            <el-form-item label="居住地街道">
                <el-input v-model="form.streetTown"></el-input>
            </el-form-item>
            <el-form-item label="居住地派出所">
                <el-input v-model="form.policeStation"></el-input>
            </el-form-item>
            <el-form-item label="居委名称" prop="committee">
                <el-input v-model="form.committee"></el-input>
            </el-form-item>
            <el-form-item label="所属辖区" prop="name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="坐标点">
                <el-input v-model="lnglat"></el-input>
                <el-button
                    type="primary"
                    @click="gotoGaode"
                    icon="el-icon-location-outline"
                >标记坐标</el-button>
            </el-form-item>
            <el-form-item label="负责人" prop="dutyOfficer">
                <el-input v-model="form.dutyOfficer"></el-input>
            </el-form-item>
            <el-form-item label="联系电话" prop="phone">
                <el-input v-model="form.phone"></el-input>
            </el-form-item>
            <el-form-item label="附属设施及数量">
                <el-input type="textarea" v-model="form.remark"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancelSubmit">取 消</el-button>
            <el-button type="primary" @click="submitAreamanage">确 定</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from 'vue';
export default {
  data() {
    return {
      params:{
        page:1,
        limit:10,
      },
      dialogFormVisible: false,
      form: {
          name: '',
          dutyOfficer: '',
          phone: '',
          policeStation: '',
          streetTown: '',
          committee: '',
          remark: '',
          lng: '',
          lat:'',
          districtId:Vue.ls.get('districtId')
      },
      rules:{
          committee:[
            { required: true, message: '请输入居委名称', trigger: 'blur' },
          ],
          name:[
            { required: true, message: '请输入辖区名称', trigger: 'blur' },
          ],
          dutyOfficer:[
            { required: true, message: '请输入负责人姓名', trigger: 'blur' },
          ],
          phone:[
            { required: true, message: '请输入联系电话', trigger: 'blur' },
          ],
      },
      formType:''
    };
  },
  methods: {
    ...mapMutations([]),
    handleCurrentChange(val){
        this.params.page = val
        this.$store.dispatch('districtList',this.params)
    },
    submitAreamanage(){
        if(this.formType =='add'){
            this.$store.dispatch('districtSave',this.form)
            this.$store.dispatch('districtList',this.params)
        }else{
            this.$store.dispatch('districtEdit',this.form)
            this.$store.dispatch('districtList',this.params)
        }
        
        this.cancelSubmit()
    },
    cancelSubmit(){
        this.form= {
            name: '',
            dutyOfficer: '',
            phone: '',
            policeStation: '',
            streetTown: '',
            committee: '',
            remark: '',
            lng: '',
            lat:'',
            districtId:Vue.ls.get('districtId')
        }
        this.dialogFormVisible = false
    },
    addAreamanage(type,data){
        this.formType = type
        this.dialogFormVisible = true 
        if(type=='add'){
           this.$store.dispatch('districtDetail')
        }else{
           this.$store.dispatch('districtDetail',{districtId:data.districtId})
        }  
        setTimeout(()=>{
            this.form = this.districtInfo
        },1000) 
    },
    deleteAreaManage(item){
        this.$store.dispatch('districtDel',{districtId:item.districtId})
        this.$store.dispatch('districtList',this.params)
    },
    gotoGaode() {
      open("https://lbs.amap.com/console/show/picker");
    }
  },

  mounted() {
    this.$store.dispatch('districtList',this.params)
  },
  watch: {},
  computed: { ...mapState({
      shequliebiaoList:state=>state.systemManage.shequliebiaoList,
      shequlistTotal:state=>state.systemManage.shequlistTotal,
      districtInfo:state=>state.systemManage.districtInfo,
  }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/gateway/systemManage/areaManage.less";
</style>