<template>
  <div class="home" v-loading="isShowLoading">
    <div class="head">
      <el-row>
        <el-col :span="6">
          <span class="sp">姓名查询:</span>
          <el-input v-model="params.name" class="content_input" placeholder="请输入姓名"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">手机号:</span>
          <el-input v-model="params.mobile" class="content_input" placeholder="请输入用户账号"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">职务:</span>
          <el-input v-model="params.duty" class="content_input" placeholder="请输入职务"></el-input>
        </el-col>
        <el-col :span="6" style="align-items:center;display: flex;justify-content: flex-end">
          <div class="btn_group">
            <el-button class="btn_serach" @click="resetForm">重置</el-button>
            <el-button class="btn_serach" @click="searchUser" type="primary">查询</el-button>
            <el-button type="primary" @click="add('add','')">+添加</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="body_content">
      <div class="aaa">
        <span class="title_form">数据列表</span>
        <div class="btn_group">
          <!-- <el-button plain class="export">导出</el-button>
          <el-button plain>导入</el-button>-->
        </div>
      </div>

      <el-table :data="userList.list" border class="table" stripe align="center">
        <el-table-column prop="districtName" label="村委名称" align="center"></el-table-column>

        <el-table-column prop="name" label="姓名" align="center"></el-table-column>

        <el-table-column prop="genderFmt" label="性别" align="center"></el-table-column>

        <el-table-column prop="mobile" label="手机号码" align="center"></el-table-column>

        <el-table-column prop="position" label="身份" align="center"></el-table-column>

        <el-table-column prop="duty" label="职务" align="center"></el-table-column>

        <el-table-column prop="lastPingTimeFmt" label="用户最后登录时间" align="center"></el-table-column>

        <el-table-column prop="grade" label="状态" align="center"></el-table-column>

        <el-table-column label="操作" width="350" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="add('see',scope.row.accountId)">
              <i class="el-icon-document"></i>查看
            </el-button>
            <el-button @click="add('edit',scope.row.accountId)" type="text" size="small">
              <i class="el-icon-edit-outline"></i> 编辑
            </el-button>
            <el-button
              type="text"
              size="small"
              @click.native.prevent="deleteLvguan(scope.row,scope.$index)"
            >
              <i class="el-icon-delete"></i>注销
            </el-button>
            <el-button type="text" size="small" @click="changePassword(scope.row,scope.$index)">重置密码</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-size="params.limit"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="userList.totalCount"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  name: "organization",
  data() {
    return {
      dialogFormVisible: false,
      params: {
        page: 1,
        limit: 10,
        name: "",
        mobile: "",
        unit: "",
        departmentId: "",
        position: "",
      },
      position: "",
      entryTime: [],
    };
  },
  methods: {
    ...mapMutations([]),
    changePassword(item, index) {
      this.$confirm("此操作将重置密码, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.$store.dispatch(
            "changePassword",
            { accountId: item.accountId },
            index
          );
          this.$message({
            type: "success",
            message: "重置成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消重置",
          });
        });
    },
    add(data, urn) {
      const position = this.$route.query.position;
      if (data === "add") {
        this.$router.push(
          `/system/adduserManage?type=${data}&position=${position}`
        );
      } else if (data === "edit") {
        this.$router.push(
          `/system/userManageDetail?type=${data}&accountId=${urn}&position=${position}`
        );
      } else {
        this.$router.push(
          `/system/userManageDetail?type=${data}&accountId=${urn}&position=${position}`
        );
      }
    },
    handleCurrentChange(val) {
      this.params.page = val;
      this.$store.dispatch("getUserList", this.params);
    },
    searchUser() {
      this.params.position = this.$route.query.position;
      this.$store.dispatch("getUserList", this.params);
    },
    resetForm() {
      this.params = {
        page: 1,
        limit: 10,
        name: "",
        mobile: "",
        unit: "",
        departmentId: "",
        position: "",
      };
      this.$store.dispatch("getUserList", this.params);
    },
    deleteLvguan(item, index) {
      this.$confirm("此操作将删除此项, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.$store.dispatch(
            "deleteUser",
            { accountId: item.accountId, type: this.$route.query.position },
            index
          );
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
  },

  mounted() {
    this.position = this.$route.query.position;
    this.params.position = this.$route.query.position;
    this.$store.dispatch("getUserList", this.params);
    this.$store.dispatch("getRoles");
    const params = {
      keys: "POSITION_TYPE",
    };
    this.$store.dispatch("getDicts", params);
  },
  watch: {
    $route: {
      handler() {
        this.position = this.$route.query.position;
        this.params.position = this.$route.query.position;
        this.$store.dispatch("getUserList", this.params);
      },
    },
  },
  computed: {
    ...mapState({
      getAccountlist: (state) => state.systemManage.getAccountlist,
      AccountTotalpage: (state) => state.systemManage.AccountTotalpage,
      roleList: (state) => state.systemManage.roleList,
      userList: (state) => state.systemManage.userList,
      dictList: (state) => state.common.dictList,
      isShowLoading: (state) => state.systemManage.isShowLoading,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.el-main {
  background: #e9eef4;
}
.home {
  height: auto;
  width: 100%;
  background: #f0f2f5;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 20px 20px;
}
.head {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  box-sizing: border-box;
}
.sp {
  height: 60px;
  width: 30%;
  line-height: 60px;
  margin-left: 20px;
  text-align: right;
  display: inline-block;
}
.content_input {
  height: 60px;
  width: 50%;
  margin-left: 20px;
  line-height: 60px;
}
.btn_serach {
  margin-left: 20px;
  width: 100px;
}
.body_content {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 10px;
}
.aaa {
  height: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.title_form {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
  height: 100%;
  line-height: 80px;
}
.btn_group {
  height: 60px;
  width: 300px;
  padding-left: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.table {
  margin-left: 15px;
  margin-top: 10px;
  width: 98%;
  height: auto;
}
.fystyle {
  // margin-left: 15px;
  margin-top: 15px;
}
.el-pagination {
  text-align: center;
  padding-bottom: 15px;
}
.timepicker {
  margin-left: 20px;
}
.select {
  margin-left: 20px;
}
.el-date-editor--datetimerange.el-input__inner {
  width: 315px;
}
.select-box {
  margin-left: 20px;
  width: 68%;
}
</style>