<template>
  <div class="role-manage-container">
    <div class="role-manage-container-inner">
      <div class="header-title">
        <div class="header-title-item">
          <h4>角色管理</h4>
        </div>
        <div class="header-title-item header-title-itembtn">
          <el-button type="primary" icon="el-icon-plus" @click="handleAddRole">添加</el-button>
        </div>
      </div>
      <div class="table-container">
        <el-table :data="roleList" border style="width:100%;">
          <el-table-column prop="name" label="角色名称"></el-table-column>
          <el-table-column prop="createTime" label="创建时间"></el-table-column>
          <el-table-column prop="operation" label="操作">
            <template slot-scope="scope">
              <el-button type="text" @click="handleEditRole(scope.row)">编辑</el-button>
              <el-button type="text" @click="handleRoleSetting(scope.row)">权限设置</el-button>
              <el-button type="text" @click="handleViewMember(scope.row)">查看成员</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            @current-change="handleCurrentChange"
            :current-page="characterParams.page"
            :page-size="characterParams.limit"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="characterParams.total"
          ></el-pagination>
        </div>
      </div>
    </div>
    <el-dialog title="权限设置" width="50%" :visible.sync="roleSettingVisible">
      <div class="tree-container">
        <el-tree
          :data="roleMenuList"
          :default-checked-keys="roleDefaultMenuList"
          show-checkbox
          node-key="id"
          ref="tree"
          highlight-current
          @check-change="handleNodeChange"
        ></el-tree>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="roleSettingVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmRoleSetting">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="成员列表" width="50%" :visible.sync="dialogVisible">
      <div class="chengyuan-table-container">
        <el-table :data="getAccountlist" border style="width:100%;">
          <el-table-column prop="name" label="昵称"></el-table-column>
          <el-table-column prop="mobile" label="电话"></el-table-column>
          <el-table-column prop="departmentName" label="所属部门"></el-table-column>
          <el-table-column prop="duty" label="所属单位"></el-table-column>
          <el-table-column prop="unit" label="职务"></el-table-column>
          <el-table-column prop="name" label="操作"></el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            @current-change="handleMemberChange"
            :current-page="accountParams.page"
            :page-size="accountParams.limit"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="accountParams.total"
          ></el-pagination>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="角色编辑" :visible.sync="roleEditVisible">
      <div class="role-edit-container">
        <el-form style="margin: 0  auto;" :inline="true" :model="roleForm" class="demo-form-inline">
          <el-form-item label="角色名称">
            <el-input v-model="roleForm.name" placeholder></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="updateRole">更新</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
    <el-dialog title="角色添加" :visible.sync="roleAddVisible">
      <div class="role-edit-container">
        <el-form style="margin: 0  auto;" :inline="true" :model="roleForm" class="demo-form-inline">
          <el-form-item label="角色名称">
            <el-input v-model="roleForm.name" placeholder></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="addRole">添加</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      roleSettingVisible: false,
      dialogVisible: false,
      chengyuanList: [],
      roleMenuIds: [],
      roleId: "",
      roleEditVisible: false,
      roleAddVisible: false,
      roleForm: {
        name: "",
      },
    };
  },
  methods: {
    handleEditRole: function (item) {
      this.roleEditVisible = true;
      this.roleForm.name = item.name;
      this.roleId = item.id;
    },
    handleAddRole() {
      this.roleForm.name = "";
      this.roleAddVisible = true;
    },
    addRole() {
      this.$store.dispatch("saveRole", this.roleForm);
      this.roleAddVisible = false;
    },
    updateRole: function () {
      this.$store.dispatch("updateRole", {
        id: this.roleId,
        name: this.roleForm.name,
      });
    },
    confirmRoleSetting: function () {
      this.$store.dispatch("saveRoleMenus", {
        roleId: this.roleId,
        functionIds: this.roleMenuIds,
      });
    },
    handleNodeChange: function (...arg) {
      arg;
      this.roleMenuIds = this.$refs.tree.getCheckedKeys();
    },
    handleRoleSetting: function (row) {
      this.roleSettingVisible = true;
      this.roleId = row.id;
      this.$store.dispatch("getRoleMenus", {
        roleId: row.id,
      });
    },
    handleMemberChange: function (page) {
      Object.assign(this.accountParams, {
        page: page,
      });
      this.$store.dispatch("accountList", this.accountParams);
    },
    handleCurrentChange: function (page) {
      Object.assign(this.characterParams, {
        page: page,
      });
      this.$store.dispatch("getCharacter", this.characterParams);
    },
    handleViewMember: function (data) {
      Object.assign(this.accountParams, { roleId: data.id });
      this.$store.dispatch("accountList", this.accountParams);
      this.dialogVisible = true;
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    this.$store.dispatch("getCharacter", {
      limit: 10,
      page: 1,
    });
  },
  watch: {
    roleTreeVisible: function (val) {
      if (!val) {
        this.roleSettingVisible = false;
      }
    },
  },
  computed: {
    ...mapState({
      roleList: (state) => state.systemManage.characterList,
      getAccountlist: (state) => state.systemManage.getAccountlist,
      characterParams: (state) => state.systemManage.characterParams,
      accountParams: (state) => state.systemManage.accountParams,
      roleDefaultMenuList: (state) => state.systemManage.roleDefaultMenuList,
      roleMenuList: (state) => state.systemManage.roleMenuList,
      roleTreeVisible: (state) => state.systemManage.roleTreeVisible,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/systemManagement/roleManage.less";
</style>
