<template>
    <div class="bg" v-loading="isShowLoading">
        <div class="container">
            <div class="header">
                <span v-if="typePage === 'see'" class="sp">查看用户信息</span>
                <span v-else class="sp">编辑用户信息</span>
            </div>
            <div class="line"></div>
            <span class="sp_basicInfoTitle">基础信息</span>
            <el-form label-width="150px" :rules="rules" ref="from" :model="form" class="form">
                <el-form-item label="街镇:" prop="streetTown">
                    <el-input disabled v-model="form.streetTown" placeholder="请填写街道"></el-input>
                </el-form-item>
                <el-form-item label="村委名称:" prop="committee">
                    <el-input disabled v-model="form.committee" placeholder="请填写村居委"></el-input>
                </el-form-item>
                <el-form-item label="姓名:" prop="name">
                    <el-input :disabled="typePage === 'see'" v-model="form.name" placeholder="请填写姓名"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="genderFmt">
                    <el-select @change="getGender" :disabled="typePage === 'see'" v-model="form.genderFmt" placeholder="请选择性别">
                        <el-option v-for="gr in  dictList.GENDER" :key="gr.code" :label="gr.text" :value="gr"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="手机号码:" prop="account">
                    <el-input :disabled="typePage === 'see'" v-model="form.account" placeholder="请填写手机号"></el-input>
                </el-form-item>
                <el-form-item label="身份:" prop="position">
                    <el-select @change="getPosition"  :disabled="typePage === 'see'" v-model="form.position" placeholder="请选择身份">
                        <el-option v-for="gr in dictList.POSITION_TYPE" :key="gr.code" :label="gr.text" :value="gr"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="职务:" prop="duty">
                    <el-input :disabled="typePage === 'see'" v-model="form.duty" placeholder="请填写职务"></el-input>
                </el-form-item>
                <el-form-item label="部门:" prop="deptName">
                    <el-tree :data="deptList" :props="defaultProps" @node-click="handleNodeClick" style="max-height: 200px;overflow-y: scroll"></el-tree>
                    <el-tag v-if="form.deptId" :id="form.deptId" @close="handleClose(dept)"> {{form.deptName}}</el-tag>
                </el-form-item>
                <el-form-item label="选择角色:">
                    <el-checkbox-group v-model="form.roleIds" :disabled="typePage === 'see'" @change="handleCheckedCitiesChange">
                        <el-checkbox v-for="ch in characterList" :key="ch.id" :label="ch.id">{{ch.name}}</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item v-if="typePage === 'edit'">
                    <el-button type="primary" @click="submitForm('from')">
                        <span class="submitBtn">提交</span>
                    </el-button>
                    <el-button @click="resetForm('from')">
                        <span class="submitBtn">重置</span>
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>
<script>
    import { mapState } from "vuex";
    export default {
        nameL: 'userManageDetail',
        data() {
            return {
                selectName: '',
                headers: {
                    token: this.$ls.get('token')
                },
                deptselectList: [],
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
                multipleSelection: [],
                currentPage: 1,
                dialogTableVisible: false,
                currentDept: {},
                visible: false,
                form: {
                    avatar: '', // 照片
                    name: "", // 姓名
                    streetTown: '', // 街道
                    policeStation: '', // 派出所
                    committee: '', // 社区
                    deptName: '', // 部门名称
                    deptId: '', // 部门Id
                    districtId: '',// 组别Id
                    account: '', // 账号
                    roleIds: [], // 角色id
                    duty: '', // 职务
                    unit: '', // 单位
                    genderFmt: '',
                    position: ''
                },
                rules: {
                    name: [{required: true, message: "请输入姓名",trigger: 'blur'}],
                    streetTown: [{required: true, message: "请输入街道", trigger: 'blur'}],
                    policeStation: [{required: true, message: "请输入派出所", trigger: 'blur'}],
                    committee: [{required: true, message: "请输入村居委", trigger: 'blur'}],
                    account: [{required: true, message: "请输入账号", trigger: 'blur'},
                      {
                        pattern: /^1[3|4|5|6|7|8|9]\d{9}$/,
                        message: "请输入正确的账号格式",
                        trigger: "blur"
                      }
                    ],
                    deptName: [{required: true, message: "请选择部门", trigger: 'change'}],
                    roleIds: [{required: true, message: "请选择角色", trigger: 'change'}],
                },
                imageUrl: '',
                i: 0,
                selectDept: {},
                typePage: ''
            };
        },
        methods: {
            handleCheckedCitiesChange(value) {
                value;
            },
            getGender (val) {
                this.form.gender = val.code
            },
            getPosition (val) {
                this.form.position = val.code
            },
            handleClose(tag) {
                this.deptselectList.splice(this.deptselectList.indexOf(tag), 1);
            },
            handleNodeClick(data){
                if (this.typePage === 'edit') {
                    this.form.deptId = data.id
                    this.form.deptName = data.name
                }
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.$route.query.type == "add") {
                            this.$store.dispatch("addUser", this.form);
                        } else {
                            this.form.accountId = this.$route.query.accountId
                            this.$store.dispatch("editUserDetail", this.form);
                        }
                    } else {
                        this.$message({
                            type: "warning",
                            message: "请填写必填项"
                        });
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            /**
             * 获取部门
             * */
            getDepts () {
                const params = {
                    needUser: true
                }
                this.$store.dispatch('getDept', params)
            },
            /**
             * 获取组别
             * */
            getGroup () {
                const params = {}
                this.$store.dispatch('getGroup', params)
            },
            /**
             * 获取角色
             * */
            getCharacter () {
                const params = {
                    'page': 1,
                    'limit': 100
                }
                this.$store.dispatch('getCharacter', params)
            },
            handleAvatarSuccess: function(...arg) {
                let [
                    {
                        data: { filePath }
                    }
                ] = [...arg];
                this.form.avatar = this.imgPrefix + filePath;
                // this.ruleForm.iconUrl = filePath;
                // this.updateRuleForm.iconUrl = filePath;
            },
            beforeAvatarUpload: function(file) {
                let fileType = file.type;
                if (
                    fileType == "image/jpeg" ||
                    fileType == "image/jpg" ||
                    fileType == "image/png"
                ) {
                    fileType;
                } else {
                    this.$message({ type: "warning", message: "请上传图片文件" });
                    return false;
                }
            },
        },
        created() {
            this.$nextTick(() => {
                if (this.$route.query.type === "edit") {
                    setTimeout(() => {
                        this.form = { ...this.userDetail };
                    }, 1000);
                } else {
                    this.rules = {}
                }
            });
        },
        mounted() {
            this.getDepts()
            this.getGroup()
            this.getCharacter()
            this.$store.dispatch("getDicts", {
                keys: "GENDER,POSITION_TYPE"
            });
            this.$store.dispatch('getXiaquInfo',{})
            this.typePage = this.$route.query.type
            if (this.$route.query.type === "edit" || this.$route.query.type === "see") {
                const params = {
                    accountId: this.$route.query.accountId
                }
                this.$store.dispatch("getUserDetail", params);
            }
            this.$nextTick(() => {
                setTimeout(() => {
                    this.form = { ...this.userDetail };
                    this.form.committee = this.streetInfo.committee
                    this.form.streetTown = this.streetInfo.streetTown
                    this.form.policeStation = this.streetInfo.policeStation
                }, 1000);
            });
        },
        computed: {
            ...mapState({
                roomInfo: state => state.company.roomInfo,
                singleCompanyInfo: state => state.company.singleCompanyInfo,
                deptList: state => state.systemManage.deptList,
                groupList: state => state.systemManage.groupList.list,
                characterList: state => state.systemManage.characterList,
                userDetail: state => state.systemManage.userDetail,
                streetInfo: state => state.baseData.streetInfo,
                dictList:state => state.common.dictList,
                isShowLoading: state => state.systemManage.isShowLoading
            }),
            imgPrefix: function() {
                return process.env.VUE_APP_STATIC_URL;
            },
            uploadPrefix: function() {
                return process.env.VUE_APP_UPLOAD_PREFIX;
            },
        }
    };
</script>
<style  scoped>
    .el-tag{
        margin-top: 15px;
    }
    .box-panel{
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 20px;
    }
    .bg {
        background-color: #e9eef4;
        padding: 0 10px 10px 10px;
        box-sizing: border-box;
    }
    .container {
        background: white;
        display: flex;
        flex-direction: column;
    }
    .header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        /* background: red; */
        align-items: center;
    }
    .sp {
        font-size: 15px;
        font-weight: 500;
        margin-left: 20px;
    }
    .line {
        width: 100%;
        background: #e0e0e0;
        height: 0.7px;
    }
    .form {
        margin-top: 20px;
        margin-left: 200px;
    }
    .el-input {
        width: 350px;
    }
    .el-select {
        width: 350px;
    }
    .sp_basicInfoTitle {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 600;
        margin-top: 20px;
    }
    .submitBtn {
        padding: 0 30px;
    }
</style>

<style>
    .selectRole{
        background-color: #0ba1f8;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409eff;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .dept-tag{
        margin-right: 10px;
    }
</style>
