<template>
    <div class="container_padding">
        <div class="container">
            <el-tabs v-model="activeName" @tab-click="handleClick" class="tabs">
                <el-tab-pane label="组织机构管理" name="first">
                    <origanizationManage></origanizationManage>
                </el-tab-pane>
                <el-tab-pane label="组织架构图" name="second">
                    <origanizationPicture></origanizationPicture>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
    
</template>
<script>

import origanizationManage from './origanization/origanizationManage.vue'
import origanizationPicture from './origanization/origanizationPicture.vue'
export default {
    data(){
        return{
            activeName:'first'
        }
    },
    methods:{
        handleClick(tab, event){
            tab;event;
        }
    },
    components:{
        origanizationManage,
        origanizationPicture
    }
};
</script>
<style scoped>
.container_padding{
    width: 100%;
    height: 100%;
    background: #f0f2f5;
}
.container {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: auto;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.tabs{
    width: 100%
}
    
    
</style>
<style>
.el-tabs__content{
    padding:0px !important;
}
</style>