<template>
  <div class="reportDetail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/r/reportManage/reportList' }">
        公告列表
      </el-breadcrumb-item>
      <el-breadcrumb-item>公告详情</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="reportInfo">
      <div class="reportTitle">公告信息</div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">标题</div>
          <div class="reportInfoboxitemCon">
            {{ reportDetail.homepageThrObject.title }}
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">附件</div>
          <div
            class="reportInfoboxitemCon"
            v-for="(item, index) in reportDetail.filePaths"
            :key="index"
          >
            <div class="imgItem">
              <img :src="img_host + item" alt="" />
            </div>
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">公告内容</div>
          <div class="reportInfoboxitemCon">
            {{reportDetail.homepageThrObject.content}}
          </div>
        </div>
        <div class="reportInfoboxitem">
          
        </div>
      </div>
      <!-- 新增的投票信息 -->
      <div class="voteInfobox">
        <div class="isVote">
          是否发起投票：{{reportDetail.homepageThrObject.vote==1?'是':'否'}}
        </div>
        <!-- <br><br> -->
        <!-- <div class="voteResult">
          <div>投票结果：</div>
          <div class="voteSituation">
            <div class="surpport">支持：{{reportDetail.homepageThrObject.surpport}}人</div>
            <div class="oppose">反对：{{reportDetail.homepageThrObject.oppose}}人</div>
            <div class="abandon">弃权：{{reportDetail.homepageThrObject.abandon}}人</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      textarea: "",
      img_host:'https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/'
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {},
  mounted() {
    this.$store.dispatch("homePage_getHomepage", {
      type: 3,
      id: this.$route.query.id
    });
  },
  watch: {},
  computed: {
    ...mapState({
      reportDetail: (state) => state.ronghe.reportDetail
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.reportDetail {
  width: 100%;
  height: 100%;
  // background: brown;
  padding: 20px;
  box-sizing: border-box;
}
.reportInfo {
  padding: 10px 20px;
}
.reportTitle {
  height: 50px;
  line-height: 50px;
  color: #65a1da;
}
.reportInfobox {
  width: 100%;
  height: 200px;
  display: flex;
  .reportInfoboxitem {
    flex: 1;
    .reportInfoboxitemTile {
      height: 50px;
      line-height: 50px;
      color: #939091;
    }
    .reportInfoboxitemCon {
      min-height: 150px;
      float: left;
      margin-right: 10px;
      .imgItem {
        width: 150px;
        min-height: 100px;
        // background: brown;
        img {
          width: 100%;
        }
      }
    }
  }
}
.voteInfobox{
  // border: 1px solid black;
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column;
  .voteResult{
    // border: 1px solid black;
    height: 100px;
    display: flex;
    .voteSituation{
      display: flex;
      flex-flow: column;
      .surpport{
        flex: 1;
      }
      .oppose{
        flex: 1;
      }
      .abandon{
        flex: 1;
      }
    }
  }
}
</style>

