<template>
  <div class="discuss-list-container">
    <div class="list-container-left">
      <el-tree
        style="height: 100%"
        node-key="districtId"
        ref="tree"
        :data="districtTree"
        :props="props"
        show-checkbox
        @check="handleCheckChange"
      ></el-tree>
    </div>
    <div class="list-container-right">
      <div class="list-container-right-top">
        <el-form :inline="true" :model="params" class="demo-form-inline">
          <el-form-item label="标题">
            <el-input v-model="params.title" placeholder></el-input>
          </el-form-item>
          <!-- <el-form-item label="发帖人">
            <el-input v-model="searchForm.name" placeholder=""></el-input>
          </el-form-item>-->

          <el-form-item label="发帖时间 " required>
            <el-col :span="11">
              <el-date-picker
                @change="getTime"
                v-model="dateRange"
                type="daterange"
                range-separator="至"
                value-format="yyyy-MM-dd HH:hh:ss"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              ></el-date-picker>
            </el-col>
          </el-form-item>
          <!-- <el-form-item label="是否置顶" prop="region">
            <el-select
              v-model="searchForm.topStatuss"
              placeholder="请选择是否置顶"
            >
              <el-option label="全部" value=""></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="否" value="0"></el-option>
            </el-select>
          </el-form-item>-->
          <el-form-item>
            <el-button type="default" @click="onReset">重置</el-button>
            <el-button type="primary" @click="onSearch">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="list-container-right-middle">
        <div class="zhiding" @click="addReport">
          <i class="el-icon-plus"></i>
          <span>新增公告</span>
        </div>
        <!-- <div class="cancel-zhiding" @click="cancelTop">
          <i class="el-icon-close"></i>
          <span>取消置顶</span>
        </div>-->
        <div class="delete" @click="deleteDiscuss">
          <i class="el-icon-delete"></i>
          <span>删除</span>
        </div>
      </div>
      <div class="list-container-right-bottom">
        <el-table
          ref="multipleTable"
          :data="reportList"
          border
          tooltip-effect="dark"
          style="width: 95%; margin: 0 auto"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55px"></el-table-column>

          <el-table-column prop="title" label="标题" width="250px"></el-table-column>
          <el-table-column prop="name" label="创建/更新人"></el-table-column>
          <el-table-column prop="createTime" label="创建/更新时间"></el-table-column>
          <el-table-column label="是否开启投票">
            <template slot-scope="scope">
              <el-switch
                v-model="scope.row.vote"
                @change="setvote(scope.$index, scope.row)"
                active-color="#13ce66"
                inactive-color="#ff4949"
              ></el-switch>
            </template>
          </el-table-column>
          <!-- <el-table-column prop="createTime" label="发帖时间"></el-table-column>
          <el-table-column
            prop="visitCount"
            width="70px"
            label="浏览数"
          ></el-table-column>
          <el-table-column
            prop="commentCount"
            width="70px"
            label="评论数"
          ></el-table-column>
          <el-table-column
            prop="likeCount"
            width="70px"
            label="点赞数"
          ></el-table-column>
          <el-table-column width="80px" label="是否置顶">
            <template slot-scope="scope">
              <span v-if="scope.row.topStatus == 1">是</span>
              <span v-else>否</span>
            </template>
          </el-table-column>-->

          <el-table-column label="操作" width="360px">
            <template slot-scope="scope">
              <div class="btn-container" style="display: flex">
                <!-- <el-button style="width:15px; height:20px">创建投票</el-button>
                <el-button style="width:15px; height:20px">公告详情</el-button>
                <el-button style="width:15px; height:20px">投票详情</el-button>-->
                <!-- <img
                  style="width: 28px"
                  @click="handleSeeDetail(scope.$index, scope.row)"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E8%AF%A6%E6%83%85.png"
                  alt=""
                  srcset=""
                />-->
                <el-button
                  size="mini"
                  type="primary"
                  @click="editReportDialog(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  size="mini"
                  type="primary"
                  @click="createToupiao(scope.$index, scope.row)"
                >创建投票</el-button>
                <el-button
                  size="mini"
                  type="primary"
                  @click="handleSeeDetail(scope.$index, scope.row)"
                >公告详情</el-button>
                <el-button
                  size="mini"
                  type="primary"
                  @click="voteDetail(scope.$index, scope.row)"
                >投票详情</el-button>
                <!-- <img
                  v-if="scope.row.releaseStatus == 2"
                  @click="handleRemarkPermit(scope.row)"
                  style="width:28px;"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E4%B8%8D%E9%80%9A%E8%BF%87%402x.png"
                  alt=""
                  srcset=""
                />-->
                <!-- <img
                  v-else
                  @click="handleRemarkPermit(scope.row)"
                  style="width:28px;"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87%402x.png"
                  alt=""
                  srcset=""
                />-->
              </div>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="pagination.total"
            @current-change="handleChange"
            :page-size="params.count"
          ></el-pagination>
        </div>
      </div>
    </div>
    <el-dialog title="新增公告" :visible.sync="dialogFormVisible">
      <el-form>
        <el-form-item label="标题" :label-width="formLabelWidth">
          <el-input v-model="form.homepageThrObject.title" placeholder="请填写公告标题" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="公告内容" :label-width="formLabelWidth">
          <el-input
            type="textarea"
            :rows="4"
            placeholder="请填写公告内容"
            v-model="form.homepageThrObject.content"
          ></el-input>
        </el-form-item>
        <el-form-item label="附件" :label-width="formLabelWidth">
          <el-upload
            class="upload-demo"
            action="/hip/v1/attachment/fileUpload"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            :on-success="handleSuccess"
            :headers="headerObj"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </el-form-item>
        <el-form-item label="是否发起投票" :label-width="formLabelWidth">
          <el-radio-group v-model="form.homepageThrObject.vote">
            <!-- <el-radio label="单选"></el-radio>
            <el-radio label="多选"></el-radio>-->
            <el-radio label="true">是</el-radio>
            <el-radio label="false">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitReport">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑公告" :visible.sync="editDialogVisible">
      <el-form>
        <el-form-item label="标题" :label-width="formLabelWidth">
          <el-input v-model="form.homepageThrObject.title" placeholder="请填写公告标题" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="公告内容" :label-width="formLabelWidth">
          <el-input
            type="textarea"
            :rows="4"
            placeholder="请填写公告内容"
            v-model="form.homepageThrObject.content"
          ></el-input>
        </el-form-item>
        <el-form-item label="附件" :label-width="formLabelWidth">
          <el-upload
            class="upload-demo"
            action="/hip/v1/attachment/fileUpload"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            :on-success="handleSuccess"
            :headers="headerObj"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </el-form-item>
        <el-form-item label="是否发起投票" :label-width="formLabelWidth">
          <el-radio-group v-model="form.homepageThrObject.vote">
            <!-- <el-radio label="单选"></el-radio>
            <el-radio label="多选"></el-radio>-->
            <el-radio :label="true">是</el-radio>
            <el-radio :label="false">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetDialog">取 消</el-button>
        <el-button type="primary" @click="editReport">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="创建投票" :visible.sync="footdialogFormVisible">
      <el-form :model="formdata">
        <el-form-item label="投票内容" :label-width="footformLabelWidth">
          <el-input v-model="formdata.info" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="选择方式" :label-width="footformLabelWidth">
          <el-radio-group v-model="formdata.pickingType">
            <el-radio label="单选"></el-radio>
            <el-radio label="多选"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="投票截止时间" :label-width="footformLabelWidth">
          <el-date-picker
            v-model="formdata.finishTime"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="选择日期时间"
          ></el-date-picker>
        </el-form-item>
        <div v-for="(item, index) in formoption" :key="index">
          <el-form-item :label="`选项${index + 1}`" :label-width="footformLabelWidth">
            <el-input autocomplete="off" v-model="formdata.options[index]">
              <el-button slot="append" type="primary" icon="el-icon-plus" circle @click="addOption"></el-button>
              <el-button
                slot="append"
                type="primary"
                icon="el-icon-minus"
                circle
                @click="deleteOption(index)"
              ></el-button>
            </el-input>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="footdialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm">确 定</el-button>
      </div>
    </el-dialog>
    <div class="voteDetail" v-if="showvoteDetail">
      <voteDetail @closeVote="closeVote" :data="voteDetaildata"></voteDetail>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
import voteDetail from "@/views/ronghe/reportManage/voteDetail";
export default {
  data() {
    return {
      isVote: true,
      radio: "1",
      dialogFormVisible: false,
      footdialogFormVisible: false,
      editDialogVisible: false,
      idList: "",
      headerObj: { token: Vue.ls.get("rongheToken") },
      searchForm: {
        title: "",
        name: "",
        startTime: "",
        endTime: "",
        topStatus: "",
        topStatuss: "",
        dateRange: ""
      },
      dateRange: [],
      selectedRows: [],
      formInline: { top: "", date1: "", date2: "", user: "", region: "" },
      tableData: [],
      props: {
        label: "name",
        children: "children"
      },
      form: {
        homepageThrObject: {
          type: 3,
          name: null,
          title: null,
          content: null,
          vote: null,
          id: null,
          createTime: null,
          uniqueId: null,
          pictureUrl: null,
          examineStatus: null,
          releaseStatus: null,
          districtId: null,
          districtName: null
        },
        filePaths: []
      },
      formdata: {
        info: "",
        pickingType: "",
        finishTime: "",
        options: []
      },
      formLabelWidth: "120px",
      footformLabelWidth: "120px",
      fileList: [],
      params: {
        count: 10,
        start: 0,
        districtIds: [],
        type: 3,
        title: "",
        startTime: "",
        endTime: ""
      },
      allFile: [],
      formoption: [""],
      showvoteDetail: false,
      voteDetaildata: {}
    };
  },
  methods: {
    setvote(index, val) {
      if (val.voteTableId) {
        this.$store
          .dispatch("setvoteStatus", { id: val.id, vote: val.vote })
          .then((res) => {
            if (!res.error) {
              if (val.vote) {
                this.$message({
                  type: "success",
                  message: "开启投票成功"
                });
              } else {
                this.$message({
                  type: "success",
                  message: "关闭投票成功"
                });
              }
            }
          });
      } else {
        val.vote = false;
        this.$message({
          type: "warning",
          message: "请先创建投票才可以开启投票"
        });
      }
    },
    submitForm() {
      // console.log(this.formdata)
      // this.footdialogFormVisible = true;
      this.$store.dispatch("voteTableSave", this.formdata).then((res) => {
        if (!res.error) {
          this.$message({
            type: "success",
            message: "创建投票成功"
          });
          this.footdialogFormVisible = false;
          this.$store.dispatch("homePage_getNotice", this.params);
        }
      });
    },
    addOption() {
      this.formoption.push("");
    },
    deleteOption(index) {
      if (this.formoption.length > 1) {
        this.formoption.splice(index, 1);
      }
    },
    closeVote(data) {
      this.showvoteDetail = data;
    },
    voteDetail(index, val) {
      this.$store.dispatch("voteDetail", { id: val.id }).then((res) => {
        if (res.error) {
          this.$message({
            type: "warning",
            message: res.error.message
          });
        } else {
          this.voteDetaildata = res.result;
          this.showvoteDetail = true;
        }
      });
    },
    editReportDialog(index, row) {
      if (this.districtId) {
        this.editDialogVisible = true;
        console.log(row);
        this.form.homepageThrObject.title = row.title;
        this.form.homepageThrObject.content = row.content;
        this.form.homepageThrObject.vote = row.vote;
        this.form.homepageThrObject.id = row.id;
        this.form.homepageThrObject.createTime = row.createTime;
        this.form.homepageThrObject.uniqueId = row.uniqueId;
        this.form.homepageThrObject.pictureUrl = row.pictureUrl;
        this.form.homepageThrObject.examineStatus = row.examineStatus;
        this.form.homepageThrObject.releaseStatus = row.releaseStatus;
      } else {
        this.$message({
          type: "warning",
          message: "请先选择组织树"
        });
        return false;
      }
    },
    resetDialog() {
      this.editDialogVisible = false;
      this.form.homepageThrObject.title = null;
      this.form.homepageThrObject.content = null;
      this.form.homepageThrObject.vote = null;
      this.form.homepageThrObject.id = null;
      this.form.homepageThrObject.createTime = null;
      this.form.homepageThrObject.uniqueId = null;
      this.form.homepageThrObject.pictureUrl = null;
      this.form.homepageThrObject.examineStatus = null;
      this.form.homepageThrObject.releaseStatus = null;
    },
    createToupiao(index, row) {
      if (this.districtId) {
        this.formdata.homePageThrId = row.id;
        this.footdialogFormVisible = true;
      } else {
        this.$message({
          type: "warning",
          message: "请先选择组织树"
        });
        return false;
      }
    },
    submitReport() {
      console.log(this.form);
      this.form.homepageThrObject.districtId = this.districtId;
      this.form.homepageThrObject.name = Vue.ls.get("name");
      this.form.homepageThrObject.districtName = this.districtName;
      this.$store.dispatch("homePage_saveHomePage", this.form).then((res) => {
        if (res.error == null) {
          this.dialogFormVisible = false;
          this.$store.dispatch("homePage_getNotice", this.params);
        }
      });
      console.log(this.form);
    },
    editReport() {
      console.log(this.form);
      this.form.homepageThrObject.districtId = this.districtId;
      this.form.homepageThrObject.name = Vue.ls.get("name");
      this.form.homepageThrObject.districtName = this.districtName;

      console.log(this.form);
      this.$store.dispatch("homePage_saveHomePage", this.form).then((res) => {
        if (res.error == null) {
          this.editDialogVisible = false;
          this.form = {
            homepageThrObject: {
              name: Vue.ls.get("name"),
              type: 3,
              title: null,
              content: null,
              vote: null,
              id: null,
              createTime: null,
              uniqueId: null,
              pictureUrl: null,
              examineStatus: null,
              releaseStatus: null,
              districtId: null,
              districtName: null
            }
          };
          this.$store.dispatch("homePage_getNotice", this.params);
        }
      });
    },
    voteClick() {
      this.isVote = !this.isVote;
      console.log(this.isVote);
    },
    handleSuccess(file, fileList) {
      this.allFile = [...this.allFile, ...file.result];
      // this.fileList = this.allFile
      console.log(this.allFile);

      this.form.filePaths = this.allFile;
    },
    handleExceed() { },
    getTime(val) {
      this.params.startTime = val[0];
      this.params.endTime = val[1];
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    beforeRemove() { },
    handlePreview(file) {
      console.log(file);
    },
    handleRemarkPermit: function (val) {
      console.log(val);
      this.$store.dispatch("account_assembly_setReleaseStatus", {
        releaseStatus: val.releaseStatus == 1 ? 2 : 1,
        uniqueId: val.uniqueId
      });
    },
    deleteDiscuss: function () {
      this.$store
        .dispatch("homePage_deleteHomepageThr", {
          uniqueId: this.idList
        })
        .then((res) => {
          if (res.result) {
            this.$store.dispatch("homePage_getNotice", this.params);
          }
        });
    },
    cancelTop: function () {
      this.$store.dispatch("account_assembly_setTopStatus", {
        topStatus: 0,
        uniqueId: this.idList
      });
    },
    addReport() {
      if (this.districtId) {
        this.dialogFormVisible = true;
      } else {
        this.$message({
          type: "warning",
          message: "请先选择组织树"
        });
        return false;
      }
    },
    handleSeeDetail: function (...arg) {
      console.log(arg);
      let [, { id, uniqueId }] = [...arg];
      this.$router.push(`/r/reportManage/reportDetail?id=${id}`);
    },
    handleSelectionChange: function (val) {
      this.selectedRows = val;
      console.log(val);
      let idList = val.map((item) => {
        return item.uniqueId;
      });
      this.idList = idList.join(",");
    },
    generateData: function () {
      for (let i = 0; i < 10; i++) {
        this.tableData.push({
          title: i,
          region: "",
          submitter: "",
          submitTime: "",
          browser: "",
          comment: "",
          dianzan: "",
          isTop: ""
        });
      }
    },
    onSearch: function () {
      this.$store.dispatch("homePage_getNotice", this.params);
    },
    onReset: function () {
      this.params.title = "";
      this.dateRange = [];
      this.params.startTime = "";
      this.params.endTime = "";
      this.$store.dispatch("homePage_getNotice", this.params);
    },
    handleCheckChange: function (data, checked, indeter, fuck) {
      console.log(data);
      console.log(checked);
      console.log(indeter);
      console.log(fuck);
      // if()
      if (data.level == 4) {
        if (checked.checkedNodes.length == 0) {
          this.params.districtIds = [];
          this.districtId = "";
        } else {
          this.params.districtIds = [data.districtId];
          this.districtId = data.districtId;
        }

        this.districtName = data.name;
        this.$store.dispatch("homePage_getNotice", this.params);
      } else {
        this.$message({
          type: "warning",
          message: "请选择居委级别"
        });
        this.$refs.tree.setCheckedKeys([]);
      }
    },
    handleChange(index) {
      this.params.start = (index - 1) * this.params.count;
      this.$store.dispatch("homePage_getNotice", this.params);
    },
    loadNode(node, resolve) {
      console.log(node);
      resolve[{ name: "123" }];
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("homePage_getNotice", this.params);
    // let obj = Object.assign({}, this.pagination, {
    //   districtIds: Vue.ls.get("districtIds")
    // });
    // this.$store.dispatch("account_assembly_getAssembly", obj);
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("villageDistrictId")
    });
    this.$store.commit("CHANGE_HOMEPAGE_GETNOTICE", []);
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      districtTree: (state) => state.ronghe.districtTree,
      discussList: (state) => state.ronghe.discussList,
      pagination: (state) => state.ronghe.pagination,
      reportList: (state) => state.ronghe.reportList
    }),
    ...mapGetters([])
  },
  components: {
    voteDetail
  }
};
</script>

<style lang='less'>
.el-dialog {
  width: 600px;
}
#app
  > div
  > section
  > section
  > main
  > div
  > div:nth-child(4)
  > div
  > div.el-dialog__body
  > form
  > div:nth-child(3)
  > div
  > div {
  width: 100%;
}
.el-dialog__body {
  width: 500px;
}
</style>
<style lang="less" scoped>
.discuss-list-container {
  box-sizing: border-box;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 15% 1fr;
  height: 100%;
  grid-template-rows: 1fr;
  position: relative;
  .list-container-left {
    border-right: 1px solid #eeeeee;
  }

  .list-container-right {
    box-sizing: border-box;
    padding: 0 5px;
    .list-container-right-middle {
      display: flex;
      width: 95%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      .zhiding,
      .cancel-zhiding {
        cursor: pointer;
        margin-right: 20px;
      }
      .zhiding,
      .cancel-zhiding,
      .delete {
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
    .list-container-right-bottom {
      .pagination-container {
        text-align: center;
        margin-top: 10px;
      }
      width: 100%;
      .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
.voteDetail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
}
</style>
