<template>
  <div class="reportDetail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item>
        <span @click="closeVotedetail">公告列表</span> 
      </el-breadcrumb-item>
      <el-breadcrumb-item>投票详情</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="reportInfo">
      <div class="reportTitle">投票信息</div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">投票内容</div>
          <div class="reportInfoboxitemCon">
            {{data.info}}
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">选择方式</div>
          <div
            class="reportInfoboxitemCon"
          >
            {{data.pickingType}}
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">投票截止内容</div>
          <div class="reportInfoboxitemCon">
            {{data.finishTime}}
          </div>
        </div>
        <div class="reportInfoboxitem">
           <div class="reportInfoboxitemTile">投票总人数</div>
          <div class="reportInfoboxitemCon">
            {{data.total}}
          </div>
        </div>
      </div>
      <!-- 新增的投票信息 -->
      <div class="voteInfobox">
        <div class="isVote">
          投票选项
        </div>
        <br><br>
        <div class="voteResult">
          <div class="voteSituation">
            <div class="surpport" v-for="(item,index) in Object.entries(data.optionAndCount)" :key="index">
              <span>{{item[0]}}：{{item[1]}}票</span> 
              <div style="width:200px;margin-bottom:30px">
                <el-progress :percentage="(item[1]/(item[1]==0?1:total))*100"></el-progress>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      textarea: "",
      img_host:'',
      total:0
    };
  },
  props: ['data'],
  methods: { ...mapMutations([]),
    closeVotedetail(){
        this.$emit('closeVote',false)
    }
  },

  created() {},
  mounted() {
    let arr = Object.entries(this.data.optionAndCount)
    arr.forEach(item=>{
      this.total += item[1]
    })
    // console.log(this.data)
  },
  watch: {},
  computed: {
    ...mapState({

    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.reportDetail {
  width: 100%;
  height: 100%;
  // background: brown;
  padding: 20px;
  box-sizing: border-box;
}
.reportInfo {
  padding: 10px 20px;
}
.reportTitle {
  height: 50px;
  line-height: 50px;
  color: #65a1da;
}
.reportInfobox {
  width: 100%;
  height: 200px;
  display: flex;
  .reportInfoboxitem {
    flex: 1;
    .reportInfoboxitemTile {
      height: 50px;
      line-height: 50px;
      color: #939091;
    }
    .reportInfoboxitemCon {
      min-height: 150px;
      float: left;
      margin-right: 10px;
      .imgItem {
        width: 150px;
        min-height: 100px;
        // background: brown;
        img {
          width: 100%;
        }
      }
    }
  }
}
.voteInfobox{
  // border: 1px solid black;
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column;
  .voteResult{
    // border: 1px solid black;
    height: 100px;
    display: flex;
    .voteSituation{
      display: flex;
      flex-flow: column;
      .surpport{
        flex: 5;
        span{
          padding: 5px 15px;
          background: #ccc;
          border-radius: 5px;
        }
        
      }
      .oppose{
        flex: 1;
      }
      .abandon{
        flex: 1;
      }
    }
  }
}
</style>

