<template>
  <div class="childContainer">
    <div class="searchBox">
      <div class="input-search">
        <span class="inputTitle">用户名:</span>
        <el-input placeholder="" v-model="input3" clearable>
          <!-- <i slot="suffix" class="el-input__icon el-icon-search" @click="search"></i> -->
        </el-input>
      </div>
      <div class="input-search">
        <span class="inputTitle">姓名:</span>
        <el-input placeholder="" v-model="input3" clearable>
          <!-- <i slot="suffix" class="el-input__icon el-icon-search" @click="search"></i> -->
        </el-input>
      </div>
      <div class="input-search">
        <span class="inputTitle">角色:</span>
        <el-input placeholder="" v-model="input3" clearable>
          <!-- <i slot="suffix" class="el-input__icon el-icon-search" @click="search"></i> -->
        </el-input>
      </div>
      <div class="input-search">
        <span class="inputTitle">是否启用:</span>
        <el-select v-model="value" placeholder="请选择">
          <el-option
            v-for="item in options_isOpen"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <div class="input-search">
        <span class="inputTitle">状态:</span>
        <el-select v-model="value" placeholder="请选择">
          <el-option
            v-for="item in options_status"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
    </div>
    <div class="btnBox">
      <el-button type="primary">查询</el-button>
      <el-button>重置</el-button>
    </div>
    <div class="handleBox">
      <div class="add">
        <el-button type="primary" icon="el-icon-plus" @click="add">
          添加
        </el-button>
      </div>
      <div class="add">
        <el-button type="primary" icon="el-icon-delete">删除</el-button>
      </div>
      <div class="add">
        <el-button type="primary" icon="el-icon-video-play">启用</el-button>
      </div>
      <div class="add">
        <el-button type="primary" icon="el-icon-video-pause">停用</el-button>
      </div>
    </div>
    <div class="tableBox">
      <el-table
        :data="tableData"
        border
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column prop="userName" label="用户名"></el-table-column>
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column prop="role" label="角色"></el-table-column>

        <el-table-column prop="isOpen" label="是否启用"></el-table-column>
        <el-table-column prop="status" label="状态"></el-table-column>
        <el-table-column prop="origination" label="所属组织"></el-table-column>
        <el-table-column prop="" label="操作">
          <template>
            <div class="itemHandleBox">
              <i class="el-icon-unlock" @click="reset"></i>
              <i class="el-icon-edit" @click="edit"></i>
              <i class="el-icon-delete" @click="del"></i>
              <i class="el-icon-video-play" v-if="true" @click="play"></i>
              <i class="el-icon-video-pause" v-if="false"></i>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination">
      <el-pagination
        background
        layout="total, prev, pager, next, jumper"
        :total="2"
      ></el-pagination>
    </div>
    <el-dialog title="添加用户" :visible.sync="addDialogVisible" center>
      <el-form :model="addform">
        <el-form-item label="用户名:" :label-width="formLabelWidth">
          <el-input v-model="addform.userName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="姓名:" :label-width="formLabelWidth">
          <el-input v-model="addform.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="角色:" :label-width="formLabelWidth">
          <el-input v-model="addform.role" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="所属组织:" :label-width="formLabelWidth">
          <el-input
            v-model="addform.origination"
            autocomplete="off"
            type="textarea"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addDialogVisible = false">
          确 定
        </el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑" :visible.sync="editDialogVisible" center>
      <el-form :model="editform">
        <el-form-item label="用户名:" :label-width="formLabelWidth">
          <el-input v-model="editform.labelCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="姓名:" :label-width="formLabelWidth">
          <el-input v-model="editform.labelCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="角色:" :label-width="formLabelWidth">
          <el-input v-model="editform.labelLevel" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="是否启用:" :label-width="formLabelWidth">
          <el-radio-group v-model="radio">
            <el-radio :label="3">启用</el-radio>
            <el-radio :label="6">停用</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editDialogVisible = false">
          保 存
        </el-button>
      </div>
    </el-dialog>

    <el-dialog title="重置密码" :visible.sync="resetDialogVisible" center>
      <el-form :model="editform">
        <el-form-item label="管理员密码:" :label-width="formLabelWidth">
          <el-input
            v-model="editform.labelCode"
            autocomplete="off"
            show-password
          ></el-input>
        </el-form-item>
        <el-form-item label="新密码:" :label-width="formLabelWidth">
          <el-input v-model="editform.labelCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码:" :label-width="formLabelWidth">
          <el-input v-model="editform.labelLevel" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="resetDialogVisible = false">
          保 存
        </el-button>
      </div>
    </el-dialog>

    <el-dialog
      title="提示"
      :visible.sync="deleteDialogVisible"
      width="30%"
      center
    >
      <span>是否删除?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="deleteDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteDevice">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="提示"
      :visible.sync="stopDialogVisible"
      width="30%"
      center
    >
      <span>是否停用?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="stopDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteDevice">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      tableData: [
        {
          userName: "xueshuai",
          name: "薛帅",
          role: "职工",
          isOpen: "3",
          status: "离线",
          origination: "周浦镇菱翔苑"
        },
        {
          userName: "duanlei",
          name: "段磊",
          role: "职工",
          isOpen: "3",
          status: "离线",
          origination: "周浦镇汇福家园"
        }
      ],
      options_isOpen: [
        {
          value: "1",
          label: "全部"
        },
        {
          value: "2",
          label: "启用"
        },
        {
          value: "3",
          label: "暂停"
        }
      ],
      options_status: [
        {
          value: "1",
          label: "全部"
        },
        {
          value: "2",
          label: "在线"
        },
        {
          value: "3",
          label: "离线"
        }
      ],
      formLabelWidth: "120px",
      radio: 3,
      input3: "",
      addDialogVisible: false,
      editDialogVisible: false,
      deleteDialogVisible: false,
      stopDialogVisible: false,
      resetDialogVisible: false,
      addform: {
        userName: "",
        name: "",
        role: "",
        origination: ""
      },
      editform: {
        userName: "",
        name: "",
        role: "",
        radio: 3
      }
    };
  },
  methods: {
    search() {
      console.log("---------------------搜索");
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    add() {
      this.addDialogVisible = true;
    },
    edit() {
      this.editDialogVisible = true;
    },
    del() {
      this.deleteDialogVisible = true;
    },
    play() {
      this.stopDialogVisible = true;
    },
    reset() {
      this.resetDialogVisible = true;
    }
  },
  mounted() {
    this.$store.dispatch("getOrgs");
  },
  computed: {
    ...mapState({
      orgs: (state) => state.middlewaresystemManage.orgs
    })
  }
};
</script>

<style scoped lang="less">
.childContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  // background: white;
}
.searchBox {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  word-wrap: break-word;
  word-break: normal;
  .input-search {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    .inputTitle {
      // width: 30%;
      margin-left: 2%;
    }
  }
}
.btnBox {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  // align-items: center;
  margin-top: 10px;
  // justify-content: center;
  .input-search {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    .inputTitle {
      width: 30%;
      margin-left: 2%;
    }
  }
}
.handleBox {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;

  .add {
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    background: white;
  }
}
.tableBox {
  height: auto;
  width: 100%;
  .itemHandleBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0% 10px;
    justify-content: space-between;
  }
}
.pagination {
  margin-top: 10px;
}
</style>
<style >
.add .el-button--primary {
  background-color: white !important;
  border-color: white;
  color: #303133;
  font-size: 15px;
}
.input-search .el-input {
  width: auto;
  margin-left: 5px;
}
</style>