<template>
    <div class="container">
        <div class="box">
             <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="系统用户" name="first"><system-user></system-user></el-tab-pane>
                <!-- <el-tab-pane label="系统用户" name="first">系统用户</el-tab-pane> -->

                <el-tab-pane label="外部用户" name="second"><out-user></out-user></el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>

<script>
import systemUser from '@/views/middleware/systemManage/userManage/systemUser.vue'
import outUser from '@/views/middleware/systemManage/userManage/outUser.vue'
import { mapState } from 'vuex'


export default {
    data(){
        return{
            activeName:'first'
        }
    },
    components:{
        systemUser,
        outUser
    },
    computed:{
        ...mapState({
            orgs:state => state.systemManage.orgs
        })
    }
}
</script>

<style  lang='less' scoped>
    .container{
        height: 100%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: #e6ecf6;
        .box{
            height: 100%;
            width: 100%;
            background: white;
            border-radius: 1%;
            padding: 10px 20px;
            box-sizing: border-box;

        }
    }
</style>