<template>
  <div class="box">
    <div class="header-box">
      <el-button type="primary" @click="handleEdit">添加录像机</el-button>
    </div>
    <el-table :data="videoList" border style="width: 100%">
      <el-table-column prop="model" label="型号" width="150"></el-table-column>
      <el-table-column prop="ip" label="ip" width="130"></el-table-column>
      <el-table-column prop="port" label="端口" width="60"></el-table-column>
      <el-table-column
        prop="username"
        label="用户名"
        width="100"
      ></el-table-column>
      <el-table-column
        prop="password"
        label="密码"
        width="120"
      ></el-table-column>
      <el-table-column
        prop="channelAmount"
        label="通道总数"
        width="80"
      ></el-table-column>
      <el-table-column
        prop="urlFormat"
        show-overflow-tooltip
        label="rtsp格式"
      ></el-table-column>
      <el-table-column label="下辖的摄像头">
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="toCamera(scope.$index, scope.row)"
          >
            摄像头
          </el-button>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="200" fixed="right">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit1(scope.$index, scope.row)">
            编辑
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div
      class="pagination-container"
      style="text-align: center; margin: 20px auto"
    >
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-size="10"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="this.videoListTotal"
      ></el-pagination>
    </div>
    <!--  编辑/创建  -->
    <el-dialog
      title="修改录像机信息"
      :visible.sync="dialogFormVisible"
      style="margin-top:0"
    >
      <el-form
        :model="ruleForm"
        ref="ruleForm"
        :rules="rules"
        label-width="100"
        class="demo-ruleForm"
      >
        <el-form-item label="品牌" label-width="110px" prop="brandId">
          <el-select
            v-model="ruleForm.brandId"
            placeholder="请选择品牌"
            @change="getValue"
          >
            <el-option
              v-for="item in brandList.pageContent"
              :label="item.name"
              :value="item.id"
              :key="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="类型" label-width="110px" prop="brandId">
          <el-select
            v-model="ruleForm.type"
            placeholder="请选择类型"
            @change="getTypeValue"
          >
            <el-option
              v-for="item in typeList"
              :label="item.name"
              :value="item.id"
              :key="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="rtsp地址格式" prop="urlFormat" label-width="110px">
          <el-input
            v-model="ruleForm.urlFormat"
            :disabled="dialogtype === 'edit'"
          ></el-input>
        </el-form-item>
        <el-form-item label="型号" prop="model" label-width="110px">
          <el-input v-model="ruleForm.model"></el-input>
        </el-form-item>
        <el-form-item label="IP" prop="ip" label-width="110px">
          <el-input v-model="ruleForm.ip"></el-input>
        </el-form-item>
        <el-form-item label="用户名" prop="username" label-width="110px">
          <el-input v-model="ruleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password" label-width="110px">
          <el-input v-model="ruleForm.password"></el-input>
        </el-form-item>
        <el-form-item label="端口" prop="port" label-width="110px">
          <el-input v-model="ruleForm.port"></el-input>
        </el-form-item>
        <el-form-item label="通道数" prop="channelAmount" label-width="110px">
          <el-select
            v-model="ruleForm.channelAmount"
            filterable
            placeholder="请选择"
            @change="changeValue"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="已选中" prop="channelNums" label-width="110px">
          <div>
            <span v-for="num in ruleForm.channelNums" :key="num">
              {{ num }},
            </span>
          </div>
          <el-checkbox-group
            v-model="ruleForm.channelNums"
            style="height: 130px;overflow: scroll"
          >
            <el-checkbox
              v-for="item in checkList"
              :key="item.label"
              :label="item.value"
              :value="item.value"
            ></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetForm('ruleForm')">取 消</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    const options = () => {
      const data = [];
      let a = 1;

      for (let i = 1; i < 128; i++) {
        a = i * 8;
        let obj = {};
        if (a <= 128) {
          obj.label = a;
          obj.value = a;
          data.push(obj);
        } else {
          break;
        }
      }
      return data;
    };
    return {
      districtId: "",
      checkLists: [], // 选中的通道数
      checkList: [],
      checkListsString: "",
      options: options(),
      value: "",
      currentPage: 1,
      dialogFormVisible: false,
      params: {
        pageNo: 1,
        pageSize: 10
      },
      typeList: [
        {
          id: 0,
          name: "数字"
        },
        {
          id: 1,
          name: "模拟"
        }
      ],
      ruleForm: {
        channelNums: []
      },
      dialogtype: "",
      rules: {
        rtsp: [{ required: true, message: "请输入rtsp", trigger: "blur" }],
        ip: [{ required: true, message: "请输入ip", trigger: "blur" }],
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
        port: [{ required: true, message: "请输入端口", trigger: "blur" }],
        channelAmount: [
          { required: true, message: "请选择通道数", trigger: "change" }
        ],
        channelNums: [
          {
            type: "array",
            required: true,
            message: "请选择通道",
            trigger: "change"
          }
        ]
      },
      roadAccount: 0, // 通道总数
      renderFunc(h, option) {
        return (
          <span>
            {option.key} - {option.label}
          </span>
        );
      }
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    changeValue(val) {
      this.roadAccount = val;
      this.checkList = [];
      for (let i = 1; i <= val; i++) {
        let obj = {};
        obj.label = i;
        obj.value = i;
        this.checkList.push(obj);
      }
    },
    handleEdit: function() {
      this.dialogtype = "add";
      this.ruleForm = {
        channelNums: []
      };
      this.dialogFormVisible = true;
    },
    handleEdit1: function(index, row) {
      this.checkList = [];
      index;
      this.dialogtype = "edit";
      this.ruleForm = row;
      if (row.channelNums == null) {
        row.channelNums = [];
      }
      for (let i = 1; i <= row.channelAmount; i++) {
        let obj = {};
        obj.label = i;
        obj.value = i;
        this.checkList.push(obj);
      }
      this.dialogFormVisible = true;
    },
    submitForm(formName) {
      this.ruleForm.districtId = this.districtId;
      this.ruleForm.ascriptionType = 1;
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          if (this.dialogtype === "add") {
            this.$store.dispatch("addVideo", this.ruleForm);
          } else {
            this.$store.dispatch("updateVideo", this.ruleForm);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      // this.$refs[formName].resetFields();
      this.dialogFormVisible = false;
    },
    transRight() {
      this.ruleForm.lookBackUserName = this.ruleForm.username;
      this.ruleForm.lookBackPassword = this.ruleForm.password;
      this.ruleForm.lookBackIp = this.ruleForm.ip;
    },
    handleDelete: function(index, row) {
      this.$confirm("此操作将永久删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!"
          });
          this.$store.dispatch("deleteVideo", {
            id: row.id,
            districtId: this.districtId
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.params.pageNo = val;
      this.$store.dispatch("getVideoList", {
        districtId: this.districtId,
        ...this.params
      });
    },
    handleChange(value, direction, movedKeys) {
      console.log(value, direction, movedKeys);
    },
    toCamera(index, row) {
      index;
      this.$router.push("/di/cameraList?cameraid=" + row.id);
    },
    getValue(val) {
      let arr = this.brandList.pageContent.filter(res => {
        return res.id == val;
      });
      this.ruleForm.urlFormat = arr[0].urlFormat;
    },
    getTypeValue(val) {
      // 0是数字1是模拟
      this.ruleForm.type = val;
    }
  },

  created() {},
  mounted() {
    this.districtId = this.$route.query.id;
    this.$store.dispatch("getVideoList", {
      districtId: this.districtId,
      ...this.params
    });
    this.$store.dispatch("getbrandList", { pageNo: 1, pageSize: 10 });
  },
  watch: {},
  computed: {
    ...mapState({
      videoList: state => state.deviceInput.videoList,
      videoListTotal: state => state.deviceInput.videoListTotal,
      brandList: state => state.deviceInput.brandList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>
<style lang="less">
@import "../../../assets/less/deviceInput/cameraList.less";
.el-checkbox {
  width: 60px;
}
</style>
