<template>
  <div class="container">
    <div class="pop-tab-title">
      <span>添加时段</span>
      <span class="close-icon" @click="closePop">×</span>
    </div>
    <div class="pop-title">
      <div class="pop-title-content">
        <span class="important-icon">*</span>场景名称
        <input type="text" v-model="name" />
      </div>
      <div class="pop-title-button" @click="addPoint()">新建时段</div>
    </div>

    <div class="pop-table">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column prop="timeName" label="时段名称" width="100"></el-table-column>
        <el-table-column prop="name" label="选择时段">
          <template slot-scope="scope">
            <span class="left-box">
              <el-select
                v-model="scope.row.time1"
                placeholder="请选择"
                style="width: 65px;line-height: 42px;"
              >
                <el-option
                  v-for="(item,index) in 24"
                  :key="item.value"
                  :label="item.name"
                  :value="index"
                ></el-option>
              </el-select>
              <span>时</span>
              <el-select
                v-model="scope.row.time2"
                placeholder="请选择"
                style="width: 65px;line-height: 42px;"
              >
                <el-option
                  v-for="(item,index) in 60"
                  :key="item.value"
                  :label="item.name"
                  :value="index"
                ></el-option>
              </el-select>分
            </span>
            <span>—</span>
            <span class="right-box">
              <el-select
                v-model="scope.row.time3"
                placeholder="请选择"
                style="width: 65px;line-height: 42px;"
              >
                <el-option
                  v-for="(item,index) in 24"
                  :key="item.value"
                  :label="item.name"
                  :value="index"
                ></el-option>
              </el-select>
              <span>时</span>
              <el-select
                v-model="scope.row.time4"
                placeholder="请选择"
                style="width: 65px;line-height: 42px;"
              >
                <el-option
                  v-for="(item,index) in 60"
                  :key="item.value"
                  :label="index"
                  :value="index"
                ></el-option>
              </el-select>
              <span>分</span>
            </span>
          </template>
        </el-table-column>
        <el-table-column label="已选择" width="130">
          <template
            slot-scope="scope"
          >{{scope.row.time1 | getNormal}}:{{scope.row.time2 | getNormal}}-{{scope.row.time3 | getNormal}}:{{scope.row.time4 | getNormal}}</template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="deleteRow(scope.$index,tableData)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="button-group">
      <button class="table-button cancle-button" @click="closePop">取消</button>
      <button class="table-button commit-button" @click="getTime" :disabled="issubmit">提交</button>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { addTask } from "../../../../store/api/rockfish/addTimeTask";
import { config as configuration } from "@/utils/config.js";
export default {
  data() {
    return {
      issubmit: false, // 是否正在点击按钮
      name: "",
      urnArr: [],
      showInfo: [],
      tableData: [],
      options: [],
      selectTime: [],
      inputvalue: "",
      value: "",
      indexTime: 0,
      formInline: {
        user: "",
        region: ""
      }
    };
  },
  props: ["selectView", "editInfo"],
  mounted() {
    if (this.editInfo.name) {
      this.name = this.editInfo.name;
      this.tableData = this.editInfo.timeSlots;
      this.showInfo = this.editInfo.timeSlots.map(function (time, index) {
        time.time1 = Number.parseInt(time.start.substr(0, 2));
        time.time2 = Number.parseInt(time.start.substr(3, 2));
        time.time3 = Number.parseInt(time.end.substr(0, 2));
        time.time4 = Number.parseInt(time.end.substr(3, 2));
        time.name = index + 1;
        time.timeName = `时段${time.name}`;
      });
    }
    this.init();
  },
  methods: {
    init() {
      const screenArr = [];
      let urnStr = "";
      this.indexTime = this.tableData.length + 1;
      this.selectView.forEach((item) => {
        screenArr.push(item.properties.screens);
        urnStr = `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`;
        this.urnArr.push(urnStr);
      });
    },
    /**
     * 添加时间段
     * */
    addPoint() {
      const obj = {
        timeName: `时段${this.indexTime++}`,
        name: 0,
        time1: 0,
        time2: 0,
        time3: 0,
        time4: 0
      };
      this.tableData.push(obj);
    },
    /**
     * 点击提交的时候，去校验时间的大小是否合理
     * */
    getTime() {
      this.issubmit = true;
      this.issubmit = true;
      let isSunmit = false;
      for (let i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].time3 < this.tableData[i].time1) {
          this.$message(`时段${i + 1}时间范围不对`);
          return;
        } else if (this.tableData[i].time3 === this.tableData[i].time1) {
          if (this.tableData[i].time4 < this.tableData[i].time2) {
            this.$message(`时段${i + 1}时间范围不对`);
            return;
          } else {
            isSunmit = true;
          }
        } else {
          isSunmit = true;
        }
      }
      if (isSunmit) {
        this.computeTime();
      }
    },
    /**
     * 点击提交的时候，去更改时间的格式
     * */
    computeTime() {
      let time1, time2, time3, time4;
      this.tableData.forEach((item) => {
        if (item.time1 < 10) {
          time1 = "0" + item.time1;
        } else {
          time1 = item.time1;
        }
        if (item.time2 < 10) {
          time2 = "0" + item.time2;
        } else {
          time2 = item.time2;
        }
        if (item.time3 < 10) {
          time3 = "0" + item.time3;
        } else {
          time3 = item.time3;
        }
        if (item.time4 < 10) {
          time4 = "0" + item.time4;
        } else {
          time4 = item.time4;
        }
        const startTime = `${time1}:${time2}:00`;
        const endTime = `${time3}:${time4}:00`;
        const obj = {
          start: startTime,
          end: endTime
        };
        this.selectTime.push(obj);
      });
      this.submit();
    },
    /**
     * 确认提交
     * */
    submit() {
      if (this.name) {
        const sysName = Vue.ls.get("sysName");
        var screen;
        switch (sysName) {
          case "ROCKFISH-LXZ":
            screen = configuration.identifier.lxz.token;
            break;
          case "ROCKFISH-SANLIN":
            screen = configuration.identifier.sanlin.token;
            break;
          case "ROCKFISH-ZHOUJIADU":
            screen = configuration.identifier.zhoujiadu.token;
            break;
          case "ROCKFISH-ZHUQIAO":
            screen = configuration.identifier.zhuqiao.token;
            break;
          default:
            break;
        }
        if (screen) {
          const params = [
            {
              name: this.name, // 任务的名称
              screen: screen, // 屏幕的标记,目前要求写死
              cronExpression: "",
              segment: "ALL", // 大屏的某个位置
              candidates: this.urnArr, // 摄像机的所有的编码
              timeSlots: this.selectTime // 所有的时间段
            }
          ];
          addTask(params).then((res) => {
            res;
            if (this.editInfo.name) {
              this.$message("修改成功");
            } else {
              this.$message("添加成功");
            }
            this.closePop();
          });
        } else {
          this.$message({ type: "warning", message: "没有屏幕信息" });
        }
      } else {
        this.$message("场景名称不能为空");
      }
    },
    closePop() {
      this.$emit("closePop");
    },
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    formatter(row, column) {
      column;
      return row.indexTime;
    }
  },
  filters: {
    getNormal(time) {
      if (time < 10 && time !== "00") {
        return "0" + time;
      } else {
        return time;
      }
    }
  }
};
</script>

<style lang="less" scoped>
.container {
  background-color: #fff;
  width: 750px;
  height: 500px !important;
  font-size: 15px;
  color: #666;
  .pop-tab-title {
    display: flex;
    justify-content: space-between;
    background-color: #f7f8fa;
    height: 50px;
    line-height: 50px;
    color: #333;
    padding: 0 15px;
    .close-icon {
      font-size: 25px;
      color: #666;
      cursor: pointer;
      transition: all 0.5s ease-out 0s;
    }
  }
  .pop-title {
    display: flex;
    flex-flow: row;
    height: 60px;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    input {
      height: 40px;
      width: 300px;
      margin-left: 10px;
      border: 1px solid #ccc;
      outline: none;
      font-size: 15px;
      padding-left: 10px;
    }
    .pop-title-button {
      width: 90px;
      height: 40px;
      margin-left: 15px;
      line-height: 40px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #36a6ff;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
  .pop-table {
    padding: 0 15px;
    height: 300px;
    overflow: scroll;
  }
  .important-icon {
    color: red;
    margin-right: 3px;
  }
  @deep: ~">>>";

  @{deep} .el-table thead {
    color: #222 !important;
    text-align: center;
  }
  @{deep} .el-table th > .cell {
    text-align: center;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
  }
  @{deep} .el-table--enable-row-transition .el-table__body td {
    text-align: center;
    font-size: 15px;
  }
  @{deep} .el-table .cell {
    height: 35px !important;
    line-height: 35px !important;
    display: flex;
  }
  @{deep} .el-button--text {
    font-size: 15px;
  }
  @{deep} .el-input--suffix .el-input__inner {
    padding: 0;
    font-size: 12px;
    height: 25px;
  }
  .left-box,
  .right-box {
    border: 1px solid #ddd;
    padding: 5px;
    width: 170px;
    display: flex;
    align-items: center;
  }
  .button-group {
    display: flex;
    padding: 25px 80px;
    justify-content: space-around;
    .table-button {
      cursor: pointer;
      font-size: 15px;
      width: 120px;
      height: 40px;
      color: #fff;
      background-color: #36a6ff;
      border: none;
      outline: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  .close-icon:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}
</style>