<template>
  <div class="box">
    <el-button type="primary" style="margin-bottom: 5px" @click="backNvrList">
      返回
    </el-button>
    <el-table height="700" :data="deviceCameraList" style="width: 100%">
      <el-table-column
        align="center"
        label="ip"
        prop="ip"
        width="130"
      ></el-table-column>
      <el-table-column
        align="center"
        label="端口"
        prop="port"
        width="50"
      ></el-table-column>
      <el-table-column
        align="center"
        label="相机名称"
        prop="name"
        width="130"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="username"
        label="用户名"
        width="100"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="password"
        label="密码"
        width="130"
      ></el-table-column>
      <el-table-column
        align="center"
        label="通道序号"
        prop="channelNum"
        width="80"
      ></el-table-column>
      <!-- <el-table-column align="center" label="类型" prop="type" width="50"></el-table-column> -->
      <!-- <el-table-column align="center" label="状态" prop="status" width="80"></el-table-column> -->
      <el-table-column align="center" label="rtsp" prop="url"></el-table-column>
      <el-table-column
        align="center"
        label="创建时间"
        prop="createTime"
        width="160"
      ></el-table-column>
      <el-table-column
        align="center"
        label="修改时间"
        width="160"
        prop="updateTime"
      ></el-table-column>
      <el-table-column
        align="center"
        label="经纬度"
        width="160"
        prop="latlng"
      ></el-table-column>
      <el-table-column align="center" label="操作" width="200" fixed="right">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">
            编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="page-block">
      <el-pagination
        background
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage"
        :page-size="10"
        layout=" total,prev, pager, next, jumper"
        :total="deviceCameraListTotal"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    // const generateData = () => {
    //   const data = [];
    //   for (let i = 1; i <= 15; i++) {
    //     data.push({
    //       key: i,
    //       label: `备选项 ${ i }`,
    //       disabled: i % 4 === 0
    //     });
    //   }
    //   return data;
    // };
    return {
      // data: generateData(),
      // value: ['1'],
      params: {
        pageNo: 1,
        pageSize: 10,
        cameraId: ""
      },
      currentPage: 1,
      ruleForm: {
        pinpai: "",
        rtsp: "",
        xinghao: "",
        duankou: "",
        type: "",
        ip: "",
        lookBackIp: "",
        username: "",
        lookBackUserName: "",
        password: "",
        lookBackPassword: ""
      },
      cameraId: "",
      rules: {
        type: [
          { required: true, message: "请输入型号", trigger: "blur" },
          { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" }
        ],
        rtsp: [{ required: true, message: "请输入rtsp", trigger: "blur" }],
        ip: [{ required: true, message: "请输入ip", trigger: "blur" }]
      },
      renderFunc(h, option) {
        return (
          <span>
            {option.key} - {option.label}
          </span>
        );
      }
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    handleEdit: function(index, row) {
      this.$router.push({
        path: "/di/editCamera",
        query: {
          data: row.id,
          name: row.name
        }
      });
    },
    backNvrList() {
      this.$router.go(-1);
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("submit!");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.params.pageNo = val;
      this.$store.dispatch("getDeviceCameraList", {
        cameraId: this.cameraId,
        ...this.params
      });
    },
    handleChange(value, direction, movedKeys) {
      console.log(value, direction, movedKeys);
    }
  },

  created() {},
  mounted() {
    setTimeout(() => {
      this.cameraId = this.$route.query.cameraid;
      this.params.cameraId = this.$route.query.cameraid;
      this.$store.dispatch("getDeviceCameraList", this.params);
    }, 1000);
  },
  watch: {},
  computed: {
    ...mapState({
      deviceCameraListTotal: state => state.deviceInput.deviceCameraListTotal,
      deviceCameraList: state => state.deviceInput.deviceCameraList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>
<style lang="less">
@import "../../../assets/less/deviceInput/cameraList.less";
</style>
