<template>
  <div class="addAreaInfo">
    <div>
      <el-button type="primary" @click="backCamera">返回</el-button>
      <el-form :inline="true" :model="paramsForm" ref="paramsForm">
        <el-form-item label="标签类型" prop="ip">
          <el-tag
            :key="tag"
            v-for="tag in dynamicTags"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)"
          >
            {{ tag }}
          </el-tag>
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            ref="saveTagInput"
            size="small"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          ></el-input>
          <el-button
            v-else
            class="button-new-tag"
            size="small"
            @click="showInput"
          >
            + New Tag
          </el-button>
          <el-form-item label="相机名称" prop="name" label-width="110px">
            <el-input v-model="paramsForm.name"></el-input>
          </el-form-item>
          <el-form-item label="抓拍照片" prop="name" label-width="110px">
            <img
              :src="imgUrl"
              alt="正在加载，请稍后..."
              style="width: 100px; height: 100px"
              @click="chackImg"
            />
          </el-form-item>
          <el-button type="primary" @click="upDateCamera">提 交</el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-dialog title="摄像机图像" style="" :visible.sync="dialogFormVisible">
      <div class="dialog-footer" style="margin-top: 0">
        <el-image :src="imgUrl" alt="加载中，请稍后。"></el-image>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      imgUrl: "",
      ruleForm: {},
      dynamicTags: [],
      inputVisible: false,
      inputValue: "",
      Drawtype: "1",
      value: "",
      form: {
        type: false
      },
      disablebtn: true,
      dialogFormVisible: false,
      paramsForm: {},
      ip: ""
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    drawLinePloygon() {
      this.disablebtn = false;
      this.$store.commit("MOUSE_DRAW_POLYGON");
    },
    drawLinePloygoncycle() {
      this.disablebtn = false;
      this.$store.commit("MOUSE_DRAW_POLYGON_CYCLE");
    },
    clearLinePloygon() {
      this.disablebtn = true;
      this.$store.commit("CLEAR_PLOYGON");
    },
    changeType(data) {
      switch (data) {
        case "1":
          this.clearLinePloygon();
          break;
        case "2":
          this.clearLinePloygon();
          break;
      }
    },
    chackImg() {
      this.dialogFormVisible = true;
    },
    handleClose(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.dynamicTags.push(inputValue);
      }

      this.inputVisible = false;
      this.inputValue = "";
    },
    upDateCamera() {
      let params = {
        tags: this.dynamicTags,
        id: this.paramsForm.data,
        name: this.paramsForm.name
      };
      this.$store.dispatch("updatediCamera", params);
    },
    backCamera() {
      this.$router.go(-1);
    }
  },

  mounted() {
    this.paramsForm = this.$route.query;
    this.$store.dispatch("getCameraPic", { cameraId: this.paramsForm.data });
  },
  watch: {
    devicePic: function(val) {
      if (val) {
        console.log(val);
        console.log(process.env.VUE_APP_IMG_URL);
        this.imgUrl = process.env.VUE_APP_IMG_URL + val;
        console.log(this.imgUrl);
      }
    }
  },
  computed: {
    ...mapState({
      devicePic: state => state.deviceInput.devicePic
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less">
@import "~@/assets/less/deviceInput/areaInfo.less";
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>
