<template>
  <div class="discuss-list-container">
    <div class="list-container-left">
      <el-tree
        style="height: 100%"
        :data="districtTree"
        :props="props"
        show-checkbox
        default-expand-all
        @check="handleCheckChange"
      ></el-tree>
    </div>
    <div class="list-container-right">
      <el-tabs v-model="activeName" class="tabs">
        <el-tab-pane label="待处理" name="first" class="child">
          <div class="list-container-right-top">
            <el-form
              :inline="true"
              :model="searchForm"
              ref="searchForm"
              class="demo-form-inline"
            >
              <el-form-item label="手机号" prop="mobile">
                <el-input v-model="searchForm.mobile" placeholder=""></el-input>
              </el-form-item>
              <el-form-item label="报修人" prop="name">
                <el-input v-model="searchForm.name" placeholder=""></el-input>
              </el-form-item>
              <el-form-item label="报修时间 " required prop="dateRange">
                <el-col :span="11">
                  <el-date-picker
                    v-model="searchForm.dateRange"
                    type="daterange"
                    range-separator="至"
                    value-format="yyyy-MM-dd HH:hh:ss"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                  ></el-date-picker>
                </el-col>
              </el-form-item>
              <el-form-item>
                <el-button type="default" @click="onReset('searchForm')">
                  重置
                </el-button>
                <el-button type="primary" @click="onSearch">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list-container-right-bottom">
            <el-table
              ref="multipleTable"
              :data="repairList"
              border
              tooltip-effect="dark"
              style="width: 95%; margin: 0 auto"
              @selection-change="handleSelectionChange"
            >
              <el-table-column
                prop="neighbourhood"
                label="报修小区"
              ></el-table-column>
              <el-table-column prop="name" label="报修人"></el-table-column>
              <el-table-column
                prop="createTime"
                label="报修时间"
              ></el-table-column>
              <el-table-column prop="mobile" label="联系方式"></el-table-column>
              <el-table-column
                prop="content"
                label="报修内容"
              ></el-table-column>

              <el-table-column label="操作" width="100px">
                <template slot-scope="scope">
                  <div class="btn-container">
                    <img
                      style="width: 28px"
                      @click="handleSeeDetail(scope.$index, scope.row)"
                      src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E8%AF%A6%E6%83%85.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                </template>
              </el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination
                background
                layout="prev, pager, next"
                :total="repairListPagination.total"
                @current-change="handleCurrentChange"
              ></el-pagination>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="已处理" name="second" class="child">
          <div class="list-container-right-top">
            <el-form
              :inline="true"
              :model="searchForm2"
              ref="searchForm2"
              class="demo-form-inline"
            >
              <el-form-item label="手机号" prop="mobile">
                <el-input
                  v-model="searchForm2.mobile"
                  placeholder=""
                ></el-input>
              </el-form-item>
              <el-form-item label="报修人" prop="name">
                <el-input v-model="searchForm2.name" placeholder=""></el-input>
              </el-form-item>
              <el-form-item label="报修时间 " required prop="dateRange">
                <el-col :span="11">
                  <el-date-picker
                    v-model="searchForm2.dateRange"
                    type="daterange"
                    range-separator="至"
                    value-format="yyyy-MM-dd HH:hh:ss"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                  ></el-date-picker>
                </el-col>
              </el-form-item>
              <el-form-item label="处理人" prop="repairName">
                <el-input
                  v-model="searchForm2.repairName"
                  placeholder=""
                ></el-input>
              </el-form-item>
              <el-form-item label="处理时间 " required prop="dateRange2">
                <el-col :span="11">
                  <el-date-picker
                    v-model="searchForm2.dateRange2"
                    type="daterange"
                    range-separator="至"
                    value-format="yyyy-MM-dd HH:hh:ss"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                  ></el-date-picker>
                </el-col>
              </el-form-item>
              <el-form-item>
                <el-button type="default" @click="onReset2('searchForm2')">
                  重置
                </el-button>
                <el-button type="primary" @click="onSearch2">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list-container-right-bottom">
            <el-table
              ref="multipleTable"
              :data="repairListalr"
              border
              tooltip-effect="dark"
              style="width: 95%; margin: 0 auto"
              @selection-change="handleSelectionChange"
            >
              <el-table-column
                prop="neighbourhood"
                label="报修小区"
              ></el-table-column>
              <el-table-column prop="name" label="报修人"></el-table-column>
              <el-table-column
                prop="createTime"
                label="报修时间"
              ></el-table-column>
              <el-table-column prop="mobile" label="联系方式"></el-table-column>
              <el-table-column
                prop="content"
                label="报修内容"
              ></el-table-column>
              <el-table-column
                prop="repairName"
                label="维修人"
              ></el-table-column>
              <el-table-column
                prop="repairTime"
                label="维修时间"
              ></el-table-column>
              <el-table-column prop="result" label="维修结果"></el-table-column>
              <el-table-column label="操作" width="100px">
                <template slot-scope="scope">
                  <div class="btn-container">
                    <img
                      style="width: 28px"
                      @click="handleSeeDetail(scope.$index, scope.row)"
                      src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E8%AF%A6%E6%83%85.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                </template>
              </el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination
                background
                layout="prev, pager, next"
                :total="repairListalrPagination.total"
                @current-change="handleCurrentChange2"
              ></el-pagination>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      activeName: "first",
      idList: "",
      searchForm: {
        start: 0,
        count: 10,
        dateRange:[]
      },
      searchForm2: {
        start: 0,
        count: 10,
        dateRange:[]
      },
      selectedRows: [],
      props: {
        label: "name",
        children: "children"
      }
    };
  },
  methods: {
    handleCurrentChange(index) {
      this.searchForm.start = (index - 1) * 10;
      this.$store.dispatch("get_repair_list", this.searchForm);
    },
    handleCurrentChange2(index) {
      // console.log(index);
      this.searchForm2.start = (index - 1) * 10;
      this.$store.dispatch("repair_list_alr", this.searchForm2);
    },
    handleSeeDetail: function (...arg) {
      let [, { uniqueId }] = [...arg];
      this.$router.push(`/r/repair/repairDetail?uniqueId=${uniqueId}`);
    },
    handleSelectionChange: function (val) {
      this.selectedRows = val;
      let idList = val.map((item) => {
        return item.uniqueId;
      });
      this.idList = idList.join(",");
    },
    onSearch: function () {
      this.searchForm.start = 0;
      if (this.searchForm.dateRange.length > 0) {
        this.searchForm.startTime = this.searchForm.dateRange[0];
        this.searchForm.endTime = this.searchForm.dateRange[1];
      }
      this.$store.dispatch("get_repair_list", this.searchForm);
    },
    onSearch2: function () {
      this.searchForm2.start = 0;
      if (this.searchForm2.dateRange.length > 0) {
        (this.searchForm2.startTime = this.searchForm2.dateRange[0]),
          (this.searchForm2.endTime = this.searchForm2.dateRange[1]);
      }
      if (this.searchForm2.dateRange2.length > 0) {
        (this.searchForm2.repairStart = this.searchForm2.dateRange2[0]),
          (this.searchForm2.repairEnd = this.searchForm2.dateRange2[1]);
      }
      this.$store.dispatch("repair_list_alr", this.searchForm2);
    },
    onReset: function (formName) {
      this.$refs[formName].resetFields();
    },
    onReset2: function (formName) {
      this.$refs[formName].resetFields();
    },
    handleCheckChange: function (data, checked, indeter, fuck) {
      let selectedNodes = checked.checkedNodes.filter((item) => {
        if (item.type == "小区") {
          return item.districtId;
        }
      });
      Vue.ls.set(
        "districtIds",
        selectedNodes.map((item) => item.districtId)
      );
      // console.log(Vue.ls.get("districtIds"));
      let params = {
        count: 10,
        districtIds: Vue.ls.get("districtIds"),
        start: 0
      };
      if (Vue.ls.get("districtIds").length>0) {
        this.$store.dispatch("get_repair_list", params);
        this.$store.dispatch("repair_list_alr", params);
      }
    },
    loadNode(node, resolve) {
      // console.log(node);
      resolve[{ name: "123" }];
    },
    ...mapMutations([])
  },

  mounted() {
    var params = {};
    let districtId = sessionStorage.getItem("villageDistrictId");
    if (districtId) {
      params = {
        count: 10,
        districtIds: [districtId],
        start: 0
      };
    } else {
      params = {
        count: 10,
        districtIds: [],
        start: 0
      };
    }
    // console.log(districtId);
    this.$store.dispatch("get_repair_list", params);
    this.$store.dispatch("repair_list_alr", params);
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("villageDistrictId")
    });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      districtTree: (state) => state.ronghe.districtTree,
      repairListPagination: (state) => state.ronghe.repairListPagination,
      repairList: (state) => state.ronghe.repairList,
      repairListalrPagination: (state) => state.ronghe.repairListalrPagination,
      repairListalr: (state) => state.ronghe.repairListalr
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.discuss-list-container {
  box-sizing: border-box;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 15% 1fr;
  height: 100%;
  grid-template-rows: 1fr;
  .list-container-left {
    border-right: 1px solid #eeeeee;
  }

  .list-container-right {
    box-sizing: border-box;
    padding: 0 5px;
    .list-container-right-middle {
      display: flex;
      width: 95%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      .zhiding,
      .cancel-zhiding {
        cursor: pointer;
        margin-right: 20px;
      }
      .zhiding,
      .cancel-zhiding,
      .delete {
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
    .list-container-right-bottom {
      .pagination-container {
        text-align: center;
        margin-top: 10px;
      }
      width: 100%;
      .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
</style>
