<template>
  <div class="container">
    <div class="header">
      <el-button icon="el-icon-back" @click="goback">返回</el-button>
    </div>
    <div class="body">
      <div class="detailTile">报修信息</div>
      <div class="rowBox">
        <div class="itemBox">
          <div class="itemname">报修小区</div>
          <div class="itemcontent">{{ repairDetailInfo.districtName }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">报修人</div>
          <div class="itemcontent">{{ repairDetailInfo.name }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">报修时间</div>
          <div class="itemcontent">{{ repairDetailInfo.createTime }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">联系方式</div>
          <div class="itemcontent">{{ repairDetailInfo.mobile }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">报修内容</div>
          <div class="itemcontent">{{ repairDetailInfo.content }}</div>
        </div>
      </div>
      <div class="rowBox">
        <div class="itemBox">
          <div class="itemname">报修图片</div>
          <div class="itemcontent">
            <img
              v-for="img in filePaths"
              :key="img"
              style="width: 80px; height: 80px; margin-right: 10px"
              :src="imgPrefix + img"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="detailTile">维修结果</div>
      <div class="rowBox">
        <div class="itemBox">
          <div class="itemname">维修人员</div>
          <div class="itemcontent">{{ repairDetailInfo.repairName }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">维修时间</div>
          <div class="itemcontent">{{ repairDetailInfo.repairTime }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">维修结果</div>
          <div class="itemcontent">{{ repairDetailInfo.result }}</div>
        </div>
        <div class="itemBox">
          <div class="itemname">上传图片</div>
          <div class="itemcontent">
            <img
              v-for="img in filePathSs"
              :key="img"
              style="width: 80px; height: 80px; margin-right: 10px"
              :src="imgPrefix + img"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  mounted() {
    this.$store.dispatch("repair_detail", {
      uniqueId: this.$route.query.uniqueId
    });
  },
  methods: {
    goback() {
      this.$router.back(-1);
    }
  },
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_RONGHE_IMG_URL;
    },
    ...mapState({
      repairDetailInfo: (state) => state.ronghe.repairDetail.guaranteeObject,
      filePaths: (state) => state.ronghe.repairDetail.filePaths,
      filePathSs: (state) => state.ronghe.repairDetail.filePathSs
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  .header {
    height: 60px;
    width: 100%;
    border-bottom: #c1c1c1 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .body {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 30px;
    .detailTile {
      font-size: 20px;
      color: #65a7ff;
      margin-top: 10px;
    }
    .rowBox {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .itemBox {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 10px;
      }
      .itemname {
        width: 100%;
        color: #858585;
        font-size: 17px;
      }
      .itemcontent {
        width: 100%;
        color: black;
        font-size: 17px;
        margin-top: 10px;
      }
    }
  }
}
</style>
