<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <script>
      if (navigator.userAgent.toLowerCase().indexOf("dingtalk") > -1) {
        document.writeln(
          '<script src="https://appx/web-view.min.js"' +
            ">" +
            "<" +
            "/" +
            "script>"
        );
      }
    </script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <!-- <script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.15&key=14bf04e15750c35999275d63924f863c&plugin=AMap.MarkerClusterer">
  </script> -->
    <!-- <script src="http://web-test.bearhunting.cn:58092/streamedian.min.js"></script> -->
    <script
      type="text/javascript"
      src="https://webapi.amap.com/maps?v=1.4.15&key=14bf04e15750c35999275d63924f863c&plugin=AMap.MouseTool,AMap.Riding,AMap.Geocoder,AMap.Autocomplete,AMap.PlaceSearch,AMap.ToolBar"
      
    ></script>
    <script src="//webapi.amap.com/ui/1.1/main.js"></script>
    <script type="text/javascript" src="/lib/base64.js"></script>
    <script type="text/javascript" src="/lib/md5.js"></script>

    <scr type="text/javascript" src="./lib/rockey-arm.js"></scr>
    <scr type="text/javascript" src="/lib/uest.js"></scr>
    <scr type="text/javascript" src="/lib/websocket.js"></scr>
    <scr type="text/javascript" src="/lib/Ukey.js"></scr>

    <script src="https://cdn.bootcss.com/hls.js/0.13.2/hls.min.js"></script>
    <!-- <script src="/jquery-3.1.1.js"></script> -->
    <script src="/video.min.js"></script>
    <!-- <script src="/streamedian.min.js"></script> -->
    <script src="/hls.min.js"></script>
    <!-- <script src="http://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js"></script> -->

    <!-- <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script> -->

    <!-- <script src = "aes.min.js"></script> -->
  </head>

  <body>
    <noscript>
      <strong>
        We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
    </script>
  <style>
    body,
    html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    h1 {
      text-align: center;
      color: white;
      font-size: 60px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .content {
      max-width: 600px;
      margin: auto;
      padding: 5px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .content .column {
      width: calc(33.33% - 10px);
      height: 170px;
      background-color: #040038;
      margin: 5px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      width: 30px;
      height: 30px;
      position: relative;
    }

    .container.animation-1 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .container.animation-2,
    .container.animation-4 {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }

    .container.animation-2 .shape,
    .container.animation-4 .shape {
      border-radius: 5px;
    }

    .container.animation-2,
    .container.animation-3,
    .container.animation-4 {
      -webkit-animation: rotation 1s infinite;
      animation: rotation 1s infinite;
    }

    .container.animation-3 .shape1 {
      border-top-left-radius: 10px;
    }

    .container.animation-3 .shape2 {
      border-top-right-radius: 10px;
    }

    .container.animation-3 .shape3 {
      border-bottom-left-radius: 10px;
    }

    .container.animation-3 .shape4 {
      border-bottom-right-radius: 10px;
    }

    .container.animation-4,
    .container.animation-5 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .container.animation-5 .shape {
      width: 15px;
      height: 15px;
    }

    .container.animation-6 {
      -webkit-animation: rotation 1s infinite;
      animation: rotation 1s infinite;
    }

    .container.animation-6 .shape {
      width: 12px;
      height: 12px;
      border-radius: 2px;
    }

    .container .shape {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 1px;
    }

    .container .shape.shape1 {
      left: 0;
      background-color: #5c6bc0;
    }

    .container .shape.shape2 {
      right: 0;
      background-color: #8bc34a;
    }

    .container .shape.shape3 {
      bottom: 0;
      background-color: #ffb74d;
    }

    .container .shape.shape4 {
      bottom: 0;
      right: 0;
      background-color: #f44336;
    }

    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .animation-1 .shape1 {
      -webkit-animation: animation1shape1 0.5s ease 0s infinite alternate;
      animation: animation1shape1 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation1shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(16px, 16px);
        transform: translate(16px, 16px);
      }
    }

    @keyframes animation1shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(16px, 16px);
        transform: translate(16px, 16px);
      }
    }

    .animation-1 .shape2 {
      -webkit-animation: animation1shape2 0.5s ease 0s infinite alternate;
      animation: animation1shape2 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation1shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-16px, 16px);
        transform: translate(-16px, 16px);
      }
    }

    @keyframes animation1shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-16px, 16px);
        transform: translate(-16px, 16px);
      }
    }

    .animation-1 .shape3 {
      -webkit-animation: animation1shape3 0.5s ease 0s infinite alternate;
      animation: animation1shape3 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation1shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(16px, -16px);
        transform: translate(16px, -16px);
      }
    }

    @keyframes animation1shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(16px, -16px);
        transform: translate(16px, -16px);
      }
    }

    .animation-1 .shape4 {
      -webkit-animation: animation1shape4 0.5s ease 0s infinite alternate;
      animation: animation1shape4 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation1shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-16px, -16px);
        transform: translate(-16px, -16px);
      }
    }

    @keyframes animation1shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-16px, -16px);
        transform: translate(-16px, -16px);
      }
    }

    .animation-2 .shape1 {
      -webkit-animation: animation2shape1 0.5s ease 0s infinite alternate;
      animation: animation2shape1 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation2shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
      }
    }

    @keyframes animation2shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
      }
    }

    .animation-2 .shape2 {
      -webkit-animation: animation2shape2 0.5s ease 0s infinite alternate;
      animation: animation2shape2 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation2shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px);
      }
    }

    @keyframes animation2shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px);
      }
    }

    .animation-2 .shape3 {
      -webkit-animation: animation2shape3 0.5s ease 0s infinite alternate;
      animation: animation2shape3 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation2shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
      }
    }

    @keyframes animation2shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
      }
    }

    .animation-2 .shape4 {
      -webkit-animation: animation2shape4 0.5s ease 0s infinite alternate;
      animation: animation2shape4 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation2shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px);
      }
    }

    @keyframes animation2shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px);
      }
    }

    .animation-3 .shape1 {
      -webkit-animation: animation3shape1 0.5s ease 0s infinite alternate;
      animation: animation3shape1 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation3shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
      }
    }

    @keyframes animation3shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
      }
    }

    .animation-3 .shape2 {
      -webkit-animation: animation3shape2 0.5s ease 0s infinite alternate;
      animation: animation3shape2 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation3shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
      }
    }

    @keyframes animation3shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
      }
    }

    .animation-3 .shape3 {
      -webkit-animation: animation3shape3 0.5s ease 0s infinite alternate;
      animation: animation3shape3 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation3shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
      }
    }

    @keyframes animation3shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
      }
    }

    .animation-3 .shape4 {
      -webkit-animation: animation3shape4 0.5s ease 0s infinite alternate;
      animation: animation3shape4 0.5s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation3shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
      }
    }

    @keyframes animation3shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
      }
    }

    .animation-4 .shape1 {
      -webkit-animation: animation4shape1 0.3s ease 0s infinite alternate;
      animation: animation4shape1 0.3s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation4shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
      }
    }

    @keyframes animation4shape1 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
      }
    }

    .animation-4 .shape2 {
      -webkit-animation: animation4shape2 0.3s ease 0.3s infinite alternate;
      animation: animation4shape2 0.3s ease 0.3s infinite alternate;
    }

    @-webkit-keyframes animation4shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
      }
    }

    @keyframes animation4shape2 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
      }
    }

    .animation-4 .shape3 {
      -webkit-animation: animation4shape3 0.3s ease 0.3s infinite alternate;
      animation: animation4shape3 0.3s ease 0.3s infinite alternate;
    }

    @-webkit-keyframes animation4shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
      }
    }

    @keyframes animation4shape3 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
      }
    }

    .animation-4 .shape4 {
      -webkit-animation: animation4shape4 0.3s ease 0s infinite alternate;
      animation: animation4shape4 0.3s ease 0s infinite alternate;
    }

    @-webkit-keyframes animation4shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
      }
    }

    @keyframes animation4shape4 {
      from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      to {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
      }
    }

    .animation-5 .shape1 {
      animation: animation5shape1 2s ease 0s infinite reverse;
    }

    @-webkit-keyframes animation5shape1 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
      }

      50% {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
      }

      75% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
      }
    }

    @keyframes animation5shape1 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
      }

      50% {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
      }

      75% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
      }
    }

    .animation-5 .shape2 {
      animation: animation5shape2 2s ease 0s infinite reverse;
    }

    @-webkit-keyframes animation5shape2 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(-15px, 0);
        transform: translate(-15px, 0);
      }

      50% {
        -webkit-transform: translate(-15px, 15px);
        transform: translate(-15px, 15px);
      }

      75% {
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
      }
    }

    @keyframes animation5shape2 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(-15px, 0);
        transform: translate(-15px, 0);
      }

      50% {
        -webkit-transform: translate(-15px, 15px);
        transform: translate(-15px, 15px);
      }

      75% {
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
      }
    }

    .animation-5 .shape3 {
      animation: animation5shape3 2s ease 0s infinite reverse;
    }

    @-webkit-keyframes animation5shape3 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
      }

      50% {
        -webkit-transform: translate(15px, -15px);
        transform: translate(15px, -15px);
      }

      75% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
      }
    }

    @keyframes animation5shape3 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
      }

      50% {
        -webkit-transform: translate(15px, -15px);
        transform: translate(15px, -15px);
      }

      75% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
      }
    }

    .animation-5 .shape4 {
      animation: animation5shape4 2s ease 0s infinite reverse;
    }

    @-webkit-keyframes animation5shape4 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
      }

      50% {
        -webkit-transform: translate(-15px, -15px);
        transform: translate(-15px, -15px);
      }

      75% {
        -webkit-transform: translate(-15px, 0);
        transform: translate(-15px, 0);
      }
    }

    @keyframes animation5shape4 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
      }

      50% {
        -webkit-transform: translate(-15px, -15px);
        transform: translate(-15px, -15px);
      }

      75% {
        -webkit-transform: translate(-15px, 0);
        transform: translate(-15px, 0);
      }
    }

    .animation-6 .shape1 {
      -webkit-animation: animation6shape1 2s linear 0s infinite normal;
      animation: animation6shape1 2s linear 0s infinite normal;
    }

    @-webkit-keyframes animation6shape1 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
      }

      50% {
        -webkit-transform: translate(18px, 18px);
        transform: translate(18px, 18px);
      }

      75% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
      }
    }

    @keyframes animation6shape1 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
      }

      50% {
        -webkit-transform: translate(18px, 18px);
        transform: translate(18px, 18px);
      }

      75% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
      }
    }

    .animation-6 .shape2 {
      -webkit-animation: animation6shape2 2s linear 0s infinite normal;
      animation: animation6shape2 2s linear 0s infinite normal;
    }

    @-webkit-keyframes animation6shape2 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
      }

      50% {
        -webkit-transform: translate(-18px, 18px);
        transform: translate(-18px, 18px);
      }

      75% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
      }
    }

    @keyframes animation6shape2 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
      }

      50% {
        -webkit-transform: translate(-18px, 18px);
        transform: translate(-18px, 18px);
      }

      75% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
      }
    }

    .animation-6 .shape3 {
      -webkit-animation: animation6shape3 2s linear 0s infinite normal;
      animation: animation6shape3 2s linear 0s infinite normal;
    }

    @-webkit-keyframes animation6shape3 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
      }

      50% {
        -webkit-transform: translate(18px, -18px);
        transform: translate(18px, -18px);
      }

      75% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
      }
    }

    @keyframes animation6shape3 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
      }

      50% {
        -webkit-transform: translate(18px, -18px);
        transform: translate(18px, -18px);
      }

      75% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
      }
    }

    .animation-6 .shape4 {
      -webkit-animation: animation6shape4 2s linear 0s infinite normal;
      animation: animation6shape4 2s linear 0s infinite normal;
    }

    @-webkit-keyframes animation6shape4 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
      }

      50% {
        -webkit-transform: translate(-18px, -18px);
        transform: translate(-18px, -18px);
      }

      75% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
      }
    }

    @keyframes animation6shape4 {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
      }

      50% {
        -webkit-transform: translate(-18px, -18px);
        transform: translate(-18px, -18px);
      }

      75% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
      }
    }

    @media screen and (max-width: 600px) {
      .content {
        align-content: flex-start;
      }

      .content .column {
        width: calc(50% - 30px);
      }
    }

    @media screen and (max-width: 400px) {
      .content {
        align-content: flex-start;
      }

      .content .column {
        width: calc(100% - 30px);
      }
    }

    footer {
      margin-top: 50px;
      padding-bottom: 50px;
    }

    footer p {
      text-align: center;
      margin: 0;
      line-height: 20px;
      font-size: 13px;
      color: white;
      font-weight: 400;
    }

    footer p a {
      color: #ffb74d;
    }
  </style>
</html>
