<template>
  <div class="deviceManage">
    <div class="title">用户详情</div>
    <div class="panel-right">
      <el-form :model="ruleForm" ref="ruleForm" class="demo-ruleForm">
        <el-form-item
          label="车主姓名"
          prop="bicycleOwnerName"
          label-width="150px"
        >
          <el-input
            v-model="ruleForm.bicycleOwnerName"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item label="车主电话" prop="phone" label-width="150px">
          <el-input v-model="ruleForm.phone" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item
          label="车主身份证号"
          prop="idCardNumber"
          label-width="150px"
        >
          <el-input
            v-model="ruleForm.idCardNumber"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item label="昵称" prop="idCardNumber" label-width="150px">
          <el-input v-model="ruleForm.nickName" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item label="创建时间" prop="idCardNumber" label-width="150px">
          <el-input
            v-model="ruleForm.createTime"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="最近一次访问时间"
          prop="idCardNumber"
          label-width="150px"
        >
          <el-input
            v-model="ruleForm.lastUpdateTime"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="车辆绑定时间"
          prop="idCardNumber"
          label-width="150px"
        >
          <el-input
            v-model="ruleForm.bindingTime"
            style="width: 220px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div class="title">车辆信息</div>
      <el-form
        :model="ruleForm"
        ref="ruleForm"
        class="demo-ruleForm"
        :inline="true"
        v-for="ruleForm in radarBicycleList"
        :key="ruleForm.ID"
      >
        <el-form-item
          label="登记机构"
          prop="bicycleOwnerName"
          label-width="150px"
        >
          <el-input
            v-model="ruleForm.registrationAgency"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item label="主标签位置" prop="phone" label-width="150px">
          <el-input v-model="ruleForm.mainTag" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item
          label="副标签位置"
          prop="idCardNumber"
          label-width="150px"
        >
          <el-input v-model="ruleForm.subTag" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item label="车架号" prop="idCardNumber" label-width="150px">
          <el-input v-model="ruleForm.vin" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item label="牌照号" prop="idCardNumber" label-width="150px">
          <el-input
            v-model="ruleForm.licensePlate"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item label="安装时间" label-width="150px">
          <el-input
            v-model="ruleForm.createTime"
            style="width: 220px"
          ></el-input>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentPage: 0,
      ruleForm: {
        pege: 1,
        size: 10
      },
      rules: {}
    };
  },
  methods: {
    ...mapMutations([]),
    onSubmit() {
      this.$store.dispatch("getRadarUserList", this.ruleForm);
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  },

  mounted() {
    this.ruleForm = this.$route.query.detail;
    this.$store.dispatch("getRadarUserList", this.ruleForm);
    this.$store.dispatch("getBicycleList", {
      idCardNumber: this.ruleForm.idCardNumber
    });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      radarBicycleList: (state) => state.radar.radarBicycleList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.deviceManage {
  padding: 15px;
}
.page-style {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 20px;
}
.table-style {
  margin: 15px;
}
.title {
  padding: 20px;
}
</style>
