<template>
  <div class="deviceManage">
    <div class="panel-right">
      <el-form
        :model="ruleForm"
        ref="ruleForm"
        label-width="130px"
        class="demo-ruleForm"
        :inline="true"
      >
        <el-form-item label="车主姓名" prop="params.name" label-width="100px">
          <el-input
            v-model="ruleForm.params.name"
            style="width: 220px"
          ></el-input>
        </el-form-item>
        <el-form-item label="车主电话" prop="params.phone" label-width="100px">
          <el-input
            v-model="ruleForm.params.phone"
            @input="getsuerIphone"
            style="width: 220px"
          ></el-input>
        </el-form-item>

        <el-form-item>
          <div class="">
            <el-button
              style="margin-left: 60px"
              type="primary"
              @click="onSubmit('ruleForm')"
            >
              查询
            </el-button>
            <el-button @click="resetForm('ruleForm')" style="margin-left: 20px">
              重置
            </el-button>
          </div>
        </el-form-item>
      </el-form>
      <div class="table-style">
        <el-table
          max-height="550"
          :data="userList"
          tooltip-effect="dark"
          border
          style="width: 100%"
        >
          <el-table-column
            prop="name"
            width="100"
            label="车主姓名"
          ></el-table-column>
          <el-table-column
            prop="member.phones"
            label="车主电话"
          ></el-table-column>
          <el-table-column label="身份证" show-overflow-tooltip>
            <template slot-scope="scope">
              {{ scope.row.idCards[0] }}
            </template>
          </el-table-column>
          <el-table-column
            prop="member.nickName"
            label="昵称"
          ></el-table-column>
          <el-table-column prop="wenTime" label="创建时间"></el-table-column>
          <el-table-column
            prop="wenupDateTime"
            label="最近一次访问时间"
          ></el-table-column>
          <!--          <el-table-column-->
          <!--            prop="wenbindTime"-->
          <!--            label="车辆绑定时间"-->
          <!--          ></el-table-column>-->
          <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
              <el-button
                @click="handleClick(scope.row)"
                type="text"
                size="small"
              >
                查看轨迹
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="page-style">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="ruleForm.count"
          layout="total, prev, pager, next, jumper"
          :total="radarUserPagination.total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentPage: 0,
      ruleForm: {
        page: {
          start: 0,
          count: 10
        },
        params: {}
      },
      rules: {}
    };
  },
  methods: {
    ...mapMutations([]),
    getsuerIphone(val) {
      if (val == "") {
        this.ruleForm.params.phone = null;
      }
    },
    onSubmit() {
      this.$store.dispatch("getRadarUserList", this.ruleForm);
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleCurrentChange(val) {
      this.ruleForm.page.start = (val - 1) * 10;
      this.$store.dispatch("getRadarUserList", this.ruleForm);
    },
    handleClick(val) {
      this.$router.push({
        path: "/radar/electricCarPath",
        query: {
          type: "user",
          idCardNumber: val.idCards[0]
        }
      });
    },
    handleClickDetail(val) {
      this.$router.push({
        path: "/radar/usermanageDetail",
        query: {
          detail: val
        }
      });
    }
  },

  mounted() {
    this.$store.dispatch("getRadarUserList", this.ruleForm);
  },
  filters: {},
  watch: {
    userList: function (val) {
      val.forEach((t) => {
        t.wenTime =
          val[0].auditHead.createdOn.substr(0, 10) +
          " " +
          val[0].auditHead.createdOn.substr(11, 8);
        if (val[0].auditHead.lastUpdatedOn) {
          t.wenupDateTime =
            val[0].auditHead.lastUpdatedOn.substr(0, 10) +
            " " +
            val[0].auditHead.lastUpdatedOn.substr(11, 8);
          t.wenbindTime =
            val[0].auditHead.lastUpdatedOn.substr(0, 10) +
            " " +
            val[0].auditHead.lastUpdatedOn.substr(11, 8);
        }
      });
    }
  },
  computed: {
    ...mapState({
      radarUserPagination: (state) => state.radar.radarUserPagination,
      userList: (state) => state.radar.userList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "../../../assets/less/radar/electricCarList.less";
.page-style {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 20px;
}
.table-style {
  margin: 15px;
}
</style>
