<template>
  <div class="basecontainer">
    <el-row style="background-color: #ffffff">
      <el-col :span="5">
        <el-row style="margin-top: 10px; margin-bottom: 10px">
          <el-col :span="15">
            <el-input
              placeholder="输入关键字进行过滤"
              v-model="filterText1"
            ></el-input>
          </el-col>
          <el-col :span="5">
            <el-button @click="handleSearchDistrict" type="primary">
              搜索
            </el-button>
          </el-col>
        </el-row>
        <div
          class="el-transfer-panel__body"
          style="overflow: auto; padding-bottom: 45px"
        >
          <el-tree
            :highlight-current="true"
            :data="districtList"
            node-key="id"
            ref="tree"
            default-expand-all
            :props="defaultProps"
            :filter-node-method="filterNode1"
            @node-click="handleNodeClick"
          ></el-tree>
        </div>
      </el-col>
      <el-col :span="19">
        <div class="highPointTabs">
          <div class="headerBox">
            <div class="firstrow">
              <div class="inputBox">
                <div class="title">设备名称</div>
                <el-input v-model="queryParams.name"></el-input>
              </div>
              <div class="inputBox">
                <div class="title">国标编码</div>
                <el-input v-model="queryParams.gbIndex"></el-input>
              </div>
              <div class="inputBox">
                <div class="title">流地址</div>
                <el-input v-model="queryParams.rtspUrl"></el-input>
              </div>
              <div class="inputBox">
                <div class="title">接入类型</div>
                <el-select v-model="queryParams.hflag" placeholder="请选择">
                  <el-option
                    v-for="item in type"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </div>
              <el-button
                type="primary"
                style="margin-left: 10px"
                @click="query"
              >
                查询
              </el-button>
              <el-button @click="reset">重置</el-button>
            </div>
            <div class="firstrow">
              <el-button
                @click="importFromHaikang"
                type="text"
                icon="el-icon-plus"
                style="margin-left: 20px"
              >
                从海康平台接入
              </el-button>
              <el-button
                @click="addLowPoint"
                type="text"
                icon="el-icon-plus"
                style="margin-left: 20px"
              >
                新增低点
              </el-button>
              <el-button
                @click="downloadTemplate"
                type="text"
                icon="el-icon-download"
                style="margin-left: 20px"
              >
                下载导入模板
              </el-button>
              <el-upload
                ref="excel-upload"
                class="upload-demo"
                action="/arxz/backend/importCamera"
                :limit="1"
                name="file"
                :file-list="fileList"
                :show-file-list="false"
                :on-success="uploadExcel"
              >
                <el-button
                  @click="downloadExcel"
                  type="text"
                  icon="el-icon-download"
                  style="margin-left: 20px"
                >
                  excel导入
                </el-button>
              </el-upload>
              <el-button
                @click="deleteMore"
                type="text"
                icon="el-icon-delete"
                style="margin-left: 20px"
              >
                批量删除
              </el-button>
            </div>
          </div>

          <div class="tablebox">
            <el-table
              ref="multipleTable"
              :data="lowPointList.data"
              tooltip-effect="dark"
              style="width: 100%"
              border=""
              @select="handleSelected"
            >
              <el-table-column
                type="selection"
                align="center"
                width="55"
              ></el-table-column>
              <el-table-column
                label="序号"
                width="85"
                align="center"
                type="index"
              ></el-table-column>
              <el-table-column
                prop="id"
                label="设备ID"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="name"
                label="设备名称"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="gbIndex"
                label="国标编码"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="resourse"
                label="来源"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="lng"
                label="经度"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="lat"
                label="纬度"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="altitude"
                label="海拔"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="remark"
                label="描述"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="rtspUrl"
                label="RTSP流地址"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="ptz"
                label="PTZ"
                align="center"
              ></el-table-column>
              <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                  <el-button type="text" @click="edit(scope.row)">
                    编辑
                  </el-button>
                  <el-button type="text" @click="deleteCamera(scope.row)">
                    删除
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <el-pagination
            @current-change="handleChange"
            background
            layout="prev, pager, next,total"
            :page-size="queryParams.limit"
            :total="lowPointList.totalAll"
          ></el-pagination>

          <el-dialog
            title="编辑"
            :visible.sync="editDialogVisible"
            width="32%"
            center
          >
            <div class="addForm">
              <div class="inputRow">
                <!-- 改成根据所选区域固定字段 -->
                <div class="title">所属区域：</div>
                <!-- <el-input v-model="text" style="width: 60%"></el-input> -->
                <div>
                  <div v-if="rootNode" style="display: inline">
                    {{ rootNode }}/
                  </div>
                  <div style="display: inline">
                    {{ secondNode }} / {{ leafNode }}
                  </div>
                </div>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">接入类型：</div>
                <el-select v-model="editInfo.hflag" placeholder="请选择">
                  <el-option
                    v-for="item in type"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">接入来源：</div>
                <el-input
                  v-model="editInfo.source"
                  placeholder="如 区城运视频中台"
                  style="width: 60%"
                ></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">相机ID：</div>
                <el-input v-model="editInfo.id" style="width: 60%"></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">相机名称：</div>
                <el-input v-model="editInfo.name" style="width: 60%"></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">RTSP流地址：</div>
                <el-input
                  v-model="editInfo.rtspUrl"
                  style="width: 60%"
                ></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">支持PTZ：</div>
                <el-radio v-model="editInfo.ptz" label="1">支持</el-radio>
                <el-radio v-model="editInfo.ptz" label="0">不支持</el-radio>
              </div>
              <div class="inputRow">
                <div class="title">经度：</div>
                <el-input type="text" v-model="editInfo.lng" style="width: 60%">
                  <slot class="slot" slot="suffix">度</slot>
                </el-input>
              </div>
              <div class="inputRow">
                <div class="title">纬度：</div>
                <el-input type="text" v-model="editInfo.lat" style="width: 60%">
                  <slot class="slot" slot="suffix">度</slot>
                </el-input>
              </div>
              <div class="inputRow">
                <div class="title">海拔：</div>
                <el-input
                  type="text"
                  v-model="editInfo.altitude"
                  style="width: 60%"
                >
                  <slot class="slot" slot="suffix">米</slot>
                </el-input>
              </div>
              <div class="inputRow">
                <div class="title">描述：</div>
                <el-input
                  v-model="editInfo.remark"
                  style="width: 60%"
                ></el-input>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="editDialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="editConfirm">确 定</el-button>
            </span>
          </el-dialog>
          <el-dialog
            title="新增设备"
            :visible.sync="addDialogVisible"
            width="32%"
            center
          >
            <div class="addForm">
              <div class="inputRow">
                <!-- 改成根据所选区域固定字段 -->
                <div class="title">所属区域：</div>
                <!-- <el-input v-model="text" style="width: 60%"></el-input> -->
                <div>
                  <div v-if="rootNode" style="display: inline">
                    {{ rootNode }}/
                  </div>
                  <div style="display: inline">
                    {{ secondNode }} / {{ leafNode }}
                  </div>
                </div>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">接入类型：</div>
                <el-select v-model="addParams.hflag" placeholder="请选择">
                  <el-option
                    v-for="item in type"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">接入来源：</div>
                <el-input
                  v-model="addParams.source"
                  placeholder="如 区城运视频中台"
                  style="width: 60%"
                ></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">相机ID：</div>
                <el-input v-model="addParams.id" style="width: 60%"></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">相机名称：</div>
                <el-input
                  v-model="addParams.name"
                  style="width: 60%"
                ></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">RTSP流地址：</div>
                <el-input
                  v-model="addParams.rtspUrl"
                  style="width: 60%"
                ></el-input>
              </div>
              <div class="inputRow">
                <div class="require">*</div>
                <div class="title">支持PTZ：</div>
                <el-radio v-model="addParams.ptz" label="1">支持</el-radio>
                <el-radio v-model="addParams.ptz" label="0">不支持</el-radio>
              </div>
              <div class="inputRow">
                <div class="title">经度：</div>
                <el-input
                  type="text"
                  v-model="addParams.lng"
                  style="width: 60%"
                >
                  <slot class="slot" slot="suffix">度</slot>
                </el-input>
              </div>
              <div class="inputRow">
                <div class="title">纬度：</div>
                <el-input
                  type="text"
                  v-model="addParams.lat"
                  style="width: 60%"
                >
                  <slot class="slot" slot="suffix">度</slot>
                </el-input>
              </div>
              <div class="inputRow">
                <div class="title">海拔：</div>
                <el-input
                  type="text"
                  v-model="addParams.altitude"
                  style="width: 60%"
                >
                  <slot class="slot" slot="suffix">米</slot>
                </el-input>
              </div>
              <div class="inputRow">
                <div class="title">描述：</div>
                <el-input
                  v-model="addParams.remark"
                  style="width: 60%"
                ></el-input>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="addDialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="addConfirm">确 定</el-button>
            </span>
          </el-dialog>
          <el-dialog
            title="导入海康组织树设备"
            :visible.sync="HaiKangDialogVisible"
            width="40%"
            center
          >
            <div class="el-transfer">
              <div class="el-transfer-panel">
                <div class="el-transfer-panel__header">
                  <el-input
                    size="mini"
                    placeholder="请输入检索条件"
                    prefix-icon="el-icon-search"
                    v-model="filterText2"
                  ></el-input>
                </div>
                <div class="el-transfer-panel__body" style="overflow: auto">
                  <el-tree
                    @check="moveTo"
                    @node-click="getCamera"
                    show-checkbox
                    class="filter-tree"
                    node-key="id"
                    :default-checked-keys="HKTree"
                    :data="HKTree"
                    :props="defaultProps"
                    :filter-node-method="filterNode2"
                    ref="HKtree"
                  ></el-tree>
                </div>
              </div>

              <div class="el-transfer__buttons">
                <i
                  class="el-icon-arrow-right"
                  style="font-size: 50px; margin-top: 120px"
                ></i>
              </div>
              <div class="el-transfer-panel">
                <div class="el-transfer-panel__header">
                  <span>已选设备添加到指定区域下</span>
                </div>
                <div class="el-transfer-panel__body">
                  <div class="el-transfer-panel__list">
                    <ul>
                      <li v-for="(item, index) in allNodes" :key="index">
                        <div class="inline">
                          <span>{{ item.name }}</span>
                          <i
                            class="el-icon-close"
                            @click="removeData(item)"
                          ></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="HaiKangDialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="setHaiKangConfirm">
                确 定
              </el-button>
            </span>
          </el-dialog>

          <el-dialog
            title="提示"
            :visible.sync="importAlertVisible"
            width="20%"
            center
          >
            <div class="importText">
              导入成功{{ success }}条，失败{{ fail }}条
            </div>
            <br />
            <br />
            <div class="importRecord" v-if="fail > 0">
              <a :href="url" target="_blank">点击下载失败记录</a>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button type="primary" @click="importAlertVisible = false">
                确 定
              </el-button>
            </span>
          </el-dialog>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Vue from "vue";
import { Message } from "element-ui";
export default {
  watch: {
    filterText2(val) {
      this.$refs.HKtree.filter(val);
    },
    filterText1(val) {
      this.$refs.tree.filter(val);
    }
  },
  data() {
    return {
      name: "",
      list: {},
      text: "",
      radio: "2",
      filterText1: "",
      filterText2: "",
      addDialogVisible: false,
      editDialogVisible: false,
      HaiKangDialogVisible: false,
      defaultProps: {
        children: "children",
        label: "name"
      },
      hightPoint: {},
      queryParams: {
        hflag: null,
        page: 1,
        limit: 1000,
        name: "",
        gbIndex: "",
        rtspUrl: "",
        parentId: ""
      },
      leafNode: "",
      secondNode: "",
      rootNode: "",
      type: [
        {
          value: 0,
          label: "低点"
        },
        {
          value: 1,
          label: "高点"
        }
      ],
      defaultSelected: "低点",
      addParams: {
        hflag: "低点",
        source: "",
        id: "",
        name: "",
        rtspUrl: "",
        ptz: "0",
        lng: "",
        lat: "",
        altitude: "",
        remark: "",
        parentId: ""
      },
      editInfo: {
        hflag: "低点",
        source: "",
        id: "",
        name: "",
        rtspUrl: "",
        ptz: "0",
        lng: "",
        lat: "",
        altitude: "",
        remark: "",
        parentId: ""
      },
      currentId: "",
      HKTree: [],
      allNodes: [],
      checked: [],
      fileList: [],
      cameraIndexCodes: [],
      currentNode: {},
      importAlertVisible: false,
      success: null,
      fail: null,
      url: "#",
      delList: {
        ids: []
      }
    };
  },
  methods: {
    // 文件上传
    uploadExcel(response, file, fileList) {
      console.log(response);
      if (response.msg == "成功") {
        this.success = response.data.success;
        this.fail = response.data.fail;

        if (response.data.fail > 0) {
          this.url = response.data.url;
          console.log(this.url);
        }
      }
      this.$refs["excel-upload"].clearFiles();
      this.importAlertVisible = true;
    },
    handleSearchDistrict: function () {
      console.log(this.districtList);
    },
    addLowPoint() {
      if (!this.leafNode) {
        Message.error("请先选择组织树节点");
      } else {
        this.addDialogVisible = true;
      }
    },
    // 处理列表选中
    handleSelected(item) {
      var ids = [];
      item.forEach((element) => {
        ids.push(element.id);
      });
      this.delList.ids = ids;
    },
    // 处理树节点 点击事件
    handleNodeClick(node) {
      this.currentNode = node;
      console.log(this.currentNode);
      this.allNodes = [];
      this.cameraIndexCodes = [];
      this.queryParams.parentId = node.id;
      this.currentId = node.id;
      this.getLowPointList();
      var leafNode = node.name;
      var leafNodePId = node.parentId;
      var secondNodePId = this.$refs.tree.getNode(leafNodePId).data.parentId;
      var secondNode = this.$refs.tree.getNode(leafNodePId).data.name;
      var rootNode = null;
      if (secondNodePId != "urn:hikvision:folder:ROOT:-1") {
        rootNode = this.$refs.tree.getNode(secondNodePId).data.name;
      }

      this.leafNode = leafNode;
      this.secondNode = secondNode;
      this.rootNode = rootNode;

      console.log(rootNode, secondNode, leafNode);
    },
    getLowPointList() {
      this.$store.dispatch("queryLowPoint", this.queryParams);
    },
    // 查询操作
    query() {
      this.getLowPointList();
    },
    // 重置列表操作
    reset() {
      this.queryParams.name = "";
      this.queryParams.gbIndex = "";
      this.queryParams.rtspUrl = "";
      this.queryParams.hflag = null;

      this.getLowPointList();
    },
    // 从海康接入
    importFromHaikang() {
      if (!this.leafNode) {
        Message.error("请先选择组织树节点");
      } else {
        // 获取已经存在的相机设备
        if (!this.currentNode.children) {
          console.log(this.allNodes.length);
          if (this.allNodes.length == 0) {
            var lowPointListData = this.lowPointList.data;
            for (let val of lowPointListData) {
              val.children = null;
              val.isExist = true;
              this.allNodes.push(val);
            }
          }
        }

        this.$store.dispatch("getHKTree").then((res) => {
          if (res.msg == "成功") {
            this.HKTree = res.data;
            this.HaiKangDialogVisible = true;
          }
        });
      }
    },
    // 下载导入模板
    downloadTemplate() {
      this.$store.dispatch("getTemplate").then((res) => {
        console.log(res);

        var a = document.createElement("a");
        // var node = document.createTextNode("link");
        // a.appendChild(node);
        a.setAttribute("href", res.data);
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      });
    },
    // excel国标导入
    downloadExcel() {},
    // 处理分页
    handleChange() {},
    //新增低点表单确认
    addConfirm() {
      if (this.addParams.hflag == "低点") {
        this.addParams.hflag = 0;
      } else if (this.addParams.hflag == "高点") {
        this.addParams.hflag = 1;
      }
      if (this.addParams.ptz == "0") {
        this.addParams.ptz = 0;
      } else if (this.addParams.ptz == "1") {
        this.addParams.ptz = 1;
      }
      this.addParams.parentId = this.currentId;
      // console.log(this.addParams);
      this.$store.dispatch("addCamera", this.addParams).then((res) => {
        // console.log(res);
        if (res.msg == "成功") {
          Message.success("添加成功！");
          this.addParams = {
            hflag: "低点",
            source: "",
            id: "",
            name: "",
            rtspUrl: "",
            ptz: "0",
            lng: "",
            lat: "",
            altitude: "",
            remark: "",
            parentId: this.currentId
          };
          this.getLowPointList();
          this.addDialogVisible = false;
        }
      });
    },
    // 处理选中节点移动到被选中的框内
    moveTo(res) {
      res.isExist = false;
      // console.log(res);
      this.allNodes.push(res);
      this.cameraIndexCodes.push(res.cameraIndexCode);

      this.$refs.HKtree.remove(res);
    },
    getCamera(node) {
      // console.log(node);
      if (this.currentId.slice(30) != node.id) {
        if (!node.children) {
          var params = {
            treeId: node.id
          };
          this.$store.dispatch("getHKCamera", params).then((res) => {
            // console.log(res);
            if (res.msg == "成功") {
              // 获取到了相机
              var cameraData = res.data;
              // console.log(cameraData);
              // 把相机拼到树上
              for (let i = 0; i < cameraData.length; i++) {
                cameraData[i].name = cameraData[i].cameraName;
                cameraData[i].children = null;
                cameraData[i].id = cameraData[i].cameraIndexCode;
                cameraData[i].parentId = node.id;

                this.$refs.HKtree.append(cameraData[i], node);
              }
            }
          });
        }
      }
    },
    // 筛选
    filterNode1(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    filterNode2(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    // 通过删除键移除节点jihao
    removeData(item) {
      var cnt = 0;
      // console.log(item);
      // console.log(this.allNodes);
      if (item.isExist == false) {
        for (let val in this.allNodes) {
          var list = this.allNodes;
          // console.log(list);
          var node = list[val];
          // console.log(node);
          // 遍历全部节点找到选中的节点，删掉cameraIndexCodes数组中的值，并将这个节点添加会原来的组织树
          if (item.name == node.name) {
            // console.log(val);
            // console.log(item);
            // console.log(node);
            // console.log(this.cameraIndexCodes);
            // console.log(val);
            // 找到父节点并添加回原来的树
            let parentNode = this.$refs.HKtree.getNode(
              item.regionIndexCode
            ).data;
            this.$refs.HKtree.append(item, parentNode);

            // 删除右边列表中被移回原处的节点
            this.allNodes.splice(val, 1);
            // 分两种情况，一种是已经存在的节点删除，一种是新添加的节点取消
            // 1.先把cameraIndexCodes数组中的值删掉
            // 统计数据库中已经存在的相机个数
            for (let num of this.allNodes) {
              if (num.isExist == true) {
                cnt++;
              }
            }
            // 将添加在cameraIndexCodes数组中的值删掉
            this.cameraIndexCodes.splice(val - cnt, 1);
          }
        }
      }

      // console.log(this.cameraIndexCodes);
      // console.log(item);
      // 2.根据isExist字段判断是否需要调接口删除节点
      // console.log(item);
      if (item.isExist == true) {
        console.log(item.id);
        var id = {
          ids: [item.id]
        };

        this.$store.dispatch("deleteCamera", id).then((res) => {
          // console.log(res);
          // console.log(this.allNodes);
          for (let val in this.allNodes) {
            if (item.id == this.allNodes[val].id) {
              console.log(val);
              this.allNodes.splice(val, 1);
            }
          }
        });
      }
    },
    // 提交海康树的添加修改
    setHaiKangConfirm() {
      // console.log(this.currentId);
      // console.log(this.cameraIndexCodes);
      var params = {
        treeId: this.currentId,
        cameraIndexCodes: this.cameraIndexCodes
      };
      this.$store.dispatch("copyHkCamera", params).then((res) => {
        // console.log(res);
        if (res.msg == "成功") {
          this.HaiKangDialogVisible = false;
          this.getLowPointList();
        }
      });
    },
    // 编辑
    edit(item) {
      console.log(item);
      this.editInfo.hflag = item.hflag;
      this.editInfo.source = item.source;
      this.editInfo.id = item.id;
      this.editInfo.name = item.name;
      this.editInfo.rtspUrl = item.rtspUrl;
      this.editInfo.ptz = item.ptz;
      if (item.ptz == "不支持") {
        this.editInfo.ptz = "0";
      } else if (item.ptz == "支持") {
        this.editInfo.ptz = "1";
      }
      this.editInfo.lng = item.lng;
      this.editInfo.lat = item.lat;
      this.editInfo.altitude = item.altitude.toString();
      this.editInfo.remark = item.remark;

      this.editDialogVisible = true;
    },
    editConfirm() {
      console.log(this.editInfo);
      var params = this.editInfo;
      if (this.editInfo.ptz == "1") {
        params.ptz = 1;
      } else if (this.editInfo.ptz == "0") {
        params.ptz = 0;
      }
      params.parentId = this.currentId;

      console.log(params);
      this.$store.dispatch("editCamera", params).then((res) => {
        console.log(res);
        if (res.msg == "成功") {
          this.editDialogVisible = false;
          this.getLowPointList();
        }
      });
    },
    // 删除相机
    deleteCamera(row) {
      // console.log(row);
      var params = {
        ids: []
      };
      params.ids.push(row.id);
      console.log(params);
      this.$store.dispatch("deleteCamera", params).then((res) => {
        // console.log(res);
        if (res.msg == "成功") {
          Message.success("删除成功");
          this.getLowPointList();
        }
      });
    },
    deleteMore() {
      console.log(this.delList);
      this.$store.dispatch("deleteCamera", this.delList).then((res) => {
        if (res.msg == "成功") {
          Message.success("批量删除成功");
          this.getLowPointList();
        }
      });
    }
  },
  mounted() {
    this.$store.dispatch("searchLowPoint", {});
  },
  computed: {
    ...mapState({
      districtList: (state) => state.ar.searchLowPoint,
      lowPointList: (state) => state.ar.lowPointList
    })
  },
  // 处理离开当前页面再回来的时候列表依然存在的情况（最后再搞）
  destroyed() {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 100px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: black 1px solid;

    .inputRow {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // border: 1px solid red;

      .require {
        color: red;
      }
      .title {
        height: 60px;
        line-height: 60px;
        width: 20%;
        text-align: left;
        // border: solid 1px rebeccapurple;
      }
      /deep/ .el-input__suffix-inner {
        position: absolute;
        top: 5px;
        right: 5px;
        margin-top: 5px;
        // border: solid 1px black;
      }
    }
  }
  .upload {
    width: 100%;
  }
}
.el-transfer {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  .el-transfer-panel {
    margin-right: 40px;
    margin-left: 40px;
  }
  .el-transfer-panel__header {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
}
.importText {
  // border: 1px solid black;
  text-align: center;
  font-size: 16px;
}
.importRecord {
  text-align: center;
  font-size: 14px;
}
</style>