.bg {
    background-color: #e9eef4;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
  }
  .container {
    background: white;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* background: red; */
    align-items: center;
  }
  .sp {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
  }
  .line {
    width: 100%;
    background: #e0e0e0;
    height: 0.7px;
  }
  .form {
    margin-top: 20px;
    margin-left: 200px;
  }


  .sp_basicInfoTitle {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .container {
    background: white;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* background: red; */
    align-items: center;
  }
  .sp {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
  }
  .line {
    width: 100%;
    background: #e0e0e0;
    height: 0.7px;
  }
  .form {
    margin-top: 20px;
    margin-left: 200px;
  }

  .sp_basicInfoTitle {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
  }
  .wid_400{
    width: 400px;
}