.el-main {
    background: #f0f2f5;
  }
  .home {
    height: auto;
    width: 100%;
    background: #f0f2f5;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    
  }
  .head {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .sp {
    height: 70px;
    width: 20%;
    line-height: 70px;
    margin-left: 20px;
    text-align: right;
    display: inline-block;
  }
  .content_input {
    height: 70px;
    width: 60%;
    margin-left: 20px;
    line-height: 70px;
  }
  .btn_serach {
    margin-left: 20px;
    width: 100px;
  }
  .btn_reset {
    margin-right: 44px;
    width: 100px;
  }
  .body_content {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 10px;
  }
  .aaa {
    height: 80px;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
  }
  .title_form {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    height: 100%;
    line-height: 80px;
  }
  .btn_group {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 44px;

  }
  .table {
    margin-left: 15px;
    margin-top: 10px;
    width: 98%;
    height: auto;
  }
  .fystyle {
    margin-left: 15px;
    margin-top: 15px;
  }
  .el-pagination {
    text-align: center;
    padding-bottom: 15px;
  }
  .timepicker {
    margin-left: 20px;
  }
  .select_people {
    margin-left: 20px;
    width: 60%;
  }
  .btn_box_peoplelist {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
  }

  .btn_wid{
    width: 100px;
  }

 
