<template>
  <div class="container">
    <div class="gridView">
      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/network.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">互联网</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span
            class="status_value"
            :class="[
              hostInfo.internetStatus === 'on' ? 'green' : '',
              hostInfo.internetStatus === 'off' ? 'red' : '',
              hostInfo.internetStatus !== 'off' &&
              hostInfo.internetStatus !== 'on'
                ? 'black'
                : ''
            ]"
          >
            {{ hostInfo.internetStatus }}
          </span>
        </div>
      </div>
      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/vpn.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">VPN安全隧道</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span
            class="status_value"
            :class="[
              hostInfo.vpnStatus === 'on' ? 'green' : '',
              hostInfo.vpnStatus === 'off' ? 'red' : '',
              hostInfo.vpnStatus !== 'off' && hostInfo.vpnStatus !== 'on'
                ? 'black'
                : ''
            ]"
          >
            {{ hostInfo.vpnStatus }}
          </span>
        </div>
      </div>
      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/connect-device.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">已接入设备</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">设备数量:</span>
          <span
            class="status_value"
            :class="[
              hostInfo.linkedDevices === 'on' ? 'green' : '',
              hostInfo.linkedDevices === 'off' ? 'red' : '',
              hostInfo.linkedDevices !== 'off' &&
              hostInfo.linkedDevices !== 'on'
                ? 'black'
                : ''
            ]"
          >
            {{ hostInfo.linkedDevices }}
          </span>
        </div>
      </div>
      <!--      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/data-transform.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">数据转发服务</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span class="status_value">{{hostInfo.dateService}}</span>
        </div>
      </div>
      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/flow-service.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">流媒体服务</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span class="status_value">{{hostInfo.streamingService}}</span>
        </div>
      </div>-->
    </div>
    <div class="gridView">
      <!--      <div class="gridViewItem">
        <img
            :src="require('@/assets/images/gateway/network.png')"
            alt="图片资源"
            class="gridViewItemImg"
        />
        <span class="itemTitle">互联网</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span class="status_value">{{hostInfo.internetService}}</span>
        </div>
      </div>
      <div class="gridViewItem">
        <img :src="require('@/assets/images/gateway/vpn.png')" alt="图片资源" class="gridViewItemImg" />
        <span class="itemTitle">VPN安全隧道</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span class="status_value">{{hostInfo.vpnService}}</span>
        </div>
      </div>
      <div class="gridViewItem">
        <img
            :src="require('@/assets/images/gateway/connect-device.png')"
            alt="图片资源"
            class="gridViewItemImg"
        />
        <span class="itemTitle">已接入设备</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">设备数量:</span>
          <span class="status_value">{{hostInfo.linkedDevices}}</span>
        </div>
      </div>-->
      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/data-transform.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">数据转发服务</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span
            class="status_value"
            :class="[
              hostInfo.dateService === 'on' ? 'green' : '',
              hostInfo.dateService === 'off' ? 'red' : '',
              hostInfo.dateService !== 'off' && hostInfo.dateService !== 'on'
                ? 'black'
                : ''
            ]"
          >
            {{ hostInfo.dateService }}
          </span>
        </div>
      </div>
      <div class="gridViewItem">
        <img
          :src="require('@/assets/images/gateway/flow-service.png')"
          alt="图片资源"
          class="gridViewItemImg"
        />
        <span class="itemTitle">流媒体服务</span>
        <div class="line"></div>
        <div class="item_bottom">
          <span class="status_label">状态:</span>
          <span
            class="status_value"
            :class="[
              hostInfo.streamingService === 'on' ? 'green' : '',
              hostInfo.streamingService === 'off' ? 'red' : '',
              hostInfo.streamingService !== 'off' &&
              hostInfo.streamingService !== 'on'
                ? 'black'
                : ''
            ]"
          >
            {{ hostInfo.streamingService }}
          </span>
        </div>
      </div>
    </div>
    <div class="box_homePage_bottom">
      <div class="company">
        <div class="company_left">
          <img
            :src="require('@/assets/images/gateway/lxzlogo.png')"
            alt
            class="img_logo"
          />
          <span class="companyName">猎熊座智能网关</span>
        </div>

        <div class="company_right">
          <div class="placeName">
            <span>{{ hostInfo.infoBoard.placeName }}</span>
          </div>
          <div class="info-board">
            <div class="item">
              <div class="left">数据转发版本：</div>
              <div class="right">
                {{
                  hostInfo.infoBoard.dataService.versionString
                }}&nbsp;&nbsp;&nbsp;&nbsp;{{
                  hostInfo.infoBoard.dataService.versionPublishDay
                }}
              </div>
            </div>
            <div class="item">
              <div class="left">WEB版本：</div>
              <div class="right">
                {{
                  hostInfo.infoBoard.webService.versionString
                }}
                &nbsp;&nbsp;&nbsp;&nbsp;{{
                  hostInfo.infoBoard.webService.versionPublishDay
                }}
              </div>
            </div>
            <div class="item">
              <div class="left">{{ hostInfo.infoBoard.uptime.name }}：</div>
              <div class="right">{{ hostInfo.infoBoard.uptime.uptime }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  mounted() {
    this.$store.dispatch("getHomepageInfo");
  },
  computed: {
    ...mapState({
      hostInfo: state => state.loginGateway.hostInfo
    })
  },
  data() {
    return {
      items: [
        {
          value: "1",
          name: "测试1"
        },
        {
          value: "2",
          name: "测试2"
        },
        {
          value: "3",
          name: "测试3"
        },
        {
          value: "4",
          name: "测试4"
        },
        {
          value: "5",
          name: "测试5"
        },
        {
          value: "5",
          name: "测试5"
        },
        {
          value: "6",
          name: "测试5"
        },
        {
          value: "7",
          name: "测试5"
        },
        {
          value: "8",
          name: "测试5"
        },
        {
          value: "9",
          name: "测试5"
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f6;
  justify-content: space-around;
}
.gridView {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}

.gridViewItem {
  width: 250px;
  height: 195px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 30px;
  border-radius: 7px;
}

.gridViewItemImg {
  height: 75px;
  width: 73px;
  margin-top: 30px;
}

.itemTitle {
  color: #192b5d;
  font-size: 15px;
  margin-top: 15px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #ecf0f6;
  margin-top: 10px;
}

.item_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.status_label {
  color: #192b5d;
  font-size: 15px;
  font-weight: 500;
}

.status_value {
  color: #28df2d;
  font-size: 15px;
  font-weight: 500;
  margin-left: 5px;
}

.company {
  height: 210px;
  width: 780px;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 7px;
}

.company_left {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.img_logo {
  width: 120px;
  height: 120px;
  margin-top: 15px;
}

.companyName {
  color: #192b5d;
  font-size: 17px;

  font-weight: 550;
}

.company_right {
  height: 100%;
  width: 75%;
  .placeName {
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 18px;
  }
  .info-board {
    margin-top: 20px;
    .item {
      font-size: 14px;
      margin: 15px auto;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .right {
        color: blue;
      }
    }
  }
}

.placeName {
  color: #8fb9f2;
  font-size: 16px;
  margin-top: 60px;
}
.workTime_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.workTime_box_label {
  color: #192b5d;
  font-size: 17px;
  font-weight: 500;
}

.workTime_box_value {
  color: #8fb9f2;
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
}

.box_homePage_bottom {
  width: 1575px;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 20px;
  margin-left: 30px;
}
.green {
  color: #28df2d;
}
.red {
  color: #ff0a16;
}
.black {
  color: #000;
}
</style>
