<template>
  <div class="deviceManage">
    <div class="panel-left">
      <tree-dom
        @changeNode="getSelectNode"
        :params="treeParams"
        :type="treeType"
      ></tree-dom>
    </div>
    <div class="panel-right">
      <el-tabs
        class="tab-style"
        v-model="activeName"
        @tab-click="tabHandleClick"
      >
        <el-tab-pane label="编码设备" name="codeList">
          <div class="code-list" v-if="showPanelNumber === '0'">
            <el-form
              style="margin-top: 20px"
              :model="ruleForm"
              :rules="rules"
              ref="ruleForm"
              label-width="130px"
              class="demo-ruleForm"
              :inline="true"
            >
              <el-form-item
                label="设备名称"
                prop="name"
                label-width="120px"
              >
                <el-input
                  v-model="ruleForm.name"
                  style="width: 220px"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="IP地址"
                prop="ip"
                label-width="120px"
              >
                <el-input
                  v-model="ruleForm.ip"
                  style="width: 220px"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="设备编号"
                prop="cameraNVRNodeUrn"
                label-width="120px"
              >
                <el-input
                  v-model="ruleForm.cameraNVRNodeUrn"
                  style="width: 220px"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="状态"
                prop="statuses"
                label-width="120px"
              >
                <el-select
                  v-model="ruleForm.statuses"
                  placeholder="请选择状态"
                  style="width: 220px"
                >
                  <el-option label="所有" value="ACTIVE,INACTIVE"></el-option>
                  <el-option label="在线" value="ACTIVE"></el-option>
                  <el-option label="离线" value="INACTIVE"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <div class="">
                  <el-button
                    style="margin-left: 60px"
                    type="primary"
                    @click="onSubmit('ruleForm')"
                  >
                    查询
                  </el-button>
                  <el-button
                    @click="resetForm('ruleForm')"
                    style="margin-left: 20px"
                  >
                    重置
                  </el-button>
                </div>
              </el-form-item>
            </el-form>
            <div class="setting-style">
              <div class="refresh-icon icon-style" @click="refreshTree">
                <i class="el-icon-refresh"></i>
                同步
              </div>
            </div>
            <div class="table-style">
              <el-table
                      border
                      height="520"
                      :data="nvrList"
                      tooltip-effect="dark"
                      style="width: 100%">
                <el-table-column
                        prop="nickname"
                        label="设备名称"
                        show-overflow-tooltip
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="deviceNumber"
                        label="设备编号"
                        show-overflow-tooltip
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="properties.triversalPath"
                        label="所属区域"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="properties.devSerialNum"
                        label="设备序列号"
                        show-overflow-tooltip
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="treatyType"
                        label="接入协议"
                        width="130"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="ipPort"
                        label="IP地址及端口号"
                        width="170">
                </el-table-column>
                <el-table-column
                        prop="deviceDesc"
                        label="描述"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="isOpen"
                        label="状态"
                        width="90px">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="详情"
                        width="100">
                  <template slot-scope="scope">
                    <i
                      class="el-icon-tickets"
                      @click="handleClick(scope.row)"
                    ></i>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <div class="page-style">
              <el-pagination
                      @size-change="handleSizeChange"
                      @current-change="handleCurrentChange"
                      :current-page="currentPage"
                      :page-sizes="[15]"
                      :page-size="15"
                      layout="total, sizes, prev, pager, next, jumper"
                      :total="pagination.total">
              </el-pagination>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="监控点" name="pointList">
          <div class="point-list" v-if="showPanelNumber === '1'">
            <el-form
              style="margin-top: 20px"
              :model="ruleFormOfCamera"
              :rules="rules"
              ref="ruleFormOfCamera"
              label-width="130px"
              class="demo-ruleForm"
              :inline="true"
            >
              <el-form-item label="监控点名称" prop="pointName">
                <el-input
                  v-model="ruleFormOfCamera.pointName"
                  style="width: 200px"
                ></el-input>
              </el-form-item>
              <el-form-item label="所属编码设备" prop="blowDevice">
                <el-input
                  v-model="ruleFormOfCamera.blowDevice"
                  style="width: 200px"
                ></el-input>
              </el-form-item>
              <el-form-item label="所属编码设备编号" prop="parents">
                <el-input
                  v-model="ruleFormOfCamera.parents"
                  style="width: 200px"
                ></el-input>
              </el-form-item>
              <el-form-item label="IP地址" prop="ip">
                <el-input
                  v-model="ruleFormOfCamera.ip"
                  style="width: 200px"
                ></el-input>
              </el-form-item>
              <el-form-item label="监控点类型" prop="typeTags">
                <el-select
                  v-model="ruleFormOfCamera.typeTags"
                  placeholder="请选择监控点类型"
                  style="width: 200px"
                >
                  <el-option label="所有" value=""></el-option>
                  <el-option label="枪机" value="枪机"></el-option>
                  <el-option label="半球" value="半球"></el-option>
                  <el-option label="球机" value="球体"></el-option>
                  <el-option label="云台枪机" value="云台枪机"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="位置标签" prop="locationTags">
<!--                <el-select v-model="ruleFormOfCamera.locationTags" filterable placeholder="请选择">-->
<!--                  <el-option-->
<!--                          v-for="item in activeTagsList"-->
<!--                          :key="item.id"-->
<!--                          :label="item.label"-->
<!--                          :value="item.value">-->
<!--                  </el-option>-->
<!--                </el-select>-->
                <el-select
                        v-model="ruleFormOfCamera.locationTags"
                        multiple
                        collapse-tags
                        style="margin-left: 20px;"
                        placeholder="请选择">
                  <el-option
                          v-for="item in activeTagsList"
                          :key="item.id"
                          :label="item.label"
                          :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="接入形式" prop="contcat">
                <el-select v-model="ruleFormOfCamera.contcat" placeholder="请选择接入形式" style="width: 200px">
                  <el-option label="所有" value=""></el-option>
                  <el-option label="国标接入" value="gb_reg"></el-option>
                  <el-option label="URL接入" value="url"></el-option>
                  <el-option label="地标接入" value="onvif_net"></el-option>
                  <el-option label="其他接入" value="other"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="状态" prop="statuses">
                <el-select
                  v-model="ruleFormOfCamera.statuses"
                  placeholder="请选择状态"
                  style="width: 200px"
                >
                  <el-option label="所有" value="ACTIVE,INACTIVE"></el-option>
                  <el-option label="在线" value="ACTIVE"></el-option>
                  <el-option label="离线" value="INACTIVE"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <div class="">
                  <el-button
                    style="margin-left: 50px"
                    type="primary"
                    @click="onSubmit2('ruleFormOfCamera')"
                  >
                    查询
                  </el-button>
                  <el-button
                    @click="resetForm2('ruleFormOfCamera')"
                    style="margin-left: 20px"
                  >
                    重置
                  </el-button>
                </div>
              </el-form-item>
            </el-form>
            <div class="setting-style">
              <div class="refresh-icon icon-style" @click="refreshTree">
                <i class="el-icon-refresh"></i>
                同步
              </div>
              <div class="refresh-icon icon-style" @click="batchSet()">
                <i class="el-icon-setting"></i>
                批量配置
              </div>
            </div>
            <div class="table-style">
              <el-table
                      height="480"
                      border
                      ref="multipleTable"
                      :data="cameraList"
                      tooltip-effect="dark"
                      style="width: 100%"
                      @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="nickname"
                        label="监控点名称"
                        show-overflow-tooltip
                        width="160">
                </el-table-column>
                <el-table-column
                        prop="properties.triversalPath"
                        label="所属区域"
                        show-overflow-tooltip
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="properties.cameraTypeName"
                        label="监控点类型"
                        width="100"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="properties.nvrName"
                        label="所属编码设备"
                        width="120"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="parentUrn"
                        label="所属编码设备编号"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="ipPort"
                        label="IP地址及端口号"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="treatyType"
                        label="接入形式"
                        width="90"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="isOpen"
                        label="状态"
                        width="50">
                </el-table-column>
<!--                <el-table-column-->
<!--                        fixed="right"-->
<!--                        label="详情"-->
<!--                        width="100">-->
<!--                  <template slot-scope="scope">-->
<!--                    <i class="el-icon-tickets" @click="handleClick(scope.row)"></i>-->
<!--                  </template>-->
<!--                </el-table-column>-->
              </el-table>
            </div>
            <div class="page-style">
              <el-pagination
                      @size-change="handleSizeChange"
                      @current-change="handleCurrentChange1"
                      :current-page="currentPage2"
                      :page-sizes="[15]"
                      :page-size="15"
                      layout="total, sizes, prev, pager, next, jumper"
                      :total="paginationOfCamera.total">
              </el-pagination>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
      <el-dialog title="批量配置" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="监控点类型" :label-width="formLabelWidth">
            <el-select
              v-model="form.cameraTypeName"
              placeholder="请选择状态"
              style="width: 600px"
            >
              <el-option label="枪机" value="枪机"></el-option>
              <el-option label="半球" value="半球"></el-option>
              <el-option label="球机" value="球机"></el-option>
              <el-option label="云台枪机" value="云台枪机"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="位置标签" :label-width="formLabelWidth">
            <el-select v-model="ruleFormOfCamera.locationTags" filterable placeholder="请选择">
              <el-option
                      v-for="item in activeTagsList"
                      :key="item.id"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="嵌入形式" :label-width="formLabelWidth">
            <el-select
              v-model="form.treatyType"
              placeholder="请选择活动区域"
              style="width: 600px"
            >
              <el-option label="国标接入" value="gb_reg"></el-option>
              <el-option label="URL接入" value="url"></el-option>
              <el-option label="地标接入" value="onvif_net"></el-option>
              <el-option label="其他接入" value="other"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="cancleSetting">取 消</el-button>
          <el-button type="primary" @click="settingSubmit">
            确 定
          </el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import treeDom from "../../../components/middleware/treeDom";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      searchVal: '',
      activeName: "codeList",
      currentPage: 1,
      currentPage2: 1,
      ruleForm: {
        start: 0,
        count: 15
      },
      rules: {},
      treeParams: {},
      dialogFormVisible: false,
      form: {
        cameraTypeName: '',
        treatyType: '',
        triversalPath: ''
      },
      showPanelNumber: '0',
      formLabelWidth: '120px',
      loading: false,
      multipleSelection: [],
      setarr: [],
      setarr1: [],
      treeType: 'device',
      ruleFormOfCamera: {
        start: 0,
        count: 15,
        locationTags: []
      }
    }
  },
  methods: { ...mapMutations([]),
    settingSubmit () {
      this.setarr = []
      this.setarr1 = []
      if (this.multipleSelection.length > 0) {
        this.multipleSelection.forEach(item => {
          let obj = {}
          obj.add = [this.ruleFormOfCamera.locationTags]
          obj.urn = 'urn:' + item.urn.organization + ':' + item.urn.group + ':' + item.urn.id
          this.setarr.push(obj)
          let obj1 = {}
          obj1.cameraTypeName = this.form.cameraTypeName
          obj1.treatyType = this.form.treatyType
          obj1.urn = 'urn:' + item.urn.organization + ':' + item.urn.group + ':' + item.urn.id
          this.setarr1.push(obj1)
        })
        this.$store.dispatch('setTagForCamera', this.setarr)
        this.$store.dispatch('updateCamera', this.setarr1)
        const that = this
        setTimeout(() => {
          that.$store.dispatch('getCameraLists', this.ruleFormOfCamera)
          that.multipleSelection = []
          that.dialogFormVisible = false
        },1000)
      } else {
        this.$message({
          type: 'error',
          message: '请选择相机'
        })
        this.dialogFormVisible = false
      }
    },
    cancleSetting () {
      this.dialogFormVisible = false
      this.multipleSelection = []
    },
    init () {
      this.$store.dispatch('getNvrList', {
        start: 0,
        count: 15
      })
      this.$store.dispatch('getCameraLists', {
        count: 15,
        start: 0
      })
    },
    getSelectNode (data=0) {
      this.ruleForm.parents = data
      this.ruleFormOfCamera.parents = data
      this.ruleForm.start = 0
      this.ruleFormOfCamera.start = 0
      this.currentPage2 = 0
      this.currentPage = 0
      this.$store.dispatch('getNvrList', this.ruleForm)
      this.$store.dispatch('getCameraLists', this.ruleFormOfCamera)
    },
    refreshTree() {
      this.init()
      setTimeout(() => {
        this.$message({
          message: "内容同步成功！",
          type: "success"
        });
        this.currentPage = 1
        this.currentPage2 = 1
      }, 1000);
    },
    handleClick (val) {
      if (this.showPanelNumber === '1') {
        this.$router.push('/m/device/manageOgom')
      } else {
        this.$router.push({
          path: '/m/device/manageCodeDetail',
          query: {
            info: JSON.stringify(val)
          }
        })
      }
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.ruleForm.start = 0
          this.currentPage = 0
          this.$store.dispatch('getNvrList', this.ruleForm)
        } else {
          console.log("查询失败!!");
          return false;
        }
      });
    },
    // 相机的查询
    onSubmit2(ruleFormOfCamera) {
      this.currentPage = 0
      const obj = {}
      const objAll = {
        tags: []
      }
      obj.start = 0
      obj.count = 15
      if (this.ruleFormOfCamera.pointName) {
        obj.name = this.ruleFormOfCamera.pointName
      }
      if (this.ruleFormOfCamera.blowDevice) {
        obj.keywords = this.ruleFormOfCamera.blowDevice
      }
      if (this.ruleFormOfCamera.parents) {
        obj.parents = this.ruleFormOfCamera.parents
      }
      if (this.ruleFormOfCamera.ip) {
        obj.ip = this.ruleFormOfCamera.ip
      }
      if (this.ruleFormOfCamera.statuses) {
        obj.statuses = this.ruleFormOfCamera.statuses
      }
      if (this.ruleFormOfCamera.typeTags) {
        objAll.tags.push(this.ruleFormOfCamera.typeTags)
      }
      if (this.ruleFormOfCamera.contcat) {
        objAll.tags.push(this.ruleFormOfCamera.contcat)
      }
      if (this.ruleFormOfCamera.locationTags.length > 0) {
        objAll.tags = [...objAll.tags,...this.ruleFormOfCamera.locationTags]
      }
      objAll.obj = obj
      this.$refs[ruleFormOfCamera].validate((valid) => {
        if (valid) {
          this.$store.dispatch('getCameraLists',objAll)
        } else {
          return false;
        }
      });
    },
    handleSelectionChange(val) {
      this.multipleSelection = [...val];
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.pointTag = ''
    },
    resetForm2(ruleFormOfCamera) {
      this.$refs[ruleFormOfCamera].resetFields();
      this.pointTag = ''
    },
    batchSet() {
      this.dialogFormVisible = true;
    },
    tabHandleClick(tab, event) {
      event;
      this.showPanelNumber = tab.index;

    },
    handleSizeChange() {},
    handleCurrentChange(val) {
      if (val === 1) {
        this.ruleForm.start = 0
      } else {
        this.ruleForm.start = (val-1)*15
      }
      this.ruleForm.count = 15
      this.$store.dispatch('getNvrList', this.ruleForm)
    },
    // 相机列表的分页
    handleCurrentChange1 (val) {
      const obj = {}
      const objAll = {}
      if (val === 1) {
        obj.start = 0
      } else {
        obj.start = (val-1)*15
      }
      obj.count = 15
      if (this.ruleFormOfCamera.pointName) {
        obj.name = this.ruleFormOfCamera.pointName
      }
      if (this.ruleFormOfCamera.blowDevice) {
        obj.keywords = this.ruleFormOfCamera.blowDevice
      }
      if (this.ruleFormOfCamera.ip) {
        obj.ip = this.ruleFormOfCamera.ip
      }
      if (this.ruleFormOfCamera.statuses) {
        obj.statuses = this.ruleFormOfCamera.statuses
      }
      if (this.ruleFormOfCamera.typeTags){
        objAll.tags = [...this.ruleFormOfCamera.typeTags]
      }
      if (this.ruleFormOfCamera.locationTags){
        objAll.tags = [...this.ruleFormOfCamera.locationTags]
      }
      if (this.ruleFormOfCamera.contcat){
        objAll.tags = [...this.ruleFormOfCamera.contcat]
      }
      if (this.ruleFormOfCamera.parents){
        obj.parents = this.ruleFormOfCamera.parents
      }
      objAll.obj = obj
      this.$store.dispatch('getCameraLists', objAll)
    },
    // remoteMethod (query) {
    //   if (query !== '') {
    //     this.loading = true;
    //     const params = {
    //       count: 2000,
    //       start: 0,
    //       tag: query
    //     }
    //     this.$store.dispatch('getTagList', params)
    //     setTimeout(() => {
    //       this.loading = false;
    //       // this.options = this.list.filter(item => {
    //       //   return item.label.toLowerCase()
    //       //           .indexOf(query.toLowerCase()) > -1;
    //       // });
    //     }, 200);
    //   } else {
    //     this.options = [];
    //   }
    // },
    remoteMethod1 (query) {
      if (query !== '') {
        this.loading = true;
        const params = {
          count: 200,
          start: 0,
          tag: query
        }
        this.$store.dispatch('getTagList', params)
        setTimeout(() => {
          this.loading = false;
          // this.options = this.list.filter(item => {
          //   return item.label.toLowerCase()
          //           .indexOf(query.toLowerCase()) > -1;
          // });
        }, 200);
      } else {
        this.options = [];
      }
    }
  },

  mounted() {
    this.init()
    this.$store.dispatch('getTagList',{'start':0,'count': 2000})
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      nvrList: state => state.middleware.nvrList,
      pagination: state => state.middleware.pagination,
      cameraList: state => state.middleware.cameraList,
      paginationOfCamera: state => state.middleware.paginationOfCamera,
      activeTagsList: state => state.middleware.activeTagsList
    }), ...mapGetters([]),
  },
  components: {
    treeDom
  }
};
</script>

<style lang="less" scoped>
@import "../../../assets/less/middleware/deviceManage.less";
</style>
