<template>
  <div class="deviceManage">
    <div class="tab-box">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/m/device/manage' }">设备管理</el-breadcrumb-item>
        <el-breadcrumb-item>编码设备</el-breadcrumb-item>
        <el-breadcrumb-item>编码设备详情</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="panel-right">
      <div class="info-title">接入信息</div>
      <el-form style="margin-top: 20px" :model="ruleForm" ref="ruleForm" label-width="130px" class="demo-ruleForm" :inline="true">
        <el-form-item label="设备名称">
          <el-tooltip class="item" effect="dark" :content="ruleForm.nickname" placement="top-start">
            <div class="labe-width">{{ruleForm.nickname}}</div>
          </el-tooltip>
        </el-form-item>
        <el-form-item label="设备编号">
          <el-tooltip class="item" effect="dark" :content="ruleForm.deviceNumber" placement="top-start">
            <div class="labe-width">{{ruleForm.deviceNumber}}</div>
          </el-tooltip>
        </el-form-item>
        <el-form-item label="所属组织">
          <el-tooltip class="item" effect="dark" :content="ruleForm.properties.triversalPath" placement="top-start">
            <div class="labe-width">{{ruleForm.properties.triversalPath}}</div>
          </el-tooltip>
        </el-form-item>
        <el-form-item label="接入协议">
          <div class="labe-width">GB28181协议</div>
        </el-form-item>
        <el-form-item label="IP地址">
          <div class="labe-width">{{ruleForm.nap.ipAddress}}</div>
        </el-form-item>
        <el-form-item label="端口号">
          <div class="labe-width">{{ruleForm.nap.port}}</div>
        </el-form-item>
<!--        <el-form-item label="设备账号">-->
<!--          <div class="labe-width">admin</div>-->
<!--        </el-form-item>-->
<!--        <el-form-item label="登陆密码">-->
<!--          <div class="labe-width">123456</div>-->
<!--        </el-form-item>-->
        <el-form-item label="设备序列号" prop="name">
          <el-tooltip class="item" effect="dark" :content="ruleForm.properties.devSerialNum" placement="top-start">
            <div class="labe-width">{{ruleForm.properties.devSerialNum}}</div>
          </el-tooltip>
        </el-form-item>
        <el-form-item label="描述" prop="name">
          <div class="labe-width">-</div>
        </el-form-item>
      </el-form>
      <div class="setting-style">
<!--        <div class="set-title" @click="refreshTree">通道信息</div>-->
        <div class="set-title" @click="batchSet()"><span class="point-block">监控点</span></div>
      </div>
      <div class="table-style">
        <el-table
                border
                height="400"
                ref="multipleTable"
                :data="cameraOfDeviceList"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
          <el-table-column
                  prop="nickname"
                  label="监控点名称"
                  show-overflow-tooltip
                  width="230">
          </el-table-column>
          <el-table-column
                  prop="properties.triversalPath"
                  label="所属区域"
                  show-overflow-tooltip
                  width="430">
          </el-table-column>
          <el-table-column
                  prop="properties.cameraTypeName"
                  label="监控点类型"
                  width="150"
                  show-overflow-tooltip>
          </el-table-column>
          <el-table-column
                  prop="properties.channelNo"
                  label="通道号"
                  width="80">
          </el-table-column>
          <el-table-column
                  prop="ipPort"
                  label="IP地址及端口号"
                  width="200">
          </el-table-column>
          <el-table-column
                  prop="pointDescribe"
                  label="描述"
                  show-overflow-tooltip>
          </el-table-column>
<!--          <el-table-column-->
<!--                  fixed="right"-->
<!--                  label="详情"-->
<!--                  width="100">-->
<!--            <template slot-scope="scope">-->
<!--              <i class="el-icon-tickets" @click="handleClick(scope.row)"></i>-->
<!--            </template>-->
<!--          </el-table-column>-->
        </el-table>
      </div>
      <div class="page-style">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[15]"
                :page-size="15"
                layout="total, sizes, prev, pager, next, jumper"
                :total="paginationOfCameraDevice.total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentPage: 1,
      ruleForm: {
        nap: {
          ipAddress: ''
        },
        properties: {}
      },
      treeParams: {},
      dialogFormVisible: false,
      formLabelWidth: '120px',
      params: {
        start: 0,
        count: 15,
        parents: ''
      }
    };
  },
  methods: { ...mapMutations([]),
    // handleClick () {
    //   this.$router.push('/m/device/manageOgom')
    // },
    handleSizeChange () {

    },
    handleCurrentChange(val) {
      if (val === 1) {
        this.params.start = 0
      } else {
        this.params.start = (val-1)*15
      }
      this.$store.dispatch('getCameraLists', this.params)
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    batchSet () {
      this.dialogFormVisible = true
    }
  },

  mounted() {
    this.ruleForm = JSON.parse(this.$route.query.info)
    let parentUrn = 'urn:' + this.ruleForm.urn.organization + ':' + this.ruleForm.urn.group + ':' + this.ruleForm.urn.id
    this.params.parents = parentUrn
    this.$store.dispatch('getCameraLists', this.params)
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      cameraOfDeviceList: state => state.middleware.cameraList,
      paginationOfCameraDevice: state => state.middleware.paginationOfCamera
    }), ...mapGetters([]) },
  components: {

  }
};
</script>

<style lang="less" scoped>
  @import "../../../assets/less/middleware/deviceManageDetail.less";
</style>
