<template>
    <div class="deviceManage">
        <div class="tab-box">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>设备管理</el-breadcrumb-item>
                <el-breadcrumb-item>编码设备</el-breadcrumb-item>
                <el-breadcrumb-item>编码设备详情</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="panel-right">
            <div class="menu-tab">
                <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                    <el-tab-pane label="基本属性" name="ogomBasic"></el-tab-pane>
                    <el-tab-pane label="位置属性" name="ogomLocation"></el-tab-pane>
                    <el-tab-pane label="管理属性" name="ogomManage"></el-tab-pane>
                    <el-tab-pane label="扩展属性" name="ogomExtend"></el-tab-pane>
                    <el-tab-pane label="立杆属性" name="ogomLigan"></el-tab-pane>
                    <el-tab-pane label="智能安防" name="ogomAISecurty"></el-tab-pane>
                    <el-tab-pane label="登记" name="ogomCheckIn"></el-tab-pane>
                </el-tabs>
            </div>
            <div class="content-container">
                <component :is="ogomCurrentComponent.name"></component>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapMutations } from "vuex";
    import ogomBasic from "./oneJoneD/ogomBasic.vue";
    import ogomLocation from "./oneJoneD/ogomLocation.vue";
    import ogomManage from "./oneJoneD/ogomManage.vue";
    import ogomExtend from "./oneJoneD/ogomExtend.vue";
    import ogomLigan from "./oneJoneD/ogomLigan.vue";
    import ogomAISecurty from "./oneJoneD/ogomAISecurty.vue";
    import ogomCheckIn from "./oneJoneD/ogomCheckIn.vue";
    export default {
        data() {
            return {
                formLabelWidth: '120px',
                tabPosition: 'top',
                activeName: 'ogomBasic'
            };
        },
        methods: { ...mapMutations([]),
            handleClick (tab, event) {
            event;
                this.$store.commit("SET_OGOM_CURRENT_TAB", {
                    index: parseInt(tab.index),
                    name: tab.name,
                });
            }
        },

        mounted() {

        },
        filters: {},
        watch: {},
        computed: { ...mapState({
                ogomCurrentComponent: (state) => state.deviceOgom.ogomCurrentTabObj,
            }), ...mapGetters([]) },
        components: {
            ogomBasic,
            ogomLocation,
            ogomManage,
            ogomExtend,
            ogomLigan,
            ogomAISecurty,
            ogomCheckIn,
        }
    };
</script>

<style lang="less" scoped>
    @import "../../../assets/less/middleware/deviceOgom.less";
</style>
