<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form ref="extendFormA" :rules="rules" :model="ogomManageData" label-width="140px">
          <el-form-item prop="mediaQuality" label="视频/图片分辨率">
<!--            <el-input v-model="ogomManageData.mediaQuality"></el-input>-->
            <el-select v-model="ogomManageData.mediaQuality" placeholder="请选择视频/图片分辨率">
              <el-option
                  v-for="option in defaultDicts.MEDIA_QUALITY"
                  :label="option.name"
                  :value="option.name"
                  :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="shareToPublic" label="是否对外共享">
            <!-- <el-date-picker v-model="ogomManageData.shareToPublic" type="date" placeholder="选择日期"></el-date-picker> -->
            <el-radio v-model="ogomManageData.shareToPublic" label="是">是</el-radio>
            <el-radio v-model="ogomManageData.shareToPublic" label="否">否</el-radio>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form ref="extendFormB" :rules="rules" :model="ogomManageData" label-width="140px">
          <el-form-item prop="videoSignalType" label="视频信号类型">
<!--            <el-input v-model="ogomManageData.videoSignalType"></el-input>-->
            <el-select v-model="ogomManageData.videoSignalType" placeholder="请选择视频/图片分辨率">
              <el-option
                  v-for="option in defaultDicts.VIDEO_SIGNAL_TYPE"
                  :label="option.name"
                  :value="option.name"
                  :key="option.name"
              >{{option.name}}</el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="shareToVideoSystem" label="是否接入三级平台">
            <!-- <el-input v-model="ogomManageData.shareToVideoSystem"></el-input> -->
            <el-radio v-model="ogomManageData.shareToVideoSystem" label="是">是</el-radio>
            <el-radio v-model="ogomManageData.shareToVideoSystem" label="否">否</el-radio>
          </el-form-item>
        </el-form>
      </div>
    </div>
<!--    <div class="btn-container">-->
<!--      <el-button @click="preStep">上一步</el-button>-->
<!--      <el-button type="primary" @click="nextStep">下一步</el-button>-->
<!--    </div>-->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        mediaQuality: [
          {
            required: true,
            message: "请选择视频/图片分辨率",
            trigger: "blur",
          },
        ],
        shareToPublic: [
          {
            required: true,
            message: "请选择是否对外共享",
            trigger: "blur",
          },
        ],
        videoSignalType: [
          {
            required: true,
            message: "请选择视频信号类型",
            trigger: "blur",
          },
        ],
        shareToVideoSystem: [
          {
            required: true,
            message: "请选择是否接入三级平台",
            trigger: "blur",
          },
        ],
      },
      ogomManageData: {
        mediaQuality: "高清", //视频图片分辨率
        shareToPublic: "是", //是否对外共享
        videoSignalType: "数字", //视频信号类型
        shareToVideoSystem: "是 ", //是否接入三级平台
      },
    };
  },
  methods: {
    preStep: function () {
      this.$store.commit("SET_OGOM_CURRENT_STEP", {
        index: 2,
        name: "ogomManage",
      });
    },
    nextStep: function () {
      this.$refs["extendFormA"].validate((valid) => {
        if (valid) {
          this.$refs["extendFormB"].validate((valid) => {
            if (valid) {
              this.$store.commit("SET_OGOM_CURRENT_STEP", {
                index: 4,
                name: "ogomLigan",
              });
              this.$store.dispatch("updateDevice", this.ogomManageData);
            }
          });
        }
      });
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    // let urn = this.$route.params.urn;
    // Object.assign(this.ogomManageData, { urn: urn });
    // this.$store.dispatch("getDeviceDetail", { urn: urn });
    // this.$store.dispatch("getDefaultDicts", {
    //   name: "MEDIA_QUALITY,VIDEO_SIGNAL_TYPE",
    // });
  },
  watch: {
    // deviceDetail: function (val) {
    //   if (val) {
    //     Object.assign(this.ogomManageData, val);
    //   }
    // },
  },
  computed: {
    ...mapState({
      deviceDetail: (state) => state.deviceManage.deviceDetail,
      defaultDicts: (state) => state.loginGateway.defaultDicts
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select,
      .l-date-editore {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>
