<template>
  <div class="ogom-basic-container">
    <div class="ogom-basic-container-inner">
      <div class="ogom-basic-container-left">
        <el-form :rules="rules" ref="locationFormA" :model="ogomLocationData" label-width="170px">
          <el-form-item label="安装地址" prop="address">
            <el-input v-model="ogomLocationData.address"></el-input>
          </el-form-item>
          <el-form-item label="经度" prop="longitude">
            <el-input v-model="ogomLocationData.longitude"></el-input>
          </el-form-item>
          <el-form-item label="监视方向" prop="angle">
            <el-input v-model="ogomLocationData.angle"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="ogom-basic-container-right">
        <el-form :rules="rules" ref="locationFormB" :model="ogomLocationData" label-width="170px">
          <el-form-item label="摄像机位置类型" prop="placeType">
<!--            <el-input v-model="ogomLocationData.placeType"></el-input>-->
<!--            <el-select v-model="ogomLocationData.placeType" placeholder="请选择摄像机位置类型">-->
<!--              <el-option-->
<!--                  v-for="option in defaultDicts.PLACE_TYPE"-->
<!--                  :label="option.name"-->
<!--                  :value="option.name"-->
<!--                  :key="option.name"-->
<!--              >{{option.name}}</el-option>-->
<!--            </el-select>-->

            <el-select v-model="ogomLocationData.placeType" filterable placeholder="请选择摄像机位置类型">
              <el-option
                  v-for="option in defaultDicts.PLACE_TYPE"
                  :key="option.name"
                  :label="option.name"
                  :value="option.name">{{option.name}}
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="纬度" prop="latitude">
            <el-input v-model="ogomLocationData.latitude"></el-input>
          </el-form-item>
          <el-form-item label="摄像机场景预设照片URL">
            <el-input v-model="ogomLocationData.preiewUrl"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </div>
<!--    <div class="btn-container">-->
<!--      <el-button @click="preStep">上一步</el-button>-->
<!--      <el-button type="primary" @click="nextStep">下一步</el-button>-->
<!--    </div>-->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      rules: {
        address: [
          { required: true, trigger: "blur", message: "请填写安装地址" },
        ],
        longitude: [
          { required: true, trigger: "blur", message: "请填写经度" },
        ],
        angle: [{ required: true, trigger: "blur", message: "请填写监视方向" }],
        placeType: [
          { required: true, trigger: "blur", message: "请填写摄像机位置类型" },
        ],
        latitude: [{ required: true, trigger: "blur", message: "请填写纬度" }],
      },
      ogomLocationData: {
        address: "年家浜路501弄", //安装地址
        longitude: "31.112591", //经度
        angle: "东南方向", //监视方向
        placeType: "治安复杂区域", //摄像机位置类型
        latitude: "121.569978", //纬度
        preiewUrl: "", //摄像机场景预设照片url
      },
    };
  },
  methods: {
    // preStep: function () {
    //   this.$store.commit("SET_OGOM_CURRENT_STEP", {
    //     index: 0,
    //     name: "ogomBasic",
    //   });
    // },
    // nextStep: function () {
    //   this.$refs["locationFormA"].validate((valid) => {
    //     if (valid) {
    //       this.$refs["locationFormB"].validate((valid) => {
    //         if (valid) {
    //           this.$store.commit("SET_OGOM_CURRENT_STEP", {
    //             index: 2,
    //             name: "ogomManage",
    //           });
    //           this.$store.dispatch("updateDevice", this.ogomLocationData);
    //         }
    //       });
    //     }
    //   });
    // },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    // let urn = this.$route.params.urn;
    // Object.assign(this.ogomLocationData, { urn: urn });
    // this.$store.dispatch("getDeviceDetail", { urn: urn });
    // this.$store.dispatch("getDefaultDicts", {
    //   name: "PLACE_TYPE",
    // });
  },
  watch: {
    // deviceDetail: function (val) {
    //   if (val) {
    //     Object.assign(this.ogomLocationData, val);
    //   }
    // },
  },
  computed: {
    ...mapState({
      deviceDetail: (state) => state.deviceManage.deviceDetail,
      defaultDicts: (state) => state.loginGateway.defaultDicts
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less'>
.ogom-basic-container {
  width: 100%;

  .ogom-basic-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .ogom-basic-container-left,
    .ogom-basic-container-right {
      width: 40%;
      .el-select {
        width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
}
</style>
