.ogom-list-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .ogom-list-container-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;
        padding: 10px;
        box-sizing: border-box;

        .title-container {
            text-align: left;
            font-size: 23px;
            color: #8FB9F2;
            padding-bottom: 10px;
            border-bottom: 1px dashed #D2D2D2;
        }

        .search-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15px;
        }

        .table-container {
            margin-top: 10px;
        }

        .pagination-container {
            text-align: center;
            margin-top: 10px;
        }
    }
}