.ogom-add-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .ogom-add-container-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;
        padding: 10px;
        box-sizing: border-box;

        .step-container {
            width: 98%;
            margin: 0 auto;
        }

        .content-container {
            width: 98%;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
}