<template>
  <div class="box">
    <div class="box-left">
      <el-input
        placeholder="输入关键字进行过滤"
        v-model="filterText"
      ></el-input>

      <el-tree
        class="filter-tree"
        :data="thirdPlatformTree"
        :props="defaultProps"
        :filter-node-method="filterNode"
        @node-click="handleNodeClick"
        ref="tree"
        default-expand-all
      ></el-tree>
    </div>
    <div class="box-right">
      <div class="header-box">
        <el-form
          :model="ruleForm"
          ref="ruleForm"
          class="demo-ruleForm"
          :inline="true"
        >
          <el-form-item label="ID" label-width="50px">
            <el-input v-model="ruleForm.id"></el-input>
          </el-form-item>
          <el-form-item label="名称" label-width="50px">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="标签" prop="tag" label-width="50px">
            <el-input v-model="ruleForm.tags"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="searchSubmit()">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <el-table :data="thirdVideoList" border style="width: 100%">
        <el-table-column prop="id" label="ID"></el-table-column>
        <el-table-column prop="name" label="名称"></el-table-column>
        <el-table-column prop="tag" label="标签"></el-table-column>
        <el-table-column label="操作" width="200" fixed="right">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit1(scope.$index, scope.row)"
            >
              详情
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div
        class="pagination-container"
        style="text-align: center; margin: 20px auto"
      >
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="10"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="thirdVideoListTotal"
        ></el-pagination>
      </div>
    </div>
    <el-dialog title="摄像机详情" :visible.sync="dialogVisible" width="30%">
      <el-form
        :inline="true"
        ref="thirdVideoInfo"
        :rules="rules"
        :model="thirdVideoInfo"
        class="demo-form-inline"
      >
        <el-form-item label="名称">
          <el-input v-model="thirdVideoInfo.name"></el-input>
        </el-form-item>
        <el-form-item label="地址" prop="lnglat">
          <el-input
            v-model="thirdVideoInfo.lnglat"
            @change="resetMap"
          ></el-input>
        </el-form-item>
        <el-form-item label="标签">
          <el-tag
            :key="tag"
            v-for="tag in thirdVideoInfo.tags"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)"
          >
            {{ tag }}
          </el-tag>
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            ref="saveTagInput"
            size="small"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          ></el-input>
          <el-button
            v-else
            class="button-new-tag"
            size="small"
            @click="showInput"
          >
            + New Tag
          </el-button>
        </el-form-item>
      </el-form>
      <div class="map-box">
        <div id="container" style="width: 100%; height: 100%"></div>
      </div>
      <p>注：经纬度需用英文“,”隔开</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="openUrl">选取经纬度</el-button>
        <el-button type="primary" @click="submitTable('thirdVideoInfo')">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    const options = () => {
      const data = [];
      return data;
    };
    return {
      ruleForm: {
        pageNo: 1,
        pageSize: 10
      },
      rules: {
        lnglat: [
          { required: true, message: '请输入地址', trigger: 'blur' }
        ],
      },
      thirdVideoInfo: {
        lnglat: "",
        tags: []
      },
      currentPage: 1,
      dialogVisible: false,
      filterText: "",
      defaultProps: {
        children: "children",
        label: "name"
      },
      inputVisible: false,
      inputValue: "",
      dynamicTags: []
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    handleCurrentChange(val) {
      this.ruleForm.pageNo = val;
      this.$store.dispatch("getThirdVideoList", this.ruleForm);
    },
    handleEdit1(index, row) {
      let position = {}
      let marker = {}
      this.thirdVideoInfo = row;
      if (row.direction) {
        let point = {};
        point = row.direction[0];
        this.thirdVideoInfo.lnglat = `${this.thirdVideoInfo.direction[0].lng},${this.thirdVideoInfo.direction[0].lat}`;
        position = new AMap.LngLat(point.lng, point.lat);
        marker = new AMap.Marker({
          position: position,
          offset: new AMap.Pixel(-13, -30)
        });
      } else {
        position = new AMap.LngLat(121.544379,31.221517);
      }

      this.thirdVideoInfo = Object.assign({}, this.thirdVideoInfo);
      this.dialogVisible = true;
      setTimeout(() => {
        let map = new AMap.Map("container", {
          zoom: 13,
          center: position,
          resizeEnable: true
        });

        map.add(marker);
      });
    },
    resetMap() {
      let lng = this.thirdVideoInfo.lnglat.substring(
        0,
        this.thirdVideoInfo.lnglat.indexOf(",")
      );
      let lat = this.thirdVideoInfo.lnglat.substring(
        this.thirdVideoInfo.lnglat.indexOf(",") + 1
      );
      let position = new AMap.LngLat(lng, lat);
      let map = new AMap.Map("container", {
        zoom: 13,
        center: position,
        resizeEnable: true
      });
      let marker = new AMap.Marker({
        position: position,
        offset: new AMap.Pixel(-13, -30)
      });
      map.add(marker);
    },
    openUrl() {
      window.open("https://lbs.amap.com/tools/picker");
    },
    submitTable(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            name: this.thirdVideoInfo.name,
            id: this.thirdVideoInfo.id,
            tags: this.thirdVideoInfo.tags,
            platformId: this.ruleForm.platformId,
            lng: this.thirdVideoInfo.lnglat.substring(
                    0,
                    this.thirdVideoInfo.lnglat.indexOf(",")
            ),
            lat: this.thirdVideoInfo.lnglat.substring(
                    this.thirdVideoInfo.lnglat.indexOf(",") + 1
            )
          };
          this.$store.dispatch("updatediCamera", params);
          this.dialogVisible = false;
        }
      });

    },
    filterNode(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    handleNodeClick(data) {
      let tag = data.parentId.substring(data.parentId.length - 2);
      if (tag === "-1") {
        delete this.ruleForm.parentId;
      } else {
        this.ruleForm.parentId = data.deviceId;
      }
      this.$store.dispatch("getThirdVideoList", this.ruleForm);
    },
    searchSubmit() {
      this.$store.dispatch("getThirdVideoList", this.ruleForm);
    },
    handleClose(tag) {
      this.thirdVideoInfo.tags.splice(this.thirdVideoInfo.tags.indexOf(tag), 1);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.thirdVideoInfo.tags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = "";
    }
  },

  created() {},
  mounted() {
    let id = this.$route.query.id;
    this.ruleForm.platformId = id;
    this.$store.dispatch("getTreeList", { platformId: id });
    this.$store.dispatch("getThirdVideoList", this.ruleForm);
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  computed: {
    ...mapState({
      videoList: (state) => state.deviceInput.videoList,
      thirdPlatformTree: (state) => state.deviceInput.thirdPlatformTree,
      thirdVideoList: (state) => state.deviceInput.thirdVideoList,
      thirdVideoListTotal: (state) => state.deviceInput.thirdVideoListTotal
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>


<style lang="less">
.box {
  display: flex;
  flex-flow: row;
  .box-left {
    height: calc(100vh - 150px);
    overflow: scroll;
    padding-bottom: 20px;
    padding-left: 15px;
    width: 250px;
    flex-shrink: 0;
  }
  .box-left::-webkit-scrollbar {
    display: none;
  }
  .box-right {
    border-left: 1px solid #dddddd;
    margin-left: 50px;
    padding: 30px;
    flex: 1;
  }
}
.table-box {
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  .item-input {
    flex: 0.8;
    width: 80%;
    flex-shrink: 0;
  }
}
.map-box {
  width: 100%;
  height: 200px;
}
.el-tag {
  margin-right: 10px;
}
</style>
