<template>
  <div class="container-box">
    <div class="header-box">
      <el-form
        :model="ruleForm"
        ref="ruleForm"
        class="demo-ruleForm"
        :inline="true"
      >
        <el-form-item label="名称" label-width="50px">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="IP" label-width="50px">
          <el-input v-model="ruleForm.ip"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitSearch()">查询</el-button>
          <el-button type="primary" @click="openAddPanel()">添加</el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-table :data="thirdPlatfromList" border style="width: 100%">
      <el-table-column prop="appKey" label="AK"></el-table-column>
      <el-table-column prop="appSecret" label="SK"></el-table-column>
      <el-table-column prop="name" label="名称"></el-table-column>
      <el-table-column prop="serverHost" label="IP:端口"></el-table-column>
      <el-table-column label="下辖的摄像头">
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="toCamera(scope.$index, scope.row)"
          >
            摄像机
          </el-button>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="200" fixed="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div
      class="pagination-container"
      style="text-align: center; margin: 20px auto"
    >
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-size="10"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="thirdPlatfromTotalCount"
      ></el-pagination>
    </div>
    <el-dialog title="新增" :visible.sync="dialogFormVisible">
      <el-form ref="form" :rules="rules" :model="form" label-width="80px">
        <el-form-item label="AK">
          <el-input v-model="form.appKey" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="SK">
          <el-input v-model="form.appSecret" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="名称">
          <el-input
            v-model="form.name"
            autocomplete="off"
            style="width: 400px"
          ></el-input>
        </el-form-item>
        <el-form-item label="IP:端口">
          <el-input v-model="form.serverHost" style="width: 400px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addThirdPlatform">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    const options = () => {
      const data = [];
      return data;
    };
    return {
      ruleForm: {
        pageSize: 10,
        pageNo :1
      },
      rules: {
        region: [
          { required: true, message: '请选择活动区域', trigger: 'change' }
        ],
      },
      currentPage: 1,
      dialogFormVisible: false,
      form: {}
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    handleCurrentChange(val) {
      this.ruleForm.pageNo = val
      this.$store.dispatch('getThirdPlatfromList',this.ruleForm)
    },
    handleDelete(index,row) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let id = row.id
        this.$store.dispatch('deleteThirdPlatfrom',{id: id})
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });
    },
    toCamera(index, row) {
      this.$router.push({
        path: "/di/thirdPlatformVideo",
        query: {
          id: row.id
        }
      });
    },
    openAddPanel() {
      this.dialogFormVisible = true;
    },
    submitSearch() {
      this.$store.dispatch('getThirdPlatfromList',this.ruleForm)
    },
    addThirdPlatform () {
      this.$store.dispatch('addThirdPlatfrom',this.form)
      this.dialogFormVisible = false
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch('getThirdPlatfromList',this.ruleForm)
  },
  watch: {},
  computed: {
    ...mapState({
      videoList: (state) => state.deviceInput.videoList,
      thirdPlatfromList: (state) => state.deviceInput.thirdPlatfromList,
      thirdPlatfromTotalCount: (state) => state.deviceInput.thirdPlatfromTotalCount,
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>


<style lang="less">
.container-box {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.el-checkbox {
  width: 60px;
}
.el-dialog {
  width: 600px;
}
</style>
