<template>
  <div class="mcp-dashboard">
    <div class="dashboard-inner" id="mcp-map-id"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {
    this.$store.commit("dashboard/INIT_MCP_MAP");
  },
  filters: {},
  watch: {
    mapLoadCompleted: function(val) {
      if (val) {
        this.$store.commit("dashboard/ADD_MARKER");
        this.$store.commit("dashboard/ADD_MARKER");
        this.$store.commit("dashboard/ADD_MARKER");
      }
    },
    addMarkerDone: function(val) {
      if (val) {
        this.$store.commit("dashboard/ADD_CLUSTER");
      }
    }
  },
  computed: {
    ...mapState({
      addMarkerDone: state => state.dashboard.addMarkerDone,
      mapLoadCompleted: state => state.dashboard.mapLoadCompleted
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less">
@import "~@/assets/less/mcp/dashboard.less";
</style>
