<template>
  <div class="hls-container" style="height:100%;">
    <video
      controls
      autoplay
      :id="reffer"
      :ref="reffer"
      :src="url"
      height="100%"
      width="100%"
    ></video>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["reffer", "url", "node", "visible"],
  data() {
    return { hls: null };
  },
  methods: {
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/videoPlayer/hls.js%40latest";
      });
    },
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {
    visible: function(val) {
      if (!val) {
        this.hls.detachMedia();
        this.hls.destroy();
      }
    },
    url: function(val) {
      if (val) {
        this.loadJS().then(res => {
          res;
          // console.log(this.$refs[this.reffer]);
          var video = document.getElementById(this.reffer);
          this.hls = new Hls();
          this.hls.loadSource(val);
          this.hls.attachMedia(video);
          let that = this;
          this.hls.on(Hls.Events.BUFFER_CREATED, function(event, data) {
            event;
            data;
          });
          this.hls.on(Hls.Events.ERROR, function(event, data) {
            console.log(event);
            console.log(data);
            console.log(data.type);
            if (data.type == "networkError") {
              that.hlsInterval = setTimeout(() => {
                console.log("retry hls video.");
                that.hls.loadSource(val);
                that.hls.attachMedia(video);
              }, 1500);
            }
          });
          setTimeout(() => {
            video.play();
          }, 1000);
        });
      }
    }
  },
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
