<template>
  <div class="rtspContainer" style="height:100%;width:100%">
    <video
      mute
      style="width: 90%;height:100%"
      id="test_video"
      controls
      autoplay
    ></video>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["url", "visible"],
  data() {
    return {
      html5Player: "",
      player: "",
      playerOptions: {
        // socket: "ws://192.168.63.29:9999/ws/",
        socket: "ws://10.5.200.254:8088/ws/",
        redirectNativeMediaErrors: true,
        bufferDuration: 30,
        errorHandler: this.errHandler,
        infoHandler: this.infHandler
      }
    };
  },
  methods: {
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src = "http://web-test.bearhunting.cn:58092/streamedian.min.js";
      });
    },
    errHandle: function(err) {
      console.log(err.message);
    },
    infHandle: function(inf) {
      console.error(inf);
    },
    initFunction: function() {
      this.html5Player.src = this.url;
      this.player = Streamedian.player("test_video", this.playerOptions);
      setInterval(() => {
        this.html5Player.play();
      }, 7000);
    },
    ...mapMutations([])
  },
  created() {},
  mounted() {
    setTimeout(() => {
      console.log(this.url);
    }, 2000);
  },
  filters: {},
  watch: {
    visible: function(val) {
      if (!val) {
        if (this.player) {
          this.player.transport.disconnect();
          //   console.log(this.player);
          //   this.player.destroy();
          //   this.player = null;
        }
      }
    },
    url: function(val) {
      if (val) {
        this.html5Player = document.getElementById("test_video");
        this.player = Streamedian.player("test_video", this.playerOptions);
        this.initFunction();
      } else {
        console.log("没有sourceUrl...");
      }
    }
  },
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
