<template>
    <div class="dashboard-container">
        <div class="panel-title">使用率排行</div>
        <div class="all-panel" id="bottomEchart">

        </div>
    </div>
</template>

<script>
    import echarts from 'echarts'
    import { mapState, mapGetters, mapMutations } from "vuex";
    export default {
        data() {
            return {};
        },
        methods: { ...mapMutations([]),
            init () {
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('bottomEchart'));

                // 指定图表的配置项和数据
                var option = {
                    color: ['#007AFF'],
                    // title: {
                    //     text: '使用率排行'
                    // },
                    tooltip: {},
                    // legend: {
                    //     data:['销量']
                    // },
                    xAxis: {
                        data: ["石斑鱼","微卡口","startfish","东明","雷达","渣土车","东明","雷达","渣土车"],
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false,
                            length: 1
                        },
                        axisLabel: {
                            color: "#949494"
                        }
                    },
                    yAxis: {
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: "#949494"
                        }
                    },
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: [50, 120, 236, 100, 130, 90,70,230,80]
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        },

        mounted() {
            this.init()
        },
        filters: {},
        watch: {},
        computed: { ...mapState({}), ...mapGetters([]) },
        components: {}
    };
</script>

<style lang="less" scoped>
    @import "../../assets/less/tracking/bottom.less";
</style>
