<template>
    <div class="dashboard-container">
        <div class="panel-title">故障率统计</div>
        <div class="all-panel" id="middleRight">
        </div>
    </div>
</template>

<script>
    import echarts from 'echarts'
    import { mapState, mapGetters, mapMutations } from "vuex";
    export default {
        data() {
            return {};
        },
        methods: { ...mapMutations([]),
            init () {
                // 基于准备好的dom，初始化echarts实例
                let myChart1 = echarts.init(document.getElementById('middleRight'));

                // 指定图表的配置项和数据
                let option = {
                    color: ['#6BABFB'],
                    // title: {
                    //     text: '故障率统计',
                    // },
                    tooltip: {},
                    // legend: {
                    //     data:['销量']
                    // },
                    xAxis: {
                        name: '(单位:小时)',
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false,
                            length: 5
                        },
                        axisLabel: {
                            color: "#949494"
                        }
                    },
                    yAxis: {
                        name: '(单位:次数)',
                        type: 'value',
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: "#949494"
                        }
                    },
                    series: [{
                        data: [820, 292, 601, 934, 290, 830, 1320],
                        type: 'line',
                        // smooth: true,
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart1.setOption(option);
            }
        },

        mounted() {
            this.init()
        },
        filters: {},
        watch: {},
        computed: { ...mapState({}), ...mapGetters([]) },
        components: {}
    };
</script>

<style lang="less" scoped>
    @import "../../assets/less/tracking/middleLeft.less";
</style>
