<template>
    <div class="dashboard-container">
        <div class="panel-title">资源概览</div>
        <div class="panel-contant">
            <div class="panel-contant-item">
                <div>接入系统</div>
                <div class="countNumber">185<span>(个)</span></div>
            </div>
            <div class="panel-contant-item">
                <div>总运行时长</div>
                <div class="countNumber">56<span>(小时)</span></div>
            </div>
            <div class="panel-contant-item">
                <div>总报警</div>
                <div class="countNumber">100<span>(个)</span></div>
            </div>
            <div class="panel-contant-item">
                <div>今日报警</div>
                <div class="countNumber">56<span>(个)</span></div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapMutations } from "vuex";
    export default {
        data() {
            return {};
        },
        methods: { ...mapMutations([]) },

        mounted() {},
        filters: {},
        watch: {},
        computed: { ...mapState({}), ...mapGetters([]) },
        components: {}
    };
</script>

<style lang="less" scoped>
    @import "../../assets/less/tracking/top-left.less";
</style>
