<template>
  <div class="dashboard-container">
    <div class="panel-title">系统负载</div>
    <div class="panel-contant">
      <div class="panel-contant-item">
        <div>
          <progress-ball
            count-name="countName1"
            water-name="water1"
            :addnumber="number1"
          ></progress-ball>
        </div>
        <div>cpu</div>
      </div>
      <div class="panel-contant-item">
        <div>
          <progress-ball
            count-name="countName2"
            water-name="water2"
            :addnumber="number2"
          ></progress-ball>
        </div>
        <div>内存使用率</div>
      </div>
      <div class="panel-contant-item">
        <div>
          <progress-ball
            count-name="countName3"
            water-name="water3"
            :addnumber="number3"
          ></progress-ball>
        </div>
        <div>磁盘IO</div>
      </div>
    </div>
  </div>
</template>

<script>
import progressBall from "./progressBall";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      number1: 30,
      number2: 80,
      number3: 90,
      list: [
        {
          id: 1,
          number: 10,
          countName: "count1",
          waterNma: "water1"
        },
        {
          id: 2,
          number: 20,
          countName: "count2",
          waterNma: "water2"
        },
        {
          id: 3,
          number: 50,
          countName: "count3",
          waterNma: "water3"
        }
      ]
    };
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {
    progressBall
  }
};
</script>

<style lang="less" scoped>
@import "../../assets/less/tracking/top-left.less";
</style>
