<template>
  <div style="width: 95%; margin: 10px auto" class="camera-damaged-container">
    <el-form :inline="true">
      <el-form-item label="在线状态">
        <el-select v-model="cameraOnlineStatus">
          <el-option
            v-for="item in cameraOnlineStatusList"
            :value="item.value"
            :key="item.value"
          >
            {{ item.value }}
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="相机状态">
        <el-select v-model="cameraFilterStatus">
          <el-option
            v-for="item in cameraStatusList"
            :value="item.value"
            :key="item.value"
          >
            {{ item.value }}
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="标签">
        <el-select
          style="width: 200px"
          clearable
          @change="changeTags"
          @clear="removetag"
          v-model="currentCameraTag"
          placeholder="请选择相机标签"
        >
          <el-option
            v-for="tag in devicesTagsList"
            :key="tag.value"
            :label="tag.value"
            :value="tag.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="信号来源">
        <el-select style="width: 200px" clearable v-model="cameraSource">
          <el-option key="shuzi1" label="数字信号" value="数字信号"></el-option>
          <el-option key="moni1" label="模拟信号" value="模拟信号"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="接入方式">
        <el-select
          @change="jieruStyleChange"
          style="width: 200px"
          clearable
          v-model="jieruStyle"
        >
          <el-option key="shuzi" label="国标接入" value="国标接入"></el-option>
          <el-option key="moni" label="地标接入" value="地标接入"></el-option>
          <el-option key="url" label="url接入" value="url接入"></el-option>
          <el-option key="other" label="其他接入" value="其他接入"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="exportExcel">导出</el-button>
      </el-form-item>
    </el-form>
    <el-table border stripe align="center" :data="wholeCameraList">
      <el-table-column label="摄像头名称" prop="nickname"></el-table-column>
      <el-table-column label="在线状态">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 'INACTIVE'" style="color: #f56c6c">
            离线
          </span>
          <span v-else style="color: #67c23a">正常</span>
        </template>
      </el-table-column>
      <el-table-column label="摄像头状态" width="100">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 'INACTIVE'" style="color: #f56c6c">
            疑似损坏
          </span>
          <span v-else style="color: #67c23a">工作正常</span>
        </template>
      </el-table-column>
      <el-table-column label="标签" prop="auditSearchHead.tags">
        <template slot-scope="scope">
          {{ scope.row.auditSearchHead.tags.join(",") }}
        </template>
      </el-table-column>
      <el-table-column label="经纬度">
        <template slot-scope="scope">
          <!-- {{ scope.row.position}} -->
          {{
            scope.row.position.longitude ? scope.row.position.longitude : ""
          }},{{
            scope.row.position.latitude ? scope.row.position.latitude : ""
          }}
        </template>
      </el-table-column>
      <el-table-column prop="location" label="摄像头位置"></el-table-column>
      <el-table-column
        prop="urls[0].networkAccessPoint.ipAddress"
        label="NVR地址"
      ></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="text" @click="connectCamera(scope.row)">
            播放
          </el-button>
          <el-button type="text" @click="showCloseCameraEdit(scope.row)">
            编辑
          </el-button>
          <el-popconfirm
            style="margin-left: 10px"
            title="是否确定执行该操作？"
            v-if="scope.row.status == 'INACTIVE'"
            @confirm="markActive(scope.row)"
          >
            <el-button slot="reference" style="color: #67c23a" type="text">
              标记为可用
            </el-button>
          </el-popconfirm>
          <el-popconfirm
            title="是否确定执行该操作"
            @confirm="markInactive(scope.row)"
            style="margin-left: 10px"
            v-else
          >
            <el-button slot="reference" style="color: #f56c6c" type="text">
              标记损坏
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <div
      class="pagination-container"
      style="text-align: center; margin: 20px auto"
    >
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="cameraListPagination.current"
        :page-size="cameraListPagination.count"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="cameraListPagination.total"
      ></el-pagination>
    </div>
    <el-dialog
      title="视频播放测试"
      @close="hidePlayVideoDialog"
      :visible="playVideoVisible"
    >
      <div class="dialog-video-containers" style="width: 100%; height: 300px">
        <hlsVideoContainer
          v-show="playVideoVisible"
          :url="hlsUrl"
          reffer="dialog-video-container"
          :visible="playVideoVisible"
        ></hlsVideoContainer>
        <!-- <rtspContainer
          :visible="playVideoVisible"
          :url="sourceUrl"
        ></rtspContainer> -->
        <rtspContainer v-if="false"></rtspContainer>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hidePlayVideoDialog">取 消</el-button>
        <el-button type="primary" @click="hidePlayVideoDialog">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog
      title="摄像头信息编辑"
      @close="handleCloseCameraEdit"
      :visible="editCameraInfoVisible"
    >
      <el-row type="flex">
        <el-col :span="3"></el-col>
        <el-col :span="18">
          <el-row>
            <el-col class="el-row-height" :span="5">相机ID：</el-col>
            <el-col :span="18" class="el-row-height">
              <!-- <el-input></el-input> -->
              <span>{{ currentCameraObj.urn.id }}</span>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row type="flex">
        <el-col :span="3"></el-col>
        <el-col :span="18">
          <el-row>
            <el-col class="el-row-height" :span="5">相机标签：</el-col>
            <el-col :span="18" class="el-row-height">
              <el-select
                style="width: 100%"
                multiple
                @remove-tag="removetags"
                @change="changeTag"
                v-model="currentCameraTagarr"
                placeholder="请选择相机标签"
              >
                <el-option
                  v-for="(tag, index) in devicesTagsList"
                  :key="index"
                  :label="tag.value"
                  :value="tag.value"
                ></el-option>
              </el-select>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button @click="handleCloseCameraEdit">取消</el-button>
        <el-button type="primary" @click="confirmEditCameraInfo">
          确定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
// import videoContainer from "@/components/public/videoContainer.vue";
import hlsVideoContainer from "@/components/public/hlsVideoContainer.vue";
import rtspContainer from "@/components/public/rtspContainer.vue";
export default {
  data() {
    return {
      cameraSource: "",
      cameraOnlineStatus: "",
      jieruStyle: "",
      hlsUrl: "",
      sourceUrl: "",
      currentCameraObj: { urn: { id: "" } },
      currentCameraTag: [],
      currentCameraTagarr: [],
      cameraTagList: [
        { id: "1", name: "商场" },
        { id: "2", name: "学校" },
        { id: "3", name: "小区" },
        { id: "4", name: "消防栓" }
      ],
      cameraOnlineStatusList: [
        {
          key: "",
          value: "全部"
        },
        { key: "ACTIVE", value: "在线", fakeValue: "工作正常" },
        { key: "INACTIVE", value: "离线", fakeValue: "疑似损坏" }
      ],
      cameraStatusList: [
        {
          key: "",
          value: "全部"
        },
        { key: "ACTIVE", value: "工作正常", fakeValue: "在线" },
        { key: "INACTIVE", value: "疑似损坏", fakeValue: "离线" }
      ],
      cameraFilterStatus: "",
      showVideoContainer: false,
      currentCameraItem: "",
      playVideoVisible: false,
      editCameraInfoVisible: false,
      decivesurn: "",
      singleDevicetag: [],
      params: [],
      remove_tag: [],
      selectedIndex: 0
    };
  },
  methods: {
    removetags(item) {
      if (this.remove_tag.includes(item)) {
        item;
      } else {
        this.remove_tag.push(item);
      }
    },
    removetag() {
      this.$store.dispatch("getCameraListPagination", {
        count: 10,
        start: 0,
        total: 0
      });
    },
    changeTag(item) {
      if (item.length > this.selectedIndex) {
        let str = item[item.length - 1];
        this.selectedIndex = item.length;
        if (this.remove_tag.includes(str)) {
          let index = this.remove_tag.indexOf(str);
          this.remove_tag.splice(index, 1);
        }
      } else {
        this.selectedIndex = item.length;
      }
    },
    jieruStyleChange: function (val) {
      Object.assign(this.cameraListPagination, { tags: val });
      this.$store.dispatch(
        "getCameraListPagination",
        this.cameraListPagination
      );
    },
    changeTags(val) {
      if (val) {
        Object.assign(this.cameraListPagination, { tags: val });
        this.$store.dispatch(
          "getCameraListPagination",
          this.cameraListPagination
        );
      }
    },
    confirmEditCameraInfo: function () {
      // this.editCameraInfoVisible = false;
      // this.currentCameraTag.forEach(item=>{
      this.params.push({
        add: this.currentCameraTagarr,
        clean: false,
        remove: this.remove_tag,
        urn: this.decivesurn
      });
      // })
      this.setDevicesTag(this.params);

      this.editCameraInfoVisible = false;
      setTimeout(() => {
        this.params = [];
        this.$store.dispatch(
          "getCameraListPagination",
          this.cameraListPagination
        );
        this.remove_tag = [];
      }, 1000);
    },
    handleCloseCameraEdit: function () {
      this.editCameraInfoVisible = false;
      this.currentCameraObj = { urn: { id: "" } };
    },
    showCloseCameraEdit: function (item) {
      // this.singleDevicetag = item.auditSearchHead.tags
      // this.decivesurn = `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`
      this.singleDevicetag = item.auditSearchHead.tags;
      this.decivesurn = `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`;
      this.currentCameraObj = item;
      this.currentCameraTagarr = item.auditSearchHead.tags;
      this.selectedIndex = item.auditSearchHead.tags.length;
      this.editCameraInfoVisible = true;
    },
    exportExcel: function () {
      Object.assign(this.cameraListPagination, { exportFileType: "xlsx" });
      this.$store.dispatch(
        "getCameraListPagination",
        this.cameraListPagination
      );
    },
    markActive: function (item) {
      // this.$message({ type: "warning", message: "功能开发中" });
      let r = false;
      if (item?.position?.latitude && item?.position?.longitude) {
        r = item.position.latitude || item.position.longitude;
      }

      let screen = sessionStorage.getItem("screen");
      if (screen) {
        if (r) {
          let params = {
            deviceUrn: `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`,
            message: "手动标记",
            reportType: "REPORT_STREAM_VISIBLE",
            screenUrn: screen
          };
          this.$store.dispatch("markInactive", params);
        } else {
          this.$message({
            type: "warning",
            message: "不能对经纬度信息不全的摄像头进行操作"
          });
        }
      } else {
        this.$message({ type: "warning", message: "没有取得screen" });
      }
    },
    markInactive: function (item) {
      let r = false;
      if (item?.position?.latitude && item?.position?.longitude) {
        r = item.position.latitude || item.position.longitude;
      }

      let screen = sessionStorage.getItem("screen");
      if (screen) {
        if (r) {
          let params = {
            deviceUrn: `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`,
            message: "手动标记",
            reportType: "REPORT_STREAM_INVISIBLE",
            screenUrn: screen
          };
          this.$store.dispatch("markInactive", params);
        } else {
          this.$message({
            type: "warning",
            message: "不能对经纬度信息不全的摄像头进行操作"
          });
        }
      } else {
        this.$message({ type: "warning", message: "没有取得screen" });
      }
    },
    handleCurrentChange: function (value) {
      Object.assign(this.cameraListPagination, {
        page: value,
        start: this.cameraListPagination.count * (value - 1)
      });
      this.$store.dispatch(
        "getCameraListPagination",
        this.cameraListPagination
      );
    },
    hidePlayVideoDialog: function () {
      this.playVideoVisible = false;
      this.hlsUrl = "";
      let urn = `urn:${this.currentCameraItem.urn.organization}:${this.currentCameraItem.urn.group}:${this.currentCameraItem.urn.id}`;
      this.$store.dispatch("disconnectVideo", [urn]);
    },
    connectCamera: function (item) {
      item;
      this.playVideoVisible = true;
      this.currentCameraItem = item;
      let urn = `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`;
      this.$store.dispatch("connectVideo", [urn]);
    },
    ...mapActions(["readDevicesTags", "setDevicesTag"]),
    ...mapMutations([])
  },

  mounted() {
    // setTimeout(() => {
    // this.hlsUrl = 'http://10.5.200.50:8050/cam/realmonitor/w3vkHOISA1C7AB78UO1C33?subtype=0&streamType=0&token=1615427685_b72e87c5798cf4d0cec167e8b801368ea6bfe7eb&mediatype=HLS.m3u8'
    // this.hlsUrl='http://10.242.212.152:83/openUrl/iv5uwgw/live.m3u8'
    // }, 5000);
    // let pagination = { start: 0, count: 20 };
    let screenPagination = { start: 0, count: 100 };
    // this.$store.dispatch("getCameraList", pagination);
    this.$store.dispatch("getCameraListPagination", {
      count: 10,
      start: 0,
      total: 0
    });
    this.$store.dispatch("getScreens", screenPagination);
    this.readDevicesTags();
  },
  watch: {
    videoRtsp: function (val) {
      if (val) {
        this.hlsUrl = this.videoRtsp[0].metadata.url;
        // this.sourceUrl = `rtsp://${streamNodeUrls.credential.user}:${streamNodeUrls.credential.password}@${streamNodeUrls.networkAccessPoint.ipAddress}:${streamNodeUrls.networkAccessPoint.port}/${streamNodeUrls.path}`;
      }
    },
    cameraFilterStatus: function (val) {
      if (val !== "全部") {
        this.cameraStatusList.forEach((item) => {
          if (item.value == val) {
            Object.assign(this.cameraListPagination, { statuses: item.key });
            this.$store.dispatch(
              "getCameraListPagination",
              this.cameraListPagination
            );
          }
        });
      } else {
        delete this.cameraListPagination.statuses;
        Object.assign(this.cameraListPagination, { total: 0 });
        this.$store.dispatch(
          "getCameraListPagination",
          this.cameraListPagination
        );
      }
    },
    cameraOnlineStatus: function (val) {
      if (val !== "全部") {
        this.cameraStatusList.forEach((item) => {
          if (item.fakeValue == val) {
            Object.assign(this.cameraListPagination, { statuses: item.key });
            this.$store.dispatch(
              "getCameraListPagination",
              this.cameraListPagination
            );
          }
        });
      } else {
        delete this.cameraListPagination.statuses;
        Object.assign(this.cameraListPagination, { total: 0 });
        this.$store.dispatch(
          "getCameraListPagination",
          this.cameraListPagination
        );
      }
    },
    screenList: function (val) {
      if (val.length > 0) {
        let screenUrn = val[0].urn;
        let urn = `urn:${screenUrn.organization}:${screenUrn.group}:${screenUrn.id}`;
        Vue.ls.set("screen", urn);
        this.showVideoContainer = true;
      }
    }
  },
  computed: {
    videoList: function () {
      // return this.cameraList.filter((item) => item.status == "DAMAGED");
      return this.cameraList.filter((item) => item.status == "INACTIVE");
    },
    ...mapState({
      videoRtsp: (state) => state.videoPolling.videoRtsp,
      screenList: (state) => state.videoPolling.screenList,
      wholeCameraList: (state) => state.videoPolling.wholeCameraList,
      cameraListPagination: (state) => state.videoPolling.cameraListPagination,
      cameraList: (state) => state.videoPolling.cameraList,
      devicesTagsList: (state) => state.videoPolling.devicesTagsList
    }),
    ...mapGetters([])
  },
  components: { hlsVideoContainer, rtspContainer }
};
</script>

<style lang="less" scoped>
.camera-damaged-container {
  margin: 20px 0;
  padding: 0 15px;
  box-sizing: border-box;
  .dialog-video-containers {
    height: 300px;
    width: 300px;
  }
  .el-row-height {
    height: 40px;
    line-height: 40px;
  }
}
</style>
