<template>
  <div class="parking-violation-container">
    <div class="search-bar">
      <el-form
        :inline="true"
        ref="searchForm"
        :rules="rules"
        :model="searchForm"
        class="demo-ruleForm"
        style="margin: 0 auto"
      >

        <el-form-item label="告警位置:" prop="exdept">
          <el-input
            v-model="searchForm.position"
            @input="handleExecutedDeptChange"
          ></el-input>
        </el-form-item>
        <el-form-item label="阈值:" prop="section">
          <el-input
              v-model="searchForm.threshold"
              @input="handleExecutedDeptChange"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="resetState">重置</el-button>
          <el-button type="primary" @click="searchParkingViolation('searchForm')">查询</el-button>
          <el-button type="warning" @click="moreEdit">批量修改</el-button>
          <el-button type="warning" @click="upScreen">批量上屏</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-container">
      <el-table
       :row-key="rowKey"
        border
        class="table"
        style="width: 100%"
        strip
        ref='selecttable'
        align="center"
        :data="populationLit"
        @select="selectItem"
        @select-all="selectAll"
      >
        <el-table-column
          type="selection"
          :reserve-selection="true"
          width="55">
        </el-table-column>
        <el-table-column
          label="告警位置"
          align="center"
          prop="position"
        ></el-table-column>
        <el-table-column
          label="阈值"
          align="center"
          prop="threshold"
        ></el-table-column>
        <el-table-column
          label="最后修改时间"
          align="center"
          prop="updateTimeFmt"
        ></el-table-column>
        <el-table-column
          label="固定点位上屏状态"
        align="center"
        >
          <template slot-scope="scope">
            <el-popconfirm
              @confirm='sureBtn(scope.row)'
              :title="scope.row.fixed == 1 ? '是否取消上屏状态' : '是否上屏'"
            >
              <el-tag slot="reference"
                :type="scope.row.fixed == 0 ? 'primary' : 'success'" disable-transitions>
                {{scope.row.fixed == 1 ? '已上屏' : '未上屏'}}
              </el-tag>
              <!-- <el-button>删除</el-button> -->
            </el-popconfirm>

          </template>
        </el-table-column>

        <el-table-column
          label="操作"
          align="center"
        >
         <!-- slot-scope="scope" -->
        <template slot-scope="scope">
          <el-button type="warning" size="mini"
            @click="editcurrent(scope.row)">修改阈值</el-button>

        </template>
      </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="populationParams.current"
        :page-size="populationParams.size"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="populationParams.total"
      ></el-pagination>
    </div>
    <el-dialog title="修改阈值" style="width:50%;margin:auto" :visible.sync="dialogTableVisible">
      <el-form :model="form">
        <el-form-item label="当前阈值" label-width="150px" v-if="!moreedit">
          <el-input v-model="selectFormthreshold" disabled autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="设定阈值" label-width="150px">
          <el-input v-model="form.threshold" @input="setallSelect" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button style="margin:auto;" type="primary" @click="onSubmit">立即创建</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    var checkRate = (rule, value, callback) => {
      if (!isNaN(value)) {
        callback()
      } else {
        callback(new Error('需输入数字!'));
      }
    };
    return {
      moreedit:false,
      searchForm: {
        position: "",
        threshold:''
      },
      rules: {
        rate: [
          {validator: checkRate, trigger: 'blur'}
        ]
      },
      allSelect:[],
      dialogTableVisible:false,
      form:{
        threshold:''
      },
      selectFormthreshold:''
    };
  },
  methods: {
    selectAll(data){
     [...this.allSelect] = [...data]
    },
    setallSelect(val){
      this.allSelect.forEach(item=>{
        // console.log(item)
        Object.assign(item,{threshold:val})
      })
    },
    async onSubmit(){
      //  提交
      await this.$store.dispatch('populationEdit',this.allSelect)
      this.dialogTableVisible = false;
      await setTimeout(()=>{
        this.$store.dispatch('populationList',{current:1,size:10})
        this.$refs['selecttable'].clearSelection()
        this.allSelect = []
        this.form['threshold'] =''
      },1000)
    },
    moreEdit(){
      this.moreedit = true
      // if(this.allSelect.length>1){
        this.dialogTableVisible = true
      // }else{
      //   this.$message({
      //     type:'warning',
      //     message:'批量处理请至少选择两个选项'
      //   })
      // }
    },
    selectItem(selection,row){
      if(selection.length>1){
        this.moreedit =true
      }else{
        this.moreedit =false
      }
      row;
      this.allSelect = selection
    },
    rowKey(row){
      return row.id
    },
    editcurrent(data){
      this.moreedit = false
      if(this.allSelect.length>1){
        this.$message({
          type:'warning',
          message:'此操作不支持批量处理'
        })

      }else{
        data;
        this.selectFormthreshold = data.threshold;
        this.allSelect = [data]
        this.dialogTableVisible = true
      }
    },
    handleStatusChange: function (val) {
      Object.assign(this.parkingViolationParams, { state: val });
      this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
    },
    handleExecutedDeptChange: function () {
      console.log("...");
      Object.assign(this.populationParams, this.searchForm);
    },

    handleCurrentChange: function (page) {
      Object.assign(this.populationParams, { current: page });
      this.$store.dispatch("populationList", this.populationParams);
    },
    resetState: function () {
      window.location.reload();
    },
    searchParkingViolation (searchForm) {
      let that = this
      this.$refs[searchForm].validate((valid) => {
        if (valid) {
          Object.assign(that.populationParams, { current: 1 });
          that.$store.dispatch("populationList", that.populationParams);
        } else {
          return false;
        }
      });
    },
    upScreen(){
      let arr= []
      arr = this.allSelect.map(o => ({...o}));
      arr.forEach(item=>{
        item.fixed = 1
      })
      this.$store.dispatch('populationEdit',arr)
      setTimeout(() => {
        this.$store.dispatch("populationList", this.populationParams);
        this.$refs['selecttable'].clearSelection()
        this.allSelect = []
      }, 1000);


    },
    sureBtn(row){
      if (row.fixed == 1) {
        row.fixed = 0
      } else {
        row.fixed = 1
      }
      let obj = {}
      Object.assign(obj,row)
      obj.screenShow = Number(!obj.screenShow)
      this.$store.dispatch('populationEdit',[obj])
      setTimeout(() => {
        this.$store.dispatch("populationList", this.populationParams);
        this.$refs['selecttable'].clearSelection()
        this.allSelect = []
      }, 1000);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch('populationList',{current:1,size:10})
  },
  filters: {},
  watch: {},
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_WEITING_IMG;
    },
    ...mapState({
      populationLit: (state) => state.videoPolling.populationLit,
      populationParams: (state) => state.videoPolling.populationParams,

    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/rockfish/parkingViolation.less";
.el-form-item__content{
  text-align: center;
}
</style>
