<template>
  <div class="exportCamera">
    <el-table
      border
      class="table"
      style="width: 100%"
      stripe
      align="center"
      :data="exportcameralist"
    >
      <el-table-column
        label="生成时间"
        prop="createTime"
        align="center"
      ></el-table-column>
      <el-table-column label="搜索条件" align="center">
        <template slot-scope="scope">
          <div
            v-for="(item, index) in JSON.parse(scope.row.searchParam).tags"
            :key="index"
          >
            {{ item }}、
          </div>
        </template>
      </el-table-column>
      <el-table-column label="文件路径" align="center">
        <template slot-scope="scope">
          <div :title="scope.row.relativePath">{{ hostName }}...</div>
        </template>
      </el-table-column>
      <el-table-column prop label="操作" align="center">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="downloadcameralist(scope.row)"
          >
            <a
              style="text-decoration:none;color:white"
              :href="hostName + scope.row.relativePath"
            >
              下载
            </a>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      videoPollingList: [],
      // hostName:window.location.host
      hostName: "http://10.224.106.38:8081"
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    downloadcameralist(data) {
      console.log(this.hostName + data.relativePath);
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("exportsCameralist", { start: 0, count: 10 });
  },
  watch: {},
  computed: {
    ...mapState({
      exportcameralist: state => state.videoPolling.exportcameralist
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.exportCamera {
  padding: 20px;
  box-sizing: border-box;
}
</style>
