<template>
    <div class="container">
        
        <div class="header">
            <span class="inputname">名字:</span>
            <el-input  class="input" v-model="name"></el-input>
            <span class="inputname">代号:</span>
            <el-input  class="input" v-model="number"></el-input>
            <span class="inputname">日期选择:</span>
            <div class="dateTimePicker">
                <el-date-picker
                v-model="value2"
                type="datetimerange"
                align="right"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :default-time="['12:00:00', '08:00:00']">
                </el-date-picker>
            </div>
            <span class="inputname">状态:</span>
            <el-select v-model="selectValue" placeholder="请选择" class="select">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <el-button type="success" class="btn_search">搜索</el-button>
        </div>
        <div class="box1">
            <el-button type="primary" @click="addTask">+新增库</el-button>
            <div class="recordCount" >人像总数: 18条</div>
        </div>
        <el-table 
        border
        class="table"
        stripe
        align="center"
        :data="tableData"
        >
        <el-table-column
            
            label="图像(左: 原图 右: 抓拍)"
            align="center"

            >
            <div class="imgbox">
                <img src="../../assets/logo.png" class="img_left">
                <img src="../../assets/logo.png" class="img_right">
            </div>
        </el-table-column>
        <el-table-column
            prop="province"
            label="人员信息"
            align="center"
            width="300"
            >
            <div class="peopleInfo">
                <div class="item">
                    <span class="peopleInfo_item_title">姓名:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
                <div class="item">
                    <span class="peopleInfo_item_title">摄像头名称:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
                <div class="item">
                    <span class="peopleInfo_item_title">性别:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
                <div class="item">
                    <span class="peopleInfo_item_title">出生年月:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
                <div class="item">
                    <span class="peopleInfo_item_title">证件号:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
                <div class="item">
                    <span class="peopleInfo_item_title">所属人像库:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
                <div class="item">
                    <span class="peopleInfo_item_title">备注:</span>
                    <span class="peopleInfo_item_value">薛帅</span>
                </div>
            </div>
        </el-table-column>
        <el-table-column
            prop="peopleInfo"
            label="相似度"
            align="center"
            >
            <template slot-scope="scope">
                <span class="peopleInfo_span">{{scope.row.peopleInfo}}</span>
            </template>
            
        </el-table-column>
        <el-table-column
            prop="name"
            label="处理人员及时间"
            align="center"
            >
             <template slot-scope="scope">
                 <div class="dealPeopleAndTime">
                    <span class="">处理人员: {{scope.row.name}}</span>
                    <span class="">处理时间: 2010-09-08</span>
                 </div>
                
            </template>
        </el-table-column>
        <el-table-column
            prop="city"
            label="推送时间"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="city"
            label="处理状态"
            align="center"
            >
            <template >
                 <div class="div_btn">
                    <span class="btn">待确认</span>
                 </div>
            </template>
        </el-table-column>
        <el-table-column
            prop="city"
            label="操作"
            align="center"
            >
            <template >
                 <div class="div_btn">
                    <span type="primary" class="btn_look">查看详情</span>
                 </div>
            </template>
        </el-table-column>
        
        </el-table>
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.pageNum"
          :page-size="params.pageSize"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount">
      </el-pagination>
        
    </div>
    
</template>
<script>
export default {
    data(){
        return{
            params:{
                pageNum:1,
                pageSize:10
            },
            totalCount:10,
            tableData:[{
                province:'安徽',
                name:"薛帅",
                city:'上海',
                peopleInfo:'90%'
            }],
            name:'',
            number:'',
            options: [{
                value: '选项1',
                label: '黄金糕'
                }, {
                value: '选项2',
                label: '双皮奶'
                }, {
                value: '选项3',
                label: '蚵仔煎'
                }, {
                value: '选项4',
                label: '龙须面'
                }, {
                value: '选项5',
                label: '北京烤鸭'
                }],
            selectValue: '',
            
        }
    },
    methods:{
        
        addTask(){  //添加任务

        },

        search(){   //搜定时任务

        },

        handleCurrentChange(){  //翻页按钮

        }
    }
}
</script>
<style scoped>
.container{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}
.input{
    width: 200px;
    height: 40px;
    margin-left: 10px;
}
.inputname{
    font-size: 15px;
    margin-left: 20px;
}
.btn_search{
    height: 40px;
    margin-left: 10px;
}
.box1{
    width: calc(100% - 50px);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    align-items: center;
      
}
.recordCount{
    margin-right: 15px;
}
.table{
    width: calc(100% - 50px);
    margin-top: 3px;
}
.fystyle{
    margin-top: 10px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
}
.dateTimePicker{
    margin-left: 10px;
}
.select{
    margin-left: 10px;
}
.imgbox{
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.img_left{
    height: 70px;
    width: 65px;
}
.img_right{
    height: 70px;
    width: 65px;
    margin-left: 10px;
}
.peopleInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.item{
    width: 50%;
    height: 25px;
    display: flex;
    flex-direction: row;  
}
.peopleInfo_item_value{
    color: #666;
    margin-left: 7px;
    
    font-size: 12px;
}
.peopleInfo_item_title{
    color: #333;
    margin-left: 5px;
    
    font-size: 12px;

}
.peopleInfo_span{
    color: red;
}
.dealPeopleAndTime{
    display: flex;
    flex-direction: column;
}
.btn{
    background:#67C23A ;
    color: white;
    width: 70px;
}
.btn_look{
    background:#409EFF ;
    color: white;
    width: 85px;
}
.div_btn{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


</style>