<template>
    <div class="container">
        <div class="line"></div>
        <div class="header">
            <el-input placeholder="请输入人像库名称" class="input" v-model="input"></el-input>
            <el-button type="success" class="btn_search">搜索</el-button>
        </div>
        <div class="box1">
            <el-button type="primary" @click="addTask">+新增库</el-button>
            <div class="recordCount" >人像总数: 18条</div>
        </div>
        <el-table 
        border
        class="table"
        stripe
        align="center"
        >
        <el-table-column
            prop="name"
            label="库名"
            align="center"

            >
        </el-table-column>
        <el-table-column
            prop="province"
            label="人像数量"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="city"
            label="备注"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="city"
            label="创建时间"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="city"
            label="更新时间"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="city"
            label="操作"
            align="center"
            >
        </el-table-column>
        
        </el-table>
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.pageNum"
          :page-size="params.pageSize"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount">
      </el-pagination>
        
    </div>
    
</template>
<script>
export default {
    data(){
        return{
            params:{
                pageNum:1,
                pageSize:10
            },
            totalCount:10,
            tableData:[],
            input:''
        }
    },
    methods:{
        
        addTask(){  //添加任务

        },

        search(){   //搜定时任务

        },

        handleCurrentChange(){  //翻页按钮

        }
    }
}
</script>
<style scoped>
.container{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.input{
    width: 300px;
}
.btn_search{
    height: 40px;
    margin-left: 10px;
}
.box1{
    width: calc(100% - 50px);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    align-items: center;
      
}
.recordCount{
    margin-right: 15px;
}
.table{
    width: calc(100% - 50px);
    padding: 0 15px 0 0;
    margin-top: 3px;
}
.fystyle{
    margin-top: 10px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
}



</style>