<template>
    <div class="container">
        <div class="line"></div>
        <el-tabs v-model="activeName" @tab-click="handleClick" class="tab"  >
            <el-tab-pane label="总人像库" name="first">
                <imageLibrary></imageLibrary>
                
            </el-tab-pane>
            <el-tab-pane label="历史记录" name="second"><history></history></el-tab-pane> 
        </el-tabs>
    </div>
</template>
<script>
import imageLibrary from "../rockfish/imageLibrary.vue";
import history from '../rockfish/history.vue'
export default {
    
    data(){
        return{
            activeName:'first'
        }
    },
    components:{
        'imageLibrary':imageLibrary,
        'history':history
    },
    methods:{
        handleClick(){   //tab标签点击事件

        }
    }
}
</script>
<style scoped>
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .line{
        width: 100%;
        height: 1px;
        background-color: #f2f2f2;
    }
    .tab{
        width: calc(100% - 40px);
        margin-top: 10px;
    }
</style>