<template>
  <div class="label-manage">
    <el-row>
      <el-col :span="3"><span>标签管理</span></el-col>
    </el-row>
    <el-row class="tag-container">
      <el-col>
        <el-tag
          v-for="(tag, index) in devicesTagsList"
          :key="index"
          closable
          :disable-transitions="false"
          @close="handleClose(tag)"
        >
          {{ tag.value }}
        </el-tag>
        <el-input
          class="input-new-tag"
          v-if="inputVisible"
          v-model="inputValue"
          ref="saveTagInput"
          size="small"
          @keyup.enter.native="handleInputConfirm"
          @blur="handleInputConfirm"
        ></el-input>
        <el-button
          v-else
          class="button-new-tag"
          size="small"
          @click="showInput"
        >
          + New Tag
        </el-button>
      </el-col>
      <el-table
        border
        class="table"
        style="width:100%;margin-top:45px;"
        strip
        align="center"
        :data="devicesTagsList"
      >
        <el-table-column
          label="标签名称"
          align="center"
          prop="value"
        ></el-table-column>
        <el-table-column label="状态" align="center">
          <template slot-scope="scope">
            <span v-if="scope.row.visible" style="color:green">大屏已展示</span>
            <span v-else style="color:orange">大屏未展示</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              v-if="!scope.row.visible"
              @click="handleUp(scope.row.value)"
            >
              上屏
            </el-button>
            <el-button v-else @click="handleDown(scope.row.value)">
              移除上屏
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      dynamicTags: [],
      inputVisible: false,
      inputValue: ""
    };
  },
  methods: {
    handleUp: function(val) {
      this.devicesTagsList.forEach(item => {
        if (item.value == val) {
          Object.assign(item, { visible: true });
        }
      });
      this.addDevicesTags(this.devicesTagsList);
    },
    handleDown: function(val) {
      this.devicesTagsList.forEach(item => {
        if (item.value == val) {
          Object.assign(item, { visible: false });
        }
      });
      this.addDevicesTags(this.devicesTagsList);
    },
    handleClose(tag) {
      console.log(tag);
      this.deleteDevicesTags([tag.value]);
    },

    showInput() {
      this.inputVisible = true;
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.dynamicTags.push(inputValue);
        this.addDevicesTags(this.dynamicTags);
      }
      this.inputVisible = false;
      this.inputValue = "";
      this.dynamicTags = [];
    },
    ...mapMutations([]),
    ...mapActions(["readDevicesTags", "addDevicesTags", "deleteDevicesTags"])
  },

  mounted() {
    this.readDevicesTags();
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      devicesTagsList: state => state.videoPolling.devicesTagsList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/rockfish/labelManage.less";
</style>
