<template>
  <div class="noiseDeetection-container">
    <el-form
            :inline='true'
            :v-model="params"
            style="margin: 0 auto"
        >
            <el-form-item label="设备点位:" prop="exdept">
                <el-input
                    v-model="params.position"
                    
                ></el-input>
            </el-form-item>
            <el-form-item label="阈值:" prop="section">
                <el-input
                    v-model.number="params.threshold"
                ></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="resetState">重置</el-button>
                <el-button type="primary" @click="getNoiseDetectionList('params')">查询</el-button>
                <el-button type="warning" @click="showMoreEditdDialog">批量修改</el-button>
                <el-button type="success" @click="showAddDeviceDialog">新增</el-button>
                          </el-form-item>
        </el-form>
        <el-table
            :ref="editArr"
            :data='noiseDetectionlist.results'
            border
            @selection-change="handleSelectionChange"
              >
            <el-table-column
                type='selection'
                width='55'
            ></el-table-column>
            <el-table-column
                label="设备点位"
                align="center"
                prop="address"
            ></el-table-column>
            <el-table-column
                label="推送时间"
                align="center"
                prop="currentTime"
            ></el-table-column>
            <el-table-column
                label='分贝'
                align= 'center'
                prop='currentDecibel'
            ></el-table-column>
            <el-table-column
                label='阈值'
                align= 'center'
                prop='thresholdDecibel'
            ></el-table-column>
            <el-table-column
                label='备注'
                align= 'center'
                prop='remark'
            ></el-table-column>
            <el-table-column
                label='操作'
                align= 'center'
            >
                <template slot-scope="scope">
                    <el-button type='warning' size='mini' @click="showEditDialog(scope.row)" >修改阈值</el-button>
                    <el-button type='danger' size='mini' @click="showDeleteDialog(scope.row)">删除</el-button>
                </template>
            
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                class="fystyle"
                @current-change="handleCurrentChange"
                :current-page.sync="params.current"
                :page-size='params.size'
                background
                layout="total, prev, pager, next, jumper"
                prev-text="上一页"
                next-text="下一页"
                :total="noiseDetectionlist.pagination.total"
            ></el-pagination>
            <el-dialog title="新增点位" :visible.sync="addDeviceDialogVisible" class="elDialog">
                <el-form :model="addDeviceFormParams" :rules='rules' ref="addDeviceFormParams">
                    <el-form-item label="设备点位:" label-width="100px" required>
                        <el-input class="noise-input" v-model="addDeviceFormParams.address" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="阈   值:" label-width="100px" required prop='thresholdDecibel'>
                        <el-input class="noise-input" v-model.number="addDeviceFormParams.thresholdDecibel" placeholder="请输入阈值"></el-input>
                    </el-form-item>
                    <el-form-item label="备   注:" label-width="100px">
                        <el-input class="noise-input" v-model="addDeviceFormParams.remark" placeholder=""></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="addDeviceDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addDevice('addDeviceFormParams')">确 定</el-button>
                </div>
            </el-dialog>
            <el-dialog title="修改阈值" :visible.sync="editDeviceDialogVisible" class="elDialog">
                <el-form :model="addDeviceFormParams" :rules='rules' ref="addDeviceFormParams">
                    <el-form-item label="当前阈值:" label-width="100px" required prop='thresholdDecibel' v-if="moreEditDialogVisible">
                        <el-input class="noise-input" v-model.number="currentThresholdDecibel" :disabled="true" placeholder=""></el-input>
                    </el-form-item>
                    <el-form-item label="设定阈值:" label-width="100px" required prop='thresholdDecibel'>
                        <el-input class="noise-input" v-model.number="addDeviceFormParams.thresholdDecibel" placeholder="请输入阈值"></el-input>
                    </el-form-item>
                   
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="editDeviceDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editDevice('addDeviceFormParams')">确 定</el-button>
                </div>
            </el-dialog>
            <el-dialog
              title="提示"
              :visible.sync="deleteDialogVisible"
              width="30%"
              >
              <span>是否删除?</span>
              <span slot="footer" class="dialog-footer">
                <el-button @click="deleteDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteDevice">确 定</el-button>
              </span>
            </el-dialog>
        </div>
  </div>   
</template>
<script>
import { mapState, mapGetters } from "vuex";
import { Message } from "element-ui";
export default {
  data() {
    return {
      searchForm: {
        threshold: "",
        position: ""
      },
      iteminfo: {},
      params: {
        current: 1,
        size: 10
      },
      addDeviceFormParams: {
        thresholdDecibel: "",
        address: "",
        remark: ""
      },
      currentThresholdDecibel: "",
      setThresholdDecibel: "",
      deleteDialogVisible: false,
      editDeviceDialogVisible: false,
      moreEditDialogVisible: false,
      addDeviceDialogVisible:false,
      rules: {
        thresholdDecibel: [
          { required: true, message: "阈值不能为空" },
          { min: 1, type: "number", message: "阈值必须大于0" }
        ],
        address: [{ required: true, message: "点位不能为空", trigger: "blur" }]
      },
      editArr: []
    };
  },
  mounted() {
    this.$store.dispatch("getNoiseDetectionList", {
      current: 1,
      size: 10
    });
  },
  methods: {
    handleCurrentChange(val) {
      this.params.current == val;
      this.$store.dispatch("getNoiseDetectionList", this.params);
    },
    //按照条件查询数据列表
    getNoiseDetectionList() {
      this.$store.dispatch("getNoiseDetectionList", this.params);
    },
    showAddDeviceDialog() {
      this.addDeviceDialogVisible = true;
    },
    //新增设备
    addDevice(formName) {
      let that = this;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let p = that.$store.dispatch(
            "addNoiseDetectionDevice",
            that.addDeviceFormParams
          );
          p.then((res) => {
            if (res.error == null) {
              Message({
                type: "success",
                message: "添加成功"
              });
              this.$store.dispatch("getNoiseDetectionList", this.params);
              this.addDeviceDialogVisible = false;
            } else {
              Message({
                type: "warning",
                message: "添加失败"
              });
              commit("ADD_NOISE_DEVICE", false);
            }
          });
          that.addDeviceDialogVisible = false;
        } else {
          return false;
        }
      });
    },
    //弹出删除dialog
    showDeleteDialog(slot) {
      this.iteminfo = slot;
      this.moreEditDialogVisible = true;
      this.deleteDialogVisible = true;
    },
    //删除设备
    deleteDevice() {
      let p = this.$store.dispatch("deleteNoiseDetectionDevice", {
        id: this.iteminfo.id
      });
      p.then((res) => {
        if (res.error == null) {
          this.$store.dispatch("getNoiseDetectionList", this.params);
          this.deleteDialogVisible = false;
          Message({
            type: "success",
            message: "已删除"
          });
        } else {
          Message({
            type: "warning",
            message: "删除失败"
          });
        }
      });
    },
    //弹出修改阈值dialog
    showEditDialog(slot) {
      this.iteminfo = slot;
      this.currentThresholdDecibel = this.iteminfo.thresholdDecibel;
      this.moreEditDialogVisible = true;
      this.editDeviceDialogVisible = true;
      this.editArr = []; //每次点击弹框将多选数据置空
      this.editArr.push(this.iteminfo);
    },
    //修改阈值
    editDevice(formName) {
      let that = this;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          that.editArr.forEach((item) => {
            item.thresholdDecibel = this.addDeviceFormParams.thresholdDecibel;
          });

          let p = this.$store.dispatch(
            "editNoiseDetectionDevice",
            this.editArr
          );
          p.then((res) => {
            if (res.error == null) {
              this.$store.dispatch("getNoiseDetectionList", this.params);
              this.editDeviceDialogVisible = false;
              this.addDeviceFormParams.thresholdDecibel = "";
              this.editArr = [];
              Message.success("修改成功");
            } else {
              Message.warning("修改失败");
            }
          });
        } else {
          return false;
        }
      });
    },
    //多选操作
    handleSelectionChange(val) {
      this.editArr = val;
    },
    //弹出批量修改dialog
    showMoreEditdDialog() {
      if (this.editArr.length == 0) {
        Message({
          type: "warning",
          message: "请选中需要批量操作的数据"
        });
      } else {
        this.editDeviceDialogVisible = true;
        this.moreEditDialogVisible = false;
      }
    },
    //重置
    resetState() {
      this.params.position = "";
      this.params.threshold = "";
    }
  },
  computed: {
    ...mapState({
      noiseDetectionlist: (state) => state.videoPolling.noiseDectectionList,
      addNoiseDeviceTag: (state) => state.videoPolling.addNoiseDeviceTag
    }),
    ...mapGetters([])
  }
};
</script>
<style scoped lang='less'>
.noiseDeetection-container {
  width: 95%;
  margin: 0 auto;
  .pagination-container {
    margin: 20px auto;
    text-align: center;
  }
}
.noiseAddFormItem {
  width: 100%;
}
.noise-input {
  width: 300px;
}
.elDialog {
  width: 50%;
  margin: 0 auto;
}
</style>