<template>
  <div class="noiseDeetection-container">
    <el-form
      :inline="true"
      :model="params"
      :rules="rules"
      ref="params"
      style="margin: 0 auto"
    >
      <el-form-item label="点位名称:" prop="exdept">
        <el-select v-model="params.urn" placeholder="请选择">
          <el-option
            v-for="item in devices"
            :key="item.deviceUrn"
            :label="item.address"
            :value="item.deviceUrn"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="推送时间:">
        <el-date-picker
          v-model="pushTime"
          type="datetimerange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd HH:mm:ss"
          @change="getPushTime"
          :picker-options="pickerOptions"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="监测值:" prop="avgStart">
        <el-input
          style="width: 70px"
          v-model.number="params.avgStart"
        ></el-input>
      </el-form-item>
      <el-form-item>—</el-form-item>
      <el-form-item prop="avgEnd">
        <el-input style="width: 70px" v-model.number="params.avgEnd"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="resetState">重置</el-button>
        <el-button type="primary" @click="getNoiseDetectionList('params')">
          查询
        </el-button>
        <!-- <el-button type="warning" @click="showMoreEditdDialog">
          批量修改
        </el-button>
        <el-button type="success" @click="showAddDeviceDialog">新增</el-button> -->
        <el-button type="primary" @click="exportExcel">导出</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :ref="editArr"
      :data="noiseList.results"
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column
        label="点位名称"
        align="center"
        prop="address"
      ></el-table-column>
      <el-table-column
        label="推送时间"
        align="center"
        prop="createTimeFmt"
      ></el-table-column>
      <el-table-column
        label="监测值"
        align="center"
        prop="avg"
      ></el-table-column>
      <!-- <el-table-column
        label="备注"
        align="center"
        prop="remark"
      ></el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button
            type="warning"
            size="mini"
            @click="showEditDialog(scope.row)"
          >
            修改阈值
          </el-button>
          <el-button
            type="danger"
            size="mini"
            @click="showDeleteDialog(scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column> -->
    </el-table>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="params.current"
        :page-size="params.size"
        background
        layout="prev, pager, next"
        :total="noiseTotal"
      ></el-pagination>

      <el-dialog
        title="新增点位"
        :visible.sync="addDeviceDialogVisible"
        class="elDialog"
      >
        <el-form
          :model="addDeviceFormParams"
          :rules="rules"
          ref="addDeviceFormParams"
        >
          <el-form-item label="设备点位:" label-width="100px" required>
            <el-input
              class="noise-input"
              v-model="addDeviceFormParams.address"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item
            label="阈   值:"
            label-width="100px"
            required
            prop="thresholdDecibel"
          >
            <el-input
              class="noise-input"
              v-model.number="addDeviceFormParams.thresholdDecibel"
              placeholder="请输入阈值"
            ></el-input>
          </el-form-item>
          <el-form-item label="备   注:" label-width="100px">
            <el-input
              class="noise-input"
              v-model="addDeviceFormParams.remark"
              placeholder=""
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addDeviceDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addDevice('addDeviceFormParams')">
            确 定
          </el-button>
        </div>
      </el-dialog>

      <el-dialog
        title="修改阈值"
        :visible.sync="editDeviceDialogVisible"
        class="elDialog"
      >
        <el-form
          :model="addDeviceFormParams"
          :rules="rules"
          ref="addDeviceFormParams"
        >
          <el-form-item
            label="当前阈值:"
            label-width="100px"
            required
            prop="thresholdDecibel"
            v-if="moreEditDialogVisible"
          >
            <el-input
              class="noise-input"
              v-model.number="currentThresholdDecibel"
              :disabled="true"
              placeholder=""
            ></el-input>
          </el-form-item>
          <el-form-item
            label="设定阈值:"
            label-width="100px"
            required
            prop="thresholdDecibel"
          >
            <el-input
              class="noise-input"
              v-model.number="addDeviceFormParams.thresholdDecibel"
              placeholder="请输入阈值"
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="editDeviceDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="editDevice('addDeviceFormParams')">
            确 定
          </el-button>
        </div>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="deleteDialogVisible" width="30%">
        <span>是否删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deleteDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="deleteDevice">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { Message } from "element-ui";
export default {
  data() {
    var validateMax = (rule, value, callback) => {
      if (value < this.params.minValue) {
        callback(new Error("不能小于前面的值"));
      } else {
        callback();
      }
    };
    return {
      choiceDate: null,
      pickerOptions: {
        onPick: ({ maxDate, minDate }) => {
          this.choiceDate = minDate.getTime();
          if (maxDate) {
            this.choiceDate = "";
          }
        },
        disabledDate: (time) => {
          if (this.choiceDate) {
            const one = 6 * 24 * 3600 * 1000;
            const minTime = this.choiceDate - one;
            const maxTime=this.choiceDate+one
            return(
              time.getTime()<minTime ||
              time.getTime()>maxTime ||
              time.getTime()>Date.now()
            )
          }else{
            return time.getTime()>Date.now()
          }
        }
      },
      pushTime: [],
      selectData: [],
      selectName: [],
      searchForm: {
        threshold: "",
        position: ""
      },
      iteminfo: {},
      params: {
        startTime: null,
        endTime: null,
        urn: "",
        avgStart: null,
        avgEnd: null,
        current: 1,
        size: 10
      },
      addDeviceFormParams: {
        thresholdDecibel: "",
        address: "",
        remark: ""
      },
      currentThresholdDecibel: "",
      setThresholdDecibel: "",
      addDeviceDialogVisible: false,
      deleteDialogVisible: false,
      editDeviceDialogVisible: false,
      moreEditDialogVisible: false,

      rules: {
        maxValue: [{ validator: validateMax, trigger: "blur", type: "number" }],
        thresholdDecibel: [
          { required: true, message: "阈值不能为空" },
          { min: 1, type: "number", message: "阈值必须大于0" }
        ],
        address: [{ required: true, message: "点位不能为空", trigger: "blur" }]
      },
      editArr: []
    };
  },
  mounted() {
    this.getDevices();
    this.$store.dispatch("getNoiseList", {
      current: 1,
      size: 10
    });
  },
  methods: {
    getPushTime() {
      if (this.pushTime != null) {
        this.params.startTime = this.pushTime[0];
        this.params.endTime = this.pushTime[1];
      }
    },
    getDevices() {
      this.$store.dispatch("getDevices");
    },
    handleCurrentChange(val) {
      this.params.current = val;
       this.$store.dispatch("getNoiseList", {
      current: this.params.current,
      size: 10
    });
    },
    // 导出
    exportExcel() {
        this.$store.dispatch("saveNoise", {
        startTime: this.params.startTime,
        endTime: this.params.endTime,
        urn: this.params.urn
        });
       this.$store.dispatch("exportNoise", this.noiseResult);
    },
    //按照条件查询数据列表
    getNoiseDetectionList() {
      if (this.params.urn == "1") {
        this.$store.dispatch("getNoiseList", {
          startTime: this.params.startTime,
          endTime: this.params.endTime,
          avgStart: this.params.avgStart,
          avgEnd: this.params.avgEnd
        });
      } else {
        this.$store.dispatch("getNoiseList", {
        startTime: this.params.startTime,
        endTime: this.params.endTime,
        urn: this.params.urn,
        avgStart: this.params.avgStart,
        avgEnd: this.params.avgEnd,
        current: 1,
        size: 10
        });
      }
      this.params = {};
      this.pushTime=""
    },

    //弹出新增设备弹框
    showAddDeviceDialog() {
      this.addDeviceDialogVisible = true;
    },
    //新增设备
    addDevice(formName) {
      let that = this;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let p = that.$store.dispatch(
            "addNoiseDetectionDevice",
            that.addDeviceFormParams
          );
          p.then((res) => {
            if (res.error == null) {
              Message({
                type: "success",
                message: "添加成功"
              });
              this.$store.dispatch("getNoiseList", this.params);
              this.addDeviceDialogVisible = false;
            } else {
              Message({
                type: "warning",
                message: "添加失败"
              });
              commit("ADD_NOISE_DEVICE", false);
            }
          });
          that.addDeviceDialogVisible = false;
        } else {
          return false;
        }
      });
    },

    //弹出删除dialog
    showDeleteDialog(slot) {
      this.iteminfo = slot;
      this.moreEditDialogVisible = true;
      this.deleteDialogVisible = true;
    },

    //删除设备
    deleteDevice() {
      let p = this.$store.dispatch("deleteNoiseDetectionDevice", {
        id: this.iteminfo.id
      });
      p.then((res) => {
        if (res.error == null) {
          this.$store.dispatch("getNoiseList", this.params);
          this.deleteDialogVisible = false;
          Message({
            type: "success",
            message: "已删除"
          });
        } else {
          Message({
            type: "warning",
            message: "删除失败"
          });
        }
      });
    },

    //弹出修改阈值dialog
    showEditDialog(slot) {
      this.iteminfo = slot;
      this.currentThresholdDecibel = this.iteminfo.thresholdDecibel;
      this.moreEditDialogVisible = true;
      this.editDeviceDialogVisible = true;
      this.editArr = []; //每次点击弹框将多选数据置空
      this.editArr.push(this.iteminfo);
    },

    //修改阈值
    editDevice(formName) {
      let that = this;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          that.editArr.forEach((item) => {
            item.thresholdDecibel = this.addDeviceFormParams.thresholdDecibel;
          });

          let p = this.$store.dispatch(
            "editNoiseDetectionDevice",
            this.editArr
          );
          p.then((res) => {
            if (res.error == null) {
              this.$store.dispatch("getNoiseList", this.params);
              this.editDeviceDialogVisible = false;
              this.addDeviceFormParams.thresholdDecibel = "";
              this.editArr = [];
              Message.success("修改成功");
            } else {
              Message.warning("修改失败");
            }
          });
        } else {
          return false;
        }
      });
    },

    //多选操作
    handleSelectionChange(val) {
      this.editArr = val;
    },

    //弹出批量修改dialog
    showMoreEditdDialog() {
      if (this.editArr.length == 0) {
        Message({
          type: "warning",
          message: "请选中需要批量操作的数据"
        });
      } else {
        this.editDeviceDialogVisible = true;
        this.moreEditDialogVisible = false;
      }
    },

    //重置
    resetState() {
      this.params = {};
    }
  },
  computed: {
    ...mapState({
      noiseDetectionlist: (state) => state.videoPolling.noiseDectectionList,
      addNoiseDeviceTag: (state) => state.videoPolling.addNoiseDeviceTag,
      devices: (state) => state.videoPolling.devices,
      noiseList: (state) => state.videoPolling.noiseList,
      noiseResult: (state) => state.videoPolling.noiseResult,
      noiseTotal:(state)=>state.videoPolling.noiseTotal
    }),
    ...mapGetters([])
  }
};
</script>

<style scoped lang='less'>
.noiseDeetection-container {
  width: 95%;
  margin: 0 auto;
  .pagination-container {
    margin: 20px auto;
    text-align: center;
  }
}
.noiseAddFormItem {
  width: 100%;
}
.noise-input {
  width: 300px;
}

.elDialog {
  width: 50%;
  margin: 0 auto;
}
</style>

