<template>
  <div class="parking-violation-container">
    <div class="search-bar">
      <el-form
        :inline="true"
        :model="searchForm"
        class="demo-form-inline"
        style="margin: 0 auto"
      >
        <el-form-item label="车辆违规时间:">
          <el-date-picker
            @change="handleParkingViolationDateTimeRangeChange"
            v-model="searchForm.parkingViolationDateTimeRange"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="违规车辆号牌">
          <el-input
            v-model="searchForm.carNumber"
            @input="handleCarNumberChanges"
          ></el-input>
        </el-form-item>
        <el-form-item label="违规状态">
          <el-select
            v-model="searchForm.violationState"
            @change="handleStatusChange"
          >
            <el-option
              v-for="option in selectOptions"
              :key="option.code"
              :value="option.code"
              :label="option.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="resetState">重置</el-button>
          <el-button type="primary" @click="searchParkingViolation">
            查询
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="parkingViolationList"
      >
        <el-table-column label="车牌" align="center">
          <template slot-scope="scope">
            <img
              style="height: 100px; width: 200px"
              :src="imageHost + scope.row.snapPic"
              alt=""
            />
          </template>
        </el-table-column>
        <el-table-column
          label="车辆号牌"
          align="center"
          prop="licensePlate"
        ></el-table-column>
        <el-table-column
          label="进入时间"
          align="center"
          prop="parkingTimeFmt"
        ></el-table-column>
        <el-table-column
          label="创建时间"
          align="center"
          prop="createTimeFmt"
        ></el-table-column>
        <el-table-column
          label="违规行为"
          align="center"
          prop="violationType"
        ></el-table-column>
        <el-table-column label="处理人员及时间" align="center">
          <template slot-scope="scope">
            <div>处理人员：{{ scope.row.handleName }}</div>
            <div>处理时间：{{ scope.row.handleTimeFmt }}</div>
          </template>
        </el-table-column>
        <el-table-column
          label="违规状态"
          align="center"
          prop="stateType"
        ></el-table-column>
        <el-table-column label="操作" align="center" prop="">
          <template slot-scope="scope">
            <el-button type="primary" @click="seeDetail(scope.row)">
              查看详情
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="parkingViolationParams.current"
        :page-size="parkingViolationParams.count"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="parkingViolationParams.total"
      ></el-pagination>
    </div>
    <el-dialog
      @close="hideParkingViolationModal('', '')"
      title="违章停车详细信息"
      :visible="parkingViolationVisible"
      width="90%"
    >
      <el-row>
        <el-col :span="15">
          <img
            :src="imageHost + currentDetail.snapPic"
            style="width: 100%"
            alt=""
          />
        </el-col>
        <el-col :span="7" :offset="1">
          <el-row style="height: 50px; text-align: left">
            <el-col :span="24">
              <span style="color: red; font-size: 20px">违章停车详细信息</span>
            </el-col>
          </el-row>
          <el-row style="height: 50px; text-align: left">
            <el-col :span="6" style="font-size: 18px">进入时间:</el-col>
            <el-col :span="18" style="font-size: 18px">
              {{ this.currentDetail.parkingTimeFmt }}
            </el-col>
          </el-row>
          <el-row style="height: 50px; text-align: left">
            <el-col :span="6" style="font-size: 18px">推送时间:</el-col>
            <el-col :span="18" style="font-size: 18px">
              {{ this.currentDetail.createTimeFmt }}
            </el-col>
          </el-row>
          <el-row style="height: 50px; text-align: left">
            <el-col :span="6" style="font-size: 18px">违章地点:</el-col>
            <el-col :span="18" style="font-size: 18px">
              {{ this.currentDetail.address }}
            </el-col>
          </el-row>
          <el-row style="height: 50px; text-align: left">
            <el-col :span="6" style="font-size: 18px">违章类型:</el-col>
            <el-col :span="18" style="font-size: 18px">
              {{ this.currentDetail.violationType }}
            </el-col>
          </el-row>
          <el-row style="height: 50px; text-align: left">
            <el-col :span="6" style="font-size: 18px">车牌号码:</el-col>
            <el-col :span="18" style="font-size: 18px">
              {{ this.currentDetail.licensePlate }}
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer" v-if="currentDetail.state == 0">
        <el-button @click="hideParkingViolationModal(currentDetail.id, 3)">
          违章
        </el-button>
        <el-button
          type="info"
          @click="hideParkingViolationModal(currentDetail.id, 2)"
        >
          没有违章
        </el-button>
        <el-button
          type="primary"
          @click="hideParkingViolationModal(currentDetail.id, 0)"
        >
          待确认
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentDetail: "",
      searchForm: {
        parkingViolationDateTimeRange: "",
        carNumber: "",
        violationState: ""
      }
    };
  },
  methods: {
    handleStatusChange: function(val) {
      Object.assign(this.parkingViolationParams, { state: val,current:1 });
      this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
    },
    handleCarNumberChanges: function() {
      // this.$store.commit('CHANGE_PARAMS',1)
      Object.assign(this.parkingViolationParams, {
        licensePlate: this.searchForm.carNumber,current:1
      });
      this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
    },
    dateString: function(d) {
      return (
        d.getFullYear() +
        "-" +
        (d.getMonth() + 1) +
        "-" +
        d.getDate() +
        " " +
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString())
      );
    },
    handleParkingViolationDateTimeRangeChange: function(array) {
      // let d1 = new Date(array[0]);
      // let d2 = new Date(array[1]);
      if (array.length > 0) {
        Object.assign(this.parkingViolationParams, {
          startTime: array[0],
          endTime: array[1],
          current:1
        });
        this.$store.dispatch(
          "parkingViolationList",
          this.parkingViolationParams
        );
      }
    },
    seeDetail: function(item) {
      console.log(item);
      this.currentDetail = item;
      this.$store.commit("SHOW_PARKING_VIOLATION_POPUP", true);
    },
    hideParkingViolationModal: function(id, state) {
      if (id) {
        this.$store.dispatch("handleParking", { id: id, state: state });
      }
      this.$store.commit("SHOW_PARKING_VIOLATION_POPUP", false);
    },
    handleCurrentChange: function(page) {
      console.log(page);
      Object.assign(this.parkingViolationParams, { current: page });
      this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
    },
    resetState: function() {
      window.location.reload();
    },
    searchParkingViolation: function() {
      Object.assign(this.parkingViolationParams, { current: 1 });
      this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("configList", {});
    this.$store.dispatch("getRockfishSelectOptions", { type: "car" });
    Object.assign(this.parkingViolationParams, { current: 1 });
    this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
  },
  filters: {},
  watch: {},
  computed: {
    imgPrefix: function() {
      return process.env.VUE_APP_WEITING_IMG;
    },
    ...mapState({
      imageHost: state => state.videoPolling.imageHost,
      parkingViolationParams: state =>
        state.videoPolling.parkingViolationParams,
      selectOptions: state => state.videoPolling.selectOptions,
      parkingViolationList: state => state.videoPolling.parkingViolationList,
      parkingViolationVisible: state =>
        state.videoPolling.parkingViolationVisible
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less">
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
