<template>
  <div class="screen-manage-container">
    <el-row style="margin-top: 20px">
      <el-col :span="4" :offset="20">
        <el-button type="primary" style="float: right" @click="showDialog"
          >添 加</el-button
        >
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px">
      <el-table border class="table" stripe align="center" :data="screenList">
        <el-table-column
          prop="descriptor.properties.screenName"
          label="屏幕名称"
        ></el-table-column>
        <el-table-column
          prop="descriptor.properties.width"
          label="长"
        ></el-table-column>
        <el-table-column
          prop="descriptor.properties.height"
          label="宽"
        ></el-table-column>
        <el-table-column label="区域">
          <template slot-scope="scope">
            <div
              v-for="seg in scope.row.descriptor.properties.segConfig"
              :key="seg.id"
            >
              {{ seg.segmentId }}:开始位置:{{ seg.leftTop }},结束位置{{
                seg.rightBottom
              }}
            </div>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text" @click="deleteScreen(scope.row)"
              >删除</el-button
            >
            <!-- <el-button type="text">编辑</el-button> -->
            <el-button type="text" @click="showSegmentManage(scope.row)"
              >区域管理</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </el-row>
    <el-dialog
      :visible="segmentManageVisible"
      @close="hideSegmentManage"
      title="区域管理"
    >
      <el-row>
        <el-col
          :span="13"
          style="
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        >
          <span>区域名称:</span>
          <el-input
            v-model="segmentName"
            style="width: 200px; margin-left: 10px"
          ></el-input>
        </el-col>
        <el-col :span="8" :offset="1">
          <el-button
            style="float: right; margin-left: 10px"
            type="primary"
            @click="addTempSegment"
            >确定</el-button
          >
          <el-button style="float: right">重置</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-tag v-for="item in tempSegmentList" :key="item.idd">{{
          Object.keys(item)
        }}</el-tag>
      </el-row>
      <div class="segment-container"></div>
      <div class="fake-square-container" style="margin-top: 20px">
        <div
          @click="handleClickSegment(item)"
          v-for="item in currentSquareObjList"
          :key="item.idd"
          class="line"
          :class="{ activeClass: item.isActive, lockClass: item.isLocked }"
        >
          <span>{{ item.name }}</span>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hideSegmentManage">取 消</el-button>
        <el-button type="primary" @click="confirmAddSegment">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog
      @close="hideDialog"
      :visible="addScreenVisible"
      title="屏幕管理"
      width="60%"
    >
      <div style="margin: 0 auto">
        <el-form :inline="true" :model="screenForm">
          <el-form-item label="屏幕名称:">
            <el-input style="width: 150px" v-model="screenForm.name"></el-input>
          </el-form-item>
          <el-form-item label="长:">
            <!-- <el-input style="width:150px;"></el-input> -->
            <el-input-number
              v-model="screenForm.width"
              @change="handleWidthChange"
              :min="1"
              :max="10"
              label="屏幕长"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="宽:">
            <!-- <el-input style="width:150px;"></el-input> -->
            <el-input-number
              v-model="screenForm.height"
              @change="handleHeightChange"
              :min="1"
              :max="10"
              label="屏幕宽"
            ></el-input-number>
          </el-form-item>
        </el-form>
      </div>
      <div class="square-container">
        <div v-for="(item, index) in square" :key="item" class="line">
          <span>屏幕{{ index + 1 }}</span>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hideAddScreen">取 消</el-button>
        <el-button type="primary" @click="confirmAddScreen">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="20%">
      <span>确认要删除?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteConfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      currentScreen: "",
      tempSegmentList: [],
      segmentName: "",
      currentSquareObjList: [],
      segmentManageVisible: false,
      screenForm: { height: 1, width: 1, name: "" },
      addScreenVisible: false,
      currentSquare: 0,
      dialogVisible: false,
      selectedSegmentAreaList: [],
      itemContent: {}
    };
  },
  methods: {
    confirmStrategy: function () {},
    getX: function (number, width) {
      if (number % width == 0) {
        return width - 1;
      } else {
        return Number.parseInt(number % width) - 1;
      }
    },
    getY: function (number, width) {
      if (number % width == 0) {
        return Number.parseInt(number / width) - 1;
      } else {
        return Number.parseInt(number / width);
      }
    },
    addTempSegment: function () {
      var maxX = 0;
      var maxY = 0;
      var minX = this.screenForm.width;
      var minY = this.screenForm.height;
      this.selectedSegmentAreaList.forEach((item) => {
        if (item.x < minX) {
          minX = item.x;
        }
        if (item.y < minY) {
          minY = item.y;
        }
        if (item.x > maxX) {
          maxX = item.x;
        }
        if (item.y > maxY) {
          maxY = item.y;
        }
      });

      this.selectedSegmentAreaList.forEach((item) => {
        this.currentSquareObjList.forEach((slice) => {
          if (item.name === slice.name) {
            Object.assign(item, { isLocked: true });
          }
        });
      });
      console.log(`left-top:${minX},${minY}`);
      console.log(`right-bottom:${maxX},${maxY}`);
      let p = {
        [this.segmentName]: {
          leftTop: [minX, minY],
          rightBottom: [maxX, maxY],
          segmentId: this.segmentName,
          screenSegmentLayers: {
            0: {
              grid: {
                width: maxX - minX + 1,
                height: maxY - minY + 1
              }
            }
          },
          screenSegmentLayer: {
            grid: {
              width: maxX - minX + 1,
              height: maxY - minY + 1
            },
            level: 0,
            present: true
          }
        }
      };
      this.tempSegmentList.push(p);
      this.selectedSegmentAreaList = [];
      this.segmentName = "";
    },
    handleClickSegment: function (item) {
      if (!item.isLocked) {
        // Object.assign(item, { isActive: !item.isActive });
        if (this.selectedSegmentAreaList.length == 0) {
          this.selectedSegmentAreaList.push(item);
          Object.assign(item, { isActive: true });
        } else {
          if (item.isActive) {
            let zindex = null;
            this.selectedSegmentAreaList.forEach((slice, index) => {
              if (slice.name == item.name) {
                zindex = index;
              }
            });
            if (zindex) {
              this.selectedSegmentAreaList.splice(zindex, 1);
            }
            Object.assign(item, { isActive: false });
          } else {
            let findTarget = false;
            this.selectedSegmentAreaList.forEach((slice) => {
              if (slice.name == item.name) {
                findTarget = true;
              }
            });
            if (!findTarget) {
              this.selectedSegmentAreaList.push(item);
              Object.assign(item, { isActive: true });
            }
          }
          // if (item.isActive) {
          //   var tt = false;
          //   this.selectedSegmentAreaList.forEach((slice) => {
          //     if (item.name == slice.name) {
          //       tt = true;
          //     } else {
          //       tt = false;
          //     }
          //   });
          //   if (!tt) {
          //     this.selectedSegmentAreaList.push(item);
          //   }
          // }
        }
      }
    },
    confirmAddSegment: function () {
      let p = {};
      let segments = {};
      this.tempSegmentList.forEach((item) => {
        Object.assign(segments, item);
      });
      console.log(this.tempSegmentList);
      console.log(segments);
      Object.assign(p, this.currentScreen);
      Object.assign(p.descriptor, { segments: segments });
      let keys = Object.keys(segments);
      let segmentConfigList = [];
      keys.forEach((key) => {
        let obj = segments[key];
        segmentConfigList.push(obj);
      });
      Object.assign(p.descriptor.properties, { segConfig: segmentConfigList });
      console.log(p);
      let a = [];
      a.push(p);
      this.$store.dispatch("createScreen", a);
    },
    hideSegmentManage: function () {
      this.currentScreen = "";
      this.segmentManageVisible = false;
      this.selectedSegmentAreaList = [];
      this.tempSegmentList = [];
      this.segmentName = "";
    },
    showSegmentManage: function (item) {
      this.currentScreen = item;
      this.segmentManageVisible = true;
      this.currentSquareObjList = [];
      Object.assign(this.screenForm, {
        height: Number.parseInt(item.descriptor.properties.height),
        width: Number.parseInt(item.descriptor.properties.width)
      });
      this.currentSquare =
        Number.parseInt(item.descriptor.properties.width) *
        Number.parseInt(item.descriptor.properties.height);
      let width = Number.parseInt(item.descriptor.properties.width);
      for (var i = 1; i < this.currentSquare + 1; i++) {
        var obj = {
          isActive: false,
          isLocked: false,
          name:
            "屏幕" +
            i +
            "(" +
            this.getX(i, width) +
            "," +
            this.getY(i, width) +
            ")",
          y: this.getY(i, width),
          x: this.getX(i, width)
        };
        this.currentSquareObjList.push(obj);
      }
      var start = 1;
      var startString = " 1fr ";
      while (start < Number.parseInt(item.descriptor.properties.width)) {
        startString += "1fr ";
        start += 1;
      }
      var end = 1;
      var endString = " 1fr ";
      while (end < Number.parseInt(item.descriptor.properties.height)) {
        endString += "1fr ";
        end += 1;
      }
      let styleString = `.fake-square-container {
      display:grid; 
      grid-gap: 1px;
      grid-template-columns:${startString};
      grid-template-rows:${endString};
    }
    `;
      var style = document.createElement("style");
      style.type = "text/css";
      style.innerHTML = styleString;
      document.getElementsByTagName("head")[0].appendChild(style);
    },
    getUUID: function () {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (
        c
      ) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
    getBigId: function () {
      var maxId;
      if (this.screenList.length == 0) {
        maxId = 1;
      } else {
        // maxId = Number.parseInt(this.screenList[0].urn.id);
        // for (var i = 1; i < this.screenList.length; i++) {
        //   if (Number.parseInt(this.screenList[i].urn.id) > maxId) {
        //     maxId = Number.parseInt(this.screenList[i].urn.id);
        //   }
        // }
        maxId = this.screenList.length;
      }
      console.log(maxId);
      return maxId;
    },
    deleteScreen: function (item) {
      //删除某个轮屏任务
      this.itemContent = item
      this.dialogVisible = true;
    },
    deleteConfirm() {
      //删除按钮确认点击事件
      this.$store.dispatch("deleteScreen", this.itemContent);
      this.dialogVisible = false;
    },
    hideDialog: function () {
      this.addScreenVisible = false;
    },
    showDialog: function () {
      this.addScreenVisible = true;
    },
    handleWidthChange: function (val) {
      val;
    },
    handleHeightChange: function (val) {
      val;
    },
    hideAddScreen: function () {
      this.addScreenVisible = false;
    },
    confirmAddScreen: function () {
      let a = [];
      let urn = {
        organization: "sh",
        group: "screen",
        id: "310115000" + "S" + this.getUUID()
      };
      let p = {
        urn,
        active: false,
        descriptor: {
          screenType: "BIG_SCREEN",
          properties: {
            screenName: this.screenForm.name,
            width: this.screenForm.width,
            height: this.screenForm.height,
            segConfig: []
          }
        }
      };
      a.push(p);
      this.$store.dispatch("createScreen", a);
    },
    ...mapActions([]),
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getScreens", { count: 100, start: 0 });
  },
  watch: {
    square: function (val) {
      val;
      var start = 1;
      var startString = " 1fr ";
      while (start < this.screenForm.width) {
        startString += "1fr ";
        start += 1;
      }
      var end = 1;
      var endString = " 1fr ";
      while (end < this.screenForm.height) {
        endString += "1fr ";
        end += 1;
      }

      let styleString = `
    .square-container {
      display:grid; 
      grid-gap: 1px;
      grid-template-columns:${startString};
      grid-template-rows:${endString};
    }
    `;
      var style = document.createElement("style");
      style.type = "text/css";
      style.innerHTML = styleString;
      document.getElementsByTagName("head")[0].appendChild(style);
    }
  },
  computed: {
    square: function () {
      return this.screenForm.height * this.screenForm.width;
    },
    ...mapState({ screenList: (state) => state.videoPolling.screenList }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.screen-manage-container {
  box-sizing: border-box;
  padding: 0 10px;

  .line {
    background-color: #eeeeee;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .activeClass {
    background-color: red;
  }
  .lockClass {
    background-color: antiquewhite;
  }
}
</style>
