<template>
  <div class="parking-violation-container">
    <div class="search-bar">
      <el-form
        :inline="true"
        ref="searchForm"
        :rules="rules"
        :model="searchForm"
        class="demo-form-inline"
        style="margin: 0 auto"
      >
        <el-form-item label="处置单位:" prop="exdept">
          <el-input
            v-model="searchForm.exdept"
            @input="handleExecutedDeptChange"
          ></el-input>
        </el-form-item>
        <el-form-item label="版块:" prop="section">
          <el-input
              v-model="searchForm.section"
              @input="handleExecutedDeptChange"
          ></el-input>
        </el-form-item>
        <el-form-item label="先行联系率:" prop="rate">
          <el-input
            v-model="searchForm.rate"
            @input="handleExecutedDeptChange"
          ></el-input>
        </el-form-item>
        <el-form-item label="时间筛选:" prop="period">
          <el-select v-model="searchForm.period" placeholder="请选择" @change='handleExecutedDeptChange'>
            <el-option
              v-for="item in periodList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="resetState">重置</el-button>
          <el-button type="primary" @click="searchParkingViolation('searchForm')">查询</el-button>
          <el-button type="primary" @click="exportOut('searchForm')">导出</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="sheetContactList"
      >
        <el-table-column
          label="处置单位"
          align="center"
          prop="handleExecutedDept"
        ></el-table-column>
        <el-table-column
          label="版块"
          align="center"
          prop="section"
        ></el-table-column>
        <el-table-column
          label="回访总量"
          align="center"
          prop="feedbackPerson"
        ></el-table-column>
        <el-table-column
          label="先行联系件数"
          align="center"
          prop="contactCount"
        ></el-table-column>
        <el-table-column
          label="先行联系率(%)"
          align="center"
          prop="rate"
        ></el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="sheetContactParams.current"
        :page-size="sheetContactParams.size"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="sheetContactParams.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    var checkRate = (rule, value, callback) => {
      if (!isNaN(value)) {
        callback()
      } else {
        callback(new Error('需输入数字!'));
      }
    };
    return {
      currentDetail: "",
      searchForm: {
        exdept: "",
        rate: "",
        section: "",
        period:''
      },
      rules: {
        rate: [
          {validator: checkRate, trigger: 'blur'}
        ]
      },
      periodList: [{
          value: '1',
          label: '当周'
        }, {
          value: '2',
          label: '当月'
        }, {
          value: '4',
          label: '上月'
        }],
    };
  },
  methods: {
    handleStatusChange: function (val) {
      Object.assign(this.parkingViolationParams, { state: val });
      this.$store.dispatch("parkingViolationList", this.parkingViolationParams);
    },
    handleExecutedDeptChange: function () {
      console.log("...");
      Object.assign(this.sheetContactParams, this.searchForm);
    },
    dateString: function (d) {
      return (
        d.getFullYear() +
        "-" +
        (d.getMonth() + 1) +
        "-" +
        d.getDate() +
        " " +
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString())
      );
    },
    handleParkingViolationDateTimeRangeChange: function (array) {
      // let d1 = new Date(array[0]);
      // let d2 = new Date(array[1]);
      if (array.length > 0) {
        Object.assign(this.parkingViolationParams, {
          startTime: array[0],
          endTime: array[1]
        });
        this.$store.dispatch(
          "parkingViolationList",
          this.parkingViolationParams
        );
      }
    },
    seeDetail: function (item) {
      console.log(item);
      this.currentDetail = item;
      this.$store.commit("SHOW_PARKING_VIOLATION_POPUP", true);
    },
    hideParkingViolationModal: function (id, state) {
      if (id) {
        this.$store.dispatch("handleParking", { id: id, state: state });
      }
      this.$store.commit("SHOW_PARKING_VIOLATION_POPUP", false);
    },
    handleCurrentChange: function (page) {
      Object.assign(this.sheetContactParams, { current: page });
      this.$store.dispatch("getSheetContact", this.sheetContactParams);
    },
    resetState: function () {
      window.location.reload();
    },
    searchParkingViolation: function (searchForm) {
      let that = this
      this.$refs[searchForm].validate((valid) => {
        if (valid) {
          Object.assign(that.sheetContactParams, { current: 1 });
          that.$store.dispatch("getSheetContact", that.sheetContactParams);
        } else {
          return false;
        }
      });
    },
    exportOut (searchForm) {
      let that = this
      this.$refs[searchForm].validate((valid) => {
        if (valid) {
          Object.assign(that.sheetContactParams, { current: 1 });
          this.$store.dispatch('contactExport', that.sheetContactParams)
        }
      })
    },
    ...mapMutations([])
  },

  mounted() {
    Object.assign(this.sheetContactParams, {
      size: 10,
      current: 1,
      // endTime: "",
      licensePlate: "",
      // startTime: "",
      state: "",
      total: 0
    });
    this.$store.dispatch("getSheetContact", {
      size: 10,
      current: 1,
      // endTime: "",
      licensePlate: "",
      // startTime: "",
      state: "",
      total: 0
    });
  },
  filters: {},
  watch: {},
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_WEITING_IMG;
    },
    ...mapState({
      sheetContactList: (state) => state.videoPolling.sheetContactList,
      sheetContactParams: (state) => state.videoPolling.sheetContactParams,
      trashClassifyList: (state) => state.videoPolling.trashClassifyList,
      trashClassifyParams: (state) => state.videoPolling.trashClassifyParams,
      parkingViolationParams: (state) =>
        state.videoPolling.parkingViolationParams,
      selectOptions: (state) => state.videoPolling.selectOptions,
      parkingViolationList: (state) => state.videoPolling.parkingViolationList,
      parkingViolationVisible: (state) =>
        state.videoPolling.parkingViolationVisible
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
