<template>
  <div class="srs-monitor">
    <div>总数:{{ tableData.length }}</div>
    <el-table :data="tableData">
      <el-table-column label="名称" prop="name"></el-table-column>
      <el-table-column label="codec" prop="video.codec"></el-table-column>
      <el-table-column label="app" prop="app"></el-table-column>
      <el-table-column label="active" prop="publish">
        <template slot-scope="scope">{{ scope.row.publish }}</template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import axios from "axios";
export default {
  data() {
    return { tableData: [] };
  },
  methods: {
    getStreamInfo: function() {
      let route = this.$router.currentRoute.name;
      console.log(route);
      let url = "";
      if (route == "lxzSRS") {
        url = "http://192.168.25.54:1985/api/v1/streams/";
      } else if (route == "sanlinSRS") {
        url = "http://10.9.0.61:1985/api/v1/streams/";
      }
      let instance = axios.create({
        url,
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      });
      instance.get().then(res => {
        if (route == "sanlinSRS") {
          this.tableData = res.data.streams;
        } else {
          let d = JSON.stringify(res.data);
          let reg = new RegExp(/\\u0004+/g);
          let s = d.replace(reg, "");
          let a = JSON.parse(s);
          let g = JSON.parse(a);
          this.tableData = g.streams;
        }
      });
    },
    ...mapMutations([])
  },

  mounted() {
    setInterval(() => {
      this.getStreamInfo();
    }, 1500);
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
