<template>
  <div class="parking-violation-container">
    <div class="search-bar">
      <el-form
        :inline="true"
        :model="searchForm"
        class="demo-form-inline"
        style="margin: 0 auto"
      >
        <el-form-item label="垃圾处理时间:">
          <el-date-picker
            @change="handleParkingViolationDateTimeRangeChange"
            v-model="searchForm.parkingViolationDateTimeRange"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="小区名称:">
          <el-input
            v-model="searchForm.carNumber"
            @input="handleCarNumberChanges"
          ></el-input>
        </el-form-item>
        <el-form-item label="垃圾类型:">
          <el-select
            v-model="searchForm.violationState"
            @change="handleStatusChange"
          >
            <el-option
              v-for="option in selectOptions"
              :key="option.code"
              :value="option.code"
              :label="option.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="resetState">重置</el-button>
          <el-button type="primary" @click="searchParkingViolation"
            >查询</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <div class="table-container">
      <el-table
        border
        class="table"
        style="width: 100%"
        strip
        align="center"
        :data="trashClassifyList"
      >
        <el-table-column label="小区名称" prop="districtName" align="center">
        </el-table-column>
        <el-table-column
          label="垃圾处理时间"
          align="center"
          prop="createTimeDesc"
        ></el-table-column>
        <el-table-column
          label="垃圾类别"
          align="center"
          prop="garbageTypeDesc"
        ></el-table-column>
        <el-table-column
          label="垃圾重量(kg)"
          align="center"
          prop="garbage"
        ></el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="trashClassifyParams.current"
        :page-size="trashClassifyParams.count"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="trashClassifyParams.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentDetail: "",
      searchForm: {
        parkingViolationDateTimeRange: "",
        carNumber: "",
        violationState: ""
      }
    };
  },
  methods: {
    handleStatusChange: function (val) {
      Object.assign(this.trashClassifyParams, { garbageType: val,current:1 });
      this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
    },
    handleCarNumberChanges: function () {
      Object.assign(this.trashClassifyParams, {
        districtName: this.searchForm.carNumber,
        current:1,

      });
      this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
    },
    dateString: function (d) {
      return (
        d.getFullYear() +
        "-" +
        (d.getMonth() + 1) +
        "-" +
        d.getDate() +
        " " +
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString())
      );
    },
    handleParkingViolationDateTimeRangeChange: function (array) {
      // let d1 = new Date(array[0]);
      // let d2 = new Date(array[1]);
      if (array.length > 0) {
        Object.assign(this.trashClassifyParams, {
          startTime: array[0],
          endTime: array[1],
          current:1
        });
        this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
      }
    },
    seeDetail: function (item) {
      console.log(item);
      this.currentDetail = item;
      this.$store.commit("SHOW_PARKING_VIOLATION_POPUP", true);
    },
    hideParkingViolationModal: function (id, state) {
      if (id) {
        this.$store.dispatch("handleParking", { id: id, state: state });
      }
      this.$store.commit("SHOW_PARKING_VIOLATION_POPUP", false);
    },
    handleCurrentChange: function (page) {
      Object.assign(this.trashClassifyParams, { current: page });
      this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
    },
    resetState: function () {
      window.location.reload();
    },
    searchParkingViolation: function () {
      Object.assign(this.trashClassifyParams, { current: 1 });
      this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
    },
    ...mapMutations([])
  },

  mounted() {
    Object.assign(this.trashClassifyParams, { current: 1 });
    this.$store.dispatch("getTrashClassifyList", { current: 1, size: 10, total: 0 });
    this.$store.dispatch("getRockfishSelectOptions", { type: "garbage" });
    // this.$store.dispatch("getTrashClassifyList", this.trashClassifyParams);
  },
  filters: {},
  watch: {},
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_WEITING_IMG;
    },
    ...mapState({
      trashClassifyList: (state) => state.videoPolling.trashClassifyList,
      trashClassifyParams: (state) => state.videoPolling.trashClassifyParams,
      selectOptions: (state) => state.videoPolling.selectOptions,
      parkingViolationVisible: (state) =>
        state.videoPolling.parkingViolationVisible
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/rockfish/parkingViolation.less";
</style>
