<template>
  <div class="container">
    <div class="line"></div>
    <div class="header">
      <el-input
        placeholder="请输入场景名称"
        class="input"
        @input="search"
        v-model="pollingListParams.name"
      ></el-input>
      <el-button type="primary" class="btn_search" @click="search">
        搜索任务
      </el-button>
      <el-button type="primary" @click="addTask">添加任务</el-button>
      <el-button type="primary" @click="recoverTask">还原轮巡</el-button>
      <!-- <el-tooltip content="刷新">
        <el-button type="primary" icon="el-icon-refresh-right" @click="refresh" class="refresh"></el-button>
      </el-tooltip>-->
    </div>
    <div class="table-container" style="width: 98%; margin: 0 auto">
      <el-table
        border
        class="table"
        style="width: 100%"
        stripe
        align="center"
        :data="videoPollingList"
      >
        <el-table-column
          prop="object.name"
          label="场景名称"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="object.candidates.length"
          label="摄像头数量"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="object.timeSlots"
          label="任务执行时间(时:分)"
          align="center"
        >
          <template slot-scope="scope">
            <div v-for="item in scope.row.object.timeSlots" :key="item.start">
              {{ item.start }}-{{ item.end }}
            </div>
          </template>
        </el-table-column>
        <el-table-column label="屏幕">
          <template slot-scope="scope">
            <span>{{ scope.row.object.screenSegments | getRowScreen }}</span>
          </template>
        </el-table-column>
        <el-table-column label="区域">
          <template slot-scope="scope">
            <span>{{ scope.row.object.screenSegments | getSegment }}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="auditHead.createTime"
          label="创建时间"
          align="center"
        >
          <template slot-scope="scope">
            <span>{{ timestampToTime(scope.row.auditHead.createTime) }}</span>
            <!-- <span>{{}}</span> -->
          </template>
        </el-table-column>
        <el-table-column
          prop="auditHead.lastUpdatedTime"
          label="最后更新时间"
          align="center"
        >
          <template slot-scope="scope">
            <span v-if="scope.row.auditHead.lastUpdatedTime">
              {{ timestampToTime(scope.row.auditHead.lastUpdatedTime) }}
            </span>
          </template>
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span
              v-if="scope.row.object.status == 'running'"
              style="color: green"
            >
              正在轮巡
            </span>
            <span v-else style="color: red">暂停轮巡</span>
          </template>
        </el-table-column>
        <el-table-column prop label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" @click="edit(scope.row)">编辑</el-button>
            <el-button type="text" @click="remove(scope.row)">删除</el-button>
            <el-button type="text" @click="runTaskNow(scope.row)">
              一键切换
            </el-button>
            <el-button
              type="text"
              @click="handleShowCameraManagement(scope.row)"
            >
              相机管理
            </el-button>
            <el-button type="text" @click="handlePollingStrategy(scope.row)">
              轮巡策略
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-pagination
      class="fystyle"
      @current-change="handleCurrentChange"
      :current-page="1"
      :page-size="pollingListParams.count"
      background
      layout="total, prev, pager, next,jumper"
      prev-text="上一页"
      next-text="下一页"
      :total="pollingListParams.total"
    ></el-pagination>
    <el-dialog
      title="轮巡策略"
      @close="hidePollingStrategy"
      :visible="pollingStrategyVisible"
    >
      <el-form :inline="true" :model="strategyModel">
        <el-form-item label="屏幕:">
          <el-select
            @change="handleScreenChange"
            v-model="strategyModel.screen"
          >
            <el-option
              v-for="item in screenList"
              :key="item.urn.id"
              :label="item.descriptor.properties.screenName"
              :value="item.urn.id"
            >
              {{ item.descriptor.properties.screenName }}
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="区域:">
          <el-select v-model="currentSegment">
            <el-option
              v-for="item in segmentList"
              :key="item.segmentId"
              :label="item.segmentId"
              :value="item.segmentId"
            >
              {{ item.segmentId }}{{ item.leftTop }}-{{ item.rightBottom }}
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hidePollingStrategy">取 消</el-button>
        <el-button type="primary" @click="confirmStrategy">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="20%">
      <span>确认要删除?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteConfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      @close="hideManageCameraDialog"
      title="相机管理"
      :visible="manageCameraVisible"
      width="90%"
      top="1vh"
    >
      <el-row>.
        <el-col :span="3" style="margin-bottom: 8px">
          <el-button type="primary" @click="startDraw">开始绘制</el-button>
        </el-col>
        <el-col :span="2">
          <el-button type="primary" @click="clearDraw">结束绘制</el-button>
        </el-col>
        <el-col :span="6" :offset="1">
          <el-select
            v-model="placetxt"
            filterable
            remote
            reserve-keyword
            placeholder="请输入关键词"
            :remote-method="placeSearch"
            @change="handlePlaceChange"
          >
            <el-option
              v-for="item in poiList"
              :key="item.id"
              :label="item.name"
              :value="item.name"
            >
              {{ item.name }}
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="3">已选择{{ selectedCameraCount }}个摄像头</el-col>
      </el-row>
      <div class="outer-manage-map-container">
        <div class="select-container">
          <div class="select-container-inner">
            <div
              v-for="item in selectChoicePointList"
              :key="item.id"
              class="item-slice"
            >
              <el-checkbox
                @change="handleSelectChoicePoint(item)"
                v-model="item.checked"
              >
                {{ item.nickname }}
              </el-checkbox>
            </div>
          </div>
        </div>
        <div id="manage-map-container" class="map-container"></div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="manageCameraVisible = false">取 消</el-button>
        <el-button type="primary" @click="addCameraList">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="配置轮屏任务"
      :visible="pollingAddPopVisible"
      @close="hidePollingAddPop"
    >
      <el-form
        style="width: 580px; margin: 0 auto"
        :model="taskModel"
        label-width="100px"
      >
        <el-form-item label="任务名称:">
          <el-input
            style="width: 350px"
            :disabled="pollingNameEditable"
            v-model="taskModel.taskName"
          ></el-input>
        </el-form-item>
        <el-form-item label="时间段:">
          <div
            style="
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <el-time-picker
              style="width: 350px"
              is-range
              @change="handleTimeRangeChange"
              v-model="taskModel.timeRange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              placeholder="选择时间范围"
            ></el-time-picker>
            <el-button type="primary" @click="addTimeRange">
              添加时间段
            </el-button>
          </div>
        </el-form-item>
      </el-form>
      <el-table border :data="taskList">
        <el-table-column
          width="100"
          prop="taskName"
          label="编号"
        ></el-table-column>
        <el-table-column prop="timeRange" label="时间段"></el-table-column>
        <el-table-column width="100" label="操作">
          <template slot-scope="scope">
            <el-button type="text" @click="deleteTimeRange(scope.row)">
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hidePollingAddPop">取 消</el-button>
        <el-button type="primary" @click="confirmPollingAddPop">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Vue from "vue";
import { config as configuration } from "@/utils/config.js";
export default {
  data() {
    return {
      selectChoicePointList: [],
      location: "",
      poiList: [],
      placetxt: "",
      currentSegment: "",
      segmentList: [{ segmentId: "" }],
      strategyModel: { screen: "", segment: "" },
      pollingStrategyVisible: false,
      pollingNameEditable: false,
      currentTaskDetail: "",
      manageCameraVisible: false,
      taskModel: { taskName: "", timeRange: "" },
      pollingAddPopVisible: false,
      totalCount: 10,
      tableData: [],
      input: "",
      dialogVisible: false,
      createTime: "",
      startTime: "",
      endTime: "",
      taskList: []
      // videoPollingList:{total:10,pagination:{total:10},results:[]}
    };
  },
  mounted() {
    this.$store.dispatch("getScreens", { count: 100, start: 0 });
  },
  created() {
    this.$store.dispatch("getVideoPollingList", this.pollingListParams);
  },

  filters: {
    getSegment: function (val) {
      if (val.length > 0) {
        return val[0].segment;
      } else {
        return;
      }
    },
    getRowScreen: function (val) {
      let screenList = Vue.ls.get("screenList");
      let screenNameList = [];
      val.forEach((item) => {
        screenList.forEach((screen) => {
          let screenUrn = `urn:${screen.urn.organization}:${screen.urn.group}:${screen.urn.id}`;
          if (screenUrn === item.screen) {
            screenNameList.push(screen.descriptor.properties.screenName);
          }
        });
      });
      return screenNameList.toString();
    }
  },
  watch: {
    selectPointList: function (val) {
      this.selectChoicePointList = [];
      val.forEach((item) => {
        let o = new Object();
        Object.assign(o, item, { checked: true });
        this.selectChoicePointList.push(o);
      });
      this.$store.commit("SET_SELECTED_CAMERA_COUNT", val.length);
    },
    manageCameraVisible: function (val) {
      if (!val) {
        this.$store.commit("CLEAR_MARKERLIST");
      }
    },
    screenList: function (val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
      }
    }
  },
  computed: {
    ...mapState({
      screenList: (state) => state.videoPolling.screenList,
      selectList: (state) => state.videoPolling.selectList,
      cameraList: (state) => state.videoPolling.cameraList,
      selectPointList: (state) => state.videoPolling.selectPointList,
      selectedCameraCount: (state) => state.videoPolling.selectedCameraCount,
      markerList: (state) => state.videoPolling.markerList,
      deviceListPagination: (state) => state.videoPolling.deviceListPagination,
      videoPollingList: (state) => state.videoPolling.videoPollingList,
      pollingListParams: (state) => state.videoPolling.pollingListParams,
      deleteResult: (state) => state.videoPolling.deleteResult,
      polygonPathList: (state) => state.initMap.polygonPathList
    })
  },
  methods: {
    handleSelectChoicePoint: function (e) {
      this.$store.commit("CLEAR_MARKER_LIST_ON_MAP", e);
    },
    recoverTask: function () {},
    handlePlaceChange: function (e) {
      console.log(e);
      this.poiList.forEach((item) => {
        if (item.name === e) {
          this.setcenter(item);
        }
      });
    },
    setcenter(item) {
      this.placetxt = item.name;
      this.poiList = [];
      Vue.prototype.globalAMap.setCenter([
        item.location.lng,
        item.location.lat
      ]);
      this.placetxt = "";
    },
    cleartext() {
      if (this.placetxt == "") {
        this.poiList = [];
      }
    },
    placeSearch(e) {
      let that = this;
      console.log(e);
      AMap.service(["AMap.PlaceSearch"], function () {
        let placeSear = new AMap.PlaceSearch({
          pageSize: 10, // 单页显示结果条数
          pageIndex: 1, // 页码
          city: "021" // 兴趣点城市
          // citylimit: true,  //是否强制限制在设置的城市内搜索
        });
        console.log(that.placetxt);
        placeSear.search(e, (status, res) => {
          console.log(res);
          that.poiList = res.poiList.pois;
        });
      });
    },
    clearDraw: function () {
      this.$store.commit("STOP_DRAW_POLYGON");
    },
    startDraw: function () {
      this.$store.commit("DRAW_POLYGON");
    },
    handleScreenChange: function (item) {
      console.log(item);
      this.screenList.forEach((slice) => {
        if (slice.urn.id == item) {
          this.segmentList = slice.descriptor.properties.segConfig;
        }
      });
    },
    confirmStrategy: function () {
      var urn;
      this.screenList.forEach((item) => {
        if (item.urn.id == this.strategyModel.screen) {
          urn = `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`;
        }
      });
      Object.assign(this.currentTaskDetail.object, {
        screen: urn,
        segment: this.currentSegment
      });
      if (!urn || !this.currentSegment) {
        this.$message({ type: "warning", message: "请选择屏幕或区域" });
        return;
      }
      console.log(this.currentTaskDetail);
      let a = [];
      // this.currentTaskDetail.object.screenSegments.push({
      //   screen: urn,
      //   segment: this.currentSegment
      // });
      let segList = [];
      segList.push({ screen: urn, segment: this.currentSegment });
      this.currentTaskDetail.object.screenSegments = segList;
      a.push(this.currentTaskDetail.object);
      this.$store.dispatch("addTask", a);
      console.log(a);
      this.segmentList = [];
      Object.assign(this.strategyModel, { screen: "", segment: "" });
      this.pollingStrategyVisible = false;
    },
    handlePollingStrategy: function (item) {
      this.pollingStrategyVisible = true;
      this.currentSegment = "";
      this.currentTaskDetail = item;
    },
    hidePollingStrategy: function () {
      this.currentTaskDetail = "";
      this.pollingStrategyVisible = false;
    },
    getZone: function () {
      const sysName = Vue.ls.get("sysName");
      var screen;
      switch (sysName) {
        case "ROCKFISH-LXZ":
          screen = configuration.identifier.lxz.zone;
          break;
        case "ROCKFISH-SANLIN":
          screen = configuration.identifier.sanlin.zone;
          break;
        case "ROCKFISH-ZHOUJIADU":
          screen = configuration.identifier.zhoujiadu.zone;
          break;
        case "ROCKFISH-ZHUQIAO":
          screen = configuration.identifier.zhuqiao.zone;
          break;
        default:
          break;
      }
      return screen;
    },
    hideManageCameraDialog: function () {
      this.manageCameraVisible = false;
    },
    addCameraList: function () {
      let p = new Object();
      Object.assign(p, this.currentTaskDetail.object);
      Object.assign(p, {
        candidates: this.selectPointList.map((item) => {
          return (
            "urn:" +
            item.urn.organization +
            ":" +
            item.urn.group +
            ":" +
            item.urn.id
          );
        })
      });
      let a = [];
      a.push(p);
      this.$store.dispatch("addTask", a);
      this.manageCameraVisible = false;
    },
    handleShowCameraManagement: function (item) {
      this.$store.commit("SET_RETURN_CAMERA_LIST", item.object.candidates);
      this.$store.commit("CLEAR_SELECT_POINT_LIST");
      this.currentTaskDetail = item;
      this.manageCameraVisible = true;
      this.$store.commit("INIT_AMAP");
      setTimeout(() => {
        this.$store.dispatch("getCameraList", this.deviceListPagination);
      }, 2000);
    },
    handleTimeRangeChange: function (timeRange) {
      this.startTime = timeRange[0];
      this.endTime = timeRange[1];
      let d = new Date(this.startTime);
      let d1 = new Date(this.endTime);
      this.endTime = new Date(this.endTime);
      this.startTime =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
      this.endTime =
        (d1.getHours().toString() > 9
          ? d1.getHours().toString()
          : "0" + d1.getHours().toString()) +
        ":" +
        (d1.getMinutes().toString() > 9
          ? d1.getMinutes().toString()
          : "0" + d1.getMinutes().toString()) +
        ":" +
        (d1.getSeconds().toString() > 9
          ? d1.getSeconds().toString()
          : "0" + d1.getSeconds().toString());
    },
    addTimeRange: function () {
      let obj = {
        taskName: "时段" + (this.taskList.length + 1),
        timeRange: this.startTime + "-" + this.endTime
      };
      if (this.startTime && this.endTime) {
        this.taskList.push(obj);
        this.startTime = "";
        this.endTime = "";
        Object.assign(this.taskModel, { timeRange: "" });
      } else {
        this.$message({ type: "warning", message: "请选择时间段" });
      }
    },
    deleteTimeRange: function (item) {
      var zindex;
      this.taskList.forEach((slice, index) => {
        if (slice.taskName == item.taskName) {
          zindex = index;
        }
      });
      this.taskList.splice(zindex, 1);
      this.taskList.forEach((slice, index) => {
        Object.assign(slice, { taskName: "时段" + (index + 1) });
      });
    },
    hidePollingAddPop: function () {
      Object.assign(this.taskModel, { taskName: "", timeRange: "" });
      this.taskList = [];
      this.pollingAddPopVisible = false;
    },
    confirmPollingAddPop: function () {
      const sysName = Vue.ls.get("sysName");
      var screen;
      switch (sysName) {
        case "ROCKFISH-LXZ":
          screen = configuration.identifier.lxz.zone;
          break;
        case "ROCKFISH-SANLIN":
          screen = configuration.identifier.sanlin.zone;
          break;
        case "ROCKFISH-ZHOUJIADU":
          screen = configuration.identifier.zhoujiadu.zone;
          break;
        case "ROCKFISH-ZHUQIAO":
          screen = configuration.identifier.zhuqiao.zone;
          break;
        default:
          break;
      }
      if (this.taskModel.taskName && this.taskList.length > 0) {
        let obj = new Object();
        if (this.pollingNameEditable) {
          Object.assign(obj, this.currentTaskDetail.object);
        }
        Object.assign(obj, {
          zone: screen,
          name: this.taskModel.taskName,
          timeSlots: this.taskList.map((item) => {
            return {
              start: item.timeRange.split("-")[0],
              end: item.timeRange.split("-")[1]
            };
          })
        });
        let canPost = true;
        obj.timeSlots.forEach((slot) => {
          let start = slot.start.split(":")[0];
          let end = slot.end.split(":")[0];
          if (start >= end) {
            canPost = false;
            this.$message({
              type: "warning",
              message: "任务终止时间要大于开始时间"
            });
          }
        });
        let a = [];
        a.push(obj);
        if (canPost) {
          this.$store.dispatch("addTask", a);
        }
        this.pollingAddPopVisible = false;
      } else {
        this.$message({ type: "warning", message: "任务名称和时间段必填！" });
      }
    },
    addTask() {
      this.pollingNameEditable = false;
      this.pollingAddPopVisible = true;
    },

    search() {
      Object.assign(this.pollingListParams, { page: 1 });
      this.$store.dispatch("getVideoPollingList", this.pollingListParams);
    },

    handleCurrentChange(value) {
      //翻页按钮
      Object.assign(this.pollingListParams, {
        page: value,
        start: this.pollingListParams.count * (value - 1)
      });
      this.$store.dispatch("getVideoPollingList", this.pollingListParams);
    },

    remove(data) {
      //删除某个轮屏任务
      this.pollingId = data.object.id;
      this.dialogVisible = true;
    },
    deleteConfirm() {
      //删除按钮确认点击事件
      this.$store.dispatch("deleteVideoPolling", { pollingId: this.pollingId });
      this.dialogVisible = false;
    },
    edit(data) {
      //编辑某个轮屏任务
      this.pollingNameEditable = true;
      this.pollingAddPopVisible = true;
      this.currentTaskDetail = data;
      Object.assign(this.taskModel, { taskName: data.object.name });
      this.taskList = data.object.timeSlots.map((item, index) => {
        let obj = {
          taskName: "时段" + (index + 1),
          timeRange: item.start + "-" + item.end
        };
        return obj;
      });
    },
    runTaskNow(data) {
      //立即执行某条轮屏任务
      this.pollingId = data.object.id;
      this.$store.dispatch("runTaskNow", { pollingId: this.pollingId });
    },
    refresh() {
      //列表刷新
      this.$store.dispatch("getVideoPollingList", this.pollingListParams);
    },

    timestampToTime(timestamp) {
      // timestamp = timestamp+'';
      timestamp = timestamp.length == 10 ? timestamp * 1000 : timestamp;
      var date = new Date(timestamp); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
      var Y = date.getFullYear() + "-";
      var M =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      var D = date.getDate() + " ";
      var h = date.getHours() + ":";
      var m = date.getMinutes() + ":";
      var s = date.getSeconds();
      return Y + M + D + h + m + s;
    }
  }
};
</script>
<style scoped lang="less">
.flex {
  height: 100%;
  background-color: red;
}
.map-container {
  position: relative;
  height: 700px;
  width: 100%;
  background-color: #eeeeee;
}
.container {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.input {
  width: 300px;
}
.btn_search {
  height: 40px;
  margin-left: 10px;
}
.box1 {
  width: calc(100% - 50px);
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #f2f2f2; */
  align-items: center;
}
.recordCount {
  margin-right: 15px;
}
.table {
  width: calc(100% - 50px);
  padding: 0 15px 0 0;
  margin-top: 15px;
}
.fystyle {
  margin-top: 10px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
}
.box_colnum {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box_row_caozuo {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.refresh {
  position: absolute;
  right: 30px;
}
.outer-manage-map-container {
  position: relative;
}
.select-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  width: 230px;
  height: 500px;
  background-color: #eeeeee;
  border: 1px solid blue;
}
.select-container-inner {
  overflow-y: scroll;
  height: 100%;
}
.item-slice {
  margin-bottom: 5px;
}
</style>
