<template>
  <div class='managementList'>
    <div class="managementSearch">
        <span>车辆违规时间：</span>
        <el-date-picker
            v-model="weiguiTime"
            type="datetimerange"
            value-format='yyyy-MM-dd HH:mm:ss'
            range-separator="至"
            start-placeholder="输入开始时间"
            end-placeholder="输入结束时间">
        </el-date-picker>
        <span style="margin-left:20px;">违规车辆的号牌：</span>
        <el-input style="width:250px" v-model="params.carNumber" placeholder="请输入违规车辆的号牌"></el-input>
        <span style="margin-left:20px;">违规状态：</span>
        <el-select v-model="params.eventType">
            <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            </el-option>
        </el-select>
         <el-button style="margin-left:20px;" type="success" 
                    icon="el-icon-search" @click="searchWeigui">
                    搜索违规记录
         </el-button>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <span>渣土车管理</span> 
            </div>
            <div class="managementTableTitleHeader">
                
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="listrecordVeh"
                    :border="true"
                    style="width: 100%">
                    <el-table-column
                        label="车照"
                        align='center'>
                        <template slot-scope="scope">
                            <img style="width:50px" 
                                :src="scope.row.carUrl" 
                                @mouseover="getBigImg(scope.row.imgUrl)"
                                @mouseout="hideBigImg" alt="">
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="carNumber"
                        label="车辆号牌"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="createTime"
                        label="违规时间"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="camName"
                        label="违规地点"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        label="违规类型"
                        align='center'>
                        <template slot-scope="scope">
                            <span>{{scope.row.recordType==7001?'禁运时间运行':'没有标签信息'}}</span>
                        </template>
                    </el-table-column>
                    <!-- <el-table-column
                        prop="type"
                        label="处理人及时间"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column> -->
                    <el-table-column
                        label="违规状态"
                        align='center'>
                        <template slot-scope="scope">
                            <span :class="scope.row.eventType==0?['paddingstate','color_gray']:
                            scope.row.eventType==1?['paddingstate','color_danger']:
                            scope.row.eventType==2?['paddingstate','color_Brand']:
                            ['paddingstate','color_Warning']">{{scope.row.stateType}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="操作"
                        align='center'>
                        <template slot-scope="scope">
                            <span class="operate" @click="watchItem(scope.row)">查看详情</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="params.pageNo"
                    :page-size="params.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="zhatumanageTotal">
                </el-pagination>
            </div>
        </div>
    </div>
    <div class="bigImg" v-if="weiguiCarImg">
       <img :src="weiguiCarImg" alt="">
    </div>
    <el-dialog
      title="渣土车详细信息"
      :visible.sync="dialogVisible"
      width="50%"
      class="carDialog"
      :close-on-click-modal='false'>
      <div class="dialogcontent">
         <div class="weitingImage">
           <img :src="weitingInfoObj.imgUrl" alt="">
         </div>
         <div class="weitingInfo">
           <div class="infoItem">渣土车详细信息</div>
           <div class="infoItem">
             <span class="infoItemitle">车牌号码</span>
             <span>{{weitingInfoObj.carNumber}}</span>
           </div>
           <div class="infoItem">
             <span class="infoItemitle">推送时间</span>
             <span>{{weitingInfoObj.createTime}}</span>
           </div>
           <div class="infoItem">
             <span class="infoItemitle">违章状态</span>
             <span>{{weitingInfoObj.stateType}}</span>
           </div>
           <div class="infoItem">
             <span class="infoItemitle">违章类型</span>
             <span>{{weitingInfoObj.recordType==7001?'禁运时间运行':'没有标签信息'}}</span>
           </div>
         </div>
      </div>
      <div class="weitingButton">
        <div v-for="(item,index) in btnOPtion" :key="index">
          <el-button class="btnsure" type="primary" @click="sureBtn(item)" plain>{{item.name}}</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        managementSearch:'',
        params:{
            pageNo:1,
            pageSize:10,
            carNumber:'',
            startTime:'',
            endTime:'',
            recordType:'-1',
            eventType:'-1'
        },
        weiguiTime:[],
        btnOPtion:[
          {value:1,name:'违章'},
          {value:2,name:'没有违章'},
          {value:3,name:'待定'},
        ],
        options: [{
          value: '-1',
          label: '全部'
        }, {
          value: '0',
          label: '待确认'
        },{
          value: '1',
          label: '违章'
        },{
          value: '2',
          label: '没有违章'
        },{
          value: '3',
          label: '待定'
        }],
        weiguiCarImg:'',
        dialogVisible:false,
        weitingInfoObj:{}
    }
  },
methods:{ ...mapMutations([]),
    handleCurrentChange(index){
        
        [this.params.startTime='',this.params.endTime=''] = [...this.weiguiTime]
        this.params.pageNo = index
        let forms = new FormData()
        Object.keys(this.params).forEach(key=>{
          forms.append(key,this.params[key])
        })
        this.$store.dispatch('vehicleRecordListRecord',forms)
    },
    searchWeigui(){

      [this.params.startTime='',this.params.endTime=''] = [...this.weiguiTime]
      this.params.pageNo = 1
      let forms = new FormData()
      Object.keys(this.params).forEach(key=>{
        forms.append(key,this.params[key])
      })
      this.$store.dispatch('vehicleRecordListRecord',forms)
    },
    getBigImg(url){
      this.weiguiCarImg = url
    },
    hideBigImg(){
      this.weiguiCarImg = ''
    },
    watchItem(item){
      console.log(item)
      this.weitingInfoObj = item
      this.dialogVisible = true
    },
    sureBtn(item){
      let forms = new FormData()
      forms.append('id',this.weitingInfoObj.id)
      forms.append('eventType',item.value)
      this.$store.dispatch('vehicleRecordUpdateState',forms)
      setTimeout(()=>{
        this.dialogVisible = false
      },500)
    }
},

mounted(){
  let forms = new FormData()
      forms.append('pageNo',1)
      forms.append('recordType','-1')
      forms.append('eventType','-1')
      forms.append('carNumber','')
      forms.append('startTime','')
      forms.append('endTime','')
  this.$store.dispatch('vehicleRecordListRecord',forms)
},
watch:{},
computed:{ ...mapState({
  listrecordVeh:state=>state.videoPolling.listrecordVeh,
  zhatumanageTotal:state=>state.videoPolling.zhatumanageTotal,
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/rockfish/lllegalStop.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
.operate{
  background: #5a98de;
  padding: 2px 5px 4px;
  color: aliceblue;
  border-radius: 4px;
}
.paddingstate{
  padding: 2px 5px 4px;
  border-radius: 4px;
  color: aliceblue;
}
.color_gray{
  background: #909399;
}
.color_danger{
  background: #F56C6C;
}
.color_Warning{
  background: #E6A23C;
}
.color_Brand{
  background: #409EFF;
}
.carDialog .el-dialog__header{
  background: #59c6f8 !important; 
}
</style>

