.people-capture {
  box-sizing: border-box;
  background-color: #132045;
  height: 100%;
  padding: 10px;
  @deep: ~">>>";
  @{deep} .el-form-item__label {

  }
  .people-inner {
    height: 100%;
    .category-container {
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 256px;
      margin: 0 auto;
      .container-title{
        color: #ffffff;
        font-size: 14px;
        line-height: 14px;
      }
    }
    .table-container{
      height: 80%;
      padding: 0 200px;
      @deep: ~">>>";
    }
    @{deep} .el-table, @{deep} .el-table__expanded-cell{
      background: transparent !important;
    }
    @{deep} .el-table td, @{deep} .el-table th.is-leaf{
      border: none;
    }
    @{deep} .el-table--enable-row-hover .el-table__body tr:hover>td{
      background-color: transparent;
    }
    @{deep} .el-table th, @{deep} .el-table tr{
      background-color: transparent;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
    @{deep} .el-table thead{
      color: #ffffff;
    }
    .el-checkbox{
      color: #ffffff;
    }
    .button-group{
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }

}
