.people-capture {
  box-sizing: border-box;
  background-color: #132045;
  height: 100%;
  padding: 10px;
  @deep: ~">>>";
  @{deep} .el-form-item__label {

  }
  .people-inner {
    height: 100%;
    .category-container {
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 256px;
      margin: 0 auto;
      .container-title{
        color: #ffffff;
        font-size: 14px;
        line-height: 14px;
      }
    }
    .form-container{
      padding: 0 200px;
      @deep: ~">>>";
      @{deep} .el-form-item__label {
        color: white;
        font-size: 16px;
      }
      @{deep} .el-input__inner {
        background-color: #1A2B5E;
        border: 1px solid #0477D6;
        color: #ffffff;
      }
      .area-box @{deep} .el-input__inner{
        height: 80px;
      }
      @{deep} .el-textarea__inner{
        background-color: #1A2B5E;
        border: 1px solid #0477D6;
        color: #ffffff;
      }
      @{deep} .el-range-editor .el-range-input {
        background-color: #192a5d;
      }
      @{deep} .el-cascader__search-input {
        background-color: #192a5d;
      }
      @{deep} .el-cascader .el-input .el-input__inner {
        background-color: #192a5d;
        border: 1px solid #0376d5;
      }
      @{deep} .el-input__inner {
        background-color: #192a5d;
        border: 1px solid #0376d5;
      }
      .right-text{
        color: #548EFF;
        font-size: 16px;
      }
    }
    .table-title{
      padding: 20px 50px;
      position: relative;
      .title-title{
        position: absolute;
        line-height: 38px;
        color: #ffffff;
      }
      .upload-pic{
        width: 586px;
        height: 38px;
        background: #0278D6;
        border-radius: 4px;
        margin: 0 auto;
        color: #ffffff;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
      }
    }
    .table-container {
      display: grid;
      padding: 20px 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
      .table-item {
        width: 100%;
        border: 1px solid #0b318f;
        .table-item-content {
          background-color: #22386e;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 0 5px;
          box-sizing: border-box;
          font-size: 16px;
          color: #ffffff;
          .detail-item {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            padding: 5px;
            .left{
              margin-right: 5px;
            }
          }
        }
        .table-item-img {
          height: 210px;
          position: relative;
          img.search {
            position: absolute;
            left: 9px;
            top: 9px;
            cursor: pointer;
          }
          img.deleteIcon{
            position: absolute;
            right: 9px;
            top: 9px;
            cursor: pointer;
          }
          img.img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .pagination-container {
      margin: 10px auto 0 auto;
      text-align: center;
      @deep: ~">>>";
      @{deep} .el-pagination .el-pager li.active {
        background-color: #2b7bce;
        color: white;
      }
      @{deep} .el-pagination__total {
        color: white;
      }
    }
    .button-group{
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
  @{deep} .el-dialog, .el-pager li{
    background-color: #192A5D;
  }
  @{deep} .el-dialog__body{
    color: #ffffff;
  }
  @{deep} .el-dialog__title{
    color: #ffffff;
  }
  @{deep} .el-form-item__label{
    color: #ffffff;
  }
  @{deep} .el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
  }
  @{deep} .el-input__inner{
    border: 1px solid #0376D5;
    background-color: #1F367A;
  }
  @{deep} .el-upload--picture-card{
    background: url("~@/assets/images/mcp/xiangji@2x.png") no-repeat;
    border: none;
  }
  @{deep} .el-input__inner{
    color: #ffffff;
  }
}


.filter_condition:first-child{
  padding-top: 10px;
}
.filter_condition{
  width:100%;
  min-height: 6%;
  background-color: #151f45;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  .condition_item_more{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .condition_item{
    flex: 1;
    display: flex;
    .condition_item_label{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      color: white;
    }
    .condition_item_input{
      flex: 6;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}