.people-capture {
  box-sizing: border-box;
  background-color: #132045;
  height: 100%;
  padding: 10px;
  @deep: ~">>>";
  .people-inner {
    height: 100%;
    display: flex;
    flex-flow: row;
    .left-container{
      background-color: #152A6F;
      width: 25%;
      height: 100%;
      .left-container-title{
        color: #35BAF7;
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
      }
      .input-box{
        display: flex;
        flex-flow: row nowrap;
        padding: 5px 15px;
        input{
          background-color: transparent;
          border: 1px solid #4891F3;
          width: 172px;
          height: 36px;
          margin: 0;
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
          color: #ffffff;
          font-size: 16px;
          padding: 0 5px;
        }
        .search-button{
          width: 85px;
          height: 38px;
          background-color: #4891F3;
          text-align: center;
          line-height: 38px;
          color: #ffffff;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
        }
      }
      @{deep} .el-tree{
        padding: 5px 15px;
        background: transparent;
        color: #35BAF7;
      }
      @{deep} .el-tree-node__content:hover{
        background-color: #1D3795;
      }
    }
    .right-container{
      width: 75%;
      height: 100%;
      display: flex;
      flex-flow: column;
      .right-container-title1{
        display: flex;
        flex-flow: row nowrap;
        height: 38px;
        align-items: center;
        width: 100%;
        justify-content: space-between;margin-top: 15px;
        .input-box{
          display: flex;
          flex-flow: row nowrap;
          padding: 5px 15px;
          input{
            background-color: transparent;
            border: 1px solid #4891F3;
            width: 172px;
            height: 36px;
            margin: 0;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            color: #ffffff;
            font-size: 16px;
            padding: 0 5px;
          }
          .search-button{
            width: 85px;
            height: 38px;
            background-color: #4891F3;
            text-align: center;
            line-height: 38px;
            color: #ffffff;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
          }
          .el-button--primary{
            margin-left: 10px;
          }
        }
        .check-box{
          justify-self: flex-end;
          .el-checkbox{
            color: #ffffff;
          }
        }
      }
      .right-container-title2{
        display: flex;
        flex-flow: row nowrap;
        height: 38px;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        padding: 0 15px;
        .input-box{
          display: flex;
          flex-flow: row nowrap;
          padding: 5px 15px;
        }
        .input-box-right{
          margin-left: 10px;
          border: 1px solid #0376D5;
          padding: 0 10px;
          width: 85%;
          height: 100%;
          display: flex;
          align-items: center;
          color: #ffffff;
          position: relative;
          border-radius: 5px;
          .tag-item{
            color: #FF8D00;
            border: 1px solid #FF8D00;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 5px;
            margin-left: 10px;
            border-radius: 5px;
            .tag-name{
              color: #ffffff;
              margin-right: 5px;
            }
            img{
              margin-left: 5px;
              cursor: pointer;
            }
          }
          .clear-button{
            position: absolute;
            right: 10px;
            cursor: pointer;
          }
        }
      }
      .table-container{
        margin: 15px;
        @{deep} .el-table, .el-table__expanded-cell{
          background-color: transparent;
          color: #ffffff;
        }
        @{deep} .el-table thead{
          background-color: #2C3B8D;
        }
        @{deep} .el-table th {
          background-color: transparent;
          color: #ffffff;
          border-top: 1px solid #0376D5;
        }
        @{deep} .el-table tr {
          background-color: transparent;
          color: #ffffff;
          border-top: 1px solid #0376D5;
        }
        @{deep} .el-table td, @{deep} .el-table th.is-leaf{
          border-bottom: 1px solid #0376D5;
          border-right: 1px solid #0376D5;
        }
        @{deep} .el-table td:first-child, @{deep} .el-table th.is-leaf:first-child{
          //border-top: 1px solid #0376D5;
          border-left: 1px solid #0376D5;
        }
        @{deep} .el-table--border::after, .el-table--group::after, .el-table::before{
          background-color: #0376D5;
        }
        @{deep} .el-table--enable-row-hover .el-table__body tr:hover>td{
          background-color: #1D3795;
        }
      }
      .pagination-container {
        margin: 10px auto 0 auto;
        text-align: center;
        @deep: ~">>>";
        @{deep} .el-pagination .el-pager li.active {
          background-color: #2b7bce;
          color: white;
        }
        @{deep} .el-pagination__total {
          color: white;
        }
      }
    }
  }
}


.filter_condition:first-child{
  padding-top: 10px;
}
.filter_condition{
  width:100%;
  min-height: 6%;
  background-color: #151f45;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  .condition_item_more{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .condition_item{
    flex: 1;
    display: flex;
    .condition_item_label{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      color: white;
    }
    .condition_item_input{
      flex: 6;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}