<template>
    <div class='carContrast'>
        <div class="people_contrast_item_info">
            <div :style="`height:${carouselHeight}`" class="people_contrast_item_info_img">
                <div class="people_contrast_item_info_imgIcon" @click.stop="searchCarImg">
                    <img :src="require('@/assets/images/mcp/cheliang@2x.png')" alt="">
                </div>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603256997329&di=6ebf84a1e23f713ce58838f6bdd735e9&imgtype=0&src=http%3A%2F%2Fgb.cri.cn%2Fmmsource%2Fimages%2F2013%2F05%2F20%2F85%2F3466518757768322413.jpg" alt="">
            </div>
            <div class="people_contrast_item_info_title">
                位置 : 金都花园一号门/进
            </div>
            <div class="people_contrast_item_info_title">
                时间 : 2020-10-02  11:20:45
            </div>
        </div>
        <div class="people_contrast_item_percent"></div>
        <div class="people_contrast_item_info">
            <div class="people_contrast_item_info_img">
                <el-carousel trigger="click" arrow='always' :height="carouselHeight" indicator-position='none'>
                    <el-carousel-item v-for="item in 4" :key="item">
                        <div class="people_contrast_item_info_imgIcon" @click.stop="searchCarImg">
                            <img :src="require('@/assets/images/mcp/cheliang@2x.png')" alt="">
                        </div>
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603256997329&di=6ebf84a1e23f713ce58838f6bdd735e9&imgtype=0&src=http%3A%2F%2Fgb.cri.cn%2Fmmsource%2Fimages%2F2013%2F05%2F20%2F85%2F3466518757768322413.jpg" alt="">
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="people_contrast_item_info_title">
                姓名 : 张三
            </div>
            <div class="people_contrast_item_info_title">
                人像库 : 入室盗窃案
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        carouselHeight:0,
    }
  },
methods:{ ...mapMutations([]),
    searchCarImg(){
        this.$router.push('/mcp/search/car/result')
    }
},

mounted(){
    let height = document.body.clientHeight;
    console.log(height)
    this.carouselHeight =(height/1065)*258+'px'
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/warning.less";
</style>
