<template>
    <div class='peopleContrast'>
        <div class="people_contrast_item_info">
            <div :style="`height:${carouselHeight}`" class="people_contrast_item_info_img">
                <div class="people_contrast_item_info_imgIcon" @click.stop="searchPeoImg">
                    <img :src="require('@/assets/images/mcp/renxiang@2x.png')" alt="">
                </div>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603110660387&di=07cd6a87863526ebf0d8a3ca4f8d4ded&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F0dd7912397dda144dac4acc9b2b7d0a20df486f8.jpg" alt="">
            </div>
            <div class="people_contrast_item_info_title">
                位置 : 金都花园一号门/进
            </div>
            <div class="people_contrast_item_info_title">
                时间 : 2020-10-02  11:20:45
            </div>
        </div>
        <div class="people_contrast_item_percent">
            <div class="people_contrast_item_percentNum">
                <div class="corner_left_top"></div>
                <div class="corner_right_top"></div>
                <div class="corner_left_bottom"></div>
                <div class="corner_right_bottom"></div>
                <div class='percentNum' style="">
                    90.2%
                </div>
            </div>
        </div>
        <div class="people_contrast_item_info">
            <div class="people_contrast_item_info_img">
                <el-carousel trigger="click" arrow='always' :height="carouselHeight" indicator-position='none'>
                    <el-carousel-item v-for="item in 4" :key="item">
                        <div class="people_contrast_item_info_imgIcon" @click.stop="searchPeoImg">
                            <img :src="require('@/assets/images/mcp/renxiang@2x.png')" alt="">
                        </div>
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603110660387&di=07cd6a87863526ebf0d8a3ca4f8d4ded&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F0dd7912397dda144dac4acc9b2b7d0a20df486f8.jpg" alt="">
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="people_contrast_item_info_title">
                姓名 : 张三
            </div>
            <div class="people_contrast_item_info_title">
                人像库 : 入室盗窃案
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        carouselHeight:0,
    }
  },
methods:{ ...mapMutations([]),
    searchPeoImg(){
        this.$router.push('/mcp/search/people/result')
    }
},

mounted(){
    let height = document.body.clientHeight;
    console.log(height)
    this.carouselHeight =(height/1065)*258+'px'
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/warning.less";
.peopleContrast{
    padding: 15px;
    box-sizing: border-box;
    background-color: #1f3772;
    display: grid;
    grid-template-columns: 44.5% 11% 44.5%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
</style>
