<template>
    <div class='warningContrastPop'>
        <div class="warningContrastContent">
            <div class="warningIcon">
                <el-badge :value="12" style="margin-top:10px;margin-right:40px">
                    <img :src="require('@/assets/images/mcp/jingbao@2x.png')" alt="">
                </el-badge>
            </div>
            <div class="warningContrastTitle">
                车辆预警
            </div>
            <div class="warningContrastHeader">
                推送时间:2020-10-10  15:45:25
            </div>
            <div class="warningContrastImg">
                <div class="warningContrastImgItem">
                    <div class="warningContrast_img">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603272399992&di=a75ab784272eb7933b50e485753857fe&imgtype=0&src=http%3A%2F%2Fa0.att.hudong.com%2F30%2F29%2F01300000201438121627296084016.jpg" alt="">
                    </div>
                    <div class="warningContrast_text">
                        位置 : 金都花园一号门/进
                    </div>
                    <div class="warningContrast_text">
                        时间 : 2020-10-02 11:20:45
                    </div>
                </div>
                <div class="people_contrast_item_percent">
                    <div class="people_contrast_item_percentNum">
                        <div class="corner_left_top"></div>
                        <div class="corner_right_top"></div>
                        <div class="corner_left_bottom"></div>
                        <div class="corner_right_bottom"></div>
                        <div class='percentNum' style="">
                            90.2%
                        </div>
                    </div>
                </div>
                <div class="warningContrastImgItem">
                    <div class="warningContrast_img">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603272399992&di=a75ab784272eb7933b50e485753857fe&imgtype=0&src=http%3A%2F%2Fa0.att.hudong.com%2F30%2F29%2F01300000201438121627296084016.jpg" alt="">
                    </div>
                    <div class="warningContrast_text">
                        位置 : 金都花园一号门/进
                    </div>
                    <div class="warningContrast_text">
                        时间 : 2020-10-02 11:20:45
                    </div>
                </div>
            </div>
            <div class="warningContrastBtn">
                <div class="warningContrastBtnItem">
                    <el-button type="primary" size="mini">上一条</el-button>
                </div>
                <div class="warningContrastBtnItem">
                    <el-button type="warning" size="mini">收到</el-button>
                </div>
                <div class="warningContrastBtnItem">
                    <el-button size="mini">下一条</el-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
methods:{ ...mapMutations([])},

mounted(){},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {
    
  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/warningContrastPop.less";
</style>
