<template>
  <label class="container">
    记住密码
    <input
      type="checkbox"
      v-bind:checked="remerberPassword"
      v-on:change="$emit('change', $event.target.checked)"
    />
    <span class="checkmark"></span>
  </label>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  model: {
    prop: "remerberPassword",
    event: "change"
  },
  props: {
    remerberPassword: Boolean
  },
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less'>
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #0687cd;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #0ba1f8;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0ba1f8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
