<template>
  <div class="home">
    <div class="home-inner"></div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {}
};
</script>
<style scoped lang="less">
.img {
  width: 854px;
  height: 682px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e9eef4;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  .home-inner {
    height: 100%;
    width: 100%;
    background-color: white;
  }
}
</style>
