<template>
  <div class="layout-container">
    <el-container>
      <el-aside :style="menuStyle" class="menuList">
        <div
          class="logo-container"
          :style="
            sysName == 'OFFICE-WEBSITE' ? 'border-bottom:1px solid #ccc' : ''
          "
          :class="{ logoNewClass: sysName == 'MCP' }"
        >
          <div class="logoBox">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/Hulkman/logo%403x.png"
              alt
              class="liexionglogo"
              v-if="sysName != 'LINGANG'"
            />
            <img
              src="~@/assets/images/lingang/lQLPDhra5ag214DNAhbNBN-w1hiKVF1MfMsBk-JBR8ANAA_1247_534.png"
              alt=""
              class="liexionglogo"
              v-if="sysName == 'LINGANG'"
            />
            <span class="logotitle" v-if="sysName != 'LINGANG'">猎熊座</span>
          </div>

          <img
            @click="redirectToDashboard"
            v-if="sysName == 'MCP'"
            src="~@/assets/images/mcp/guohui@2x.png"
            alt
            style="cursor: pointer"
          />
          <span
            style="
              color: white;
              font-size: 20px;
              font-weight: 900;
              letter-spacing: 3px;
            "
            v-if="sysName == 'DEVICE-INPUT'"
          >
            设备录入
          </span>
        </div>
        <el-menu
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
          :collapse="isCollapse"
          background-color="#192b5d"
          :unique-opened="isUniqueOpened"
          @select="handleSelect"
          active-text-color="#409EFF"
          text-color="#ffffff"
        >
          <template v-for="(menu, index) in menuList">
            <template v-if="menu.submenus && menu.submenus.length > 0">
              <el-submenu
                @click="handleClickElMenu"
                :key="menu.title"
                :index="String(index)"
              >
                <template slot="title">
                  <i class="el-icon-setting"></i>
                  <span slot="title">{{ menu.title }}</span>
                </template>
                <el-menu-item
                  v-for="(subMenu, cIndex) in menu.submenus"
                  :index="String(index - cIndex)"
                  :key="cIndex"
                  @click="
                    () => {
                      $router.push(subMenu.path).catch((err) => {
                        err;
                      });
                    }
                  "
                >
                  {{ subMenu.title }}
                </el-menu-item>
              </el-submenu>
            </template>
            <template v-else>
              <el-menu-item :key="index" @click="redirectMenuItem(menu)">
                <i class="el-icon-setting"></i>
                <span slot="title" style="color: #409eff">
                  {{ menu.title }}
                </span>
              </el-menu-item>
            </template>
          </template>
        </el-menu>
        <div class="backIcon">
          <i
            v-if="!isCollapse"
            class="el-icon-d-arrow-left"
            @click="checkMenu"
          ></i>
          <i
            v-if="isCollapse"
            class="el-icon-d-arrow-right"
            @click="checkMenu"
          ></i>
        </div>
      </el-aside>
      <el-container>
        <el-header
          class="header"
          style="padding: 0"
          :class="{ hideHeader: hideHeader }"
        >
          <div
            class="header-container"
            :class="{ headerNewClass: sysName == 'MCP' }"
          >
            <div class="header-logo-container">
              <span class="mcp-header" v-if="sysName == 'MCP'">
                浦东新区微卡口管理系统
              </span>

              <div class="arheader">
                <span class="artitle" v-if="sysName == 'ARLOGIN'">
                  AR实景系统后台管理
                </span>
                <span class="artitle" v-if="sysName == 'SLCYLogin'">
                  三林城运后台管理系统
                </span>
                <span class="artitle" v-if="false">
                  浦东新区城市运行综合管理中心
                </span>
              </div>
            </div>
            <div class="user-block">
              <div class="user-block-info" v-if="sysName == 'MCP'">
                <el-badge
                  :value="3"
                  :max="10"
                  style="margin-top: 5px; margin-right: 20px"
                >
                  <i class="el-icon-message-solid"></i>
                </el-badge>
              </div>
              <div
                class="user-block-info"
                @click="openInfo()"
                v-if="sysName === 'lqcLogin'"
              >
                <el-badge
                  :value="infoNumber"
                  :max="10"
                  style="margin-top: 5px; margin-right: 20px"
                >
                  <i class="el-icon-message-solid"></i>
                </el-badge>
              </div>
              <div class="weather" v-if="sysName == 'LINGANG'">
                <div class="weather_txt">
                  <div>{{ dateString }} 星期{{ weekString }}</div>
                  <div class="fontWeight600">{{ timeString }}</div>
                </div>
              </div>
              <el-dropdown
                :class="{ whiteClass: sysName == 'MCP' }"
                @command="handleCommand"
                v-if="userName"
              >
                <span class="el-dropdown-link">
                  <span class="info-drop">
                    <img
                      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/head.jpg"
                      alt
                    />
                    <span style="width: 6rem">{{ userName }}</span>
                    <i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="out">
                    <div class="drop-item-btn" @click="loginout">退出</div>
                  </el-dropdown-item>
                  <el-dropdown-item command="back" v-if="sysName == 'STARFISH'">
                    <div class="drop-item-btn">返回</div>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
        </el-header>
        <el-main
          :class="{ mcpBgClass: sysName == 'MCP' }"
          style="padding: 0; margin: 0"
        >
          <!-- <div class="body-inner"> -->
          <router-view></router-view>
          <!-- </div> -->
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
import { Message } from "element-ui";
export default {
  data() {
    return {
      isUniqueOpened: true,
      isCollapse: false,
      path: "",
      userName: "",
      d: new Date(),
      timeString: "",
      breadList: [],
      menuList: [],
      eventMap: new Map([
        [
          "lqcLogin",
          () => {
            this.$router.push("/lqc/login");
          }
        ],
        [
          "RADAR-ADMIN",
          () => {
            this.$router.push("/radar/login");
          }
        ],
        [
          "MIDDLEWARE",
          () => {
            this.$router.push("/m/login");
          }
        ],
        [
          "WORK-SHEET",
          () => {
            this.$router.push("/w/login");
          }
        ],
        [
          ("ROCKFISH-LXZ",
          () => {
            this.$router.push("/rf/liexiongzuo/login");
          })
        ],
        [
          "ROCKFISH-SANLIN",
          () => {
            this.$router.push("/rf/sanlin/login");
          }
        ],
        [
          "ROCKFISH-ZHOUJIADU",
          () => {
            this.$router.push("/rf/zhoujiadu/login");
          }
        ],
        [
          "STARFISH",
          () => {
            this.$router.push("/sf/login");
          }
        ],
        [
          "GATEWAY",
          () => {
            this.$router.push("/gw/login");
          }
        ],
        [
          "OFFICE-WEBSITE",
          () => {
            this.$router.push("/office/login");
          }
        ],
        [
          "DEVICE-INPUT",
          () => {
            this.$router.push("/di/login");
          }
        ],
        [
          "LINGANG",
          () => {
            this.$router.push("/lg/login");
          }
        ]
      ]),
      menuStyle: {
        width: "12%",
        "background-color": "#192b5d"
      }
    };
  },
  mounted() {
    this.menuList = Vue.ls.get("menuList");
    this.userName = Vue.ls.get("userName");
    if (this.sysName == "LINGANG") {
      this.getUserDetail();
    } else {
      console.log(this.userName);
      this.userName = Vue.ls.get("userName");
    }
  },

  methods: {
    getUserDetail() {
      this.$store.dispatch("lgGetUserDetail").then((res) => {
        this.userName = res.data.name;
      });
    },
    openAudit: function () {
      this.$router.push("/lqc/audit");
    },
    redirectToDashboard: function () {
      this.$router.push("/mcp/dashboard");
    },
    checkMenu() {
      this.isCollapse = !this.isCollapse;
      if (this.isCollapse) {
        this.menuStyle = {
          width: "65px",
          "background-color": "#192b5d",
          position: "relative"
        };
      } else {
        this.menuStyle = {
          width: "220px",
          "background-color": "#192b5d",
          position: "relative"
        };
      }
    },
    redirectMenuItem: function (data) {
      if (data.path != this.$router.currentRoute.path) {
        this.$router.push(data.path);
      }
    },
    handleClickElMenu: function () {},
    ...mapMutations([]),
    handleOpen(key, keyPath) {
      key;
      keyPath;
    },
    handleClose(key, keyPath) {
      key;
      keyPath;
    },
    handleSelect(key) {
      key;
    },
    getBreadcrumb() {
      let matched = this.$route.matched.filter((item) => item.name);
      this.breadList = matched;
    },
    /**
     * 退出登录
     */
    handleCommand(command) {
      if (command === "out") {
        const sysName = Vue.ls.get("sysName");
        if (sysName === "STARFISH") {
          window.location.href = "http://10.242.181.237/Authentication/Index";
        } else if (sysName == "SLCYLogin") {
          this.$router.push("/slcy/slcylogin");
        } else if (sysName == "osLogin") {
          this.$router.push("/os/login");
          Vue.ls.clear();
        }
        this.eventMap.get(sysName)();
      } else {
        window.location.href = "http://10.242.181.237/ManageLogin/Index";
      }
    },
    toLogin() {
      this.$router.push({
        path: "/rf/login"
      });
    },
    loginout() {
      if (this.sysName == "MCP") {
        this.$router.push("/mcp/login");
        Vue.ls.clear();
      } else if (this.sysName == "ROCKFISH-SANLIN") {
        this.$router.push("/rf/sanlin/login");
        Vue.ls.clear();
      } else if (this.sysName == "ARLOGIN") {
        this.$store.dispatch("loginout", {}).then((res) => {
          if (res.msg == "成功") {
            this.$router.push("/ar/login");
          } else {
            Message.success(res.msg);
          }
        });
      } else if (this.sysName == "rongheLogin") {
        window.location.href = window.location.origin + "/r/login";
      } else if (this.sysName === "lqcLogin") {
        this.$router.push("/lqc/login");
      }
      switch (this.sysName) {
        case "LINGANG":
          this.$router.push("/lg/login");
          break;
        case "RADAR-ADMIN":
          this.$router.push("/radar/login");
          break;
        default:
          break;
      }
    },
    openInfo() {
      this.$notify({
        title: "审批通知",
        message: `您有${this.infoNumber}条审批单待审批。`,
        duration: 0
      });
    }
  },

  created() {
    this.getBreadcrumb();
    if (this.$router.currentRoute.path.indexOf("lqc") > -1) {
      this.$store.dispatch("blendPlanApproveListss", { status: "SUBMIT" });
    }
    // 时钟
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);
  },

  watch: {
    $route() {
      this.getBreadcrumb();
    }
  },
  computed: {
    sysName: function () {
      return Vue.ls.get("sysName");
    },
    weekString: function () {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function () {
      return (
        this.d.getFullYear() +
        "/" +
        (this.d.getMonth() + 1) +
        "/" +
        this.d.getDate() +
        "/"
      );
    },
    ...mapState({
      userInfo: (state) => state.login.userInfo,
      hideHeader: (state) => state.middleware.hideHeader,
      infoNumber: (state) => state.lqc.infoNumber
    }),
    ...mapGetters([])
  },
  components: {},
  beforeDestroy() {
    localStorage.clear();
  },
  destroyed() {
    localStorage.clear();
  }
};
</script>

<style lang="less">
.arheader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .artitle {
    color: black;
    font-size: 35px;
    margin-left: 20px;
  }

  .arLogo {
    height: 30px;
    width: 30px !important;
    background-size: 100% 100%;
    margin-left: 30px;
  }
}
.hideHeader {
  display: none !important;
}
.mcpBgClass {
  background-color: #132045;
}
.whiteClass {
  color: white;
}
.headerNewClass {
  background-color: #1f3575;
}
.logoNewClass {
  background-color: #1f3575;
}
.logo-container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logoBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  align-items: center;
  justify-content: center;
  background: white;
}
.body-inner {
  height: 100%;
  padding: 10px;
  background-color: #e9eef4;
}
.logotitle {
  color: white;
  font-size: 30px;
}
.liexionglogo {
  height: 90%;
  width: 80%;
}
.lglogo {
  height: 45px;
  width: 150px;
}
.layout-container {
  height: 100%;
  display: flex;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-height: 400px;
}
.header {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}
.breadcrumb-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-container {
  position: relative;
  width: 100%;
  .header-logo-container {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 100%;
    }
    .mcp-header {
      font-size: 35px;
      color: #6f94ff;
    }
  }
  .user-block {
    width: 350px;
    position: absolute;
    right: 0;
    font-size: 18px;
    height: 60px;
    padding: 0 30px 0 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    .user-block-info {
      text-align: center;
      font-size: 30px;
      color: #4992f1;
      cursor: pointer;
      margin-right: 20px;
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 15px;
    }
    @deep: ~">>>";
    @{deep} .el-dropdown {
      font-size: 18px;
    }
  }
}
.drop-item-btn {
  padding: 0 30px;
  font-size: 16px;
}
.info-drop {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.menuList {
  position: relative;
}
.backIcon {
  cursor: pointer;
  background: #cccccc;
  position: absolute;
  bottom: 0;
  right: 0;
}
.weather_txt {
  display: flex;
  flex-direction: row;
  width: 18rem;
  box-sizing: border-box;
  padding-right: 1rem;
}
.fontWeight600 {
  margin-left: 1rem;
}
</style>
