<template>
  <div class=''>
      数据驾驶舱
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:[],
  methods:{ ...mapMutations([])},

  created(){},
  mounted(){},
  watch:{},
  computed:{ ...mapState({}),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less'>

</style>
