<template>
  <div class="car-capture-container">
    <div class="filter_condition">
      <div class="condition_item">
        <div class="condition_item_label">时间</div>
        <div class="condition_item_input">
          <el-date-picker
            v-model="searchParams.date"
            type="daterange"
            align="left"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="condition_input mcp-input-bg"
          ></el-date-picker>
        </div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">摄像头</div>
        <div class="condition_item_input">
          <el-cascader
            :collapse-tags="true"
            style="width: 100%"
            placeholder="请输入想要查询的摄像头"
            :options="cameraList"
            :props="{ multiple: true }"
            filterable
          ></el-cascader>
        </div>
      </div>

      <div class="condition_item_more">
        <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            {{ moreOption }}
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="a" @click.native="showHighranking(1)">
              高级筛选
            </el-dropdown-item>
            <el-dropdown-item command="b" @click.native="showHighranking(2)">
              重置表单
            </el-dropdown-item>
            <el-dropdown-item command="c" @click.native="showHighranking(3)">
              收起
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <div class="filter_condition" v-if="highRanking">
      <div class="condition_item">
        <div class="condition_item_label">车牌号码</div>
        <div class="condition_item_input"><el-input></el-input></div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">车牌颜色</div>
        <div class="condition_item_input">
          <el-select style="width: 100%" v-model="searchParams.carColor">
            <el-option
              v-for="item in carColorList"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
      </div>
      <div class="condition_item">
        <div class="condition_item_label">车牌种类</div>
        <div class="condition_item_input">
          <el-select style="width: 100%" v-model="searchParams.carType">
            <el-option
              v-for="item in carTypeList"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
      </div>
      <div class="condition_item_more"></div>
    </div>
    <div class="table-container">
      <el-table
        :data="tableData"
        border
        style="border: 1px solid #2c7bcf; width: 100%"
        header-cell-class-name="headerRowClassName"
        row-class-name="rowClass"
      >
        <el-table-column label="车照" align="center">
          <template slot-scope="scope">
            <div class="img-container">
              <img class="column-img" :src="scope.row.img" alt="" />
              <img
                @click="redirectToCarSearchResult"
                src="~@/assets/images/mcp/cheliang@2x.png"
                alt=""
                class="column-icon"
              />
            </div>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          prop="carNumber"
          label="车牌号码"
          width="180"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="carColor"
          label="车牌颜色"
          width="180"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="carType"
          label="车牌种类"
        ></el-table-column>
        <el-table-column
          prop="captureLocation"
          label="拍摄地址"
          align="center"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="captureTime"
          label="拍摄时间"
        ></el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        background
        layout="prev, pager, next,total"
        :total="200"
        :page-size="8"
        :current-page="1"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      carColorList: [],
      carTypeList: [],
      highRanking: false,
      searchParams: { carColor: "", carType: "", date: "" },
      moreOption: "更多操作",
      cameraList: [],
      tableData: []
    };
  },
  methods: {
    redirectToCarSearchResult: function() {
      this.$router.push("/mcp/search/car/result");
    },
    generateCarColorList: function() {
      this.carColorList = [
        { value: "蓝色" },
        {
          value: "红色"
        },
        { value: "黑色" },
        { value: "黄色" }
      ];
    },
    showHighranking(data) {
      switch (data) {
        case 1:
          this.highRanking = true;
          break;
        case 2:
          this.highRanking = false;
          break;
        case 3:
          this.highRanking = false;
          break;
      }
    },
    generateCarTypeList: function() {
      this.carTypeList = [
        { value: "大型货车" },
        { value: "小型卡车" },
        { value: "小型客车" },
        { value: "大型客车" }
      ];
    },
    generateCameraList: function() {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach(item => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },

    generateTableData: function() {
      for (let i = 0; i < 10; i++) {
        let o = new Object();
        o.img = require("@/assets/images/mcp/test-car-big.jpg");
        o.carNumber = "苏N88888";
        o.carColor = "蓝色";
        o.carType = "小型汽车";
        o.captureLocation = "浦东新区成山路${i}号";
        o.captureTime = "2020-10-11 19:30:00";
        this.tableData.push(o);
      }
    },
    ...mapMutations([])
  },

  mounted() {
    this.generateTableData();
    this.generateCameraList();
    this.generateCarTypeList();
    this.generateCarColorList();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/mcp/realtimeCapture/carCapture.less";
</style>
