<template>
  <div class="dashboard-container">
    <div class="dashboard-inner">
      <div v-for="item in componentList" :key="item.id">
        <template v-if="item.currentComponent == 1">
          <basic-capture
            :obj="item"
            @add:component="handleEmitAdd"
          ></basic-capture>
        </template>
        <template v-if="item.currentComponent == 2"
          ><people-capture
            @showCamera="handleShowModal"
            :obj="item"
            @close:component="handleEmitAdd"
          ></people-capture
        ></template>
        <template v-if="item.currentComponent == 3"
          ><car-capture
            @showCamera="handleShowModal"
            :obj="item"
            @close:component="handleEmitAdd"
          ></car-capture
        ></template>
      </div>
    </div>
    <el-dialog
      title="选择摄像头"
      :visible.sync="cameraSelectModalVisible"
      :before-close="handleCloseCameraModal"
      ><el-input placeholder="通过名称搜索摄像头"></el-input>
      <el-tree
        :data="treeData"
        show-checkbox
        default-expand-all
        node-key="id"
        ref="tree"
        highlight-current
        :props="defaultProps"
      >
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cameraSelectModalVisible = false">取 消</el-button>
        <el-button type="primary" @click="cameraSelectModalVisible = false"
          >确 定</el-button
        >
      </span></el-dialog
    >
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import peopleCapture from "@/components/mcp/realtimeCapture/peopleCaptureComponent.vue";
import carCapture from "@/components/mcp/realtimeCapture/carCaptureComponent.vue";
import basicCapture from "@/components/mcp/realtimeCapture/basicCaptureComponent.vue";
export default {
  data() {
    return {
      treeData: [
        {
          id: 1,
          label: "一级 1",
          children: [
            {
              id: 4,
              label: "二级 1-1",
              children: [
                {
                  id: 9,
                  label: "三级 1-1-1"
                },
                {
                  id: 10,
                  label: "三级 1-1-2"
                }
              ]
            }
          ]
        },
        {
          id: 2,
          label: "一级 2",
          children: [
            {
              id: 5,
              label: "二级 2-1"
            },
            {
              id: 6,
              label: "二级 2-2"
            }
          ]
        },
        {
          id: 3,
          label: "一级 3",
          children: [
            {
              id: 7,
              label: "二级 3-1"
            },
            {
              id: 8,
              label: "二级 3-2"
            }
          ]
        }
      ],
      defaultProps: {
        children: "children",
        label: "label"
      },
      cameraSelectModalVisible: false,
      zindex: "",
      obj: "",
      type: "",
      componentList: []
    };
  },
  methods: {
    handleShowModal: function (params) {
      console.log(params);
      this.cameraSelectModalVisible = true;
    },
    handleCloseCameraModal: function () {
      this.cameraSelectModalVisible = false;
    },
    handleEmitAdd: function (params) {
      console.log(params);
      this.componentList.forEach((item, index) => {
        if (item.id == params.id) {
          this.zindex = index;
          console.log(item);
          console.log(params);
          this.obj = params;
        }
      });
      if (this.obj.type == "people") {
        this.obj.currentComponent = 2;
      }
      if (this.obj.type == "car") {
        this.obj.currentComponent = 3;
      }
      if (this.obj.type == "basic") {
        this.obj.currentComponent = 1;
      }
      this.componentList.splice(this.zindex, 1, this.obj);
    },
    produceComponentList: function () {
      for (let i = 0; i < 9; i++) {
        let co = { id: i, currentComponent: 1 };
        this.componentList.push(co);
      }
    },
    ...mapMutations([])
  },

  mounted() {
    this.produceComponentList();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: { peopleCapture, carCapture, basicCapture }
};
</script>

<style lang='less'>
@import "~@/assets/less/mcp/realtimeCapture/dashboard.less";
</style>
