<template>
  <div class="people-capture">
    <div class="people-inner">
      <div class="category-container">
        <el-button
          type="text"
          @click="handleClickActiveBtn('pic')"
          :class="{ activeClass: active }"
          >照片模式</el-button
        >
        <div class="shuxian"></div>
        <el-button
          type="text"
          @click="handleClickActiveBtn('people')"
          :class="{ activeClass: !active }"
          >人像模式</el-button
        >
      </div>
      <div class="filter_condition">
        <div class="condition_item">
          <div class="condition_item_label">时间</div>
          <div class="condition_item_input">
            <el-date-picker
              v-model="searchParams.date"
              type="daterange"
              align="left"
              unlink-panels
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              class="condition_input mcp-input-bg"
            >
            </el-date-picker>
          </div>
        </div>
        <div class="condition_item">
          <div class="condition_item_label">摄像头</div>
          <div class="condition_item_input">
            <el-cascader
              :collapse-tags="true"
              style="width: 100%"
              placeholder="请输入想要查询的摄像头"
              :options="cameraList"
              :props="{ multiple: true }"
              filterable
            ></el-cascader>
          </div>
        </div>

        <div class="condition_item_more">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              {{ moreOption }}<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="a" @click.native="showHighranking(1)"
                >高级筛选</el-dropdown-item
              >
              <el-dropdown-item command="b" @click.native="showHighranking(2)"
                >重置表单</el-dropdown-item
              >
              <el-dropdown-item command="c" @click.native="showHighranking(3)"
                >收起</el-dropdown-item
              >
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div class="table-container" v-if="mode == 'pic'">
        <div class="table-item" v-for="item in tableData" :key="item.id">
          <div class="table-item-img">
            <img
              src="~@/assets/images/mcp/renxiang@2x.png"
              alt=""
              class="search"
              @click="redirectToPeopleSearchResult"
            />
            <img class="img" :src="item.img" alt="" />
          </div>
          <div class="table-item-content">
            <div class="location">
              <div class="left">位置:</div>
              <div class="right">
                <span>{{ item.location }}</span>
              </div>
            </div>
            <div class="time">
              <div class="left">时间:</div>
              <div class="right">{{ item.time }}</div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="table-container">
        <div class="table-item" v-for="item in tablePeopleData" :key="item.id">
          <div class="table-item-img">
            <img
              src="~@/assets/images/mcp/renxiang@2x.png"
              alt=""
              class="search"
            />
            <img class="img" :src="item.img" alt="" />
          </div>
          <div class="table-item-content">
            <div class="location">
              <div class="left">位置:</div>
              <div class="right">
                <span>{{ item.location }}</span>
              </div>
            </div>
            <div class="time">
              <div class="left">时间:</div>
              <div class="right">{{ item.time }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-container">
        <el-pagination
          background
          layout="prev, pager, next,total"
          :total="200"
          :page-size="8"
          :current-page="1"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      highRanking: false,
      moreOption: "更多操作",
      cameraList: [],
      searchParams: { date: "" },
      mode: "pic",
      active: true,
      tablePeopleData: [],
      tableData: [],
      highRank: false
    };
  },
  methods: {
    redirectToPeopleSearchResult: function() {
      this.$router.push("/mcp/search/people/result");
    },

    showHighranking(data) {
      switch (data) {
        case 1:
          this.highRanking = true;
          break;
        case 2:
          this.highRanking = false;
          break;
        case 3:
          this.highRanking = false;
          break;
      }
    },
    generateCameraList: function() {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach(item => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
    generateData: function() {
      for (let i = 0; i < 8; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-big.jpg");
        o.location = `上海市闵行区漕宝路1888号${i}楼4022室`;
        o.time = `2020-10-21 18:30:0${i}`;
        this.tableData.push(o);
      }
    },
    generatePeopleData: function() {
      for (let i = 0; i < 7; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-small.jpeg");
        o.location = `上海市浦东新区沈梅路123弄星月智慧湾15号楼猎熊座`;
        o.time = `2020-10-10 10:30:3${i}`;
        this.tablePeopleData.push(o);
      }
    },
    handleClickActiveBtn: function(type) {
      if (type == "pic") {
        this.active = true;
        this.mode = "pic";
      } else {
        this.mode = "people";
        this.active = false;
      }
    },
    ...mapMutations([])
  },

  mounted() {
    this.generateData();
    this.generatePeopleData();
    this.generateCameraList();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/mcp/realtimeCapture/peopleCapture.less";
</style>
