<template>
  <div class="search-people-result">
    <div class="search-people-result-inner">
      <div class="left-panel">
        <div class="content-container">
          <span>车牌号码</span><span>苏L1308V</span>
        </div>
      </div>
      <div class="right-panel">
        <div class="people-database">
          <div class="title"><span>车辆库结果</span></div>
          <div class="database-table">
            <div class="database-content">
              <div class="item" v-for="i in 6" :key="i.id">
                <div class="img-container">
                  <img
                    src="@/assets/images/mcp/renxiang@2x.png"
                    alt=""
                    class="small"
                  />
                  <img
                    class="big"
                    src="@/assets/images/mcp/test-car-big.jpg"
                    alt=""
                  />
                </div>
                <div class="img-content">
                  <div class="left">车牌号:苏L1308V</div>
                  <div class="right">车辆库:星月智慧湾地下停车场</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-container" style="height: 40px">
            <el-pagination
              background
              layout="prev, pager, next,total"
              :total="200"
              :page-size="6"
              :current-page="1"
            >
            </el-pagination>
          </div>
        </div>
        <div class="people-database">
          <div class="title"><span>车辆抓拍库结果</span></div>
          <div class="database-table">
            <div class="database-content">
              <div class="item" v-for="i in 6" :key="i.id">
                <div class="img-container">
                  <img
                    src="@/assets/images/mcp/renxiang@2x.png"
                    alt=""
                    class="small"
                  />
                  <img
                    class="big"
                    src="@/assets/images/mcp/test-car-big.jpg"
                    alt=""
                  />
                </div>
                <div class="img-content">
                  <div class="left">车牌号:苏L1308V</div>
                  <div class="right">车辆库:星月智慧湾地下停车场</div>
                </div>
              </div>
            </div>
            <div class="pagination-container" style="height: 40px">
              <el-pagination
                background
                layout="prev, pager, next,total"
                :total="200"
                :page-size="6"
                :current-page="1"
              >
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/realtimeCapture/searchCarResult.less";
</style>
