<template>
  <div class="search-people-result">
    <div class="search-people-result-inner">
      <div class="left-panel">
        <div class="img-container img-container-active">
          <img src="@/assets/images/mcp/test-small.jpeg" alt="" />
        </div>
        <div class="img-container">
          <img src="@/assets/images/mcp/test-small.jpeg" alt="" />
        </div>
        <div class="content-container">
          <div class="name"><span>姓名/别名:</span><span>张三</span></div>
          <div class="idcard">
            <span>身份证号:</span><span>310291199011163517</span>
          </div>
          <div class="btn-container">
            <el-button size="medium" type="primary">活动轨迹</el-button>
            <el-button size="medium">热力图</el-button>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="people-database">
          <div class="title"><span>人像库结果</span></div>
          <div class="database-table">
            <div class="database-content">
              <div class="item" v-for="i in 6" :key="i.id">
                <div class="left">
                  <img
                    src="@/assets/images/mcp/renxiang@2x.png"
                    alt=""
                    class="small"
                  />
                  <img
                    class="big"
                    src="@/assets/images/mcp/test-small.jpeg"
                    alt=""
                  />
                </div>
                <div class="right">
                  <div class="percent">
                    <div class="left-top"></div>
                    <div class="right-top"></div>
                    <div class="left-bottom"></div>
                    <div class="right-bottom"></div>
                    <div class="content"><span>90.20%</span></div>
                  </div>
                  <div class="name">
                    <span>姓名 : </span><span>爱新觉罗努尔哈赤斯基</span>
                  </div>
                  <div class="detail">
                    <span>人像库 : </span><span>入室盗窃抢劫杀人案</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-container" style="height: 40px">
            <el-pagination
              background
              layout="prev, pager, next,total"
              :total="200"
              :page-size="6"
              :current-page="1"
            >
            </el-pagination>
          </div>
        </div>
        <div class="people-database">
          <div class="title"><span>人像抓拍库结果</span></div>
          <div class="database-table">
            <div class="database-content">
              <div class="item" v-for="i in 6" :key="i.id">
                <div class="left">
                  <img
                    src="@/assets/images/mcp/renxiang@2x.png"
                    alt=""
                    class="small"
                  />
                  <img
                    class="big"
                    src="@/assets/images/mcp/test-small.jpeg"
                    alt=""
                  />
                </div>
                <div class="right">
                  <div class="percent">
                    <div class="left-top"></div>
                    <div class="right-top"></div>
                    <div class="left-bottom"></div>
                    <div class="right-bottom"></div>
                    <div class="content"><span>90.20%</span></div>
                  </div>
                  <div class="name">
                    <span>姓名 : </span><span>爱新觉罗努尔哈赤斯基</span>
                  </div>
                  <div class="detail">
                    <span>人像库 : </span><span>入室盗窃抢劫杀人案</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination-container" style="height: 40px">
              <el-pagination
                background
                layout="prev, pager, next,total"
                :total="200"
                :page-size="6"
                :current-page="1"
              >
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/realtimeCapture/searchPeopleResult.less";
</style>
