@bg: #4ea6c7;
@light_gray: #eee;
@cursor: #fff;
.dashboard-container{
  width: 100%;
  color: #405172;
  display: flex;
  flex-flow: column;
  background: #FFFFFF;
  min-height: 190px;
  box-shadow: 0px 5px 30px 0px rgba(0, 114, 249, 0.1);
  border-radius: 10px;
  padding: 10px 0;
  height: 300px;
  margin-top: 20px;
  .panel-title{
    color: #81B3ED;
    font-size: 28px;
    border-left: 3px solid #81B3ED;
    padding: 0 15px;
    margin-left: 10px;
  }
  .all-panel{
    height: 100%;
    padding: 0 10px;
  }
}
