@bg: #4ea6c7;
@light_gray: #eee;
@cursor: #fff;
.dashboard-container {
  width: 100%;
  color: #405172;
  display: flex;
  flex-flow: column;
  background: #ffffff;
  min-height: 160px;
  box-shadow: 0px 5px 30px 0px rgba(0, 114, 249, 0.1);
  border-radius: 10px;
  padding: 15px 0;
  .panel-title {
    color: #81b3ed;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-left: 3px solid #81b3ed;
    margin-left: 10px;
  }
  .panel-contant {
    color: #405172;
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 1;
    .panel-contant-item {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      .countNumber {
        font-size: 30px;
        color: #1d2739;
      }
    }
  }
}
