@bg: #4ea6c7;
@light_gray: #eee;
@cursor: #fff;
.dashboard-container{
  .all-panel{
    display: flex;
    flex-flow: column;
    padding: 15px;
    .top{
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-between;
      .top-left{
        width: 48%;
      }
      .top-right{
        width: 48%;
      }
    }
    .middle{
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-between;
      .middle-left{
        width: 48%;
      }
      .middle-right{
        width: 48%;
      }
    }
  }
}
