<template>
  <div class="sheet-detail">
    <div class="form-container">
      <el-form
        :model="orderForm"
        :label-width="formLabelWidth"
        style="width:80%;margin:0 auto;"
      >
        <el-form-item label="产品名称:" :label-width="formLabelWidth">
          <span>{{ orderDetail.project_name }}</span>
        </el-form-item>
        <el-form-item label="报修人:" :label-width="formLabelWidth">
          <span>{{ orderDetail.reporter }}</span>
        </el-form-item>
        <el-form-item label="报修渠道:" :label-width="formLabelWidth">
          <span>{{ orderDetail.report_channel }}</span>
        </el-form-item>
        <el-form-item label="报修日期:" :label-width="formLabelWidth">
          <span>{{ orderDetail.gmt_create_time | timeFilter }}</span>
        </el-form-item>
        <el-form-item label="工单状态:" :label-width="formLabelWidth">
          <span>{{ orderDetail.status | statusFilter }}</span>
        </el-form-item>
        <el-form-item label="解决日期:" :label-width="formLabelWidth">
          <span>{{ orderDetail.resolved_time | timeFilter }}</span>
        </el-form-item>
        <el-form-item label="联系方式:" :label-width="formLabelWidth">
          <span>{{ orderDetail.contact }}</span>
        </el-form-item>
        <el-form-item label="故障简述:" :label-width="formLabelWidth">
          <el-input
            type="textarea"
            disabled
            v-model="orderDetail.description"
          ></el-input>
        </el-form-item>

        <el-form-item label="备注:" :label-width="formLabelWidth">
          <el-input type="textarea" v-model="remark"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div class="operation-container">
      <el-button type="danger">删除工单</el-button>
      <el-button type="warning" @click="handBack">返回列表</el-button>
      <el-button type="info" @click="showHistoryRemark">历史备注</el-button>
      <el-button
        type="primary"
        v-if="orderDetail.status != 'RESOLVED'"
        @click="handleResolved"
      >
        已解决
      </el-button>
      <el-button @click="addRemark">增加备注</el-button>
    </div>
    <el-drawer title="历史记录" :visible.sync="drawer" :with-header="false">
      <div class="drawer-container">
        <div class="drawer-title"><span>历史备注</span></div>
        <div class="drawer-content-contaienr">
          <div class="content-item" v-for="item in remarkList" :key="item.id">
            <div class="first-line">{{ item.content }}</div>
            <div class="second-line">
              创建时间:{{ item.gmt_create_time | timeFilter }}
            </div>
          </div>
        </div>
        <div class="pagination-container" v-if="remarkList.length > 0">
          <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="current"
            :page-size="pagination.size"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="pagination.total"
          ></el-pagination>
        </div>
        <div v-else class="pagination-container"><span>暂无数据</span></div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      current: 1,
      drawer: false,
      remark: "",
      sheetID: "",
      formLabelWidth: "80px",
      orderForm: {
        shortDescription: "客户反馈看不到抓拍图片",
        productionName: ""
      }
    };
  },
  methods: {
    handBack: function() {
      this.$router.push("/w/list");
    },
    handleResolved: function() {
      this.$store.dispatch("updateOrderStatus", {
        orderid: this.sheetID,
        status: "RESOLVED"
      });
    },
    showHistoryRemark: function() {
      this.drawer = true;
      this.$store.dispatch("getOrderRemark", {
        orderid: this.sheetID,
        size: this.pagination.size,
        start: this.pagination.start
      });
    },
    handleCurrentChange: function(page) {
      let start = (page - 1) * this.pagination.size;
      let p = { orderid: this.sheetID, size: this.pagination.size, start };
      this.$store.dispatch("getOrderRemark", p);
    },
    addRemark: function() {
      if (this.remark) {
        this.$store.dispatch("addOrderRemark", {
          orderid: this.sheetID.split(":")[3],
          content: this.remark
        });
      } else {
        this.$message({ type: "warning", message: "请填写备注后再进行提交!" });
      }
    },
    ...mapMutations([])
  },

  mounted() {
    this.sheetID = this.$route.params.sheetID;
    this.$store.dispatch("getOrderDetail", { orderid: this.sheetID });
    this.$store.dispatch("getOrderRemark", {
      orderid: this.sheetID,
      size: this.pagination.size,
      start: this.pagination.start
    });
  },
  filters: {
    statusFilter: function(val) {
      let statusDesc = "";
      switch (val) {
        case "RESOLVED":
          statusDesc = "已解决";
          break;
        case "HANDING":
          statusDesc = "解决中";
          break;
        default:
          statusDesc = "订单状态不正常";
          break;
      }
      return statusDesc;
    },
    timeFilter: function(val) {
      if (val) {
        let t = val.split(".")[0].split(" ");
        return `${t[0]} ${t[1]}`;
      } else {
        return "";
      }
    }
  },
  watch: {},
  computed: {
    ...mapState({
      orderDetail: state => state.workSheet.orderDetail,
      remarkList: state => state.workSheet.remarkList,
      pagination: state => state.workSheet.remarkPagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.sheet-detail {
  .form-container {
    margin: 0 auto;
    width: 90%;
  }
  .operation-container {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .drawer-container {
    height: 100%;
    width: 100%;
    // width: 500px;
    .drawer-title {
      margin: 0 auto;
      width: 50%;
      text-align: center;
    }

    .content-item {
      margin: 10px auto;
      width: 90%;
      box-sizing: border-box;
      padding: 5px;
      border: 1px dashed #eeeeee;
      .second-line {
        margin-top: 10px;
      }
    }
    .pagination-container {
      text-align: center;
    }
  }
}
</style>
