<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
    >
      <div class="title-container">
        <h3 class="title">猎熊座工单报修系统</h3>
      </div>

      <el-form-item prop="username">
        <img src="@/assets/images/deviceInput/name.png" alt="" />
        <el-input
          v-model="loginForm.username"
          placeholder="请输入用户名"
          name="username"
          type="text"
          auto-complete="on"
        />
      </el-form-item>

      <el-form-item prop="password">
        <img src="@/assets/images/deviceInput/password.png" alt="" />
        <el-input
          :type="pwdType"
          v-model="loginForm.password"
          placeholder="请输入密码"
          name="password"
          auto-complete="on"
          @keyup.enter.native="handleLogin"
        />
      </el-form-item>

      <el-button
        :loading="loginLoading"
        type="primary"
        style="width: 100%; margin-bottom: 30px"
        @click.native.prevent="handleLogin"
      >
        确定
      </el-button>
    </el-form>
  </div>
</template>
<script>
import { isvalidUsername } from "@/utils/rules";
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!isvalidUsername(value)) {
        callback(new Error("用户名有误"));
      } else {
        callback();
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 3) {
        callback(new Error("密码有误"));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: "",
        password: ""
      },
      loginRules: {
        username: [
          { required: true, trigger: "blur", validator: validateUsername }
        ],
        password: [
          { required: true, trigger: "blur", validator: validatePassword }
        ]
      },
      pwdType: "password",
      redirect: "/"
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    showPwd() {
      if (this.pwdType === "password") {
        this.pwdType = "";
      } else {
        this.pwdType = "password";
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true;
          // this.$store.dispatch("getWorkSheetMenu");
          // this.$store.dispatch('user/login', this.loginForm).then(() => {
          //   this.loading = false
          //   this.$router.push({ path: this.redirect })
          // }).catch((err) => {
          //   console.log(err)
          //   this.loading = false
          // })
          Vue.ls.set("userName", this.loginForm.username);

          this.$store.dispatch("getWorkSheetMenu");
          if (this.loginForm.username && this.loginForm.password) {
            this.$store.dispatch("workSheetLoginUser", {
              username: this.loginForm.username,
              password: this.loginForm.password
            });
          } else {
            this.$message({ type: "warning", message: "请输入用户名密码" });
          }
        } else {
          return false;
        }
      });
    }
  },

  created() {},
  mounted() {
    Vue.ls.set("sysName", "WORK-SHEET");
  },
  watch: {},
  computed: {
    ...mapState({ loginLoading: state => state.workSheet.loginLoading }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style scoped lang="less">
@import "~@/assets/less/workSheet/login.less";
</style>
