<template>
  <div class="work-sheet-list">
    <div class="operation-container">
      <el-button type="primary" @click="showModal">新增工单</el-button>
      <el-button type="primary" @click="exportExcel">导出</el-button>
    </div>
    <div class="table-container">
      <el-table border stripe align="center" :data="orderList">
        <el-table-column align="center" label="工单号" prop="orderNo">
          <template slot-scope="scope">
            <router-link :to="'/w/detail/' + scope.row.order_id">
              {{ scope.row.order_id }}
            </router-link>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="产品名称"
          prop="project_name"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="reporter"
          label="报修人"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="contact"
          label="联系方式"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="report_channel"
          label="报修渠道"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="create_time"
          label="报修日期"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="resolved_time"
          label="解决日期"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="description"
          label="故障简述"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="creater"
          label="工单创建人"
        ></el-table-column>
        <el-table-column align="center" label="状态">
          <template slot-scope="scope">
            <el-tag type="danger" v-if="scope.row.status == 'HANDING'">
              待解决
            </el-tag>
            <el-tag v-if="scope.row.status == 'RESOLVED'">已解决</el-tag>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="current"
        :page-size="pagination.size"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="pagination.total"
      ></el-pagination>
    </div>
    <el-dialog title="新建工单" :visible.sync="dialogFormVisible">
      <el-form
        :model="orderForm"
        :label-width="formLabelWidth"
        style="width:80%;margin:0 auto;"
      >
        <el-form-item label="产品名称" :label-width="formLabelWidth">
          <el-select v-model="orderForm.projectID" placeholder="请选择">
            <el-option
              v-for="item in projectList"
              :key="item.project_id"
              :label="item.project_name"
              :value="item.project_id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="报修人" :label-width="formLabelWidth">
          <el-input v-model="orderForm.reporter" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="报修渠道" :label-width="formLabelWidth">
          <!-- <el-input v-model="orderForm.reportChannel"></el-input> -->
          <el-select v-model="orderForm.reportChannel">
            <el-option
              v-for="item in channelList"
              :key="item.name"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="联系方式" :label-width="formLabelWidth">
          <el-input v-model="orderForm.contact"></el-input>
        </el-form-item>
        <el-form-item
          label="故障简述"
          :label-width="formLabelWidth"
          v-model="orderForm.description"
        >
          <el-input type="textarea" v-model="orderForm.description"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitOrderForm">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      channelList: [
        {
          name: "微信"
        },
        {
          name: "钉钉"
        },
        {
          name: "手机电话"
        },
        {
          name: "公司座机"
        },
        { name: "QQ" }
      ],
      total: 30,
      current: 1,
      pageSize: 10,
      pageStart: 0,
      formLabelWidth: "80px",
      orderForm: {
        projectID: "",
        reporter: "",
        reportChannel: "",
        contact: "",
        description: ""
      },
      dialogFormVisible: false,
      workSheetData: [
        {
          orderNo: "urn:bh:worksheet:39203922344222",
          productionName: "三林石斑鱼",
          reporter: "康雷",
          contact: "18521350969",
          reportChannel: "微信",
          reportDate: "2020-12-24",
          shortDescription: "比例巴拉",
          status: "解决中",
          resolveDate: "2020-01-20"
        }
      ]
    };
  },
  methods: {
    exportExcel: function() {
      this.$store.dispatch("exportWorkSheetExcel");
    },
    handleCurrentChange: function(page) {
      let start = (page - 1) * this.pagination.size;
      let p = {
        size: this.pagination.size,
        start
      };
      this.$store.dispatch("getOrderList", p);
    },
    submitOrderForm: function() {
      this.$store.dispatch("createOrder", this.orderForm);
      this.dialogFormVisible = false;
    },
    showModal: function() {
      this.dialogFormVisible = true;
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getProjectList", { start: 0, size: 1000 });
    this.$store.dispatch("getOrderList", {
      size: this.pagination.size,
      start: this.pagination.start
    });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      orderList: state => state.workSheet.orderList,
      pagination: state => state.workSheet.pagination,
      projectList: state => state.workSheet.projectList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/workSheet/workSheetList.less";
</style>
