<template>
  <div class="work-sheet-list">
    <div class="operation-container">
      <el-button type="primary" @click="showModal">新建系统</el-button>
    </div>
    <div class="table-container">
      <el-table border stripe align="center" :data="projectList">
        <el-table-column
          align="center"
          label="产品ID"
          prop="project_id"
        ></el-table-column>
        <el-table-column
          align="center"
          prop="project_name"
          label="产品名称"
        ></el-table-column>
        <el-table-column align="center" label="创建时间" prop="gmt_create_time">
          <template slot-scope="scope">
            {{ scope.row.gmt_create_time | timeFilter }}
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="创建者"
          prop="username"
        ></el-table-column>
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <el-button
              size="small"
              type="danger"
              @click="handleDeleteProject(scope.row.project_id)"
            >
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="current"
        :page-size="projectPagination.size"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="projectPagination.total"
      ></el-pagination>
      <el-dialog title="新建系统" :visible.sync="dialogFormVisible">
        <el-form
          @submit.native.prevent
          :model="productForm"
          :label-width="formLabelWidth"
          style="width:80%;margin:0 auto;"
        >
          <el-form-item label="产品名称" :label-width="formLabelWidth">
            <el-input
              @keyup.enter="createProject"
              v-model="productForm.content"
            ></el-input>
          </el-form-item>
          <el-form-item label="产品链接" :label-width="formLabelWidth">
            <el-input
              @keyup.enter="createProject"
              v-model="productForm.url"
            ></el-input>
          </el-form-item>
          <el-form-item label="环境信息" :label-width="formLabelWidth">
            <el-input
              @keyup.enter="createProject"
              v-model="productForm.environment"
            ></el-input>
          </el-form-item>
          <el-form-item label="账号" :label-width="formLabelWidth">
            <el-input
              @keyup.enter="createProject"
              v-model="productForm.username"
            ></el-input>
          </el-form-item>
          <el-form-item label="密码" :label-width="formLabelWidth">
            <el-input
              @keyup.enter="createProject"
              v-model="productForm.password"
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="createProject">
            确 定
          </el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      formLabelWidth: "80px",
      dialogFormVisible: false,
      productForm: {
        content: "",
        url: "",
        environment: "",
        username: "",
        password: ""
      },
      current: 1
    };
  },
  methods: {
    handleCurrentChange: function(page) {
      let start = (page - 1) * this.projectPagination.size;
      let p = {
        size: this.projectPagination.size,
        start
      };
      this.$store.dispatch("getProjectList", p);
    },
    handleDeleteProject: function(projectID) {
      this.$store.dispatch("updateProject", {
        projectID,
        validFlag: 0
      });
    },
    createProject: function() {
      this.$store.dispatch("createProject", this.productForm);
      this.dialogFormVisible = false;
    },
    showModal: function() {
      this.dialogFormVisible = true;
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getProjectList", { size: 10, start: 0 });
  },
  filters: {
    timeFilter: function(val) {
      if (val) {
        let t = val.split(".")[0].split("T");
        if (t.length > 1) {
          return `${t[0]} ${t[1]}`;
        } else {
          return `${t[0]}`;
        }
      } else {
        return "";
      }
    }
  },
  watch: {},
  computed: {
    ...mapState({
      projectList: state => state.workSheet.projectList,
      projectPagination: state => state.workSheet.projectPagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/workSheet/workSheetList.less";
</style>
