.homeArea{
    height: 100%;
    width: 100%;
    background:#f0f2f5;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 20px 20px;
}
.headArea{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
    .hearder_top{
        flex: 1;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        box-sizing: border-box;
        font-weight: 800;

    }
    .hearder_top:last-child{
        text-align: right;

    }
}
.bottom-content{
    height: calc(100% - 80px);
    background-color: white;
    padding: 0 20px;
    box-sizing: border-box;
}
.fystyle {
    margin-top: 20px;
}
.addAreamanage{
    width: 50%;
    margin: 0 auto;
}