.password_content{
    width: 100%;
    height: 100%;
    background-color: #e9eef4;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    .password{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-top: 1px solid transparent;
        padding: 10px;
        box-sizing: border-box;
        .content_title{
            text-align: left;
            font-size: 23px;
            color: #8fb9f2;
            padding-bottom: 10px;
            border-bottom: 1px dashed #d2d2d2;
           
        }
        .content_form{
            width: 50%;
            margin: 0 auto;
            .upgradeInfo:first-child{
                margin-top: 100px;
            }
            .upgradeInfo:nth-child(2){
                display: grid;
                margin-top: 50px;
                grid-template-columns: 30% 30% 40%;
                span:nth-child(1){
                    text-align: left;
                }
                span:nth-child(2){
                    padding-left: 20px;
                    box-sizing: border-box;
                }
                
            }
            .upgradeInfo:last-child{
                display: grid;
                margin-top: 50px;
                grid-template-columns: 30% 30% 40%;
                span:nth-child(1){
                    text-align: left;
                }
                span:nth-child(2){
                    padding-left: 20px;
                    box-sizing: border-box;
                }
                
            }
        }

    }
}
