.password_content{
    width: 100%;
    height: 100%;
    background-color: #e9eef4;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    .password{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-top: 1px solid transparent;
        padding: 10px;
        box-sizing: border-box;
        .content_title{
            text-align: left;
            font-size: 23px;
            color: #8fb9f2;
            padding-bottom: 10px;
            border-bottom: 1px dashed #d2d2d2;
        }

        .content_form{
            width: 30%;
            margin: 50px auto;
            text-align: center;
            .content_form_submit{
                margin-top: 300px;
                .content_form_submit_btn{
                    padding: 10px 50px;
                }
            }
        }
    }
}
