.password_content{
    width: 100%;
    height: 100%;
    background-color: #e9eef4;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    .password{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-top: 1px solid transparent;
        padding: 10px;
        box-sizing: border-box;
        .content_title{
            text-align: left;
            font-size: 23px;
            color: #8fb9f2;
            padding-bottom: 10px;
            border-bottom: 1px dashed #d2d2d2;
        }

        .content_form{
            width: 30%;
            height: 80%;
            margin: 0 auto;
            padding-top: 80px;
            box-sizing: border-box;
            position: relative;
            .submitbox{
                position: absolute;
                bottom: 0;
                .restart{
                    margin: 0 20px;
                    padding: 10px 30px;
                }
            }
        }
    }
}