<template>
  <div class="middleware_dashboard">
    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        基础信息
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <basicdata></basicdata>
      </div>
      <div class="dashboard_itemLine"></div>
    </div>
    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        视频接入分析
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <videoConcat></videoConcat>
      </div>
      <div class="dashboard_itemLine"></div>
    </div>
    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        级联资源分析
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <jilianResource></jilianResource>
      </div>
    </div>
    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        故障统计
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <faultStatistics></faultStatistics>
      </div>
      <div class="date-rang" v-if="timerSelectByFaultStatistics == 'W'">统计周期{{getPre6(8)}}-{{getPre6(1)}}</div>
      <div class="timerselect">
        <timerSelectByFaultStatistics @changeNode="getSelectNodeByFaultStatistics"></timerSelectByFaultStatistics>
      </div>
      <div class="dashboard_itemLine"></div>
    </div>
    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        故障分类
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <faultClass></faultClass>
      </div>
      <div class="date-rang" v-if="timerSelectByFaultClassify == 'W'">统计周期{{getPre6(8)}}-{{getPre6(1)}}</div>
      <div class="timerselect">
        <timerSelectByFaultClassify @changeNodeByFaultClassify="getSelectNodeByFaultClassify"></timerSelectByFaultClassify>
      </div>
    </div>

    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        相机被调用次数排名
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <cameraTop></cameraTop>
      </div>
      <!-- <div class="date-rang-camera" v-if="timerSelectByCamera == 'W'">
        <div class="node">统计周期{{getPre6(8)}}-{{getPre6(1)}}</div>
        
      </div> -->
      <div class="merquee" v-if="timerSelectByCamera == 'W'">
          <span class="merquee-txt">统计周期{{getPre6(8)}}-{{getPre6(1)}}</span>
      </div>
      <div class="timerselect">
        <timerSelectByCamera :timetype="timetype" @changeNodeByCamera="getSelectNodeByCamera"></timerSelectByCamera>
      </div>
      <div class="dashboard_itemLine"></div>
    </div>

    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        调用方次数排名
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <userTime></userTime>
      </div>
      <div class="merquee" v-if="timerSelectByTime == 'W'">
          <span class="merquee-txt">统计周期{{getPre6(8)}}-{{getPre6(1)}}</span>
      </div>
      <!-- <div class="date-rang" v-if="timerSelectByTime == 'W'">统计周期{{getPre6(8)}}-{{getPre6(1)}}</div> -->
      <div class="timerselect">
        <timerSelectByTime :cameratype="cameratype" @changeNodeByTime="getSelectNodeByTime"></timerSelectByTime>
      </div>
      <div class="dashboard_itemLine"></div>
    </div>

    <div class="dashboard_item">
      <div class="dashboard_itemTitle">
        调用方时长排名
      </div>
      <div class="dashboard_itemContent">
        <!-- 这里引入组件 -->
        <userTimeRanking></userTimeRanking>
      </div>
      <div class="date-rang" v-if="timerSelectByDuration == 'W'">统计周期{{getPre6(8)}}-{{getPre6(1)}}</div>
      <div class="timerselect">
        <timerSelectByDuration @changeNodeByDuration="getSelectNodeByDuration"></timerSelectByDuration>
      </div>
    </div>
    <!-- <div class="dashboard_item">9</div> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import basicdata from "@/components/middleware/dashboard/basicdata.vue";
import videoConcat from "@/components/middleware/dashboard/videoConcat.vue";
import jilianResource from "@/components/middleware/dashboard/jilianResource.vue";
import faultStatistics from "@/components/middleware/dashboard/faultStatistics.vue";
import faultClass from "@/components/middleware/dashboard/faultClass.vue";
import cameraTop from "@/components/middleware/dashboard/cameraTop.vue";
import userTime from "@/components/middleware/dashboard/userTime.vue";
import timerSelectByCamera from "@/components/middleware/dashboard/timerSelectByCamera.vue";
// import timerSelect from "@/components/middleware/dashboard/timerSelectByTime.vue";
import timerSelectByTime from "@/components/middleware/dashboard/timerSelectByTime.vue";
import timerSelectByDuration from "@/components/middleware/dashboard/timerSelectByDuration.vue";
import timerSelectByFaultStatistics from "@/components/middleware/dashboard/timerSelectByFaultStatistics.vue";
import timerSelectByFaultClassify from "@/components/middleware/dashboard/timerSelectByFaultClassify.vue";


import userTimeRanking from "@/components/middleware/dashboard/userTimeRanking.vue";

export default {
  data() {
    return {
        cameratype:'帅帅',
        timetype:"立坤",
        timerSelectByFaultStatistics:'',
        timerSelectByFaultClassify:'',
        timerSelectByDuration:'',
        timerSelectByTime:'',
        timerSelectByCamera:''
    };
  },
  methods: {
    getCurrentDate(format) {
      var now = new Date();
      var year = now.getFullYear(); //得到年份
      var month = now.getMonth();//得到月份
      var day = now.getDate();//得到日期
      var hour = now.getHours();//得到小时
      var minu = now.getMinutes();//得到分钟
      var sec = now.getSeconds();//得到秒
      month = month + 1;
      if (month < 10) month = "0" + month;
      if (day < 10) day = "0" + day;
      if (hour < 10) hour = "0" + hour;
      if (minu < 10) minu = "0" + minu;
      if (sec < 10) sec = "0" + sec;
      var time = "";
      //精确到天
      if(format==1){
        time = year + "-" + month + "-" + day;
      }
      //精确到分
      else if(format==2){
        time = year + "-" + month + "-" + day+ " " + hour + ":" + minu + ":" + sec;
      }
      console.log(time);
      return time;
    },
    getPre6(num){
      var pre = Date.parse(new Date())-num*24*60*60*1000;
      var date = new Date(pre);
      var YY = date.getFullYear() + '-';
      var MM = (date.getMonth() + 1 < 10 ?  (date.getMonth() + 1) : date.getMonth() + 1) + "月";
      var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
      var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
      var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
      var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
      let time1 =  YY + MM + DD +" "+hh + mm + ss;
      time1
      let time =  MM + DD ;
      return time;
      // console.log( YY + MM + DD +" "+hh + mm + ss);
    },
    getSelectNodeByFaultStatistics(data){
        console.log(data);
        this.timerSelectByFaultStatistics = data;
    },
    getSelectNodeByFaultClassify(data){
        console.log(data);
        this.timerSelectByFaultClassify = data;
    },
    getSelectNodeByDuration(data){
        console.log(data);
        this.timerSelectByDuration = data;
    },
    getSelectNodeByTime(data){
        console.log(data);
        this.timerSelectByTime = data;
    },
    getSelectNodeByCamera(data){
        this.timerSelectByCamera = data;
    },
     ...mapMutations([]) },

  mounted() {
    this.$store.commit("SET_HEADER_STATUS", true);
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {
    // timerSelect,
    cameraTop,
    faultClass,
    basicdata,
    videoConcat,
    jilianResource,
    faultStatistics,
    userTime,
    userTimeRanking,
    timerSelectByCamera,
    timerSelectByTime,
    timerSelectByDuration,
    timerSelectByFaultStatistics,
    timerSelectByFaultClassify
  },
  beforeRouteLeave(to, from, next) {
    this.$store.commit("SET_HEADER_STATUS", false);
    next();
  }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/middleware/dashboard.less";
</style>
