<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    <div class="inputBox">
                        <div class="title">所属区域</div>
                        <el-input v-model="queryParams.districtName" clearable=""></el-input>
                    </div>
                    <div class="inputBox">
                        <div class="title">用户名</div>
                        <el-input v-model="queryParams.name" clearable=""></el-input>
                    </div>
                    <div class="inputBox">
                        <div class="title">角色</div>
                        <el-input v-model="queryParams.roles" clearable=""></el-input>
                    </div>
                    
                    <div class="rightBtnGroup">
                        <el-button type="primary" style="margin-left:10px;" @click="query">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                    </div>
                </div>

                <div class="firstrow">
                    <el-button @click="handleAdd" type="text" icon="el-icon-plus" style="margin-left:20px;">新增职工</el-button>
                    <el-button @click="morDel" type="text" icon="el-icon-delete" style="margin-left:20px;">批量删除</el-button>
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="staffList.results"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    <el-table-column
                        type="selection"
                        align="center"
                        width="55">
                    </el-table-column>
                    <el-table-column
                        label="用户名"
                        width="85"
                        align="center"
                        prop="name"
                        >
                        
                    </el-table-column>
                    <el-table-column
                        prop="mobile"
                        label="手机号"
                        align="center"

                        >
                    </el-table-column>
                    <el-table-column
                        prop="districtName"
                        label="所属区域"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                     <el-table-column
                        prop="roles"
                        label="角色"
                        align="center"
                        show-overflow-tooltip
                        :formatter="getRole"
                        >
                    </el-table-column>
                    <el-table-column
                        prop="createTime"
                        label="创建时间"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                   
                    
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">                          
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                            <el-button
                            size="mini"
                            type="primary"
                            @click="handleEdit( scope.row)">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="queryParams.count"
                layout="prev, pager, next,total"
                :total="staffList.pagination.total">
            </el-pagination>

            

            <el-dialog
                title="提示"
                :visible.sync="deldialogVisible"
                width="30%"
                >
                <span>确认删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="deldialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delConfirm">确 定</el-button>
                </span>
            </el-dialog>

             <el-dialog
                title="新增职工"
                :visible.sync="addDialogVisible"
                width="30%"
                center>
                <el-form :model="addform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="角色:" >
                        <el-select v-model="addform.roles" placeholder="请选择">
                            <el-option
                            v-for="item in rolesoptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <!-- <el-form-item label="区域:" style="display">
                        <el-select v-model="addform.districtId" @change="getDistrictName" placeholder="请选择">
                            <el-option
                            v-for="item in villageOptions"
                            :key="item.districtId"
                            :label="item.text"
                            :value="item.districtId">
                            </el-option>
                        </el-select>

                    </el-form-item> -->
                    <el-form-item label="区域">
                        <el-cascader
                        @change="getDistrictName"
                        v-model="addform.districtId"
                        :options="districtTree"
                        :props="{
                        checkStrictly: true,
                        label: 'name',
                        value: 'districtId'
                        }"
                        :show-all-levels="false"
                        :change-on-select="true"
                        clearable
                        ></el-cascader>
                    </el-form-item>
                    <el-form-item label="姓名:">
                        <el-input v-model.number="addform.name" autocomplete="off" style="width:65%"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号:">
                        <el-input v-model.number="addform.mobile" autocomplete="off" style="width:65%"></el-input>
                    </el-form-item>
                    <el-form-item label="密码:">
                        <el-input v-model.number="addform.password" autocomplete="off" style="width:65%"></el-input>
                    </el-form-item>
                   
                    
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addconfirm">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog
                title="编辑职工"
                :visible.sync="editDialogVisible"
                width="20%"
                center>
               <el-form :model="editform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="角色:" >
                        <el-select v-model="editform.roles" placeholder="请选择">
                            <el-option
                            v-for="item in rolesoptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <!-- <el-form-item label="区域:" >
                        <el-select v-model="editform.districtId" @change="getDistrictName" placeholder="请选择">
                            <el-option
                            v-for="item in villageOptions"
                            :key="item.districtId"
                            :label="item.text"
                            :value="item.districtId">
                            </el-option>
                        </el-select>

                    </el-form-item> -->
                    <el-form-item label="区域">
                        <el-cascader
                        v-model="editform.districtId"
                        @change="getDistrictName"
                        :options="districtTree"
                        :props="{
                        checkStrictly: true,
                        label: 'name',
                        value: 'districtId'
                        }"
                        :show-all-levels="false"
                        clearable
                        :change-on-select="true"
                        ></el-cascader>
                    </el-form-item>
                    <el-form-item label="姓名:">
                        <el-input v-model.number="editform.name" autocomplete="off" style="width:65%"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号:">
                        <el-input v-model.number="editform.mobile" autocomplete="off" style="width:65%"></el-input>
                    </el-form-item>
                     <el-form-item label="密码:">
                        <el-input v-model.number="editform.password" autocomplete="off" style="width:65%"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editconfirm">确 定</el-button>
                </span>
            </el-dialog>
        </div>

    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
import Vue from "vue"
import { merge } from 'highcharts';
export default {
    data(){
        return{
            params:{
                name:'',
                deviceIP:''
            },
            tabledata:[{}],
            queryParams:{
                start:0,
                count:10,
                districtName:null,
                name:null
            },
            addform:{
                roles:null,
                name:null,
                mobile:null,
                districtId:null,
                password:null,
                // districtName:sessionStorage.getItem("districtName"),
                districtName:null
            },
            editform:{
                roles:null,
                name:null,
                mobile:null,
                districtId:null ,
                password:null,
                // districtName:sessionStorage.getItem("districtName"),
                districtName:null
            },
            hightcameralist:[
               
            ],
            rolesoptions: [{
                value: '0',
                label: '超级管理员'
                }, {
                value: '1',
                label: '管理员'
                }, {
                value: '2',
                label: '物业'
                },
            ],
            villageOptions: [{}],
            datepick:[],
            dialogtext:'cesgu',
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            mordialogVisible:false,
            deldialogVisible:false,
            labelPosition:"left"
        }
    },
    methods:{
        getDistrictName(val){
            // console.log(val);
            console.log(val[val.length-1]);
            this.editform.districtId = val[val.length-1];
            this.addform.districtId = val[val.length-1];
            console.log(this.editform.districtId);
            
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
            console.log(this.multipleSelection)
        },
        handleChange(index){
            this.queryParams.start = (index-1)*this.queryParams.count;
            this.getstafflist();
        },
        
        moreHideLabel(){
            if(this.multipleSelection.length  > 0){
                this.mordialogVisible = true;
                this.dialogtext = "确认批量隐藏这些标签?"
                this.multipleSelection.forEach(item =>{
                    item.isShow = 0;
                })
            }else{
                Message.success('请选择要操作的数据')
            }

        },
        handleAdd(){
            this.addDialogVisible = true;
            // this.addform.districtId = sessionStorage.getItem("villageDistrictId");
            // this.addform.districtName = sessionStorage.getItem("districtName");
            
        },
        addconfirm(){
            this.$store.dispatch("staff_save",this.addform)
            .then(res =>{
                if(res.result){
                    this.addDialogVisible = false;
                    Message.success("新增成功");
                    this.getstafflist();
                }else{
                    Message.success(res.error.message)
                }
            });
            
        },
        
        morDel(){
            if(this.multipleSelection.length  > 0){
                this.deldialogVisible = true;
            }else{
                Message.success("请选择要操作的数据");
            }
        },
        handleDelete(item){
            console.log(item);
            this.multipleSelection = [];
            this.multipleSelection.push(item);
            this.deldialogVisible = true;
        },
        delConfirm(){
            let arr = "";
            this.multipleSelection.forEach(item =>{
                arr = arr+item.workerUrn+",";
            });
            this.$store.dispatch("staff_delete",{workerUrn:arr})
            .then(res =>{
                this.deldialogVisible = false;
                if(res.result){
                    Message.success('已删除');
                    this.multipleSelection = [];  //操作完成后数组置空
                    this.getstafflist();
                }else{
                    Message.success(res.error.message);
                }
            })

        },
          
        handleEdit(item){
            console.log(item)
            this.editform.name = item.name;
            this.editform.mobile = item.mobile;
            this.editform.roles = item.roles;
            this.editform.workerUrn = item.workerUrn;
            // this.editform.districtId = sessionStorage.getItem("villageDistrictId");
            this.editform.districtName = item.districtName;
            this.editform.districtId = item.districtId;
            this.editDialogVisible = true;
        },
        editconfirm(){
            console.log(this.editform.districtId);
            this.$store.dispatch("staff_save",this.editform)
            .then(res =>{
                if(res.result){
                    this.editDialogVisible = false;
                    Message.success("修改成功");
                    this.getstafflist();
                }else{
                    Message.success(res.error.message)
                }
            })
        },
        
        getstafflist(){
            
            let arr = [];
            arr.push(sessionStorage.getItem("villageDistrictId"));
            this.queryParams.districtIds = arr;
            var params = {
                count: this.queryParams.count,
                districtIds:this.queryParams.districtIds,
                districtName:this.queryParams.districtName,
                name:this.queryParams.name,
                start:this.queryParams.start,
            }
            if(this.queryParams.roles == '超级管理员'){
                params.roles = 0;
            }else if(this.queryParams.roles == '管理员'){
                params.roles = 1;
            }else if(this.queryParams.roles == '物业'){
                params.roles = 2;
            }

            console.log(params);
            this.$store.dispatch("staff_page",params);
        },
        query(){
            this.queryParams.start = 0;
            this.getstafflist();
        },
        reset(){
            this.queryParams.name = null;
            this.queryParams.districtName = null;
            this.queryParams.roles = null;
            this.query();
        },
        
        getRole(row){
            if(row.roles == 0){
                return "超级管理员"
            }else if(row.roles == 1){
                return "管理员"
            }else if(row.roles == 2){
                return "物业"
            }
        }
    },
    created(){

    },
    mounted(){
        this.getstafflist();
        // console.log();
        this.$store.dispatch("district_getDistrictTree")
    },
    computed:{
        ...mapState({
            staffList: state => state.ronghe.staffList,
            districtTree: state => state.ronghe.districtTree,
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        // padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
              
              height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
</style>