<template>
  <div class="login-container">
    <div class="login-inner-container">
      <div class="login-inner-title">
        <span>联勤联动微平台后台管理</span>
      </div>
      <div class="title">
        <span>用户登录</span>
      </div>
      <div class="username">
        <div class="item-inner">
          <div class="left">
            <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/ren.png" alt />
          </div>
          <div class="right">
            <input v-model="username" class="username-input" type="text" />
          </div>
        </div>
      </div>
      <div class="password">
        <div class="item-inner">
          <div class="left">
            <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/suo.png" alt />
          </div>
          <div class="right">
            <input
              @keydown.enter="loginUser"
              v-model="password"
              class="username-input"
              type="password"
            />
          </div>
        </div>
      </div>
      <div class="checkbox-container">
        <bear-checkbox v-model="remerberPassword"></bear-checkbox>
      </div>
      <button class="confirm-btn" @click="loginUser">
        <span>登 &nbsp;&nbsp;&nbsp;&nbsp;录</span>
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import bearCheckbox from "@/components/starfish/login/bearCheckbox.vue";
import Vue from "vue";
export default {
  data() {
    return { remerberPassword: false, username: "", password: "" };
  },
  methods: {
    handleTest: function() {
      Vue.ls.get("token");
    },
    loginUser: function() {
      if (this.username && this.password) {
        this.$store.dispatch("sfLoginUser", {
          username: this.username,
          password: this.password
        });
      } else {
        alert("请输入用户名密码");
      }
    },
    ...mapMutations([])
  },

  mounted() {
    Vue.ls.clear();
    Vue.ls.set("sysName", this.$route.name);
  },
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: { bearCheckbox }
};
</script>

<style lang='less'>
.login-container {
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/bg-image.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-inner-container {
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-inner-container.png");
  height: 390px;
  width: 560px;
  position: fixed;
  background-size: 100%;
  right: 221px;
  top: 330px;
  .title {
    color: #00bff4;
    font-size: 30px;
    top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .username,
  .password {
    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/input-bg.png");
    background-size: 100% 100%;
    height: 50px;
    width: 470px;
    position: absolute;
    top: 90px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .item-inner {
      width: 445px;
      height: 40px;
      line-height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 10%;
      }
      .right {
        width: 90%;
        .username-input {
          height: 38px;
          float: left;
          line-height: 38px;
          border: none;
          outline: none;
          width: 100%;
          background-color: transparent;
          color: #ffffff;
          font-size: 22px;
        }
      }
    }
  }
  .password {
    top: 170px;
  }
  .checkbox-container {
    position: absolute;
    top: 240px;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .confirm-btn {
    height: 45px;
    width: 470px;
    top: 290px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #0ba1f8;
    border: none;
    outline: none;
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
  }
  .confirm-btn:active {
    top: 318px;
  }
}
.login-inner-title {
  position: absolute;
  top: -100px;
  text-align: center;
  color: #00bff4;
  font-size: 39px;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
</style>
