<template>
    <div class="containerZuzhi">
        <div class="zuzhiItem">
            组织机构
        </div>
        <div class="zuzhiItem">
            <!-- <el-button type="primary">同步人员</el-button> -->
        </div>
        <div class="zuzhiItem">
            <el-input
                suffix-icon="el-icon-search"
                placeholder="输入关键字进行过滤"
                v-model="filterText">
            </el-input>
            <el-tree
                class="filter-tree"
                :data="getDeptlist"
                :props="defaultProps"
                :default-expand-all="false"
                :highlight-current="true"
                node-key="id"
                @node-click='getCurrentNode'
                :default-expanded-keys="['1','14']"
                :filter-node-method="filterNode"
                ref="tree">
            </el-tree>
        </div>
        <div class="zuzhiItem">
            <div class="zuzhiForm">
                <el-form :inline="true" :model="params" class="demo-form-inline">
                    <el-form-item label="姓名查询:">
                        <el-input v-model="params.name" placeholder="请输入姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="电话查询:">
                        <el-input v-model="params.mobile" placeholder="请输入电话"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="resetForm">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="zuzhiTable">
                <el-table
                    :data="getAccountlist"
                    style="width: 100%">
                        <el-table-column
                            align='center'
                            prop="name"
                            label="姓名"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            align='center'
                            prop="mobile"
                            label="电话"
                            width="180">
                        </el-table-column>
                        <el-table-column
                            align='center'
                            prop="duty"
                            label="所属单位">
                        </el-table-column>
                        <el-table-column
                            align='center'
                            prop="unit"
                            label="职务">
                        </el-table-column>
                        <el-table-column
                            align='center'
                            prop="lastPingTimeFmt"
                            label="最后登录时间">
                        </el-table-column>
                </el-table>
                <div class="bottomPage">
                    <el-pagination
                        class="fystyle"
                        @current-change="handleCurrentChange"
                        :current-page="params.page"
                        :page-size="params.limit"
                        background
                        layout="total, prev, pager, next, jumper"
                        prev-text="上一页"
                        next-text="下一页"
                        :total="AccountTotalpage">
                    </el-pagination>


                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
    export default {
        data(){
            return{
                filterText: '',
                defaultProps: {
                    children: 'children',
                    label: 'name',
                },
                formInline: {
                    user: '',
                    region: ''
                },
                params:{
                    page:1,
                    limit:10,
                    name:'',
                    mobile:'',
                    unit:'',
                    departmentId:''
                },
            }
        },
        methods:{
            filterNode(value, data) {
                if (!value) return true;
                return data.name.indexOf(value) !== -1;
            },
            onSubmit() {
                this.$store.dispatch('accountList',this.params)
            },
            resetForm(){
                this.params = {
                    page:1,
                    limit:10,
                    name:'',
                    mobile:'',
                    unit:'',
                    departmentId:this.params.departmentId
                }
                this.$store.dispatch('accountList',this.params)
            },
            handleCurrentChange(val){
                this.params.page = val
                this.$store.dispatch('accountList',this.params)
            },
            getCurrentNode(data){
                if(data.level =='3'){
                    this.params.departmentId = data.id
                    this.$store.dispatch('accountList',this.params)
                }
                
            }
        },
        mounted(){
            this.$nextTick(()=>{
                this.$store.dispatch('accountList',this.params)
                this.$store.dispatch('accountGetDepts',{needUser:true})
            })
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        computed:{
            ...mapState({
                getAccountlist:state=>state.systemManage.getAccountlist,
                AccountTotalpage:state=>state.systemManage.AccountTotalpage,
                getDeptlist:state=>state.systemManage.getDeptlist,
            })
        }
    }
</script>

<style scoped>
@import '~@/assets/less/starfish/systemManagement/origanizationManage.css'
</style>