<template>
    <div class="deptList">
        <VoBasic :data="getDeptlist[0]"></VoBasic>
        <VoBasic :data="getDeptlist[1]"></VoBasic>
    </div>
</template>

<script>
    import { VoBasic } from 'vue-orgchart'
import { mapState } from 'vuex'
    export default {
        data(){
            return{
                
            }
        },
        computed:{
            ...mapState({
                getDeptlist:state=>state.systemManage.getDeptlist,
            })
        },
        components:{
            VoBasic
        }
    }
</script>

<style scoped>
@import '~@/assets/less/starfish/systemManagement/origanizationPicture.css';
</style>