@import '../global.less';

.visit-record-list-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .visit-record-list-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;

        .search-container {
            margin: 10px;

            .first-line {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 33%;

                    .left {
                        width: 20%;
                        text-align: center;
                    }

                    .right {
                        width: 80%;

                        .item-width {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.grey-block {
    height: 10px;
    background-color: @grey-color;
}
.table-title{
    padding: 25px;
}
.block{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}