<template>
  <div class="login-container">
    <div v-if="Ukeyvisible" class="login-inner-container">
      <div class="login-inner-title">
        <span>认证设备管理中心</span>
      </div>
      <div class="ukeyIcon" @click="changeUkey">
        <img :src="require('@/assets/images/safeUkey/ukeyChecked.png')" alt="">
      </div>
      <div class="title">
        <span>用户登录</span>
      </div>
      <div class="username">
        <div class="item-inner">
          <div class="left">
            <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/ren.png" alt />
          </div>
          <div class="right">
            <input v-model="form.username" class="username-input" type="text" />
          </div>
        </div>
      </div>
      <div class="password">
        <div class="item-inner">
          <div class="left">
            <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/suo.png" alt />
          </div>
          <div class="right">
            <input
              @keydown.enter="loginUser"
              v-model="form.password"
              class="username-input"
              type="password"
            />
          </div>
        </div>
      </div>
      <button class="confirm-btn" @click="loginUser">
        <span>登 &nbsp;&nbsp;&nbsp;&nbsp;录</span>
      </button>
    </div>
    <div v-if="!Ukeyvisible" class="login-inner-container">
      <div class="login-inner-title">
        <span>认证设备管理中心</span>
      </div>
      <div class="ukeyIcon" @click="changeUkey">
        <img :src="require('@/assets/images/safeUkey/computer.png')" alt="">
      </div>
      <div class="checkukeyIcon" @click="checkUkey">
        <img title="切换U盾" :src="require('@/assets/images/safeUkey/check.png')" alt="">
      </div>
      <div class="ukeyImage" @click="getUkey">
        <img v-if="ArmInfo.ArmNum<1" :src="require('@/assets/images/safeUkey/ukeyUncheck.png')" alt="">
        <img v-if="ArmInfo.ArmNum>0" :src="require('@/assets/images/safeUkey/ukeyChecked.png')" alt="">
      </div>
      <div class="ukeyTitleinfo">
        <span v-if="ArmInfo.ArmNum>0">已检测到安全U盾，请登录</span>
        <span v-if="ArmInfo.ArmNum<1">未检测到安全U盾，请插入U盾或安装插件</span>
      </div>
      <div class="ukeybutton">
         <el-button v-if="ArmInfo.ArmNum>0" class="ukeybuttonItem" @click="userUkeyLogin" type="primary" >登录</el-button>
         <el-button v-if="ArmInfo.ArmNum<1" disabled class="ukeybuttonItem" type="primary">登录</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from 'vue';
export default {
  data() {
    return {
       form:{
         username:'',
         password:''
       },
       Ukeyvisible:true
    }
  },
methods:{ ...mapMutations([]),
  loginUser(){
    this.$store.dispatch('userLogin',this.form)
  },
  changeUkey(){
    this.Ukeyvisible = !this.Ukeyvisible
    if(this.Ukeyvisible){
      this.$store.commit('CLEAR_ARMINFO')
    }
  },
  checkUkey(){
    this.$store.commit('CLEAR_ARMINFO')
  },
  getUkey(){
    this.$store.commit('ARM_LOOP') 
    setTimeout(()=>{
      this.$store.commit('ARM_READDATA')
      setTimeout(()=>{
        this.$store.dispatch('userRandom',{uuid:this.ArmReadDataData.uuid})
      },500)
    },1000)
  },
  userUkeyLogin(){
    let pwd = md5(this.ArmInfo.ArmHardWareID+this.ArmReadDataData.secret+this.randomdata)
    pwd;
    this.$store.dispatch('userUkLogin',{uuid:this.ArmReadDataData.uuid,password:pwd})
  }
},

mounted(){
    Vue.ls.remove('sysName')
    Vue.ls.remove('menuList')
    Vue.ls.remove('userName')
    // this.$store.dispatch('userLogin',{username:'admin',password:'123456'})
},
watch:{},
computed:{ ...mapState({
  ArmInfo:state=>state.management.ArmInfo,
  randomdata:state=>state.Ukeylogin.randomdata,
  ArmReadDataData:state=>state.management.ArmReadDataData,
}),
  ...mapGetters([]),
  
},
  components: {

  }
}
</script>

<style lang='less' scoped>
.login-container {
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/bg-image.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-inner-container {
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-inner-container.png");
  height: 390px;
  width: 560px;
  position: fixed;
  background-size: 100%;
  right: 221px;
  top: 330px;
  .ukeyIcon{
    width: 25px;
    position: absolute;
    top: 20px;
    cursor: pointer;
    right: 20px;
    z-index: 9999;
    img{
      width: 100%;
    }
  }
  .checkukeyIcon{
    width: 30px;
    position: absolute;
    top: 70px;
    cursor: pointer;
    right: 18px;
    z-index: 9999;
    img{
      width: 100%;
    }
  }
  .ukeyImage{
    img{
      width: 80px;
    }
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -40px;
  }
  .ukeyTitleinfo{
    position: absolute;
    top: 220px;
    text-align: center;
    width: 100%;
    font-size: 22px;
    color:#6db9f0
  }
  .ukeybutton{
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: center;
    .ukeybuttonItem{
      padding: 10px 100px;
      letter-spacing: 3px;
      font-size: 18px;
    }
  }
  .title {
    color: #00bff4;
    font-size: 30px;
    top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .username,
  .password {
    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/input-bg.png");
    background-size: 100% 100%;
    height: 50px;
    width: 470px;
    position: absolute;
    top: 90px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .item-inner {
      width: 445px;
      height: 40px;
      line-height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 10%;
      }
      .right {
        width: 90%;
        .username-input {
          height: 38px;
          float: left;
          line-height: 38px;
          border: none;
          outline: none;
          width: 100%;
          background-color: transparent;
          color: #ffffff;
          font-size: 22px;
        }
      }
    }
  }
  .password {
    top: 170px;
  }
  .checkbox-container {
    position: absolute;
    top: 240px;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .confirm-btn {
    height: 45px;
    width: 470px;
    top: 290px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #0ba1f8;
    border: none;
    outline: none;
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
  }
}
.login-inner-title {
  position: absolute;
  top: -100px;
  text-align: center;
  color: #00bff4;
  font-size: 39px;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
</style>
