<template>
    <div class='singlePeoContrast'>
        <div class="contrast_header">
            <span>人像对比</span>
            <div class="contrast_header_close" @click="colsePeoContrast">
                <img :src="require('@/assets/images/mcp/guanbi-lan@2x.png')" alt="">
            </div>
        </div>
        <div class="contrast_content">
            <div class="contrast_content_item">
                <div class="contrast_content_item_left">
                    <div class="contrast_content_item_img">
                        <div :style="`height:${carouselHeight}`" class="people_contrast_item_info">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603110660387&di=07cd6a87863526ebf0d8a3ca4f8d4ded&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F0dd7912397dda144dac4acc9b2b7d0a20df486f8.jpg" alt="">
                            <div class="people_contrast_item_info_imgIcon" @click="searchPeoImg">
                                <img :src="require('@/assets/images/mcp/renxiang@2x.png')" alt="">
                            </div>
                        </div>
                        <div class="people_contrast_item_percent">
                            <div class="people_contrast_item_percentNum">
                                <div class="corner_left_top"></div>
                                <div class="corner_right_top"></div>
                                <div class="corner_left_bottom"></div>
                                <div class="corner_right_bottom"></div>
                                <div class='percentNum' style="">
                                    90.2%
                                </div>
                            </div>
                        </div>
                        <div class="people_contrast_item_info">
                            <el-carousel trigger="click" arrow='always' :height="carouselHeight" indicator-position='none'>
                                <el-carousel-item v-for="item in 4" :key="item">
                                    <div class="people_contrast_item_info_imgIcon" @click="searchPeoImg">
                                        <img :src="require('@/assets/images/mcp/renxiang@2x.png')" alt="">
                                    </div>
                                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603110660387&di=07cd6a87863526ebf0d8a3ca4f8d4ded&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F0dd7912397dda144dac4acc9b2b7d0a20df486f8.jpg" alt="">
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                    </div>
                    <div class="contrast_content_item_bigimg">
                        <div class="contrast_content_item_bigimgTitle">原始照片</div>
                        <div class="contrast_bigimg">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603191074216&di=412f2a62264966970304d5beb1965ce7&imgtype=0&src=http%3A%2F%2Fpic31.nipic.com%2F20130720%2F11030706_103335594159_2.jpg" alt="">
                        </div>
                    </div>
                    <div class="contrast_content_item_location">
                        <div class="contrast_content_item_location_item">
                            位置 : 金都花园一号门/进    
                        </div>  
                        <div class="contrast_content_item_location_item">
                            时间 : 2020-10-02  11:20:45
                        </div>
                    </div>
                </div>
            </div>
            <div class="contrast_content_item">
               <div class="contrast_content_item_right">
                   <div class="contrast_content_item_ku">
                       <div class="contrast_content_item_ku_title">人像库信息</div>
                       <div></div>
                       <div class="contrast_ku_item">所属组织架构</div>
                       <div class="contrast_ku_item">上海市-浦东新区</div>
                       <div class="contrast_ku_item">库名</div>
                       <div class="contrast_ku_item">逃犯库</div>
                       <div class="contrast_ku_item">人像数</div>
                       <div class="contrast_ku_item">230</div>
                       <div class="contrast_ku_item">创建人</div>
                       <div class="contrast_ku_item">张三</div>
                       <div class="contrast_ku_item">创建时间</div>
                       <div class="contrast_ku_item">2020-01-05 14:15:25</div>
                       <div class="contrast_ku_item">备注</div>
                       <div class="contrast_ku_item">...</div>
                   </div>
                   <div class="contrast_content_item_peo">
                       <div class="contrast_content_item_ku_title">人像信息</div>
                       <div></div>
                       <div class="contrast_ku_item">人像</div>
                       <div class="contrast_ku_item contrast_ku_img">
                           <div class="contrast_ku_img_box">
                               <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603194280956&di=e1171153a39d900d9016473a9649d39d&imgtype=0&src=http%3A%2F%2Fpic37.photophoto.cn%2F20151009%2F0005018339516174_b.jpg" alt="">
                           </div>
                       </div>
                       <div class="contrast_ku_item">姓名</div>
                       <div class="contrast_ku_item">李四</div>
                       <div class="contrast_ku_item">别名</div>
                       <div class="contrast_ku_item">老四</div>
                       <div class="contrast_ku_item">身份证号</div>
                       <div class="contrast_ku_item">123456789987654321</div>
                       <div class="contrast_ku_item">上传人</div>
                       <div class="contrast_ku_item">张三</div>
                       <div class="contrast_ku_item">上传时间</div>
                       <div class="contrast_ku_item">2020-01-05 14:15:25</div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';

export default {
  data() {
    return {
        carouselHeight:0,
    }
  },
methods:{ ...mapMutations([]),
    colsePeoContrast(){
        this.$router.push('/mcp/warning/people')
    },
    searchPeoImg(){
        this.$router.push('/mcp/search/people/result')
    }
},

mounted(){
    let height = document.body.clientHeight;
    this.carouselHeight =(height/1070)*350+'px'
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/singleContrast.less";
</style>
