<template>
    <div class='singleCarContrast'>
        <div class="contrast_header">
            <span>车辆对比</span>
            <div class="contrast_header_close" @click="colsePeoContrast">
                <img :src="require('@/assets/images/mcp/guanbi-lan@2x.png')" alt="">
            </div>
        </div>
        <div class="contrast_content">
            <div class="contrast_content_item">
                <div class="contrast_content_item_left">
                    <div class="contrast_content_item_img">
                        <div :style="`height:${carouselHeight}`" class="people_contrast_item_info">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603256997329&di=6ebf84a1e23f713ce58838f6bdd735e9&imgtype=0&src=http%3A%2F%2Fgb.cri.cn%2Fmmsource%2Fimages%2F2013%2F05%2F20%2F85%2F3466518757768322413.jpg" alt="">
                            <div class="people_contrast_item_info_imgIcon" @click="searchCarImg">
                                <img :src="require('@/assets/images/mcp/cheliang@2x.png')" alt="">
                            </div>
                        </div>
                        <div class="people_contrast_item_percent">
                        </div>
                        <div class="people_contrast_item_info">
                            <el-carousel trigger="click" arrow='always' :height="carouselHeight" indicator-position='none'>
                                <el-carousel-item v-for="item in 4" :key="item">
                                    <div class="people_contrast_item_info_imgIcon" @click="searchCarImg">
                                        <img :src="require('@/assets/images/mcp/cheliang@2x.png')" alt="">
                                    </div>
                                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603256997329&di=6ebf84a1e23f713ce58838f6bdd735e9&imgtype=0&src=http%3A%2F%2Fgb.cri.cn%2Fmmsource%2Fimages%2F2013%2F05%2F20%2F85%2F3466518757768322413.jpg" alt="">
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                       
                    </div>
                     <div class="contrast_content_item_location">
                        <div class="contrast_content_item_location_item">
                            位置 : 金都花园一号门/进    
                        </div>  
                        <div class="contrast_content_item_location_item">
                            时间 : 2020-10-02  11:20:45
                        </div>
                    </div>
                    <div class="contrast_content_item_bigimg">
                        <!-- <div class="contrast_content_item_bigimgTitle">原始照片</div> -->
                        <div class="contrast_bigimg">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603260919320&di=8db874468613cc2757ae3a48473dca0b&imgtype=0&src=http%3A%2F%2Fwww.cheshizh.com%2Fi%2Fcar%2F11%2624%2Fyt7zhzfrcr.jpg" alt="">
                        </div>
                    </div>
                    <div class="contrast_content_item_location">
                        <div class="contrast_content_item_location_item">
                            车牌号 : 沪AL1234    
                        </div>  
                        <div class="contrast_content_item_location_item">
                            车辆库 : 卖淫窝点
                        </div>
                    </div>
                </div>
            </div>
            <div class="contrast_content_item">
               <div class="contrast_content_item_right">
                   <div class="contrast_content_item_ku">
                       <div class="contrast_content_item_ku_title">车辆库信息</div>
                       <div></div>
                       <div class="contrast_ku_item">所属组织架构</div>
                       <div class="contrast_ku_item">上海市-浦东新区</div>
                       <div class="contrast_ku_item">库名</div>
                       <div class="contrast_ku_item">逃犯库</div>
                       <div class="contrast_ku_item">车辆数</div>
                       <div class="contrast_ku_item">230</div>
                       <div class="contrast_ku_item">创建人</div>
                       <div class="contrast_ku_item">张三</div>
                       <div class="contrast_ku_item">创建时间</div>
                       <div class="contrast_ku_item">2020-01-05 14:15:25</div>
                       <div class="contrast_ku_item">备注</div>
                       <div class="contrast_ku_item">...</div>
                   </div>
                   <div class="contrast_content_item_peo">
                       <div class="contrast_content_item_ku_title">车辆信息</div>
                       <div></div>
                       <div class="contrast_ku_item">车照</div>
                       <div class="contrast_ku_item contrast_ku_img">
                           <div class="contrast_ku_img_box">
                               <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603261007622&di=8df68832cb78c9d32f2690f4c74a5d7a&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fdesign%2F00%2F07%2F85%2F23%2F5933d624ecde3.png" alt="">
                           </div>
                       </div>
                       <div class="contrast_ku_item">车牌号码</div>
                       <div class="contrast_ku_item">沪AL1234</div>
                       <div class="contrast_ku_item">车牌颜色</div>
                       <div class="contrast_ku_item">蓝</div>
                       <div class="contrast_ku_item">车牌种类</div>
                       <div class="contrast_ku_item">小型汽车</div>
                       <div class="contrast_ku_item">上传人</div>
                       <div class="contrast_ku_item">张三</div>
                       <div class="contrast_ku_item">上传时间</div>
                       <div class="contrast_ku_item">2020-01-05 14:15:25</div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';

export default {
  data() {
    return {
        carouselHeight:0,
        imgStyle:{
            'height':this.carouselHeight
        }
    }
  },
methods:{ ...mapMutations([]),
    colsePeoContrast(){
        this.$router.push('/mcp/warning/car')
    },
    searchCarImg(){
        this.$router.push('/mcp/search/car/result')
    }
},

mounted(){
    let height = document.body.clientHeight;
    console.log(height)
    this.carouselHeight =(height/937)*270+'px'
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/singleContrast.less";
</style>
