<template>
    <div class='warningCar'>
        <div class="filter_condition">
            <div class="condition_item">
                <div class="condition_item_label">时间</div>
                <div class="condition_item_input">
                    <el-date-picker
                        v-model="formData.date"
                        type="daterange"
                        align="left"
                        unlink-panels
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="condition_input"
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </div>
            </div>
            <div class="condition_item">
                <div class="condition_item_label">摄像头</div>
                <div class="condition_item_input">
                    <!-- <el-input v-model="formData.cameraList" class="condition_input" placeholder="请输入内容"></el-input> -->
                    <el-cascader
                        :collapse-tags="true"
                        style="width: 100%"
                        placeholder="请选择要检索的人像抓拍库"
                        :options="cameraList"
                        :props="{ multiple: true }"
                        filterable
                    ></el-cascader>
                </div>
            </div>
            <div class="condition_item_more">
                <el-dropdown  trigger="click">
                <span class="el-dropdown-link">
                    {{moreOption}}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                    <!-- <el-dropdown-item command="a" @click.native='showHighranking(1)'>高级筛选</el-dropdown-item> -->
                    <el-dropdown-item command="b" @click.native='showHighranking(2)'>重置表单</el-dropdown-item>
                    <!-- <el-dropdown-item command="c" @click.native='showHighranking(3)'>收起</el-dropdown-item> -->
                </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <!-- <div class="filter_condition" v-if='highRanking'>
            <div class="condition_item">
                <div class="condition_item_label">时间</div>
                <div class="condition_item_input">
                    <el-date-picker
                        v-model="formData.date"
                        type="daterange"
                        align="left"
                        unlink-panels
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="condition_input"
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </div>
            </div>
            <div class="condition_item">
                <div class="condition_item_label">摄像头</div>
                <div class="condition_item_input">
                    <el-input v-model="formData.cameraList" class="condition_input" placeholder="请输入内容"></el-input>
                </div>
            </div>
            <div class="condition_item">
                <div class="condition_item_label">阈值</div>
                <div class="condition_item_input">
                    <el-input-number v-model="formData.step" class="condition_input" :precision="2" :step="0.1" :max="100"></el-input-number>
                </div>
            </div>
            <div class="condition_item_more"></div>
        </div> -->

        <div class="people_contrast">
            <div class="people_contrast_item" v-for="item in 4" :key='item'>
                <carContrast  @click.native="getContrastSingle(item)"></carContrast>
            </div>
        </div>
        <div class="pagination">
            <el-pagination
                @current-change="handleCurrentChange"
                background
                :page-size="params.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="pageTotal">
            </el-pagination>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import carContrast from '@/components/mcp/warning/carContrast.vue'
export default {
  data() {
    return {
        cameraList: [],
        formData:{
            date:'',
            cameraList:'',
            step:1
        },
        params:{
            pageSize:4,
            pageNo:1
        },
        highRanking:false,
        moreOption:'更多操作',
        pageTotal:20,
        pickerOptions: {
            shortcuts: [{
                text: '最近一周',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: '最近一个月',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: '最近三个月',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
                }
            }]
        },
    }
  },
methods:{ ...mapMutations([]),
    handleCurrentChange(val){
        console.log(val)
    },
    showHighranking(data){
        switch(data){
            case 1:
                this.highRanking=true;
                break;
            case 2:
                this.highRanking=false;
                break;
            case 3:
                this.highRanking=false;
                break;
        }  
    },
    getContrastSingle(item){
        item;
        this.$router.push('/mcp/warning/singleCarContrast')
    },
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
},

mounted(){
    this.generateCameraList();
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {
      carContrast
  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/mcp/warningCar.less";
</style>

<style lang="less">
.condition_item_input{
    .el-range-input{
        background:#192a5d;
    }
}
.condition_item_input{
    .el-input__inner{
        color: #c0c4b7 !important;
        background:#192a5d;
        border:1px solid #0769c1;
    }
}
.condition_item_input{
    .el-range-separator{
        color: #c0c4b7 !important;
    }
}
.condition_item_input{
    .el-input-number__decrease{
        color: #fff !important;
        background: #0177d5;
        border: none;
    }
    .el-input-number__increase{
        color: #fff !important;
        background: #0177d5;
        border: none;
    }
}
.pagination{
    .el-pagination__total{
        color: white;
    }
    .el-pagination__jump{
        color: white;
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
        background: #2c7bcf;
    }
}
.condition_item_input{
  .el-cascader__search-input{
      background: #192a5d;
  }
}
</style>
