<template>
  <div class="wen-container">
    <div class="search-box">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="设备编号" style="margin-right: 30px">
          <el-input
            v-model="formInline.deviceId"
            placeholder="设备编号"
          ></el-input>
        </el-form-item>
        <el-form-item label="日期">
          <div class="block">
            <el-date-picker
              v-model="value1"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-box">
      <el-table border :data="alarmList" style="width: 100%">
        <el-table-column
          prop="deviceId"
          label="设备编号"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="alarmtime"
          label="报警时间"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="careObject"
          label="居家关爱对象"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="guardianName"
          label="监护人姓名"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="mobile"
          label="监护人电话"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="gzcount"
          label="关注人数"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="districtName"
          label="区域名称"
          align="center"
        ></el-table-column>
      </el-table>
      <div class="block">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total="alarmListPagination.total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  name: "alarmLogging",
  data() {
    return {
      value1: "",
      formInline: {
        count: 10,
        start: 0
      },
      currentPage: 1
    };
  },
  methods: {
    ...mapMutations({}),
    onSubmit() {
      this.formInline.start = 0;
      this.formInline.starttime = this.value1[0];
      this.formInline.endtime = this.value1[1];
      this.$store.dispatch("getAlarmList", this.formInline);
    },
    handleCurrentChange(val) {
      if (val === 1) {
        this.formInline.start = 0;
      } else {
        this.formInline.start = (val - 1) * 10;
      }
      this.$store.dispatch("getAlarmList", this.formInline);
    }
  },
  mounted() {
    this.$store.dispatch("getAlarmList", this.formInline);
  },
  computed: {
    ...mapState({
      alarmList: (state) => state.lrguanai.alarmList,
      alarmListPagination: (state) => state.lrguanai.alarmListPagination
    }),
    ...mapGetters({})
  }
};
</script>

<style lang="less" scoped>
.wen-container {
  padding: 30px;
  .search-box {
    padding: 10px;
  }
  .table-box {
    padding: 10px;
    .block {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
</style>
