<template>
  <div class="wen-container">
    <div class="search-box">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="设备编号" style="margin-right: 30px">
          <el-input
            v-model="formInline.deviceId"
            placeholder="请输入设备编号"
          ></el-input>
        </el-form-item>
        <el-form-item label="居家关爱对象" style="margin-right: 30px">
          <el-input
            v-model="formInline.careObject"
            placeholder="请输入居家关爱对象"
          ></el-input>
        </el-form-item>
        <el-form-item label="监护人姓名" style="margin-right: 30px">
          <el-input
            v-model="formInline.guardianName"
            placeholder="请输入监护人姓名"
          ></el-input>
        </el-form-item>
        <el-form-item label="监护人电话" style="margin-right: 30px">
          <el-input
            v-model="formInline.guardianTel"
            placeholder="请输入监护人电话"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-box">
      <el-table border :data="lrDeviceList" style="width: 100%">
        <el-table-column
          prop="deviceId"
          label="设备编号"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="careObject"
          label="居家关爱对象"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="guardianName"
          label="监护人姓名"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="mobile"
          label="监护人电话"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="gzcount"
          label="关注人数"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="districtName"
          label="所属区域"
          align="center"
        ></el-table-column>
        <el-table-column fixed="right" label="操作" align="center">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row)" type="text" size="small">
              编辑
            </el-button>
            <el-button @click="unbind(scope.row)" type="text" size="small">
              解绑
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total="lrDeviceListPagination.total"
        ></el-pagination>
      </div>
    </div>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>
        确认解除此设备的绑定吗？（解除绑定后设备列表中该设备清空，您可以点击“历史”查看历史使用记录）
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="sureUnbind">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑" :visible.sync="dialogFormVisible">
      <el-form
        :rules="rules"
        ref="currentInfo"
        :model="currentInfo"
        label-width="130px"
      >
        <el-form-item label="居家关爱对象" prop="careObject">
          <el-input
            v-model="currentInfo.careObject"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="对象情况">
          <el-input
            v-model="currentInfo.careObjectSituation"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="监护人姓名" prop="guardianName">
          <el-input
            v-model="currentInfo.guardianName"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="监护人电话" prop="mobile">
          <el-input v-model="currentInfo.mobile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="所属区域" prop="districtName">
          <div style="height: 100px;overflow: scroll">
            <div>
              {{currentInfo.districtName}}
            </div>
            <el-tree :data="districtName" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
          </div>
        </el-form-item>
        <el-form-item label="安装地点" prop="address">
          <el-input
            v-model="currentInfo.address"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item label="经纬度" prop="longitudelatitude">
          <el-input
            v-model="currentInfo.longitudelatitude"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="sureEdit('currentInfo')">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
export default {
  name: "deviceList",
  data() {
    return {
      value1: "",
      formInline: {
        count: 10,
        start: 0
      },
      currentPage: 1,
      dialogVisible: false,
      dialogFormVisible: false,
      form: {
        name: "",
        region: "",
        date1: "",
        date2: "",
        delivery: false,
        type: [],
        resource: "",
        desc: ""
      },
      rules: {
        careObject: [
          { required: true, message: "请输入活动名称", trigger: "blur" }
        ],
        guardianName: [
          { required: true, message: "请输入监护人姓名", trigger: "blur" }
        ],
        mobile: [
          { required: true, message: "请输入监护人电话", trigger: "blur" }
        ],
        address: [
          { required: true, message: "请输入安装地点", trigger: "blur" }
        ],
        longitudelatitude: [
          { required: true, message: "请输入经纬度", trigger: "blur" }
        ],
        districtName: [
          { required: true, message: "请选择活动区域", trigger: "change" }
        ]
      },
      bindInfoId: "",
      currentInfo: {},
      defaultProps: {
        children: 'children',
        label(a){
          return a.district.name
        },
      }
    };
  },
  methods: {
    ...mapMutations({}),
    onSubmit() {
      this.formInline.start = 0;
      this.$store.dispatch("getlrDeviceList", this.formInline);
    },
    handleCurrentChange(val) {
      if (val === 1) {
        this.formInline.start = 0;
      } else {
        this.formInline.start = (val - 1) * 10;
      }
      this.$store.dispatch("getlrDeviceList", this.formInline);
    },
    unbind(row) {
      this.bindInfoId = row.deviceId;
      this.dialogVisible = true;
    },
    edit(row) {
      this.currentInfo = row;
      this.dialogFormVisible = true;
    },
    sureUnbind() {
      this.dialogVisible = false;
      this.$store.dispatch("unbind", { bindInfoId: this.bindInfoId });
    },
    sureEdit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$store.dispatch("deviceEdit", this.currentInfo);
        } else {
          return false;
        }
      });
    },
    handleNodeClick(data) {
      this.currentInfo.districtName = data.district.name
    }
  },
  mounted() {
    this.$store.dispatch("getlrDeviceList", this.formInline);
    this.$store.dispatch("getDistricName");
  },
  computed: {
    ...mapState({
      lrDeviceList: (state) => state.lrguanai.lrDeviceList,
      lrDeviceListPagination: (state) => state.lrguanai.lrDeviceListPagination,
      districtName: (state) => state.lrguanai.districtName,
    }),
    ...mapGetters([])
  }
};
</script>

<style lang="less" scoped>
.wen-container {
  padding: 30px;
  .search-box {
    padding: 10px;
  }
  .table-box {
    padding: 10px;
    .block {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
</style>
