@import "~@/assets/less/mcp/mcpGlobal.less";
.org-container {
  box-sizing: border-box;
  @deep: ~">>>";
  @{deep} .el-dialog__header {
    background-color: #192a5d;
    .el-dialog__title {
      color: white;
    }
  }

  @{deep} .el-dialog__body {
    background-color: #192a5d;
    .el-form-item__label {
      color: white;
    }
  }
  @{deep} .el-dialog__footer {
    background-color: #192a5d;
  }
  @{deep} .el-range-editor .el-range-input {
    background-color: #192a5d;
  }
  @{deep} .el-cascader__search-input {
    background-color: #192a5d;
  }
  @{deep} .el-cascader .el-input .el-input__inner {
    background-color: #192a5d;
    border: 1px solid #0376d5;
  }
  @{deep} .el-input__inner {
    background-color: #192a5d;
    border: 1px solid #0376d5;
  }
  .filter_condition {
    @deep: ~">>>";
    @{deep} .el-range-editor .el-range-input {
      background-color: #192a5d;
    }
    @{deep} .el-cascader__search-input {
      background-color: #192a5d;
    }
    @{deep} .el-cascader .el-input .el-input__inner {
      background-color: #192a5d;
      border: 1px solid #0376d5;
    }
    @{deep} .el-input__inner {
      background-color: #192a5d;
      border: 1px solid #0376d5;
    }
    width: 100%;
    min-height: 6%;
    background-color: #151f45;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    @{deep} .el-dropdown-link {
      cursor: pointer;
      color: #409eff;
    }

    .condition_item_more {
      flex: 0.3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .condition_item {
      flex: 1;
      display: flex;
      .condition_item_label {
        flex: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        color: white;
      }
      .condition_item_input {
        flex: 6;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .table-container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    @deep: ~">>>";

    @{deep} .headerRowClassName {
      background-color: #1c2e5a;
      border-bottom: 1px solid #2c7bcf;
      border-right: 1px solid #2c7bcf;
      color: white;
    }
    @{deep} .rowClass {
      background-color: #132045;
      color: white;
      height: 40px;
    }
    @{deep} .el-table td,
    .el-table th {
      padding: 2px 0;
    }
    @{deep} .el-table .cell,
    .el-table--border td:first-child .cell,
    .el-table--border th:first-child .cell {
      // padding: 0 5px;
      padding: 0;
      padding: 0 2px;
    }
    @{deep} .el-table--border td,
    .el-table--border th,
    .el-table__body-wrapper
      .el-table--border.is-scrolling-left
      ~ .el-table__fixed {
      border-right: 1px solid #2c7bcf;
    }
    @{deep} .el-table td,
    .el-table th.is-leaf {
      border-bottom: 1px solid #2c7bcf;
      border-right: 1px solid #2c7bcf;
    }
    @{deep} .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: #132045;
    }
    @{deep} .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
      background-color: #2c7bcf;
    }
  }
}
