.role-manage {
  width: 100%;
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  padding: 10px;
  @deep: ~">>>";

  .el-dialog__body {
    .table-container {
      @{deep} .headerRowClassName {
        background-color: #1c2e5a;
        border-bottom: 1px solid #2c7bcf;
        border-right: 1px solid #2c7bcf;
        color: white;
      }
      @{deep} .rowClass {
        background-color: #132045;
        color: white;
      }
      @{deep} .el-table td,
      .el-table th {
        padding: 2px 0;
      }
      @{deep} .el-table .cell,
      .el-table--border td:first-child .cell,
      .el-table--border th:first-child .cell {
        // padding: 0 5px;
        padding: 0;
        padding: 0 2px;
      }
      @{deep} .el-table--border td,
      .el-table--border th,
      .el-table__body-wrapper
        .el-table--border.is-scrolling-left
        ~ .el-table__fixed {
        border-right: 1px solid #2c7bcf;
      }
      @{deep} .el-table td,
      .el-table th.is-leaf {
        border-bottom: 1px solid #2c7bcf;
        border-right: 1px solid #2c7bcf;
      }
      @{deep} .el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: #132045;
      }
      @{deep} .el-table--border::after,
      .el-table--group::after,
      .el-table::before {
        background-color: #2c7bcf;
      }
      @{deep} .el-table__empty-block {
        background-color: #132045;
      }
    }
    .pagination-container {
      margin: 20px auto 0 auto;
      text-align: center;
      @{deep} .el-pagination .el-pager li.active {
        background-color: #2b7bce;
        color: white;
      }
      @{deep} .el-pagination__total {
        color: white;
      }
    }
  }
  @{deep} .el-dialog__header {
    background-color: #192a5d;
    .el-dialog__title {
      color: white;
    }
  }
  @{deep} .el-dialog__body {
    background-color: #192a5d;
    .el-form-item__label {
      color: white;
    }
  }
  @{deep} .el-dialog__footer {
    background-color: #192a5d;
  }
  @{deep} .el-range-editor .el-range-input {
    background-color: #192a5d;
  }
  @{deep} .el-cascader__search-input {
    background-color: #192a5d;
  }
  @{deep} .el-cascader .el-input .el-input__inner {
    background-color: #192a5d;
    border: 1px solid #0376d5;
  }
  @{deep} .el-input__inner {
    background-color: #192a5d;
    border: 1px solid #0376d5;
  }
  .left-panel {
    .search-panel {
      margin-top: 30px;
      background-color: blue;
      @{deep} .el-input .el-input__inner {
        background-color: #192a5d;
        border: 1px solid #0376d5;
      }
    }
    .tree-panel {
      margin-top: 30px;
      @{deep} .el-tree {
        background-color: #192a5d;
        color: #0376d5;
      }
      @{deep} .el-tree-node__content:hover {
        background-color: #1f3575;
      }
    }
  }
  .right-panel {
    .filter_condition {
      @{deep} .el-input__inner {
        background-color: #192a5d;
        border: 1px solid #0376d5;
      }
      @{deep} .el-range-editor .el-range-input {
        background-color: #192a5d;
      }
      @{deep} .el-cascader__search-input {
        background-color: #192a5d;
      }
      @{deep} .el-cascader .el-input .el-input__inner {
        background-color: #192a5d;
        border: 1px solid #0376d5;
      }
      width: 100%;
      min-height: 6%;
      background-color: #151f45;
      padding: 0 10px;
      box-sizing: border-box;
      margin: 20px auto;
      display: flex;
      @{deep} .el-dropdown-link {
        cursor: pointer;
        color: #409eff;
      }

      .condition_item_more {
        flex: 0.3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .condition_item {
        flex: 1;
        display: flex;
        .condition_item_label {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          color: white;
        }
        .condition_item_input {
          flex: 6;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .table-container {
      @{deep} .headerRowClassName {
        background-color: #1c2e5a;
        border-bottom: 1px solid #2c7bcf;
        border-right: 1px solid #2c7bcf;
        color: white;
      }
      @{deep} .rowClass {
        background-color: #132045;
        color: white;
      }
      @{deep} .el-table td,
      .el-table th {
        padding: 2px 0;
      }
      @{deep} .el-table .cell,
      .el-table--border td:first-child .cell,
      .el-table--border th:first-child .cell {
        // padding: 0 5px;
        padding: 0;
        padding: 0 2px;
      }
      @{deep} .el-table--border td,
      .el-table--border th,
      .el-table__body-wrapper
        .el-table--border.is-scrolling-left
        ~ .el-table__fixed {
        border-right: 1px solid #2c7bcf;
      }
      @{deep} .el-table td,
      .el-table th.is-leaf {
        border-bottom: 1px solid #2c7bcf;
        border-right: 1px solid #2c7bcf;
      }
      @{deep} .el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: #132045;
      }
      @{deep} .el-table--border::after,
      .el-table--group::after,
      .el-table::before {
        background-color: #2c7bcf;
      }
      @{deep} .el-table__empty-block {
        background-color: #132045;
      }
    }

    .pagination-container {
      margin: 20px auto 0 auto;
      text-align: center;
      @{deep} .el-pagination .el-pager li.active {
        background-color: #2b7bce;
        color: white;
      }
      @{deep} .el-pagination__total {
        color: white;
      }
    }
  }
}
