<template>
  <div class='managementList'>
    <div class="managementSearch">
        <el-input 
            placeholder="请输入系统名称" 
            v-model="params.name" 
            class="input-with-select"
            prefix-icon="el-icon-search">
            <el-button slot="append" type="success" @click="getServerList">查询</el-button>
        </el-input>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <span>系统管理</span> 
            </div>
            <div class="managementTableTitleHeader">
                <el-button 
                    type="success" 
                    icon="el-icon-plus" 
                    size="mini"
                    @click="addManageInfo('add','')">添加</el-button>
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="getServerLists"
                    :border="true"
                    style="width: 100%">
                    <el-table-column
                        prop="name"
                        label="系统名称"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="dbType"
                        label="数据库类型"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="dbIp"
                        label="数据库链接地址"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="dbUsername"
                        label="用户名"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="dbPassword"
                        label="密码"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="userTable"
                        label="用户表表名"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="userField"
                        label="用户名字段名"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column label="操作" align='center' width="250">
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            type="warning"
                            @click="addManageInfo('edit', scope.row)">
                                <i class="el-icon-edit-outline"></i> 修改
                            </el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="deleteManage(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="(params.start/10)+1"
                    :page-size="params.count"
                    layout="total, prev, pager, next, jumper"
                    :total="ServerTotalCount">
                </el-pagination>
            </div>
        </div>
    </div>
    <el-dialog title="添加系统" :show-close='false' :visible.sync="addManageFormVisible" style="width:70%;margin:0 auto;">
        <el-form :model="form" ref="ruleForm" :rules="rules" style="margin-right:20px;">
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="系统名称:" label-width="100px" prop="name">
                        <el-input size="mini" v-model="form.name" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="数据库名称:" label-width="130px" prop="dbName">
                        <el-input size="mini" v-model="form.dbName" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                
            </div>
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="用户名称:" label-width="100px" prop="dbUsername">
                        <el-input size="mini" v-model="form.dbUsername" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="密码:" label-width="130px" prop="dbPassword">
                        <el-input size="mini" type="password" show-password v-model="form.dbPassword" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="数据库IP:" label-width="100px" prop="dbIp">
                        <el-input size="mini" v-model="form.dbIp" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="数据库端口号:" label-width="130px" prop="dbPort">
                        <el-input size="mini" v-model="form.dbPort" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>  
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="用户表表名:" label-width="100px" prop="userTable">
                        <el-input size="mini" v-model="form.userTable" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="用户名字段名:" label-width="130px" prop="userField">
                        <el-input size="mini" v-model="form.userField" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>  
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="数据库类型:" label-width="100px" prop="dbType">
                        <!-- <el-input size="mini" v-model="form.dbType" autocomplete="off"></el-input> -->
                        <el-select size="mini" v-model="form.dbType" placeholder="请选择">
                            <el-option
                                v-for="item in dbtypelist"
                                :key="item.name"
                                :label="item.name"
                                :value="item.name">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="addformflex">
                  
                </div>
            </div>  
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="closeServerForm">取消</el-button>
            <el-button size="mini" type="primary" @click="addManageForm">确定</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        managementSearch:'',
        params:{
            start:0,
            count:10,
            name:''
        },
        tableData: [],
        addManageFormVisible:false,
        form:{
            
        },
        formType:'',
        rules:{
            name:[
                {required:true,message:'请输入系统名称',trigger:'blur'}
            ],
            dbName:[
                {required:true,message:'请输入数据库名称',trigger:'blur'}
            ],
            dbUsername:[
                {required:true,message:'请输入用户名称',trigger:'blur'}
            ],
            dbPassword:[
                {required:true,message:'请输入密码',trigger:'blur'}
            ],
            dbIp:[
                {required:true,message:'请输入数据库IP',trigger:'blur'},
                { pattern: /^([1-9]|bai[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.){2}([1-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])$/, message: '请输入正确ip格式',trigger:'blur'}
            ],
            dbPort:[
                {required:true,message:'请输入数据库端口号',trigger:'blur'}
            ],
            userTable:[
                {required:true,message:'请输入用户表表名',trigger:'blur'}
            ],
            userField:[
                {required:true,message:'请输入用户名字段名',trigger:'blur'}
            ],
            dbType:[
                {required:true,message:'请输入数据库类型',trigger:'blur'}
            ],
        }
    }
  },
methods:{ ...mapMutations([]),
    handleCurrentChange(index){
        this.params.start = (index-1)*10
        this.$store.dispatch('listPageByName',this.params)
    },
    
    deleteManage(index,row){
        index;
        row;
        this.$confirm('确定删除此系统？', '删除系统', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'error'
        }).then(() => {
            this.$store.dispatch('deleteById',{id:row.id})
            //   删除设备操作
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    },
    addManageInfo(type,row){
        this.formType = type
        if(type=='add'){
            this.addManageFormVisible = true
            
        }else{
            this.form = {...row}
            this.addManageFormVisible = true
        }
        
    },
    getServerList(){
        this.params.start = 0
        this.$store.dispatch('listPageByName',this.params)
    },
    addManageForm(){
        this.$refs['ruleForm'].validate((valid) => {
            if(valid){
                if(this.formType == 'add'){
                    this.$store.dispatch("insertServer",this.form)
                }else{
                    this.$store.dispatch("serverUpdate",this.form)
                }
                
                setTimeout(()=>{
                    this.closeServerForm()
                    // this.$store.dispatch('listPageByName',this.params)
                },700)
            }
        })
        
    },
    closeServerForm(){
        this.$refs['ruleForm'].resetFields();
        this.addManageFormVisible = false
    }
},

mounted(){
    this.$store.dispatch('listPageByName',this.params)
    this.$store.dispatch('dbTypeList')
},
watch:{},
computed:{ ...mapState({
    getServerLists:state=>state.UkeysystemManage.getServerLists,
    ServerTotalCount:state=>state.UkeysystemManage.ServerTotalCount,
    dbtypelist:state=>state.UkeysystemManage.dbtypelist,
    addDbtype:state=>state.UkeysystemManage.addDbtype,
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/safeUkey/systemManage/systemManage.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
</style>
