<template>
  <div class='editPeopleWarning'>
    <div class="contrast_header">
        <span>新增流程</span>
        <div class="contrast_header_close" @click="colsePeoContrast">
            <img :src="require('@/assets/images/mcp/guanbi-lan@2x.png')" alt="">
        </div>
    </div>
    <div class="editPeopleWarning_form">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="liucheng-ruleForm">
        <el-form-item label="流程类型" prop="name">
          <span>人像预警</span>
        </el-form-item>
        <el-form-item label="流程名称" prop="region">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="人像库" required>
          <el-cascader
            :collapse-tags="true"
            style="width: 100%"
            placeholder="请选择要检索的人像抓拍库"
            :options="cameraList"
            :props="{ multiple: true }"
            filterable>
          </el-cascader>
        </el-form-item>
        <el-form-item label="告知人" required>
          <div class="inform">
            <div class="inform_header">
              <div>角色</div>
              <el-input placeholder="输入关键词" size="small" v-model="filterText">
                  <el-button slot="append" type="primary">搜索</el-button>
              </el-input>
            </div>
            <div class="inform_table">
              <el-table
                :data="tableData"
                border
                style="border: 1px solid #2c7bcf; width: 100%"
                header-cell-class-name="headerRowClassName"
                row-class-name="rowClass">
                <el-table-column
                  align="center"
                  type="selection"
                  width="55">
                </el-table-column>
                <el-table-column 
                    label="所属组织架构" 
                    prop="type"
                    align="center">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="name"
                    label="角色名称"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="creater"
                    label="包含用户"
                    width="180">
                </el-table-column>
              </el-table>
            </div> 
          </div>
          <div class="inform">
            <div class="inform_header">
              <div>用户</div>
              <el-input placeholder="输入关键词" size="small" v-model="filterText">
                  <el-button slot="append" type="primary">搜索</el-button>
              </el-input>
            </div>
            <div class="inform_table">
              <el-table
                :data="tableData"
                border
                style="border: 1px solid #2c7bcf; width: 100%"
                header-cell-class-name="headerRowClassName"
                row-class-name="rowClass">
                <el-table-column
                  align="center"
                  type="selection"
                  width="55">
                </el-table-column>
                <el-table-column 
                    label="所属组织架构" 
                    prop="type"
                    align="center">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="name"
                    label="角色名称"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="creater"
                    label="包含用户"
                    width="180">
                </el-table-column>
              </el-table>
            </div>
          </div>
          <div class="inform">
            <div class="inform_header_checkbox">
              <div>层级</div>
              <el-checkbox-group v-model="ruleForm.type">
                <el-checkbox label="所在组织/单位" name="type"></el-checkbox>
                <el-checkbox label="上级组织" name="type"></el-checkbox>
                <el-checkbox name="type">
                  <span>跨级组织,跨</span>
                  <input class="little_input">
                  <span>级</span>
                  <span class="little_input_zhu">(注:请输入整数)</span>
                </el-checkbox>
              </el-checkbox-group>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="告知形式" prop="region">
          <el-checkbox-group v-model="ruleForm.type">
            <el-checkbox label="所在组织/单位" name="type"></el-checkbox>
            <el-checkbox name="type">
              <span>弹框消息,</span>
              <input class="little_input">
              <span>秒后关闭</span>
              <span class="little_input_zhu">(注:请输入整数)</span>
            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item>
          <div style="text-align:center">
            <el-button size="mini" type="primary">确定</el-button>
            <el-button size="mini">取消</el-button>
          </div>  
        </el-form-item>
      </el-form>
     
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      cameraList: [],
      ruleForm: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: '',
      },
      filterText:'',
      rules: {
          name: [
            { required: true, message: '请输入活动名称', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          region: [
            { required: true, message: '请选择活动区域', trigger: 'change' }
          ],
          date1: [
            { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
          ],
          date2: [
            { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
          ],
          type: [
            { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
          ],
          resource: [
            { required: true, message: '请选择活动资源', trigger: 'change' }
          ],
          desc: [
            { required: true, message: '请填写活动形式', trigger: 'blur' }
          ]
      },
      tableData: [
          {type:'上海市-浦东新区-周浦镇',name:'管理员',creater:'张三'},
          {type:'上海市-浦东新区-周浦镇',name:'管理员',creater:'张三'},
      ]
    }
  },
methods:{ ...mapMutations([]),
  generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
  },
  colsePeoContrast(){
    this.$router.go(-1)
  }
},

mounted(){
  this.generateCameraList();
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/mcp/application/editPeopleWarning.less';
</style>
<style lang="less">
.editPeopleWarning_form{
  .el-form-item__label{
    color: white;
  }
  .el-checkbox__label{
    color: white;
  }
  .el-radio__label{
    color: white;
  }
}
.editPeopleWarning_form{
  .el-cascader__search-input{
      background: #192a5d;
  }
}
.editPeopleWarning_form {
  .el-range-input {
    background: #192a5d;
  }
}
.editPeopleWarning_form {
  .el-input__inner {
    color: #c0c4b7 !important;
    background: #192a5d;
    border: 1px solid #0769c1;
  }
}
.editPeopleWarning_form {
  .el-input-group__append{
      border-color: #4368b6;
      background: #4990f3;
      color: white;
  }
}
</style>
