<template>
  <div class='editThresholdManage'>
    <div class="contrast_header">
        <span>新增对比阈值管理</span>
        <div class="contrast_header_close" @click="colseThreshold">
            <img :src="require('@/assets/images/mcp/guanbi-lan@2x.png')" alt="">
        </div>
    </div>
    <div class="thresholdForm">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
            <el-form-item label="所属组织架构" required>
                <span class="thresholdForm_label">上海市-浦东新区-周浦镇-周浦派出所-安康新村</span>
            </el-form-item>
            <el-form-item label="阈值" prop="num">
                <span class="thresholdForm_label">82</span>
            </el-form-item> 
        </el-form>
        <div class="thresholdFormBtn">
            <el-button size="mini" type="primary">确定</el-button>
            <el-button v-if="isStop" size="mini" type="warning">停用</el-button>
            <el-button v-if="!isStop" size="mini" type="success">启用</el-button>
            <el-button size="mini" type="danger">取消</el-button>
        </div> 
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        ruleForm:{
            num:''
        },
        rules: {
          num: [
            { required: true, message: '请输入阈值', trigger: 'blur' },
          ],
        },
        cameraList: [],
        isStop:true,
    }
  },
methods:{ ...mapMutations([]),
    colseThreshold(){
        this.$router.go(-1)
    },
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
  },
},

mounted(){
    this.generateCameraList();
},
filters:{},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/mcp/application/editThresholdManage.less';
</style>
<style lang="less">
.thresholdForm{
  .el-input__inner {
    color: #c0c4b7 !important;
    background: #192a5d;
    border: 1px solid #0769c1;
    text-align: right;
  }
}
.thresholdForm {
  .el-input-group__append{
      border-color: #4368b6;
      background: #4990f3;
      color: white;
      
  }
}
.thresholdForm{
  .el-cascader__search-input{
      background: #192a5d;
      text-align: right;
  }
}
.thresholdForm{
  .el-form-item__label{
    color: white;
  }
  .el-checkbox__label{
    color: white;
  }
  .el-radio__label{
    color: white;
  }
}
</style>
