<template>
  <div class='warningManage'>
      <div class="warningManage_tree">
          <div class="warningManage_tree_input">
            组织架构列表
          </div>
          <div class="warningManage_tree_input">
            <el-input placeholder="输入关键字进行过滤" size="small" v-model="filterText">
                <el-button slot="append" type="primary">搜索</el-button>
            </el-input>
          </div>
          <div class="warningManage_tree_elinput">
              <el-tree
                class="filter-tree"
                :highlight-current='true'
                :data="data"
                :props="defaultProps"
                default-expand-all
                :filter-node-method="filterNode"
                ref="tree">
              </el-tree>
          </div>
      </div>
      <div class="warningManage_table">
          <div class="warningManage_table_key">
              <div class="warningManage_tree_input">
                  <el-input placeholder="输入关键词" size="small" v-model="filterText">
                       <el-button slot="append" type="primary">搜索</el-button>
                  </el-input>
              </div>
              <div class="warningManage_tree_btn">
                  <el-button size="small" type="primary">显示</el-button>
              </div>
              <div class="warningManage_tree_btn">
                  <!-- <el-button size="small" type="success">新增</el-button> -->
                  <el-dropdown placement='bottom-start'>
                    <el-button size="small" type="success">
                        新增<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="peopleWarning">人像预警</el-dropdown-item>
                        <el-dropdown-item @click.native="carWarning">车辆预警</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
              </div>
              <div class="warningManage_tree_select">
                  <el-checkbox v-model="checked">显示已停用</el-checkbox>
              </div>
          </div>
          <div class="filter_condition">
            <div class="condition_item">
                <div class="condition_item_label">时间</div>
                <div class="condition_item_input">
                <el-date-picker
                    size="small"
                    v-model="formData.date"
                    type="daterange"
                    align="left"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    class="condition_input"
                    :picker-options="pickerOptions"
                >
                </el-date-picker>
                </div>
            </div>
            <div class="condition_item">
                <div class="condition_item_label">摄像头</div>
                <div class="condition_item_input">
                <!-- <el-input
                    v-model="formData.cameraList"
                    class="condition_input"
                    placeholder="请输入内容"
                ></el-input> -->
                <el-cascader
                    size="small"
                    :collapse-tags="true"
                    style="width: 100%"
                    placeholder="请选择要检索的人像抓拍库"
                    :options="cameraList"
                    :props="{ multiple: true }"
                    filterable
                ></el-cascader>
                </div>
            </div>
            <!-- <div class="condition_item">
                <div class="condition_item_label">阈值(%)</div>
                <div class="condition_item_input">
                <el-input-number
                    v-model="formData.step"
                    class="condition_input"
                    :precision="2"
                    :step="0.1"
                    :max="100"
                ></el-input-number>
                </div>
            </div> -->
            <div class="condition_item_more">
                <el-dropdown trigger="click">
                <span class="el-dropdown-link">
                    {{ moreOption }}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                    <!-- <el-dropdown-item command="a" @click.native="showHighranking(1)"
                    >高级筛选</el-dropdown-item
                    > -->
                    <el-dropdown-item command="b" @click.native="showHighranking(2)"
                    >重置表单</el-dropdown-item
                    >
                    <!-- <el-dropdown-item command="c" @click.native="showHighranking(3)"
                    >收起</el-dropdown-item
                    > -->
                </el-dropdown-menu>
                </el-dropdown>
            </div>
          </div>
          <div class="warningManage_table_list">
                <el-table
                    :data="tableData"
                    border
                    style="border: 1px solid #2c7bcf; width: 100%"
                    header-cell-class-name="headerRowClassName"
                    row-class-name="rowClass"
                    @row-click='rowClick'>
                    <el-table-column 
                        label="流程类别" 
                        prop="type"
                        align="center">
                    </el-table-column>
                    <el-table-column
                        align="center"
                        prop="name"
                        label="流程名称"
                        width="180">
                    </el-table-column>
                    <el-table-column
                        align="center"
                        prop="creater"
                        label="创建人"
                        width="180">
                    </el-table-column>
                    <el-table-column 
                        align="center" 
                        prop="createTime" 
                        label="创建时间">
                    </el-table-column>
                    <el-table-column
                        prop="updateTime"
                        label="更新时间"
                        align="center"
                    ></el-table-column>
                </el-table>
          </div>
          <div class="pagination-container">
            <el-pagination
                background
                layout="prev, pager, next,total"
                :total="200"
                :page-size="8"
                :current-page="1">
            </el-pagination>
          </div>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        cameraList: [],
        moreOption: "更多操作",
        filterText:'',
        data: [{
          id: 1,
          label: '上海',
          children: [{
            id: 4,
            label: '浦东新区',
            children: [{
              id: 9,
              label: '周浦镇',
              children:[
                { 
                  id: 11,
                  label: '周浦派出所',
                  children:[
                    {
                      id: 11,
                      label: '菱翔苑',
                    },
                    {
                      id: 13,
                      label: '申雅苑',
                    },
                    {
                      id: 14,
                      label: '安康新村',
                    },
                    {
                      id: 15,
                      label: '东方晶华苑',
                    },
                  ]
                }
              ]
            }, {
              id: 10,
              label: '航头镇',
              children:[
                { 
                  id: 12,
                  label: '航头派出所',
                  children:[
                    {
                      id: 16,
                      label: '东升家园',
                    },
                    {
                      id: 17,
                      label: '富田花苑',
                    },
                  ]
                }
              ]
            }]
          }]
        }],
        defaultProps: {
          children: 'children',
          label: 'label'
        },
        checked:true,
        formData: {
            date: "",
            cameraList: "",
            step: 1
        },
        pickerOptions: {
            shortcuts: [
            {
                text: "最近一周",
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit("pick", [start, end]);
                }
            },
            {
                text: "最近一个月",
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit("pick", [start, end]);
                }
            },
            {
                text: "最近三个月",
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit("pick", [start, end]);
                }
            }
            ]
        },
        tableData: [
            {type:'人像预警',name:'四类人员',creater:'张三',createTime:'2020-10-10 14:54:12',updateTime:'2020-10-10 14:54:12'},
            {type:'车辆预警',name:'四类人员',creater:'张三',createTime:'2020-10-10 14:54:12',updateTime:'2020-10-10 14:54:12'},
            
        ]
    }
  },
methods:{ ...mapMutations([]),
    filterNode(value, data) {
        if (!value) return true;
        return data.label.indexOf(value) !== -1;
    },
    generateCameraList: function () {
      let areaList = ["周浦镇", "惠南镇", "泥城镇", "祝桥镇"];
      areaList.forEach((item) => {
        let children = new Array();
        for (let i = 0; i < Math.random() * 100 + 1; i++) {
          let child = { value: `摄像头${i}`, label: `摄像头${i}` };
          children.push(child);
        }
        let camera = {
          value: item,
          label: item,
          children: children
        };
        this.cameraList.push(camera);
      });
    },
    peopleWarning(){
      this.$router.push('/mcp/application/editPeopleWarning')
    },
    carWarning(){
      this.$router.push('/mcp/application/editCarWarning')
    },
    rowClick(row){
      if(row.type == '人像预警'){
        this.$router.push('/mcp/application/singlePeopleManageWarning')
      }else{
        this.$router.push('/mcp/application/singleCarManageWarning')
      }
    }
},

mounted(){
    this.generateCameraList();
},
filters:{},
watch:{
    filterText(val) {
        this.$refs.tree.filter(val);
    }
},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/mcp/application/warningManage.less';
</style>
<style lang="less">
.warningManage_tree_elinput{
    .filter-tree{
        background: #162870;
        color: #35adeb;  
    }
    .el-tree-node__label{
        font-size: 16px;
    }
    .el-tree-node__content{
        padding: 2px;
        // box-sizing: border-box;
    }
    .el-tree-node__expand-icon{
        color: #0189c8;
    }
    .el-tree-node__expand-icon.is-leaf{
        color: transparent;
    }
    .el-tree-node:focus>.el-tree-node__content{
        background:#1f3695;
    }
    .el-tree-node__content:hover{
        background:#1f3695;
    }
    .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
        background:#1f3695;
    }
}
.warningManage_tree_input{
    .el-input__inner{
        background: #162870;
        border-color: #4368b6;
        color: white;
    }
    .el-input-group__append{
        border-color: #4368b6;
        background: #4990f3;
        color: white;
    }
}
// .el-checkbox__input.is-checked+.el-checkbox__label
.warningManage_tree_select{
    .el-checkbox__input.is-checked+.el-checkbox__label{
        color: white;
    }
    .el-checkbox{
        color: white;
    }
}
.condition_item_input{
  .el-cascader__search-input{
      background: #192a5d;
  }
}
.condition_item_input {
  .el-range-input {
    background: #192a5d;
  }
}
.condition_item_input {
  .el-input__inner {
    color: #c0c4b7 !important;
    background: #192a5d;
    border: 1px solid #0769c1;
  }
}
.condition_item_input {
  .el-range-separator {
    color: #c0c4b7 !important;
  }
}
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}
</style>
