.managementList{
    width: 100%;
    height: 100%;
    background: #edf0f5;
    padding: 15px;
    box-sizing: border-box;
    .managementSearch{
        height: 7%;
        .input-with-select{
            width: 30%;
            
        }
    }
    .managementTable{
        height: 93%;
        background-color: #fff;
        .managementTableTitle{
            height: 7%;
            width: 100%;
            display: flex;

            .managementTableTitleHeader{
                flex: 1;
                padding-left: 10px;
                display: flex;
                align-items: center; /*定义body的元素垂直居中*/
                justify-content: flex-start;
                span{
                   color: #99bdee; 
                   letter-spacing: 2px; 
                   font-size: 18px;
                }
            }   
            .managementTableTitleHeader:last-child{
                padding-right: 10px;
                justify-content: flex-end;
            }
        }
        .managementTableContent{
            height: 83%;
            width: 100%;
            padding:0 10px;
            box-sizing: border-box;
            .managementTableList{
                width: 100%;
                height: 100%;
                transform: rotate();
            }
            .managementTableListPage{
                text-align: center;
            }
        }
    }
}
.shebeiTitle{
    width: 100px;
    text-align: left;
    padding:0px 20px 10px;
    font-size: 17px;
    color: #a4a4a4;
}
.dialog-footer{
    text-align: center;
    // margin-top: 100px;
}
.dialog-center{
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
}
.addformbox{
    display:flex;
    width:100%;
}
.addformflex{
    flex: 1;
}