<template>
  <div class="treeDom">
    <div class="tree-body">
      <div class="refresh-icon" @click="refreshTree"><i class="el-icon-refresh"></i>同步</div>
      <el-input
              placeholder="输入关键字进行过滤"
              v-model="filterText">
      </el-input>
      <el-tree
              class="filter-tree"
              :data="allTree"
              :props="defaultProps"
              @node-click="handleNodeClick"
              :filter-node-method="filterNode"
              ref="tree">
      </el-tree>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      filterText: '',
      defaultProps: {
        children: 'children',
        label: 'name',
        isLeaf: 'leaf'
      }
    };
  },
  props: ['params', 'type'],
  methods: {
    ...mapMutations([]),
    filterNode(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    handleNodeClick(data) {
      if (this.type === 'device') { // 没有相机点插入的情况下传device,执行changeNode方法
        this.$emit('changeNode', data.urn)
      } else if (this.type === 'camera') { // 有相机点插入的情况下传camera,执行setParams方法
        this.$emit('setParams', data.urn)
      }
    },
    refreshTree () {
      this.$store.dispatch('getOrgs', {parentUrn: 'urn:hikvision:folder:28459205:-1'})
      setTimeout(() => {
        this.$message({
          message: "内容同步成功！",
          type: "success"
        });
      }, 1000);
    }
  },
  mounted() {
    let needCamera = false
    if (this.type === 'device') {
      needCamera = false
    } else {
      needCamera = true
    }
    this.$store.dispatch('getAllDomTree', {parentUrn: 'urn:hikvision:folder:28459205:-1', 'needCamera': needCamera})
  },
  filters: {},
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  computed: { ...mapState({
      orgsTree: (state) => state.middleware.orgsTree,
      firstNode: (state) => state.middleware.firstNode,
      cameraList: state => state.middleware.cameraList,
      isShowTree: state => state.middleware.isShowTree,
      allTree: state => state.middleware.allTree
    }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
  @import "../../assets/less/middleware/deviceManage.less";
</style>
