<template>
  <div class="rfid-input-container">
    <el-form :model="formData" label-width="90px">
      <el-form-item label="射频标签号">
        <el-input v-model="formData.rfid"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="addRfid">提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return { formData: { rfid: "" } };
  },
  methods: {
    addRfid: function() {
      this.$store.dispatch("inputRfid", [this.formData.rfid]);
    },
    ...mapMutations([])
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.rfid-input-container {
  width: 50%;
  margin: 20px auto;
}
</style>
