.orgchart .node .title{
    background: #1890ff;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    font-size: 13px;
}
.deptList{
    width: 100%;
}
#chart-container{
    overflow: auto;
}