.containerZuzhi{
    width:100%;
    height: 78vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
}
.zuzhiItem:first-child{
    line-height: 7.8vh;
    font-size: 20px;
    padding-left: 20px;
    /* border-bottom: 1px solid #e4e4e4; */
}
.zuzhiItem:nth-child(2){
    line-height: 7.8vh;
    text-align: right;
}
.zuzhiItem:nth-child(3){
    padding: 20px;
    border: 1px solid #e4e4e4;
    overflow-y: scroll;
}
.zuzhiItem:last-child{
    width: 100%;
    padding: 0 20px;
}
.zuzhiTable{
    height: 90%;
    position: relative;
}
.el-table th{
    /* border-top: 1px solid #ebeef5; */
    background: #fafafa;
}
.bottomPage{
    position: absolute;
    bottom: 10px;
}
 /*滚动条整体部分,必须要设置*/
 .zuzhiItem:nth-child(3)::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: #e4e4e4;
}
/*滚动条的轨道*/
.zuzhiItem:nth-child(3)::-webkit-scrollbar-track{
    background-color: #e4e4e4;
}
/*滚动条的滑块按钮*/
.zuzhiItem:nth-child(3)::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: #07E6ED;
    box-shadow: inset 0 0 5px #07E6ED;
}
/*滚动条的上下两端的按钮*/
.zuzhiItem:nth-child(3)::-webkit-scrollbar-button{
    height: 0;
    background-color: #4886D3;
}