.role-manage-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .pagination-container {
        text-align: center;
        margin-top: 20px;
    }

    .role-edit-container {
        margin: 0 auto;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .role-manage-container-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;

        .header-title {
            padding: 0 20px;
            box-sizing: border-box;
            display: flex;
            width: 100%;
            .header-title-item{
                flex: 1;
            }

            .header-title-itembtn{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
            }
        }

        .table-container {
            box-sizing: border-box;
            padding: 0 20px;
        }



    }
}