<template>
  <div class="background">
    <div class="container">
      <!--            <Head></Head>-->
      <div class="header">
        <div class="box">
          <span class="title">网络信息</span>
          <div class="but_box">
            <!--                         <el-button @click="handleClickBack" v-if="detailVisible">返回</el-button>-->
            <el-button @click="updataHostInfo" type="primary">保存</el-button>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div class="form">
        <div class="form_left">
          <el-form :rules="rules" :model="hostInfo" label-width="180px">
            <el-form-item label="主机名:">
              <el-input v-model="hostInfo.hostname" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="场所负责人:">
              <el-input v-model="hostInfo.placeOwner" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="网关位置:" prop="address">
              <el-input v-model="hostInfo.address" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="安装人:">
              <el-input v-model="hostInfo.constructionCompany" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="所属派出所:" prop="policeDivisionName">
              <el-select
                v-model="hostInfo.policeDivisionName"
                placeholder="请选择"
                class="wid_input_300"
                @change="getdata"
              >
                <el-option
                  v-for="item in policeList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="设备运行时间:">
              <el-input v-model="hostInfo.uptime" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="主机型号:">
              <el-input v-model="hostInfo.gatewayModel" class="wid_input_300"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div class="form_right">
          <el-form :rules="rules" :model="hostInfo" label-width="180px">
            <el-form-item label="场所名称:" prop="placeName">
              <el-input v-model="hostInfo.placeName" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="联系电话:">
              <el-input v-model="hostInfo.phoneOfPlaceOwner" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="图片留存量:">
              <el-input v-model="hostInfo.daysOfStorage" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="安装时间:">
              <el-input v-model="hostInfo.dateOfInstallation" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="磁盘用量:">
              <el-input v-model="hostInfo.hardDisk" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="本地时间:">
              <el-input v-model="hostInfo.localtime" class="wid_input_300"></el-input>
            </el-form-item>
            <el-form-item label="系统版本:">
              <el-input v-model="hostInfo.operatingSystem" class="wid_input_300"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="img_box" v-if="connectivity.center === 'on'">
        <span class="hostStatusText">网关连接状态:</span>
        <img
          src="../../../assets/images/gateway/hostInfo/bendiwangguan@2x.png"
          alt
          class="centerSever"
        />
        <img src="../../../assets/images/gateway/hostInfo/jiantou@2x.png" alt class="jiantou" />
        <img
          src="../../../assets/images/gateway/hostInfo/zhongxinfuwu@2x.png"
          alt
          class="centerSever"
        />
        <img
          src="../../../assets/images/gateway/hostInfo/jiantou@2x.png"
          alt
          class="jiantou"
          v-if="connectivity.cameras.length > 0"
        />
        <div class="cameraBox" v-if="connectivity.cameras.length > 0">
          <div :key="camera.urn" v-for="camera in connectivity.cameras">
            <img
              v-if="camera.availability === 'on'"
              src="../../../assets/images/gateway/hostInfo/sheixangji-lv@2x.png"
              alt
              class="camera"
            />
            <img
              v-else
              src="../../../assets/images/gateway/hostInfo/shexiangji-hong@2x.png"
              alt
              class="camera"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import header from '../../../components/gateway/header'
import { mapState } from "vuex";
export default {
  data() {
    return {
      rules: {
        address: [
          { required: true, message: "请输入网关位置", trigger: "blur" },
        ],
        placeName: [
          { required: true, message: "请输入场所名称", trigger: "blur" },
        ],
        policeDivisionName: [
          { required: true, message: "请选择所属派出所", trigger: "change" },
        ]
      },
      form_left: {
        name: "",
      },
      form_right: {},
    };
  },
  components: {
    // Head:header
  },
  methods: {
    updataHostInfo() {
      this.$store.dispatch("updataHostInfo", this.hostInfo);
    },
    getdata(val) {
      this.hostInfo.policeDivisionCode = val;
    },
  },
  created() {},
  computed: {
    ...mapState({
      hostInfo: (state) => state.lookup.hostInfo,
      policeList: (state) => state.lookup.policeList,
      connectivity: (state) => state.lookup.connectivity,
    }),
  },
  mounted() {
    const params = {};
    this.$store.dispatch("getHostInfo", params);
  },
};
</script>

<style scoped lang="less">
.background {
  background-color: #ecf0f6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}

.form {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.form_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.form_right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.wid_input_300 {
  width: 400px;
}

.el-input__inner {
  color: #999;
}

.img_box {
  height: 280px;
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
}

.hostStatusText {
  color: black;
  font-weight: 550;
  font-size: 15px;
  margin-left: 50px;
}

.centerSever {
  width: 125px;
  height: 125px;
  margin-left: 60px;
}

.jiantou {
  width: 60px;
  height: 60px;
  margin-left: 60px;
}

.cameraBox {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 40px;
}

.camera {
  height: 60px;
  width: 65px;
  margin-left: 40px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
              align-content: center;
              background-color: black; */
  box-sizing: border-box;
  padding: 0 30px;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #8fb9f2;
  font-size: 15px;
}

.but_box {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  border: 1px dashed #d2d2d2;

  width: 100%;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 30%;
}
</style>