<template>
  <div class="background">
    <div class="container">
      <div class="header">
        <div class="box">
          <span class="title">网络设置</span>
          <div class="but_box">
            <el-button @click="handleClickBack" v-if="detailVisible">
              返回
            </el-button>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div style="padding:10px;box-sizing:border-box;display: flex">
        <el-tabs
          v-model="actName"
          style="width: 50%"
          type="card"
          @tab-click="handleClick"
        >
          <div
            v-if="interfaceList.internet_status === 'on'"
            style="color: #27a227;"
          >
            互联网已连接
          </div>
          <div
            v-if="interfaceList.internet_status === 'off'"
            style="color: #f56c6c;"
          >
            互联网未连接
          </div>
          <el-tab-pane
            v-for="item in interfaceList.netInterfaces"
            :key="item.value"
            :label="item.name"
            :name="item.name"
          >
            <div class="networkDetail">
              <div class="form">
                <el-form
                  :model="currentInterface"
                  :label-position="labelPosition"
                  label-width="100px"
                >
                  <el-form-item label="接入方式:">
                    <el-select
                      v-model="currentInterface.inet"
                      placeholder="请选择"
                      class="wid_input_300"
                      @change="getdata"
                      :disabled="currentInterface.name === 'enp4s0'"
                    >
                      <el-option
                        v-for="item in interfaceList.inet"
                        :key="item.name"
                        :label="item.name"
                        :value="item.value"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="IPv4地址:" prop="ip">
                    <el-input
                      :disabled="currentInterface.inet.indexOf('dhcp') >= 0 || currentInterface.name === 'enp4s0'"
                      v-model="currentInterface.ip"
                      class="wid_input_300"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="子网掩码:" prop="netmask">
                    <el-input
                      :disabled="currentInterface.inet.indexOf('dhcp') >= 0 || currentInterface.name === 'enp4s0'"
                      v-model="currentInterface.netmask"
                      class="wid_input_300"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="网关:" width="500px" prop="gateway">
                    <el-input
                      :disabled="currentInterface.inet.indexOf('dhcp') >= 0 || currentInterface.name === 'enp4s0'"
                      v-model="currentInterface.gateway"
                      class="wid_input_300"
                    ></el-input>
                    <div style="color: red;width: 100%;">
                      注：此设备只可以设置一个网关地址！
                    </div>
                  </el-form-item>
                  <el-form-item label="mac地址:">
                    <el-input
                      disabled
                      v-model="currentInterface.mac"
                      class="wid_input_300"
                    ></el-input>
                  </el-form-item>
                  <!-- <div style="height: 60px;width: 100%;"></div> -->
                  <el-form-item style="margin-top:0;">
                    <el-button
                      type="primary"
                      @click="updataInfo"
                      :disabled="currentInterface.name === 'enp4s0'"
                    >
                      保存
                    </el-button>
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
        <div class="detailEchart">
          <span class="chartTitle">
            网络流量统计({{ currentInterface.name }})
          </span>
          <div class="echart" id="chartDetail"></div>
        </div>
      </div>
    </div>
    <el-dialog
      title="提示"
      :visible.sync="centerDialogVisible"
      width="30%"
      center
    >
      <span>是否需要上个操作的更改？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSave">取 消</el-button>
        <el-button type="primary" @click="updataInfo">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import echarts from "echarts";
import { mapState } from "vuex";
export default {
  data() {
    return {
      tabIndex: 0,
      onlyShow: false,
      labelPosition: "left",
      myChart: "",
      isDhcp: false,
      detailVisible: false,
      ishowCart: true,
      value_wangka: "",
      value_fagnshi: "",
      form: {
        name: "1"
      },
      actName: "",
      centerDialogVisible: false,
      shouldChangeActName: true, //用来判断是否需要对actName进行赋值
      currentInterface: { name: "" },
      backupInterface: { name: "" }
      // interfaceList: {},
      // currentInterface: {}
    };
  },
  computed: {
    ...mapState({
      interfaceList: state => state.lookup.interfaceList
      // currentInterface: state => state.lookup.currentInterface
    })
  },
  mounted() {
    this.shouldChangeActName = true;
    this.$nextTick(() => {
      this.getNetInfo();
    });
  },
  watch: {
    interfaceList: function(val) {
      if (val.netInterfaces.length > 0) {
        if (this.shouldChangeActName) {
          this.actName = val.netInterfaces[0].name;
        }
        val.netInterfaces.forEach(item => {
          if (item.name == this.actName) {
            this.currentInterface = item;
            this.backupInterface = Object.assign({}, item);
          }
        });
      }
    },
    actName: function(val) {
      val;
    }
  },
  methods: {
    getNetInfo() {
      const params = { name: "" };
      this.$store.dispatch("getInterfaceList", params);
    },
    handleClick(tab, event) {
      event;
      tab;
      let curr = JSON.stringify(this.currentInterface);
      let backup = JSON.stringify(this.backupInterface);
      if (curr != backup) {
        this.centerDialogVisible = true;
      } else {
        this.interfaceList.netInterfaces.forEach(item => {
          if (item.name == this.actName) {
            this.currentInterface = item;
            this.backupInterface = Object.assign({}, item);
          }
        });
      }
    },
    cancelSave() {
      this.interfaceList.netInterfaces.forEach(item => {
        if (item.name == this.actName) {
          this.currentInterface = item;
          this.backupInterface = Object.assign({}, item);
        }
      });
      this.centerDialogVisible = false;
    },
    surePop() {
      if (this.currentInterface.inet.indexOf("static") >= 0) {
        this.currentInterface.inet = "static";
      }
      if (this.currentInterface.inet.indexOf("dhcp") >= 0) {
        this.currentInterface.inet = "dhcp";
      }
      this.centerDialogVisible = false;
      this.$store.dispatch("updataInterfaceList", this.current);
    },
    updataInfo() {
      var ip = /^((2[0-4]\d|25[0-5]|[01]?\d\d?)\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)$/ // ip和子网掩码校验
      if (this.currentInterface.ip) {
        if (!ip.test(this.currentInterface.ip)){
          this.$message({
            type: 'error',
            message: '不是合法ip'
          })
          return false
        }
      }
      if (this.currentInterface.netmask) {
        if (!ip.test(this.currentInterface.netmask)){
          this.$message({
            type: 'error',
            message: '不是合法子网掩码'
          })
          return false
        }
      }
      if (this.currentInterface.gateway) {
        if (!ip.test(this.currentInterface.gateway)){
          this.$message({
            type: 'error',
            message: '不是合法网关'
          })
          return false
        }
      }
      if (this.currentInterface.inet.indexOf("static") >= 0) {
        this.currentInterface.inet = "static";
      }
      if (this.currentInterface.inet.indexOf("dhcp") >= 0) {
        this.currentInterface.inet = "dhcp";
      }
      this.$store.dispatch("updataInterfaceList", this.currentInterface);
      this.shouldChangeActName = false;
    },
    getdata(val) {
      if (val === "dhcp") {
        this.isDhcp = true;
      } else {
        this.isDhcp = false;
      }
    },
    handleClickBack: function() {
      this.detailVisible = !this.detailVisible;
      this.myChart.dispose(document.getElementById("chartDetail"));
    },
    drawChart(chartDatas) {
      var option = {
        title: {
          top: "bottom",
          text: ""
        },
        tooltip: {
          trigger: "axis"
        },
        legend: {
          top: "top",
          data: ["接收(单位:Kb)", "发送(单位:Kb)"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: chartDatas.linesX
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            name: "接收(单位:Kb)",
            type: "line",
            stack: "总量",
            data: chartDatas.line[0].data
          },
          {
            name: "发送(单位:Kb)",
            type: "line",
            stack: "总量",
            data: chartDatas.line[1].data
          }
        ]
      };
      this.myChart = echarts.init(document.getElementById("chartDetail"));
      this.myChart.setOption(option);
    }
  }
};
</script>

<style lang="less" scoped>
.el-form-item {
  width: 600px;
}
.background {
  background-color: #ecf0f6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
        align-content: center;
        background-color: black; */
  box-sizing: border-box;
  padding: 0 30px;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #8fb9f2;
  font-size: 15px;
}

.but_box {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  border: 1px dashed #d2d2d2;

  width: 100%;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 30%;
}

.name {
  color: black;
  font-size: 15px;
  margin-top: 20px;
}

.img_item {
  width: 82px;
  height: 100px;
  margin-top: 15px;
}
.imgItemActive {
  border: 2px solid blue;
  padding: 10px;
}

.echart {
  width: 100%;
  height: 280px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
}

.chartTitle {
  color: black;
  font-size: 16px;
  font-weight: 550;
  margin-top: 35px;
}

.echartBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.networkDetail {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-top: 50px;
  justify-content: center;
}

.wid_input_300 {
  width: 400px;
}
.detailEchart {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  .echart {
    width: 100%;
  }
}

.el-input__inner {
  color: #8fb9f2;
}
</style>
