<template>
  <div class='managementList'>
    <div class="managementSearch">
        <el-input 
            placeholder="请输入设备序列号/ID" 
            v-model="params.idOrUuid" 
            class="input-with-select"
            prefix-icon="el-icon-search">
            <el-button slot="append" type="success" @click="checkIdOrUuid">查询</el-button>
        </el-input>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <i class="el-icon-arrow-left"></i>
                <span style="cursor:pointer" @click="gotolastpage">返回上一级</span> 
            </div>
            <div class="managementTableTitleHeader">
                <el-button 
                    type="success" 
                    icon="el-icon-plus" 
                    size="mini"
                    @click="addManageInfo">添加</el-button>
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="bindManagementlsit"
                    :border="true"
                    @row-click='getRow'
                    style="width: 100%">
                    <el-table-column
                        prop="deviceId"
                        label="设备序列号"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="deviceUuid"
                        label="ID"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="serverName"
                        label="系统名称"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="userName"
                        label="用户名"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="updateTime"
                        label="启用时间"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        label="状态"
                        align='center'>
                        <template slot-scope="scope">
                            <el-switch
                                @change="changeStatus"
                                v-model="scope.row.switch"
                                active-color="#13ce66"
                                inactive-color="#ff4949">
                            </el-switch>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align='center' width="200">
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="deleteManage(scope.$index, scope.row)">解绑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="(params.start/10)+1"
                    :page-size="params.count"
                    layout="total, prev, pager, next, jumper"
                    :total="bindtotalManagement">
                </el-pagination>
            </div>
        </div>
    </div>
    <el-dialog title="绑定设备信息" :show-close="false" :close-on-click-modal='false' :visible.sync="bindManageFormVisible" style="width:70%;margin:0 auto;">
        <el-form style="margin-right:20px;">
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="设备序列号:" label-width="100px">
                        <el-input size="mini" disabled v-model="$route.query.deviceId" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex" style="display:flex;align-items: center;justify-content: center;">
                    <el-button 
                        type="success" 
                        icon="el-icon-plus" 
                        size="mini"
                        @click="addcontinue">继续添加</el-button>
                </div>
            </div>
            <div class='addformbox' v-for="(item,index) in form" :key="index">
                <div class="addformflex">
                    <el-form-item label="系统名称:" label-width="100px">
                        <!-- <el-input size="mini" v-model="form.sysname" autocomplete="off"></el-input> -->
                        <el-select size="mini" @change='filteServer(item,index)' v-model="form[index].serverId" placeholder="请选择">
                            <el-option
                                v-for="item in getServerLists"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="用户名称:" label-width="100px">
                        <!-- <el-input size="mini" v-model="form.name" autocomplete="off"></el-input> -->
                        <el-select size="mini" v-model="form[index].userName" placeholder="请选择">
                            <el-option
                                v-for="(item,index) in form[index].userList"
                                :key="index"
                                :label="item"
                                :value="item">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="addformflex" style="flex:0.1;cursor:pointer">
                    <div class="deleteNode" @click='deleteNode(index)'>
                        <i class="el-icon-delete" v-if="item.isSuccess==false" style="color:#F56C6C"></i>
                        <i class="el-icon-check" v-if="item.isSuccess==true" style="color:#67C23A"></i>
                    </div>
                </div>
            </div>  
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="closebindManage">取消</el-button>
            <el-button size="mini" type="primary" @click="sureBindMan">确定</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        managementSearch:'',
        params:{
            start:0,
            count:10,
            idOrUuid:''
        },
        form:[

        ],
        tableData: [{
          number: 'tx-11054',
          id: '1',
          key: '124567899',
          time:'2020-08-01'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }],
        sysRow:{}
        // bindManageFormVisible:false,

    }
  },
methods:{ ...mapMutations([]),
    getRow(row){
        this.sysRow = row
    },
    changeStatus(statu){
        setTimeout(()=>{
            console.log(this.sysRow)
            this.$store.dispatch('deviceBindUpdateStatus',{status:Number(statu),id:this.sysRow.id})
        },500)
    },
    handleCurrentChange(index){
        this.params.start = (index-1)*10
        this.$store.dispatch('BindlistPageByIdOrUuid',this.params)
    },
    gotolastpage(){
        this.$router.go(-1)
    },
    deleteManage(index,row){
        index;
        row;
        this.$confirm('确定解绑？', '解绑', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'error'
        }).then(() => {
            //   删除设备操作
            this.$store.dispatch('BindDeleteById',{id:row.id})
            setTimeout(()=>{
                this.$store.dispatch('BindlistPageByIdOrUuid',{start:0,count:10,idOrUuid:this.$route.query.uuid})
            },500)        
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消解绑'
          });          
        });
    },
    addManageInfo(){
        this.$store.commit('SET_BIND_MANAGE_VISIBLE',true)
        // this.bindManageFormVisible = true
    },
    closebindManage(){
        this.$store.commit('SET_BIND_MANAGE_VISIBLE',false)
    },
    checkIdOrUuid(){
        this.params.start = 0
        this.$store.dispatch('BindlistPageByIdOrUuid',this.params)
    },
    addcontinue(){
        this.form.push({
            deviceId:this.$route.query.deviceId,
            deviceUuid:this.$route.query.uuid,
            secret:this.$route.query.secret,
            serverId:null,
            userName:'',
            userList:[],
            isSuccess:false
        })
    },
    deleteNode(i){
        this.form.splice(i,1)
    },
    filteServer(val,index){
        let arr = []
        if(this.form.length>1){
            this.form.forEach(item=>{
                if(item.serverId ==val.serverId){
                    arr.push(item)
                    if(arr.length>1){
                        this.form.splice(index,1)
                        this.$message({
                            message:'此系统已经被绑定，请更换',
                            type:'warning'
                        })
                    } 
                }
            })
        }
        this.$store.dispatch('deviceBindListPageUserNameByServerId',{start:0,count:100,serverId:val.serverId})
        setTimeout(()=>{
           this.form[index].userList = this.serverIdUserList
           this.form[index].serverId = val.serverId
        },500)
        
    },
    sureBindMan(){
       this.$store.dispatch('deviceBindInsertList',this.form) 
        setTimeout(()=>{
            this.$store.dispatch('BindlistPageByIdOrUuid',{start:0,count:10,idOrUuid:this.$route.query.uuid})
        },500)
    }
},

mounted(){
    this.params.idOrUuid = this.$route.query.uuid
    this.$store.dispatch('BindlistPageByIdOrUuid',{start:0,count:10,idOrUuid:this.$route.query.uuid})
    this.$store.dispatch('listPageByName',{start:0,count:100})
    this.$store.dispatch('listDetailsPageByKey',this.params)
},
watch:{},
computed:{ ...mapState({
    bindManagementlsit:state=>state.management.bindManagementlsit,
    bindtotalManagement:state=>state.management.bindtotalManagement,
    serverIdUserList:state=>state.management.serverIdUserList,
    getServerLists:state=>state.UkeysystemManage.getServerLists,
    bindManageFormVisible:state=>state.management.bindManageFormVisible,
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/safeUkey/management/managementList.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
</style>
