<template>
  <div class='managementList'>
    <div class="managementSearch">
        <el-input 
            placeholder="请输入设备序列号/ID" 
            v-model="params.idOrUuid" 
            class="input-with-select"
            prefix-icon="el-icon-search">
            <el-button slot="append" type="success" @click="checkIdOrUuid">查询</el-button>
        </el-input>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <span>设备管理</span>
            </div>
            <div class="managementTableTitleHeader">
                <el-button 
                    type="success" 
                    icon="el-icon-plus" 
                    size="mini"
                    @click="addManageInfo">添加</el-button>
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="managementList"
                    :border="true"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="设备序列号"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="uuid"
                        label="ID"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="secret"
                        label="密钥"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="updateTime"
                        label="启用时间"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column label="操作" align='center' width="400">
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            type="success"
                            icon="el-icon-link"
                            @click="bindManage(scope.$index, scope.row)">绑定管理</el-button>
                            <el-button
                            size="mini"
                            type="warning"
                            @click="aubstitute(scope.$index, scope.row)">
                                <i class="el-icon-sort" style="transform:rotate(90deg)"></i> 置换
                            </el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="deleteManage(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="(params.start/10)+1"
                    :page-size="params.count"
                    layout="total, prev, pager, next, jumper"
                    :total="managementTotalcount">
                </el-pagination>
            </div>
        </div>
    </div>
    <el-dialog title="置换key" :show-close="false" :close-on-click-modal='false' :visible.sync="dialogFormVisible" style="width:60%;margin:0 auto;">
        <el-form :model="form" style="margin-right:20px">
            <div class="shebeiTitle">旧设备</div>
            <el-form-item label="设备序列号:" label-width="100px">
                <el-input size="mini" v-model="form.oldId" autocomplete="off"></el-input>
            </el-form-item>
            <div class="shebeiTitle">新设备</div>
            <el-form-item label="设备序列号:" label-width="100px">
                <el-input size="mini" v-model="form.newId" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div class="dialog-center">
            <i class="el-icon-warning" style="color:#e6a23c;font-size:18px"></i>
            <span>是否置换新的设备</span>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="dialogFormVisible = false">取消</el-button>
            <el-button size="mini" type="primary" @click="displaceId">置换</el-button>
        </div>
    </el-dialog>
    <el-dialog title="添加设备信息" :show-close="false" :close-on-click-modal='false' :visible.sync="bindManageFormVisible" style="width:70%;margin:0 auto;">
        <el-form :model="form" style="margin-right:20px;">
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="设备序列号:" label-width="100px">
                        <el-input size="mini" disabled v-model="productForm.id" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex" style="display:flex;align-items: center;justify-content: center;">
                    <el-button 
                        type="success" 
                        icon="el-icon-plus" 
                        size="mini"
                        @click="addcontinue">继续添加</el-button>
                </div>
            </div>
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="ID:" label-width="100px">
                        <el-input size="mini" disabled v-model="productForm.uuid" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="密钥:" label-width="100px">
                        <el-input size="mini" disabled v-model="productForm.secret" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>
            <div class='addformbox' v-for="(item,i) in BindForm" :key="i">
                <div class="addformflex">
                    <el-form-item label="系统名称:" label-width="100px">
                        <!-- <el-input size="mini" v-model="productForm.sys[i].sysname" autocomplete="off"></el-input> -->
                        <el-select size="mini" @change='filteServer(item,i)' v-model="BindForm[i].serverId" placeholder="请选择">
                            <el-option
                                v-for="item in getServerLists"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="addformflex">
                    <el-form-item label="用户名称:" label-width="100px">
                        <!-- <el-input size="mini" v-model="productForm.sys[i].name" autocomplete="off"></el-input> -->
                        <el-select size="mini" v-model="BindForm[i].userName" placeholder="请选择">
                            <el-option
                                v-for="(item,index) in BindForm[i].userList"
                                :key="index"
                                :label="item"
                                :value="item">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="addformflex" style="flex:0.1;cursor:pointer">
                    <div class="deleteNode" @click='deleteNode(i)'>
                        <i class="el-icon-delete" style="color:#F56C6C"></i>
                    </div>
                </div>
            </div>  
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="closebindManage">取消</el-button>
            <el-button size="mini" type="primary" @click="sureaddMan">确定</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        params:{
            start:0,
            count:10,
            idOrUuid:''
        },
        productForm:{
            id:'',
            uuid:'',
            secret:'',
        },
        BindForm:[],
        tableData: [{
          number: 'tx-11054',
          id: '1',
          key: '124567899',
          time:'2020-08-01'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }],
        dialogFormVisible:false,
        // addManageFormVisible:false,
        form:{
            oldId:'',
            newId:''
        },
        singleUkey:{}
    }
  },
methods:{ ...mapMutations([]),
    closebindManage(){
        this.$store.commit('SET_BIND_MANAGE_VISIBLE',false)
    },
    handleCurrentChange(index){
        this.params.start = (index-1)*10
        console.log(this.params.start)
        this.$store.dispatch('listPageByIdOrUuid',this.params)
    },
    bindManage(index,row){
        index;
        row;
        this.$store.dispatch('deviceExistsById',{id:row.id})
        this.$store.dispatch('deviceExistsByUuid',{uuid:row.uuid})
        setTimeout(()=>{
            console.log(this.getuuidstatus,this.getidstatus)
            if(this.getuuidstatus&&this.getidstatus){
                // 打开绑定系统页面
                this.$router.push({path:'/bindManage',query:{uuid:row.uuid,deviceId:row.id,secret:row.secret}})
            }else{
                this.$confirm('当前U盾未绑定设备,是否绑定设备', '绑定', {
                  confirmButtonText: '是',
                  cancelButtonText: '否',
                  type: 'warning'
                }).then(() => {
                    //   打开绑定添加页面
                }).catch(() => {
                  this.$message({
                    type: 'info',
                    message: '已取消绑定'
                  });          
                });
            }
        },500)
    },
    aubstitute(index,row){
        index;
        row;
        this.singleUkey = row
        this.form.oldId  = row.id
        this.$store.commit('ARM_LOOP') 
        setTimeout(()=>{
            if(this.ArmInfo.ArmNum>0){
                 this.dialogFormVisible = true
                this.form.newId  = this.ArmInfo.ArmHardWareID
            }else{
                this.$message({
                    message:'请插入U盾',
                    type:'warning'
                })
            }
        },1000)        
    },
    deleteManage(index,row){
        index;
        row;
        this.$confirm('确定删除此条U盾数据吗？', '删除数据', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'error'
        }).then(() => {
            //   删除设备操作
            this.$store.dispatch('deviceDeleteById',{id:row.id})
            setTimeout(()=>{
                this.$store.dispatch('listPageByIdOrUuid',this.params)
            },500)
        }).catch(() => {
            this.$message({
                type: 'info',
                message: '已取消删除'
            });          
        });
    },
    addManageInfo(){
        // this.addManageFormVisible = true
        this.$store.commit('ARM_LOOP') 
        setTimeout(()=>{
            if(this.ArmInfo.ArmNum>1){
                this.$message({
                    message:'只能插入一个U盾',
                    type:'warning'
                })
                this.$store.commit('SET_BIND_MANAGE_VISIBLE',false)
                // this.addManageFormVisible = false
            }else if(this.ArmInfo.ArmNum<1){
                this.$message({
                    message:'请插入U盾',
                    type:'warning'
                })
                this.$store.commit('SET_BIND_MANAGE_VISIBLE',false)
                // this.addManageFormVisible = false
            }else{
                this.productForm.id = this.ArmInfo.ArmHardWareID
                
                this.$store.dispatch('generateUUIDAndKey')
                setTimeout(()=>{
                    this.productForm.uuid = this.generateuuidAndkey.uuid
                    this.productForm.secret = this.generateuuidAndkey.secret
                },500)
                this.$store.commit('SET_BIND_MANAGE_VISIBLE',true)
                // this.addManageFormVisible = true
            }
        },1000)
    },
    checkIdOrUuid(){
        this.params.start = 0
        this.$store.dispatch('listPageByIdOrUuid',this.params)
    },
    addcontinue(){
        this.BindForm.push({
            deviceId:this.productForm.id,
            deviceUuid:this.productForm.uuid,
            secret:this.productForm.secret,
            serverId:null,
            userName:'',
            userList:[],
            isSuccess:false
        })
    },
    deleteNode(i){
        this.BindForm.splice(i,1)
    },
    sureaddMan(){
        this.$store.commit('ARM_WRITEDATA',{uuid:this.productForm.uuid,secret:this.productForm.secret})
        setTimeout(()=>{
            if(this.ArmWriteStatus){
                this.$store.dispatch('insertIfNotExists',this.productForm)
                setTimeout(()=>{
                    if(this.addShebei){
                        this.$store.dispatch('deviceBindInsertList',this.BindForm)
                        this.$store.dispatch('listPageByIdOrUuid',this.params)
                    }
                    this.$store.commit('SET_BIND_MANAGE_VISIBLE',false)
                },1000)
            }
        },1000)    
    },
    filteServer(val,index){
        let arr = []
        if(this.BindForm.length>1){
            this.BindForm.forEach(item=>{
                if(item.serverId ==val.serverId){
                    arr.push(item)
                    if(arr.length>1){
                        this.BindForm.splice(index,1)
                        this.$message({
                            message:'此系统已经被绑定，请更换',
                            type:'warning'
                        })
                    } 
                }
            })
        }
        this.$store.dispatch('deviceBindListPageUserNameByServerId',{start:0,count:100,serverId:val.serverId})
        setTimeout(()=>{
           this.BindForm[index].userList = this.serverIdUserList
        },500)
    },
    displaceId(){

        this.$store.dispatch('deviceBindChange',this.form)
        this.dialogFormVisible = false
        setTimeout(()=>{
            this.$store.commit('ARM_WRITEDATA',{uuid:this.singleUkey.uuid,secret:this.singleUkey.secret})
            this.$store.dispatch('listPageByIdOrUuid',this.params)
        },500)
    }
},

mounted(){
    this.$store.dispatch('listPageByIdOrUuid',this.params)
    this.$store.dispatch('listPageByName',{start:0,count:100})
    this.$store.dispatch('listDetailsPageByKey',this.params)
},
watch:{},
computed:{ ...mapState({
    managementList:state=>state.management.managementList,
    managementTotalcount:state=> state.management.managementTotalcount,
    ArmInfo:state=>state.management.ArmInfo,
    generateuuidAndkey:state=>state.management.generateuuidAndkey,
    serverIdUserList:state=>state.management.serverIdUserList,
    getServerLists:state=>state.UkeysystemManage.getServerLists,
    getidstatus:state=>state.management.getidstatus,
    getuuidstatus:state=>state.management.getuuidstatus,
    addShebei:state=>state.management.addShebei,
    ArmWriteStatus:state=>state.management.ArmWriteStatus,
    bindManageFormVisible:state=>state.management.bindManageFormVisible,
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/safeUkey/management/managementList.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
</style>
