<template>
  <div class="panel">
    <el-table :data="behaviorsList" border style="width: 100%">
      <el-table-column
        fixed
        prop="user_behaviour_id"
        label="记录ID"
        width="80"
        align="center"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="sys_name"
        label="系统名称"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="username"
        label="客户名称"
      ></el-table-column>
<!--      <el-table-column-->
<!--        align="center"-->
<!--        prop="ext"-->
<!--        label="操作者身份"-->
<!--      ></el-table-column>-->
      <el-table-column
        align="center"
        prop="gmt_create_time"
        label="创建时间"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="action_name"
        label="操作动作"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="dom_type"
        label="DOM类型  "
      ></el-table-column>
      <el-table-column
        align="center"
        prop="ipv4"
        label="IP地址"
      ></el-table-column>
      <el-table-column
        align="center"
        prop="user_agent"
        label="用户代理"
      ></el-table-column>
      <!--      <el-table-column-->
      <!--              fixed="right"-->
      <!--              label="操作">-->
      <!--        <template slot-scope="scope">-->
      <!--          <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>-->
      <!--          <el-button type="text" size="small">编辑</el-button>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
    </el-table>
    <div class="block">
      <el-pagination
              class="fystyle"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-size="count"
              background
              layout="total, prev, pager, next, jumper"
              prev-text="上一页"
              next-text="下一页"
              :total="pagination.total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      count: 10,
      currentPage: 1,
    };
  },
  methods: {
    ...mapMutations([]),
    handleCurrentChange(val) {
      let start = 1;
      if (val === 1) {
        start = 0;
      } else {
        start = (val - 1) * 10;
      }
      this.$store.dispatch("getUserBehavior", { size: 10, start: start });
    },
    init() {
      this.$store.dispatch("getUserBehavior", { size: 10, start: 0 });
    }
  },

  mounted() {
    this.init();
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      behaviorsList: state => state.trackingData.behaviorsList,
      pagination: state => state.trackingData.pagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.panel {
  margin: 20px;
}
.block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
</style>
