<template>
  <div class="contactPop-container">
    <div class="contact-header">已连接设备</div>
    <div class="contact-search">
      <el-form :inline="true" :model="deviceDetail" class="demo-form-inline">
        <el-row>
          <el-col :span="12">
            <el-form-item label="设备名称：" label-width="120px">
              <el-input
                :disabled="editable"
                class="box-width"
                v-model="deviceDetail.name"
                placeholder="请输入"
              ></el-input>
            </el-form-item>
            <el-form-item label="设备厂商：" label-width="120px">
              <el-select
                :disabled="editable"
                class="box-width"
                v-model="deviceDetail.vendor"
                placeholder="请选择"
              >
                <el-option
                  v-for="option in deviceVendorList"
                  :key="option.name"
                  :label="option.name"
                  :value="option.name"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备型号:" label-width="120px">
              <!-- <el-select class="box-width" v-model="deviceDetail.cameraModel" placeholder="请选择">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
              </el-select>-->
              <el-input :disabled="editable" placeholder="请输入" v-model="deviceDetail.cameraModel"></el-input>
            </el-form-item>
            <el-form-item label="IPV4地址:" label-width="120px">
              <el-input
                :disabled="editable"
                class="box-width"
                v-model="deviceDetail.ipv4"
                placeholder="请输入"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-col :span="12">
          <el-form-item label="用户名：" label-width="120px">
            <el-input
              class="box-width"
              :disabled="editable"
              v-model="deviceDetail.username"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="密码:" label-width="120px">
            <el-input
              class="box-width"
              :disabled="editable"
              v-model="deviceDetail.password"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="连接协议：" label-width="120px">
            <!-- <el-select class="box-width" v-model="formInline.region" placeholder="用户协议">
              <el-option label="区域一" value="shanghai"></el-option>
              <el-option label="区域二" value="beijing"></el-option>
            </el-select>-->
            <el-input disabled></el-input>
          </el-form-item>
          <el-form-item>
            <!-- <el-button class="test-button" type="primary" @click="onTest" v-if="!editable">抓图测试</el-button> -->
            <el-button class="test-button" type="primary" @click="onTest" style="display:none;">抓图测试</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </div>
    <div>
      <!-- <el-row v-if="!editable"> -->
      <!-- 根据振华对需求的把控，该处不需要展示抓拍 -->
      <el-row style="display:none;">
        <el-col :span="4">
          <div class="grid-content">
            <img src="../../../../../assets/images/gateway/testImg.png" alt />
            <div class="photo-desc">
              <span class="photo-key">抓拍时间:</span>
              <span class="photo-value">2020-02-02</span>
            </div>
            <div class="photo-desc">
              <span class="photo-key">设备IP:</span>
              <span class="photo-value">jsdjfkljsl</span>
            </div>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="grid-content">
            <img src="../../../../../assets/images/gateway/testImg.png" alt />
            <div class="photo-desc">
              <span class="photo-key">抓拍时间:</span>
              <span class="photo-value">2020-02-02</span>
            </div>
            <div class="photo-desc">
              <span class="photo-key">设备IP:</span>
              <span class="photo-value">jsdjfkljsl</span>
            </div>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="grid-content">
            <img src="../../../../../assets/images/gateway/testImg.png" alt />
            <div class="photo-desc">
              <span class="photo-key">抓拍时间:</span>
              <span class="photo-value">2020-02-02</span>
            </div>
            <div class="photo-desc">
              <span class="photo-key">设备IP:</span>
              <span class="photo-value">jsdjfkljsl</span>
            </div>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="grid-content">
            <img src="../../../../../assets/images/gateway/testImg.png" alt />
            <div class="photo-desc">
              <span class="photo-key">抓拍时间:</span>
              <span class="photo-value">2020-02-02</span>
            </div>
            <div class="photo-desc">
              <span class="photo-key">设备IP:</span>
              <span class="photo-value">jsdjfkljsl</span>
            </div>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="grid-content">
            <img src="../../../../../assets/images/gateway/testImg.png" alt />
            <div class="photo-desc">
              <span class="photo-key">抓拍时间:</span>
              <span class="photo-value">2020-02-02</span>
            </div>
            <div class="photo-desc">
              <span class="photo-key">设备IP:</span>
              <span class="photo-value">jsdjfkljsl</span>
            </div>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="grid-content">
            <img src="../../../../../assets/images/gateway/testImg.png" alt />
            <div class="photo-desc">
              <span class="photo-key">抓拍时间:</span>
              <span class="photo-value">2020-02-02</span>
            </div>
            <div class="photo-desc">
              <span class="photo-key">设备IP:</span>
              <span class="photo-value">jsdjfkljsl</span>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="button-group">
      <el-button type="primary" @click="addDevice" v-if="!editable">保存</el-button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "contactDeviceInfoList",
  props: ["addable", "outerDeviceDetail", "editable"],
  data() {
    return {
      deviceDetail: {
        name: "",
        cameraModel: "",
        vendor: "",
        username: "",
        password: "",
        ipv4: "",
      },
      formInline: {},
      inputVal: "",
      currentPage: 1,
    };
  },
  mounted() {
    Object.assign(this.deviceDetail, this.outerDeviceDetail);
  },
  watch: {},
  computed: {
    deviceVendorList: function () {
      return this.defaultDicts.VENDOR_LIST;
    },
    ...mapState({
      capturePicParams: (state) => state.deviceManage.capturePicParams,
      defaultDicts: (state) => state.loginGateway.defaultDicts,
    }),
  },
  methods: {
    addDevice: function () {
      if (this.addable) {
        this.$store.dispatch("addDevice", this.deviceDetail);
      } else {
        this.$store.dispatch("updateDevice", this.deviceDetail);
      }
    },
    onTest() {
      this.$store.dispatch("capturePic", this.capturePicParams);
    },
    handleCurrentChange() {},
    handleSizeChange() {},
  },
};
</script>

<style lang="less" scoped>
.grid-content {
  img {
    width: 80%;
  }
  .photo-desc {
    margin-top: 10px;
    .photo-key {
      color: #222222;
      font-weight: bold;
    }
    .photo-value {
      color: #666666;
    }
  }
}
.el-form--inline .el-form-item {
  margin: 10px 0;
}
.test-button {
  margin-left: 10px;
}
.box-width {
  width: 15rem;
}
.contactPop-container {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60%;
  top: 5%;
  background-color: #fff;
  padding: 20px;
  .contact-header {
    // padding: 10px;
    border-bottom: 1px dashed #aaa;
  }
  .contact-search {
    padding: 10px 0;
    display: flex;
    flex-flow: row;
  }
  .button-group {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 10px 0px;
  }
  .table-box {
    margin-top: 20px;
  }
  .block {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
</style>