<template>
  <div class="contactPop-container">
    <div class="title-container">
      <el-form>
        <el-form-item label="网段">
          <!-- <el-input
            v-model="scanCameraParams.name"
            placeholder="示例:192.168.63.0/24"
            style="width:200px;margin-right:20px;"
          ></el-input>-->
          <el-select
            v-model="scanCameraParams.name"
            placeholder="网段选择"
            style="width:200px;margin-right:20px;"
          >
            <el-option
              v-for="option in networkSegmentList"
              :key="option.name"
              :label="option.name"
              :value="option.name"
            ></el-option>
          </el-select>
          <el-button type="primary" @click="scanCamera">搜索</el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-table v-loading="scanCameraLoading" border :data="scanDeviceList" style="width: 100%">
      <el-table-column prop="ip" label="IP"></el-table-column>
      <el-table-column prop="macAddress" label="Mac地址"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button @click.native.prevent="addDevice(scope.row)" type="text" size="small">添加</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="block">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="scanCameraParams.current"
        :page-size="scanCameraParams.size"
        background
        layout="total, prev, pager, next, jumper"
        :total="scanCameraParams.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "contactDeviceScanPop",
  computed: {
    networkSegmentList: function () {
      return this.defaultDicts["NETWORK_SEGMENT"];
    },
    ...mapState({
      scanCameraParams: (state) => state.deviceManage.scanCameraParams,
      scanDeviceList: (state) => state.deviceManage.scanDeviceList,
      scanCameraLoading: (state) => state.deviceManage.scanCameraLoading,
      defaultDicts: (state) => state.loginGateway.defaultDicts,
    }),
  },
  data() {
    return {
      tableData: [],
    };
  },
  methods: {
    handleCurrentChange: function (page) {
      Object.assign(this.scanCameraParams, { page: page });
      this.$store.dispatch("scanCamera", this.scanCameraParams);
    },
    scanCamera: function () {
      if (this.scanCameraParams.name) {
        this.$store.dispatch("scanCamera", this.scanCameraParams);
      } else {
        this.$message({ type: "warning", message: "请输入网段" });
      }
    },
    addDevice: function (item) {
      let p = { ipv4: item.ip, macAddress: item.macAddress };
      this.$store.dispatch("addDevice", p);
    },
  },
};
</script>

<style lang="less" scoped>
.contactPop-container {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60%;
  top: 10%;
  background-color: #fff;
  padding: 20px;
  .el-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
</style>