<template>
  <div class="discuss-list-container">
    <div class="list-container-left">
      <el-tree
        style="height: 100%"
        :data="districtTree"
        node-key="districtId"
        ref="tree"
        :props="props"
        show-checkbox
        @check="handleCheckChange"
      ></el-tree>
    </div>
    <div class="list-container-left">
      <div class="serveType">服务类型</div>
      <div class="addserveType" @click="addServer">
        <i class="el-icon-plus"></i>
        <span>添加类型</span>
      </div>
      <div
        class="serveTypeitem"
        :style="selectindex == index + 1 ? 'background:#e0e3e2' : ''"
        v-for="(item, index) in homeServiceList"
        @click="getIndex(item, index)"
        :key="index"
      >{{ item.text }}</div>
    </div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="服务项目" name="first">
        <div class="list-container-right">
          <div class="list-container-right-top">
            <el-form :inline="true" :model="seviceParams" class="demo-form-inline">
              <el-form-item label="服务项目">
                <el-input v-model="seviceParams.serviceProject" placeholder></el-input>
              </el-form-item>

              <el-form-item label="是否可预约" prop="region">
                <el-select v-model="seviceParams.isBooking" placeholder="请选择是否可预约">
                  <el-option label="全部" value></el-option>
                  <el-option label="是" value="1"></el-option>
                  <el-option label="否" value="0"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="是否为特色项目" prop="region">
                <el-select v-model="seviceParams.isSpecial" placeholder="请选择是否为特色项目">
                  <el-option label="全部" value></el-option>
                  <el-option label="是" value="1"></el-option>
                  <el-option label="否" value="0"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button type="default" @click="onReset">重置</el-button>
                <el-button type="primary" @click="onSearch">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list-container-right-middle">
            <div class="zhiding" @click="addServerit">
              <i class="el-icon-plus"></i>
              <span>新增项目</span>
            </div>
            <div class="delete" @click="deleteDiscuss">
              <i class="el-icon-delete"></i>
              <span>删除</span>
            </div>
          </div>
          <div class="list-container-right-bottom">
            <el-table
              ref="multipleTable"
              :data="homeServicepage"
              border
              tooltip-effect="dark"
              style="width: 95%; margin: 0 auto"
              @selection-change="handleSelectionChange"
            >
              <el-table-column type="selection" width="55px"></el-table-column>

              <el-table-column prop="serviceProject" label="服务项目"></el-table-column>
              <el-table-column prop="servicefrequency" label="服务时间"></el-table-column>
              <el-table-column prop="content" label="服务内容"></el-table-column>
              <el-table-column prop="createUser" label="创建/更新人"></el-table-column>
              <el-table-column prop="createTime" label="创建/更新时间"></el-table-column>
              <el-table-column label="是否可预约">
                <template slot-scope="scope">{{ scope.row.isBooking == 1 ? "是" : "否" }}</template>
              </el-table-column>
              <el-table-column label="是否为特色项目">
                <template slot-scope="scope">{{ scope.row.isSpecial == 1 ? "是" : "否" }}</template>
              </el-table-column>
              <el-table-column prop="serviceTime" label="预约时间"></el-table-column>
              <el-table-column prop="bookingCount" label="实际预约人数"></el-table-column>
              <el-table-column prop="expectedBookingCount" label="预约上限人数"></el-table-column>
              <el-table-column prop="minBookingCount" label="预约下限人数"></el-table-column>
              <el-table-column label="操作" width="100px">
                <template slot-scope="scope">
                  <div class="btn-container">
                    <img
                      style="width: 28px"
                      @click="handleSeeDetail(scope.$index, scope.row)"
                      src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E8%AF%A6%E6%83%85.png"
                      alt
                      srcset
                    />
                    <img
                      @click="handleEditServiceItem(scope.row)"
                      style="width: 28px"
                      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/edit.png"
                      alt
                      srcset
                    />
                    <img
                      @click="handleRemarkPermit(scope.row)"
                      style="width: 28px; margin-left: 2px"
                      src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/rili%402x.png"
                      alt
                      srcset
                    />
                  </div>
                </template>
              </el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination
                :page-size="seviceParams.count"
                @current-change="handleChange"
                background
                layout="prev, pager, next"
                :total="pagination.total"
              ></el-pagination>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="预约记录" name="second">
        <div class="list-container-right">
          <div class="list-container-right-top">
            <el-form :inline="true" :model="seviceParams" class="demo-form-inline">
              <el-form-item label="服务项目">
                <el-input v-model="seviceParams.serviceProject" placeholder></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="default" @click="onReset">重置</el-button>
                <el-button type="primary" @click="onSearch">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list-container-right-bottom">
            <el-table
              ref="multipleTable"
              :data="homeServicepage"
              border
              tooltip-effect="dark"
              style="width: 95%; margin: 0 auto"
              @selection-change="handleSelectionChange"
            >
              <!-- <el-table-column type="selection" width="55px"></el-table-column> -->

              <el-table-column prop="serviceProject" label="服务项目"></el-table-column>
              <el-table-column prop="serviceTime" label="服务时间"></el-table-column>
              <el-table-column prop="servicefrequency" label="预约时间"></el-table-column>
              <el-table-column prop="bookingCount" label="实际预约人数"></el-table-column>
              <el-table-column prop="expectedBookingCount" label="预约上限人数"></el-table-column>
              <el-table-column prop="minBookingCount" label="预约下限人数"></el-table-column>
              <el-table-column prop="createTime" label="创建/更新时间"></el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination
                :page-size="seviceParams.count"
                @current-change="handleChange"
                background
                layout="prev, pager, next"
                :total="pagination.total"
              ></el-pagination>
            </div>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="新增类型" :visible.sync="addServiceType">
      <el-form :model="form">
        <el-form-item label="服务类型名称" label-width="120px">
          <el-input v-model="form.code" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addServiceType = false">取 消</el-button>
        <el-button type="primary" @click="addServertype">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="预约时间" :visible.sync="addtime">
      <el-form :model="setTimeForm">
        <el-form-item label="截止时间" label-width="120px">
          <!-- <el-input
            v-model="setTimeForm.serviceTime"
            autocomplete="off"
          ></el-input>-->
          <el-date-picker
            v-model="setTimeForm.serviceTime"
            type="datetime"
            placeholder="选择日期时间"
            value-format="yyyy-MM-dd HH:mm"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="预约上限人数" label-width="120px">
          <el-input v-model="setTimeForm.expectedBookingCount" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="预约下限人数" label-width="120px">
          <el-input v-model="setTimeForm.minBookingCount" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="实际预约人数" label-width="120px">
          <el-input v-model="bookingCount" autocomplete="off" disabled></el-input>
        </el-form-item>
      </el-form>
      <!-- urn:zp:home:408d788043cb40e6b7f49fc436c136fc -->
      <!-- urn:zp:home:408d788043cb40e6b7f49fc436c136fc -->
      <el-table :data="yuyuePeopleList" style="width: 100%" height="200">
        <!--        <el-table-column-->
        <!--                prop="date"-->
        <!--                label="日期"-->
        <!--                width="180">-->
        <!--        </el-table-column>-->
        <el-table-column prop="name" label="姓名" align="center" width="180"></el-table-column>
        <el-table-column prop="mobile" align="center" label="联系方式"></el-table-column>
      </el-table>
      <div class="page-box">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          layout="total, prev, pager, next, jumper"
          :total="yuyuePeoplePagination.total"
        ></el-pagination>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button @click="closesetTime">取 消</el-button>
        <el-button type="primary" @click="setyuyueTime">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="新增项目" :visible.sync="addServiceitem">
      <el-form :model="serviceItemform">
        <el-form-item label="服务项目" label-width="120px">
          <el-input v-model="serviceItemform.object.serviceProject" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <el-form :model="serviceItemform">
        <el-form-item label="服务时间" label-width="120px">
          <el-input v-model="serviceItemform.object.servicefrequency" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="是否为特色项目" label-width="120px">
          <el-radio-group v-model="serviceItemform.object.isSpecial">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否可预约" label-width="120px">
          <el-radio-group v-model="serviceItemform.object.isBooking">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="服务内容" label-width="120px">
          <el-input
            type="textarea"
            :rows="4"
            placeholder="请输入内容"
            v-model="serviceItemform.object.content"
          ></el-input>
        </el-form-item>
        <el-form-item label="附件" label-width="120px">
          <el-upload
            class="upload-demo"
            action="/hip/v1/attachment/fileUpload"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            :on-success="handleSuccess"
            :headers="headerObj"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <span slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</span>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addServiceitem = false">取 消</el-button>
        <el-button type="primary" @click="submitServiceItem">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑" :visible.sync="editServiceItem">
      <el-form :model="serviceItemform">
        <el-form-item label="服务项目" label-width="120px">
          <el-input v-model="serviceItemform.object.serviceProject" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <el-form :model="serviceItemform">
        <el-form-item label="服务时间" label-width="120px">
          <el-input v-model="serviceItemform.object.servicefrequency" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="是否为特色项目" label-width="120px">
          <el-radio-group v-model="serviceItemform.object.isSpecial">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否可预约" label-width="120px">
          <el-radio-group v-model="serviceItemform.object.isBooking">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="服务内容" label-width="120px">
          <el-input
            type="textarea"
            :rows="4"
            placeholder="请输入内容"
            v-model="serviceItemform.object.content"
          ></el-input>
        </el-form-item>
        <el-form-item label="附件" label-width="120px">
          <el-upload
            class="upload-demo"
            action="/hip/v1/attachment/fileUpload"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            :on-success="handleSuccess"
            :headers="headerObj"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <span slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</span>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetEditServiceItem">取 消</el-button>
        <el-button type="primary" @click="submitEditServiceItem">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      headerObj: { token: Vue.ls.get("rongheToken") },
      idList: "",
      searchForm: {
        title: "",
        name: "",
        startTime: "",
        endTime: "",
        topStatus: "",
        topStatuss: "",
        dateRange: ""
      },
      selectedRows: [],
      formInline: { top: "", date1: "", date2: "", user: "", region: "" },
      tableData: [],
      props: {
        label: "name",
        children: "children"
      },
      activeName: "first",
      seviceParams: {
        serviceProject: "",
        isBooking: "",
        isSpecial: "",
        serviceType: 0,
        count: 10,
        start: 1
      },
      selectindex: "",
      addServiceType: false,
      addServiceitem: false,
      editServiceItem: false,
      form: {
        code: ""
      },
      serviceItemform: {
        object: {
          serviceProject: null,
          servicefrequency: null,
          isSpecial: null,
          isBooking: null,
          content: null
        },
        filePaths: []
      },
      fileList: [],
      allFile: [],
      addtime: false,
      bookingCount: 0,
      setTimeForm: {},
      currentPage: 1,
      serviceUrn: ""
    };
  },
  methods: {
    handleChange(index) {
      this.seviceParams.start = (index - 1) * this.seviceParams.count;
      this.$store.dispatch("gethomeServicepage", this.seviceParams);
    },
    handleCurrentChange(val) {
      let params = {
        serviceUrn: val.serviceUrn,
        count: 10,
        start: (val - 1) * 10
      };
      this.$store.dispatch("getYuyuePeople", params);
    },
    closesetTime() {
      this.setTimeForm = {
        serviceTime: "",
        expectedBookingCount: "",
        minBookingCount: ""
      };
      this.addtime = false;
    },
    setyuyueTime() {
      // console.log(this.setTimeForm);
      if (
        parseInt(this.setTimeForm.minBookingCount) <
        parseInt(this.setTimeForm.expectedBookingCount)
      ) {
        // console.log(this.setTimeForm);
        this.$store
          .dispatch("saveServiceTime", this.setTimeForm)
          .then((res) => {
            if (res.result) {

              this.setTimeForm = {
                createUser: Vue.ls.get("name"),
                serviceTime: "",
                expectedBookingCount: "",
                minBookingCount: ""
              };
              this.addtime = false;
              this.$store.dispatch("gethomeServicepage", this.seviceParams);
            }
          });
      } else {
        this.$message({
          type: "warning",
          message: "下限人数不能高于上限人数"
        });
      }
    },
    addServerit() {
      if (this.serviceItemform.object.organization) {
        this.addServiceitem = true;
      } else {
        this.$message({
          type: "warning",
          message: "请先选择服务类型"
        });
      }
    },
    handleSuccess(file, fileList) {
      this.allFile = [...this.allFile, ...file.result];
      // console.log(this.allFile);
      this.serviceItemform.filePaths = this.allFile;
    },
    handleRemove(file, fileList) {
      // console.log(file, fileList);
    },
    submitServiceItem() {
      this.serviceItemform.object.districtId = this.districtId;
      // console.log(this.serviceItemform);
      this.$store
        .dispatch("homeService_save", this.serviceItemform)
        .then((res) => {
          if (res.result) {
            this.addServiceitem = false;
            this.serviceItemform = {
              object: {
                organization: this.serviceItemform.object.organization,
                districtId: this.districtId,
                createUser: Vue.ls.get("name")
              },
              filePaths: []
            };
            // console.log(this.serviceItemform);
            this.fileList = [];
            this.allFile = [];
            // console.log(this.districtId);
            this.$store.dispatch("gethomeServicepage", this.seviceParams);
          }
        });
    },
    submitEditServiceItem() {
      this.serviceItemform.object.districtId = this.districtId;
      this.serviceItemform.object.serviceUrn = this.serviceUrn;
      // console.log(this.serviceItemform);
      this.$store
        .dispatch("homeService_save", this.serviceItemform)
        .then((res) => {
          // console.log(res);
          if (res.result) {
            this.editServiceItem = false;
            this.serviceItemform = {
              object: {
                organization: this.serviceItemform.object.organization,
                // districtId: this.districtId,
                createUser: Vue.ls.get("name"),
                serviceProject: null,
                servicefrequency: null,
                isSpecial: null,
                isBooking: null,
                content: null
              },
              filePaths: []
            };
            this.fileList = [];
            this.allFile = [];
            // console.log(this.districtId);
            this.$store.dispatch("gethomeServicepage", this.seviceParams);
          }
        });
    },
    resetEditServiceItem() {
      this.editServiceItem = false;
      this.serviceItemform.object.serviceProject = null;
      this.serviceItemform.object.servicefrequency = null;
      this.serviceItemform.object.isSpecial = null;
      this.serviceItemform.object.isBooking = null;
      this.serviceItemform.object.content = null;
    },
    handlePreview(file) {
      // console.log(file);
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length
        } 个文件`
      );
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`);
    },
    addServer() {
      if (this.districtId) {
        this.addServiceType = true;
      } else {
        this.$message({
          type: "warning",
          message: "请先选择组织树"
        });
      }
    },
    handleEditServiceItem(val) {
      this.serviceUrn = val.serviceUrn;
      this.editServiceItem = true;
      // 获取数据并显示在框框内
      // console.log(val);
      this.serviceItemform.object.serviceProject = val.serviceProject;
      this.serviceItemform.object.servicefrequency = val.servicefrequency;
      this.serviceItemform.object.isSpecial = val.isSpecial;
      this.serviceItemform.object.isBooking = val.isBooking;
      this.serviceItemform.object.content = val.content;

      // console.log(this.serviceItemform.object);
    },
    addServertype() {
      this.form.districtId = this.districtId;
      this.form.text = this.form.code;
      // console.log(this.form);
      this.$store.dispatch("saveHomeServiceType", this.form).then((res) => {
        res;
        // console.log(res);
        if (res.result) {
          this.$store.dispatch("homeServiceList", {
            districtId: this.districtId
          });
          this.addServiceType = false;
          this.form = {
            code: "",
            text: ""
          };
        }
      });
    },
    handleClick(e) {
      if (e.name == "second") {
        // console.log(e.name);
        this.seviceParams.serviceProject = "";
        this.seviceParams.isBooking = "";
        this.seviceParams.isSpecial = "";
        this.seviceParams.serviceType = 1;
        this.$store.dispatch("gethomeServicepage", this.seviceParams);
      } else {
        // console.log(e.name);
        this.seviceParams.serviceProject = "";
        this.seviceParams.serviceType = 0;
        this.$store.dispatch("gethomeServicepage", this.seviceParams);
      }
    },
    getIndex(item, index) {
      // console.log(item);
      // this.serviceItemform.object.serviceUrn = item.id
      this.serviceItemform.object.organization = item.code;
      this.selectindex = index + 1;

      this.seviceParams.count = 10;
      this.seviceParams.start = 1;
      this.seviceParams.districtIds = [item.districtId];
      this.seviceParams.organization = item.code;

      this.$store.dispatch("gethomeServicepage", this.seviceParams);
    },
    handleRemarkPermit: function (val) {
      // console.log(val);
      // this.$store.dispatch("account_assembly_setReleaseStatus", {
      //   releaseStatus: val.releaseStatus == 1 ? 2 : 1,
      //   uniqueId: val.uniqueId
      // });
      // console.log(val);
      this.bookingCount = val.bookingCount;
      this.setTimeForm.serviceUrn = val.serviceUrn;
      this.setTimeForm.createUser = Vue.ls.get("name");
      this.addtime = true;
      this.serviceUrn = val.serviceUrn;
      let params = {
        serviceUrn: val.serviceUrn,
        count: 10,
        start: 0
      };
      this.$store.dispatch("getYuyuePeople", params);
    },
    deleteDiscuss: function () {
      this.$store
        .dispatch("homeService_delete", {
          serviceUrn: this.idList
        })
        .then((res) => {
          if (res.result) {
            this.$store.dispatch("gethomeServicepage", this.seviceParams);
          }
        });
    },
    cancelTop: function () {
      this.$store.dispatch("account_assembly_setTopStatus", {
        topStatus: 0,
        uniqueId: this.idList
      });
    },
    setTop: function () {
      this.$store.dispatch("account_assembly_setTopStatus", {
        topStatus: 1,
        uniqueId: this.idList
      });
    },
    handleSeeDetail: function (...arg) {
      // console.log(arg);
      let [, { serviceUrn }] = [...arg];
      this.$router.push(`/r/homeServe/homeserviceDetail?id=${serviceUrn}`);
    },
    handleSelectionChange: function (val) {
      this.selectedRows = val;
      let idList = val.map((item) => {
        return item.serviceUrn;
      });
      this.idList = idList.join(",");
    },
    generateData: function () {
      for (let i = 0; i < 10; i++) {
        this.tableData.push({
          title: i,
          region: "",
          submitter: "",
          submitTime: "",
          browser: "",
          comment: "",
          dianzan: "",
          isTop: ""
        });
      }
    },
    onSearch: function () {
      this.$store.dispatch("gethomeServicepage", this.seviceParams);
    },
    onReset: function () {
      this.seviceParams.serviceProject = "";
      this.seviceParams.isBooking = "";
      this.seviceParams.isSpecial = "";
      this.$store.dispatch("gethomeServicepage", this.seviceParams);
    },
    handleCheckChange: function (data, checked, indeter, fuck) {
      if (data.level == 4) {
        if (checked.checkedNodes.length == 0) {
          this.districtId = "";
        } else {
          this.districtId = data.districtId;
        }
        this.$store.dispatch("homeServiceList", {
          districtId: data.districtId
        });
      } else {
        this.$message({
          type: "warning",
          message: "请选择居委级别"
        });
        this.$refs.tree.setCheckedKeys([]);
      }
    },
    loadNode(node, resolve) {
      // console.log(node);
      resolve[{ name: "123" }];
    },
    ...mapMutations([])
  },

  mounted() {
    // let obj = Object.assign({}, this.pagination, {
    //   districtIds: Vue.ls.get("districtIds")
    // });
    this.serviceItemform.object.createUser = Vue.ls.get("name");
    this.setTimeForm.createUser = Vue.ls.get("name");
    // this.$store.dispatch("account_assembly_getAssembly", obj);
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("villageDistrictId")
    });
    this.$store.commit("CHANGE_HOMESERVICE_LIST", []);
    this.$store.commit("CHANGE_HOMESERVICE_PAGE", []);
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      districtTree: (state) => state.ronghe.districtTree,
      discussList: (state) => state.ronghe.discussList,
      pagination: (state) => state.ronghe.pagination,
      homeServiceList: (state) => state.ronghe.homeServiceList,
      homeServicepage: (state) => state.ronghe.homeServicepage,
      yuyuePeopleList: (state) => state.ronghe.yuyuePeopleList,
      yuyuePeoplePagination: (state) => state.ronghe.yuyuePeoplePagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.page-box {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.discuss-list-container {
  box-sizing: border-box;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 15% 15% 1fr;
  height: 100%;
  grid-template-rows: 1fr;
  .list-container-left {
    border-right: 1px solid #eeeeee;
    cursor: pointer;
  }

  .list-container-right {
    box-sizing: border-box;
    padding: 0 5px;
    .list-container-right-middle {
      display: flex;
      width: 95%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      .zhiding,
      .cancel-zhiding {
        cursor: pointer;
        margin-right: 20px;
      }
      .zhiding,
      .cancel-zhiding,
      .delete {
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
    .list-container-right-bottom {
      .pagination-container {
        text-align: center;
        margin-top: 10px;
      }
      width: 100%;
      .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
.serveType {
  height: 50px;
  line-height: 50px;
  font-weight: 800;
  padding: 0 20px;
  box-sizing: border-box;
}
.addserveType {
  padding: 0 20px;
  color: #777777;
}
.serveTypeitem {
  margin-top: 20px;
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
}
</style>
<style>
.el-tabs {
  padding-left: 20px;
}
</style>
