<template>
  <div class="reportDetail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/r/homeServe/homeServeList' }">服务列表</el-breadcrumb-item>
      <el-breadcrumb-item>服务详情</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="reportInfo">
      <div class="reportTitle">公告信息</div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">服务项目</div>
          <div class="reportInfoboxitemCon">{{homeServiceInfo.object.serviceProject}}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">服务时间</div>
          <div class="reportInfoboxitemCon">{{homeServiceInfo.object.servicefrequency}}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">预约人数</div>
          <div class="reportInfoboxitemCon">{{homeServiceInfo.object.bookingCount}}</div>
        </div>
      </div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">服务内容</div>
          <div class="reportInfoboxitemCon">{{homeServiceInfo.object.content}}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">附件</div>
          <div class="reportInfoboxitemCon" v-for="(item,key) in homeServiceInfo.filePaths" :key="key">
            <div class="imgItem">
              <img :src="img_host+item" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
        textarea:'',
        img_host:'https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/'
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {},
  mounted() {
      let sUrn = this.$route.query.id
      this.$store.dispatch('homeService_info',{serviceUrn:sUrn})
  },
  watch: {},
  computed: {
    ...mapState({
        homeServiceInfo:state=>state.ronghe.homeServiceInfo
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.reportDetail {
  width: 100%;
  height: 100%;
  // background: brown;
  padding: 20px;
  box-sizing: border-box;
}
.reportInfo {
  padding: 10px 20px;
}
.reportTitle {
  height: 50px;
  line-height: 50px;
  color: #65a1da;
}
.reportInfobox {
  width: 100%;
  height: 100px;
  display: flex;
  .reportInfoboxitem {
    flex: 1;
    .reportInfoboxitemTile {
      height: 50px;
      line-height: 50px;
      color: #939091;
    }
    .reportInfoboxitemCon {
      min-height: 150px;
      float: left;
      margin-right: 10px;
      .imgItem{
        width: 200px;
        min-height: 100px;
        // background: brown;
        img{
          width: 100%;
        }
        
      }
    }
  }
}
</style>

