.portraitRetrieval{
    width: 100%;
    height: 100%;
    background-color: #151f47;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    .portrait_retrieval_item:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(16.67%,6);
        div:nth-child(2n){
            padding-right: 200px;
            box-sizing: border-box;
        }
        .portrait_retrieval_item_title{
            color: white;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding-right: 100px;
            box-sizing: border-box;
        }
        .portrait_retrieval_item_name{
            text-align: right;
            color: white;
            padding-right: 100px;
            box-sizing: border-box;
        }
    }
    .portrait_retrieval_item:nth-child(2){
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(16.67%,6);
        div:nth-child(2n){
            padding-right: 200px;
            box-sizing: border-box;
        }
        .portrait_retrieval_item_title{
            color: white;
            font-size: 18px;
            font-weight: 600;
        }
        .portrait_retrieval_item_name{
            text-align: center;
            color: white;
        }
        
    }
}
.carRetrieval{
    width: 100%;
    height: 100%;
    background-color: #151f47;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 40%;
    .portrait_retrieval_item:nth-child(2){
        display: grid;
        grid-template-columns: 20% 10% 40% 30%;
        .portrait_retrieval_item_name{
            text-align: right;
            color: white;
            padding-right: 100px;
            box-sizing: border-box;
        }
    }
    .portrait_retrieval_item:nth-child(3){
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(16.67%,6);
        div:nth-child(2n){
            padding-right: 200px;
            box-sizing: border-box;
        }
        .portrait_retrieval_item_title{
            color: white;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding-right: 100px;
            box-sizing: border-box;
        }
        .portrait_retrieval_item_name{
            text-align: right;
            color: white;
            padding-right: 100px;
            box-sizing: border-box;
        }
    }
}
.uploadIcon{
    padding: 40px;
    font-size: 110px;
    color: #3170e1;
}
.el-upload__text{
    color: aliceblue;
    line-height: 25px;
}