<template>
  <div class='managementList'>
    <div class="managementSearch">
        <el-input 
            placeholder="请输入角色名称" 
            v-model="params.roleName" 
            class="input-with-select"
            prefix-icon="el-icon-search">
            <el-button slot="append" type="success" @click="checkRole">查询</el-button>
        </el-input>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <span>角色管理</span> 
            </div>
            <div class="managementTableTitleHeader">
                <el-button 
                    type="success" 
                    icon="el-icon-plus" 
                    size="mini"
                    @click="addManageInfo('add','')">添加</el-button>
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="getRoleList"
                    :border="true"
                    style="width: 100%">
                    <el-table-column
                        type="index"
                        label="编号"
                        :show-overflow-tooltip='true'
                        width="150"
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="roleName"
                        label="角色名称"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <!-- <el-table-column
                        prop="remarks"
                        label="描述"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column> -->
                    <el-table-column label="操作" align='center' width="250">
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            type="warning"
                            @click="addManageInfo('edit', scope.row)">
                                <i class="el-icon-edit-outline"></i> 修改
                            </el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="deleteManage(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="(params.start/10)+1"
                    :page-size="params.count"
                    layout="total, prev, pager, next, jumper"
                    :total="roleTotal">
                </el-pagination>
            </div>
        </div>
    </div>
    <el-dialog title="角色" :show-close="false" :close-on-click-modal='false' :visible.sync="addManageFormVisible" style="width:70%;margin:0 auto;">
        <el-form :model="form" ref="ruleForm" :rules="rules" style="margin-right:20px;">
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="角色名称:" label-width="100px" prop="roleName">
                        <el-input size="mini" v-model="form.roleName" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="角色权限:" label-width="100px">
                        <el-tree
                            :data="form.permissionTreeList"
                            show-checkbox
                            node-key="id"
                            :props="defaultProps"
                            ref='roleTree'
                            :default-checked-keys='checkStatus'
                            @check='getcheckNode'
                            >
                        </el-tree>
                    </el-form-item>
                </div>
            </div>
              
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="closeRoleForm">取消</el-button>
            <el-button size="mini" type="primary" @click="addRoleForm">确定</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        managementSearch:'',
        params:{
            start:0,
            count:10,
            roleName:''
        },
        tableData: [],
        addManageFormVisible:false,
        form:{
          roleName:''
        },
        defaultProps: {
          children: 'childTreeList',
          label: 'permissionName'
        },
        formType:'',
        rules:{
          roleName:[
            { required:true, message:'请输入角色名称', trigger:'blur' }
          ]
        }
    }
  },
methods:{ ...mapMutations([]),
    handleCurrentChange(index){   
        this.params.start = (index-1)*10
        this.$store.dispatch('listDetailsPageByRoleName',this.params)
    },
    deleteManage(index,row){
        index;
        row;
        this.$confirm('确定删除此角色？', '删除角色', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'error'
        }).then(() => {
          this.$store.dispatch('roleDeleteById',{id:row.id})
          setTimeout(()=>{
              this.$store.dispatch('listDetailsPageByRoleName',this.params)
          },500)
          //   删除设备操作
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    },
    addManageInfo(type,data){
      this.addManageFormVisible = true
      this.formType = type
      if(type == 'add'){ 
        this.$store.dispatch('listVO')
        
        setTimeout(()=>{ 
          this.form ={roleName:''}
          this.form.permissionTreeList = this.volist
        },500)
        
        this.$store.commit('NULL_NAME')
      }else{
        this.$store.dispatch('roleGetDetailsById',{id:data.id})
        setTimeout(()=>{
          this.form.roleName = this.voname
          this.form.permissionTreeList = this.volist
          this.form.id = data.id
        },500)
      } 
    },
    checkRole(){
        this.params.start = 0
        this.$store.dispatch('listDetailsPageByRoleName',this.params)
    },
    filterName(data){
        
        data.forEach(item => {
            item.status =false
            if(item.childTreeList && item.childTreeList.length > 0){
                this.filterName(item.childTreeList);
            }
        });
      
    },
    getcheckNode(data,node){
      data;
      this.filterName(this.form.permissionTreeList)
      setTimeout(()=>{
        if(node.checkedNodes.length>0){
          node.checkedNodes.forEach(e => {
            e.status = true
          });
        }
      },500)
      
      
      // data.status =!data.status
      // this.$store.commit('GET_CHECK_NAME',node.checkedKeys)
      // this.$store.commit('LIST_VO',this.)

      console.log(this.form.permissionTreeList)
      // if(data.status!==undefined&&data.parentId!==0){
      //   
      // }
      // console.log(this.form.permissionTreeList)
      // this.form.permissionTreeList = this.volist
    },
    closeRoleForm(){
        this.form ={roleName:''}
        this.$refs['ruleForm'].resetFields();
        this.addManageFormVisible = false
    },
    addRoleForm(){
      this.$refs['ruleForm'].validate((valid) => {
          if(valid){   
              if(this.formType =='add'){
                this.$store.dispatch('roleInsert',this.form)
                setTimeout(()=>{
                  this.closeRoleForm()
                  this.$store.dispatch('listDetailsPageByRoleName',this.params)
                },500)
              }else{
                this.$store.dispatch('roleUpdate',this.form)
                setTimeout(()=>{
                  this.closeRoleForm()
                  this.$store.dispatch('listDetailsPageByRoleName',this.params)
                },500)
              }
          }
      })
    }
},

mounted(){
  this.$store.dispatch('listDetailsPageByRoleName',this.params)
},
watch:{},
computed:{ ...mapState({
  getRoleList:state=>state.UkeysystemManage.getRoleList,
  roleTotal:state=>state.UkeysystemManage.roleTotal,
  volist:state=>state.UkeysystemManage.volist,
  voname:state=>state.UkeysystemManage.voname,
  checkStatus:state=>state.UkeysystemManage.checkStatus,

}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/safeUkey/userManage/userManage.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
</style>
