<template>
  <div class='managementList'>
    <div class="managementSearch">
        <el-input 
            placeholder="请输入姓名/手机号" 
            v-model="params.key" 
            class="input-with-select"
            prefix-icon="el-icon-search">
            <el-button slot="append" type="success" @click="getUserList">查询</el-button>
        </el-input>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <span>用户管理</span> 
            </div>
            <div class="managementTableTitleHeader">
                <el-button 
                    type="success" 
                    icon="el-icon-plus" 
                    size="mini"
                    @click="addManageInfo('add','')">添加</el-button>
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="getukeyUserList"
                    :border="true"
                    style="width: 100%">
                    <el-table-column
                        type='index'
                        label="编号"
                        width="100"
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="role.roleName"
                        label="角色名称"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="fullName"
                        label="姓名"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="phone"
                        label="手机号"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column label="操作" align='center' width="250">
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            type="warning"
                            @click="addManageInfo('edit', scope.row)">
                                <i class="el-icon-edit-outline"></i> 修改
                            </el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="deleteManage(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="(params.start/10)+1"
                    :page-size="params.count"
                    layout="total, prev, pager, next, jumper"
                    :total="userTotalCount">
                </el-pagination>
            </div>
        </div>
    </div>
    <el-dialog :title="userTitle" :show-close="false" :visible.sync="addManageFormVisible" style="width:70%;margin:0 auto;">
        <el-form :model="form" ref="ruleForm" :rules="rules"  style="margin-right:20px;">
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="登录名:" label-width="100px" prop="userName">
                        <el-input size="mini" v-model="form.userName" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="初始密码:" label-width="100px" prop="password">
                        <el-input size="mini" type="password" :show-password="this.formType == 'add'" :disabled="this.formType == 'edit'" v-model="form.password" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item v-if="formType == 'add'" label="确认密码:" label-width="100px" prop="confirmPassword">
                        <el-input size="mini" type="password" show-password='true' v-model="form.confirmPassword" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>  
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="姓名:" label-width="100px" prop="fullName">
                        <el-input size="mini" v-model="form.fullName" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>  
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="手机号:" label-width="100px">
                        <el-input size="mini" v-model="form.phone" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>  
            <div class='addformbox'>
                <div class="addformflex">
                    <el-form-item label="角色:" label-width="100px" prop="roleId">
                        <!-- <el-input size="mini" v-model="form.sysname" autocomplete="off"></el-input> -->
                        <el-select size="mini" v-model="form.roleId" placeholder="请选择">
                            <el-option
                                v-for="item in getRoleList"
                                :key="item.id"
                                :label="item.roleName"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
            </div>  
            <el-form-item label="备注:" label-width="100px">
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 6}"
                    placeholder="请输入内容"
                    v-model="form.remarks">
                </el-input>
            </el-form-item>  
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="closeServerForm">取消</el-button>
            <el-button size="mini" type="primary" @click="addUserForm">确定</el-button>
        </div>
    </el-dialog>
  </div>
</template>


<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
// import { delete } from 'vuedraggable';
export default {
  data() {
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.form.password) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
    return {
        managementSearch:'',
        params:{
            start:0,
            count:10,
            key:''
        },
        tableData: [],
        addManageFormVisible:false,
        form:{

        },
        roleParams:{
            start:0,
            count:100
        },
        formType:'',
        rules:{
           userName:[
               {required:true,message:'请输入登录名',trigger:'change'}
           ],
           password:[
               {required:true,message:'请输入密码',trigger:'change'},
               { min: 6, max: 16, message: '密码长度6-16位', trigger: 'blur' }
           ],
           confirmPassword:[
               {required:true,message:'请再次输入密码',trigger:'change'},
               { min: 6, max: 16, message: '密码长度6-16位', trigger: 'blur' },
               { validator:validatePass,trigger:'blur'}
           ],
           fullName:[
               {required:true,message:'请输入姓名',trigger:'change'}
           ],
           roleId:[
               {required:true,message:'请输入角色',trigger:'change'}
           ]
        },
        userTitle:''
    }
  },
methods:{ ...mapMutations([]),
    handleCurrentChange(index){
        this.params.start = (index-1)*10
        this.$store.dispatch('listDetailsPageByKey',this.params)
    },
    getUserList(){
        this.params.start = 0
        this.$store.dispatch('listDetailsPageByKey',this.params)
    },
    deleteManage(index,row){
        index;
        row;
        this.$confirm('确定删除此用户？', '删除用户', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'error'
        }).then(() => {
            this.$store.dispatch('userDeleteById',{id:row.id})
            setTimeout(()=>{
                this.$store.dispatch('listDetailsPageByKey',this.params)
            },500)
            //   删除设备操作

        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    },
    addManageInfo(type,row){
        this.formType = type
        if(type=='add'){
            this.userTitle = '添加用户'
            this.form = {}
            this.addManageFormVisible = true
        }else{
            this.userTitle = '修改用户'
            this.form = {...row}
            this.addManageFormVisible = true
        }
    },
    closeServerForm(){
        this.$refs['ruleForm'].resetFields();
        this.addManageFormVisible = false
    },
    addUserForm(){
        if(this.formType == 'add'){
             this.rules.password=[
                {required:true,message:'请输入密码',trigger:'change'},
                { min: 6, max: 16, message: '密码长度6-16位', trigger: 'blur' }
             ]
            this.$refs['ruleForm'].validate((valid) => {
                if(valid){
                    this.$store.dispatch('userInsert',this.form)
                    
                    setTimeout(()=>{
                        this.closeServerForm()
                        this.$store.dispatch('listDetailsPageByKey',this.params)
                    },500)
                }
            }) 
        }else{
            this.rules.password=[
                // {required:true,message:'请输入密码',trigger:'change'},
            ]
            delete this.form.password
            this.$refs['ruleForm'].validate((valid) => {
                if(valid){
                    this.$store.dispatch('userUpdate',this.form)
                    setTimeout(()=>{
                        this.closeServerForm()
                        this.$store.dispatch('listDetailsPageByKey',this.params)
                    },500)
                }
            }) 
        }
    }
},

mounted(){
    this.$store.dispatch('listDetailsPageByKey',this.params)

    this.$store.dispatch('listDetailsPageByRoleName',this.roleParams)
},
watch:{},
computed:{ ...mapState({
    getukeyUserList:state=>state.UkeysystemManage.getukeyUserList,
    userTotalCount: state=>state.UkeysystemManage.userTotalCount,
    getRoleList: state=>state.UkeysystemManage.getRoleList
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/safeUkey/userManage/userManage.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
</style>
