<template>
    <div class='homepages'>
        <div class="homeImg">
            <img :src="require('@/assets/images/safeUkey/5ddfd91a4db99.png')" alt="">
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
methods:{ ...mapMutations([])},

mounted(){
    // console
},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
.homepages{
    width: 100%;
    height: 100%;
    position: relative;
    background: #edf0f5;
    .homeImg{

        height: 96%;
        // background: chartreuse;
        position: absolute;
        top:2%;
        left: 1%;
        overflow: hidden;
        img{
            width: 99%;
            height: 100%;
        } 
    } 
}
</style>
