<template>
  <div class="labelcontainer">
    <div class="box">
      <div class="searchBox">
        <div class="input-search">
          <el-input placeholder="搜索标签名称" v-model="tagName"></el-input>
        </div>
        <el-button type="primary" @click="searchTagList">查询</el-button>
      </div>
      <div class="handleBox">
        <div class="add">
          <div class="btn-style" @click="addTags">
            <i class="el-icon-plus"></i>
            添加
          </div>
        </div>
        <div class="add">
          <div class="btn-style" @click="allDelete()">
            <i class="el-icon-delete"></i>
            删除
          </div>
        </div>
        <div class="add">
          <div class="btn-style" @click="allStart()">
            <i class="el-icon-video-play"></i>
            启用
          </div>
        </div>
        <div class="add">
          <div class="btn-style" @click="allClose()">
            <i class="el-icon-video-pause"></i>
            停用
          </div>
        </div>
      </div>
      <div class="tableBox">
        <el-table
          :data="tagsList"
          border
          height="500px"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="value" label="标签名称"></el-table-column>
          <el-table-column prop="level" label="标签等级"></el-table-column>
          <el-table-column prop="usage" label="标定数"></el-table-column>
          <el-table-column prop="creator" label="创建用户"></el-table-column>
          <el-table-column prop="createTime" label="创建时间"></el-table-column>
          <el-table-column
            prop="lastUpdatedTime"
            label="更新时间"
          ></el-table-column>
          <el-table-column prop="description" label="描述"></el-table-column>
          <el-table-column prop="isOpen" label="是否启用"></el-table-column>
          <el-table-column prop="" label="操作">
            <template slot-scope="scope">
              <div class="itemHandleBox">
                <i class="el-icon-edit" @click="editDevice(scope.row)"></i>
                <i class="el-icon-delete" @click="deleteDevice(scope.row)"></i>
                <i
                  class="el-icon-video-play"
                  @click="stopOrplay(scope.row)"
                ></i>
                <i class="el-icon-video-pause" v-if="false"></i>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="pagination">
        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[15]"
          :page-size="15"
          layout="total, sizes, prev, pager, next, jumper"
          :total="tagListPagination.total"
        ></el-pagination>
      </div>
      <el-dialog title="添加标签" :visible.sync="addDialogVisible" center>
        <el-form :model="addform" ref="addform" :rules="rules">
          <el-form-item
            label="标签名称:"
            :label-width="formLabelWidth"
            prop="value"
          >
            <el-input v-model="addform.value" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item
            label="标签等级:"
            :label-width="formLabelWidth"
            prop="level"
          >
            <el-input v-model="addform.level" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="描述:" :label-width="formLabelWidth">
            <el-input
              v-model="addform.description"
              autocomplete="off"
              type="textarea"
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addTagsSubmit('addform')">
            确 定
          </el-button>
        </div>
      </el-dialog>

      <el-dialog title="修改标签" :visible.sync="editDialogVisible" center>
        <el-form :model="editform">
          <el-form-item label="标签名称:" :label-width="formLabelWidth">
            <el-input v-model="editform.value" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="标签等级:" :label-width="formLabelWidth">
            <el-input v-model="editform.level" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="描述:" :label-width="formLabelWidth">
            <el-input
              v-model="editform.description"
              autocomplete="off"
              type="textarea"
            ></el-input>
          </el-form-item>
          <el-form-item label="状态:" :label-width="formLabelWidth">
            <el-radio-group v-model="editform.visible">
              <el-radio :label="true">启用</el-radio>
              <el-radio :label="false">停用</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="editSubmit">保 存</el-button>
        </div>
      </el-dialog>

      <el-dialog
        title="提示"
        :visible.sync="stopDialogVisible"
        width="30%"
        center
      >
        <!--              <span>所选标签已被32个点位使用,此操作将停用这些监控点的标签,确定停用吗?</span>-->
        <span>此操作将停用这些监控点的标签,确定停用吗?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="stopDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="stopOpration">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="提示"
        :visible.sync="startDialogVisible"
        width="30%"
        center
      >
        <!--              <span>所选标签已被32个点位使用,此操作将停用这些监控点的标签,确定停用吗?</span>-->
        <span>此操作将启用这些监控点的标签,确定启用吗?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="startDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="startOpration">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="提示"
        :visible.sync="deleteDialogVisible"
        width="30%"
        center
        :close="handleClose"
      >
        <!--              <span>所选标签已被32个点位使用,此操作将停用这些监控点的标签,确定停用吗?</span>-->
        <span>此操作将删除这些监控点的标签,确定删除吗?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deleteCancle">取 消</el-button>
          <el-button type="primary" @click="deleteOpration">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      addDialogVisible: false,
      editDialogVisible: false,
      deleteDialogVisible: false,
      stopDialogVisible: false,
      startDialogVisible: false,
      formLabelWidth: "120px",
      radio: 3,
      tagName: "",
      selectTag: [],
      addform: {
        labelCode: "",
        labelName: "",
        labelLevel: "",
        description: ""
      },
      editform: {
        labelCode: "",
        labelName: "",
        labelLevel: "",
        description: ""
      },
      isopenDesc: "",
      currentPage: 1,
      rules: {
        value: [{ required: true, message: "请输入标签名称", trigger: "blur" }],
        level: [{ required: true, message: "请输入标签等级", trigger: "blur" }]
      }
    };
  },
  methods: {
    ...mapMutations([]),
    handleSizeChange() {},
    allDelete() {
      if (this.selectTag.length > 0) {
        this.deleteDialogVisible = true;
      } else {
        this.$message({
          type: "error",
          message: "请选择标签"
        });
      }
    },
    allStart() {
      if (this.selectTag.length > 0) {
        this.startDialogVisible = true;
      } else {
        this.$message({
          type: "error",
          message: "请选择标签"
        });
      }
    },
    allClose() {
      if (this.selectTag.length > 0) {
        this.stopDialogVisible = true;
      } else {
        this.$message({
          type: "error",
          message: "请选择标签"
        });
      }
    },
    handleSelectionChange(val) {
      this.selectTagId = [];
      this.selectTag = [];
      val.forEach(item => {
        this.selectTagId.push(item.id);
        this.selectTag.push(item);
      });
    },
    deleteCancle() {
      this.deleteDialogVisible = false;
    },
    handleClose() {
      this.selectTag = [];
      this.selectTagId = [];
    },
    deleteDevice(val) {
      this.selectTagId.push(val.id);
      this.selectTag.push(val);
      this.deleteDialogVisible = true;
    },
    stopOrplay(val) {
      this.selectTag = [];
      this.selectTagId = [];
      this.selectTag.push(val);
      this.selectTagId.push(val.id);
      if (val.visible === true) {
        this.isopenDesc = true;
        this.stopDialogVisible = true;
      } else {
        this.isopenDesc = false;
        this.startDialogVisible = true;
      }
    },
    init() {
      const params = {
        count: 15,
        start: 0,
        tag: ""
      };
      this.$store.dispatch("getTagList", params);
    },
    addTags() {
      this.addDialogVisible = true;
    },
    addTagsSubmit(addform) {
      let arr = [];
      arr = [this.addform];
      this.$refs[addform].validate(valid => {
        if (valid) {
          this.$store.dispatch("addTags", arr);
          this.addDialogVisible = false;
        } else {
          return false;
        }
      });
    },
    deleteOpration() {
      this.$store.dispatch("deleteTags", this.selectTagId);
      this.deleteDialogVisible = false;
    },
    stopOpration() {
      this.selectTag.forEach(item => {
        item.visible = false;
      });
      this.$store.dispatch("updateTags", this.selectTag);
      this.stopDialogVisible = false;
      this.selectTag = [];
      this.selectTagId = [];
    },
    startOpration() {
      this.selectTag.forEach(item => {
        item.visible = true;
      });
      this.$store.dispatch("updateTags", this.selectTag);
      this.startDialogVisible = false;
      this.selectTag = [];
      this.selectTagId = [];
    },
    searchTagList() {
      const params = {
        count: 15,
        start: 0,
        tag: this.tagName
      };
      this.$store.dispatch("getTagList", params);
    },
    editDevice(val) {
      this.editDialogVisible = true;
      this.editform = val;
    },
    editSubmit() {
      this.editDialogVisible = false;
      let arr = [];
      arr.push(this.editform);
      this.$store.dispatch("updateTags", arr);
    },
    handleCurrentChange(val) {
      let start = 0;
      if (val !== 1) {
        start = (val - 1) * 15;
      }
      const params = {
        count: 15,
        start: start,
        tag: this.tagName
      };
      this.$store.dispatch("getTagList", params);
    }
  },
  mounted() {
    this.init();
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      tagsList: state => state.middleware.tagsList,
      tagListPagination: state => state.middleware.tagListPagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style scoped lang="less">
.add {
  margin: 10px;
  .btn-style {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
  }
}
.labelcontainer {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #e6ecf6;
  .box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background: white;
  }
}

.searchBox {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .input-search {
    width: 20%;
    margin-right: 10px;
  }
}
.handleBox {
  /*height: 8%;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .add {
    display: flex;
    flex-direction: row;
    background: white;
  }
}
.tableBox {
  height: auto;
  width: 100%;
  .itemHandleBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0% 10px;
    justify-content: space-between;
  }
}
.pagination {
  margin-top: 10px;
}
</style>
<style>
.add .el-button--primary {
  background-color: white !important;
  border-color: white;
  color: #303133;
  font-size: 15px;
  margin: 10px;
}
</style>
