<template>
  <div class="people-capture">
    <div class="people-inner">
      <div class="category-container">
        <div class="container-title">新增人像库</div>
      </div>
      <div class="form-container">
        <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
          <el-form-item required label="所属组织架构" label-width="150px">
            <el-input v-model="formLabelAlign.name" placeholder="请选择所属组织架构" aria-rowindex="500px"></el-input>
          </el-form-item>
          <el-form-item required label="库名" label-width="150px" class="name-style">
            <el-input v-model="formLabelAlign.region" placeholder="请输入库名"></el-input>
          </el-form-item>
<!--          <el-form-item label="人像数" label-width="150px">-->
<!--            <el-input v-model="formLabelAlign.type" placeholder="这个暂时。。。"></el-input>-->
<!--          </el-form-item>-->
          <el-form-item label="备注" label-width="150px">
            <el-input type="textarea" v-model="formLabelAlign.type" class="area-box" placeholder="请输入"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      labelPosition: 'right',
      tableData: [],
    };
  },
  methods: {
    generateData: function () {
      for (let i = 0; i < 8; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-big.jpg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    generatePeopleData: function () {
      for (let i = 0; i < 5; i++) {
        let o = new Object();
        o.id = i;
        o.img = require("@/assets/images/mcp/test-small.jpeg");
        o.name = `张三${i}`;
        o.nikeName = `李四${i}`;
        o.cardId = `1230000000${i}`;
        o.createTime = `2020-10-${i}`;
        this.tableData.push(o);
      }
    },
    handleClickActiveBtn: function (type) {
      if (type == "pic") {
        this.active = true;
      } else {
        this.active = false;
      }
    },
    ...mapMutations([])
  },

  mounted() {
    // this.generateData();
    this.generatePeopleData();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less"     scoped>
@import "~@/assets/less/mcp/resourceManagement/peopleLibrary.less";
</style>
