.starfish-homepage {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .starfish-homepage-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;
        padding: 20px;
        box-sizing: border-box;

        .starfish-homepage-image-container {
            background-image: url('~@/assets/images/starfish/starfish-homepage-bg.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }
    }
}