<template>
  <div class="dashboard-container">
    <div class="all-panel">
      <div class="top">
        <div class="top-left"><top-left></top-left></div>
        <div class="top-right"><top-right></top-right></div>
      </div>
      <div class="middle">
        <div class="middle-left"><middle-left></middle-left></div>
        <div class="middle-right"><middle-right></middle-right></div>
      </div>
      <div class="bottom">
        <div><bottom></bottom></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import topLeft from '@/components/tracking/topLeft.vue'
import topRight from '@/components/tracking/topRight.vue'
import middleLeft from '@/components/tracking/middleLeft.vue'
import middleRight from '@/components/tracking/middleRight.vue'
import bottom from '@/components/tracking/bottom.vue'
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {
    topLeft,
    topRight,
    middleLeft,
    middleRight,
    bottom
  }
};
</script>

<style lang="less" scoped>
@import "../../assets/less/tracking/trackingDashboard.less";
</style>
