<template>
  <div class="1"></div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {};
  },
  methods: { ...mapActions([]), ...mapMutations([]) },

  mounted() {
    Vue.ls.clear();
    let r = this.$route.query.token;
    if (r) {
      Vue.ls.set("token", r);
      this.$store.dispatch("getUserName", r);
    } else {
      alert("请传入token");
    }
  },
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang='less'>
</style>
