<template>
  <div class="starfish-homepage">
    <div class="starfish-homepage-inner">
      <div class="starfish-homepage-image-container"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  methods: { ...mapActions([]), ...mapMutations([]) },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/starfishHomepage.less";
</style>
