<template>
  <div class="basecontainer">
    <div class="treeBox">
      <el-tree
        style="height: 100%"
        :data="districtTree"
        :props="props"
        show-checkbox
        @check="treehandleCheckChange"
      ></el-tree>
    </div>
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">姓名</div>
            <el-input v-model="queryParams.name" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">昵称</div>
            <el-input v-model="queryParams.nickname" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">封号时间</div>
            <el-date-picker
              v-model="sealdatepick"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              @change="sealchangeDate"
              value-format="yyyy-MM-ddTHH:mm:ss"
            ></el-date-picker>
          </div>

          <div class="rightBtnGroup">
            <el-button type="primary" style="margin-left: 10px" @click="query">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>

        <div class="firstrow" style="margin-top: 10px">
          <div class="inputBox">
            <div class="title">身份证号</div>
            <el-input
              v-model="queryParams.identityCard"
              clearable=""
            ></el-input>
          </div>

          <div class="inputBox">
            <div class="title">手机号</div>
            <el-input v-model="queryParams.mobile" clearable=""></el-input>
          </div>

          <div class="inputBox">
            <div class="title">自动解封时间</div>
            <el-date-picker
              v-model="autodatepick"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              @change="autochangeDate"
              value-format="yyyy-MM-ddTHH:mm:ss"
            ></el-date-picker>
          </div>
        </div>

        <div class="firstrow">
          <!-- <el-button @click="moreShowLabel" type="text" icon="el-icon-unlock" style="margin-left:20px;">解封</el-button> -->
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="peoplelist.results"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            prop="districtName"
            label="主属小区"
            width="85"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="title"
            label="人员类别"
            align="center"
            :formatter="getPeopleType"
          ></el-table-column>
          <el-table-column
            prop="nickname"
            label="昵称"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="name"
            label="姓名"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="identityCard"
            label="身份证号"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="nation"
            label="民族"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="registerAddress"
            label="户籍所在地"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="mobile"
            label="联系方式"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="注册时间"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="banneder"
            label="封号人"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="bannedTime"
            label="封号时间"
            align="center"
          ></el-table-column>
          <el-table-column align="center" label="操作" width="180">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleDetail(scope.row)"
              >
                详情
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleUnseal(scope.row)"
              >
                解封
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryParams.count"
        layout="prev, pager, next,total"
        :total="peoplelist.pagination.total"
      ></el-pagination>

      <el-dialog title="提示" :visible.sync="mordialogVisible" width="30%">
        <span>{{ dialogtext }}</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="mordialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="moreModifyConfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="解封"
        :visible.sync="addDialogVisible"
        width="20%"
        center
      >
        <span>确认解封?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="unsealConfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="deldialogVisible" width="30%">
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deldialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delConfirm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      params: {
        name: "",
        deviceIP: ""
      },
      queryParams: {
        start: 0,
        count: 10,
        districtIds: [],
        autoEnd: "",
        autoStart: "",
        mobile: "",
        name: "",
        nickname: "",
        sealEnd: "",
        sealStart: "",
        userStatus: 1,
        identityCard: ""
      },
      unsealParams: {
        userUrn: null
      },
      hightcameralist: [],
      tabledata: [{}],
      sealdatepick: [],
      autodatepick: [],
      dialogtext: "cesgu",
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      mordialogVisible: false,
      deldialogVisible: false,
      props: {
        label: "name",
        children: "children"
      },
      peoplelist: {
        pagination: {
          total: 0
        }
      }
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = [];
      val.forEach((element) => {
        let temproject = {};
        temproject.id = element.id;
        this.multipleSelection.push(temproject);
      });
    },
    handleChange(index) {
      this.queryParams.start = (index - 1) * this.queryParams.count;
      this.getPeoplelist();
    },
    moreShowLabel() {
      if (this.multipleSelection.length > 0) {
        this.mordialogVisible = true;
        this.dialogtext = "确认批量显示这些标签?";
        this.multipleSelection.forEach((item) => {
          item.isShow = 1;
        });
      } else {
        Message.success("请选择要操作的数据");
      }

      // this.addDialogVisible =  true;
    },
    moreHideLabel() {
      if (this.multipleSelection.length > 0) {
        this.mordialogVisible = true;
        this.dialogtext = "确认批量隐藏这些标签?";
        this.multipleSelection.forEach((item) => {
          item.isShow = 0;
        });
      } else {
        Message.success("请选择要操作的数据");
      }

      // this.addDialogVisible =  true;
    },
    moreModifyConfirm() {
      this.$store
        .dispatch("modifyLable", this.multipleSelection)
        .then((res) => {
          this.mordialogVisible = false;
          if (res.msg == "成功") {
            Message.success("批量操作成功");
            this.multipleSelection = []; //操作完成后数组置空
            this.getPeoplelist();
          } else {
            Message.success(res.msg);
          }
        });
    },
    morDel() {
      if (this.multipleSelection.length > 0) {
        this.deldialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    },
    delConfirm() {
      let arr = [];
      this.multipleSelection.forEach((item) => {
        arr.push(item.id);
      });
      this.$store.dispatch("delLabel", { id: arr }).then((res) => {
        this.deldialogVisible = false;
        if (res.msg == "成功") {
          Message.success("已删除");
          this.multipleSelection = []; //操作完成后数组置空
          this.getPeoplelist();
        } else {
          Message.success(res.msg);
        }
      });
    },

    sealchangeDate(val) {
      this.queryParams.sealStart = val[0];
      this.queryParams.sealEnd = val[1];
    },
    autochangeDate(val) {
      this.queryParams.autoStart = val[0];
      this.queryParams.autoEnd = val[1];
    },
    handleEdit() {
      this.editDialogVisible = true;
    },
    handleDetail(item) {
      this.$router.push({
        path: "/r/peoplemanage/forbiddenDetail",
        query: {
          userUrn: item.userUrn
        }
      });
    },
    getPeoplelist() {
      this.queryParams.districtIds = Vue.ls.get("districtIds");
      this.$store.dispatch("redident_page", this.queryParams).then((res) => {
        this.peoplelist = res;
      });
    },
    query() {
      this.queryParams.start = 0;
      this.getPeoplelist();
    },
    reset() {
      this.queryParams.name = null;
      this.queryParams.nickname = null;
      this.queryParams.mobile = null;
      this.queryParams.identityCard = null;
      this.sealdatepick = [];
      this.autodatepick = [];
      this.query();
    },
    delLabel() {
      this.$store.dispatch("delLabel", { id: [1] });
    },

    treehandleCheckChange: function (data, checked, indeter, fuck) {
      console.log(data);
      let selectedNodes = checked.checkedNodes.filter((item) => {
        if (item.type == "小区") {
          return item.districtId;
        }
      });
      Vue.ls.set(
        "districtIds",
        selectedNodes.map((item) => item.districtId)
      );
      this.queryParams.districtIds = Vue.ls.get("districtIds");
      this.getPeoplelist();
      // this.getPeoplelist();
    },
    getPeopleType(val) {
      if (val.personType == 0) {
        return "来沪人员";
      } else {
        return "人沪分离人员";
      }
    },
    handleUnseal(row) {
      this.addDialogVisible = true;
      this.unsealParams.userUrn = row.userUrn;
    },
    unsealConfirm() {
      this.$store.dispatch("redident_unseal", this.unsealParams).then((res) => {
        if (res.result) {
          Message.success("已解封");
          this.getPeoplelist();
          this.addDialogVisible = false;
        } else {
          Message.success(res.error.message);
        }
      });
    }
  },

  mounted() {
    // this.queryParams.districtIds = Vue.ls.get("districtIds");
    this.getPeoplelist();
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("villageDistrictId")
    });
  },

  computed: {
    ...mapState({
      // peoplelist: state => state.ronghe.peoplelist,
      districtTree: (state) => state.ronghe.districtTree
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  // background: #eaeef4;
  display: flex;
  flex-direction: row;
}
.treeBox {
  height: 100%;
  width: 20%;
  border-right: 1px solid #eeeeee;
  background: white;
}
.highPointTabs {
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  // padding-right: 30px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 30px;
    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>