<template>
    <div class="container">
        <div class="header">
            <el-button  icon = "el-icon-back" @click="goback">返回</el-button>
        </div>
        <div class="body">
            <div class="detailTile">审核信息</div>
            <div class="rowBox">
                <div class="itemBox">
                    <div class="itemname">主属小区</div>
                    <div class="itemcontent">{{peopleinfo.districtName}}</div>
                </div>
                 <div class="itemBox">
                    <div class="itemname">详细地址</div>
                    <div class="itemcontent">{{peopleinfo.address}}</div>
                </div>
                 <div class="itemBox">
                    <div class="itemname">人员类别</div>
                    <div class="itemcontent">{{getPeopleType(peopleinfo.address)}}</div>
                </div>
                 <div class="itemBox">
                    <div class="itemname">昵称</div>
                    <div class="itemcontent">{{peopleinfo.nickname}}</div>
                </div>
                 <div class="itemBox">
                    <div class="itemname">姓名</div>
                    <div class="itemcontent">{{peopleinfo.name}}</div>
                </div>
                
            </div>

            <div class="rowBox">
                <div class="itemBox">
                    <div class="itemname">身份证号</div>
                    <div class="itemcontent">{{peopleinfo.identityCard}}</div>
                </div>
                 <div class="itemBox">
                    <div class="itemname">民族</div>
                    <div class="itemcontent">{{peopleinfo.nation}}</div>
                </div>
                <div class="itemBox">
                    <div class="itemname">户籍所在地</div>
                    <div class="itemcontent">{{peopleinfo.registerAddress}}</div>
                </div>
                <div class="itemBox">
                    <div class="itemname">联系方式</div>
                    <div class="itemcontent">{{peopleinfo.mobile}}</div>
                </div>
                <div class="itemBox">
                    <div class="itemname">注册时间</div>
                    <div class="itemcontent">{{peopleinfo.createTime}}</div>
                </div>
                
            </div>
            <div class="rowBox">
                <div class="itemBox">
                    <div class="itemname">居住事由</div>
                    <div class="itemcontent">{{peopleinfo.reason}}</div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
    data(){
        return{
            userUrn:'',
           
        }
    },
    mounted(){
        this.userUrn = this.$route.query.userUrn;
        this.getDetail();
    },
    methods:{
        goback(){
            this.$router.back(-1);
        },
        getDetail(){
            this.$store.dispatch("redident_info",{userUrn:this.userUrn})
            .then(res =>{
                
            })
        },
        getPeopleType(val){
            if(val == 0){
                return "来沪人员"
            }else{
                return "人沪分离人员"
            }
        }
    },
    computed:{
        ...mapState({
            peopleinfo:state =>state.ronghe.peopleinfo
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .container{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding:0 10px;
        .header{
            height: 5%;
            width: 100%;
            border-bottom: #c1c1c1 1px solid;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .body{
            height: 95%;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 20px 30px;
            .detailTile{
                font-size: 20px;
                color: #65A7FF;
            }
            .rowBox{
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                // background: brown;
                .itemBox{
                    height:100%;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    padding: 0 10px;
                }
                .itemname{
                    height: 50%;
                    width: 100%;
                    color: #858585;
                    font-size: 17px;
                }
                .itemcontent{
                    height: 50%;
                    width: 100%;
                    color: black;
                    font-size: 17px;
                }
            }

        }
    }
</style>