<template>
    <div class="container">
        <el-tabs v-model="activeName" class="tabs" @tab-click="handleChange">
            <el-tab-pane label="居民列表" name="first" class="child">
                <peopleList style="height:100%" v-if="activeName == 'first'" ></peopleList>
            </el-tab-pane>
            <el-tab-pane label="已封号" name="second" class="child">
                <forbiddenCount v-if="activeName == 'second'"></forbiddenCount>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
// import peoplelist from "@/views/ronghe/peoplemanage/peopleList.vue";
import peopleList from './peopleList.vue';
import forbiddenCount from './forbiddenCount.vue';
export default {
    data(){
        return{
            activeName:"first"
        }
    },
    methods:{
        handleChange(val){
            this.activeName = val.name;
        }
    },
    mounted(){

    },
    
    computed:{

    },
    components:{
        peopleList,
        forbiddenCount

    }
}
</script>

<style lang="less" scoped>
    .container{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        .child{
            min-height: 100%;
            width: 100%;
        }
        .tabs{
            min-height: 100% !important;
            width: 100%;
        }
        
    }

</style>


<style>
    .el-tabs__content{
        height: 90%;
        box-sizing: border-box;
    }
</style>


