.editPeopleWarning {
  width: 100%;
  height: 100%;
  background: #142047;
  padding: 10px;
  box-sizing: border-box;
  .contrast_header {
    height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #26367f;
    .contrast_header_close {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 1s;
      img {
        width: 60%;
        height: 60%;
      }
    }
    .contrast_header_close:hover {
      transform: rotate(360deg);
      cursor: pointer;
    }
  }
  .editPeopleWarning_form {
    width: 60%;
    height: calc(100% - 30px);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    .liucheng-ruleForm {
      color: white;
    }
  }
}
.inform_header {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 300px auto;
}
.inform_header_checkbox {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 600px;
}
.inform_table {
  padding-bottom: 20px;
  box-sizing: border-box;
  @deep: ~">>>";

  @{deep} .headerRowClassName {
    background-color: #1c2e5a;
    border-bottom: 1px solid #2c7bcf;
    border-right: 1px solid #2c7bcf;
    color: white;
  }
  @{deep} .rowClass {
    background-color: #132045;
    color: white;
  }
  @{deep} .el-table td,
  @{deep} .el-table th {
    padding: 2px 0;
    // color: #35adeb;
    // font-weight:900;
  }
  @{deep} .el-table .cell,
  .el-table--border td:first-child .cell,
  .el-table--border th:first-child .cell {
    // padding: 0 5px;
    padding: 0;
    padding: 6px 2px;
  }
  @{deep} .el-table--border td,
  .el-table--border th,
  .el-table__body-wrapper
    .el-table--border.is-scrolling-left
    ~ .el-table__fixed {
    border-right: 1px solid #2c7bcf;
  }
  @{deep} .el-table td,
  .el-table th.is-leaf {
    border-bottom: 1px solid #2c7bcf;
    border-right: 1px solid #2c7bcf;
  }
  @{deep} .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #132045;
  }
  @{deep} .el-table--border::after,
  .el-table--group::after,
  .el-table::before {
    background-color: #2c7bcf;
  }
  @{deep} .el-table__empty-block {
    background-color: #142047;
  }
}
.little_input {
  width: 20px;
  margin: 0 5px;
  border: none;
  outline: none;
  text-align: center;
}
.little_input_zhu {
  color: #d70618;
}
