.editThresholdManage{
    width: 100%;
    height: 100%;
    background: #142047;
    padding: 10px;
    box-sizing: border-box;
    .contrast_header{
        height: 30px;
        line-height: 30px;
        position: relative;
        font-size: 20px;
        letter-spacing: 2px;
        color: white;
        text-align: center;
        border-bottom: 1px solid #26367f;
        .contrast_header_close{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            transition: all 1s;
            img{
                width: 60%;
                height: 60%;
            }
        }
        .contrast_header_close:hover{
            transform: rotate(360deg);
            cursor: pointer;
        }
    }
    .thresholdForm{
        width: 60%;
        height: calc(100% - 30px);
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        .thresholdFormBtn{
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -60px;
        }
    }
}
.thresholdForm_label{
    color: #5481df;
}