.warningManage{
    width: 100%;
    height: 100%;
    background: #142047;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    .warningManage_tree{
        width: 95%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: #162870;
        .warningManage_tree_input{
            height: 50px;
            line-height: 30px;
            font-size: 20px;
            text-align: center;
            color: #35adeb;
        }
        .warningManage_tree_elinput{
            height: calc(100% - 100px);
        }
    }
    .warningManage_table{
        width: 100%;
        height: 100%;
        // background-color: #35adeb;
        .warningManage_table_key{
            height: 40px;
            display: grid;
            grid-template-columns: 250px 75px 75px auto;
            grid-template-rows: 100%;
            .warningManage_tree_btn{
                height: 40px;
                line-height: 30px;
                margin-left: 20px;
            }
            .warningManage_tree_input{
                width: 250px;
                height: 40px;
                font-size: 20px;
                text-align: center;
                color: #35adeb;
            }
            .warningManage_tree_select{
                color: white;
                text-align: right;
                line-height: 30px;
            }
        }
        .filter_condition{
            width:100%;
            height: 60px;
            background-color: #151f45;
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            .condition_item_more{
                flex: 0.3;
                display: flex;
                align-items: center; 
                justify-content: center;
            }
            .condition_item{
                flex: 1;
                display: flex;
                .condition_item_label{
                    flex: 1;
                    display: flex;
                    align-items: center; 
                    justify-content: flex-start;
                    font-size: 15px;
                    color: white;
                }
                .condition_item_input{
                    flex: 6;
                    padding: 0 20px;
                    display: flex;
                    align-items: center; 
                    justify-content: center;
                }
            }
        }
        .warningManage_table_list{
            // background-color: #35adeb;
            height: calc(100% - 150px);
            @deep: ~">>>";

            @{deep} .headerRowClassName {
                background-color: #1c2e5a;
                border-bottom: 1px solid #2c7bcf;
                border-right: 1px solid #2c7bcf;
                color: white;
            }
            @{deep} .rowClass {
                background-color: #132045;
                color: white;
            }
            // @{deep} .el-table td,
            @{deep} .el-table th {
                // padding: 2px 0;
                // color: #35adeb;
                font-weight:900;
            }
            @{deep} .el-table .cell,
            .el-table--border td:first-child .cell,
            .el-table--border th:first-child .cell {
            // padding: 0 5px;
                padding: 0;
                padding: 3px 2px;
                font-size: 15px;
            }
            @{deep} .el-table--border td,
            .el-table--border th,
            .el-table__body-wrapper
            .el-table--border.is-scrolling-left
            ~ .el-table__fixed {
                border-right: 1px solid #2c7bcf;
            }
            @{deep} .el-table td,
            .el-table th.is-leaf {
                border-bottom: 1px solid #2c7bcf;
                border-right: 1px solid #2c7bcf;
            }
            @{deep} .el-table--enable-row-hover .el-table__body tr:hover > td {
                background-color: #132045;
            }
            @{deep} .el-table--border::after,
            .el-table--group::after,
            .el-table::before {
                background-color: #2c7bcf;
            }
            @{deep} .el-table__empty-block{
                background-color:#142047;
            }
        }
        .pagination-container {
            height: 50px;
            // margin: 20px auto 0 auto;
            text-align: center;
            @deep: ~">>>";
            @{deep} .el-pagination .el-pager li.active {
              background-color: #2b7bce;
              color: white;
            }
            @{deep} .el-pagination__total {
              color: white;
            }
        }
    }
    @deep: ~">>>";
    @{deep} .el-dialog__header {
        background-color: #192a5d;
        .el-dialog__title {
          color: white;
        }
    }
    @{deep} .el-dialog__body {
        background-color: #192a5d;
        .el-form-item__label {
            color: white;
        }
    }
    @{deep} .el-dialog__footer {
        background-color: #192a5d;
    }
}
.thresholdFormBtn{
    height: 50px;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}
.thresholdForm_label{
    color: white;
}
