<template>
    <div class="container">
        <div class="header">
            <el-button  icon = "el-icon-back" @click="goback">返回</el-button>
        </div>
        <div class="body">
            <div class="detailTile">详情信息</div>
            <div class="rowBox">
                <div class="itemBox">
                    <div class="itemname">标题</div>
                    <div class="itemcontent">{{detail.homepageThrObject.title}}</div>
                    <!-- <div class="itemcontent">ceshi</div> -->
                </div>
                 <div class="itemBox">
                    <div class="itemname">内容</div>
                    <div class="itemcontent">{{detail.homepageThrObject.content}}</div>
                    <!-- <div class="itemcontent">爱上砥砺奋进奥斯卡了附近阿斯顿发垃圾啊伤到了附近阿里阿里斯顿交房了</div> -->
                </div>
                 <div class="itemBox">
                    <div class="itemname">附件</div>
                    <img :src="imgUrl" alt="" class="img">
                </div>
            </div>

            
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
    data(){
        return{
            id:'',
            detail:{
                homepageThrObject:{
                    title:""

                },

            },
            imgUrl:null,
        }
    },
    mounted(){
        this.id = this.$route.query.id;
        this.getDetail();
    },
    methods:{
        goback(){
            this.$router.back(-1);
        },
        getDetail(){
            this.$store.dispatch("homePage_getHomepage",{id:this.id,type:'2'})
            .then(res =>{
                this.detail = res.result;
                this.imgUrl = this.imgPre + res.result.filePaths[0];
                // this.imgUrl = "http://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/" + res.result.filePaths[0];
            })
        },
        getPeopleType(val){
            if(val == 0){
                return "来沪人员"
            }else{
                return "人沪分离人员"
            }
        }
    },
    computed:{
        ...mapState({
            peopleinfo:state =>state.ronghe.peopleinfo
        }),
        imgPre:function(){
            return process.env.VUE_APP_RONGHE_IMG_PRE;
        }
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .container{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding:0 10px;
        .header{
            height: 5%;
            width: 100%;
            border-bottom: #c1c1c1 1px solid;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .body{
            height: 95%;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 20px 30px;
            .detailTile{
                font-size: 20px;
                color: #65A7FF;
            }
            .rowBox{
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                // background: brown;
                .itemBox{
                    height:100%;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    padding: 0 10px;
                }
                .itemname{
                    height: 50%;
                    width: 100%;
                    color: #858585;
                    font-size: 17px;
                }
                .itemcontent{
                    height: 50%;
                    width: 100%;
                    color: black;
                    font-size: 17px;
                }
            }

        }
        .img{
            height: 150px;
            width: 150px;
            background-size: 100% 100%;
        }
    }
</style>