.basicdata_con {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 20px auto;
}

li {
  float: left;
  margin: 0 5px;
  height: 96px;
}

.hex {
  overflow: hidden;
  display: block;
  width: 100px;
  height: 116px;
  transform: rotate(-60deg) skewY(30deg);
}

.hexIn {
  display: block;
  width: 100px;
  height: 116px;
  text-align: center;
  transform: skewY(-30deg) rotate(60deg);
}

li:nth-child(1) {
  margin-left: 100px;
}

li:nth-child(3) {
  margin-left: 45px;
}
.bg-primary{
  background: url('../../../images/middleware/lan@2x.png') no-repeat;
  background-size: 100% 100%;
  .d_num{
    padding-top: 30px;
    color: #7ebfda;
  }
  .d_title{
    padding-top: 12px;
    color: white;
    font-size: 14px;
  }
}
.bg-warning{
  background: url('../../../images/middleware/huang@2x.png') no-repeat;
  background-size: 100% 100%;
  .d_num{
    padding-top: 30px;
    color: #f0c546;
  }
  .d_title{
    padding-top: 12px;
    color:#f0c546;
    font-size: 14px;
  }
}