.jilianResource{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3,33.33%);
    grid-template-rows: 50px calc(100% - 50px);
    .jilianResourceItem{
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;
        color: white;
        font-size: 22px;
        font-weight: 600;
    }
}