.videoConcatbg{
    background: url('../../../images/middleware/组\ 416@2x.png') no-repeat;
    background-position: 16% 78%;
}
.videoConcat{
    width: 100%;
    height: 100%;
    // background: olive;
}
.hideIcon{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 50px;
    background-color: #0f2953;
}