<template>
  <div class="come-add-detail">
    <el-form :model="detailForm" ref="detailForm" :rules="rules">
      <el-form-item label="姓名" label-width="110px" prop="name">
        <el-input v-model="detailForm.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="身份证号码" label-width="110px" prop="idCard">
        <el-input
          rows="5"
          v-model="detailForm.idCard"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="户籍地址" label-width="110px" prop="address">
        <el-input
          rows="5"
          v-model="detailForm.address"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="手机号" label-width="110px" prop="mobile">
        <el-input
          rows="5"
          v-model="detailForm.mobile"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="来源地" label-width="110px" prop="origin">
        <el-input
          rows="5"
          v-model="detailForm.origin"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="来源地地址" label-width="110px" prop="originAddress">
        <el-input
          rows="5"
          v-model="detailForm.originAddress"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item
        label="离开来源地时间"
        label-width="110px"
        prop="originTime"
      >
        <el-date-picker
          v-model="detailForm.originTime"
          type="datetime"
          placeholder="选择日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="沿途是否停留" label-width="110px" prop="stayStatus">
        <el-radio v-model="detailForm.stayStatus" label="0">否</el-radio>
        <el-radio v-model="detailForm.stayStatus" label="1">是</el-radio>
      </el-form-item>
      <el-form-item
        label="停留地点"
        label-width="110px"
        v-if="detailForm.stayStatus === 1"
        prop="stayAddress"
      >
        <el-input
          rows="5"
          v-model="detailForm.stayAddress"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item
        label="停留时间"
        label-width="110px"
        v-if="detailForm.stayStatus === 1"
        prop="stayTime"
      >
        <el-date-picker
          v-model="detailForm.stayTime"
          type="date"
          placeholder="选择日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item
        label="来沪落脚点"
        label-width="110px"
        prop="shanghaiAddress"
      >
        <el-input
          rows="5"
          v-model="detailForm.shanghaiAddress"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="交通方式" label-width="110px" prop="traffic">
        <el-select v-model="detailForm.traffic" placeholder="请选择">
          <el-option
            v-for="item in trafficList"
            :key="item.id"
            :label="item.code"
            :value="item.code"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="航班/车次/牌照" label-width="110px" prop="trafficNo">
        <el-input
          rows="5"
          v-model="detailForm.trafficNo"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="座位号" label-width="110px" prop="seatNo">
        <el-input
          rows="5"
          v-model="detailForm.seatNo"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item
        label="是否是密接者"
        label-width="110px"
        prop="receiverType"
      >
        <el-radio v-model="detailForm.receiverType" label="0">否</el-radio>
        <el-radio v-model="detailForm.receiverType" label="1">是</el-radio>
      </el-form-item>
      <el-form-item
        label="最后接触时间"
        label-width="110px"
        v-if="detailForm.receiverType === 1"
        prop="receiverTime"
      >
        <el-date-picker
          v-model="detailForm.receiverTime"
          type="date"
          placeholder="选择日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="当前体温" label-width="110px" prop="temperature">
        <el-input
          rows="5"
          v-model="detailForm.temperature"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="有无咳嗽" label-width="110px" prop="coughStatus">
        <el-radio v-model="detailForm.coughStatus" label="0">无</el-radio>
        <el-radio v-model="detailForm.coughStatus" label="1">有</el-radio>
      </el-form-item>
      <el-form-item label="有无气促" label-width="110px" prop="breathStatus">
        <el-radio v-model="detailForm.breathStatus" label="0">无</el-radio>
        <el-radio v-model="detailForm.breathStatus" label="1">有</el-radio>
      </el-form-item>
      <el-form-item
        label="是否做过核酸"
        label-width="110px"
        prop="detectionStatus"
      >
        <el-radio v-model="detailForm.detectionStatus" label="0">无</el-radio>
        <el-radio v-model="detailForm.detectionStatus" label="1">有</el-radio>
      </el-form-item>
      <el-form-item
        v-if="detailForm.detectionStatus == 1"
        label="核酸检测时间"
        label-width="110px"
        prop="detectionTime"
      >
        <el-date-picker
          v-model="detailForm.detectionTime"
          type="date"
          placeholder="选择日期"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd"
        ></el-date-picker>
      </el-form-item>
      <el-form-item
        v-if="detailForm.detectionStatus == 1"
        label="核酸检测结果"
        label-width="110px"
        prop="breathStatus"
      >
        <el-select v-model="detailForm.detectionResult" placeholder="请选择">
          <el-option
            v-for="item in hesuanResultList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="转归" label-width="110px" prop="districtIds">
        已选：{{ detailForm.outcome }}
        <el-tree
          :data="districtTree"
          :props="defaultProps"
          @node-click="handleZhuanguiClick"
        ></el-tree>
      </el-form-item>
      <el-form-item label="登记人" label-width="110px" prop="createName">
        <el-input rows="5" v-model="detailForm.createName"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('detailForm')">
          立即添加
        </el-button>
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      detailForm: {
        originName: "",
        outcome: "",
        detectionStatus: "",
        detectionTime: "",
        detectionResult: ""
      },
      hesuanResultList: [{ value: "阴性" }, { value: "阳性" }],
      rules: {
        name: [{ required: true, message: "请输入姓名", trigger: "blur" }],
        idCard: [
          { required: true, message: "请输入身份证号", trigger: "blur" }
        ],
        address: [
          { required: true, message: "请输入户籍地址", trigger: "blur" }
        ],
        mobile: [{ required: true, message: "请输入手机号", trigger: "blur" }],
        origin: [{ required: true, message: "请输入来源地", trigger: "blur" }],
        originAddress: [
          { required: true, message: "请输入来源地地址", trigger: "blur" }
        ],
        originTime: [
          { required: true, message: "请选择离开来源地时间", trigger: "blur" }
        ],
        stayStatus: [
          { required: true, message: "请输入沿途是否停留", trigger: "blur" }
        ],
        shanghaiAddress: [
          { required: true, message: "请输入来沪落脚点", trigger: "blur" }
        ],
        traffic: [
          { required: true, message: "请选择交通方式", trigger: "blur" }
        ],
        trafficNo: [
          { required: true, message: "请输入航班/车次/牌照", trigger: "blur" }
        ],
        seatNo: [{ required: true, message: "请输入座位号", trigger: "blur" }],
        receiverType: [
          { required: true, message: "请是否密接者", trigger: "blur" }
        ],
        temperature: [
          { required: true, message: "请输入当前体温", trigger: "blur" }
        ],
        coughStatus: [
          { required: true, message: "请选择有无咳嗽", trigger: "blur" }
        ],
        breathStatus: [
          { required: true, message: "请选择有无气促", trigger: "blur" }
        ],
        outcome: [{ required: true, message: "请选择转归", trigger: "blur" }],
        createName: [
          { required: true, message: "请填写登记人", trigger: "blur" }
        ]
      },
      defaultProps: {
        children: "children",
        label: "name"
      },
      value: ""
    };
  },
  methods: {
    ...mapMutations([]),
    handleNodeClick(val) {
      this.detailForm.origin = val.districtId;
      this.detailForm.originName = val.name;
    },
    handleZhuanguiClick(val) {
      this.detailForm.districtId = val.districtId;
      // this.detailForm.outcome = [val.districtId];
      this.detailForm.outcome = val.name;
    },
    submitForm(formName) {
      let time = "";
      time = `${this.detailForm.originTime.getFullYear()}-${
        this.detailForm.originTime.getMonth() + 1
      }-${this.detailForm.originTime.getDate()} 0:00:00`;
      this.detailForm.originTime = time;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$store.dispatch("savecomehuPerson", this.detailForm);
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  },

  mounted() {
    this.$store.dispatch("getsomeDatas", { dictGroup: "TRAFFIC" });
    this.$store.dispatch("district_getDistrictTree");
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      trafficList: (state) => state.ronghe.trafficList,
      districtTree: (state) => state.ronghe.districtTree
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.come-add-detail {
  width: 50%;
  margin: 0 auto;
}
</style>
