<template>
  <div class="discuss-list-container">
    <div class="list-container-left">
      <el-tree
        style="height: 100%"
        :data="districtTree"
        :props="props"
        @node-click="handleNodeClick"
      ></el-tree>
    </div>
    <div class="list-container-right">
      <div class="list-container-right-top">
        <el-form
          :inline="true"
          :model="searchForm"
          ref="searchForm"
          class="demo-form-inline"
        >
          <el-form-item label="姓名" prop="name">
            <el-input v-model="searchForm.name" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="身份证号" prop="idCard">
            <el-input v-model="searchForm.idCard" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="手机号" prop="mobile">
            <el-input v-model="searchForm.mobile" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="来源地" prop="origin">
            <el-input v-model="searchForm.origin" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="离开来源地时间 " required prop="dateRange">
            <el-col :span="11">
              <el-date-picker
                v-model="searchForm.dateRange"
                type="daterange"
                range-separator="至"
                value-format="yyyy-MM-dd HH:hh:ss"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              ></el-date-picker>
            </el-col>
          </el-form-item>
          <el-form-item>
            <el-button type="default" @click="onReset('searchForm')">
              重置
            </el-button>
            <el-button type="primary" @click="onSearch">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="list-container-right-middle">
        <div class="delete" @click="addPerson">
          <i class="el-icon-plus"></i>
          <span>新增人员</span>
        </div>
      </div>
      <div class="list-container-right-bottom">
        <el-table
          ref="multipleTable"
          :data="comehuList"
          border
          tooltip-effect="dark"
          style="width: 95%; margin: 0 auto"
          @selection-change="handleSelectionChange"
        >
          <el-table-column prop="name" label="姓名"></el-table-column>
          <el-table-column prop="idCard" label="身份证号"></el-table-column>
          <!-- <el-table-column prop="age" label="年龄"></el-table-column> -->
          <el-table-column prop="mobile" label="手机号"></el-table-column>
          <el-table-column prop="origin" label="来源地"></el-table-column>
          <el-table-column
            prop="originTime"
            label="离开来源地时间"
          ></el-table-column>
          <el-table-column
            prop="stayStatus"
            label="沿途是否停留"
          ></el-table-column>
          <el-table-column prop="stayTime" label="停留时间"></el-table-column>
          <el-table-column prop="traffic" label="交通方式"></el-table-column>
          <el-table-column
            prop="receiverType"
            label="是否密接者"
          ></el-table-column>
          <el-table-column
            prop="receiverTime"
            label="最后接触时间"
          ></el-table-column>
          <el-table-column prop="temperature" label="体温"></el-table-column>
          <el-table-column
            prop="coughStatus"
            label="有无咳嗽"
          ></el-table-column>
          <el-table-column
            prop="breathStatus"
            label="有无气促"
          ></el-table-column>
          <el-table-column prop="outcome" label="转归"></el-table-column>
          <el-table-column prop="createName" label="登记人"></el-table-column>
          <el-table-column prop="createTime" label="登记时间"></el-table-column>
          <el-table-column label="操作" width="100px">
            <template slot-scope="scope">
              <div class="btn-container">
                <img
                  style="width: 28px"
                  @click="handleSeeDetail(scope.$index, scope.row)"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E8%AF%A6%E6%83%85.png"
                  alt=""
                  srcset=""
                />
              </div>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            :page-size="searchForm.count"
            layout="prev, pager, next"
            :total="comehuListPagination.total"
            @current-change="handleChange"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      cityList: [{ value: "上海" }],
      dialogTableVisible: true,
      detailForm: {
        name: "",
        reason: "",
        remark: ""
      },
      idList: "",
      searchForm: {
        start: 0,
        count: 10,
        districtIds: []
      },
      selectedRows: [],
      formInline: { top: "", date1: "", date2: "", user: "", region: "" },
      tableData: [],
      props: {
        label: "name",
        children: "children"
      }
    };
  },
  methods: {
    handleChange(index) {
      this.searchForm.start = (index - 1) * this.searchForm.count;
      this.$store.dispatch("come_hu_list", this.searchForm);
    },
    handleRemarkPermit: function(val) {
      this.$store.dispatch("account_assembly_setReleaseStatus", {
        releaseStatus: val.releaseStatus == 1 ? 2 : 1,
        uniqueId: val.uniqueId
      });
    },
    addPerson: function() {
      this.$router.push("/r/comeHu/add");
    },
    handleSeeDetail: function(...arg) {
      let [, { id }] = [...arg];
      this.$router.push(`/r/comeHu/comeHuDetail?id=${id}`);
    },
    handleSelectionChange: function(val) {
      this.selectedRows = val;
      let idList = val.map(item => {
        return item.uniqueId;
      });
      this.idList = idList.join(",");
    },
    onSearch: function() {
      this.searchForm.start = 0;
      if (this.searchForm.dateRange.length > 0) {
        this.searchForm.startTime = this.searchForm.dateRange[0];
        this.searchForm.endTime = this.searchForm.dateRange[1];
      }
      this.$store.dispatch("come_hu_list", this.searchForm);
    },
    onReset: function(formName) {
      this.$refs[formName].resetFields();
    },
    // handleCheckChange: function (data) {
    //   console.log(data);
    //   console.log(data.districtId);
    //   this.searchForm.districtIds = [data.districtId];
    //   this.$store.dispatch("come_hu_list", this.searchForm);
    // },
    handleCheckChange(data, checked, indeterminate) {
      console.log(data, checked, indeterminate);
      // this.searchForm.districtIds = [data.districtId];
      // this.$store.dispatch("come_hu_list", this.searchForm);
    },
    handleNodeClick(data) {
      console.log(data);
      this.searchForm.districtIds = [data.districtId];
      this.$store.dispatch("come_hu_list", this.searchForm);
    },
    loadNode(node, resolve) {
      console.log(node);
      resolve[{ name: "123" }];
    },
    ...mapMutations([])
  },

  mounted() {
  
    this.$store.dispatch("come_hu_list", this.searchForm);
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("districtIds")
    });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      districtTree: state => state.ronghe.districtTree,
      comehuList: state => state.ronghe.comehuList,
      comehuListPagination: state => state.ronghe.comehuListPagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.discuss-list-container {
  box-sizing: border-box;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 15% 1fr;
  height: 100%;
  grid-template-rows: 1fr;
  .list-container-left {
    border-right: 1px solid #eeeeee;
  }

  .list-container-right {
    box-sizing: border-box;
    padding: 0 5px;
    .list-container-right-middle {
      display: flex;
      width: 95%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      .zhiding,
      .cancel-zhiding {
        cursor: pointer;
        margin-right: 20px;
      }
      .zhiding,
      .cancel-zhiding,
      .delete {
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
    .list-container-right-bottom {
      .pagination-container {
        text-align: center;
        margin-top: 10px;
      }
      width: 100%;
      .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
</style>
