<template>
  <div class="reportDetail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/r/comeHu/comeHuList' }">
        首页
      </el-breadcrumb-item>
      <!-- <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
      <el-breadcrumb-item>活动列表</el-breadcrumb-item>
      <el-breadcrumb-item>活动详情</el-breadcrumb-item> -->
    </el-breadcrumb>
    <div class="reportInfo">
      <div class="reportTitle">公告信息</div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">姓名</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.name }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">身份证号</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.idCard }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">户籍地址</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.origin }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">手机号</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.mobile }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">创建时间</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.createTime }}</div>
        </div>
      </div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">来源地</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.originAddress }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">离开来源地时间</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.originTime }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">沿途是否停留</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.stayStatus }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">停留地点</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.stayAddress }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">停留时间</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.stayTime }}</div>
        </div>
      </div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">来沪落脚点</div>
          <div class="reportInfoboxitemCon">
            {{ comehuInfo.shanghaiAddress }}
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">交通方式</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.traffic }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">是否密接者</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.receiverType }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">最后接触时间</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.receiverTime }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">体温</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.temperature }}</div>
        </div>
      </div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">有无咳嗽</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.coughStatus }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">有无气促</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.breathStatus }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">转归</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.outcome }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">登记人</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.createName }}</div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">登记时间</div>
          <div class="reportInfoboxitemCon">{{ comehuInfo.createTime }}</div>
        </div>
      </div>
      <div class="reportInfobox">
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">是否做过核酸检测</div>
          <div class="reportInfoboxitemCon">
            {{ comehuInfo.detectionStatus | detectionStatusFilter }}
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">核酸检测时间</div>
          <div class="reportInfoboxitemCon">
            {{ comehuInfo.detectionTime }}
          </div>
        </div>
        <div class="reportInfoboxitem">
          <div class="reportInfoboxitemTile">核酸检测结果</div>
          <div class="reportInfoboxitemCon">
            {{ comehuInfo.detectionResult }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      textarea: ""
    };
  },
  props: [],
  methods: { ...mapMutations([]) },
  filters: {
    detectionStatusFilter(val) {
      console.log(val);
      if (val == 1) {
        return "是";
      } else {
        return "否";
      }
    }
  },
  created() {},
  mounted() {
    this.$store.dispatch("come_hu_detail", {
      id: this.$route.query.id
    });
  },
  watch: {},
  computed: {
    ...mapState({
      comehuInfo: (state) => state.ronghe.comehuDetail
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.reportDetail {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.reportInfo {
  padding: 10px 20px;
}
.reportTitle {
  height: 50px;
  line-height: 50px;
  color: #65a1da;
}
.reportInfobox {
  width: 100%;
  height: 100px;
  display: flex;
  .reportInfoboxitem {
    flex: 1;
    .reportInfoboxitemTile {
      height: 50px;
      line-height: 50px;
      color: #939091;
    }
    .reportInfoboxitemCon {
      height: 150px;
    }
  }
}
</style>
