<template>
  <div class="basecontainer">
    <el-row style="background-color:#ffffff">
      <el-col :span="5">
        <el-row style="margin-top:10px;margin-bottom:10px;">
          <el-col :span="15">
            <el-input
              placeholder="输入关键字进行过滤"
              v-model="filterText"
            ></el-input>
          </el-col>
          <el-col :span="5">
            <el-button @click="handleSearchDistrict" type="primary">
              搜索
            </el-button>
          </el-col>
        </el-row>
        <el-tree
          :highlight-current="true"
          :data="districtList"
          node-key="id"
          default-expand-all
          :props="defaultProps"
          @node-click="handleNodeClick"
        ></el-tree>
      </el-col>
      <el-col :span="19">
        <div class="highPointTabs">
          <div class="headerBox">
            <div class="firstrow">
              <div class="inputBox">
                <div class="title">高点名称</div>
                <el-input v-model="queryparams.customName"></el-input>
              </div>
              <div class="inputBox">
                <div class="title">设备IP</div>
                <el-input v-model="queryparams.Ip"></el-input>
              </div>
              <el-button
                type="primary"
                style="margin-left:10px;"
                @click="query"
              >
                查询
              </el-button>
              <el-button @click="reset">重置</el-button>
            </div>

            <div class="firstrow">
              <el-button
                @click="add"
                type="text"
                icon="el-icon-plus"
                style="margin-left:20px;"
              >
                新增高点
              </el-button>
              <el-button
                @click="moredel"
                type="text"
                icon="el-icon-delete"
                style="margin-left:20px;"
              >
                批量删除
              </el-button>
              <!-- <el-button
                @click="getHCameraTmpl"
                type="text"
                icon="el-icon-download"
                style="margin-left:20px;"
              >
                下载导入模板
              </el-button> -->
              <!-- <el-upload
                        action="http://192.168.25.40:8088/arapi/api/v1/ImportHCamera"
                        :accept="fileType"
                        :limit="1"
                        :headers="header"
                        :before-upload="beforeUpload"
                        show-file-list="false"
                        :auto-upload="false"
                        
                        > -->
              <!-- <el-button
                type="text"
                icon="el-icon-download"
                style="margin-left:20px;"
                @click="showImportDialog"
              >
                导入
              </el-button> -->
              <!-- </el-upload> -->
              <el-button
                @click="exportHc"
                type="text"
                icon="el-icon-upload2"
                style="margin-left:20px;"
              >
                导出
              </el-button>
            </div>
          </div>

          <div class="tablebox">
            <el-table
              ref="multipleTable"
              :data="hightPointList.data"
              tooltip-effect="dark"
              style="width: 100%"
              border=""
              @selection-change="handleSelectionChange"
            >
              <el-table-column
                type="selection"
                align="center"
                width="55"
              ></el-table-column>
              <el-table-column
                label="序号"
                width="85"
                align="center"
                type="index"
              ></el-table-column>
              <el-table-column
                prop="customName"
                label="高点名称"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="manufacturer"
                label="所属厂商"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="longitude"
                label="经度"
                align="center"
                show-overflow-tooltip
              ></el-table-column>
              <el-table-column
                prop="latitude"
                label="纬度"
                align="center"
                show-overflow-tooltip
              ></el-table-column>
              <el-table-column
                prop="ip"
                label="设备IP"
                align="center"
                show-overflow-tooltip
              ></el-table-column>
              <el-table-column align="center" label="操作">
                <template slot-scope="scope">
                  <el-button size="mini" @click="handleEdit(scope.row)">
                    编辑
                  </el-button>
                  <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.row)"
                  >
                    删除
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <el-pagination
            @current-change="handleChange"
            background
            :page-size="queryparams.limit"
            layout="prev, pager, next,total"
            :total="hightPointList.totalAll"
          ></el-pagination>

          <el-dialog
            title="新增高点"
            :visible.sync="addDialogVisible"
            width="50%"
            center
          >
            <div class="addForm">
              <div class="halfBox">
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">所属区域:</div>
                  <el-cascader
                    style="width:100%"
                    v-model="addparams.treeId"
                    :options="districtList"
                    :props="{
                      value: 'id',
                      label: 'name',
                      expandTrigger: 'hover',
                      emitPath: false
                    }"
                    @change="handleChooseDistrict"
                  ></el-cascader>
                </div>
                <div class="itembox">
                  <div class="require">*</div>

                  <div class="title">高点名称:</div>
                  <el-input v-model="addparams.customName"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">厂商:</div>
                  <el-select
                    v-model="addparams.manufacturer"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in listEnum.manufacturer"
                      :key="item.value"
                      :label="item.name"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">ip:</div>
                  <el-input v-model="addparams.Ip"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">端口:</div>
                  <el-input v-model.number="addparams.port"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">用户名:</div>
                  <el-input v-model="addparams.uname"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">密码:</div>
                  <el-input v-model="addparams.passwd"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">通道号:</div>
                  <el-input v-model.number="addparams.channelNo"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">相机类型:</div>
                  <el-select
                    v-model="addparams.cameraType"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in cameraTypeList"
                      :key="item.code"
                      :label="item.value"
                      :value="item.code"
                    ></el-option>
                  </el-select>
                </div>
                <div class="itembox">
                  <div class="title">垂直市场角:</div>
                  <el-input v-model.number="addparams.fovFixTilt"></el-input>
                </div>
              </div>

              <div class="halfBox">
                <div class="itembox">
                  <div class="title">CCD型号:</div>
                  <el-select
                    v-model="addparams.ccdType"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in listEnum.ccdType"
                      :key="item.type"
                      :label="item.type"
                      :value="item.type"
                    ></el-option>
                  </el-select>
                  <!-- <el-input v-model="addparams.ccdType"></el-input> -->
                </div>
                <div class="itembox">
                  <div class="title">焦距范围:</div>
                  <el-input
                    v-model.number="addparams.focusMin"
                    autocomplete="off"
                    style="width:49%"
                  ></el-input>
                  -
                  <el-input
                    v-model.number="addparams.focusMax"
                    autocomplete="off"
                    style="width:48%"
                  ></el-input>
                </div>
                <div class="itembox">
                  <div class="title">经度:</div>
                  <el-input v-model.number="addparams.longitude"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">纬度:</div>
                  <el-input v-model.number="addparams.latitude"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">海拔高度:</div>
                  <el-input v-model.number="addparams.altitude"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">GIS纠偏角:</div>
                  <el-input v-model.number="addparams.gisFix"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">相机摆放方向:</div>
                  <el-select
                    v-model="addparams.tiltParam"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in titlParamoptions"
                      :key="item.value"
                      :label="item.name"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div class="itembox">
                  <div class="title">水平市场角:</div>
                  <el-input v-model.number="addparams.fovFixPan"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">关联设备:</div>
                  <el-input v-model.number="addparams.assotionate"></el-input>
                </div>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="addDialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="addConfirm">确 定</el-button>
            </span>
          </el-dialog>

          <el-dialog
            title="编辑高点"
            :visible.sync="editDialogVisible"
            width="38%"
            center
          >
            <div class="addForm">
              <div class="halfBox">
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">所属区域:</div>
                  <el-cascader
                    style="width:100%"
                    v-model="editparams.treeId"
                    :options="districtList"
                    :props="{
                      value: 'id',
                      label: 'name',
                      expandTrigger: 'hover',
                      emitPath: false
                    }"
                    @change="handleChooseDistrict"
                  ></el-cascader>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">高点名称:</div>
                  <el-input v-model="editparams.customName"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">厂商:</div>
                  <el-select
                    v-model="editparams.manufacturer"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in listEnum.manufacturer"
                      :key="item.value"
                      :label="item.name"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                  <!-- <el-input v-model="editparams.manufacturer"></el-input> -->
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">ip:</div>
                  <el-input v-model="editparams.Ip"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">端口:</div>
                  <el-input v-model.number="editparams.port"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">用户名:</div>
                  <el-input v-model="editparams.uname"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">密码:</div>
                  <el-input v-model="editparams.passwd"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">通道号:</div>
                  <el-input v-model.number="editparams.channelNo"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">相机类型:</div>
                  <el-select
                    v-model="editparams.cameraType"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in cameraTypeList"
                      :key="item.code"
                      :label="item.value"
                      :value="item.code"
                    ></el-option>
                  </el-select>
                </div>
                <div class="itembox">
                  <div class="title">垂直市场角:</div>
                  <el-input v-model.number="editparams.fovFixTilt"></el-input>
                </div>
              </div>

              <div class="halfBox">
                <div class="itembox">
                  <div class="title">CCD型号:</div>
                  <el-select
                    v-model="editparams.ccdType"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in listEnum.ccdType"
                      :key="item.type"
                      :label="item.type"
                      :value="item.type"
                    ></el-option>
                  </el-select>
                  <!-- <el-input v-model="editparams.ccdType"></el-input> -->
                </div>
                <div class="itembox">
                  <div class="title">焦距范围:</div>
                  <el-input
                    v-model.number="editparams.focusMin"
                    autocomplete="off"
                    style="width:49%"
                  ></el-input>
                  -
                  <el-input
                    v-model.number="editparams.focusMax"
                    autocomplete="off"
                    style="width:49%"
                  ></el-input>
                </div>
                <div class="itembox">
                  <div class="title">经度:</div>
                  <el-input v-model.number="editparams.longitude"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">纬度:</div>
                  <el-input v-model.number="editparams.latitude"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">海拔高度:</div>
                  <el-input v-model.number="editparams.altitude"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">GIS纠偏角:</div>
                  <el-input v-model.number="editparams.gisFix"></el-input>
                </div>
                <div class="itembox">
                  <div class="require">*</div>
                  <div class="title">相机摆放方向:</div>
                  <el-select
                    v-model="editparams.tiltParam"
                    placeholder="请选择"
                    class="content"
                  >
                    <el-option
                      v-for="item in titlParamoptions"
                      :key="item.value"
                      :label="item.name"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div class="itembox">
                  <div class="title">水平市场角:</div>
                  <el-input v-model.number="editparams.fovFixPan"></el-input>
                </div>
                <div class="itembox">
                  <div class="title">关联设备:</div>
                  <el-input v-model.number="editparams.assotionate"></el-input>
                </div>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="editDialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="editconfirm">确 定</el-button>
            </span>
          </el-dialog>

          <el-dialog title="提示" :visible.sync="deldialogVisible" width="30%">
            <span>是否删除?</span>
            <span slot="footer" class="dialog-footer">
              <el-button @click="deldialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="delconfirm">确 定</el-button>
            </span>
          </el-dialog>

          <el-dialog
            title="提示"
            :visible.sync="morDeldialogVisible"
            width="30%"
          >
            <span>是否删除?</span>
            <span slot="footer" class="dialog-footer">
              <el-button @click="morDeldialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="moredelconfirm">
                确 定
              </el-button>
            </span>
          </el-dialog>

          <el-dialog
            title="提示"
            :visible.sync="importDialogVisible"
            width="30%"
          >
            <span>
              批量导入将清空之前所有的高点数据,建议您先进行导出再导入。确认继续?
            </span>
            <span slot="footer" class="dialog-footer">
              <!-- <el-button @click="importDialogVisible = false">取 消</el-button> -->
              <el-upload
                action=""
                :accept="fileType"
                :limit="1"
                :before-upload="beforeUpload"
                :show-file-list="false"
                :auto-upload="true"
                class="upload"
              >
                <el-button>确定</el-button>
              </el-upload>
              <!-- <el-button type="primary" @click="importconfirm">确 定</el-button> -->
            </span>
          </el-dialog>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Vue from "vue";
import { Message } from "element-ui";
export default {
  data() {
    return {
      filterText: "",
      cameraTypeList: [
        { code: 1, value: "球机" },
        { code: 2, value: "全景球机" },
        { code: 3, value: "枪机" }
      ],
      defaultProps: {
        children: "children",
        label: "name"
      },
      queryparams: {
        page: 1,
        limit: 10,
        customName: "",
        Ip: "",
        treeId: -1
      },
      addparams: {
        treeId: "",
        customName: "",
        Ip: "",
        port: "",
        uname: "",
        passwd: "",
        manufacturer: "",
        channelNo: null,
        longitude: null,
        latitude: null,
        altitude: null,
        ccdType: "",
        focusMin: null,
        focusMax: null,
        tiltParam: null,
        gisFix: null,
        cameraType: "",
        fovFixPan: null,
        fovFixTilt: null,
        assotionate:null,
        markCount:0
      },
      editparams: {
        treeId: "",
        customName: "",
        Ip: "",
        port: 0,
        uname: "",
        passwd: "",
        manufacturer: "",
        channelNo: 1,
        longitude: 0,
        latitude: 0,
        altitude: 0,
        ccdType: "",
        focusMin: 0,
        focusMax: null,
        tiltParam: 1,
        gisFix: 0,
        cameraType: "",
        fovFixPan: null,
        fovFixTilt: null,
        assotionate:null
      },
      delparams: {},
      moreDelParams: {},
      fileType: ".xls, .xlsx",
      header: {
        token: this.$ls.get("artoken")
      },
      ccdTypeOptions: [
        { value: "1/6", label: "1/6" },
        { value: "1/4", label: "1/4" }
      ],
      titlParamoptions: [
        { name: "相机向上为负方向,向下为正方向", value: 1 },
        { name: "相机向上为正方向,向下为负方向", value: -1 }
      ],
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      deldialogVisible: false,
      morDeldialogVisible: false,
      importDialogVisible: false,
      importDataBtnText: "点击上传",
      importDataBtnIcon: "el-icon-upload2",
      importDataDisabled: "true"
    };
  },
  methods: {
    handleSearchDistrict: function() {
      this.$store.dispatch("searchTree", { name: this.filterText });
    },
    handleChooseDistrict: function(val) {
    },
    handleNodeClick: function(...arg) {
      let [{ parentId, id }] = [...arg];
      if (parentId == 0) {
        this.queryparams.treeId = -1;
      } else {
        this.queryparams.treeId = id;
      }
      this.getHPointList(this.queryparams);
    },
    handleDragStart(node, ev) {},
    handleDragEnter(draggingNode, dropNode, ev) {},
    handleDragLeave(draggingNode, dropNode, ev) {},
    handleDragOver(draggingNode, dropNode, ev) {},
    handleDragEnd(draggingNode, dropNode, dropType, ev) {},
    handleDrop(draggingNode, dropNode, dropType, ev) {},
    allowDrop(draggingNode, dropNode, type) {
      if (dropNode.data.label === "二级 3-1") {
        return type !== "inner";
      } else {
        return true;
      }
    },
    allowDrag(draggingNode) {
      return draggingNode.data.label.indexOf("三级 3-2-2") === -1;
    },
    handleSelectionChange(val) {
      this.multipleSelection = [];
      val.forEach(element => {
        this.multipleSelection.push(element.id);
      });
      // this.moreDelParams = val;
    },
    getHCameraTmpl() {
      this.$store.dispatch("getHCameraTmpl", {}).then(res => {
        this.toexcel(res, "导入模板");
      });
    },
    toexcel(data, name) {
      let blob = new Blob([data], { type: "text/csv,charset=utf-8" });
      let objectUrl = URL.createObjectURL(blob);
      // var objectUrl = '/duty/template/download'
      var filename = name + ".xlsx";

      var a = document.createElement("a");
      a.href = objectUrl;
      a.download = filename;
      a.click();
    },
    handleChange(index) {
      this.queryparams.page = index;
      this.getHPointList();
    },
    add() {
      this.addDialogVisible = true;
      this.addparams.uname = Vue.ls.get("userName");
      this.addparams.passwd = Vue.ls.get("password");
    },
    addConfirm() {
      if (this.formCheck()) {
        this.$store.dispatch("addHCamera", this.addparams).then(res => {
          if (res.msg == "成功") {
            this.addDialogVisible = false;
            Message.success("添加成功");
            this.getHPointList();
          } else {
            Message.success(res.msg);
          }
        });
      }
    },
    handleEdit(item) {
      // console.log(item);
      this.editparams.treeId = item.treeId;
      this.editparams.altitude = item.altitude;
      this.editparams.ccdType = item.ccdType;
      this.editparams.channelNo = item.channelNo;
      this.editparams.createTime = item.createTime;
      this.editparams.customName = item.customName;
      this.editparams.focusMax = item.focusMax;
      this.editparams.focusMin = item.focusMin;
      this.editparams.gisFix = item.gisFix;
      this.editparams.id = item.id;
      this.editparams.port = item.port;
      this.editparams.latitude = item.latitude;
      this.editparams.longitude = item.longitude;
      this.editparams.manufacturer = item.manufacturer;
      this.editparams.markCount = item.markCount;
      this.editparams.Ip = item.ip;
      this.editparams.passwd = item.passwd;
      this.editparams.tiltParam = item.tiltParam;
      this.editparams.uname = item.uname;
      this.editparams.cameraType = item.cameraType;
      this.editparams.fovFixPan = item.fovFixPan;
      this.editparams.fovFixTilt = item.fovFixTilt;
      this.editparams.assotionate = item.assotionate;
      this.editDialogVisible = true;
    },
    handleDelete(item) {
      this.deldialogVisible = true;
      this.delparams.id = [item.id];
    },
    editconfirm() {
      if(this.editparams.fovFixPan=="" || this.editparams.fovFixTilt==""){
        this.editparams.fovFixPan=null
        this.editparams.fovFixTilt=null
      }
      this.$store.dispatch("addHCamera", this.editparams).then(res => {
        if (res.msg == "成功") {
          this.editDialogVisible = false;
          Message.success("修改成功");
          this.getHPointList();
        } else {
          this.$message({ message: res.msg, type: "error" });
        }
      });
    },
    getHPointList() {
      this.$store.dispatch("hightPointList", this.queryparams);
    },
    delconfirm() {
      this.$store.dispatch("delHCamera", this.delparams).then(res => {
        if (res.msg == "成功") {
          this.deldialogVisible = false;
          Message.success("已删除");
          this.getHPointList();
        }
      });
    },
    moredel() {
      if (this.multipleSelection.length == 0) {
        Message.success("请选择要操作的数据");
      } else {
        this.morDeldialogVisible = true;
      }
    },
    moredelconfirm() {
      this.$store
        .dispatch("delHCamera", { id: this.multipleSelection })
        .then(res => {
          if (res.msg == "成功") {
            this.morDeldialogVisible = false;
            Message.success("已删除");
            this.getHPointList();
          }
        });
    },
    exportHc() {
      this.$store.dispatch("exportHCamera", {}).then(res => {
        this.toexcel(res, "高点列表");
      });
    },
    beforeUpload(file) {
      this.importDialogVisible = false;
      this.importDataBtnText = "正在导入";
      this.importDataBtnIcon = "el-icon-loading";
      this.importDataDisabled = "false";

      let fd = new FormData();
      fd.append("uploadHCamera", file);
      fd.append("project_id", "uploadHCamera");
      // fd.append('version_id', this.version_id)

      this.$http.post("/arapi/v1/ImportHCamera/", fd).then(res => {
        if (res.msg == "成功") {
          Message.success("上传成功");
        } else {
          Message.success("上传失败");
        }
        // this.importDataBtnText='导入成功';
      });
      return false;
    },
    importconfirm() {
      this.beforeUpload();
    },
    showImportDialog() {
      this.importDialogVisible = true;
    },

    query() {
      this.queryparams.page = 1;
      this.getHPointList();
    },
    reset() {
      (this.queryparams.customName = ""), (this.queryparams.Ip = "");
    },
    formCheck() {
      if (!this.addparams.customName) {
        Message.error("高点名称不能为空!");
        return false;
      }
      if (!this.addparams.Ip) {
        Message.error("ip不能为空!");
        return false;
      }
      if (!this.addparams.uname) {
        Message.error("用户名不能为空!");
        return false;
      }
      if (!this.addparams.passwd) {
        Message.error("密码不能为空!");
        return false;
      }
      if (!this.addparams.tiltParam) {
        Message.error("请选择相机摆放位置!");
        return false;
      }
      if (!this.addparams.manufacturer) {
        Message.error("请选择厂商!");
        return false;
      }
      if (!this.addparams.port) {
        Message.error("端口号不能为空!");
        return false;
      }
      return true;
    }
  },
  created() {},
  mounted() {
    this.getHPointList(this.queryparams);
    this.$store.dispatch("getListEnum", {});
    this.$store.dispatch("searchTree", {});
  },
  computed: {
    ...mapState({
      districtList: state => state.ar.districtList,
      hightPointList: state => state.ar.hightPointList,
      listEnum: state => state.ar.listEnum
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 100px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .upload {
    width: 100%;
  }
  .addForm {
    // height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 39%;
          text-align: left;
        }
        .content {
          width: 100%;
        }
        .require {
          color: red;
        }
      }
    }
  }
}
</style>
