<template>
  <div class="live-video-container">
     <videoContainer
      :node="123"
      :url="url"
      :reffer="reffer"
    ></videoContainer>
<!--      不能播放的视频才展示关闭按钮-->
      <div class="button-close" @click="closeVideo" v-if="false">
          关闭按钮
      </div>
  </div>
</template>

<script>
import videoContainer from "@/components/public/videoContainer.vue";

import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["url", "reffer", "node",'id', 'urn', 'video', 'selectId'],
  data() {
    return {
        cameraObj: {}
    };
  },
  methods: { ...mapMutations([]),
      closeVideo () {
        this.$emit('closeVideo', this.cameraObj)
      }
  },

  mounted() {
      this.cameraObj = {
          urn: this.urn,
          playToken: this.reffer,
          id: this.id
      }
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      videoInfo: state => state.middleware.videoInfo
    }), ...mapGetters([]) },
  components: {
    videoContainer
  }
};
</script>

<style lang="less" scoped>
.live-video-container {
  /*background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/E94FFC79-E920-4c42-867B-8D19DFB0AF95.png");*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  border: 1px solid #999999;
    position: relative;
    width: 100%;
    height: 100%;
}

    .button-close{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #999999;
        color: #fff;
        border: 1px solid #000000;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        z-index: 999;
    }
</style>
