<template>
  <div class="live-stream">
    <div class="left">
      <div class="top"><tree-dom @setParams="setParams" :type="treeType"></tree-dom></div>
      <div class="bottom">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="云台控制" name="first">
            <div class="cloud-platform">
              <button class="btn" @click="changeView('LEFT_UP')">
                <img
                  class="left-top"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('UP_TURN')">
                <img
                  class="top"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('RIGHT_UP')">
                <img
                  class="right-top"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('LEFT_TURN')">
                <img
                  class="left-left"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('RESET')">
                <!-- <img
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                /> -->
                <span>复位</span>
              </button>
              <button class="btn" @click="changeView('RIGHT_TURN')">
                <img
                  class="right-right"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('LEFT_DOWN')">
                <img
                  class="bottom-left"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('DOWN_TURN')">
                <img
                  class="bottom-bottom"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
              <button class="btn" @click="changeView('RIGHT_DOWN')">
                <img
                  class="bottom-right"
                  style="width:90%;"
                  src="~@/assets/images/middleware/long-arrow.png"
                  alt=""
                />
              </button>
            </div>
          </el-tab-pane>
          <el-tab-pane label="视频参数" name="second">
            <div style="width:100%;height:200px">
              <div class="video-param-container video-param-container-fake">
                <div class="param-left"><span>亮度</span></div>
                <div class="param-middle">
                  <el-slider v-model="paramsList.brightness" :max="10" @change="changeBrightness"></el-slider>
                </div>
                <div class="param-right">
<!--                  <select class="select-class">
                    <option value="请选择">20</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                  </select>-->
                </div>
              </div>
              <div class="video-param-container video-param-container-fake">
                <div class="param-left"><span>色度</span></div>
                <div class="param-middle">
                  <el-slider v-model="paramsList.hue" :max="10" @change="changeHue"></el-slider>
                </div>
                <div class="param-right">
<!--                  <select class="select-class">
                    <option value="请选择">30</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                  </select>-->
                </div>
              </div>
              <div class="video-param-container video-param-container-fake">
                <div class="param-left"><span>对比度</span></div>
                <div class="param-middle">
                  <el-slider v-model="paramsList.contrast" :max="10" @change="changeContrast"></el-slider>
                </div>
                <div class="param-right">
<!--                  <select class="select-class">
                    <option value="请选择">80</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                  </select>-->
                </div>
              </div>
              <div class="video-param-container video-param-container-fake">
                <div class="param-left"><span>饱和度</span></div>
                <div class="param-middle">
                  <el-slider v-model="paramsList.saturation" :max="10" @change="changeSaturation"></el-slider>
                </div>
                <div class="param-right">
<!--                  <select class="select-class">
                    <option value="请选择">15</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                  </select>-->
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="布局切换" name="third">
            <div class="cloud-platforms">
              <img
                @click="handleChangeVideo(1)"
                src="~@/assets/images/middleware/2x2.png"
                alt=""
              />
<!--              <img-->
<!--                @click="handleChangeVideo(2)"-->
<!--                src="~@/assets/images/middleware/2x3.png"-->
<!--                alt=""-->
<!--              />-->
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
<!--    <div class="right" v-if="show2x3">-->
<!--        <div v-if="isShowVideo">-->
<!--            <liveVideoContainer-->
<!--                    v-for="video in videoInfoList"-->
<!--                    :node="123"-->
<!--                    :url="video.url"-->
<!--                    :reffer="video.playToken"-->
<!--                    :key="video.urn"-->
<!--                    :id="video.id"-->
<!--                    :urn="video.urn"-->
<!--                    @selectedVideo="selectedVideo"-->
<!--                    @closeVideo="closeVideo"-->
<!--            ></liveVideoContainer>-->
<!--        </div>-->
<!--    </div>-->
    <div class="right-fake">
        <div class="video-box"
             v-for="(video, index) in videoInfoList" :key="video.id"
             :class="{'border-active': index===selectId}"  @click="selectVideo(video,index)">
            <liveVideoContainer
                    v-if="video !== 0 && isShowVideo"
                    :node="123"
                    :url="video.url"
                    :reffer="video.playToken"
                    :id="video.id"
                    :urn="video.urn"
                    :video="video"
                    :selectId="selectId"
                    @selectedVideo="selectedVideo"
                    @closeVideo="closeVideo"
            ></liveVideoContainer>
        </div>
    </div>
  </div>
</template>

<script>
import treeDom from "@/components/middleware/treeDom.vue";
import liveVideoContainer from "@/views/middleware/liveStream/liveVideoContainer.vue";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
        show2x3: false,
        value1: 20,
        value2: 30,
        value3: 80,
        value4: 15,
        activeName: "first",
        videoUrl: "",
        videoList: [],
        videoListFake: [],
        treeType: 'camera',
        selectedCameraId: '',
        cameraUrn: '',
        selectId: 0,
        cameraParams: {},
      treeUrn: ''
    };
  },
  methods: {
      selectVideo (val,index) {
          this.selectId = index
          this.cameraUrn = val.urn
        if (val.urn) {
          this.$store.dispatch('getCamaraParams', {urn: val.urn})
        }

      },
      setParams (urn) {
        if (urn.indexOf('camera') >= 0) {
          this.urn = urn
          const params = {
            urn: urn
          }
          this.cameraUrn = urn
          const params1 = {
            action: 'CONNECT',
            operateActions: [{
              "districtId": "string",
              "playToken": "string",
              "streamNodeUrn": urn
            }],
            protocol: 'HLS',
            streamType: 0,
            selectId: this.selectId
          }
          this.$store.dispatch('getCamaraParams', params)
          this.$store.dispatch('getVideoUrl', params1)
        }
      },
      getCameraParams () {
          const params = {
              urn: this.cameraUrn
          }
          this.$store.dispatch('getCamaraParams', params)
      },
      closeVideo (obj) {
          const params1 = {
              action: 'DISCONNECT', // 在开启的时候传CONNET,关闭的时候传DISCONNET[
              operateActions: [{
                  "districtId": "string",
                  "playToken": obj.playToken,
                  "streamNodeUrn": obj.urn
              }],
              selectId: obj.id,
              protocol: 'HLS',
              streamType: 0 // 传默认值
          }
          this.$store.dispatch('getVideoUrl', params1)
      },
      // 更改方向
    changeView (val) {
      const params = {
        urn: this.cameraUrn,
        "action": "START",
        "command": val, // 方向
        "preset": "string",
        "speed": 0
      }
      this.$store.dispatch('changeViewDirection', params)
    },

      selectedVideo (val) {
          this.cameraUrn = val.urn
          this.selectedCameraToken = val.reffer
          this.selectId = val.id
          this.getCameraParams('*选中播放区域的urn',this.cameraUrn)
      },
    changeBrightness (val) {
      if (this.cameraUrn) {
        this.cameraParams.brightness = val
        this.changeParams()
      } else {
        this.$message({
          type: 'error',
          message: '请选择相机'
        })
      }
    },
    changeHue (val) {
      if (this.cameraUrn) {
        this.cameraParams.hue = val
        this.changeParams()
      } else {
        this.$message({
          type: 'error',
          message: '请选择相机'
        })
      }
    },
    changeContrast (val) {
      if (this.cameraUrn) {
        this.cameraParams.contrast = val
        this.changeParams()
      } else {
        this.$message({
          type: 'error',
          message: '请选择相机'
        })
      }
    },
    changeSaturation (val) {
      if (this.cameraUrn) {
        this.cameraParams.saturation = val
        this.changeParams()
      } else {
        this.$message({
          type: 'error',
          message: '请选择相机'
        })
      }
    },
    changeParams (){
      const params = {
          brightness: this.paramsList.brightness,
          hue: this.paramsList.hue,
          saturation: this.paramsList.saturation,
          contrast: this.paramsList.contrast,
          urn: this.cameraUrn
      }
      this.$store.dispatch('setCamaraParams', params)
    },
    handleChangeVideo: function(val) {
      switch (val) {
        case 1:
          this.show2x3 = false;
          break;
        case 2:
          this.show2x3 = true;
          break;
        default:
          break;
      }
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    generateFakeVideo: function() {
      for (let i = 0; i < 4; i++) {
        this.videoInfoList.push({
          id: `video-0-${i}`,
          url: "rtmp://10.5.200.254/live/bh_camera_31011513006063"
        });
      }
    },
    generateVideo: function() {
      for (let i = 0; i < 4; i++) {
        this.videoInfoList.push({
          id: `video-0-${i}`,
          url: "rtmp://10.5.200.254/live/bh_camera_31011513006063"
        });
      }
    },
    ...mapMutations([])
  },

  mounted() {
      // this.treeUrn = this.videoInfoList[0].urn
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      paramsList: state => state.middleware.paramsList,
      videoInfoList: state => state.middleware.videoInfoList,
      isShowVideo: state => state.middleware.isShowVideo,
    }), ...mapGetters([]) },
  components: { treeDom, liveVideoContainer }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/middleware/liveStream.less";
    .right-fake-item{
        display: flex;
        width: 100%;
        height: 100%;
    }
.border-active{
    border: 2px solid red !important;
}
    .video-box{
        width: 98%;
        background-color: #000;
        border: 2px solid #999;
    }
/deep/ .jwplayer.jw-flag-live .jw-controlbar{
    width: 100% !important;
}
/deep/ .jw-skin-bce .jw-controlbar{
    width: 100%;
}
</style>
