<template>
  <div class="discuss-detail">
    <div class="discuss-detail-left">
      <el-row style="margin-bottom: 10px">
        <el-col :span="5" :offset="1">
          <el-button @click="redirectBack">返回</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8"><span style="margin-left: 20px">标题</span></el-col>
        <el-col :span="16">
          <span style="margin-left: 20px">{{ assemblyObject.title }}</span>
        </el-col>
      </el-row>
      <el-row class="m-top-30">
        <el-col :span="8"><span style="margin-left: 20px">发帖人</span></el-col>
        <el-col :span="16">
          <span style="margin-left: 20px">{{ assemblyObject.name }}</span>
        </el-col>
      </el-row>
      <el-row class="m-top-30">
        <el-col :span="8">
          <span style="margin-left: 20px">发帖时间</span>
        </el-col>
        <el-col :span="16">
          <span style="margin-left: 20px">{{ assemblyObject.createTime }}</span>
        </el-col>
      </el-row>
      <el-row class="m-top-30">
        <el-col :span="8">
          <span style="margin-left: 20px">内容</span>
        </el-col>
        <el-col :span="16">
          <span style="margin-left: 20px">
            <span>{{ assemblyObject.content }}</span>
          </span>
        </el-col>
      </el-row>
      <el-row class="m-top-30">
        <el-col :span="8">
          <span style="margin-left: 20px">关联小区</span>
        </el-col>
        <el-col :span="16">
          <span style="margin-left: 20px">
            <span>{{ assemblyObject.neighbourhood }}</span>
          </span>
        </el-col>
      </el-row>
      <el-row class="m-top-30">
        <el-col :span="8">
          <span style="margin-left: 20px">点赞数</span>
        </el-col>
        <el-col :span="16">
          <span style="margin-left: 20px">
            <span>
              {{ assemblyObject.likesCount ? assemblyObject.likesCount : 0 }}
            </span>
          </span>
        </el-col>
      </el-row>
      <el-row
        class="m-top-30"
        v-for="(item, index) in filePaths"
        :key="item.idd"
      >
        <el-col :span="8">
          <span style="margin-left: 20px">图片{{ index + 1 }}</span>
        </el-col>
        <el-col :span="16">
          <el-image
            style="width: 100px; height: 100px"
            :src="imgPrefix + item"
            :preview-src-list="srcList"
          ></el-image>
        </el-col>
      </el-row>
    </div>
    <div class="discuss-detail-right">
      <el-form :inline="true" :model="searchDataForm" class="demo-form-inline">
        <el-form-item label="评论人">
          <el-input
            v-model="searchDataForm.userName"
            placeholder="评论人"
          ></el-input>
        </el-form-item>
        <el-form-item label="评论时间">
          <el-col :span="11">
            <el-date-picker
              v-model="searchDataForm.dateRange"
              type="daterange"
              range-separator="至"
              value-format="yyyy-MM-dd HH:hh:ss"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-button
            type="danger"
            @click="stopComment"
            v-if="assemblyObject.commentStatus == 1"
          >
            禁止评论
          </el-button>
          <el-button v-else type="success" @click="stopComment">
            开启评论
          </el-button>
          <el-button type="default" @click="onReset">重置</el-button>
          <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
      </el-form>
      <el-row>
        <el-col :span="12">
          <div class="delete-icon" @click="handleDeleteComment">
            <i class="el-icon-delete"></i>
            <span style="margin-left: 10px">删除</span>
          </div>
        </el-col>
        <el-col :span="12"></el-col>
      </el-row>
      <el-table
        ref="commentTable"
        :data="commentList"
        border
        tooltip-effect="dark"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55px"></el-table-column>
        <el-table-column prop="content" label="评论内容"></el-table-column>
        <el-table-column prop="userName" label="评论人"></el-table-column>
        <el-table-column prop="createTime" label="评论时间"></el-table-column>
        <el-table-column prop="likesCount" label="点赞数"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <div class="btn-container">
              <img
                v-if="scope.row.examineStatus == 2"
                style="width: 25px"
                @click="handlePermitComment(scope.row)"
                src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E4%B8%8D%E9%80%9A%E8%BF%87%402x.png"
                alt=""
                srcset=""
              />
              <img
                v-else
                style="width: 25px"
                @click="handlePermitComment(scope.row)"
                src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87%402x.png"
                alt=""
                srcset=""
              />

              <img
                style="width: 25px"
                @click="handleDeleteSingleComment(scope.row)"
                src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E5%88%A0%E9%99%A4%20%E6%8B%B7%E8%B4%9D%402x.png"
                alt=""
                srcset=""
              />
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-container">
        <el-pagination
          background
          layout="prev,pager,next"
          :total="pagination.total"
          @current-change="handleCurrentChange"
        ></el-pagination>
      </div>
      <el-row style="margin-top: 10px">
        <el-col :span="18">
          <el-input v-model="commentContent"></el-input>
        </el-col>
        <el-col
          :span="6"
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          "
        >
          <el-button @click="submitContent">发布</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      commentContent: "",
      srcList: [],
      commentIDS: "",
      searchDataForm: {
        dateRange: "",
        userName: "",
        startTime: "",
        endTime: ""
      }
    };
  },
  methods: {
    stopComment: function () {
      this.$store.dispatch("account_assembly_setCommentStatus", {
        commentStatus: this.assemblyObject.commentStatus == 0 ? 1 : 0,
        uniqueId: sessionStorage.getItem("uniqueId")
      });
      setTimeout(() => {
        this.$store.dispatch(
          "account_assembly_findAssemblyByUniqueId",
          Object.assign({}, this.pagination, {
            uniqueId: this.$route.params.disscussID
          })
        );
      }, 1500);
    },
    redirectBack: function () {
      this.$router.push("/r/discuss");
    },
    handleCurrentChange: function (val) {
      let obj = Object.assign(
        {},
        this.pagination,
        { start: (val - 1) * 10 },
        { refUrn: sessionStorage.getItem("uniqueId") },
        this.searchDataForm,
        {
          startTime:
            this.searchDataForm.dateRange.length == 2
              ? this.searchDataForm.dateRange[0]
              : "",
          endTime:
            this.searchDataForm.dateRange.length == 2
              ? this.searchDataForm.dateRange[1]
              : ""
        }
      );
      this.$store.dispatch("comment_find", obj);
    },
    handleDeleteSingleComment: function (val) {
      let f = confirm("是否确认删除该评论");
      if (f) {
        this.$store.dispatch("comment_delete", { id: val.id });
      }
    },
    submitContent: function () {
      if (this.commentContent) {
        this.$store.dispatch("comment_makeComment", {
          content: this.commentContent,
          userName: sessionStorage.getItem("name"),
          userUrn: sessionStorage.getItem("workerUrn"),
          refUrn: sessionStorage.getItem("uniqueId"),
          userType: 1
        });
        this.commentContent = "";
      } else {
        this.$message({ type: "warning", message: "请填写评论内容" });
      }
    },
    handleDeleteComment: function () {
      let f = confirm("是否确定删除该评论?");
      if (f) {
        this.$store.dispatch("comment_delete", { id: this.commentIDS });
      }
    },
    handlePermitComment: function (val) {
      this.$store.dispatch("comment_setExamineStatus", {
        id: val.id,
        status: val.examineStatus == 2 ? 1 : 2
      });
    },
    handleSelectionChange: function (val) {
      let idList = val.map((item) => {
        return item.id;
      });
      this.commentIDS = idList.join(",");
    },
    onReset: function () {
      Object.assign(this.searchDataForm, { dateRange: "", userName: "" });
      this.$store.dispatch("comment_find", {
        refUrn: sessionStorage.getItem("uniqueId"),
        start: 0,
        count: 10
      });
    },
    onSubmit: function () {
      this.$store.dispatch(
        "comment_find",
        Object.assign(
          {},
          this.pagination,
          { refUrn: sessionStorage.getItem("uniqueId"), start: 0, count: 10 },
          this.searchDataForm,
          {
            startTime:
              this.searchDataForm.dateRange &&
              this.searchDataForm.dateRange.length == 2
                ? this.searchDataForm.dateRange[0]
                : "",
            endTime:
              this.searchDataForm.dateRange &&
              this.searchDataForm.dateRange.length == 2
                ? this.searchDataForm.dateRange[1]
                : ""
          }
        )
      );
    },
    ...mapMutations([])
  },

  mounted() {
    // console.log("111");
    sessionStorage.setItem("uniqueId", this.$route.params.disscussID);
    this.$store.dispatch(
      "account_assembly_findAssemblyByUniqueId",
      Object.assign({}, this.pagination, {
        uniqueId: this.$route.params.disscussID
      })
    );
  },
  filters: {},
  watch: {
    assemblyObject: function (val) {
      if (val) {
        this.$store.dispatch("comment_find", {
          refUrn: sessionStorage.getItem("uniqueId"),
          start: 0,
          count: 10
        });
      }
    },
    filePaths: function (val) {
      if (val) {
        this.srcList = val.map((item) => {
          return this.imgPrefix + item;
        });
      }
    }
  },
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_RONGHE_IMG_URL;
    },
    ...mapState({
      commentList: (state) => state.ronghe.commentList,
      assemblyObject: (state) => state.ronghe.assemblyObject,
      filePaths: (state) => state.ronghe.filePaths,
      pagination: (state) => state.ronghe.pagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.discuss-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  .discuss-detail-left {
    width: 40%;
    .m-top-30 {
      margin-top: 30px;
    }
  }
  .discuss-detail-right {
    width: 60%;
    .delete-icon {
      cursor: pointer;
    }
    .btn-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
    .pagination-container {
      text-align: center;
      margin-top: 10px;
    }
  }
}
</style>
