<template>
  <div class="discuss-list-container">
    <div class="list-container-left">
      <el-tree
        :auto-expand-parent="true"
        node-key="districtId"
        style="height:100%;"
        :data="districtTree"
        :props="props"
        show-checkbox
        default-expand-all
        @check="handleCheckChange"
      ></el-tree>
    </div>
    <div class="list-container-right">
      <div class="list-container-right-top">
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
          <el-form-item label="标题">
            <el-input v-model="searchForm.title" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="发帖人">
            <el-input v-model="searchForm.name" placeholder=""></el-input>
          </el-form-item>

          <el-form-item label="发帖时间 " required>
            <el-col :span="11">
              <el-date-picker
                v-model="searchForm.dateRange"
                type="daterange"
                range-separator="至"
                value-format="yyyy-MM-dd HH:hh:ss"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              ></el-date-picker>
            </el-col>
          </el-form-item>
          <el-form-item label="是否置顶" prop="region">
            <el-select
              v-model="searchForm.topStatuss"
              placeholder="请选择是否置顶"
            >
              <el-option label="全部" value=""></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="否" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="default" @click="onReset">重置</el-button>
            <el-button type="primary" @click="onSearch">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="list-container-right-middle">
        <div class="zhiding" @click="setTop">
          <i class="el-icon-upload2"></i>
          <span>置顶</span>
        </div>
        <div class="cancel-zhiding" @click="cancelTop">
          <i class="el-icon-close"></i>
          <span>取消置顶</span>
        </div>
        <div class="delete" @click="deleteDiscuss">
          <i class="el-icon-delete"></i>
          <span>删除</span>
        </div>
      </div>
      <div class="list-container-right-bottom">
        <el-table
          ref="multipleTable"
          :data="discussList"
          border
          tooltip-effect="dark"
          style="width: 95%;margin:    0 auto;"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55px"></el-table-column>

          <el-table-column prop="title" label="标题"></el-table-column>
          <el-table-column
            prop="neighbourhood"
            label="关联小区"
          ></el-table-column>
          <el-table-column prop="name" label="发帖人"></el-table-column>
          <el-table-column prop="createTime" label="发帖时间"></el-table-column>
          <el-table-column
            prop="visitCount"
            width="70px"
            label="浏览数"
          ></el-table-column>
          <el-table-column
            prop="commentCount"
            width="70px"
            label="评论数"
          ></el-table-column>
          <el-table-column
            prop="likeCount"
            width="70px"
            label="点赞数"
          ></el-table-column>
          <el-table-column width="80px" label="是否置顶">
            <template slot-scope="scope">
              <span v-if="scope.row.topStatus == 1">是</span>
              <span v-else>否</span>
            </template>
          </el-table-column>

          <el-table-column label="操作" width="100px">
            <template slot-scope="scope">
              <div class="btn-container">
                <img
                  style="width:28px;"
                  @click="handleSeeDetail(scope.$index, scope.row)"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E8%AF%A6%E6%83%85.png"
                  alt=""
                  srcset=""
                />
                <img
                  v-if="scope.row.releaseStatus == 2"
                  @click="handleRemarkPermit(scope.row)"
                  style="width:28px;"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E4%B8%8D%E9%80%9A%E8%BF%87%402x.png"
                  alt=""
                  srcset=""
                />
                <img
                  v-else
                  @click="handleRemarkPermit(scope.row)"
                  style="width:28px;"
                  src="https://bh-zhoupo.oss-cn-shanghai.aliyuncs.com/admin/%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87%402x.png"
                  alt=""
                  srcset=""
                />
              </div>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="pagination.total"
            @current-change="handleChange"
            :page-size="10"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      idList: "",
      searchForm: {
        title: "",
        name: "",
        startTime: "",
        endTime: "",
        topStatus: "",
        topStatuss: "",
        dateRange: ""
      },
      selectedRows: [],
      formInline: { top: "", date1: "", date2: "", user: "", region: "" },
      tableData: [],
      props: {
        label: "name",
        children: "children"
      }
    };
  },
  methods: {
    handleRemarkPermit: function(val) {
      this.$store.dispatch("account_assembly_setReleaseStatus", {
        releaseStatus: val.releaseStatus == 1 ? 2 : 1,
        uniqueId: val.uniqueId
      });
    },
    deleteDiscuss: function() {
      this.$store.dispatch("account_assembly_deleteAssembly", {
        uniqueId: this.idList
      });
    },
    cancelTop: function() {
      this.$store.dispatch("account_assembly_setTopStatus", {
        topStatus: 0,
        uniqueId: this.idList
      });
    },
    setTop: function() {
      this.$store.dispatch("account_assembly_setTopStatus", {
        topStatus: 1,
        uniqueId: this.idList
      });
    },
    handleSeeDetail: function(...arg) {
      let [, { uniqueId }] = [...arg];
      this.$router.push(`/r/discuss/${uniqueId}`);
    },
    handleSelectionChange: function(val) {
      this.selectedRows = val;
      let idList = val.map(item => {
        return item.uniqueId;
      });
      this.idList = idList.join(",");
    },
    generateData: function() {
      for (let i = 0; i < 10; i++) {
        this.tableData.push({
          title: i,
          region: "",
          submitter: "",
          submitTime: "",
          browser: "",
          comment: "",
          dianzan: "",
          isTop: ""
        });
      }
    },
    handleChange(index) {
      let start = (index - 1) * 10;
      Object.assign(this.pagination, { start: start, count: 10 });
       let finalForm = Object.assign(this.searchForm, this.pagination, {
        startTime: this.searchForm.dateRange[0],
        endTime: this.searchForm.dateRange[1],
        topStatus: Number.parseInt(this.searchForm.topStatuss)
      });
      this.$store.dispatch("account_assembly_getAssembly", finalForm);
    },
    onSearch: function() {
      Object.assign(this.pagination, { start: 0, count: 10 });
      let finalForm = Object.assign(this.searchForm, this.pagination, {
        startTime: this.searchForm.dateRange[0],
        endTime: this.searchForm.dateRange[1],
        topStatus: Number.parseInt(this.searchForm.topStatuss)
      });
      this.$store.dispatch("account_assembly_getAssembly", finalForm);
    },
    onReset: function() {
      let obj = Object.assign(
        {},
        this.pagination,
        {
          districtIds: Vue.ls.get("districtIds")
        },
        { start: 0, count: this.pagination.count }
      );
      this.$store.dispatch("account_assembly_getAssembly", obj);
    },
    handleCheckChange: function(data, checked, indeter, fuck) {
      let selectedNodes = checked.checkedNodes.filter(item => {
        if (item.type == "小区") {
          return item.districtId;
        }
      });
      Vue.ls.set(
        "districtIds",
        selectedNodes.map(item => item.districtId)
      );
      let obj = Object.assign(
        {},
        this.pagination,
        { start: 0, count: 10 },
        { districtIds: Vue.ls.get("districtIds") }
      );
      this.$store.dispatch("account_assembly_getAssembly", obj);
    },
    loadNode(node, resolve) {
      resolve[{ name: "123" }];
    },
    ...mapMutations([])
  },

  mounted() {
    // let obj = Object.assign({}, this.pagination, {
    //   districtIds: Vue.ls.get("districtIds")
    // });
    console.log(Vue.ls.get("districtIds"));
    // this.defaultCheckedKeys = Vue.ls.get("districtIds");
    this.$store.dispatch("account_assembly_getAssembly", this.pagination);
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("villageDistrictId")
    });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      districtTree: state => state.ronghe.districtTree,
      discussList: state => state.ronghe.discussList,
      pagination: state => state.ronghe.pagination
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.discuss-list-container {
  box-sizing: border-box;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 15% 1fr;
  height: 100%;
  grid-template-rows: 1fr;
  .list-container-left {
    border-right: 1px solid #eeeeee;
  }

  .list-container-right {
    box-sizing: border-box;
    padding: 0 5px;
    .list-container-right-middle {
      display: flex;
      width: 95%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      .zhiding,
      .cancel-zhiding {
        cursor: pointer;
        margin-right: 20px;
      }
      .zhiding,
      .cancel-zhiding,
      .delete {
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
    .list-container-right-bottom {
      .pagination-container {
        text-align: center;
        margin-top: 10px;
      }
      width: 100%;
      .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
</style>
