.work-sheet-list {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  .operation-container {
    margin: 10px auto;
  }
  .pagination-container {
    text-align: center;
    margin-top: 10px;
  }
}
