<template>
  <div class="bg">
    <div class="container">
      <div class="header">
        <span class="sp_title">新增人员</span>
      </div>
      <div class="line"></div>
      <!-- <span class="sp_basicInfoTitle">基础信息</span> -->
      <el-form label-width="150px" ref="form" :model="form" class="form" :rules="rules">

        <span class="sp_basicInfoTitle">基础信息</span>

        <el-form-item label="姓名:" prop="name">
          <el-input v-model="form.name" class="wid_400"></el-input>
        </el-form-item>

        <el-form-item label="性别:" prop="genderText">
          <el-select v-model="form.genderText" class="wid_400" @change="getValueAndText_gender">
            <el-option
              v-for="item in allDicts.GENDER"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="居住地址:" required prop="roomUrn">
          <el-select
            v-model="form.roomUrn"
            filterable
            remote
            reserve-keyword
            placeholder="请搜索居住地址"
            :remote-method="remoteMethod"
            :loading="loading"
            class="wid_400"
          >
            <el-option
              v-for="item in roomInfo"
              :key="item.roomUrn"
              :label="item.address"
              :value="item.roomUrn"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="党员类别:" prop="type">
          <el-select v-model="form.type" class="wid_400" @change="getValueAndText_type">
            <el-option
              v-for="item in allDicts.PART_TPYE"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="所在党支部:" prop="organizationName">
          <el-select v-model="form.organizationName" class="wid_400" @change="getValueAndText_organizationName">
            <el-option
              v-for="item in partyOrganization.data"
              :key="item.id"
              :value="item"
              :label="item.name"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="入党日期:"  prop="timeOfJoin">
          <el-date-picker
           v-model="form.timeOfJoin" 
           type="datetime" 
           placeholder="请选择日期时间" 
           class="wid_400"
           format="yyyy-MM-dd"
           value-format="yyyy-MM-dd"
           @change="getJoinPartyday"
           ></el-date-picker>
        </el-form-item>

        <el-form-item label="户籍地址:">
          <el-input v-model="form.permanentResidenceAddress" class="wid_400"></el-input>
        </el-form-item>

        <el-form-item label="出身日期:"  prop="dateOfBirth">
          <el-date-picker
           v-model="form.dateOfBirth" 
           type="datetime" 
           placeholder="请选择日期时间" 
           class="wid_400"
           format="yyyy-MM-dd"
           value-format="yyyy-MM-dd"
           @change="getBirthday"
           ></el-date-picker>
        </el-form-item>

        <el-form-item label="民族:">
          <el-select v-model="form.nationality" class="wid_400" @change="getValueAndText_nation">
            <el-option
              v-for="item in allDicts.NATION"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="证件类型:"  prop="idTypeText">
          <el-select v-model="form.idTypeText" class="wid_400" @change="getValueAndText_idType">
            <el-option
              v-for="item in allDicts.ID_TYPE"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="证件号码:"  prop="idcard">
          <el-input v-model="form.idcard" placeholder="请填写身份证号码" class="wid_400"></el-input>
        </el-form-item>

        <el-form-item label="联系方式:" prop="cellPhone">
          <el-input v-model="form.cellPhone" placeholder="请填写电话号码" class="wid_400"></el-input>
        </el-form-item>


        <el-form-item label="学历:">
          <el-select v-model="form.education" class="wid_400" @change="getValueAndText_education">
            <el-option
              v-for="item in allDicts.EDUCATION"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="与户主关系:">
          <el-select v-model="form.roomOwnerRelationShip" class="wid_400" @change="getValueAndText_roomOwnerRelationShip">
            <el-option
              v-for="item in allDicts.RELATIONSHIP"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="人员类别:" prop="personTypeText" required="">
          <el-select v-model="form.personTypeText" class="wid_400" @change="getValueAndText_personType">
            <el-option
              v-for="item in allDicts.PERSON_TYPE"
              :key="item.code"
              :value="item"
              :label="item.text"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="工作单位:">
          <el-input v-model="form.organization" class="wid_400"></el-input>
        </el-form-item>

        <el-form-item label="党员积分:">
          <el-input v-model="form.jifeng" class="wid_400"></el-input>
        </el-form-item>

        <el-form-item label="上传图片:" prop="picture">
            <el-upload
                class="avatar-uploader"
                :action="uploadPrefix+'/wechat/task/attachment/fileUpload'"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload"
                :headers="headers"
            >
                <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
      </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSubmit('form')">立即创建</el-button>
          <el-button @click="cancle">取消</el-button>
        </el-form-item>

        


      </el-form>

      
      
      



      
    </div>
  </div>
</template>
<script>

import { mapState } from 'vuex';
import Vue from 'vue'
export default {
  data() {
    return {
      visible: false,
      imageUrl:'',
      loading:false,
      headers: {
          token: Vue.ls.get("token"),
      },
      form:{
          picture:'bbbb',                               //照片链接
          name:'',                                  //姓名
          roomUrn:'',                                 //房屋urn
          type:'',                                  //党员类别中文
          typeCode:'',                               //党员类别code
          timeOfJoin:'',                             //入党时间
          organizationId:'',                         //所在党支部code
          organizationName:'',                      //所在党支部中文
          sex:'',                                //性别code
          sexCode:'',                            //性别text
          dateOfBirth:'',                              //出生日期
          nationality:'',                                //民族code
          nationalityCode:'',                            //民族中文
          idType:'',                                //证件类型code
          idTypeText:'',                            //证件类型 中文
          idcard:'',                                   //证件号码
          permanentResidenceAddress:'',                      //户籍地址
          cellPhone: '',                                //联系方式
          educationCode: '',                            //学历code
          education:' ',                        //学历中文
          roomOwnerRelationShip:'',                 //与户主关系
          roomOwnerRelationShipCode:'',             //与户主关系code
          personType:'',                            //人员类别code
          personTypeText:'',                        //人员类别中文
          organization:''              ,             //工作单位
          jifeng:''                                //积分
      },
      notes:[],
      rules:{
                name:[
                    { required: true, message: "请输入姓名", trigger: 'blur' }
                ],

                genderText:[
                    { required: true, message: "请选择性别", trigger: 'blur' }
                ],

                roomUrn:[
                    { required: true, message: "请输入地址", trigger: 'blur' }
                ],

                dateOfBirth:[
                    { required: true, message: "请选择出生日期", trigger: 'blur' }
                ],

                timeOfJoin:[
                    { required: true, message: "请选择出生日期", trigger: 'blur' }
                ],

                idTypeText:[
                    { required: true, message: "请选择证件类型", trigger: 'blur' }
                ],

                sexText:[
                    { required: true, message: "请选择性别", trigger: 'blur' }
                ],

                idcard:[
                    { required: true, message: "请输入证件号", trigger: 'blur' },
                    { pattern: /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/, message: '请输入正确的身份证号', trigger: 'blur' },

                    // { pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '请输入正确的身份证号', trigger: 'blur' },
                ],

                personTypeText:[
                    { required: true, message: "请选择人员类别", trigger: 'blur' },
                    
                ],

                cellPhone:[
                    { required: false, message: "", trigger: 'blur' },
                    { pattern: /^1[3|4|5|6|7|8|9]\d{9}$/, message: '请输入正确的手机号码', trigger: 'blur' },
                    
                ],

                type:[
                    { required: true, message: "请选择党员类别", trigger: 'blur' },
                    
                ],

                organizationName:[
                    { required: true, message: "请选择所在党支部", trigger: 'blur' },
                    
                ],
            }

    };
  },
  created(){
      this.$store.dispatch('getAllDicts',{type:'1'});
      
  },
  methods: {
    // handleRemove(file, fileList) {
    //   file;
    //   fileList;
    // },

    remoteMethod(query) {
      if (query !== "") {
        this.$store.dispatch("findRooms", { text: query });
      } else {
        this.$store.commit("GET_ROOMS_DATA", []);
      }
    },


    bindAddress() {
      //地址绑定
      this.visible = false;
      this.visible = true;
    },

    getBirthday(day){                      //获取生日
      this.form.dateOfBirth = day;
    },

    getJoinPartyday(day){                      //获取入党日期
      this.form.timeOfJoin = day;
    },

    getValueAndText_type(val){    //重点类别下拉框
      
      this.form.type = val.text
      this.form.typeCode = val.code
      this.notes = val.children
      
    },


    getValueAndText_gender(obj){            //性别下拉框
      this.form.sexCode = obj.code;
      this.form.sex = obj.text;
    },

    getValueAndText_education(obj){            //学历下拉框
      this.form.educationCode = obj.code;
      this.form.education = obj.text;
    },

    getValueAndText_roomOwnerRelationShip(obj){            //与户主关系下拉框
      this.form.roomOwnerRelationShipCode = obj.code;
      this.form.roomOwnerRelationShip = obj.text;
    },

    getValueAndText_nation(obj){            //民族下拉框
      this.form.nationalityCode = obj.code;
      this.form.nationality = obj.text;
    },

    getValueAndText_personType(obj){            //人员类别下拉框
      this.form.personType = obj.code;
      this.form.personTypeText = obj.text;
    },

    getValueAndText_idType(obj){                //证件类别
      this.form.idType = obj.code;
      this.form.idTypeText = obj.text;
    },

    getValueAndText_organizationName(obj){     //所在党支部下拉框
      this.form.organizationId = obj.id;
      this.form.organizationName = obj.name;
    },

    cancle(){                          //取消按钮
      this.$router.push('/tabs?tab=fourth');
    },

    onSubmit(form){                     //确认提交
        this.$refs[form].validate((valid) =>{
            if(valid){
                 this.$store.dispatch('addPartyPeople',this.form)
            }else{
                return false
            }
        })
      },

    handleAvatarSuccess: function(...arg) {      //选择图片成功
      let [
        {
          data: { filePath }
        }
      ] = [...arg];
      this.imageUrl = this.imgPrefix + filePath;
      this.form.picture = filePath;
    },

    beforeAvatarUpload: function(file) {
      let fileType = file.type;
      if (
        fileType == "image/jpeg" ||
        fileType == "image/jpg" ||
        fileType == "image/png"
      ) {
        fileType;
      } else {
        this.$message({ type: "warning", message: "请上传图片文件" });
        return false;
      }
    },
  },
  components: {
    
  },

   computed:{
        ...mapState({
            allDicts:state => state.people.getAllDicts,
            partyOrganization:state => state.people.partyOrganization,
            roomInfo: state => state.company.roomInfo,
        }),

        imgPrefix: function() {
            return process.env.VUE_APP_STATIC_URL;
        },
        uploadPrefix: function() {
            return process.env.VUE_APP_UPLOAD_PREFIX;
        },
    }
};
</script>
<style  lang = 'less'>
  @import '~@/assets/less/starfish/baseData/people/addPartyMember.css';
  .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>


