<template>
    <div class="bg">
        <div class="container">
            <div class="header">
                <span class="sp">新增出租人员</span>
            </div>
            <div class="line"></div>
            <el-form label-width="100px" ref="from" :model="form" class="form">
                <el-form-item label="姓名:" required="">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="所属居委辖区:">
                    <el-select v-model="form.value_committee">
                        <el-option
                            v-for="item in option_committee"
                            :key="item.value"
                            :value="item.value"
                            :label="item.label"
                        ></el-option>
                    </el-select>
                </el-form-item>
                 <el-form-item label="居住地址:" required="">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                 <el-form-item label="联系电话:" required="">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                 <el-form-item label="租客姓名:" required="">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                 <el-form-item label="租客身份证号:" required="">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                 <el-form-item label="租客户籍:" required="">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
               <el-form-item label="备注:" required="">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">立即创建</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
               
                
            </el-form>
           
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            form:{
                name:'',
                address:'',
                value_date:'',
                value_committee:'',
                value_relationWithHouseOwner:'',
                value_educationBackground:'',
                dialogImageUrl: '',
                dialogVisible: false,
                imageUrl:''
            },
            value_sex:'',    
        }
    },
     methods: {
      
    }
}
</script>
<style  scoped>
    .bg{
        background-color: #e9eef4;
        height: 100%;
        padding: 0 10px 10px 10px;
        box-sizing: border-box;
    }
    .container{
        background: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .header{
        height: 50px;
        display: flex;
        justify-content: space-between;
        /* background: red; */
        align-items: center;
    }
    .sp{
        font-size: 15px;
        font-weight: 500;
        margin-left: 20px;
    }
    .line{
        width: 100%;
        background: #e0e0e0;
        height: 0.7px;
       
    }
    .form{
        margin-top: 20px;
        margin-left: 200px;
    }
    .el-input{
        width: 500px;
    }
    .el-select{
        width: 500px;
    }
    .sp_basicInfoTitle{
        margin-left: 20px;
        font-size: 15px;
        font-weight: 600;
        margin-top: 20px;
    }

</style>


