<template>
        <el-dialog title="绑定地址" :visible.sync = 'dialogFormVisible' center="" width="40%">
            <el-form :model="form" >

                <el-form-item label="居住地街镇:" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off" class="input"></el-input>
                </el-form-item>

                <el-form-item label="居住地派出所:" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off" class="input"></el-input>
                </el-form-item>

                <el-form-item label="居住地居委:" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off" class="input"></el-input>
                </el-form-item>

                <el-form-item label="居住地路名:" :label-width="formLabelWidth" required="">
                    <el-cascader
                        placeholder="可手动搜索"
                        :options="options"
                        filterable></el-cascader>
                </el-form-item>

                <el-form-item label="居住地门牌号:" :label-width="formLabelWidth" required="">           
                    <el-cascader
                        placeholder="可手动搜索"
                        :options="options"
                        filterable></el-cascader>
                </el-form-item>

                <el-form-item label="居住室号:" :label-width="formLabelWidth" required="">
                    <el-select v-model="form.region" placeholder="请选择居住室号:">
                        <el-option  v-for="item in items" :key="item" :label="item.name" :value="item.name"></el-option>
                        
                    </el-select>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer" >
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
            </div>
           
        </el-dialog>
</template>

<script>
export default {
    props:['dialogFormVisible'],
    data(){
        return{
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            formLabelWidth: '120px',
            items:[{
                name:'111'
            },{
                name:'222'
            }],
            options:[{
                value:'1',
                label:'测试'
            },{
                value:'2',
                label:'薛帅测试'
            }]
        }
    }
}
</script>

<style  scoped>
    .container{
        width: 100%;
        background-color: red;
    }
    .input{
        width: 400px;
    }
    
</style>