<template>
    <div class="container">
        <el-tabs type="border-card" v-model="activeName" @tab-click="handleClick" class="tabs">
            <el-tab-pane label="企业" name="first">
                <addCompany></addCompany>
            </el-tab-pane>
            <el-tab-pane label="临街商铺" name="second">
                <addShop></addShop>
            </el-tab-pane>
            <el-tab-pane label="旅馆" name="third">
                <addHotel></addHotel>
            </el-tab-pane>
            <el-tab-pane label="民宿" name="fourth">
                <addMinshuku></addMinshuku>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>

import addCompany from './baseCompany/addcompany.vue'
import addShop from './baseCompany/addShop.vue'
import addHotel from './baseCompany/addHotel.vue'
import addMinshuku from './baseCompany/addMinshuku.vue'

export default {
    data(){
        return{
            activeName:'first'
        }
    },
    methods:{
        handleClick(tab, event){
            tab;event;
        }
    },
    components:{
        'addCompany': addCompany,
        'addShop':addShop,
        'addHotel':addHotel,
        'addMinshuku':addMinshuku, 
    }
};
</script>
<style scoped>
.container {
  width: 100%;
  height: auto;
  background: #f0f2f5;
  /* padding-right: 20px;
        padding-left: 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10px;
        box-sizing: border-box;
        

    }
    .tabs{
        width: calc(100% - 20px);
    }
    
    
</style>
<style>
.el-tabs__content{
    padding:0px !important;
}
</style>