<template>
  <div class="home">
    <div class="head">
      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">姓名:</span>
          <el-input class="content_input" placeholder v-model="params.name"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">证件号码:</span>
          <el-input class="content_input" v-model="params.sid"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">居住地址:</span>
          <el-input class="content_input" v-model="params.address"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">户籍地址:</span>
          <el-input class="content_input" v-model="params.permanentAddress"></el-input>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">重点类别:</span>  
            <el-select v-model="type" placeholder="请选择" class="select_people" @change="getValueAndText_type">
              <el-option
                v-for="item in allDicts.CARE_TYPE	 "
                :key="item.code"
                :label="item.text"
                :value="item"
              ></el-option>
            </el-select>
        </el-col>

        <el-col :span="6">
          <span class="sp">当前状态:</span>
          <template>
            <el-select v-model="note" placeholder="请选择" class="select_people" @change="getValueAndText_notes">
              <el-option
                v-for="item in allDicts.CARE_STATUS_TYPE"
                :key="item.code"
                :label="item.text"
                :value="item"
              ></el-option>
            </el-select>
          </template>
        </el-col>

        <el-col :span="12">
          <span class="sp" style="width:10%">出生时间:</span>
          <el-date-picker
            v-model="value_birthday"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="timepicker"
            @change="selectTime_birthday"
          ></el-date-picker>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">录入人:</span>
          <el-input class="content_input"></el-input>
        </el-col>

        <el-col :span="12">
          <span class="sp" style="width:10%">录入时间:</span>
          <el-date-picker
            v-model="value_typeInDate"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="timepicker"
            @change="selectTime_entry"
          ></el-date-picker>
        </el-col>
        
      </el-row>

      <el-row :gutter="20">
        <el-col :span="6" :offset="18" style="align-items:center">
          <div class="btn_box_peoplelist">
            <el-button class="btn_serach" type="primary" @click="search()">查询</el-button>
            <el-button class="btn_reset" @click="reset()" >重置</el-button>
          </div>
        </el-col>
      </el-row>

      <!-- <el-button class="btn_serach" type="primary">查询</el-button> -->
    </div>
    <div class="body_content">
      <div class="aaa">
        <span class="title_form">数据列表</span>
        <div class="btn_group">
          <!-- <el-button plain class="btn_wid">导出</el-button>
          <el-button plain class="btn_wid">导入</el-button> -->
          <el-button type="primary" @click="add()" class="btn_wid">+添加</el-button>
        </div>
      </div>

      <el-table :data="carePeopleObj.list" border class="table" stripe align="center">
        <el-table-column prop="name" label="姓名" align="center"></el-table-column>

        <el-table-column prop="sid" label="证件号码" align="center"></el-table-column>

        <el-table-column prop="typeText" label="重点类别" align="center"></el-table-column>

         <el-table-column prop="notes" label="当前状态" align="center"></el-table-column>

         <el-table-column prop="address" label="居住地址" align="center"></el-table-column>


        <el-table-column prop="createrUserName" label="录入人" align="center"></el-table-column>

        <el-table-column prop="lastUpdateTime" label="录入时间" align="center"></el-table-column>

        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row)" type="text" size="small">编辑</el-button>
            <el-button @click="deletePeople(scope.row)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>

      </el-table>

      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-size="params.limit"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="carePeopleObj.totalCount"
      ></el-pagination>

      <el-dialog
        title="提示"
        :visible.sync="dialogVisible"
        width="30%"
        >
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="deleteContirm()">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        page: 1,
        limit: 7,
        name: "",
        sid: "",                             //证件号
        birthDayStart: "",
        birthDayEnd: "",
        permanentAddress: "",               //户籍地址
        type: "",                           //重点类别
        noteCode:'',                         //当前状态
        createrUserName: "",                //录入人
        entryTimeStart: "",
        entryTimeEnd: "",
        address: ""                         //居住地址
      },
      type:'',                              //重点类别
      note:'',                              //现状
      value_birthday: "",
      value_typeInDate: "",
      totalCount: 12,
      dialogVisible:false,              //删除弹框是否展示
    };
  },
  methods: {
    
    handleClick() {
      this.$router.push("/personaldetail");
    },
    add() {
      this.$router.push("/addCarePeople");
    },

    handleCurrentChange(value) {                    //列表分页
      this.params.page = value;
      this.$store.dispatch("getCarePeopleList", this.params);
      
    },

    selectTime_birthday(val){                       //选择出生时间
      this.params.birthDayStart = val[0];
      this.params.birthDayEnd = val[1];
    },

    selectTime_entry(val){     //选择录入时间
      this.params.entryTimeStart = val[0];
      this.params.entryTimeEnd = val[1];
    },

    getValueAndText_type(val){    //重点类别下拉框
    
      this.params.type = val[0];
      if(val[1] != null){
        this.params.noteCode = val[1]
      }
      
      // this.params.type = val[0];
      
    },

    getValueAndText_notes(val){    //状态下拉框
      this.params.noteCode = val[0];
      
    },

    search() {
      //按条件搜索查询
      this.$store.dispatch("getCarePeopleList", this.params);
    },

    deletePeople(data){              //删除某条人口数据
      this.residentUrn = data.careResidentUrn;
      this.dialogVisible = true;
    },

    deleteContirm(){                 //删除弹框的确认按钮
      this.$store.dispatch('deleteCarePeople',{urn:this.residentUrn})
      this.dialogVisible = false;
    },

    edit(data){  
      data;                        //
      this.$router.push({
              path:'/editCarePeople',
              name:'editCarePeople',
              query:{
                  urn:data.careResidentUrn
              }
          })
    },

    reset() {       //重置查询条件
      
      this.params.name = '';
      this.params.birthDayStart = '';
      this.params.birthDayEnd = '';
      this.params.sid = '';
      this.params.permanentAddress = '';
      this.params.type = '';
      this.params.entryTimeStart = '';
      this.params.createrUserName = '';
      this.params.entryTimeEnd = '';
      this.params.address = '';
      this.params.noteCode = '';
      this.params.type = '';

      this.value_birthday = '';      //关于显示的清空
      this.value_typeInDate = '';    //关于显示的清空

      this.$store.dispatch("getCarePeopleList", this.params); //重置完重新请求刷新列表
    },
  },
  created(){
    this.$store.dispatch('getCarePeopleList',this.params)
  },

  mounted() {},
  watch: {},
  computed: {
      ...mapState({
       carePeopleObj:state => state.people.getCarePeoppleList,
       allDicts:state => state.people.getAllDicts
     }) },
  components: {}
};
</script>

<style  scoped>
    @import '~@/assets/less/starfish/baseData/people/carePeople.css'
    
</style>
