<template>
  <div class="container">
    <div class="basic_info">
      <div class="left_title">
        <span class="basic_title">基本信息</span>
      </div>
      <div class="content">
        <div class="img">
          <img :src="img_head" class="pic" />
        </div>
        <div class="basicinfo_right">
          <div class="item" v-for="item in detailList" :key="item.title">
            <div class="item_child_1">测试</div>
            <div class="line"></div>
            <div class="item_child_2">聊天啊</div>
          </div>
        </div>
      </div>
    </div>

    <div class="assistinfo">
      <div class="left_title">
        <span class="basic_title">辅助信息</span>
        <div class="info_container">
          <div class="container_child" v-for="item in detailList" :key="item.title">
            <span class="sp_title_child">{{item.title}}</span>
            <div class="line_child"></div>
            <span class="sp_detail_child" :title="item.detail">{{item.detail}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="assistinfo">
      <div class="left_title">
        <span class="basic_title">重点人员信息</span>
        <div class="info_container">
          <div class="container_child" v-for="item in detailList" :key="item.title">
            <span class="sp_title_child">{{item.title}}</span>
            <div class="line_child"></div>
            <span class="sp_detail_child" :title="item.detail">{{item.detail}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      img_head: "",
      detailList: [
        {
          title: "任务编号",
          detail: "23452345f",
          pic: false
        },
        {
          title: "任务名称",
          detail: "民宿检查",
          pic: false
        },
        {
          title: "任务来源",
          detail: "管理清单",
          pic: false
        },
        {
          title: "任务类型",
          detail: "日常巡查",
          pic: false
        },
        {
          title: "发起时间",
          detail: "2012-04-09",
          pic: false
        },
        {
          title: "管理对象",
          detail: "小区",
          pic: false
        },
        {
          title: "地址",
          detail: "周浦镇沈梅路123弄15号周浦镇沈梅路123弄15号",
          pic: false
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: false
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        }
      ]
    };
  }
};
</script>
<style  scoped>
.container {
  height: 100%;
  width: 100%;
  padding: 25px;
  background-color: #f0f2f5;
  box-sizing: border-box;
  overflow-y: auto;
}
.basic_info {
  width: 100%;
  height: 280px;
  background-color: white;
}
.assistinfo {
  width: 100%;
  height: 280px;
  background-color: white;
  margin-top: 20px;
}
.basic_title {
  height: 50px;
  line-height: 50px;
  color: black;
  font-weight: 400;
  margin-left: 20px;
}
.content {
  height: 210px;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
}
.img {
  height: 100%;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0e0e0;
  margin-left: 20px;
}
.pic {
  height: 170px;
  width: 140px;
}
.item {
  width: 600px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #d0e0e0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: flex-start;
}

.item_child_1 {
  width: 160px;
  height: 100%;
  background-color: #f0f2f5;
  text-align: center;
  line-height: 40px;
}
.item_child_2 {
  width: 439px;
  height: 100%;
  background-color: white;
  text-align: center;
  line-height: 40px;
}
.line {
  height: 100%;
  width: 1px;
  background: #d0e0e0;
}
.basicinfo_right {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background: red; */
}
.info_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* float: left; */
  /* display: inline; */
  word-wrap: break-word;
  white-space: normal;
  overflow-x: hidden;
  margin-left: 20px;
}

.container_child {
  width: 150px;
  /* height: 95px; */
  border: 1px solid rgb(233, 233, 233);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: flex-start;
}
.sp_title_child {
  width: 150px;
  height: 40px;
  background: #f0f2f5;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  display: block;
  text-align: center;
  line-height: 40px;
}
.sp_detail_child {
  width: 150px;
  /* height: 54px; */
  background: white;
  color: #333;
  display: block;
  text-align: center;
  /* line-height: 54px; */
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>