<template>
    <div class="bg">
        <div class="container">
            <div class="header">
                <span class="sp_title">编辑人员信息</span>
            </div>
            <div class="line"></div>
            <el-form label-width="130px" ref="form" :model="form" class="form" :rules="rules">

                <span class="sp_basicInfoTitle">基础信息</span>

                <el-form-item label="姓名:" prop = 'fullName' >
                    <el-input v-model="form.fullName" class="wid_400"></el-input>
                </el-form-item>

                <el-form-item label="性别:">
                    <el-select v-model="form.genderText" class="wid_400" @change="getValueAndText_gender">
                        <el-option
                            v-for="item in allDicts.GENDER"
                            :key="item.code"
                            :value="item"
                            :label="item.text"
                        ></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="居住地址:" prop = 'roomUrn'  >
                     <el-select
                        v-model="form.address"
                        filterable
                        remote
                        reserve-keyword
                        placeholder="请搜索居住地址"
                        :remote-method="remoteMethod"
                        :loading="loading"
                        class="wid_400"
                        @change="get_selectAddress"
                    >
                        <el-option
                        v-for="item in roomInfo"
                        :key="item.roomUrn"
                        :label="item.address"
                        :value="item"
                        ></el-option>
                    </el-select>
                    
                </el-form-item>

                <el-form-item label="户籍地址:" >
                    <el-input v-model="form.permanentAddress" class="wid_400"></el-input>
                </el-form-item>
            
                <el-form-item label="出身日期:" prop = 'birthDay' >
                    <el-date-picker
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd"
                        v-model="form.birthDay"
                        type="datetime"
                        placeholder="请选择日期时间"
                        class="wid_400"
                        @change="getBirthday"
                    ></el-date-picker>
                </el-form-item>

                <el-form-item label="民族:" >
                    <el-select v-model="form.nationText" class="wid_400"  @change="getValueAndText_nation">
                        <el-option
                            v-for="item in allDicts.NATION"
                            :key="item.code"
                            :value="item"
                            :label="item.text"
                           
                        ></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="证件类型:"  prop="idTypeText">
                    <el-select v-model="form.idTypeText" class="wid_400" @change="getValueAndText_idType">
                        <el-option
                            v-for="item in allDicts.ID_TYPE"
                            :key="item.code"
                            :value="item"
                            :label="item.text"
                            
                        ></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="证件号码:"  prop="sid">
                    <el-input 
                        v-model="form.sid" 
                        placeholder="请填写身份证号码" 
                        class="wid_400" 
                        clearable
                        ></el-input>
                </el-form-item>

                 <el-form-item label="联系方式:" prop = 'phone' >
                    <el-input 
                        v-model="form.phone"
                         placeholder="请填写电话号码" 
                         class="wid_400"
                         clearable=""                        
                         
                         ></el-input>
                </el-form-item>

                <el-form-item label="上传图片:" prop="iconUrl">
                    <el-upload
                        class="avatar-uploader"
                        :action="uploadPrefix+'/wechat/task/attachment/fileUpload'"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload"
                        :headers="headers"
                    >
                        <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                    
                </el-form-item>

                <span class="sp_basicInfoTitle">辅助信息</span>

                 <el-form-item label="学历:">
                    <el-select v-model="form.educationText" class="wid_400" @change="getValueAndText_education">
                        <el-option
                            v-for="item in allDicts.EDUCATION"
                            :key="item.code"
                            :value="item"
                            :label="item.text"
                            
                        ></el-option>
                    </el-select>
                </el-form-item>
                
                <el-form-item label="与户主关系:">
                    <el-select v-model="form.roomOwnerRelationShip" class="wid_400" @change="getValueAndText_roomOwnerRelationShip">
                        <el-option
                            v-for="item in allDicts.RELATIONSHIP"
                            :key="item.code"
                            :value="item"
                            :label="item.text"
                            
                        ></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="人员类别:"  prop="personTypeText" >
                    <el-select v-model="form.personTypeText" class="wid_400" @change="getValueAndText_personType">
                        <el-option
                            v-for="item in allDicts.PERSON_TYPE"
                            :key="item.code"
                            :value="item"
                            :label="item.text"
                            
                        ></el-option>
                    </el-select>
                </el-form-item>
                
                <el-form-item label="工作单位:" >
                    <el-input v-model="form.organization" class="wid_400"></el-input>
                </el-form-item>
                
                <el-form-item>
                    <el-button type="primary" @click="onSubmit('form')" >提交</el-button>
                    <!-- <el-button @click="cancle">取消</el-button> -->
                </el-form-item>
            </el-form>

            

            
        </div>
    </div>
</template>
<script>
// import rules from '@/utils/rules'
import { mapState } from 'vuex';
import Vue from 'vue'
export default {
    data(){
        return{
            imageUrl:'',
            loading:false,
            headers: {
                token: Vue.ls.get("token"),
            },
            form:{
                fullName:'',                              //姓名
                gender:'',                                //性别code
                genderText:'',                            //性别text
                roomUrn:'',                               //居住地址
                permanentAddress:'',                      //户籍地址
                birthDay:'',                              //出生日期
                nation:'',                                //民族code
                nationText:'',                            //民族中文
                idType:'',                                //证件类型code
                idTypeText:'',                            //证件类型 中文
                sid:'',                                   //证件号码
                phone: '',                                //联系方式
                education: '',                            //学历code
                educationText:' ',                        //学历中文
                roomOwnerRelationShip:'',                 //与户主关系
                roomOwnerRelationShipCode:'',             //与户主关系code
                personType:'',                            //人员类别code
                personTypeText:'',                        //人员类别中文
                organization:''              ,            //工作单位
                picture:"",                               //图片路径
                residentUrn:'',                                   //主键
            },
           
            rules:{
                fullName:[
                    { required: true, message: "请输入姓名", trigger: 'blur' }
                ],

                address:[
                    { required: true, message: "请输入地址", trigger: 'blur' }
                ],

                birthDay:[
                    { required: true, message: "请选择出生日期", trigger: 'blur' }
                ],

                idTypeText:[
                    { required: true, message: "请选择证件类型", trigger: 'blur' }
                ],

                sid:[
                    { required: true, message: "请输入证件号", trigger: 'blur' },
                    { pattern: /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/, message: '请输入正确的身份证号', trigger: 'blur' },

                    // { pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '请输入正确的身份证号', trigger: 'blur' },
                ],

                personTypeText:[
                    { required: true, message: "请选择人员类别", trigger: 'blur' },
                    
                ],

                phone:[
                    { required: false, message: "请选择人员类别", trigger: 'blur' },
                    { pattern: /^1[3|4|5|6|7|8|9]\d{9}$/, message: '请输入正确的手机号码', trigger: 'blur' },
                ],
            }
       
    
        }
    },
     methods: {

      initData() {
        this.form.residentUrn= this.$route.query.urn;
        
        this.$store.dispatch('basicPeopleDetail',{urn:this.form.residentUrn})
        
      },

     remoteMethod(query) {                 //搜索获取地址
        if (query !== "") {
            this.$store.dispatch("findRooms", { text: query });
        } else {
            this.$store.commit("GET_ROOMS_DATA", []);
        }
    },

      handleRemove(file, fileList) {
          file;fileList;
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },

      bindAddress(){   //地址绑定
        this.visible =false;
        this.visible = true;
      },


      getBirthday(day){
        this.form.birthDay = day;
      },

      get_selectAddress(val){       //获取选择地址
        this.form.roomUrn = val.roomUrn;
    },

      onSubmit(form){                     //确认提交
        this.$refs[form].validate((valid) =>{
            if(valid){
                 this.$store.dispatch('editPeopleDetail',this.form)
            }else{
                return false
            }
        })
      },

      cancle(){                          //取消按钮
        this.$router.go(-1);
      },

      getValueAndText_gender(obj){            //性别下拉框
        
        this.form.gender = obj.code;
        this.form.genderText = obj.text;
      },

      getValueAndText_education(obj){            //学历下拉框
        
        this.form.education = obj.code;
        this.form.educationText = obj.text;
      },

      getValueAndText_roomOwnerRelationShip(obj){            //与户主关系下拉框
        this.form.roomOwnerRelationShipCode = obj.code;
        this.form.roomOwnerRelationShip = obj.text;
      },

      getValueAndText_nation(obj){            //民族下拉框
        
        this.form.nation = obj.code;
        this.form.nationText = obj.text;
      },

      getValueAndText_personType(obj){            //人员类别下拉框
        this.form.personType = obj.code;
        this.form.personTypeText = obj.text;
      },

      getValueAndText_idType(obj){                //证件类别
        this.form.idType = obj.code;
        this.form.idTypeText = obj.text;
      },

      
     handleAvatarSuccess: function(...arg) {      //选择图片成功
      let [
        {
          data: { filePath }
        }
      ] = [...arg];
      this.imageUrl = this.imgPrefix + filePath;
      this.form.picture = filePath;
    },

    beforeAvatarUpload: function(file) {
      let fileType = file.type;
      if (
        fileType == "image/jpeg" ||
        fileType == "image/jpg" ||
        fileType == "image/png"
      ) {
        fileType;
      } else {
        this.$message({ type: "warning", message: "请上传图片文件" });
        return false;
      }
    },

    },


    created(){
        this.$store.dispatch('getAllDicts',{type:'1'})
        this.initData();
    },

    computed:{
        ...mapState({
            allDicts:state => state.people.getAllDicts,
            detailObject:state => state.people.basicPeopleDetail,
            roomInfo: state => state.company.roomInfo,
        }),

        imgPrefix: function() {
            return process.env.VUE_APP_STATIC_URL;
            },
            uploadPrefix: function() {
            return process.env.VUE_APP_UPLOAD_PREFIX;
        },
    },

    watch:{
        detailObject(){
            this.form.address = this.detailObject.data.address;
            this.form.fullName = this.detailObject.data.fullName;
            this.form.gender = this.detailObject.data.gender;
            this.form.genderText = this.detailObject.data.genderText;
            this.form.address = this.detailObject.data.address;
            this.form.birthDay = this.detailObject.data.birthDay;
            this.form.permanentAddress = this.detailObject.data.permanentAddress;
            this.form.nationText = this.detailObject.data.nationText;
            this.form.nation = this.detailObject.data.nation;
            this.form.idTypeText = this.detailObject.data.idTypeText;
            this.form.idType = this.detailObject.data.idType;
            this.form.sid = this.detailObject.data.sid;
            this.form.phone = this.detailObject.data.phone;
            this.form.educationText = this.detailObject.data.educationText;
            this.form.education = this.detailObject.data.education;
            this.form.roomOwnerRelationShip = this.detailObject.data.roomOwnerRelationShip;
            this.form.roomOwnerRelationShipCode = this.detailObject.data.roomOwnerRelationShipCode;
            this.form.personTypeText = this.detailObject.data.personTypeText;
            this.form.personType = this.detailObject.data.personType;
            this.form.organization = this.detailObject.data.organization;
            this.form.roomUrn = this.detailObject.data.roomUrn;
            this.imageUrl = 'https://starfish-backend-test.bearhunting.cn/assert' +this.detailObject.data.picture
        }
    }
}
</script>
<style  scoped lang = 'css'>
    @import '~@/assets/less/starfish/baseData/people/addPeopleBasicInfo.css';
            .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>


