<template>
  <div class="home">
    <div class="head">
      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">姓名:</span>
          <el-input class="content_input" placeholder v-model="params.name"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">证件号码:</span>
          <el-input class="content_input"  v-model="params.idcard"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">居住地址:</span>
          <el-input class="content_input" v-model="params.address"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">户籍地址:</span>
          <el-input class="content_input" v-model="params.permanentResidenceAddress"></el-input>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">党员类别:</span>
          <template>
             <el-select v-model="params.typeCode" placeholder="请选择" class="select" @change="getValueAndText_type">
              <el-option
                v-for="item in allDicts.PART_TPYE	"
                :key="item.code"
                :label="item.text"
                :value="item.code"
              ></el-option>
            </el-select>
          </template>
        </el-col>

        <el-col :span="12">
          <span class="sp" style="width:10%">入党时间:</span>
          <el-date-picker
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            v-model="value_birthday"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="timepicker"
            @change="selectTime_joinParty"
          ></el-date-picker>
        </el-col>

        <el-col :span="6">
          <span class="sp" style="width:23%">所在党支部:</span>
           <template>
            <el-select v-model="params.organizationId" placeholder="请选择" class="select" @change="getValueAndText_organizationId">
              <el-option
                v-for="item in partyOrganization.data"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </template>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">录入人:</span>
          <el-input class="content_input"></el-input>
        </el-col>
        <el-col :span="12">
          <span class="sp" style="width:10%">录入时间:</span>
          <el-date-picker
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="timepicker"
            @change="selectTime_entry"
          ></el-date-picker>
        </el-col>
      </el-row>

      <el-col :span="12">
        <span class="sp" style="width:10%">出生时间:</span>
        <el-date-picker
          v-model="value_birthday"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd"
          type="datetimerange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          class="timepicker"
          @change="selectTime_birthday"
        ></el-date-picker>
      </el-col>
      

      <el-row :gutter="20">
        <el-col :span="6" :offset="18" style="align-items:center">
          <div class="btn_box_peoplelist">
            <el-button class="btn_serach" type="primary" @click="search()">查询</el-button>
            <el-button class="btn_reset" @click="reset()" >重置</el-button>
          </div>
        </el-col>
      </el-row>

      <!-- <el-button class="btn_serach" type="primary">查询</el-button> -->
    </div>
    <div class="body_content">
      <div class="aaa">
        <span class="title_form">数据列表</span>
        <div class="btn_group">
          <!-- <el-button plain  class="btn_wid">导出</el-button>
          <el-button plain class="btn_wid">导入</el-button> -->
          <el-button type="primary" @click="add()" class="btn_wid">+添加</el-button>
        </div>
      </div>

      <el-table :data="peopleObj.list" border class="table" stripe align="center">
        <el-table-column prop="name" label="姓名" align="center"></el-table-column>

        <el-table-column prop="idcard" label="证件号码" align="center"></el-table-column>

        <el-table-column prop="type" label="党员类别" align="center"></el-table-column>

        <el-table-column prop="timeOfJoin" label="加入党组织日期" align="center"></el-table-column>

        <el-table-column prop="organizationName" label="所在党支部" align="center"></el-table-column>

        <el-table-column prop="address" label="居住地址" align="center"></el-table-column>

        <el-table-column prop="createrUserName" label="录入人" align="center"></el-table-column>

        <el-table-column prop="lastUpdateTime" label="录入时间" align="center"></el-table-column>

        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row)" type="text" size="small">编辑</el-button>
            <el-button type="text" size="small" @click="deletePeople(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-size="params.limit"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="peopleObj.totalCount"
      ></el-pagination>
    </div>
      <el-dialog
        title="提示"
        :visible.sync="dialogVisible"
        width="30%"
        >
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="deleteContirm()">确 定</el-button>
        </span>
      </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        page: 1,
        limit: 7,
        name:'',                              //姓名
        dateOfBirthStart:'',                  //出生日期  开始
        dateOfBirthEnd:'',                   //出生日期  结束
        idcard:''          ,                //证件号码
        organizationId:'',                  //所在党支部
        address:'',                             //居住地址
        permanentResidenceAddress:'',            //户籍地址
        typeCode:'',                            //党员类别
        timeOfJoinStart:'',                     //加入党组织时间   开始
        timeOfJoinEnd:'',                      //加入党组织时间    结束
        createrUserName:'',                   //录入人
        entryTimeStart:'',                    //录入时间 开始
        entryTimeEnd:'',                     //录入时间   结束

      },
      urn:'',
      value_birthday: "",
      value_typeInDate: "",
      dialogVisible:false,              //删除弹框是否展示
    };
  },
  methods: {
    
    handleClick() {
      this.$router.push("/personaldetail");
    },

    add() {
      this.$router.push("/addPartyMember");
    },

    search() {
      //按条件搜索查询
      this.$store.dispatch("getPartyPeopleList", this.params);
    },

    handleCurrentChange(value) {    //列表分页
      this.params.page = value;
      this.$store.dispatch('getPartyPeopleList',this.params);
    },

    getValueAndText_type(val){    //党员类别
    
      this.params.typeCode = val;
     
    },

    getValueAndText_organizationId(val){
      this.params.organizationId = val
    },

    selectTime_birthday(val){                       //选择出生时间
      this.params.birthDayStart = val[0];
      this.params.birthDayEnd = val[1];
    },

    selectTime_entry(val){     //选择录入时间
      this.params.entryTimeStart = val[0];
      this.params.entryTimeEnd = val[1];
    },

    selectTime_joinParty(val){            //选择入党时间
      this.params.timeOfJoinStart = val[0];
      this.params.timeOfJoinEnd = val[1];

    },

    deletePeople(data){              //删除某条人口数据
      this.urn = data.partyUrn;
      this.dialogVisible = true;
    },

    deleteContirm(){                 //删除弹框的确认按钮
      this.$store.dispatch('deletePartyPeople',{urn:this.urn})
      this.dialogVisible = false;
    },

    edit(data){                          //
      this.$router.push({
              path:'/editPartyPeople',
              name:'editPartyPeople',
              query:{
                  urn:data.partyUrn
              }
          })
    },

    reset(){                   //重置
      this.params.page = 1;
      this.params.name = '';
      this.params.dateOfBirthStart = '';
      this.params.dateOfBirthEnd = '';
      this.params.idcard = '';
      this.params.address = '';
      this.params.permanentResidenceAddress = '';
      this.params.organizationId = '';
      this.params.typeCode = '';
      this.params.timeOfJoinStart = '';
      this.params.timeOfJoinEnd = '';
      this.params.createrUserName = '';
      this.params.entryTimeStart = '';
      this.params.entryTimeEnd = '';

    }
  },
  created(){
    this.$store.dispatch('getPartyPeopleList',this.params);
    this.$store.dispatch('getAllDicts',{type:'2'});
    this.$store.dispatch('getPartyorganization',{})
  },

  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      peopleObj:state => state.people.getPartyPeopleList,
      allDicts:state => state.people.getAllDicts,
      partyOrganization:state => state.people.partyOrganization
    }) },
  components: {}
};
</script>

<style  scoped>
    @import '~@/assets/less/starfish/baseData/people/partymemberPage.css'

</style>

