<template>
  <div class="home">
    <div class="head">
      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">姓名:</span>
          <el-input class="content_input" v-model="params.fullName" placeholder=""></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">证件号码:</span>
          <el-input class="content_input" v-model="params.sid"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">居住地址:</span>
          <el-input class="content_input" v-model="params.address"></el-input>
        </el-col>
        <el-col :span="6">
          <span class="sp">户籍地址:</span>
          <el-input class="content_input" v-model="params.permanentAddress"></el-input>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="6">
          <span class="sp">人员类别:</span>
          <template>
            <el-select v-model="params.personType" placeholder="请选择" class="select_people">
              <el-option
                v-for="item in allDicts.PERSON_TYPE"
                :key="item.code"
                :label="item.text"
                :value="item.code"
              ></el-option>
            </el-select>
          </template>
        </el-col>

        <el-col :span="6">
          <span class="sp">录入人:</span>
          <el-input class="content_input" v-model="params.createrUserName"></el-input>
        </el-col>
        <el-col :span="12">
          <span class="sp" style="width:10%">出生时间:</span>
          <el-date-picker
            v-model="value_birthday"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="timepicker"
            @change="selectTime_birthday"
          ></el-date-picker>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <span class="sp" style="width:10%">录入时间:</span>
          <el-date-picker
            v-model="value_typeInDate"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            class="timepicker"
            @change="selectTime_entry"
          ></el-date-picker>
        </el-col>

      </el-row>
      <el-row :gutter="20">
        <el-col :span="6" :offset="18" style="align-items:center">
          <div class="btn_box_peoplelist">
            <el-button class="btn_serach" type="primary" @click="search()">查询</el-button>
            <el-button class="btn_reset" @click="reset()" >重置</el-button>
          </div>
        </el-col>
      </el-row>

      <!-- <el-button class="btn_serach" type="primary">查询</el-button> -->
    </div>
    <div class="body_content">
      <div class="aaa">
        <span class="title_form">数据列表</span>
        <div class="btn_group">
          <!-- <el-button plain class="btn_wid">导出</el-button>
          <el-button plain class="btn_wid">导入</el-button> -->
          <el-button type="primary" @click="add()" class="btn_wid">+添加</el-button>
        </div>
      </div>

      <el-table :data="getBasicPeople.list" border class="table" stripe align="center">
        <el-table-column prop="fullName" label="姓名" align="center"></el-table-column>

        <el-table-column prop="sid" label="证件号码" align="center"></el-table-column>

        <el-table-column prop="genderText" label="性别" align="center"></el-table-column>

        <el-table-column prop="nationText" label="民族" align="center"></el-table-column>

        <el-table-column prop="address" label="居住地址" align="center"></el-table-column>

        <el-table-column prop="personTypeText" label="人员类别" align="center"></el-table-column>

        <el-table-column prop="createrUserName" label="录入人" align="center"></el-table-column>

        <el-table-column prop="lastUpdateTime" label="录入时间" align="center"></el-table-column>

        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row)" type="text" size="small">编辑</el-button>
            <!-- <el-button type="text" size="small">查看</el-button> -->
            <el-button @click="deletePeople(scope.row)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-size="params.limit"
        background
        layout="total, prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="getBasicPeople.totalCount"
      ></el-pagination>

      <el-dialog
        title="提示"
        :visible.sync="dialogVisible"
        width="30%"
        >
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="deleteContirm()">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        page: 1,
        limit: 7,
        fullName: "",
        sid: "", //证件号
        birthDayStart: "",
        birthDayEnd: "",
        permanentAddress: "", //户籍地址
        personType: "", //人员类别
        createrUserName: "", //录入人
        entryTimeStart: "",
        entryTimeEnd: "",
        address: "" //居住地址
      },
      value_birthday: "",
      value_typeInDate: "",
      totalCount: 12,     
      options: [],
      value: "",
      BasicPeopleData: {            //获取实有人口列表
        data: {
            list: []
        }
      },
      dialogVisible:false,              //删除弹框是否展示
      residentUrn:''                    
    };
  },
  methods: {
    handleClick() {
      this.$router.push("/personaldetail");
    },

    add() {                
      this.$router.push("/addPeopleBasicInfo");
    },

    edit(data){
      this.$router.push({
              path:'/editBasicPeople',
              name:'editBasicPeople',
              query:{
                  urn:data.residentUrn
              }
          })
    },

    handleCurrentChange(value) {
      //列表分页
      this.params.page = value;
      this.$store.dispatch("getBasicPeople", this.params);
    },

    search() {
      //按条件搜索查询
      this.$store.dispatch("getBasicPeople", this.params);
    },

    reset() {
      //重置查询条件
      this.params.fullName = null;
      this.params.birthDayStart = null;
      this.params.birthDayEnd = null;
      this.params.sid = null;
      this.params.permanentAddress = null;
      this.params.personType = null;
      this.params.entryTimeStart = null;
      this.params.createrUserName = null;
      this.params.entryTimeEnd = null;
      this.params.address = null;

      this.value_birthday = null;      //关于显示的清空
      this.value_typeInDate = null;    //关于显示的清空

      this.$store.dispatch("getBasicPeople", this.params); //重置完重新请求刷新列表
    },

    selectTime_entry(val){     //选择录入时间
      this.params.entryTimeStart = val[0];
      this.params.entryTimeEnd = val[1];
    },

    selectTime_birthday(val){    //选择出生时间
      this.params.birthDayStart = val[0];
      this.params.birthDayEnd = val[1];
    },

    deletePeople(data){              //删除某条人口数据
      this.residentUrn = data.residentUrn;
      this.dialogVisible = true;
    },

    deleteContirm(){                 //删除弹框的确认按钮
      this.$store.dispatch('deleteBasicPeople',{urn:this.residentUrn})
      this.dialogVisible = false;
    }
  },

  created() {
    this.$store.dispatch("getBasicPeople", this.params);
    this.$store.dispatch('getAllDicts',{type:'2'});
  },
  mounted(){
    
  },

  computed: {
    ...mapState({
      getBasicPeople: state => state.people.getBasicPeople,
      allDicts:state => state.people.getAllDicts

    })
  }
};
</script>
<style>
    .el-tabs--border-card>.el-tabs__content {
    padding: 0px;
    }
</style>
<style scoped lang='css'>
    @import '~@/assets/less/starfish/baseData/people/registerPage.css';
</style>



