<template>
  <div class="home">
     <!-- <el-row :gutter="20">
        <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="6" style="background:red;">
          
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
          
        </el-col>
        <el-col :span="6" style="background:red;">
          
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
          
        </el-col>
        <el-col :span="6">
          
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
          
        </el-col>
        <el-col :span="6">
         
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
         
        </el-col>
      </el-row> -->
    <div class="header">
     
      <el-row :gutter="20">
        <el-col :span="6" >
          
            <span class="sp">姓名查询:</span>
            <el-input class="content_input" placeholder=""></el-input>
          
        </el-col>
        <el-col :span="6" >
          
            <span class="sp">联系方式查询:</span>
            <el-input class="content_input"></el-input>
          
        </el-col>
        <el-col :span="6">
          
            <span class="sp">住址查询:</span>
            <el-input class="content_input"></el-input>
          
        </el-col>
        <el-col :span="6">
         
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
         
        </el-col>
         <el-col :span="6">
         
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
         
        </el-col>
         <el-col :span="6">
         
            <span class="sp">输入查询:</span>
            <el-input class="content_input"></el-input>
         
        </el-col>
         <el-col :span="6" style="align-items:center">
           <div class="btn_group"><el-button class="btn_serach" type="primary">查询</el-button>
            <el-button class="btn_serach" >查询</el-button></div>
            
         
        </el-col>

        
      </el-row>
     
     <!-- <el-button class="btn_serach" type="primary">查询</el-button> -->
    </div>
    <div class="body_content">
      <div class="aaa">
        <span class="title_form">数据列表</span>
        <div class="btn_group">
          <el-button plain class="export">导出</el-button>
          <el-button plain>导入</el-button>
          <el-button type="primary" @click="add()">+添加</el-button>
        </div>
      </div>

      <el-table
      :data="tableData"
      border
      class="table"
      stripe
      align="center"
      >
      <el-table-column
        prop="date"
        label="日期"
        align="center"
        >
        <template slot="header">
          <el-dropdown>
            <span class="el-dropdown-link">
              户籍关系<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-for="item in 5" :key="item" @click="oncli(item)">{{item}}</el-dropdown-item>
              <!-- <el-dropdown-item>狮子头</el-dropdown-item>
              <el-dropdown-item>螺蛳粉</el-dropdown-item>
              <el-dropdown-item>双皮奶</el-dropdown-item>
              <el-dropdown-item>蚵仔煎</el-dropdown-item> -->
            </el-dropdown-menu>
          </el-dropdown>
        </template>

      </el-table-column>
      <el-table-column
        prop="name"
        label="姓名"
        >
      </el-table-column>
      <el-table-column
        prop="province"
        label="省份"
        >
      </el-table-column>
      <el-table-column
        prop="city"
        label="市区"
        >
      </el-table-column>
      <el-table-column
        prop="address"
        label="地址"
        >
      </el-table-column>
      <el-table-column
        prop="zip"
        label="邮编"
        >
      </el-table-column>
      <el-table-column
        
        label="操作"
        >
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
          <el-button type="text" size="small">编辑</el-button>
        </template>
      </el-table-column>
      </el-table>

      <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.pageNum"
          :page-size="params.pageSize"
          background
          layout="total, prev, pager, next, jumper"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount">
      </el-pagination>
    </div>
    
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      
      params:{
        pageNum:1,
        pageSize:8
      },
      totalCount:12,
      tableData:[{
          date: '2016-05-02',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-04',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1517 弄',
          zip: 200333
        }, {
          date: '2016-05-01',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1519 弄',
          zip: 200333
        }, {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1516 弄',
          zip: 200333
        }, {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1516 弄',
          zip: 200333
        }, {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1516 弄',
          zip: 200333
        }, {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1516 弄',
          zip: 200333
        }, {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1516 弄',
          zip: 200333
        }]
    };
  },
  methods: {
     ...mapMutations([]),
     handleClick(){
       this.$router.push('/personaldetail');
     },
     add(){
       this.$router.push('/addRentoutPeople')
     }
  
  
  
  },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less'>
.el-main{
  background:#f0f2f5
}
.home{
  height: 100%;
  width: 100%;
  background:#f0f2f5;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
}
.header{
  height: 200px;
  width: 100%;
  background-color: white;
  // display: flex;
  // flex-direction:row;
  // align-items: center;
}
.sp{
  height: 100px;
  width: 40%;
  line-height: 100px;
  margin-left: 20px;
}
.content_input{
  height: 100px;
  width: 60%;
  margin-left: 20px;
  line-height: 100px;
}
.btn_serach {
  margin-left:20px;
  width: 100px;
  
}
.body_content{
  width:100% ;
  height: 100%;
  background-color: white;
  margin-top: 20px;
  
}
.aaa{
  height: 80px;
  width: 100%;
  
  display: flex;
  justify-content : space-between;
}
.title_form{
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
  height: 100%;
  line-height: 80px;
}
.btn_group{
  height: 100px;
  width: 300px;
  
  display:flex ;
  align-items : center
}
.table{
  margin-left: 15px;
  margin-top: 10px;
  width: 98%;
  height: 580px;
  
  
}
.fystyle{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
}






</style>
