<template>
  <div class="container">
    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick" class="tabs">
      <el-tab-pane label="实有人口" name="first">
        <registerPage></registerPage>
      </el-tab-pane>
      <el-tab-pane label="重点人员" name="second">
        <importantPeople></importantPeople>
      </el-tab-pane>
      <el-tab-pane label="关爱对象" name="third">
        <carePeople></carePeople>
      </el-tab-pane>
      <el-tab-pane label="党员" name="fourth">
        <partymemberPage></partymemberPage>
      </el-tab-pane>

      <!-- <el-tab-pane label="出租人员" name="fiveth"><rentoutPeople></rentoutPeople></el-tab-pane> -->
    </el-tabs>
  </div>
</template>
<script>
import registerPage from "../../baseData/people/registerPage.vue";
import partymemberPage from "../../baseData/people/partymemberPage.vue";
import importantPeople from "../../baseData/people/importantPeople.vue";
import carePeople from "../../baseData/people/carePeople.vue";
// import rentoutPeople from '../people/rentoutPeople.vue'
export default {
  data() {
    return {
      activeName: "first",
    };
  },
  methods: {
    handleClick(tab, event) {
      tab;
      event;
    },
    getTab() {
      if (this.$route.query.tab != null) {
        this.activeName = this.$route.query.tab;
      }
    },
  },
  mounted() {
    this.getTab();
  },
  components: {
    registerPage: registerPage,
    partymemberPage: partymemberPage,
    importantPeople: importantPeople,
    carePeople: carePeople,
    // 'rentoutPeople':rentoutPeople
  },
};
</script>
<style scoped>
.container {
  width: 100%;
  height: auto;
  background: #f0f2f5;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.tabs {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* box-sizing: border-box;
        padding-left: 10px; */
}
</style>