<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    <!-- <div class="inputBox">
                        <div class="title">高点名称</div>
                        <el-input v-model="params.name"></el-input>
                    </div> -->
                    <div class="inputBox">
                        <div class="title">IP地址</div>
                        <el-input v-model="params.ipAddr"></el-input>
                    </div>
                    <div class="inputBox">
                        <div class="title">操作时间</div>
                        <el-date-picker
                            @change="dataChange"
                            v-model="datepicker"
                            type="datetimerange"
                            value-format="yyyy-MM-ddTHH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                        <el-button @click="query" type="primary" style="margin-left:40%;">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                   
                </div>

                <div class="firstrow">
                   
                    <el-button @click="exportlog" type="text" icon="el-icon-upload2" style="margin-left:20px;">导出</el-button>
                
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="loglist.data"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    <el-table-column
                        type="selection"
                        align="center"
                        width="55">
                    </el-table-column>
                    <el-table-column
                        label="序号"
                        width="85"
                        align="center"
                        type="index"
                        >
                        
                    </el-table-column>
                    <el-table-column
                        prop="uname"
                        label="用户名"
                        align="center"

                        >
                    </el-table-column>
                    <el-table-column
                        prop="ipAddr"
                        label="IP地址"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                     <el-table-column
                        prop="createTime"
                        label="操作时间"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="optModule"
                        label="操作模块"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="optDetail"
                        label="操作详情"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">
                            <el-button
                            disabled
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="params.limit"
                layout="prev, pager, next,total"
                :total="loglist.totalAll">
            </el-pagination>
            
        </div>
    </div>
   
</template>

<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{
            params:{
                page:1,
                limit:10,
                ipAddr:null,
                beginTime:null,
                endTime:null,
                sort:'-create_time'
            },
            datepicker:[],
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false
        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        handleChange(index){
            this.params.page = index;
            this.getloglist();
        },
        dataChange(val){
            this.params.beginTime = val[0];
            this.params.endTime = val[1];
        },
        
        getloglist(){
            this.$store.dispatch("queryOptLog",this.params)
        },
        query(){
            this.params.page = 1;
            this.getloglist();
        },
        reset(){
            this.params.ipAddr = null;
            this.params.beginTime = null;
            this.params.endTime = null;
            this.datepicker = [];
            this.getloglist();
        },
        exportlog(){
            this.$store.dispatch("exportOptLog",{}).
            then(res =>{
                this.toexcel(res,"日志记录");
            })
        },
        toexcel(data,name){
            let blob =new Blob([data],{type:"text/csv,charset=utf-8"});
                let objectUrl= URL.createObjectURL(blob);
                // var objectUrl = '/duty/template/download'
                var filename = name +'.xlsx';
                
                var a = document.createElement('a');
                a.href = objectUrl;
                a.download = filename;
                a.click();
        },
    },
    created(){

    },
    mounted(){
        this.getloglist();
    },
    computed:{
        ...mapState({
            loglist:state =>state.ar.queryOptLog
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
</style>