<template>
  <div class="basecontainer">
    <div class="treeBox">
      <el-tree
        :auto-expand-parent="true"
        node-key="districtId"
        style="height: 100%"
        :data="districtTree"
        :props="props"
        show-checkbox
        :default-expanded-keys="defaultCheckedKeys"
        :default-checked-keys="defaultCheckedKeys"
        @check="treehandleCheckChange"
      ></el-tree>
    </div>
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">标题</div>
            <el-input v-model="queryParams.title" clearable=""></el-input>
          </div>

          <div class="inputBox">
            <div class="title">发帖时间</div>
            <el-date-picker
              v-model="datepick"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              @change="changeDate"
              value-format="yyyy-MM-ddTHH:hh:ss"
            ></el-date-picker>
          </div>

          <div class="rightBtnGroup">
            <el-button type="primary" style="margin-left: 10px" @click="query">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>

        <div class="firstrow">
          <el-button
            @click="add"
            type="text"
            icon="el-icon-plus"
            style="margin-left: 20px"
          >
            新增
          </el-button>
          <el-button
            @click="morDel"
            type="text"
            icon="el-icon-delete"
            style="margin-left: 20px"
          >
            删除
          </el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="reportList.results"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            width="85"
            type="selection"
            align="center"
          ></el-table-column>

          <el-table-column
            prop="title"
            label="标题"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="name"
            label="创建/更新人"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="创建/更新时间"
            align="center"
          ></el-table-column>
          <el-table-column align="center" label="操作" width="180">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleDetail(scope.row)"
              >
                详情
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryParams.count"
        layout="prev, pager, next,total"
        :total="reportList.pagination.total"
      ></el-pagination>

      <el-dialog
        title="新增失物招领"
        :visible.sync="addDialogVisible"
        width="30%"
        center
      >
        <el-form :model="addparams">
          <el-form-item label="标题:" :label-width="labelWidth">
            <el-input
              v-model="addparams.homepageThrObject.title"
              autocomplete="off"
              style="width: 92%"
              clearable=""
            ></el-input>
          </el-form-item>
          <el-form-item label="内容:" :label-width="labelWidth">
            <el-input
              v-model="addparams.homepageThrObject.content"
              type="textarea"
              autocomplete="off"
              style="width: 92%"
              clearable=""
            ></el-input>
          </el-form-item>
          <el-form-item label="附件:" :label-width="labelWidth">
            <el-upload
              action="imgUpload"
              :before-upload="beforeUpload"
              :on-success="handleAvatarSuccess"
              list-type="picture-card"
              :on-remove="handleRemove"
              :file-list="cacheFileList"
              :limit="1"
              :class="{ hide: hideUploadEdit }"
            >
              <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addconfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="deldialogVisible" width="30%">
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deldialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delConfirm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      defaultCheckedKeys: [],
      tabledata: [{}],
      cacheFileList: [],
      addparams: {
        filePaths: [],
        homepageThrObject: {
          title: null,
          content: null,
          // pictureUrl:null,
          // districtId :Vue.ls.get("districtIds")[0],
          districtId: Vue.ls.get("districtIds"),
          name: sessionStorage.getItem("name"),
          type: "1"
        }
      },
      queryParams: {
        start: 0,
        count: 10,
        districtIds: [],
        type: "1",
        title: null
      },
      hightcameralist: [],
      datepick: [],
      dialogtext: "cesgu",
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      mordialogVisible: false,
      deldialogVisible: false,
      hideUploadEdit: false,
      dialogImageUrl: "",
      labelWidth: "100px",
      props: {
        label: "name",
        children: "children"
      },
      reportList: {
        pagination: {
          total: 0
        }
      }
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = [];
      val.forEach((element) => {
        let temproject = {};
        temproject.uniqueId = element.uniqueId;
        this.multipleSelection.push(temproject);
      });
    },
    handleChange(index) {
      this.queryParams.start = (index - 1) * this.queryParams.count;
      this.getList();
    },
    add() {
      if (this.addparams.homepageThrObject.districtIds) {
        this.addDialogVisible = true;
      } else {
        this.$message({
          type: "warning",
          message: "请先选择居委"
        });
      }
    },
    addconfirm() {
      if (!this.addparams.homepageThrObject.title) {
        Message.success("标题不能为空");
        return;
      }
      if (!this.addparams.homepageThrObject.content) {
        Message.success("内容");
        return;
      }
      if (this.addparams.filePaths.length <= 0) {
        Message.success("请选择附件");
        return;
      }
      this.$store
        .dispatch("homePage_saveHomePage", this.addparams)
        .then((res) => {
          if (res.result) {
            Message.success("添加完成");
            this.getList();
            this.addDialogVisible = false;
            this.addparams.homepageThrObject.title = null;
            this.addparams.homepageThrObject.content = null;
            this.dialogImageUrl = null;
            this.hideUploadEdit = false;
            this.addparams.filePaths = [];
            this.cacheFileList = [];
          } else {
            Message.success(res.error.message);
          }
        });
    },
    morDel() {
      if (this.multipleSelection.length > 0) {
        this.deldialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    },
    delConfirm() {
      let arr = "";
      this.multipleSelection.forEach((item) => {
        arr = arr + item.uniqueId + ",";
      });
      this.$store
        .dispatch("homePage_deleteHomepageThr", { uniqueId: arr })
        .then((res) => {
          this.deldialogVisible = false;
          if (res.result) {
            Message.success("已删除");
            this.multipleSelection = []; //操作完成后数组置空
            this.getList();
          } else {
            Message.success(res.msg);
          }
        });
    },

    changeDate(val) {
      this.queryParams.startTime = val[0];
      this.queryParams.endTime = val[1];
    },
    handleEdit() {
      this.editDialogVisible = true;
    },
    handleDetail(item) {
      this.$router.push({
        path: "/r/lostAndFoundDetail",
        query: {
          id: item.id
        }
      });
    },
    getList() {
      this.$store
        .dispatch("homePage_getNotice", this.queryParams)
        .then((res) => {
          this.reportList = res;
        });
    },
    query() {
      this.queryParams.start = 0;
      this.getList();
    },
    reset() {
      this.queryParams.title = null;
      this.queryParams.startTime = null;
      this.queryParams.endTime = null;
      this.datepick = [];
      this.query();
    },
    delLabel() {
      this.$store.dispatch("delLabel", { id: [1] });
    },

    treehandleCheckChange: function (data, checked, indeter, fuck) {
      // let selectedNodes = checked.checkedNodes.filter(item => {
      //     if (item.type == "小区") {
      //     return item.districtId;
      //     }
      // });
      // Vue.ls.set(
      //     "districtIds",
      //     selectedNodes.map(item => item.districtId)
      // );
      // this.getList();
      if (data.level == 4) {
        Vue.ls.set("districtIds", data.districtId);
        if (checked.checkedNodes.length == 0) {
          this.addparams.homepageThrObject.districtIds = [];
          this.queryParams.districtIds = [];
        } else {
          this.addparams.homepageThrObject.districtIds = [
            Vue.ls.get("districtIds")
          ];
          this.queryParams.districtIds = [Vue.ls.get("districtIds")];
          // this.queryParams.districtIds = Vue.ls.get("districtIds");
        }
        // this.addparams.homepageThrObject.districtIds = Vue.ls.get("districtIds");
        // this.queryParams.districtIds = Vue.ls.get("districtIds");
        this.getList();
      } else {
        this.$message({
          type: "warning",
          message: "请选择居委级别"
        });
        this.$refs.tree.setCheckedKeys([]);
      }
    },
    beforeUpload(file) {
      let fd = new FormData();
      fd.append("file", file);
      this.$http.post("/hip/v1/attachment/fileUpload", fd).then((res) => {
        this.addparams.filePaths = [];
        this.addparams.filePaths.push(res.result[0]);
      });
      this.hideUploadEdit = true;
      console.log(file);
      try {
        this.dialogImageUrl = window.URL.createObjectURL(file);
        // this.dialogImageUrl = file.url;
      } catch (error) {
        // console.log(error)
        this.dialogImageUrl = window.URL.createObjectURL(file);
      }
      return false;
    },
    handleAvatarSuccess(res, file) {
      try {
        this.dialogImageUrl = URL.createObjectURL(file);
      } catch (error) {
        console.log(error);
      }
      // this.dialogImageUrl = URL.createObjectURL(file.raw);
    },
    handleRemove(file, fileList) {
      this.hideUploadEdit = false;
      console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    }
  },
  created() {},
  mounted() {
    // this.queryParams.districtIds = Vue.ls.get("districtIds");
    this.getList();
    this.$store.dispatch("district_getDistrictTree", {
      districtId: sessionStorage.getItem("villageDistrictId")
    });
  },
  computed: {
    ...mapState({
      // reportList: state => state.ronghe.reportList,
      districtTree: (state) => state.ronghe.districtTree
    }),
    imgUpload: function () {
      return process.env.VUE_APP_RONGHE_IMG_UPLOAD;
    }
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  // background: #eaeef4;
  display: flex;
  flex-direction: row;
}
.treeBox {
  height: 100%;
  width: 20%;
  border-right: 1px solid #eeeeee;
  background: white;
}
.highPointTabs {
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  // padding-right: 30px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 30px;
    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 2%;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
.avatar {
  width: 156px;
  height: 156px;
  display: block;
}
</style>
<style>
.hide .el-upload--picture-card {
  display: none;
}
</style>