<!--编辑和添加和详情公用-->
<template>
    <div class="container">
        <div class="house-box">
            <div class="box-title">上报详情</div>
            <el-form ref="ruleForm" :model="ruleForm" class="demo-ruleForm" label-width="150px">
                <el-form-item label="所属辖区">
                    <el-input disabled v-model="ruleForm.districtName"></el-input>
                </el-form-item>
                <el-form-item label="上报类型">
                    <el-input disabled v-model="ruleForm.elementName"></el-input>
                </el-form-item>
                <el-form-item label="事发地址">
                    <el-input disabled v-model="ruleForm.targetAddress"></el-input>
                </el-form-item>
                <el-form-item label="上报人">
                    <el-input disabled v-model="ruleForm.createUserName"></el-input>
                </el-form-item>
                <el-form-item label="上报时间">
                    <el-input disabled v-model="ruleForm.createTime"></el-input>
                </el-form-item>
                <el-form-item label="问题描述">
                    <el-input disabled v-model="ruleForm.remark"></el-input>
                </el-form-item>
                <el-form-item label="照片">
                    <div style="width:500px">
                        <img style="width: 30px;height: 30px;" v-for="imgurl in ruleForm.images" :key="imgurl" :src="imgurl" alt="">
                    </div>
                </el-form-item>
                <div class="button-group">
                    <el-button type="primary">受理</el-button>
                    <el-button type="primary" plain>不受理</el-button>
                </div>

            </el-form>
        </div>
    </div>
</template>

<script>
    import {getReportDetail} from '../../../../store/api/starfish/report/report'
    export default {
        name: "house",
        data () {
            return {
                ruleForm: {
                },
                reportId: ''// 街道
            }
        },
        created() {
            this.reportId = this.$route.query.reportId
            this.init()
        },
        methods: {
            init () {
                this.getReportDetail()
            },
            getReportDetail () {
                getReportDetail({taskId: this.reportId}).then(res => {
                    if (res.code === 200) {
                        this.ruleForm = res.data
                    }
                })
            }
        }
    }
</script>

<style scoped lang="less">
    .container{
        background-color: rgb(233, 238, 244);
        padding: 0 10px 10px 10px;
        .house-box{
            background-color: #ffffff;
            padding-bottom: 10px;
            .house-title{
                padding: 20px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #eeeeee;
                .red-dot{
                    color: #e72020;
                    margin-right: 5px;
                }
            }
            .box-title{
                padding: 20px;
            }
        }
        /deep/ .el-input{
            width: 500px
        }
        .demo-ruleForm{
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        .position-button{
            margin-left: 10px;
        }
    }
    .button-group{
        display: flex;
        button{
            width: 150px;
            margin: 20px;
        }
    }
</style>