<template>
    <div class="report-container">
        <div class="report-box">
            <div class="report-head">
                <el-form :inline="true" :model="ruleForm" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label-width="100px" label="上报类型" prop="typeName" style="width: 400px;">
                                <el-select v-model="ruleForm.elementName" @change="selectType">
                                    <div v-for="typeitem in typeList" :key="typeitem.elementId">
                                        <el-option :label="typeitem.name" :value="typeitem.elementId"></el-option>
                                    </div>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label-width="100px" label="事发地址" prop="targetAddress" style="width: 600px;">
                                <el-input v-model="ruleForm.targetAddress" placeholder="请输入事发地址"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label-width="100px" label="当前状态" prop="statusName">
                                <el-select v-model="ruleForm.statusFmt" @change="selectStatus">
                                    <div v-for="statusitem in statusList" :key="statusitem.id">
                                        <el-option :label="statusitem.text" :value="statusitem.code"></el-option>
                                    </div>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label-width="100px" label="上报人" prop="createUserName" style="width: 400px;">
                                <el-input v-model="ruleForm.createUserName"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label-width="100px" label="所属组别" prop="groupName" style="width: 600px;">
                                <el-select v-model="ruleForm.groupName" @change="selectGroup">
                                    <div v-for="gruopitem in groupList" :key="gruopitem.id">
                                        <el-option :label="gruopitem.name" :value="gruopitem.id"></el-option>
                                    </div>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                        </el-col>
                    </el-row>
                    <div class="button-box">
                        <el-form-item>
                            <el-button type="primary" icon="el-icon-search" @click="getReportList()">查询</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
            <div class="box-line"></div>
            <div class="house-list">
                <div>
                    <el-table
                            :data="reportList"
                            max-height="400"
                            border
                            style="width: 100%">
                        <el-table-column
                                fixed
                                prop="elementName"
                                label="上报类型"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="targetAddress"
                                label="事发地址"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="createUserName"
                                label="上报人">
                        </el-table-column>
                        <el-table-column
                                prop="createTime"
                                label="上报时间">
                        </el-table-column>
                        <el-table-column
                                prop="statusFmt"
                                label="当前状态">
                        </el-table-column>
                        <el-table-column
                                prop="remark"
                                label="问题描述">
                        </el-table-column>
                        <el-table-column
                                prop="images"
                                label="照片">
                            <template slot-scope="scope">
                                <img style="width: 30px;height: 30px;display: inline-block" :src="scope" alt="">
                            </template>
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="220">
                            <template slot-scope="scope">
                                <el-button
                                        icon="el-icon-edit-outline"
                                        @click.native.prevent="toCheck(scope.row)"
                                        type="text"
                                        size="small">
                                    审核
                                </el-button>
                                <el-button
                                        icon="el-icon-document"
                                        @click.native.prevent="toDetail(scope.row)"
                                        type="text"
                                        size="small">
                                    详情
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="page-block">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="pageSize"
                                layout="sizes, prev, pager, next, jumper"
                                :total="totalCount">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getReportType, getGroupList, getReportList} from '../../../../store/api/starfish/report/report'
    import {getDicts} from "../../../../store/api/starfish/common/common"
    export default ({
        name: 'reportList',
        data () {
            return {
                data: [],
                ruleForm: {
                },
                groupList: [],
                typeList: [],
                statusList: [],
                reportList: [],
                currentPage: 1,
                totalCount: 0,
                pageSize: 10
            }
        },
        created () {
            this.init()
        },
        methods: {
            init () {
                this.getReportType()
                this.getGroupList()
                this.getDicts()
                this.getReportList()
            },
            /**
             * 选择类型
             */
            selectType (val) {
                this.ruleForm.elementId = val
            },
            /**
             * 选择状态
             */
            selectStatus (val) {
                this.ruleForm.status = val
            },
            /**
             * 选择组别
             */
            selectGroup (val) {
                this.ruleForm.districtId = val
            },
            /**
             * 获取上报类型列表
             */
            getReportType () {
                const params = {}
                getReportType(params).then(res => {
                    if (res.code === 200) {
                        this.typeList = res.data
                    }
                })
            },
            /**
             * 获取组别列表
             */
            getGroupList () {
                const params = {}
                getGroupList(params).then(res => {
                    if (res.code === 200) {
                        this.groupList = res.data
                    }
                })
            },
            /**
            * 获取状态
            */
            getDicts () {
                const params = {
                    type: 2,
                    keys: 'AnyReportStatus'
                }
                getDicts(params).then(res => {
                    if (res.code === 200) {
                        this.statusList = res.data.AnyReportStatus
                    }
                })
            },
            /**
            * 获取随手报列表
            */
            getReportList () {
                const params = this.ruleForm
                getReportList(params).then(res => {
                    if (res.code === 200) {
                        this.reportList = res.data.list
                        this.total = res.data.totalPage
                        this.currentPage = res.data.page
                        this.totalCount = res.data.totalCount
                        this.pageSize = res.data.limit
                    }
                })
            },
            /**
             * 重置
             */
            resetForm () {
                this.ruleForm = {}
            },
            /**
             * 修改分页的页数
             */
            handleSizeChange (val) {
                this.pageSize = val
            },
            /**
             * 修改分页的当前页码
             */
            handleCurrentChange (val) {
                this.currentPage = val
            },
            /**
             * 跳转至详情
             */
            toDetail (info) {
                this.$router.push({
                    path: '/reportDetail',
                    query: {
                        reportId: info.taskId
                    }
                })
            },
            /**
             * 跳转至审批，暂时不写
             */
            toCheck (info) {
                this.$router.push({
                    path: 'reportCheck',
                    query: {
                        reportId: info.taskId
                    }
                })
            }
        }
    })
</script>

<style scoped lang="less">
    .report-container{
        background-color: rgb(233, 238, 244);
        padding-bottom: 10px;
        .report-box{
            background-color: #ffffff;
            margin: 0 10px 0 10px;
            .report-head {
                padding: 40px;
            }
            .box-line{
                background-color: rgb(233, 238, 244);
                width: 100%;
                height: 10px;
            }
            .house-list{
                padding: 0 40px;
                .list-head{
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .button-box{
                display: flex;
                justify-content: flex-end;
            }
        }
        .box{
            margin: 10px;
        }
        .page-block{
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
    }
    .upload-demo{
        display: inline-block;
        margin: 0 10px;
    }
</style>