<template>
    <div class="visit-container">
        <div class="module-box">
            <div class="visit-title">走访信息</div>
            <div class="visit-list">
                <div class="visit-list-item">
                    <div class="item item-key">走访对象类型</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访对象</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">接单时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访人</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访结果</div>
                    <div class="item item-val">
                        <p>1.csdjkj </p>
                        <p>2.csdjkj </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-box">
            <div class="visit-title">任务信息</div>
            <div class="visit-list">
                <div class="visit-list-item">
                    <div class="item item-key">任务名称</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">任务频次</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">生成时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">处置时限</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">任务地址</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">任务积分</div>
                    <div class="item item-val">
                    </div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">处置内容</div>
                    <div class="item item-val">
                        <p>1.csdjkj </p>
                        <p>2.csdjkj </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-box">
            <div class="visit-title">自治信息</div>
            <div class="visit-list">
                <div class="visit-list-item">
                    <div class="item item-key">走访对象类型</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访对象</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">接单时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访人</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访结果</div>
                    <div class="item item-val">
                        <p>1.csdjkj </p>
                        <p>2.csdjkj </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-box">
            <div class="visit-title">协同信息</div>
            <div class="visit-list">
                <div class="visit-list-item">
                    <div class="item item-key">走访对象类型</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访对象</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">接单时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访时间</div>
                    <div class="item item-val">2020-02-02</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访人</div>
                    <div class="item item-val">民宿</div>
                </div>
                <div class="visit-list-item">
                    <div class="item item-key">走访结果</div>
                    <div class="item item-val">
                        <p>1.csdjkj </p>
                        <p>2.csdjkj </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "visitRecordDetail"
    }
</script>

<style lang="less" scoped>
.visit-container{
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;
    .module-box{
        /*padding: 20px;*/
        /*display: flex;*/
        /*flex-flow: column;*/

        /*padding: 0 10px 10px 10px;*/
        /*box-sizing: border-box;*/
        /*background-color: #e9eef4;*/
        /*width: 100%;*/
        /*height: 100%;*/
        height: 100%;
        width: 100%;
        padding: 20px;
        background-color: white;
        border-top: 1px solid transparent;
        .visit-title{
            padding: 10px;
        }
        .visit-list{
            display: flex;
            flex-flow: row wrap;
            width: 80%;
            .visit-list-item{
                width: 50%;
                display: flex;
                .item{
                    padding: 10px;
                    border-bottom: 1px solid #dddddd;
                    border-right: 1px solid #dddddd;
                }
                .item:first-child{
                    border-left: 1px solid #dddddd;
                    border-top: 1px solid #dddddd;
                }
                .item-key{
                    flex: 0.3;
                    background-color: #eeeeee;
                }
                .item-val{
                    flex: 0.7;
                }
            }
        }
    }
}
</style>