<template>
  <div class="visit-record-list-container">
    <div class="visit-record-list-inner">
      <div class="search-container">
        <div class="first-line">
          <div class="item">
            <div class="left">
              <span>走访时间:</span>
            </div>
            <div class="right">
              <el-date-picker
                class="item-width"
                v-model="visitDate"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              ></el-date-picker>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <span>走访人:</span>
            </div>
            <div class="right">
              <el-input class="item-width" placeholder="请输入走访人姓名"></el-input>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <span>走访对象:</span>
            </div>
            <div class="right">
              <el-input class="item-width" placeholder="请输入走访对象"></el-input>
            </div>
          </div>
        </div>
        <div class="first-line">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item">
            <div class="left"></div>
            <div class="righ">
              <el-button style="width:100px;">重置</el-button>
              <el-button type="primary" style="width:100px;">查询</el-button>
            </div>
          </div>
        </div>
      </div>
      <div class="grey-block"></div>
      <div class="table-container">
        <div class="table-title">数据列表</div>
        <el-table border style="width:100%;">
          <el-table-column label="走访对象类型" prop="targetTypeFmt"></el-table-column>
          <el-table-column label="走访对象" prop="targetName"></el-table-column>
          <el-table-column label="走访时间" prop="handleTime"></el-table-column>
          <el-table-column label="走访人" prop="handleUserName"></el-table-column>
          <el-table-column label="有无异常" prop="hasError"></el-table-column>
          <el-table-column label="操作">
            <el-button type="text">详情</el-button>
          </el-table-column>
        </el-table>
        <div class="block">
          <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-sizes="[100, 200, 300, 400]"
                  :page-size="100"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="400">
          </el-pagination>
          <table>
            <tr>
              <td colspan="2" rowspan="2"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      visitDate: "" ,
      currentPage: 1
    };
  },
  methods: { ...mapActions([]), ...mapMutations([]),
    handleSizeChange () {

    },
    handleCurrentChange () {

    }
  },

  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      visitRecordList: state => state.visitRecord.visitRecordList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/starfish/visitRecord/visitRecordList.less";
</style>
