<template>
  <div class='managementList'>
    <div class="managementSearch">
        <el-date-picker
            @change='pickerTime'
            v-model="params.createTime"
            value-format='yyyy-MM-dd HH:mm:ss'
            type="datetime"
            placeholder="选择日期">
        </el-date-picker>
        <el-input 
            style="margin-left:20px"
            placeholder="请输入设备序列号/ID" 
            v-model="params.idOrUuid" 
            class="input-with-select"
            prefix-icon="el-icon-search">
            <el-button slot="append" type="success" @click="checkIdOrUuid">查询</el-button>
        </el-input>
    </div>
    <div class="managementTable">
        <div class="managementTableTitle">
            <div class="managementTableTitleHeader">
                <span>日志管理</span> 
            </div>
            <div class="managementTableTitleHeader">
                
            </div>
        </div>
        <div class="managementTableContent">
            <div class="managementTableList">
                <el-table
                    :data="logList"
                    :border="true"
                    style="width: 100%">
                    <el-table-column
                        prop="deviceId"
                        label="设备序列号"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="deviceUuid"
                        label="ID"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="logType"
                        label="日志类型"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="createUserName"
                        label="操作人"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="createTime"
                        label="操作时间"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="type"
                        label="操作类型"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                    <el-table-column
                        prop="remarks"
                        label="备注"
                        :show-overflow-tooltip='true'
                        align='center'>
                    </el-table-column>
                </el-table>
            </div>
            <div class="managementTableListPage">
                 <el-pagination
                    @current-change="handleCurrentChange"
                    background
                    :current-page="(params.start/10)+1"
                    :page-size="params.count"
                    layout="total, prev, pager, next, jumper"
                    :total="logTotal">
                </el-pagination>
            </div>
        </div>
    </div>

  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        managementSearch:'',
        params:{
            start:0,
            count:10,
            idOrUuid:'',
            createTime:''
        },
        value: '',
        options: [{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
        tableData: [{
          number: 'tx-11054',
          id: '1',
          key: '124567899',
          time:'2020-08-01'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }, {
          number: 'tx-11055',
          id: '2',
          key: '124567899',
          time:'2020-08-02'
        }, {
          number: 'tx-11056',
          id: '3',
          key: '124567899',
          time:'2020-08-03'
        }, {
          number: 'tx-11057',
          id: '4',
          key: '124567899',
          time:'2020-08-04'
        }],

    }
  },
methods:{ ...mapMutations([]),
    handleCurrentChange(index){
        this.params.start = (index-1)*10
        this.$store.dispatch('listPageByCreateTimeAndIdOrUUID',this.params)
    },
    checkIdOrUuid(){
        this.params.start =0
        this.$store.dispatch('listPageByCreateTimeAndIdOrUUID',this.params)
    },
    pickerTime(time){
        console.log(time)
    }
},

mounted(){
  this.$store.dispatch('listPageByCreateTimeAndIdOrUUID',this.params)
},
watch:{},
computed:{ ...mapState({
  logList:state=>state.logManage.logList,
  logTotal:state=>state.logManage.logTotal,
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/safeUkey/management/managementList.less';
</style>
<style lang="less">
.el-input-group__append{
    background: #409eff !important;
    color: #f2f2f2;
    border: 1px solid #bbb;
    border-left: none;
}
.el-input__icon{
    color:#409eff;
    font-weight: 800;
}
</style>
