@import '../global.less';

.manage-feature-list-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .manage-feature-list-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;

        .table-container {
            margin: 20px 10px 10px 10px;
        }

        .pagination-container {
            text-align: center;
            margin-top: 15px;
        }

        .title-container {
            padding: 0 10px;
        }

        .btn-container {
            display: flex;
            justify-content: flex-end;

            .btn-container-inner {
                width: 260px;
                margin-right: 10px;
            }
        }

    }

    .sortable-container {
        width: 426px;
        height: 426px;
        margin: 0 auto;
        border: 1px dashed grey;

        .sortable-item {
            float: left;
            height: 140px;
            width: 140px;
            background-color: #eeeeee;
            position: relative;
            border: 1px dashed grey;

            .sortable-item-image-container {
                text-align: center;
                position: absolute;
                top: 10px;
                width: 100%;
            }

            .sortable-item-name {
                text-align: center;
                position: absolute;
                bottom: 10px;
                width: 100%;
            }

            .sortable-item-delete {
                position: absolute;
                bottom: 10px;
                right: 5px;
                cursor: pointer;
            }
        }
    }

}