@import '../global.less';

.task-type-manage-add-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .width-200 {
        width: 200px;
    }

    .pagination-container {
        text-align: center;
        margin-top: 15px;
    }

    .column-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .task-type-manage-add-container-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;

        .form-container {
            width: 45%;
            margin: 10px auto auto auto;
        }


    }
}