@import '../global.less';

.task-type-manage {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;


    .task-type-manage-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;

        .form-container {
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            margin: 10px;

            .item {
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .left {
                    width: 30%;
                }

                .right {
                    width: 80%;
                }
            }

            .item-end {
                justify-content: flex-end;
            }
        }

        .grey-block {
            height: 10px;
            background-color: @grey-color;
        }

        .table-container {
            margin: 20px 10px 10px 10px;

            .factor-list-ul {
                list-style: none;
                padding: 0;
                margin: 0;

                &>li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .pagination-container {
            text-align: center;
        }
    }

}