.yaosu-manage-add-container {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #e9eef4;
    width: 100%;
    height: 100%;

    .yaosu-manage-add-container-inner {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid transparent;

        .form-container {
            width: 90%;
            margin: 10px auto auto auto;
        }


    }
}