.label-manage {
  width: 90%;
  margin: 20px auto;
  border: 1px dashed #eeeeee;
  padding: 20px;
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
  .tag-container {
    margin-top: 20px;
  }
}
