.carParking{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}
.bigImg{
    width: 700px;
    height: 400px;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -350px;
    background: #99bdee;
    img{
        width: 100%;
        height: 100%;
    }
}
.managementList{
    width: 100%;
    height: 100%;
    background: #edf0f5;
    padding: 15px;
    box-sizing: border-box;
    .managementSearch{
        // height: 7%;
        height: 55px;
        .input-with-select{
            width: 30%;
            
        }
    }
    .managementTable{
        background-color: #fff;
        .managementTableTitle{
            // height: 7%;
            height: 55px;
            width: 100%;
            display: flex;

            .managementTableTitleHeader{
                flex: 1;
                padding-left: 10px;
                display: flex;
                align-items: center; /*定义body的元素垂直居中*/
                justify-content: flex-start;
                span{
                   color: #99bdee; 
                   letter-spacing: 2px; 
                   font-size: 18px;
                }
            }   
            .managementTableTitleHeader:last-child{
                padding-right: 10px;
                justify-content: flex-end;
            }
        }
        .managementTableContent{
            height: 83%;
            width: 100%;
            padding:0 10px;
            box-sizing: border-box;
            .managementTableList{
                width: 100%;
                height: 100%;
                transform: rotate();
            }
            .managementTableListPage{
                margin-top: 20px;
                height: 60px;
                text-align: center;
            }
        }
    }
}
.shebeiTitle{
    width: 100px;
    text-align: left;
    padding:0px 20px 10px;
    font-size: 17px;
    color: #a4a4a4;
}
.dialog-footer{
    text-align: center;
    // margin-top: 100px;
}
.dialog-center{
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
}
.addformbox{
    display:flex;
    width:100%;
}
.addformflex{
    flex: 1;
}
.deleteNode{
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 18px;
}
.dialogcontent{
    width: 100%;
    height: 350px;
    // background: #ccc;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    .weitingImage{
        // background: #99bdee;
        img{
            height: 100%;
        }
    }
    .weitingInfo{
        display: flex;
        flex-direction: column;
        background: #fafafa;
        .infoItem{
            flex: 1;
            line-height: 55px;
            padding-left: 25px;
            box-sizing: border-box;
            .infoItemitle{
                padding-right: 20px;
                box-sizing: border-box;
                color: #b8b8b8;
            }
        }
        .infoItem:first-child{
            padding: 0;
            text-align: center;
            line-height: 55px;
            color: #ff0000;
            font-size: 23px;
        }
        .infoItem:nth-child(2n){
            background: #f2f2f2;
        }
    }
}
.weitingButton{
    display: flex;
    margin-top: 20px;
    div{
        flex: 1;
        text-align: center;
    }
}
.btnsure{
    padding: 10px 50px;
}