<template>
  <div
    class="district-manage-container"
    style="padding:10px;box-sizing:border-box;  background: #eaeef4;height:100%;
"
  >
    <div
      class="district-manage-inner"
      style="background:#ffffff;height:100%;padding:0 20px;box-sizing:border-box;"
    >
      <el-row>
        <el-col :span="9">
          <el-row style="margin-top:10px;margin-bottom:10px;">
            <el-col :span="15">
              <el-input
                placeholder="输入关键字进行过滤"
                v-model="filterText"
              ></el-input>
            </el-col>
            <el-col :span="5">
              <el-button @click="handleSearchDistrict" type="primary">
                搜索
              </el-button>
            </el-col>
          </el-row>
          <el-tree
            style="width:100%;font-size:16px;"
            :data="districtList"
            node-key="id"
            default-expand-all
            @node-click="handleNodeClick"
            draggable
            :allow-drop="allowDrop"
            :allow-drag="allowDrag"
            :props="defaultProps"
            @node-drag-start="handleDragStart"
            @node-drag-enter="handleDragEnter"
            @node-drag-leave="handleDragLeave"
            @node-drag-over="handleDragOver"
            @node-drag-end="handleDragEnd"
            @node-drop="handleDrop"
          >
            <!-- <el-button type="text">文字按钮</el-button> -->
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span style="display:inline-block;">{{ node.label }}</span>
              <span style="margin-left:20px;display:inline-block;">
                <el-button
                  type="text"
                  size="mini"
                  @click="() => appendTreeNode(data)"
                >
                  添加
                </el-button>
                <el-popconfirm
                  title="是否确认删除？"
                  @confirm="() => deleteTreeNode(node, data)"
                >
                  <el-button slot="reference" type="text" size="mini">
                    删除
                  </el-button>
                </el-popconfirm>
              </span>
            </span>
          </el-tree>
        </el-col>
        <el-col :span="13" :offset="1">
          <el-form :model="formData">
            <el-form-item label="区域名称">
              <el-input v-model="formData.name"></el-input>
            </el-form-item>
            <el-form-item label="描述">
              <el-input
                type="textarea"
                v-model="formData.description"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button
                style="margin-left:15px;"
                type="primary"
                @click="onUpdateDistrict"
              >
                更新
              </el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </div>
    <el-dialog title="添加区域" :visible.sync="dialogVisible">
      <el-form :model="addFormData">
        <el-form-item label="区域名称">
          <el-input v-model="addFormData.name"></el-input>
        </el-form-item>
        <el-form-item label="描述">
          <el-input
            type="textarea"
            v-model="addFormData.description"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-popconfirm title="是否确认删除？">
            <el-button
              slot="reference"
              type="danger"
              @click="dialogVisible = false"
            >
              取消
            </el-button>
          </el-popconfirm>
          <el-button
            style="margin-left:15px;"
            type="primary"
            @click="onCreateDistrict"
          >
            确定
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentId: "",
      parentId: "",
      dialogVisible: false,
      filterText: "",
      formData: { name: "", description: "", parentId: 0 },
      addFormData: { name: "", description: "", parentId: 0 },
      data: [
        {
          id: 1,
          label: "一级 1",
          children: [
            {
              id: 4,
              label: "二级 1-1",
              children: [
                {
                  id: 9,
                  label: "三级 1-1-1"
                },
                {
                  id: 10,
                  label: "三级 1-1-2"
                }
              ]
            }
          ]
        },
        {
          id: 2,
          label: "一级 2",
          children: [
            {
              id: 5,
              label: "二级 2-1"
            },
            {
              id: 6,
              label: "二级 2-2"
            }
          ]
        },
        {
          id: 3,
          label: "一级 3",
          children: [
            {
              id: 7,
              label: "二级 3-1"
            },
            {
              id: 8,
              label: "二级 3-2",
              children: [
                {
                  id: 11,
                  label: "三级 3-2-1"
                },
                {
                  id: 12,
                  label: "三级 3-2-2"
                },
                {
                  id: 13,
                  label: "三级 3-2-3"
                }
              ]
            }
          ]
        }
      ],
      defaultProps: {
        children: "children",
        label: "name"
      }
    };
  },
  methods: {
    onUpdateDistrict: function() {
      this.$store.dispatch("editTree", {
        id: this.formData.id,
        name: this.formData.name,
        description: this.formData.description,
        parentId: this.formData.parentId
      });
    },
    handleSearchDistrict: function() {
      this.$store.dispatch("searchTree", { name: this.filterText });
    },
    deleteTreeNode: function(node, data) {
      this.$store.dispatch("delTree", { id: data.id });
    },
    appendTreeNode: function(data) {
      Object.assign(this.addFormData, {
        name: "",
        description: "",
        parentId: ""
      });
      this.dialogVisible = true;
      this.formData.name = data.name;
      this.formData.description = data.description;
      this.formData.parentId = data.parentId;
      this.addFormData.parentId = data.id;
    },
    onCreateDistrict: function() {
      this.$store.dispatch("addTree", this.addFormData);
      this.dialogVisible = false;
    },
    handleNodeClick: function(...arg) {
      let [node] = [...arg];
      console.log(node);
      this.formData.id = node.id;
      this.formData.parentId = node.parentId;
      this.formData.name = node.name;
      this.formData.description = node.description;
    },
    handleDragStart(node, ev) {
      // console.log("drag start", node);
    },
    handleDragEnter(draggingNode, dropNode, ev) {
      // console.log("tree drag enter: ", dropNode.name);
    },
    handleDragLeave(draggingNode, dropNode, ev) {
      // console.log("tree drag leave: ", dropNode.name);
    },
    handleDragOver(draggingNode, dropNode, ev) {
      // console.log("tree drag over: ", dropNode.name);
    },
    handleDragEnd(draggingNode, dropNode, dropType, ev) {
      // console.log("tree drag end: ", dropNode && dropNode.name, dropType);
    },
    handleDrop(draggingNode, dropNode, dropType, ev) {
      this.currentId = draggingNode.key;
      if (dropType == "inner") {
        this.parentId = dropNode.key;
        let p = {
          id: this.currentId,
          parentId: this.parentId
        };
        this.$store.dispatch("editTree", p);
      } else if (dropType == "before") {
        this.parentId = dropNode.parent.key;
        let p = {
          id: this.currentId,
          parentId: this.parentId
        };
        this.$store.dispatch("editTree", p);
      } else {
        this.parentId = dropNode.parent.key;
        let p = {
          id: this.currentId,
          parentId: this.parentId
        };
        this.$store.dispatch("editTree", p);
      }
    },
    allowDrop(draggingNode, dropNode, type) {
      if (dropNode.data.name === "二级 3-1") {
        return type !== "inner";
      } else {
        return true;
      }
    },
    allowDrag(draggingNode) {
      return draggingNode.data.name.indexOf("三级 3-2-2") === -1;
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("searchTree", {});
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({ districtList: state => state.ar.districtList }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped></style>
