<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div style="margin-left: 20px">
          说明：管理员可以通过上下拖动事件列表对事件进行排序，排序完毕后需点击确定。设置成功需要重启客户端生效。
        </div>
        <div class="tablebox">
          <!-- @selection-change="handleSelectionChange" -->
          <el-table
            id="detailListId"
            ref="multipleTable"
            :data="eventDetail.data"
            row-key="id"
            tooltip-effect="dark"
            style="width: 100%"
            border=""
          >
            <el-table-column
              prop="name"
              label="详情页面字段项"
              align="center"
              show-overflow-tooltip
            ></el-table-column>
            <el-table-column
              label="是否展示"
              align="center"
              show-overflow-tooltip
            >
              <template slot-scope="scope">
                <el-switch
                  v-if="scope.row.isVisible == 1 || scope.row.isVisible == 0"
                  v-model="scope.row.isVisible"
                  active-color="#409EFF"
                  :active-value="1"
                  :inactive-value="0"
                  inactive-color="#C0CCDA"
                  @change="switchChange(scope.row)"
                ></el-switch>
                <div v-if="scope.row.isVisible == -1">固定展示</div>
              </template>
            </el-table-column>
            <el-table-column
              prop="nickName"
              label="客户端展示名称"
              align="center"
              show-overflow-tooltip
            >
              <template slot-scope="scope" class="inputStyle">
                <el-input
                  v-if="scope.row.isVisible"
                  v-model="scope.row.nickName"
                ></el-input>
              </template>
            </el-table-column>
            <!-- <el-table-column
              label="客户端排序"
              align="center"
              show-overflow-tooltip
            >
              <template slot-scope="scope" class="inputStyle">
                <el-input
                  v-if="scope.row.isVisible"
                  v-model="scope.row.rank"
                  style="text-align: center"
                ></el-input>
              </template>
            </el-table-column> -->
          </el-table>
          <div class="btnBox">
            <el-button @click="reset">重置</el-button>
            <el-button @click="submit" type="primary">确定</el-button>
          </div>
        </div>
        <el-dialog title="提示" :visible.sync="dialogJudgeRepeat" width="20%">
          <span>客户端展示名称或排序数字不能重复，请修改。</span>
          <br />
          <br />
          <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogJudgeRepeat = false">
              确 定
            </el-button>
          </span>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import Sortable from "sortablejs";
export default {
  data() {
    return {
      dialogJudgeRepeat: false
    };
  },
  methods: {
    judgeRepeatRank(list) {
      var flag = true;
      // console.log(list.length);
      firstLoop: for (let val in list) {
        // console.log(list[val].nickName);
        for (let i = 0; i < list.length; i++) {
          // 判断比较的不是同一个元素
          if (list[val].id != list[i].id) {
            // 如果名字相同，则判断为有重复
            if (list[val].nickName == list[i].nickName) {
              this.dialogJudgeRepeat = true;
              flag = false;
              break firstLoop;
            }
          }
        }
      }
      return flag;
    },
    judgeRepeatName(list) {
      var flag = true;
      // console.log(list.length);
      firstLoop: for (let val in list) {
        // console.log(list[val].rank);
        for (let i = 0; i < list.length; i++) {
          // 判断比较的不是同一个元素
          if (list[val].id != list[i].id) {
            // 如果名字相同，则判断为有重复
            if (list[val].rank == list[i].rank) {
              this.dialogJudgeRepeat = true;
              flag = false;
              break firstLoop;
            }
          }
        }
      }
      return flag;
    },
    switchChange(row) {
      var count = Math.pow(2, 30);
      // console.log(row);
      if (row.name == "案件编号") {
        row.rank = count - 1;
      } else if (row.name == "事项名称") {
        row.rank = count - 2;
      } else if (row.name == "推送时间") {
        row.rank = count - 3;
      } else if (row.name == "推送部门") {
        row.rank = count - 4;
      } else if (row.name == "接收时间") {
        row.rank = count - 5;
      } else if (row.name == "接收部门") {
        row.rank = count - 6;
      } else if (row.name == "处置状态") {
        row.rank = count - 7;
      } else if (row.name == "结案时间") {
        row.rank = count - 8;
      } else if (row.name == "问题描述") {
        row.rank = count - 9;
      } else if (row.name == "处置意见") {
        row.rank = count - 10;
      } else if (row.name == "发现地址") {
        row.rank = count - 11;
      } else if (row.name == "发现方式") {
        row.rank = count - 12;
      }

      // this.$store
      //   .dispatch("editAttributes", this.eventDetail.data)
      //   .then((res) => {
      //     // console.log(res);
      //     if (res.msg == "成功") {
      //       Message.success("设置成功");
      //       this.$store.dispatch("getEventDetail");
      //     } else {
      //       Message.success(res.msg);
      //     }
      //   });
    },
    submit() {
      var judgeNameFlag = true;
      var judgeRankFlag = true;
      judgeNameFlag = this.judgeRepeatName(this.eventDetail.data);
      judgeRankFlag = this.judgeRepeatRank(this.eventDetail.data);

      // console.log(judgeNameFlag);
      // console.log(judgeRankFlag);

      var temp = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
      for (let index in this.eventDetail.data) {
        console.log(index);
        if (this.eventDetail.data[index].isVisible == 1) {
          this.eventDetail.data[index].rank = temp[index];
        }
      }

      console.log(this.eventDetail.data);

      if (judgeNameFlag && judgeRankFlag) {
        this.$store
          .dispatch("editAttributes", this.eventDetail.data)
          .then((res) => {
            console.log(res);
            if (res.msg == "成功") {
              this.$store.dispatch("getEventDetail");
              Message.success("设置成功");
            } else {
              Message.success(res.msg);
            }
          });
      }
    },
    reset() {
      this.$store.dispatch("getEventDetail");
    },
    rowDrop() {
      const el = document.querySelector(
        "#detailListId .el-table__body-wrapper tbody"
      );
      Sortable.create(el, {
        ghostClass: "sortable-ghost",
        animation: 170,
        onEnd: (e) => {
          // console.log(e);
          // const currRow=this.eventDetail.splice(e.oldIndex,1)[0]
          // this.eventDetail.splice(e.newindex,0,currRow)
          this.eventDetail.data = this.computeSort(
            e.oldIndex,
            e.newIndex,
            this.eventDetail.data
          );
          // console.log(this.eventDetail.data);
          // var temp = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
          // for (let index in this.eventDetail.data) {
          //   // console.log(index);
          //   this.eventDetail.data[index].rank = temp[index];
          // }
          // console.log(this.eventDetail.data);
        }
      });
    },
    computeSort(oldIndex, newIndex, oldList) {
      const newList = [];
      // console.log(oldList);
      if (oldIndex < newIndex) {
        for (let i = 0; i < oldList.length; i++) {
          if (i < oldIndex || i > newIndex) {
            newList[i] = oldList[i];
          } else {
            if (i < newIndex) {
              newList[i] = oldList[i + 1];
            } else {
              newList[i] = oldList[oldIndex];
            }
          }
        }
      } else if (oldIndex > newIndex) {
        for (let i = 0; i < oldList.length; i++) {
          if (i > oldIndex || i < newIndex) {
            newList[i] = oldList[i];
          } else {
            if (i === newIndex) {
              newList[i] = oldList[oldIndex];
            } else if (i > newIndex) {
              newList[i] = oldList[i - 1];
            }
          }
        }
      } else {
        for (let i = 0; i < oldList.length; i++) {
          newList[i] = oldList[i];
        }
      }
      // console.log(newList);
      return newList;
    }
  },
  mounted() {
    this.$store.dispatch("getEventDetail");
    // setTimeout(() => {
    this.rowDrop();
    // }, 2000);
  },
  computed: {
    ...mapState({
      eventDetail: (state) => state.ar.getEventDetail
    })
  }
};
// window.onbeforeunload = function () {
//   console.log('hello');
// }
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  background: #eaeef4;
  // border: black 1px solid;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  // border: black 1px solid;
  .headerBox {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: black 1px solid;

    /deep/ .el-input__inner {
      padding: 0;
      text-align: center;
    }

    .btnBox {
      height: 60px;
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // border: black 1px solid;
    }

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      // border: 1px solid black;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
      .inputBox {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        // border: 1px solid black;
        .title {
          color: #333333;
          font-size: 15px;
          width: 80px;
          // border: 1px solid black;
          text-align: center;
          margin-right: 10px;
        }
      }
      .import {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 30px;
        // border: black 1px solid;
        .img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .tips {
    margin-left: 10px;
    font-size: 10px;
    // border: black 1px solid;
  }
  .tablebox {
    margin-top: 25px;
    height: fit-content;
    width: 100%;
    // border: black 1px solid;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>