<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div style="margin-left: 20px">
          说明：管理员可以设置客户端事件中心列表的字段排序，设置成功需要重启客户端生效。
        </div>
        <div class="tablebox">
          <el-table
            ref="multipleTable"
            :data="eventStatus.data"
            tooltip-effect="dark"
            style="width: 100%"
            border=""
          >
            <el-table-column
              prop="name"
              label="处置状态节点"
              align="center"
              show-overflow-tooltip
            ></el-table-column>
            <el-table-column
              prop="nickName"
              label="客户端展示名称"
              align="center"
              show-overflow-tooltip
            >
              <template slot-scope="scope" class="inputStyle">
                <el-input
                  v-model="scope.row.nickName"
                  @change="judgeRepeatName(scope.row)"
                ></el-input>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-dialog title="提示" :visible.sync="dialogJudgeName" width="20%">
          <span>客户端展示名称不能重复，请修改。</span>
          <br />
          <br />
          <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogJudgeName = false">
              确 定
            </el-button>
          </span>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      dialogJudgeName: false,
      params: {
        id: null,
        name: null,
        nickName: null
      }
    };
  },
  methods: {
    judgeRepeatName(row) {
      var flag = true;
      for (let val in this.eventStatus.data) {
        if (!row.nickName) {
          this.dialogJudgeName = true;
          flag = false;
        }

        if (row.id != this.eventStatus.data[val].id) {
          if (row.nickName == this.eventStatus.data[val].nickName) {
            this.dialogJudgeName = true;
            flag = false;
          }
        }
      }
      if (flag == true) {
        this.params.id = row.id;
        this.params.name = row.name;
        this.params.nickName = row.nickName;

        // console.log(this.params);
        // 调接口存数据
        this.$store.dispatch("editEventStatus",this.params).then(res => {
          console.log(res);
          if(res.msg == "成功"){
            Message.success("设置成功");
          }
          else{
            Message.success(res.msg)
          }
        });
      }
    }
  },
  mounted() {
    this.$store.dispatch("getEventStatus");
  },
  computed: {
    ...mapState({
      eventStatus: (state) => state.ar.getEventStatus
    })
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  background: #eaeef4;
  // border: black 1px solid;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  // border: black 1px solid;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    /deep/ .el-input__inner {
      padding: 0;
      text-align: center;
    }

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      // border: 1px solid black;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
      .inputBox {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        // border: 1px solid black;
        .title {
          color: #333333;
          font-size: 15px;
          width: 80px;
          // border: 1px solid black;
          text-align: center;
          margin-right: 10px;
        }
      }
      .import {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 30px;
        // border: black 1px solid;
        .img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .tips {
    margin-left: 10px;
    font-size: 10px;
    // border: black 1px solid;
  }
  .tablebox {
    margin-top: 25px;
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>