<template>
  <div class="labelManageTabs">
    <div class="container">
      <el-tabs v-model="activeName" class="eltabs">

        <el-tab-pane label="事件列表设置" name="first" class="eltabspan">
          <eventList></eventList>
        </el-tab-pane>
        <el-tab-pane label="事件详情设置" name="second">
          <eventDetail></eventDetail>
        </el-tab-pane>
        <el-tab-pane label="处置状态设置" name="third">
          <eventStatus></eventStatus>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import eventList from "./eventList.vue"
import eventDetail from "./eventDetail.vue";
import eventStatus from "./eventStatus.vue"
export default {
  data() {
    return {
      activeName: "first"
    };
  },
  components: {
    eventList,
    eventDetail,
    eventStatus
  }
};
</script>

<style lang="less" scoped>
.labelManageTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
  .container {
    height: 100%;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .eltabs {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .eltabspan {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
</style>
<style>
.el-tabs__content {
  /* height: 100%; */
  box-sizing: border-box;
}
</style>
