<template>
  <el-container>
    <el-main>
      <el-row>
        <div class="headerBox">
          <div class="inputBox">
            <div class="title1">登录账号</div>
            <el-input v-model="userList.loginName"></el-input>
          </div>
          <div class="inputBox">
            <div class="title1">用户名称</div>
            <el-input v-model="userList.name"></el-input>
          </div>
          <div class="inputBox">
            <div class="title1">创建时间</div>
            <el-date-picker
              v-model="userList.start"
              type="datetime"
              placeholder="开始时间"
            ></el-date-picker>
            <div style="font-size: 15px">至</div>
            <el-date-picker
              v-model="userList.end"
              type="datetime"
              placeholder="结束时间"
            ></el-date-picker>
          </div>
          <div class="inputBox">
            <el-button type="primary" @click="searchUser()">查询</el-button>
            <el-button plain @click="reset()">重置</el-button>
          </div>
        </div>
      </el-row>
      <!-- 新增客户端用户文字按钮 -->
      <el-row>
        <el-button type="text" @click="addUserDialog()">+ 新增用户</el-button>
      </el-row>
      <!-- 表格 -->
      <el-row>
        <el-table :data="allUserList" border style="width: 100%">
          <el-table-column
            prop="loginName"
            label="登录账号"
            align="center"
            width="180"
          ></el-table-column>
          <el-table-column
            prop="name"
            label="用户名称"
            align="center"
            width="180"
          ></el-table-column>
          <el-table-column
            prop="remark"
            label="描述"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="创建时间"
            align="center"
          ></el-table-column>
          <el-table-column property="isDelete" label="是否启用" align="center">
            <template slot-scope="scope">
              <el-switch
                v-model="scope.row.isDelete"
                @change="change(scope.$index, scope.row)"
                :active-value="0"
                :inactive-value="1"
                inactive-color=" #C0CCDA"
                active-color="#409EFF"
              ></el-switch>
            </template>
          </el-table-column>
          <el-table-column prop="option" label="操作" align="center">
            <template slot-scope="scope">
              <el-button type="text" @click="editUser(scope.row)">
                编辑
              </el-button>
              <el-button type="text" @click="resetPassConfirm(scope.row)">
                重置密码
              </el-button>
              <el-button type="text" @click="setHighSpot(scope.row)">
                设置高点权限
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
      <!-- 是否重置密码弹框 -->
       <el-dialog
        :visible.sync="isResetDialog"
        width="20%"
        center
      >
        <div style="display: flex; justify-content: center">
        是否重置密码？
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="isResetDialog = false">取 消</el-button>
          <el-button type="primary" @click="resetConfirm()">确 定</el-button>
        </span>
      </el-dialog>
      <!-- 重置密码弹框 -->
      <el-dialog
        title="重置密码"
        :visible.sync="resetDialogVisible"
        width="30%"
        center
      >
        <div style="display: flex; justify-content: center">
          <div>
            密码重置成功，新密码为:
            <br />
            <input id="tkl" v-model="newPassWord" />
          </div>
          <el-button @click="copyPwd()">复制</el-button>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="resetDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="resetDialogVisible = false">确 定</el-button>
        </span>
      </el-dialog>
      <el-row>
        <el-pagination
          @current-change="handleChange"
          background
          :current-page="userList.page"
          :page-size="userList.limit"
          layout="prev, pager, next"
          :total="totalAllPage"
        ></el-pagination>
      </el-row>

      <!-- 新增客户端用户弹框 -->
      <el-dialog
        title="新增用户"
        :visible.sync="addDialogVisible"
        width="30%"
        center
      >
        <el-form :model="user" :rules="rules" ref="user" label-width="80px">
          <el-row>
            <el-col :span="16">
              <el-form-item label="登录账号" prop="loginName">
                <el-input v-model="user.loginName"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="16">
              <el-form-item label="登录密码" prop="passWord" :inline="true">
                <el-input v-model="user.passWord">{{ user.passWord }}</el-input>
                <el-button @click="randomPwd()">随机生成</el-button>
              </el-form-item>
            </el-col>

            <el-col :span="16">
              <el-form-item label="用户名称" prop="name">
                <el-input v-model="user.name"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="16">
              <el-form-item label="手机" prop="phoneNo">
                <el-input v-model="user.phoneNo"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="16">
              <el-form-item label="描述" prop="remark">
                <el-input v-model="user.remark"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addUserInf('user')">
            确 定
          </el-button>
        </span>
      </el-dialog>
      <!-- 编辑用户弹出框 -->
      <el-dialog
        title="编辑用户"
        :visible.sync="editDialogVisiual"
        width="30%"
        center
      >
        <el-form :model="editUserInfo" label-width="80px" >
          <el-row>
            <el-col :span="16">
              <el-form-item label="登录账号">
                <el-input v-model="editUserInfo.loginName" :disabled="disabled"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="16">
              <el-form-item label="用户名称">
                <el-input v-model="editUserInfo.name"  :disabled="otherDisabled"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="16">
              <el-form-item label="手机">
                <el-input v-model="editUserInfo.phoneNo"  :disabled="otherDisabled"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="16">
              <el-form-item label="描述">
                <el-input v-model="editUserInfo.remark"  :disabled="otherDisabled"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisiual = false">取 消</el-button>
          <el-button type="primary" @click="editUserInf()">确 定</el-button>
        </span>
      </el-dialog>
      <!-- 设置高点权限弹出框 -->
      <el-dialog
        title="设置客户端高点权限"
        :visible.sync="setDialogVisible"
        width="40%"
        center
      >
        <div class="el-transfer">
          <div class="el-transfer-panel">
            <div class="el-transfer-panel__header">
              <el-input
                size="mini"
                placeholder="请输入检索条件"
                prefix-icon="el-icon-search"
                v-model="filterText"
              ></el-input>
            </div>
            <div class="el-transfer-panel__body" style="overflow: auto">
              <el-tree
                @check="getData"
                show-checkbox
                class="filter-tree"
                node-key="name"
                :default-checked-keys="highPoint"
                :data="hightPoint"
                :props="defaultProps"
                :filter-node-method="filterNode"
                ref="tree"
              ></el-tree>
            </div>
          </div>
          <div class="el-transfer__buttons">
            <i
              class="el-icon-arrow-left"
              style="display: block; font-size: 50px"
            ></i>
            <i class="el-icon-arrow-right" style="font-size: 50px"></i>
          </div>

          <div class="el-transfer-panel">
            <div class="el-transfer-panel__header">
              <span>已选择的高点</span>
            </div>
            <div class="el-transfer-panel__body">
              <div class="el-transfer-panel__list">
                <ul>
                  <li v-for="(item, index) in allPonits" :key="index">
                    <div class="inline">
                      <span>{{ item.name }}</span>
                      <i class="el-icon-close" @click="removeData(item)"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="setDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="setConfirm()">确 定</el-button>
        </span>
      </el-dialog>
    </el-main>
  </el-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    var validatePhoneNum = (rule, value, callback) => {
      if (!/^1[3456789]\d{9}$/.test(value)) {
        callback(new Error("请输入正确的手机号码"));
      } else {
        callback();
      }
    }
      var validateLoginName=(rule, value, callback)=>{
        let reg=new RegExp("[\\u4E00-\\u9FFF]+","g");
        if(reg.test(value)){
           callback(new Error("含有中文字符"));
        }else{
           callback();
        }
      }
 
    return {
      disabled:false,
      otherDisabled:true,
      allPonits: [],
      rules: {
        loginName: [
          { required: true, message: "请输入登录账号", trigger: "blur" },
          { max: 32 },
          {validator:validateLoginName}
        ],
        name: [
          { required: true, message: "请输入用户名称", trigger: "blur" },
          { max: 32 }
        ],
        passWord: [{ min: 6, max: 16 }],
        phoneNo: [{ validator: validatePhoneNum }],
        remark: [{ max: 200 }]
      },
      hightPointId: null,
      // 用户列表
      userList: {
        loginName: "",
        name: "",
        start: "",
        end: "",
        page: 1,
        limit: 10
      },
      // 新增用户信息
      user: {
        loginName: "",
        name: "",
        passWord: "",
        phoneNo: "",
        remark: ""
      },
      // 编辑用户信息
      editUserInfo: {
        loginName: "",
        name: "",
        phoneNo: "",
        remark: "",
        isDelete: "",
        id: null
      },
      centerDialogVisible: false,
      checkList: [],
      keyarr: [],
      filterText: "",
      defaultProps: {
        children: "children",
        label: "name"
      },
      addDialogVisible: false,
      resetDialogVisible: false,
      editDialogVisiual: false,
      setDialogVisible: false,
      isResetDialog:false,
      userId:null,
    };
  },
  methods: {
    resetPassConfirm(item){
      this.isResetDialog=true;
      this.userId=item;
    },
    editUserInf() {
      this.$store.dispatch("editUserInf", this.editUserInfo);
      this.editDialogVisiual = false;
    },
    editUser(item) {
      this.editUserInfo.loginName = item.loginName;
      this.editUserInfo.name = item.name;
      this.editUserInfo.phoneNo = item.phoneNo;
      this.editUserInfo.remark = item.remark;
      this.editUserInfo.isDelete = item.isDelete;
      this.editUserInfo.id = item.id;
      this.editDialogVisiual = true;

       if(item.loginName==="admin"){
       this.disabled=true
       this.otherDisabled=true
       }
       else{
           this.otherDisabled=false
       }
     
    },
    change(index, item) {
      this.$store.dispatch("editUserInf", item);
    },
    addUserDialog() {
      this.addDialogVisible = true;
    },
    addUserInf(user) {
      this.$refs[user].validate((valid) => {
        if (valid) {
          this.addDialogVisible = false;
          this.$store.dispatch("addUserInf", this.user);
        } else {
          return false;
        }
      });
    },
    // 切换分页
    handleChange(index) {
      this.userList.page = index;
      this.queryAllUser();
    },
    // 获取用户列表
    queryAllUser() {
      this.$store.dispatch("queryAllUser", this.userList);
    },
    // 按条件查询用户
    searchUser() {
      this.userList.page = 1;
      this.queryAllUser();
    },
    // 重置
    reset() {
      this.userList = {};
       this.$store.dispatch("queryAllUser", this.userList);
    },
    handleCheckChange(data) {
      this.ids.push(data.$treeNodeId);
    },
    copyPwd() {
      var tkl = document.getElementById("tkl");
      tkl.select();
      document.execCommand("Copy");
    },
    setCheckedNodes(arr) {
      this.$refs.tree.setCheckedNodes(arr);
    },
    getNodes(node, arr) {
      arr.push(node);
      if (node.children) {
        node.children.forEach((item) => this.getNodes(item, arr));
      }
    },
    setHighSpot(item) {
      // 获取所有的高点
      this.$store.dispatch("searchHighPoint", { client: "backend" });
      this.hightPointId = item.id;
      // 获取当前用户已经拥有的高点
      this.$store.dispatch("getHighPoint", { id: item.id });
      this.setDialogVisible = true;
    },
    setConfirm() {
      const camIds = this.keyarr.map((item) => {
        return item.id;
      });
      this.$store.dispatch("setHighPoint", {
        userId: this.hightPointId,
        camIds: camIds
      });
      this.setDialogVisible = false;
    },
    resetConfirm() {
      this.$store.dispatch("resetPassWord", { id: this.userId.id });
      this.resetDialogVisible = true;
      this.isResetDialog = false;
    },
    randomPwd() {
      var chars =
        "0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM!@#$%^&*()";
      var pwd = "";
      var length = 6 + Math.floor(Math.random() * 10);
      for (var i = 0; i < length; i++) {
        var randomNumber = Math.floor(Math.random() * chars.length);
        pwd += chars.substring(randomNumber, randomNumber + 1);
      }
      this.user.passWord = pwd;
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    getData() {
      this.keyarr = [];
      this.checkList = this.$refs.tree.getCheckedNodes();

      if (this.checkList.length != 0) {
        for (var i = 0; i < this.checkList.length; i++) {
          if (!this.checkList[i].children) {
            this.keyarr.push(this.checkList[i]);
          }
        }
      }
      this.allPonits = this.keyarr.map((item) => {
        return item;
      });
      this.allPonits.concat(this.userHigPoint);
    },
    removeData(data) {
      let checklist = this.allPonits;
      for (var i = 0; i < checklist.length; i++) {
        if (checklist[i].name === data.name) {
          checklist.splice(i, 1);
        }
      }
      this.allPonits = checklist;
      this.setCheckedNodes(this.allPonits);
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
    userHigPoint: function (newValue, oldValue) {
      this.allPonits = newValue;
    }
  },
  mounted() {
    this.queryAllUser();
  },
  computed: {
    ...mapState({ allUserList: (state) => state.ar.allUserList }),
    ...mapState({ newPassWord: (state) => state.ar.newPassWord }),
    ...mapState({ hightPoint: (state) => state.ar.hightPoint }),
    ...mapState({ userHigPoint: (state) => state.ar.userHigPoint }),
    ...mapState({ totalAllPage: (state) => state.ar.totalAllPage }),
    ...mapState({ highPoint: (state) => state.ar.highPoint })
  }
};
</script>

<style>
.resetPwd .el-dialog__header {
  border-bottom: 2px solid #ccced1;
}
.el-row {
  margin-bottom: 20px;
}
.el-col {
  border-radius: 4px;
}
.el-table {
  margin-left: 20px;
}
.el-pagination {
  display: flex;
  justify-content: center;
}
.headerBox {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.inputBox {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.title1 {
  color: #333333;
  font-size: 15px;
  width: 100px;
}
.addButton {
  margin-left: 20px;
}
#tkl {
  border: none;
}
#tkl:focus {
  outline: none;
}
.el-dialog .el-dialog__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-transfer-panel .el-transfer-panel__header {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.el-button--text {
  margin-left: 20px;
}
</style>