<template>
  <div class="container">
    <el-tabs v-model="activeName" @tab-click="handleClick" class="tabs">
      <el-tab-pane label="工作内容管理" name="first">
        <div class="first">
          <div class="header_first">
            <span class="sp">工作内容配置</span>
            <el-button type="primary" @click="editOrAdd_workcontent('add')">+添加</el-button>
          </div>
          <el-dialog :visible.sync="dialogFormVisible_01" title="添加管理事项" center>
            <el-form>
              <el-form-item label="活动名称:" label-width="100px" required>
                <el-input autocomplete="off" v-model="params_workcontent.type"></el-input>
              </el-form-item>
              <el-form-item label="描述:" label-width="100px" required>
                <el-input autocomplete="off" v-model="params_workcontent.description"></el-input>
              </el-form-item>
              <el-form-item label="是否上传图片:" label-width="100px">
                <template>
                  <el-radio v-model="ispic" label="1">必须上传</el-radio>
                  <el-radio v-model="ispic" label="2">选择上传</el-radio>
                </template>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible_01 = false">取 消</el-button>
              <el-button type="primary" @click="submit_workcontent">确 定</el-button>
            </div>
          </el-dialog>
          <div class="line"></div>
          <el-table border :data="table_workcontent" class="table_first">
            <el-table-column prop label="属性" align="center" width="150">{{"系统"}}</el-table-column>
            <el-table-column prop="type" label="工作内容" align="center"></el-table-column>
            <el-table-column prop="description" label="工作内容描述" align="center"></el-table-column>
            <el-table-column prop label="是否需要上传图片" align="center">{{"非必须"}}</el-table-column>
            <el-table-column prop="address" label="操作" align="center" width>
              <template slot-scope="scope">
                <el-button
                  @click="editOrAdd_workcontent('edit',scope.row)"
                  type="text"
                  size="small"
                >编辑</el-button>
                <el-button @click="deleteClick('workcontent',scope.row)" type="text" size="small">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange_workcontent"
            :current-page="params_jobcategory.pageNum"
            :page-size="params_jobcategory.pageSize"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="params_workcontent.total"
          ></el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="工作流程类别管理" name="second">
        <div class="second">
          <div class="header_first">
            <span class="sp">工作流程类别配置</span>
            <el-button type="primary" @click="editOrAdd_jobCategory('add')">+添加</el-button>
          </div>
          <el-dialog :visible.sync="dialogFormVisible_02" title="添加管理事项" center>
            <el-form>
              <el-form-item label="管理类别:" label-width="100px" required>
                <el-input autocomplete="off" v-model="params_jobcategory.categoryName"></el-input>
              </el-form-item>
              <el-form-item label="类别描述:" label-width="100px">
                <el-input autocomplete="off" v-model="params_jobcategory.remark"></el-input>
              </el-form-item>
              <!-- <el-form-item label="任务名称:" label-width="100px">
                      <el-input  autocomplete="off"></el-input>
              </el-form-item>-->
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取 消</el-button>
              <el-button type="primary" @click="submit_jobcategory()">确 定</el-button>
            </div>
          </el-dialog>
          <div class="line"></div>
          <el-table border :data="tableData_jobcategory" class="table_first">
            <el-table-column prop="propertyName" label="属性" align="center" width="150"></el-table-column>
            <el-table-column prop="categoryName" label="管理类别" align="center"></el-table-column>
            <el-table-column prop="remark" label="类别描述" align="center"></el-table-column>
            <el-table-column prop="address" label="操作" align="center">
              <template slot-scope="scope">
                <el-button
                  @click="editOrAdd_jobCategory('edit',scope.row)"
                  type="text"
                  size="small"
                >编辑</el-button>
                <el-button @click="deleteClick('jobcategory',scope.row)" type="text" size="small">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange_jobcategory"
            :current-page="params_jobcategory.pageNum"
            :page-size="params_jobcategory.pageSize"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="params_jobcategory.total"
          ></el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="工作类型管理" name="third">
        <div class="second">
          <div class="header_first">
            <span class="sp">工作类型管理</span>
            <el-button type="primary" @click="editOrAdd_jobType('add',)">+添加</el-button>
          </div>
          <el-dialog :visible.sync="dialogFormVisible_03" title="添加管理事项" center>
            <el-form>
              <el-form-item label="工作类型:" label-width="100px" required>
                <el-input autocomplete="off" v-model="params_jpbtype.typeName"></el-input>
              </el-form-item>
              <el-form-item label="描述:" label-width="100px">
                <el-input autocomplete="off" v-model="params_jpbtype.remark"></el-input>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible_03 = false">取 消</el-button>
              <el-button type="primary" @click="submit_jobtype()">确 定</el-button>
            </div>
          </el-dialog>
          <div class="line"></div>
          <el-table border :data="tableData_jobtype" class="table_first">
            <el-table-column prop="propertyName" label="属性" align="center" width="150"></el-table-column>
            <el-table-column prop="typeName" label="管理类别" align="center"></el-table-column>
            <el-table-column prop="remark" label="类型描述" align="center"></el-table-column>
            <el-table-column prop label="操作" align="center">
              <template slot-scope="scope">
                <el-button @click="editOrAdd_jobType('edit',scope.row,)" type="text" size="small">编辑</el-button>
                <el-button @click="deleteClick('jobtype',scope.row)" type="text" size="small">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="params_jpbtype.pageNum_jobtype"
            :page-size="params_jpbtype.pageSize_jobtype"
            background
            layout="total, prev, pager, next,jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="params_jpbtype.totalCount_jobtype"
          ></el-pagination>
        </div>
      </el-tab-pane>
      <el-dialog title="提示" :visible.sync="DeleteDialogVisible" width="20%" center>
        <div class="warn_content">
          <span>是否确定删除?</span>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="DeleteDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm_delete()">确 定</el-button>
        </span>
      </el-dialog>
    </el-tabs>
  </div>
</template>

<script>
import axiox from "axios";
export default {
  data() {
    return {
      ispic: "1",
      DeleteDialogVisible: false,
      first: {
        params: {
          pageNum: 1,
          pageSize: 8
        },

        totalCount: 12
      },
      params_jpbtype: {
        id: "",
        pageNum_jobtype: 1,
        pageSize_jobtype: 10,
        propertyName: "系统",
        remark: "",
        typeName: "",
        totalCount_jobtype: 0
      },
      params_jobcategory: {
        id: "",
        pageNum: 1,
        pageSize: 10,
        propertyName: "系统",
        remark: "",
        typeName: "",
        total: 0
      },
      params_workcontent: {
        id: "",
        type: "",
        description: "",
        districtId: null,
        isDefault: null,
        jifen: null,
        normalImgUrl: null,
        reportType: null,
        unnormalImgUrl: null,
        total: 0,
        pageNum: 1,
        pageSize: 10
      },
      tableData_jobtype: [], //工作类型
      tableData_jobcategory: [], //工作流程类别
      table_workcontent: [], //工作内容

      button_type_jobType: "",
      button_type_jobCategory: "",
      button_type_workcontent: "",
      deleteType: "", //区别点击的删除按钮的类型
      dialogFormVisible_01: false,
      dialogFormVisible_02: false,
      dialogFormVisible_03: false,
      activeName: "first",
      tableData: [
        {
          date: "2016-05-02",
          slovedtime: "2016-05-02",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333,
          resource: "村民上报"
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          slovedtime: "2016-05-02",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1517 弄",
          zip: 200333,
          resource: "村民上报"
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          slovedtime: "2016-05-02",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1519 弄",
          zip: 200333,
          resource: "村民上报"
        },
        {
          date: "2016-05-03",
          name: "王小虎",
          slovedtime: "2016-05-02",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1516 弄",
          zip: 200333,
          resource: "村民上报"
        }
      ]
    };
  },
  created() {
    this.getJobTypelist();
    this.getJobCategorylist();
    this.getWorkContentlist();
  },
  methods: {
    handleClick(tab, event) {
      //tab标签点击事件
      tab;
      event;
    },
    //编辑
    editClick() {},
    confirm_delete() {
      //删除弹框的确认按钮
      this.DeleteDialogVisible = false;
      switch (this.deleteType) {
        case "jobtype":
          this.deleteJobType();
          break;
        case "jobcategory":
          this.deleteJobCatejory();
          break;
        case "workcontent":
          this.deleteworkcontent();
          break;
      }
    },

    deleteClick(type, data) {
      //删除按钮的点击事件
      this.DeleteDialogVisible = true;
      this.deleteType = type;
      switch (type) {
        case "jobtype":
          this.params_jpbtype.id = data.id;

          break;
        case "jobcategory":
          this.params_jobcategory.id = data.id;
          break;

        case "workcontent":
          this.params_workcontent.id = data.id;
          break;
      }
    },

    addJobtype() {
      //添加工作类型
      axiox({
        method: "post",
        url: "/jobType",
        data: {
          propertyName: this.params_jpbtype.propertyName,
          remark: this.params_jpbtype.remark,
          typeName: this.params_jpbtype.typeName
        }
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "添加工作类型成功"
          });
          this.getJobTypelist();
        }
      });
    },
    editJobType() {
      //编辑工作类型
      axiox({
        method: "put",
        url: `${"jobType/"}/${this.params_jpbtype.id}`,
        data: {
          propertyName: this.params_jpbtype.propertyName,
          remark: this.params_jpbtype.remark,
          typeName: this.params_jpbtype.typeName
        }
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "更新信息成功"
          });
          this.getJobTypelist();
        }
      });
    },
    deleteJobType() {
      axiox({
        method: "delete",
        url: `${"jobType/"}/${this.params_jpbtype.id}`
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "更新信息成功"
          });
          this.getJobTypelist();
        }
      });
    },
    editOrAdd_jobType(type, data) {
      //添加或编辑--工作类型
      this.button_type_jobType = type;
      this.dialogFormVisible_03 = true;
      switch (type) {
        case "edit":
          this.params_jpbtype.id = data.id;
          this.params_jpbtype.typeName = data.typeName;
          this.params_jpbtype.remark = data.remark;
          this.params_jpbtype.propertyName = data.propertyName;

          break;
        case "add":
          // this.params_jpbtype.id = '';
          // this.params_jpbtype.typeName = '';
          // this.params_jpbtype.remark = '';
          // this.params_jpbtype.propertyName = '';
          break;
      }
    },
    editOrAdd_jobCategory(type, data) {
      this.button_type_jobCategory = type;
      this.dialogFormVisible_02 = true;
      switch (type) {
        case "edit":
          this.params_jobcategory.id = data.id;
          this.params_jobcategory.categoryName = data.categoryName;
          this.params_jobcategory.remark = data.remark;
          this.params_jobcategory.propertyName = data.propertyName;
          break;

        case "add":
          break;
      }
    },
    submit_jobtype() {
      //工作类型确认按钮
      if (this.button_type_jobType == "add") {
        this.addJobtype();
      } else {
        this.editJobType();
      }

      this.dialogFormVisible_03 = false;
    },
    submit_jobcategory() {
      //工作流程类别管理确认按钮

      if (this.button_type_jobCategory == "add") {
        this.addJobcategory();
      } else {
        this.editJobCategory();
      }
      this.dialogFormVisible_02 = false;
    },
    submit_workcontent() {
      //工作内容确认按钮
      if (this.button_type_workcontent == "add") {
        this.addWorkContent();
      } else {
        this.editWorkContent();
      }
      this.dialogFormVisible_01 = false;
    },

    handleCurrentChange(index) {
      this.params_jpbtype.pageNum_jobtype = index;
      this.getJobTypelist();
    },
    handleCurrentChange_jobcategory(index) {
      this.params_jobcategory.pageNum = index;
      this.getJobCategorylist();
    },
    handleCurrentChange_workcontent(index) {
      this.params_workcontent.pageNum = index;
      this.getWorkContentlist();
    },

    getJobTypelist() {
      //获取工作类型列表
      axiox({
        method: "get",
        url: `${"jobType/search"}/${this.params_jpbtype.pageNum_jobtype}/${
          this.params_jpbtype.pageSize_jobtype
        }`
      }).then(res => {
        this.tableData_jobtype = res.data.list;
        this.params_jpbtype.totalCount_jobtype = res.data.total;
      });
    },

    getJobCategorylist() {
      //获取工作流程类别的数据列表
      axiox({
        method: "get",
        url: `${"baseurl/jobCategory/search"}/${
          this.params_jobcategory.pageNum
        }/${this.params_workcontent.pageSize}`
      }).then(res => {
        this.tableData_jobcategory = res.data.list;
        this.params_jobcategory.total = res.data.total;
      });
    },
    addJobcategory() {
      //添加工作流程类别
      axiox({
        method: "post",
        url: "baseurl/jobCategory",
        data: {
          propertyName: this.params_jobcategory.propertyName,
          remark: this.params_jobcategory.remark,
          categoryName: this.params_jobcategory.categoryName
        }
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "添加工作流程类别成功"
          });
          this.getJobCategorylist();
        }
      });
    },

    editJobCategory() {
      //编辑工作流程类别
      axiox({
        method: "put",
        url: `${"baseurl/jobCategory/"}/${this.params_jobcategory.id}`,
        data: {
          propertyName: this.params_jobcategory.propertyName,
          remark: this.params_jobcategory.remark,
          categoryName: this.params_jobcategory.categoryName
        }
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "更新信息成功"
          });
          this.getJobCategorylist();
        }
      });
    },

    deleteJobCatejory() {
      axiox({
        method: "delete",
        url: `${"baseurl/jobCategory/"}/${this.params_jobcategory.id}`
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "删除成功"
          });
          this.getJobCategorylist();
        }
      });
    },

    getWorkContentlist() {
      //获取工作内容的数据列表
      axiox({
        method: "get",
        url: `${"/occurrenceType/search"}/${this.params_workcontent.pageNum}/${
          this.params_workcontent.pageSize
        }`
      }).then(res => {
        this.table_workcontent = res.data.list;
        this.params_workcontent.total = res.data.total;
      });
    },

    editOrAdd_workcontent(type, data) {
      //添加或编辑--工作内容
      this.button_type_workcontent = type;
      this.dialogFormVisible_01 = true;
      switch (type) {
        case "edit":
          this.params_workcontent.id = data.id;
          this.params_workcontent.type = data.type;
          this.params_workcontent.description = data.description;
          // this.params_workcontent.propertyName = data.propertyName;

          break;
        case "add":
          // this.params_jpbtype.id = '';
          // this.params_jpbtype.typeName = '';
          // this.params_jpbtype.remark = '';
          // this.params_jpbtype.propertyName = '';
          break;
      }
    },

    editWorkContent() {
      //编辑工作内容
      axiox({
        method: "put",
        url: `${"/occurrenceType/"}/${this.params_workcontent.id}`,
        data: {
          type: this.params_workcontent.type,
          description: this.params_workcontent.description,
          districtId: this.params_jobcategory.districtId,
          isDefault: this.params_workcontent.isDefault,
          jifen: this.params_workcontent.jifen,
          normalImgUrl: this.params_workcontent.normalImgUrl,
          reportType: this.params_workcontent.reportType,
          unnormalImgUrl: this.params_workcontent.unnormalImgUrl
        }
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "更新信息成功"
          });
          this.getWorkContentlist();
        }
      });
    },

    addWorkContent() {
      //添加工作内容
      axiox({
        method: "post",
        url: "/occurrenceType",
        data: {
          type: this.params_workcontent.type,
          description: this.params_workcontent.description,
          districtId: this.params_jobcategory.districtId,
          isDefault: this.params_workcontent.isDefault,
          jifen: this.params_workcontent.jifen,
          normalImgUrl: this.params_workcontent.normalImgUrl,
          reportType: this.params_workcontent.reportType,
          unnormalImgUrl: this.params_workcontent.unnormalImgUrl
        }
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "添加工作内容配置项成功"
          });
          this.getWorkContentlist();
        }
      });
    },
    deleteworkcontent() {
      //删除工作内容条目
      axiox({
        method: "delete",
        url: `${"/occurrenceType"}/${this.params_workcontent.id}`
      }).then(res => {
        if (res.status == 200) {
          this.$message({
            type: "success",
            message: "删除成功"
          });
          this.getWorkContentlist();
        }
      });
    }
  }
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 100%;
  background: white;
  padding: 25px;
  box-sizing: border-box;
}
.tabs {
  background: white;
}
.first {
  width: 100%;
  height: 900px;
}
.header_first {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sp {
  font-weight: 600;
}
.line {
  background: #e0e0e0;
  width: 100%;
  height: 1px;
  margin-top: 10px;
}
.fystyle {
  margin-top: 20px;
}
.table_first {
  margin-top: 15px;
}
.header_dialog {
  width: 100%;
  height: 50px;
  background: #f0f2f5;
}
.dialog-footer {
  height: 50px;
}
.el-dialog__bnody {
  padding-bottom: 0;
}
</style>
<style >
.el-dialog--center .el-dialog__body {
  text-align: center;
  /* padding: 25px 25px 30px; */
}
</style>