<template>
  <div class="container">
    <div class="header">
      <span class="sp">新增指派</span>
    </div>
    <div class="line"></div>
    <el-form class="form" label-position="right" label-width="120px" :model="formData">
      <el-form-item label="工作流程名称:">
        <el-input v-model="occurrencePolicyName"></el-input>
      </el-form-item>
      <el-form-item label="工作流程类别:">
        <el-select v-model="value_jobCategory" placeholder="请选择">
          <el-option
            v-for="item in options_jobCategory"
            :key="item.id"
            :label="item.categoryName"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="工作类型:">
        <el-select v-model="value_jobtype" placeholder="请选择">
          <el-option
            v-for="item in options_jobtype"
            :key="item.id"
            :label="item.typeName"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="管理对象:">
        <el-cascader
          v-model="value_manageObj"
          :options="options_manageObj"
          :props="{ label: 'typeName',value:'id',multiple:true}"
          @change="handleChange"
          clearable
        >
          <template slot-scope="{node,data}">
            <div @click="onSelect_manageObj(node,data)">{{data.typeName }}</div>
            <!-- <span v-if="!node.isLeaf"> ({{ data.children.length }}) </span> -->
          </template>
        </el-cascader>
      </el-form-item>

      <el-form-item label="流程频次:">
        <el-select v-model="value_frequency" placeholder="请选择">
          <el-option
            v-for="item in options_frequency"
            :key="item.id"
            :label="item.typeName"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="派单规则:">
        <el-select v-model="value_rule" placeholder="请选择">
          <el-option
            v-for="item in options_rule"
            :key="item.id"
            :label="item.typeName"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="接单人:">
        <el-cascader
          clearable
          v-model="value_receivedBillPersonal"
          :options="options_personal"
          :props="{ label: 'name',value:'deptUrn',multiple:true}"
          @change="handleChange_receivedBillPersonal"
        >
          <template slot-scope="{ node, data }">
            <div @click="onSelect(node,data)">{{data.name }}</div>
            <!-- <span v-if="!node.isLeaf"> ({{ data.children.length }}) </span> -->
          </template>
        </el-cascader>
      </el-form-item>

      <el-form-item label="工作内容:">
        <el-select v-model="value_workContent" placeholder="要素清单选择" multiple>
          <el-option
            v-for="item in options_workContent"
            :key="item.id"
            :label="item.type"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="工作积分:">
        <el-input v-model="workintegral"></el-input>
      </el-form-item>

      <el-form-item label="上报对象:">
        <el-cascader
          clearable
          v-model="value_reportObject"
          :options="options_personal"
          :props="{ label: 'name',value:'deptUrn',multiple:true}"
          @change="handleChange_reportObject"
        >
          <template slot-scope="{ node, data }">
            <div @click="onSelect(node,index)">{{data.name }}</div>
            <!-- <span v-if="!node.isLeaf"> ({{ data.children.length }}) </span> -->
          </template>
        </el-cascader>
      </el-form-item>

      <el-form-item label="联动人员:">
        <el-cascader
          clearable
          v-model="value_linkedPersonal"
          :options="options_personal"
          :props="{ label: 'name',value:'deptUrn',multiple:true}"
          @change="handleChange_linkedPersonal"
        >
          <template slot-scope="{ node, data }">
            <div @click="onSelect(node,index)">{{data.name }}</div>
            <!-- <span v-if="!node.isLeaf"> ({{ data.children.length }}) </span> -->
          </template>
        </el-cascader>
      </el-form-item>

      <el-form-item label="处置方式:">
        <el-select v-model="value_disposeway" placeholder="请选择">
          <el-option
            v-for="item in options_disposeway"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">立即创建</el-button>
        <el-button style="margin-left:50px;margin-bottom:40px">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      value_jobCategory: 2, //工作流程类别
      options_jobCategory: [],
      value_jobtype: 1, //工作类型
      options_jobtype: [],
      value_rule: "", //规则
      options_rule: [],
      value_workContent: [], //工作内容
      options_workContent: [],
      value_manageObj: [], //管理对象
      value_manageObj_up: [], //管理对象接口使用
      options_manageObj: [],
      value_receivedBillPersonal: [], //接单人
      value_receivedBillPersonal_up: [], //接口使用
      options_personal: [],
      value_frequency: 1, //流程频次
      options_frequency: [],
      value_reportObject: [], //上报对象
      value_reportObject_up: [], //上报人员接口使用
      value_linkedPersonal: [], //联动人员
      value_linkedPersonal_up: [], //联动人员接口使用
      occurrencePolicyName: "", //流程名称
      workintegral: 10, //工作积分
      value_disposeway: true,
      options_disposeway: [
        {
          name: "现场处置",
          value: true
        },
        {
          name: "非现场处置",
          value: false
        }
      ],
      options: [],
      value_mul: [],
      formData: {
        taskFlowName: ""
      },

      value: "",
      value_cascader: [],
      options_cascader: []
    };
  },
  created() {
    this.getcreateNewFlowinfo();
    // this.getTypeinfo();
  },
  watch: {},
  methods: {
    handleChange(value) {
      //管理对象
      var arr = [];
      for (var i = 0; i < value.length; i++) {
        let obj = {
          type: value[i][value[i].length - 2],
          userId: value[i][value[i].length - 1]
        };
        arr.push(obj);
      }
      this.value_manageObj_up = arr;
    },

    handleChange_receivedBillPersonal(value) {
      //接单人
      var arr = [];
      for (var i = 0; i < value.length; i++) {
        let obj = {
          deptId: value[i][value[i].length - 2],
          userId: value[i][value[i].length - 1]
        };
        arr.push(obj);
      }
      this.value_receivedBillPersonal_up = arr;
    },
    handleChange_reportObject(value) {
      //上报对象
      var arr = [];
      for (var i = 0; i < value.length; i++) {
        let obj = {
          deptId: value[i][value[i].length - 2],
          userId: value[i][value[i].length - 1]
        };
        arr.push(obj);
      }
      this.value_reportObject_up = arr;
    },
    handleChange_linkedPersonal(value) {
      //联动人员
      var arr = [];
      for (var i = 0; i < value.length; i++) {
        let obj = {
          deptId: value[i][value[i].length - 2],
          userId: value[i][value[i].length - 1]
        };
        arr.push(obj);
      }
      this.value_linkedPersonal_up = arr;
      // this.value_linkedPersonal = value;
    },
    onSelect(node, index) {
      index;
      if (node.hasChildren) {
        this.getUserInfo(node);
      }
    },
    onSelect_manageObj(node) {
      if (node.hasChildren) {
        this.getTypeinfo(node.data.id);
      }
    },

    //创建新流程
    getcreateNewFlowinfo() {
      axios({
        method: "get",
        url: "/occurrenceType/jobType"
      }).then(res => {
        this.options_jobCategory = res.data.jobCategory;
        this.options_jobtype = res.data.jobType;
        this.options_rule = res.data.rule;
        this.options_workContent = res.data.workContent;
        res.data.manageObj.forEach(item => {
          item.children = [];
        });
        this.options_manageObj = res.data.manageObj;
        this.options_personal = res.data.deptId;
        this.options_frequency = res.data.cron;
        // this.options_personal.children = res.data.deptId.child;
      });
    },

    //根据ID获取child信息
    getTypeinfo(id) {
      axios({
        method: "get",
        url: "/occurrenceType/type",
        params: {
          type: id
        }
      }).then(res => {
        let arr = [];

        res.data.forEach(item => {
          let obj = { typeName: item.name, id: item.urn };
          arr.push(obj);
        });
        this.options_manageObj[id - 1].children = arr;
      });
    },

    getUserInfo(node) {
      axios({
        method: "post",
        url: "/wxcpDepartment/getUser",
        data: {
          deptUrn: node.data.deptUrn
        }
      }).then(res => {
        switch (node.level) {
          case 4:
            this.options_personal.forEach(item => {
              if (node.data.deptId == item.deptId) {
                if (item.children.length == 0) {
                  var arr = item.children;

                  res.data.forEach(item => {
                    let obj = { name: item.name, deptUrn: item.urerUrn };
                    arr.push(obj);
                  });
                  item.children = arr;
                }
              }
            });

            break;
          case 2:
            this.options_personal.forEach(item => {
              item.children.forEach(item => {
                if (node.data.deptId == item.deptId) {
                  // if(item.children.length == 0){
                  var arr = item.children;
                  res.data.forEach(item => {
                    // let obj = {name:item.name,id:item.urerUrn}
                    arr.push(item);
                  });
                  item.children = arr;
                  // }
                }
              });
            });
            break;
          case 3:
            this.options_personal.forEach(item => {
              item.children.forEach(item => {
                item.children.forEach(item => {
                  if (node.data.deptId == item.deptId) {
                    if (item.children.length == 0) {
                      var arr = item.children;
                      res.data.forEach(item => {
                        let obj = { name: item.name, deptUrn: item.userUrn };
                        arr.push(obj);
                      });
                      item.children = arr;
                    }
                  }
                });
              });
            });
        }
      });
    },
    //添加新流程
    createNewFlow() {
      // if(this.occurrencePolicyName ==null || this.occurrencePolicyName == ''){
      //   alert('流程名称不能为空!')
      //   return;
      // }
      axios({
        method: "post",
        url: "/occurrencePolicy/",
        data: {
          occurrencePolicyName: this.occurrencePolicyName,
          occurrencePolicyDesc: "民宿检查",
          jobCategory: this.value_jobCategory,
          jobType: this.value_jobtype,
          manageObject: this.value_manageObj_up,
          orderPerson: this.value_receivedBillPersonal_up,
          jobContent: this.value_workContent,
          reportPerson: this.value_reportObject_up,
          cronId: 1,
          jifen: this.workintegral,
          linkagePerson: this.value_linkedPersonal_up,
          isFlag: this.value_disposeway
        }
      }).then(res => {
        res;
      });
    },
    onSubmit() {
      this.createNewFlow();
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
  background: #f0f2f5;
  padding: 30px;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 70px;
  background: white;
  align-items: center;
  display: flex;
}
.sp {
  margin-left: 20px;
}
.line {
  background: #e0e0e0;
  width: 100%;
  height: 1px;
}
.form {
  width: 100%;
  height: 800px;
  background: white;
  padding-top: 20px;
}

.el-input {
  width: 650px;
}
.el-select {
  width: 650px;
}
.el-cascader {
  width: 650px;
}

.el-form-item {
  margin-left: 50px;
}
.el-button {
  width: 100px;
}
</style>