<template>
    <div class="container">
        <div class="first_row">
            <div class="one">
                <p class="p"><span class="point">今日事件</span></p>
                <p><span class="num one">200</span></p>
            </div>
            <div class="one">
                <p class="p"><span class="point">今日结案</span></p>
                <p><span class="num two">200</span></p>
            </div>
            <div class="one">
                <p class="p"><span class="point">日常巡逻</span></p>
                <p><span class="num three">200</span></p>
            </div>
            <div class="one">
                <p class="p"><span class="point">主动发现</span></p>
                <p><span class="num four">200</span></p>
            </div>
            <div class="one">
                <p class="p"><span class="point">上级批派</span></p>
                <p><span class="num five">200</span></p>
            </div>
            <div class="one">
                <p class="p"><span class="point">所有事件</span></p>
                <p><span class="num six">200</span></p>
            </div>
        </div>

        <div class="second_row" >
            <span class="second_row_title">数据筛选</span>
            <div class="line"></div>
            <div class="search" >
                <span class="sp">任务来源:</span>
                <el-select
                    v-model="value_taskfrom"
                    >
                <el-option
                    v-for="item in options_taskfrom"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                    ></el-option>
                </el-select>
                <span class="sp">处置状态:</span>
                <el-select
                    v-model="value_taskfrom"
                    >
                <el-option
                    v-for="item in options_state"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                    ></el-option>
                </el-select>
                
                <span class="sp">发现时间:</span>
                <div class="timePicker">
                    <el-date-picker
                        v-model="value1"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                    >
                    </el-date-picker>
                    
                </div>
                
                
            </div>

            <div class="search">
                <span class="sp">任务编号:</span>
                <el-input class="input"></el-input>
                <span class="sp">处置人:</span>
                <el-input class="input"></el-input>
                <span class="sp">联动处置:</span>
                <el-select
                    v-model="value_disposetype"
                    >
                <el-option
                    v-for="item in options_disposetype"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                    ></el-option>
                </el-select>
                
            </div>
            <div class="div_add_reset">
                <el-button type="primary" class="btn_search" @click="add()">查询</el-button>
                <el-button  class="btn_reset" @click="reset()">重置</el-button>

            </div>
           
        </div>

        <div class="three_row">
            <div class="three_header">
                <span class="three_row_title">数据列表</span>
                <el-button style="margin-right:20px">导出</el-button>
            </div>
            <el-table
            border
            class="table"
            :data="this.tableData"
            >
            <el-table-column
                type="index"
                label="序号"
                align="center"
                width="60"
                >
            </el-table-column>
            <el-table-column
                prop="zip"
                label="任务编号"
                align="center"
                
                >
                <template slot-scope="scope">
                    <el-button @click="goDetail(scope.row)" type="text">{{scope.row.zip}}</el-button>
                </template>
                
            </el-table-column>
            <el-table-column
                prop="resource"
                label="任务来源"
                align="center"
                >
            </el-table-column>
            <el-table-column
                prop="address"
                label="处置状态"
                align="center"
                >
            </el-table-column>
            <el-table-column
                prop="zip"
                label="任务类型"
                align="center"
                >
            </el-table-column>
            <el-table-column
                prop="date"
                label="发起时间"
                align="center"
                >
            </el-table-column>
                        <el-table-column
                prop="address"
                label="地址"
                align="center"
                >
            </el-table-column>
                        <el-table-column
                prop="zip"
                label="任务描述"
                align="center"
                >
            </el-table-column>
                        <el-table-column
                prop="slovedtime"
                label="结案时间"
                align="center"
                >
            </el-table-column>
                        <el-table-column
                prop="zip"
                label="处置人"
                align="center"
                >
            </el-table-column>
            <el-table-column
                prop="zip"
                label="联动处置"
                align="center"
                >
            </el-table-column>
            <el-table-column
                prop="zip"
                label="处理结果"
                align="center"
                >
            </el-table-column>
            </el-table>
            <el-pagination
                class="fystyle"
                @current-change="handleCurrentChange"
                :current-page="params.pageNum"
                :page-size="params.pageSize"
                background
                layout="total, prev, pager, next, jumper"
                prev-text="上一页"
                next-text="下一页"
                :total="totalCount">
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            value_taskfrom:'',
            value_state:"",
            value_disposetype:'',
            options_disposetype: [{
                value: '选项1',
                label: '全部'
                }, {
                value: '选项2',
                label: '自治'
                }, {
                value: '选项3',
                label: '上报处置'
                }, {
                value: '选项4',
                label: '协同处置'
                },{
                    value:'选项5',
                    label:'发起三会'
                }],
            options_taskfrom: [{
                value: '选项1',
                label: '全部'
                }, {
                value: '选项2',
                label: '上级指派'
                }, {
                value: '选项3',
                label: '管理清单'
                }, {
                value: '选项4',
                label: '智能发现'
                },],
            options_state: [{
                value: '选项1',
                label: '全部'
                }, {
                value: '选项2',
                label: '上报'
                }, {
                value: '选项3',
                label: '处置'
                }, {
                value: '选项4',
                label: '结案'
                }, {
                value: '选项4',
                label: '数据入库'
                }],
            params:{
                pageNum:1,
                pageSize:8
            },
            totalCount:12,
            tableData:[{
                date: '2016-05-02',
                slovedtime:'2016-05-02',
                name: '王小虎',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1518 弄',
                zip: 200333,
                resource:'村民上报'
                },
                {
                date: '2016-05-04',
                name: '王小虎',
                slovedtime:'2016-05-02',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1517 弄',
                zip: 200333,
                resource:'村民上报'
                },
                {
                date: '2016-05-01',
                name: '王小虎',
                slovedtime:'2016-05-02',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1519 弄',
                zip: 200333,
                resource:'村民上报'
                }, 
                {
                date: '2016-05-03',
                name: '王小虎',
                slovedtime:'2016-05-02',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1516 弄',
                zip: 200333,
                resource:'村民上报'
                }, 
                ]
            }
        },
        methods:{
            goDetail(obj){
                this.$router.push('/taskdetail');
                obj;
            }
        }
}
</script>
<style  scoped>
    
    .container{
        width: 100%;
        height: 100%;
        background: #f0f2f5;
        padding: 25px;
        box-sizing: border-box;
    }
    .first_row{
        width: 100%;
        height: 100px;
        /* background: brown; */
        display: flex;
        justify-content: space-between;
    }
    .one{
        width: 165px;
        height: 100%;
        background: white;
        text-align: center;
    }
    .point{
        color: #999999;
        text-align: center;
        
    }
    .num{
        font-size: 30px;
        font-weight: 500;
    }
    .second_row{
        width: 100%;
        height: 300px;
        background: white;
        margin-top: 25px;
    }
    .second_row_title{
        font-size:20px;
        font-weight:400;
        margin-top:10px;
        width: 170px;
        margin-left:20px
        
        
    }

    .three_row_title{
        font-size:20px;
        font-weight:400;
        width: 170px;
        margin-left:20px
        
    }
    span{
        display: inline-block;
        width: 70px;
    }
    .line{
        background: #e0e0e0;
        width: 100%;
        height: 1px;
        margin-top: 10px;
    }
    .search{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .sp{
        height: 100px;
        line-height: 100px;
        margin-left: 40px;
    }
    .input{
        height: 40px;
        width: 250px;
        line-height: 40px;
        margin-left: 20px;
    }
    .timePicker{
        height: 100px;
        line-height: 100px;
        margin-left: 20px;
        
    }
    .btn_search{
        margin-right: 30px;
    }
    .three_row{
        width: 100%;
        height: 600px;
        margin-top: 20px;
        background: white;
    }
    .three_header{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        
    }
    .table{
        height: 400px;
        width: 98%;
        margin: auto;
    }
    .el-select{
        height: 40px;
        width: 250px;
        line-height: 40px;
        margin-left: 20px;
    }
    .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .div_add_reset{
      display: flex;
      justify-content: flex-end;
  }
  .btn_reset{
      margin-right: 30px;
  }
</style>