<template>
    <div class="container">
    <div class="container2">
        <div class="header">
            <el-button type="primary" class="btn_add" @click="add()">+添加</el-button>
        </div>
        <div class="line"></div>
        <el-table
        border
        class="table"
        :data="tableData"
        >
         <el-table-column
            type="index"
            label="序号"
            align="center"
            width="60"
            >
        </el-table-column>
        <el-table-column
            prop="zip"
            label="工作流程名称"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="resource"
            label="工作流程类别"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="address"
            label="工作类型"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="address"
            label="检查任务描述"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="address"
            label="走访频次"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="address"
            label="积分"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="address"
            label="接单人员"
            align="center"
            >
        </el-table-column>
        <el-table-column
            prop="address"
            label="上报对象"
            align="center"
            >
        </el-table-column>
        </el-table>
        <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="params.pageNum"
            :page-size="params.pageSize"
            background
            layout="total, prev, pager, next, jumper"
            prev-text="上一页"
            next-text="下一页"
            :total="totalCount">
        </el-pagination>
    </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
             params:{
                pageNum:1,
                pageSize:8
            },
            totalCount:12,
            tableData:[{
                date: '2016-05-02',
                slovedtime:'2016-05-02',
                name: '王小虎',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1518 弄',
                zip: 200333,
                resource:'村民上报'
                },
                {
                date: '2016-05-04',
                name: '王小虎',
                slovedtime:'2016-05-02',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1517 弄',
                zip: 200333,
                resource:'村民上报'
                },
                {
                date: '2016-05-01',
                name: '王小虎',
                slovedtime:'2016-05-02',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1519 弄',
                zip: 200333,
                resource:'村民上报'
                }, 
                {
                date: '2016-05-03',
                name: '王小虎',
                slovedtime:'2016-05-02',
                province: '上海',
                city: '普陀区',
                address: '上海市普陀区金沙江路 1516 弄',
                zip: 200333,
                resource:'村民上报'
                }, 
                ]
        }
    },
    methods:{
        add(){
            this.$router.push('/newbuildflow');
        }
    }
}
</script>
<style scoped>
    .container{
        width: 100%;
        height: 100%;
        background:#f0f2f5;
        padding: 20px;
        box-sizing: border-box;
        
    }
    .container2{
        width: 100%;
        height: 100%;
        background:white;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .header{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn_add{
        margin-right: 20px;
        margin-top: 20px;
    }
    .line{
        background: #e0e0e0;
        width: 100%;
        height: 1px;
        margin-top: 10px;
    }
    .table{
        margin-top: 20px;
        
    }
</style>


