<template>
  <div class="container_bg">
    <div class="container">
      <div class="steps">
        <el-steps :active="active" finish-status="success">
          <el-step title="步骤 1" description="2020-04-14"></el-step>
          <el-step title="步骤 2"></el-step>
          <el-step title="步骤 3"></el-step>
        </el-steps>
      </div>
      <div class="taskinfo_container_bg">
        <span class="sp_taskinfo">任务信息</span>
        <div class="taskinfo_container">
          <div class="container_child" v-for="item in detailList" :key="item.title">
            <span class="sp_title_child">{{item.title}}</span>
            <div class="line_child"></div>
            <span class="sp_detail_child" :title="item.detail">{{item.detail}}</span>
          </div>
        </div>

        <span class="sp_updispositon">上报处置</span>
        <div class="taskinfo_container">
          <div class="container_child" v-for="item in detailList" :key="item.title">
            <span class="sp_title_child">{{item.title}}</span>
            <div class="line_child"></div>
            <span class="sp_detail_child" :title="item.detail" v-if="!item.pic">{{item.detail}}</span>
            <div class="img_container" v-if="item.pic">
              <img :src="imgsrc" class="img_child" />
            </div>
          </div>
        </div>

        <span class="sp_updispositon">协同处置</span>
        <div class="taskinfo_container">
          <div class="container_child" v-for="item in detailList" :key="item.title">
            <span class="sp_title_child">{{item.title}}</span>
            <div class="line_child"></div>
            <span class="sp_detail_child" :title="item.detail" v-if="!item.pic">{{item.detail}}</span>
            <div class="img_container" v-if="item.pic">
              <img :src="imgsrc" class="img_child" />
            </div>
          </div>
        </div>

        <span class="sp_updispositon">发起处置</span>
        <div class="taskinfo_container">
          <div class="container_child" v-for="item in detailList" :key="item.title">
            <span class="sp_title_child">{{item.title}}</span>
            <div class="line_child"></div>
            <span class="sp_detail_child" :title="item.detail" v-if="!item.pic">{{item.detail}}</span>
            <div class="img_container" v-if="item.pic">
              <img :src="imgsrc" class="img_child" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      imgsrc: "",
      active: 2,
      detailList: [
        {
          title: "任务编号",
          detail: "23452345f",
          pic: false
        },
        {
          title: "任务名称",
          detail: "民宿检查",
          pic: false
        },
        {
          title: "任务来源",
          detail: "管理清单",
          pic: false
        },
        {
          title: "任务类型",
          detail: "日常巡查",
          pic: false
        },
        {
          title: "发起时间",
          detail: "2012-04-09",
          pic: false
        },
        {
          title: "管理对象",
          detail: "小区",
          pic: false
        },
        {
          title: "地址",
          detail: "周浦镇沈梅路123弄15号周浦镇沈梅路123弄15号",
          pic: false
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: false
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        },
        {
          title: "接单人",
          detail: "朱金",
          pic: true
        }
      ]
    };
  }
};
</script>
<style  scoped>
.container_bg {
  width: 100%;
  height: 100%;
  background: #f0f2f5;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.container {
  width: 100%;

  background: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  box-sizing: border-box;
}
.steps {
  width: 100%;
  height: 200px;
  margin: auto;
  border: 1px solid rgb(233, 233, 233);
}
.el-steps {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.el-step__head.is-success {
  color: #267cff !important;
  border-color: #267cff !important;
  width: 60px;
  height: 60px;
}
.taskinfo_container_bg {
  border: 1px solid rgb(233, 233, 233);
  /* height: 300px; */
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.taskinfo_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* float: left; */
  /* display: inline; */
  word-wrap: break-word;
  white-space: normal;
  overflow-x: hidden;
}
.sp_taskinfo {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}
.sp_updispositon {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 30px;
}
.container_child {
  width: 150px;
  /* height: 95px; */
  border: 1px solid rgb(233, 233, 233);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: flex-start;
}
.sp_title_child {
  width: 150px;
  height: 40px;
  background: #f0f2f5;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  display: block;
  text-align: center;
  line-height: 40px;
}
.sp_detail_child {
  width: 150px;
  /* height: 54px; */
  background: white;
  color: #333;
  display: block;
  text-align: center;
  /* line-height: 54px; */
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.line_child {
  width: 150px;
  height: 1px;
  background: rgb(233, 233, 233);
}
.img_container {
  width: 150px;
  height: 120px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.img_child {
  width: 130px;
  height: 100px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
</style>
<style>
.el-step__head.is-success {
  color: #267cff !important;
  border-color: #267cff !important;
}
.el-step__icon {
  width: 50px;
  height: 50px;
}
.el-step.is-horizontal .el-step__line {
  height: 2px;
  top: 22px;
  left: 0;
  right: 0;
}
.el-step__title.is-success {
  color: #666666;
  font-weight: 700;
}
.el-step__description.is-success {
  color: rgba(127, 127, 127, 0.6);
}
</style>