.middleware_dashboard{
    width: calc(100% - 10px);
    height: 100%;
    background: #102a56;
    // margin-left: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: repeat(3,33.33%);
    .dashboard_item:nth-child(4){
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-left: 20px;
    }
    .dashboard_item:nth-child(1),.dashboard_item:nth-child(6){
        padding-left: 20px;
    }
    .dashboard_item{
        position: relative;
        .timerselect{
            width: 100px; 
            height: 30px;
            // background: chocolate;
            position: absolute;
            right: 40px;
            top:0px;
        }
        .date-rang{
            width: 180px; 
            height: 30px;
            // background: chocolate;
            position: absolute;
            right: 140px;
            top:0px;
            color: #82F6FF;
            display: flex;
            flex-direction: row;
            align-items: center;
        }


        /* 文字滚动 */
    .merquee {
        width: 100px;
        height: 25px;
        line-height: 25px;
        box-sizing: border-box;
        word-break: break-all;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        right: 140px;
        top:0px;
        }
    .merquee-txt {
        display: inline-block;
        padding-left: 100%;
        /* 从右至左开始滚动 */
        animation: marqueeTransform 16s linear infinite;
        color:#82F6FF ;
        }

    @keyframes marqueeTransform {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
	    }
    }

    .date-rang-camera{
            width: 100px; 
            height: 15px;
            // background: chocolate;
            position: absolute;
            right: 140px;
            top:0px;
            color: #82F6FF;
            flex-direction: row;
            align-items: center;
            .node{
                width: 100%;
                height: 50%;
                display: inline;
                overflow: hidden;
                z-index: -99999;
            }
        }
        .dashboard_itemTitle{
            height: 35px;
            background: url('../../images/middleware/biaoti@2x.png') no-repeat;
            background-size: 100% 100%;
            width: 250px;
            line-height: 35px;
            color: white;
            font-size: 20px;
            padding-left: 15px;
        }
        .dashboard_itemContent{
            width: calc(100% - 30px);
            height: calc(100% - 35px);
            background: rgba(0,0,0,0.03);
        }
        .dashboard_itemLine{
            height: 100%;
            width: 2px;
            position: absolute;
            right: 20px;
            top: 0;
            background: url('../../images/middleware/shuxian@2x.png') no-repeat;
            background-size: 100% 80%;
            background-position: 20%;
        }
    }
}