.deviceManage{
  height: calc(100vh - 90px);
  border: 10px solid #deecfc;
  display: flex;
  flex-flow: column;
  .tab-box{
    padding: 10px 30px;
  }
  .panel-right{
    height: 100%;
    .setting-style{
      padding: 10px 30px;
      .set-title{
        margin-bottom: 10px;
        .point-block{
          display: inline-block;
          color: #409EFF;
          border: 1px solid #409EFF;
          padding: 5px 10px;
          cursor: pointer;
        }
      }
    }
    .table-style{
      display: flex;
      border: 1px solid #eeeeee;
      margin: 10px 30px;
    }
  }
}
.labe-width{
  width:  200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-style{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.info-title{
  padding: 0 30px;
  margin-top: 20px;
}