.deviceManage{
  height: calc(100vh - 80px);
  border: 10px solid #deecfc;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  .panel-left{
    width: 20%;
    height: 100%;
    padding: 0 10px;
  }
  .panel-right{
    width: 80%;
    height: 100%;
    .tab-style{
      padding: 0px 20px;
    }
  }
}
.refresh-icon{
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  .el-icon-refresh{
    margin-right: 10px;
  }
}
.setting-style{
  display: flex;
  flex-flow: row;
  padding: 0 40px;
  color: #666;
  .icon-style{
    margin-left: 20px;
  }
}
.table-style{
  display: flex;
  border: 1px solid #eeeeee;
  margin: 10px 30px;
}
.page-style{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.treeDom{
  width: 100%;
  height: 100%;
  overflow: scroll;
  .tree-body{
    height: 100%;
  }
}