.lineUser{
    width: 100%;
    height: 100%;
    background: #e6e9f0;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    .lineUser_tree{
        background: white;
        margin-right: 10px;
        padding: 10px;
    }
    .lineUser_table{
        background: white;
        padding: 10px;
        box-sizing: border-box;
        .lineUser_table_search{
            width: 400px;
            margin-bottom: 5px;
        }
    }
}