.live-stream {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .left {
    height: 100%;
    width: 15%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .top {
      height: 65%;
      box-sizing: border-box;
      width: 100%;
    }
    .bottom {
      height: 35%;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .video-param-container-fake {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .param-left {
          width: 25%;
        }
        .param-middle {
          width: 60%;
        }
        .param-right {
          width: 25%;
          margin: 0 auto;
          .select-class {
            // border: 1px solid #eeeeee;
            border-radius: 3px;
            width: 100%;
          }
        }
      }
      .cloud-platforms {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        widows: 200px;
        img {
          cursor: pointer;
          margin-right: 10px;
          height: 30px;
          width: 30px;
        }
      }
      .cloud-platform {
        .video-param-container {
          width: 100%;
        }

        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        .btn {
          height: 100%;
          width: 100%;
          cursor: pointer;
          .left-top {
            transform: rotate(225deg);
          }
          .top {
            transform: rotate(270deg);
          }
          .right-top {
            transform: rotate(315deg);
          }
          .left-left {
            transform: rotate(180deg);
          }
          .bottom-left {
            transform: rotate(135deg);
          }
          .bottom-bottom {
            transform: rotate(90deg);
          }
          .bottom-right {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .right-fake {
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
  }
  .right {
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
  }
}
