.videoReplay{
    width: 100%;
    height: 100%;
    background: #e6e9f0;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    .videoReplay_tree{
        background: white;
        margin-right: 10px;
        padding: 10px;
    }
    
    .videoReplay_video{
        background: white;
        .videoReplay_videocontent{
            height: 85%;
            width: 100%;
            background: black;
        }
        .controls {
            // position: absolute;
            width: 99%;
            height: 20px;
            // top: -100px;
            z-index: 10;
            // background-color: rgba(255, 255, 255, 0.31);
            background-color: black;
            // text-align: center;
            transition: all 0.3s ease-in;
            opacity: 1;
        }
        .videoReplay_videocontrol{
            height: 15%;
            width: 100%;
            // background: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            margin-top: -25px;
            .time_line{
                height: 40%;
                width: 100%;
                background-color: black;
                .time_line_mark{
                    width:4.166%;
                    float: left;
                    height: 30%;
                    border-right: 1px solid #aeaeae;
                    box-sizing: border-box;
                }
                .time_line_mark_light{
                    width:4.166%;
                    float: left;
                    height: 30%;
                    border-right: 1px solid #aeaeae;
                    box-sizing: border-box;
                    background: yellow;
                }
                .time_line_number_con{
                    height: 20%;

                    .time_line_number{
                        width:4.16%;
                        height: 100%;
                        float: left;
                        text-align: right;
                        font-size: 10px;
                        padding-top: 12px;
                        color: cornsilk;
                    }
                }
                
                
            }
            .line_con{
                height: 20%;
                width: 100%;
                background-color: #5696ec;
            }
            .select_time{
                height: 60%;
                width: 100%;
                background-color: white;
                box-sizing: border-box;
                box-sizing: border-box;
                padding-top: 2%;
                .select_time_select{
                    width: 400px;
                    height: 40%;
                    background: burlywood;
                    margin:auto;
                    box-sizing: border-box;
                }
            }
        }
    }
}