<template>
  <div class="1">
    <p>
      tolerious： 增加行数{{ tttotalAdditionLine }}--减少行数{{
        tttotalDeleteLine
      }}=实际贡献行数{{ tttrulyLine }}
    </p>
    <p>
      立昆： 增加行数{{ totalAdditionLine }}--减少行数{{
        totalDeleteLine
      }}=实际贡献行数{{ trulyLine }}
    </p>
    <p>
      帅帅： 增加行数{{ shuaitotalAdditionLine }}--减少行数{{
        shuaitotalDeleteLine
      }}=实际贡献行数{{ shuaitrulyLine }}
    </p>
    <p>
      黄文博： 增加行数{{ huangtotalAdditionLine }}--减少行数{{
        huangtotalDeleteLine
      }}=实际贡献行数{{ huangtrulyLine }}
    </p>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import axios from "axios";
export default {
  data() {
    return {
      commitList: [],
      totalAdditionLine: 0,
      totalDeleteLine: 0,
      tttotalAdditionLine: 0,
      tttotalDeleteLine: 0,
      huangtotalAdditionLine: 0,
      huangtotalDeleteLine: 0,
      shuaitotalAdditionLine: 0,
      shuaitotalDeleteLine: 0,
      pagination: { total: 0, page: 1, totalPage: 0, per_page: 90 }
    };
  },
  methods: {
    getAllCommit: async function() {
      for (let i = 1; i <= this.pagination.totalPage; i++) {
        let q = await this.getCommit(i);
        this.commitList = [...q.data, ...this.commitList];
      }
      console.log(this.commitList);
      this.commitList.forEach(async commit => {
        // console.log(commit.author_name);
        // console.log(commit.message);
        // console.log("--------------------");
        if (commit.message.indexOf("Merge branch") > -1) {
          console.log("....");
        } else {
          let c = await this.getTotalCode(commit.id);
          if (commit.author_email == "xueshuai@bearhunting.cn") {
            this.shuaitotalAdditionLine += c.data.stats.additions;
            this.shuaitotalDeleteLine += c.data.stats.deletions;
          } else if (commit.author_email == "qianlikun@bearhunting.cn") {
            this.totalAdditionLine += c.data.stats.additions;
            this.totalDeleteLine += c.data.stats.deletions;
          } else if (commit.author_email == "1787742075@qq.com") {
            if (c.data.stats.additions > 200) {
              console.log("@@@@@@@@");
              console.log(c.data);
            }
            this.huangtotalAdditionLine += c.data.stats.additions;
            this.huangtotalDeleteLine += c.data.stats.deletions;
          } else if (
            commit.author_email == "tolerious@qq.com" ||
            commit.author_email == "fenghelong@bearhunting.cn"
          ) {
            if (c.data.parent_ids.length > 1) {
              //   console.log(c.data);123
            } else {
              this.tttotalAdditionLine += c.data.stats.additions;
              this.tttotalDeleteLine += c.data.stats.deletions;
            }
          }
        }
      });
    },
    getCommit: function(i) {
      return axios.get(
        `http://gitlab.bearhunting.cn/api/v4/projects/490/repository/commits?&private_token=N2QGR9HZ-SMfzro1szjz&page=${i}&per_page=90`
      );
    },

    getTotalCode: function(commitID) {
      return axios.get(
        `http://gitlab.bearhunting.cn/api/v4/projects/490/repository/commits/${commitID}?private_token=N2QGR9HZ-SMfzro1szjz`
      );
    },
    ...mapMutations([])
  },

  mounted() {
    axios
      .get(
        `http://gitlab.bearhunting.cn/api/v4/projects/490/repository/commits?&private_token=N2QGR9HZ-SMfzro1szjz&page=1&per_page=90`
      )
      .then(res => {
        // console.log(res);
        Object.assign(this.pagination, {
          totalPage: Number.parseInt(res.headers["x-total-pages"])
        });
        // console.log(this.pagination);
        this.getAllCommit();
      });
  },
  filters: {},
  watch: {},
  computed: {
    tttrulyLine: function() {
      return this.tttotalAdditionLine + this.tttotalDeleteLine;
    },
    trulyLine: function() {
      return this.totalAdditionLine + this.totalDeleteLine;
    },
    shuaitrulyLine: function() {
      return this.shuaitotalAdditionLine + this.shuaitotalDeleteLine;
    },
    huangtrulyLine: function() {
      return this.huangtotalAdditionLine + this.huangtotalDeleteLine;
    },
    ...mapState({}),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped></style>
