<template>
  <div class="1">
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-table :data="tableData" border>
          <el-table-column label="分支名称" prop="name"></el-table-column>
          <el-table-column>
            <template slot-scope="scope">
              <el-button @click="handleSeeDetail(scope.row)">
                查看提交详情
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="23" style="text-align: center; margin-top: 20px">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="pagination.total"
          :page-size="pagination.per_page"
          :current-page.sync="pagination.page"
          @current-change="handleCurrentChange"
        ></el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import axios from "axios";
export default {
  data() {
    return {
      projectID: "",
      tableData: [],
      pagination: { total: 0, page: 1, per_page: 10 }
    };
  },
  methods: {
    handleCurrentChange: function(page) {
      Object.assign(this.pagination, { page: page });
      axios
        .get(
          `http://gitlab.bearhunting.cn/api/v4/projects/${this.projectID}/repository/branches?private_token=N2QGR9HZ-SMfzro1szjz&page=${this.pagination.page}&per_page=${this.pagination.per_page}`
        )
        .then(res => {
          console.log(res.data);
          Object.assign(this.pagination, {
            total: Number.parseInt(res.headers["x-total"])
          });
          this.tableData = res.data;
        });
    },
    handleSeeDetail: function(data) {
      console.log(data);
      this.$router.push(`/git/commit/${data.name}`);
    },
    ...mapMutations([])
  },

  mounted() {
    let p = this.$route.params.projectID;
    this.projectID = p;
    axios
      .get(
        `http://gitlab.bearhunting.cn/api/v4/projects/${p}/repository/branches?private_token=N2QGR9HZ-SMfzro1szjz&page=${this.pagination.page}&per_page=${this.pagination.per_page}`
      )
      .then(res => {
        console.log(res.data);
        Object.assign(this.pagination, {
          total: Number.parseInt(res.headers["x-total"])
        });
        this.tableData = res.data;
      });
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
