<template>
  <div class="1"></div>
</template>

<script>
import axios from "axios";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    getTotalCode: async function(commitID) {
      let p = await axios.get(
        `http://gitlab.bearhunting.cn/api/v4/projects/490/repository/commits/${commitID}?private_token=N2QGR9HZ-SMfzro1szjz`
      );
      return p;
    },
    ...mapMutations([])
  },

  mounted() {
    let branchName = this.$route.params.breanchName;
    axios
      .get(
        `http://gitlab.bearhunting.cn/api/v4/projects/490/repository/commits?ref_name=${branchName}&private_token=N2QGR9HZ-SMfzro1szjz&since=2021-01-01T00:00:00&page=4&per_page=99`
      )
      .then(res => {
        console.log(res);
        // let commits = res.data;
        // commits.forEach(commit => {
        //   let p = this.getTotalCode(commit.id);
        //   p.then(r => {
        //     console.log(r.data);
        //   });
        // });
      });
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
