<template>
  <div class="1">
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-table :data="tableData" border>
          <el-table-column prop="name" label="项目名称"></el-table-column>
          <el-table-column
            prop="description"
            label="项目描述"
          ></el-table-column>
          <el-table-column prop="http_url_to_repo" label="项目地址">
            <template slot-scope="scope">
              <a :href="scope.row.http_url_to_repo">
                {{ scope.row.http_url_to_repo }}
              </a>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                @click="handleSeeDetail(scope.row)"
                size="small"
                type="primary"
              >
                查看分支列表
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="23" style="text-align: center; margin-top: 20px">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="pagination.total"
          :page-size="pagination.per_page"
          :current-page.sync="pagination.page"
          @current-change="handleCurrentChange"
        ></el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import axios from "axios";
export default {
  data() {
    return { tableData: [], pagination: { total: 0, page: 1, per_page: 10 } };
  },
  methods: {
    handleCurrentChange: function(page) {
      Object.assign(this.pagination, { page: page });
      axios
        .get(
          `http://gitlab.bearhunting.cn/api/v4/projects/?private_token=N2QGR9HZ-SMfzro1szjz&order_by=last_activity_at&page=${this.pagination.page}&per_page=${this.pagination.per_page}`
        )
        .then(res => {
          console.log(res.headers);
          console.log(res.data);
          Object.assign(this.pagination, {
            total: Number.parseInt(res.headers["x-total"])
          });
          this.tableData = res.data;
        });
    },
    handleSeeDetail: function(data) {
      this.$router.push("/git/branch/" + data.id);
    },
    ...mapMutations([])
  },

  mounted() {
    axios
      .get(
        `http://gitlab.bearhunting.cn/api/v4/projects/?private_token=N2QGR9HZ-SMfzro1szjz&order_by=last_activity_at&page=${this.pagination.page}&per_page=${this.pagination.per_page}`
      )
      .then(res => {
        console.log(res.headers);
        console.log(res.data);
        Object.assign(this.pagination, {
          total: Number.parseInt(res.headers["x-total"])
        });
        this.tableData = res.data;
      });
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
