<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增图层</el-button>
                    <el-button @click="moredel" type="text" icon="el-icon-delete" style="margin-left:20px;">批量删除</el-button>
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="labelLayerList.data"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    <el-table-column
                        type="selection"
                        align="center"
                        width="55">
                    </el-table-column>
                    <el-table-column
                        label="序号"
                        width="85"
                        align="center"
                        type="index"
                        >
                        
                    </el-table-column>
                   
                    <el-table-column
                        prop="layer"
                        label="图层"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>

                     <el-table-column
                        prop="address"
                        label="范围(单位:米)"
                        align="center"
                        show-overflow-tooltip>
                        <template slot-scope="scope">
                                <span>{{scope.row.lowerLimit}}-{{scope.row.upperLimit}} </span>   
                        </template>
                    </el-table-column>
                   
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">  
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleEdit( scope.row)">编辑</el-button>                        
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="queryparams.limit"
                layout="prev, pager, next,total"
                :total="labelLayerList.totalAll">
            </el-pagination>
            
            <el-dialog
                title="新增图层"
                :visible.sync="addDialogVisible"
                width="20%"
                center>
                <el-form :model="addform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="图层名称:" >
                        <el-input v-model.number="addform.layer" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="范围值:" >
                        <el-input v-model.number="addform.lowerLimit" autocomplete="off" style="width:30%"></el-input>
                        --
                        <el-input v-model.number="addform.upperLimit" autocomplete="off" style="width:30%"></el-input>
                    </el-form-item>
                    
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addconfirm">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog
                title="编辑图层"
                :visible.sync="editDialogVisible"
                width="20%"
                center>
               <el-form :model="editform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="图层名称:" >
                        <el-input v-model.number="editform.layer" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="范围值:" >
                       <el-input v-model.number="editform.lowerLimit" autocomplete="off" style="width:30%"></el-input>
                        --
                        <el-input v-model.number="editform.upperLimit" autocomplete="off" style="width:30%"></el-input>
                    </el-form-item>
                    
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editconfirm">确 定</el-button>
                </span>
            </el-dialog>

             <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
export default {
    data(){
        return{
            addform:{
                layer:null,
                lowerLimit:null,
                upperLimit:null
            },
            editform:{
                layer:null,
                lowerLimit:null,
                upperLimit:null  
            },
            delform:{

            },
            queryparams:{
                limit:10,
                page:1
            },
            tableData:[
                {},
                {},{},{}
            ],
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false,
            labelPosition:"right"
        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = [];
            val.forEach(element => {
                this.multipleSelection.push(element.id);
            });
            this.delform.id = this.multipleSelection;
        },
        moredel(){
            if(this.multipleSelection.length > 0){
                this.delDialogVisible = true;
            }else{
                Message.success("请选择要操作的数据")
            }
        },
        handleChange(index){
            this.queryparams.page = index;
            this.getLabelLayerList();
        },
        add(){
            this.addDialogVisible =  true;
        },
        addconfirm(){
            this.$store.dispatch("addLableLayer",[this.addform])
            .then(res=>{
                Message.success(res.msg);
                this.addDialogVisible = false;
                if(res.msg == "成功"){
                    this.getLabelLayerList();
                }
            });
        },
        handleEdit(item){
            this.editDialogVisible = true;
            this.editform.id = item.id;
            this.editform.layer = item.layer;
            this.editform.lowerLimit = item.lowerLimit;
            this.editform.upperLimit = item.upperLimit;
        },
        editconfirm(){
            this.$store.dispatch("addLableLayer",[this.editform])
            .then(res=>{
                Message.success(res.msg);
                this.editDialogVisible = false;
                if(res.msg == "成功"){
                    this.getLabelLayerList();
                }
            });
        },
        getLabelLayerList(){
            this.$store.dispatch("queryLableLayer",this.queryparams)
        },
        handleDelete(item){
            this.delDialogVisible = true;
            let arr = [];
            arr.push(item.id);
            this.delform.id = arr;
        },
        delconfirm(){
            this.$store.dispatch("delLableLayer",this.delform)
            .then(res =>{
                this.delDialogVisible = false;
                if(res.msg == "成功"){
                    Message.success("已删除");
                    this.getLabelLayerList();
                }else{
                    Message.success(res.msg);
                }
            })
        }
    },
    created(){

    },
    mounted(){
        this.getLabelLayerList();
    },
    computed:{
        ...mapState({
            labelLayerList:state => state.ar.labelLayerList
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        // padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        // padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
</style>