<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">标签类型</div>
            <el-input v-model="queryParams.typeName" clearable=""></el-input>
          </div>

          <div class="rightBtnGroup">
            <el-button @click="query" type="primary" style="margin-left:10px;">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>

        <div class="firstrow">
          <el-button
            @click="add"
            type="text"
            icon="el-icon-plus"
            style="margin-left:20px;"
          >
            新增标签
          </el-button>
          <el-button
            @click="moredel"
            type="text"
            icon="el-icon-delete"
            style="margin-left:20px;"
          >
            批量删除
          </el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="labelTypeList.data"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            align="center"
            width="55"
          ></el-table-column>
          <el-table-column
            label="序号"
            width="185"
            align="center"
            type="index"
          ></el-table-column>

          <el-table-column
            prop="typeName"
            label="标签类型"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column label="是否显示">
            <template slot-scope="scope">
              <el-switch
                @change="handleSwitchChange(scope.row)"
                style="display: block"
                v-model="scope.row.isShow"
                active-color="#409EFF"
                inactive-color="#C0CCDA"
              ></el-switch>
            </template>
          </el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleEdit(scope.row)"
              >
                编辑
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryParams.limit"
        layout="prev, pager, next,total"
        :total="labelTypeList.totalAll"
      ></el-pagination>

      <el-dialog
        title="新增类型"
        :visible.sync="addDialogVisible"
        width="20%"
        center
      >
        <el-form :model="addform">
          <el-form-item label="标签类型:">
            <el-input
              v-model="addform.typeName"
              autocomplete="off"
              style="width:70%"
            ></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addconfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="编辑类型"
        :visible.sync="editDialogVisible"
        width="20%"
        center
      >
        <el-form :model="editform">
          <el-form-item label="标签类型:">
            <el-input
              v-model="editform.typeName"
              autocomplete="off"
              style="width:70%"
            ></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="editconfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="提示"
        :visible.sync="delDialogVisible"
        width="20%"
        center
      >
        <span>是否删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delconfirm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      addform: {
        typeName: ""
      },
      editform: {
        id: 1,
        typeName: null
      },
      queryParams: {
        page: 1,
        limit: 10,
        typeName: null
      },
      delParams: {},
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      delDialogVisible: false
    };
  },
  methods: {
    handleSwitchChange: function(row) {
      let p = {
        id: row.id,
        isShow: row.isShow == 1 ? 0 : 1
      };
      this.$store.dispatch("setMarkShow", p);
    },
    handleSelectionChange(val) {
      this.multipleSelection = [];
      val.forEach(element => {
        this.multipleSelection.push(element.id);
      });
      this.delParams.id = this.multipleSelection;
    },
    moredel() {
      if (this.multipleSelection.length > 0) {
        this.delDialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    },
    handleChange(index) {
      this.queryParams.page = index;
      this.getlabelTypeList();
    },
    add() {
      this.addDialogVisible = true;
    },
    addconfirm() {
      this.$store.dispatch("addLableType", [this.addform]).then(res => {
        this.addDialogVisible = false;
        if (res.msg == "成功") {
          this.getlabelTypeList();
          Message.success("添加成功");
        } else {
          Message.success(res.msg);
        }
      });
    },
    handleEdit(item) {
      this.editDialogVisible = true;
      this.editform.id = item.id;
      this.editform.typeName = item.typeName;
    },
    editconfirm(item) {
      this.$store.dispatch("addLableType", [this.editform]).then(res => {
        Message.success(res.msg);
        this.editDialogVisible = false;
        if (res.msg == "成功") {
          this.getlabelTypeList();
        }
      });
    },
    handleDelete(item) {
      this.delDialogVisible = true;
      let arr = [];
      arr.push(item.id);
      this.delParams.id = arr;
    },
    delconfirm() {
      this.$store.dispatch("delLableType", this.delParams).then(res => {
        Message.success(res.msg);
        this.delDialogVisible = false;
        if (res.msg == "成功") {
          this.getlabelTypeList();
        }
      });
    },
    getlabelTypeList() {
      this.$store.dispatch("queryLableType", this.queryParams);
    },
    query() {
      this.queryParams.page = 1;
      this.getlabelTypeList();
    },
    reset() {
      this.queryParams.typeName = null;
      this.getlabelTypeList();
    }
  },
  created() {},
  mounted() {
    this.getlabelTypeList();
  },
  computed: {
    ...mapState({
      labelTypeList: state => state.ar.labelTypeList
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>
