<template>
  <div class="labelManageTabs">
    <div class="container">
      <el-tabs v-model="activeName" class="eltabs">
        <el-tab-pane label="标签查看" name="first" class="eltabspan">
          <labelLook></labelLook>
        </el-tab-pane>
        <el-tab-pane label="标签类型" name="second">
          <labelType></labelType>
        </el-tab-pane>
        <el-tab-pane label="标签图标" name="third">
          <labelIcon></labelIcon>
        </el-tab-pane>
        <el-tab-pane label="图层" name="fourth">
          <labelTuZeng></labelTuZeng>
        </el-tab-pane>
        <el-tab-pane label="模板配置" name="fifth">
          <templateConfiguration></templateConfiguration>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import labelLook from "../labelManage/labelLook";
// import labelType from "../labelManage/labelLook"
import labelType from "./labelType.vue";
import labelIcon from "./labelIcon.vue";
import labelTuZeng from "./labelTuZeng.vue";
import templateConfiguration from "./templateConfiguration.vue";
export default {
  data() {
    return {
      activeName: "first"
    };
  },
  components: {
    labelLook,
    labelType,
    labelIcon,
    labelTuZeng,
    templateConfiguration
  }
};
</script>

<style lang="less" scoped>
.labelManageTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
  .container {
    height: 100%;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .eltabs {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .eltabspan {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
</style>
<style>
.el-tabs__content {
  /* height: 100%; */
  box-sizing: border-box;
}
</style>
