<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    
                    <div class="inputBox">
                        <div class="title">图标名称:</div>
                        <el-input v-model="queryparams.iconType"></el-input>
                    </div>
                    
                    <div class="rightBtnGroup">
                        <el-button @click="query" type="primary" style="margin-left:10px;">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                    </div>
                    
                </div>

                <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增图标</el-button>
                    <el-button @click="moredel" type="text" icon="el-icon-delete" style="margin-left:20px;">批量删除</el-button>
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="labelIconList.data"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    <el-table-column
                        type="selection"
                        align="center"
                        width="55">
                    </el-table-column>
                    <el-table-column
                        label="序号"
                        width="85"
                        align="center"
                        type="index"
                        >
                        
                    </el-table-column>
                   
                    <el-table-column
                        prop="iconType"
                        label="图标名称"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>

                     <el-table-column
                        
                        label="图标预览"
                        align="center"
                        show-overflow-tooltip>
                        <template slot-scope="scope">
                            <img :src="imgurlpre+scope.row.fileName" alt="" class="icon">
                        </template>
                    </el-table-column>
                   
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">  
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleEdit( scope.row)">编辑</el-button>                        
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="queryparams.limit"
                layout="prev, pager, next,total"
                :total="labelIconList.totalAll">
            </el-pagination>
            
            <el-dialog
                title="新增图标"
                :visible.sync="addDialogVisible"
                width="20%"
                center>
                <el-form :model="addform">
                    <el-form-item label="图标名称:" >
                        <el-input v-model="addform.iconType" autocomplete="off" style="width:70%" clearable=""></el-input>
                    </el-form-item>
                    <el-form-item label="图标路径:" >
                        <el-upload
                        action=""
                        :limit="1"
                        :before-upload="beforeUpload"
                        :show-file-list="false"
                        :auto-upload="true"
                        class="upload"
                        >
                            <el-button>选择图片</el-button>
                        </el-upload>
                    </el-form-item>                  
                </el-form>
                <!-- <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
                </span> -->
            </el-dialog>

            <el-dialog
                title="编辑图标"
                :visible.sync="editDialogVisible"
                width="20%"
                center>
               <el-form :model="editform">
                    <el-form-item label="图标名称:" >
                        <el-input v-model="editform.iconType" autocomplete="off" style="width:70%"></el-input>
                    </el-form-item>
                    <el-form-item label="图标路径:" >
                       <el-upload
                        action=""
                        :limit="1"
                        :before-upload="beforeUploadEdit"
                        :show-file-list="false"
                        :auto-upload="true"
                        class="upload"
                        >
                            <el-button>选择图片</el-button>
                        </el-upload>
                    </el-form-item>
                    <!-- <el-form-item label="图标路径:" >
                        
                    </el-form-item>    -->
                    
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editDialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
export default {
    data(){
        return{
            addform:{
                iconType:'', 
            },
            editform:{
                iconType:'',  
                fileName:''
            },
            delParams:{
                
            },
            queryparams:{
                page:1,
                limit:10,
                iconType:""
            },
            // imgurlpre:'http://192.168.25.26:8088/api/v1/iconResource/',
            // imgurlpre:'http://frontend.bearhunting.cn:58101/api/v1/iconResource/',
            imgurlpre:process.env.VUE_APP_AR_ICON+'/api/v1/iconResource/',
            tableData:[
                {},
                {},{},{}
            ],
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false
        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = [];
            val.forEach(element => {
                this.multipleSelection.push(element.id);
            });
            this.delParams.id = this.multipleSelection;
        },
        handleChange(index){
            this.queryparams.page = index;
            this.getLabelIconList();
        },
        add(){
            this.addDialogVisible =  true;
        },
        handleEdit(item){
            this.editDialogVisible = true;
            this.editform.fileName = item.fileName;
            this.editform.iconType = item.iconType;
            this.editform.markIconId = item.id;
        },
        getLabelIconList(){
            this.$store.dispatch("queryLableIcon",this.queryparams);
        },
        query(){
            this.queryparams.page = 1;
            this.getLabelIconList();
        },
        reset(){
            this.queryparams.iconType = '';
            this.getLabelIconList();
        },
        beforeUpload (file) {
            let fd = new FormData()
            fd.append('uploadName', file)
            fd.append('iconType', this.addform.iconType);
            this.$http.post('/arapi/v1/AddLabelIcon/', fd)
            .then((res) => {
                this.addDialogVisible = false;
                if(res.msg == "成功"){
                    Message.success("上传成功")
                }else{
                    Message.success(res.msg)
                }
                this.getLabelIconList();
            });
            return false
        },
        beforeUploadEdit (file) {
            let fd = new FormData()
            fd.append('uploadName', file)
            fd.append('iconType', this.editform.iconType);
            fd.append('markIconId', this.editform.markIconId);
            // fd.append('version_id', this.version_id)
            this.$http.post('/arapi/v1/AddLableIcon/', fd)
            .then((res) => {
                this.addDialogVisible = false;
                if(res.msg == "成功"){
                    Message.success("上传成功")
                }else{
                    Message.success("上传失败")
                }
                this.getLabelIconList();
            });
            return false
        },
        handleDelete(item){
            this.delDialogVisible = true;
            let arr = [];
            arr.push(item.id);
            this.delParams.id = arr;
        },
        delconfirm(){
            this.$store.dispatch("delLableIcon",this.delParams)
            .then(res =>{
                this.delDialogVisible = false;
                if(res.msg == "成功"){
                    Message.success('已删除');
                    this.getLabelIconList();
                }else{
                    Message.success(res.msg);                 
                }
            })
        },
        moredel(){
            if(this.multipleSelection.length > 0){
                this.delDialogVisible = true;
            }else{
                Message.success("请选择要操作的数据")
            }
        }
    },
    created(){

    },
    mounted(){
        this.getLabelIconList();
        // console.log(process.env.VUE_APP_AR_ICON+'/api/v1/iconResource/');
        // console.log(process.env.VUE_APP_AR_ICON);
    },
    computed:{
        ...mapState({
            labelIconList:state => state.ar.labelIconList
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        // padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        // padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
    .icon{
        height: 25px;
        width: 25px;
        background-size: 100% 100%;
    }
</style>