<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">标签名称</div>
            <el-input v-model="queryParams.title" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">标签类型</div>
            <el-input v-model="queryParams.markType" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">高点名称</div>
            <el-input v-model="queryParams.markType" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">创建时间</div>
            <el-date-picker
              v-model="datepick"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              @change="changeDate"
              value-format="yyyy-MM-ddTHH:mm:ss"
            ></el-date-picker>
          </div>
          <div class="rightBtnGroup">
            <el-button type="primary" style="margin-left:10px;" @click="query">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>

        <div class="firstrow">
          <el-button
            @click="moreShowLabel"
            type="text"
            icon="el-icon-view"
            style="margin-left:20px;"
          >
            显示标签
          </el-button>
          <el-button
            @click="moreHideLabel"
            type="text"
            icon="el-icon-lock"
            style="margin-left:20px;"
          >
            隐藏标签
          </el-button>
          <el-button
            @click="morDel"
            type="text"
            icon="el-icon-delete"
            style="margin-left:20px;"
          >
            批量删除
          </el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="getLabelList.data"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            align="center"
            width="55"
          ></el-table-column>
          <el-table-column
            label="序号"
            width="85"
            align="center"
            type="index"
          ></el-table-column>
          <el-table-column
            prop="title"
            label="标签名称"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="markType"
            label="标签类型"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="latitude"
            label="经度"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="longitude"
            label="纬度"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="创建时间"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="address"
            label="所属高点"
            align="center"
            :formatter="getHight"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column label="是否显示" align="center">
            <template slot-scope="scope">
              <el-switch
                v-model="scope.row.isShow"
                active-color="#409EFF"
                :active-value="1"
                :inactive-value="0"
                inactive-color="#C0CCDA"
                @change="changeSwitch(scope.row)"
              ></el-switch>
            </template>
          </el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryParams.limit"
        layout="prev, pager, next,total"
        :total="getLabelList.totalAll"
      ></el-pagination>

      <el-dialog title="提示" :visible.sync="mordialogVisible" width="30%">
        <span>{{ dialogtext }}</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="mordialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="moreModifyConfirm">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="deldialogVisible" width="30%">
        <span>确认删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deldialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delConfirm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        name: "",
        deviceIP: ""
      },
      queryParams: {
        page: 1,
        limit: 10,
        title: "",
        markType: "",
        beginTime: "",
        endTime: ""
      },
      hightcameralist: [],
      datepick: [],
      dialogtext: "cesgu",
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      mordialogVisible: false,
      deldialogVisible: false
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = [];
      val.forEach(element => {
        let temproject = {};
        temproject.id = element.id;
        this.multipleSelection.push(temproject);
      });
    },
    handleChange(index) {
      this.queryParams.page = index;
      this.getLabel();
    },
    moreShowLabel() {
      if (this.multipleSelection.length > 0) {
        this.mordialogVisible = true;
        this.dialogtext = "确认批量显示这些标签?";
        this.multipleSelection.forEach(item => {
          item.isShow = 1;
        });
      } else {
        Message.success("请选择要操作的数据");
      }

      // this.addDialogVisible =  true;
    },
    moreHideLabel() {
      if (this.multipleSelection.length > 0) {
        this.mordialogVisible = true;
        this.dialogtext = "确认批量隐藏这些标签?";
        this.multipleSelection.forEach(item => {
          item.isShow = 0;
        });
      } else {
        Message.success("请选择要操作的数据");
      }

      // this.addDialogVisible =  true;
    },
    moreModifyConfirm() {
      this.$store.dispatch("modifyLable", this.multipleSelection).then(res => {
        this.mordialogVisible = false;
        if (res.msg == "成功") {
          Message.success("批量操作成功");
          this.multipleSelection = []; //操作完成后数组置空
          this.getLabel();
        } else {
          Message.success(res.msg);
        }
      });
    },
    morDel() {
      if (this.multipleSelection.length > 0) {
        this.deldialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    },
    delConfirm() {
      let arr = [];
      this.multipleSelection.forEach(item => {
        arr.push(item.id);
      });
      this.$store.dispatch("delLabel", { id: arr }).then(res => {
        this.deldialogVisible = false;
        if (res.msg == "成功") {
          Message.success("已删除");
          this.multipleSelection = []; //操作完成后数组置空
          this.getLabel();
        } else {
          Message.success(res.msg);
        }
      });
    },
    changeSwitch(iteminfo) {
      this.multipleSelection = [];
      let temproject = {};
      temproject.id = iteminfo.id;
      temproject.isShow = iteminfo.isShow;

      // if(iteminfo.isShow == 1){
      //     temproject.isShow = 0;
      // }else{
      //     temproject.isShow = 1;
      // }
      this.multipleSelection.push(temproject);
      this.$store.dispatch("modifyLable", this.multipleSelection).then(res => {
        if (res.msg == "成功") {
          Message.success("状态修改成功");
          this.multipleSelection = []; //操作完成后数组置空
          this.getLabel();
        } else {
          Message.success(res.msg);
        }
      });
    },
    changeDate(val) {
      this.queryParams.beginTime = val[0];
      this.queryParams.endTime = val[1];
    },
    handleEdit() {
      this.editDialogVisible = true;
    },
    handleDelete(item) {
      this.multipleSelection = [];
      this.multipleSelection.push(item);
      this.deldialogVisible = true;
    },
    getLabel() {
      this.$store.dispatch("getLabelList", this.queryParams);
    },
    query() {
      this.queryParams.page = 1;
      this.getLabel();
    },
    reset() {
      this.queryParams.title = null;
      this.queryParams.markType = null;
      this.queryParams.beginTime = null;
      this.queryParams.endTime = null;
      this.datepick = [];
      this.query();
    },
    delLabel() {
      this.$store.dispatch("delLabel", { id: [1] });
    },
    getHight(row, col) {
      for (var i in this.hightcameralist) {
        if (this.hightcameralist[i].id == row.hcameraId) {
          return this.hightcameralist[i].customName;
        }
      }
    }
  },
  created() {},
  mounted() {
    this.getLabel();
    let params = {};
    params.page = 1;
    params.limit = 9999;
    this.$store.dispatch("hightPointList", params).then(res => {
      this.hightcameralist = res.data;
    });
  },
  computed: {
    ...mapState({
      getLabelList: state => state.ar.getLabelList
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>
