<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">城市</div>
            <el-select v-model="queryParams.region" placeholder="请选择">
              <el-option
                v-for="item in citySelect"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </div>
          <div class="inputBox">
            <div class="title">POI名称</div>
            <el-input v-model="queryParams.keywords" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">POI类型</div>
            <el-select
              v-model="queryParams.types"
              multiple
              placeholder="请选择"
              clearable=""
            >
              <el-option
                v-for="item in getPoiType.data"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
          </div>
          <div class="tips">
            <p>
              说明：本页展示查询的数据，如果要导入到AR软件，需要执行下面的导入按钮操作。
            </p>
          </div>
          <div class="rightBtnGroup">
            <el-button type="primary" style="margin-left: 10px" @click="query">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>
        <div class="firstrow">
          <div class="import">
            <img
              class="img"
              src="../../../assets/images/ar/ic_piliangdaor_lanse.png"
              alt=""
            />
            <el-button
              @click="importAllLabel"
              type="text"
              style="margin-left: 6px"
            >
              导入所有
            </el-button>
          </div>
          <div class="import">
            <img
              class="img"
              src="../../../assets/images/ar/ic_daorzhiding_lan.png"
              alt=""
            />
            <el-button
              @click="importSelectedLabel"
              type="text"
              style="margin-left: 6px"
            >
              导入选定行
            </el-button>
          </div>
        </div>
      </div>
      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="getPoiDownloadList.data.pois"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            align="center"
            width="55"
          ></el-table-column>
          <el-table-column
            label="ID"
            prop="id"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="名称"
            prop="name"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="定位"
            prop="location"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="POI类型"
            prop="type"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="市"
            prop="cityName"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="区"
            prop="adname"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="地址"
            prop="address"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
        </el-table>
      </div>
      <!-- 还有俩属性没设置，等接口出来了再设置 -->
      <!--  -->
      <!--  -->
      <el-pagination
        @current-change="handleChange"
        background
        layout="prev, pager, next,total"
        :page-size="queryParams.limit"
      ></el-pagination>

      <el-dialog
        title="提示"
        :visible.sync="importAlldialogVisible"
        width="20%"
      >
        <span>
          操作【导入所有】则表示将当前搜索条件下的所有POI资源都导入到AR软件系统。
        </span>
        <br />
        <br />
        <span>确定执行此操作吗</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="importAlldialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="importAll">确 定</el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="提示"
        :visible.sync="importSelecteddialogVisible"
        width="20%"
      >
        <span>
          操作【导入选定行】则表示只导入选择的行记录资源导入到AR软件系统。
        </span>
        <br />
        <br />
        <span>确定执行此操作吗</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="importSelecteddialogVisible = false">
            取 消
          </el-button>
          <el-button type="primary" @click="importSelected">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      multipleSelection: "",
      queryParams: {
        keywords: "",
        region: "上海市",
        types: [],
        page: 1,
        limit: 25,
        key: ""
      },
      citySelect: [
        {
          value: "0",
          label: "上海市"
        }
      ],
      add: {
        ids: [],
        key: ""
      },
      city: "",
      poiName: "",
      poiType: "",
      importAlldialogVisible: false,
      importSelecteddialogVisible: false
    };
  },
  methods: {
    handleSelectionChange(val) {
      // console.log(val);
      this.add.key = this.getPoiDownloadList.data.key;
      // console.log(this.add);
      this.multipleSelection = [];
      val.forEach((element) => {
        // console.log(element);
        this.multipleSelection.push(element.id);
      });
      // console.log(this.multipleSelection);
      this.add.ids = this.multipleSelection;
      console.log(this.add);
    },
    importSelected() {
      this.$store.dispatch("addPOI", this.add).then((res) => {
        Message.success(res.msg);
        this.importSelecteddialogVisible = false;
        if (res.msg == "成功") {
          console.log("导入成功");
        }
      });
    },
    importAll() {
      (this.add.ids = []), (this.add.key = this.getPoiDownloadList.data.key);
      this.$store.dispatch("addPOI", this.add).then((res) => {
        Message.success(res.msg);
        this.importAlldialogVisible = false;
        if (res.msg == "成功") {
          console.log("导入成功");
        }
      });
    },
    importAllLabel() {
      this.importAlldialogVisible = true;
    },
    importSelectedLabel() {
      this.importSelecteddialogVisible = true;
    },
    getPoiDownloadLists() {
      this.$store.dispatch("queryPOIFromGD", this.queryParams);
    },
    query() {
      // console.log(this.queryParams.types);
      let notEmpty = [];
      notEmpty = this.queryParams.types;
      // console.log(notEmpty.length);
      if (notEmpty != 0) {
        this.queryParams.page = 1;
        this.getPoiDownloadLists();
      }
    },
    reset() {
      this.queryParams.keywords = "";
      this.queryParams.types = [];
      this.queryParams.region = "上海市";
      this.getPoiDownloadList.data.pois = null;
    },
    handleChange(index) {
      this.queryParams.page = index;
      this.getPoiDownloadLists();
    }
  },
  mounted() {
    this.$store.dispatch("queryPoiResType");
  },
  computed: {
    ...mapState({
      getPoiType: (state) => state.ar.queryPoiResType,
      getPoiDownloadList: (state) => state.ar.queryPOIFromGD
    })
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      // border: 1px solid black;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
      .inputBox {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        // border: 1px solid black;
        .title {
          color: #333333;
          font-size: 15px;
          width: 80px;
          // border: 1px solid black;
          text-align: center;
          margin-right: 10px;
        }
      }
      .import {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 30px;
        // border: black 1px solid;
        .img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .tips {
    margin-left: 10px;
    font-size: 10px;
    // border: black 1px solid;
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>