<template>
  <div class="labelManageTabs">
    <div class="container">
      <el-tabs v-model="activeName" class="eltabs">

        <el-tab-pane label="下载POI数据" name="first" class="eltabspan">
          <poiDownload></poiDownload>
        </el-tab-pane>
        <el-tab-pane label="系统POI列表" name="second">
          <poiSystemList></poiSystemList>
        </el-tab-pane>
        <el-tab-pane label="POI类型与标签模板关联" name="third">
          <poiTypeConnectToTemplate></poiTypeConnectToTemplate>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import poiDownload from "./poiDownload.vue"
import poiSystemList from "./poiSystemList.vue";
import poiTypeConnectToTemplate from "./poiTypeConnectToTemplate.vue"
export default {
  data() {
    return {
      activeName: "first"
    };
  },
  components: {
    poiDownload,
    poiSystemList,
    poiTypeConnectToTemplate
  }
};
</script>

<style lang="less" scoped>
.labelManageTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
  .container {
    height: 100%;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .eltabs {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .eltabspan {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
</style>
<style>
.el-tabs__content {
  /* height: 100%; */
  box-sizing: border-box;
}
</style>
