<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">POI名称</div>
            <el-input v-model="queryParams.name" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">POI类型</div>
            <el-select v-model="queryParams.type" placeholder="请选择">
              <el-option
                v-for="item in getPoiType.data"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
          </div>
          <div class="rightBtnGroup">
            <el-button type="primary" style="margin-left: 10px" @click="query">
              查询
            </el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>
        <div class="firstrow">
          <el-button
            @click="moredel"
            type="text"
            icon="el-icon-delete"
            style="margin-left: 20px"
          >
            批量删除
          </el-button>
        </div>
      </div>
      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="getSystemPoiList.data"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            align="center"
            width="55"
          ></el-table-column>
          <el-table-column
            label="序号"
            align="center"
            width="85"
            type="index"
          ></el-table-column>
          <el-table-column
            label="POI类型"
            prop="type"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="名称"
            prop="name"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="经度"
            prop="longitude"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="纬度"
            prop="latitude"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column label="操作" align="center" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-button type="text" @click="handleDelete(scope.row)">
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <!-- 还有俩属性没设置，等接口出来了再设置 -->
      <!-- :page-size="queryParams.limit" -->
      <!-- :total="getLabelList.totalAll" -->
      <el-pagination
        @current-change="handleChange"
        background
        :page-size="queryParams.limit"
        layout="prev, pager, next,total"
        :total="getSystemPoiList.totalAll"
      ></el-pagination>

      <el-dialog title="提示" :visible.sync="deleteDialogVisible" width="20%">
        <span>是否删除？</span>
        <br />
        <br />
        <span slot="footer" class="dialog-footer">
          <el-button @click="deleteDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="delconfirm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      queryParams: {
        page: 1,
        limit: 10,
        name: "",
        type: ""
      },
      deleteDialogVisible: false,
      delParams: {},
      multipleSelection:[],
    };
  },
  methods: {
    deleteSelected() {
      this.deleteDialogVisible = true;
    },
    handleSelectionChange(val){
      this.multipleSelection = [];
      val.forEach( element => {
        // console.log(element);
        this.multipleSelection.push(element.id);
      })
      this.delParams = this.multipleSelection;
    },
    moredel() {
      if (this.multipleSelection.length > 0) {
        this.deleteDialogVisible = true;
      } else {
        Message.success("请选择要操作的数据");
      }
    },
    handleDelete(item) {
      this.deleteDialogVisible = true;
      let arr = [];
      arr.push(item.id);
      this.delParams = arr;
    },
    delconfirm() {
      // console.log(this.delParams);
      this.$store.dispatch("deletePOI", this.delParams).then((res) => {
        Message.success(res.msg);
        this.deleteDialogVisible = false;
        if (res.msg == "成功") {
          this.getSystemPoiLists();
        }
      });
    },
    getSystemPoiLists() {
      this.$store.dispatch("queryPOI", this.queryParams);
    },
    query() {
      this.queryParams.page = 1;
      this.getSystemPoiLists();
    },
    reset() {
      this.queryParams.name = null;
      this.queryParams.type = null;
      this.query();
    },
    handleChange(index) {
      this.queryParams.page = index;
      this.getSystemPoiLists();
    },
  },
  mounted() {
    this.getSystemPoiLists();
    this.$store.dispatch('queryPoiResType');
  },
  computed: {
    ...mapState({
      getSystemPoiList: (state) => state.ar.queryPOI,
      getPoiType: (state) => state.ar.queryPoiResType
    })
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    // border: 1px solid black;
    .title {
      color: #333333;
      font-size: 15px;
      width: 100px;
      // border: 1px solid black;
      text-align: center;
      margin-right: 10px;
    }
  }
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      // border: 1px solid black;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
      .middleBox {
        display: flex;
        flex-direction: column;
        .inputBox {
          height: 100%;
          width: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 10px;
          margin-top: 10px;
          // border: 1px solid black;
          .title {
            color: #333333;
            font-size: 15px;
            width: 80px;
            // border: 1px solid black;
            text-align: center;
            margin-right: 10px;
          }
        }
      }

      .import {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-left: 30px;
        // border: black 1px solid;
        .img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .tips {
    margin-left: 10px;
    font-size: 10px;
    // border: black 1px solid;
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>