<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    <div class="inputBox">
                        <div class="title">模板类型</div>
                        <el-input v-model="queryparams.template"></el-input>
                    </div>
                    <!-- <div class="inputBox">
                        <div class="title">模板配置</div>
                        <el-input v-model="params.deviceIP"></el-input>
                    </div> -->
                    <div class="rightBtnGroup">
                        <el-button type="primary" style="margin-left:10px;" @click="query">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                    </div>
                   
                </div>

                <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增模板</el-button>
                    <el-button @click="moredel" type="text" icon="el-icon-delete" style="margin-left:20px;">批量删除</el-button>
                   
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="labelTmplList.data"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    <el-table-column
                        type="selection"
                        align="center"
                        width="55">
                    </el-table-column>
                    <el-table-column
                        label="序号"
                        width="85"
                        align="center"
                        type="index"
                        >
                        
                    </el-table-column>
                    <el-table-column
                        prop="template"
                        label="模板类型"
                        align="center"

                        >
                    </el-table-column>
                    <el-table-column
                        prop="markType"
                        label="标签类型"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                     <el-table-column
                        prop="displayType"
                        label="展示类型"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="iconType"
                        label="图标"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="layer"
                        label="图层"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        label="标签底色"
                        align="center"
                        show-overflow-tooltip>
                        <template slot-scope="scope"><colorPicker v-model="scope.row.fillColor"> </colorPicker></template>
                    </el-table-column>
                    <el-table-column
                        label="重点标签"
                        align="center"
                        show-overflow-tooltip>
                        <template slot-scope="scope">
                            <span v-if="scope.row.importance == 1">是</span>
                            <span v-if="scope.row.importance == 0">否</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="relatedContent"
                        label="关联内容"
                        align="center"
                        :formatter="getRelacont"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="comment"
                        label="备注"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            type="waring"
                            @click="handleEdit( scope.row)">编辑</el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="queryparams.limit"
                layout="prev, pager, next,total"
                :total="labelTmplList.totalAll">
            </el-pagination>
            
            <el-dialog
                title="新增模板"
                :visible.sync="addDialogVisible"
                width="30%"
                center>
                <div class="addForm">
                    <div class="halfBox">
                        <div class="itembox">
                            <div class="require">*</div>
                            <div class="title">模板类型:</div>
                            <el-input v-model="addparams.template"></el-input>
                        </div>
                        <div class="itembox">
                            <div class="title">展示类型:</div>
                            <el-select v-model="addparams.displayType" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.displayType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.name">
                                </el-option>
                             </el-select>
                            <!-- <el-input v-model="displayType"></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">图层:</div>
                            <el-input v-model.number="addparams.layer"></el-input>
                        </div>
                        <div class="itembox">
                            <div class="title">重点标签:</div>
                            <el-select v-model="addparams.importance" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in importanceOptions"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                                </el-option>
                             </el-select>
                            <!-- <el-input v-model=""></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">备注:</div>
                            <el-input v-model="addparams.comment"></el-input>
                        </div>
                       
                    </div>

                    <div class="halfBox">
                        <div class="itembox">
                            <div class="require">*</div>
                            <div class="title">标签类型:</div>
                            <el-select v-model="addparams.markType" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.markType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.name">
                                </el-option>
                             </el-select>
                            <!-- <el-input v-model="displayType"></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="require">*</div>
                            <div class="title">图标:</div>
                            <el-select v-model="addparams.iconType" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.iconType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.name">
                                </el-option>
                             </el-select>
                            <!-- <el-input v-model="iconType"></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">标签底色:</div>
                            <colorPicker v-model="addparams.fillColor"> </colorPicker>
                        </div>
                        <div class="itembox">
                            <div class="title">关联内容:</div>
                            <el-select v-model="addparams.relatedContent " placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.contentType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                                </el-option>
                             </el-select>
                            <!-- <el-input v-model=""></el-input> -->
                        </div>
                        
                        
                    </div>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addconfirm ">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog
                title="编辑模板"
                :visible.sync="editDialogVisible"
                width="30%"
                center>
                <div class="addForm">
                    <div class="halfBox">
                        <div class="itembox">
                            <div class="title">模板类型:</div>
                            <el-input v-model="editparams.template"></el-input>
                        </div>
                        <div class="itembox">
                            <div class="title">展示类型:</div>
                             <el-select v-model="editparams.displayType" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.displayType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.name">
                                </el-option>
                             </el-select>
                            <!-- <el-input></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">图层:</div>
                            <el-input v-model.number="editparams.layer"></el-input>
                        </div>
                        <div class="itembox">
                            <div class="title">重点标签:</div>
                            <el-select v-model="editparams.importance" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in importanceOptions"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                                </el-option>
                             </el-select>
                            <!-- <el-input></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">备注:</div>
                            <el-input v-model="editparams.comment"></el-input>
                        </div>
                       
                    </div>

                    <div class="halfBox">
                        <div class="itembox">
                            <div class="title">标签类型:</div>
                            <el-select v-model="editparams.markType" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.markType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.name">
                                </el-option>
                             </el-select>
                            <!-- <el-input></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">图标:</div>
                            <el-select v-model="editparams.iconType" placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.iconType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.name">
                                </el-option>
                             </el-select>
                            <!-- <el-input></el-input> -->
                        </div>
                        <div class="itembox">
                            <div class="title">标签底色:</div>
                            <colorPicker v-model="editparams.fillColor"> </colorPicker>
                        </div>
                        <div class="itembox">
                            <div class="title">关联内容:</div>
                             <el-select v-model="editparams.relatedContent " placeholder="请选择" class="content">
                                <el-option
                                v-for="item in listEnum.contentType"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                                </el-option>
                             </el-select>
                            <!-- <el-input></el-input> -->
                        </div>
                        
                    </div>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editconfirm">确 定</el-button>
                </span>
            </el-dialog>

             <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
import Vue from "vue"
export default {
    data(){
        return{
            queryparams:{
                limit:10,
                page:1
            },
            addparams:{
                template:null,
                markType:null,
                displayType:null,
                iconType:null,
                layer:1,
                fillColor:"#333333",
                relatedContent:null,
                childDevType:"1",
                importance:1,
                comment:"",
            },
            importanceOptions:[{
                name:"是",
                value:1
            },{
                name:"否",
                value:0
            }],
            editparams:{
                template:null,
                markType:null,
                displayType:null,
                iconType:null,
                layer:1,
                fillColor:"",
                relatedContent:null,
                childDevType:"1",
                importance:1,
                comment:"",
            },
            delform:{},
            tableData:[
                {},
                {}
            ],
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false,
            
        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = [];
            val.forEach(element => {
                this.multipleSelection.push(element.id);
            });
            this.delform.id = this.multipleSelection;
        },
        moredel(){
            if(this.multipleSelection.length > 0){
                this.delDialogVisible = true;
            }else{
                Message.success("请选择要操作的数据")
            }
        },
        handleChange(index){
            this.queryparams.page = index;
            this.getlabeltmpllist();
        },
        add(){
            this.addDialogVisible =  true;
        },
        addconfirm(){
            if(this.formCheck()){
                this.addparams.relatedContent = this.addparams.relatedContent+ "";
                this.$store.dispatch("addLableTmpl",[this.addparams]).
                then(res =>{
                    Message.success(res.msg);
                    this.addDialogVisible = false;
                    if(res.msg == "成功"){
                        this.getlabeltmpllist();
                    }
                })
            }
        },
        handleEdit(item){
            this.editDialogVisible = true;
            this.editparams.template= item.template;
            this.editparams.markType= item.markType;
            this.editparams.displayType= item.displayType;
            this.editparams.iconType= item.iconType;
            this.editparams.layer= item.layer;
            this.editparams.fillColor= item.fillColor;
            this.editparams.relatedContent= parseInt(item.relatedContent);
            this.editparams.comment= item.comment;
            this.editparams.importance= item.importance;
            this.editparams.id= item.id;
            // this.editparams.template= item.template;
        },
        editconfirm(){
            this.editparams.relatedContent = this.editparams.relatedContent+ "";
            this.$store.dispatch("modifyLableTmpl",[this.editparams])
            .then(res =>{
                this.editDialogVisible = false;
                Message.success(res.msg);
                if(res.msg == "成功"){
                    this.getlabeltmpllist();
                }
            })
        },
        getlabeltmpllist(){
            this.$store.dispatch("queryLableTmpl",this.queryparams);
        },
        query(){
            this.queryparams.page = 1;
            this.getlabeltmpllist();
        },
        reset(){
            this.queryparams.template = '';
            this.getlabeltmpllist();
        },
        handleDelete(item){
            this.delDialogVisible = true;
            let arr = [];
            arr.push(item.id);
            this.delform.id = arr;
        },
        delconfirm(){
            this.$store.dispatch("delLableTmpl",this.delform)
            .then(res =>{
                this.delDialogVisible = false;
                if(res.msg == "成功"){
                    Message.success("已删除");
                    this.getlabeltmpllist();
                }else{
                    Message.success(res.msg);
                }
            })
        },
        getRelacont(row,col){
            for( var i in this.listEnum.contentType){
                if(this.listEnum.contentType[i].value == parseInt(row.relatedContent) ){
                    return this.listEnum.contentType[i].name;
                }
            }
        },
        formCheck(){
            if(!this.addparams.template){
                Message.error('请输入模板类型');
                return false;
            }
            if(!this.addparams.markType){
                Message.error('请选择标签类型');
                return false;
            }
            if(!this.addparams.iconType){
                Message.error('请选择图标');
                return false;
            }
            
            return true;
        }
    },
    created(){
        
    },
    mounted(){
        this.getlabeltmpllist();
        this.$store.dispatch("getListEnum",{});
    },
    computed:{
        ...mapState({
            labelTmplList:state => state.ar.labelTmplList,
            listEnum: state => state.ar.listEnum

        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 320px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
    .require{
        color: red;
    }
</style>