<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    <div class="inputBox">
                        <div class="title">上传状态</div>
                        <el-select v-model="params.uploadStatus" placeholder="请选择">
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="inputBox">
                        <div class="title">上传时间</div>
                        <el-date-picker
                            @change="dataChange"
                            v-model="datepicker"
                            type="datetimerange"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                        <el-button @click="query" type="primary" style="margin-left:40%;">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                </div>

                <div class="firstrow">
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增</el-button>
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="bianminxinxiList.results"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    
                    <el-table-column
                        label="标题"
                        width="85"
                        align="center"
                        prop="title"
                        >
                        
                    </el-table-column>
                    <el-table-column
                        prop="content"
                        label="内容"
                        align="center"
                        >
                    </el-table-column>
                   
                     <el-table-column
                        prop="createName"
                        label="上传人"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="optModule"
                        label="是否上传"
                        align="center"
                        show-overflow-tooltip
                        :formatter="getStatus"
                        >
                        
                    </el-table-column>
                    <el-table-column
                        prop="createTime"
                        label="上传时间"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                   
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            @click="handleEdit( scope.row)">编辑</el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="params.count"
                layout="prev, pager, next,total"
                :total="bianminxinxiList.pagination.total">
            </el-pagination>
            
        </div>
            <el-dialog
                title="新增便民信息"
                :visible.sync="addDialogVisible"
                width="30%"
                center>
                <el-form :model="addform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="标题:" >
                        <el-input v-model="addform.title" autocomplete="off" style="width:90%"></el-input>
                    </el-form-item>
                    <el-form-item label="内容:" >
                        <el-input v-model="addform.content" autocomplete="off" type="textarea" style="width:90%"></el-input>
                    </el-form-item>
                    <el-form-item label="时间:" >
                         <el-date-picker
                            v-model="addform.createTime"
                            type="datetime"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            >
                        </el-date-picker>
                    </el-form-item>
                   
                    <el-form-item label="选择图片:" >
                        <el-upload
                            action="http://47.100.65.32:19001/public/api"
                            :before-upload="beforeUpload"
                            :on-success="handleAvatarSuccess"
                            list-type="picture-card"
                            :file-list="cacheFileList"
                            :on-remove="handleRemove"
                            limit="1"
                            :class="{hide:hideUploadEdit}"
                            >
                            <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addconfirm" :loading="!upPicSuccess">确 定</el-button>
                </span>
            </el-dialog>
            <el-dialog
                title="编辑便民信息"
                :visible.sync="editDialogVisible"
                width="30%"
                center>
                <el-form :model="editform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="标题:" >
                        <el-input v-model="editform.title" autocomplete="off" style="width:90%"></el-input>
                    </el-form-item>
                    <el-form-item label="内容:" >
                        <el-input v-model="editform.content" autocomplete="off" type="textarea" style="width:90%"></el-input>
                    </el-form-item>
                    <el-form-item label="时间:" >
                         <el-date-picker
                            v-model="editform.createTime"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            type="datetime"
                           >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="选择图片:" >
                        <el-upload
                            action="http://47.100.65.32:19001/public/api"
                            :before-upload="beforeUpload"
                            :on-success="handleAvatarSuccess"
                            list-type="picture-card"
                            :on-remove="handleRemove"
                            limit="1"
                            :file-list="cacheFileList"
                            :class="{hide:hideUploadEdit}"
                            >
                            <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editconfirm" :loading="!upPicSuccess">确 定</el-button>
                </span>
            </el-dialog>

             <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
import Vue from "vue"
export default {
    data(){
        return{
            params:{
                start:0,
                count:10,
                uploadStatus:null,
                startTime:null,
                endTime:null

            },
            addform:{
                title:'',
                content:"",
                createName:Vue.ls.get("name"),
                createTime:null
            },
            editform:{
                title:'',
                content:"",
                createName:Vue.ls.get("name"),
                createTime:null
            },
            delParams:{
                id:null
            },
            editOrADD:1,
            cacheFileList:[],
            options: [{
                value: '0',
                label: '否'
                }, {
                value: '1',
                label: '是'
                }],
            datepicker:[],
            multipleSelection:[],
            addDialogVisible:false,
            editDialogVisible:false,
            delDialogVisible:false,
            labelPosition:'left',
            dialogImageUrl:null,
            hideUploadEdit:false,
            upPicSuccess:true

        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        handleChange(index){
            this.params.start = (index-1)*this.params.count;
            this.getConvenientBack();
        },
        dataChange(val){
            this.params.startTime = val[0];
            this.params.endTime = val[1];
        },
        
        getConvenientBack(){
            this.$store.dispatch("getConvenientBack",this.params);
        },
        query(){
            this.params.current = 0;
            this.getConvenientBack();
        },
        reset(){
            this.params.uploadStatus = null;
            this.params.startTime = null;
            this.params.endTime = null;
            this.datepicker = null
            this.getConvenientBack();
        },
        handleDelete(item){
            this.delDialogVisible = true;
            this.delParams.id = item.id;
        },
        delconfirm(){
             this.$store.dispatch("deleteConvenient",this.delParams)
            .then(res=>{
                if(res.result){
                    Message.success("已删除");
                    this.delDialogVisible = false;
                    this.getConvenientBack();
                }else{
                    Message.success(res.error.message);
                }
            })
        },

        add(){
            this.addDialogVisible = true;
            this.editOrADD = 1;
            this.hideUploadEdit = false;
            this.cacheFileList = [];
        },
        addconfirm(){
            if(this.upPicSuccess){
                this.$store.dispatch("saveConvenient",this.addform)
                .then(res=>{
                    if(res.result){
                        Message.success("添加成功");
                        this.addDialogVisible = false;
                        this.getConvenientBack();
                        this.cacheFileList = [];
                    }else{
                        Message.success(res.error.message);
                    }
                })
            }else{
                Message.success(res.error.message);
            }
            
        },
        handleEdit(item){
            this.editOrADD = 0;
            this.editDialogVisible = true;
            this.editform.title = item.title;
            this.editform.content = item.content;
            this.editform.createTime = item.createTime;
            this.editform.createName = item.createName;
            this.editform.id = item.id;
            if(item.pictureUrl){
                this.hideUploadEdit = true;
            }else{
                this.hideUploadEdit = false;
            }
            this.editform.pictureUrl = item.pictureUrl;
            this.cacheFileList = [];
            this.cacheFileList.push({url:process.env.VUE_APP_SANLIN_OLD + item.pictureUrl})
        },
        editconfirm(){
            if(this.upPicSuccess){
                this.$store.dispatch("saveConvenient",this.editform)
                .then(res=>{
                    if(res.result){
                        Message.success("修改成功");
                        this.editDialogVisible = false;
                        this.getConvenientBack();
                        this.cacheFileList = [];
                    }else{
                        Message.success(res.error.message);
                    }
                })
            }else{
                Message.success("图片正在上传,请稍后");
            }
             
        },
        getStatus(row){
            if(row.uploadStatus == 1){
                return "是"
            }else{
                return "否"
            }
        },
        beforeUpload (file) {
            this.upPicSuccess = false;
            let fd = new FormData()
            fd.append('file', file);
            this.$http.post('/oldstreet/attachment/upload', fd)
            .then((res) => {
                this.upPicSuccess = true;
                if(this.editOrADD == 1){
                    this.addform.pictureUrl = res.result[0];
                }else{
                    this.editform.pictureUrl = res.result[0];
                }
            });
            this.hideUploadEdit = true;
            this.dialogImageUrl = URL.createObjectURL(file.raw);
            return false
        },
        handleAvatarSuccess(res, file) {
            this.dialogImageUrl = URL.createObjectURL(file.raw);
        },
        handleRemove(file, fileList) {
            this.hideUploadEdit = false;
            console.log(file, fileList);
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },
    },
    created(){

    },
    mounted(){
        this.getConvenientBack();
    },
    computed:{
        ...mapState({
            bianminxinxiList:state =>state.oldStreet.bianminxinxiList
        })
    },
    components:{

    },
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
</style>
<style>
.avatar-uploader .el-upload {
    border: 1px dashed #000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 156px;
    height: 156px;
    line-height: 156px;
    text-align: center;
  }
  .avatar {
    width: 156px;
    height: 156px;
    display: block;
  }

  .hide .el-upload--picture-card {
  display: none;
}
</style>