<template>
  <div class="wen-box">
    <div class="keliu-box">
      <div class="keliu-box-pic">
        <div class="keliu-title">客流密度监控</div>
        <div class="keliu-echart">
          <div class="echartBox_anjian_cycle">
            <el-progress
              type="circle"
              :percentage="keliuCount.allCount"
              :stroke-width="10"
              :format="
                () => {
                  return keliuCount.allCount;
                }
              "
              color="#B5E36D"
            ></el-progress>
            <p class="">总客流量</p>
          </div>
          <div class="echartBox_anjian_cycle">
            <el-progress
              type="circle"
              :percentage="keliuCount.enterCount"
              :stroke-width="10"
              color="#6babe7"
              :format="
                () => {
                  return keliuCount.enterCount;
                }
              "
            ></el-progress>
            <p class="">进客流量</p>
          </div>
          <div class="echartBox_anjian_cycle">
            <el-progress
              type="circle"
              :percentage="keliuCount.retentionCount"
              :stroke-width="10"
              :format="
                () => {
                  return keliuCount.retentionCount;
                }
              "
              color="#fbd37e"
            ></el-progress>
            <p>滞留流量</p>
          </div>
          <div class="echartBox_anjian_cycle">
            <el-progress
              type="circle"
              :percentage="keliuCount.exitCount"
              :format="
                () => {
                  return keliuCount.exitCount;
                }
              "
              :stroke-width="10"
              color="#887EF0"
            ></el-progress>
            <p>出客流量</p>
          </div>
        </div>
      </div>
      <div class="keliu-box-echart">
        <public-echart
          :options="options1"
          :echartdatas="kwliuInfo"
          type="keliu"
        ></public-echart>
      </div>
    </div>
    <div class="other-box">
      <zhineng-echart
        title="智能报警监控"
        :options="options2"
        :echartdatas="zhinengbaojingList"
      ></zhineng-echart>
      <public-echart
        title="问题投诉趋势"
        :options="options2"
        type="wentitousu"
        :echartdatas="wentitousuList"
      ></public-echart>
      <question-echart
        title="问题处置效率"
        :options="options3"
        :echartdatas="zhinengbaojingList"
      ></question-echart>
      <public-echart
        title="小程序使用人数统计"
        :options="options2"
        type="xiaochengxu"
        :echartdatas="xiaochengxuList"
      ></public-echart>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import publicEchart from "./publicEchart";
import zhinengEchart from "./zhinengEchart";
import questionEchart from "./questionEchart";
import Vue from "vue";
import echarts from "echarts";
export default {
  data() {
    return {
      options2: [
        {
          value: "0",
          label: "全部"
        },
        {
          value: "1",
          label: "当周"
        },
        {
          value: "2",
          label: "近7天"
        },
        {
          value: "3",
          label: "当月"
        },
        {
          value: "4",
          label: "近30天"
        },
        {
          value: "5",
          label: "当年"
        },
        {
          value: "6",
          label: "当日"
        }
      ],
      options1: [
        {
          value: "0",
          label: "东入口"
        },
        {
          value: "1",
          label: "南门"
        },
        {
          value: "2",
          label: "西门"
        },
        {
          value: "3",
          label: "北门"
        }
      ],
      options3: [
        {
          value: "6",
          label: "消防告警"
        },
        {
          value: "7",
          label: "垃圾投放点"
        },
        {
          value: "8",
          label: "公共街面"
        },
        {
          value: "9",
          label: "积水点告警"
        },
        {
          value: "10",
          label: "跨门经营"
        }
      ]
    };
  },
  methods: {
    ...mapMutations([])
  },
  created() {
    const params = {
      cameraType: 0,
      position: "东入口"
    };
    this.$store.dispatch("getkeliuCount", params);
  },
  mounted() {
    const params = {
      timeRangeType: 0
    };
    const params2 = {
      timeRangeType: 0,
      smartType: 1
    };
    const keliuParams = {
      cameraType: 0,
      position: "东入口"
    };
    this.$store.dispatch("getkeliuInfo", keliuParams);
    this.$store.dispatch("zhinengbaojing", params2);
    this.$store.dispatch("wentitousu", params);
    this.$store.dispatch("xiaochengxuUse", params);
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      kwliuInfo: state => state.oldStreet.kwliuInfo,
      keliuCount: state => state.oldStreet.keliuCount,
      xiaochengxuList: state => state.oldStreet.xiaochengxuList,
      zhinengbaojingList: state => state.oldStreet.zhinengbaojingList,
      wentitousuList: state => state.oldStreet.wentitousuList
    }),
    ...mapGetters([])
  },
  components: {
    zhinengEchart,
    publicEchart,
    questionEchart
  }
};
</script>

<style lang="less" scoped>
.wen-box {
  padding: 0 15px;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #142449;
  .keliu-box {
    display: flex;
    flex-flow: row;
    background-color: #1c2e5a;
    height: 30%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    .keliu-box-pic {
      flex: 1;
      height: 100%;
      .keliu-title {
        height: 15%;
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        font-size: 24px;
        padding: 0 20px;
        align-items: flex-end;
      }
      .keliu-echart {
        height: 82%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        margin-top: 2%;
        .echartBox_anjian_item {
          display: flex;
          flex: 1;
          .echartBox_anjian_cycle {
            padding: 2rem 0;
            flex: 1;
            /*text-align: center;*/
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .echartBox_anjian_cycle:first-child {
            padding: 0;
          }
        }
      }
    }
    .keliu-box-echart {
      flex: 1;
      display: flex;
      flex-flow: column;
      height: 100%;
      .keliu-title {
        height: 10%;
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
      .keliu-echart {
        height: 90%;
        display: flex;
        flex-flow: row;
        .echartBox_anjian_item {
          display: flex;
          flex: 1;
          .echartBox_anjian_cycle {
            padding: 2rem 0;
            flex: 1;
            text-align: center;
            color: white;
          }
          .echartBox_anjian_cycle:first-child {
            padding: 0;
          }
        }
      }
    }
  }
  .other-box {
    display: grid;
    grid-template-rows: calc(50% - 10px) calc(50% - 10px);
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    width: 100%;
    height: 65%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
</style>
