<template>
    <div class="basecontainer">
        <div class="highPointTabs">
            <div class="headerBox">
                <div class="firstrow">
                    <!-- <div class="inputBox">
                        <div class="title">高点名称</div>
                        <el-input v-model="params.name"></el-input>
                    </div> -->
                    <div class="inputBox">
                        <div class="title">处置状态</div>
                         <el-select v-model="params.type" placeholder="请选择" clearable="true">
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </div>

                    <div class="inputBox">
                        <div class="title">问题类型</div>
                        <el-select v-model="params.description" placeholder="请选择" clearable="true">
                            <el-option
                            v-for="item in questioninfo"
                            :key="item.id"
                            :label="item.description"
                            :value="item.description">
                            </el-option>
                        </el-select>
                    </div>
                    
                        <el-button @click="query" type="primary" style="margin-left:50%;">查询</el-button>
                        <el-button @click="reset">重置</el-button>
                   
                </div>

                <div class="firstrow" >
                    <el-button @click="add" type="text" icon="el-icon-plus" style="margin-left:20px;">新增</el-button>
                </div>
            </div>

            <div class="tablebox">
                <el-table
                    ref="multipleTable"
                    :data="questionList.results"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border=""
                    @selection-change="handleSelectionChange">
                    
                    <el-table-column
                        label="问题类型"
                        align="center"
                        prop="description"
                        >
                        
                    </el-table-column>
                    <el-table-column

                        prop="content"
                        label="问题描述"
                        align="center"
                        >
                    </el-table-column>
                    <el-table-column
                        prop="createName"
                        label="上报人"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="address"
                        label="上报地址"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                   
                    <el-table-column
                        prop="createTime"
                        label="上报时间"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="repairName"
                        label="处置人"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="repairTime"
                        label="处置时间"
                        align="center"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="type"
                        label="处置状态"
                        align="center"
                        show-overflow-tooltip
                        :formatter="getResult">
                    </el-table-column>
                    <el-table-column align="center" label="操作" >
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            @click="handleDetail( scope.row)">详情</el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete( scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-pagination
                @current-change = "handleChange"
                background
                :page-size="params.count"
                layout="prev, pager, next,total"
                :total="questionList.pagination.total">
            </el-pagination>
            
        </div>
            <el-dialog
                title="查看详情"
                :visible.sync="detailDialogVisible"
                width="30%"
                center>
                <el-form :model="addform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="问题类型:" >
                        <span>{{itemdetail.description}}</span>
                    </el-form-item>
                    <el-form-item label="问题描述:" >
                        <span>{{itemdetail.content}}</span>
                        <!-- <el-input v-model.number="addform.content" autocomplete="off" type="textarea" style="width:90%"></el-input> -->
                    </el-form-item>
                    <el-form-item label="上报人">
                       <span>{{itemdetail.createName}}</span>
                    </el-form-item>
                    <el-form-item label="上报时间">
                       <span>{{itemdetail.createTime}}</span>
                    </el-form-item>
                    <el-form-item label="上报地址:" >
                       <span>{{itemdetail.address}}</span>
                    </el-form-item>
                    <el-form-item label="上报图片:" >
                       <img :src="itemdetail.upPicUrl" alt="" class="img">
                    </el-form-item>
                    <el-form-item label="处置人:" >
                        <span>{{itemdetail.repairName}}</span>
                    </el-form-item>
                    <el-form-item label="处置时间:" >
                        <span>{{itemdetail.repairTime}}</span>
                    </el-form-item>
                     <el-form-item label="处置状态:" >
                         <span>{{getResultDialog()}}</span>
                    </el-form-item>
                     <el-form-item label="处置意见:" >
                         <span>{{itemdetail.result}}</span>
                    </el-form-item>
                    <el-form-item label="处置图片:" >
                       <img :src="itemdetail.handlePicUrl" alt="" class="img">
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="detailDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="detailDialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>

             <el-dialog
                title="新增问题类型"
                :visible.sync="addDialogVisible"
                width="30%"
                center>
                <el-form :model="addform" :label-position="labelPosition" label-width="80px">
                    <el-form-item label="问题类型:" >
                        <el-input v-model="addform.description" autocomplete="off" style="width:90%"></el-input>
                    </el-form-item>
                   
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addconfirm" >确 定</el-button>
                </span>
            </el-dialog>

             <el-dialog
                title="提示"
                :visible.sync="delDialogVisible"
                width="20%"
                center>
                <span>是否删除?</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="delDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="delconfirm">确 定</el-button>
                </span>
            </el-dialog>
    </div>
   
</template>

<script>
import { Message } from 'element-ui';
import { mapState } from 'vuex'
import timerSelectByCameraVue from '../../components/middleware/dashboard/timerSelectByCamera.vue';
export default {
    data(){
        return{
            params:{
                count:10,
                start:0,
                type:null,
                description:null
                
            },
            addform:{
                description:'',
                
            },
            delParams:{
                uniqueId:null
            },
            itemdetail:{
                address:null,
                createName:null,
                type:null,
                content:null,
                description:null,
                createTime:null,
                repairName:null,
                
            },
            options: [{
                value: '0',
                label: '未处理'
                }, {
                value: '1',
                label: '已处理'
            }],
            fileList:[],
            datepicker:[],
            multipleSelection:[],
            questioninfo:[],
            detailDialogVisible:false,
            editDialogVisible:false,
            addDialogVisible:false,
            delDialogVisible:false,
            labelPosition:'left',
            upPicSuccess:true

        }
    },
    methods:{
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        handleChange(index){
            this.params.start = (index-1)*this.params.count;
            this.getQuestionBack();
        },
        dataChange(val){
            this.params.beginTime = val[0];
            this.params.endTime = val[1];
        },
        
        getQuestionBack(){
            this.$store.dispatch("getQuestionBack",this.params)
        },
        query(){
            this.params.start = 0;
            this.getQuestionBack();
        },
        reset(){
            this.params.type = null;
            this.params.description = null;
            this.getQuestionBack();
        },
        handleDelete(item){
            this.delDialogVisible = true;
            this.delParams.uniqueId = item.uniqueId
        },
        delconfirm(){
             this.$store.dispatch("deleteQuestion",this.delParams)
            .then(res=>{
                if(res.result){
                    Message.success("已删除");
                    this.delDialogVisible = false;
                    this.getQuestionBack();
                }else{
                    Message.success(res.error.message);
                }
            })
        },

        handleDetail(item){
            this.detailDialogVisible = true;
            this.itemdetail.description = item.description;
            this.itemdetail.repairName = item.repairName;
            this.itemdetail.createTime = item.createTime;
            this.itemdetail.createName = item.createName;
            this.itemdetail.address = item.address;
            this.itemdetail.type = item.type;
            this.itemdetail.upPicUrl = process.env.VUE_APP_SANLIN_OLD + item.filePathSs[0];
            this.itemdetail.handlePicUrl = process.env.VUE_APP_SANLIN_OLD + item.filePaths[0];
        },
        add(){
            this.addDialogVisible = true;
        },
        addconfirm(){
            this.$store.dispatch("addQuestionInfo",this.addform)
            .then(res=>{
                if(res.result){
                    Message.success("添加成功")
                    this.addDialogVisible = false;
                    this.getQuestionInfo();
                }else{
                    Message.success(res.error.message);
                }
            })
        },
        getResult(row){
            if(row.type == 1){
                return "已处理"
            }else{
                return "未处理"
            }
        },
        getResultDialog(){
            if(this.itemdetail.type == 1){
                return "已处理"
            }else{
                return "未处理"
            }
        },
        getQuestionInfo(){
            this.$store.dispatch("getQuestionInfo",{start:0,count:100})
            .then(res =>{
                this.questioninfo = res.results;
            })
        }
    },
    created(){

    },
    mounted(){
        this.getQuestionBack();
        this.getQuestionInfo();
    },
    computed:{
        ...mapState({
            questionList:state =>state.oldStreet.questionList
        })
    },
    components:{

    }
}
</script>

<style lang="less" scoped>
    .basecontainer{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #eaeef4;
    }
    .highPointTabs{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        border-radius: 0.7%;
        .headerBox{
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .firstrow{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                .rightBtnGroup{
                    height: 100%;
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .inputBox{
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            margin-left: 20px;
            .title{
                color: #333333;
                font-size: 15px;
                width: 90px;
            }
        }
        .tablebox{
            height: 75%;
            width: 100%;
        }
        .addForm{
            height: 390px;
            width: 100%;
            // background: chartreuse;
            display: flex;
            flex-direction: row;
            .halfBox{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                padding-right:10px;
                .itembox{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .title{
                        height: 60px;
                        line-height: 60px;
                        width: 35%;
                        text-align: left;

                    }
                }
            }
        }
    }
    .img{
        height: 90px;
        width: 90px;
        background-size: 100%;
        // background-color: red;
    }
</style>