<template>
    <div class="wen-box">
        <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
            <el-form-item label="景点类型" prop="type">
                <el-select v-model="formInline.type" placeholder="景点类型">
                    <el-option v-for="item in jingdianType" :key="item.id" :label="item.description" :value="item.workType"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="景点名称" prop="name">
                <el-input v-model="formInline.name" placeholder="景点名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
                <el-button @click="resetForm('formInline')">重置</el-button>
            </el-form-item>
        </el-form>
        <div class="buttonbox" @click="addDialog">
            <i class="el-icon-plus"></i>新增
        </div>
        <el-table
                :data="jingdianList"
                border
                style="width: 100%">
            <el-table-column
                    fixed
                    prop="id"
                    label="编号">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="景点名称">
            </el-table-column>
            <el-table-column
                    prop="leixing"
                    label="景点类型">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="景点地址">
            </el-table-column>
            <el-table-column
                    prop="jingweidu"
                    label="景点经纬度">
            </el-table-column>
            <el-table-column
                    prop="imgUrl"
                    label="景点图片">
                <template slot-scope="scope">
                    <el-image style="width: 50px;height: 50px;" :src="scope.row.imgUrl"></el-image>
                </template>
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="edithandleClick(scope.row)" type="text" size="small">编辑</el-button>
                    <el-button @click="deletehandleClick(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-size="10"
                layout="total, prev, pager, next, jumper"
                :total="jingdianInfoPagination.total">
        </el-pagination>
        <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
            <el-form :model="addForm" ref="addForm">
                <el-form-item label="景点名称" :label-width="formLabelWidth">
                    <el-input v-model="addForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="景点类型" :label-width="formLabelWidth">
                    <el-select v-model="addForm.type" placeholder="请选择活动区域">
                        <el-option v-for="item in jingdianType" :key="item.id" :label="item.description" :value="item.workType"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="景点介绍" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="addForm.introduce"></el-input>
                </el-form-item>
                <el-form-item label="景点地址" :label-width="formLabelWidth">
                    <el-input v-model="addForm.address" ></el-input>
                </el-form-item>
                <el-form-item label="景点经经纬度" :label-width="formLabelWidth">
                    <el-input v-model="addForm.jingweidu"  style="width: 70%;margin-right: 10px"></el-input><el-button type="primary" @click="jumptoMap">获取经纬度</el-button>
                </el-form-item>
                <el-form-item label="景点图片" :label-width="formLabelWidth">
                    <el-upload
                            class="avatar-uploader"
                            action="#"
                            :show-file-list="false"
                            :on-preview="handlePictureCardPreview"
                            :before-upload="beforeAvatarUpload"
                            :on-success="handleAvatarSuccess"
                            :on-remove="handleRemove">
                        <img v-if="addForm.imgUrl" :src="addForm.imgUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancleEdit">取 消</el-button>
                <el-button type="primary" @click="addJingdian">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  import Vue from "vue";
  export default {
    data() {
      return {
        dialogTitle: '',
        formInline: {},
        dialogFormVisible: false,
        formLabelWidth: '100px',
        addForm: {
          name: '',
          type: '',
          address: '',
          introduce: '',
          jingweidu: '',
          pictureUrl: '',
          imgUrl: ''
        },
        currentPage: 0,
        params: {
          current: 0,
          size: 10
        },
        dialogVisible: false
      };
    },
    methods: {
      ...mapMutations([]),
      addDialog() {
        this.dialogFormVisible = true;
        this.dialogTitle='新增景点'
      },
      onSubmit () {
        this.params.name = this.formInline.name
        this.params.type = this.formInline.type
        this.params.current = 0
        this.$store.dispatch('getOldStreetJingdian', this.params)
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      cancleEdit() {
        this.dialogFormVisible = false
        this.addForm = {}
      },
      handleCurrentChange (val) {
        if (val === 1) {
          this.params.current = 0
        } else {
          this.params.current = 10 * (val-1)
        }
        this.$store.dispatch('getOldStreetJingdian', this.params)
      },
      edithandleClick (val) {
        this.dialogTitle = '编辑景点'
        this.dialogFormVisible = true
        Object.assign(this.addForm, val)
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        this.addForm.imgUrl = file.url; // todo
        this.dialogVisible = true;
      },
      beforeAvatarUpload(file) {
        let fd = new FormData()
        fd.append('file', file);
        this.$http.post('/oldstreet/attachment/upload', fd)
          .then((res) => {
            this.addForm.pictureUrl = res.result[0]; // 上传路径
          });
        this.addForm.imgUrl = URL.createObjectURL(file);
      },
      handleAvatarSuccess(res, file) {
        this.addForm.imgUrl = URL.createObjectURL(file);
      },
      deletehandleClick (val) {
        this.$confirm('是否删除该景点?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('deleteJingdian',{id: val.id})
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      addJingdian() {
        this.dialogFormVisible = false
        let arr = this.addForm.jingweidu.split(',')
        this.addForm.lon = arr[0]
        this.addForm.lat = arr[1]
        this.$store.dispatch('addJingdian', this.addForm)
      },
      jumptoMap() {
        window.open('https://lbs.amap.com/tools/picker')
      }
    },

    mounted() {
      this.$store.dispatch('getOldStreetJingdian', this.params)
      this.$store.dispatch('getJingdianType', this.params)
    },
    filters: {},
    watch: {
    },
    computed: {
      ...mapState({
        jingdianInfoPagination:state =>state.oldStreet.jingdianInfoPagination,
        jingdianList:state =>state.oldStreet.jingdianList,
        jingdianType:state =>state.oldStreet.jingdianType,
      }),
      ...mapGetters([])
    },
    components: {
    }
  };
</script>

<style lang="less" scoped>
    .wen-box {
        margin: 20px;
        /*border: 1px solid #666;*/

        .buttonbox {
            cursor: pointer;
            margin-bottom: 15px;
        }

        .el-pagination {
            text-align: center;
            margin-top: 20px;
        }
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 108px;
        height: 108px;
        line-height: 108px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .avatar-uploader-icon{
        border: 1px solid #ddd;
    }
</style>

