<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">文保名称</div>
            <el-input v-model="params.name" clearable></el-input>
          </div>
          <div class="inputBox">
            <div class="title">上传时间</div>
            <el-date-picker
              @change="dataChange"
              v-model="datepicker"
              type="datetimerange"
              value-format="yyyy-MM-dd HH:mm:ss"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
          <el-button @click="query" type="primary" style="margin-left:40%;">
            查询
          </el-button>
          <el-button @click="reset">重置</el-button>
        </div>

        <div class="firstrow">
          <el-button
            @click="add"
            type="text"
            icon="el-icon-plus"
            style="margin-left:20px;"
          >
            新增
          </el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="wenbaoList.results"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            label="文保名称"
            align="center"
            prop="name"
          ></el-table-column>
          <el-table-column
            prop="introduce"
            label="内容介绍"
            align="center"
          ></el-table-column>

          <el-table-column
            prop="createName"
            label="上传人"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="optModule"
            label="是否上传"
            align="center"
            show-overflow-tooltip
            :formatter="getStatus"
          ></el-table-column>
          <el-table-column
            prop="createTime"
            label="上传时间"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="address"
            label="文保地址"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="lnglat"
            label="文保经纬度"
            align="center"
          ></el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.row)">
                编辑
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="params.size"
        layout="prev, pager, next,total"
        :total="wenbaoList.pagination.total"
      ></el-pagination>
    </div>
    <el-dialog
      title="新增文保信息"
      :visible.sync="addDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="addform"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="名称:">
          <el-input
            v-model="addform.oldStreetEntity.name"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="内容:">
          <el-input
            v-model="addform.oldStreetEntity.introduce"
            autocomplete="off"
            type="textarea"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="时间:">
          <el-date-picker
            v-model="addform.oldStreetEntity.createTime"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="开放时间:">
          <!-- <el-date-picker
                            @change="dataChange_kaifang"
                            v-model="datepicker"
                            type="datetimerange"
                            value-format="HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                        </el-date-picker> -->

          <el-time-picker
            is-range
            @change="dataChange_kaifang"
            v-model="datepickerkai"
            value-format="HH:mm:ss"
            range-separator="至"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            placeholder="选择时间范围"
          ></el-time-picker>
        </el-form-item>
        <el-form-item label="星级评分:">
          <el-rate v-model="addform.oldStreetEntity.scenicStar"></el-rate>
        </el-form-item>
        <el-form-item label="详细地址:">
          <el-input
            v-model="addform.oldStreetEntity.address"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="文保经纬度">
          <div
            style="display:flex;flex-direction:row;justify-content:space-between;aligin-item:center;"
          >
            <el-input v-model="addform.oldStreetEntity.lnglat"></el-input>
            <el-button @click="openNewTab">获取经纬度</el-button>
          </div>
        </el-form-item>
        <el-form-item label="选择图片:">
          <el-upload
            action="http://47.100.65.32:19001/public/api"
            :before-upload="beforeUpload"
            :on-success="handleAvatarSuccess"
            list-type="picture-card"
            :on-remove="handleRemove"
            :limit="1"
            :file-list="cacheFileList"
            :class="{ hide: hideUploadEdit }"
          >
            <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addconfirm" :loading="!upPicSuccess">
          确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="编辑老街文保"
      :visible.sync="editDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="editform"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="名称:">
          <el-input
            v-model="editform.oldStreetEntity.name"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="内容:">
          <el-input
            v-model="editform.oldStreetEntity.introduce"
            autocomplete="off"
            type="textarea"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="上传时间:">
          <el-date-picker
            v-model="editform.oldStreetEntity.createTime"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="开放时间:">
          <el-time-picker
            is-range
            @change="dataChange_kaifang"
            v-model="datepickerkai"
            value-format="HH:mm:ss"
            range-separator="至"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            placeholder="选择时间范围"
          ></el-time-picker>
        </el-form-item>
        <el-form-item label="星级评分:">
          <el-rate v-model="editform.oldStreetEntity.scenicStar"></el-rate>
        </el-form-item>
        <el-form-item label="详细地址:">
          <el-input
            v-model="editform.oldStreetEntity.address"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="文保经纬度">
          <div
            style="display:flex;flex-direction:row;justify-content:space-between;aligin-item:center;"
          >
            <el-input v-model="editform.oldStreetEntity.lnglat"></el-input>
            <el-button @click="openNewTab">获取经纬度</el-button>
          </div>
        </el-form-item>
        <el-form-item label="选择图片:">
          <el-upload
            action="http://47.100.65.32:19001/public/api"
            :before-upload="beforeUpload"
            :on-success="handleAvatarSuccess"
            list-type="picture-card"
            :file-list="cacheFileList"
            :on-remove="handleRemove"
            :limit="1"
            :class="{ hide: hideUploadEdit }"
          >
            <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editconfirm" :loading="!upPicSuccess">
          确 定
        </el-button>
      </span>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%" center>
      <span>是否删除?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="delconfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      limitValue: 1,
      params: {
        current: 0,
        size: 10,
        name: null,
        startTime: null,
        endTime: null
      },
      addform: {
        filePaths: [],
        oldStreetEntity: {
          name: "",
          introduce: "",
          createName: Vue.ls.get("name"),
          createTime: null,
          address: null,
          startTime: null,
          endTime: null,
          scenicStar: null,
          lnglat: ""
        }
      },
      editform: {
        filePaths: [],
        oldStreetEntity: {
          name: "",
          introduce: "",
          createName: Vue.ls.get("name"),
          createTime: null,
          address: null,
          startTime: null,
          endTime: null,
          lnglat: ""
        }
      },
      editOrADD: 1,
      cacheFileList: [],
      delParams: {
        id: null
      },
      options: [
        {
          value: "0",
          label: "否"
        },
        {
          value: "1",
          label: "是"
        }
      ],
      datepicker: [],
      datepickerkai: [
        new Date(2016, 9, 0, 0, 0),
        new Date(2016, 9, 23, 59, 59)
      ],
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      delDialogVisible: false,
      labelPosition: "left",
      dialogImageUrl: null,
      hideUploadEdit: false,
      upPicSuccess: true
    };
  },
  methods: {
    openNewTab: function() {
      window.open("https://lbs.amap.com/tools/picker");
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleChange(index) {
      this.params.current = (index - 1) * this.params.size;
      this.getOldStreetBack();
    },
    dataChange(val) {
      this.params.startTime = val[0];
      this.params.endTime = val[1];
    },
    dataChange_kaifang(val) {
      this.addform.oldStreetEntity.startTime = val[0];
      this.addform.oldStreetEntity.endTime = val[1];
    },

    getOldStreetBack() {
      this.$store.dispatch("getOldStreetBack", this.params);
    },
    query() {
      this.params.current = 0;
      this.getOldStreetBack();
    },
    reset() {
      this.params.name = null;
      this.params.startTime = null;
      this.params.endTime = null;
      this.datepicker = null;
      this.getOldStreetBack();
    },
    handleDelete(item) {
      this.delDialogVisible = true;
      this.delParams.id = item.id;
    },
    delconfirm() {
      this.$store.dispatch("deleteOldStreet", this.delParams).then(res => {
        if (res.result) {
          Message.success("已删除");
          this.delDialogVisible = false;
          this.getOldStreetBack();
        } else {
          Message.success(res.error.message);
        }
      });
    },

    add() {
      this.addDialogVisible = true;
      this.editOrADD = 1;
      this.hideUploadEdit = false;
      this.cacheFileList = [];
    },
    addconfirm() {
      if (this.upPicSuccess) {
        this.$store.dispatch("saveOldStreet", this.addform).then(res => {
          if (res.result) {
            Message.success("添加成功");
            this.addDialogVisible = false;
            this.getOldStreetBack();
            this.cacheFileList = [];
          } else {
            Message.success(res.error.message);
          }
        });
      } else {
        Message.success("图片正在上传,请稍后");
      }
    },
    handleEdit(item) {
      this.editOrADD = 0;
      this.editDialogVisible = true;
      this.editform.oldStreetEntity.name = item.name;
      this.editform.oldStreetEntity.introduce = item.introduce;
      this.editform.oldStreetEntity.createTime = item.createTime;
      this.editform.oldStreetEntity.startTime = item.startTime;
      this.editform.oldStreetEntity.endTime = item.endTime;
      this.editform.oldStreetEntity.id = item.id;
      this.editform.oldStreetEntity.address = item.address;
      this.editform.oldStreetEntity.scenicStar = item.scenicStar;
      this.editform.oldStreetEntity.lnglat = item.lnglat;
      // this.datepickerkai[0] = new Date( 7, 0,)
      this.datepickerkai[0] = item.startTime + ":00";
      this.datepickerkai[1] = item.endTime + ":00";
      this.editform.filePaths = [];

      if (item.pictureUrl) {
        this.hideUploadEdit = true;
      } else {
        this.hideUploadEdit = false;
      }
      this.editform.filePaths[0] = item.pictureUrl;
      this.cacheFileList = [];
      this.cacheFileList.push({
        url: process.env.VUE_APP_SANLIN_OLD + item.pictureUrl
      });
    },
    editconfirm() {
      if (this.upPicSuccess) {
        this.$store.dispatch("saveOldStreet", this.editform).then(res => {
          if (res.result) {
            Message.success("修改成功");
            this.editDialogVisible = false;
            this.getOldStreetBack();
            this.cacheFileList = [];
          } else {
            Message.success(res.error.message);
          }
        });
      } else {
        Message.success("图片正在上传,请稍后");
      }
    },
    getStatus(row) {
      if (row.uploadStatus == 1) {
        return "是";
      } else {
        return "否";
      }
    },
    beforeUpload(file) {
      this.upPicSuccess = false;
      let fd = new FormData();
      fd.append("file", file);
      this.$http.post("/oldstreet/attachment/upload", fd).then(res => {
        this.upPicSuccess = true;
        if (this.editOrADD == 1) {
          this.addform.filePaths[0] = res.result[0];
        } else {
          this.editform.filePaths[0] = res.result[0];
        }
      });
      this.hideUploadEdit = true;
      this.dialogImageUrl = URL.createObjectURL(file.raw);
      return false;
    },
    handleAvatarSuccess(res, file) {
      this.dialogImageUrl = URL.createObjectURL(file.raw);
    },
    handleRemove(file, fileList) {
      this.hideUploadEdit = false;
      console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    }
  },
  created() {},
  mounted() {
    this.getOldStreetBack();
  },
  computed: {
    ...mapState({
      wenbaoList: state => state.oldStreet.wenbaoList
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 79%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed #000;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 156px;
  height: 156px;
  line-height: 156px;
  text-align: center;
}
.avatar {
  width: 156px;
  height: 156px;
  display: block;
}

.hide .el-upload--picture-card {
  display: none;
}
</style>
