<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">IP地址</div>
            <el-input v-model="queryParams.ip" clearable=""></el-input>
          </div>
          <div class="inputBox">
            <div class="title">上传时间</div>
            <el-date-picker
              @change="dataChange"
              v-model="datepicker"
              type="datetimerange"
              value-format="yyyy-MM-dd HH:mm:ss"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
          <div class="inputBox">
            <div class="title">操作账号</div>
            <el-input v-model="queryParams.account" clearable=""></el-input>
          </div>
          <div class="btnQuery">
            <el-button @click="query" type="primary">查询</el-button>
            <el-button @click="reset">重置</el-button>
          </div>
        </div>
      </div>
      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="getLogInfo.results"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
        >
          <el-table-column
            label="序号"
            type="index"
            align="center"
            width="85"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="操作账号"
            prop="account"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="IP地址"
            prop="ip"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="操作时间"
            prop="opTime"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            label="操作详情"
            prop="method"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
        </el-table>
      </div>
      <el-pagination
        @current-change="handleChange"
        background
        layout="prev, pager, next,total"
        :page-size="queryParams.size"
        :total="getLogInfo.pagination.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      datepicker: [],
      queryParams: {
        current: 1,
        size: 10,
        endTime: null,
        startTime: null,
        ip: null,
        account: null
      }
    };
  },
  methods: {
    getLogList() {
      this.$store.dispatch("getLogList", this.queryParams);
    },
    dataChange(val) {
      this.queryParams.startTime = val[0];
      this.queryParams.endTime = val[1];
    },
    query() {
      this.queryParams.current = 1;
      this.getLogList();
    },
    reset() {
      this.queryParams.endTime = null;
      this.queryParams.startTime = null;
      this.queryParams.ip = null;
      this.queryParams.account = null;
      this.datepicker = [];
      this.getLogList();
    },
    handleChange(index) {
      console.log(index);
      this.queryParams.current = index;
      console.log(this.queryParams);
      this.getLogList();
    }
  },
  mounted() {
    this.getLogList();
  },
  computed: {
    ...mapState({
      getLogInfo: (state) => state.oldStreet.getLogList
    })
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
  // border: black 1px solid;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
      .btnQuery {
        position: absolute;
        right: 1%;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: solid 1px black;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed #000;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 156px;
  height: 156px;
  line-height: 156px;
  text-align: center;
}
.avatar {
  width: 156px;
  height: 156px;
  display: block;
}

.hide .el-upload--picture-card {
  display: none;
}
</style>