<template>
  <div class="login-container">
    <div class="login-title">三林老街后台管理系统</div>
    <div class="login-box">
      <!-- <div class="login-text">用户登录</div> -->
      <!-- <div class="login-text-en">User login</div> -->
      <div class="input-box login-input">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/user.png"
          alt
          class="itemimg"
        />
        <div class="itemtitle">用户名:</div>
        <input v-model="phone" type="text" placeholder="请输入账号" />
      </div>
      <div class="input-box login-input">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/password.png"
          alt
          class="itemimg"
        />
        <div class="itemtitle">密码:</div>
        <input v-model="password" type="password" placeholder="请输入密码" />
      </div>
      <!-- <div class="input-box login-button"> -->
      <button class="loginbtn" @click="login">登录</button>
      <!-- </div> -->
    </div>
    <div class="power-text">
      Copyright © 2015-2021 猎熊座安全技术(上海)有限公司 版权所有
      沪ICP备15039279
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { encryptBy, decryptDes, generatekey } from "@/common/encryption.js";
export default {
  data() {
    return {
      phone: "",
      password: ""
    };
  },
  mounted() {
    Vue.ls.clear();
    Vue.ls.set("sysName", this.$route.name);
    console.log(Vue.ls.get("sysName"));
  },
  methods: {
    login() {
      let params = null;
      if (this.phone && this.password) {
        params = {
          username: this.phone,
          password: this.$md5(this.password + "bearhunting")
          // password: this.password
        };
      }
      this.$store.dispatch("administratorLogin", params).then(res => {
        console.log(res);
        if (res.error == null) {
          if (res.result.role[0]?.code == "BIG_SCREEN") {
            Vue.ls.set("osLogToken", res.result.token);
            this.$store.dispatch("login2normal", {}).then(res => {
              console.log(res);
              Vue.ls.set("menuList", res.menus);
              this.$router.push("/os/index");
            });
          } else if (res.result.role[0]?.code == "ADMIN") {
            Vue.ls.set("osLogToken", res.result.token);
            this.$store.dispatch("login2admin", {}).then(res => {
              console.log(res);
              console.log(res);
              Vue.ls.set("menuList", res.menus);
              this.$router.push("/os/userManage");
            });
          } else if (res.result.role[0]?.code == "BACKEND") {
            Vue.ls.set("osLogToken", res.result.token);
            this.$store.dispatch("login2normal", {}).then(res => {
              console.log(res);
              Vue.ls.set("menuList", res.menus);
              this.$router.push("/os/index");
            });
          } else if (res.result.role[0]?.code == "OPLOG") {
            // console.log(res.result.token);
            Vue.ls.set("osLogToken", res.result.token);
            this.$store.dispatch("login2log", {}).then(res => {
              console.log(res);
              Vue.ls.set("menuList", res.menus);
              this.$router.push("/os/log");
            });
          }
        } else {
          this.$message({ message: res.error.message, type: "error" });
        }
      });
      Vue.ls.set("userName", this.phone);
      Vue.ls.set("password", this.password);
    }
  }
};
</script>
<style lang="less" scoped>
.login-container {
  // background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-background.png");
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/arloginbg.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-title {
  // background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-title.png")
  // no-repeat;
  background-size: cover;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  color: #00f0ff;
  height: 70px;
  line-height: 70px;
}
.login-box {
  width: 650px;
  height: 550px;
  // background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-box.png");
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/loginbox.png");
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 100px;
  box-sizing: border-box;
  padding-top: 100px;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  .itemtitle {
    width: 90px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .itemimg {
    height: 26px;
    width: 26px;
  }
  .loginbtn {
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/arloginbtnbg.png");
    background-size: 100% 100%;
    height: 110px;
    width: 110px;
    font-size: 20px;
    margin-top: 30px;
    color: #7dfaff;
  }
  .login-text {
    font-size: 45px;
    margin-top: 110px;
    opacity: 0.85;
  }
  .login-text-en {
    font-size: 34px;
    opacity: 0.38;
    line-height: 30px;
    margin-top: 20px;
  }
  .input-box {
    width: 433px;
    height: 48px;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 30px;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/arloginputbg.png");
  }
  input {
    color: #fff;
    font-size: 26px;
    background-color: transparent;
    border: none;
    margin-left: 30px;
    outline: none;
    height: 100%;
    width: 100%;
  }
  input::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  .login-input {
    // border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 60px;
  }
  .login-button {
    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/bear-public/login-button.png");
    background-size: 100% 100%;
    margin-top: 45px;
  }
  .login-button:active {
    margin-top: 49px;
    margin-left: 2px;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 30px;
    opacity: 0.85;
    cursor: pointer;
    outline: none;
  }
}
.power-text {
  color: #028189;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
</style>
