<template>
    <div class="wen-box">
        <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
            <el-form-item label="角色" prop="workType">
                <el-select v-model="formInline.workType" placeholder="请选择角色">
                    <el-option v-for="item in personWork" :key="item.id" :label="item.description" :value="item.workType"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="姓名" prop="name">
                <el-input v-model="formInline.name" placeholder="姓名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
                <el-button @click="resetForm('formInline')">重置</el-button>
            </el-form-item>
        </el-form>
        <div class="buttonbox" @click="addDialog">
            <i class="el-icon-plus"></i>新增
        </div>
        <el-table
                :data="personInfo"
                border
                style="width: 100%">
            <el-table-column
                    fixed
                    prop="id"
                    label="编号">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名">
            </el-table-column>
            <el-table-column
                    prop="sex"
                    label="性别">
            </el-table-column>
            <el-table-column
                    prop="mobile"
                    label="手机号">
            </el-table-column>
            <el-table-column
                    prop="juese"
                    label="角色">
            </el-table-column>
            <el-table-column
                    prop="jobType"
                    label="职务">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="edithandleClick(scope.row)" type="text" size="small">编辑</el-button>
                    <el-button @click="deletehandleClick(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-size="10"
                layout="total, prev, pager, next, jumper"
                :total="personInfoPagination.total">
        </el-pagination>
        <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
            <el-form :model="addForm" ref="addForm" :rules="rules">
                <el-form-item label="姓名" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="addForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth" prop="gender">
                    <el-select v-model="addForm.gender" placeholder="请选择活动区域">
                        <el-option label="男" value="0"></el-option>
                        <el-option label="女" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="手机号" :label-width="formLabelWidth" prop="mobile">
                    <el-input v-model="addForm.mobile" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="角色" :label-width="formLabelWidth" prop="workType">
                    <el-select v-model="addForm.workType" placeholder="请选择角色">
                        <el-option v-for="item in personWork" :key="item.id" :label="item.description" :value="item.workType"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="职务" :label-width="formLabelWidth" prop="jobType">
                    <el-input v-model="addForm.jobType" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addPerson('addForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  import Vue from "vue";
  export default {
    data() {
      return {
        dialogTitle: '',
        dialogFormVisible: false,
        formLabelWidth: '100px',
        addForm: {
          workType: ''
        },
        rules: {
          name: [
            { required: true, message: '请输入人员姓名', trigger: 'blur' }
          ],
          gender: [
            { required: true, message: '请选择人员性别', trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '请输入电话号码', trigger: 'blur' }
          ],
          workType: [
            { required: true, message: '请选择人员角色', trigger: 'blur' }
          ],
        },
        formInline: {
          workType: ''
        },
        currentPage: 0,
        params: {
          current: 0,
          size: 10
        }
      };
    },
    methods: {
      ...mapMutations([]),
      addDialog() {
        this.dialogFormVisible = true;
        this.dialogTitle='新增人员'
      },
      onSubmit () {
        this.params.name = this.formInline.name
        this.params.workType = this.formInline.workType
        this.params.current = 0
        this.$store.dispatch('getpersonInfo', this.params)
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      handleCurrentChange (val) {
        if (val === 1) {
          this.params.current = 0
        } else {
          this.params.current = 10 * (val-1)
        }
        this.$store.dispatch('getpersonInfo', this.params)
      },
      edithandleClick (val) {
        this.dialogTitle='编辑人员'
        this.dialogFormVisible = true
        this.addForm = val
      },
      deletehandleClick (val) {
        this.$confirm('是否删除该人员?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('deletepersonInfo',{id: val.id})
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      addPerson (formName) {
        this.dialogFormVisible = false
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$store.dispatch('addpersonInfo',this.addForm)
          } else {
            return false;
          }
        });
        this.addForm = {}
      }
    },

    mounted() {
      this.$store.dispatch('getpersonInfo', this.params)
      this.$store.dispatch('getpersonWork', this.params)
    },
    filters: {},
    watch: {
    },
    computed: {
      ...mapState({
        personInfoPagination:state =>state.oldStreet.personInfoPagination,
        personInfo:state =>state.oldStreet.personInfo,
        personWork:state =>state.oldStreet.personWork,
      }),
      ...mapGetters([])
    },
    components: {
    }
  };
</script>

<style lang="less" scoped>
    .wen-box {
        margin: 20px;
        /*border: 1px solid #666;*/

        .buttonbox {
            cursor: pointer;
            margin-bottom: 15px;
        }

        .el-pagination {
            text-align: center;
            margin-top: 20px;
        }
    }
</style>
