<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <!-- <div class="inputBox">
                        <div class="title">高点名称</div>
                        <el-input v-model="params.name"></el-input>
                    </div> -->
          <div class="inputBox">
            <div class="title">工作力量</div>
            <el-input v-model="params.ipAddr"></el-input>
          </div>
          <div class="inputBox">
            <div class="title">姓名</div>
            <el-input v-model="params.ipAddr"></el-input>
          </div>
          <div class="inputBox">
            <div class="title">手机号</div>
            <el-input v-model="params.ipAddr"></el-input>
          </div>

          <el-button @click="query" type="primary" style="margin-left:40%;">
            查询
          </el-button>
          <el-button @click="reset">重置</el-button>
        </div>

        <div class="firstrow">
          <el-button
            @click="add"
            type="text"
            icon="el-icon-plus"
            style="margin-left:20px;"
          >
            新增人员
          </el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="loglist.data"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            label="序号"
            width="85"
            align="center"
            type="index"
          ></el-table-column>
          <el-table-column
            prop="uname"
            label="姓名"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="手机号"
            label="上传人"
            align="center"
            show-overflow-tooltip
          ></el-table-column>

          <el-table-column
            prop="optDetail"
            label="工作力量"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="ipAddr"
            label="职务"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="optDetail"
            label="最后登录时间"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="optDetail"
            label="目前状态"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.row)">
                编辑
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="params.limit"
        layout="prev, pager, next,total"
        :total="loglist.totalAll"
      ></el-pagination>
    </div>
    <el-dialog
      title="新增人员"
      :visible.sync="addDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="addform"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="姓名:">
          <el-input
            v-model.number="addform.title"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="手机号:">
          <el-input
            v-model.number="addform.content"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="工作力量">
          <el-input
            v-model.number="addform.content"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="职务:">
          <el-input
            v-model.number="addform.content"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addconfirm">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="编辑人员信息"
      :visible.sync="editDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="editform"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="姓名:">
          <el-input
            v-model.number="editform.title"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="手机号:">
          <el-input
            v-model.number="editform.content"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="工作力量:">
          <el-input
            v-model.number="editform.label"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="职务:">
          <el-input
            v-model.number="editform.label"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addconfirm">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%" center>
      <span>是否删除?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="delconfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        page: 1,
        limit: 10,
        ipAddr: null,
        beginTime: null,
        endTime: null,
        sort: "-create_time"
      },
      addform: {
        title: "",
        content: "",
        label: "",
        endTime: ""
      },
      editform: {
        title: "",
        content: "",
        label: "",
        endTime: ""
      },
      fileList: [],
      datepicker: [],
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      delDialogVisible: false,
      labelPosition: "left"
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleChange(index) {
      this.params.page = index;
      this.getloglist();
    },
    dataChange(val) {
      this.params.beginTime = val[0];
      this.params.endTime = val[1];
    },

    getloglist() {
      this.$store.dispatch("queryOptLog", this.params);
    },
    query() {
      this.params.page = 1;
      this.getloglist();
    },
    reset() {
      this.params.ipAddr = null;
      this.params.beginTime = null;
      this.params.endTime = null;
      this.datepicker = [];
      this.getloglist();
    },
    handleDelete() {
      this.delDialogVisible = true;
    },
    delconfirm() {},
    handleEdit() {
      this.editDialogVisible = true;
    },

    add() {
      this.addDialogVisible = true;
    },
    addconfirm() {},
    submitUpload() {
      this.$refs.upload.submit();
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    }
  },
  created() {},
  mounted() {
    this.getloglist();
  },
  computed: {
    ...mapState({
      loglist: state => state.ar.queryOptLog
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>
