<template>
    <div class="item-box">
        <div class="keliu-title">
            <div>{{title}}</div>
            <el-select v-model="value" @change="getNewData" placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="keliu-echart">
            <div class="echart-item" ref="anjinaline"></div>
        </div>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  import echarts from "echarts";
  export default {
    data() {
      return {
        value: '0'
      };
    },
    props: ['title','options', 'echartdatas', 'type'],
    methods: {
      ...mapMutations([]),
      getNewData (val) {
        this.value = val
        const params1 = {
          timeRangeType: val,
        }
        const params = {
          cameraType: 0,
        }
        if (this.type === 'keliu') {
          this.options.forEach(item => {
            if (item.value === val) {
              params.position = item.label
            }
          })
          this.$store.dispatch('getkeliuInfo', params)
          this.$store.dispatch('getkeliuCount', params)
        } else if (this.type === 'xiaochengxu'){
          this.$store.dispatch('xiaochengxuUse', params1)
        } else if (this.type === 'wentitousu'){
          this.$store.dispatch('wentitousu', params1)
        }

      },
      initLine() {
        let myChart = echarts.init(this.$refs.anjinaline);
        const timeArr = [],seriesArr=[]
        let arr1 = [],arr2=[],seriesItem2 = {
          symbol: "circle", //折点设定为实心点
          symbolSize: 3, //设定实心点的大小
          data: [],
          type: "line",
          smooth: true,
          itemStyle: {
            normal: {
              color: "#9b7ce4",
              lineStyle: {
                color: "#9b7ce4"
              }
            }
          },
          areaStyle: {
            normal: {
              color: {
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: "#5b55a9" // 0% 处的颜色
                  },
                  {
                    offset: 0.7,
                    color: "#0c295f" // 100% 处的颜色
                  }
                ],
                globalCoord: false // 缺省为 false
              }
            }
          },
          showSymbol: true,
        }
        let seriesItem1 = {
          symbol: "circle", //折点设定为实心点
          symbolSize: 3, //设定实心点的大小
          data: [],
          type: "line",
          smooth: true,
          itemStyle: {
            normal: {
              color: "#567EE6",
              lineStyle: {
                color: "#567EE6"
              }
            }
          },
          areaStyle: {
            normal: {
              color: {
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: "#5b55a9" // 0% 处的颜色
                  },
                  {
                    offset: 0.7,
                    color: "#0c295f" // 100% 处的颜色
                  }
                ],
                globalCoord: false // 缺省为 false
              }
            }
          },
          showSymbol: true,
        }
        this.echartdatas.forEach(item => {
          timeArr.push(item.time)
          if (this.type === 'xiaochengxu') {
            arr1.push(item.opCount)
          } else if (this.type === 'keliu'){
            arr1.push(item.enterCount)
            arr2.push(item.exitCount)
          } else if (this.type === 'wentitousu'){
            arr1.push(item.questionCount)
            arr2.push(item.taskCount)
          }
        })
        seriesItem1.data = [...arr1]
        seriesItem2.data = [...arr2]
        let legend = {},
          grid = {
              left: "3%",
              right: "4%",
              bottom: "60",
              containLabel: true
            }
        if (this.type === 'wentitousu') {
          seriesItem1.name = '巡检问题'
          seriesItem2.name = '问题投诉'
          legend = {
            data: ['巡检问题', '问题投诉'],
            top: '35%',
            left: '2%',
            orient: "vertical",
            itemGap: 40,
            textStyle: {
              color: '#8995CB'
            }
          }
          grid = {
            left: "18%",
            right: "4%",
            bottom: "60",
            containLabel: true
          }
        }
        seriesArr.push(seriesItem1,seriesItem2)
        myChart.setOption({
          tooltip: {
            trigger: "axis",
            axisPointer: {
              type: "shadow"
            }
          },
          legend: legend,
          grid: grid,
          dataZoom: [
            {
              type: "slider",
              show: true,
              xAxisIndex: [0],
              bottom: 30,
              end: 90, //初始化滚动条
              backgroundColor: "#254180",
              fillerColor: "#315bbe",
              height: 10,
              textStyle: false,
              handleIcon: "path://M0,0 v9.7h5 v-9.7h-5 Z",
              handleSize: 22
            }
          ],
          xAxis: {
            type: "category",
            boundaryGap: false, // 不留白，从原点开始
            data: timeArr,
            axisLine: {
              lineStyle: {
                color: "#102f62",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#8aadc1" //这里用参数代替了
              }
            }
          },
          yAxis: {
            type: "value",
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#102f62"],
                width: 1,
                type: "solid"
              }
            },
            axisLine: {
              show: false
            },
            axisTick: {
              //y轴刻度线
              show: false
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#e2e5ee" //这里用参数代替了
              }
            }
          },
          series: seriesArr
        });
      },
    },

    mounted() {
    },
    filters: {},
    watch: {
      echartdatas: function (val) {
        if (val.length > 0) {
          this.initLine()
        }
      }
    },
    computed: {
      ...mapState({
        // kwliuInfo:state =>state.oldStreet.kwliuInfo
      }),
      ...mapGetters([])
    },
    components: {
    }
  };
</script>

<style lang="less" scoped>
    .item-box{
        height: 100%;
        background-color: #1C2E5A;
        border-radius: 10px;
        .keliu-title{
            height: 15%;
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            font-size: 24px;
            padding: 0 20px;
            align-items: flex-end;
        }
        .keliu-echart {
            height: 85%;
            display: flex;
            flex-flow: row;

            .echart-item {
                width: 100%;
            }
        }
    }
    .el-select{
        width: 100px;
        /deep/ .el-input__inner{
            height: 30px;
            width: 100px;
        }
    }
</style>
