<template>
    <div class="item-box">
        <div class="keliu-title">
            <div>{{title}}</div>
            <el-select v-model="value" placeholder="请选择" @change="getValue">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="keliu-echart">
            <div ref="peopleEchart" class="echart-item"></div>
        </div>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  import echart from "echarts";
  export default {
    data() {
      return {
        value: '6',
      };
    },
    props: ['title', "options", "echartdatas"],
    methods: {
      ...mapMutations([]),
      initCycle() {
        let myChart = echart.init(this.$refs.peopleEchart);
        let chuzhiVal = '',weichuzhi=''
        this.echartdatas.forEach(item => {
          if (item.type==this.value) {
            chuzhiVal = item.acceptCount
            weichuzhi = item.unAcceptCount
          }
        })
        myChart.setOption({
          color: ['#E37750', '#6045D5'],
          legend: {
            top: '35%',
            right: '10%',
            orient: "vertical",
            itemGap: 40,
            textStyle: {
              color: '#8995CB'
            }
          },
          tooltip: {
            trigger: "item"
          },
          series: [
            {
              center: ['35%', '50%'],
              // name: "问题上报数",
              type: "pie",
              radius: ["55%", "70%"],
              avoidLabelOverlap: false,
              label: {
                show: false,
                position: "center"
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: "20",
                  fontWeight: "bold"
                }
              },
              labelLine: {
                show: false
              },
              data: [
                { value: chuzhiVal, name: "问题完成数" },
                { value: weichuzhi, name: "问题上报数" }
              ]
            }
          ]
        });
      },
      getValue(val) {
        this.value = val
        this.initCycle()
      }
    },

    created() {},
    mounted() {
      this.initCycle();
    },
    watch: {
      echartdatas: function (val) {
        this.initCycle()
      }
    },
    computed: {
      ...mapState({}),

      ...mapGetters([])
    },
    components: {
    }
  };
</script>

<style lang="less" scoped>
    .item-box{
        height: 100%;
        background-color: #1C2E5A;
        border-radius: 10px;
        .keliu-title{
            height: 15%;
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            font-size: 24px;
            padding: 0 20px;
            align-items: flex-end;
        }
        .keliu-echart {
            height: 85%;
            display: flex;
            flex-flow: row;

            .echart-item {
                width: 100%;
            }
        }
    }
    .el-select{
        width: 130px;
        /deep/ .el-input__inner{
            height: 30px;
            width: 130px;
        }
    }
</style>
