<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">小吃名称</div>
            <el-input v-model="searchForm.name"></el-input>
          </div>

          <el-button @click="query" type="primary" style="margin-left:40%;">
            查询
          </el-button>
          <el-button @click="reset">重置</el-button>
        </div>

        <div class="firstrow">
          <el-button
            @click="add"
            type="text"
            icon="el-icon-plus"
            style="margin-left:20px;"
          >
            新增
          </el-button>
        </div>
      </div>

      <div class="tablebox">
        <el-table
          ref="multipleTable"
          :data="xiaochiList"
          tooltip-effect="dark"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            label="小吃名称"
            width="85"
            align="center"
            prop="name"
          ></el-table-column>
          <el-table-column
            prop="introduce"
            label="内容介绍"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="createName"
            label="上传人"
            align="center"
            show-overflow-tooltip
          ></el-table-column>

          <el-table-column
            prop="uploadStatus"
            label="是否上传"
            align="center"
            show-overflow-tooltip
          >
            <template slot-scope="scope">
              <span v-if="scope.row.uploadStatus == 0">否</span>
              <span v-else>是</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="createTime"
            label="生效时间"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="address"
            label="地址"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="lnglat"
            label="经纬度"
            align="center"
          ></el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.row)">
                编辑
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        @current-change="handleChange"
        background
        :page-size="pagination.count"
        layout="prev, pager, next,total"
        :total="pagination.total"
        :current-page="pagination.currentPage"
      ></el-pagination>
    </div>
    <el-dialog
      :title="formTitle"
      :visible.sync="addDialogVisible"
      width="40%"
      center
    >
      <el-form
        :model="formData"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="小吃名称:">
          <el-input
            v-model="formData.name"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="星级评分">
          <el-select
            style="width:90%;"
            v-model="formData.scenicStar"
            placeholder="请选择"
          >
            <el-option label="一星" value="1"></el-option>
            <el-option label="二星" value="2"></el-option>
            <el-option label="三星" value="3"></el-option>
            <el-option label="四星" value="4"></el-option>
            <el-option label="五星" value="5"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="小吃介绍:">
          <el-input
            v-model="formData.introduce"
            autocomplete="off"
            type="textarea"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-upload
            action="/oldstreet/attachment/upload"
            list-type="picture-card"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
            :on-exceed="handleExceed"
            :on-success="handleUploadSuccess"
            :file-list="cacheFileList"
            :limit="3"
          >
            <i class="el-icon-plus"></i>
          </el-upload>
          <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="" />
          </el-dialog>
        </el-form-item>
        <el-form-item label="生效时间:">
          <el-date-picker
            v-model="formData.createTime"
            type="datetime"
            :value-format="'yyyy-MM-dd HH:mm:ss'"
            placeholder="请选择生效时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="详细地址:">
          <el-input
            v-model="formData.address"
            autocomplete="off"
            style="width:90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="经纬度">
          <div
            style="display:flex;flex-direction:row;justify-content:space-between;aligin-item:center;"
          >
            <el-input v-model="formData.lnglat"></el-input>
            <el-button @click="openNewTab">获取经纬度</el-button>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addconfirm">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%" center>
      <span>是否删除?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="delconfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
export default {
  data() {
    return {
      formTitle: "",
      currentPage: 1,
      params: {
        page: 1,
        limit: 10,
        ipAddr: null,
        beginTime: null,
        endTime: null,
        sort: "-create_time"
      },
      searchForm: { name: "" },
      formData: {
        name: "",
        lnglat: "",
        introduce: "",
        createTime: "",
        address: "",
        scenicStar: "",
        imgPathList: []
      },
      datepicker: [],
      multipleSelection: [],
      addDialogVisible: false,
      editDialogVisible: false,
      delDialogVisible: false,
      labelPosition: "left",
      dialogImageUrl: "",
      dialogVisible: false,
      imgPath: "",
      cacheFileList: []
    };
  },
  methods: {
    openNewTab: function() {
      window.open("https://lbs.amap.com/tools/picker");
    },
    handleUploadSuccess(res, file, fileList) {
      this.formData.imgPathList = [];
      console.log(res);
      let obj = { name: file.name, imgPath: res.result[0] };
      this.formData.imgPathList.push(obj.imgPath);
    },
    handleExceed: function() {
      alert("只能上传三个文件");
    },
    handleRemove(file, fileList) {
      let zindex;
      this.formData.imgPathList.forEach((item, index) => {
        if (item.name == file.name) {
          zindex = index;
        }
      });
      this.formData.imgPathList.splice(zindex, 1);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleChange(index) {
      Object.assign(this.pagination, { currentPage: index });
      this.$store.dispatch("getXiaochi", {
        start: (index - 1) * 10,
        count: 10,
        name: this.searchForm.name
      });
    },
    dataChange(val) {
      this.params.beginTime = val[0];
      this.params.endTime = val[1];
    },

    getloglist() {
      this.$store.dispatch("queryOptLog", this.params);
    },
    query() {
      this.$store.dispatch(
        "getXiaochi",
        Object.assign({}, this.pagination, this.searchForm)
      );
    },
    reset() {
      Object.assign(this.searchForm, { name: "" });
      this.$store.dispatch("getXiaochi");
    },
    handleDelete(val) {
      this.delDialogVisible = true;
      this.currentXiaochi = val;
    },
    delconfirm() {
      this.$store.dispatch("deleteXiaochi", { id: this.currentXiaochi.id });
      this.delDialogVisible = false;
    },
    handleEdit(val) {
      console.log(val);
      this.currentXiaochi = val;
      this.formTitle = "编辑小吃";
      this.addDialogVisible = true;
      this.cacheFileList = [];
      this.cacheFileList = val.filePaths.map(item => {
        return { url: process.env.VUE_APP_SANLIN_OLD + item, name: item };
      });
      this.formData.imgPathList = val.filePaths;
      Object.assign(this.formData, {
        name: val.name,
        introduce: val.introduce,
        createTime: val.createTime,
        address: val.address,
        scenicStar: val.scenicStar,
        lnglat: val.lnglat
      });
    },

    add() {
      this.formTitle = "添加小吃";
      this.addDialogVisible = true;
      this.cacheFileList = [];
      Object.assign(this.formData, {
        name: "",
        introduce: "",
        createTime: "",
        address: "",
        imgPath: [],
        scenicStar: ""
      });
    },
    addconfirm() {
      if (this.formData.imgPathList.length > 0) {
        this.addDialogVisible = false;
        if (this.formTitle == "编辑小吃") {
          this.$store.dispatch("addXiaochi", {
            filePaths: this.formData.imgPathList,
            snackEntity: Object.assign({}, this.formData, {
              id: this.currentXiaochi.id
            })
          });
        } else {
          this.$store.dispatch("addXiaochi", {
            filePaths: this.formData.imgPathList,
            snackEntity: this.formData
          });
          this.cacheFileList = [];
        }
      } else {
        Message.success("请选择您要上传的图片");
      }
    },
    submitUpload() {
      this.$refs.upload.submit();
    }
  },
  created() {},
  mounted() {
    this.$store.dispatch("getXiaochi", this.pagination);
  },
  computed: {
    ...mapState({
      xiaochiList: state => state.oldStreet.xiaochiList,
      pagination: state => state.oldStreet.commonPagination
    })
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      justify-content: flex-start;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 90px;
    }
  }
  .tablebox {
    height: 75%;
    width: 100%;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
</style>
