<template>
  <div class="noiseDeetection-container">
    <el-form :inline="true" :v-model="params" style="margin: 0 auto">
      <el-form-item>
        <el-button
          type="success"
          @click="showAddDeviceDialog"
          icon="el-icon-plus"
        >
          新增用户
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :ref="editArr"
      :data="oldStreetUserList"
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column
        label="用户名"
        align="center"
        prop="username"
      ></el-table-column>
      <el-table-column
        label="昵称"
        align="center"
        prop="nickname"
      ></el-table-column>
      <el-table-column label="角色" align="center">
        <template slot-scope="scope">
          <el-checkbox-group v-model="checkList" disabled>
            <!-- :checked='item.id in scope.rows.id' -->
            <el-checkbox
              v-for="item in scope.row.roles"
              :key="item.id"
              :label="item.name"
              :checked="true"
            ></el-checkbox>
          </el-checkbox-group>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button size="mini" @click="showSetrole(scope.row)">
            配置角色
          </el-button>
          <!-- <el-button size="mini" @click="showEditDialog(scope.row)">
            修改密码
          </el-button> -->
          <!-- <el-button
            type="danger"
            size="mini"
            @click="showDeleteDialog(scope.row)"
          >
            删除
          </el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination-container">
      <el-pagination
        class="fystyle"
        @current-change="handleCurrentChange"
        :current-page.sync="params.current"
        :page-size="params.size"
        background
        layout="prev, pager, next, jumper"
        prev-text="上一页"
        next-text="下一页"
        :total="params.total"
      ></el-pagination>

      <el-dialog
        title="新增用户"
        :visible.sync="addDeviceDialogVisible"
        class="elDialog"
      >
        <el-form :model="addUserParmas" :rules="rules" ref="addUserParmas">
          <el-form-item
            label="用户名:"
            label-width="100px"
            required
            prop="username"
          >
            <el-input
              class="noise-input"
              v-model="addUserParmas.username"
              placeholder="请输入用户名"
            ></el-input>
          </el-form-item>
          <el-form-item
            label="密码:"
            label-width="100px"
            required
            prop="password"
          >
            <el-input
              class="noise-input"
              v-model="addUserParmas.password"
              placeholder="请输入密码"
            ></el-input>
          </el-form-item>
          <el-form-item label="昵称:" label-width="100px">
            <el-input
              class="noise-input"
              v-model="addUserParmas.nickname"
              placeholder=""
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addDeviceDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addUser">确 定</el-button>
        </div>
      </el-dialog>
      <el-dialog
        title="用户角色分配"
        :visible.sync="addroleVisible"
        class="elDialog"
      >
        <el-form>
          <el-form-item label="角色列表:" label-width="100px" required>
            <el-radio-group v-model="radio">
              <el-radio
                v-for="item in oldStreetRoleList"
                :key="item.id"
                :label="item.id"
              >
                {{ item.name }}
              </el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addroleVisible = false">取 消</el-button>
          <el-button type="primary" @click="setRole">确 定</el-button>
        </div>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="deleteDialogVisible" width="30%">
        <span>是否删除?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deleteDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="deleteDevice">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { Message } from "element-ui";
export default {
  data() {
    return {
      pagination: { current: 1, size: 10 },
      oldStreetUserList: [],
      oldStreetRoleList: [],
      checkList: [],
      searchForm: {
        threshold: "",
        position: ""
      },
      iteminfo: {},

      params: {
        current: 1,
        size: 10,
        total: 0,
        position: "",
        threshold: ""
      },
      addUserParmas: {
        username: "",
        password: "",
        nickname: ""
      },
      currentThresholdDecibel: "",
      setThresholdDecibel: "",
      addDeviceDialogVisible: false,
      addroleVisible: false,
      deleteDialogVisible: false,
      editDeviceDialogVisible: false,
      moreEditDialogVisible: false,
      rules: {
        username: [{ required: true, message: "用户名不能为空" }],
        password: [
          { required: true, message: "密码不能为空", trigger: "blur" },
          {
            min: 8,
            max: 20,
            message: "密码长度在8到20个字符",
            trigger: "blur"
          },
          {
            pattern: /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[~!@#$%^&*])[\da-zA-Z~!@#$%^&*]{8,20}$/,
            message: "密码必须有字母、数字、特殊符号(~!@#$%^&*)组成",
            trigger: "blur"
          }
        ]
      },
      editArr: [],
      currentData: {},
      radio: ""
    };
  },
  mounted() {
    let reg = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[~!@#$%^&*])[\da-zA-Z~!@#$%^&*]{8,20}$/;
    console.log(reg.test("qlk#1234!"));
    this.$store.dispatch("lajieUsers", this.params).then(res => {
      this.oldStreetUserList = res.results;
      Object.assign(this.params, { total: res.pagination.total });
    });
    this.$store.dispatch("laojieRoles").then(res => {
      this.oldStreetRoleList = res.result;
    });
  },
  methods: {
    setRole() {
      this.$store
        .dispatch("laojieSetRoles", {
          roleId: this.radio,
          userId: this.currentData.id
        })
        .then(res => {
          if (res.error) {
            this.$message({
              type: "warning",
              message: "请重试"
            });
          } else {
            this.addroleVisible = false;
            this.$store.dispatch("lajieUsers", this.pagination).then(res => {
              this.oldStreetUserList = res.results;
            });
          }
        });
    },
    showSetrole(data) {
      this.addroleVisible = true;
      this.currentData = data;
    },
    handleCurrentChange(val) {
      this.params.current == val;
      this.$store
        .dispatch(
          "lajieUsers",
          Object.assign({}, this.params, { current: val })
        )
        .then(res => {
          this.oldStreetUserList = res.results;
        });
    },

    //按照条件查询数据列表
    getNoiseDetectionList() {
      this.$store.dispatch("getNoiseDetectionList", this.params);
    },

    //弹出新增设备弹框
    showAddDeviceDialog() {
      this.addDeviceDialogVisible = true;
    },
    //新增设备
    addUser() {
      let that = this;

      // let params = that.addUserParmas
      // params.password = this.$md5(params.password+'bearhunting')
      // console.log(params)
      this.$refs["addUserParmas"].validate(valid => {
        if (valid) {
          let p = that.$store.dispatch("laojieAddUser", {
            nickname: this.addUserParmas.nickname,
            username: this.addUserParmas.username,
            password: this.addUserParmas.password
          });
          p.then(res => {
            // console.log(this.$md5(this.addUserParmas.password+'bearhunting'))
            if (res.error == null) {
              Message({
                type: "success",
                message: "添加成功"
              });
              that.$store
                .dispatch("lajieUsers", Object.assign({}, this.params))
                .then(res => {
                  this.oldStreetUserList = res.results;
                });
              that.addDeviceDialogVisible = false;
            } else {
              Message({
                type: "warning",
                message: res.error.message
              });
              that.addDeviceDialogVisible = false;
            }
          });
        } else {
          return false;
        }
      });
    },

    //弹出删除dialog
    showDeleteDialog(slot) {
      this.iteminfo = slot;
      this.moreEditDialogVisible = true;
      this.deleteDialogVisible = true;
    },

    //删除设备
    deleteDevice() {
      let p = this.$store.dispatch("deleteNoiseDetectionDevice", {
        id: this.iteminfo.id
      });
      p.then(res => {
        if (res.error == null) {
          this.$store.dispatch("getNoiseDetectionList", this.params);
          this.deleteDialogVisible = false;
          Message({
            type: "success",
            message: "已删除"
          });
        } else {
          Message({
            type: "warning",
            message: "删除失败"
          });
        }
      });
    },

    //弹出修改阈值dialog
    showEditDialog(slot) {
      this.iteminfo = slot;
      this.currentThresholdDecibel = this.iteminfo.thresholdDecibel;
      this.moreEditDialogVisible = true;
      this.editDeviceDialogVisible = true;
      this.editArr = []; //每次点击弹框将多选数据置空
      this.editArr.push(this.iteminfo);
    },

    //修改阈值
    editDevice(formName) {
      let that = this;
      this.$refs[formName].validate(valid => {
        if (valid) {
          that.editArr.forEach(item => {
            item.thresholdDecibel = this.addDeviceFormParams.thresholdDecibel;
          });

          let p = this.$store.dispatch(
            "editNoiseDetectionDevice",
            this.editArr
          );
          p.then(res => {
            if (res.error == null) {
              this.$store.dispatch("getNoiseDetectionList", this.params);
              this.editDeviceDialogVisible = false;
              this.addDeviceFormParams.thresholdDecibel = "";
              this.editArr = [];
              Message.success("修改成功");
            } else {
              Message.warning("修改失败");
            }
          });
        } else {
          return false;
        }
      });
    },

    //多选操作
    handleSelectionChange(val) {
      this.editArr = val;
    },

    //弹出批量修改dialog
    showMoreEditdDialog() {
      if (this.editArr.length == 0) {
        Message({
          type: "warning",
          message: "请选中需要批量操作的数据"
        });
      } else {
        this.editDeviceDialogVisible = true;
        this.moreEditDialogVisible = false;
      }
    },

    //重置
    resetState() {
      this.params.position = "";
      this.params.threshold = "";
    }
  },
  computed: {
    ...mapState({
      noiseDetectionlist: state => state.videoPolling.noiseDectectionList,
      addNoiseDeviceTag: state => state.videoPolling.addNoiseDeviceTag
    }),
    ...mapGetters([])
  }
};
</script>

<style scoped lang="less">
.noiseDeetection-container {
  width: 95%;
  margin: 0 auto;
  .pagination-container {
    margin: 20px auto;
    text-align: center;
  }
}
.noiseAddFormItem {
  width: 100%;
}
.noise-input {
  width: 300px;
}

.elDialog {
  width: 50%;
  margin: 0 auto;
}
</style>
