<template>
  <div class="item-box">
    <div class="keliu-title">
      <div>{{ title }}</div>
      <el-select @change="getNewData" v-model="value" placeholder="请选择">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
    </div>
    <div class="keliu-echart">
      <div ref="peopleEchart" class="echart-item"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echart from "echarts";
export default {
  data() {
    return {
      value: '0'
    };
  },
  props: ["title", "echartdatas", "options"],
  methods: {
    ...mapMutations([]),
    getNewData (val) {
      const params = {
        timeRangeType: val,
        smartType: 1
      }
      this.$store.dispatch('zhinengbaojing', params)
    },
    initCycle() {
      let myChart = echart.init(this.$refs.peopleEchart);
      let xdata=[],ydata=[]
      this.echartdatas.forEach(item => {
        xdata.push(item.allCount)
        ydata.push(item.typeStr)
      })
      myChart.setOption({
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow"
          }
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: {
          type: "value",
          boundaryGap: [0, 0.01],
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8aadc1" //这里用参数代替了
            }
          },
          axisLine: {
            lineStyle: {
              color: '#8aadc1',
              width: 1//这里是为了突出显示加上的
            }
          }
        },
        yAxis: {
          type: "category",
          data: ydata,
          axisLabel: {
            show: true,
            textStyle: {
              fontSize: "16",
              color: "#8aadc1" //这里用参数代替了
            }
          },
          axisLine: {
            lineStyle: {
              color: '#8aadc1',
              width: 1//这里是为了突出显示加上的
            }
          }
        },
        series: [
          {
            // name: "2011年",
            type: "bar",
            barWidth: '25%',
            data: [
              {
                value: xdata[0],
                itemStyle: {
                  color: "#77AAE7"
                }
              },
              {
                value: xdata[1],
                itemStyle: {
                  color: "#25D096"
                }
              },
              {
                value: xdata[2],
                itemStyle: {
                  color: "#FDD843"
                }
              },
              {
                value: xdata[3],
                itemStyle: {
                  color: "#408AFF"
                }
              },
              {
                value: xdata[4],
                itemStyle: {
                  color: "#F34D4E"
                }
              }
            ]
          }
          // {
          //   name: '2012年',
          //   type: 'bar',
          //   data: [19325, 23438, 31000, 121594, 134141, 681807]
          // }
        ]
      });
    }
  },

  created() {},
  mounted() {
    // this.initCycle();
  },
  watch: {
    echartdatas: function (val) {
      if (val.length > 0) {
        this.initCycle()
      }
    }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.item-box {
  height: 100%;
  background-color: #1c2e5a;
  border-radius: 10px;
  .keliu-title {
    height: 15%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 24px;
    padding: 0 20px;
    align-items: flex-end;
  }
  .keliu-echart {
    height: 85%;
    display: flex;
    flex-flow: row;

    .echart-item {
      width: 100%;
    }
  }
}
.el-select {
  width: 100px;
  /deep/ .el-input__inner {
    height: 30px;
    width: 100px;
  }
}
</style>
