<template>
  <div style="width: 100%; height: 100%">
    <div style="width: 100%; height: 100%" id="manage-map-container"></div>
    <div class="input-card">
      <div class="input-item">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/radar"
          alt=""
        />
        <div class="btn" style="margin-right: 1rem">老雷达</div>
      </div>
      <div class="input-item">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/radarNew.png"
          alt=""
        />
        <div class="btn" style="margin-right: 1rem">新雷达</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  props: ["ruleForm2"],
  methods: { ...mapMutations([]) },

  created() {
    this.ruleForm2.page.count = this.radarTotal;
    this.ruleForm2.isAll = true;
    this.$store.dispatch("getRadarList", this.ruleForm2);
  },
  mounted() {},
  watch: {
    radarListAll: function (val) {
      if (val.length > 0) {
        this.$store.commit("INIT_AMAP");
        this.$store.commit("INIT_AMAP_TYPE");
      }
    }
  },
  computed: {
    ...mapState({
      radarListAll: (state) => state.radar.radarListAll,
      radarTotal: (state) => state.radar.radarTotal
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style scoped lang='less'>
.input-card {
  padding: 1rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ffffff;
  .input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    img {
      width: 20px;
      height: 20px;
    }
    .btn {
      margin-left: 10px;
    }
  }
}
</style>
