<template>
  <div class="radarList">
    <el-tabs class="tab-style" v-model="activeName" @tab-click="tabHandleClick">
      <el-tab-pane class="tab-pane-style" label="列表模式" name="codeList">
        <div class="code-list">
          <el-form
            style="margin-top: 20px"
            :model="ruleForm"
            ref="ruleForm"
            label-width="80px"
            class="demo-ruleForm"
            :inline="true"
          >
            <el-form-item label="唯一编号" prop="params.imei">
              <el-input
                @input="getImei"
                v-model="ruleForm.params.imei"
              ></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="params.status">
              <el-select
                multiple
                v-model="ruleForm.params.statuses"
                placeholder="请选择状态"
              >
                <el-option
                  v-for="item in radarStatusList"
                  :key="item.name"
                  :label="item.text"
                  :value="item.name"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="时间" prop="dateTime">
              <el-date-picker
                v-model="dateTime"
                type="datetimerange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="区域" label-width="85px">
              <el-select
                v-model="zoneNames"
                @change="getdistrict"
                multiple
                placeholder="请选择"
              >
                <el-option
                  v-for="item in districtList"
                  :key="item.urn"
                  :label="item.name"
                  :value="item.urn"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <div class="">
                <el-button
                  style="margin-left: 50px"
                  type="primary"
                  @click="onSubmit('ruleForm')"
                >
                  查询
                </el-button>
                <el-button
                  @click="resetForm('ruleForm')"
                  style="margin-left: 20px"
                >
                  重置
                </el-button>
              </div>
            </el-form-item>
          </el-form>
          <div class="table-style">
            <el-table
              max-height="550"
              border
              :data="radarList"
              tooltip-effect="dark"
              style="width: 100%"
            >
              <el-table-column
                type="index"
                label="序号"
                align="center"
                width="50"
              ></el-table-column>
              <el-table-column
                prop="imei"
                tooltip
                label="唯一编号"
                align="center"
                width="150px"
              ></el-table-column>
              <el-table-column
                prop="sim"
                width="190px"
                label="SIM卡号"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="wenTime"
                width="190px"
                label="被创建时间"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="statusText"
                width="150px"
                label="状态"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="location"
                label="安装地点"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="zonesName"
                label="区域"
                align="center"
              ></el-table-column>
              <el-table-column label="雷达类别" width="110">
                <template slot-scope="scope">
                  <template v-if="scope.row.versions == null">
                    <span>数据异常</span>
                  </template>
                  <template v-else>
                    <span v-if="scope.row.versions.platform == 'v0.0.0'">
                      老雷达
                    </span>
                    <span v-if="scope.row.versions.platform == 'v0.0.1'">
                      新雷达
                    </span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="imsi"
                label="imsi"
                align="center"
              ></el-table-column>
              <el-table-column
                prop="msisdn"
                label="msisdn"
                align="center"
              ></el-table-column>
              <el-table-column fixed="right" align="center" label="操作">
                <template slot-scope="scope">
                  <el-button
                    @click="handleClick(scope.row)"
                    type="text"
                    size="small"
                  >
                    详情
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <div class="page-style">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :page-size="10"
              layout="total, prev, pager, next, jumper"
              :total="radarListPagination.total"
              :current-page="currentPage"
            ></el-pagination>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="地图模式" name="pointList">
        <div
          class="point-list"
          v-if="showPanelNumber === '1'"
          v-loading="isShowMapLoading"
          element-loading-text="拼命加载雷达撒点"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <el-form
            style="margin-top: 20px"
            :model="ruleForm2"
            ref="ruleForm2"
            label-width="80px"
            class="demo-ruleForm"
            :inline="true"
          >
            <el-form-item label="IEMI" prop="params.imei">
              <el-input
                @input="getImei2"
                v-model="ruleForm2.params.imei"
                style="width: 200px"
              ></el-input>
            </el-form-item>

            <el-form-item label="时间">
              <el-date-picker
                v-model="dateTime2"
                type="datetimerange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
              ></el-date-picker>
            </el-form-item>
            <el-form-item>
              <div class="">
                <el-button
                  style="margin-left: 50px"
                  type="primary"
                  @click="onSubmit2('ruleForm2')"
                >
                  查询
                </el-button>
                <el-button
                  @click="resetForm2('ruleForm2')"
                  style="margin-left: 20px"
                >
                  重置
                </el-button>
              </div>
            </el-form-item>
          </el-form>
          <div class="table-style">
            <radarMap :ruleForm2="ruleForm2"></radarMap>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import radarMap from "@/views/radar/radarList/radarMap";
export default {
  data() {
    return {
      zoneNames: [],
      showPanelNumber: "0",
      activeName: "codeList",
      ruleForm: {
        page: {
          start: 0,
          count: 10
        },
        params: {
          statuses: null,
          properties: ["$_conf_ownerUrn", "$_conf_zoneUrn"]
        },
        zones: []
      },
      ruleForm2: {
        page: {
          start: 0
        },
        params: {}
      },
      time_value: "",
      currentPage: 1,
      dateTime: "",
      dateTime2: "",
      type: ""
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getdistrict(e) {
      this.zoneName = [];
      this.ruleForm.params.zones = [];
      this.zoneName.push(e);
      this.ruleForm.params.zones = [...e];
      this.ruleForm.params.properties = ["$_conf_zoneUrn"];
    },
    getImei() {
      if (this.ruleForm.params.imei == "") {
        this.ruleForm.params.imei = null;
      }
    },
    getImei2() {
      if (this.ruleForm2.params.imei == "") {
        this.ruleForm2.params.imei = null;
      }
    },
    tabHandleClick(tab, event) {
      event;
      this.showPanelNumber = tab.index;
      // if (tab.index === "1") {
      //   this.$store.dispatch("getRadarList", this.ruleForm2);
      // } else {
      //   this.$store.dispatch("getRadarList", this.ruleForm);
      // }
    },
    handleClick(val) {
      this.$router.push({
        path: "/radar/detail",
        query: {
          data: val.imei,
          type: "list"
        }
      });
    },
    handleCurrentChange(val) {
      this.ruleForm.page.start = (val - 1) * 10;
      this.$store.dispatch("getRadarList", this.ruleForm);
    },
    onSubmit(formName) {
      this.ruleForm.page.start = 0;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.dateTime.length) {
            this.ruleForm.params.createTimeRange = `[${new Date(
              this.dateTime[0]
            ).getTime()},${new Date(this.dateTime[1]).getTime()}]`;
          }
          this.ruleForm.page.count = 10;
          this.ruleForm.isAll = false;
          this.$store.dispatch("getRadarList", this.ruleForm);
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.dateTime = "";
      this.zoneNames = [];
      this.ruleForm.params = {
        properties: ["$_conf_ownerUrn", "$_conf_zoneUrn"]
      };
    },
    onSubmit2() {
      if (this.dateTime2?.length) {
        this.ruleForm2.params.createTimeRange = `[${new Date(
          this.dateTime2[0]
        ).getTime()},${new Date(this.dateTime2[1]).getTime()}]`;
      } else {
        this.ruleForm2.params.createTimeRange = null;
      }
      this.ruleForm2.isAll = true;
      this.ruleForm2.page.count = this.radarTotal;
      this.$store.dispatch("getRadarList", this.ruleForm2);
    },
    resetForm2(formName) {
      this.$refs[formName].resetFields();
      this.dateTime2 = "";
      this.ruleForm2.startTime = "";
      this.ruleForm2.endTime = "";
    }
  },

  created() {
    this.$store.dispatch("getRadarStatus");
    this.$store.dispatch("getRadarAll");
  },
  mounted() {},
  watch: {
    radarList: function (val) {
      val.forEach((t) => {
        t.wenTime =
          val[0].auditHead.createdOn.substr(0, 10) +
          " " +
          val[0].auditHead.createdOn.substr(11, 8);
        Object.assign(t, { zonesName: "" });
        if (t.properties && t.properties.$_conf_zoneUrn) {
          t.properties.$_conf_zoneUrn.forEach((z) => {
            if (t.zonesName === "") {
              t.zonesName = z.name;
            } else {
              t.zonesName = t.zonesName + "," + z.name;
            }
          });
        }
      });
    },
    radarStatusList: function (val) {
      if (val.length > 0) {
        this.ruleForm.isAll = false;
        this.$store.dispatch("getRadarList", this.ruleForm);
        let par = {
          parents: ["urn:bh:district:1"]
        };
        this.$store.dispatch("districtSearch", par);
      }
    }
  },
  computed: {
    ...mapState({
      radarList: (state) => state.radar.radarList,
      radarTotal: (state) => state.radar.radarTotal,
      radarListPagination: (state) => state.radar.radarListPagination,
      radarStatusList: (state) => state.radar.radarStatusList,
      loading: (state) => state.radar.loading,
      districtList: (state) => state.radar.districtList,
      isShowMapLoading: (state) => state.radar.isShowMapLoading
    }),

    ...mapGetters([])
  },
  components: {
    radarMap
  }
};
</script>

<style lang="less" scoped>
.radarList {
  background: #e7edf5;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  .tab-style {
    background: white;
    height: 100%;
    border-radius: 10px;
    padding: 0 10px;
  }
}

.page-style {
  margin-top: 20px;
  text-align: center;
}
</style>
<style lang="less">
.el-tabs__content {
  height: calc(100% - 70px);
}
.el-tab-pane,
.point-list {
  height: 100%;
}
.table-style {
  height: calc(100% - 70px);
}
</style>
