<template>
  <div class="bigBox">
    <div class="store-mamage">
      <el-row type="flex" justify="center" class="firstRow">
        <el-col :span="23">
          <el-form
            :inline="true"
            :model="storeSearchForm"
            class="demo-form-inline"
          >
            <el-form-item label="电梯名称">
              <el-input
                v-model="params.name"
                placeholder="搜索电梯名称"
                clearable
                prop="storeName"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加电梯</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="query">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="reset">重置</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="getElevatorList.list" border style="width: 100%">
            <el-table-column prop="name" label="电梯名称"></el-table-column>
            <el-table-column prop="address" label="电梯地址"></el-table-column>
            <el-table-column prop="lnglat" label="电梯经纬度">
              <template slot-scope="scope">
                {{ scope.row.lng }},{{ scope.row.lat }}
              </template>
            </el-table-column>
            <el-table-column
              prop="neighborhood"
              label="所属居委"
            ></el-table-column>
            <el-table-column
              prop="districtName"
              label="所属小区"
            ></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="12" style="text-align: center">
                    <el-button
                      size="small"
                      type="primary"
                      @click="onEdit(scope.row)"
                    >
                      编辑
                    </el-button>
                  </el-col>
                  <el-col :span="12" style="text-align: center">
                    <el-button
                      size="small"
                      type="danger"
                      @click="handleDelete(scope.row)"
                    >
                      删除
                    </el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="getElevatorList.totalCount"
            @current-change="handleChange"
            :page-size="params.limit"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog
        :title="currentTitle"
        :visible.sync="storeDialogVisible"
        width="50%"
      >
        <el-row type="flex" justify="center">
          <el-col :span="23">
            <el-form :rules="form1Rules" ref="form1">
              <el-form-item prop="storeName" label="名称" label-width="85px">
                <el-input v-model="addparams.name"></el-input>
              </el-form-item>
              <el-form-item prop="storeAddress" label="地址" label-width="85px">
                <el-input v-model="addparams.address"></el-input>
              </el-form-item>
              <el-form-item label="经纬度" label-width="85px">
                <el-input v-model="lnglat" style="width: 80%"></el-input>
              </el-form-item>
             
              <el-form-item prop="xiaoqu" label="所属小区" label-width="85px">
                 <combination v-if="storeDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>
              </el-form-item>
            </el-form>
            <div class="mapbox" ref="abc" id="yui">
              <table class="search">
                <tr>
                  <td>
                    <el-input v-model="address"></el-input>
                  </td>
                </tr>
                <tr>
                  <td>
                    <el-button @click="search" type="primary">搜索</el-button>
                  </td>
                </tr>
              </table>
            </div>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="storeDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
import combination from "@/components/lingang/combination";

export default {
  data() {
    return {
      
      treePathlist:[],
      parentDistrictId:'',
      preMarker: [],
      address: "",
      juweiList: [{ name: "临港家园" }],
      villageList: [{ name: "临港家园" }],
      storeDialogVisible: false,
      form1Rules: {},
      currentTitle: "添加电梯",
      storeSearchForm: { storeName: "" },
      lnglat: "",
      params: {
        page: 1,
        limit: 10,
        name: null
      },
      addparams: {
        name: "",
        lat: "aaa",
        lng: "bbb",
        districtId: null,
        neighborhoodId: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        address: null
      }
    };
  },
  methods: {
    initMap() {
      var that = this;
      this.map = new AMap.Map("yui", {
        zoom: 11,
        resizeEnable: true,
        center: [121.473658, 31.230378]
      });
      var clickevent = this.map.on("click", function (e) {
        if (that.preMarker.length > 0) {
          that.map.remove(that.preMarker[0]);
        }
        console.log(e);
        var geocoder = new AMap.Geocoder({
          radius: 1000,
          extensions: "all"
        });
        // geocoder.getAddress(
        //   [e.lnglat.lng, e.lnglat.lat],
        //   function (status, result) {
        //     console.log(result);
        //     that.params.placeOfLost = result.regeocode.formattedAddress;
        //   }
        // );
        that.lnglat = e.lnglat.lng + "," + e.lnglat.lat;
        that.addMarker([e.lnglat.lng, e.lnglat.lat]);
      });
    },
    keywordSearch_CallBack(data) {
      if (this.preMarker.length > 0) {
        this.map.remove(this.preMarker[0]);
      }
      this.addMarker([
        data.poiList.pois[0].location.lng,
        data.poiList.pois[0].location.lat
      ]);
      this.lnglat =
        data.poiList.pois[0].location.lng +
        "," +
        data.poiList.pois[0].location.lat;
      // this.params.placeOfLost = data.poiList.pois[0].name;
      console.log(data);
    },
    addMarker(lnglatXY) {
      var marker = new AMap.Marker({
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
        position: lnglatXY
      });
      this.preMarker = [];
      this.preMarker.push(marker);
      marker.setMap(this.map);
      this.map.setFitView();
    },
    search() {
      var placeSearch;
      this.map.plugin(
        ["AMap.PlaceSearch", "AMap.ToolBar", "AMap.Scale"],
        () => {
          this.map.addControl(new AMap.ToolBar());
          this.map.addControl(new AMap.Scale());
          placeSearch = new AMap.PlaceSearch({
            city: this.address
          });
          AMap.event.addListener(
            placeSearch,
            "complete",
            this.keywordSearch_CallBack
          );
          placeSearch.search(this.address);
        }
      );
    },
    getVillages(data){
        this.addparams.treePath = data.treePath
        this.addparams.districtId = data.districtId
    },
    onAdd: function () {
      this.storeDialogVisible = true;
      this.currentTitle = "添加电梯";
      this.addparams.name = null;
      this.addparams.address = null;
      this.addparams.lat = null;
      this.addparams.lng = null;
      this.addparams.id = null;
      this.addparams.neighborhoodId = Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId");
      this.addparams.districtId = null;
      setTimeout(() => {
        this.initMap();
      }, 100);
    },
    handleConfirmForm: function () {
      this.storeDialogVisible = false;
      let str = this.lnglat;
      this.addparams.lng = str.slice(0, str.indexOf(","));
      this.addparams.lat = str.slice(str.indexOf(",") + 1);
      if (this.currentTitle == "添加电梯") {
        if (!this.addparams.districtId) {
          this.$message({
            type: "warning",
            message: "请选择小区"
          });
          this.storeDialogVisible = true;
          return false;
        }
        this.$store.dispatch("addElevator", this.addparams).then((res) => {
          if (res.data) {
            Message.success("已完成");
            this.getList();
          } else {
            Message.success(res.message);
          }
        });
      } else {
        if (!this.addparams.districtId) {
          this.$message({
            type: "warning",
            message: "请选择小区"
          });
          this.storeDialogVisible = true;
          return false;
        }
        this.$store.dispatch("lgEditElevator", this.addparams).then((res) => {
          if (res.data) {
            Message.success("已完成");
            this.getList();
          } else {
            Message.success(res.message);
          }
        });
      }
    },
    juweiChange(val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.villageList = res.data;
      });
      this.addparams.districtId = "";
    },
    onEdit: function (item) {
      console.log(item);
      this.currentTitle = "编辑电梯";
      this.storeDialogVisible = true;
      this.addparams.name = item.name;
      this.addparams.address = item.address;
      this.addparams.lat = item.lat;
      this.addparams.lng = item.lng;
      this.lnglat = this.addparams.lng + "," + this.addparams.lat;
      this.addparams.id = item.id;
      this.addparams.neighborhoodId = item.neighborhoodId;
      this.addparams.treePath = item.treePath;
      this.treePathlist = item.treePath.split('/').filter((element)=>!!element)
      this.$store
        .dispatch("lggetDistrictList", { id: item.neighborhoodId })
        .then((res) => {
          this.villageList = res.data;
          this.addparams.districtId = item.districtId;
        });
      setTimeout(() => {
        this.initMap();
      }, 100);
    },

    getList() {
      this.$store.dispatch("getElevatorList", this.params);
    },
    query() {
      this.params.page = 1;
      this.getList();
    },
    reset() {
      this.params.name = null;
      this.getList();
    },
    handleChange(index) {
      this.params.page = index;
      this.getList();
    },
    openMap: function () {
      window.open("https://lbs.amap.com/tools/picker");
    },
    handleDelete: function (item) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgDeleteElevator", { id: item.id })
            .then((res) => {
              if (res.data) {
                Message.success("已删除");
                this.getList();
              } else {
                Message.success(res.message);
              }
            });
          this.$message({ type: "success", message: "删除成功 " });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
     getVillageList(){
      this.$store.dispatch("lggetDistrictList", { id: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId")}).then((res) => {
        this.villageList = res.data;
      });
      // this.addProjectForm.villageId = null;
    },
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get("parentDistrictId");
    this.getList();
    this.getVillageList();
    
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      getElevatorList: (state) => state.lgadmin.getElevatorList
    }),
    ...mapGetters([])
  },

  components: {combination}
};
</script>

<style lang="less" scoped>
.mapbox {
  width: 100%;
  height: 400px;
  position: relative;
  .search {
    position: absolute;
    right: 2%;
    top: 0%;
    display: flex;
    flex-direction: row;
    z-index: 99999;
  }
}
</style>
<style >
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.store-mamage {
  width: 100%;
  height: 100%;
  background: #fff;
}
</style>
<a href="aA"></a>