<template>
  <div class="hkcameraSet">
    <div class="closeIcon" @click="closeCameraPop">×</div>
    <div class="hkcameraContent">
      <div class="hk_camera_tree">
        <el-tree
         
          highlight-current
          style="margin-top: 10px;overflow-y: scroll;height:100%"
          :data="treeData"
          :props="defaultProps"
          node-key="id"
          default-expand-all
          :expand-on-click-node="false"
          :render-content="renderContent"
        ></el-tree>
      </div>
      <div class="hk_camera_list">
        <div class="hk_camera_con" v-show="showHktree">
          <el-tree
            highlight-current
            ref="tree"
            @check="handlehkNodeClick"
            style="margin-top: 10px"
            :data="hktreeData"
            :props="defaultProps"
            node-key="id"
            show-checkbox
            default-expand-all
            :expand-on-click-node="false"
          ></el-tree>
        </div>
      </div>
      <div class="hk_camera_data">
        <div class="hk_camera_datalist" v-show="showtreecameraList">
          <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            style="width: 100%"
            @select="handleSelectionChange"
            @select-all="handleselectAllChange"
          >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column
              label="相机名称"
              prop="cameraName"
            ></el-table-column>
            <el-table-column
              prop="cameraTypeName"
              label="相机类型"
            ></el-table-column>
          </el-table>
          <div class="sureBtn">
              <el-button type="primary" @click='sureCamera'>确认</el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      defaultProps: { children: "children", label: "name" },
      treeData: [],
      hktreeData: [],
      showHktree: false,
      showtreecameraList: false,
      tableData: [
        {
          date: "2016-05-03",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-02",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-08",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-06",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-07",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        }
      ],
      page: {
        page: 1,
        limit: 1000,
        id: ""
      },
      params: {
        districtId: "",
        districtName: "",
        camIds: [],
        villageId:''
      }
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    handleNodeClick() {},
    closeCameraPop(){
        this.$emit('closepop',false)
    },
    sureCamera(){
        this.$store.dispatch('lgcopyCameraInfo',this.params) 
        setTimeout(() => {
          this.closeCameraPop()
        }, 1000);
    },
    handlehkNodeClick(data) {
      this.$refs.tree.setCheckedKeys([data.id]);
      this.page.id = data.id;
      this.$store.dispatch("lghikCameraList", this.page).then((res) => {
        if(res.data.list.length>0){
            this.tableData = res.data.list;
        }else{
            this.tableData = []
            this.$message({
                type:'warning',
                message:'该节点暂无数据'
            })
        }
        this.showtreecameraList = true;
      });
    },
    renderContent: function (h, { node, data, store }) {
      return (
        <span class="custom-tree-node">
          <span>{node.label}</span>
          <span>
            <el-button
              size="mini"
              type="text"
              style="margin-left:10px;"
              on-click={() => this.appendNode(data)}
            >
              添加
            </el-button>
          </span>
        </span>
      );
    },
    appendNode(item) {
      console.log(item)
      this.params.districtId = item.id ;
      // this.params.districtName = item.name;
      this.params.villageId =item.parentId;

      this.showHktree = true;
    },
    handleSelectionChange(val) {
     this.params.camIds = []
      val.forEach(item=>{
          this.params.camIds.push(item.cameraIndexCode)
      })
    },
    handleselectAllChange(val) {
        this.params.camIds = []
        val.forEach(item=>{
            this.params.camIds.push(item.cameraIndexCode)
        })
    },
  },

  created() {},
  mounted() {
    this.$store.dispatch("lgdistrictTree").then((res) => {
      this.treeData = res.data;
    });
    this.$store.dispatch("lghikTree").then((res) => {
      this.hktreeData = res.data;
    });
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>
<style lang='less'>
.el-tree {
  margin-top: 0 !important;
  min-height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.hk_camera_data {
}
</style>
<style lang='less' scoped>
.hkcameraSet {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  .closeIcon {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    z-index: 999;
  }
  .hkcameraContent {
    width: 100%;
    height: 100%;
    padding-left: 230px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 100%;
    .hk_camera_tree {
      //   background: burlywood;
      padding: 20px;
    }
    .hk_camera_list {
      //   background: chocolate;
      padding: 20px 20px 20px 0;
      .hk_camera_con {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }
    }
    .hk_camera_data {
      //   background: chocolate;
      padding: 20px 20px 20px 0;
      .hk_camera_datalist{
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          position: relative;
          .sureBtn{
            //   width: 80px;
              height: 50px;
              position: absolute;
              top: 3px;
              right: 3px;
          }
      }
      .hk_camera_datalist::-webkit-scrollbar{
          width: 0 !important;
      }
    }
  }
}
</style>
