<template>
  <div class="bigBox">
    <div class="store-mamage">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form
            :inline="true"
            :model="storeSearchForm"
            class="demo-form-inline"
          >
            <el-form-item label="小区名称">
              <el-input
                v-model="params.name"
                placeholder="搜索小区名称"
                clearable
                prop="storeName"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加房屋信息</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="query">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="reset">重置</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="lgGetNeighList.list" border style="width: 100%">
            <el-table-column
              prop="neighborhood"
              label="所属居委"
            ></el-table-column>
            <el-table-column
              prop="districtName"
              label="所属小区"
            ></el-table-column>
            <el-table-column
              prop="totalHousing"
              label="房屋总量"
            ></el-table-column>
            <el-table-column
              prop="independentHousing"
              label="自住房屋"
            ></el-table-column>
            <el-table-column
              prop="rentalHousing"
              label="出租房屋"
            ></el-table-column>
            <el-table-column
              prop="emptyHouse"
              label="空关房屋"
            ></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="12" style="text-align: center">
                    <el-button
                      size="small"
                      type="primary"
                      @click="onEdit(scope.row)"
                    >
                      编辑
                    </el-button>
                  </el-col>
                  <el-col :span="12" style="text-align: center">
                    <el-button
                      size="small"
                      type="danger"
                      @click="handleDelete(scope.row)"
                    >
                      删除
                    </el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="lgGetNeighList.totalCount"
            @current-change="handleChange"
            :page-size="params.limit"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog
        :title="currentTitle"
        :visible.sync="storeDialogVisible"
        width="50%"
      >
        <el-row type="flex" justify="center">
          <el-col :span="23">
            <el-form :rules="form1Rules" ref="form1" :model="storeForm">
             
              <el-form-item prop="xiaoqu" label="所属小区" label-width="85px">
                      <combination v-if="storeDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>
              </el-form-item>
              <el-form-item
                prop="storeAddress"
                label="房屋总量"
                label-width="85px"
              >
                <el-input v-model="addparams.totalHousing"></el-input>
              </el-form-item>
              <el-form-item
                prop="storeAddress"
                label="自住房屋"
                label-width="85px"
              >
                <el-input v-model="addparams.independentHousing"></el-input>
              </el-form-item>
              <el-form-item
                prop="storeAddress"
                label="出租房屋"
                label-width="85px"
              >
                <el-input v-model="addparams.rentalHousing"></el-input>
              </el-form-item>
              <el-form-item
                prop="storeAddress"
                label="空关房屋"
                label-width="85px"
              >
                <el-input v-model="addparams.emptyHouse"></el-input>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="storeDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import combination from "@/components/lingang/combination";

import { Message } from "element-ui";
import Vue from "vue";

export default {
  data() {
    return {
      treePathlist:[],
      parentDistrictId:'',
      juweiList: [{ name: "临港家园" }],
      storeDialogVisible: false,
      form1Rules: {},
      storeForm: {
        juwei: "",
        xiaoqu: "",
        totalCount: "",
        selfCount: "",
        lendCount: "",
        emptyCount: ""
      },
      villageList: [],
      params: {
        page: 1,
        limit: 10,
        name: null
      },
      addparams: {
        totalHousing: null,
        independentHousing: null,
        rentalHousing: null,
        emptyHouse: null,
        neighborhoodId: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        districtId: null,
        treePath:""
      },
      currentTitle: "添加房屋信息",
      tableData: [
        {
          juwei: "临港家园居委",
          xiaoqu: "海事小区",
          totalCount: 5000,
          selfCount: 2000,
          lendCount: 500,
          emptyCount: 500
        }
      ],
      storeSearchForm: { storeName: "" }
    };
  },
  methods: {
    onAdd: function () {
      this.storeDialogVisible = true;
      this.currentTitle = "添加房屋信息";
      this.addparams.totalHousing = null;
      this.addparams.independentHousing = null;
      this.addparams.rentalHousing = null;
      this.addparams.emptyHouse = null;
      this.addparams.neighborhoodId = Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId");
      this.addparams.districtId = null;
      this.addparams.id = null;
    },
    handleConfirmForm: function () {
      //
      console.log(this.currentTitle);
      console.log(this.addparams);
      if (!this.addparams.districtId) {
        this.$message({
          type: "warning",
          message: "请选择小区"
        });
        this.storeDialogVisible = true;
        return false;
      }
      if (this.currentTitle == "添加房屋信息") {
        this.$store
          .dispatch("lgAddNeighBaseInfo", this.addparams)
          .then((res) => {
            console.log(res);
            if (res.data) {
              Message.success("已完成");
              this.getList();
              this.storeDialogVisible = false;
             this.treePathlist = []
            } else {
              Message.success(res.message);
            }
          });
      } else {
        this.$store
          .dispatch("lgUpdateNeighBaseInfo", this.addparams)
          .then((res) => {
            if (res.data) {
              Message.success("已完成");
              this.getList();
              this.storeDialogVisible = false;
              this.treePathlist = []
            } else {
              Message.success(res.message);
            }
          });
      }
    },
    getVillages(data){
        console.log(data);
        
        this.addparams.treePath = data.treePath
        this.addparams.districtId = data.districtId
    },
    onEdit: function (item) {
      this.currentTitle = "编辑房屋信息";
      this.storeDialogVisible = true;
      this.addparams.totalHousing = item.totalHousing;
      this.addparams.independentHousing = item.independentHousing;
      this.addparams.rentalHousing = item.rentalHousing;
      this.addparams.emptyHouse = item.emptyHouse;
      this.addparams.neighborhoodId = item.neighborhoodId;
      this.addparams.districtId = item.districtId;
      this.addparams.id = item.id;
      this.addparams.treePath = item.treePath;
      this.treePathlist = item.treePath.split('/').filter((element)=>!!element)

    },
    handleDelete: function (item) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgDeleteNeighBaseInfo", { id: item.id })
            .then((res) => {
              if (res.data) {
                Message.success("已删除");
                this.getList();
              } else {
                Message.success(res.message);
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    getList() {
      this.$store.dispatch("lgGetNeigh", this.params);
    },
    query() {
      this.params.page = 1;
      this.getList();
    },
    reset() {
      this.params.name = null;
      this.getList();
    },

    getVillageList(){
      this.$store.dispatch("lggetDistrictList", { id: Vue.ls.get("parentDistrictId")}).then((res) => {
        this.villageList = res.data;
      });
      // this.addProjectForm.villageId = null;
    },
    handleChange(index) {
      this.params.page = index;
      this.getList();
    },
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get("parentDistrictId");
    this.getList();
    // this.getVillageList();
    // this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
    //   this.juweiList = res.data;
    // });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      lgGetNeighList: (state) => state.lgadmin.lgGetNeighList
    }),
    ...mapGetters([])
  },
  components: {
    combination
  }
};
</script>

<style lang="less" scoped></style>
