<template>
  <div class="bigBox">
    <div class="lg-depart-manage">
      <el-row type="flex" justify="center">
        <el-col :span="8" v-if="false">
          <!-- <el-row type="flex" justify="space-between">
          <el-col :span="15" v-if>
            <el-input
              placeholder="请输入搜索内容"
              v-model="searchText"
              clearable
            ></el-input>
          </el-col>
          <el-col :span="8">
            <el-button @click="addRootPop">添加根节点</el-button>
          </el-col>
          </el-row>-->
          <el-row type="flex" justify="center">
            <el-col :span="24">
              <el-tree
                highlight-current
                @node-click="handleNodeClick"
                style="margin-top: 10px"
                :data="treeData"
                :props="defaultProps"
                node-key="id"
                default-expand-all
                :expand-on-click-node="false"
                :render-content="renderContent"
              ></el-tree>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="showTree ? 14 : 22">
          <el-row>
            <el-form :inline="true" :model="formData">
              <el-form-item label="部门名称">
                <el-input v-model="formData.roleName" placeholder="请输入搜索的部门名称" clearable></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onAdd">添加部门</el-button>
              </el-form-item>
            </el-form>
          </el-row>
          <el-row>
            <el-table :data="tableData" border style="width: 100%">
              <el-table-column prop="parentDistrictName" label="居委名称"></el-table-column>
              <el-table-column prop="districtName" label="小区名称"></el-table-column>
              <el-table-column prop="name" label="部门名称"></el-table-column>

              <el-table-column prop="stagePower" label="工作力量"></el-table-column>
              <el-table-column prop="createTime" label="创建时间"></el-table-column>
              <el-table-column prop="createUser" label="创建人"></el-table-column>
              <el-table-column prop="updateTime" label="修改时间"></el-table-column>
              <el-table-column prop="updateUser" label="修改人"></el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-row type="flex" justify="center">
                    <el-col>
                      <el-button size="small" @click="onEdit(scope.row)">编辑</el-button>
                    </el-col>
                    <el-col>
                      <el-button size="small" type="primary" @click="onDelete(scope.row)">删除</el-button>
                    </el-col>
                  </el-row>
                </template>
              </el-table-column>
            </el-table>
            <el-row type="flex" justify="center">
              <el-col :span="23" style="text-align: center; margin-top: 20px">
                <el-pagination
                  background
                  layout="prev, pager, next"
                  :total="pagination.totalCount"
                  :page-size="pagination.limit"
                  :current-page.sync="pagination.page"
                  @current-change="handleCurrentChange"
                ></el-pagination>
              </el-col>
            </el-row>
          </el-row>
        </el-col>
      </el-row>
      <el-dialog :title="currentTitle" :visible.sync="addRoleDialogVisible" width="30%">
        <el-form ref="formDepartmange" :model="ruleFormData">
          <el-form-item prop="xiaoqu" label="居村名称" label-width="85px">
            <!-- <el-select style="width: 100%" v-model="ruleFormData.districtId" placeholder="请选择">
              <el-option
                v-for="item in villageList"
                :key="item.name"
                :label="item.name"
                :value="item.districtId"
              ></el-option>
            </el-select> -->
            <combination :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>
          </el-form-item>
          <el-form-item label="名称:" label-width="80px">
            <el-input v-model="ruleFormData.roleName"></el-input>
          </el-form-item>
          <el-form-item label="工作力量:" label-width="80px">
            <el-select style="width: 100%" v-model="ruleFormData.workPower" placeholder="请选择">
              <el-option
                v-for="item in workPowerList"
                :key="item.name"
                :label="item.name"
                :value="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="任务权限" label-width="80px">
            <el-select
              style="width: 100%"
              v-model="ruleFormData.eventTypes"
              @change="$forceUpdate()"
              multiple
              placeholder="请选择"
              
            >
              <el-option
                v-for="item in taskPermissionList"
                :key="item.value"
                :label="item.name"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addRoleDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import combination from "@/components/lingang/combination";
import Vue from "vue";
export default {
  data() {
    return {
      treePathlist:[],
      parentDistrictId:'',
      currentTableData: null,
      currentTitle: "添加部门",
      taskPermissionList: [],
      currentTreeNode: {
        id:Vue.ls.get('parentDistrictId')
      },
      currentParentId: "",
      pagination: { page: 1, limit: 10, totalCount: 0 },
      tableData: [],
      ruleFormData: {
        roleName: "",
        workPower: "",
        taskPermissionIdList: "",
        districtId: '',
        parentDistrictId: Vue.ls.get('parentDistrictId')
      },
      workPowerList: [],
      addRoleDialogVisible: false,
      formData: { roleName: "" },
      defaultProps: { children: "children", label: "name" },
      treeData: [],
      searchText: "",
      showTree: false,
      // showTree: Vue.ls.get('roler') == 'StreetAdmin',
      villageList: [],
      currentdataid:''
    };
  },
  methods: {
    getVillages(data){
      this.ruleFormData.treePath = data.treePath
      this.ruleFormData.districtId = data.districtId
    },
    handleCurrentChange: function (page) {
      Object.assign(this.pagination, { page: page });
      if (Vue.ls.get('roler') !== 'StreetAdmin') {
        this.$store
          .dispatch(
            "lgDistrictList",
            Object.assign(this.pagination, {
              parentDistrictId: Vue.ls.get('parentDistrictId'),
              // districtId: data.id,
              name: this.formData.roleName
            })
          )
          .then((res) => {

            this.tableData = res.data.list;
            Object.assign(this.pagination, { totalCount: res.data.totalCount });
          });
      } else {
        this.$store
          .dispatch(
            "lgDistrictList",
            Object.assign(this.pagination, {
              districtId: this.currentdataid,
              name: this.formData.roleName
            })
          )
          .then((res) => {
            this.tableData = res.data.list;
            Object.assign(this.pagination, { totalCount: res.data.totalCount });
          });
      }

    },
    permissChanage(val){
      console.log(val)
      this.ruleFormData.taskPermissionList = val
    },
    handleNodeClick: function (data) {
      this.currentdataid = data.id
      this.currentTreeNode = {
        // id: Vue.ls.get('parentDistrictId')
        id: data.id
      }
      console.log(data);
      if (data.parentId == '1930') {
        console.log(data)
        this.currentParentId = data.id;
        this.currentTreeNode = data;
        this.$store.dispatch("lggetDistrictList", { id: data.id }).then((res) => {
          this.villageList = res.data;
        });

      }
      this.$store
        .dispatch(
          "lgDistrictList",
          Object.assign(this.pagination, {
            // parentDistrictId:Vue.ls.get('parentDistrictId'),
            districtId: data.id,
            name: this.formData.roleName
          })
        )
        .then((res) => {
          this.tableData = res.data.list;
          Object.assign(this.pagination, { totalCount: res.data.totalCount });
        });

    },
    onEdit: function (data) {
      console.log(data);
      this.currentTableData = data;
      this.addRoleDialogVisible = true;
      this.currentTitle = "编辑部门";
      this.treePathlist = data.treePath.split('/').filter((item)=>!!item)
      Object.assign(this.ruleFormData, {
        roleName: data.name,
        workPower: data.stagePower,
        eventTypes: data.eventTypes
      });
    },
    onDelete: function (data) {
      console.log(data);
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgDeleteDepart", { id: data.id })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ type: "success", message: "删除成功 " });
                // this.$store
                //   .dispatch(
                //     "lgDistrictList",
                //     Object.assign(this.pagination, {
                //       districtId: data.districtId,
                //       name: this.formData.roleName
                //     })
                //   )
                //   .then((res) => {
                //     this.tableData = res.data.list;
                //     Object.assign(this.pagination, {
                //       totalCount: res.data.totalCount
                //     });
                //   });
                 this.handleCurrentChange(this.pagination.page)
              } else {
                this.$message({ type: "error", message: res.msg });
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    handleConfirmForm: function () {
      this.addRoleDialogVisible = false;
      if (this.currentTitle == "添加部门") {
        this.$store
          .dispatch("lgAddDepart", {
            // parentDistrictId: localStorage.getItem('parentDistrictId'),
            // districtId: this.ruleFormData.districtId,
            name: this.ruleFormData.roleName,
            stagePower: this.ruleFormData.workPower,
            eventTypes: this.ruleFormData.eventTypes,
             treePath: this.ruleFormData.treePath,
          })
          .then((res) => {
            if (res.code == 200) {
              this.$message({ message: "添加成功", type: "success" });
              this.handleCurrentChange(this.pagination.page)
            } else {
              this.$message({ message: res.msg, type: "error" });
            }
          });
      } else {
        this.$store
          .dispatch("lgEditDepart", {
            treePath: this.ruleFormData.treePath,
            name: this.ruleFormData.roleName,
            stagePower: this.ruleFormData.workPower,
            eventTypes: this.ruleFormData.eventTypes,
            id: this.currentTableData.id
          })
          .then((res) => {
            if (res.code == 200) {
              this.$message({ message: "修改成功", type: "success" });
              this.handleCurrentChange(this.pagination.page)
            } else {
              this.$message({ message: res.msg, type: "error" });
            }
          });
      }
    },
    onAdd: function () {
      this.currentTitle = "添加部门";
      if (this.currentTreeNode.id) {
        this.addRoleDialogVisible = true;
      } else {
        this.$message({ message: "请先选中居委节点", type: "warning" });
      }
    },
    deleteNode: function () {
      this.$confirm("确定要删除该节点么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgdeleteDistrict", {
              id: this.currentTreeNode.id
            })
            .then((r) => {
              if (r.code == 200) {
                this.$message({ type: "success", message: "删除成功 " });
                this.$store.dispatch("lgdistrictTree").then((res) => {
                  this.treeData = res.data;
                });
              } else {
                this.$message({ type: "error", message: r.msg });
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    appendNode: function () {
      this.$prompt("请输入节点名称", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValidator: (item) => {
          // 校验函数
        }
      })
        .then(({ value }) => {
          // 处理添加函数
          this.$store
            .dispatch("lgaddDistrict", {
              parentDistrictId: this.currentParentId,
              name: value
            })
            .then((r) => {
              if (r.code == 200) {
                this.$message({ type: "success", message: "添加成功" });
                this.$store.dispatch("lgdistrictTree").then((res) => {
                  this.treeData = res.data;
                  this.currentTreeNode = null;
                });
              } else {
                this.$message({ type: "error", message: r.msg });
              }
            });
        })
        .catch(() => {
          // 无需处理
        });
    },
    addRootPop() {
      this.$prompt("请输入根节点名称", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValidator: (item) => {
          // 校验函数
        }
      })
        .then(({ value }) => {
          // 处理添加函数
        })
        .catch(() => {
          // 无需处理
        });
    },
    renderContent: function (h, { node, data, store }) {
      return (
        <span class="custom-tree-node">
          <span>{node.label}</span>
          <span>
            <el-button
              size="mini"
              type="text"
              style="margin-left:10px;"
              on-click={() => this.appendNode(data)}
            >
              添加
            </el-button>
            <el-button
              size="mini"
              type="text"
              on-click={() => this.deleteNode(node, data)}
            >
              删除
            </el-button>
          </span>
        </span>
      );
    },
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get('parentDistrictId')
    // if (Vue.ls.get('roler') !== 'StreetAdmin') {
    //   this.$store.dispatch( "lgDistrictList",
    //       Object.assign(this.pagination, {
    //         parentDistrictId: Vue.ls.get('parentDistrictId'),
    //         // districtId: data.id,
    //         name: this.formData.roleName
    //       })
    //     )
    //     .then((res) => {

    //       this.tableData = res.data.list;
    //       Object.assign(this.pagination, { totalCount: res.data.totalCount });
    //     });
    // }
    this.handleCurrentChange(1)
    this.$store.dispatch("lgDropDown").then((res) => {
      this.taskPermissionList = res.data.eventTypes;
      this.workPowerList = res.data.positions;
    });
    this.$store.dispatch("lgdistrictTree").then((res) => {
      this.treeData = res.data;
    });
    this.$store.dispatch("lggetDistrictList", { id: localStorage.getItem('parentDistrictId') }).then((res) => {
      this.villageList = res.data;
    });
  },
  filters: {},
  watch: {
    roleNameReally: function (val) {
      if (this.currentTreeNode) {
        this.handleCurrentChange(this.pagination.page)
      } else {
        this.$message({ message: "请先选中树节点", type: "warning" });
      }
    }
  },
  computed: {
    roleNameReally: function () {
      return this.formData.roleName;
    },
    ...mapState({}),
    ...mapGetters([])
  },
  components: {
    combination
  }
};
</script>

<style lang="less" scoped>
.lg-depart-manage {
  width: 100%;
  height: 100%;
  background: #fff;
}
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
</style>
