<template>
  <div class="lg-task-manage">
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
          <el-form-item label="标签名称">
            <el-input
              v-model="params.name"
              placeholder="请输入搜索的标签"
              prop="name"
              clearable
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onAdd">添加标签</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="reset">重置</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-table :data="lgCameraTagslist.list" border style="width: 100%">
          <el-table-column prop="name" align="center" label="标签名称"></el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <el-row type="flex" justify="center">
                <el-col style="text-align:left;">
                  <el-button size="small" @click="onEdit(scope.row)">编辑</el-button>
                </el-col>
                <el-col style="text-align:left;">
                  <el-button size="small" type="primary" @click="onDelete(scope.row)">
                    删除
                  </el-button>
                </el-col>
              </el-row>
            </template>
            
          </el-table-column>
        </el-table>
        <el-row type="flex" justify="center">
          <el-col :span="23" style="text-align:center;margin-top:20px;">
            <el-pagination
              background
              layout="prev, pager, next,total"
              :total="lgCameraTagslist.totalCount"
              @current-change="handleChange"
              :page-size="params.limit"
            ></el-pagination>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-dialog
      :title="currentTitle"
      :visible.sync="taskDialogVisible"
      width="40%"
    >
      <el-form ref="form1" :model="taskFormData">
        <el-form-item label="标签名称:" label-width="100px">
          <el-input
            placeholder="请输入标签名称"
            v-model="addparams.name"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="taskDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleAddTask">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      taskFormData: { labelName: "" },
      tableData: [
        {
          labelName: "消防占道"
        }
      ],
      params:{
        page:1,
        limit:8,
      },
      addparams:{
        name:null
      },
      currentTitle: "添加标签",
      taskDialogVisible: false,
      taskName: "",
      formInline: { taskName: "" }
    };
  },
  methods: {
    handleAddTask: function() {
      this.taskDialogVisible = false;
      if(this.currentTitle == "添加标签"){
        this.$store.dispatch("lgTagAdd",this.addparams)
        .then(res =>{
          if(res.data){
            this.$message({ type: "success", message: "添加成功" });
            this.getList();
          }else{
            this.$message({ type: "success", message: res.message });
          }
        })
      }else{
        this.$store.dispatch("lgTagEdit",this.addparams)
        .then(res =>{
          if(res.data){
            this.$message({ type: "success", message: "编辑成功" });
            this.getList();
          }else{
            this.$message({ type: "success", message: res.message });
          }
        })
      }
    },
    onEdit: function(item) {
      this.currentTitle = "编辑标签";
      this.taskDialogVisible = true;
      this.addparams.name = item.name;
      this.addparams.id= item.id;

    },
    handleChange(index){
      this.params.page = index;
      this.getList();
    },
    onDelete: function(item) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store.dispatch("lgTagDelete",{id:item.id})
          .then(res =>{
            if(res.data){
              this.$message({ type: "success", message: "已删除" });
              this.getList();
            }else{
              this.$message({ type: "success", message: res.message });
            }
          })
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    onAdd: function() {
      this.taskDialogVisible = true;
      this.currentTitle = "添加标签";
      this.addparams.name = null;
      this.addparams.id = null;
    },
    getList(){
      this.$store.dispatch("lgGetTagList",this.params);
    },
    query(){
      this.params.page = 1;
      this.getList();
    },
    reset(){
      this.params.name = null;
      this.getList();
    },
    ...mapMutations([])
  },

  mounted() {
    this.getList();
  },
  filters: {},
  watch: {
    taskName: function(val) {
      val;
    }
  },
  computed: { ...mapState({
    lgCameraTagslist:state =>state.lgadmin.lgCameraTagslist
  }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
