<template>
  <div class="wen-box">
    <div class="wen-bg">
      <div class="wen-title">欢迎使用</div>
      <div class="wen-desc">
        临港新片区”一网统管“-社区管理与服务平台-后台
        <img src="~@/assets/images/lingang/service.png" alt />
      </div>
      <div class="wen-input">
        <img src="~@/assets/images/lingang/ic_user.png" alt />
        <input v-model="username" maxlength="11" type="text" placeholder="用户名" />
      </div>
      <div class="wen-input">
        <img src="~@/assets/images/lingang/ic_password.png" alt />
        <input v-model="password" type="password" placeholder="登录密码" />
      </div>
      <div class="login-button" @click="login()">登录</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
import Vue from "vue";
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  props: [],
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: ""
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.3rem";
    } else {
      font_32_9.normal_font = "1rem";
    }
    return {
      font_32_9
    };
  },
  methods: {
    ...mapMutations([]),
    login() {
      this.getConfig();
      const params = {
        mobile: this.username,
        password: this.password
      };
      this.$store.dispatch("loginLg", params).then(res => {
        Vue.ls.set("userName", this.username);
        let [{ msg, code, data }] = [res];
        if (code == 200) {
          Vue.ls.set("token", data.token);
          Vue.ls.set("parentDistrictId", data.id);
          Vue.ls.set("roler", data.role.code);
          this.$store.dispatch("getTMenus").then(ress => {
            let [{ msg, code, data }] = [ress];
            if (code == 200) {
              if (Vue.ls.get("roler") !== 'StreetAdmin') {
                let list = data.menus.filter(item => {
                  return item.title == '居村人员管理'
                })
                list[0].submenus.splice(3, 1)
                Vue.ls.set("menuList", data.menus);
              } else {
                Vue.ls.set("menuList", data.menus);
              }

              this.$router.push("/lg/person/manage");
            } else {
              this.$message({ message: msg, type: "error" });
            }
          });
        } else {
          this.$message({ message: msg, type: "error" });
        }
      });
    },
    getConfig() {
      this.$store.dispatch("lggetConfig")
        .then(res => {
          localStorage.setItem('picUrl', res.data.staticfilesUrl);
        })
    }
  },

  created() { },
  mounted() {
    this.getConfig();
    Vue.ls.set("sysName", "LINGANG");

    if (window.location.search) {
      let Base64 = require('js-base64').Base64
      const query = window.location.search.substring(1)

      const strs = query.split("&")
      const user = strs[0]
      const pass = Base64.decode(strs[1])
      const params = { mobile: user, password: pass }

      this.$store.dispatch("loginLg", params).then(res => {
        console.log(res)
        Vue.ls.set("userName", this.username);
        let { msg, code, data } = res;
        console.log( msg, code, data);
        if (code == 200) {
          Vue.ls.set("token", data.token);
          Vue.ls.set("parentDistrictId", data.id);
          Vue.ls.set("roler", data.role.code);
          this.$store.dispatch("getTMenus").then(ress => {
            let [{ msg, code, data }] = [ress];
            if (code == 200) {
              if (Vue.ls.get("roler") !== 'StreetAdmin') {
                let list = data.menus.filter(item => {
                  return item.title == '居村人员管理'
                })
                list[0].submenus.splice(3, 1)
                Vue.ls.set("menuList", data.menus);
              } else {
                Vue.ls.set("menuList", data.menus);
              }

              // this.$router.push("/lg/person/manage");
            } else {
              this.$message({ message: msg, type: "error" });
            }
          });
          setTimeout(() => {
            this.$router.push("/lg/person/manage");
          }, 1000);

        } else {
          this.$message({ message: msg, type: "error" });
        }
      })
    }
    


  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>
<style lang="less" scoped>
.wen-box {
  width: 100%;
  height: 100%;
  background: url("~@/assets/images/lingang/login-bg-img.png") no-repeat;
  background-size: 100% 100%;
  .wen-bg {
    background-color: rgba(16, 40, 67, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .wen-title {
      font-size: 38px;
      color: #ffffff;
      font-weight: bold;
      width: 27.5%;
      text-align: left;
      margin-top: -16rem;
    }
    .wen-desc {
      font-size: 24px;
      color: #ffffff;
      text-align: left;
      width: 27.5%;
      padding-bottom: 3rem;
      border-bottom: 0.1rem solid #dcdfe6;
      margin-bottom: 1rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      img {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: 0.5rem;
      }
    }
    .wen-input {
      text-align: center;
      width: 27.5%;
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      img {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
      }
      input {
        width: 100%;
        padding: 0.5rem 0;
        color: #303133;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: v-bind("font_32_9.normal_font");
      }
    }
    .login-button {
      background-color: #24333a;
      color: #ffffff;
      width: 27.5%;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      cursor: pointer;
      margin: 0 auto;
      margin-top: 2rem;
      text-align: center;
    }
  }
}
input:-moz-placeholder {
  color: #909399;
  font-size: v-bind("font_32_9.normal_font");
}
input:-ms-input-placeholder {
  color: #909399;
  font-size: v-bind("font_32_9.normal_font");
}
input::-webkit-input-placeholder {
  color: #909399;
  font-size: v-bind("font_32_9.normal_font");
}
</style>
