<template>
  <div id="lg-menus-container">
    <table>
      <tr>
        <td>
          <i class="el-icon-circle-plus" @click="taddFirstMenu()">
            添加一级菜单
          </i>
          <el-tree
            :data="treeData"
            :default-checked-keys="defaultKeysData"
            ref="treeObj"
            show-checkbox
            node-key="id"
            default-expand-all
            :expand-on-click-node="false"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>{{ node.label }}</span>
              <span>
                <el-button type="text" size="mini" @click="() => tappend(data)">
                  添加子菜单
                </el-button>
                <el-button type="text" size="mini" @click="() => tEdit(data)">
                  编辑
                </el-button>
                <el-button
                  type="text"
                  size="mini"
                  @click="() => tremove(node, data)"
                >
                  删除
                </el-button>
              </span>
            </span>
          </el-tree>
        </td>
      </tr>
      <!--    <tr>-->
      <!--      <td></td>-->
      <!--      <td>-->
      <!--        <button @click="saveAuthority()">保存权限</button>-->
      <!--      </td>-->
      <!--    </tr>-->
    </table>

    <el-dialog title="添加菜单" :visible.sync="addMenuDialogFormVisible">
      <el-form :model="menu">
        <el-form-item label="菜单名称" :label-width="formLabelWidth">
          <el-input v-model="menu.functionName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单唯一标识" :label-width="formLabelWidth">
          <el-input v-model="menu.functionCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单描述" :label-width="formLabelWidth">
          <el-input
            v-model="menu.functionDescription"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="菜单URL" :label-width="formLabelWidth">
          <el-input v-model="menu.functionUrl" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单类型" :label-width="formLabelWidth">
          <template>
            <el-radio v-model="menu.node" label="1">菜单</el-radio>
            <el-radio v-model="menu.node" label="2">按钮</el-radio>
          </template>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addMenuDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="doSaveMenu()">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑菜单" :visible.sync="editMenuDialogFormVisible">
      <el-form :model="menu">
        <el-form-item label="菜单名称" :label-width="formLabelWidth">
          <el-input v-model="menu.functionName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单唯一标识" :label-width="formLabelWidth">
          <el-input v-model="menu.functionCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单描述" :label-width="formLabelWidth">
          <el-input
            v-model="menu.functionDescription"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="菜单URL" :label-width="formLabelWidth">
          <el-input v-model="menu.functionUrl" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单类型" :label-width="formLabelWidth">
          <template>
            <el-radio-group v-model="menu.node">
              <el-radio :label="1">菜单</el-radio>
              <el-radio :label="2">按钮</el-radio>
            </el-radio-group>
          </template>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editMenuDialogFormVisible = false">
          取 消
        </el-button>
        <el-button type="primary" @click="doEditMenu()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      treeData: [],
      addMenuDialogFormVisible: false,
      editMenuDialogFormVisible: false,
      formLabelWidth: "120px",
      menu: {
        node: "1"
      },
      roleTreeData: [],
      defaultKeysData: [],
      defaultPropsRole: {
        children: "children",
        label: "name"
      },
      saveAuthorityRequest: {}
    };
  },
  methods: {
    getSelectKeys() {
      let checkedNodes = this.$refs.treeObj.getCheckedKeys(true);
    },
    resetForm() {
      this.menu = {
        node: "1"
      };
    },
    getAllMenus() {
      this.$store.dispatch("getLgAllMenus", { roleId: "" }).then(res => {
        this.treeData = res.data.menus;
      });
    },
    taddFirstMenu() {
      this.resetForm();
      //添加一级菜单
      this.menu.tempFunctionCode = "first";
      this.menu.parentFuncitonId = 0;
      this.addMenuDialogFormVisible = true;
    },
    tappend(data) {
      this.resetForm();
      //添加子菜单
      this.menu.tempFunctionCode = data.code;
      this.menu.parentFuncitonId = data.id;
      this.addMenuDialogFormVisible = true;
    },
    tEdit(data) {
      this.$store.dispatch("getLgMenu", { id: data.id }).then(res => {
        this.menu = res.data;
        this.editMenuDialogFormVisible = true;
      });
    },
    tremove(node, data) {
      this.$store.dispatch("delLgMenu", { id: data.id }).then(res => {
        this.getAllMenus();
      });
    },
    doSaveMenu() {
      //保存菜单
      this.menu.functionAuthorityString = this.menu.functionCode;
      this.menu.functionCode =
        this.menu.tempFunctionCode + "_" + this.menu.functionCode;
      this.menu.type = 2;
      this.$store.dispatch("addLgMenu", this.menu).then(res => {
        this.addMenuDialogFormVisible = false;
        this.getAllMenus();
      });
    },
    doEditMenu() {
      this.$store.dispatch("editLgMenu", this.menu).then(res => {
        this.editMenuDialogFormVisible = false;
        this.getAllMenus();
      });
    },
    getAllRoles() {
      this.$store.dispatch("getLgRoles").then(({ data }) => {
        this.roleTreeData = data.data;
      });
    },
    handleNodeClickRole(node) {
      this.saveAuthorityRequest.roleId = node.id;
      this.$store
        .dispatch("getLgAuthority", { roleId: node.id })
        .then(({ data }) => {
          this.$refs.treeObj.setCheckedKeys(data.data);
          // this.defaultKeysData = data.data;
        });
    },
    saveAuthority() {
      let checkedKeys = this.$refs.treeObj.getCheckedKeys();
      let halfCheckedKeys = this.$refs.treeObj.getHalfCheckedKeys();
      this.saveAuthorityRequest.functionIds = checkedKeys;
      this.saveAuthorityRequest.halfCheckedKeys = halfCheckedKeys;
      this.saveAuthorityRequest.type = 2;
      if (this.saveAuthorityRequest.roleId == 9) {
        this.saveAuthorityRequest.type = 3;
      }
      this.$store
        .dispatch("saveAuthority", this.saveAuthorityRequest)
        .then(({ data }) => {});
    }
  },

  mounted() {
    this.getAllMenus();
    this.getAllRoles();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
