<template>
  <div class="bigBox">
    <div class="personal-manage-container">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="姓名">
              <el-input v-model="formInline.user" placeholder="请输入姓名" prop="name"></el-input>
            </el-form-item>
            <el-form-item label="手机号">
              <el-input v-model="formInline.mobile" placeholder="请输入手机号"></el-input>
            </el-form-item>
            <el-form-item label="职务">
              <el-input v-model="formInline.duty" placeholder="请输入职务"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSearch">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onReset">重置</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column prop="name" label="姓名"></el-table-column>
            <el-table-column prop="mobile" label="手机号"></el-table-column>
            <el-table-column prop="position" label="工作力量"></el-table-column>
            <el-table-column prop="duty" label="职务"></el-table-column>
            <el-table-column prop="lastPingTime" label="最后登录时间"></el-table-column>
            <el-table-column label="当前状态">
              <template slot-scope="scope">
                <span v-if="scope.row.online">在线</span>
                <span v-else>离线</span>
              </template>
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="primary" @click="onEdit(scope.row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="pagination.totalCount"
            :page-size="pagination.limit"
            :current-page.sync="pagination.page"
            @current-change="handleCurrentChange"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog
        :title="currentTitle"
        :visible.sync="personDialogVisible"
        width="50%"
        :before-close="handleClose"
      >
        <el-row>
          <el-col :span="11">
            <el-form :rules="form1Rules" ref="form1" :model="personDialogForm">
              <el-form-item prop="name" label="姓名" label-width="80px">
                <el-input v-model="personDialogForm.name"></el-input>
              </el-form-item>
              <el-form-item prop="sex" label="性别" label-width="80px">
                <el-radio v-model="personDialogForm.sex" label="1">男</el-radio>
                <el-radio v-model="personDialogForm.sex" label="2">女</el-radio>
              </el-form-item>
              <el-form-item prop="mobile" label="手机号" label-width="80px">
                <el-input
                  :disabled="currentTitle == '编辑' ? true : false"
                  maxlength="11"
                  v-model="personDialogForm.mobile"
                ></el-input>
              </el-form-item>
              <el-form-item prop="depart" label="部门" label-width="80px">
                <el-select style="width: 100%" v-model="personDialogForm.depart" placeholder="请选择">
                  <el-option
                    v-for="item in departList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item prop="title" label="职务" label-width="80px">
                <el-input v-model="personDialogForm.title"></el-input>
              </el-form-item>
              <el-form-item prop="roleIdList" label="角色设置" label-width="80px">
                <el-select
                  style="width: 100%"
                  v-model="personDialogForm.roleIdList"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in roleList"
                    :key="item.name"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </el-col>
          <el-col :span="11" :offset="1">
            <el-form ref="form2" :rules="form1Rules" :model="personDialogForm">
              <el-form-item
                label="居村名称"
  
                label-width="80px"
              >
                <combination v-if="personDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>
                <!-- <backcombination v-if="personDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></backcombination> -->
              </el-form-item>
              <el-form-item label="是否党员" prop="isParty" label-width="80px">
                <el-radio v-model="personDialogForm.isParty" label="1">是</el-radio>
                <el-radio v-model="personDialogForm.isParty" label="0">否</el-radio>
              </el-form-item>
              <el-form-item label="密码" label-width="80px">
                <el-input v-model="personDialogForm.password"></el-input>
              </el-form-item>
              <el-form-item prop="workPower" label="工作力量" label-width="80px">
                <el-select
                  style="width: 100%"
                  v-model="personDialogForm.workPower"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in workPowerList"
                    :key="item.name"
                    :label="item.name"
                    :value="item.name"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="值班力量" label-width="80px">
                <el-select
                  style="width: 100%"
                  v-model="personDialogForm.attendance"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in attendances"
                    :key="item.name"
                    :label="item.name"
                    :value="item.name"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="personDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import combination from "@/components/lingang/combination";
// import backcombination from "@/components/lingang/backcombination";
import Vue from 'vue'
export default {
  data() {
    return {
      treePathlist:[""],
      parentDistrictId:'',
      juweiList: [{ name: "临港家园" }],
      names: [{ items: '1', count: 5 }],
      villageList: [],
      currentTableColumnData: null,
      shouldRequestDistrict: true,
      treeData: [],
      roleList: [],
      attendances: [],
      workPowerList: [],
      //typre 用来区分 是否是工作人员1：工作人员
      pagination: { limit: 10, page: 1, totalCount: 0,type:1 },
      form1Rules: {
        name: [{ required: true, message: "请输入姓名", trigger: "blur" }],
        sex: [{ required: true, message: "请选择性别", trigger: "blur" }],
        mobile: [{ required: true, message: "请输入手机号", trigger: "blur" }],
        depart: [{ required: true, message: "请选择部门", trigger: "blur" }],
        title: [{ required: false, message: "请输入职务", trigger: "blur" }],
        villageName: [
          { required: true, message: "请选择居村名称", trigger: "blur" }
        ],
        isParty: [
          { required: false, message: "请选择是否为党员", trigger: "blur" }
        ],
        workPower: [
          { required: true, message: "请选择工作力量", trigger: "blur" }
        ],
        roleIdList: [{ required: true, message: "请选择角色", trigger: "blur" }]
      },
      departList: [],
      personDialogForm: {
        attendance: "",
        name: "",
        sex: "",
        mobile: "",
        depart: "",
        title: "",
        villageName: [],
        isParty: "",
        password: "",
        workPower: "",
        inChargePower: "",
        roleIdList: '',
        districtId: '',
        parentDistrictId: '',
        type:1
        
      },
      currentTitle: "添加",
      personDialogVisible: false,
      tableData: [],
      formInline: { user: "", mobile: "", duty: "" },
       showTree: Vue.ls.get('roler') == 'StreetAdmin',
    };
  },
  methods: {
    getVillages(data){
      this.personDialogForm.treePath = data.treePath
      this.personDialogForm.districtId = data.districtId
    },
    juweiChange(val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.villageList = res.data;
      });
      this.personDialogForm.districtId = "";
    },
    handleCurrentChange: function (page) {
      this.pagination.page = page;
      this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
        this.tableData = res.data.list;
        Object.assign(this.pagination, {
          page: res.data.page,
          totalCount: res.data.totalCount
        });
      });
    },
    handleConfirmForm: function () {
      let flag = false;
      this.$refs["form1"].validate((valid) => {
        if (valid) {
          flag = true;
        } else {
          flag = false;
          return false;
        }
      });
      this.$refs["form2"].validate((valid) => {
        if (valid) {
          flag = true;
        } else {
          flag = false;
          return false;
        }
      });
      if (flag) {
        // 可以处理后续步骤了
        this.personDialogVisible = false;
        if (this.currentTitle == "添加") {
          this.$store
            .dispatch("lgAddAccount", {
              name: this.personDialogForm.name,
              // districtId: this.personDialogForm.districtId,
              gender: this.personDialogForm.sex,
              isParty: this.personDialogForm.isParty,
              mobile: this.personDialogForm.mobile,
              password: this.personDialogForm.password,
              orgId: this.personDialogForm.depart.toString(),
              position: this.personDialogForm.workPower,
              duty: this.personDialogForm.title,
              attendance: this.personDialogForm.attendance, //值班长，值班员
              roleId: this.personDialogForm.roleIdList,
              treePath: this.personDialogForm.treePath,
              type:1
            })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ message: "添加成功", type: "success" });
                this.$store
                  .dispatch("lgGetUserList", this.pagination)
                  .then((res) => {
                    this.tableData = res.data.list;
                    Object.assign(this.pagination, {
                      page: res.data.page,
                      totalCount: res.data.totalCount
                    });
                  });
              } else {
                this.$message({ message: res.msg, type: "error" });
              }
            });
        } else {
          this.$store
            .dispatch("lgUpdateAccount", {
              name: this.personDialogForm.name,
              // districtId: this.personDialogForm.districtId,
              gender: this.personDialogForm.sex,
              isParty: this.personDialogForm.isParty,
              mobile: this.personDialogForm.mobile,
              password: this.personDialogForm.password,
              orgId: this.personDialogForm.depart.toString(),
              position: this.personDialogForm.workPower,
              duty: this.personDialogForm.title,
              attendance: this.personDialogForm.attendance, //值班长，值班员
              roleId: this.personDialogForm.roleIdList,
              accountId: this.currentTableColumnData.accountId,
              treePath: this.personDialogForm.treePath,
              type:1
            })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ message: "修改成功", type: "success" });
                this.$store
                  .dispatch("lgGetUserList", this.pagination)
                  .then((res) => {
                    this.tableData = res.data.list;
                    Object.assign(this.pagination, {
                      page: res.data.page,
                      totalCount: res.data.totalCount
                    });
                  });
              } else {
                this.$message({ message: "系统错误", type: "error" });
              }
            });
        }
      }
    },
    handleDelete: function (data) {
      console.log(data);
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgDeleteAccount", { id: data.accountId })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ type: "success", message: "删除成功 " });
                this.$store
                  .dispatch("lgGetUserList", this.pagination)
                  .then((res) => {
                    this.tableData = res.data.list;
                    Object.assign(this.pagination, {
                      page: res.data.page,
                      totalCount: res.data.totalCount
                    });
                  });
              } else {
                this.$message({ type: "error", message: res.msg });
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    handleClose: function () {
      this.personDialogVisible = false;
    },
    onEdit: function (data) {
      this.currentTableColumnData = data;
      this.shouldRequestDistrict = false;
      Object.assign(this.personDialogForm, {
        name: data.name,
        sex: data.gender.index.toString(),
        isParty: data.isParty.toString(),
        mobile: data.mobile,
        password: data.password,
        depart: data.orgId,
        workPower: data.position,
        title: data.duty,
        attendance: data.attendance, //值班长，值班员
        roleIdList: data.roleId,
        treePath: data.treePath,
      });
      this.treePathlist = data.treePath.split('/').filter((item)=>!!item)
      console.log(data);
      this.currentTitle = "编辑";
      this.personDialogVisible = true;
      this.$store
        .dispatch(
          "lgDistrictList",
          Object.assign(
            { limit: 1000, page: 1 },
            {
              districtId: data.districtId
            }
          )
        )
        .then((res) => {
          this.departList = res.data.list;

          this.shouldRequestDistrict = true;
        });
    },
    onSearch: function () {
      this.$store
        .dispatch(
          "lgGetUserList",
          Object.assign({}, this.pagination, {
            name: this.formInline.user,
            mobile: this.formInline.mobile,
            duty: this.formInline.duty
          })
        )
        .then((res) => {
          this.tableData = res.data.list;
          Object.assign(this.pagination, {
            page: res.data.page,
            totalCount: res.data.totalCount
          });
        });
    },
    onReset: function () {
      this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
        this.tableData = res.data.list;
        Object.assign(this.pagination, {
          page: res.data.page,
          totalCount: res.data.totalCount
        });
      });
      Object.assign(this.formInline, { user: "", mobile: "", duty: "" });
    },
    onAdd: function () {
      Object.assign(this.personDialogForm, {
        attendance: "",
        name: "",
        sex: "",
        mobile: "",
        depart: "",
        title: "",
        villageName: "",
        isParty: "",
        password: "",
        workPower: "",
        inChargePower: "",
        roleIdList: '',
        parentDistrictId: '',
        districtId: '',

      });
      this.currentTitle = "添加";
      this.personDialogVisible = true;
    },
    getUserDetail() {
      this.$store.dispatch("lgGetUserDetail").then((res) => {
        this.personDialogForm.villageName = [];
        this.personDialogForm.villageName[0] = "1930";
        this.personDialogForm.villageName[1] = res.data.parentDistrictId;
        localStorage.setItem('parentDistrictId', res.data.parentDistrictId)
      });
    },
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get('parentDistrictId')
    // this.getUserDetail();
    // this.$store.dispatch("lgdistrictTree").then((res) => {
    //   this.treeData = res.data;
    //   this.getUserDetail();
    // });
    this.$store.dispatch("lggetDistrictList", { id: localStorage.getItem('parentDistrictId') }).then((res) => {
      console.log(this.villageList);
      this.villageList = res.data;
    });
    this.$store.dispatch("lgRoles").then((res) => {
      this.roleList = res.data;
    });
    this.$store.dispatch("lgDropDown").then((res) => {
      this.workPowerList = res.data.positions;
      this.attendances = res.data.attendances;
    });
    this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
      this.tableData = res.data.list;
      Object.assign(this.pagination, {
        page: res.data.page,
        totalCount: res.data.totalCount
      });
    });
    this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
      this.juweiList = res.data
    });
  },
  filters: {},
  watch: {
    currentDepart: function (val) {
      console.log("...");
      if (this.shouldRequestDistrict) {
        Object.assign(this.personDialogForm, { depart: "" });
        this.$store
          .dispatch(
            "lgDistrictList",
            Object.assign(
              { limit: 1000, page: 1 },
              {
                districtId: val
              }
            )
          )
          .then((res) => {
            this.departList = res.data.list;
          });
      }
    }
  },
  computed: {
    currentDepart: function () {
      return this.personDialogForm.districtId
    },
    ...mapState({}),
    ...mapGetters([])
  },
  components: {
    combination,
    // backcombination
  }
};
</script>

<style lang="less" scoped>
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.personal-manage-container {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
