<template>
  <div id="lg-roles-container">
    <el-dialog title="添加菜单" :visible.sync="addMenuDialogFormVisible">
      <el-form :model="menu">
        <el-form-item label="菜单名称" :label-width="formLabelWidth">
          <el-input v-model="menu.functionName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单唯一标识" :label-width="formLabelWidth">
          <el-input v-model="menu.functionCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单描述" :label-width="formLabelWidth">
          <el-input
            v-model="menu.functionDescription"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="菜单URL" :label-width="formLabelWidth">
          <el-input v-model="menu.functionUrl" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单类型" :label-width="formLabelWidth">
          <template>
            <el-radio v-model="menu.node" label="1">菜单</el-radio>
            <el-radio v-model="menu.node" label="2">按钮</el-radio>
          </template>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addMenuDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="doSaveMenu()">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑菜单" :visible.sync="editMenuDialogFormVisible">
      <el-form :model="menu">
        <el-form-item label="菜单名称" :label-width="formLabelWidth">
          <el-input v-model="menu.functionName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单唯一标识" :label-width="formLabelWidth">
          <el-input v-model="menu.functionCode" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单描述" :label-width="formLabelWidth">
          <el-input
            v-model="menu.functionDescription"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="菜单URL" :label-width="formLabelWidth">
          <el-input v-model="menu.functionUrl" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单类型" :label-width="formLabelWidth">
          <template>
            <el-radio-group v-model="menu.node">
              <el-radio :label="1">菜单</el-radio>
              <el-radio :label="2">按钮</el-radio>
            </el-radio-group>
          </template>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editMenuDialogFormVisible = false">
          取 消
        </el-button>
        <el-button type="primary" @click="doEditMenu()">确 定</el-button>
      </div>
    </el-dialog>

    <el-table :data="roleTableData" style="width: 100%">
      <el-table-column prop="name" label="名称" width="180"></el-table-column>
      <el-table-column prop="code" label="code" width="180"></el-table-column>

      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="success" v-on:click="minAppMenuSet(scope.row)">
            小程序权限
          </el-button>
          <el-button type="info" v-on:click="menuSet(scope.row)">
            菜单权限
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="小程序权限" :visible.sync="dialogVisibleMinApp">
      <el-tree
        ref="minAppTree"
        :props="minAppProps"
        :data="minAppData"
        :default-checked-keys="minAppDataDefaultCheckedKeys"
        node-key="id"
        show-checkbox
      ></el-tree>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleMinApp = false">取 消</el-button>
        <el-button type="primary" @click="saveMinAppAuthority()">
          确 定
        </el-button>
      </span>
    </el-dialog>

    <el-dialog title="菜单" :visible.sync="dialogVisibleMenu">
      <el-tree
        ref="menuTree"
        :props="menuProps"
        :data="menuData"
        :default-expanded-keys="menuDefaultExpandedKeys"
        :default-checked-keys="menuDefaultCheckedKeys"
        node-key="id"
        show-checkbox
      ></el-tree>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleMenu = false">取 消</el-button>
        <el-button type="primary" @click="saveMenuAuthority()">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      menuDefaultExpandedKeys: [],
      minAppDataDefaultCheckedKeys: [],
      menuDefaultCheckedKeys: [],
      minAppData: [],
      menuData: [],
      minAppProps: {
        label: "functionName",
        children: "zones"
      },
      menuProps: {
        label: "label",
        children: "children"
      },
      dialogVisibleMinApp: false,
      dialogVisibleMenu: false,
      page: {
        page: 1,
        limit: 20,
        totalCount: 0
      },
      roleTableData: [],
      treeData: [],
      addMenuDialogFormVisible: false,
      editMenuDialogFormVisible: false,
      formLabelWidth: "120px",
      menu: {
        node: "1"
      },
      roleTreeData: [],
      defaultKeysData: [],
      defaultPropsRole: {
        children: "children",
        label: "name"
      },
      saveAuthorityRequest: {}
    };
  },
  methods: {
    menuSet(row) {
      this.saveAuthorityRequest.roleId = row.id;
      this.$store
        .dispatch("getLgAllMenus", { roleId: row.id })
        .then(({ data }) => {
          this.menuData = data.menus;
          this.menuDefaultCheckedKeys = data.authority;
          this.menuDefaultExpandedKeys = data.authority;
          this.dialogVisibleMenu = true;
        });
    },
    minAppMenuSet(row) {
      this.saveAuthorityRequest.roleId = row.id;
      this.$store.dispatch("getMinAppMenus", { roleId: row.id }).then(data => {
        this.minAppData = data.menus;
        this.minAppDataDefaultCheckedKeys = data.authority;
        this.dialogVisibleMinApp = true;
      });
    },
    getSelectKeys() {
      let checkedNodes = this.$refs.treeObj.getCheckedKeys(true);
    },
    resetForm() {
      this.menu = {
        node: "1"
      };
    },
    getAllMenus() {
      this.$store.dispatch("getLgAllMenus", { roleId: "" }).then(res => {
        this.treeData = res.data.menus;
      });
    },
    taddFirstMenu() {
      this.resetForm();
      //添加一级菜单
      this.menu.tempFunctionCode = "first";
      this.menu.parentFuncitonId = 0;
      this.addMenuDialogFormVisible = true;
    },
    tappend(data) {
      this.resetForm();
      //添加子菜单
      this.menu.tempFunctionCode = data.code;
      this.menu.parentFuncitonId = data.id;
      this.addMenuDialogFormVisible = true;
    },
    tEdit(data) {
      this.$store.dispatch("getLgMenu").then(res => {
        this.menu = res.data;
        this.editMenuDialogFormVisible = true;
      });
    },
    tremove(node, data) {
      this.$store.dispatch("delLgMenu").then(res => {
        this.getAllMenus();
      });
    },
    doSaveMenu() {
      //保存菜单
      this.menu.functionAuthorityString = this.menu.functionCode;
      this.menu.functionCode =
        this.menu.tempFunctionCode + "_" + this.menu.functionCode;
      this.menu.type = 2;
      this.$store.dispatch("addLgMenu", this.menu).then(res => {
        this.addMenuDialogFormVisible = false;
        this.getAllMenus();
      });
    },
    doEditMenu() {
      this.$store.dispatch("editLgMenu", this.menu).then(res => {
        this.editMenuDialogFormVisible = false;
        this.getAllMenus();
      });
    },
    getAllRoles() {
      this.$store.dispatch("listForBackend", this.page).then(({ data }) => {
        this.roleTableData = data.list;
      });
    },
    handleNodeClickRole(node) {
      this.saveAuthorityRequest.roleId = node.id;
      this.$store
        .dispatch("getLgAuthority", { roleId: node.id })
        .then(({ data }) => {
          this.$refs.treeObj.setCheckedKeys(data);
          // this.defaultKeysData = data.data;
        });
    },
    saveMenuAuthority() {
      let checkedKeys = this.$refs.menuTree.getCheckedKeys();
      let halfCheckedKeys = this.$refs.menuTree.getHalfCheckedKeys();
      this.saveAuthorityRequest.functionIds = checkedKeys;
      this.saveAuthorityRequest.halfCheckedKeys = halfCheckedKeys;
      this.saveAuthorityRequest.type = 2;
      console.log(this.saveAuthorityRequest);
      this.$store
        .dispatch("saveAuthority", this.saveAuthorityRequest)
        .then(res => {
          this.dialogVisibleMenu = false;
        });
    },
    saveMinAppAuthority() {
      let checkedKeys = this.$refs.minAppTree.getCheckedKeys();
      let halfCheckedKeys = this.$refs.minAppTree.getHalfCheckedKeys();
      this.saveAuthorityRequest.functionIds = checkedKeys;
      this.saveAuthorityRequest.halfCheckedKeys = halfCheckedKeys;
      this.saveAuthorityRequest.type = 3;
      this.$store
        .dispatch("saveAuthority", this.saveAuthorityRequest)
        .then(({ data }) => {
          this.dialogVisibleMinApp = false;
        });
    }
  },

  mounted() {
    this.getAllMenus();
    this.getAllRoles();
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
