<template>
  <div class="bigBox">
    <div class="lg-task-manage">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="任务事项">
              <el-input
                v-model="taskName"
                placeholder="请输入搜索的任务事项"
                prop="name"
                @input="getYUZHIlist"
                clearable
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加任务事项</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="getlgyuzhilist.list" border style="width: 100%">
            <el-table-column prop="eventName" label="任务事项"></el-table-column>
            <el-table-column prop="alertStart" label="告警时间段"></el-table-column>
            <el-table-column prop="alertEnd" label="任务截止时间"></el-table-column>
            <el-table-column prop="content" label="任务事件内容"></el-table-column>
            <el-table-column prop="checkContent" label="任务检查内容"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col style="text-align: left">
                    <el-button size="small" @click="onEdit(scope.row)">编辑</el-button>
                  </el-col>
                  <el-col style="text-align: left">
                    <el-button size="small" type="primary" @click="onDelete(scope.row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
          <el-row type="flex" justify="center">
            <el-col :span="23" style="text-align: center; margin-top: 20px">
              <el-pagination
                background
                layout="prev, pager, next"
                :page-size="getlgyuzhilist.limit"
                :total="getlgyuzhilist.totalCount"
                @current-change="changepage"
              ></el-pagination>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-dialog :title="currentTitle" :visible.sync="taskDialogVisible" width="40%">
        <el-form ref="form1" :model="taskFormData">
          <el-form-item label="任务名称:" label-width="100px">
            <el-select v-model="taskFormData.eventType" @change="gettaskname" placeholder="请选择任务名称">
              <el-option
                v-for="item in eventLists"
                :key="item.code"
                :label="item.desc"
                :value="item.code"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="告警时间段:" label-width="100px">
            <el-time-picker
              style="width: 100%"
              is-range
              value-format="HH:mm:ss"
              v-model="taskFormData.warningTimeRange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              placeholder="选择时间范围"
              @change="gettime"
            ></el-time-picker>
          </el-form-item>
          <el-form-item label="任务截止时间:" label-width="100px">
            <el-input placeholder="请输入任务截止时间" v-model="taskFormData.timeOut" :disabled="timeTrue">
              <template slot="append">小时</template>
            </el-input>
          </el-form-item>
          <el-form-item label="任务事项内容" label-width="100px">
            <el-input placeholder="请输入任务事项内容" v-model="taskFormData.content"></el-input>
          </el-form-item>
          <el-form-item label="任务检查内容" label-width="100px">
            <el-input placeholder="请输入任务检查内容" v-model="taskFormData.checkContent"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="taskDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleAddTask">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import warningManageVue from "../mcp/application/warningManage.vue";
import Vue from "vue"
export default {
  data() {
    return {
      taskFormData: {
        warningTimeRange: [],
        alertEnd: "",
        alertStart: "",
        eventType: "",
        timeOut: "",
        content: "",
        checkContent: ""
      },
      currentTitle: "添加任务事项",
      taskDialogVisible: false,
      taskName: "",
      timeTrue: Vue.ls.get("roler") == "Secretary" ? true : false,
      formInline: {},
      params: {
        limit: 10,
        page: 1
      }
    };
  },
  methods: {
    changepage(index) {
      this.params.page = index;
      this.$store.dispatch("lgyuzhiList", this.params);
    },
    gettime(val) {
      this.taskFormData.alertStart = val[0];
      this.taskFormData.alertEnd = val[1];
    },
    handleAddTask: function () {
      console.log(this.taskFormData);
      if (!this.taskFormData.eventType) {
        this.$message({
          type: "warning",
          message: "请选择任务类型"
        });
        return false;
      }
      if (!this.taskFormData.alertEnd || !this.taskFormData.alertStart) {
        this.$message({
          type: "warning",
          message: "请选择告警时间段"
        });
        return false;
      }
      // if(Vue.ls.get("roler") != "Secretary"){
      //   this.timeTrue = true
      // }else{
      //   this.timeTrue = false
      // }
      if (!this.taskFormData.timeOut && Vue.ls.get("roler") != "Secretary") {
        this.$message({
          type: "warning",
          message: "请选择任务截止时间"
        });
        return false;
      }
      if (this.currentTitle.indexOf("添加") != -1) {
        this.$store
          .dispatch("addlgyuzhiList", this.taskFormData)
          .then((res) => {
            if (res.msg == "success") {
              this.taskDialogVisible = false;
              this.taskFormData = {};
              this.$store.dispatch("lgyuzhiList", this.params);
              this.$message.success("添加成功")
            } else {
              this.$message.success(res.msg)
            }
          });
      } else {
        this.$store.dispatch("edityuzhiList", this.taskFormData).then((res) => {
          if (res.msg == "success") {
            this.taskDialogVisible = false;
            this.taskFormData = {
              warningTimeRange: [],
              alertEnd: "",
              alertStart: "",
              eventType: "",
              timeOut: "",
              content: "",
              checkContent: ""
            };
            this.$store.dispatch("lgyuzhiList", this.params);
          }
        });
      }

      // this.taskDialogVisible = false;
    },
    onEdit: function (item) {
      console.log(item);
      this.taskFormData.warningTimeRange = [];
      this.currentTitle = "编辑任务事项";
      this.taskDialogVisible = true;
      this.taskFormData.eventType = item.eventType;
      this.taskFormData.warningTimeRange.push(item.alertStart);
      this.taskFormData.warningTimeRange.push(item.alertEnd);
      this.taskFormData.alertStart = item.alertStart;
      this.taskFormData.alertEnd = item.alertEnd;
      this.taskFormData.content = item.content;
      this.taskFormData.checkContent = item.checkContent;
      this.taskFormData.timeOut = item.timeOut;
      this.taskFormData.id = item.id;
      console.log(this.taskFormData);
    },
    onDelete: function (item) {
      console.log(item);
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("deleteyuzhiList", { id: item.id })
            .then((res) => {
              if (res.msg == "success") {
                this.$message({ type: "success", message: "删除成功 " });

                this.$store.dispatch("lgyuzhiList", this.params);
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    onAdd: function () {
      this.taskFormData = {};
      this.taskDialogVisible = true;
      this.currentTitle = "添加任务事项";
      // console.log(this.eventLists);
    },
    getYUZHIlist(val) {
      console.log(val);
      this.params.eventName = val;
      // this.params.eventType = 'GKPW'
      this.$store.dispatch("lgyuzhiList", this.params);
    },
    gettaskname(val) {
      console.log(val);
      let arr = this.eventLists.filter((item) => item.code == val);
      this.taskFormData.eventName = arr[0].desc;
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("lgyuzhiList", this.params);
    this.$store.dispatch("eventTypes");
  },
  filters: {},
  watch: {
    taskName: function (val) {
      val;
    }
  },
  computed: {
    ...mapState({
      getlgyuzhilist: (state) => state.lgadmin.getlgyuzhilist,
      eventLists: (state) => state.lgadmin.eventLists
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.lg-task-manage {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
