<template>
  <div class="lg-user-container">
    <div class="search-container">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <!-- <el-form-item label="审批人">
          <el-input v-model="formInline.user" placeholder="审批人"></el-input>
        </el-form-item> -->
        <el-form-item label="用户身份">
          <el-select
            v-model="formInline.userType"
            @change="handleSelectChange"
            placeholder="请选择用户身份"
          >
            <el-option label="社区综合管理平台" value="1"></el-option>
            <el-option label="建设者小镇小程序" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
           <el-button @click="handleAddLgUser" type="success">添加</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-body">
      <!-- <div class="add-user-btn-container">
        <el-button @click="handleAddLgUser">添加社区综合管理平台用户</el-button>
      </div> -->
      <el-table :data="lgUserList" border style="width: 100%">
        <el-table-column
          prop="name"
          label="用户名"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="mobile"
          label="电话"
          width="180"
        ></el-table-column>
        <el-table-column prop="ownRole" label="身份"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <!-- <el-button type="text" @click="unbindUser(scope.row)">
              解除绑定
            </el-button> -->
            <el-button type="warning" size="mini" @click="editUserProfile(scope.row)">
              修改资料
            </el-button>
            <el-button type="danger" size="mini" @click="deleteUserProfile(scope.row)">
              删除资料
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        background
        :page-size="8"
        layout="prev, pager, next"
        :total="pagination.total"
        @current-change="handleTableChange"
      ></el-pagination>
    </div>
    <el-dialog title="建设者用户管理" :visible.sync="workerDialogVisible">
      <el-form :model="workerForm" label-width="80px">
        <el-form-item label="手机号">
          <el-input v-model="workerForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="workerForm.password"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hideWorkerDialog">取 消</el-button>
        <el-button type="primary" @click="confirmUpdateWorker">
          确 定
        </el-button>
      </div>
    </el-dialog>
    <el-dialog title="临港城运用户管理" :visible.sync="dialogTableVisible">
      <el-form :model="lgForm" label-width="80px">
        <el-form-item label="所属居委">
          <el-cascader
            style="width:100%;"
            v-model="lgForm.district"
            :options="districtList"
            :props="props"
            :show-all-levels="false"
            clearable
          ></el-cascader>
        </el-form-item>
        <el-form-item label="用户名">
          <el-input v-model="lgForm.name"></el-input>
        </el-form-item>
        <el-form-item label="手机号">
          <el-input v-model="lgForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="lgForm.password"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hideConfirmDialog">取 消</el-button>
        <el-button type="primary" @click="confirmAddUser">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      workerForm: { mobile: "", password: "" },
      workerDialogVisible: false,
      props: { multiple: false, value: "districtId", label: "name",checkStrictly: true, },
      dialogTableVisible: false,
      lgForm: { mobile: "", password: "", name: "", district: "" },
      formInline: { userType: "1" }
    };
  },
  methods: {
    confirmUpdateWorker: function() {
      this.workerDialogVisible = false;
      this.$store.dispatch("updateWorker", this.workerForm);
    },
    hideWorkerDialog: function() {
      this.workerDialogVisible = false;
    },
    hideConfirmDialog: function() {
      this.dialogTableVisible = false;
    },
    confirmAddUser: function() {
      let dd = "";
      if (this.lgForm.district instanceof Array) {
        dd = this.lgForm.district.pop();
      } else {
        dd = this.lgForm.district;
      }
      this.$store.dispatch(
        "addOrUpdateUser",
        Object.assign(this.lgForm, {
          userName: this.lgForm.name,
          districtId: dd
        })
      );
      this.dialogTableVisible = false;
    },
    editUserProfile: function(val) {
      console.log(val);
      if (this.formInline.userType == 1) {
        this.dialogTableVisible = true;
        Object.assign(
          this.lgForm,
          val,
          { password: "" },
          { district: val.parentDistrictId },
          { districtId: val.parentDistrictId }
        );
      } else {
        this.workerDialogVisible = true;
        Object.assign(this.workerForm, val);
      }
    },
    deleteUserProfile(row){
      console.log(row.accountId)
      this.$store.dispatch('deleteUserProfile',{id:row.accountId}).then(res=>{
        console.log(res)
      })
    },
    handleAddLgUser: function() {
      Object.assign(this.lgForm, {
        userName: "",
        mobile: "",
        password: "",
        accountId: "",
        name: "",
        districtId: "",
        district: ""
      });
      this.dialogTableVisible = true;
    },
    handleTableChange: function(page) {
      console.log(page);
      if (this.formInline.userType == 1) {
        this.$store.dispatch(
          "getLgUserList",
          Object.assign(this.pagination, { start: (page - 1) * 8 })
        );
      } else {
        this.$store.dispatch(
          "getWorkerList",
          Object.assign(this.pagination, { start: (page - 1) * 8 })
        );
      }
    },
    handleSelectChange: function(val) {
      console.log(val);
      Object.assign(this.pagination, { start: 0, count: 8 });

      if (val == 1) {
        this.$store.dispatch("getLgUserList", this.pagination);
      } else {
        Object.assign(this.pagination, { start: 0, count: 8 });
        this.$store.dispatch("getWorkerList", this.pagination);
      }
    },
    unbindUser: function(user) {},
    onSubmit: function() {},
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getDistrict2Tree");
    this.$store.dispatch("getLgUserList", this.pagination);
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      pagination: state => state.lgadmin.pagination,
      districtList: state => state.lgadmin.districtList,
      lgUserList: state => state.lgadmin.lgUserList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.lg-user-container {
  box-sizing: border-box;
  padding: 30px;
}
.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.add-user-btn-container {
  margin: 10px 0;
}
</style>
