<template>
  <div class="bigBox">
    <div class="lg-depart-manage">
      <el-row type="flex" justify="center" :gutter="20">
        <el-col :span="8">
          <el-row type="flex" justify="space-between">
            <el-col :span="15">
              <el-input placeholder="请输入搜索内容" v-model="searchText" clearable></el-input>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-tree
                style="margin-top: 10px"
                :data="treeData"
                :props="defaultProps"
                @node-click="handleNodeClick"
                node-key="id"
                default-expand-all
                :expand-on-click-node="false"
                :render-content="renderContent"
              ></el-tree>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="14">
          <el-row>
            <el-form :inline="true" :model="formData">
              <el-form-item label="监控点名称">
                <el-input v-model="params.address" placeholder="请输入监控点名称"></el-input>
              </el-form-item>
              <el-form-item label="监控点标签">
                <el-input v-model="params.tag" placeholder="请输入标签名称"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onReset">重置</el-button>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSearch">查询</el-button>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="turnCamera">转移摄像头</el-button>
              </el-form-item>
            </el-form>
          </el-row>
          <el-row>
            <el-table :data="lgGetCameraList.list" border style="width: 100%">
              <el-table-column prop="address" label="监控点名称"></el-table-column>
              <el-table-column prop="cameraLabel" label="监控点标签">
                <template slot-scope="scope">
                  <span>{{ getCameraLabel(scope.row) }}</span>
                </template>
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-row type="flex" justify="center">
                    <el-col>
                      <el-button size="small" @click="onEdit(scope.row)">编辑</el-button>
                    </el-col>
                    <el-col>
                      <el-button size="small" type="primary" @click="onDelete(scope.row)">删除</el-button>
                    </el-col>
                  </el-row>
                </template>
              </el-table-column>
            </el-table>
            <el-row type="flex" justify="center">
              <el-col :span="23" style="text-align: center; margin-top: 20px">
                <el-pagination
                  background
                  layout="prev, pager, next,total"
                  @current-change="handleChange"
                  :page-size="params.limit"
                  :total="lgGetCameraList.totalCount"
                ></el-pagination>
              </el-col>
            </el-row>
          </el-row>
        </el-col>
      </el-row>
      <el-dialog title="编辑监控点" :visible.sync="addRoleDialogVisible" width="40%">
        <el-form ref="form1" :model="ruleFormData">
          <el-form-item label="监控点名称:" label-width="100px">
            <el-input v-model="editparams.address"></el-input>
          </el-form-item>
          <el-form-item label="监控点标签:" label-width="100px">
            <el-select multiple style="width: 100%" v-model="editparams.tags" placeholder="请选择">
              <el-option
                v-for="item in labelList"
                :key="item.name"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="age" label="经纬度:" label-width="100px">
            <el-row :gutter="20" type="flex" justify="left">
              <el-col>
                <el-input v-model="lnglat"></el-input>
              </el-col>
              <el-col>
                <el-button type="primary" @click="openNewTab">查询经纬度</el-button>
              </el-col>
            </el-row>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addRoleDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
      <hkcameraSet v-if="showCamTurn" @closepop="closepop"></hkcameraSet>
    </div>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState, mapGetters, mapMutations } from "vuex";
import hkcameraSet from "@/views/lingang/hkcameraSet";
import Vue from "vue";
export default {
  data() {
    return {
      cameraTypeList: [{ name: "球机" }, { name: "枪机" }],
      labelList: [{ name: "AI算法" }, { name: "消防占道" }],
      tableData: [
        { cameraName: "海亊小区西门", cameraLabel: "AI算法" },
        { cameraName: "海洋小区东门", cameraLabel: "消防占道" }
      ],
      ruleFormData: {
        cameraName: "",
        cameraLabel: "",
        cameraType: "",
        lnglat: "",
        description: "",
        haiba: ""
      },
      editparams: {
        cameraCode: null,
        address: null,
        lng: null,
        lat: null
      },
      lnglat: "",
      params: {
        page: 1,
        limit: 8,
        districtId: "",
        tags: [],
        address: null
      },
      currentTreeNode: "",
      workPowerList: [{ name: "自有力量" }, { name: "村居力量" }],
      addRoleDialogVisible: false,
      formData: { cameraName: "", cameraLabel: "" },
      defaultProps: { children: "children", label: "name" },
      treeData: [
        {
          name: "临港新片区",
          children: [
            {
              name: "临港家园",
              children: [{ name: "海事小区" }, { name: "海洋小区" }]
            }
          ]
        }
      ],
      searchText: "",
      showCamTurn: false
    };
  },
  methods: {
    openNewTab: function () {
      window.open("https://lbs.amap.com/tools/picker");
    },
    onReset: function () {
      (this.params.address = null), (this.params.tag = null);
      this.getList();
    },
    onSearch: function () {
      this.params.page = 1;
      this.getList();
    },
    turnCamera() {
      this.showCamTurn = true;
    },
    closepop(data) {
      this.showCamTurn = data;
    },
    onEdit: function (item) {
      this.editparams.address = item.address;
      this.editparams.cameraCode = item.cameraCode;
      this.addRoleDialogVisible = true;
    },
    onDelete: function (item) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgCameraDel", { id: item.cameraCode })
            .then((res) => {
              if (res.data) {
                Message.success("已删除");
                this.getList();
              } else {
                Message.success(res.message);
              }
            });
          this.$message({ type: "success", message: "删除成功 " });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    handleConfirmForm: function (item) {
      this.addRoleDialogVisible = false;
      let str = this.lnglat;
      this.editparams.lng = str.slice(0, str.indexOf(",") - 1);
      this.editparams.lat = str.slice(str.indexOf(",") + 1);
      this.$store.dispatch("lgCameraEdit", this.editparams).then((res) => {
        if (res.data) {
          Message.success("已完成");
          this.getList();
        } else {
          Message.success(res.message);
        }
      });
    },
    onAdd: function () {
      this.addRoleDialogVisible = true;
    },
    deleteNode: function (item) {
      this.$confirm("确定要删除该节点么？", "提示", {})
        .then(() => {
          this.$message({ type: "success", message: "删除成功 " });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    appendNode: function () {
      this.$prompt("请输入节点名称", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValidator: (item) => {
          // 校验函数
        }
      })
        .then(({ value }) => {
          // 处理添加函数
        })
        .catch(() => {
          // 无需处理
        });
    },
    addRootPop() {
      this.$prompt("请输入根节点名称", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValidator: (item) => {
          // 校验函数
        }
      })
        .then(({ value }) => {
          // 处理添加函数
        })
        .catch(() => {
          // 无需处理
        });
    },
    renderContent: function (h, { node, data, store }) {
      return (
        <span class="custom-tree-node" style="font-size:18px">
          <span>{node.label}</span>
        </span>
      );
    },
    getTreeData() {
      if (Vue.ls.get('roler') !== 'StreetAdmin') {

        this.$store.dispatch("lgdistrictTree", { parentDistrictId: Vue.ls.get('parentDistrictId') }).then((res) => {
          this.treeData = res.data;
          this.currentTreeNode = null;
        });
      } else {
        console.log(Vue.ls.get("parentDistrictId"));
        this.$store.dispatch("lgdistrictTree").then((res) => {
          this.treeData = res.data;
          this.currentTreeNode = null;
        });
      }

    },
    handleNodeClick: function (item) {
      console.log(item);
      this.params.districtId = item.id;
      this.getList();
    },
    getList() {
      this.$store.dispatch("lgGetCameraList", this.params);
    },
    getCameraLabel(item) {
      let str = "";
      if (item.tags != null) {
        item.tags.forEach((element) => {
          str = str + element.name + ",";
        });
        return str;
      } else {
        return str;
      }
    },
    handleChange(index) {
      this.params.page = index;
      this.getList();
    },
    getTagList() {
      this.$store
        .dispatch("lgGetTagList", { page: 1, limit: 100 })
        .then((res) => {
          this.labelList = res.data.list;
        });
    },
    ...mapMutations([])
  },
  mounted() {
    this.getTreeData();
    this.getTagList();
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      lgGetCameraList: (state) => state.lgadmin.lgGetCameraList
    }),
    ...mapGetters([])
  },
  components: {
    hkcameraSet
  }
};
</script>

<style lang="less" scoped>
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.lg-depart-manage {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
