<template>
  <div class="bigBox">
    <div class="lg-vip">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="姓名">
              <el-input v-model="formInline.user" placeholder="请输入姓名" prop="name"></el-input>
            </el-form-item>
            <el-form-item label="手机号">
              <el-input maxlength="11" v-model="formInline.mobile" placeholder="请输入手机号"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSearch">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onReset">重置</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="tableData.list" border style="width: 100%">
            <el-table-column prop="name" label="姓名"></el-table-column>
            <el-table-column prop="mobile" label="手机号"></el-table-column>
            <el-table-column prop="pic" label="照片">
              <template slot-scope="scope">
                <!-- {{localStorage.getItem('picUrl')}} -->
                <el-image
                  @click="previewImg(scope.row)"
                  style="width: 100px; height: 100px"
                  :src="picUrl + scope.row.pic"
                  fit="scale-down"
                ></el-image>
              </template>
            </el-table-column>
            <el-table-column prop="parentDistrictName" label="所属居委"></el-table-column>
            <el-table-column prop="districtName" label="所属小区"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <!-- <el-button size="small" @click="showTrail(scope.row)">人员轨迹</el-button> -->
                  <el-button size="small" type="primary" @click="onEdit(scope.row)">编辑</el-button>
                  <el-button size="small" type="danger" @click="onDelete(scope.row)">删除</el-button>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="tableData.totalCount"
            :page-size="pagination.limit"
            :current-page.sync="pagination.page"
            @current-change="handleCurrentChange"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog :title="currentTitle" :visible.sync="addVipDialogVisible" width="30%">
        <el-form ref="form1" :model="vipFormData">
          <el-form-item label="姓名:" label-width="80px">
            <el-input v-model="vipFormData.name"></el-input>
          </el-form-item>
          <el-form-item label="手机号:" label-width="80px">
            <el-input maxlength="11" v-model="vipFormData.mobile"></el-input>
          </el-form-item>
          <!-- <el-form-item label="所属居委:" label-width="80px">
            <el-select
              style="width: 100%"
              v-model="vipFormData.juwei"
              placeholder="请选择"
            >
              <el-option
                v-for="item in juweiList"
                :key="item.districtId"
                :label="item.name"
                :value="item.districtId"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="所属小区" label-width="80px">
            <el-select
              style="width: 100%"
              v-model="vipFormData.xiaoqu"
              placeholder="请选择"
            >
              <el-option
                v-for="item in xiaoquList"
                :key="item.districtId"
                :label="item.name"
                :value="item.districtId"
              ></el-option>
            </el-select>
          </el-form-item>-->
          <el-form-item label="所属居村" label-width="80px">
            <combination
              v-if="addVipDialogVisible"
              :districtId="parentDistrictId"
              @getVillages="getVillages"
              :villagelist="treePathlist"
            ></combination>
          </el-form-item>
          <el-form-item label="人员照片">
            <el-row type="flex" justify="center">
              <el-col :span="24" style="text-align: center">
                <el-upload
                  action="/linggang/backend/fileUpload"
                  list-type="picture-card"
                  :on-preview="handlePictureCardPreviews"
                  :file-list="fileList"
                  :auto-upload="true"
                  :on-remove="handleRemove"
                  :on-success="handleUploadSuccess"
                  :limit="1"
                >
                  <i class="el-icon-plus"></i>
                </el-upload>
        
              </el-col>
            </el-row>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addVipDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog :visible.sync="dialogVisible">
        <img width="100%" :src="dialogImageUrl" alt />
      </el-dialog>
      <el-dialog :visible.sync="vipTrailVisible" title="重点人员轨迹" width="80%">
        <el-row>
          <el-col :span="24">
            <div class="vip-trail-map-container">
              <div id="vip-trail-map" style="width: 100%; height: 100%">
                <iframe
                  id="thingmap"
                  src="https://www.thingjs.com/s/2bc0cb3c7f7187048b802134?params=105b0f77fd24654d4eebc434e9"
                  width="100%"
                  height="100%"
                  frameborder="0"
                ></iframe>
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center" :gutter="20">
          <el-col :span="20" style="height: 180px">
            <div class="ss-container">
              <lg-slider :sliderList="sliderList"></lg-slider>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="duola-container" v-if="sliderList.length > 0">
              <img :src="picPreUrl + sliderList[0].url" alt />
            </div>
          </el-col>
        </el-row>

        <span slot="footer" class="dialog-footer">
          <el-button @click="vipTrailVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleHideVipTrail">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog :visible.sync="previewImgVisible">
        <img width="100%" :src="currentImgSrc" alt />
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import LgSlider from "../../components/lingang/lgSlider.vue";
import combination from "@/components/lingang/combination";
import Vue from "vue";
export default {
  data() {
    return {
      treePathlist: [],
      parentDistrictId: '',
      picUrl: localStorage.getItem('picUrl'),
      currentTableColumnData: "",
      xiaoquList: [],
      juweiList: [],
      pagination: { page: 1, limit: 10, totalCount: 0 },
      previewImgVisible: false,
      currentImgSrc: "",
      sliderList: [

      ],
      vipTrailVisible: false,
      fileList: [],
      currentTitle: "添加重点人员",
      workPowerList: [{ name: "临港家园" }],
      vipFormData: { name: "", mobile: "", juwei: "", xiaoqu: "", pic: "" },
      addVipDialogVisible: false,
      tableData: {},
      formInline: {
        user: null,
        mobile: null
      },
      dialogImageUrl: "",
      dialogVisible: false,
      disabled: false,
      picPreUrl: ''
    };
  },
  methods: {
    getVillages(data) {
      this.vipFormData.treePath = data.treePath
      this.vipFormData.districtId = data.districtId
    },
    handleUploadSuccess: function (...arg) {
      console.log(arg);
      let [
        {
          data: { filePath }
        }
      ] = [...arg];
      console.log(filePath);
      this.vipFormData.pic = filePath;
    },
    handleCurrentChange: function (page) {
      this.pagination.page = page;
      this.getList();
    },
    previewImg: function (row) {
      this.currentImgSrc = "";
      this.previewImgVisible = true;
      this.currentImgSrc = row.pic;
    },
    showTrail: function (item) {
      this.vipTrailVisible = true;
      this.getCameraSnap(item);
    },
    handleHideVipTrail: function () {
      this.vipTrailVisible = false;
    },
    handleConfirmForm: function () {
      if (this.currentTitle == "添加重点人员") {
        this.$store
          .dispatch("lgAddVip", {
            name: this.vipFormData.name,
            mobile: this.vipFormData.mobile,
            pic: this.vipFormData.pic,
            // districtId: this.vipFormData.xiaoqu,
            // parentDistrictId: this.vipFormData.juwei
            treePath: this.vipFormData.treePath,
          })
          .then((res) => {
            if (res.code == 200) {
              this.addVipDialogVisible = false;
              this.$message({ type: "success", message: "添加成功 " });
              Object.assign(this.vipFormData, {
                name: "",
                mobile: "",
                juwei: "",
                xiaoqu: "",
                pic: ""
              });
              this.$store.dispatch("lgVipList", this.pagination).then((res) => {
                this.tableData = res.data;
              });
            } else {
              this.$message({ message: res.msg, type: "error" });
            }
          });
      } else {
        this.$store
          .dispatch("lgUpdateVip", {
            name: this.vipFormData.name,
            mobile: this.vipFormData.mobile,
            pic: this.vipFormData.pic,
            // districtId: this.vipFormData.xiaoqu,
            // parentDistrictId: this.vipFormData.juwei,
            id: this.currentTableColumnData.id,
            treePath: this.vipFormData.treePath,
          })
          .then((res) => {
            if (res.code == 200) {
              this.addVipDialogVisible = false;
              this.$message({ type: "success", message: "添加成功 " });
              Object.assign(this.vipFormData, {
                name: "",
                mobile: "",
                juwei: "",
                xiaoqu: "",
                pic: ""
              });
              this.$store.dispatch("lgVipList", this.pagination).then((res) => {
                this.tableData = res.data;
              });
            } else {
              this.$message({ message: res.msg, type: "error" });
            }
          });
      }
    },
    handleRemove(file, fileList) {
      console.log(file);
      console.log(fileList);
    },
    handlePictureCardPreviews(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleDownload(file) {
      console.log(file);
    },
    onSearch: function () {
      this.$store
        .dispatch(
          "lgVipList",
          Object.assign({}, this.pagination, {
            page: 1,
            limit: 10,
            name: this.formInline.user,
            mobile: this.formInline.mobile
          })
        )
        .then((res) => {
          this.tableData = res.data;
        });
    },
    onReset: function () {
      Object.assign(this.formInline, { user: "", mobile: "" });
      this.$store
        .dispatch(
          "lgVipList",
          Object.assign({}, this.pagination, { page: 1, limit: 10 })
        )
        .then((res) => {
          this.tableData = res.data;
        });
    },
    onEdit: function (data) {
      this.currentTableColumnData = data;
      this.addVipDialogVisible = true;
      this.currentTitle = "编辑重点人员";
      this.treePathlist = data.treePath.split('/').filter((item) => !!item)
      console.log(this.treePathlist);
      Object.assign(this.vipFormData, {
        name: data.name,
        mobile: data.mobile,
        // juwei: data.parentDistrictId,
        // xiaoqu: data.districtId,
        pic: data.pic
      });
      this.fileList = [];
      this.fileList.push({ name: "", url: this.picUrl+data.pic });
    },
    onDelete: function (data) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store.dispatch("lgDeleteVip", { id: data.id }).then((res) => {
            if (res.code == 200) {
              this.$message({ type: "success", message: "删除成功 " });
              this.getList();
            } else {
              this.$message({ type: "error", message: res.msg });
            }
          });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    onAdd: function () {
      Object.assign(this.vipFormData, {
        name: "",
        mobile: "",
        // juwei: "",
        // xiaoqu: "",
        pic: ""
      });
      this.treePathlist = [];

      this.fileList = [];
      this.addVipDialogVisible = true;
      this.currentTitle = "添加重点人员";
    },
    getList() {
      this.$store.dispatch("lgVipList", this.pagination).then((res) => {
        this.tableData = res.data;
      });
    },
    getCameraSnap(item) {
      this.$store.dispatch("getCameraSnap", { uid: item.id })
        .then(res => {
          this.sliderList = res.data;
        })
    },
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get('parentDistrictId')
    this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
      this.juweiList = res.data;
    });
    this.getList();
    this.picPreUrl = localStorage.getItem('picUrl');

  },
  filters: {},
  watch: {
    currentJuwei: function (val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.xiaoquList = res.data;
      });
    }
  },
  computed: {
    currentJuwei: function () {
      return this.vipFormData.juwei;
    },
    ...mapState({}),
    ...mapGetters([])
  },
  components: { LgSlider, combination }
};
</script>

<style lang="less" scoped>
.duola-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 100%;
  }
}
.ss-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.vip-trail-map-container {
  width: 100%;
  height: 300px;
  background-color: #eeeeee;
}
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.lg-vip {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
