<template>

    <div class="bigBox">
        <div class="store-mamage">
            <el-row type="flex" justify="center" class="firstRow">
                <el-col :span="23">
                    <el-form :inline="true" :model="storeSearchForm" class="demo-form-inline">
                        <el-form-item label="小区">
                            <el-select
                                style="width:100%;"
                                v-model="renovationParams.name"
                                placeholder="请选择"
                            >
                                <el-option
                                    v-for="item in villageList"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.name"
                                ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="query">查询</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="reset">重置</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onAdd">添加</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center">
                <el-col :span="23">
                    <el-table :data="RenovationList.list" border style="width: 100%">
                        <el-table-column prop="neighborhood" label="所属居委"></el-table-column>
                        <el-table-column prop="districtName" label="所属小区"></el-table-column>
                        <el-table-column prop="address" label="装修地址"></el-table-column>
                        <el-table-column prop="startTime" label="开始时间">
                            <template slot-scope="scope">{{ scope.row.startTime&&scope.row.startTime.split(" ")[0] }}</template>
                        </el-table-column>
                        <el-table-column prop="endTime" label="预计完成时间">
                            <template slot-scope="scope">{{ scope.row.endTime&&scope.row.endTime.split(" ")[0] }}</template>
                        </el-table-column>
                        <el-table-column label="是否缴纳保证金">
                            <template slot-scope="scope">{{ scope.row.status == '1' ? '是' : '否' }}</template>
                        </el-table-column>
                        <el-table-column label="类型">
                            <template slot-scope="scope">{{ scope.row.type == '1' ? '全部装修' : '部分装修' }}</template>
                        </el-table-column>
                        <el-table-column prop="content" label="详情"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-row type="flex" justify="center">
                                    <el-col :span="12" style="text-align: center">
                                        <el-button
                                            size="small"
                                            type="primary"
                                            @click="onEdit(scope.row)"
                                        >编辑</el-button>
                                    </el-col>
                                    <el-col :span="12" style="text-align: center">
                                        <el-button
                                            size="small"
                                            type="danger"
                                            @click="handleDelete(scope.row)"
                                        >删除</el-button>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center">
                <el-col :span="23" style="text-align: center; margin-top: 20px">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="RenovationList.totalCount"
                        @current-change="handleChange"
                        :page-size="renovationParams.limit"
                    ></el-pagination>
                </el-col>
            </el-row>
            <el-dialog :title="currentTitle" :visible.sync="storeDialogVisible" width="50%">
                <el-row type="flex" justify="center">
                    <el-col :span="23">
                        <el-form :rules="form1Rules" ref="form1">
                            <el-form-item prop="juwei" label="所属小区" label-width="85px">
                                <combination v-if="storeDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>
                            </el-form-item>

                            <el-form-item prop="storeAddress" label="地址" label-width="85px">
                                <el-input v-model="addparams.address"></el-input>
                            </el-form-item>
                            <el-form-item prop="storeName" label="开始时间" label-width="85px">
                                <el-date-picker
                                    v-model="addparams.startTime"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    type="date"
                                    placeholder="选择日期"
                                ></el-date-picker>
                            </el-form-item>
                            <el-form-item prop="storeName" label="完成时间" label-width="85px">
                                <el-date-picker
                                    v-model="addparams.endTime"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    type="date"
                                    placeholder="选择日期"
                                ></el-date-picker>
                            </el-form-item>
                            <el-form-item label="是否缴纳保证金" prop="resource">
                                <el-radio-group v-model="addparams.status">
                                    <el-radio :label="0">否</el-radio>
                                    <el-radio :label="1">是</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="装修类型" prop="type">
                                <el-radio-group v-model="addparams.type">
                                    <el-radio :label="0">部分装修</el-radio>
                                    <el-radio :label="1">全部装修</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="装修详情" prop="content">
                                <el-input type="textarea" v-model="addparams.content"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="storeDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</template>

<script>
import { Message } from "element-ui";
import combination from "@/components/lingang/combination";
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from 'vue'
export default {
    data() {
        return {
            treePathlist:[],
            parentDistrictId:'',
            preMarker: [],
            address: "",
            juweiList: [{ name: "临港家园" }],
            villageList: [{ name: "" }],
            storeDialogVisible: false,
            form1Rules: {},
            currentTitle: "添加装修信息",
            storeSearchForm: { storeName: "" },
            lnglat: "",
            params: {
                page: 1,
                limit: 8,
                name: null
            },
            addparams: {
                districtId: null,
                neighborhoodId: null,
                address: null,
                startTime: '',
                endTime: '',
                status: null,
                type: '',
                content: '',
                treePath:null,accountid:""
            }
        };
    },
    methods: {
        keywordSearch_CallBack(data) {
            if (this.preMarker.length > 0) {
                this.map.remove(this.preMarker[0]);
            }
            this.addMarker([
                data.poiList.pois[0].location.lng,
                data.poiList.pois[0].location.lat
            ]);
            this.lnglat =
                data.poiList.pois[0].location.lng +
                "," +
                data.poiList.pois[0].location.lat;
            // this.params.placeOfLost = data.poiList.pois[0].name;
            console.log(data);
        },
        addMarker(lnglatXY) {
            var marker = new AMap.Marker({
                icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                position: lnglatXY
            });
            this.preMarker = [];
            this.preMarker.push(marker);
            marker.setMap(this.map);
            this.map.setFitView();
        },
        search() {
            var placeSearch;
            this.map.plugin(
                ["AMap.PlaceSearch", "AMap.ToolBar", "AMap.Scale"],
                () => {
                    this.map.addControl(new AMap.ToolBar());
                    this.map.addControl(new AMap.Scale());
                    placeSearch = new AMap.PlaceSearch({
                        city: this.address
                    });
                    AMap.event.addListener(
                        placeSearch,
                        "complete",
                        this.keywordSearch_CallBack
                    );
                    placeSearch.search(this.address);
                }
            );
        },
        getVillages(data){
            this.addparams.treePath = data.treePath
            this.addparams.districtId = data.districtId
        },
        onAdd: function () {
            this.storeDialogVisible = true;
            this.currentTitle = "添加装修信息";
            this.addparams.address = null;
            this.addparams.neighborhoodId = ""
            // this.addparams.neighborhoodId = null;
            this.addparams.districtId = null;
            this.addparams.startTime = '';
            this.addparams.endTime = '';
            this.addparams.status = null;
            this.addparams.id = '';
            this.addparams.accountId = '';
        },
        handleConfirmForm: function () {
            console.log(this.addparams);
            console.log(this.currentTitle);

            this.storeDialogVisible = false;
            if (this.currentTitle == "添加装修信息") {
                if (!this.addparams.treePath) {
                    this.$message({
                        type: "warning",
                        message: "请选择居委"
                    });
                    this.storeDialogVisible = true;
                    return false;
                }
                
                this.$store.dispatch("saveRenovation", this.addparams).then((res) => {
                    if (res.data) {
                        Message.success("已完成");
                        this.storeDialogVisible = false;
                        this.getList();
                    } else {
                        Message.warning(res.msg);
                    }
                });
            } else {
                // if (!this.addparams.neighborhoodId) {
                //     this.$message({
                //         type: "warning",
                //         message: "请选择居委"
                //     });
                //     this.storeDialogVisible = true;
                //     return false;
                // }
                // if (!this.addparams.districtId) {
                //     this.$message({
                //         type: "warning",
                //         message: "请选择小区"
                //     });
                //     this.storeDialogVisible = true;
                //     return false;
                // }
                this.$store.dispatch("saveRenovation", this.addparams).then((res) => {
                    if (res.data) {
                        Message.success("已完成");
                        this.getList();
                    } else {
                        Message.success(res.message);
                    }
                });
            }
        },
        juweiChange(val) {
            this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
                this.villageList = res.data;
            });
            this.addparams.districtId = "";
        },
        onEdit: function (item) {
            console.log(item);
            this.currentTitle = "编辑装修信息";
            this.storeDialogVisible = true;
            this.addparams.address = item.address;
            this.addparams.id = item.id;
            this.addparams.accountId = item.accountId;
            this.addparams.neighborhoodId = item.neighborhoodId;
            this.addparams.districtId = item.districtId;
            this.addparams.startTime = item.startTime;
            this.addparams.type = Number(item.type);
            this.addparams.endTime = item.endTime;
            this.addparams.treePath = item.treePath;
            this.addparams.content = item.content;
            this.addparams.status = Number(item.status);
            this.treePathlist = item.treePath.split('/').filter((element)=>!!element)
            // this.$store
            //     .dispatch("lggetDistrictList", { id: item.neighborhoodId })
            //     .then((res) => {
            //         this.villageList = res.data;
            //         this.addparams.districtId = item.districtId;
            //     });

        },

        getList() {
            this.$store.dispatch("getRenovationList", this.renovationParams);
        },
        query() {
            this.renovationParams.page = 1;
            this.getList();
        },
        reset() {
            this.renovationParams.name = null;
            this.getList();
        },
        handleChange(index) {
            Object.assign(this.renovationParams, { page: index })
            this.getList();
        },
        handleDelete: function (item) {
            console.log(item);
            this.$confirm("确定要删除该条记录么？", "提示", {})
                .then(() => {
                    this.$store
                        .dispatch("deleteRenovation", { id: item.id })
                        .then((res) => {
                            if (res.data) {
                                Message.success("已删除");
                                this.getList();
                            } else {
                                Message.success(res.msg);
                            }
                        });
                })
                .catch(() => {
                    this.$message({ type: "info", message: "已取消删除" });
                });
        },
        ...mapMutations([])
    },

    mounted() {
        this.getList();
        this.parentDistrictId = Vue.ls.get('parentDistrictId')

        this.$store.dispatch("lggetDistrictList", { id: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId") }).then((res) => {
            this.villageList = res.data;
        });
        // this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
        //     console.log(res.data);
        //     this.juweiList = res.data.filter(item => {
        //         return item.districtId == Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId")
        //     });
        //     console.log(222);
        // })
    },
    filters: {},
    watch: {},
    computed: {
        ...mapState({
            RenovationList: (state) => state.lgadmin.RenovationList,
            renovationParams: (state) => state.lgadmin.renovationParams
        }),
        ...mapGetters([])
    },
    components: {
        combination 

    }
};
</script>

<style lang="less" scoped>
.mapbox {
    width: 100%;
    height: 400px;
    position: relative;
    .search {
        position: absolute;
        right: 2%;
        top: 0%;
        display: flex;
        flex-direction: row;
        z-index: 99999;
    }
}
</style>
<style >
.bigBox {
    background: #eaeef4;
    padding-top: 10px;
    box-sizing: border-box;
}
.store-mamage {
    width: 100%;
    height: 100%;
    background: #fff;
}
</style>
