<template>
  <div class="bigBox">
    <div class="info-capture">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="deviceForm" class="demo-form-inline">
            <el-form-item label="消防站名称">
              <el-input
                v-model="params.name"
                placeholder="请输入消防站名称"
                prop="name"
              ></el-input>
            </el-form-item>
            <el-form-item label="消防设备">
              <el-input
                v-model="params.deviceName"
                placeholder="请输入消防设备"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button plain @click="onSearch">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="success" @click="onReset">重置</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加</el-button>
            </el-form-item>
            <!-- <el-form-item>
            <el-upload
              ref="uploadExcel"
              class="upload-demo"
              action="https://jsonplaceholder.typicode.com/posts/"
              :on-success="handleOnSuccess"
              :on-error="handleOnError"
              :on-progress="handleOnProgress"
              :limit="1"
              :show-file-list="false"
              :file-list="fileList"
              :on-exceed="handleExceed"
            >
              <el-button type="info" @click="onImport">批量导入</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item>
            <el-button type="warning" @click="onDownload">下载模板</el-button>
          </el-form-item> -->
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="fireHouseList.list" border style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-table stripe border :data="props.row.device">
                  <el-table-column
                    prop="name"
                    label="设备名称"
                  ></el-table-column>
                  <el-table-column prop="count" label="设备数量">
                    <!-- <template slot-scope="scope">
                    <span>{{scope.row.device.length}}</span>
                  </template> -->
                  </el-table-column>
                  <el-table-column
                    prop="repairTime"
                    label="最近维保时间"
                  ></el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <el-row type="flex" justify="center">
                        <el-col :span="12" style="text-align: center">
                          <el-button
                            size="small"
                            type="primary"
                            @click="onEditDevice(scope.row)"
                          >
                            编辑
                          </el-button>
                        </el-col>
                        <el-col :span="12" style="text-align: center">
                          <el-button
                            size="small"
                            type="danger"
                            @click="handleDeleteDevice(scope.row)"
                          >
                            删除
                          </el-button>
                        </el-col>
                      </el-row>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-table-column>
            <el-table-column
              prop="fireHouse.name"
              label="消防站名称"
            ></el-table-column>
            <el-table-column
              prop="fireHouse.address"
              label="消防站地址"
            ></el-table-column>
            <el-table-column prop="lnglat" label="消防站经纬度">
              <template slot-scope="scope">
                {{ scope.row.fireHouse.lng }},{{ scope.row.fireHouse.lat }}
              </template>
            </el-table-column>
            <el-table-column
              prop="fireHouse.neighborhood"
              label="所属居委"
            ></el-table-column>
            <el-table-column
              prop="fireHouse.districtName"
              label="所属小区"
            ></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="8" style="text-align: center">
                    <el-button size="small" @click="onAddDevice(scope.row)">
                      添加器材
                    </el-button>
                  </el-col>
                  <el-col :span="8" style="text-align: center">
                    <el-button
                      size="small"
                      type="primary"
                      @click="onEdit(scope.row)"
                    >
                      编辑
                    </el-button>
                  </el-col>
                  <el-col :span="8" style="text-align: center">
                    <el-button
                      size="small"
                      type="danger"
                      @click="handleDelete(scope.row)"
                    >
                      删除
                    </el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :page-size="params.limit"
            :total="fireHouseList.totalCount"
            @current-change="changepage"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog
        :title="currentTitle"
        :visible.sync="personDialogVisible"
        width="50%"
      >
        <el-row type="flex" justify="center">
          <el-col :span="23">
            <el-form :rules="form1Rules" ref="form1" :model="personDialogForm">
             
              <el-form-item prop="juwei" label="所属小区" label-width="85px">
                      <combination v-if="personDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>

              </el-form-item>
              <el-form-item prop="name" label="名称" label-width="85px">
                <el-input v-model="personDialogForm.name"></el-input>
              </el-form-item>
              <el-form-item prop="name" label="消防站地址" label-width="85px">
                <el-input v-model="personDialogForm.address"></el-input>
              </el-form-item>
              <el-form-item prop="lngLat" label="经纬度" label-width="85px">
                <el-row :gutter="20" type="flex" justify="left">
                  <el-col>
                    <el-input v-model="personDialogForm.lngLat"></el-input>
                  </el-col>
                  <!-- <el-col>
                  <el-button type="primary" @click="openNewTab">
                    查询经纬度
                  </el-button>
                </el-col> -->
                </el-row>
              </el-form-item>
            </el-form>
            <div class="mapbox" ref="abc" id="yui">
              <table class="search">
                <tr>
                  <td>
                    <el-input v-model="address"></el-input>
                  </td>
                </tr>
                <tr>
                  <td>
                    <el-button @click="search" type="primary">搜索</el-button>
                  </td>
                </tr>
              </table>
            </div>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="personDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog
        :title="currentDeviceTitle"
        :visible.sync="deviceDialogVisible"
        width="50%"
      >
        <el-row type="flex" justify="center">
          <el-col :span="23">
            <el-form :rules="form2Rules" ref="form2" :model="deviceForm">
              <el-form-item prop="name" label="器材名称" label-width="120px">
                <el-input v-model="deviceForm.name"></el-input>
              </el-form-item>
              <el-form-item prop="count" label="器材数量" label-width="120px">
                <el-input type="number" v-model="deviceForm.count"></el-input>
              </el-form-item>
              <el-form-item
                prop="repairTime"
                label="最近维保时间"
                label-width="120px"
              >
                <el-date-picker
                  style="width: 100%"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  v-model="deviceForm.repairTime"
                  type="date"
                  placeholder="选择日期"
                ></el-date-picker>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deviceDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmDeviceForm">
            确 定
          </el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
import combination from "@/components/lingang/combination";
export default {
  data() {
    return {
      treePathlist:[],
      parentDistrictId:'',
      currentDeviceTitle: "添加器材",
      deviceDialogForm: {},
      deviceDialogVisible: false,
      fileList: [],
      treeData: [],
      villageList: [{ name: "临港家园" }],
      form1Rules: {},
      address: "",

      personDialogForm: {
        name: "",
        lngLat: "",
        villageName: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        xiaoquName: "",
        address: "",
        lng: "",
        lat: "",
        neighborhoodId: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        districtId: ""
      },
      preMarker: [],
      currentTitle: "添加人员 ",
      personDialogVisible: false,
      tableData: [],
      deviceForm: { name: "", count: 0, repairTime: "", deviceId: "" },
      loading: null,
      params: {
        name: "",
        deviceName: "",
        page: 1,
        limit: 10
      },
      form2Rules: {
        name: [{ required: true, message: "请输入器材名称", trigger: "blur" }],
        repairTime: [
          { required: true, message: "请选择维保时间", trigger: "change" }
        ]
      }
    };
  },
  methods: {
    initMap() {
      var that = this;
      this.map = new AMap.Map("yui", {
        zoom: 11,
        resizeEnable: true,
        center: [121.473658, 31.230378]
      });
      var clickevent = this.map.on("click", function (e) {
        if (that.preMarker.length > 0) {
          that.map.remove(that.preMarker[0]);
        }
        console.log(e);
        var geocoder = new AMap.Geocoder({
          radius: 1000,
          extensions: "all"
        });
        // geocoder.getAddress(
        //   [e.lnglat.lng, e.lnglat.lat],
        //   function (status, result) {
        //     console.log(result);
        //     that.params.placeOfLost = result.regeocode.formattedAddress;
        //   }
        // );
        that.personDialogForm.lngLat = e.lnglat.lng + "," + e.lnglat.lat;
        that.addMarker([e.lnglat.lng, e.lnglat.lat]);
      });
    },
    keywordSearch_CallBack(data) {
      if (this.preMarker.length > 0) {
        this.map.remove(this.preMarker[0]);
      }
      this.addMarker([
        data.poiList.pois[0].location.lng,
        data.poiList.pois[0].location.lat
      ]);
      this.personDialogForm.lngLat =
        data.poiList.pois[0].location.lng +
        "," +
        data.poiList.pois[0].location.lat;
      // this.params.placeOfLost = data.poiList.pois[0].name;
      console.log(data);
    },
    addMarker(lnglatXY) {
      var marker = new AMap.Marker({
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
        position: lnglatXY
      });
      this.preMarker = [];
      this.preMarker.push(marker);
      marker.setMap(this.map);
      this.map.setFitView();
    },
    search() {
      var placeSearch;
      this.map.plugin(
        ["AMap.PlaceSearch", "AMap.ToolBar", "AMap.Scale"],
        () => {
          this.map.addControl(new AMap.ToolBar());
          this.map.addControl(new AMap.Scale());
          placeSearch = new AMap.PlaceSearch({
            city: this.address
          });
          AMap.event.addListener(
            placeSearch,
            "complete",
            this.keywordSearch_CallBack
          );
          placeSearch.search(this.address);
        }
      );
    },
    getVillages(data){
        console.log(data);
        this.personDialogForm.treePath = data.treePath
        this.personDialogForm.districtId = data.districtId
    },
    changepage(index) {
      this.params.page = index;
      this.$store.dispatch("getFireHouse", this.params);
    },
    handleDeleteDevice: function (item) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgdeleteqcDevice", { id: item.id })
            .then((res) => {
              if (res.data) {
                this.$store.dispatch("getFireHouse", this.params);
                this.$message({ type: "success", message: "删除成功 " });
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    juweiChange(val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.villageList = res.data;
      });
      // this.addparams.districtId = "";
    },
    onEditDevice: function (item) {
      this.deviceForm = item;
      this.deviceDialogVisible = true;
      this.currentDeviceTitle = "编辑器材";
    },
    handleConfirmDeviceForm: function () {
      console.log(this.deviceForm);
      this.deviceForm.count = Number(this.deviceForm.count);
      this.$refs["form2"].validate((val) => {
        if (val) {
          this.$store.dispatch("lgaddqcDevice", this.deviceForm).then((res) => {
            if (res.data) {
              this.$store.dispatch("getFireHouse", this.params);
              this.deviceDialogVisible = false;
            }
          });
        }
      });
    },
    onAddDevice: function (item) {
      this.deviceForm.deviceId = item.fireHouse.id;
      this.currentDeviceTitle = "添加器材";
      this.deviceDialogVisible = true;
    },
    openNewTab: function () {
      window.open("https://lbs.amap.com/tools/picker");
    },
    handleOnProgress: function () {
      this.loading = this.$loading({
        lock: true,
        text: "文件上传中",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
    },
    handleOnSuccess: function (...arg) {
      console.log(arg);
      this.loading.close();
      this.loading = null;
      this.$message({ message: "上传成功", type: "success" });
      let [, file] = [...arg];
      this.$refs.uploadExcel.clearFiles();
    },
    handleOnError: function (...arg) {
      console.log(arg);
      this.$message({ message: "上传失败", type: "error" });
      this.loading.close();
      this.loading = null;
    },
    handleExceed: function (...arg) {
      console.log(arg);
    },
    onDownload: function () {
      let a = document.createElement("a");
      a.href =
        "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingang/%E5%89%AF%E6%9C%AC%E4%B8%B4%E6%B8%AF%E6%99%BA%E7%9C%BC%E4%BB%BB%E5%8A%A1%E8%AE%A1%E5%88%920916.xlsx";
      a.download = "模板.xlsx";

      document.body.appendChild(a);

      a.click();
      a.remove();
    },
    handleConfirmForm: function () {
      console.log(this.personDialogForm, this.currentTitle);
      console.log(this.currentTitle.indexOf("编辑"));
      if (this.currentTitle.indexOf("编辑") !== -1) {
        this.personDialogForm.lng = this.personDialogForm.lngLat.split(",")[0];
        this.personDialogForm.lat = this.personDialogForm.lngLat.split(",")[1];
        // if (typeof this.personDialogForm.xiaoquName == "object") {
          this.personDialogForm.districtId =
            this.personDialogForm.xiaoquName;
        // } else {
        //   console.log("");
        // }
        // if (typeof this.personDialogForm.villageName == "object") {
          this.personDialogForm.neighborhoodId =
            this.personDialogForm.villageName;
        // } else {
        //   console.log("");
        // }
        this.$store
          .dispatch("lgupdateDevice", this.personDialogForm)
          .then((res) => {
            if (res.data) {
              this.$store.dispatch("getFireHouse", this.params);
              this.personDialogForm = {
                name: "",
                lngLat: "",
                villageName: "",
                xiaoquName: "",
                lng: "",
                lat: "",

                neighborhoodId: "",
                districtId: "",
                address: ""
              };
            }
          });
        this.personDialogVisible = false;
      } else {
        this.personDialogForm.lng = this.personDialogForm.lngLat.split(",")[0];
        this.personDialogForm.lat = this.personDialogForm.lngLat.split(",")[1];
        this.personDialogForm.neighborhoodId =
          this.personDialogForm.villageName;
        this.personDialogForm.districtId = this.personDialogForm.xiaoquName;
        // console.log(this.personDialogForm)
        this.$store
          .dispatch("lgaddDevice", this.personDialogForm)
          .then((res) => {
            if (res.data) {
              this.$store.dispatch("getFireHouse", this.params);
              this.personDialogForm = {
                name: "",
                lngLat: "",
                villageName: "",
                xiaoquName: "",
                lng: "",
                lat: "",
                neighborhoodId: "",
                districtId: ""
              };
            }
          });
        this.personDialogVisible = false;
      }
    },
    handleDelete: function (item) {
      console.log(item);
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgdeleteDevice", { id: item.fireHouse.id })
            .then((res) => {
              console.log(res);
            });
          this.$message({ type: "success", message: "删除成功 " });
          this.$store.dispatch("getFireHouse", this.params);

        })
        .catch(() => {
          // this.$message({ type: "info", message: "已取消删除" });
        });
    },
    onEdit: function (item) {
      this.$store
        .dispatch("lggetDistrictList", { id: item.fireHouse.neighborhoodId })
        .then((res) => {
          this.villageList = res.data;
          // this.personDialogForm.xiaoquName = item.districtId;
          item.fireHouse.lngLat = "";
          this.personDialogForm = item.fireHouse;
          console.log(this.personDialogForm);
          this.personDialogForm.lngLat = `${item.fireHouse.lng},${item.fireHouse.lat}`;
          this.personDialogForm.villageName = item.fireHouse.neighborhoodId;
          this.personDialogForm.xiaoquName = item.fireHouse.districtId;
          this.personDialogForm.address = item.fireHouse.address;
          this.personDialogForm.treePath = item.fireHouse.treePath;
          this.personDialogForm = JSON.parse(JSON.stringify(this.personDialogForm));
           this.treePathlist = item.fireHouse.treePath.split('/').filter((element)=>!!element)
          this.currentTitle = "编辑消防站";
          this.personDialogVisible = true;
        });
      setTimeout(() => {
        this.initMap();
      }, 100);
    },
    onSearch: function () {
      this.$store.dispatch("getFireHouse", this.params);
    },
    onReset: function () {
      this.params = {
        name: "",
        deviceName: "",
        page: 1,
        limit: 10
      };
      this.$store.dispatch("getFireHouse", this.params);
    },
    onAdd: function () {
      this.currentTitle = "添加消防站";
      this.personDialogVisible = true;
      setTimeout(() => {
        this.initMap();
      }, 100);
    },
     getVillageList(){
      this.$store.dispatch("lggetDistrictList", { id: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId") }).then((res) => {
        this.villageList = res.data;
      });
      // this.addProjectForm.villageId = null;
    },
    onImport: function () {},
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get("parentDistrictId");
    this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
      this.treeData = res.data;
    });
    this.getVillageList();
    this.$store.dispatch("getFireHouse", this.params);
  },

  filters: {},
  watch: {},
  computed: {
    ...mapState({
      fireHouseList: (state) => state.lgadmin.fireHouseList
    }),
    ...mapGetters([])
  },
  components: {combination}
};
</script>

<style lang="less" scoped>
.mapbox {
  width: 100%;
  height: 400px;
  position: relative;
  .search {
    position: absolute;
    right: 2%;
    top: 0%;
    display: flex;
    flex-direction: row;
    z-index: 99999;
  }
}
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.info-capture {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
