<template>
  <div class="basecontainer">
    <div class="highPointTabs">
      <div class="headerBox">
        <div class="firstrow">
          <div class="inputBox">
            <div class="title">安装地址:</div>
              <el-input v-model="params.address"></el-input>
              <el-button
                v-permission="'ADD_PROJECT'"
                @click="addProject"
                plain
                type="primary"
                style="margin-left: 20px;"
              >
                添加
              </el-button>
              
              <el-button
                @click="query"
                type="primary"
                style="margin-left: 20px;"
              >
                查询
              </el-button>
              <el-button @click="reset" style="">重置</el-button>
              
          </div>
          
          
        </div>

        <div class="firstrow">
          
        </div>
      </div>

      <div class="tablebox" style="margin-top: 20px">
        <el-table
          :data="projectList.data.list"
          tooltip-effect="dark"
          style="width: 100%"
          :header-cell-style="{ background: '#eef1f6' }"
          :row-key="getRowKeys"
          :expand-row-keys="expands"
          @expand-change="toggleRowExpansion"
        >
          <el-table-column type="expand">
            <template slot-scope="scope">
              <el-table
                :data="scope.row.projectPlanList.data.list"
                tooltip-effect="dark"
                style="width: 100%"
                :header-cell-style="{ background: '#eef1f6' }"
                :row-style="{ background: '#eef1f6' }"
              >
                <el-table-column
                  label="设备类型"
                  align="center"
                  prop="deviceTypeName"
                ></el-table-column>
                <el-table-column
                  prop="imei"
                  label="设备编号"
                  align="center"
                  show-overflow-tooltip=""
                ></el-table-column>

                <el-table-column
                  prop="timeOut"
                  label="告警阈值(小时)"
                  align="center"
                  show-overflow-tooltip
                ></el-table-column>
             
                <el-table-column align="center" label="操作" width="250px">
                  <template slot-scope="scope">
                    <el-button
                      size="mini"
                      @click="editBlendPlan(scope.row)"
                      v-permission="'EDIT_PLAN_AMOUNT'"
                    >
                      编辑
                    </el-button>
                    <el-button
                      
                      size="mini"
                      type="danger"
                      plain
                      @click="handledeviceDelete(scope.row)"
                    >
                      删除
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <div
                class="addprojectTable"
                v-if="scope.row.projectPlanList.data.list.length > 5"
              >
                <el-pagination
                  @current-change="handlePlanPaginationChange"
                  background
                  :page-size="projectPlanListParams.limit"
                  layout="prev, pager, next,total"
                  :total="scope.row.projectPlanList.data.totalCount"
                ></el-pagination>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            label="所属小区"
            align="center"
            prop="villageName"
          ></el-table-column>
          <el-table-column
            prop="address"
            label="安装地址"
            align="center"
            show-overflow-tooltip=""
          ></el-table-column>

          <el-table-column
            prop="deviceNum"
            label="设备数量"
            align="center"
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            prop="sum"
            label="经纬度"
            align="center"
            show-overflow-tooltip
          >
          <template slot-scope="scope">
              <div>{{scope.row.lat}}、{{scope.row.lng}}</div>
          </template>
          </el-table-column>
         
          <el-table-column align="center" label="操作" width="250px">
            <template slot-scope="scope">
              
              <el-button
                size="mini"
                type="danger"
                @click="addBlendPlan(scope.row)"
                v-permission="'ADD_PLAN_AMOUNT'"
              >
                添加设备
              </el-button>
              <el-button
                v-permission="'EDIT_PROJECT'"
                size="mini"
                @click="editProject(scope.row)"
              >
                编辑
              </el-button>
              <el-button
                v-permission="'EDIT_PROJECT'"
                size="mini"
                @click="delAddress(scope.row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-pagination
        @current-change="handleChange"
        background
        :page-size="params.limit"
        layout="prev, pager, next,total"
        :total="projectList.data.totalCount"
      ></el-pagination>
    </div>
    <el-dialog
      title="新增地址"
      :visible.sync="addDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="addProjectForm"
        :label-position="labelPosition"
        label-width="80px"
      >
        <el-form-item label="所属小区:">
                     <combination v-if="addDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>

        </el-form-item>
        <el-form-item label="安装地址:">
          <el-input
            v-model="addProjectForm.address"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="经度:">
          <el-input
            v-model="addProjectForm.lat"
            autocomplete="off"
            
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="纬度:">
          <el-input
            v-model="addProjectForm.lng"
            autocomplete="off"
            
            style="width: 90%"
          ></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addProjectConfirm"
          :loading="!upPicSuccess"
        >
         确 定
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="编辑地址"
      :visible.sync="editProjectDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="addProjectForm"
        :label-position="labelPosition"
        label-width="80px"
      >
       
        <el-form-item label="所属小区:">
           <combination :districtId='parentDistrictId' @getVillages='getVillagesedit' :villagelist="treePathlist"></combination>
        </el-form-item>
        <el-form-item label="安装地址:">
          <el-input
            v-model="editAddressParams.address"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="经度:">
          <el-input
            v-model="editAddressParams.lat"
            autocomplete="off"
            
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="纬度:">
          <el-input
            v-model="editAddressParams.lng"
            autocomplete="off"
            
            style="width: 90%"
          ></el-input>
        </el-form-item>

       
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editProjectDialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="editProjectConfirm"
          :loading="!upPicSuccess"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%" center>
      <span>是否删除改地址?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="delconfirm">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="添加设备"
      :visible.sync="addPlanDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="editform"
        :label-position="labelPosition"
        label-width="110px"
      >
       <el-form-item label="设备名称:">
          <el-input
            v-model="addPlanParams.name"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="设备类型:">
          <el-select v-model="addPlanParams.productId" placeholder="请选择" style="width:90%" @change="typeChange">
            <el-option
              v-for="item in deviceTypeList"
              :key="item.id"
              :label="item.nickName"
              :value="item.productId"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="设备编号:">
          <el-input
            v-model="addPlanParams.imei"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
        <el-form-item label="告警阈值:">
          设备超过<el-input
            v-model="unitCount"
            autocomplete="off"
            style="width: 50%"
            :disabled="unitCountInvalid"
          ></el-input>({{unit}})未触发则产生告警
        </el-form-item>
        
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addPlanDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addBlendPlanConfirm">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="编辑设备"
      :visible.sync="editPlanDialogVisible"
      width="30%"
      center
    >
      <el-form
        :model="editPlanParams"
        :label-position="labelPosition"
        label-width="110px"
      >
       
        <el-form-item label="生产阈值(小时):">
          <el-input
            v-model="editPlanParams.timeOut"
            autocomplete="off"
            style="width: 90%"
          ></el-input>
        </el-form-item>
       
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editPlanDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editBlendPlanConfirm">
          确 定
        </el-button>
      </span>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="alertDialog" width="30%">
      <span>该项目在系统中已存在，无需重复录入!</span>
      <br />
      <br />
      <span slot="footer">
        <el-button @click="alertDialog = false">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Message } from "element-ui";
import { mapState } from "vuex";
import combination from "@/components/lingang/combination";

import Vue from "vue";
export default {
  data() {
    return {
      treePathlist:[],
      parentDistrictId:'',
      current:1,
      params: {
        page: 1,
        limit: 10,
        address: null,
      },
      juweiList: [{ name: "临港家园" }],
      villageList: [{ name: "临港家园" }],
      addOrEdit: 0,
      alertDialog: false,
      projectPlanListParams: {
        page:1,
        limit:10,
        addressId:""
      },
      unit:"天",
      projectDetailParams: {},
      addProjectForm: {
        address: null,
        districtId:Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        villageId: null,
        lat: null,
        lng: null,
        treePath:""
      },
      checkParams: {
         contents: [],
        approvalType: null,
        approvalContent: null,
        approvalRemark: null,
        produceTime: "",
        specification: null,
        expectedNum: null,
        reporter: Vue.ls.get("name")
      },
      editProjectForm: {
        workSpace: null,
        sum: null,
        projectName: null,
        person: null,
        id: null,
        contents: [],
        contract: []
      },
      addPlanParams: {
        imei:"",
        productId:null,
        name: "",
        districtId: null,
        villageId: null,
        addressId: "",
        timeOut:null,
      },
      editPlanParams: {
        timeOut:0,
        id: null
      },
      unitCount:0,
      fileList: [],
      editform: {
        title: "",
        content: "",
        createName: Vue.ls.get("name"),
        createTime: null
      },
      delParams: {
        id: null
      },
      editOrADD: 1,
      cacheFileList: [],
      expands: [],
      expandListShow: false,
      getRowKeys(row) {
        return row.id;
      },
      projectPlanList: {
        results: [
          {
            realNum: 0,
            expectedNum: 10
          }
        ]
      },
      editAddressParams:{
        address: null,
        districtId: null,
        villageId: null,
        lat: null,
        lng: null,
        treePath:""
      },
      unitCountInvalid:false,
      datepicker: [],
      multipleSelection: [],
      addDialogVisible: false,
      editProjectDialogVisible: false,
      delDialogVisible: false,
      labelPosition: "left",
      dialogImageUrl: null,
      hideUploadEdit: false,
      upPicSuccess: true,
      addPlanDialogVisible: false,
      editPlanDialogVisible: false,
      tomorrowPorductionDialogVisible: false,
      checkDialogVisible: false,
      deviceTypeList:[]
    };
  },
  methods: {
    typeChange(val){
      console.log(val)
      if(val == 15113359){
        // this.addPlanParams.timeOut = this.unitCount*24
        this.unit = "天";
        this.unitCountInvalid = false

      }else if(val == 15112863){
        // this.addPlanParams.timeOut = this.unitCount
        this.unit = "小时";
        this.unitCountInvalid = false

      }else{
        // this.addPlanParams.timeOut = 0
        this.unit = "小时";
        this.unitCount = 0
        this.unitCountInvalid = true
      }
    },
    addBlendPlan(row) {
      console.log(row)
      this.addPlanDialogVisible = true;
      this.addPlanParams.imei = row.imei;
      this.addPlanParams.districtId = row.districtId;
      this.addPlanParams.villageId = row.villageId;
      this.addPlanParams.addressId = row.id;
      
      
    },
    editBlendPlan(row) {
      this.editPlanParams.id = row.id;
      this.editPlanParams.timeOut = row.timeOut;
      this.editPlanDialogVisible = true;
    },
    editBlendPlanConfirm() {
      this.$store.dispatch("igeditNbDevice",this.editPlanParams)
      .then(res =>{
        if(res.msg == "success"){
          this.$message.success("修改成功");
          this.getProjectPlanList();
          this.editPlanDialogVisible = false
        }
        else{
          this.$message.success(res.msg);
          // this.editPlanDialogVisible = false


        }
      })
    },
    getVillages(data){
        this.addProjectForm.treePath = data.treePath
        this.addProjectForm.districtId = data.districtId
    },
    getVillagesedit(data){
        this.editAddressParams.treePath = data.treePath
        this.editAddressParams.districtId = data.districtId
    },
    editaddressConfirm(){

    },
    addBlendPlanConfirm() {
      if(this.addPlanParams.productId == 15113359){
        this.addPlanParams.timeOut = this.unitCount*24
      }else if(this.addPlanParams.productId == 15112863){
        this.addPlanParams.timeOut = this.unitCount
        this.unit = "小时";
      }else{
        this.addPlanParams.timeOut = 0
        this.unit = "小时";
      }
      this.$store
        .dispatch("igaddNbDevice", this.addPlanParams)
        .then((res) => {
          if(res.msg == "success"){
            this.$message.success("添加成功");
            this.getProjectPlanList();
            this.addPlanDialogVisible = false
          }else{
            this.$message.success(res.msg);

          }

        });
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleChange(index) {
      this.params.page = index;
      this.getProjectList();
    },
    handlePlanPaginationChange(index) {
      this.projectPlanListParams.page = index
      this.getProjectPlanList();
    },
    dataChange(val) {
      this.projectPlanListParams.startDate = val[0];
      this.projectPlanListParams.endDate = val[1];
    },

    getBlendType() {
      this.$store.dispatch("getBlendType");
    },
    getProjectBlendType(id) {
      this.$store.dispatch("getProjectBlendType", { id: id });
    },
    getCheckType() {
      this.$store.dispatch("getCheckType");
    },
    checkConfirm() {
      this.$store.dispatch("addApprove", this.checkParams).then((res) => {
        if (res.result != null) {
          this.checkDialogVisible = false;
          Message.success("提交成功");
          this.getProjectPlanList();
        } else {
          Message.success(res.error.message);
          this.checkDialogVisible = false;
        }
      });
    },
    getProjectList() {
      return this.$store.dispatch("igGetNBaddress", this.params);
    },
    getProjectDetail(item) {
      this.$store.dispatch("getProjectDetail", { id: item.id }).then((res) => {
        this.editProjectForm = res.result;
        this.editProjectForm.contents.forEach((item) => {
          Object.assign(item, { disabled: true });
        });
        this.editProjectDialogVisible = true;
        this.fileList = [];
        res.result.contract.forEach((item) => {
          this.fileList.push(item);
        });
      });
    },
    getProjectPlanList() {
      this.$store.dispatch("ignbDeviceList", this.projectPlanListParams);
    },
    query() {
      this.params.page = 1;
      this.getProjectList();
      
    },
    reset() {
      this.params.address = null;
      this.getProjectList();
    },
    delAddress(item) {
      this.delParams.id = item.id;
      this.delDialogVisible = true;
    },
    delconfirm() {
      this.delDialogVisible = false;
      
      this.$store.dispatch("igdelNbAddress",this.delParams)
      .then(res =>{
          if(res.msg == "success"){
            this.$message.success("已删除");
            this.getProjectList();
          }
      })
    },
    handledeviceDelete(item){
      this.$confirm("确定要删除该设备么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("igdelNbDevice", { id: item.id })
            .then((res) => {
              if (res.msg == "success") {
                Message.success("已删除");
                this.getProjectPlanList();
              } else {
                Message.success(res.msg);
              }
            });
          this.$message({ type: "success", message: "删除成功 " });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
 

    addProject() {
      this.addOrEdit = 0; //确定弹出的事添加项目框
      this.addDialogVisible = true;
      this.addProjectForm.contract = []; //每次点开添加项目弹框时,设置上传的图片的数组为空,防止出现上次操作时的遗留数据
      this.fileList = [];
    },
    delProjectBlendTable(item) {
      console.log(item);
      if (this.addOrEdit == 0) {
        //0代表弹出的是添加框,1代表弹出的是编辑框
        this.addProjectForm.contents.splice(item, 1);
        console.log(this.addProjectForm.contents);
      } else {
        this.editProjectForm.contents.splice(item, 1);
      }
    },
    addProjectConfirm() {
      this.$store.dispatch("igaddNbAddress", this.addProjectForm).then((res) => {
          if (res) {
            this.addDialogVisible = false;
            Message.success("添加成功");
            this.getProjectList();
          } else {
            Message.success(res.message);
          }
        });
      
    },
    onBlendValueChange() {
      let total = 0;
      this.addProjectForm.contents.forEach((item) => {
        total = total + item.total;
      });
      this.addProjectForm.sum = total;
    },
    editProject(item) {
      this.addOrEdit = 1; //确定弹出的是编辑项目框
      this.editProjectDialogVisible = true
      this.editAddressParams.districtId = item.districtId;
      this.editAddressParams.villageId = item.villageId;
      this.editAddressParams.lat = item.lat;
      this.editAddressParams.lng = item.lng;
      this.editAddressParams.address = item.address;
      this.editAddressParams.id = item.id;
      this.editAddressParams.treePath = item.treePath;
      this.treePathlist = item.treePath.split('/').filter((element)=>!!element)
    },
    editProjectConfirm() {
      this.$store
        .dispatch("igeditNbAddress", this.editAddressParams)
        .then((res) => {
          if (res.msg == "success") {
            this.editProjectDialogVisible = false;
            Message.success("修改成功");
            this.getProjectList();
          } else {
            Message.success(res.msg);
          }
        });
    },
    beforeUpload(file) {
      this.upPicSuccess = false;
      let fd = new FormData();
      fd.append("files", file);
      this.$http.post("/asp/v1/project/files/upload", fd).then((res) => {
        this.upPicSuccess = true;
        if (res.results.length > 0) {
          this.fileList.push(res.results[0]); //上传文件成功后,将返回的url添加添加项目的图片数据中
        } else {
          Message.success(res.errors[0]);
        }
      });
    },

    handleRemove(file, fileList) {
      this.fileList = fileList;
    },
    handleExceed(files, fileList) {
      console.log(file);
    },
    handlePreview(file, fileList) {
      window.open(process.env.VUE_APP_LQ_DOWNLOAD + file.url);
    },
    getTorromowPlan() {
      this.$store.dispatch("getTorromowPlan", { date: this.getDate() });
    },
    torromowProduction() {
      this.tomorrowPorductionDialogVisible = true;
      this.getTorromowPlan();
    },
    expandOnClick(row, expandedRows) {
      console.log(expandedRows);
    },
    toggleRowExpansion(row) {
      if (this.expands.length > 0 && this.expands[0] == row.id) {
        //当id相同时,代表点击了已经打开的行此时应关闭拓展列表
        this.expands = [];
      } else {
        this.expands = [];
        this.expands.push(row.id);
        
      }
      console.log(this.expands)

      if (row.id != this.projectPlanListParams.addressId) {
        //当id不同时,代表点击了不同的行,请求新的数据,避免出现每次点击都请求数据
        this.projectPlanListParams.addressId = row.id;
        this.getProjectPlanList();
      }
    },
    getTotalPercentage(row) {
      var num = (row.produced / row.sum) * 100;
      return num.toFixed(2) + "%";
    },
    getTodayPercentage(row) {
      var num = (row.realNum / row.expectedNum) * 100;
      return num.toFixed(2) + "%";
    },
    juweiChange(val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.villageList = res.data;
      });
      this.addProjectForm.villageId = null;
    },
    getVillageList(){
      this.$store.dispatch("lggetDistrictList", { id: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId") }).then((res) => {
        this.villageList = res.data;
      });
      this.addProjectForm.villageId = null;
    },
    getDate() {
      var timestamp = Date.parse(new Date());
      var date = new Date(timestamp + 86400000);
      var year = date.getFullYear();
      var month = date.getMonth() + 1;
      var day = date.getDate();
      if (month < 10) {
        month = "0" + month;
      }
      if (day < 10) {
        day = "0" + day;
      }
      return year + "-" + month + "-" + day;
    },
    ignbDeviceTypeList(){
      this.$store.dispatch("ignbDeviceTypeList")
      .then(res =>{
        this.deviceTypeList = res.data;
      })
    }
  },
  created() {},
  mounted() {
    this.parentDistrictId = Vue.ls.get("parentDistrictId");
    this.ignbDeviceTypeList();
    this.getProjectList();
    // this.getVillageList();
    // this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
    //   this.juweiList = res.data;
    // });
    
  },
  computed: {
    ...mapState({
      noticeToVistorList: (state) => state.oldStreet.noticeToVistorList,
      projectList: (state) => state.lgadmin.igGetNBaddress,
      projectDetail: (state) => state.lqc.projectDetail,
      blendType: (state) => state.lqc.blendType,
      projectBlendType: (state) => state.lqc.projectBlendType,
      torromowPlan: (state) => state.lqc.torromowPlan,
      checkType: (state) => state.lqc.checkType
    })
  },
  components: {
    combination
  }
};
</script>

<style lang="less" scoped>
.basecontainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #eaeef4;
}
.highPointTabs {
  height: fit-content;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 0.7%;
  .headerBox {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .firstrow {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .rightBtnGroup {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 2rem;
        align-items: center;
      }
    }
  }
  .inputBox {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    .title {
      color: #333333;
      font-size: 15px;
      width: 6rem;
      // text-align: right;
    }
  }
  .tablebox {
    min-height: 75%;
    width: 100%;
    // overflow-y: scroll;
  }
  .addForm {
    height: 390px;
    width: 100%;
    // background: chartreuse;
    display: flex;
    flex-direction: row;
    .halfBox {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .itembox {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          height: 60px;
          line-height: 60px;
          width: 35%;
          text-align: left;
        }
      }
    }
  }
}
.addprojectTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
<style>
.el-table .warning-row {
  /* --el-table-tr-background-color: var(--el-color-warning-lighter); */
  --el-table-tr-background-color: red;
}
</style>
