<template>
  <div class="bigBox">
    <div class="info-capture">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="pagination" class="demo-form-inline">
            <el-form-item label="姓名">
              <el-input v-model="pagination.name" placeholder="请输入姓名" prop="name"></el-input>
            </el-form-item>
            <el-form-item label="手机号">
              <el-input v-model="pagination.mobile" placeholder="请输入手机号"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button plain @click="onSearch">查询</el-button>
            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="choose">筛选条件</el-button>
            </el-form-item>

            <el-form-item>
              <el-button type="success" @click="onReset">重置</el-button>
            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="onAdd">添加</el-button>
            </el-form-item>

            <el-form-item>
              <!-- <el-button @click="showImportDialog" type="primary">
                批量导入
              </el-button>-->
              <el-upload
                action
                :limit="1"
                :before-upload="beforeUpload"
                :show-file-list="false"
                :auto-upload="true"
                class="upload"
              >
                <el-button type="primary">批量导入</el-button>
              </el-upload>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="downModule">批量导入模板</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="downloadData">下载数据</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column prop="name" label="姓名"></el-table-column>
            <el-table-column prop="birthDay" label="出生日期"></el-table-column>
            <el-table-column prop="mobile" label="手机号"></el-table-column>
            <el-table-column prop="parentDistrictName" label="所属居委"></el-table-column>
            <el-table-column prop="districtName" label="所属小区"></el-table-column>
            <el-table-column prop="address" label="住址"></el-table-column>
            <el-table-column label="人口状态">
              <template slot-scope="scope">
                <!-- <el-checkbox-group v-model="scope.row.renkou" > -->
                <el-checkbox label="实有人口" v-model="scope.row.realPerson" disabled></el-checkbox>
                <el-checkbox label="户籍人口" v-model="scope.row.censusPerson" disabled></el-checkbox>
                <!-- </el-checkbox-group> -->
              </template>
            </el-table-column>
            <el-table-column prop="shCode" label="随申码状态">
              <template slot-scope="scope">{{ scope.row.shCode == 0 ? "异常" : "正常" }}</template>
            </el-table-column>
            <el-table-column prop="isVaccine" label="接种疫苗状态">
              <template slot-scope="scope">{{ scope.row.isVaccine == 0 ? "未接种" : "已接种" }}</template>
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="primary" @click="onEdit(scope.row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="pagination.totalCount"
            :page-size="pagination.limit"
            @current-change="handleCurrentChange"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog :title="currentTitle" :visible.sync="personDialogVisible" width="50%">
        <el-row>
          <el-col :span="11">
            <el-form
              v-if="personDialogVisible"
              :rules="form1Rules"
              ref="form1"
              :model="personDialogForm"
            >
              <el-form-item prop="name" label="姓名" label-width="85px">
                <el-input v-model="personDialogForm.name"></el-input>
              </el-form-item>
              <el-form-item prop="birthDay" label="出生日期" label-width="85px">
                <!-- <el-input v-model="personDialogForm.birthDay"></el-input> -->
                <el-date-picker
                  v-model="personDialogForm.birthDay"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="选择日期"
                ></el-date-picker>
              </el-form-item>
              <el-form-item prop="idCard" label="身份证号" label-width="85px">
                <el-input v-model="personDialogForm.idCard"></el-input>
              </el-form-item>
              <el-form-item prop="mobile" label="手机号" label-width="85px">
                <el-input
                  :disabled="currentTitle == '编辑' ? true : false"
                  maxlength="11"
                  v-model="personDialogForm.mobile"
                ></el-input>
              </el-form-item>
              <el-form-item prop="address" label="地址" label-width="85px">
                <el-input maxlength="11" v-model="personDialogForm.address"></el-input>
              </el-form-item>

              <el-form-item prop="building" label="楼栋" label-width="85px">
                <el-input maxlength="11" v-model="personDialogForm.building"></el-input>
              </el-form-item>
              <el-form-item prop="roomNo" label="房屋号" label-width="85px">
                <el-input maxlength="11" v-model="personDialogForm.roomNo"></el-input>
              </el-form-item>
              <!-- <el-form-item
                prop="villageName"
                label="所属居委"
                label-width="85px"
              >
                <el-cascader
                  v-model="personDialogForm.villageName"
                  :options="treeData"
                  :props="{
                    checkStrictly: true,
                    label: 'name',
                    value: 'id'
                  }"
                  :show-all-levels="false"
                  clearable
                ></el-cascader>
              </el-form-item>-->
              <!-- <el-form-item prop="juwei" v-if="showTree" label="所属居委" label-width="85px">
                <el-select
                  style="width: 100%"
                  v-model="personDialogForm.parentDistrictId"
                  placeholder="请选择"
                  @change="juweiChange"
                >
                  <el-option
                    v-for="item in juweiList"
                    :key="item.name"
                    :label="item.name"
                    :value="item.districtId"
                  ></el-option>
                </el-select>
              </el-form-item>-->
            </el-form>
          </el-col>
          <el-col :span="11" :offset="1">
            <el-form ref="form2" :rules="form1Rules" :model="personDialogForm">
              <!-- <el-form-item
                prop="xiaoquName"
                label="所属小区"
                label-width="95px"
              >
                <el-cascader
                  v-model="personDialogForm.xiaoquName"
                  :options="treeData"
                  :props="{
                    checkStrictly: true,
                    label: 'name',
                    value: 'id'
                  }"
                  :show-all-levels="false"
                  clearable
                ></el-cascader>
              </el-form-item>-->
              <el-form-item prop="xiaoqu" label="所属居村" label-width="85px">
                <!-- <el-select
                  style="width: 100%"
                  v-model="personDialogForm.districtId"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in villageList"
                    :key="item.name"
                    :label="item.name"
                    :value="item.districtId"
                  ></el-option>
                </el-select>-->
                <combination
                  v-if="personDialogVisible"
                  :districtId="parentDistrictId"
                  @getVillages="getVillages"
                  :villagelist="treePathlist"
                ></combination>
              </el-form-item>
              <el-form-item label="人口状态" prop label-width="95px">
                <!-- <el-checkbox-group v-model="personDialogForm.renkou"> -->
                <el-checkbox label="实有人口" v-model="personDialogForm.realPerson"></el-checkbox>
                <el-checkbox label="户籍人口" v-model="personDialogForm.censusPerson"></el-checkbox>
                <!-- </el-checkbox-group> -->
              </el-form-item>
              <el-form-item prop="isVaccine" label="接种疫苗" label-width="95px">
                <el-radio v-model="personDialogForm.isVaccine" label="1" style="width: 80px">已接种</el-radio>
                <el-radio v-model="personDialogForm.isVaccine" label="0" style="width: 80px">未接种</el-radio>
              </el-form-item>
              <el-form-item prop="shCode" label="随申码状态" label-width="95px">
                <el-radio v-model="personDialogForm.shCode" label="1" style="width: 80px">正常</el-radio>
                <el-radio v-model="personDialogForm.shCode" label="0" style="width: 80px">异常</el-radio>
              </el-form-item>
              <el-form-item label="是否党员" prop="isParty" label-width="95px">
                <el-radio v-model="personDialogForm.isParty" label="1" style="width: 80px">是</el-radio>
                <el-radio v-model="personDialogForm.isParty" label="0" style="width: 80px">否</el-radio>
              </el-form-item>
              <el-form-item prop="sex" label="性别" label-width="95px">
                <el-radio v-model="personDialogForm.gender" label="1"  style="width: 80px">男</el-radio>
                <el-radio v-model="personDialogForm.gender" label="2" style="width: 80px">女</el-radio>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="personDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog title="提示" :visible.sync="importDialogVisible" width="30%">
        <span>批量导入将清空之前所有的高点数据,建议您先进行导出再导入。确认继续?</span>
        <span slot="footer" class="dialog-footer">
          <!-- <el-button @click="importDialogVisible = false">取 消</el-button> -->
          <el-upload
            action
            :limit="1"
            :before-upload="beforeUpload"
            :show-file-list="false"
            :auto-upload="true"
            class="upload"
          >
            <el-button type="primary">批量导入</el-button>
          </el-upload>
          <!-- <el-button type="primary" @click="importconfirm">确 定</el-button> -->
        </span>
      </el-dialog>
      <!-- 筛选条件对话框 -->
      <el-dialog title="筛选条件" :visible.sync="chooseDialog" width="30%" center>
        <el-form :model="chooseForm" :label-position="labelPosition">
          <el-form-item label="所属小区" :label-width="formLabelWidth">
            <backcombination
              v-if="chooseDialog"
              :districtId="parentDistrictId"
              @getVillages="getVillages1"
              :villagelist="treePathlist"
            ></backcombination>
          </el-form-item>
          <el-form-item label="性别" :label-width="formLabelWidth">
            <el-select v-model="chooseForm.gender" placeholder="请选择">
              <el-option label="男" :value="1"></el-option>
              <el-option label="女" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="年龄" :label-width="formLabelWidth">
            <el-col :span="5">
              <el-input type="text" placeholder="请输入" v-model.number="chooseForm.age1"></el-input>
            </el-col>
            <el-col class="line" :span="1">至</el-col>
            <el-col :span="5">
              <el-input
                type="text"
                placeholder="请输入"
                v-model.number="chooseForm.age2"
                style="width: 100%"
              ></el-input>
            </el-col>
            <el-col class="line" :span="1">岁</el-col>
          </el-form-item>
          <el-form-item label="随申码状态" :label-width="formLabelWidth">
            <el-select v-model="chooseForm.shCode" placeholder="请选择">
              <el-option label="正常" :value="1"></el-option>
              <el-option label="异常" :value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="疫苗接种状态" :label-width="formLabelWidth">
            <el-select v-model="chooseForm.isVaccine" placeholder="请选择">
              <el-option label="已接种" :value="1"></el-option>
              <el-option label="未接种" :value="0"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="chooseDialog = false">取 消</el-button>
          <el-button type="primary" @click="confirmChoose">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { Message } from "element-ui";
import combination from "@/components/lingang/combination";
import backcombination from "@/components/lingang/backcombination";
import Vue from "vue";
import { type } from "@amcharts/amcharts4/core";
export default {
  data() {
    return {
      chooseData: [],
      labelPosition: 'right',
      formLabelWidth: '120px',
      chooseForm: {
        searchTreePath: "",
        page: 1,
        limit: 10,
        gender: null,
        age1: null,
        age2: null,
        isVaccine: null,
        shCode: null

      },
      chooseDialog: false,
      treePathlist: [],
      parentDistrictId: "",
      fileList: [],
      juweiList: [{ name: "临港家园" }],
      form1Rules: {
        cardId: [{ required: true, message: "请输入身份证号", trigger: "blur" }],
        gender: [{ required: true, message: "请选择性别", trigger: "blur" }],
        name: [{ required: true, message: "请输入姓名", trigger: "blur" }],
        mobile: [
          {
            // required: true,
            min: 11,
            max: 11,
            message: "请输入手机号",
            trigger: "blur"
          }
        ],
        birthDay: [
          { required: true, message: "请选择出生日期", trigger: "change" }
        ],

        // address: [{ required: true, message: "请输入地址", trigger: "blur" }],
        villageName: [
          { required: true, message: "请选择居委", trigger: "change" }
        ],
        isVaccine: [
          { required: true, message: "请选择是否接种疫苗", trigger: "change" }
        ],
        shCode: [
          { required: true, message: "请选择随申码是否正常", trigger: "change" }
        ],
        isParty: [
          { required: false, message: "请选择是否是党员", trigger: "change" }
        ],
        censusPerson: [{ required: false }],
        xiaoquName: [
          { required: false, message: "请选择小区", trigger: "change" }
        ]
      },
      personDialogForm: {
        idCard: "",
        gender: null,
        building: "",
        roomNo: "",
        name: "",
        birthDay: "",
        mobile: "",
        address: "",
        villageName: "",
        isVaccine: "",
        shCode: "",
        isParty: "",
        censusPerson: "",
        realPerson: "",
        districtId: "",
        parentDistrictId: "",
        type: 0
      },
      treeData: [],
      currentTitle: "添加",
      personDialogVisible: false,
      tableData: [
        {
          name: "王不群",
          age: 50,
          mobile: 18888888888,
          juewei: "临港家园",
          xiaoqu: "海洋小区",
          address: "临港大道188号44幢320室内",
          renkou: ["实有人口", "户籍人口"],
          suishenStatus: "正常",
          yimiao: "已接种"
        }
      ],
      // infoCaptureSearchForm: { },
      loading: null,
      //type 用来区分人员类别是工作人员还是居村人员
      pagination: {
        name: "",
        mobile: "",
        limit: 10,
        page: 1,
        totalCount: 0,
        type: 0
      },
      importDialogVisible: false,
      showTree: Vue.ls.get("roler") == "StreetAdmin",
      villageList: [],
      queryToken: "",
      token: ""
    };
  },
  methods: {
    choose() {
      this.chooseDialog = true;
    },
    downloadData() {
      this.$store.dispatch("exportUser", {
        token: this.token,
        queryToken: this.queryToken
      });
    },
    confirmChoose() {
      this.$store.dispatch("lgGetUserList", this.chooseForm).then((res) => {
        this.tableData = res.data.list
        this.queryToken = res.data.queryToken
      });
      this.chooseDialog = false
      this.chooseForm = {}
    },
    clearParams() {
      this.personDialogForm = {
        name: "",
        birthDay: "",
        mobile: "",
        address: "",
        villageName: "",
        isVaccine: "",
        shCode: "",
        isParty: "",
        censusPerson: "",
        realPerson: "",
        districtId: "",
        parentDistrictId: "",
        gender: ""
      };
    },
    getVillages(data) {
      this.personDialogForm.treePath = data.treePath;
      this.personDialogForm.districtId = data.districtId;
    },
    getVillages1(data) {
      console.log(data);
      // this.chooseForm.searchTreePath = data.treePath;
      this.chooseForm.searchTreePath = data.treePath;
    },
    juweiChange(val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.villageList = res.data;
      });
      this.personDialogForm.districtId = "";
    },
    beforeUpload(file) {
      this.importDialogVisible = false;
      let fd = new FormData();
      fd.append("file", file);
      const config = {
        "Content-Type": "multipart/form-data"
      };
      // this.upLoad(fd,config)

      this.$http.post("/linggang/backend/account/addBatch", fd).then((res) => {
        if (res.data) {
          Message.success("上传成功");
        } else {
          Message.success("上传失败");
        }
      });
      return false;
    },
    downModule() {
      this.$store.dispatch("moduleDown").then((res) => {
        console.log(res.data.userImportExcel);
        // url = window.URL.createObjectURL(new Blob([res.data]));
        let a = document.createElement("a");
        a.href = res.data.userImportExcel;
        a.download = "人员信息采集模板.xlsx";
        a.click();
      });
    },
    upLoad(formData, config) {
      return fetch({
        url: "/linggang/backend/account/addBatch",
        method: "post",
        data: formData,
        header: config
      });
    },

    importconfirm() {
      this.beforeUpload();
    },
    showImportDialog() {
      this.importDialogVisible = true;
    },
    handleOnProgress: function () {
      this.loading = this.$loading({
        lock: true,
        text: "文件上传中",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
    },
    handleOnSuccess: function (...arg) {
      console.log(arg);
      this.loading.close();
      this.loading = null;
      this.$message({ message: "上传成功", type: "success" });
      let [, file] = [...arg];
      this.$refs.uploadExcel.clearFiles();
    },
    handleOnError: function (...arg) {
      console.log(arg);
      this.$message({ message: "上传失败", type: "error" });
      this.loading.close();
      this.loading = null;
    },
    handleExceed: function (...arg) {
      console.log(arg);
    },
    onDownload: function () {
      let a = document.createElement("a");
      a.href =
        "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingang/%E5%89%AF%E6%9C%AC%E4%B8%B4%E6%B8%AF%E6%99%BA%E7%9C%BC%E4%BB%BB%E5%8A%A1%E8%AE%A1%E5%88%920916.xlsx";
      a.download = "模板.xlsx";

      document.body.appendChild(a);

      a.click();
      a.remove();
    },
    handleConfirmForm: function () {
      console.log(this.personDialogForm);
      if (this.currentTitle == "编辑") {
        // edit
        // if (typeof this.personDialogForm.villageName == "object") {
        //   this.personDialogForm.parentDistrictId =
        //     this.personDialogForm.villageName[1];
        // } else {
        //   console.log("");
        // }
        // if (typeof this.personDialogForm.xiaoquName == "object") {
        //   this.personDialogForm.districtId =
        //     this.personDialogForm.xiaoquName[2];
        // } else {
        //   console.log("");
        // }
        this.personDialogForm.type = 0;
        console.log(this.personDialogForm.birthDay);
        if (this.personDialogForm.birthDay.indexOf("00:00:00") !== -1) {
          console.log("");
        } else {
          this.personDialogForm.birthDay = `${this.personDialogForm.birthDay} 00:00:00`;
        }

        this.personDialogForm.censusPerson = Number(
          this.personDialogForm.censusPerson
        );
        this.personDialogForm.gender = Number(
          this.personDialogForm.gender
        );
        this.personDialogForm.realPerson = Number(
          this.personDialogForm.realPerson
        );
        // this.personDialogVisible = false;
        this.personDialogForm.parentDistrictName = "";
        this.personDialogForm.districtName = "";
        this.$refs["form1"].validate((valid) => {
          if (valid) {
            this.$store
              .dispatch("lgUpdateAccount", this.personDialogForm)
              .then((res) => {
                this.$store
                  .dispatch("lgGetUserList", this.pagination)
                  .then((res) => {
                    this.clearParams();
                    res.data.list.forEach((item) => {
                      if (item.realPerson) {
                        item.realPerson = true;
                      } else {
                        item.realPerson = false;
                      }
                      if (item.censusPerson) {
                        item.censusPerson = true;
                      } else {
                        item.censusPerson = false;
                      }
                    });
                    this.tableData = res.data.list;
                  });
                this.personDialogVisible = false;
              });
          } else {
            console.log(valid);
          }
        });
      } else {
        // this.personDialogForm.parentDistrictId =
        //   this.personDialogForm.villageName[1];
        // this.personDialogForm.districtId = this.personDialogForm.xiaoquName[2];
        this.personDialogForm.birthDay = `${this.personDialogForm.birthDay} 00:00:00`;
        this.personDialogForm.censusPerson = Number(
          this.personDialogForm.censusPerson
        );
        this.personDialogForm.realPerson = Number(
          this.personDialogForm.realPerson
        );
        // this.personDialogForm.districtId = this.personDialogForm.districtId,
        this.personDialogForm.parentDistrictId = this.showTree
          ? this.personDialogForm.parentDistrictId
          : Vue.ls.get("parentDistrictId");
        // this.personDialogVisible = false;
        this.$refs["form1"].validate((valid) => {
          if (valid) {
            this.$store
              .dispatch("lgAddAccount", this.personDialogForm)
              .then((res) => {
                console.log(res);
                if (res.code == 200) {
                  this.$message({
                    type: "success",
                    message: "添加成功"
                  });
                  this.$store
                    .dispatch("lgGetUserList", this.pagination)
                    .then((res) => {
                      this.clearParams();
                      res.data.list.forEach((item) => {
                        if (item.realPerson) {
                          item.realPerson = true;
                        } else {
                          item.realPerson = false;
                        }
                        if (item.censusPerson) {
                          item.censusPerson = true;
                        } else {
                          item.censusPerson = false;
                        }
                      });
                      this.tableData = res.data.list;
                    });
                  this.personDialogVisible = false;
                } else {
                  this.$message({
                    type: "warning",
                    message: res.msg
                  });
                }
              });
          } else {
            console.log(valid);
          }
        });
      }
    },
    handleDelete: function (data) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgDeleteAccount", { id: data.accountId })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ type: "success", message: "删除成功 " });
                this.$store
                  .dispatch("lgGetUserList", this.pagination)
                  .then((res) => {
                    res.data.list.forEach((item) => {
                      if (item.realPerson) {
                        item.realPerson = true;
                      } else {
                        item.realPerson = false;
                      }
                      if (item.censusPerson) {
                        item.censusPerson = true;
                      } else {
                        item.censusPerson = false;
                      }
                    });
                    this.tableData = res.data.list;
                  });
              } else {
                this.$message({ type: "error", message: res.msg });
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    onEdit: function (item) {
      this.treePathlist = item.treePath.split("/").filter((item) => !!item);
      console.log(item);
      this.personDialogForm = item;
      this.personDialogForm.parentDistrictId = item.parentDistrictId;
      this.$store
        .dispatch("lggetDistrictList", { id: item.parentDistrictId })
        .then((res) => {
          this.villageList = res.data;
        });
      this.personDialogForm.districtId = item.districtId;
      if (item.gender.index) {
        this.personDialogForm.gender = item.gender.index.toString();
      } else {
        this.personDialogForm.gender = ''
      }

      this.personDialogForm.isVaccine = String(item.isVaccine);
      this.personDialogForm.shCode = String(item.shCode);
      this.personDialogForm.isParty = String(item.isParty);
      this.personDialogForm.realPerson = Boolean(item.realPerson);
      this.personDialogForm.censusPerson = Boolean(item.censusPerson);
      this.currentTitle = "编辑";
      this.personDialogVisible = true;
    },
    onSearch: function () {
      this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
        res.data.list.forEach((item) => {
          if (item.realPerson) {
            item.realPerson = true;
          } else {
            item.realPerson = false;
          }
          if (item.censusPerson) {
            item.censusPerson = true;
          } else {
            item.censusPerson = false;
          }
        });
        this.tableData = res.data.list;
      });
    },
    onReset: function () {
      this.pagination = { user: "", mobile: "", limit: 10, page: 1 };
      this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
        res.data.list.forEach((item) => {
          if (item.realPerson) {
            item.realPerson = true;
          } else {
            item.realPerson = false;
          }
          if (item.censusPerson) {
            item.censusPerson = true;
          } else {
            item.censusPerson = false;
          }
        });
        this.tableData = res.data.list;
        this.pagination.totalCount = res.data.totalCount;
      });
    },
    onAdd: function () {
      this.currentTitle = "添加";
      this.personDialogVisible = true;
    },
    onImport: function () { },
    handleCurrentChange: function (page) {
      this.pagination.page = page;
      this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
        res.data.list.forEach((item) => {
          console.log(item);
          if (item.realPerson) {
            item.realPerson = true;
          } else {
            item.realPerson = false;
          }
          if (item.censusPerson) {
            item.censusPerson = true;
          } else {
            item.censusPerson = false;
          }
        });
        this.tableData = res.data.list;
      });
    },
    ...mapMutations([])
  },

  mounted() {
    this.token = Vue.ls.get('token')
    console.log(this.token)
    this.parentDistrictId = Vue.ls.get("parentDistrictId");
    this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
      this.juweiList = res.data;
    });

    this.$store
      .dispatch("lggetDistrictList", {
        id: localStorage.getItem("parentDistrictId")
      })
      .then((res) => {
        console.log(this.villageList);
        this.villageList = res.data;
      });

    this.$store.dispatch("lgdistrictTree").then((res) => {
      this.treeData = res.data;
    });

    this.$store.dispatch("lgGetUserList", this.pagination).then((res) => {
      res.data.list.forEach((item) => {
        console.log(item);
        if (item.realPerson) {
          item.realPerson = true;
        } else {
          item.realPerson = false;
        }
        if (item.censusPerson) {
          item.censusPerson = true;
        } else {
          item.censusPerson = false;
        }
      });
      this.tableData = res.data.list;
      Object.assign(this.pagination, {
        page: res.data.page,
        totalCount: res.data.totalCount
      });
    });
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {
    combination,
    backcombination
  }
};
</script>

<style lang="less" scoped>
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.info-capture {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
