<template>
  <div class="bigBox">
    <div class="store-mamage">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="storeSearchForm" class="demo-form-inline">
            <el-form-item label="仓库名称">
              <el-input
                v-model="storeSearchForm.storeName"
                placeholder="搜索仓库名称"
                clearable
                prop="storeName"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加仓库</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column prop="name" label="仓库名称"></el-table-column>
            <el-table-column prop="address" label="仓库地址"></el-table-column>
            <el-table-column label="仓库经纬度">
              <template slot-scope="scope">
                <span>{{ scope.row.lng }},{{ scope.row.lat }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="neighborhood" label="所属居委"></el-table-column>
            <el-table-column prop="districtName" label="所属小区"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="primary" @click="onEdit(scope.row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="pagination.total"
            :page-size="pagination.limit"
            :current-page.sync="pagination.page"
            @current-change="handleCurrentChange"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog :title="currentTitle" :visible.sync="storeDialogVisible" width="50%">
        <el-row type="flex" justify="center">
          <el-col :span="23">
            <el-form :rules="form1Rules" ref="form1" :model="storeForm">
              <el-form-item prop="storeName" label="名称" label-width="85px">
                <el-input v-model="storeForm.storeName"></el-input>
              </el-form-item>
              <el-form-item prop="storeAddress" label="地址" label-width="85px">
                <el-input v-model="storeForm.storeAddress"></el-input>
              </el-form-item>
              <el-form-item prop="lnglat" label="经纬度" label-width="85px">
                <el-row :gutter="20" type="flex" justify="left">
                  <el-col>
                    <el-input maxlength="11" v-model="storeForm.lnglat"></el-input>
                  </el-col>
                  <!-- <el-col>
                  <el-button type="primary" @click="openNewTab">
                    查询经纬度
                  </el-button>
                  </el-col>-->
                </el-row>
              </el-form-item>

              <el-form-item prop="xiaoqu" label="所属小区" label-width="85px">
                <combination
                  v-if="storeDialogVisible"
                  :districtId="parentDistrictId"
                  @getVillages="getVillages"
                  :villagelist="treePathlist"
                ></combination>
              </el-form-item>
            </el-form>
            <div class="mapbox" ref="abc" id="yui">
              <table class="search">
                <tr>
                  <td>
                    <el-input v-model="address"></el-input>
                  </td>
                </tr>
                <tr>
                  <td>
                    <el-button @click="search" type="primary">搜索</el-button>
                  </td>
                </tr>
              </table>
            </div>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="storeDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
import combination from "@/components/lingang/combination";

export default {
  data() {
    return {
      treePathlist: [],
      parentDistrictId: '',
      currentTableColumnData: {},
      xiaoquList: [],
      pagination: { page: 1, limit: 10, total: 0 },
      juweiList: [{ name: "临港家园" }],
      storeDialogVisible: false,
      form1Rules: {},
      storeForm: {
        storeName: "",
        storeAddress: "",
        juwei: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        xiaoqu: "",
        lnglat: "",
        treePath: null
      },
      preMarker: [],
      address: "",
      currentTitle: "添加仓库",
      tableData: [
        {
          storeName: "海事小区小仓库",
          storeAddress: "临港大道336号",
          juwei: "临港家园居委",
          xiaoqu: "海事小区",
          lnglat: "121.570096,31.115133"
        }
      ],
      storeSearchForm: { storeName: "" }
    };
  },
  methods: {
    openNewTab: function () {
      window.open("https://lbs.amap.com/tools/picker");
    },
    initMap() {
      var that = this;
      this.map = new AMap.Map("yui", {
        zoom: 11,
        resizeEnable: true,
        center: [121.473658, 31.230378]
      });
      var clickevent = this.map.on("click", function (e) {
        if (that.preMarker.length > 0) {
          that.map.remove(that.preMarker[0]);
        }
        console.log(e);
        var geocoder = new AMap.Geocoder({
          radius: 1000,
          extensions: "all"
        });
        // geocoder.getAddress(
        //   [e.lnglat.lng, e.lnglat.lat],
        //   function (status, result) {
        //     console.log(result);
        //     that.params.placeOfLost = result.regeocode.formattedAddress;
        //   }
        // );
        that.storeForm.lnglat = e.lnglat.lng + "," + e.lnglat.lat;
        that.addMarker([e.lnglat.lng, e.lnglat.lat]);
      });
    },
    keywordSearch_CallBack(data) {
      if (this.preMarker.length > 0) {
        this.map.remove(this.preMarker[0]);
      }
      this.addMarker([
        data.poiList.pois[0].location.lng,
        data.poiList.pois[0].location.lat
      ]);
      this.storeForm.lnglat =
        data.poiList.pois[0].location.lng +
        "," +
        data.poiList.pois[0].location.lat;
      // this.params.placeOfLost = data.poiList.pois[0].name;
      console.log(data);
    },
    getVillageList() {
      this.$store.dispatch("lggetDistrictList", { id: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId") }).then((res) => {
        this.xiaoquList = res.data;
      });
      // this.addProjectForm.villageId = null;
    },
    getVillages(data) {
      console.log(data);
      this.storeForm.treePath = data.treePath
      this.storeForm.districtId = data.districtId
    },
    addMarker(lnglatXY) {
      var marker = new AMap.Marker({
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
        position: lnglatXY
      });
      this.preMarker = [];
      this.preMarker.push(marker);
      marker.setMap(this.map);
      this.map.setFitView();
    },
    search() {
      var placeSearch;
      this.map.plugin(
        ["AMap.PlaceSearch", "AMap.ToolBar", "AMap.Scale"],
        () => {
          this.map.addControl(new AMap.ToolBar());
          this.map.addControl(new AMap.Scale());
          placeSearch = new AMap.PlaceSearch({
            city: this.address
          });
          AMap.event.addListener(
            placeSearch,
            "complete",
            this.keywordSearch_CallBack
          );
          placeSearch.search(this.address);
        }
      );
    },
    clearXiaoqu() {
      this.storeForm.xiaoqu = "";
    },
    handleCurrentChange: function (page) {
      this.pagination.page = page
      this.$store.dispatch("lggetWareHouse", this.pagination).then((res) => {
        this.tableData = res.data.list;
        this.pagination.total = res.data.totalCount;
      });
    },
    onAdd: function () {
      this.storeDialogVisible = true;
      this.currentTitle = "添加仓库";
      setTimeout(() => {
        this.initMap();
      }, 100);
    },
    handleConfirmForm: function () {
      if (this.currentTitle == "添加仓库") {
        // 检查必填项
        if (this.storeForm.treePath) {
          this.$store
            .dispatch("lgaddWareHouse", {
              name: this.storeForm.storeName,
              lat: this.storeForm.lnglat.split(",")[1],
              lng: this.storeForm.lnglat.split(",")[0],
              address: this.storeForm.storeAddress,
              neighborhoodId: this.storeForm.juwei,
              districtId: this.storeForm.districtId,
              treePath: this.storeForm.treePath
            })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ message: "添加成功", type: "success" });
                Object.assign(this.storeForm, {
                  storeName: "",
                  storeAddress: "",
                  juwei: "",
                  xiaoqu: "",
                  lnglat: ""
                });
                this.$store
                  .dispatch(
                    "lggetWareHouse",
                    Object.assign({}, this.pagination, { page: 1, limit: 10 })
                  )
                  .then((res) => {
                    this.tableData = res.data.list;
                    this.pagination.total = res.data.totalCount;
                  });
              } else {
                this.$message({ message: res.msg, type: "error" });
              }
            });
        } else {
          this.$message({ message: "请添加居委或小区", type: "error" });
          return;
        }
      } else {
        if (!this.storeForm.xiaoqu) {
          this.$message({
            type: "warning",
            message: "请选择小区，如果没有小区，请重新选择居委"
          });
          this.storeDialogVisible = true;
          return false;
        } else {
          this.$store
            .dispatch("lgupdateWareHouse", {
              name: this.storeForm.storeName,
              lat: this.storeForm.lnglat.split(",")[1],
              lng: this.storeForm.lnglat.split(",")[0],
              address: this.storeForm.storeAddress,
              neighborhoodId: this.storeForm.juwei,
              districtId: this.storeForm.xiaoqu,
              id: this.currentTableColumnData.id,
              treePath: this.storeForm.treePath

            })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ message: " 修改成功", type: "success" });
                Object.assign(this.storeForm, {
                  storeName: "",
                  storeAddress: "",
                  juwei: "",
                  xiaoqu: "",
                  lnglat: ""
                });
                this.$store
                  .dispatch(
                    "lggetWareHouse",
                    Object.assign({}, this.pagination, { page: 1, limit: 10 })
                  )
                  .then((res) => {
                    this.tableData = res.data.list;
                    this.pagination.total = res.data.totalCount;
                  });
              } else {
                this.$message({ message: res.msg, type: "error" });
              }
            });
        }
      }
      this.storeDialogVisible = false;
    },
    onEdit: function (row) {
      this.currentTableColumnData = row;
      this.currentTitle = "编辑仓库";
      this.storeDialogVisible = true;
      this.treePathlist = row.treePath.split('/').filter((element) => !!element)
      Object.assign(this.storeForm, {
        storeName: row.name,
        storeAddress: row.address,
        juwei: row.neighborhoodId,
        xiaoqu: row.districtId,
        lnglat: row.lng + "," + row.lat,
        treePath: row.treePath
      });
      setTimeout(() => {
        this.initMap();
      }, 100);
    },
    handleDelete: function (row) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgdeleteWareHouse", { id: row.id })
            .then((res) => {
              if (res.code == 200) {
                this.$message({ type: "success", message: "删除成功 " });
                this.$store
                  .dispatch("lggetWareHouse", this.pagination)
                  .then((res) => {
                    this.tableData = res.data.list;
                  });
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    ...mapMutations([])
  },

  mounted() {
    this.parentDistrictId = Vue.ls.get("parentDistrictId");

    // if (Vue.ls.get('roler') == 'StreetAdmin') {
    //   this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
    //     this.juweiList = res.data;      
    //   });
    //   this.storeForm.juwei =  ''
    // }else{
    //   console.log(222);
    //     this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
    //     this.juweiList = res.data.filter(item=>{
    //       return item.districtId == Vue.ls.get('parentDistrictId')
    //     })
    //     this.storeForm.juwei =  Vue.ls.get('parentDistrictId')
    //   });
    // }

    this.$store.dispatch("lggetWareHouse", this.pagination).then((res) => {
      this.tableData = res.data.list;
      this.pagination.total = res.data.totalCount;
    });
    this.getVillageList();
  },
  filters: {},
  watch: {
    currentJuwei: function (val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
        this.xiaoquList = res.data;
      });
    },
    currentSearchStoreName: function (val) {
      this.$store
        .dispatch(
          "lggetWareHouse",
          Object.assign({}, this.pagination, { name: val, page: 1, limit: 10 })
        )
        .then((res) => {
          this.tableData = res.data.list;
          this.pagination.total = res.data.totalCount;
        });
    }
  },
  computed: {
    currentSearchStoreName: function () {
      return this.storeSearchForm.storeName;
    },
    currentJuwei: function () {
      return this.storeForm.juwei;
    },
    ...mapState({}),
    ...mapGetters([])
  },
  components: { combination }
};
</script>

<style lang="less" scoped>
.mapbox {
  width: 100%;
  height: 400px;
  position: relative;
  .search {
    position: absolute;
    right: 2%;
    top: 0%;
    display: flex;
    flex-direction: row;
    z-index: 99999;
  }
}
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.istore-mamage {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
