<template>
<div class="bigBox">
  <div class="info-capture">
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-form
          :inline="true"
          :model="infoCaptureSearchForm"
          class="demo-form-inline"
        >
          <el-form-item label="部门">
            <el-input
              v-model="infoCaptureSearchForm.depart"
              placeholder="请输入部门"
              prop="name"
            ></el-input>
          </el-form-item>
          <el-form-item label="姓名">
            <el-input
              v-model="infoCaptureSearchForm.user"
              placeholder="请输入姓名"
              prop="name"
            ></el-input>
          </el-form-item>
          <el-form-item label="手机号">
            <el-input
              maxlength="11"
              v-model="infoCaptureSearchForm.mobile"
              placeholder="请输入手机号"
            ></el-input>
          </el-form-item>
          <el-form-item label="通知方式">
            <el-select
              style="width:100%;"
              v-model="infoCaptureSearchForm.noticeMethod"
              placeholder="请选择"
            >
              <el-option
                v-for="item in noticeTypeList"
                :key="item.value"
                :label="item.name"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button plain @click="onSearch">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="success" @click="onReset">重置</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onAdd">添加</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="23">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column prop="name" label="姓名"></el-table-column>
          <el-table-column prop="mobile" label="手机号"></el-table-column>
          <el-table-column prop="department" label="部门"></el-table-column>
          <el-table-column
            prop="neighborhood"
            label="所属居委"
          ></el-table-column>
          <el-table-column
            prop="districtName"
            label="所属小区"
          ></el-table-column>
          <el-table-column prop="typeName" label="服务类别"></el-table-column>
          <el-table-column
            prop="noticeTypeName"
            label="通知方式"
          ></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-row type="flex" justify="center">
                <el-col :span="12" style="text-align:center">
                  <el-button
                    size="small"
                    type="primary"
                    @click="onEdit(scope.row)"
                  >
                    编辑
                  </el-button>
                </el-col>
                <el-col :span="12" style="text-align:center">
                  <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.row)"
                  >
                    删除
                  </el-button>
                </el-col>
              </el-row>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="23" style="text-align:center;margin-top:20px;">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="pagination.totalCount"
          :page-size="pagination.limit"
          :current-page.sync="pagination.page"
          @current-change="handleCurrentChange"
        ></el-pagination>
      </el-col>
    </el-row>
    <el-dialog
      :title="currentTitle"
      :visible.sync="personDialogVisible"
      width="50%"
    >
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :rules="form1Rules" ref="form1" :model="personDialogForm">
            <el-form-item prop="name" label="姓名" label-width="85px">
              <el-input v-model="personDialogForm.name"></el-input>
            </el-form-item>
            <el-form-item prop="mobile" label="手机号" label-width="85px">
              <el-input
                maxlength="11"
                v-model="personDialogForm.mobile"
              ></el-input>
            </el-form-item>
            
            <el-form-item prop="juwei" label="所属小区" label-width="85px">
                  <combination v-if="personDialogVisible" :districtId='parentDistrictId' @getVillages='getVillages' :villagelist="treePathlist"></combination>
            </el-form-item>
            <el-form-item prop="age" label="部门" label-width="85px">
              <el-select
                style="width:100%;"
                v-model="personDialogForm.depart"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in departmentList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item prop="juwei" label="服务类别" label-width="85px">
              <el-select
                style="width:100%;"
                v-model="personDialogForm.serviceType"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in serviceTypeList"
                  :key="item.name"
                  :label="item.name"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item prop="juwei" label="通知方式" label-width="85px">
              <el-select
                style="width:100%;"
                v-model="personDialogForm.noticeMethod"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in noticeTypeList"
                  :key="item.name"
                  :label="item.name"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="personDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleConfirmForm">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue"
import combination from "@/components/lingang/combination";
export default {
  data() {
    return {
      treePathlist:[],
      parentDistrictId:'',
      currentTableColumnData: null,
      departmentList: [],
      xiaoquList: [],
      serviceTypeList: [],
      noticeTypeList: [],
      pagination: { totalCount: 0, page: 1, limit: 10 },
      noticeMethodList: [{ name: "短信" }, { name: "小程序" }],
      fileList: [],
      juweiList: [],
      form1Rules: {},
      personDialogForm: {
        name: "",
        mobile: "",
        depart: "",
        juwei: Vue.ls.get("parentDistrictId") == "1930" ? "" : Vue.ls.get("parentDistrictId"),
        xiaoqu: "",
        serviceType: "",
        noticeMethod: ""
      },
      currentTitle: "添加接收人员 ",
      personDialogVisible: false,
      tableData: [
        {
          name: "岳不群",
          mobile: "18888888888",
          depart: "两委力量",
          juwei: "临港家园",
          xiaoqu: "海亊小区",
          serviceType: "服务类",
          noticeMethod: "短信，小程序"
        }
      ],
      infoCaptureSearchForm: {
        depart: "",
        noticeMethod: "",
        name: "",
        mobile: ""
      },
      loading: null
    };
  },
  methods: {
    clearXiaoqu(){
        this.personDialogForm.xiaoqu = ''
    },
     getVillages(data){
        console.log(data);
        this.personDialogForm.treePath = data.treePath
        this.personDialogForm.districtId = data.districtId
        this.$store
            .dispatch(
              "lgDistrictList",
              Object.assign(
                {},
                { limit: 1000, page: 1 },
                { districtId: this.personDialogForm.districtId }
              )
            )
            .then(res => {
              this.departmentList = res.data.list;
            });
    },
    handleCurrentChange: function(page) {
      this.$store
        .dispatch("lggetTodoList", Object.assign({}, this.pagination, { page }))
        .then(res => {
          this.tableData = res.data.list;
          this.pagination.totalCount = res.data.totalCount;
        });
    },
    handleOnProgress: function() {
      this.loading = this.$loading({
        lock: true,
        text: "文件上传中",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
    },
    handleOnSuccess: function(...arg) {
      this.loading.close();
      this.loading = null;
      this.$message({ message: "上传成功", type: "success" });
      let [, file] = [...arg];
      this.$refs.uploadExcel.clearFiles();
    },
    handleOnError: function(...arg) {
      this.$message({ message: "上传失败", type: "error" });
      this.loading.close();
      this.loading = null;
    },
    handleExceed: function(...arg) {
      console.log(arg);
    },
    onDownload: function() {
      let a = document.createElement("a");
      a.href =
        "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingang/%E5%89%AF%E6%9C%AC%E4%B8%B4%E6%B8%AF%E6%99%BA%E7%9C%BC%E4%BB%BB%E5%8A%A1%E8%AE%A1%E5%88%920916.xlsx";
      a.download = "模板.xlsx";

      document.body.appendChild(a);

      a.click();
      a.remove();
    },
    handleConfirmForm: function() {
      
      this.personDialogVisible = false;
      if (this.currentTitle == "添加接收人员") {
        this.$store
          .dispatch("lgAddorUpdateTodo", {
            type: this.personDialogForm.serviceType,
            neighborhoodId: this.personDialogForm.juwei,
            districtId: this.personDialogForm.xiaoqu,
            department: this.personDialogForm.depart,
            noticeType: this.personDialogForm.noticeMethod,
            name: this.personDialogForm.name,
            mobile: this.personDialogForm.mobile,
            treePath:this.personDialogForm.treePath
          })
          .then(res => {
            if (res.code == 200) {
              this.$message({ message: "添加成功", type: "success" });
              Object.assign(this.personDialogForm, {
                name: "",
                mobile: "",
                depart: "",
                juwei: "",
                xiaoqu: "",
                serviceType: "",
                noticeMethod: ""
              });
            } else {
              this.$message({ message: res.msg, type: "error" });
            }
            this.$store.dispatch("lggetTodoList", this.pagination).then(res => {
              this.tableData = res.data.list;
              this.pagination.totalCount = res.data.totalCount;
            });
          });
      } else {
        if (this.personDialogForm.xiaoqu) {
          this.$store
            .dispatch(
              "lgDistrictList",
              Object.assign(
                {},
                { limit: 1000, page: 1 },
                { districtId: this.personDialogForm.xiaoqu }
              )
            )
            .then(res => {
              this.departmentList = res.data.list;
            });
        } else if (this.personDialogForm.juwei) {
          this.$store
            .dispatch(
              "lgDistrictList",
              Object.assign(
                {},
                { limit: 1000, page: 1 },
                { districtId: this.personDialogForm.juwei }
              )
            )
            .then(res => {
              this.departmentList = res.data.list;
            });
        } else {
          this.$message({ type: "error", message: "报错啦" });
        }
        this.$store
          .dispatch("lgAddorUpdateTodo", {
            type: this.personDialogForm.serviceType,
            neighborhoodId: this.personDialogForm.juwei,
            districtId: this.personDialogForm.xiaoqu,
            department: this.personDialogForm.depart,
            noticeType: this.personDialogForm.noticeMethod,
            name: this.personDialogForm.name,
            mobile: this.personDialogForm.mobile,
            id: this.currentTableColumnData.id
          })
          .then(res => {
            if (res.code == 200) {
              this.$message({ message: "编辑成功", type: "success" });
              Object.assign(this.personDialogForm, {
                name: "",
                mobile: "",
                depart: "",
                juwei: "",
                xiaoqu: "",
                serviceType: "",
                noticeMethod: ""
              });
            } else {
              this.$message({ message: res.msg, type: "error" });
            }
            this.$store.dispatch("lggetTodoList", this.pagination).then(res => {
              this.tableData = res.data.list;
              this.pagination.totalCount = res.data.totalCount;
            });
          });
      }
    },
    handleDelete: function(data) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store.dispatch("lgdeleteTodo", { id: data.id }).then(res => {
            if (res.code == 200) {
              this.$message({ type: "success", message: "删除成功 " });
              this.$store
                .dispatch("lggetTodoList", this.pagination)
                .then(res => {
                  this.tableData = res.data.list;
                  this.pagination.totalCount = res.data.totalCount;
                });
            } else {
              this.$message({ type: "error", message: res.msg });
            }
          });
        })
        .catch(err => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    }, 
    onEdit: function(row) {
      this.currentTableColumnData = row;
      this.currentTitle = "编辑接收人员";
      this.personDialogVisible = true;
      
        this.$store.dispatch("lgDistrictList", { id: row.districtId })
        .then(res => {
          this.departmentList = res.data;
        });
      

      Object.assign(this.personDialogForm, {
        name: row.name,
        mobile: row.mobile,
        depart: row.department,
        juwei: row.neighborhoodId,
        xiaoqu: row.districtId,
        serviceType: row.type,
        noticeMethod: row.noticeType,
        treePath:row.treePath
      });
      this.treePathlist = row.treePath.split('/').filter((element)=>!!element)

    },
    onSearch: function() {
      this.$store
        .dispatch(
          "lggetTodoList",
          Object.assign({}, this.pagination, {
            page: 1,
            limit: 10,
            name: this.infoCaptureSearchForm.user,
            department: this.infoCaptureSearchForm.depart,
            mobile: this.infoCaptureSearchForm.mobile,
            noticeType: this.infoCaptureSearchForm.noticeMethod
          })
        )
        .then(res => {
          this.tableData = res.data.list;
        });
    },
    onReset: function() {
      Object.assign(this.infoCaptureSearchForm, {
        depart: "",
        user: "",
        noticeMethod: "",
        mobile: ""
      });
    },
    onAdd: function() {
      this.currentTitle = "添加接收人员";
      this.personDialogVisible = true;
    },
    onImport: function() {},
    ...mapMutations([])
  },

  mounted() {
    // this.$store.dispatch("lggetDistrictList", { id: 1930 }).then(res => {
    //   this.departmentList = res.data;
    // });
    this.parentDistrictId = Vue.ls.get("parentDistrictId");
    this.$store.dispatch("lggetDistrictList", { id: 1930 }).then(res => {
      this.juweiList = res.data;
    });
    this.$store.dispatch("lgDropDown").then(res => {
      this.serviceTypeList = res.data.serviceType;
      this.noticeTypeList = res.data.noticeType;
    });
    this.$store.dispatch("lggetTodoList", this.pagination).then(res => {
      this.tableData = res.data.list;
      this.pagination.totalCount = res.data.totalCount;
    });
  },
  filters: {},
  watch: {
    currentJuwei: function(val) {
      this.$store.dispatch("lggetDistrictList", { id: val }).then(res => {
        this.xiaoquList = res.data;
      });
      this.$store
        .dispatch(
          "lgDistrictList",
          Object.assign({}, { limit: 1000, page: 1 }, { districtId: val })
        )
        .then(res => {
          this.departmentList = res.data.list;
        });
    },
    currentXiaoqu: function(val) {
      this.$store
        .dispatch(
          "lgDistrictList",
          Object.assign({}, { limit: 1000, page: 1 }, { districtId: val })
        )
        .then(res => {
          this.departmentList = res.data.list;
        });
    }
  },
  computed: {
    currentXiaoqu: function() {
      return this.personDialogForm.xiaoqu;
    },
    currentJuwei: function() {
      return this.personDialogForm.juwei;
    },
    ...mapState({}),
    ...mapGetters([])
  },
  components: {combination}
};
</script>

<style lang="less" scoped>
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.info-capture {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
