<template>
  <div class="bigBox">
    <div class="store-mamage">
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-form :inline="true" :model="storeSearchForm" class="demo-form-inline">
            <el-form-item label="常用语搜索">
              <el-input v-model="params.content" placeholder="请输入常用语" clearable prop="storeName"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onAdd">添加常用语</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="query">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="reset">重置</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23">
          <el-table :data="getTootipList.list" border style="width: 100%">
            <el-table-column prop="content" label="内容"></el-table-column>
            <el-table-column prop="createTime" label="添加时间"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-row type="flex" justify="center">
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="primary" @click="onEdit(scope.row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12" style="text-align: center">
                    <el-button size="small" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="23" style="text-align: center; margin-top: 20px">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="getTootipList.totalCount"
            @current-change="handleChange"
            :page-size="params.limit"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-dialog :title="currentTitle" :visible.sync="storeDialogVisible" width="50%">
        <el-row type="flex" justify="center">
          <el-col :span="23">
            <el-form :rules="form1Rules" ref="form1" :model="addparams">
              <el-form-item label="所属居委" label-width="85px">
                <el-cascader
                  v-model="villageList"
                  :options="treeData"
                  @change="getvillage"
                  :props="{
                    checkStrictly: true,
                    label: 'name',
                    value: 'id'
                  }"
                  clearable
                ></el-cascader>
              </el-form-item>
              <el-form-item prop="storeAddress" label="内容" label-width="85px">
                <el-input v-model="addparams.content" type="textarea"></el-input>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="handleConfirmForm">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { Message } from "element-ui";
import Vue from 'vue';
export default {
  data() {
    return {
      juweiList: [{ name: "临港家园" }],
      storeDialogVisible: false,
      form1Rules: {},
      villageList: [],
      treeData: [],
      params: {
        page: 1,
        limit: 10,
        content: null
      },
      addparams: {
        content: null,
        districtId:''
      },
      currentTitle: "添加房屋信息",
      storeSearchForm: { storeName: "" }
    };
  },
  methods: {
    closeDialog(e) {
      this.storeDialogVisible = false
      this.villageList = []
    },
    getvillage(e) {
      console.log(e);
      console.log(this.villageList);
    },
    onAdd: function () {
      this.storeDialogVisible = true;
      this.currentTitle = "添加常用语";
      this.addparams.content = null;
      this.addparams.id = null;
    },
    handleConfirmForm: function () {
      this.storeDialogVisible = false;
      if (this.currentTitle == "添加常用语") {
        this.addparams.districtId = this.villageList[this.villageList.length-1]
        this.$store.dispatch("lgAddTootip", this.addparams).then((res) => {
          if (res.data) {
            Message.success("已完成");
            this.getList();
            this.villageList = []
          } else {
            Message.success(res.message);
          }
        });
      } else {
        this.$store.dispatch("lgEditTootip", this.addparams).then((res) => {
          if (res.data) {
            Message.success("已完成");
            this.getList();
          } else {
            Message.success(res.message);
          }
        });
      }
    },
    onEdit: function (item) {
      this.currentTitle = "编辑常用语";
      this.storeDialogVisible = true;
      this.addparams.content = item.content;
      this.addparams.id = item.id;
      this.addparams.districtId = item.districtId;
      this.villageList = [item.districtId];
    },
    handleDelete: function (item) {
      this.$confirm("确定要删除该条记录么？", "提示", {})
        .then(() => {
          this.$store
            .dispatch("lgDeleteTootip", { id: item.id })
            .then((res) => {
              if (res.data) {
                Message.success("已删除");
                this.getList();
              } else {
                Message.success(res.message);
              }
            });
        })
        .catch(() => {
          this.$message({ type: "info", message: "已取消删除" });
        });
    },
    getList() {
      this.$store.dispatch("lggetTootipList", this.params);
    },
    query() {
      this.params.page = 1;
      this.getList();
    },
    reset() {
      this.params.content = null;
      this.getList();
    },
    // juweiChange(val) {
    //   console.log(val);
    //   this.$store.dispatch("lggetDistrictList", { id: val }).then((res) => {
    //     this.villageList = res.data;
    //   });
    // },
    handleChange(index) {
      this.params.page = index;
      this.getList();
    },
    // 递归数据
    getTreeData(node){
        node.forEach(item=>{
          if(item.level ==5){
            item.children=null
          }else{
            if(item.children){
              this.getTreeData(item.children)
            }
          }
        })
    },
    ...mapMutations([])
  },

  mounted() {
    this.getList();
    this.$store.dispatch("lggetDistrictList", { id: 1930 }).then((res) => {
      this.juweiList = res.data;
    });
    this.$store.dispatch("lgdistrictTree", { parentDistrictId: Vue.ls.get('parentDistrictId') }).then((res) => {
      this.getTreeData(res.data)
      this.treeData = res.data;
    });
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      getTootipList: (state) => state.lgadmin.getTootipList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.bigBox {
  background: #eaeef4;
  padding-top: 10px;
  box-sizing: border-box;
}
.store-mamage {
  height: 100%;
  width: 100%;
  background: #fff;
}
</style>
